﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models
@{
    Layout = "Master.cshtml";
}
@section style
{
<link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/aboutUsTemplate.css" rel="stylesheet" type="text/css" />
}
    <main role="main" class="aboutUs">
        <!--Banner-->
        <section class="banner  BannerSection mb60">
            <div class="DownArrow">
                <a href="#PanelTwo" class="ClickArrow">
                    <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon"  alt="Breadcrumb Arrow"/>
                </a>
            </div>
            <div class="breadcrumbPanel">
                <ol class="breadcrumb breadcrumbCustom">
                    <li class="breadcrumb-item fontBold"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">@Model.Content.Name</li>
                </ol>
            </div>
            <div class="plr20 fullwidth">
                <div class="SchoolDetailPanel">
                    <div class="BannerStripContext">
                    @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                    {
                        <div class="fontExBold">
                            <h1>
                                @(Model.Content.GetPropertyValue<string>("pageTitle"))
                            </h1>
                        </div>
                    }
                    <div class="StripContent">
                        <p>
                            @if (Model.Content.HasProperty("pageDescription") && Model.Content.HasValue("pageDescription"))
                            {
                                @(Model.Content.GetPropertyValue<string>("pageDescription"))
                            }
                        </p>
                    </div>
                </div>
                </div>
                
                <div class="BannerImg position-relative">
                    @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (mobileBannerPath == null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, imgPath))
                    }
                    else if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <div class="clearfix"></div>
        <div class="section-1" id="PanelTwo">
            <div class="plr100">
                <div id="messageSection" class="f150 fontBold title1">
                    <h2>
                        @if (Model.Content.HasProperty("section2TitleLine1") && Model.Content.HasValue("section2TitleLine1"))
                        {
                            @(Model.Content.GetPropertyValue<string>("section2TitleLine1"))
                        }
                    </h2>
                </div>
                <div class="f60 fontBold title2">
                    <h3>
                        @if (Model.Content.HasProperty("section2TitleLine2") && Model.Content.HasValue("section2TitleLine2"))
                        {
                            @(Model.Content.GetPropertyValue<string>("section2TitleLine2"))
                        }
                    </h3>
                </div>
            </div>
        </div>
        <!-- section4 -->
        <div class="section-4">
            <div class="plr100">
                <div class="inter-intern">
                    <!-- <div class="wrapper-75">
                    <h3 class="fontBlack titleh3">INTERNATIONAL INTERNSHIPS</h3>
                </div> -->
                    <div class="students-slide StyleForSlickArrows">
                        <!-- slides bind here -->
                        @if (Model.Content.HasProperty("section2ContentPicker") && Model.Content.HasValue("section2ContentPicker"))
                        {
                            var leaderMessageItems = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("section2ContentPicker");
                            if (leaderMessageItems.Count() > 0)
                            {
                                foreach (var links in leaderMessageItems)
                                {
                                    var image = AST.S3.Helper.MediaHelper.ParseMedia(links.GetPropertyValue<string>("showcaseImage"), Umbraco);
                                    if (image != null)
                                    {
                                        <div class="student">
                                            <!--  loop -->
                                            <div class="profile-wrapper d-flex">
                                                <div class="photo">
                                                    <img src="@image.Url" alt="s1" class="img-fluid" />
                                                </div>
                                                <div class="profile">
                                                    <h2 class="fontBlack">@(links.GetPropertyValue<string>("personName"))</h2>
                                                    <h3 class="fontBold">@(links.GetPropertyValue<string>("designation"))</h3>
                                                </div>
                                            </div>
                                            <div class="details">
                                                <div class="says">
                                                    <p>
                                                        @(links.GetPropertyValue<string>("shortDescription"))
                                                    </p>
                                                </div>
                                                @if (links.HasValue("mFLKnowMoreLink"))
                                                {
                                                    var link = links.GetPropertyValue<RelatedLinks>("mFLKnowMoreLink").FirstOrDefault();
                                                    if (links != null)
                                                    {
                                                        <a target="@(link.NewWindow?"_blank":"_self")" href="@(link.Link)" class="color-blue">@link.Caption</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@(links.Url)" class="color-blue">READ MORE</a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- section5 -->
        <div id="leadershipSection" class="section-5">
            <div class="plr100">
                <div class="student-affairs">
                    <div class="header-top ">
                        <div class="title">
                            @if (Model.Content.HasProperty("section3Title") && Model.Content.HasValue("section3Title"))
                            {
                                <div class="Orange-Strip align-items-end justify-content-center ">

                                    <h2 class="fontBlack title titleh3">

                                        @(Model.Content.GetPropertyValue<string>("section3Title"))

                                    </h2>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper-75">
                <div class="link-toggle">
                    <a href="javascript:void(0);" class="color-blue" id="student-affairs-AccordionPanel-toggler">
                        Expand
                        all
                    </a>
                </div>
                <div class="accord-wrapper ">
                    <!--Accordion Panel-->
                    <div id="student-affairs-AccordionPanel" class="AccordionStyle colorLightWhite">
                        @{
                            if (Model.Content.HasProperty("content") && Model.Content.HasValue("content"))
                            {
                                var accordionContent = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("content");
                                int index = 0;
                                foreach (var accordionContentItem in accordionContent)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#student-affairs-AccordionPanel@(index)"
                                                   aria-expanded="false" aria-controls="PanelOne">
                                                    @(accordionContentItem.GetPropertyValue<string>("boardTitle"))
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="student-affairs-AccordionPanel@(index)" class="collapse" data-parent="#student-affairs-AccordionPanel"
                                             aria-labelledby="heading-3">
                                            <div class="card-body cardContext">
                                                @*<p class="fontMedium">
                                                    @(accordionContentItem.GetPropertyValue<HtmlString>("accordionContent"))
                                                </p>*@

                                                <div class="row">
                                                    @*<div class="col-md-12">
                                                        @if (accordionContentItem.HasValue("listName"))
                                                        {
                                                            <div class="title">
                                                                <h3>Board Of Governers</h3>
                                                            </div>
                                                        }

                                                    </div>*@
                                                    @if (accordionContentItem.HasValue("list"))
                                                    {
                                                        var persons = accordionContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>("list");
                                                        foreach (var person in persons)
                                                        {
                                                            <div class="col-md-4">
                                                                <div class="position">
                                                                    <p>@Html.Raw(person.GetPropertyValue("designation"))</p>
                                                                </div>
                                                                <div class="person">
                                                                    <p>@Html.Raw(person.GetPropertyValue("personName"))</p>
                                                                </div>
                                                                <div class="designation">
                                                                    <p>@Html.Raw(person.GetPropertyValue("position"))</p>
                                                                </div>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    index++;
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("Floating")
    </main>
@section scripts{
    <script type="text/javascript" src="/scripts/upes2.js"></script>
}
