﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.AlumniConnect>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models
@{
	Layout = "Master.cshtml";
    var schoolItem = Model.Content.AncestorOrSelf();
}
@section style {    
 <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />    
 <link href="/css/industry.min.css" rel="stylesheet" type="text/css" />  
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" type="text/css" />  
}
<main role="main" class=" industry">
    <!--Banner Block-->
    <style>.industry .Orange-Strip::before {
    background: #ffca08;
    width: 0;
    content: '';
    height: 100%;
    top: 0;
    position: absolute;
}
.SchoolDetailPanel .StoryTitleStrip{
        width: 45vw;
}
.SchoolDetailPanel.GenerTemplate .StoryTitleStrip{
    display: table-cell;
    vertical-align: middle;
}

p{font-weight: 500;
    font-size: 1vw;
    line-height: 28px;}

.plr100.padd_btm {
    padding-top: 70px;
    padding-bottom: 70px;
}
.alumni_connect ul {
    padding: 0px 30px 0;
}
.alumni_connect ul li {
    padding-bottom: 10px;
    font-size: 1vw;
    font-weight: 500;
}
.alumni_connect p {
    padding-bottom: 15px;
}

.alumni_connect h4 {
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
}
 
 
  @@media only screen and (min-width:0px) and (max-width:767px){
       .industry .breadcrumbPanel {display:none;}
	  
	  
	   .industry .BannerStripContext .fontExBold {
    font-size: 7vw !important;
    width: 100vw !important;
    line-height: 1 !important;
    position: relative!important;
    top: 25px !important;
}

 
.BannerSection .BannerStripContext {
    overflow: hidden;
    width: 100%;
    top: 70%;
    padding: 15px;
    height: auto;
    right: 0;
}
.industry .BannerSection .BannerStripContext .fontExBold {
    display: block;
}

	  
.bg-white.GenerTemplate.padd_btm p, .bg-white.GenerTemplate.padd_btm h3 {
    text-align: center;
}

.applicants .crseTitle {
    padding: 0 0 40px 15px;}
	
	.HomeCoursePanel .plr100 {
    padding: 60px 0!important;
}

.bg-white.GenerTemplate.SchoolDetailPanel.alumni_connect p {
    font-size: 14px;
    text-align: center;
}
.alumni_connect ul li {font-size:14px;}
.alumni_connect h4 {    text-align: center;     line-height: 1.9;}
.SchoolDetailPanel .StoryTitleStrip {
    width: 100%; padding: 20px
}


    }


</style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        <!-- var result = upes_website.Core.ExamineExtensions.ExamineAlias("home");
        IPublishedContent homeContent = Umbraco.TypedContent("1152"); -->

        @Html.Partial("BreadCrumb")

        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                 @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
   
   
   
    <div class="bg-white GenerTemplate SchoolDetailPanel alumni_connect">
        <div class="plr100 padd_btm">
           <!--  <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
              <h2 class="fontBlack">
@Umbraco.Field("overviewTitle", recursive: true)
</h2>
</div> -->
@Umbraco.Field("overview", recursive: true)
        </div>

    </div>
  @if (schoolItem.HasValue("aTTitleLine1") && schoolItem.HasValue("aTTitleLine2") && schoolItem.HasValue("alumniTestimonialsPicker"))
        {
    <div class="SchoolDetailPanel">
            <div class="ParentStoriesPanel Studentstories TestimonialPanel">
                <div class="plr100">
                    <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
                        @{
                            if (schoolItem.HasProperty("aTTitleLine1") && schoolItem.HasValue("aTTitleLine1"))
                            {
                                <p class="fontBlack">@(schoolItem.GetPropertyValue<string>("aTTitleLine1"))</p>
                            }
                            if (schoolItem.HasProperty("aTTitleLine2") && schoolItem.HasValue("aTTitleLine2"))
                            {
                                <h2 class="fontBlack">@(schoolItem.GetPropertyValue<string>("aTTitleLine2"))</h2>
                            }
                        }
                    </div>
                    @if (schoolItem.HasProperty("knowMoreLink") && schoolItem.HasValue("knowMoreLink"))
                    {
                        <div class="link_list text-right noPadding">
                            <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                                @(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Caption)
                            </a>
                        </div>
                    }
                    <div class="CarouselforSlick StoryStyle StyleForSlickArrows storiesPannInn mlr">
                        @{
                            var studentStoriesItems = schoolItem.GetPropertyValue<IEnumerable<IPublishedContent>>("alumniTestimonialsPicker");
                            foreach (var storiesItem in studentStoriesItems)
                            {
                                @Html.Partial("_stories", storiesItem)
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        }


    </div>
    <div class="clearfix"></div>
</main>