﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/applicants.css" rel="stylesheet" type="text/css" />
}
@* the fun starts here *@
<main role="main" class="applicants">
    <!--Banner-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <div class="StripContent">
                    <p>
                        <!--bind here-->
                        @if (Model.Content.HasProperty("bannerDescription") && Model.Content.HasValue("bannerDescription"))
                        {
                            @Html.Raw(Model.Content.GetPropertyValue("bannerDescription"))
                        }
                    </p>
                </div>
            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasValue("heroBanner") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (mobileBannerPath == null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, imgPath))
                    }
                    else if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Courses Panel-->
    <section id="PanelTwo" class="HomeCoursePanel HomeCourseBg position-relative">
        <div id="coursesAspiring" class="plr100">
            @Html.Partial("_courses")
        </div>
        @*@Html.Partial("Courses_button")*@
        @*<div class="applyCourses">
                <div class="plr100 fullwidth">
                    <div class="d-flex justify-content-end">
                        <div class="Visit_list  CourseFind fontBold text-uppercase">
                            <a href="javascript:void(0);" class=" br30 fontBold btn btn-primary BtnStyle BtnBlue">
                                Find
                                the right courses for you
                            </a>
                        </div>
                        <div class="ApplyNow CourseFind fontBold text-uppercase">
                            <a href="javascript:void(0);" class="br30 fontBold btn btn-primary BtnStyle BtnRed">
                                Apply
                                Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="plr100">
            <div class="ParentStoriesPanel Studentstories ">
                <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-center">
                    @if (Model.Content.HasProperty("studentStoriesTitle") && Model.Content.HasValue("studentStoriesTitle"))
                    {
                        <p class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue<string>("studentStoriesTitle"))</p>
                        <h2 class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue<string>("studentStoriesTitlePart2"))</h2>
                    }

                </div>
                @if (Model.Content.HasProperty("sSKnowMoreLink") && Model.Content.HasValue("sSKnowMoreLink"))
                {
                    <div class="link_list text-right noPadding">
                        <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                            @(Model.Content.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().Caption)
                        </a>
                    </div>
                }

                <div class="StoryStyle CarouselforSlick storiesPannInn mlr StyleForSlickArrows">
                    @if (Model.Content.HasProperty("studentStories") && Model.Content.HasValue("studentStories"))
                    {
                        var stories = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("studentStories");
                        foreach (var story in stories)
                        {
                            @Html.Partial("_stories", story)
                        }
                    }
                </div>
            </div>
        </div>
    </section>

    <!--Events-->
    <section id="eventsSection" class="EventPanel">
        <div class="plr100">
            @{
                var eventsItemIndex = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("eventPicker");
                if (eventsItemIndex.Count() > 0)
                {
                    //var moreLinkIndex = eventsItem.GetPropertyValue<IEnumerable<IPublishedContent>>("moreLink");
                    //var moreLink = "";
                    //foreach (var links in moreLinkIndex)
                    //{
                    //    moreLink = @links.Url;
                    //}
                    <div class="Event_Inner position-relative">
                        @if (Model.Content.HasProperty("eventTitle") && Model.Content.HasValue("eventTitle"))
                        {
                            <h2 class="fontBlack text-uppercase titleh3">@Html.Raw(Model.Content.GetPropertyValue("eventTitle"))</h2>
                        }

                        <div class="link_list text-right">
                            @if (Model.Content.HasProperty("moreEventLink") && Model.Content.HasValue("moreEventLink"))
                            {
                                <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("moreEventLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("moreEventLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(Model.Content.GetPropertyValue<RelatedLinks>("moreEventLink").FirstOrDefault().Caption)</a>
                            }
                        </div>
                        <div class="CarouselforSlick StyleForSlickArrows EventCarousel mlr">
                            @foreach (var links in eventsItemIndex)
                            {
                                var saimg = links.GetPropertyValue<IPublishedContent>("showcaseImage");
                                //var saimgId = Umbraco.TypedMedia(saimg.Id);
                                <div class="EventPanelStyle EventPanelOne  plr7">
                                    @if (saimg != null)
                                    {
                                        <img src="@saimg.GetCropUrl("Events")" alt="img-fluid" class="img-fluid" />
                                    }
                                    <div class="eventContext ">
                                        <div class="EventContStyle ">
                                            <h4 class="fontBold">@(links.GetPropertyValue<string>("showcaseTitle"))</h4>
                                            @if (links.HasProperty("registerNowLink") && links.HasValue("registerNowLink"))
                                            {
                                                <a target="@(links.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(links.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(links.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().Caption)</a>
                                            }
                                            @if (links.HasProperty("shortDescription") && links.HasValue("shortDescription"))
                                            {
                                                <div class="EventPara">
                                                    <p class="fontMedium para_three">
                                                        @Html.Raw(links.GetPropertyValue("shortDescription"))
                                                    </p>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <div class="plr100 fullwidth">
            @Html.Partial("_Industry")
        </div>
    </section>
    <!-- section2 -->
    <div class="section-2">
        <div class="plr100">
            <div id="admissionSection" class="title1 fontBlack">
                @if (Model.Content.HasProperty("biggerTitle") && Model.Content.HasValue("biggerTitle"))
                {
                    <p>@Html.Raw(Model.Content.GetPropertyValue("biggerTitle"))</p>
                }

            </div>
        </div>
        <div class="wrapper-75">
            <div class="title2 fontBlack">
                @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
                {
                    <h2>@Html.Raw(Model.Content.GetPropertyValue("sectionTitle"))</h2>
                }

            </div>
            <div class="title3 fontBold">
                @if (Model.Content.HasProperty("sectionDescriptionAdmissions") && Model.Content.HasValue("sectionDescriptionAdmissions"))
                {
                    <p>@Html.Raw(Model.Content.GetPropertyValue("sectionDescriptionAdmissions"))</p>
                }

            </div>
            <div class="admission-table">
                <div class="row m-0">
                    @if (Model.Content.HasProperty("tableValues") && Model.Content.HasValue("tableValues"))
                    {
                        var tables = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("tableValues");
                        foreach (var table in tables)
                        {

                        }
                    }
                    <div class="col-5">
                        <div class="header">
                            <h2> Course & Entrance Test</h2>
                        </div>
                        @if (Model.Content.HasProperty("tableValues") && Model.Content.HasValue("tableValues"))
                        {
                            var tables = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("tableValues");
                            foreach (var table in tables)
                            {
                                <div class="value">
                                    @if (table.HasValue("courseName"))
                                    {
                                        <p>@Html.Raw(table.GetPropertyValue("courseName"))</p>
                                    }

                                </div>
                            }
                        }
                    </div>
                    <div class="col-3">
                        <div class="header">
                            <h2> Last Date to Apply</h2>
                        </div>
                        @if (Model.Content.HasProperty("tableValues") && Model.Content.HasValue("tableValues"))
                        {
                            var tables = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("tableValues");
                            foreach (var table in tables)
                            {
                                <div class="value">
                                    @if (table.HasValue("lastDateToApply"))
                                    {
                                        <p>@Html.Raw(table.GetPropertyValue<DateTime>("lastDateToApply").Date.ToString("d MMM") + " '" + table.GetPropertyValue<DateTime>("lastDateToApply").Date.ToString("yy"))</p>
                                    }
                                </div>
                            }
                        }
                    </div>
                    <div class="col-4">
                        <div class="header">
                            <h2> Date of Examination</h2>
                        </div>
                        @if (Model.Content.HasProperty("tableValues") && Model.Content.HasValue("tableValues"))
                        {
                            var tables = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("tableValues");
                            foreach (var table in tables)
                            {
                                <div class="value">
                                    @if (table.HasValue("startDateOfExamination") && table.HasValue("endDateOfExamination"))
                                    {
                                        <p>@Html.Raw(table.GetPropertyValue<DateTime>("startDateOfExamination").Date.ToString("d MMM") + " '" + table.GetPropertyValue<DateTime>("startDateOfExamination").Date.ToString("yy") + " - " + table.GetPropertyValue<DateTime>("endDateOfExamination").Date.ToString("d MMM") + " '" + table.GetPropertyValue<DateTime>("endDateOfExamination").Date.ToString("yy"))</p>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class=" fullwidth">
                <div class="d-flex ">
                    <div class="Visit_list  CourseFind fontBold">
                        @if (Model.Content.HasProperty("trackMyApplicationLink") && Model.Content.HasValue("trackMyApplicationLink"))
                        {
                            @*<a data-toggle="modal" data-target="#modalRequestCallBack" class="yellow-bg br30 fontBold btn btn-primary BtnStyle ">
                                    @(Model.Content.GetPropertyValue<RelatedLinks>("trackMyApplicationLink").FirstOrDefault().Caption)
                                </a>*@
                            <a onclick="openChat();" class="yellow-bg br30 fontBold btn btn-primary BtnStyle ">
                                @(Model.Content.GetPropertyValue<RelatedLinks>("trackMyApplicationLink").FirstOrDefault().Caption)
                            </a>
                        }

                    </div>
                    <div class="ApplyNow CourseFind fontBold">
                        @if (Model.Content.HasProperty("applyLink") && Model.Content.HasValue("applyLink"))
                        {
                            <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("applyLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("applyLink").FirstOrDefault().Link)" class="br30 fontBold btn btn-primary BtnStyle blue-bg">
                                @(Model.Content.GetPropertyValue<RelatedLinks>("applyLink").FirstOrDefault().Caption)
                            </a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section3 -->
    <div id="financialSection" class="section-3">
        <div class="plr100vw">
            <div class="student-affairs">
                <div class="header-top">
                    <div class="title">
                        <div class="Orange-Strip d-flex align-items-end ">
                            @{
                                //var result = upes_website.Core.ExamineExtensions.ExamineAlias("financialAssistance");
                                IPublishedContent coursesContent = Umbraco.TypedContent("2170");
                            }
                            @if (coursesContent.HasProperty("sectionTitle") && coursesContent.HasValue("sectionTitle"))
                            {
                                <h2 class="fontBlack title titleh3">@Html.Raw(coursesContent.GetPropertyValue("sectionTitle")) </h2>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-75">
            <div class="row">
                <div class="col-md-4">
                    <div class="title fontBlack">
                        <h3>Fill this to get help</h3>
                    </div>
                    <div class="help">
                        @{
                            Html.RenderAction("Index", "FinancialAssitanceCont");
                        }
                        @*@Html.Action("Index", "FinancialAssitanceCont")*@
                    </div>
                </div>
                <div class="col-md-8 applicantsForm">

                </div>
            </div>
        </div>
    </div>
    @if (Model.Content.HasProperty("admissionTitle") && Model.Content.HasValue("admissionTitle"))
    {
        <!-- section4 -->
        <div id="internationalSection" class="section-4">
            <div class="wrapper-75">
                <div class="header-top d-flex">
                    <div class="title">
                        <!-- <div class="Orange-Strip d-flex align-items-end justify-content-center "> -->
                        <h2 class="title titleh3">@Html.Raw(Model.Content.GetPropertyValue("admissionTitle"))</h2>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="accord-wrapper ">
                    <div class="link-toggle">
                        @if (Model.Content.HasProperty("admissionExpandAllLink") && Model.Content.HasValue("admissionExpandAllLink"))
                        {
                            <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("admissionExpandAllLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("admissionExpandAllLink").FirstOrDefault().Link)" class="color-blue" id="INTERNATIONAL-ADMISSIONS-AccordionPanel-toggler">
                                @(Model.Content.GetPropertyValue<RelatedLinks>("admissionExpandAllLink").FirstOrDefault().Caption)
                            </a>
                        }
                    </div>
                    <!--Accordion Panel-->
                    <div id="INTERNATIONAL-ADMISSIONS-AccordionPanel" class="AccordionStyle ">
                        @if (Model.Content.HasProperty("admissionTitle") && Model.Content.HasValue("admissionTitle"))
                        {
                            var accordions = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("admissionTitle");
                        }
                        @if (Model.Content.HasProperty("accordions") && Model.Content.HasValue("accordions"))
                        {
                            int i = 0, j = 0;
                            var accordions = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("accordions");
                            foreach (var accordion in accordions)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#INTERNATIONAL-ADMISSIONS-AccordionPanel@(i=i+1)"
                                               aria-expanded="false" aria-controls="PanelOne">
                                                @if (accordion.HasValue("accordionTitle"))
                                                {
                                                    @Html.Raw(accordion.GetPropertyValue("accordionTitle"))
                                                }
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="INTERNATIONAL-ADMISSIONS-AccordionPanel@(j=j+1)" class="collapse" data-parent="#INTERNATIONAL-ADMISSIONS-AccordionPanel"
                                         aria-labelledby="heading-3">
                                        <div class="card-body cardContext">
                                            <p class="fontMedium">
                                                @if (accordion.HasValue("accordionContent"))
                                                {
                                                    @Html.Raw(umbraco.library.RemoveFirstParagraphTag(accordion.GetPropertyValue<string>("accordionContent")))
                                                }

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                @if (Model.Content.HasProperty("contactusTitle") && Model.Content.HasValue("contactusTitle"))
                {
                    <div class="contact">
                        <div class="header">

                            <h2>@Html.Raw(Model.Content.GetPropertyValue("contactusTitle"))</h2>

                        </div>
                        <div class="details">
                            @if (Model.Content.HasProperty("emailID") && Model.Content.HasValue("emailID"))
                            {
                                <p>Email : <a class="email" href="mailto:@(Model.Content.GetPropertyValue<string>("emailID"))"> @(Model.Content.GetPropertyValue<string>("emailID"))</a></p>
                            }
                            @if (Model.Content.HasProperty("phoneNo") && Model.Content.HasValue("phoneNo"))
                            {
                                <p>Phone : <a href="tel:@(Model.Content.GetPropertyValue<string>("phoneNo"))"> @(Model.Content.GetPropertyValue<string>("phoneNo"))</a></p>
                            }

                        </div>
                    </div>
                }
            </div>
        </div>
    }
    <!-- section5 -->
    <div id="helpSection" class="section-5">
        <div class="plr100vw">
            <div class="student-affairs">
                <div class="header-top ">
                    <div class="title">
                        <div class="Orange-Strip d-flex align-items-end ">
                            @if (Model.Content.HasProperty("topicsTitle") && Model.Content.HasValue("topicsTitle"))
                            {
                                <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("topicsTitle")) </h2>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-75">
            <div class="link-toggle">
                @if (Model.Content.HasProperty("expandAllLink") && Model.Content.HasValue("expandAllLink"))
                {
                    <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("expandAllLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("expandAllLink").FirstOrDefault().Link)" class="color-blue" id="HELP-TOPICS-AccordionPanel-toggler">
                        @(Model.Content.GetPropertyValue<RelatedLinks>("expandAllLink").FirstOrDefault().Caption)
                    </a>
                }

            </div>
            <div class="accord-wrapper">
                <!--Accordion Panel-->
                <div id="HELP-TOPICS-AccordionPanel" class="AccordionStyle ">
                    @if (Model.Content.HasProperty("topics") && Model.Content.HasValue("topics"))
                    {
                        int i = 0, j = 0;
                        var topics = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("topics");
                        foreach (var topic in topics)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="CardHeaderPanel">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-target="#HELP-TOPICS-AccordionPanel@(i=i+1)"
                                           href="javascript:void(0);"
                                           aria-expanded="false" aria-controls="PanelOne">
                                            @if (topic.HasValue("accordionTitle"))
                                            {
                                                @Html.Raw(topic.GetPropertyValue("accordionTitle"))
                                            }
                                        </a>
                                    </h5>
                                </div>
                                <div id="HELP-TOPICS-AccordionPanel@(j=j+1)" class="collapse" data-parent="#HELP-TOPICS-AccordionPanel"
                                     aria-labelledby="heading-3">
                                    <div class="card-body cardContext">
                                        <p class="fontMedium">
                                            @if (topic.HasValue("accordionContent"))
                                            {
                                                @Html.Raw(topic.GetPropertyValue("accordionContent"))
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</main>
@Html.Partial("Floating")

@section scripts{
    <script type="text/javascript" src="/scripts/upes2.js"></script>
}
<script>
    $("#financial").submit(function (event) {
        var $form = $(this);
        event.preventDefault();
        var id = $("#courses").val();
        var domicile = $("#choose").val();
        $('#applicants-submit').prop('disabled', true);

            if ($form.data('submitted') === true) {
                // Previously submitted - don't submit again
            } else {
                $.ajax({
                    url: '@Url.Action("HandleSubmit", "FinancialAssitanceCont")?id=' + id,
                    type: 'POST',
                    cache: false,
                    data: $form.serialize(),
                    success: function (result) {
                        console.log("Success");
                        $(".applicantsForm").html(result);
                    },
                    error: function (qXHR, status, err) {
                        $form.data('submitted', false);
                    },
                    complete: function (jqXHR, status) {
                        if (status === "success") {
                            console.log("completed: " + status);
                        } else {
                            console.log("Error");
                        }
                        $('#applicants-submit').prop('disabled', false);
                    }

                });
            }
        });
    function showmore(actionUrl) {
        //$('#tl-load-more').remove();
        $.ajax({
            url: actionUrl,
            type: "GET",
            cache: false,
            async: true,
            success: function (data) {
                //$(".viewAll").append(data);//.innerHtml += data;
                $(".applicantsForm").append(data);
                console.log("Success");
            }
        });
    }
</script>
