﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/GeneralTemplate.css" rel="stylesheet" type="text/css" />
    <link href="/css/generalcontentgrid.css" rel="stylesheet" type="text/css" />
}
<main role="main" class="GenerTemplate GenerTemplateNew">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.Parent.Name == "School")
                {
                    <span class="fontExBold sodText">@Model.Content.Name</span>
                }
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                {
                    var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>
                        ("heroBanner"), Umbraco);
                    //var imgPat = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                    if (imgPath != null)
                    {
                        <picture>
                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue(" altTag") ? imgPath.GetPropertyValue("altTag") : "" )" />
                        </picture>
                        /**/

                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--Inner-->

    <section class="PanelInner studenAchievPanel_PaddingSpacing" id="PanelTwo">
        <div class="plr100">
            <div class="row panelRow">
                @*@if (Model.Content.HasProperty("image") && Model.Content.HasValue("image"))
                    {
                        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>
                            ("image"), Umbraco);
                        //var imgPat = Model.Content.GetPropertyValue<IPublishedContent>("showcaseImage");
                        if (imgPath != null)
                        {
                            <div class="col-sm-6 panelLeft">
                                <picture>
                                    <img src="@imgPath.Url" alt="@(imgPath.HasValue(" altTag")?imgPath.GetPropertyValue
                                    <string>("altTag"):"")" class="img-fluid" />
                                </picture>
                            </div>
                        }
                    }*@
                @if (Model.Content.HasValue("detailContent"))
                {
                    <div class="col-sm-6 PanelContext">
                        @if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                        {
                            <h2 class="fontExBold panelTitle">
                                @Html.Raw(Model.Content.GetPropertyValue("showcaseTitle"))
                            </h2>
                        }
                        @if (Model.Content.HasProperty("publishedDate") && Model.Content.HasValue("publishedDate"))
                        {
                            <h3>
                                @(Model.Content.GetPropertyValue<DateTime>("publishedDate").Date.ToString("dd-MMM-yyyy"))
                            </h3>
                        }

                        @if (Model.Content.HasProperty("detailContent") && Model.Content.HasValue("detailContent"))
                        {
                            @Html.Raw(Model.Content.GetPropertyValue("detailContent"))
                        }
                    </div>
                }
                else
                {
                    if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                    {
                        <h2 class="fontExBold panelTitle">
                            @Html.Raw(Model.Content.GetPropertyValue("showcaseTitle"))
                        </h2>
                    }
                }
                @*@Html.Raw(Model.Content.GetPropertyValue("fullPageContents"))*@
                <div class="row">
                    <div class="col-md-4 column ">
                        <div>
                            @if (Model.Content.HasValue("image"))
                            {
                                var imgPath = Model.Content.GetPropertyValue<IPublishedContent>
                                    ("image");
                                if (imgPath != null)
                                {
                                    <img class="img-fluid" src="@imgPath.GetCropUrl("advisoryCrop")" alt="@Model.Content.Name">
                                }
                            }
                        </div>
                    </div>            <div class="col-md-8 column ">
                        <div>
                            <h2><strong>@Html.Raw(Model.Content.GetPropertyValue("bsmName"))</strong></h2>
                            <h3><em>@Html.Raw(Model.Content.GetPropertyValue("designation"))</em></h3>
                            @Html.Raw(Model.Content.GetPropertyValue("fullPageContent"))


                        </div>
                    </div>
                </div>

                @{
                    if (Request.Url.ToString().Contains("/careers/"))
                    {
                        if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                        {
                            <div class="row no-gutters justify-content-center">
                                <a href="/apply-online?job=@(Server.UrlEncode(Model.Content.GetPropertyValue(" showcaseTitle").ToString()))" target="_blank" class="br30 fontBold btn btn-primary BtnStyle center LoadMore">Apply Now</a>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </section>
    <!--section-faculty-->
    @{
        var parentConten = Model.Content.Parent;
    }
    @if (Session["schoolId"] != null)
    {
        var school = Umbraco.TypedContent(Session["schoolId"]);
        if (school.HasValue("boardMember"))
        {
            var parentContent = school.GetPropertyValue<IEnumerable<IPublishedContent>>("boardMember").RandomOrder();
            int i = 0;
            <section class="other-bg">
                <div class="plr100">
                    <div class="other-head">
                        <h2>@Html.Raw(parentConten.GetPropertyValue("title"))</h2>
                    </div>
                    <div class="row">
                        @if (parentConten != null)
                                    {
                                        foreach (var chil in parentConten.Children)
                                        {
                                            if (chil.GetPropertyValue<string>("bsmName") != Model.Content.GetPropertyValue<string>("bsmName"))
                                            {
                                                if (i == 3)
                                                {
                                                    break;
                                                }
                                                else
                                                {
                                                    if (chil != Model.Content)
                                                    {
                                                        if (chil.HasValue("school"))
                                                        {
                                                            var schoolName = chil.GetPropertyValue<IEnumerable<IPublishedContent>>("school");
                                                            var currentName = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("school");
                                                            if (schoolName.First().Name == currentName.First().Name)
                                                            {
                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                                        <div class="depart-box">
                                                            @if (chil.HasValue("image"))
                                                            {
                                                                var imgPath = chil.GetPropertyValue<IPublishedContent>("image");
                                                                if (imgPath != null)
                                                                {
                                                                    <img src="@imgPath.GetCropUrl("advisoryCrop")" alt="@chil.Name" />
                                                                }
                        }
                                                            <div>
                                                                <h2><a href="@chil.Url">@Html.Raw(chil.GetPropertyValue("bsmName"))</a></h2>
                                                                <p>@Html.Raw(chil.GetPropertyValue("designation"))</p>
                                                            </div>
                                                        </div>
                                                    </div><!--col-lg-4-->
                                                    }
                                               
                                            }

                                            i++;
                                        }
                                    }



                                }
                            }
                        }

                    </div>
                    @if (school.HasValue("boardCTA"))
                    {
                        var link = school.GetPropertyValue<RelatedLinks>("boardCTA").First();
                        if (link != null)
                        {
                            <div class="back-fac">
                                <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a>
                            </div>
                        }
                    }

                </div>
            </section>
        }
    }
    <div class="clearfix"></div>
</main>
@Html.Partial("Floating")
