﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models;
@using upes_website.Core
@{
    Layout = "Master.cshtml";

    var homePage = Model.Content.AncestorOrSelf(1);

    var parentPage = Model.Content.AncestorOrSelf();

    var campusItems = parentPage.Descendants("campus");

    var studentAchievementsItems = parentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("studentAchievements");

    var studentLivingItems = parentPage.GetPropertyValue<IEnumerable<IPublishedContent>>("studentLiving");

    var industryUPESItems = homePage.Descendants("industryUPES");
    var companyItems = homePage.Descendants("recruitmentCompanyMaster");
    var studentStoriesHeadItems = homePage.Descendants("studentStories");
    var result = homePage.Descendants("studentStories");
    IPublishedContent studentStores = result.Any() ? result.First() : null;
    var studentStoriesItems = homePage.Descendants("studentStoriesItem");
    var eventsItems = homePage.Descendants("events");

    var parentStoriesItems = homePage.Descendants("parentStories");
    var healthSafetyItems = parentPage.Descendants("healthSafety");
    var facultyItem = parentPage.Descendants("faculty");
    var schoolMasterItem = homePage.Descendants("schoolMaster");
    var schoolItems = homePage.Descendants("school");
}
<style>
    .achievpanel-slider .plr7
    {
        max-width:100%;
    }
    .achievpanel-slider .plr7 {
        max-width: 100%;
        margin-bottom: 15px;
    }
    .ParentPanel .StyleForSlickArrows.achievpanel-slider .slick-prev {
        left: 45%;
        top:auto;
    }
    .ParentPanel .StyleForSlickArrows.achievpanel-slider .slick-next {
        right: 48%;
        top:auto;
    }
    @@media (max-width: 767px)
    {
        .ParentPanel .EventCarousel.StyleForSlickArrows .slick-prev, .ParentPanel .EventCarousel.StyleForSlickArrows .slick-next {
            bottom: 10px;
            top: auto;
            left: 15px;
        }
        .ParentPanel .EventCarousel.StyleForSlickArrows .slick-next {
            right: auto;
            left: 5%;
            bottom: 50px;
        }
        .ParentPanel .studenAchievPanel .StyleForSlickArrows .slick-prev, .ParentPanel .studenAchievPanel .StyleForSlickArrows .slick-next {
             display: block !important; 
        }
    }       
</style>
<main role="main" class="ParentPanel">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <h1 class="fontExBold">
                    @(parentPage.GetPropertyValue<string>("bannerText"))
                </h1>
            </div>
            <div class="BannerImg">
                @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (mobileBannerPath == null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, imgPath))
                    }
                    else if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
            <div class="WatchPanel d-flex">
                @if (parentPage.HasProperty("watchVideoLink") && parentPage.HasValue("watchVideoLink"))
                {
                    var link = parentPage.GetPropertyValue<RelatedLinks>("watchVideoLink").FirstOrDefault();
                    if (link != null)
                    {
                        <a onclick="doOpenParentVideo('@(link.Link)');" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
                            <span>@link.Caption</span>
                            <picture>
                                <img src="/src/img/home/video-icon.png" class="img-fluid" alt="PlayIcon" />
                            </picture>
                        </a>
                        <!--modal-->
                        <div class="general-popup">
                            <!-- Video modal -->
                            <div data-backdrop="false" data-keyboard="false" class="modal fade bs-video-example-modal-lg" id="divParentVideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="video-wrapper">
                                        <div class="modal-content">
                                            <div class="modal-header no-yellow-strip">
                                                <div class="close-btn-wrapper">
                                                    <button type="button" class="close" onclick="stopVideoParentDetails();" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div class="content" id="yt-player">
                                                    <iframe id="ifrmParentVideo" class="parentPageVideo" width="100%" height="100%"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--CampusBlock-->
    <section class="CampusPanel  position-relative " id="PanelTwo">

        <div class="CampusBg">
            <img src="/src/img/parents/campus-bg.jpg" class="img-fluid" alt="banner" />
        </div>
        <div class="plr100">

            <div class="CampusInner">
                @if (Model.Content.HasValue("campusTitle"))
                {
                    <h2 class="fontBlack text-uppercase GrayTitle">@(Model.Content.GetPropertyValue<string>("campusTitle"))</h2>
                }
                @if (Model.Content.HasValue("campusPicker"))
                {
                    var campusItemss = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("campusPicker");
                    <div class="cmpRow row mlr">
                        @foreach (var links in campusItemss)
                        {
                            var saimg = links.GetPropertyValue<IPublishedContent>("showcaseImage");
                            var saimgId = Umbraco.TypedMedia(saimg.Id);
                            <div class="col-sm-4 cmpinn plr7">
                                <picture>
                                    <img src="@saimg.GetCropUrl("CampusParentDesk")" class="img-fluid" alt="showcase" />
                                    <p class="fontBold">@(links.GetPropertyValue<string>("showcaseTitle"))</p>
                                    @if (links.HasProperty("campusKnowMoreLink") && links.HasValue("campusKnowMoreLink"))
                                    {
                                        <a target="@(links.GetPropertyValue<RelatedLinks>("campusKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(links.GetPropertyValue<RelatedLinks>("campusKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(links.GetPropertyValue<RelatedLinks>("campusKnowMoreLink").FirstOrDefault().Caption)</a>
                                    }
                                </picture>
                            </div>
                        }
                    </div>
                }
            </div>
            @*@if (campusItem.HasProperty("campusLandingKnowMoreLink") && campusItem.HasValue("campusLandingKnowMoreLink"))
                {
                    <div class="link_list text-right noPadding">
                        <a target="@(campusItem.GetPropertyValue<RelatedLinks>("campusLandingKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(campusItem.GetPropertyValue<RelatedLinks>("campusLandingKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(campusItem.GetPropertyValue<RelatedLinks>("campusLandingKnowMoreLink").FirstOrDefault().Caption)</a>
                    </div>
                }*@
        </div>
    </section>
    <!--Student Living-->
    <section id="studentLiving" class="StudentLivingPanel">
        <div class="plr100">
            <div class="st_inn Yellowstripbgfull position-relative  text-uppercase">
                <h2 class="fontBlack">@(parentPage.GetPropertyValue<string>("sLTitle"))</h2>
                <h3 class="fontBold">
                    @(parentPage.GetPropertyValue<string>("sLDescription"))
                </h3>

            </div>
            @if (parentPage.HasProperty("sLKnowMoreLink") && parentPage.HasValue("sLKnowMoreLink"))
            {<div class="link_list text-right noPadding">
                    <a target="@(parentPage.GetPropertyValue<RelatedLinks>("sLKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(parentPage.GetPropertyValue<RelatedLinks>("sLKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(parentPage.GetPropertyValue<RelatedLinks>("sLKnowMoreLink").FirstOrDefault().Caption)</a>
                </div>
            }
            <div class="CarouselforSlick mlr SLCarouselPanel StyleForSlickArrows">
                @{
                    foreach (var livingItems in studentLivingItems)
                    {
                        var lvimg = livingItems.GetPropertyValue<IPublishedContent>("showcaseImage");
                        var lvimgId = Umbraco.TypedMedia(lvimg.Id);
                        <div class="guestPanelStyle guestPanelOne plr7">
                            <img src="@lvimg.GetCropUrl("LivingParentDesk")" alt="@(livingItems.GetPropertyValue<string>("showcaseTitle"))" class="img-fluid" />
                            <div class="SLContext">
                                <div class="SLContextInner">
                                    <p class="fontMedium">
                                        @(livingItems.GetPropertyValue<string>("showcaseTitle"))
                                    </p>
                                    @if (livingItems.HasProperty("sLKnowMoreLink") && livingItems.HasValue("sLKnowMoreLink"))
                                    {
                                        <a target="@(livingItems.GetPropertyValue<RelatedLinks>("sLKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(livingItems.GetPropertyValue<RelatedLinks>("sLKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(livingItems.GetPropertyValue<RelatedLinks>("sLKnowMoreLink").FirstOrDefault().Caption)</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @{
                if (parentPage.GetPropertyValue<string>("sLOutsideLinkText") != "")
                {
                    <div class="link_list">
                        <a target="_blank" href="@(parentPage.GetPropertyValue<string>("sLOutsideLink"))" class="fontBold text-uppercase text-decoration">
                            @(parentPage.GetPropertyValue<string>("sLOutsideLinkText"))
                        </a>
                    </div>
                }
            }
        </div>
    </section>
    <!--Healthy Panel-->
    <section class="HealthyPanel d-flex align-items-end">
        <div class="plr100 fullwidth">
            <div id="healthSection" class="PosiitonHealthyPanel">
                <div class="HealthyTitle">
                    @if (Model.Content.HasValue("healthTitle"))
                    {
                        <h2 class="fontBlack text-uppercase titleh3 mb20">
                            @(Model.Content.GetPropertyValue<string>("healthTitle"))
                        </h2>
                    }
                </div>
                @if (Model.Content.HasValue("healthAndSafety"))
                {
                    var healthAndSafety = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("healthAndSafety");
                    <div class="HealthRow StyleForSlickArrows row mlr TwoBlockCarousel">
                        @foreach (var links in healthAndSafety)
                        {
                            var saimg = links.GetPropertyValue<IPublishedContent>("icon");
                            var saimgId = Umbraco.TypedMedia(saimg.Id);
                            <div class=" healthList plr7">
                                <div class="healthbg d-flex align-items-center">
                                    <div class="healthImg">
                                        <picture>
                                            <img src="@saimgId.Url" class="img-fluid" alt="@(links.GetPropertyValue<string>("title"))" />
                                        </picture>
                                    </div>
                                    <div class="healthContext">
                                        <h4 class="fontBold titleh4">@(links.GetPropertyValue<string>("title"))</h4>
                                        <p class="fontMedium paraSmall">@(links.GetPropertyValue<string>("description"))</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        }
        @*@{
                foreach (var healthSafetyItem in healthSafetyItems)
                {
                    var healthSafetyItemIndex = healthSafetyItem.GetPropertyValue<IEnumerable<IPublishedContent>>("hSPicker");
                    if (healthSafetyItemIndex.Count() > 0)
                    {
                        <div class="plr100 fullwidth">
                            <div id="healthSection" class="PosiitonHealthyPanel">
                                <div class="HealthyTitle">
                                    <h2 class="fontBlack text-uppercase titleh3 mb20">
                                        @(healthSafetyItem.GetPropertyValue<string>("hSTitle"))
                                    </h2>
                                </div>
                                <div class="HealthRow StyleForSlickArrows row mlr TwoBlockCarousel">
                                    @foreach (var links in healthSafetyItemIndex)
                                    {
                                        var saimg = links.GetPropertyValue<IPublishedContent>("icon");
                                        var saimgId = Umbraco.TypedMedia(saimg.Id);
                                        <div class=" healthList plr7">
                                            <div class="healthbg d-flex align-items-center">
                                                <div class="healthImg">
                                                    <picture>
                                                        <img src="@saimgId.Url" class="img-fluid" alt="@(links.GetPropertyValue<string>("title"))" />
                                                    </picture>
                                                </div>
                                                <div class="healthContext">
                                                    <h4 class="fontBold titleh4">@(links.GetPropertyValue<string>("title"))</h4>
                                                    <p class="fontMedium paraSmall">@(links.GetPropertyValue<string>("description"))</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            }*@
    </section>
    @if (Model.Content.HasValue("facilitiesTitle") && Model.Content.HasValue("facilitiesPicker"))
    {
        <section class="studenAchievPanel StudentLogoBanner" id="PanelTwo">
            <div class="plr100">
                <div class="AchieveInner position-relative">
                    <div class="AchieveTitleBlock position-relative viewAll">
                        <h3 class="fontBlack text-uppercase titleh3">
                            @Html.Raw(Model.Content.GetPropertyValue("facilitiesTitle"))
                        </h3>
                        <div class="link_list text-right noPadding" id="divViewAllSection1" style="display:none;">
                            <a id="aViewAllSection1" onclick="doShowSection1('divSection1Container', 'aViewAllSection1');" class="fontBold text-uppercase text-decoration">View all</a>
                        </div>
                    </div>
                    <div class="row EventCarousel mlr achievpanel-slider StyleForSlickArrows" id="divSection1Container">
                        @if (Model.Content.HasValue("facilitiesPicker"))
                        {
                            var facilities = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("facilitiesPicker");
                            if (facilities != null)
                            {
                                foreach (var facilitis in facilities)
                                {
                                    <div>
                                        <div class="col-md-4 col-sm-12 col-12 EventPanelStyle EventPanelOne  plr7" id="divSection1Showcase_1">
                                            @if (facilitis.HasValue("showcaseImage"))
                                            {
                                                var imgPath = facilitis.GetPropertyValue<IPublishedContent>("showcaseImage");
                                                if (imgPath != null)
                                                {
                                                    <img src="@imgPath.GetCropUrl("Facilities")" alt="@(imgPath.HasValue("altTag") ? imgPath.GetPropertyValue<string>("altTag") : "")" class="img-fluid">
                                                }
                                            }
                                            <div class="eventContext">
                                                <div class="EventContStyle  ">
                                                    <h4 class="fontBold ">
                                                        @Html.Raw(facilitis.GetPropertyValue("showcaseTitle"))
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
    }
    @*<!--Student Achievements-->
        <section class="studenAchievPanel StudentLogoBanner">
            <div class="plr100">
                <div class="AchieveInner position-relative">
                    <div id="achievementPanel" class="AchieveTitleBlock position-relative">
                        <p class="fontBold titleMedium text-uppercase">@(parentPage.GetPropertyValue<string>("sATitleLine1"))</p>
                        <h2 class="fontBlack text-uppercase titleh3">
                            @(parentPage.GetPropertyValue<string>("sATitleLine2"))
                        </h2>
                        @if (parentPage.HasProperty("sAKnowMoreLink") && parentPage.HasValue("sAKnowMoreLink"))
                        {
                            <div class="link_list text-right noPadding">
                                <a href="@(parentPage.GetPropertyValue<RelatedLinks>("sAKnowMoreLink").FirstOrDefault().Link)" target="@(parentPage.GetPropertyValue<RelatedLinks>("sAKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                                    @(parentPage.GetPropertyValue<RelatedLinks>("sAKnowMoreLink").FirstOrDefault().Caption)
                                </a>
                            </div>
                        }
                    </div>
                    <div class="CarouselforSlick   StyleForSlickArrows mlr">
                        @{
                            foreach (var saItems in studentAchievementsItems)
                            {
                                @Html.Partial("_achievements", saItems)
                            }
                        }
                    </div>
                    <div class="link_list text-right noPadding ShowOnMobile">
                        <a href="javascript:void(0);" class="fontBold text-uppercase text-decoration">
                            Read all Achievements
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--Student Stories-->
        <section id="storiesSection" class="StudentStoriesPanel StudentstoryBg ">
            <div class="plr100">
                <div class="ParentStoriesPanel Studentstories ">
                    <div class="StoryTitleStrip Yellowstripbgfull text-uppercase d-flex align-items-center">
                        @{
                            <p class="fontBlack">@(studentStores.GetPropertyValue<string>("sSTitleLine1"))</p>
                            <h2 class="fontBlack">@(studentStores.GetPropertyValue<string>("sSTitleLine2"))</h2>
                        }

                    </div>
                    @{
                        if (studentStores.HasProperty("sSKnowMoreLink") && studentStores.HasValue("sSKnowMoreLink"))
                        {
                            var button1Index = studentStores.GetPropertyValue<RelatedLinks>
                                ("sSKnowMoreLink");
                            if (button1Index.Any())
                            {
                                var linkTarget = (button1Index.First().NewWindow) ? "_blank" : null;
                                <div class="link_list text-right noPadding">
                                    <a href="@button1Index.First().Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@button1Index.First().Caption</a>
                                </div>
                            }
                        }
                    }
                    <div class="StoryStyle CarouselforSlick storiesPannInn StyleForSlickArrows ParentStories mlr">
                        @if (studentStores.HasProperty("storiesPicker") && studentStores.HasValue("storiesPicker"))
                        {
                            var stories = studentStores.GetPropertyValue<IEnumerable<IPublishedContent>>("storiesPicker");
                            foreach (var storiesItem in stories)
                            {
                                @Html.Partial("_stories", storiesItem)
                            }
                        }
                    </div>
                </div>
                <!--Courses Made For you-->
                @Html.Partial("_courses")
                @Html.Partial("Courses_button")
            </div>
            <!--ApplyNow-->
            @*<div class="applyCourses">
                    <div class="plr100 fullwidth">
                        <div class="d-flex justify-content-end">
                            <div class="Visit_list  CourseFind fontBold text-uppercase">
                                <a href="javascript:void(0);" class=" br30 fontBold btn btn-primary BtnStyle BtnBlue">Find the right courses for you</a>
                            </div>
                            <div class="ApplyNow CourseFind fontBold text-uppercase">
                                <a href="javascript:void(0);" class="br30 fontBold btn btn-primary BtnStyle BtnRed">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>*@
    @*@</section>
        <!--Faculty Section-->
        <section class="FacultyPanel">
            @{
                foreach (var links in facultyItem)
                {
                    <div class="plr100">
                        <div class="fac_Row row no-gutters">
                            <div class="col-sm-4 fac_List">
                                <div class="Yellowstripbgfull FacultyStrip d-flex align-items-end justify-content-left position-relative">
                                    <h2 class="fontBlack text-uppercase">@(links.GetPropertyValue<string>("sectionTitle"))</h2>
                                </div>
                                <h4 class="fontMedium mt30 titleh4">
                                    @(links.GetPropertyValue<string>("description"))
                                </h4>
                            </div>
                            <div class="col-sm-8 fac_List  d-flex align-items-center justify-content-end">
                                <div class="row col-sm-12 no-gutters fac_InnerRow">
                                    <div class="col-sm-4 fac_Inn">
                                        <p class="text-center">
                                            <span class="fontBlack Numb_list">@(links.GetPropertyValue<string>("section1Prefix"))@(links.GetPropertyValue<string>("section1Suffix"))</span>
                                            <span class="mt15 fontMedium Num_Title d-block noPadding">@(links.GetPropertyValue<string>("section1Description"))</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-4 fac_Inn">
                                        <p class="text-center">
                                            <span class="fontBlack Numb_list">@(links.GetPropertyValue<string>("section2Prefix"))@(links.GetPropertyValue<string>("section2Suffix"))</span>
                                            <span class="mt15 fontMedium Num_Title d-block noPadding">@(links.GetPropertyValue<string>("section2Description"))</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-4 fac_Inn">
                                        <p class="text-center">
                                            <span class="fontBlack Numb_list">
                                                @(links.GetPropertyValue<string>("section3Prefix")) @(links.GetPropertyValue<string>("section3Divider")) @(links.GetPropertyValue<string>("section3Suffix"))
                                            </span>
                                            <span class="mt15 fontMedium Num_Title d-block noPadding">@(links.GetPropertyValue<string>("section3Description"))</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </section>
        <!--Events-->
        <section id="eventsSection" class="EventPanel">
            <div class="plr100">
                @{
                    var eventsItemIndex = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("eventPicker");
                    if (eventsItemIndex.Count() > 0)
                    {
                        //var moreLinkIndex = eventsItem.GetPropertyValue<IEnumerable<IPublishedContent>>("moreLink");
                        //var moreLink = "";
                        //foreach (var links in moreLinkIndex)
                        //{
                        //    moreLink = @links.Url;
                        //}
                        <div class="Event_Inner position-relative">
                            @if (Model.Content.HasProperty("eventTitle") && Model.Content.HasValue("eventTitle"))
                            {
                                <h2 class="fontBlack text-uppercase titleh3">@Html.Raw(Model.Content.GetPropertyValue("eventTitle"))</h2>
                            }

                            <div class="link_list text-right">
                                @if (Model.Content.HasProperty("moreEventLink") && Model.Content.HasValue("moreEventLink"))
                                {
                                    <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("moreEventLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("moreEventLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(Model.Content.GetPropertyValue<RelatedLinks>("moreEventLink").FirstOrDefault().Caption)</a>
                                }
                            </div>
                            <div class="CarouselforSlick StyleForSlickArrows EventCarousel mlr">
                                @foreach (var links in eventsItemIndex)
                                {
                                    var saimg = links.GetPropertyValue<IPublishedContent>("showcaseImage");
                                    //var saimgId = Umbraco.TypedMedia(saimg.Id);
                                    <div class="EventPanelStyle EventPanelOne  plr7">
                                        @if (saimg != null)
                                        {
                                            <img src="@saimg.GetCropUrl("Events")" alt="img-fluid" class="img-fluid" />
                                        }
                                        <div class="eventContext ">
                                            <div class="EventContStyle ">
                                                <h4 class="fontBold">@(links.GetPropertyValue<string>("showcaseTitle"))</h4>
                                                @if (links.HasProperty("registerNowLink") && links.HasValue("registerNowLink"))
                                                {
                                                    <a target="@(links.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(links.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(links.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().Caption)</a>
                                                }
                                                @if (links.HasProperty("shortDescription") && links.HasValue("shortDescription"))
                                                {
                                                    <div class="EventPara">
                                                        <p class="fontMedium para_three">
                                                            @Html.Raw(links.GetPropertyValue("shortDescription"))
                                                        </p>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                <div id="industrySection" class="LogoBanner">
                    @Html.Partial("_Industry")
                </div>
            </div>
        </section>
        <!--Stories Block-->
        <section id="parentSection" class="StoriesPanel banner ParentStoryBg position-relative">
            <div class="plr100">
                <!--Guest Lecture-->
                @{
                    if (Model.Content.HasProperty("guestLectures") && Model.Content.HasValue("guestLectures"))
                    {
                        var industryArticlesItemIndex = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("guestLectures");
                        if (industryArticlesItemIndex.Count() > 0)
                        {
                            <div class="GuestLecturePanel">
                                <div class="CarouselforSlick guestPanelInn mlr StyleForSlickArrows">
                                    @foreach (var links in industryArticlesItemIndex)
                                    {
                                        var saimg = links.GetPropertyValue<IPublishedContent>("showcaseImage");
                                        if (saimg != null)
                                        {
                                            <div class="guestPanelStyle guestPanelOne plr7">
                                                <img src="@saimg.Url" alt="@(links.GetPropertyValue<string>("showcaseTitle"))" class="img-fluid" />
                                                <div class="guestContext">
                                                    <div class="guestBg">
                                                        <div class="GuestcontextInner">
                                                            <p class="fontMedium">@(links.GetPropertyValue<string>("showcaseTitle"))</p>
                                                        </div>
                                                        <a target="@(links.GetPropertyValue<RelatedLinks>("knowmoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(links.GetPropertyValue<RelatedLinks>("knowmoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(links.GetPropertyValue<RelatedLinks>("knowmoreLink").FirstOrDefault().Caption)</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                }
                <!--Stories Panel-->
                <div class="ParentStoriesPanel ParentStoriesBG">
                    @{
                        foreach (var parentStoriesItem in parentStoriesItems)
                        {
                            var parentStoriesItemIndex = parentStoriesItem.GetPropertyValue<IEnumerable<IPublishedContent>>("pSLandingPicker");
                            if (parentStoriesItemIndex.Count() > 0)
                            {
                                <div class="StoryTitleStrip Yellowstripbgfull text-uppercase d-flex align-items-center">
                                    <p class="fontBlack">@(parentStoriesItem.GetPropertyValue<string>("pSTitleLine1"))</p>
                                    <h2 class="fontBlack">@(parentStoriesItem.GetPropertyValue<string>("pSTitleLine2"))</h2>

                                </div>
                                if (parentStoriesItem.HasProperty("pSKnowMoreLink") && parentStoriesItem.HasValue("pSKnowMoreLink"))
                                {
                                    <div class="link_list text-right noPadding">
                                        <a target="@(parentStoriesItem.GetPropertyValue<RelatedLinks>("pSKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(parentStoriesItem.GetPropertyValue<RelatedLinks>("pSKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(parentStoriesItem.GetPropertyValue<RelatedLinks>("pSKnowMoreLink").FirstOrDefault().Caption)</a>
                                    </div>
                                }
                                <div class="CarouselforSlick StoryStyle StyleForSlickArrows ParentStoryPanel storiesPannInn mlr">

                                    @foreach (var links in parentStoriesItemIndex)
                                    {
                                        var saimg = links.GetPropertyValue<IPublishedContent>("parentPhoto");
                                        var saimgId = Umbraco.TypedMedia(saimg.Id);
                                        <div class="storiesPanStyle storiesPanOne plr7">
                                            <img src="@saimgId.GetCropUrl("StoriesCrop")" alt="@(links.GetPropertyValue<string>("parentName"))" class="img-fluid" />
                                            <div class="StoriesContext">
                                                <h2 class="fontBold">
                                                    @(links.GetPropertyValue<string>("parentName"))
                                                </h2>
                                                <h3 class="fontMedium">@(links.GetPropertyValue<string>("relationship"))</h3>
                                                <p>@(links.GetPropertyValue<string>("shortDescription"))</p>
                                                @if (links.HasProperty("pSKnowMoreLink") && links.HasValue("pSKnowMoreLink"))
                                                {
                                                    <a target="@(links.GetPropertyValue<RelatedLinks>("pSKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(links.GetPropertyValue<RelatedLinks>("pSKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(links.GetPropertyValue<RelatedLinks>("pSKnowMoreLink").FirstOrDefault().Caption)</a>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    }
                </div>
            </div>

        </section>*@
</main>
@Html.Partial("Floating")
@section scripts{
    <script type="text/javascript">
        $(".achievpanel-slider").slick({
            dots: true,
            arrows: true,
            autoplay: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            }

            ]
        });
    </script>
}
