﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CareersJobApplication>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@section style{
    <link href="/css/login.css" rel="stylesheet" />
}

<main role="main" class="LoginTemplate">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
            {
                <div class="BannerStripContext">
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                </div>
            }
            <div class="BannerImg position-relative">
                @if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                {
                    var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("heroBanner"), Umbraco);
                    if (imgPath != null)
                    {
                        <picture>
                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag") ? imgPath.GetPropertyValue("altTag") : "")" />
                        </picture>
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Career Form-->
    <section class="CareerPanel">
        <div class="plr100">
            <div class="CareerInner">
                <div class="CareerContext">
                    @if (Model.Content.HasProperty("innerTitle") && Model.Content.HasValue("innerTitle"))
                    {
                        <h2 class=" fontBold careerInnerTitle">@Html.Raw(Model.Content.GetPropertyValue("innerTitle"))</h2>
                    }
                    @if (Model.Content.HasProperty("innerContent") && Model.Content.HasValue("innerContent"))
                    {
                        <p class="fontMedium careerSubTitle">
                            @Html.Raw(Model.Content.GetPropertyValue("innerContent"))
                        </p>
                    }

                </div>
                @if (Model.Content.HasProperty("enableIconsNavigation") && Model.Content.HasValue("enableIconsNavigation"))
                {
                    if (Convert.ToBoolean(Model.Content.GetPropertyValue<Boolean>("enableIconsNavigation")))
                    {
                        <div class="careerFormPanel" id="PanelTwo">
                            <div class="c_Tab">
                                <a id="aFormNavigation_0">
                                    <img src="/src/img/login/personal-0.png" class="img-responsive disableImg" />
                                    <img src="/src/img/login/personal-1.png" class="img-responsive EnableImg" />
                                    <span class="d-block">Personal</span>
                                </a>
                                <a id="aFormNavigation_1">
                                    <img src="/src/img/login/Professional-0.png" class="img-responsive disableImg" />
                                    <img src="/src/img/login/Professional-1.png" class="img-responsive EnableImg" />
                                    <span class="d-block">Professional</span>
                                </a>
                                <a id="aFormNavigation_2">
                                    <img src="/src/img/login/employment-0.png" class="img-responsive disableImg" />
                                    <img src="/src/img/login/employment-1.png" class="img-responsive EnableImg" />
                                    <span class="d-block">Employement</span>
                                </a>
                            </div>
                        </div>
                    }
                }
                @(Model.Content.GetGridHtml(Html, "formContainer", "Custom-Grid"))
            </div>
            <div class="thankyou">
                <div class="FormRow" id="Thankyou" style="display:none">
                    <div class="CareerContext">
                        <h2 class=" fontBold careerInnerTitle">Thanks for submitting your profile.</h2>
                        <p class=" fontMedium careerSubTitle">
                            Your application is now being processed, and if your resume matches the required skill set, you'll hear from us shortly for a
                            brief HR discussion to continue and pursue the possiblity of employment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var curDate = new Date();
            $(".datepickerfield").datepicker({
                dateFormat: "yy-mm-dd",
                maxDate: new Date((curDate.getFullYear() - 18) + '-01-01'),
                minDate: new Date((curDate.getFullYear() - 90) + '-01-01')
            });

            $('.custom-fileInput input[type="file"]').change(function (e) {
                $(this).siblings('input[type="text"]').val(e.target.files[0].name);
            });
            var fileupload = $('.custom-fileInput input[type="file"]');
            $('.browseText').click(function () {
                fileupload.click();
            });
        });
    </script>

    @{
        if (Model.Content.HasProperty("enableIconsNavigation") && Model.Content.HasValue("enableIconsNavigation"))
        {
            if (Convert.ToBoolean(Model.Content.GetPropertyValue<Boolean>("enableIconsNavigation")))
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        var formPosition = $('input[name=FormStep]').val();
                        for (var i = parseInt(formPosition); i >= 0; i--) {
                            $('#aFormNavigation_' + i).addClass('activepanel activeborder');
                        }
                    });
                </script>
            }
        }
    }
}