﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models
@{
    Layout = "Master.cshtml";
}
@section style{
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" />
    <link href="/css/ProgramDetailTemplate.css" rel="stylesheet" />
    <link href="/css/rte.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
}
<main role="main" class="SchoolDetailPanel ProgramDetailPanel">
    <!--Banner-->
    <style>
        .SchoolDetailPanel .Yellowstripbgfull:before {
            background: transparent !important;
        }

        .SchoolDetailPanel .StripforTwoContext {
            background: transparent !important;
        }
        .form-center {
        width: 100%;
        display: flex;
        justify-content: center;
        }
    </style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
            @Html.Partial("BreadCrumb")
            @*<ol class="breadcrumb breadcrumbCustom">
                    <li class="breadcrumb-item fontBold"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active">Under Graduate Programs</li>
                </ol>*@
        <div class="plr20 fullwidth">
            <div class="BannerStripContext Context_UgPrograms">
                @if (Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold animateTitle">
                        @Html.Raw(Model.Content.GetPropertyValue<string>("pageTitle"))
                    </h1>
                }

            </div>
            <div class="BannerImg position-relative">
                <picture>
                    @if (Model.Content.HasValue("heroBanner"))
                    {
                        var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                        if (imgPath != null)
                        {
                            @Html.Partial("HeroBanner", imgPath)
                        }
                    }
                </picture>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Program Details-->
    <!--Enquiry Form-->
    <section class="EnquiryPanel  position-relative " id="PanelTwo">
        <div class="container">
            <div class="EnqInner">
                <div class="CampusBg">
                    <img src="/src/img/parents/campus-bg.jpg" class="img-fluid" alt="banner" />
                </div>
                <div class="plr100" id="thankyou">
                     @Html.Raw(Model.Content.GetPropertyValue("innerContent"))
                </div>
            </div>
        </div>
    </section>
   

</main>
@Html.Partial("Floating")