﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/applicants.css" rel="stylesheet" type="text/css" />
    <link href="/css/GeneralTemplate.css?v=jvhbhb" rel="stylesheet" type="text/css" />
    <link href="/css/generalcontentgrid.css" rel="stylesheet" type="text/css" />
    <style>
        .general-popup #newmodal h3{
            padding:0px !important;
        }
        .general-popup #newmodal p{
            padding:0px !important;
        }
        .GenerTemplate .DownArrow,.GenerTemplate .breadcrumbPanel{
        bottom:-10%;}
        
        .GenerTemplate .PanelInner {
    padding: 0;
}

.row.international_connect_page_details h4 {
    font-size: 18px!important;
    padding: 20px 0!important;
}

.row.international_connect_page_details h5 {
    font-size: 16px;
    padding: 15px 0;
}

table.table.table-bordered.table_page {
    width: 100% !important;
    
}

table.table.table-bordered.table_page td {
    padding: 10px; vertical-align: middle;
}
table.table.table-bordered.table_page th {
    background: #fff7f7;
    text-align: center;
}

    </style>
}
<main role="main" class="GenerTemplate applicants">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.Parent.Name == "School")
                {
                    <span class="fontExBold sodText">@Model.Content.Name</span>
                }
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                {
                    var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("heroBanner"), Umbraco);
                    //var imgPat = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                    if (imgPath != null)
                    {
                        <picture>
                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag") ? imgPath.GetPropertyValue("altTag") : "")" />
                        </picture>
                        /**/

                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--Inner-->
    <section class="PanelInner studenAchievPanel_PaddingSpacing" id="PanelTwo">
        <div class="plr100">
            <div class="row panelRow">
                @if (Model.Content.HasValue("accordionContent"))
                {
                    <div class="wrapper-75">
                        <div class="accord-wrapper">
                            <!--Accordion Panel-->
                            <div id="HELP-TOPICS-AccordionPanel" class="AccordionStyle ">
                                @if (Model.Content.HasProperty("accordionContent") && Model.Content.HasValue("accordionContent"))
                                {
                                    int i = 0, j = 0;
                                    var topics = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("accordionContent");
                                    foreach (var topic in topics)
                                    {
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="CardHeaderPanel">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-target="#HELP-TOPICS-AccordionPanel@(i=i+1)"
                                                       href="javascript:void(0);"
                                                       aria-expanded="false" aria-controls="PanelOne">
                                                        @if (topic.HasValue("accordionTitle"))
                                                        {
                                                            @Html.Raw(topic.GetPropertyValue("accordionTitle"))
                                                        }
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="HELP-TOPICS-AccordionPanel@(j=j+1)" class="collapse" data-parent="#HELP-TOPICS-AccordionPanel"
                                                 aria-labelledby="heading-3">
                                                <div class="card-body cardContext">
                                                    <p class="fontMedium">
                                                        @if (topic.HasValue("accordionContent"))
                                                        {
                                                            @Html.Raw(topic.GetPropertyValue("accordionContent"))
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                }
                @*@if (Model.Content.HasProperty("showcaseImage") && Model.Content.HasValue("showcaseImage"))
                    {
                        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("showcaseImage"), Umbraco);
                        //var imgPat = Model.Content.GetPropertyValue<IPublishedContent>("showcaseImage");
                        if (imgPath != null)
                        {
                            <div class="col-sm-6 panelLeft">
                                <picture>
                                    <img src="@imgPath.Url" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                </picture>
                            </div>
                        }
                    }*@
              @*  @if (Model.Content.HasValue("detailContent"))
                {
                    <div class="col-sm-6 PanelContext">
                        @if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                        {
                            <h2 class="fontExBold panelTitle">
                                @Html.Raw(Model.Content.GetPropertyValue("showcaseTitle"))
                            </h2>
                        }
                        @if (Model.Content.HasProperty("publishedDate") && Model.Content.HasValue("publishedDate"))
                        {
                            <h3>
                                @(Model.Content.GetPropertyValue<DateTime>("publishedDate").Date.ToString("dd-MMM-yyyy"))
                            </h3>
                        }

                        @if (Model.Content.HasProperty("detailContent") && Model.Content.HasValue("detailContent"))
                        {
                            @Html.Raw(Model.Content.GetPropertyValue("detailContent"))
                        }
                    </div>
                }
                else
                {
                    if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                    {
                        <h2 class="fontExBold panelTitle">
                            @Html.Raw(Model.Content.GetPropertyValue("showcaseTitle"))
                        </h2>
                    }
                }
*@
                @(Model.Content.GetGridHtml(Html, "pageContent", "Custom-Grid"))

                @{
                    if (Request.Url.ToString().Contains("/careers/"))
                    {
                        if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                        {
                            <div class="row no-gutters justify-content-center">
                                <a href="/apply-online?job=@(Server.UrlEncode(Model.Content.GetPropertyValue("showcaseTitle").ToString()))" target="_blank" class="br30 fontBold btn btn-primary BtnStyle center LoadMore">Apply Now</a>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</main>
@Html.Partial("Floating")
