﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@section style{
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/upesEmployee.css" rel="stylesheet" />
    <link href="/css/general-popup.css" rel="stylesheet" />
     <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" />
     
}


<main role="main" class="UpesStudent">
    <!--Banner-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <div class="fontExBold">
                        <p>
                            <!--bind here-->
                            @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                        </p>
                    </div>
                }
                @if (Model.Content.HasProperty("bannerDescription") && Model.Content.HasValue("bannerDescription"))
                {
                    <div class="StripContent">
                        <ul>
                            @{
                                var descriptions = Model.Content.GetPropertyValue<string[]>("bannerDescription");
                            }
                            @foreach (var description in descriptions)
                            {
                                <li>@description</li>
                            }
                        </ul>
                    </div>
                }

            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                    if (imgPath != null)
                    {
                        @Html.Partial("HeroBanner", imgPath)
                    }

                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>

    @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
    {
        <div id="facultySection" class="section-6">
            <div class="downloadable-content">
                <div class="wrapper-75">
                    <div class="accord-wrapper">
                        <!-- Accordion Title -->
                        <div class="accordion-title">
                            <h3 class="fontBlack titleh3">@Html.Raw(Model.Content.GetPropertyValue("sectionTitle"))</h3>
                        </div>
                        <!--Accordion Panel-->
                        <div id="downloadable-content-AccordionPanel" class="AccordionStyle downloable-accord">
                            @if (Model.Content.HasProperty("downloads") && Model.Content.HasValue("downloads"))
                            {
                                var tabs = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("downloads");
                                foreach (var tab in tabs)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                @if (tab.HasValue("downloadMedia"))
                                                {
                                                    var mediaPath = tab.GetPropertyValue<IPublishedContent>("downloadMedia");
                                                    if (mediaPath != null)
                                                    {
                                                        <a class="collapsed" role="button" href="@mediaPath.Url"
                                                           aria-expanded="false" aria-controls="PanelOne" target="_blank">
                                                            @if (tab.HasValue("downloadTitle"))
                                                            {
                                                                @Html.Raw(tab.GetPropertyValue("downloadTitle"))
                                                            }
                                                        </a>
                                                    }
                                                }

                                            </h5>
                                        </div>

                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</main>