﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models
@{
    Layout = "Master.cshtml";
}
@section style{
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/upesEmployee.css" rel="stylesheet" />
    <link href="/css/general-popup.css" rel="stylesheet" />
     <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" />
     
     
}

<style>
    .Cardlist ul li {
    padding: 15px 0;
    border-bottom: solid 1px #ddd;
}
</style>
<main role="main" class="UpesStudent">
    <!--Banner-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <div class="fontExBold">
                        <p>
                            <!--bind here-->
                            @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                        </p>
                    </div>
                }
                @if (Model.Content.HasProperty("bannerDescription") && Model.Content.HasValue("bannerDescription"))
                {
                    <div class="StripContent">
                        <ul>
                            @{
                                var descriptions = Model.Content.GetPropertyValue<string[]>("bannerDescription");
                            }
                            @foreach (var description in descriptions)
                            {
                                <li>@description</li>
                            }
                        </ul>
                    </div>
                }

            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                    if (imgPath != null)
                    {
                        @Html.Partial("HeroBanner", imgPath)
                    }

                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <div class="section-1 noPadding" id="PanelTwo">
        <div class="plr20">
            @if (Model.Content.HasProperty("pageDescription") && Model.Content.HasValue("pageDescription"))
            {
                <div class="highlights">
                    @{
                        var pageDescriptions = Model.Content.GetPropertyValue<string[]>("pageDescription");
                    }
                    <ul>
                        @foreach (var pageDescription in pageDescriptions)
                        {
                            <li>@pageDescription</li>
                        }
                    </ul>
                </div>
            }
        </div>
        @if (Model.Content.HasProperty("loginAccordionContent") && Model.Content.HasValue("loginAccordionContent"))
        {
            var links = Model.Content.GetPropertyValue<RelatedLinks>("loginAccordionContent");
            if (links != null)
            {
                <div class="wrapper-75">
                    <div class="login-wrapper">
                        <div class="accord-wrapper">
                            <!-- Accordion Titl -->
                            <div id="loginSection" class="accordion-title">
                                @if (Model.Content.HasProperty("loginTitle") && Model.Content.HasValue("loginTitle"))
                                {
                                    <h3 class="fontBlack titleh3">@Html.Raw(Model.Content.GetPropertyValue("loginTitle"))</h3>
                                }
                            </div>
                            <!--Accordion Panel-->
                            <div id="AccordionPanel-login" class="AccordionStyle colorLightWhite nonAcc">
                                @foreach (var item in links)
                                {
                                    var linkTarget = (item.NewWindow) ? "_blank" : null;
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" href="@item.Link" target="@linkTarget">
                                                    @item.Caption
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    @if (Model.Content.HasProperty("workingTitle") && Model.Content.HasValue("workingTitle"))
    {
        <!-- section4 -->
        <div id="workingSection" class="section-4">
            <div class="health-medical">
                <div class="wrapper-75">
                    <div class="accord-wrapper">
                        <!-- Accordion Titl -->
                        <div class="accordion-title">
                            <h3 class="fontBlack titleh3">@Html.Raw(Model.Content.GetPropertyValue("workingTitle"))</h3>
                            <div class="link-toggle ">
                                @if (Model.Content.HasProperty("expandAllLink") && Model.Content.HasValue("expandAllLink"))
                                {
                                    var links = Model.Content.GetPropertyValue<RelatedLinks>("expandAllLink").FirstOrDefault();

                                    if (links != null)
                                    {
                                        if (links.Link == "" || links.Link == "#")
                                        {
                                            <a href="javascript:void(0);" id="working-upes-toggler" class="color-blue">
                                                @links.Caption
                                            </a>
                                        }
                                        else
                                        {
                                            <a target="@(links.NewWindow?"_blank":"_self")" href="@(links.Link)" class="fontBold color-blue text-decoration">
                                                @(links.Caption)
                                            </a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <!--Accordion Panel-->
                        <div id="working-upes" class="AccordionStyle">
                            @if (Model.Content.HasProperty("tabs") && Model.Content.HasValue("tabs"))
                            {
                                int i = 0, j = 0;
                                var tabs = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("tabs");
                                foreach (var tab in tabs)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#working-panel@(i=i+1)"
                                                   aria-expanded="false" aria-controls="PanelOne">
                                                    @if (tab.HasValue("accordionTitle"))
                                                    {
                                                        @Html.Raw(tab.GetPropertyValue("accordionTitle"))
                                                    }
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="working-panel@(j=j+1)" class="collapse" data-parent="#working-upes"
                                             aria-labelledby="heading-3">
                                            <div class="card-body cardContext">
                                                @if (tab.HasValue("accordionContent"))
                                                {
                                                    @Html.Raw(tab.GetPropertyValue("accordionContent"))
                                                }
                                                <div class="btn_wrap mt-4">
                                                    @if (tab.HasValue("accordionCTA"))
                                                    {
                                                        var link = tab.GetPropertyValue<RelatedLinks>("accordionCTA").FirstOrDefault();
                                                        if (link != null)
                                                        {
                                                            <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="btn btn-standard text-uppercase">@link.Caption</a>
                                                        }
                                                    }
                                                    @if(tab.HasValue("resultCTA"))
                                                    {
                                                    var Resultlink = tab.GetPropertyValue<RelatedLinks>("resultCTA").FirstOrDefault();
                                                        if (Resultlink != null)
                                                        {
                                                            <a href="@Resultlink.Link" target="@(Resultlink.NewWindow?"_blank":"_self")" class="btn btn-standard text-uppercase">@Resultlink.Caption</a>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
@if(Model.Content.HasValue("currentTitle")&&Model.Content.HasValue("openingsAccordion")&&Model.Content.HasValue("currentExpandAllLink"))
{
    <!-- section5 -->
    <div id="currentSections" class="section-5">
        @if (Model.Content.HasProperty("currentTitle") && Model.Content.HasValue("currentTitle"))
        {
            <div class="plr100">
                <div class="student-affairs">
                    <div class="header-top ">
                        <div id="openingsSection" class="title">

                            <div class="Orange-Strip d-flex align-items-end justify-content-end ">
                                <h3 class="fontBlack title titleh3 white-nowrap">@Html.Raw(Model.Content.GetPropertyValue("currentTitle"))</h3>
                            </div>

                        </div>
                        <div class="link-toggle">
                            @if (Model.Content.HasProperty("currentExpandAllLink") && Model.Content.HasValue("currentExpandAllLink"))
                            {
                                var links = Model.Content.GetPropertyValue<RelatedLinks>("currentExpandAllLink").FirstOrDefault();
                                if (links != null)
                                {
                                    if (links.Link == "" || links.Link == "#")
                                    {
                                        <a href="javascript:void(0);" class="color-blue" id="current-openings-AccordionPanel-toggler">@links.Caption</a>
                                    }
                                    else
                                    {
                                        <a target="@(links.NewWindow ? "_blank" : "_self")" href="@(links.Link)" class="fontBold color-blue text-decoration">
                                            @(links.Caption)
                                        </a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="wrapper-75">
            <div class="accord-wrapper ">
                <!--Accordion Panel-->
                <div id="current-openings-AccordionPanel" class="AccordionStyle colorLightWhite">
                    @if (Model.Content.HasProperty("openingsAccordion") && Model.Content.HasValue("openingsAccordion"))
                    {
                        int i = 0, j = 0;
                        var tabs = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("openingsAccordion");
                        foreach (var tab in tabs)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="CardHeaderPanel">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#current-opening-@(i=i+1)"
                                           aria-expanded="false" aria-controls="PanelOne">
                                            @if (tab.HasValue("openingsTitle"))
                                            {
                                                @Html.Raw(tab.GetPropertyValue("openingsTitle"))
                                            }
                                        </a>
                                    </h5>
                                </div>
                                <div id="current-opening-@(j=j+1)" class="collapse" data-parent="#current-openings-AccordionPanel" aria-labelledby="heading-3">
                                    <div class="card-body cardContext">
                                        @if (tab.HasValue("description"))
                                        {
                                            <p class="fontMedium mb-4">
                                                @Html.Raw(umbraco.library.RemoveFirstParagraphTag(tab.GetPropertyValue<string>("description")))
                                            </p>
                                        }
                                        <p class="mt-2">
                                            @if (tab.HasValue("department"))
                                            {
                                                <strong>Department:</strong>@Html.Raw(tab.GetPropertyValue("department"))
                                            }

                                        </p>
                                        @if (tab.HasValue("location"))
                                        {
                                            <p class="mt-2">
                                                <strong>Location:</strong> @Html.Raw(tab.GetPropertyValue("location"))
                                            </p>
                                        }

                                        <div class="btn_wrap mt-4">
                                            @if (tab.HasValue("viewDetailsLink"))
                                            {
                                                var link = tab.GetPropertyValue<RelatedLinks>("viewDetailsLink").FirstOrDefault();
                                                if (link != null)
                                                {
                                                    <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="btn btn-standard text-uppercase">
                                                        @link.Caption
                                                    </a>
                                                }
                                            }
                                            <a href="/apply-online?job=@(Server.UrlEncode(tab.GetPropertyValue("openingsTitle").ToString()))" target="_blank" class="btn btn-standard text-uppercase">Apply Now</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
}


    @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
    {
        <div id="facultySection" class="section-6">
            <div class="downloadable-content">
                <div class="wrapper-75">
                    <div class="accord-wrapper">
                        <!-- Accordion Title -->
                        <div class="accordion-title">
                            <h3 class="fontBlack titleh3">@Html.Raw(Model.Content.GetPropertyValue("sectionTitle"))</h3>
                        </div>
                        <!--Accordion Panel-->
                        <div id="downloadable-content-AccordionPanel" class="AccordionStyle downloable-accord">
                            @if (Model.Content.HasProperty("download") && Model.Content.HasValue("download"))
                            {
                                var tabs = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("download");
                                foreach (var tab in tabs)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                @if (tab.HasValue("downloadMedia"))
                                                {
                                                    var mediaPath = tab.GetPropertyValue<IPublishedContent>("downloadMedia");
                                                    if (mediaPath != null)
                                                    {
                                                        <a class="collapsed" role="button" href="@mediaPath.Url"
                                                           aria-expanded="false" aria-controls="PanelOne" target="_blank">
                                                            @if (tab.HasValue("downloadTitle"))
                                                            {
                                                                @Html.Raw(tab.GetPropertyValue("downloadTitle"))
                                                            }
                                                        </a>
                                                    }
                                                }

                                            </h5>
                                        </div>

                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if(Model.Content.HasValue("schoolsList"))
    {
        <div class="SchoolDetailPanel">
            <div class="plr100">
                @if (Model.Content.HasValue("bigTitle"))
                {
                    <div class="CampusInner UGTitle">
                        <h2 class="fontBlack text-uppercase GrayTitle">@Html.Raw(Model.Content.GetPropertyValue<string>("bigTitle"))</h2>
                    </div>
                }

            </div>
               <div class="UgDetailAccordion_Panel ugAccBanner position-relative">
                <div class="plr100">
                    <div class="UgDetailAccordion_Style" id="AccordionPanel12">
                        @if (Model.Content.HasValue("schoolsList"))
                        {
                            var schoolLists = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("schoolsList");
                            if (schoolLists != null)
                            {
                                int i = 0;
                                foreach (var schoolList in schoolLists)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#PanelOneBlock@(i)" aria-expanded="@(i==0?"true":"false")" aria-controls="PanelOne">
                                                    @Html.Raw(schoolList.GetPropertyValue("schoolName"))
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="PanelOneBlock@(i)" class="collapse @(i==0?"show":"")" data-parent="#AccordionPanel12" aria-labelledby="heading-3">
                                            <div class="card-body cardContext">
                                                <div class="row Inner_CardTitle no-gutters">
                                                    @if (schoolList.HasValue("image"))
                                                    {
                                                        var imgPath = schoolList.GetPropertyValue<IPublishedContent>("image");
                                                        if (imgPath != null)
                                                        {
                                                            <div class="col-lg-6 col-sm-6 Crd_img ">
                                                                <img src="@imgPath.Url" class="img-fluid downArrowIcon" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                                            </div>
                                                        }
                                                    }

                                                    <div class="col-lg-6 col-sm-6 Crd_TExt ">
                                                        <h2 class="fontBold">@Html.Raw(schoolList.GetPropertyValue("schoolTitles"))</h2>
                                                    </div>
                                                </div>
                                                <div class="Cardlist">
                                                   <ul>
                                                    @if (schoolList.HasValue("coursePicker"))
                                                    {
                                                        var links = schoolList.GetPropertyValue<IEnumerable<IPublishedContent>>("coursePicker");
                                                        if (links != null)
                                                        {
                                                            foreach (var link in links)
                                                            {
                                                                <li>
                                                                    <span>@link.Name</span>
                                                                    <a href="@link.Url">Details</a>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        }
                    </div>
                </div>
            </div>       
    </div>

    }
</main>
@Html.Partial("Floating")

@section scripts{
    <script type="text/javascript" src="/scripts/upes.js"></script>
    <script type="text/javascript" src="/scripts/upes2.js"></script>
}