﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Events>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/GeneralTemplate.css" rel="stylesheet" type="text/css" />
}
<main role="main" class="GenerTemplate eventTem">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow eventArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <span class="fontExBold sodText"></span>
                @{
                    if (Model.Content.HasProperty("PageTitle") && Model.Content.HasValue("PageTitle"))
                    {
                        <h1 class="fontExBold">
                            @Model.Content.GetPropertyValue("PageTitle")
                        </h1>
                    }
                }
            </div>
            <div class="BannerImg position-relative">
                @{
                    if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                    {
                        var image = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("bannerImage"), Umbraco);
                        if (image != null)
                        {
                            <picture>
                                <img src="@image.Url" class="img-fluid" alt="@(image.HasValue("altTag")?image.GetPropertyValue<string>("altTag"):"")" />
                            </picture>
                        }
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Inner-->
    <!--Upcoming Events-->
    @{
        <section class="studenAchievPanel StudentLogoBanner" id="PanelTwo">
            <div class="plr100">
                <div class="Event_Inner position-relative">
                    <div class="AchieveTitleBlock position-relative">
                        @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
                        {
                            <h3 class="fontBlack text-uppercase titleh3">
                                @Model.Content.GetPropertyValue("sectionTitle")
                            </h3>
                        }
                        <div class="link_list text-right noPadding" id="divViewAllSection1" style="display:none;">
                            <a id="aViewAllSection1" onclick="doShowSection1('divSection1Container', 'aViewAllSection1');" class="fontBold text-uppercase text-decoration">View all</a>
                        </div>
                    </div>
                    <div class="row StyleForSlickArrows EventCarousel mlr">
                        @{
                            if (Model.Content.HasProperty("contentPicker") && Model.Content.HasValue("contentPicker"))
                            {
                                IEnumerable<IPublishedContent> selectedEvents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contentPicker");
                                if (selectedEvents.Count() > 0)
                                {
                                    int showcaseIndex = 1;
                                    foreach (var eventsIndex in selectedEvents)
                                    {
                                        if (eventsIndex.HasProperty("showcaseImage") && eventsIndex.HasValue("showcaseImage"))
                                        {
                                            var image = AST.S3.Helper.MediaHelper.ParseMedia(eventsIndex.GetPropertyValue<string>("showcaseImage"), Umbraco);
                                            if (image != null)
                                            {
                                                <div class="col-4 EventPanelStyle EventPanelOne plr7" id="divSection1Showcase_@showcaseIndex">
                                                    <img src="@image.GetCropUrl("Events")" alt="img-fluid" class="img-fluid" />
                                                    <div class="eventContext eventContextForHome">
                                                        <div class="EventContStyle  EventContStyleForHomeBlk">
                                                            <h4 class="fontBold titleh4">
                                                                @(eventsIndex.GetPropertyValue<string>("showcaseTitle"))
                                                            </h4>
                                                            <div class="EventPara">
                                                                @Html.Raw(eventsIndex.GetPropertyValue("shortDescription"))
                                                            </div>
                                                            @if (eventsIndex.HasProperty("registerNowLink") && eventsIndex.HasValue("registerNowLink"))
                                                            {
                                                                var button1Index = eventsIndex.GetPropertyValue<RelatedLinks>("registerNowLink");
                                                                if (button1Index.Any())
                                                                {
                                                                    foreach (var item in button1Index)
                                                                    {
                                                                        var linkTarget = (item.NewWindow) ? "_blank" : null;
                                                                        <a href="@item.Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@item.Caption</a>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                showcaseIndex++;
                                            }
                                        }
                                    }
                                    <input type="hidden" id="hfSection1ViewAll" value="@(showcaseIndex - 1)" />
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </section>

        <!--Industry Ties up and Testimonials-->

        <section class="Ties_TestimonialPanel position-relative forZIndex">
            <div class="Event_Inner position-relative">
                <div class="plr100 event-top">
                    <div class="StoryTitleStrip StoryTitleStripForTieUp Yellowstripbgfull text-uppercase d-flex">
                        @if (Model.Content.HasProperty("sectionTitle2") && Model.Content.HasValue("sectionTitle2"))
                        {
                            <h2 class="fontBlack">@Model.Content.GetPropertyValue("sectionTitle2")</h2>
                        }
                    </div>
                    <div class="link_list text-right noPadding LinkPosition" id="divViewAllSection2" style="display:none;">
                       @* <a id="aViewAllSection2" onclick="doShowSection2('divSection2Container', 'aViewAllSection2');" class="fontBold text-uppercase text-decoration">View all</a>*@
                    </div>
                    <div class="TieUpPosition">
                        <div class="row StyleForSlickArrows EventCarousel mlr">
                            @{
                                if (Model.Content.HasProperty("contentPicker2") && Model.Content.HasValue("contentPicker2"))
                                {
                                    IEnumerable<IPublishedContent> selectedEvents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contentPicker2");
                                    if (selectedEvents.Count() > 0)
                                    {

                                        int showcaseIndex = 1;
                                        foreach (var eventsIndex in selectedEvents)
                                        {

                                            if (eventsIndex.HasProperty("showcaseImage") && eventsIndex.HasValue("showcaseImage"))
                                            {
                                                var image = AST.S3.Helper.MediaHelper.ParseMedia(eventsIndex.GetPropertyValue<string>("showcaseImage"), Umbraco);
                                                if (image != null)
                                                {
                                                    <div class="col-4 EventPanelStyle EventPanelOne plr7" id="divSection2Showcase_@showcaseIndex">
                                                        <img src="@image.GetCropUrl("Events")" alt="img-fluid" class="img-fluid" />
                                                        <div class="eventContext eventContextForHome">
                                                            <div class="EventContStyle  EventContStyleForHomeBlk">
                                                                <h4 class="fontBold titleh4">
                                                                    @(eventsIndex.GetPropertyValue<string>("showcaseTitle"))
                                                                </h4>
                                                                <div class="EventPara">
                                                                    @Html.Raw(eventsIndex.GetPropertyValue("shortDescription"))
                                                                </div>
                                                                @if (eventsIndex.HasProperty("registerNowLink") && eventsIndex.HasValue("registerNowLink"))
                                                                {
                                                                    var button1Index = eventsIndex.GetPropertyValue<RelatedLinks>("registerNowLink");
                                                                    if (button1Index.Any())
                                                                    {
                                                                        foreach (var item in button1Index)
                                                                        {
                                                                            var linkTarget = (item.NewWindow) ? "_blank" : null;
                                                                            <a href="@item.Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@item.Caption</a>
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    showcaseIndex++;
                                                }
                                            }

                                        }
                                        <input type="hidden" id="hfSection2ViewAll" value="@(showcaseIndex - 1)" />
                                    }
                                }
                            }
                        </div>
                    </div>
					<div class="row no-gutters justify-content-center" style="margin-top:15px;padding-bottom:20px">
					@*<a id="aViewAllSection2" onclick="doShowSection2('divSection2Container', 'aViewAllSection2');" class="fontBold text-uppercase text-decoration">View all</a>*@
                    <a id="aViewAllSection2" class="br30 fontBold btn btn-primary BtnStyle center LoadMore" onclick="doShowSection2('divSection2Container', 'aViewAllSection2');" style="text-align: center;">Load More</a>
                </div>
                </div>
                <!--Testimonials-->
            </div>

        </section>

    }
</main>
@Html.Partial("Floating")

@section scripts{
    <script>
        function doShowSection1(divID, aID) {
            $('#' + aID).text("Load Less");
            if ($('#' + aID).text() == "View all") {
                if ($('#hfSection1ViewAll').val() > 6) {
                    for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
                        $('#divSection1Showcase_' + i).show();
                    }
                }
                $('#' + aID).text('Show less');
            }
            else if ($('#' + aID).text() == "Show less") {
                if ($('#hfSection1ViewAll').val() > 6) {
                    for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
                        $('#divSection1Showcase_' + i).hide();
                    }
                }
                $('#' + aID).text('View all');
            }
        }
        function doShowSection2(divID, aID) {
            event.stopPropagation();
            //$("#aViewAllSection2").text("Load Less");
            //alert($('#' + aID).text());
            if ($('#' + aID).text() == "Load More") {
                if ($('#hfSection2ViewAll').val() > 6) {
                    for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
                        $('#divSection2Showcase_' + i).show();
                    }
                }
                $('#' + aID).text('Load Less');
            }
            else if ($('#' + aID).text() == "Load Less") {
                if ($('#hfSection2ViewAll').val() > 6) {
                    for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
                        $('#divSection2Showcase_' + i).hide();
                    }
                }
                $('#' + aID).text('Load More');
            }
        }
        // $('#aViewAllSection2').click(funtion(){
        //   $('#aViewAllSection2').text("Load Less");
        // });
        $(document).ready(function () {
            if ($('#hfSection1ViewAll').val() > 6) {
                for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
                    $('#divSection1Showcase_' + i).hide();
                }
                $('#divViewAllSection1').show();
            }

            if ($('#hfSection2ViewAll').val() > 6) {
                for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
                    $('#divSection2Showcase_' + i).hide();
                }
                $('#divViewAllSection2').show();
            }
        });
    </script>
}
