﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.EventRegistration>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@section style{
    <link href="/css/login.css" rel="stylesheet" />
}
<main role="main" class="LoginTemplate">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
            {
                <div class="BannerStripContext">
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                </div>
            }
            <div class="BannerImg position-relative">
                @if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                {
                    var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("heroBanner"), Umbraco);
                    if (imgPath != null)
                    {
                        <picture>
                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag") ? imgPath.GetPropertyValue("altTag") : "")" />
                        </picture>
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Career Form-->
    <section class="CareerPanel">
        <div class="plr100">
            <div class="CareerInner">
                <div class="CareerContext" id="divInnerContent">
                    @if (Model.Content.HasProperty("innerTitle") && Model.Content.HasValue("innerTitle"))
                    {
                        <h2 class=" fontBold careerInnerTitle">@Html.Raw(Model.Content.GetPropertyValue("innerTitle"))</h2>
                    }
                    @if (Model.Content.HasProperty("innerContent") && Model.Content.HasValue("innerContent"))
                    {
                        <p class="fontMedium careerSubTitle" >
                            @Html.Raw(Model.Content.GetPropertyValue("innerContent"))
                        </p>
                    }
                </div>
                <div class="FormRow" id="divFormContainer" style="display:none;">
                    <div class="formRowInn">
                        <div class="FormGroup">
                            <div class=" row mlr25 formRowpanel">
                                <div class="form-group col-sm-6 plr25">
                                    <select class="form-control FormStyle" id="ddlCourse" onchange="getEventList()">
                                        <option>Applying for Course*</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 plr25">
                                    <input type="text" class="FormStyle" id="txtFirstName" placeholder="First Name*" />
                                </div>
                            </div>
                            <div class=" row mlr25 formRowpanel">
                                <div class="form-group col-sm-6 plr25">
                                    <input type="text" class="FormStyle" id="txtMiddleName" placeholder="Middle Name" />
                                </div>
                                <div class="form-group col-sm-6 plr25">
                                    <input type="text" class="FormStyle" id="txtLastName" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class=" row mlr25 formRowpanel">
                                <div class="form-group col-sm-6 plr25">
                                    <input id="txtDateofBirth" type="text" class="FormStyle" placeholder="Date of birth*" readonly="readonly" />
                                </div>
                                <div class="form-group col-sm-6 plr25">
                                    <input type="text" class="FormStyle" id="txtEmail" placeholder="Email*" />
                                </div>
                            </div>
                            <div class=" row mlr25 formRowpanel">
                                <div class="form-group col-sm-6 plr25">
                                    <input type="text" class="FormStyle" id="txtMobile" placeholder="Mobile" />
                                </div>
                                <div class="form-group col-sm-6 plr25">
                                    <input type="text" class="FormStyle" id="txtCity" placeholder="City*" />
                                </div>
                            </div>
                            <div class=" row mlr25 formRowpanel">
                                <div class="form-group col-sm-6 plr25">
                                    <select class="form-control FormStyle" id="ddlEvent">
                                        <option>Select Event*</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6 plr25">
                                    <input type="text" class="FormStyle" id="txtApplicationNo" placeholder="Application No. (if already applied)" onkeypress="return isNumberKey(event)" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="FormBtn">
                        <div class="btnInn text-right text-uppercase">
                            <button class="br30  fontBold  btn btn-primary nextbtn FormBtnStyle" id="btnSubmit" onclick="return addRegistrationToEvent();">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script type="text/javascript" src="/scripts/event-registration.js?i=abc"></script>
}