﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.EventsItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/GeneralTemplate.css" rel="stylesheet" type="text/css" />
    <link href="/css/generalcontentgrid.css" rel="stylesheet" type="text/css" />
}
<main role="main" class="GenerTemplate">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @{

                    <h1 class="fontExBold">
                        Events
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                @{
                    if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                    {
                        var image = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("heroBanner"), Umbraco);
                        if (image != null)
                        {
                            <picture>
                                <img src="@image.Url" class="img-fluid" alt="Banner" />
                            </picture>
                        }
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--Inner-->
    <section class="PanelInner studenAchievPanel_PaddingSpacing" id="PanelTwo">
        <div class="plr100">
            @{
                @Model.Content.GetGridHtml(Html, "pageContent", "Custom-Grid")
            }
        </div>
    </section>
    <div class="clearfix"></div>
</main>
@Html.Partial("Floating")
