﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FacultyGdpi>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    bool IsAuthFaculty = Convert.ToBoolean(Session["isauth_faculty"]);
    string ProfileURL = "/";
    if (!IsAuthFaculty)
    {
        Response.Redirect("login?So=WtY");
    }
    else
    {
        ProfileURL = Session["ProfileURL"].ToString();
        ProfileURL = "https://www.upes.ac.in/" + ProfileURL;
    }
}
@section style
{

    <link href="../css/login.css" rel="stylesheet" />
    <style>
        .btnSave {
            /*border: 1px solid #ccc;
            width: 60px;
            padding: 2px 5px;*/
            font-size: 1vw;
            height: 2vw;
            background: #EF3F3F;
            color: #FFFFFF;
            width: 5vw;
            margin: 0 0 0 6px;
            padding: 0 0 !important;
            text-transform: uppercase;
            border: 1px solid transparent;
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            -o-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }

        .lblSaveResponse {
            width: 80px;
            border: none;
            background: none;
            text-align: center;
            font-weight: bold;
        }

        .LoginTemplate .CareerPanel .ProcessPanel {
            width: 70vw;
        }

        .table td, .table th, .table p {
            font-size: 0.9vw;
            font-weight: 500;
        }

        .table td, .table th {
            min-width: 100px;
        }

        @@media (max-width: 767px) {
            .table td, .table th, .table p {
                font-size: 3vw;
            }

            .LoginTemplate .CareerPanel .ProcessPanel {
                width: 100vw !important;
            }

            #div_pagination {
                display: block !important;
                margin-bottom: 40vw;
            }

                #div_pagination input {
                    float: left;
                    margin-bottom: 1.5vw;
                }
        }

        .Pc_style a {
            color: #000;
        }

        .th_SubFielsGD {
            font-size: 0.7vw;
            flex: 0 0 100%;
            max-width: 100%;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            text-align: center;
        }

        .th_SubFielsGDL {
            font-size: 0.7vw;
            flex: 0 0 100%;
            max-width: 100%;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            text-align: left;
        }

        .forMarkText1 {
            width: 25px;
            height: 30px;
            border: 1px solid #F2F2F2;
            padding: 0 3px;
            font-weight: bold;
            text-align: center;
        }

        #content {
            border: 1px solid darkgrey;
            border-radius: 3px;
            padding: 5px;
        }

        /* Table */
        #emp_table {
            border: 3px solid lavender;
            border-radius: 3px;
        }

        /* Table header */
        .tr_header {
            background-color: dodgerblue;
        }

            .tr_header th {
                color: white;
                padding: 10px 0px;
                letter-spacing: 1px;
            }

        /* Table rows and columns */
        #emp_table td {
            padding: 10px;
        }

        #emp_table tr:nth-child(even) {
            background-color: lavender;
            color: black;
        }

        /* */
        /*start*/
        #div_pagination {
            display: flex;
            justify-content: center;
        }

            #div_pagination input {
                display: none;
                opacity: 0.5;
            }

                #div_pagination input:hover, #div_pagination input.active {
                    opacity: 1;
                }

                #div_pagination input:nth-child(1) {
                    display: block;
                }

                #div_pagination input:nth-child(2) {
                    display: block;
                }

                #div_pagination input:nth-child(3) {
                    display: block;
                }

                #div_pagination input:nth-child(4) {
                    display: block;
                }

                #div_pagination input:nth-child(5) {
                    display: block;
                }

                #div_pagination input:nth-child(6) {
                    display: block;
                }

                #div_pagination input:nth-child(7) {
                    display: block;
                }

                #div_pagination input:nth-child(8) {
                    display: block;
                }

                #div_pagination input:nth-child(9) {
                    display: block;
                }

                #div_pagination input:nth-child(10) {
                    display: block;
                }

                #div_pagination input:nth-child(11) {
                    display: block;
                }

                #div_pagination input:nth-child(12) {
                    display: block;
                }

                #div_pagination input:nth-child(13) {
                    display: block;
                }

                #div_pagination input:nth-child(14) {
                    display: block;
                }
        /*end*/

        .button {
            border-radius: 3px;
            border: 0px;
            background-color: mediumpurple;
            color: white;
            padding: 5px 10px;
            margin-right: 5px;
            letter-spacing: 1px;
        }

        #marknote {
            padding: 15px;
            font-size: 14px;
            color: green;
            font-family: calibri;
            font-weight: bold;
            line-height: 20px;
        }
    </style>
}

<main role="main" class="LoginTemplate">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        <div class="breadcrumbPanel">
            <ol class="breadcrumb breadcrumbCustom">
                <li class="breadcrumb-item fontBold"><a href="javascript:void(0);">Home</a></li>
                @*<li class="breadcrumb-item"><a href="javascript:void(0);">UPES Employees</a></li>*@
                <li class="breadcrumb-item active">Faculty GDPI</li>
            </ol>
        </div>
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <h1 class="fontExBold">
                    Faculty
                </h1>
            </div>
            <div class="BannerImg position-relative">
                <picture>
                    <img src="../src/img/general-template/events-banner-1.jpg" class="img-fluid" alt="Banner" />
                </picture>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Career Form-->
    <section class="CareerPanel">
        <div class="plr100">
            <div class="ProcessPanel">
                <div class="Pr_Panel_List">
                    <div class="row mlr25 Pc_Tab">
                        <div class="col-3 plr25 Pc_style"><a target="_blank" href="@ProfileURL">Profile</a></div>
                        <div class="col-3 plr25 Pc_style"><a href="GDPI" class="activepanel">GD/PI</a></div>
                        <div class="col-3 plr25 Pc_style"><a href="change-password">Change Password</a></div>
                        <div class="col-3 plr25 Pc_style"><a href="logout">Logout</a></div>
                    </div>
                </div>
                <div class="FormRow" id="FormPanOne">
                    <div class="formRowInn">
                        <h2 class=" fontBold careerInnerTitle text-center">GD/PI Process</h2>
                        <div class="FormGroup">
                            <div class="form-group">
                                <select class="form-control FormStyle" id="ddlEvent" onchange="getGroupList()">
                                    <option value="0">Select Event Name*</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control FormStyle" id="ddlGroup">
                                    <option value="0">Select Group Name*</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <p>(or search with an application no)</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control FormStyle" id="txtApplicantionNo" placeholder="Enter application no." maxlength="9" />
                            </div>
                            <div class="form-group  d-flex align-items-center">
                                <p class="labelContext fontMedium">Process</p>
                                <label class="LabelForInput">
                                    <input type="radio" name="rdProcess" id="rdProcess" class="RadioStyle" value="GD" checked />
                                    GD
                                </label>
                                <label class="LabelForInput">
                                    <input type="radio" name="rdProcess" id="rdProcess" class="RadioStyle" value="PI" />
                                    PI
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="FormBtn row no-gutters">
                        <div class="btnInn  text-uppercase col-6">
                            @*<button class="br30  fontBold  btn btn-primary backbtn FormBtnStyle" id="gotoFormPanOne" onclick="return doReset();">Reset</button>*@
                        </div>
                        <div class="btnInn text-center text-uppercase col-12">
                            <button class="br30  fontBold  btn btn-primary nextbtn FormBtnStyle" id="btnSearch" onclick="return getSearchResult(1);">Search</button>
                        </div>
                    </div>
                    <input type="hidden" id="hdrowcount" name="rowcount" value="1" />
                    <div id="marknote" style="display:none;">
                        Please enter marks in the fields provided below for each Applicant and click "SAVE" button to submit.
                    </div>
                    <div class="keyword" id="divSearchKeyword"></div>
                    <div class="results" id="divSearchResults">

                    </div>



                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script type="text/javascript" src="/scripts/gdpi.js?i=20200110"></script>
}