﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@section style
{

    <link href="../css/login.css" rel="stylesheet" />
    <style>
         .table td, .table th, .table p {
            font-size: 0.9vw;
			font-weight:500;
        }
		.table td, .table th{
		min-width:100px;
		}

        @@media (max-width: 767px) {
            .table td, .table th, .table p {
                font-size: 3vw;
            }
        }
        .Pc_style a {
            color: #000;
        }

        .th_SubFielsGD {
            font-size: 0.7vw;
            flex: 0 0 100%;
            max-width: 100%;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            text-align: center;
        }
        .th_SubFielsGDL {
            font-size: 0.7vw;
            flex: 0 0 100%;
            max-width: 100%;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            text-align: left;
        }
    </style>
}

<main role="main" class="LoginTemplate">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon"  alt="Breadcrumb Arrow" />
            </a>
        </div>
        <div class="breadcrumbPanel">
            <ol class="breadcrumb breadcrumbCustom">
                <li class="breadcrumb-item fontBold"><a href="javascript:void(0);">Home</a></li>
                @*<li class="breadcrumb-item"><a href="javascript:void(0);">UPES Employees</a></li>*@
                <li class="breadcrumb-item active">View Student Records</li>
            </ol>
        </div>
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <h1 class="fontExBold">
                    View Student Records
                </h1>
            </div>
            <div class="BannerImg position-relative">
                <picture>
                    <img src="../src/img/general-template/events-banner-1.jpg" class="img-fluid" alt="Banner" />
                </picture>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Career Form-->
    <section class="CareerPanel">
        <div class="plr100">
            <div class="ProcessPanel">
                <div class="FormRow" id="FormPanOne">

                    <div class="keyword" id="divSearchKeyword"></div>
                    <div class="results" id="divSearchResults">

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    <script type="text/javascript" src="/scripts/gdpi.js"></script>
    <script>

        $(document).ready(function () {
            //alert("continue..");
            var studid = getUrlParameter("studid");
            var eventid = getUrlParameter("eventid");
            var groupid = getUrlParameter("groupid");

            getStudentRecords(studid, eventid, groupid);
        });

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

    </script>

}