﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    bool IsAuthFaculty = Convert.ToBoolean(Session["isauth_faculty"]);

    if (IsAuthFaculty)
    {
        Response.Redirect("GDPI");
    }
}

@section style
{
    <link href="../css/login.css" rel="stylesheet" />
}

<main role="main" class="LoginTemplate">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        <div class="breadcrumbPanel">
            <ol class="breadcrumb breadcrumbCustom">
                <li class="breadcrumb-item fontBold"><a href="javascript:void(0);">Home</a></li>
                @*<li class="breadcrumb-item"><a href="javascript:void(0);">UPES Employees</a></li>*@
                <li class="breadcrumb-item active">Faculty</li>
            </ol>
        </div>
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <h1 class="fontExBold">
                    Faculty
                </h1>
            </div>
            <div class="BannerImg position-relative">
                <picture>
                    <img src="../src/img/general-template/events-banner-1.jpg" class="img-fluid" alt="Banner" />
                </picture>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Career Form-->
    <section class="CareerPanel BgForLoginPanel">
        <div class="plr100">
            <div class="FacultyLoginPanel">
                <div class="LoginContext">
                    <h2 class=" fontBold careerInnerTitle">Login to your account</h2>
                    
                </div>
                <div class="FormRow">
                    <div class="formRowInn">
                        <div class="FormGroup">
                            <div class="form-group">
                                <input type="text" name="txtEmailFL" id="txtEmailFL" class="form-control FormStyle" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <input type="password" name="txtPasswordFL" id="txtPasswordFL" class="form-control FormStyle" placeholder="Password" />
                            </div>
                        </div>
                    </div>
                    <div class="FormBtn">
                        <div class="btnInn text-center text-uppercase">
                            <button class="br30  fontBold  btn btn-primary SubmitBtn FormBtnStyle" type="button" onclick="return loginValidate();" id="FormButtonOne">Submit</button>
                        </div>
                    </div>
                    <div class="ForgotPwd">
                        <a style="color:#000;text-decoration:underline;" href="forgot-password">Forgot Password?</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

@section scripts{
    <script type="text/javascript" src="~/scripts/faculty-login.js"></script>

    <script>

        $(document).ready(function () {
            //alert("continue..");
            var isLog = getUrlParameter("So");
            //alert(isLog);
            if (isLog == "WtY") {

                alert("Your Session has been expired. Please login to continue..");
            }

        });

        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

    </script>
}