﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";
}

@section style
{
    <link href="/css/GeneralTemplate.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.min.css">
}
@* the fun starts here *@
<style>
    header .HeaderPanel {
    z-index:99;
    }
    .GenerTemplate .DownArrow {
    z-index:80;
    }
    .breadcrumbPanel{
        z-index:80;
    }
</style>
    <main role="main" class="GenerTemplate">
        <section class="banner  BannerSection mb60">
            <div class="DownArrow">
                <a href="#PanelTwo" class="ClickArrow">
                    <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
                </a>
            </div>
            @Html.Partial("BreadCrumb")
            <div class="plr20 fullwidth">
                <div class="BannerStripContext">
                    @*<span class="fontExBold sodText">School of Design (SOD)</span>*@
                    @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                    {
                        <h1 class="fontExBold">
                            @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                        </h1>
                    }

                </div>
                <div class="BannerImg position-relative">
                    @*@if (Model.Content.HasValue("bannerImage"))
                    {
                        var deskBanner = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                        var mobileBanner = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(deskBanner, mobileBanner))
                    }*@
                    <picture>
                        @if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                        {
                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("bannerImage"), Umbraco);
                            var imgpat = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                            <img src="@imgPath.Url" class="img-fluid hideOnMobile" alt="@(imgpat.HasValue("altTag")?imgpat.GetPropertyValue<string>("altTag"):"")" />
                        }

                    </picture>
                    @if (Model.Content.HasValue("mobileBanner"))
                    {
                        var mobileBanner = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                        <div class="MobileBanner d-block d-md-none">
                            <img src="@mobileBanner.GetCropUrl("BannerMob")" class="ShowOnMobile img-fluid" alt="@(mobileBanner.HasValue("altTag")?mobileBanner.GetPropertyValue<string>("altTag"):"")" />
                        </div>
                    }

                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <div class="clearfix"></div>
        <!--Inner-->
        <!--Upcoming Events-->
        <section class="studenAchievPanel StudentLogoBanner" id="PanelTwo">
            <div class="plr100">
                <div class="content">
                    @if(Model.Content.HasValue("galleryImages"))
                    {
                        var galleryImages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("galleryImages");
                        if(galleryImages!=null)
                        {
                            if(galleryImages.Count()!=0)
                            {
                    <p class="imglist">
                        @foreach (var galleryImage in galleryImages)
                        {
                            if (galleryImage.HasValue("image"))
                            {
                                var imgPath = galleryImage.GetPropertyValue<IPublishedContent>("image");
                                if (imgPath != null)
                                {
                                    <a href="@(imgPath.GetCropUrl(1500,1000))" data-fancybox data-caption="@Html.Raw(galleryImage.GetPropertyValue("caption"))">
                                        <img src="@(imgPath.GetCropUrl(240,160))" />
                                    </a>
                                }
                            }
                        }
                    </p>
                            }
                        }
                    }
                    
                </div>
        </section>
        @if (Model.Content.HasProperty("contentPicker2") && Model.Content.HasValue("contentPicker2"))
        {
            var events = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contentPicker2");
            if (events.Any())
            {
                int showcaseIndex = 1;
                <!--Industry Ties up and Testimonials-->
                <section class="Ties_TestimonialPanel position-relative forZIndex">
                    <div class="TiesUpPanel position-relative">
                        <div class="plr100">
                            @if (Model.Content.HasProperty("sectionTitle2") && Model.Content.HasValue("sectionTitle2"))
                            {
                                <div class="StoryTitleStrip StoryTitleStripForTieUp Yellowstripbgfull text-uppercase d-flex">
                                    <h2 class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue("sectionTitle2"))</h2>
                                </div>
                            }

                            <div class="link_list text-right noPadding LinkPosition" id="divViewAllSection2" style="display:none;">
                                <a id="aViewAllSection2" onclick="doShowSection2('divSection2Container', 'aViewAllSection2');" class="fontBold text-uppercase text-decoration">View all</a>
                            </div>
                            <div class="TieUpPosition">
                                <div class="row EventCarousel mlr" id="divSection2Container">


                                    <input type="hidden" id="hfSection2ViewAll" value="@events.Count()" />
                                    @foreach (var evente in events)
                                    {
                                        <div class="col-4 EventPanelStyle EventPanelOne plr7" id="divSection2Showcase_@showcaseIndex">
                                            @if (evente.HasValue("thumbImage"))
                                            {
                                                var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(evente.GetPropertyValue<string>("thumbImage"), Umbraco);
                                                <img src="@imgPath.GetCropUrl("Achievements")" alt="@(imgPath.HasValue("altTag") ? imgPath.GetPropertyValue<string>("altTag") : "")" class="img-fluid" />
                                            }

                                            <div class="AchieveContext">
                                                <div class="AchieveContextInn">
                                                    @if (evente.HasValue("smallTitle"))
                                                    {
                                                        <div class="AchieveContextPAra">
                                                            <p class="fontBold">
                                                                @Html.Raw(evente.GetPropertyValue("smallTitle"))
                                                            </p>
                                                        </div>
                                                    }
                                                    @if (evente.HasProperty("sAKnowMoreLink") && evente.HasValue("sAKnowMoreLink"))
                                                    {
                                                        var button1Index = evente.GetPropertyValue<RelatedLinks>("sAKnowMoreLink");
                                                        if (button1Index.Any())
                                                        {
                                                            var linkTarget = (button1Index.First().NewWindow) ? "_blank" : null;
                                                            <a href="@button1Index.First().Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@button1Index.First().Caption</a>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                        showcaseIndex++;
                                    }

                                </div>
                            </div>
                        </div>
                        <!--Testimonials-->
                    </div>
                </section>
            }
        }
    </main>
@Html.Partial("Floating")

@section scripts{
    <script src="/scripts/jquery.fancybox.min.js"></script>
}
