﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/applicants.css" rel="stylesheet" type="text/css" />
    <link href="/css/GeneralTemplate.css?v=jvhbhb" rel="stylesheet" type="text/css" />
    <link href="/css/generalcontentgrid.css" rel="stylesheet" type="text/css" />
    <style>
   

    
    h4.pb-2 {
    font-size: 20px;
    font-weight: 600;
}
        .general-popup #newmodal h3{
            padding:0px !important;
        }
        .general-popup #newmodal p{
            padding:0px !important;
        }
        
    section.PanelInner.studenAchievPanel_PaddingSpacing.industry_page .row.panelRow {
    padding: 0;
}

.pathway-sec h2 {
    font-size: 42px;
    text-align: center;
    padding-bottom: 30px;
    color: #154985; font-weight: 400;
}
.row.page_head_sec table.table.table-bordered ul {
    padding-bottom: 0;
}

.row.page_head_sec ul li ul {
    margin-bottom: 0px;
    padding-bottom: 10px!important;
}
.row.page_head_sec p.sub-head {
    font-size: 16px;
}
.row.page_head_sec table.table.table-bordered td {
    padding: 20px;
}
.row.page_head_sec h3 {
    padding-bottom: 20px;
}

.row.page_head_sec h2 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

section.PanelInner.studenAchievPanel_PaddingSpacing.industry_page .plr100.padd_page {
    padding: 0;
}

section.PanelInner.studenAchievPanel_PaddingSpacing.industry_page ul {
    padding-bottom: 30px;
}

section.PanelInner.studenAchievPanel_PaddingSpacing.industry_page h1 {
    font-size: 24px;
    padding-bottom: 21px;
}

table.table.table-hover.industry_table td {
    padding: 10px 10px;
}
table.table.table-hover.industry_table {
    width: 100% !important; margin-top: 20px; margin-bottom: 40px;
}

img.img-fluid.right_logo {
    float: right;
    position: absolute;
    top: 20px;
    right: 0px;
    border: 1px solid #dee2e6 !important;
    padding: 20px 60px;
}

.GenerTemplate .BannerStripContext {height: 20vw;}
.international_col h4 {
   font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;

}
.table td, .table th {
    padding: .75rem !important;}
a.btn.btn-primary.bg_blue {
    padding: 10px 30px;
    float: right;
    margin-top: 20px;
    background: #154985;
}
a.btn.btn-primary.bg_blue:hover {
    background: #d2b211;
    color: #000000;
}
 
a.btn.btn-primary.bg_white {
    padding: 10px 30px;
    float: right;
    margin-top: 20px;
    background: #FFF;  color: #000000;
}
a.btn.btn-primary.bg_white:hover {
    background: #ffda22;
    color: #000000;
}
.international_col p {
    font-size: 16px;
}
.international_col h2 {
    padding-bottom: 40px;
}
    .row.page_head_sec h3 {
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: 600;
}
.row.page_head_sec ul li {
    font-size: 16px;
    padding-bottom: 10px;
}
.row.page_head_sec p.sub-head {
    font-size: 21px;
}
.row.page_head_sec table.table.table-bordered td {
    font-size: 16px;
}

.row.page_head_sec p {
    font-size: 16px;
    line-height: 1.5;
}

       
 .btn-link::after {
            content: '>';
            font-family: monospace;
            position: absolute;
            right: 25px;
            font-weight: 600;
            font-size: 1.6vw;
            color: #A1A1A1;
            top: 12px;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
       /*  .btn-link[aria-expanded="false"]::after {
            content: '>';
            font-family: monospace;
            position: absolute;
            right: 25px;
            font-weight: 600;
            font-size: 1.6vw;
            color: #A1A1A1;
            top: 12px;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
         .btn-link[aria-expanded="true"]::after {
            content: '>';
            font-family: monospace;
            transform: rotate(270deg);
        }
        */
       .xl31831 {
    mso-style-parent: style0;
    color: #141414;
    font-size: 10.0pt;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    border-top: .5pt solid windowtext;
    border-right: none;
    border-bottom: none;
    border-left: .5pt solid windowtext;
    white-space: normal;
}
.grey-bg{
	padding: 60px 0;
    background: #f7f7f7;
}
.GenerTemplate p, .GenerTemplate .panelRow td, .GenerTemplate .column div{
	font-size:16px !important;
	line-height: 1.7 !important;
}
.click-btn{
	font-size: 12px !important;
    color: #fff;
    width: auto;
    margin: 0 0 0 6px;
    padding: 5px 15px;
    background: #00448b;
    text-align: center;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.click-btn:hover{
	color:#fff;
}
.skyblu-bg{
background-color:#f3f9ff;
padding:30px;
margin:40px 0;
}
.blue1-bg{
background-color:#ecf5fe;
padding:30px;
}
.text-right{
text-align:right;
}
.table-bordered {
    border: 1px solid #dee2e6;
    margin-bottom: 50px;}
    .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.applicants .accord-wrapper .CardHeaderPanel > a{
font-size:15px !important;
padding: 16px !important;
}
.admission_warea{
    width:95%;
}
.applicants .accord-wrapper .CardHeaderPanel > a::after, .applicants .card-body.cardContext ul li {
    font-size:15px !important;
}

    </style>
}
<main role="main" class="GenerTemplate applicants">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60 ">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.Parent.Name == "School")
                {
                    <span class="fontExBold sodText">@Model.Content.Name</span>
                }
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                       @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                {
                    var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("heroBanner"), Umbraco);
                    //var imgPat = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                    if (imgPath != null)
                    {
                        <picture>
                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag") ? imgPath.GetPropertyValue("altTag") : "")" />
                        </picture>
                        /**/

                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    
            <section>
            <div class="container">
                @if (Model.Content.HasValue("multiLevelTitleAndDescription"))
                {
                    int i = 0;
                    var topics = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("multiLevelTitleAndDescription");
                    <div class="bs-title-description">
                        <div class="accordion" id="accordionExample">
                            @foreach (var topic in topics)
                            {
                                var topicMainTitle = topic.GetPropertyValue<string>("mainTitle");
                               
                                var topicSubTitles = topic.GetPropertyValue<IEnumerable<IPublishedContent>>("subTitleAndDescription");
                                int j = 0;
                                i++;
                                if (!string.IsNullOrEmpty(topicMainTitle))
                                {
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="@("#collapse" + i.ToString())">@topicMainTitle</button>
                                            </h2>
                                        </div>

                                        @foreach (var topicSubTitle in topicSubTitles)
                                        {

                                            var topicSubTitleText = topicSubTitle.GetPropertyValue<string>("title");
                                            var topicSubTitleDescription = topicSubTitle.GetPropertyValue<string>("details");
                                            <div id="@("collapse" + i.ToString())" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <div type="button" class="btn btn-link" data-toggle="collapse" data-target="@("#subCollapseTwo"+ i.ToString()+ j.ToString())">@topicSubTitleText</div>
                                                </div>
                                                <div id="@("subCollapseTwo"+i.ToString() + j.ToString())" class="collapse" aria-labelledby="headingOne" data-parent="@("#collapse" + i.ToString())">
                                                    <div class="card-body">
                                                        @Html.Raw(topicSubTitleDescription)
                                                    </div>
                                                </div>
                                            </div>
                                            j++;
                                        }

                                    </div>
                                }
                            }



                        </div>
                    </div>

                }
            </div>
        </section>

    <!--Inner-->
    <section class="PanelInner studenAchievPanel_PaddingSpacing industry_page pt-0" id="PanelTwo">
        <div class="plr100 padd_page">
            <div class="container">
            <div class="row panelRow">
                @if (Model.Content.HasValue("accordionContent") && Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("accordionContent").Count()>1)
                {
                    <div class="wrapper-75">
                        <div class="accord-wrapper">
                            <!--Accordion Panel-->
                            <div id="HELP-TOPICS-AccordionPanel" class="AccordionStyle ">
                                @if (Model.Content.HasProperty("accordionContent") && Model.Content.HasValue("accordionContent"))
                                {
                                    int i = 0, j = 0;
                                    var topics = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("accordionContent");
                                    foreach (var topic in topics)
                                    {
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="CardHeaderPanel">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-target="#HELP-TOPICS-AccordionPanel@(i=i+1)"
                                                       href="javascript:void(0);"
                                                       aria-expanded="false" aria-controls="PanelOne">
                                                        @if (topic.HasValue("accordionTitle"))
                                                        {
                                                            @Html.Raw(topic.GetPropertyValue("accordionTitle"))
                                                        }
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="HELP-TOPICS-AccordionPanel@(j=j+1)" class="collapse" data-parent="#HELP-TOPICS-AccordionPanel"
                                                 aria-labelledby="heading-3">
                                                <div class="card-body cardContext">
                                                    <p class="fontMedium">
                                                        @if (topic.HasValue("accordionContent"))
                                                        {
                                                            @Html.Raw(topic.GetPropertyValue("accordionContent"))
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                }
                
                
                
                
                
                @*@if (Model.Content.HasProperty("showcaseImage") && Model.Content.HasValue("showcaseImage"))
                    {
                        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("showcaseImage"), Umbraco);
                        //var imgPat = Model.Content.GetPropertyValue<IPublishedContent>("showcaseImage");
                        if (imgPath != null)
                        {
                            <div class="col-sm-6 panelLeft">
                                <picture>
                                    <img src="@imgPath.Url" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                </picture>
                            </div>
                        }
                    }*@
                @if (Model.Content.HasValue("detailContent"))
                {
                    <div class="col-sm-6 PanelContext">
                        @if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                        {
                            <h2 class="fontExBold panelTitle">
                                @Html.Raw(Model.Content.GetPropertyValue("showcaseTitle"))
                            </h2>
                        }
                        @if (Model.Content.HasProperty("publishedDate") && Model.Content.HasValue("publishedDate"))
                        {
                            <h3>
                                @(Model.Content.GetPropertyValue<DateTime>("publishedDate").Date.ToString("dd-MMM-yyyy"))
                            </h3>
                        }

                        @if (Model.Content.HasProperty("detailContent") && Model.Content.HasValue("detailContent"))
                        {
                            @Html.Raw(Model.Content.GetPropertyValue("detailContent"))
                        }
                    </div>
                }
                else
                {
                    if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                    {
                        <h2 class="fontExBold panelTitle">
                            @Html.Raw(Model.Content.GetPropertyValue("showcaseTitle"))
                        </h2>
                    }
                }

                @(Model.Content.GetGridHtml(Html, "pageContent", "Custom-Grid"))

                @{
                    if (Request.Url.ToString().Contains("/careers/"))
                    {
                        if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                        {
                            <div class="row no-gutters justify-content-center">
                                <a href="/apply-online?job=@(Server.UrlEncode(Model.Content.GetPropertyValue("showcaseTitle").ToString()))" target="_blank" class="br30 fontBold btn btn-primary BtnStyle center LoadMore">Apply Now</a>
                            </div>
                        }
                    }
                }
            </div>
            </div>
            
        </div>
    </section>
    <div class="clearfix"></div>
</main>
@Html.Partial("Floating")

@* new modal *@
@if (Model.Content.HasProperty("popup") && Model.Content.HasValue("popup"))
{
    var popupContent = Model.Content.GetPropertyValue<IPublishedContent>("popup");
    if (popupContent.GetPropertyValue<bool>("enablePopup"))
    {
        <div class="general-popup">
            <div id="newmodal" data-backdrop="false" class="NewmodalStylePopup modal fade bs-example-modal-lg align-items-center pr-0" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body" id="divExamRegistrationModalContent">
                            <div class="content text-center text-md-left">
                                @*bind content div, loop if multiple*@
                                <div class="header">
                                    <h3 class="fontBold">@Html.Raw(popupContent.GetPropertyValue("popupTitle"))</h3>
                                </div>
                                <div>
                                    <p class="text-left">@Html.Raw(popupContent.GetPropertyValue("popupContent"))</p>
                                    @if (popupContent.HasValue("popupButton"))
                                    {
                                        var link = popupContent.GetPropertyValue<RelatedLinks>("popupButton").First();
                                        if (link != null)
                                        {
                                            <div class="text-center">
                                                <a class="btn btn-primary p-2 btn-custom" href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@if (Model.Content.HasProperty("imagePopup") && Model.Content.HasValue("imagePopup"))
{
    var imagePopup = Model.Content.GetPropertyValue<IPublishedContent>("imagePopup");
    if (imagePopup.GetPropertyValue<bool>("imagePopupEnable"))
    {
        if (imagePopup.HasValue("popupLink"))
        {
            var link = imagePopup.GetPropertyValue<RelatedLinks>("popupLink").FirstOrDefault();
            if (imagePopup.HasValue("popupImage"))
            {
                var popupMedia = imagePopup.GetPropertyValue<IPublishedContent>("popupImage");
                <div class="general-popup">
                    <div id="newmodal" data-backdrop="false" class="modal NewmodalStyle fade bs-example-modal-lg align-items-center pr-0 show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="padding-right: 17px; display: block;">
                        <div class="modal-dialog modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body" id="divExamRegistrationModalContent">
                                    <div class="content text-center text-md-left">

                                        <div class="header">
                                            <h3 class="fontBold"></h3>
                                        </div>
                                        <div class="d_text">
                                            <p class="text-left"></p>
                                            @if (link != null)
                                            {
                                                <a href="@link.Link" target="_blank">
                                                    <img style="width: 500px; height: 200px;" src="@popupMedia.Url?width=500&height=200" alt="@(popupMedia.HasValue("altTag")?popupMedia.GetPropertyValue<string>("altTag"):"")">
                                                </a>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

@section scripts{
    <script>
        $(document).ready(function () {
            var pageURL = $(location).attr("href");
            var eleId = pageURL.split('#')[1];
            var headerH = $('.HeaderPanel').outerHeight();
            if (eleId != '' || eleId != undefined) {
                $('html,body').animate({
                    scrollTop: $("#" + eleId).offset().top - headerH
                },
                    'slow');
            }
        });
        $(document).ready(function () {
            setTimeout(function () { $('#newmodal').modal('show'); }, 3000);
        });
        $('#newmodal').on("hidden.bs.modal", function () {
            $('#newmodal').removeClass('d-flex');
        });
    </script>

}
