﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.GoGlobal>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/industry.min.css" rel="stylesheet" type="text/css" /> 
    <link href="/css/applicants.css" rel="stylesheet" type="text/css" />   
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" type="text/css" />
}
    <!--Banner Block-->
    <style>.industry .Orange-Strip::before {
    background: #ffca08;
    width: 0;
    content: '';
    height: 100%;
    top: 0;
    position: absolute;
}

main.industry p {font-weight: 500 !important;
    font-size: 1vw;
    line-height: 1.9;     padding-bottom: 20px;}
	
	.global-reality ul li {
    padding-bottom: 8px;
    list-style-type: disc;
    font-weight: 500 !important;
    font-size: 1vw;
    line-height: 1.9;
}

a.btn.btn-primary.bg_blue {
    padding: 10px 30px;
    float: right;
    margin-top: 20px;
    background: #154985;
}

a.btn.btn-primary.bg_white {
    padding: 10px 30px;
    float: right;
    margin-top: 20px;
    background: #FFF;
    color: #000000;
}

.pathway-sec ul li, .admission-process-sec ul li {
    padding-bottom: 5px;
    list-style-type: disc;
    font-weight: 500 !important;
    font-size: 1vw;
    line-height: 1.9;
}
.blue-bg11 p {
    color: white;
}
.blue-bg11 h4 {
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
}
.pathway-sec.university_text h2 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
}
.pathway-sec.university_text {
    padding: 10px 40px 70px;
    text-align: center;
}
.pathway-sec.university_text a.btn.btn-primary.bg_blue {
    padding: 10px 30px;
    float: none;
    margin-top: 20px;
    background: #154985;
}

</style>

<main role="main" class=" industry">
  <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        <!-- var result = upes_website.Core.ExamineExtensions.ExamineAlias("home");
        IPublishedContent homeContent = Umbraco.TypedContent("1152"); -->

        @Html.Partial("BreadCrumb")

        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                 @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
	
 <div class="overview-sec global-reality"> <div class="container">
  <div class="row">
      <div class="col-12 col-md-6">
	  <p><strong>For the future changemaker</strong></p>
	  <p>Imagine exploring new cultures, tapping emerging markets & creative insights with an international degree. You launch your dream by studying in India and move to a top overseas university of your choosing to complete your undergraduate or post-graduate course.  </p>
        <ul>
            <li>Our ‘Global Campus Program’ facilitates this transition from classrooms to boardrooms through our STEM and business courses. These are relevant and multi-disciplinary courses that make you industry ready & future-proof, your learning.  </li>
<li>UPES will facilitate these courses and your smooth transition to the remaining years of your course in our Partner Universities, overseas. How? We map the courses with our Partner Universities and ensure your credits for the first year are added to the remaining years of academic journey abroad.</li>
      </ul>
      <p>This is your opportunity to ace your game and be a world leader! We bring you the best learning from the best faculty, smashing curriculums and globally relevant academic & industry practices. We’re here to boost your employability globally, with trend mapping & technological practices, industry mentoring and recruitment. Join us, to craft a New World Order!</p>
      </div>
      <div class="col-12 col-md-6">
          <h4>Global  Campus: The New Reality</h4>
          <ul>
              <li> Highly skilled faculty, global teaching & learning methodologies</li>
                    <li>Guaranteed entry to 2nd Year at Partner University*</li>
                    <li>Get 100% Credit Transfer in Year 2*</li>
                    <li>Considerable savings for our students-Living and Tuition Expenses 
              </li>
          </ul>
          <p>*This is subject to completion of UPES Pathway Program and meeting all Entry Requirements</p>
    </div>
  </div>
           
            </div>
            </div>
            <div class="pathway-sec">
                 <div class="container">
                    <h2>GLOBAL CAMPUS PATHWAYS</h2>
                    <div class="row">
                            <div class="col-12 col-md-6">
                                    <p>Get exposure to world class education and new age industry practices with these customized courses that are futuristic and impactful. Learn the best, from the best! Depending on the university of your choice. Below are the progression options with core & elective subjects in your chosen stream:
                                         </p>
                                         <ul>
                                             <li>
                                                   <b>First year/Semester at UPES </b>
                                                    <ul>
                                                   <li> UG Pathway - 1 plus 2 option</li>
                                                   <li> UG Pathway - 1 plus 3 option</li>
                                                   <li> PG Pathway - 1 + 1 option</li>
                                                </ul>
                                             </li>
                                         </ul>
                                </div>
                                <div class="col-12 col-md-6">  <p><img src="images/gcp-img.jpg" alt="" class="img-fluid"></p></div>
                       </div>         
              </div></div>    
              <div class="pathway-sec">
                    <div class="container">
                       <h2>ACADEMIC FRAMEWORK</h2>
                       <p><img src="https://www.upes.ac.in/media/4971/academic-framework-img122.jpg" alt="" class="img-fluid desktop-stem-img">
                        <img src="https://www.upes.ac.in/media/4970/academic-framework-img1-mobile22.jpg" alt="" class="img-fluid mobile-stem-img"></p>
                       <p class="text-center">Remaining semesters of UG/PG to be completed at Partner University local campus</p>
                    </div>
                    <div class="fan-icon">
                        <a href="https://www.upes.ac.in/aspiring-students#financialSection">FAQS <img src="images/fan-icon.png" alt="" class="img-fluid"></a>
                    </div>
              </div> 
              <div class="pathway-course">
                    <div class="container">
                  <h2>COURSE</h2>
                  <div class="row no-gutters">
                        <div class="col-12 col-md-6"><img src="images/1imgcourse.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-12 col-md-6"> <div class="yellow-bg11 pr-5 pl-5 pt-5">
                                <h4>International Diploma in Science/ Engineering - UG Course</h4>
                                <p>•	This is a one-year programme that has been co-created in consultation with our Partner Universities. Students are prepared--academically and culturally- for a progression to our foreign Partner University campus and receive an international degree in International Science/Engineering.  </p>
								<p><a href="https://www.upes.ac.in/goglobal-ug-course-engineering" class=" btn btn-primary bg_blue">Read More</a></p>
                                </div></div>
                              <!--  <div class="col-12 col-md-6">
                                        <div class="blue-bg11 pr-5 pl-5 pt-5">
										 <h4>International Diploma in Business - UG Course </h4>
                                <p>This is a one-year programme that has been co-created in consultation with our Partner Universities. Students are prepared--academically and culturally- for a progression to our foreign Partner Universities and receive an international degree in Business Management. </p>
								
								<a href="https://www.upes.ac.in/goglobal-ug-course-business" class="btn btn-primary bg_white">Read More</a>
										</div>
                        
                                        </div>
                                        <div class="col-12 col-md-6"><img src="images/2imgcourse.jpg" alt="" class="img-fluid">
                                        </div>-->
                  </div>
                  </div>    </div>
                  
                  
                <div class="pathway-sec university_text">
                    <div class="container">
                    <div class="row">
                    <div class="col-md-6 ntu">
                    <h2 class="pb-3">NOTTINGHAM TRENT UNIVERSITY (NTU)</h2>
                    <img src="https://www.upes.ac.in/media/5042/ntu_logo.jpg" class="img-fluid border" />
                       <p class="py-4">Nottingham Trent University (NTU) is a leading public research university in Nottingham, England. It was awarded University of the Year in 2019 by The Guardian. It was also ranked number 12 in the UK by the Guardian in 2020.</p>
                        <a href="https://www.upes.ac.in/goglobal/nottingham-trent-university" class="btn btn-primary bg_blue">Read More</a>
                        
                    </div>
                    
                     <div class="col-md-6 ucf">
                    <h2 class="pb-3">UNIVERSITY OF CENTRAL FLORIDA, US</h2>
                     <img src="https://www.upes.ac.in/media/5043/ucf_logo.jpg" class="img-fluid border" />
                       <p class="py-4">Founded in 1963 with the mission to provide talent for Central Florida and the growing U.S. space program, UCF has become one of the best colleges for quality, access, impact and value. </p> 
                        <a href="https://www.upes.ac.in/goglobal/ucf" class="btn btn-primary bg_blue">Read More</a>
                        
                    </div>
                    </div>
                       
                    </div>
                    
              </div>  
                  
                  
                  
                  
                  <div class="admission-process-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                        <img src="images/3imgcourse.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-12 col-md-6 pr-5 pl-5 pt-4">
                                    <h4>Admission Process</h4>
                                    <ul>
                                     <li>Fill out UPES and PARTNER UNIVERSITY Application form</li>
<li>Submit all relevant academic documents including your photograph and copy of passport</li>
<li>Receive offer letter from UPES Academy and confirmation from PARTNER UNIVERSITY</li>
<li>Offer acceptance within 15 working days along with Acceptance Deposit</li>
<li>Balance fees to be paid at the time of enrolment</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 pt-5">
                                    <h4>Entry Requirement</h4>
                                    <ul>
                                       <li>Age requirements:&nbsp;17 years</li>
<li>Completion of Grade 12 Indian Board or equivalent</li>
<li>Academic requirements for GLOBAL CAMPUS PATHWAY PROGRAM</li>
<li>State board - 70%</li>
<li>CBSE board - 65%</li>
<li>ISC board - 60%</li>
<li>IB board - 25 IB points</li>
<li>A Levels &ndash; DDD</li>
<li>Any one of the Following:
<ul>
<li>Proof of an IELTS Test with a result of 5.5</li>
<li>Proof of a TOEFL iBT Test with a score of at least 72</li>
<li>Proof of a PTE Academic score with a score of 51</li>
</ul>
</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 pt-5">
                                    <h4>Documents Required</h4>
                                    <ul>
                                     <li>Statement of Purpose</li>
<li>10<sup>th</sup> Grade Marksheets</li>
<li>10th Passing Certiﬁcate</li>
<li>12th Grade Marksheets</li>
<li>12th Passing Certiﬁcate</li>
<li>Two Photographs</li>
<li>Passport Copy</li>
<li>Pan Card Copy or Aadhar Card Copy &nbsp;</li>
<li>IELTS/PTE/TOEFL score</li>
                                    </ul>
                                </div>
                            </div>
            </div></div>
            
</body>
<style>
    .overview-sec {background: #f7f9f2;  width: 100%; padding: 70px 0;display: table;}
    .global-reality{padding: 60px 0 100px;}
    .global-reality h4 { font-size: 24px;text-transform: uppercase;  padding-bottom: 20px; font-weight: bold;}
    .global-reality ul {  padding-left: 20px;}
    .global-reality ul li{padding-bottom:8px;     list-style-type: disc;}
    .pathway-sec{width: 100%; padding: 70px 0;display: table;}
    .pathway-sec h2{font-size: 42px;text-align: center; padding-bottom: 50px;color: #154985;}
    .pathway-sec ul{padding-left: 20px;}
    .pathway-sec ul li{padding-bottom:5px;     list-style-type: disc;}
    .pathway-sec ul ul{padding-top: 10px;}
    .fan-icon a { background: #ee403d;color: #fff; padding: 18px 35px; font-size: 18px;    text-decoration: none;
    display: inline-block;}
    .fan-icon a img{padding-left: 8px;}
    .fan-icon {float: right;}
    .pathway-course{width: 100%; padding: 20px 0 70px;display: table;}
    .pathway-course h2{font-size: 42px;text-align: center; padding-bottom: 50px;color: #154985;}
    .yellow-bg11{ background: #ffda22; height: 100%;width: 100%;}
    .blue-bg11{ background: #154985; height: 100%;width: 100%;}
    .pathway-course ul{padding-left: 20px;}
    .pathway-course ul li{padding-bottom:5px;     list-style-type: disc; color: #fff;}
    .yellow-bg11 h4{font-size: 24px;  padding-bottom: 20px; font-weight: bold;}
    .admission-process-sec{width: 100%; padding: 50px 0 70px;display: table; background: #ededed;}
    .admission-process-sec h4{font-size: 24px;  padding-bottom: 20px; font-weight: bold;}
    .admission-process-sec ul{padding-left: 20px;}
    .admission-process-sec ul ul{padding-top: 10px;}
    .admission-process-sec ul li{padding-bottom:5px;     list-style-type: disc;}
    .overview-sec h2 {
    font-size: 42px;
    text-align: center;
    padding-bottom: 20px;
    color: #154985;
}

    .mobile-stem-img, .industry .breadcrumbPanel { display: none;}
    @@media only screen and (min-width:0px) and (max-width:767px){
        .mobile-stem-img{ display:block;}
        .desktop-stem-img{ display: none;}
        
        .industry .BannerImg img {
    width: 100%;
    height: 170px;
}
.industry .BannerSection .BannerStripContext {
    left: 0;
    display: none;
}
main.industry p {
    font-size: 14px; }
.global-reality ul li, .pathway-sec ul li, .admission-process-sec ul li {
    font-size: 14px;
}

.global-reality h4 {
    font-size: 18px; line-height: 1.5;}
    
    .pathway-sec h2, .pathway-course h2 {
    font-size: 22px;
    font-weight: 500;
}
.pathway-sec {
    
    padding: 50px 0 0;
    
}
.yellow-bg11 h4 {
    font-size: 18px;}
    .yellow-bg11.pr-5.pl-5.pt-5, .blue-bg11.pr-5.pl-5.pt-5, .admission-process-sec .col-12.col-md-6.pr-5.pl-5.pt-4 {
    padding: 20px !important;
}
a.btn.btn-primary.bg_blue, a.btn.btn-primary.bg_white {
    margin-top: 20px;
   margin-bottom: 40px;
}

 
    }
    </style>
    </main>