﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}@section style
{
    <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/industry.min.css" rel="stylesheet" type="text/css" /> 
    <link href="/css/applicants.css" rel="stylesheet" type="text/css" />   
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" type="text/css" />
}
    <!--Banner Block-->
    <style>.industry .Orange-Strip::before {
    background: #ffca08;
    width: 0;
    content: '';
    height: 100%;
    top: 0;
    position: absolute;
}</style>

<main role="main" class=" industry">
  <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        <!-- var result = upes_website.Core.ExamineExtensions.ExamineAlias("home");
        IPublishedContent homeContent = Umbraco.TypedContent("1152"); -->

        @Html.Partial("BreadCrumb")

        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                 @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

      <div class="overview-sec"> <div class="container">
            <h2>Overview</h2>
            <ul>
                  <li>This is a one-year programme that has been co-created in consultation with our Partner Universities. Students are prepared--academically and culturally- for a progression to our foreign Partner University campus and receive an international degree in International Science/Engineering. </li>
                  <li>This course-which is in two terms- provides students with knowledge and understanding of basic fundamentals. These include mathematical, physics, engineering, biological concepts, academic communication and problem-solving skills. The course also helps students who require additional English language support. </li>
                  <li>It’s equivalent to the first year of the respective degree programs at the Partner Universities and the credits earned through this program will be fully transferable to the Partner University. The student will pursue the remaining program at the Partner University campus and will receive a business degree from there.</li>
            </ul>
            </div>
            </div>
            <div class="overview-sec2">
                 <div class="container">
                    <h2>STEM CORE*</h2>
                    <p >(Electives and masterclasses would be over and above the below-listed core courses)</p>
                    <p class="pb-4 pt-4"><img src="images/stem-core-img1.png" alt="" class="img-fluid desktop-stem-img">
                        <img src="https://www.upes.ac.in/media/4848/stem-core-img1-mobile.png" alt="" class="img-fluid mobile-stem-img"></p>
                    <p>*Each Course would have approx. 45 contact hours that translates into 3 credits in India (Equivalent of 5 ECTS credits)<br>
                            ** Indicative Sequence – the actual sequence of offering may vary as per the partner requirement</p>
              </div></div>    
              <div class="overview-sec3 d-none">
                    <div class="container">
                       <h2>BUSINESS CORE*</h2>
                       <p>(Electives and masterclasses would be over and above the below-listed core courses)</p>
                       <p class="pb-4 pt-4"><img src="images/business-core-img1.png" alt="" class="img-fluid desktop-stem-img">
                        <img src="images/business-core-img1-mobille.png" alt="" class="img-fluid mobile-stem-img"></p>
                       <p>*Each Course would have approx. 45 contact hours that translates into 3 credits in India (Equivalent of 5 ECTS credits)<br>
                            ** Indicative Sequence – the actual sequence of offering may vary as per the partner requirement</p>
                 </div></div>   
</body>
<style>
    .overview-sec {background: #f7f9f2;  width: 100%; padding: 70px 0;display: table;}
    .overview-sec ul {  padding-left: 20px;}
    .overview-sec h2{    font-size: 42px;text-align: center;padding-bottom: 20px;    color: #154985;}
    .overview-sec ul li {  list-style-type: disc;padding-bottom: 10px; font-size: 18px;}
    .overview-sec2{background: #194885; width: 100%; padding: 70px 0;display: table; text-align: center;}
    .overview-sec2 h2{    font-size: 42px;text-align: center;padding-bottom: 20px;    color: #fff;}
    .overview-sec2 p{ color: #fff;  }
    .overview-sec3 {background: #f7f9f2;  width: 100%; padding: 70px 0;display: table; text-align: center;}
    .overview-sec3 h2{    font-size: 42px;text-align: center;padding-bottom: 20px;    color: #154985;}
    .mobile-stem-img{ display: none;}
    @@media only screen and (min-width:0px) and (max-width:767px){
        .mobile-stem-img{ display:block;}
        .desktop-stem-img{ display: none;}
        
           
         .industry .BannerImg img {
    width: 100%;
    height: 170px;
}
.industry .BannerSection .BannerStripContext, .industry .breadcrumbPanel {
    left: 0;
    display: none;
}
.overview-sec ul li {
    font-size: 16px;
}

.overview-sec h2 {
    font-size: 24px;
    font-weight: 500;
}
        
        
    } 

    </style>
    </main>