﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/HomeTemplate.min.css" rel="stylesheet" type="text/css" />
}
<main role="main" class="HomePanel">
    <!--Banner-->
    <section class="banner  mb60 BannerSection HomeBannerPanel">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <h1 class="fontExBold">
                    @Html.Raw(Model.Content.GetPropertyValue("bannerText"))
                </h1>
            </div>
            <div id="HomeCarouselPanel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators homeIndicatorStyle">
                    @if (Model.Content.HasValue("heroBanner"))
                    {
                        var count = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("heroBanner");
                        for (int i = 0; i < count.Count(); i++)
                        {
                            <li data-target="#HomeCarouselPanel" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                        }
                    }
                </ol>
                <div class="carousel-inner">
                    @if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                    {
                        int i = 0;
                        //var imgPaths = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("heroBanner"), Umbraco);
                        //IEnumerable<IPublishedContent> imgPath=AST.S3.Helper.MediaHelper.ParseMedia("",Umbraco);
                        var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("heroBanner");
                        foreach (var imgPath in imgPaths)
                        {
                            <div class="carousel-item @(i==0?"active":"")">

                                @{
                                    var imgPat = AST.S3.Helper.MediaHelper.ParseMedia(imgPath.ToString(), Umbraco);
                                }
                                <div class="BannerImg position-relative">
                                    @if (imgPat != null)
                                    {
                                        @Html.Partial("HeroBanner", imgPat)
                                    }

                                </div>
                            </div>
                            i++;
                        }
                    }
                </div>
            </div>
            <div class="WatchPanel d-flex">
                @Html.Partial("_watchvideo")
                @*@if (Model.Content.HasProperty("videoURL") && Model.Content.HasValue("videoURL"))
                    {
                        var link = Model.Content.GetPropertyValue<RelatedLinks>("videoURL").FirstOrDefault();
                        if (link != null)
                        {
                            <a data-toggle="modal" data-target="#topBannerVideo" class="br30  btn btn-primary HomeBtnStyle fontBold text-uppercase">
                                <span>@(link.Caption)</span>
                                <picture>
                                    <img src="/src/img/home/video-icon.png" class="img-fluid" alt="PlayIcon" />
                                </picture>
                            </a>
                        }
                    }*@
                @if (Model.Content.HasProperty("campusTour") && Model.Content.HasValue("campusTour"))
                {
                    var link = Model.Content.GetPropertyValue<RelatedLinks>("campusTour").FirstOrDefault();
                    if (link != null)
                    {
                        @*<a onclick="doOpenVirtualTour('@(link.Link)');" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
                                <span>@(link.Caption)</span>
                                <picture>
                                    <img src="/src/img/home/3d-icon.png" class="img-fluid" alt="PlayIcon" />
                                </picture>
                            </a>*@
                        <a href="@(link.Link)" target="_blank" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
                            <span>@(link.Caption)</span>
                            <picture>
                                <img src="/src/img/home/3d-icon.png" class="img-fluid" alt="PlayIcon" />
                            </picture>
                        </a>
                    }
                }
            </div>
            <!--modal-->
            <div class="general-popup">
                <!-- Video modal -->
                @Html.Partial("genral_popup")
                @*<div data-backdrop="false" class="modal fade bs-video-example-modal-lg" id="topBannerVideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">

                        <div class="video-wrapper">
                            <div class="modal-content">

                                <div class="modal-header">
                                    @*<div class="title-wrapper">
                                            <h3 class="fontBold"> UPES Opportunities </h3>
                                        </div>*@
                @*<div class="close-btn-wrapper">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="stopVideoHome();">×</span></button>
                                        </div>

                                    </div>
                                    <div class="modal-body">
                                        <div class="content" id="yt-player">
                                            @if (Model.Content.HasProperty("videoURL") && Model.Content.HasValue("videoURL"))
                                            {
                                                var link = Model.Content.GetPropertyValue<RelatedLinks>("videoURL").FirstOrDefault();
                                                if (link != null)
                                                {
                                                    <iframe class="homeBannerVideo" width="100%" height="100%"
                                                            src="@(link.Link)"></iframe>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <!-- Video modal -->
                
                <div data-backdrop="false" data-keyboard="false" class="modal fade bs-video-example-modal-lg" id="topBanner3DCampus" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-xlg" role="document">

                        <div class="video-wrapper">
                            <div class="modal-content">

                                <div class="modal-header no-yellow-strip">
                                    @*<div class="title-wrapper">
                                            <h3 class="fontBold"> UPES Opportunities </h3>
                                        </div>*@
                                    <div class="close-btn-wrapper">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>

                                </div>
                                <div class="modal-body">
                                    <div class="content" id="yt-player">
                                        <iframe id="iframeVirtualTour" class="homeBannerVideo" width="100%" height="100%"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--Specilisation-->
    <section class="SpecilisationPanel" id="PanelTwo">
        <div class="plr100 fullwidth">
            <div class="row Spl_Row no-gutters">
                <div class="col-sm-6 Spl_Context">
                    @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
                    {
                        <h2 class="titleMedium fontExBold text-uppercase position-relative">@Html.Raw(Model.Content.GetPropertyValue("sectionTitle"))</h2>
                    }
                    @if (Model.Content.HasProperty("sectionContent") && Model.Content.HasValue("sectionContent"))
                    {
                        @Html.Raw(Model.Content.GetPropertyValue("sectionContent"))
                    }

                </div>
                <div class="col-sm-6 Spl_img">
                    <div class="splimg_Blk position-relative">
                        @if (Model.Content.HasProperty("video") && Model.Content.HasValue("video"))
                        {
                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("video"), Umbraco);
                            if (imgPath != null)
                            {
                                <picture>
                                    <img src="@imgPath.GetCropUrl("watchVideo")" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                </picture>
                            }

                        }

                        <div class="SplOverlapContext">
                            @if (Model.Content.HasProperty("videoDescription") && Model.Content.HasValue("videoDescription"))
                            {
                                <h2 class="titleMedium fontBold">@Html.Raw(Model.Content.GetPropertyValue("videoDescription"))</h2>
                            }
                            @if (Model.Content.HasProperty("futureVideoURL") && Model.Content.HasValue("futureVideoURL"))
                            {
                                var link = Model.Content.GetPropertyValue<RelatedLinks>("futureVideoURL").FirstOrDefault();
                                if (link != null)
                                {
                                    <a onclick="doOpenVideoHomeFuture('@link.Link');" class="text-uppercase fontBold text-decoration">@link.Caption</a>
                                    <!--modal-->
                                    <div class="general-popup">
                                        <!-- Video modal -->
                                        <div data-backdrop="false" data-keyboard="false" class="modal fade bs-video-example-modal-lg" id="divFutureWatchVideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="video-wrapper">
                                                    <div class="modal-content">
                                                        <div class="modal-header no-yellow-strip">
                                                            <div class="close-btn-wrapper">
                                                                <button type="button" class="close" onclick="stopVideoHomeFuture();" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                            </div>

                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="content" id="yt-player">
                                                                <iframe class="homeBannerVideoFuture" width="100%" height="100%"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("_Industry")
        </div>
    </section>
    <!--Courses Panel-->
    <section class="HomeCoursePanel HomeCourseBg position-relative">
        <div class="plr100">
            @Html.Partial("_courses")
        </div>
        @Html.Partial("Courses_button")
        <div class="plr100">
            <div class="ParentStoriesPanel Studentstories ">
                <div class="StoryTitleStrip Yellowstripbgfull text-uppercase d-flex align-items-center">
                    @if (Model.Content.HasProperty("studentStoriesTitle") && Model.Content.HasValue("studentStoriesTitle"))
                    {
                        <p class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue<string>("studentStoriesTitle"))</p>
                        <h2 class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue<string>("studentStoriesTitlePart2"))</h2>
                    }

                </div>
                @if (Model.Content.HasProperty("sSKnowMoreLink") && Model.Content.HasValue("sSKnowMoreLink"))
                {
                    <div class="link_list text-right noPadding">
                        <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                            @(Model.Content.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().Caption)
                        </a>
                    </div>
                }

                <div class="StoryStyle CarouselforSlick storiesPannInn mlr StyleForSlickArrows">
                    @if (Model.Content.HasProperty("studentStories") && Model.Content.HasValue("studentStories"))
                    {
                        var stories = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("studentStories");
                        foreach (var story in stories)
                        {
                            @Html.Partial("_stories", story)
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <!--History and Connect-->
    <section class="HistoryConnectPanel">
        <div class="plr100">
            <div class="row HC_row position-relative SectionLogoBanner">
                @if (Model.Content.HasProperty("section") && Model.Content.HasValue("section"))
                {
                    var sections = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("section");
                    foreach (var section in sections)
                    {
                        <div class="col-sm-6 HCBlk">
                            @if (section.HasProperty("sectionTitlePart1") && section.HasValue("sectionTitlePart1") && section.HasProperty("sectionTitlePart2") && section.HasValue("sectionTitlePart2"))
                            {
                                <h3 class="titleMedium fontBold text-uppercase">
                                    @Html.Raw(section.GetPropertyValue("sectionTitlePart1"))
                                    <span class="fontBlack titleh3 d-block">@Html.Raw(section.GetPropertyValue("sectionTitlePart2"))</span>
                                </h3>
                            }

                            <div class="Spl_list HC_List fontMedium">
                                @if (section.HasProperty("content") && section.HasValue("content"))
                                {
                                    var texts = section.GetPropertyValue<string[]>("content");
                                    foreach (var text in texts)
                                    {
                                        <p class="paraSmall">
                                            @text
                                        </p>
                                    }
                                }
                            </div>
                            @if (section.HasProperty("sectionImage") && section.HasValue("sectionImage"))
                            {
                                //var imgPath = section.GetPropertyValue<IPublishedContent>("sectionImage");
                                var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(section.GetPropertyValue<string>("sectionImage"), Umbraco);
                                if (imgPath != null)
                                {
                                    <picture>
                                        <img src="@imgPath.GetCropUrl("SectionDesk")" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                    </picture>
                                }

                            }
                            @if (section.HasProperty("link") && section.HasValue("link"))
                            {
                                var link = section.GetPropertyValue<RelatedLinks>("link").FirstOrDefault();
                                <div class="link_list text-left">
                                    <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                                        @link.Caption
                                    </a>
                                </div>
                            }

                        </div>
                    }
                }
            </div>
        </div>
    </section>
    <!--Certification and Accreditations-->
    <section class="CertificationPanel CertifcationBg">
        <div class="plr100">
            <div class="CrtInner">
                <div class="IndContext">
                    @if (Model.Content.HasProperty("sectionTitlePart1") && Model.Content.HasValue("sectionTitlePart1") && Model.Content.HasProperty("sectionTitlePart2") && Model.Content.HasValue("sectionTitlePart2"))
                    {
                        <div class="StripforTwoContext mb30  d-flex align-items-end justify-content-end">
                            <h2 class="fontBlack text-uppercase">
                                @Html.Raw(Model.Content.GetPropertyValue("sectionTitlePart1"))
                                <span class="d-block">@Html.Raw(Model.Content.GetPropertyValue("sectionTitlePart2"))</span>
                            </h2>
                        </div>
                    }

                </div>
                <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
                    @if (Model.Content.HasProperty("certificatesLogo") && Model.Content.HasValue("certificatesLogo"))
                    {
                        var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("certificatesLogo");
                        foreach (var imgPath in imgPaths)
                        {
                            var imgPat = AST.S3.Helper.MediaHelper.ParseMedia(imgPath.ToString(), Umbraco);
                            if (imgPat != null)
                            {
                                <div class="ind_Logo">
                                    <img src="@imgPat.GetCropUrl("Certification")" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                </div>
                            }

                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <!--Awards Panel-->
    <section class="AwardsPanel">
        <div class="plr100">
            <div class="AwardSectionIner">
                <h2 class="fontBlack text-uppercase DarkGrayTitle">Awards</h2>
                <div class="ForAwardCarouselStyle  StyleForSlickArrowsBottom  StyleForSlickArrows  storiesPannInn mlr" id="AwardCarousel">
                    @if (Model.Content.HasProperty("awards") && Model.Content.HasValue("awards"))
                    {
                        var awards = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("awards");
                        foreach (var award in awards)
                        {
                            <div class="storiesPanStyle storiesPanOne plr7">
                                @if (award.HasProperty("awardImage") && award.HasValue("awardImage"))
                                {
                                    var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(award.GetPropertyValue<string>("awardImage"), Umbraco);
                                    if (imgPath != null)
                                    {
                                        <img src="@imgPath.GetCropUrl("Awards")" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                    }

                                }

                                <div class="AwardContext">
                                    @if (award.HasProperty("awardContent") && award.HasValue("awardContent"))
                                    {
                                        <p class="fontMedium">
                                            @Html.Raw(award.GetPropertyValue("awardContent"))
                                        </p>
                                    }

                                </div>
                            </div>
                        }
                    }
                </div>
                @if (Model.Content.HasProperty("awardsDisclaimerText") && Model.Content.HasValue("awardsDisclaimerText"))
                {
                    <div class="DisclaimerTExt">
                        <p>@(Model.Content.GetPropertyValue<string>("awardsDisclaimerText"))</p>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--Student Achievements-->
    <section class="St_Event_Impact">
        <div class="plr100">
            <div class="studenAchievPanel position-relative studenAchieveBanner">
                <div class="AchieveTitleBlock position-relative">
                    @if (Model.Content.HasProperty("achievementTitlePart1") && Model.Content.HasValue("achievementTitlePart1") && Model.Content.HasProperty("achievementTitlePart2") && Model.Content.HasValue("achievementTitlePart2"))
                    {
                        <p class="fontBold titleMedium text-uppercase">@Html.Raw(Model.Content.GetPropertyValue("achievementTitlePart1"))</p>
                        <h2 class="fontBlack text-uppercase titleh3">
                            @Html.Raw(Model.Content.GetPropertyValue("achievementTitlePart2"))
                        </h2>
                    }
                    @if (Model.Content.HasProperty("moreStudentLink") && Model.Content.HasValue("moreStudentLink"))
                    {
                        <div class="link_list text-right noPadding">
                            <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("moreStudentLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("moreStudentLink").FirstOrDefault().Link)" class="fontBold text-uppercase text-decoration">
                                @(Model.Content.GetPropertyValue<RelatedLinks>("moreStudentLink").FirstOrDefault().Caption)
                            </a>
                        </div>
                    }

                </div>
                <div class="CarouselforSlick EventCarousel mlr">
                    @if (Model.Content.HasProperty("acheivements") && Model.Content.HasValue("acheivements"))
                    {
                        var achievements = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("acheivements");
                        foreach (var acheivement in achievements)
                        {
                            @Html.Partial("_achievements", acheivement)
                        }
                    }
                </div>
                @if (Model.Content.HasProperty("moreStudentLink") && Model.Content.HasValue("moreStudentLink"))
                {
                    <div class="link_list text-right noPadding ShowOnMobile">
                        <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("moreStudentLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("moreStudentLink").FirstOrDefault().Link)" class="fontBold text-uppercase text-decoration">
                            @(Model.Content.GetPropertyValue<RelatedLinks>("moreStudentLink").FirstOrDefault().Caption)
                        </a>
                    </div>
                }
            </div>

        </div>
        <!--Events Impact-->
        <div class="EventBg WhiteBg">
            <div class="plr100">
                <div class="Events_Impact_Panel row no-gutters ">
                    <div class="col-sm-6 Ev_Im_List">
                        <div class="Event_Inner position-relative">
                            @if (Model.Content.HasProperty("eventTitle") && Model.Content.HasValue("eventTitle"))
                            {
                                <h2 class="fontBlack  text-uppercase titleh3 RotateTitlePosition">@Html.Raw(Model.Content.GetPropertyValue("eventTitle"))</h2>
                            }
                            <div class="HomeEventCarousel StyleForSlickArrowsBottom OneBlockCarousel StyleForSlickArrows">
                                @if (Model.Content.HasProperty("eventPicker") && Model.Content.HasValue("eventPicker"))
                                {
                                    var events = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("eventPicker");
                                    foreach (var evente in events)
                                    {
                                        <div class="HomeEventPanelStyle EventPanelOne  ">
                                            @if (evente.HasProperty("showcaseImage") && evente.HasValue("showcaseImage"))
                                            {
                                                var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(evente.GetPropertyValue<string>("showcaseImage"), Umbraco);
                                                //var imgPath = evente.GetPropertyValue<IPublishedContent>("showcaseImage");
                                                if (imgPath != null)
                                                {
                                                    <div class="HomeEventImg">
                                                        <img src="@imgPath.GetCropUrl("Events")" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                                    </div>
                                                }

                                            }

                                            <div class="eventContext eventContextForHome">
                                                <div class="EventContStyle  EventContStyleForHomeBlk">
                                                    @if (evente.HasProperty("showcaseTitle") && evente.HasValue("showcaseTitle"))
                                                    {
                                                        <h4 class="fontBold titleh4">@Html.Raw(evente.GetPropertyValue("showcaseTitle"))</h4>
                                                    }
                                                    @if (evente.HasProperty("shortDescription") && evente.HasValue("shortDescription"))
                                                    {
                                                        <div class="EventPara">
                                                            <p class="fontMedium para_three">
                                                                @Html.Raw(evente.GetPropertyValue("shortDescription"))
                                                            </p>
                                                        </div>
                                                    }
                                                    @if (evente.HasProperty("knowmoreLink") && evente.HasValue("knowmoreLink"))
                                                    {
                                                        var link = evente.GetPropertyValue<RelatedLinks>("knowmoreLink").FirstOrDefault();
                                                        if (link != null)
                                                        {
                                                            <a target="@(link.NewWindow?"_blank":"_self")" href="@(link.Link)" class="text-uppercase fontBold knowMoreStyle">@(link.Caption)</a>
                                                        }

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            @if (Model.Content.HasProperty("moreEventLink") && Model.Content.HasValue("moreEventLink"))
                            {
                                var link = Model.Content.GetPropertyValue<RelatedLinks>("moreEventLink").FirstOrDefault();
                                if (link != null)
                                {
                                    <div class="link_list text-left PadSpacing ">
                                        <a target="@(link.NewWindow?"_blank":"_self")" href="@(link.Link)" class="fontBold text-uppercase text-decoration">
                                            <span>@(link.Caption)</span>
                                        </a>
                                    </div>
                                }

                            }

                        </div>
                    </div>
                    <div class="col-sm-6 Ev_Im_List">
                        <div class="Event_Inner position-relative">
                            @if (Model.Content.HasProperty("socialImpactTitle") && Model.Content.HasValue("socialImpactTitle"))
                            {
                                <h2 class="fontBlack  text-uppercase titleh3 RotateTitlePosition">@Html.Raw(Model.Content.GetPropertyValue("socialImpactTitle"))</h2>
                            }

                            <div class="HomeEventCarousel  OneBlockCarousel StyleForSlickArrows  StyleForSlickArrowsBottom">
                                @if (Model.Content.HasProperty("socialImpactPicker") && Model.Content.HasValue("socialImpactPicker"))
                                {
                                    var impacts = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("socialImpactPicker");
                                    foreach (var impact in impacts)
                                    {
                                        <div class="HomeEventPanelStyle EventPanelOne  ">
                                            @if (impact.HasProperty("showcaseImage") && impact.HasValue("showcaseImage"))
                                            {
                                                //var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(impact.GetPropertyValue<string>("showcaseImage"), Umbraco);
                                                var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(impact.GetPropertyValue<string>("showcaseImage"), Umbraco);
                                                //var imgPath = impact.GetPropertyValue<IPublishedContent>("showcaseImage");
                                                if (imgPath != null)
                                                {
                                                    <div class="HomeEventImg">
                                                        @if (impact.HasProperty("isVideo"))
                                                        {
                                                            if (impact.GetPropertyValue<Boolean>("isVideo") == true)
                                                            {
                                                                <img onclick="doOpenSocialImpactVideo('@impact.GetPropertyValue("youtubeVideoLink")')" src="@imgPath.GetCropUrl("Events")" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" style="cursor:pointer;" />
                                                            }
                                                            else
                                                            {
                                                                <img src="@imgPath.GetCropUrl("Events")" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                                            }
                                                        }

                                                    </div>
                                                }
                                            }
                                            <div class="eventContext eventContextForHome">
                                                <div class="EventContStyle EventContStyleForHomeBlk">
                                                    @if (impact.HasProperty("showcaseTitle") && impact.HasValue("showcaseTitle"))
                                                    {
                                                        <h4 class="fontBold titleh4">@Html.Raw(impact.GetPropertyValue("showcaseTitle"))</h4>
                                                    }
                                                    @if (impact.HasProperty("shortDescription") && impact.HasValue("shortDescription"))
                                                    {
                                                        <div class="EventPara">
                                                            <p class="fontMedium para_three">
                                                                @Html.Raw(impact.GetPropertyValue("shortDescription"))
                                                            </p>
                                                        </div>
                                                    }

                                                    @if (impact.HasProperty("knowmoreLink") && impact.HasValue("knowmoreLink"))
                                                    {
                                                        try
                                                        {
                                                            var link = impact.GetPropertyValue<RelatedLinks>("knowmoreLink").FirstOrDefault();
                                                            if (link != null)
                                                            {
                                                                <a target="@(link.NewWindow?"_blank":"_self")" href="@(link.Link)" class="text-uppercase fontBold knowMoreStyle">@(link.Caption)</a>
                                                            }
                                                        }
                                                        catch (Exception e)
                                                        {
                                                            throw e;
                                                        }

                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                            <!--modal-->
                            <div class="general-popup">
                                <!-- Video modal -->
                                <div data-backdrop="false" data-keyboard="false" class="modal fade bs-video-example-modal-lg" id="divSocialImpactVideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="video-wrapper">
                                            <div class="modal-content">
                                                <div class="modal-header no-yellow-strip">
                                                    <div class="close-btn-wrapper">
                                                        <button type="button" class="close" onclick="stopVideoHomeSocialImpact();" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    </div>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="content" id="yt-player">
                                                        <iframe id="ifrmSocialImpact" class="homeSocialImpactVideo" width="100%" height="100%"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @if (Model.Content.HasProperty("moreSocialImpactLink") && Model.Content.HasValue("moreSocialImpactLink"))
                            {
                                <div class="link_list text-left PadSpacing">
                                    <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("moreSocialImpactLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("moreSocialImpactLink").FirstOrDefault().Link)" class="fontBold text-uppercase text-decoration">
                                        @(Model.Content.GetPropertyValue<RelatedLinks>("moreSocialImpactLink").FirstOrDefault().Caption)
                                    </a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Research and Highlights-->
    <section class="ResearchPanel position-relative">
        <div class="plr100">
            <div class="ResearchInner ResearchLogoBanner">
                <div class="IndContext">
                    <div class="Yellowstripbgfull StripforTwoContext  d-flex align-items-end justify-content-left">
                        @if (Model.Content.HasProperty("researchTitlePart1") && Model.Content.HasValue("researchTitlePart1"))
                        {
                            <h2 class="fontBlack text-uppercase">
                                @Html.Raw(Model.Content.GetPropertyValue("researchTitlePart1"))
                                <span class="d-block">@Html.Raw(Model.Content.GetPropertyValue("researchTitlePart2"))</span>
                            </h2>
                        }

                    </div>
                </div>
                @if (Model.Content.HasProperty("readMoreAboutResearch") && Model.Content.HasValue("readMoreAboutResearch"))
                {
                    <div class="link_list text-right noPadding">
                        <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("readMoreAboutResearch").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("readMoreAboutResearch").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                            @(Model.Content.GetPropertyValue<RelatedLinks>("readMoreAboutResearch").FirstOrDefault().Caption)
                        </a>
                    </div>
                }
                <div class="ResearchSlick CarouselforSlick StyleForSlickArrows mlr">
                    @if (Model.Content.HasProperty("contents") && Model.Content.HasValue("contents"))
                    {
                        var contents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contents");
                        foreach (var content in contents)
                        {
                            if (content != null)
                            {
                                <div class="ResearchContext plr7">
                                    <picture>
                                        @if (content.HasProperty("awardImage") && content.HasValue("awardImage"))
                                        {
                                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(content.GetPropertyValue<string>("awardImage"), Umbraco);
                                            //var imgPath = content.GetPropertyValue<IPublishedContent>("awardImage");
                                            if (imgPath != null)
                                            {
                                                <img src="@imgPath.GetCropUrl("Research")" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                            }
                                        }
                                        @if (content.HasProperty("awardContent") && content.HasValue("awardContent"))
                                        {
                                            <p class="fontMedium">
                                                @Html.Raw(content.GetPropertyValue("awardContent"))
                                            </p>
                                        }

                                    </picture>
                                    @if (content.HasProperty("readMoreLink") && content.HasValue("readMoreLink"))
                                    {
                                        <a target="_blank" href="@(content.GetPropertyValue<RelatedLinks>("readMoreLink").FirstOrDefault().Link)" target="@(content.GetPropertyValue<RelatedLinks>("readMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="text-uppercase fontBold knowMoreStyle">@(content.GetPropertyValue<RelatedLinks>("readMoreLink").FirstOrDefault().Caption)</a>
                                    }
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </section>

</main>
<!--Helpline Chat-->
@Html.Partial("Floating")


<!--modal-->
<div class="general-popup">
    <div id="divExamRegistrationModal" data-backdrop="false" class="modal fade bs-example-modal-lg align-items-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body" id="divExamRegistrationModalContent">
                    <div class="content text-center text-md-left">
                        <!--bind content div, loop if multiple-->
                        <div class="header">
                            <h3 class="fontBold">Dear B.Tech and LLB Aspirants,</h3>
                        </div>
                        <div>
                            <h2 class="header"></h2>
                            <p>&nbsp;</p>
                            <p>Exam slot booking would be enabled from April 18, 2019 onwards.</p>
                            <p>&nbsp;</p>
                            <p>Watch this site for more updates.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* new modal *@
@if (Model.Content.HasProperty("popup") && Model.Content.HasValue("popup"))
{
    var popupContent = Model.Content.GetPropertyValue<IPublishedContent>("popup");
    if (popupContent.GetPropertyValue<bool>("enablePopup"))
    {
        <div class="general-popup">
            <div id="newmodal" data-backdrop="false" class="modal fade bs-example-modal-lg align-items-center pr-0" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body" id="divExamRegistrationModalContent">
                            <div class="content text-center text-md-left">
                                @*bind content div, loop if multiple*@
                                <div class="header">
                                    <h3 class="fontBold">@Html.Raw(popupContent.GetPropertyValue("popupTitle"))</h3>
                                </div>
                                <div class="d_text">
                                    <p class="text-left">@Html.Raw(popupContent.GetPropertyValue("popupContent"))</p>
                                    @if (popupContent.HasValue("popupButton"))
                                    {
                                        var link = popupContent.GetPropertyValue<RelatedLinks>("popupButton").First();
                                        if (link != null)
                                        {
                                            <div class="text-center">
                                                <a class="btn btn-primary p-2 btn-custom" href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section scripts{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    setTimeout(function () { $('#divExamRegistrationModal').modal('show'); }, 3000);
        //});
        //$('#divExamRegistrationModal').on("hidden.bs.modal", function () {
        //    $('#divExamRegistrationModal').removeClass('d-flex');
        //});
        $(document).ready(function () {
            setTimeout(function () { $('#newmodal').modal('show'); }, 3000);
        });
        //$('#newmodal').on("hidden.bs.modal", function () {
          //  $('#newmodal').removeClass('d-flex');
        //});

    </script>
    }