﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/industry.min.css" rel="stylesheet" type="text/css" />
}
    <main role="main" class=" industry">
        <!--Banner Block-->
        <style>
            .GenerTemplate .panelRow {
                padding: 0;
            }

            .GenerTemplate .PanelInner {
                padding: 0;
            }
        </style>
        <section class="banner  BannerSection mb60">
            <div class="DownArrow">
                <a href="#PanelTwo" class="ClickArrow">
                    <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
                </a>
            </div>
            <!-- var result = upes_website.Core.ExamineExtensions.ExamineAlias("home");
        IPublishedContent homeContent = Umbraco.TypedContent("1152"); -->

            @Html.Partial("BreadCrumb")

            <div class="plr20 fullwidth">
                <div class="BannerStripContext">
                    @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                    {
                        <h1 class="fontExBold">
                            @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                        </h1>
                    }
                </div>
                <div class="BannerImg position-relative">
                    @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                    {
                        var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                        var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                        //Html.Partial("HeroBanner", imgPath);
                        if (imgPath != null && mobileBannerPath != null)
                        {
                            @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                        }
                    }
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <!--Inner-->
        <section class="  PanelInner studenAchievPanel_PaddingSpacing" id="PanelTwo">
            <!--Industry & UPES component-->
            @if (Model.Content.HasValue("industrySectionTitle") && Model.Content.HasValue("industryImages"))
            {
                <div class="section-1 pt-0" id="PanelTwo">
                    <div class="plr100">
                        <div id="industrySection" class="f150 fontBlack title1">
                            <h2>
                                INDUSTRY
                            </h2>
                        </div>
                        <div class="f60 fontBold title2">
                            <h3>
                                @Html.Raw(Model.Content.GetPropertyValue("industrySectionTitle"))
                            </h3>
                        </div>

                    </div>
                </div>
                <div class="plr100">
                    <div class="industryPanel panel1">
                        <div class="companies-wrapper">
                            <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
                                @if (Model.Content.HasValue("industrySectionTitle"))
                                {
                                    var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("industryImages");
                                    if (imgPaths != null)
                                    {
                                        foreach (var imgPath in imgPaths)
                                        {
                                            <div class="ind_Logo">
                                                <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <!-- more link -->
                        <div class="DisclaimerTExt">
                            <p>@Html.Raw(Model.Content.GetPropertyValue("industryNotesContent"))</p>
                        </div>

                        <!-- #more link -->
                    </div>
                </div>
            }
            <div class="bg-white GenerTemplate">
                <div class="plr100">
                    @(Model.Content.GetGridHtml(Html, "pageContent", "Custom-Grid"))
                </div>
            </div>


            <!--Industry & UPES component-->
            <div class="plr100">
                <div id="recruitersSection" class="industryPanel">
                    <div class="Orange-Strip align-items-end ">
                        <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("recruitersSectionTitle"))</h2>
                    </div>
                    <div class="companies-wrapper">
                        <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
                            @if (Model.Content.HasValue("recruiterImages"))
                            {
                                var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("recruiterImages");
                                if (imgPaths != null)
                                {
                                    foreach (var imgPath in imgPaths)
                                    {
                                        <div class="ind_Logo">
                                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <!-- more link -->
                    <!-- #more link -->
                </div>
            </div>

        </section>


        <div class="clearfix"></div>
    </main>
@Html.Partial("Floating")
