﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@section style
    {
    <link href="/css/industry.css" rel="stylesheet" type="text/css" />
}
<main role="main" class="industry">
    <!--Banner-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <div class="fontExBold">
                        <h1>@Html.Raw(Model.Content.GetPropertyValue("pageTitle"))</h1>
                    </div>
                }
                @if (Model.Content.HasProperty("bannerDescription") && Model.Content.HasValue("bannerDescription"))
                {
                    <div class="StripContent">
                        <p>
                            @Html.Raw(Model.Content.GetPropertyValue("bannerDescription"))
                        </p>
                    </div>
                }

            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasValue("heroBanner") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (mobileBannerPath == null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, imgPath))
                    }
                    else if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Industry & UPES component-->
    <div class="section-1 pt-0" id="PanelTwo">
        <div class="plr100">
            <div id="industrySection" class="f150 fontBlack title1">
                <h2>
                    INDUSTRY
                </h2>
            </div>
            @if (Model.Content.HasProperty("industrySectionTitle") && Model.Content.HasValue("industrySectionTitle"))
            {
                <div class="f60 fontBold title2">
                    <h3>
                        @Html.Raw(Model.Content.GetPropertyValue("industrySectionTitle"))
                    </h3>
                </div>
            }

        </div>
    </div>
    <div class="plr100">
        <div class="industryPanel panel1">
            <!-- <div class="row industry_blockList">
                <div class="col-sm-4 Ind_inn">
                    <p class="d-flex align-items-center">
                        <span class="fontBlack Numb_list">9900+</span>
                        <span class="fontMedium Num_Title">Students placed last year</span>
                    </p>
                </div>
                <div class="col-sm-4 Ind_inn">
                    <p class="d-flex align-items-center">
                        <span class="fontBlack Numb_list">
                            94%
                        </span>
                        <span class="fontMedium Num_Title">Overall placements</span>
                    </p>
                </div>
                <div class="col-sm-4 Ind_inn">
                    <p class="d-flex align-items-center">
                        <span class="fontBlack Numb_list">1050+</span>
                        <span class="fontMedium Num_Title">Companies who recruited</span>
                    </p>
                </div>
            </div> -->
            <div class="companies-wrapper">
                <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
                    @if (Model.Content.HasProperty("industryImages") && Model.Content.HasValue("industryImages"))
                    {
                        var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("industryImages");
                        foreach (var imgPat in imgPaths)
                        {
                            var imgaPath = AST.S3.Helper.MediaHelper.ParseMedia(imgPat.ToString(), Umbraco);
                            <div class="ind_Logo">
                                <img src="@imgaPath.Url" class="img-fluid" alt="@(imgaPath.HasValue("altTag")?imgaPath.GetPropertyValue<string>("altTag"):"")" />
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- more link -->
            @if (Model.Content.HasProperty("moreLink") && Model.Content.HasValue("moreLink"))
            {
                var link = Model.Content.GetPropertyValue<RelatedLinks>("moreLink").FirstOrDefault();
                if (link != null)
                {
                    <div class="text-right pbm-5">
                        <a target="@(link.NewWindow?"_blank":"_self")" href="@link.Link" class="color-blue">@link.Caption</a>
                    </div>
                }
            }
            <div class="DisclaimerTExt">
                <p>*Partial list of strategic partners</p>
            </div>

            <!-- #more link -->
        </div>
    </div>
    <!--#Industry & UPES component-->
    <!--Industry & UPES component-->
    <div class="bg-white">
        <div class="plr100">
            <div class="industryPanel">
                @if (Model.Content.HasProperty("placementSectionTitle") && Model.Content.HasValue("placementSectionTitle"))
                {
                    <div id="placementSection" class="Orange-Strip d-flex align-items-end ">
                        <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("placementSectionTitle"))</h2>
                    </div>
                }
                @if (Model.Content.HasProperty("placementectionDescription") && Model.Content.HasValue("placementectionDescription"))
                {
                    <h4 class="fontMedium titleh4">
                        @Html.Raw(Model.Content.GetPropertyValue("placementectionDescription"))
                    </h4>
                }
                @if (Model.Content.HasProperty("counts") && Model.Content.HasValue("counts"))
                {
                    var counts = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("counts");
                    <div class="row industry_blockList">
                        @foreach (var count in counts)
                        {
                            <div class="col-sm-4 Ind_inn">
                                <p class="d-flex align-items-center">
                                    @if (count.HasValue("count"))
                                    {
                                        <span class="fontBlack Numb_list">@Html.Raw(count.GetPropertyValue("count"))</span>
                                    }
                                    @if (count.HasValue("text"))
                                    {
                                        <span class="fontMedium Num_Title">@Html.Raw(count.GetPropertyValue("text"))</span>
                                    }

                                </p>
                            </div>
                        }
                        @if (Model.Content.HasProperty("placementRecordsDisclaimer") && Model.Content.HasValue("placementRecordsDisclaimer"))
                        {
                            <div class="DisclaimerTExt DisclaimerTExtTop">
                                <p>@Model.Content.GetPropertyValue("placementRecordsDisclaimer")</p>
                            </div>
                        }
                    </div>
                }
               
                <!-- more link -->
                @if (Model.Content.HasProperty("morePlacementLink") && Model.Content.HasValue("morePlacementLink"))
                {
                    var link = Model.Content.GetPropertyValue<RelatedLinks>("morePlacementLink").FirstOrDefault();
                    if (link != null)
                    {
                        <div class="text-right">
                            <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="color-blue">@link.Caption</a>
                        </div>
                    }
                }

                <!-- #more link -->


            </div>
        </div>
    </div>
    <!--#Industry & UPES component-->
    <!--Industry & UPES component-->
    <div class="plr100">
        <div id="recruitersSection" class="industryPanel">
            @if (Model.Content.HasProperty("recruiterSectionTitle") && Model.Content.HasValue("recruiterSectionTitle"))
            {
                <div class="Orange-Strip d-flex align-items-end ">
                    <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("recruiterSectionTitle"))</h2>
                </div>
            }

            <!-- <h4 class="fontMedium titleh4">
                Co-created courses, to make you industry leaders of
                tomorrow
            </h4> -->
            <!-- <div class="row industry_blockList">
                <div class="col-sm-4 Ind_inn">
                    <p class="d-flex align-items-center">
                        <span class="fontBlack Numb_list">9900+</span>
                        <span class="fontMedium Num_Title">Students placed last year</span>
                    </p>
                </div>
                <div class="col-sm-4 Ind_inn">
                    <p class="d-flex align-items-center">
                        <span class="fontBlack Numb_list">
                            94%
                        </span>
                        <span class="fontMedium Num_Title">Overall placements</span>
                    </p>
                </div>
                <div class="col-sm-4 Ind_inn">
                    <p class="d-flex align-items-center">
                        <span class="fontBlack Numb_list">1050+</span>
                        <span class="fontMedium Num_Title">Companies who recruited</span>
                    </p>
                </div>
            </div> -->
            @if (Model.Content.HasProperty("recruitersLogos") && Model.Content.HasValue("recruitersLogos"))
            {
                var recruiterLogos = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("recruitersLogos");
                <div class="companies-wrapper">
                    <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
                        @foreach (var logo in recruiterLogos)
                        {
                            var imgaPath = AST.S3.Helper.MediaHelper.ParseMedia(logo.ToString(), Umbraco);
                            if (imgaPath != null)
                            {
                                <div class="ind_Logo">
                                    <img src="@imgaPath.Url" class="img-fluid" alt="@(imgaPath.HasValue("altTag")?imgaPath.GetPropertyValue<string>("altTag"):"")" />
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            @if (Model.Content.HasProperty("moreRecruiterLink") && Model.Content.HasValue("moreRecruiterLink"))
            {
                var link = Model.Content.GetPropertyValue<RelatedLinks>("moreRecruiterLink").FirstOrDefault();
                if (link != null)
                {
                    <div class="text-right">
                        <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="color-blue">@link.Caption</a>
                    </div>
                }
            }
            <!-- more link -->
            <!-- #more link -->
            @if (Model.Content.HasProperty("disclaimerText") && Model.Content.HasValue("disclaimerText"))
            {
                <div class="DisclaimerTExt">
                    <p>@(Model.Content.GetPropertyValue<string>("disclaimerText"))</p>
                </div>
            }
        </div>
    </div>
    <!--#Industry & UPES component-->
    <!--Research and Highlights-->
    <section class="ResearchPanel position-relative">
        <div class="plr100">
            <div class="ResearchInner ResearchLogoBanner">

                @if (Model.Content.HasProperty("researchSectionTitle") && Model.Content.HasValue("researchSectionTitle"))
                {
                    <div class="Orange-Strip d-flex align-items-end ">
                        <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("researchSectionTitle")) </h2>
                    </div>
                }
                @if (Model.Content.HasProperty("readMoreAboutResearch") && Model.Content.HasValue("readMoreAboutResearch"))
                {
                    <div class="link_list text-right noPadding">
                        <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("readMoreAboutResearch").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("readMoreAboutResearch").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                            @(Model.Content.GetPropertyValue<RelatedLinks>("readMoreAboutResearch").FirstOrDefault().Caption)
                        </a>
                    </div>
                }
                @if (Model.Content.HasProperty("researchContents") && Model.Content.HasValue("researchContents"))
                {
                    var researches = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("researchContents");
                    <div class="ResearchSlick CarouselforSlick   mlr">
                        @foreach (var research in researches)
                        {
                            <div class="ResearchContext plr7">
                                <picture>
                                    @if (research.HasValue("awardImage"))
                                    {
                                        var imgaPath = AST.S3.Helper.MediaHelper.ParseMedia(research.GetPropertyValue<string>("awardImage"), Umbraco);
                                        if (imgaPath != null)
                                        {
                                            <img src="@imgaPath.Url" class="img-fluid" alt="@(imgaPath.HasValue("altTag")?imgaPath.GetPropertyValue<string>("altTag"):"")" />
                                        }
                                    }
                                    @if (research.HasValue("awardContent"))
                                    {
                                        <p class="fontMedium">
                                            @Html.Raw(research.GetPropertyValue("awardContent"))
                                        </p>
                                    }
                                </picture>
                                @if (research.HasProperty("readMoreLink") && research.HasValue("readMoreLink"))
                                {
                                    <a target="_blank" href="@(research.GetPropertyValue<RelatedLinks>("readMoreLink").FirstOrDefault().Link)" target="@(research.GetPropertyValue<RelatedLinks>("readMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="text-uppercase fontBold knowMoreStyle">@(research.GetPropertyValue<RelatedLinks>("readMoreLink").FirstOrDefault().Caption)</a>
                                }
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
    </section>
    <!--#Research and Highlights-->
    <!-- section5 -->
    @if (Model.Content.HasProperty("leadershipSectionTitle") && Model.Content.HasValue("leadershipSectionTitle"))
    {
        <div class="section-5">
            <div class="plr100">
                <div class="student-affairs">
                    <div class="header-top ">
                        <div class="title">
                            <div class="Orange-Strip d-flex align-items-end ">
                                <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("leadershipSectionTitle")) </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Content.HasProperty("contents") && Model.Content.HasValue("contents"))
            {
                <div class="wrapper-75">
                    <div class="link-toggle">
                        <a href="javascript:void(0);" class="color-blue" id="student-affairs-AccordionPanel-toggler">
                            Expand
                            all
                        </a>
                    </div>
                    <div class="accord-wrapper ">
                        <!--Accordion Panel-->
                        <div id="student-affairs-AccordionPanel" class="AccordionStyle colorLightWhite">
                            @{
                                int i = 0, j = 0;
                                var accordions = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contents");
                                foreach (var accordion in accordions)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#student-affairs-AccordionPanel@(i = i + 1)" aria-expanded="false" aria-controls="PanelOne">
                                                    @if (accordion.HasValue("leadershipTitle"))
                                                    {
                                                        @Html.Raw(accordion.GetPropertyValue("leadershipTitle"))
                                                    }
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="student-affairs-AccordionPanel@(j = j + 1)" class="collapse" data-parent="#student-affairs-AccordionPanel" aria-labelledby="heading-3" style="">
                                            <div class="card-body cardContext">
                                                <div class="row">
                                                    @if (accordion.HasValue("listOfLeaders"))
                                                    {
                                                        var persons = accordion.GetPropertyValue<IEnumerable<IPublishedContent>>("listOfLeaders");
                                                        foreach (var person in persons)
                                                        {
                                                            <div class="col-md-4">
                                                                @if (person.HasValue("position"))
                                                                {
                                                                    <div class="position">
                                                                        <p>@Html.Raw(person.GetPropertyValue("position"))</p>
                                                                    </div>
                                                                }

                                                                <div class="person">
                                                                    @if (person.HasValue("personName"))
                                                                    {
                                                                        <p>@Html.Raw(person.GetPropertyValue("personName"))</p>
                                                                    }
                                                                </div>
                                                                <div class="designation">
                                                                    @if (person.HasValue("designation"))
                                                                    {
                                                                        <p>@Html.Raw(person.GetPropertyValue("designation"))</p>
                                                                    }

                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    <div class="section-1" id="PanelTwo">
        <div class="plr100">
            <div class="f150 fontBlack title1">
                @if (Model.Content.HasProperty("bigTitle") && Model.Content.HasValue("bigTitle"))
                {
                    <h2>
                        @Html.Raw(Model.Content.GetPropertyValue("bigTitle"))
                    </h2>
                }

            </div>
            <div class="f60 fontBold title2">
                @if (Model.Content.HasProperty("messageSectionTitle") && Model.Content.HasValue("messageSectionTitle"))
                {
                    <h3>
                        @Html.Raw(Model.Content.GetPropertyValue("messageSectionTitle"))
                    </h3>
                }

            </div>
        </div>
    </div>
    <!-- section4 -->
    <div class="section-4">
        <div class="plr100">
            <div class="inter-intern">
                <!-- <div class="wrapper-75">
                    <h3 class="fontBlack titleh3">INTERNATIONAL INTERNSHIPS</h3>
                </div> -->
                <div class="students-slide StyleForSlickArrows">
                    <!-- slides bind here -->
                    @if (Model.Content.HasProperty("picker") && Model.Content.HasValue("picker"))
                    {
                        var messages = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("picker");
                        foreach (var message in messages)
                        {
                            <div class="student">
                                <!--  loop -->
                                <div class="profile-wrapper d-flex">
                                    @if (message.HasValue("showcaseImage"))
                                    {
                                        var imgaPath = AST.S3.Helper.MediaHelper.ParseMedia(message.GetPropertyValue<string>("showcaseImage"), Umbraco);
                                        if (imgaPath != null)
                                        {
                                            <div class="photo">
                                                <img src="@imgaPath.Url" alt="@(imgaPath.HasValue("altTag")?imgaPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                            </div>
                                        }
                                    }
                                    @if (message.HasValue("personName") && message.HasValue("designation"))
                                    {
                                        <div class="profile">
                                            <h2 class="fontBlack">@Html.Raw(message.GetPropertyValue("personName"))</h2>
                                            <h3 class="fontBold">@Html.Raw(message.GetPropertyValue("designation"))</h3>
                                        </div>
                                    }

                                </div>
                                <div class="details">
                                    <div class="says">
                                        @if (message.HasValue("shortDescription"))
                                        {
                                            <p>@Html.Raw(message.GetPropertyValue("shortDescription"))</p>
                                        }
                                    </div>
                                    @if (message.HasValue("mFLKnowMoreLink"))
                                    {
                                        var link = message.GetPropertyValue<RelatedLinks>("mFLKnowMoreLink").FirstOrDefault();
                                        if (link != null)
                                        {
                                            <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="color-blue">@link.Caption</a>
                                        }
                                    }

                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    @if (Model.Content.HasProperty("messageDisclaimer") && Model.Content.HasValue("messageDisclaimer"))
    {
        <div id="disclosureSection" class="section-6">
            <div class="plr100">
                <div class="txt-wrapper">
                    @Html.Raw(Model.Content.GetPropertyValue("messageDisclaimer"))
                </div>
            </div>
        </div>
    }
    <!-- section5 -->
    @if (Model.Content.HasValue("iqacSectionTitle") && Model.Content.HasValue("accordions"))
        {
            <div id="regulatorsSection" class="section-5">
                <div class="plr100">
                    <div class="student-affairs">
                        <div class="header-top ">
                            <div class="title">
                                @if (Model.Content.HasProperty("iqacSectionTitle") && Model.Content.HasValue("iqacSectionTitle"))
                                {
                                    <div class="Orange-Strip d-flex align-items-end ">
                                        <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("iqacSectionTitle")) </h2>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-75">
                    <div class="link-toggle">
                        <a href="javascript:void(0);" class="color-blue" id="Regulators-iqac-AccordionPanel-toggler">
                            Expand
                            all
                        </a>
                    </div>
                    <div class="accord-wrapper ">
                        <!--Accordion Panel-->
                        <div id="Regulators-iqac-AccordionPanel" class="AccordionStyle colorLightWhite">
                            @if (Model.Content.HasProperty("accordions") && Model.Content.HasValue("accordions"))
                            {
                                int i = 0, j = 0;
                                var accordions = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("accordions");
                                foreach (var accordion in accordions)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#Regulators-iqac-AccordionPanel@(i=i+1)"
                                                   aria-expanded="false" aria-controls="PanelOne">
                                                    @if (accordion.HasValue("accordionTitle"))
                                                    {
                                                        @Html.Raw(accordion.GetPropertyValue("accordionTitle"))
                                                    }
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="Regulators-iqac-AccordionPanel@(j=j+1)" class="collapse" data-parent="#Regulators-iqac-AccordionPanel"
                                             aria-labelledby="heading-3">
                                            <div class="card-body cardContext">
                                                @if (accordion.HasValue("accordionContent"))
                                                {
                                                    @Html.Raw(accordion.GetPropertyValue("accordionContent"))
                                                }

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>
        }
        @if (Model.Content.HasValue("sectionTitle") && Model.Content.HasValue("tabs"))
        {
            <div class="section-5 bg-lightwhite">
                <div class="plr100">
                    <div class="student-affairs">
                        <div class="header-top ">
                            <div id="mandatorysection" class="title">
                                @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
                                {
                                    <div class="Orange-Strip d-flex align-items-end ">
                                        <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("sectionTitle")) </h2>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-75">
                    <div class="link-toggle">
                        <a href="javascript:void(0);" class="color-blue" id="Regulators-rti-AccordionPanel-toggler">
                            Expand
                            all
                        </a>
                    </div>
                    <div class="accord-wrapper ">
                        <!--Accordion Panel-->
                        <div id="Regulators-rti-AccordionPanel" class="AccordionStyle ">
                            @if (Model.Content.HasProperty("tabs") && Model.Content.HasValue("tabs"))
                            {
                                int i = 0, j = 0;
                                var tabs = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("tabs");
                                foreach (var tab in tabs)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#Regulators-rti-AccordionPanel@(i=i+1)"
                                                   aria-expanded="false" aria-controls="PanelOne">
                                                    @if (tab.HasValue("accordionTitle"))
                                                    {
                                                        @Html.Raw(tab.GetPropertyValue("accordionTitle"))
                                                    }
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="Regulators-rti-AccordionPanel@(j=j+1)" class="collapse" data-parent="#Regulators-rti-AccordionPanel"
                                             aria-labelledby="heading-3">
                                            <div class="card-body cardContext">
                                                @if (tab.HasValue("accordionContent"))
                                                {
                                                    @Html.Raw(tab.GetPropertyValue("accordionContent"))
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>
        }
</main>
@Html.Partial("Floating")

@section scripts
    {
    <script type="text/javascript" src="/scripts/upes2.js"></script>
}
