﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.InternationalConnection>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using upes_website.Controller;
@using Umbraco.Web.Models;
@using Umbraco.Core.Persistence
@using System.Text.RegularExpressions;

    
    
@{
    Layout = "Master.cshtml";
}
@section style{
    
 
    <link href="/css/HomeTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" />
    <link href="/css/industry.min.css" rel="stylesheet" type="text/css" />
    
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/upesEmployee.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="/css/ProgramDetailTemplate.min.css" rel="stylesheet" />
    <link href="/css/rte.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  

   
}
<main role="main" class="UpesStudent SchoolDetailPanel">
    
    <section class="banner  mb60 BannerSection HomeBannerPanel">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <h1 class="fontExBold">
                    @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                </h1>
            </div>
             @Html.Partial("BreadCrumb")
            <div id="HomeCarouselPanel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators homeIndicatorStyle">
                    @if (Model.Content.HasValue("sliders"))

                    {
                        var count = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("sliders");
						int i = 0;
                        foreach (var content in count)
                        {
                            if (content.GetPropertyValue<bool>("displayBanner"))
                            {
                                
                                <li data-target="#HomeCarouselPanel" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                                i++;
                            }
                        }
                    }
                </ol>
                <div class="carousel-inner">
                    @if (Model.Content.HasProperty("sliders") && Model.Content.HasValue("sliders"))
                    {
                        int i = 0;
                        var heroBanner = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("sliders");
                        foreach (var Sildercontent in heroBanner)
                        {
                            
                            if (Sildercontent.GetPropertyValue<bool>("displayBanner"))
                            {
                                var imgPath = Sildercontent.GetPropertyValue<IPublishedContent>("heroBanner");

                                <div class="carousel-item @(i==0?"active":"")">
                                    <div class="BannerImg position-relative">
                                        @if (Sildercontent.HasProperty("clickLink") && Sildercontent.HasValue("clickLink"))
                                        {
                                           
                                                 var clickLink = Sildercontent.GetPropertyValue<RelatedLinks>("clickLink").First();
                                                  <a href="@clickLink.Link" target="@(clickLink.NewWindow==true?"_blank":"_self")">
                                                  @if (Sildercontent.HasValue("heroBanner") || Sildercontent.HasValue("mobileBanner"))
                                                {
                                                    var imgPaths = Sildercontent.GetPropertyValue<IPublishedContent>("heroBanner");
                                                    var mobileBannerPath = Sildercontent.GetPropertyValue<IPublishedContent>("mobileBanner");
                                                   
                                                    if (imgPaths != null && mobileBannerPath != null)
                                                    {
                                                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                                                    }
                                                    }
                                                    </a>
                                                
                                            
                                        }
                                        else
                                        {
                                            if (Sildercontent.HasValue("heroBanner") || Sildercontent.HasValue("mobileBanner"))
                                            {
                                                var imgPaths = Sildercontent.GetPropertyValue<IPublishedContent>("heroBanner");
                                                var mobileBannerPath = Sildercontent.GetPropertyValue<IPublishedContent>("mobileBanner");
                                            
                                                if (imgPaths != null && mobileBannerPath != null)
                                                {
                                                    @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                                                }
                                            }
                                        }

                                    </div>
                                </div>
                                i++;
                            }

                        }
                    }
                </div>
            </div>
            
        <div class="WatchPanel d-flex">
                
         <a onclick="doOpenHomePopup('https://www.youtube.com/embed/4h_y5Lme-d0')" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
            <span>Life at UPES</span>
            <picture>
            <img src="/src/img/home/video-icon.png" class="img-fluid" alt="PlayIcon">
            </picture>
         </a>
          <a href="http://virtualtour.upes.ac.in/" target="_blank" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
          <span>Virtual Tour</span>
          <picture>
          <img src="/src/img/home/3d-icon.png" class="img-fluid" alt="PlayIcon">
          </picture>
          </a>
           <a href="http://virtualtour.upes.ac.in/" target="_blank" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
          <span>Virtual Tour</span>
          <picture>
          <img src="/src/img/home/3d-icon.png" class="img-fluid" alt="PlayIcon">
          </picture>
          </a>
           <a href="http://virtualtour.upes.ac.in/" target="_blank" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
          <span>Virtual Tour</span>
          <picture>
          <img src="/src/img/home/3d-icon.png" class="img-fluid" alt="PlayIcon">
          </picture>
          </a>
          </div>
           

            <!--modal-->
            
            <div data-backdrop="false" data-keyboard="false" class="modal fade bs-video-example-modal-lg" id="topBanner3DCampus" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-xlg" role="document">

                        <div class="video-wrapper">
                            <div class="modal-content">

                                <div class="modal-header no-yellow-strip">
                                    @*<div class="title-wrapper">
                                            <h3 class="fontBold"> UPES Opportunities </h3>
                                        </div>*@
                                    <div class="close-btn-wrapper">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    </div>

                                </div>
                                <div class="modal-body">
                                    <div class="content" id="yt-player">
                                        <iframe id="iframeVirtualTour" class="homeBannerVideo" width="100%" height="100%"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
        <div class="clearfix"></div>
    </section>
   @* <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <div class="fontExBold">
                        <p>
                            <!--bind here-->
                            @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                        </p>
                    </div>
                }
                @if (Model.Content.HasProperty("bannerDescription") && Model.Content.HasValue("bannerDescription"))
                {
                    <div class="StripContent">
                        <ul>
                            @{
                                var descriptions = Model.Content.GetPropertyValue<string[]>("bannerDescription");
                            }
                            @foreach (var description in descriptions)
                            {
                                <li>@description</li>
                            }
                        </ul>
                    </div>
                }

            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                    if (imgPath != null)
                    {
                        @Html.Partial("HeroBanner", imgPath)
                    }

                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>*@
    
   
    <section class="section-1 international_sec" id="PanelTwo">
         <div class="plr100">
            <div class="row panelRow">
            <div class="row">
            <div class="col-md-12 column intro-text-85 mt-5 mb-5">
                @if (Model.Content.HasProperty("details") && Model.Content.HasValue("details"))
                {
                 @Html.Raw(Model.Content.GetPropertyValue("details"))
                }
            </div>
            </div>
            </div>
            </div>
				
				  @if (Model.Content.HasProperty("showCaseImage") && Model.Content.HasValue("showCaseImage"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("showCaseImage");
                    if (imgPath != null)
                    {
                        @Html.Partial("HeroBanner", imgPath)
                    }

                }
		 
    </section>
    
    
     <!--academic logo -->
     
    <section class="PanelInner studenAchievPanel_PaddingSpacing industry international_slide" id="PanelTwo" >
            <!--Industry & UPES component-->
            @if (Model.Content.HasValue("academicImages"))
            {
                <div class="plr100">
                <div id="recruitersSection" class="industryPanel">
                  
                    <div class="companies-wrapper">
                        <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
                            @if (Model.Content.HasValue("academicImages"))
                            {
                                var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("academicImages");
                                if (imgPaths != null)
                                {
                                    foreach (var imgPath in imgPaths)
                                    {
                                        <div class="ind_Logo">
                                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <!-- more link -->
                    <!-- #more link -->
                </div>
            </div>
            
            }
        </section>
        
             <!--Work at UPES  -->
    
            
    <div id="workingSection" class="section-4">
        <div class="health-medical">
            <div class="wrapper-75">
                <div class="accord-wrapper">
                    <div id="working-upes" class="AccordionStyle">
                            @if (Model.Content.HasProperty("tab") && Model.Content.HasValue("tab"))
                            {
                                int i = 0, j = 0;
                                var tabs = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("tab");
                                foreach (var tab in tabs)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#working-panel@(i=i+1)"
                                                   aria-expanded="false" aria-controls="PanelOne">
                                                    @if (tab.HasValue("accordionTitle"))
                                                    {
                                                        @Html.Raw(tab.GetPropertyValue("accordionTitle"))
                                                    }
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="working-panel@(j=j+1)" class="collapse" data-parent="#working-upes"
                                             aria-labelledby="heading-3">
                                            <div class="card-body cardContext">
                                                @if (tab.HasValue("accordionContent"))
                                                {
                                                    @Html.Raw(tab.GetPropertyValue("accordionContent"))
                                                }
                                               @* <div class="btn_wrap mt-4">
                                                    @if (tab.HasValue("accordionCTA"))
                                                    {
                                                        var link = tab.GetPropertyValue<RelatedLinks>("accordionCTA").FirstOrDefault();
                                                        if (link != null)
                                                        {
                                                            <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="btn btn-standard text-uppercase">@link.Caption</a>
                                                        }
                                                    }
                                                    @if(tab.HasValue("resultCTA"))
                                                    {
                                                    var Resultlink = tab.GetPropertyValue<RelatedLinks>("resultCTA").FirstOrDefault();
                                                        if (Resultlink != null)
                                                        {
                                                            <a href="@Resultlink.Link" target="@(Resultlink.NewWindow?"_blank":"_self")" class="btn btn-standard text-uppercase">@Resultlink.Caption</a>
                                                        }
                                                    }
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
    
               
               
          <section class="section-1" id="PanelTwo">
               <div class="plr100">
               <div class="row panelRow">
               <div class="row">
               <div class="col-md-12 column intro-text-85 mt-5 mb-5">
                @if (Model.Content.HasProperty("orientationContent") && Model.Content.HasValue("orientationContent"))
                {
                 @Html.Raw(Model.Content.GetPropertyValue("orientationContent"))
                }
                </div>
                </div>
                 </div>
                </div>
                    <div class="clearfix"></div>
		 </section>			
					
				<section class="Ties_TestimonialPanel position-relative forZIndex" >
    
     @if (Model.Content.HasValue("testimonialsectionTitle") && Model.Content.HasValue("testimonialstudent"))
        {
            <div class="ParentStoriesPanel Studentstories TestimonialPanel">
                <div class="plr100">
                    <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
                        @{
                            if (Model.Content.HasProperty("testimonialsectionTitle") && Model.Content.HasValue("testimonialsectionTitle"))
                            {
                                <p class="fontBlack">@(Model.Content.GetPropertyValue<string>("testimonialsectionTitle"))</p>
                            }
                            if (Model.Content.HasProperty("testimonialsectionTitle1") && Model.Content.HasValue("testimonialsectionTitle1"))
                            {
                                <h2 class="fontBlack">@(Model.Content.GetPropertyValue<string>("testimonialsectionTitle1"))</h2>
                            }
                        }
                    </div>
                   @* @if (Model.Content.HasProperty("knowMoreLink") && Model.Content.HasValue("knowMoreLink"))
                    {
                        <div class="link_list text-right noPadding">
                            <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                                @(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Caption)
                            </a>
                        </div>
                    }*@
                    <div class="CarouselforSlick StoryStyle StyleForSlickArrows storiesPannInn mlr">
                        @{
                            var studentStoriesItems = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("testimonialstudent");
                            foreach (var storiesItem in studentStoriesItems)
                            {
                                @Html.Partial("_stories", storiesItem)
                            }
                        }
                    </div>
                </div>
            </div>
        }
          
    </section>	
           
    
    
    
    
   <section class="EnquiryPanel position-relative " id="PanelTwo">
        <div class="container">
            <div class="EnqInner">
                 <h2 class="fontBold text-uppercase">Student Enquiry Form</h2>
                  @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="86c0b846-9e6f-4688-8528-0a9cd7beaa9f", FormTheme="Enquiry"})
                
                
          </div>
               </div>
    </section>
    
    
    <section class="EnquiryPanel position-relative " id="PanelTwo">
        <div class="container">
            <div class="EnqInner">
          
                       <div class="EnqInner" id="thankYou">
        <h2 class="fontBold text-uppercase">Partners Enquiry Form</h2>
        <div class="row enq_row mlr">
            <div class="col-lg-6 col-sm-6 enq_form plr7">
              

                <input type="text" class="enqFormstyle" placeholder="Name of Representative*" />
            </div>
            <div class="col-lg-6 col-sm-6 enq_form plr7">
               

                <input type="text" class="enqFormstyle" placeholder="University Name*" />
            </div>
            <div class="col-lg-6 col-sm-6 enq_form plr7">
               

                <input type="text" class="enqFormstyle" placeholder="Email address*" />
            </div>
             <div class="col-lg-6 col-sm-6 enq_form plr7">
               

                <input type="text" class="enqFormstyle" placeholder="Query*" />
            </div>
          
           </div>
       
           <div class="formSubmit  fontBold text-uppercase">
         
            <button type="submit" id="courseEnqSubmit" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase justify-content-center noPadding">SUBMIT</button>
           
        </div>
    </div>
   
               
                
            </div>
        </div>
    </section>
    
    <section class="section-1" id="PanelTwo">
        <div class="plr100">
            <div class="row panelRow">
              <div class="row">
              <div class="col-md-12 column intro-text-85 mt-5 mb-5">
                @if (Model.Content.HasProperty("contactDetails") && Model.Content.HasValue("contactDetails"))
                {
                 @Html.Raw(Model.Content.GetPropertyValue("contactDetails"))
                }
                
            
             </div>
            </div>
         </div>
        </div>
    </section>
   
   
   <section class="PanelInner studenAchievPanel_PaddingSpacing industry" id="PanelTwo" >
			
			<div class="container">
			<div class="row">
			<div class="col-md-12">
				<div class="AchieveTitleBlock position-relative">
				<p class="fontBold titleMedium text-uppercase">PHOTO</p>
				<h2 class="fontBlack text-uppercase titleh3">GALLERY</h2>
	    		</div>
			</div>
			  @if (Model.Content.HasValue("photoGallery"))
             {
             
                var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("photoGallery");
                                if (imgPaths != null)
                                {
                                    foreach (var imgPath in imgPaths)
                                    {
                		    	<div class="col-md-4 pb-4">
                		    	    <a href="" data-toggle="modal" data-target="#exampleModal">
                		    	        <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")">
                		    	        </a>
                		        </div>
		           
                                }
                            }
	       	 }
			</div>

			</div>


		  <!--Industry & UPES component-->
            
        </secton>
    
    @if (Model.Content.HasValue("InternationalTestimonialTitle") && Model.Content.HasValue("InternationalTestimonialTitle") && Model.Content.HasValue("InternationalTestimonialstudent"))
    {
        <section class="St_Event_Impact studenAchieveBanner position-relative">
            <div class="plr100">
                <div class="studenAchievPanel position-relative studenAchievPanel_PaddingSpacing">
                      
                            <div class="AchieveTitleBlock position-relative">
                              @{
                            if (Model.Content.HasProperty("InternationalTestimonialTitle") && Model.Content.HasValue("InternationalTestimonialTitle"))
                            {
                                <p class="fontBold titleMedium text-uppercase">@(Model.Content.GetPropertyValue<string>("InternationalTestimonialTitle"))</p>
                            }
                            if (Model.Content.HasProperty("InternationalTestimonialTitle1") && Model.Content.HasValue("InternationalTestimonialTitle1"))
                            {
                            
                            <h2 class="fontBlack text-uppercase titleh3">@(Model.Content.GetPropertyValue<string>("testimonialsectionTitle1"))</h2>
                          
                            }
                             }
                             </div>
                             
                        
                       
                        <div class="CarouselforSlick EventCarousel mlr">
                            @{
                                var studentAchievementsItems = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("InternationalTestimonialstudent");
                                foreach (var saItem in studentAchievementsItems)
                                {
                                    @Html.Partial("_achievements", saItem)
                                }
                            }
                        </div>
                    
                </div>
            </div>
        </section>
    }
    
    
    
      <section>
     @if(Model.Content.HasValue("schoolList"))
     {
        <div class="SchoolDetailPanel">
            <div class="plr100">
                @if (Model.Content.HasValue("bigTitle"))
                {
                    <div class="CampusInner UGTitle">
                        <h2 class="fontBlack text-uppercase GrayTitle">@Html.Raw(Model.Content.GetPropertyValue<string>("bigTitle"))</h2>
                    </div>
                }

            </div>
               <div class="UgDetailAccordion_Panel ugAccBanner position-relative">
                <div class="plr100">
                    <div class="UgDetailAccordion_Style" id="AccordionPanel12">
                        @if (Model.Content.HasValue("schoolList"))
                        {
                            var schoolLists = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("schoolList");
                            if (schoolLists != null)
                            {
                                int i = 0;
                                foreach (var schoolList in schoolLists)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#PanelOneBlock@(i)" aria-expanded="@(i==0?"true":"false")" aria-controls="PanelOne">
                                                    @Html.Raw(schoolList.GetPropertyValue("schoolName"))
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="PanelOneBlock@(i)" class="collapse @(i==0?"show":"")" data-parent="#AccordionPanel12" aria-labelledby="heading-3">
                                            <div class="card-body cardContext">
                                                <div class="row Inner_CardTitle no-gutters">
                                                    @if (schoolList.HasValue("image"))
                                                    {
                                                        var imgPath = schoolList.GetPropertyValue<IPublishedContent>("image");
                                                        if (imgPath != null)
                                                        {
                                                            <div class="col-lg-6 col-sm-6 Crd_img ">
                                                                <img src="@imgPath.Url" class="img-fluid downArrowIcon" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                                            </div>
                                                        }
                                                    }

                                                    <div class="col-lg-6 col-sm-6 Crd_TExt ">
                                                        <h2 class="fontBold">@Html.Raw(schoolList.GetPropertyValue("schoolTitles"))</h2>
                                                    </div>
                                                </div>
                                                <div class="Cardlist">
                                                    @if (schoolList.HasValue("coursePicker"))
                                                    {
                                                        var links = schoolList.GetPropertyValue<IEnumerable<IPublishedContent>>("coursePicker");
                                                        if (links != null)
                                                        {
                                                            foreach (var link in links)
                                                            {
                                                                <p>
                                                                    <span>@link.Name</span>
                                                                    <a href="@link.Url">Details</a>
                                                                </p>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    i++;
                                }
                            }
                        }
                    </div>
                </div>
            </div>       
    </div>

    }
    </section>
    
    
         
           
   
        
        @if(Model.Content.HasValue("newsList"))  
        {
        <section class="St_Event_Impact studenAchieveBanner position-relative">
            <div class="plr100">
                <div class="studenAchievPanel position-relative studenAchievPanel_PaddingSpacing">
                    @{
                        <div class="AchieveTitleBlock position-relative">
                           @* @if (schoolItem.HasProperty("sATitleLine1") && schoolItem.HasValue("sATitleLine1"))
                            {
                                <p class="fontBold titleMedium text-uppercase">@(schoolItem.GetPropertyValue<string>("sATitleLine1"))</p>
                            }*@
                            @if (Model.Content.HasProperty("newsTitle") && Model.Content.HasValue("newsTitle"))
                            {
                                <h2 class="fontBlack text-uppercase titleh3">
                                @Html.Raw(Model.Content.GetPropertyValue<string>("newsTitle"))
                                   
                                </h2>
                            }
                           @* @if (schoolItem.HasProperty("sAknowMoreLink") && schoolItem.HasValue("sAknowMoreLink"))
                            {
                                <div class="link_list text-right noPadding">
                                    <a href="@(schoolItem.GetPropertyValue<RelatedLinks>("sAknowMoreLink").FirstOrDefault().Link)" target="@(schoolItem.GetPropertyValue<RelatedLinks>("sAknowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                                        @(schoolItem.GetPropertyValue<RelatedLinks>("sAknowMoreLink").FirstOrDefault().Caption)
                                    </a>
                                </div>
                            }*@
                        </div>
                        <div class="CarouselforSlick EventCarousel mlr">
                            @{
                            
                            
                            var newLists = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("newsList");
                            if (newLists != null)
                            {
                                int i = 0;
                                foreach (var newList in newLists)
                                {
                                
                                var imgPath1 = newList.GetPropertyValue<IPublishedContent>("thumbImage");
                                if (imgPath1 != null)
                                {
                                <div class="EventPanelStyle EventPanelOne  plr7" style="width:374px; ">
  
                                   <img src="@imgPath1.Url"  class="img-fluid" width="374px" height="281px"  />
                               
                                 <div class="AchieveContext ">
                                 <div class="AchieveContextInn ">
                                 @if (newList.HasProperty("smallTitle") && newList.HasValue("smallTitle"))
                                 {
                                    <div class="AchieveContextPAra">
                                    <p class="fontBold">
                                        @Html.Raw(newList.GetPropertyValue("smallTitle"))
                                    </p>
                                    </div>
                                  }

                                    @if (newList.HasProperty("sAKnowMoreLink") && newList.HasValue("sAKnowMoreLink"))
                                    {
                                        <a target="@(newList.GetPropertyValue<RelatedLinks>("sAKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(newList.GetPropertyValue<RelatedLinks>("sAKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(newList.GetPropertyValue<RelatedLinks>("sAKnowMoreLink").FirstOrDefault().Caption)</a>
                                    }
                                 </div>

                                 </div>
                                
                                </div>
                                 }
                                }
                                
                                }
                            
                            }
                       
                     </div>
                    }
                   
                </div>
            </div>
        </section>
        }
    
    
    <!-- Modal -->
@* <div class="newmodal>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
       
      <div class="modal-body">
       <img src="https://www.upes.ac.in/media/4093/sparsh.jpg" class="img-fluid">
      </div>
      
    </div>
  </div>
</div>
</div>*@	
	
	
    <div class="clearfix"></div>
   @{
     if(IsPost)
    {
    string formName ="";
    string formuniversity="";
    string formemail="";
    string formquery="";
    
    
    
    
        formName     = Request.Form["a56d133e-dad0-4f07-9429-b2c54567b890"];
        formuniversity  = Request.Form["79ab04f7-9ca5-44a3-acda-b1ca22029f43"];
        formemail   = Request.Form["824cf3c6-f7eb-48f7-ecad-3e31a42343f8"];
        formquery   = Request.Form["f56a133c-6d45-40fd-8d26-8265f0fe318d"];
       
       
        
     bool isEmail = Regex.IsMatch(formemail, @"\A(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)\Z", RegexOptions.IgnoreCase);
       if(isEmail)
       {
       
       }
       else 
       {
        HttpContext.Current.Response.Write("<script>alert('Please enter valid email!!!');</script>"); 
       return ; 
       }
        
        
        if(formemail != null && formName != null && formemail!="" && formName!="" )
        {
            var db = new Database("conAdmission");
            int query = db.Execute("INSERT INTO internationalconenquiry (id,name,university,email,query) values ((SELECT MAX(id) FROM internationalconenquiry) + 1,@0,@1,@2,@3)",formName,formuniversity,formemail,formquery);
            if(query > 0)
            {
            HttpContext.Current.Response.Write("<script>alert('Submitted Successfully!!!');</script>"); 
            }
        }
 }
}

</main>