﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using upes_website.Controller;
@using Umbraco.Web.Models;
@using Umbraco.Core.Persistence
@using System.Text.RegularExpressions;

    
    
@{
    Layout = "Master.cshtml";
     var schoolItem = Model.Content.AncestorOrSelf();
   
}
@section style{
    
 
    <link href="/css/HomeTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" />
    <link href="/css/industry.min.css" rel="stylesheet" type="text/css" />
    
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/upesEmployee.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="/css/ProgramDetailTemplate.min.css" rel="stylesheet" />
    <link href="/css/rte.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  

   
}
<main role="main" class="UpesStudent SchoolDetailPanel">
       <!--Banner Block-->
    <style>
    .industry .Orange-Strip::before {
    background: #ffca08;
    width: 0;
    content: '';
    height: 100%;
    top: 0;
    position: absolute;
}
.SchoolDetailPanel.GenerTemplate .StoryTitleStrip{
    display: table-cell;
    vertical-align: middle;
}
.SchoolDetailPanel.GenerTemplate .StoryTitleStrip h2 {
    font-size: 2.5vw;
}

.SchoolDetailPanel .Events_Facilities_Panel {
    padding: 120px 0 120px 120px;
}
.SchoolDetailPanel .CarouselforSlick .slick-prev{
    margin: auto;
    right: 0;
    left: -60px;
}
.SchoolDetailPanel .CarouselforSlick .slick-next{
    right:0;
    margin:auto;
    left:50px;
}
.SchoolDetailPanel .StoriesContext h3{
    display:block;
    max-height: unset;
}
/**umb_name:h2*/
h2{font-size: 2vw;
    text-transform: uppercase;
	font-weight: 800;
	font-family: inherit;
	margin: inherit;
    line-height: initial; padding-bottom: 30px}

/**umb_name:h3*/
h3{font-size: 1.3vw;
font-weight: 500;
padding: 2vh 0 1vh 0;
margin: inherit;
line-height: initial;
font-family: inherit;}

/**umb_name:p*/
p{font-weight: 500;
    font-size: 1vw;
    line-height: 28px;}

.plr100.padd_btm {
    padding-top: 70px;
    padding-bottom: 70px;
}

.padd_box {
    padding: 50px;
}

.row.no-gutters.yellow-bg11 {
    background: #ffda22;
}

.row.no-gutters.blue-bg11 {
    background: #154985;}
    
    .row.no-gutters.blue-bg11 h2  {
    color: #ffffff;
}

.row.no-gutters.blue-bg11 p {
    color: #ffffff;
}

.row.no-gutters.yellow-bg11 h2 a {
    color: #000;
}
 h2 a {
    color: #000;
}

.row.international_connect_page_details h4 {
    font-size: 18px!important;
    padding: 20px 0!important;
}

.international_col h4 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

a.btn.btn-primary.bg_blue {
    padding: 10px 30px;
    float: right;
    margin-top: 20px;
    background: #154985;
}
a.btn.btn-primary.bg_blue:hover {
    background: #d2b211;
    color: #000000;
}
 
a.btn.btn-primary.bg_white {
    padding: 10px 30px;
    float: right;
    margin-top: 20px;
    background: #FFF;  color: #000000;
}
a.btn.btn-primary.bg_white:hover {
    background: #ffda22;
    color: #000000;
}

section.section-1.contact_page {
    padding-bottom: 0;
    padding-top: 0;
}
 @@media only screen and (min-width:0px) and (max-width:767px){
  .SchoolDetailPanel .banner .BannerStripContext {
    height: 170px;
    bottom: 0;
} 

.bg-white.GenerTemplate.SchoolDetailPanel {
    padding: 0 15px;
}
.plr100.padd_btm {
    padding-top: 20px;
    padding-bottom: 20px;
}
p.sub-head {
    font-size: 14px;
}
.padd_box {
    padding: 20px;
}
.row.no-gutters.blue-bg11 p {
    font-size: 14px;
}
.row.no-gutters.blue-bg11 h2 {
    color: #ffffff;
    font-size: 18px;
}

.row.no-gutters.yellow-bg11 {
    background: #ffda22;
    margin-top: 30px !important;
}
.row.no-gutters.yellow-bg11 h2, .bg-white.GenerTemplate.SchoolDetailPanel h2 {
    font-size: 18px;
    line-height: 1.5;
}

a.btn.btn-primary.bg_white, a.btn.btn-primary.bg_blue {
     
    margin-bottom: 40px;
}

.bg-white.GenerTemplate.SchoolDetailPanel p {
    font-size: 14px;
}
.SchoolDetailPanel .StoryTitleStrip {
    width: 280px;
    padding: 20px 15px 0 15px;
    height: auto;
}

.SchoolDetailPanel .StoriesContext {
    left: 0;
    width: 100%;
    padding: 10px 15px;
    height: auto;
}
.SchoolDetailPanel .storiesPanStyle img {
    width: 100%;
}
.SchoolDetailPanel .Events_Facilities_Panel {
    padding: 50px 0;
}
h2.fontBold.text-uppercase {
    padding: 0;
    font-size: 21px;
    margin-bottom: 20px;
}
section.section-1.contact_page p {
    font-size: 14px;
}
.col-sm-4.footCenterTile.plr7 {
    margin-bottom: 30px;
}

        
}
		   



</style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        <!-- var result = upes_website.Core.ExamineExtensions.ExamineAlias("home");
        IPublishedContent homeContent = Umbraco.TypedContent("1152"); -->

        @Html.Partial("BreadCrumb")

        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                 @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
        @if(Model.Content.HasValue("overviewTitle") && Model.Content.HasValue("overview"))
                {
    <div class="bg-white GenerTemplate SchoolDetailPanel">
        <div class="plr100 padd_btm">
             @*<div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
             <h2 class="fontBlack">
@Umbraco.Field("overviewTitle", recursive: true)
</h2> 
</div>*@
@Umbraco.Field("overview", recursive: true)
</div>
   @if (Model.Content.HasValue("academicAlliancesImages"))
            {
                <div class="plr100">
                    <div class="industryPanel panel1">
                        <div class="companies-wrapper">
                            <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
                                @{
                                    var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("academicAlliancesImages");
                                    if (imgPaths != null)
                                    {
                                        foreach (var imgPath in imgPaths)
                                        {
                                            <div class="ind_Logo">
                                                <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                            </div>
                                        }
                                    }
                                }
                            </div>
                          
                        </div>
                         
                    </div>
                </div>
                <div class="plr100">
                 <div class="row no-gutters pb-4">
                   <p class="text-right float-right w-100"><a href="/international-connect/international-academic-collaboration" class="btn btn-primary bg_blue">Learn More</a></p>
                 </div>
             </div>
                
            }
           
</div>
}

    @if(Model.Content.HasValue("mapStatsTitle") && Model.Content.HasValue("mapStats"))
                {
<div class="bg-white GenerTemplate SchoolDetailPanel">
        <div class="plr100">
            <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
              <h2 class="fontBlack">
@Umbraco.Field("mapStatsTitle", recursive: true)
</h2>
</div>
@Umbraco.Field("mapStats", recursive: true)
</div>

</div>
  }

@{
var pagesLinkTo = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("pagesLinkTo");
foreach(var pagelink in pagesLinkTo){
<div class="bg-white GenerTemplate SchoolDetailPanel">
        <div class="plr100">
            @*<div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
              <h2 class="fontBlack">
@pagelink.GetPropertyValue("pageTitle")
</h2>
</div> *@

@pagelink.GetPropertyValue("detailContent")
  @*<a href="@pagelink.Url" class="readmore_btn btn">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a> *@

</div>
</div>

}
}

 

  @if (schoolItem.HasValue("testimonialSectionTitle") && schoolItem.HasValue("testimonialSectionTitle1") && schoolItem.HasValue("testimonialStudent"))
        {
            <div class="ParentStoriesPanel Studentstories TestimonialPanel">
                <div class="plr100">
                    <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
                        @{
                            if (schoolItem.HasProperty("testimonialSectionTitle") && schoolItem.HasValue("testimonialSectionTitle"))
                            {
                                <p class="fontBlack">@(schoolItem.GetPropertyValue<string>("testimonialSectionTitle"))</p>
                            }
                            if (schoolItem.HasProperty("testimonialSectionTitle1") && schoolItem.HasValue("testimonialSectionTitle1"))
                            {
                                <h2 class="fontBlack">@(schoolItem.GetPropertyValue<string>("testimonialSectionTitle1"))</h2>
                            }
                        }
                    </div>
                    @if (schoolItem.HasProperty("knowMoreLink") && schoolItem.HasValue("knowMoreLink"))
                    {
                        <div class="link_list text-right noPadding">
                            <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                                @(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Caption)
                            </a>
                        </div>
                    }
                    <div class="CarouselforSlick StoryStyle StyleForSlickArrows storiesPannInn mlr">
                        @{
                            var studentStoriesItems = schoolItem.GetPropertyValue<IEnumerable<IPublishedContent>>("testimonialStudent");
                            foreach (var storiesItem in studentStoriesItems)
                            {
                                @Html.Partial("_stories", storiesItem)
                            }
                        }
                    </div>
                </div>
            </div>
        }
         <section class="FacBanner position-relative">
        <div class="plr100">
               <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
                        @{
                            if (schoolItem.HasProperty("eventTitle") && schoolItem.HasValue("eventTitle"))
                            {
                                <h2 class="fontBlack">@(schoolItem.GetPropertyValue<string>("eventTitle"))</h2>
                            }
                        }
                    </div>
            <div class="Events_Impact_Panel  Events_Facilities_Panel  row no-gutters ">
                    <div class="col-sm-12 Ev_Im_List">
                    @{

                        var eventsItemIndex = schoolItem.GetPropertyValue<IEnumerable<IPublishedContent>>("eventPicker");
                        if (eventsItemIndex.Count() > 0)
                        {    <div class="HomeEventCarousel StyleForSlickArrowsBottom CarouselforSlick StyleForSlickArrows">
                                    @foreach (var links in eventsItemIndex)
                                    {
                                        var saimg = links.GetPropertyValue<IPublishedContent>("showcaseImage");
                                        @*var saimgId = Umbraco.TypedMedia(saimg.Id);*@
                                        <div class="HomeEventPanelStyle EventPanelOne">
                                            <div class="HomeEventImg">
                                                @if (saimg != null)
                                                {
                                                    <img src="@saimg.GetCropUrl("Events")" alt="img-fluid" class="img-fluid" />
                                                }
                                            </div>
                                            <div class="eventContext eventContextForHome">
                                                <div class="EventContStyle  EventContStyleForHomeBlk">
                                                    <h4 class="fontBold titleh4">@(links.GetPropertyValue<string>("showcaseTitle"))</h4>
                                                    @if (links.HasProperty("shortDescription") && links.HasValue("shortDescription"))
                                                    {
                                                        <div class="EventPara">
                                                            <p class="fontMedium para_three">
                                                                @Html.Raw(links.GetPropertyValue("shortDescription"))
                                                            </p>
                                                        </div>
                                                    }
                                                    @if (links.HasProperty("registerNowLink") && links.HasValue("registerNowLink"))
                                                    {
                                                        <a target="@(links.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(links.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(links.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().Caption)</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                <div class="link_list text-left PadSpacing ">
                                    @if (schoolItem.HasProperty("moreEventLink") && schoolItem.HasValue("moreEventLink"))
                                    {
                                        var moreLinkIndex = schoolItem.GetPropertyValue<RelatedLinks>
                                            ("moreEventLink");
                                        if (moreLinkIndex.Any())
                                        {
                                            foreach (var item in moreLinkIndex)
                                            {
                                                var linkTarget = (item.NewWindow) ? "_blank" : null;
                                                <a href="@item.Link" target="@linkTarget" class="fontBold text-uppercase text-decoration">
                                                    <span>@item.Caption</span>
                                                </a>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
    </section>

 <section class="PanelInner studenAchievPanel_PaddingSpacing industry" id="PanelTwo" >
			 <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">

				<p class="fontBold titleMedium text-uppercase">PHOTO</p>
				<h2 class="fontBlack text-uppercase titleh3">GALLERY</h2>
                    </div>
                    <div class="Events_Impact_Panel  Events_Facilities_Panel  row no-gutters ">
                    <div class="col-sm-12 Ev_Im_List">
                @if (Model.Content.HasValue("photoGallery"))
                {
             
                var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("photoGallery");
                                if (imgPaths != null)
                                {  
                                <div class="HomeEventCarousel StyleForSlickArrowsBottom CarouselforSlick StyleForSlickArrows">
                                    @foreach (var imgPath in imgPaths)
                                    {
                                        <div class="HomeEventPanelStyle EventPanelOne">
                                            <div class="HomeEventImg">
                                               
                                                    <img src="@imgPath.Url" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                                
                                            </div>
                                           
                                        </div>
                                    }
                                <div class="link_list text-left PadSpacing ">
                                   
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
            <style>
                

section#PanelTwo button.slick-prev {
    top: 98%;
}

section#PanelTwo button.slick-next { top: 98%;}
            </style>
		@*	<div class="container">
			<div class="row">
			  @if (Model.Content.HasValue("photoGallery"))
             {
             
                var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("photoGallery");
                                if (imgPaths != null)
                                {
                                    foreach (var imgPath in imgPaths)
                                    {
                		    	<div class="col-md-4 pb-4">
                		    	    <a href="" data-toggle="modal" data-target="#exampleModal">
                		    	        <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")">
                		    	        </a>
                		        </div>
		           
                                }
                            }
	       	 }
			</div>

			</div>*@


		  <!--Industry & UPES component-->
            
        </secton>
        
    
   <section class="EnquiryPanel position-relative " id="PanelTwo">
        <div class="container">
            <div class="EnqInner">
                 <h2 class="fontBold text-uppercase">Student Enquiry Form</h2>
                  @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="86c0b846-9e6f-4688-8528-0a9cd7beaa9f", FormTheme="Enquiry"})
                
                
          </div>
               </div>
    </section>
    
    
    <section class="EnquiryPanel position-relative " id="PanelTwo">
        <div class="container">
            <div class="EnqInner">
          
                       <div class="EnqInner" id="thankYou">
        <h2 class="fontBold text-uppercase">Partners Enquiry Form</h2>
          @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="042d51f4-6038-4558-81a7-e454b65412eb", FormTheme="Enquiry"})
      
    </div>
   
               
                
            </div>
        </div>
    </section>
    <section class="section-1 contact_page" id="PanelTwo">
        <div class="plr100">
            <div class="row panelRow">
              <div class="container">
              <div class="col-md-12 column intro-text-85 mt-5 mb-5">
                @if (Model.Content.HasProperty("contactDetails") && Model.Content.HasValue("contactDetails"))
                {
                 @Html.Raw(Model.Content.GetPropertyValue("contactDetails"))
                }
                
            
             </div>
            </div>
         </div>
        </div>
    </section>
</main>