﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.JobApplication>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    int jobID = 0;
    string jobTitle = "";
    try
    {
        if (Request.QueryString["id"] != null)
        {
            jobID = Convert.ToInt32(Request.QueryString["id"].ToString());
            var nodeID = Umbraco.TypedContent(jobID);
            jobTitle = nodeID.GetPropertyValue<string>("showcaseTitle");
        }
        else
        {
            Response.Redirect(Request.UrlReferrer.ToString());
        }
    }
    catch (Exception exe)
    {
        Response.Redirect(Request.UrlReferrer.ToString());
    }
}
@section style
{
    <link href="/css/GeneralTemplate.css" rel="stylesheet" type="text/css" />
    <link href="/css/generalcontentgrid.css" rel="stylesheet" type="text/css" />
    <style>
        .span-error {
            color: red;
        }
    </style>
}
<main role="main" class="GenerTemplate">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <h1 class="fontExBold">
                    Job Application
                </h1>
            </div>
            <div class="BannerImg position-relative">
                <picture>
                    <img src="https://s3.amazonaws.com/upes-prod/media/1092/events-banner-1.jpg" class="img-fluid" alt="" />
                </picture>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--Inner-->
    <section class="PanelInner studenAchievPanel_PaddingSpacing" id="PanelTwo">
        <div class="plr100">
            <div class="col-md-12 col-sm-12">
                <div class="loginsection" style="width:60%;">
                    <div class="heading">
                        <h4>Personal Information </h4>
                    </div>
                    <p></p>
                    <span>All Fields are (<strong>*</strong>) Mandatory </span>
                    <p></p>
                    <div class="form-group">
                        <label>Job Title </label><b>:</b>
                        <label>@(jobTitle)</label>
                        <input type="hidden" id="hfJobid" value="@(jobID.ToString())" />
                        <input type="hidden" id="hfdesignation" value="@(jobTitle)" />
                    </div>
                    <div class="form-group">
                        <label>
                            First Name
                        </label><b>:</b><span style="color:red;">*</span>
                        <input name="FName" type="text" id="FName" class="form-control ">
                        <span id="rfFName" class="span-error" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            Last Name
                        </label><b>:</b><span style="color:red;">*</span>
                        <input name="LName" type="text" id="LName" class="form-control ">
                        <span id="rfLName" class="span-error" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                        <label>Date of Birth</label><b>:</b><span style="color:red;">*</span>
                        <input name="App_DOB" type="text" placeholder="DD/MM/YYYY" id="App_DOB" class="form-control">
                        <span id="rfApp_DOB" class="span-error" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            Gender
                        </label><b>:</b>
                        <table id="Gender" class="none">
                            <tbody>
                                <tr>
                                    <td><input id="Gender_0" type="radio" name="Gender" value="Male" checked="checked"><label for="Gender_0"><small>Male</small></label></td>
                                    <td><input id="Gender_1" type="radio" name="Gender" value="Female"><label for="Gender_1"><small>Female</small></label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label>
                            Marital Status
                        </label><b>:</b>

                        <select name="MaritalStatus" id="MaritalStatus" class="form-control ">
                            <option value="Unmarried">Unmarried</option>
                            <option value="Married">Married</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>
                            Father's/ Husband's Name
                        </label><b>:</b>
                        <input name="Father_HusbandName" type="text" id="Father_HusbandName" class="form-control ">
                    </div>
                    <div class="form-group">
                        <h4>
                            Contact Details
                        </h4>
                    </div>
                    <div class="form-group">
                        <label>
                            Residential Address
                        </label><b>:</b>
                        <textarea name="App_Address" rows="2" cols="20" id="App_Address" class="form-control "></textarea>
                    </div>
                    <div class="form-group">
                        <label>
                            Country
                        </label><b>:</b>
                        <select name="Country" id="Country" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label>
                            State
                        </label><b>:</b>
                        <input name="State" type="text" id="State" class="form-control ">
                    </div>
                    <div class="form-group">
                        <label>
                            City
                        </label><b>:</b>
                        <input name="City" type="text" id="City" class="form-control ">
                    </div>
                    <div class="form-group">
                        <label>
                            Tel No.
                        </label><b>:</b>
                        <input name="Telephone" type="text" id="Telephone" class="form-control ">
                    </div>
                    <div class="form-group">
                        <label>
                            Mobile
                        </label><b>:</b>
                        <input name="Mobile" type="text" id="Mobile" class="form-control ">
                        <span id="rfMobile" class="span-error" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            Email
                        </label><b>:</b><span style="color:red;">*</span>
                        <input name="App_Email" type="text" id="App_Email" class="form-control ">
                        <span id="rfApp_Email" class="span-error" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                        <div class="heading"> <h4> Professional Details</h4></div>
                    </div>
                    <div class="form-group">
                        <label>
                            Experience
                        </label><b>:</b>
                        <table border="0" cellpadding="5" cellspacing="0" class="sm">
                            <tbody>
                                <tr>
                                    <td width="45" class="padrt5">
                                        Year
                                    </td>
                                    <td width="58">
                                        <select name="App_Expyear" id="App_Expyear" class="form-control">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>
                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="50">50</option>
                                            <option value="51">51</option>
                                            <option value="52">52</option>
                                            <option value="53">53</option>
                                            <option value="54">54</option>
                                            <option value="55">55</option>
                                            <option value="56">56</option>
                                            <option value="57">57</option>
                                            <option value="58">58</option>
                                            <option value="59">59</option>
                                            <option value="60">60</option>

                                        </select>
                                    </td>
                                    <td width="5">
                                        &nbsp;
                                    </td>
                                    <td width="44" class="padrt5">
                                        Month&nbsp;
                                    </td>
                                    <td width="58">
                                        <select name="App_Expmonth" id="App_Expmonth" class="form-control ">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="223">
                                        <b> Qualifications</b>
                                    </td>
                                    <td width="312" style="height:40px">
                                        <b>&nbsp;Board/Course</b>
                                    </td>
                                    <td width="10" style="height:40px">&nbsp;</td>
                                    <td width="275" align="center" style="height:40px">
                                        <b>&nbsp;%</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        HighSchool<span class="redclr">*</span>
                                    </td>
                                    <td style="height:40px">
                                        <input name="tenboard" type="text" id="tenboard" class="form-control " style="width:160px;">
                                        <span id="rftenboard" class="span-error" style="display:none;"></span>
                                    </td>
                                    <td style="height:40px">&nbsp;</td>
                                    <td style="height:40px">
                                        <input name="tenper" type="text" id="tenper" class="form-control " style="width:40px;">
                                        <span id="rftenper" class="span-error" style="display:none;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;width:50px">
                                        Intermediate<span class="redclr">*</span>
                                    </td>
                                    <td style="height:40px">
                                        <input name="interboard" type="text" id="interboard" class="form-control " style="width:160px;">
                                        <span id="rfinterboard" class="span-error" style="display:none;"></span>

                                    </td>
                                    <td style="height:40px">&nbsp;</td>
                                    <td style="height:40px">
                                        <input name="interper" type="text" id="interper" class="form-control " style="width:40px;">
                                        <span id="rfinterper" class="span-error" style="display:none;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;width:50px">
                                        Gradution<span class="redclr">*</span>
                                    </td>
                                    <td style="height:40px">
                                        <input name="grdboard" type="text" id="grdboard" class="form-control " style="width:160px;">
                                        <span id="rfgrdboard" class="span-error" style="display:none;"></span>

                                    </td>
                                    <td style="height:40px">&nbsp;</td>
                                    <td style="height:40px">
                                        <input name="grdper" type="text" id="grdper" class="form-control " style="width:40px;">
                                        <span id="rfgrdper" class="span-error" style="display:none;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Post Gradution
                                    </td>
                                    <td style="height:40px">
                                        <input name="pgrdboard" type="text" id="pgrdboard" class="form-control " style="width:160px;">
                                    </td>
                                    <td style="height:40px">&nbsp;</td>
                                    <td style="height:40px">
                                        <input name="pgrdper" type="text" id="pgrdper" class="form-control " style="width:40px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Other
                                    </td>
                                    <td style="height:40px">
                                        <input name="othboard" type="text" id="othboard" class="form-control " style="width:160px;">
                                    </td>
                                    <td style="height:40px">&nbsp;</td>
                                    <td style="height:40px">
                                        <input name="othper" type="text" id="othper" class="form-control " style="width:40px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label>
                            Skills
                        </label><b>:</b>
                        <textarea name="App_Skills" rows="2" cols="20" id="App_Skills" class="form-control "></textarea>
                    </div>
                    <div class="form-group">
                        <div class="heading">
                            <h4>
                                Current Employment Details
                            </h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Name of Organization
                        </label><b>:</b>
                        <input name="cemployer" type="text" id="cemployer" class="form-control ">
                    </div>
                    <div class="form-group">
                        <label>
                            Salary
                        </label><b>:</b>
                        <input name="csalary" type="text" id="csalary" class="form-control ">
                    </div>
                    <div class="form-group">
                        <label>
                            Current Industry
                        </label><b>:</b>
                        <input name="cindustry" type="text" id="cindustry" class="form-control ">
                    </div>
                    <div class="form-group">
                        <label>
                            Functional Area
                        </label><b>:</b>
                        <input name="funarea" type="text" id="funarea" class="form-control ">
                    </div>
                    <div class="form-group">
                        <label>
                            Preferred Location
                        </label><b>:</b>
                        <input name="plocation" type="text" id="plocation" class="form-control ">
                    </div>
                    <div class="form-group">
                        <label>
                            area of Interest
                        </label><b>:</b>
                        <input name="Areaofintrst" type="text" id="Areaofintrst" class="form-control ">
                    </div>
                    <div class="form-group">
                        <label>
                            Upload your resume
                        </label><b>:</b>
                        <input name="File1" type="file" id="File1" contenteditable="false" size="35"><br /><span style="color:red;font-size:8px;">(Please upload .docx, .doc, .txt format only.)</span>
                        <span id="rfFile1" class="span-error" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <input type="submit" name="lnksubmit" value="Submit" id="lnksubmit" class="form-btn" onclick="return doValidateApplicant();">
                        <input type="submit" name="lnkreset" value="Cancel" id="lnkreset" class="form-btn">
                    </div>

                </div>
            </div>
        </div>
    </section>
    @Html.Partial("Floating")
    <div class="clearfix"></div>
</main>

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="/scripts/job-application.js"></script>
}

