﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Text.RegularExpressions
@using Umbraco.Web.Models
@{
    Layout = null;

    var strmeataRobotsFollowVal = "Follow";
    if (Model.Content.HasProperty("metaRobotsFollow") && Model.Content.HasValue("metaRobotsFollow"))
    {
        var intVal = Model.Content.GetPropertyValue<int>("metaRobotsFollow", true);
        strmeataRobotsFollowVal = Umbraco.GetPreValueAsString(intVal);
    }
    //var oImage = Model.Content.GetPropertyValue<IPublishedContent>("oGImage", true);
    var oImage = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("oGImage"), Umbraco);

    IPublishedContent objGeneralInforation = Umbraco.TypedContent(1941);
    //var result = upes_website.Core.ExamineExtensions.ExamineAlias("generalInformation");
    IPublishedContent generalContent = Umbraco.TypedContent("1941");
}

@* the fun starts here *@
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FFCA08">
    <meta name="msapplication-navbutton-color" content="#FFCA08">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFCA08">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFCA08">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/img/UPES-favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/img/UPES-favicon.ico">
    <!--Style-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900" rel="stylesheet">
    @*<link href="/css/component.css" rel="stylesheet" />*@
    <!--Custom Css-->
    <link href="/css/component.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link href="/css/HomeTemplate.min.css" />
    <link href="/css/main.min.css?i=nkp9898" rel="stylesheet" />
    <link href="/css/ParentTemplate.min.css" rel="stylesheet" />
    <link href="/css/general-popup.min.css" rel="stylesheet" type="text/css" />
    <!--datepicker css-->
    <link href="/css/core.css" rel="stylesheet" />
    <link href="/css/datepicker.css" rel="stylesheet" />
    <link href="/css/gijgo.min.css?i" rel="stylesheet" type="text/css" />
    <!-- Required meta tags -->
    <meta name="ROBOTS" content="@((string.IsNullOrEmpty(strmeataRobotsFollowVal) || strmeataRobotsFollowVal == "Follow") ? "index,follow" : strmeataRobotsFollowVal)">
    @{
        var pageTitle = "";
        if (Model.Content.HasValue("pageMetaTitle"))
        {
            pageTitle = Model.Content.GetPropertyValue<string>("pageMetaTitle");
        }
        else
        {
            pageTitle = Model.Content.Name;
        }
        string pattern = @"\[([^\]]+)\]";
        if (Model.Content.HasValue("pageMetaTitle", true))
        {
            pageTitle = Model.Content.GetPropertyValue<string>("pageMetaTitle", true);
            if (!Model.Content.HasValue("pageTitle") || Model.Content.Children.Count() == 0)
            {
                string placeholder = System.Text.RegularExpressions.Regex.IsMatch(pageTitle, pattern) ? System.Text.RegularExpressions.Regex.Match(pageTitle, pattern).Groups[1].Value : "";
                string placeholderValue = "";
                switch (placeholder.ToLower())
                {
                    case "name": placeholderValue = Model.Content.Name; break;
                        //case "filter":
                        //    string filter = Request.QueryString["t"];
                        //    filter = filter == "all" ? "search" : filter;
                        //    placeholderValue = ActiveInternational.Web.Core.CommonMethods.GetTitleByAlias(filter); break;
                }
                pageTitle = pageTitle.Replace("[" + placeholder + "]", placeholderValue);
            }
            else if (Model.Content.HasValue("pageTitle"))
            {
                pageTitle = System.Text.RegularExpressions.Regex.Replace(pageTitle, pattern, "");
            }
        }
        var ogTitle = Model.Content.GetPropertyValue<string>("oGTitle", true);
        if (Model.Content.HasValue("oGTitle", true))
        {
            ogTitle = Model.Content.GetPropertyValue<string>("oGTitle", true);
            if (!Model.Content.HasValue("oGTitle") || Model.Content.Children.Count() == 0)
            {
                foreach (Match mat in Regex.Matches(ogTitle, pattern))
                {
                    string placeholder = mat.Success ? mat.Groups[1].Value : "";
                    string placeholderValue = "";
                    switch (placeholder.ToLower())
                    {
                        case "name": placeholderValue = Model.Content.Name; break;
                    }
                    ogTitle = ogTitle.Replace("[" + placeholder + "]", placeholderValue);
                }
            }
            else if (Model.Content.HasValue("oGTitle"))
            {
                ogTitle = System.Text.RegularExpressions.Regex.Replace(ogTitle, pattern, "");
            }
        }
    }
    <title>@pageTitle</title>
    @{
        <meta name="description" content="@Html.Raw(Model.Content.GetPropertyValue("descriptions", true))" />
        <meta property="og:title" content="@pageTitle" />
        if (oImage != null)
        {
        <meta property="og:image" content="@((Request.Url.IsDefaultPort ? string.Empty : ":" + Request.Url.Port.ToString()) + oImage.Url)" />
            //<meta property="og:image" content="@(Request.Url.Scheme + "://" + Request.Url.Host + (Request.Url.IsDefaultPort ? string.Empty : ":" + Request.Url.Port.ToString()) + oImage.Url)" />
        }
        <meta property="og:type" content="website" />
        <meta property="og:url" content="@Model.Content.UrlAbsolute()" />
        <meta property="og:description" content="@Html.Raw(Model.Content.GetPropertyValue("descriptions", true))" />
    }
    <link rel="canonical" href="@(Model.Content.UrlAbsolute())" />
    @RenderSection("style", required: false)
    <!-- Start of newgendigitalhelp Zendesk Widget script -->
    @*<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=adc67c23-a86f-4f0e-9a4a-80c652b8d319"></script>*@
    <!--hide script from pop up-->
    @*<script>
            zE(function () {
                zE.hide();
            });
        </script>*@
    <!-- End of newgendigitalhelp Zendesk Widget script -->
    @RenderSection("CourseScript",required:false)
    @if (objGeneralInforation.HasProperty("headerScript") && objGeneralInforation.HasValue("headerScript"))
    {
        @Html.Raw(objGeneralInforation.GetPropertyValue("headerScript"))
    }
    
<style type='text/css'>
               .embeddedServiceHelpButton .helpButton .uiButton {
                              background-color: #005290;
                              font-family: "Arial", sans-serif;
               }
               .embeddedServiceHelpButton .helpButton .uiButton:focus {
                              outline: 1px solid #005290;
               }
</style>

</head>
<body>
    @{
        if (Request.Url.ToString().Contains("/thankyou-event-registration"))
        {
            <script>
                fbq('track', 'Schedule');
            </script>
        }
    }
    @if (objGeneralInforation.HasProperty("bodyScript") && objGeneralInforation.HasValue("bodyScript"))
    {
        @Html.Raw(objGeneralInforation.GetPropertyValue("bodyScript"))
    }
    <!--Header-->
    <header>
        @Html.Partial("Header/Header")
    </header>
    <!-- SITE INNER -->
    @RenderBody()
    <!-- SITE INNER -->
    <!--Footer Showcase Block -->
    <section class="showcase">
        <div class="FooterShowcasePanel">
            <div class="show_caseTop">
                <div class="plr100">
                    <div class="row shcaseRow no-gutters">
                        <div class="col-sm-3 takeStep">
                            @if (generalContent.HasProperty("title") && generalContent.HasValue("title"))
                            {
                                <p class="fontBlack text-uppercase">
                                    @Html.Raw(generalContent.GetPropertyValue("title"))
                                </p>
                            }

                        </div>
                        <div class="col-sm-9 sh_showcaseRight d-flex justify-content-end align-items-center">
                            <div class="Visit_list fontBold text-uppercase d-flex">
                                @if (generalContent.HasProperty("visitBeautifulCampusButtonCaption") && generalContent.HasValue("visitBeautifulCampusButtonCaption"))
                                {
                                    if (generalContent.HasValue("visitBeautifulCampusButtonCaption"))
                                    {
                                        <a data-toggle="modal" data-target="#divVisitCampusLink" class=" br30 fontBold btn btn-primary BtnStyle">@Html.Raw(generalContent.GetPropertyValue("visitBeautifulCampusButtonCaption"))</a>
                                    }

                                    <!--modal-->

                                }
                                @if (generalContent.HasProperty("takeToCounsellersLink") && generalContent.HasValue("takeToCounsellersLink"))
                                {
                                    var link = generalContent.GetPropertyValue<RelatedLinks>("takeToCounsellersLink").FirstOrDefault();
                                    if (link != null)
                                    {
                                        @*<a data-toggle="modal" data-target="@link.Link" class="br30 fontBold btn btn-primary BtnStyle">@link.Caption</a>*@
                                        <a onclick="openChat();" class="br30 fontBold btn btn-primary BtnStyle">@link.Caption</a>
                                    }
                                }


                            </div>
                            <div class="general-popup">

                                <!-- Large modal -->

                                <div data-backdrop="false" id="divVisitCampusLink" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">

                                            <div class="modal-header">

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                                            </div>
                                            <div class="modal-body">
                                                <div class="content">
                                                    <!--bind content div, loop if multiple-->
                                                    @if (generalContent.HasValue("beautifulCampusPopupTitle"))
                                                    {
                                                        <div class="header">
                                                            <h3 class="fontBold"> @Html.Raw(generalContent.GetPropertyValue("beautifulCampusPopupTitle")) </h3>
                                                        </div>
                                                    }
                                                    @*<div class="sub-header">
                                                            <p>Examination Pathway admission through UPESEAT (Up to 80% of Seats):</p>
                                                        </div>*@
                                                    @if (generalContent.HasValue("beautifulCampusPopupContent"))
                                                    {
                                                        @Html.Raw(generalContent.GetPropertyValue("beautifulCampusPopupContent"))
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!-- Video modal -->
                                @*<div data-backdrop="false" class="modal fade bs-video-example-modal-lg" id="divVisitCampusLink" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">

                                                <div class="video-wrapper">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            @if (generalContent.HasValue("beautifulCampusPopupTitle"))
                                                            {
                                                                <div class="title-wrapper">
                                                                    <h3 class="fontBold"> @Html.Raw(generalContent.GetPropertyValue("beautifulCampusPopupTitle")) </h3>
                                                                </div>
                                                            }

                                                            <div class="close-btn-wrapper">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="stopVideo();">×</span></button>
                                                            </div>

                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="content" id="yt-player">
                                                                @if (generalContent.HasValue("beautifulCampusPopupContent"))
                                                                {
                                                                    @Html.Raw(generalContent.GetPropertyValue("beautifulCampusPopupContent"))
                                                                }

                                                                @*<iframe class="bottomVideo" width="100%" height="100%"
                                    src="@link.Link"></iframe>*@
                                @*</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="ApplyNow fontBold text-uppercase">
                                @if (generalContent.HasProperty("applyNowLink") && generalContent.HasValue("applyNowLink"))
                                {
                                    var link = generalContent.GetPropertyValue<RelatedLinks>("applyNowLink").FirstOrDefault();
                                    if (link != null)
                                    {
                                        <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="br30 fontBold btn btn-primary BtnStyle">@link.Caption</a>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @{
            if(Model.Content.Name!="UPES International Admissions")
            {
                           if (generalContent.HasProperty("listApplicationDates") && generalContent.HasValue("listApplicationDates"))
                {
                    var datess = generalContent.GetPropertyValue<IEnumerable<IPublishedContent>>("listApplicationDates");
                    foreach (var dates in datess)
                    {
                        <div class="show_caseBtm">
                            <div class="plr100">
                                <div class="row shcaseBtmRow no-gutters align-items-center">
                                    <div class="col-sm-4 AppDate text-uppercase">
                                        @if (dates.HasValue("schoolTitle"))
                                        {
                                            <p class="fontBlack">@Html.Raw(dates.GetPropertyValue("schoolTitle"))</p>
                                        }

                                    </div>
                                    @if (dates.HasValue("dates"))
                                    {
                                        var applicationDates = dates.GetPropertyValue<IEnumerable<IPublishedContent>>("dates");
                                        foreach (var application in applicationDates)
                                        {
                                            <div class="col-sm-2  text-uppercase">
                                                <p class="fontBold dateText">
                                                    @if (application.HasValue("dateCaption"))
                                                    {
                                                        @Html.Raw(application.GetPropertyValue("dateCaption"))
                                                    }
                                                    @if (application.HasValue("date"))
                                                    {
                                                        <span>@Html.Raw(application.GetPropertyValue("date"))</span>
                                                    }
                                                    @*<span>1<sup>st</sup>February 2019</span>*@
                                                </p>
                                            </div>
                                        }
                                    }
                                    @*<div class="col-sm-2  text-uppercase">
                                        <p class="fontBold dateText">
                                            Start Date
                                            @if (dates.HasValue("startDate"))
                                            {
                                                string st;
                                                var da = dates.GetPropertyValue<DateTime>("startDate").Date.ToString("dd");
                                                if (da == "01")
                                                {
                                                    st = "st";
                                                }
                                                else if (da == "02")
                                                {
                                                    st = "nd";
                                                }
                                                else if (da == "03")
                                                {
                                                    st = "rd";
                                                }
                                                else
                                                {
                                                    st = "th";
                                                }
                                                <span>@(dates.GetPropertyValue<DateTime>("startDate").Date.ToString("dd"))<sup>@st</sup>@(dates.GetPropertyValue<DateTime>("startDate").Date.ToString("MMMMM yyyy"))</span>
                                            }
                                            @*<span>1<sup>st</sup>February 2019</span>*@
                                    @*</p>
                                        </div>
                                        <div class="col-sm-2 text-uppercase">
                                            <p class="fontBold dateText">
                                                End Date
                                                @if (dates.HasValue("endDate"))
                                                {
                                                    string st;
                                                    if (dates.GetPropertyValue<DateTime>("endDate").Date.ToString("dd") == 01.ToString())
                                                    {
                                                        st = "st";
                                                    }
                                                    else if (dates.GetPropertyValue<DateTime>("endDate").Date.ToString("dd") == 02.ToString())
                                                    {
                                                        st = "nd";
                                                    }
                                                    else if (dates.GetPropertyValue<DateTime>("endDate").Date.ToString("dd") == 03.ToString())
                                                    {
                                                        st = "rd";
                                                    }
                                                    else
                                                    {
                                                        st = "th";
                                                    }
                                                    <span>@(dates.GetPropertyValue<DateTime>("endDate").Date.ToString("dd"))<sup>@st</sup>@(dates.GetPropertyValue<DateTime>("endDate").Date.ToString("MMMMM yyyy"))</span>
                                                }
                                                @*<span>30<sup>th</sup>April 2019</span>*@
                                    @* </p>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    }
                }
            }
 
            }

        </div>
    </section>
    <!--Footer-->
    <footer>
        @Html.Partial("Footer/Footer")
    </footer>
    <!--modal-->
    <div class="general-popup">
        <div id="modalRequestCallBack" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="reload();"><span aria-hidden="true">×</span></button>

                    </div>
                    <div class="modal-body">

                        <div class="content" id="thankyoupopup">
                            <!--bind content div, loop if multiple-->
                            <div class="header">
                                <h3 class="fontBold"> REQUEST A CALL BACK </h3>
                            </div>
                            @{
                                Html.RenderAction("Index", "RequestCall");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>*@
    <script type="text/javascript" src="/scripts/component.js"></script>

    <!--<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>-->
    <script type="text/javascript" src="/scripts/upes.js?i=1.0"></script>
    <script type="text/javascript" src="/scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" src="/scripts/core.js"></script>
    <script defer type="text/javascript" src="/scripts/datepicker.js"></script>
    @*<script type="text/javascript" src="~/scripts/generalpopup.js"></script>*@
    @*<script src="https://www.google.com/recaptcha/api.js" async defer></script>*@
    @*<script type="text/javascript" src="/scripts/Enquiry.js?i=adsfasd"></script>*@
    <script>
        $("#date").datepicker({ minDate: 0 });
        //$('#datepicker').datepicker({
        //    value: '11/10/2017',
        //    disableDates: [new Date(2019, 02, 11), '11/02/2019']
        //});
        function enquireform() {
            $('#modalRequestCallBack').modal('show');
        }
        //$(window).load(function () {
        // $('#modalRequestCallBack').modal('show');
        //});
           function getFormUrl() {
        return '@Url.Action("HandleSubmit", "RequestCall")';
    }
    </script>
    <script>
        if (window.matchMedia('(min-width: 1025px)').matches) {
            $('.NavClick li').hover(function () {
                $(this).find('.DropDown_Menu').stop(true, true).delay(200).fadeIn(300);
            }, function () {
                $(this).find('.DropDown_Menu').stop(true, true).delay(200).fadeOut(300);
            });
        }
        if (window.matchMedia('(max-width: 1024px)').matches) {
            $('.NavClick li ').click(function () {
                $(this).toggleClass('activeOpen');
                $('.drpMenuTitle').addClass('ActiveTitle');
                $(this).find('.DropDown_Menu').toggle();
            });

        }
        $('#SearchClick').click(function () {
            $('.SearchToggle').addClass('searchOpen');
        });
        $('#SearchClick1').click(function () {
            $('.SearchToggle').addClass('searchOpen');
        });
        $('.CloseIcon').click(function () {
            $('.SearchToggle').removeClass('searchOpen');
        });

    </script>

    <!--jquery-->

    @RenderSection("scripts", required: false)
    @RenderSection("innerScripts", required: false)
    <script type="text/javascript" src="https://web-in21.mxradon.com/t/Tracker.js"></script>

    <script type="text/javascript">
        pidTracker('35022');
    </script>
    <script>
        $.widget("custom.catcomplete", $.ui.autocomplete, {
            _create: function () {
                this._super();
                this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
            },
            _renderMenu: function (ul, items) {
                var that = this,
                    currentCategory = "";
                $.each(items, function (index, item) {
                    var li;
                    if (item.category != currentCategory) {
                        ul.append("<li class='ui-autocomplete-category' onClick='doSearch();'>" + item.category + "</li>");
                        currentCategory = item.category;
                    }
                    li = that._renderItemData(ul, item);
                    if (item.category) {
                        li.attr("aria-label", item.category + " : " + item.label);
                    }
                });
            }
        });
    </script>
    <script type="text/javascript">
        //$("#txtSearch").change(function () {
        //    doLoad();
        //});
         jQuery('#txtSearch').on('input propertychange paste', function() {
    // do your stuff
    //console.log($('#txtSearch').val());
            doLoad();
        });
        function doLoad() {
            var ArrSearchData = [];
            var searchString = $('#txtSearch').val();
            //if (searchString.length >= 3) {
            $.ajax({
                url: "https://api.cognitive.microsoft.com/bingcustomsearch/v7.0/suggestions/search",
                data: { q: searchString, customconfig: 'cfe1a366-344b-4804-ba48-b5201ff010b4' },
                type: "GET",
                beforeSend: function (xhr) { xhr.setRequestHeader('Ocp-Apim-Subscription-Key', '4172a105224947c49d4a660b50296282'); },
                success: function (response) {
                    if (response != "") {
                       // alert(response);
                        var obj = jQuery.parseJSON(response);
                        $.each(obj.suggestionGroups[0].searchSuggestions, function (key, val) {
                            ArrSearchData.push({ label: val.displayText.toString() });
                        });
                        $("#txtSearch").autocomplete({
                            source: ArrSearchData,
                            scroll: true,
                            selectFirst: true,
                            multiple: false, multipleSeparator: ';',
                            autoFill: false,
                            minLength: 1
                        });
                        console.log(ArrSearchData);
                    }
                    else {
                        $("#txtSearch").catcomplete({
                            delay: 0,
                            source: '',
                        });
                    }
                }
            });
        //}
        }
    </script>
    <script type="text/javascript">
        function SetProspectID() {
            if (typeof (MXCProspectId) != "undefined") {
                jQuery('input[name="ProspectID"]').attr('value',
                    MXCProspectId);
            }
            $('#prospectId').val(MXCProspectId);
        }

        //window.onload = SetProspectID();
    </script>
    <script>
        //$("#phonenumber").click(){
        //    validatePhone();
        //}
        function reload() {
            if (document.getElementById('close')) {
                window.location.reload();
            }
            
        }
        function validatePhone(txtPhone) {
            var a = document.getElementById(txtPhone).value;
            var filter = /\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/;
            if (filter.test(a)) {
                //alert("Enter Correct No");
            }
            else {
                //alert("Enter Correct No!!!");
            }
        }
        @*//$('#requestCall').click(function (){
        //    grecaptcha.execute();
        //});*@
        
    function showmore(actionUrl) {
        //$('#tl-load-more').remove();
        $.ajax({
            url: actionUrl,
            type: "GET",
            cache: false,
            async: true,
            success: function (data) {
                //$(".viewAll").append(data);//.innerHtml += data;
                $(".applicantsForm").append(data);
                console.log("Success");
            }
        });
    }
    </script>
    <script>
        //$("#state").click(function () {
            @*var serviceURLstate = '@(Url.Action("bindstate", "RequestCall"))';
            $.ajax({
                url: serviceURLstate,
                type: "GET",
                dataType: "HTML",
                async: false,
                success: function (data) {

                    if (data != "") {
                        $("#state").html(data);
                    }
                    else {
                        console.log("Error:bindstate")
                    }
                    console.log("Error:bindstate2")

                }
            });*@
        //});


        //indian state 1 first page
        $("#state").change(function () {
            var stateid = $("#state").val();
            var serviceURLcity = '@(Url.Action("bindcity", "RequestCall"))';
            $.ajax({
                url: serviceURLcity,
                type: "GET",
                dataType: "HTML",
                data: {
                    stateid: stateid
                },
                async: false,
                success: function (data) {
                    if (data != "") {
                        $("#city").html(data);
                    }
                    else {
                        console.log("Error:bindcity")
                    }
                    console.log("Error:bindcity2")

                }
            });

        });

    </script>
    @*<script language="javascript">
            $(document).ready(function () {
                $("#date").datepicker({
                    minDate: 0
                });
            });
        </script>*@
		
		<!--Start of SuperBot Chat Script-->
@*
<script type="text/javascript">

window.$superbot||(function(d,s){var sb=$superbot=function(c){sb._.push(c)},$=sb.s=d.createElement(s),e=d.getElementsByTagName(s)[0];sb.set=function(o){sb.set._.push(o)};sb._=[];sb.set._=[];$.async=!0;$.setAttribute("charset","utf-8");$.src="https://app.superbot.works/agent.js?a=bZm18BXLDz&l=en";sb.t=+new Date;$.type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");

</script>
*@
<!--End of SuperBot Chat Script-->

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>
               var initESW = function(gslbBaseURL) {
                              embedded_svc.settings.displayHelpButton = true; //Or false
                              embedded_svc.settings.language = ''; //For example, enter 'en' or 'en-US'

                              //embedded_svc.settings.defaultMinimizedText = '...'; //(Defaults to Chat with an Expert)
                              //embedded_svc.settings.disabledMinimizedText = '...'; //(Defaults to Agent Offline)

                              //embedded_svc.settings.loadingText = ''; //(Defaults to Loading)
                              //embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)

                              // Settings for Chat
                              //embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
                                             // Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
                                             // Returns a valid button ID.
                              //};
                              //embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
                              //embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
                              //embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)

                              embedded_svc.settings.enabledFeatures = ['LiveAgent'];
                              embedded_svc.settings.entryFeature = 'LiveAgent';

                              embedded_svc.init(
                                             'https://ap13.salesforce.com',
                                             'https://upeschat.secure.force.com/liveAgentSetupFlow',
                                             gslbBaseURL,
                                             '00D2v000001ghbo',
                                             'Web_Chat',
                                             {
                                                            baseLiveAgentContentURL: 'https://c.la2-c1-hnd.salesforceliveagent.com/content',
                                                            deploymentId: '5722u000000PAta',
                                                            buttonId: '5732u000000XZAR',
                                                            baseLiveAgentURL: 'https://d.la2-c1-hnd.salesforceliveagent.com/chat',
                                                            eswLiveAgentDevName: 'Web_Chat',
                                                            isOfflineSupportEnabled: false
                                             }
                              );
               };

               if (!window.embedded_svc) {
                              var s = document.createElement('script');
                              s.setAttribute('src', 'https://ap13.salesforce.com/embeddedservice/5.0/esw.min.js');
                              s.onload = function() {
                                             initESW(null);
                              };
                              document.body.appendChild(s);
               } else {
                              initESW('https://service.force.com');
               }
</script>

</body>
</html>
