﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
@section style{
    <link href="/css/mba-landing-admission.min.css" rel="stylesheet" />
    <link href="/css/ProgramDetailTemplate.min.css" rel="stylesheet" />
    <link href="/css/rte.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
}

<main role="main" class="ParentPanel">
<section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @*<div class="breadcrumbPanel">
            <ol class="breadcrumb breadcrumbCustom">
                <li class="breadcrumb-item fontBold"><a href="javascript:void(0);">Home</a></li>
                <li class="breadcrumb-item active">MBA Admission</li>
            </ol>
        </div>*@
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold animateTitle">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }

            </div>
            <div class="BannerImg">
                @if (Model.Content.HasValue("bannerImage")||Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath=Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if(imgPath!=null&&mobileBannerPath!=null)
                    {
                        @Html.Partial("Mobile Banner",new Tuple<IPublishedContent,IPublishedContent>(imgPath,mobileBannerPath))
                    }
                }
            </div>
        </div>
        
        <div class="clearfix"></div>
    </section>
    
    
    <div class="clearfix"></div>
    <!--Admission Form-->
    <section class="EnquiryPanel  position-relative " id="PanelTwo">
        <div class="container">
            <div class="EnqInner">
                @if (Model.Content.HasValue("formTitle"))
                {
                    <h2 class="fontBold text-uppercase">@Html.Raw(Model.Content.GetPropertyValue("formTitle"))</h2>
                }
                <div class="cmn-form otp" style="display:none;" id="otpForm">
                    <form action="#" method="post">
                        <img src="~/src/img/general-template/mba-icon.png"  alt="mobile-icon" class="img-responsive center-block">
                        <div id="otpThankyou">
                            <p class="text-center">An OTP has been sent to your phone. <span>Please fill this for verification.!</span></p>
                            <input type="text" class="textbox" id="otpText" autocomplete="off">
                            <div id="otpError">

                            </div>
                            <div class="otp-btns">
                                <input type="button" class="submit" value="Verify OTP" onclick="verifyOtp();">
                                <input type="button" class="submit resend-otp" onclick="resendOtp();" id="resend" value="Resend OTP" disabled />
                                @*<button class="submit resend-otp" onclick="resendOtp();" id="resend" disabled>Resend OTP</button>*@
                                <div style="font-weight: bolder;line-height: initial;margin: 25%;font-size: inherit;">Time left = <span id="timer"></span></div>
                            </div>
                        </div>

                    </form>
                </div>
                <div id="thankyou">
                    @Html.Action("Index", "EnquiryCourse")
                </div>
            </div>
        </div>
    </section>
<div class="courses-container">
  <h2 class="courses-head yellow-bg uppercase"> PROMINENT RECRUITERS </h2>
  <div class="plr100">
    <div class="fiveStarImg"> <img src="/media/2654/five-star-emplyabilty.jpg" alt="" class="img-fluid"> </div>
    <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies pb-5 slick-initialized slick-slider">
      <div class="slick-list draggable">
        <div class="slick-track">
          <div class="ind_Logo slick-slide"><img src="images/recruiters/1.jpg" alt="certificate-logo1" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/2.jpg" alt="certificate-logo2" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/3.jpg" alt="certificate-logo3" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/4.jpg" alt="certificate-logo4" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/5.jpg" alt="certificate-logo5" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/6.jpg" alt="certificate-logo6" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/7.jpg" alt="certificate-logo7" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/8.jpg" alt="certificate-logo8" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/9.jpg" alt="certificate-logo1" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/10.jpg" alt="certificate-logo2" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/11.jpg" alt="certificate-logo3" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/12.jpg" alt="certificate-logo4" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/13.jpg" alt="certificate-logo2" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/14.jpg" alt="certificate-logo3" class="img-fluid" /></div>
          <div class="ind_Logo slick-slide"><img src="images/recruiters/15.jpg" alt="certificate-logo4" class="img-fluid" /></div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="why-upes">
      <div class="container">
        <div class="why-txt">
          <h2 class="uppercase">Why study MBA <span class="black-color">At UPES</span></h2>
        </div>
        <div class="row count">
          <div class="col-sm-4">
            <h2 class="blue-color text-center">2200+<span>Overall Students placed in 2018-19*</span></h2>
          </div>
          <div class="col-sm-4">
            <h2 class="blue-color text-center">94%<span>Placements in 2018-19*</span></h2>
          </div>
          <div class="col-sm-4">
			      <h2 class="blue-color text-center">560+<span>Recruiters on Campus in 2018-19*</span></h2>
          </div> 
        </div>
        <p>* Placement statistics refer to the number of students who have opted for and are eligible for placements</p>
      </div>
    </div>
    <div class="courses-container">
      <h2 class="courses-head yellow-bg uppercase">MBA COURSES <span>with Specialization</span></h2>
      <div class="container">
        <div class="courses">
          <div class="clearfix">
            <p class="col-sm-4 crs-nm"> Aviation Management</p>
            <p class="col-sm-4 crs-nm"> Business Analytics</p>
            <p class="col-sm-4 crs-nm"> Energy Trading</p>
            <p class="col-sm-4 crs-nm"> International Business</p>
            <p class="col-sm-4 crs-nm"> Logistics and Supply Chain Management</p>
            <p class="col-sm-4 crs-nm"> Agri-Business Management</p>
            <p class="col-sm-4 crs-nm"> Oil and Gas Management</p>
            <p class="col-sm-4 crs-nm"> Power Management</p>
            <p class="col-sm-4 crs-nm"> Entrepreneurship and Family Business</p>            
            <p class="col-sm-4 crs-nm"> Digital Business</p>
            <p class="col-sm-4 crs-nm"> Health Care Management</p>
            <p class="col-sm-4 crs-nm"> Media and Entertainment</p>						
					  <p class="col-sm-4 crs-nm"> Events, PR &amp; Corporate Communications</p>
					  <p class="col-sm-4 crs-nm"> Banking Financial Services and Insurance (BFSI)</p>
					  <p class="col-sm-4 crs-nm"> Human Resource Management/Marketing Management/Finance Management/Operations Management</p>
          </div>
        </div>
        <div>
        <ul>
          <li style="list-style-type:none"><img style="float: left;" src="images/nirf.jpg" alt="UPES NIRF Ranking"> <span style="vertical-align: middle;">UPES ranks 56th in NIRF (National Institutional Ranking Framework) of MHRD in the Management Category</span></li><br>
          <li style="list-style-type:none">UPES ranks among Top 15 MBA Institutions in North India and No. 1 Private Institute in Uttarakhand by Outlook-ICARE India</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="awards gray-bg experience">
      <h2 class="courses-head uppercase yellow-bg">Experience our beautiful campus</h2>
      <div class="container">
        <!-- <figure><img src="images/why-india.jpg" class="img-responsive" alt=""></figure> -->
        <!-- <h3 class="subheading-centered">Experience one of India's most beautiful campuses.</h3> -->
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <ul>
              <li><strong>Sports</strong> International level playing fields</li>
              <li><strong>Food Options</strong> Multi cuisine food options</li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <ul>
              <li><strong>Library</strong> 200,000 Publications</li>
              <li><strong>Advanced Labs</strong> With State-of-the-art facilities</li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <ul>
              <li><strong>Medical Facility</strong> 24x7 team of doctors</li>
              <li><strong>Transport Facility</strong> Safe and Secure buses</li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3">
            <ul>
              <li><strong>Auditorium</strong> 3 world-class auditoriums</li>
              <li><strong>Secured Campus</strong> Round-the-clock monitoring by guards and CCTV</li>
            </ul>
          </div>
        </div>       
     </div>
    </div>
      <!--Admissions-->
      <div class="admissions life-upes">
        <h2 class="courses-head uppercase yellow-bg">Admissions</h2>
        <div class="container">
          <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container nopadding">
                    <div class="col-lg-2 col-md-2 col-sm-3 bhoechie-tab-menu">
                      <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                          <h4 class="fas fa-check"></h4><br>Eligibility &amp; Admission
                        </a>
                        <a href="#" class="list-group-item text-center">
                          <h4 class="fas fa-book-open"></h4><br>Scholarships
                        </a>
                          <a href="#" class="list-group-item text-center">
                              <h4 class="fas fa-globe"></h4><br>Global Advantages
                            </a>
                      </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-9 bhoechie-tab">
                        <!-- flight section -->
                        <div class="bhoechie-tab-content active">
                          <h2 class="heading">Eligibility Criteria</h2>
                          <p><strong>For Under Graduate Programs</strong></p>
                          <p>Candidates must have obtained higher secondary school certificate (with a minimum percentage of marks as prescribed) equivalent to Class XII in India e.g. ‘A’ Levels, International Baccalaureate and taken requisite courses necessary to meet the eligibility criteria for the Program of admission.</p>
                          <p><strong>For Post Graduate Programs</strong></p>
                          <p>Candidates must have obtained Undergraduate Degree which shall be equivalent to Undergraduate Degree in India. In certain cases, students may be requested to obtain the necessary equivalence certification from AIU in this regard</p>
                          <p><strong>It is recommended that students have the following:</strong></p>
                          <ul>
                            <li><strong>School of Business: MBA programs: GMAT score of 600.</strong></li>
                          </ul>
                          <h2 class="heading">Admission Process:</h2>
                          <ul>
                            <li>Fill Application Form</li>
                            <li>Pay Application fee</li>
                            <li>Screening of Application</li>
                            <li>Issuance of Offer/Visa Letter</li>
                          </ul>
                        </div>
                        <!-- train section -->
                        <div class="bhoechie-tab-content">
                          <h2 class="heading">Scholarships</h2>
                          <p>International students are eligible for upto 50% Scholarships based on their academic performance in qualifying examination.</p>
                          <p>Students need to write to <a href="mailto:dsmith@upes.ac.in">dsmith@upes.ac.in</a> for further information.</p>
                          <p>Please include the following documents along with your email:</p>
                          <ul>
                            <li>Secondary school mark sheets/certificates of your country e.g. Class X/ SSC / ‘O’ Level /International Baccalaureate.</li>
                            <li>Final school leaving mark sheets/certificates of your country equivalent to Class XII in India e.g. ‘A’ Levels, International Baccalaureate.</li>
                            <li>For post graduate programs: Graduation mark sheets/certificates.</li>
                            <li>Scanned copy of passport.  If not available, then local Identity Card/Residents Permit.</li>
                          </ul>
                        </div>
                        <!-- Global Advantage -->
                        <div class="bhoechie-tab-content">
                            <img src="images/global-img.jpg" alt="global-img" class="img-responsive global-img">
                            <h2 class="heading">Specialisation at UPES comes bundled with global opportunities</h2>
                            <ol class="global-advantage-tab">
                              <li>Study overseas* for free, for 4 weeks (pay only for travel &amp; stay)</li>
                              <li>Two Professional Courses* from AWS, IBM, Tableau, Alibaba.com</li>
                              <p><i>* Terms &amp; conditions apply</i></p>
                            </ol>
                          </div>

                    </div>
                </div>
          </div>
        </div>
      </div>
    <!--/Admissions-->
    <!--Academic Linkages-->
    <div class="awards gray-bg events">
      <h2 class="courses-head uppercase yellow-bg">Academic Linkages</h2>
      <div class="container">
        <figure class="linkagemap"><img src="images/linkage-map-gray.jpg" alt=""></figure>          
      </div>
    </div>
    <!--/Academic Linkages-->

    <!--Academic Partners-->
    <div class="awards academic-partners">
      <h2 class="courses-head uppercase yellow-bg">Academic Exchange Partners</h2>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h5 class="text-red">AUSTRALIA</h5>
            <p>University of Adelaide</p>
            <h5 class="text-red">BRAZIL</h5>
            <p>Universidade Federal de Santa Catarina</p>
            <h5 class="text-red">CANADA</h5>
            <p>Memorial University</p>
            <p>University of Alberta</p>
            <p>University of Calgary</p>
            <h5 class="text-red">ITALY</h5>
            <p>Nuova Accademia di Belle Arti</p>
            <h5 class="text-red">KOREA</h5>
            <p>Kyungpook National University</p>
            <h5 class="text-red">MEXICO</h5>
            <p>Instituto Politécnico Nacional (IPN)</p>
            <h5 class="text-red">ROMANIA</h5>
            <p>University of Arad</p>
          </div>
          <div class="col-sm-4">
            <h5 class="text-red">RUSSIA</h5>
            <p>Tomsk Polytechnic University</p>
            <h5 class="text-red">SLOVENIA</h5>
            <p>University of Maribor</p>
            <h5 class="text-red">TAIWAN</h5>
            <p>National University of Kaohsiung</p>
            <h5 class="text-red">TURKEY</h5>
            <p>Istanbul Bilgi University</p>
            <h5 class="text-red">UK</h5>
            <p>Coventry University</p>
            <p>University of Aberdeen</p>
            <h5 class="text-red">USA</h5>
            <p>University of Akron</p>
            <p>University of Clarion</p>
            <p>Virginia Commonwealth University</p>
          </div>
          <div class="col-sm-4">
            <h5 class="text-red">FRANCE</h5>
            <p>Polytech Nantes</p>
            <p>Ecole des Mines de Nantes</p>
            <p>Polytech Orleans</p>
            <p>ECE Paris</p>
            <p>Ecole De L’Energie</p>
            <p>École Nationale Supérieure</p>
            <p>D'électrotechnique, D'électronique, D'informatique, D'hydraulique et des Télécommunications</p>
            <p>Institut National des Sciences Appliquées</p>
            <p>Institut National des Sciences Appliquées</p>
            <p>Mines Albi</p>
            <p>École Nationale Supérieure des Ingénieurs en Arts Chimiques et Technologiques</p>
            <p>Institut de Mécanique des Fluides de Toulouse</p>
            <p>ECAM- EPMI</p>
            <p>The American Business School</p>
            <p>École Nationale Supérieure d'ingénieurs de Caen</p>
            <p>N Plus I</p>
          </div>
        </div>
      </div>
    </div>
    <!--/Academic Partners-->
    <!--Life at UPES-->
    <div class="gray-bg life-upes">
      <h2 class="courses-head uppercase yellow-bg life-at-school">Life at Upes</h2>
      <div class="container">
        <div class="embed-responsive embed-responsive-16by9"  id="embedyoutubevid">
          <img src="images/vid-bg.jpg" alt="">
          <a class="iconyt"><img src="images/yt-icon.png" alt=""></a>          
        </div>
      </div>
    </div>
  <!--/Life at UPES-->
     <!-- Student Stories -->
    <div class="awards">
      <h2 class="courses-head uppercase yellow-bg">Student Stories</h2>
      <div class="container">
        <div class="swiper-container s2 swiper-container-horizontal swiper-container-autoheight">
            <div class="swiper-wrapper" style="height: 436px; transform: translate3d(0px, 0px, 0px);">
                <div class="swiper-slide swiper-slide-active" style="width: 360px; margin-right: 30px;">
                    <img src="images/testimonials/puneet-gambhir.jpg" alt="award1" class="img-responsive center-block">
                    <div class="award-content white-bg cmn-box-shadow">
                        <h2>Puneet Gambhir <span>MBA, Intl. Business</span></h2>
                        <p>UPES and my department of International Business helped me transform myself from an...</p>
                        <a data-toggle="modal" data-target="#story1">FULL STORY</a>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-next" style="width: 360px; margin-right: 30px;">
                    <img src="images/testimonials/bhumikapalni.jpg" alt="award1" class="img-responsive center-block">
                    <div class="award-content white-bg cmn-box-shadow">
                        <h2>Bhumika Palni <span>BBA, Financial Analysis</span></h2>
                        <p>UPES, has been a great help in shaping my career. It has made me a better person and...</p>
                        <a data-toggle="modal" data-target="#story2">FULL STORY</a>
                    </div>
                </div>
                <div class="swiper-slide" style="width: 360px; margin-right: 30px;">
                    <img src="images/testimonials/kartik-jain.jpg" alt="award1" class="img-responsive center-block">
                    <div class="award-content white-bg cmn-box-shadow">
                        <h2>Kartik Jain  <span>BBA, Digital Marketing</span></h2>
                        <p>UPES was always my choice in view of its niche specialisations and the beautiful infra...</p>
                        <a data-toggle="modal" data-target="#story3">FULL STORY</a>
                    </div>
                </div>
            </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </div>
  </div>
  <!-- /Student Stories -->
   <!--Why India-->
      <div class="awards gray-bg why-india">
        <h2 class="courses-head uppercase yellow-bg">Why India?</h2>
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-md-3">
              <figure><img src="images/banner-whyindia-gray.jpg" class="img-responsive" alt=""></figure>
            </div>
            <div class="col-sm-8 col-md-9">
              <h3 class="subheading-centered textleft">Your Gateway to the World</h3>
              <p>India is a land of remarkable diversity and its vibrant and diverse culture has always been a draw for international visitors. Now, with one of the fastest growing economies with the third largest purchasing power parity, a vibrant IT hub, India is set to emerge as an exciting destination in many fields. India’s higher education system was ranked 24th in the world in the QS Higher Education System Strength Rankings 2016, and is especially well-known for the quality of its education in engineering and technology subjects.</p>
            </div>
          </div>       
       </div>
      </div>
      <!--/Why India-->
    
    
</main>