﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";
    var linkOnThankyou = "/course/lc-thankyou";
    if (Model.Content.HasProperty("thankyouPageContent") && Model.Content.HasValue("thankyouPageContent"))
    {
        var link = Model.Content.GetPropertyValue<RelatedLinks>("thankyouPageContent").First();
        if (link != null)
        {
            linkOnThankyou = link.Link;
        }
    }
    else
    {
        linkOnThankyou = "/course/lc-thankyou";
    }
}

@* the fun starts here *@
@section style{
    <link href="/css/mba-landing-admission.min.css" rel="stylesheet" />
    <link href="/css/ProgramDetailTemplate.min.css" rel="stylesheet" />
    <link href="/css/rte.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
}
@if(Model.Content.HasValue("coursesContent"))
{
    var courseContents = Model.Content.GetPropertyValue<string[]>("coursesContent");
    Session["coursesContentCount"] = courseContents.Count();
    int i = 0;
    foreach(var courseContent in courseContents)
    {
        Session["courseContent" + i] = courseContent;
        i++;
    }
}
<main role="main" class="ParentPanel">
    <!--Banner-->
    <style>
    img { max-width: 100%;}
        .specialiaztionDisclaimer{
            font-size: 14px;
    line-height: inherit;
    margin-bottom: 5px;
        }
		.specialiaztionDisclaimer {
            font-size: 14px;
            line-height: inherit;
            margin-bottom: 5px;
        }
        /*upes-text*/
.upes-text {
    position: relative;
    padding: 0px 0px 10px 0px;
}
        .upes-text img {
            left: 0vh;
        }
        .upes-text img {
            position: absolute;
            top: 10px;
            left: -7vh;
        }

    .upes-text p {
        font-size: 18px;
        color: #000;
        padding-left: 12%;
        padding-top: 8px;
    }

.why-upes-container {
    padding: 50px 0;
}
.why-upes-container h2 {
    font-size: 2em;
    font-weight: 600;
    margin: 20px 0 0;
    line-height: 1.2em;
}
.why-upes-container p {
   font-size: 1.2em;
    font-weight: 400; line-height: 1.5;
}
.why-upes-container ul {
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 0;
}
.why-upes-container ul li {
    margin: 20px 0;
    font-size: 14px;
    padding-right: 90px;
}
.scholarship-sec {
    margin-top: 0px;
    width: 100%;
    float: right;
}
.scholarship-box {
    padding: 20px;
    background-color: #ffca08;
    margin: 20px 0;
}
.scholarship-box h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0px;
    color: #000000;
}
.scholarship-box p {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 15px;
}
.why-upes-container h2 span {
    display: block;
}
.bg_background {
    background: #f9f9f9;
}
h2.courses-head.uppercase.yellow-bg.about.width_bg.mt-0 {
    width: 300px;
}
.life-upes .courses-head {
    margin: 0.5em 0 1em 0;
    font-size: 34px;
    padding-left: 2em;
    font-size: 34px!important;
}
.why-txt h2 {
    font-size: 2.5em;
    font-weight: 900;
    color: #1f1f1f;
    display: inline-block;
    line-height: 1.5em;
}
.count h2 span {
    display: block;
    font-weight: 400;
    font-size: 20px!important;
    color: #000;
}
.count h2 span {
    display: block;
    font-weight: 400;
    font-size: 0.4em;
    color: #000;
    line-height: 1.8;
}
.courses-container .courses-head{font-size: 34px;    max-width: 380px;}
.awards.life-upes .courses-head {
    max-width: 370px!important;}
    h2.uppercase.courses-head.uppercase.yellow-bg.about.width_bg_rec span.black-color {
    padding: 10px;}
    .courses p.crs-nm a {
    color: #000;}
    .courses p.crs-nm {
    font-size: 14px!important;}
    .awards.prominent-recruiters {
    background-image: none;
    padding: 30px 0 5em;}
    .col-sm-12.specialisation-txt ul {
    padding-top: 20px;}
    .col-sm-12.specialisation-txt ul li {
    font-size: 14px;
    padding: 5px 0;
}
.swiper-container {
    margin: 2em 0;
    padding-bottom: 15px;
}
.swiper-slide.img_logo {
    width: 220px;
    float: left;
    padding: 0 20px;
}
.awards .courses-head {
    margin: 1em 0 0;
    font-size: 34px!important;
    padding-left: 2em;
    max-width: 390px!important;
}
.padding_top {
    padding-top: 50px;
}
.ParentPanel .EventPara p {
    padding-bottom: 5px;
}
.ParentPanel .EventContStyle .EventPara {
    height: auto;
}
section.position-relative.life-upes.bg_gray table tr td {
    font-weight: 300;
    font-size: 14px;
}
   .life-upes1 .courses-head{    max-width: 280px;}
.table-cover table td {
    padding: 10px 10px;
    border: none;
    font-size: 1.1vw;
    font-weight: 600;
}
.table-cover table tr:nth-child(odd) td {
    border-right: 1px solid #fff;
}
.table-cover table tr:nth-child(odd) {
    background: #f2f2f2;
}
.life-upes .courses-head {
    margin: 0.5em 0 1em 0;
    font-size: 34px!important;
    padding-left: 2em;
    max-width: 480px;
}
.life-upes1 .courses-head {
    max-width: 280px;
}
.courses-container .upes-text {  padding-bottom: 50px;  display: inline-block; width: 100%;}
/*breakpoints*/
@@media only screen and (min-width: 1900px) {
}

@@media only screen and (max-width: 1899px) {
}

@@media only screen and (max-width: 1600px) {
    .upes-text p {
        font-size: 17px;
        padding-left: 14%;
    }
}

@@media only screen and (max-width: 1540px) {
}

@@media only screen and (max-width: 1440px) {
    .upes-text p {
        font-size: 16px;
        padding-left: 15%;
    }
}

@@media only screen and (max-width: 1399px) {
    .upes-text p {
        font-size: 15px;
        padding-left: 16%;
    }
}

@@media only screen and (max-width: 1280px) {
}

@@media only screen and (max-width: 1199px) {
    .upes-text p {
        padding-left: 17%;
    }
}

@@media only screen and (max-width: 991px) {
    .upes-text img {
        width: 110px;
    }

    .upes-text p {
        font-size: 14px;
    }
    .upes-text img{
        left:-2vh;
    }
}

@@media only screen and (max-width: 767px) {
    .upes-text img {
        position: inherit;
        top: 20px;
        margin-bottom: 25px;
    }
        .upes-text img{
            left:0vh;
        }
        .upes-text p {
            padding-left: 0px;
        }
}
    </style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @*<div class="breadcrumbPanel">
            <ol class="breadcrumb breadcrumbCustom">
                <li class="breadcrumb-item fontBold"><a href="javascript:void(0);">Home</a></li>
                <li class="breadcrumb-item active">MBA Admission</li>
            </ol>
        </div>*@
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold animateTitle">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }

            </div>
            <div class="BannerImg">
                @if (Model.Content.HasValue("bannerImage")||Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath=Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if(imgPath!=null&&mobileBannerPath!=null)
                    {
                        @Html.Partial("Mobile Banner",new Tuple<IPublishedContent,IPublishedContent>(imgPath,mobileBannerPath))
                    }
                }
            </div>
        </div>
        
        <div class="clearfix"></div>
    </section>

    <div class="clearfix"></div>
    <!--Admission Form-->
    <section class="EnquiryPanel  position-relative " id="PanelTwo">
        <div class="container">
            <div class="EnqInner">
                @if (Model.Content.HasValue("formTitle"))
                {
                    <h2 class="fontBold text-uppercase">@Html.Raw(Model.Content.GetPropertyValue("formTitle"))</h2>
                }
                <div class="cmn-form otp" style="display:none;" id="otpForm">
                    <form action="#" method="post">
                        <img src="~/src/img/general-template/mba-icon.png"  alt="mobile-icon" class="img-responsive center-block">
                        <div id="otpThankyou">
                            <p class="text-center">An OTP has been sent to your phone. <span>Please fill this for verification.!</span></p>
                            <input type="text" class="textbox" id="otpText" autocomplete="off">
                            <div id="otpError">

                            </div>
                            <div class="otp-btns">
                                <input type="button" class="submit" value="Verify OTP" onclick="verifyOtp();">
                                <input type="button" class="submit resend-otp" onclick="resendOtp();" id="resend" value="Resend OTP" disabled />
                                @*<button class="submit resend-otp" onclick="resendOtp();" id="resend" disabled>Resend OTP</button>*@
                                <div style="font-weight: bolder;line-height: initial;margin: 25%;font-size: inherit;">Time left = <span id="timer"></span></div>
                            </div>
                        </div>

                    </form>
                </div>
                <div id="thankyou">
                    @Html.Action("Index", "EnquiryCourse")
                </div>
            </div>
        </div>
    </section>
    
     
    @if (Model.Content.HasValue("whyUPESContent"))
    {
          @Html.Raw(Model.Content.GetPropertyValue("whyUPESContent"))
     }
    
    <!--Specilisation-->
    <!--Courses Head-->
  <div class="courses-container">
        @if (Model.Content.HasValue("prominentRecritersTitle"))
        {
            <h2 class="courses-head yellow-bg uppercase">
                @Html.Raw(Model.Content.GetPropertyValue("prominentRecritersTitle"))
            </h2>
        }

        <div class="plr100">
            @if (Model.Content.HasValue("sectionImage"))
            {
                var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("sectionImage");
                if (imgPath != null)
                {
                    <div class="fiveStarImg">
                        <img src="@imgPath.Url" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue("altTag"):"")" class="img-fluid" />
                    </div>
                }
            }

            <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies pb-5">
                @if (Model.Content.HasValue("recruitersImage"))
                {
                    var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("recruitersImage");
                    if (imgPaths != null)
                    {
                        foreach (var imgPath in imgPaths)
                        {
                            <div class="ind_Logo">
                                <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue("altTag"):"")" />
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
    <!--Why Upes-->
    <div class="why-upes">
        <div class="container">
            <div class="why-txt">
                @if (Model.Content.HasValue("whyStudyTitle") && Model.Content.HasValue("sectionDescription"))
                {
                    <h2 class="uppercase">@Html.Raw(Model.Content.GetPropertyValue("whyStudyTitle"))<span class="black-color">@Html.Raw(Model.Content.GetPropertyValue("sectionDescription"))</span></h2>
                }

            </div>
            <div class="row count">
                @if (Model.Content.HasValue("count"))
                {
                    var contents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("count");
                    if (contents != null)
                    {
                        foreach (var content in contents)
                        {
                            <div class="col-sm-4">
                                <h2 class="blue-color text-center">@Html.Raw(content.GetPropertyValue("count"))<span>@Html.Raw(content.GetPropertyValue("text"))</span></h2>
                            </div>
                        }
                    }
                }
            </div>
             @if(Model.Content.HasValue("disclaimerText"))
        {
        @Html.Raw(Model.Content.GetPropertyValue("disclaimerText"))
        }		 
        </div>
       
    </div>
    <!--/Why Upes-->
    <!--Courses Head-->
    <div class="courses-container">
        @if (Model.Content.HasValue("specializationTitle") && Model.Content.HasValue("specialiazationSectionDescription"))
        {
            <h2 class="courses-head yellow-bg uppercase">@Html.Raw(Model.Content.GetPropertyValue("specializationTitle"))<span>@Html.Raw(Model.Content.GetPropertyValue("specialiazationSectionDescription"))</span></h2>
        }

        <div class="container">
            <div class="courses">
                <div class="row clearfix no-gutters">
                    @{
                    if (Model.Content.HasValue("specializationContent"))
                    {
                       @Html.Raw(Model.Content.GetPropertyValue("specializationContent"))
                    }
                    else if(Model.Content.HasValue("courseContent"))
                    {
                        var courseStrings = Model.Content.GetPropertyValue<string[]>("courseContent");
                        foreach (var courseString in courseStrings)
                        {
                            <p class="col-sm-4 crs-nm">@courseString</p>
                        }
                    }
                    }
                    
                </div>
            </div>
            @if(Model.Content.HasValue("specializationDisclaimerText"))
            {
            var specialiazationDisclaimerTexts=Model.Content.GetPropertyValue<string[]>("specializationDisclaimerText");
            foreach(var specialiazationDisclaimerText in specialiazationDisclaimerTexts)
            {
            <p class="specialiaztionDisclaimer">@specialiazationDisclaimerText</p>
            }
            }
			@if (Model.Content.HasValue("icon") && Model.Content.HasValue("textContent"))
                {
                    <section>
                        <div class="plr100">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="upes-text">
                                        @if (Model.Content.HasValue("icon"))
                                        {
                                            var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("icon");
                                            if (imgPath != null)
                                            {
                                                <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>(""):"")" />
                                            }
                                        }
                                        @if (Model.Content.HasValue("textContent"))
                                        {
                                            var specialiazationDisclaimerTexts = Model.Content.GetPropertyValue<string[]>("textContent");
                                            foreach (var specialiazationDisclaimerText in specialiazationDisclaimerTexts)
                                            {
                                                <p class="specialiaztionDisclaimer">@specialiazationDisclaimerText</p>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                }
        </div>
    </div>
    
       
    
    <!--/Courses Head-->
    <!--Life at UPES-->
    <div class="gray-bg life-upes">
        @if (Model.Content.HasValue("lifeAtSchoolTitle"))
        {
            <h2 class="courses-head uppercase yellow-bg">@Html.Raw(Model.Content.GetPropertyValue("lifeAtSchoolTitle"))</h2>
        }

        <div class="container">
            @if (Model.Content.HasValue("videoId"))
            {
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="@Html.Raw(Model.Content.GetPropertyValue("videoId"))" frameborder="0" allowfullscreen=""></iframe>
                </div>
            }

        </div>
    </div>
    <!--/Life at UPES-->
    <section class="DetailsBanner position-relative">
        <div class="plr100">
            <div class="DetailsBlk">
                <div class="AchieveTitleBlock position-relative">
                    @if (Model.Content.HasValue("admissionTitle"))
                    {
                        <h3 class="fontBlack text-uppercase titleh3">
                            @Html.Raw(Model.Content.GetPropertyValue("admissionTitle"))
                        </h3>
                    }

                    <div class="link_list text-right noPadding">
                        <a href="javascript:void(0);" id="ExpandAll" class="fontBold text-uppercase text-decoration">
                            Expand all
                        </a>
                    </div>
                </div>
                <!--Accordion Panel-->
                <div id="AccordionPanel" class="AccordionStyle">
                    @if (Model.Content.HasValue("accordionContent"))
                    {
                        int i = 0, j = 0;
                        var contents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("accordionContent");
                        foreach (var content in contents)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="CardHeaderPanel">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#Panel@(i++)" aria-expanded="false" aria-controls="PanelOne">
                                            @Html.Raw(content.GetPropertyValue("mbaAccordionTitle"))
                                        </a>
                                    </h5>
                                </div>
                                <div id="Panel@(j++)" class="collapse" data-parent="#AccordionPanel" aria-labelledby="heading-3">
                                    <div class="card-body cardContext ">
                                        <div class="bhoechie-tab-content ">
                                            @Html.Raw(content.GetPropertyValue("mbaAccordionContent"))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </section>
    <!--Student Stories-->
    <section class="StudentStoriesPanel StudentstoryBg">
        <div class="plr100">
            <div class="ParentStoriesPanel Studentstories">
                <div class="StoryTitleStrip Yellowstripbgfull text-uppercase d-flex align-items-center">
                    @if (Model.Content.HasValue("studentStoriesTitle") && Model.Content.HasValue("studentStoriesTitle2"))
                    {
                        <p class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue("studentStoriesTitle"))</p>
                        <h2 class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue("studentStoriesTitle2"))</h2>
                    }

                </div>
                <div class="CarouselforSlick StoryStyle storiesPannInn mlr StyleForSlickArrows">
                    @if (Model.Content.HasValue("studentStoryPicker"))
                    {
                        int i = 0;
                        var studentStories = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("studentStoryPicker");
                        if (studentStories != null)
                        {
                            foreach (var studentStory in studentStories)
                            {
                                <div class="storiesPanStyle storiesPanOne plr7">
                                    @if (studentStory.HasValue("studentPhoto"))
                                    {
                                        var imgPath = studentStory.GetPropertyValue<IPublishedContent>("studentPhoto");
                                        if (imgPath != null)
                                        {
                                            <img src="@imgPath.GetCropUrl("StoriesCrop")" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue("altTag"):"")" class="img-fluid" />
                                        }
                                    }

                                    <div class="StoriesContext">
                                        @if (studentStory.HasValue("studentName"))
                                        {
                                            <h2 class="fontBold">
                                                @Html.Raw(studentStory.GetPropertyValue("studentName"))
                                            </h2>
                                        }
                                        @if (studentStory.HasValue("studentDegree"))
                                        {
                                            <h3 class="fontMedium">@Html.Raw(studentStory.GetPropertyValue("studentDegree"))</h3>
                                        }
                                        @if (studentStory.HasValue("shortDescription"))
                                        {
                                            <p>@Html.Raw(studentStory.GetPropertyValue("shortDescription"))</p>
                                        }
                                        @if (studentStory.HasValue("sSKnowMoreLink"))
                                        {
                                            var linkCaption = studentStory.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").First();
                                            <a href="@linkCaption.Link" class="fontBold text-uppercase">@linkCaption.Caption</a>
                                        }

                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>

        </div>
    </section>
    <!--Events-->
    <section class="EventPanel">
        <div class="plr100">
            <div class="Event_Inner position-relative">
                @if (Model.Content.HasValue("eventssectionTitle"))
                {
                    <h2 class="fontBlack text-uppercase titleh3">@Html.Raw(Model.Content.GetPropertyValue("eventssectionTitle"))</h2>
                }

                <div class="CarouselforSlick EventCarousel StyleForSlickArrows mlr pb-5">
                    @if (Model.Content.HasValue("eventsPicker"))
                    {
                        var contents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("eventsPicker");
                        if (contents != null)
                        {
                            foreach (var content in contents)
                            {
                                if (content != null)
                                {
                                    <div class="EventPanelStyle EventPanelOne  plr7">
                                        @if (content.HasValue("showcaseImage"))
                                        {
                                            var imgPath = content.GetPropertyValue<IPublishedContent>("showcaseImage");
                                            if (imgPath != null)
                                            {
                                                <img src="@imgPath.GetCropUrl("Events")" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue("altTag"):"")" class="img-fluid" />
                                            }
                                        }

                                        <div class="eventContext ">
                                            <div class="EventContStyle">
                                                @if (content.HasValue("showcaseTitle"))
                                                {
                                                    <h4 class="fontBold">@Html.Raw(content.GetPropertyValue("showcaseTitle"))</h4>
                                                }

                                                <div class="EventPara">
                                                    @if (content.HasValue("shortDescription"))
                                                    {
                                                        <p class="fontMedium para_three">
                                                            @Html.Raw(content.GetPropertyValue("shortDescription"))
                                                        </p>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>

        </div>
    </section>

</main>
@Html.Partial("Floating")
@section scripts{
    <script>
        function checkCookies() {
            $('.field-validation-error').hide();
        }
        let timerOn = true;
        var link = '@linkOnThankyou';
        function timer(remaining) {
        
            var m = Math.floor(remaining / 60);
            var s = remaining % 60;
            m = m < 10 ? '0' + m : m;
            s = s < 10 ? '0' + s : s;
             $('#resend').attr('disbled');
    $('#resend').css("background-color", "grey");    
    $("#resend").hover(function () {
        $('#resend').css("background-color", "grey");
        $('#resend').css("color", "#fff");
    }, function () {
        $('#resend').css("background-color", "grey");
        $('#resend').css("color", "#fff");
    });
            document.getElementById('timer').innerHTML = m + ':' + s;
            remaining -= 1;

            if (remaining >= 0 && timerOn) {
                setTimeout(function () {
                    timer(remaining);
                }, 1000);
                return;
            }

            if (!timerOn) {
                // Do validate stuff here
                return;
            }
            // Do timeout stuff here
            $('#resend').css("background-color", "#ffca08s");
    $("#resend").hover(function () {
        $('#resend').css("background-color", "#fff");
        $('#resend').css("color", "#ffca08s");
    }, function () {
        $('#resend').css("background-color", "#ffca08");
        $('#resend').css("color", "#fff");
    });
            $('#resend').removeAttr('disabled');

            //alert('Timeout for otp');
        }

        function verifyOtp() {
            $.ajax({
                url: '@(Url.Action("verifyOTP", "EnquiryCourse"))',
                type: "GET",
                dataType: "HTML",
                data: { otp: $('#otpText').val()},
                async: false,
                success: function (data) {
                    console.log(data);
                    var result = data.split("###");
                    if (result[1] == "Verified") {
                        if (link == "nn") {
                            $('#otpThankyou').html("<p>OTP Verified Successfully</p>");
                            $("#thankyou").html("<p>Thank you for contacting UPES, we will get back to you shortly.<br/><br/>You can also reach us on our Toll free number: <a href='tel:1800-102-8737'>1800-102-8737</a></p>");
                        }
                        else {
                            window.location.href = link + '#PanelTwo';
                        }
                    }
                    else {
                        $('#otpError').html("<span class='field-validation-error'>Incorrect OTP. Please try again.</span>");
                        //alert("Please Enter Correct OTP");
                    }
                    }
            });
        }
        function resendOtp() {
            $.ajax({
                url: '@(Url.Action("generateotp", "EnquiryCourse"))',
                type: "GET",
                dataType: "Json",
                data: {},
                async: false,
                success: function (data) {
                    alert("OTP Resend Successfully");
                    timer(120);
                    $('#resend').attr('disbled');
                }
            });
        }
        $(document).ready(function () {
            $('.field-validation-error').hide();
            $.ajax({
                url: '@(Url.Action("bindstate", "RequestCall"))',
                type: "GET",
                dataType: "HTML",
                data: {},
                async: false,
                success: function (data) {
                    console.log(data);
                    if (data != "") {
                        $("#courseEnqStae").html(data);
                    }
                    else {
                        console.log("Error:BindState")
                    }
                }
            });
        });
        $("#courseEnqStae").change(function () {
            var stateid = $("#courseEnqStae").val();
            var serviceURLcity = '@(Url.Action("bindcity", "RequestCall"))';
            $.ajax({
                url: serviceURLcity,
                type: "GET",
                dataType: "HTML",
                data: {
                    stateid: stateid
                },
                async: false,
                success: function (data) {
                    if (data != "") {
                        $("#courseEnqCity").html(data);
                    }
                    else {
                        console.log("Error:bindcity")
                    }
                }
            });

        });
        $('#courseEnqEmail').change(function () {
            if (!/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#courseEnqEmail').val())) {
                $('#courseEmailValid').html("<span class='field-validation-error'>Please enter a valid email address</span>");
            }
            else {
                $('#courseEmailValid').html("");
            }
        });
        $('#courseEnqMobile').change(function () {
            if (!/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test($('#courseEnqMobile').val())) {
                $('#courseEmailValid').html("");
                $('#courseMobileValid').html("<span class='field-validation-error'>Please enter a valid phone number</span>");
            }
            else {
                $('#courseMobileValid').html("");
            }
        });
        $('#courseEnqName').change(function () {
            if ($('#courseEnqName').val().match("/^[a-zA-Z]+$/")) {
                $('#courseNameValid').html("<span class='field-validation-error'>Please enter a Valid Name</span>");
            }
            else {
                $('#courseNameValid').html("");
            }
        });
        $("#courseEnqSubmit").click(function () {
            var $form = $('#courseEnquiryForm');
            event.preventDefault();
            if ($form.data('submitted') === true) {
                // Previously submitted - don't submit again
            } else {
                var name = $('#courseEnqName').val();
                var emailId = $('#courseEnqEmail').val();
                var phoneNumber = $('#courseEnqMobile').val();
                var state = $('#courseEnqStae').val();
                var city = $('#courseEnqCity').val();
                var course = $('#courseEnqCourse').val();
                var checkBox = $('#enqFormCheck').val();
                if (name == "" && emailId == "" && phoneNumber == "" && state == "0" && city == "" && course== "")
        {
                    $('#courseNameValid').html("<span class='field-validation-error'>Please enter your full name</span>");
                    $('#courseEmailValid').html("<span class='field-validation-error'>Please enter your email address</span>");
                    $('#courseMobileValid').html("<span class='field-validation-error'>Please enter your phone number</span>");
                    $('#courseValid').html("<span class='field-validation-error'>Please select a course</span>");
                    $('#stateValid').html("<span class='field-validation-error'>Please select a state</span>");
                    $('#cityValid').html("<span class='field-validation-error'>Please select a city</span>");
        }
                else if (name == "") {
                    //$('#')
                    //alert("Please Enter Name");
                    $('#courseNameValid').html("<span class='field-validation-error'>Please enter a name</span>")
                    $('#courseEnqName').focus();
                }
                else if (emailId == "") {
                    //alert("Please Enter Email ID");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("<span class='field-validation-error'>Please enter your email address</span>");
                    $('#courseEnqEmail').focus();
                }
                else if (phoneNumber == "") {
                    //alert("Please Enter Phone Number");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("<span class='field-validation-error'>Please enter your phone number</span>");
                    $('#courseEnqMobile').focus();
                }
                else if (course == "") {
                    //alert("Please Select Course");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("");
                    $('#courseValid').html("<span class='field-validation-error'>Please select your course</span>");
                    $('#courseEnqCourse').focus();

                }
                else if (state == "0") {
                    //alert("Please Select State");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("");
                    $('#courseValid').html("");
                    $('#stateValid').html("<span class='field-validation-error'>Please select your state</span>");
                    $('#courseEnqStae').focus();
                }
                else if (city == "") {
                    //alert("Please Select City");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("");
                    $('#courseValid').html("");
                    $('#stateValid').html("");
                    $('#cityValid').html("<span class='field-validation-error'>Please select your city</span>");
                    $('#courseEnqCity').focus();
                }

                //alert(checkBox);
                if (name !== "" && emailId !== "" && phoneNumber !== "" && state !== "" && city !== "" && course!=="")
                {
                    if (name == "") {
                        //console.log("true");
                        $('#courseEnqName').focus();
                    }
                    //else if ($('#courseEnqName').val().match('^[a-zA-Z]{3,16}$')) {
                    //    //alert("Valid name");
                    //    $('#courseNameValid').html("<span class='field-validation-error'>Please enter valid name</span>");
                    //}
                    else if (!/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(emailId)) {
                        $('#courseNameValid').html("");
                        $('#courseEmailValid').html("<span class='field-validation-error'>Please enter a valid email address</span>");
                        $('#courseEnqEmail').focus();
                    }
                    else if (!/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test(phoneNumber)) {
                        $('#courseMobileValid').html("<span class='field-validation-error'>Please enter valid phone number</span>");
                        $('#courseEnqMobile').focus();
                    }
                    else if ($("#enqFormCheck").is(":not(:checked)")) {
                        alert("Please Accept Terms and Condition");
                        return false;
                    }
                    //if (!this.form.checkbox.checked) {
                    //    alert('You must agree to the terms first.');
                    //    return false;
                    //}
                    //else if (checkBox=="true")
                    //{
                    //    //alert("Please Accept Terms and Condition");
                    //    if ($("input[type='checkbox'][name='enqFormCheck']:checked").length) {
                    //        $(this).valid()
                    //        alert("Inside Checkbox");
                    //    }
                    //    $('#enqFormCheck').focus();
                    //}
                    else {
                    $('#courseEnqSubmit').attr('disabled');
                        $('#courseNameValid').html("");
                        $('#courseEmailValid').html("");
                        $('#courseMobileValid').html("");
                        $('#courseValid').html("");
                        $('#stateValid').html("");
                        $('#cityValid').html("");
                        $.ajax({
                            url: '@Url.Action("HandleSubmit", "EnquiryCourse")',
                            type: 'POST',
                            cache: false,
                            data: { Name: $('#courseEnqName').val(), emailId: $('#courseEnqEmail').val(), mobile: $('#courseEnqMobile').val(), stateId: $('#courseEnqStae').val(), course: $('#courseEnqCourse').val(), City: $('#courseEnqCity').val(), prospectId: $('#courseEnqCity').val(), srcId:'@Model.Content.Id' },
                            success: function (result) {
                        if (result === "True") {
                            console.log("completed: " + result);
                        }
                        if (result === "True") {
                            $('#otpForm').css('display', 'block');
                            $('#thankyou').html("");
                            $('#otpForm').focus();
                            timer(120);
                            $('html, body').animate({ scrollTop: $('#otpForm').offset().top - 100 }, 500);
                            console.log(result);
                        }

                    },
                    error: function (qXHR, status, err) {
                        $form.data('submitted', false);
                        console.log(err);
                    },
                });
                    }
        }
            }
        });

    </script>
    <script>
        $('#ExpandAll').click(function () {
            $('#AccordionPanel .collapse').toggleClass('show');
            if ($(".CardHeaderPanel a").attr("aria-expanded") == "true") {
                $(".CardHeaderPanel a").attr("aria-expanded", "false");
                $('#ExpandAll').text('Expand all');
            }
            else {
                $(".CardHeaderPanel a").attr("aria-expanded", "true");
                $('#ExpandAll').text('Collapse all');

            }
        });
    </script>}