﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@{
    /**/

    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/media.css" rel="stylesheet" type="text/css" />
    <!--datepicker css-->
    <link href="/css/general-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/css/core.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />
    <link href="~/css/gijgo.min.css" rel="stylesheet" type="text/css" />
}
<main role="main" class="UpesStudent">
    <!--Banner-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <div class="fontExBold ">
                    @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                    {
                        <h1>
                            <!--bind here-->
                            @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                        </h1>
                    }

                </div>
                <div class="StripContent">
                    @if (Model.Content.HasProperty("bannerDescription") && Model.Content.HasValue("bannerDescription"))
                    {
                        <p>
                            <!--bind here-->
                            @Html.Raw(Model.Content.GetPropertyValue("bannerDescription"))
                        </p>
                    }

                </div>
            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasValue("heroBanner") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (mobileBannerPath == null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, imgPath))
                    }
                    else if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }

            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Student Achievements-->
    <section id="PanelTwo" class="studenAchievPanel StudentLogoBanner">
        <div class="plr100">
            <div class=" position-relative">
                <div class="AchieveTitleBlock position-relative">
                    @if (Model.Content.HasProperty("newsSectionTitle") && Model.Content.HasValue("newsSectionTitle"))
                    {
                        <h2 class="fontBlack text-uppercase titleh3">
                            @Html.Raw(Model.Content.GetPropertyValue("newsSectionTitle"))
                        </h2>
                    }
                    @if (Model.Content.HasProperty("moreNewsLink") && Model.Content.HasValue("moreNewsLink"))
                    {
                        var link = Model.Content.GetPropertyValue<RelatedLinks>("moreNewsLink").FirstOrDefault();
                        if (link != null)
                        {
                            <div class="link_list text-right noPadding d-none d-md-block">
                                <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration knowMoreStyle">
                                    @link.Caption
                                </a>
                            </div>
                        }
                    }

                </div>
                <div class="CarouselforSlick EventCarousel mlr">
                    @if (Model.Content.HasProperty("newsPicker") && Model.Content.HasValue("newsPicker"))
                    {
                        var newsItems = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("newsPicker");
                        foreach (var news in newsItems)
                        {
                            <div class="EventPanelStyle EventPanelOne  plr7">
                                @if (news.HasValue("showcaseImage"))
                                {
                                    var imgaPath = AST.S3.Helper.MediaHelper.ParseMedia(news.GetPropertyValue<string>("showcaseImage"), Umbraco);
                                    //var imgaPath = news.GetPropertyValue<IPublishedContent>("showcaseImage");
                                    if (imgaPath != null)
                                    {
                                        <img src="@imgaPath.Url" alt="@(imgaPath.HasValue("altTag")?imgaPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                    }
                                }

                                <div class="AchieveContext ">
                                    <div class="AchieveContextInn ">
                                        @if (news.HasValue("showcaseTitle"))
                                        {
                                            <p class="fontBold">
                                                @Html.Raw(umbraco.library.RemoveFirstParagraphTag(news.GetPropertyValue<string>("showcaseTitle")))
                                            </p>
                                        }
                                        @if (news.HasProperty("sAKnowMoreLink") && news.HasValue("sAKnowMoreLink"))
                                        {
                                            var button1Index = news.GetPropertyValue<RelatedLinks>("sAKnowMoreLink");
                                            if (button1Index.Any())
                                            {
                                                var linkTarget = (button1Index.First().NewWindow) ? "_blank" : null;
                                                <a href="@button1Index.First().Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@button1Index.First().Caption</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @*<div class="EventPanelStyle EventPanelTwo plr7">
                            <img src="https://via.placeholder.com/452x403.png?text=NEWS" alt="img-fluid" class="img-fluid" />
                            <div class="AchieveContext">
                                <div class="AchieveContextInn ">
                                    <p class="fontBold">
                                        Design a successfulcareer with a master's degree in interaction design
                                    </p>
                                    <a href="https://www.upes.ac.in/images/coverage/UPESLucknowNewsLucknow4thMarPgno04-min.jpg" target="_blank" class="text-uppercase fontBold knowMoreStyle">Know More</a>
                                </div>
                            </div>
                        </div>
                        <div class="EventPanelStyle EventPanelThree plr7">
                            <img src="https://via.placeholder.com/452x403.png?text=NEWS" alt="img-fluid" class="img-fluid" />
                            <div class="AchieveContext">
                                <div class="AchieveContextInn ">
                                    <p class="fontBold">
                                        A quick guide to becoming a petroleum or power engineer
                                    </p>
                                    <a href="https://www.upes.ac.in/images/coverage/DNA_education_pg09_13-06-min.jpg" target="_blank" class="text-uppercase fontBold knowMoreStyle">Know More</a>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="link_list text-right noPadding ShowOnMobile d-block d-md-none">
                    <a href="javascript:void(0);" class="fontBold text-uppercase text-decoration">
                        Read all Achievements
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- section5 -->
    <div id="pressSection" class="section-5">

        <div class="wrapper-75">
            <div class="accord-wrapper">
                <!-- Accordion Title -->
                <div class="accordion-title">
                    @if (Model.Content.HasProperty("pressSectionTitle") && Model.Content.HasValue("pressSectionTitle"))
                    {
                        <h3 class="fontBlack titleh3">@Html.Raw(umbraco.library.RemoveFirstParagraphTag(Model.Content.GetPropertyValue<string>("pressSectionTitle")))</h3>
                    }


                </div>
                @if (Model.Content.HasProperty("tabs") && Model.Content.HasValue("tabs"))
                {
                    <!--Accordion Panel-->
                    <div id="downloadable-content-AccordionPanel" class="AccordionStyle downloable-accord">
                        @{
                            var pressRelaese = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("tabs");
                            foreach (var press in pressRelaese)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            @if (press.HasValue("downloadTitle"))
                                            {
                                                if (press.HasValue("downloadMedia"))
                                                {
                                                    var pdfPath = press.GetPropertyValue<IPublishedContent>("downloadMedia");
                                                    if (pdfPath != null)
                                                    {
                                                        <a class="collapsed" role="button" target="_blank" href="@pdfPath.Url" download="@pdfPath.Url">
                                                            @Html.Raw(umbraco.library.RemoveFirstParagraphTag(press.GetPropertyValue<string>("downloadTitle")))
                                                        </a>
                                                    }
                                                }
                                            }

                                        </h5>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
            <div id="contactSection" class="contact-wrapper">
                @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
                {
                    <h2>@Html.Raw(umbraco.library.RemoveFirstParagraphTag(Model.Content.GetPropertyValue<string>("sectionTitle")))</h2>
                }

                <div class="header">
                    @if (Model.Content.HasProperty("sectionDescription") && Model.Content.HasValue("sectionDescription"))
                    {
                        <p>
                            @Html.Raw(Model.Content.GetPropertyValue("sectionDescription"))
                        </p>
                    }
                </div>
                <div class="details">
                    @if (Model.Content.HasProperty("personsDetails") && Model.Content.HasValue("personsDetails"))
                    {
                        var contacts = Model.Content.GetPropertyValue<string[]>("personsDetails");
                        foreach (var contact in contacts)
                        {
                            <p>@contact</p>
                        }
                    }
                    @*<p>
                            Ms Anshu Paliwal – Associate Proctor - 9927513503
                        </p>
                        <p>
                            Dr.Vickram Sahai – Associate Director – 9897106252
                        </p>*@
                    @if (Model.Content.HasProperty("emailAddress") && Model.Content.HasValue("emailAddress"))
                    {
                        <p>
                            Email ID – <a href="mailto:@Html.Raw(Model.Content.GetPropertyValue("emailAddress"))" class="color-blue">@Html.Raw(Model.Content.GetPropertyValue("emailAddress"))</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@Html.Partial("Floating")

<!--modal-->
<div class="general-popup">

    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-video-example-modal-lg">video modal</button>-->
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>-->
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>-->
    <!-- Video modal -->
    <div class="modal fade bs-video-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">

            <div class="video-wrapper">
                <div class="modal-content">

                    <div class="modal-header">
                        @*<div class="title-wrapper">
                                <h3 class="fontBold"> UPES Opportunities </h3>
                            </div>*@
                        <div class="close-btn-wrapper">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>

                    </div>
                    <div class="modal-body">
                        <div class="content" id="yt-player">

                            <iframe width="100%" height="100%"
                                    src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Large modal -->

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">

                <div class="modal-header">

                    <!-- <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <div class="content">
                        <!--bind content div, loop if multiple-->
                        <div class="header">
                            <h3 class="fontBold"> ELIGIBILITY FOR B.TECH MECHANICAL ENGINEERING </h3>
                        </div>
                        <div class="sub-header">
                            <p>Examination Pathway admission through UPESEAT (Up to 80% of Seats):</p>
                        </div>
                        <ul>
                            <li>
                                Minimum 60% marks at Higher & Senior Secondary level (10th & 12th).
                            </li>
                            <li>
                                Minimum 60% marks at Higher & Senior Secondary level (10th & 12th).
                            </li>
                        </ul>
                        <div class="sub-header">
                            <p>Examination Pathway admission through UPESEAT (Up to 80% of Seats):</p>
                        </div>
                        <ul>
                            <li>
                                Minimum 60% marks at Higher & Senior Secondary level (10th & 12th).
                            </li>
                            <li>
                                Minimum 60% marks at Higher & Senior Secondary level (10th & 12th).
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Small modal -->

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">

                    <!-- <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">

                    <div class="content">
                        <!--bind content div, loop if multiple-->
                        <div class="header">
                            <h3 class="fontBold"> REQUEST A CALL BACK </h3>
                        </div>
                        <form action="#" method="post">
                            <div class="form-group required">
                                <label for="name">name*</label>
                                <input type="text" name="name" placeholder=" " class="form-control bg-lightgray" />
                            </div>
                            <div class="form-group required">
                                <label for="email">Email ID**</label>
                                <input type="email" name="email" placeholder=" " class="form-control bg-lightgray" />
                            </div>
                            <div class="form-group required">
                                <label for="phonenumber">Phone Number*</label>
                                <input type="text" name="phonenumber" placeholder=" " class="form-control bg-lightgray" />
                            </div>
                            <div class="form-group required">
                                <label for="query">Your Query*</label>
                                <input type="text" name="query" placeholder=" " class="form-control bg-lightgray" />
                            </div>
                            <div class="form-group required">
                                <label for="date" class="sr-only">date picker</label>
                                <input type="text" id="date-picker-callback" name="date" placeholder="Choose a day for callback" class="form-control bg-lightgray date-picker" />
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary submit">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--#modal-->
@section scripts{
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/core.js"></script>
    <script type="text/javascript" src="/scripts/datepicker.js"></script>
    <script type="text/javascript" src="~/scripts/generalpopup.js"></script>

    <script>
        $('#date-picker-callback').datepicker();

    </script>
}
