﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section style
{
    <!--datepicker css-->
    <link href="/css/datepicker.css" rel="stylesheet" />
    <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900" rel="stylesheet">
}
@* the fun starts here *@

<main role="main" class="GenerTemplate" onload="callNews()">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        @*<ol class="breadcrumb breadcrumbCustom">
                <li class="breadcrumb-item fontBold"><a href="javascript:void(0);">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">School of Design</a></li>
                <li class="breadcrumb-item active">Event</li>
            </ol>*@

        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @*<span class="fontExBold sodText">School of Design (SOD)</span>*@
                @if (Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }

            </div>
            <div class="BannerImg position-relative">
                @*@if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                    {
                        var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                        if (imgPath != null)
                        {
                            @Html.Partial("HeroBanner", imgPath)
                        }
                    }*@
                <picture>
                    @if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                    {
                        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("bannerImage"), Umbraco);
                        var imgpat = Model.Content.GetPropertyValue<IPublishedContent>
                            ("bannerImage");
                        <img src="@imgPath.Url" class="img-fluid" alt="@(imgpat.HasValue(" altTag")?imgpat.GetPropertyValue<string>
                                ("altTag"):"")" />
                    }

                </picture>
                @*<picture>
                        <img src="../src/img/general-template/events-banner-1.jpg" class="img-fluid" alt="Banner" />
                    </picture>*@
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Inner-->
    <!--Upcoming Events-->
    <section class="studenAchievPanel StudentLogoBanner" id="PanelTwo">
        <div class="plr100">
            <div class="AchieveInner position-relative">
                <div class="AchieveTitleBlock position-relative">
                    @*<h3 class="fontBlack text-uppercase titleh3">
                            Upcoming Events
                        </h3>*@
                    <div class="link_list LinkListForFilters text-right noPadding">
                        <div class="Filters">
                            <select class="FilterSelectStyle" id="mediaYear">
                                @*<option>2019</option>
                                    <option>2018</option>*@
                            </select>
                            <select class="FilterSelectStyle" id="mediaMonth">
                                @*<option>August</option>
                                    <option>July</option>*@
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row EventCarousel mlr" id="news_Section">
                    @*<div class="EventPanelStyle EventPanelOne  plr7">
                                <img src="../src/img/parents/sa-1.jpg" alt="img-fluid" class="img-fluid" />
                                <div class="AchieveContext ">
                                    <div class="AchieveContextInn ">
                                        <p class="fontBold">
                                            UPES team ranks #1 in the final round of Cansat Competition in Texas, USA
                                        </p>
                                        <a href="javascrip:void(0);" class="text-uppercase fontBold knowMoreStyle">Know More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="EventPanelStyle EventPanelTwo plr7">
                                <img src="../src/img/parents/sa-2.jpg" alt="img-fluid" class="img-fluid" />
                                <div class="AchieveContext">
                                    <div class="AchieveContextInn ">
                                        <p class="fontBold">
                                            Lorem Ipsum is simply dummy text ot the printing and typesetting industry
                                        </p>
                                        <a href="javascrip:void(0);" class="text-uppercase fontBold knowMoreStyle">Know More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="EventPanelStyle EventPanelThree plr7">
                                <img src="../src/img/parents/sa-3.jpg" alt="img-fluid" class="img-fluid" />
                                <div class="AchieveContext">
                                    <div class="AchieveContextInn ">
                                        <p class="fontBold">
                                            Lorem Ipsum is simply dummy text ot the printing and typesetting industry
                                        </p>
                                        <a href="javascrip:void(0);" class="text-uppercase fontBold knowMoreStyle">Know More</a>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="link_list text-right noPadding ShowOnMobile">
                        <a href="javascript:void(0);" class="fontBold text-uppercase text-decoration">
                            Read all Achievements
                        </a>
                    </div>
                </div>
            </div>
    </section>
    <!--Industry Ties up and Testimonials-->
    <section class="Ties_TestimonialPanel position-relative forZIndex">
        <div class="TiesUpPanel position-relative">
            <div class="plr100">
                @*<div class="StoryTitleStrip StoryTitleStripForTieUp Yellowstripbgfull text-uppercase d-flex">
                        <h2 class="fontBlack">Past Events</h2>
                    </div>*@
                <div class="link_list text-right noPadding LinkPosition">
                    <a href="javascript:void(0);" class="fontBold text-uppercase text-decoration">
                        View all
                    </a>
                </div>
                <div class="TieUpPosition">
                    <div class="CarouselforSlick StyleForSlickArrows EventCarousel mlr">
                        @*<div class="EventPanelStyle EventPanelOne  plr7">
                                <img src="../src/img/school-details/industry-tie-1.jpg" alt="img-fluid" class="img-fluid" />
                                <div class="TieupContext ">
                                    <div class="TiesUpBg d-flex ">
                                        <p class="fontMedium">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="EventPanelStyle EventPanelTwo plr7">
                                <img src="../src/img/school-details/industry-tie-2.jpg" alt="img-fluid" class="img-fluid" />
                                <div class="TieupContext">
                                    <div class="TiesUpBg d-flex ">
                                        <p class="fontMedium">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="EventPanelStyle EventPanelThree plr7">
                                <img src="../src/img/school-details/industry-tie-3.jpg" alt="img-fluid" class="img-fluid" />
                                <div class="TieupContext">
                                    <div class="TiesUpBg d-flex">
                                        <p class="fontMedium">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                    </div>
                                </div>
                            </div>*@

                    </div>
                </div>
            </div>
            <!--Testimonials-->
        </div>
        <div class="general-popup">
            <div id="newsModalImagePopup" data-backdrop="false" class="modal NewmodalStyle fade bs-example-modal-lg align-items-center pr-0" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-md" role="document" style="height:550px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal();"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body" id="divExamRegistrationModalContent">
                            <div class="content text-center text-md-left">

                                <div class="header">
                                    <h3 class="fontBold"></h3>
                                </div>
                                <div class="d_text">
                                    <p class="text-left"></p>
                                    <img id="modalImage" src="" alt="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="wait" style="display: none;width: 50px;height: auto;position: absolute;top: 50%;left: 50%;padding: 2px;background: #fff;transform: translate(-50%, -50%);z-index: 1;"><img src="/images/demo_wait.gif" class="img-fluid"></div>
</main>
@section scripts{
    @*<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>*@
    <script type="text/javascript" src="/scripts/generalpopup.js"></script>
    <script type="text/javascript">
    function closeModal() {
            $('#modalImage').attr('src','');
        }
       
            function doOpeNewsImagePopup(imgSrc) {
                $('#modalImage').attr('src', imgSrc);
                $('#newsModalImagePopup').modal('show');

            }
      
        if ($(window).width() > 1200) {
        $('.knowMoreStyle').click(function () {

   var div = $(".NewmodalStyle").innerHeight();
   var win = $(window).innerHeight();

   if (div > win) {
       $(".NewmodalStyle").addClass('displayBlock');
   }
            });
        }
        //function callNews() {
        //    $.ajax({
        //        url: '/umbraco/Surface/MediaAndPress/bindYear',
        //        type: "GET",
        //        dataType: "HTML",
        //        data: {},
        //        async: false,
        //        success: function (data) {
        //            //alert(data);
        //            $('#mediaYear').html(data);
        //        }
        //    });
        //    $.ajax({
        //        url: '/umbraco/Surface/MediaAndPress/bindMonth',
        //        type: "GET",
        //        dataType: "HTML",
        //        data: { selectedYear: $('#mediaYear').val() },
        //        async: false,
        //        success: function (data) {
        //            //alert(data);
        //            $('#mediaMonth').html(data);
        //            //$('.CarouselforSlick').slick('refresh');
        //        }
        //    });
        //    $.ajax({
        //        url: '/umbraco/Surface/MediaAndPress/returnNews',
        //        type: "GET",
        //        dataType: "HTML",
        //        data: { selectedYear: $('#mediaYear').val(), selectedMonth: $('#mediaMonth').val() },
        //        async: false,
        //        success: function (data) {
        //            //alert(data);

        //            $('#news_Section').html(data);
        //            $('#news_Section').slick({
        //                dots: false,
        //                infinite: false,
        //                arrows: false,
        //                speed: 300,
        //                slidesToShow: 3,
        //                slidesToScroll: 3,
        //                responsive: [
        //                    {
        //                        breakpoint: 1024,
        //                        settings: {
        //                            slidesToShow: 3,
        //                            slidesToScroll: 3,
        //                            infinite: true,
        //                            dots: false,
        //                            arrows: true
        //                        }
        //                    },
        //                    {
        //                        breakpoint: 767,
        //                        settings: {
        //                            dots: false,
        //                            arrows: true,
        //                            slidesToShow: 1,
        //                            slidesToScroll: 1,
        //                        }
        //                    },
        //                    {
        //                        breakpoint: 480,
        //                        settings: {
        //                            dots: false,
        //                            arrows: true,
        //                            slidesToShow: 1,
        //                            slidesToScroll: 1,
        //                        }
        //                    }

        //                ]
        //            });


        //        }
        //    });
        //}
        $(document).ready(function () {
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/bindYear',
                type: "GET",
                dataType: "HTML",
                data: {},
                async: false,
                success: function (data) {
                    //alert(data);
                    $('#mediaYear').html(data);
                }
            });
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/bindMonth',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val() },
                async: false,
                success: function (data) {
                    //alert(data);
                    $('#mediaMonth').html(data);
                    //$('.CarouselforSlick').slick('refresh');
                }
            });
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/returnNews',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val(), selectedMonth: $('#mediaMonth').val() },
                async: false,
                beforeSend: function () {
                    $("#wait").css("display", "block");
                },
                success: function (data) {
                    //alert(data);
                    $("#wait").css("display", "none");
                    $('#news_Section').html(data);
                    //$('#news_Section').slick({
                    //    dots: false,
                    //    infinite: false,
                    //    arrows: false,
                    //    speed: 300,
                    //    slidesToShow: 3,
                    //    slidesToScroll: 3,
                    //    responsive: [
                    //        {
                    //            breakpoint: 1024,
                    //            settings: {
                    //                slidesToShow: 3,
                    //                slidesToScroll: 3,
                    //                infinite: true,
                    //                dots: false,
                    //                arrows: true
                    //            }
                    //        },
                    //        {
                    //            breakpoint: 767,
                    //            settings: {
                    //                dots: false,
                    //                arrows: true,
                    //                slidesToShow: 1,
                    //                slidesToScroll: 1,
                    //            }
                    //        },
                    //        {
                    //            breakpoint: 480,
                    //            settings: {
                    //                dots: false,
                    //                arrows: true,
                    //                slidesToShow: 1,
                    //                slidesToScroll: 1,
                    //            }
                    //        }

                    //    ]
                    //});


                }
            });
        });
        $('#mediaYear').change(function () {
            //$('#slick-slider').slick('refresh');
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/bindMonth',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val() },
                async: false,
                success: function (data) {
                    //alert(data);
                    $('#mediaMonth').html(data);
                }
            });
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/returnNews',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val(), selectedMonth: $('#mediaMonth').val() },
                async: false,
                beforeSend: function () {
                    $("#wait").css("display", "block");
                },
                success: function (data) {
                    //alert(data);
                    $("#wait").css("display", "none");
                    //$('#news_Section').slick('unslick');
                    $('#news_Section').html(data);
                    //$('#news_Section').slick({
                    //    dots: false,
                    //    infinite: false,
                    //    arrows: false,
                    //    speed: 300,
                    //    slidesToShow: 3,
                    //    slidesToScroll: 3,
                    //    responsive: [
                    //        {
                    //            breakpoint: 1024,
                    //            settings: {
                    //                slidesToShow: 3,
                    //                slidesToScroll: 3,
                    //                infinite: true,
                    //                dots: false,
                    //                arrows: true
                    //            }
                    //        },
                    //        {
                    //            breakpoint: 767,
                    //            settings: {
                    //                dots: false,
                    //                arrows: true,
                    //                slidesToShow: 1,
                    //                slidesToScroll: 1,
                    //            }
                    //        },
                    //        {
                    //            breakpoint: 480,
                    //            settings: {
                    //                dots: false,
                    //                arrows: true,
                    //                slidesToShow: 1,
                    //                slidesToScroll: 1,
                    //            }
                    //        }

                    //    ]
                    //});

                    //$('.CarouselforSlick').slick('refresh');
                }
            });
        });
        $('#mediaMonth').change(function () {
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/returnNews',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val(), selectedMonth: $('#mediaMonth').val() },
                async: false,
                beforeSend: function () {
                    $("#wait").css("display", "block");
                },
                success: function (data) {
                    //alert(data);
                    $("#wait").css("display", "none");
                    //$('#news_Section').slick('unslick');
                    $('#news_Section').html(data);
                    //$('#news_Section').slick({
                    //    dots: false,
                    //    infinite: false,
                    //    arrows: false,
                    //    speed: 300,
                    //    slidesToShow: 3,
                    //    slidesToScroll: 3,
                    //    responsive: [
                    //        {
                    //            breakpoint: 1024,
                    //            settings: {
                    //                slidesToShow: 3,
                    //                slidesToScroll: 3,
                    //                infinite: true,
                    //                dots: false,
                    //                arrows: true
                    //            }
                    //        },
                    //        {
                    //            breakpoint: 767,
                    //            settings: {
                    //                dots: false,
                    //                arrows: true,
                    //                slidesToShow: 1,
                    //                slidesToScroll: 1,
                    //            }
                    //        },
                    //        {
                    //            breakpoint: 480,
                    //            settings: {
                    //                dots: false,
                    //                arrows: true,
                    //                slidesToShow: 1,
                    //                slidesToScroll: 1,
                    //            }
                    //        }

                    //    ]
                    //});
                }
            });
        });
    </script>
    <script>
        $('#date-picker-callback').datepicker();
    </script>
}
