﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section style
{
    <!--datepicker css-->
    <link href="/css/datepicker.css" rel="stylesheet" />
    <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
}
@* the fun starts here *@
    <main role="main" class="GenerTemplate" onload="callNews()">
        <style>
            .GenerTemplate .NewsPanel .NewsRow .newList {
                padding: 0 17px;
                margin-bottom: 7vh;
            }
            @@media (max-width: 767px) {
                .GenerTemplate .NewsPanel .NewsRow .newList {
                    padding: 0 17px;
                    margin-bottom: 2vh;
                }
                .GenerTemplate div#news_Section {
                    margin-bottom: 0px;
                }
            }
        </style>
        <!--Banner Block-->
        <section class="banner  BannerSection mb60">
            <div class="DownArrow">
                <a href="#PanelTwo" class="ClickArrow">
                    <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
                </a>
            </div>
            @Html.Partial("BreadCrumb")
            @*<ol class="breadcrumb breadcrumbCustom">
                <li class="breadcrumb-item fontBold"><a href="javascript:void(0);">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">School of Design</a></li>
                <li class="breadcrumb-item active">Event</li>
            </ol>*@

            <div class="plr20 fullwidth">
                <div class="BannerStripContext">
                    @*<span class="fontExBold sodText">School of Design (SOD)</span>*@
                    @if (Model.Content.HasValue("pageTitle"))
                    {
                        <h1 class="fontExBold">
                            @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                        </h1>
                    }

                </div>
                <div class="BannerImg position-relative">
                    @*@if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                    {
                        var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                        if (imgPath != null)
                        {
                            @Html.Partial("HeroBanner", imgPath)
                        }
                    }*@
                    <picture>
                        @if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                        {
                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("bannerImage"), Umbraco);
                            var imgpat = Model.Content.GetPropertyValue<IPublishedContent>
                                ("bannerImage");
                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgpat.HasValue("altTag")?imgpat.GetPropertyValue<string>
                                ("altTag"):"")" />
                        }

                    </picture>
                    @*<picture>
                        <img src="../src/img/general-template/events-banner-1.jpg" class="img-fluid" alt="Banner" />
                    </picture>*@
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <div class="clearfix"></div>
        <!--Inner-->
        <!--Upcoming Events-->
        <!--News Panel-->
        <section class="NewsPanel" id="PanelTwo">
            <div class="plr100">
                <div class="newsFilter">
                    <select class="newsFilterStyle" id="mediaMonth">
                        @*<option>August</option>
                        <option>September</option>*@
                    </select>
                    <select class="newsFilterStyle" id="mediaYear">
                        @*<option>2019</option>
                        <option>2020</option>*@
                    </select>
                </div>
                <div class="NewsRow row" id="news_Section">
                    @*<div class="col-lg-4 col-sm-6 newList">
                        <div class="newsListInner">
                            <div class="newsImg">
                                <img src="../src/img/general-template/news-1.jpg" class="img-fluid" />
                            </div>
                            <div class="newsContext ">
                                <p class="fontBold">
                                    UPES student, Adhitiyan on the Porland Mars Analog Simulation
                                </p>
                                <a href="javascript:void(0);" class="text-uppercase fontBold knowMoreStyle">
                                    View Details
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 newList">
                        <div class="newsListInner">
                            <div class="newsImg">
                                <img src="../src/img/general-template/news-2.jpg" class="img-fluid" />
                            </div>
                            <div class="newsContext ">
                                <p class="fontBold">
                                    Demand for Specialised MBA courses on the Rise
                                </p>
                                <a href="javascript:void(0);" class="text-uppercase fontBold knowMoreStyle">
                                    News Snippet
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 newList">
                        <div class="newsListInner">
                            <div class="newsImg">
                                <img src="../src/img/general-template/news-1.jpg" class="img-fluid" />
                            </div>
                            <div class="newsContext ">
                                <p class="fontBold">
                                    1,447 students of UPES get placed in top corporates
                                </p>
                                <a href="javascript:void(0);" class="text-uppercase fontBold knowMoreStyle">
                                    News Snippet
                                </a>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!--Industry Ties up and Testimonials-->

        <div class="general-popup">
            <div id="newsModalImagePopup" data-backdrop="false" class="modal NewmodalStyle fade bs-example-modal-lg align-items-center pr-0" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-md" role="document" style="height:550px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal();"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body" id="divExamRegistrationModalContent">
                            <div class="content text-center text-md-left">

                                <div class="header">
                                    <h3 class="fontBold"></h3>
                                </div>
                                <div class="d_text">
                                    <p class="text-left"></p>
                                    <img id="modalImage" src="" alt="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wait" style="display: none;width: 50px;height: auto;position: absolute;top: 50%;left: 50%;padding: 2px;background: #fff;transform: translate(-50%, -50%);z-index: 1;"><img src="/images/demo_wait.gif" class="img-fluid"></div>
    </main>
@section scripts{
    @*<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>*@
    <script type="text/javascript" src="/scripts/generalpopup.js"></script>
    <script type="text/javascript">
        function closeModal() {
            $('#modalImage').attr('src', '');
        }

        function doOpeNewsImagePopup(imgSrc) {
            $('#modalImage').attr('src', imgSrc);
            $('#newsModalImagePopup').modal('show');

        }

        if ($(window).width() > 1200) {
            $('.knowMoreStyle').click(function () {

                var div = $(".NewmodalStyle").innerHeight();
                var win = $(window).innerHeight();

                if (div > win) {
                    $(".NewmodalStyle").addClass('displayBlock');
                }
            });
        }
        $(document).ready(function () {
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/bindYear',
                type: "GET",
                dataType: "HTML",
                data: {},
                async: false,
                success: function (data) {
                    //alert(data);
                    $('#mediaYear').html(data);
                }
            });
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/bindMonth',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val() },
                async: false,
                success: function (data) {
                    //alert(data);
                    $('#mediaMonth').html(data);
                    //$('.CarouselforSlick').slick('refresh');
                }
            });
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/returnNews',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val(), selectedMonth: $('#mediaMonth').val() },
                async: false,
                beforeSend: function () {
                    $("#wait").css("display", "block");
                },
                success: function (data) {
                    //alert(data);
                    $("#wait").css("display", "none");
                    $('#news_Section').html(data);
                }
            });
        });
        $('#mediaYear').change(function () {
            //$('#slick-slider').slick('refresh');
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/bindMonth',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val() },
                async: false,
                success: function (data) {
                    //alert(data);
                    $('#mediaMonth').html(data);
                }
            });
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/returnNews',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val(), selectedMonth: $('#mediaMonth').val() },
                async: false,
                beforeSend: function () {
                    $("#wait").css("display", "block");
                },
                success: function (data) {
                    //alert(data);
                    $("#wait").css("display", "none");
                    //$('#news_Section').slick('unslick');
                    $('#news_Section').html(data);
                }
            });
        });
        $('.GenerTemplate .Filters .select_filter:after').click(function () {
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/returnNews',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val(), selectedMonth: $('#mediaMonth').val() },
                async: false,
                beforeSend: function () {
                    $("#wait").css("display", "block");
                },
                success: function (data) {
                    //alert(data);
                    $("#wait").css("display", "none");
                    //$('#news_Section').slick('unslick');
                    $('#news_Section').html(data);
                }
            });
        });
        $('#mediaMonth').change(function () {
            $.ajax({
                url: '/umbraco/Surface/MediaAndPress/returnNews',
                type: "GET",
                dataType: "HTML",
                data: { selectedYear: $('#mediaYear').val(), selectedMonth: $('#mediaMonth').val() },
                async: false,
                beforeSend: function () {
                    $("#wait").css("display", "block");
                },
                success: function (data) {
                    //alert(data);
                    $("#wait").css("display", "none");
                    //$('#news_Section').slick('unslick');
                    $('#news_Section').html(data);
                }
            });
        });
    </script>
    <script>
        $('#date-picker-callback').datepicker();
    </script>
    <script>
        $('.select_filter').on('click', function () {
            $('select').trigger('click');
        });
    </script>
}
