﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/industry.min.css" rel="stylesheet" type="text/css" /> 
    <link href="/css/applicants.css" rel="stylesheet" type="text/css" />   
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" type="text/css" />
}



   <!--Banner Block-->
    <style>.industry .Orange-Strip::before {
    background: #ffca08;
    width: 0;
    content: '';
    height: 100%;
    top: 0;
    position: absolute;
}

main.industry p {font-weight: 500 !important;
    font-size: 1vw;
    line-height: 1.9;     padding-bottom: 20px;}
	
	.global-reality ul li {
    padding-bottom: 8px;
    list-style-type: disc;
    font-weight: 500 !important;
    font-size: 1vw;
    line-height: 1.9;
}

a.btn.btn-primary.bg_blue {
    padding: 10px 30px;
    float: right;
    margin-top: 20px;
    background: #154985;
}

a.btn.btn-primary.bg_white {
    padding: 10px 30px;
    float: right;
    margin-top: 20px;
    background: #FFF;
    color: #000000;
}

.pathway-sec ul li, .admission-process-sec ul li {
    padding-bottom: 5px;
    list-style-type: disc;
    font-weight: 500 !important;
    font-size: 1vw;
    line-height: 1.9;
}
.blue-bg11 p {
    color: white;
}
.blue-bg11 h4 {
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
}
.pathway-sec.university_text h2 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
}
.pathway-sec.university_text {
    padding: 10px 40px 70px;
    text-align: center;
}
.pathway-sec.university_text a.btn.btn-primary.bg_blue {
    padding: 10px 30px;
    float: none;
    margin-top: 20px;
    background: #154985;
}
.overview-sec.global-reality {
    padding-top: 80px;
}

</style>
<main role="main" class=" industry">
  <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
       

        @Html.Partial("BreadCrumb")

        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                 @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    
    
    
     <div class="overview-sec global-reality"> 
     
     <div class="container">
  <div class="row">
      <div class="col-12 col-md-6">
	  <p>Nottingham Trent University (NTU) is a leading public research university in Nottingham, England. It was awarded University of the Year in 2019 by The Guardian. It was also ranked number 12 in the UK by the Guardian in 2020.</p>
      <p>It is one of the largest UK universities, with nearly 32,000 students and more than 4,000 staff located across four campuses. The university is passionate about creating opportunities and its extensive outreach program is designed to enable NTU to be a vehicle for social mobility.</p>
    <p>NTU is also one of the UK’s most environmentally friendly universities, containing some of the sector’s most inspiring and efficient award-winning buildings. The university has been rated Gold in the Government’s Teaching Excellence Framework – the highest ranking available.</p>
      </div>
      <div class="col-12 col-md-6">
           <img src="https://www.upes.ac.in/media/5042/ntu_logo.jpg" class="img-fluid border">
    </div>
    
    <div class="col-md-12 pt-4">
    
    <p>UPES students have an option to obtain an internationally recognized bachelor’s degree by pursuing courses at Nottingham Trent University UK.</p>
    
    </div>
  </div>
           
            </div>
            </div>
                 
                 
                 
                 <div class="pathway-sec">
                 <div class="container">
                    <h2 class="pb-4">COURSES</h2>
                    <p>STEM</p>
                    <div class="row pt-4 mb-5">
                            <div class="col-12 col-md-12">
                          <p><strong>Eligibility Criteria And Important Information</strong></p>
                          <div class="table-responsive">
                          <table class="table table-hover table-bordered">
                          <thead>
                          <tr>
                          <td>Application</td>
                          <td>NTU application form</td>
                          </tr>
                          <tr>
                          <td>Session commencement</td>
                          <td>September</td>
                          </tr>
                           <tr>
                          <td>Campus</td>
                          <td>Nottingham Campus</td>
                          </tr>
                          
                           <tr>
                          <td>Eligibility</td>
                          <td>Class-XII (or equivalent) with minimum 70% marks<br />
Completion of Pearl International Diploma with min 70% marks</td>
                          </tr>
                          
                           <tr>
                          <td>Entry Requirements</td>
                          <td>Personal Interview Portfolio evaluation Supporting Documents</td>
                          </tr>
                          
                          <tr>
                          <td>English Language requirement</td>
                          <td>English Language requirement (IELTS with minimum 6.0 overall and 5.5 in each subskill)*</td>
                          </tr>
                          <tr>
                          <td>Mode of study	</td>
                          <td>Hybrid/Virtual</td>
                          </tr>
                          <tr>
                          <td>FEES*	</td>
                          <td>GBP £ 14,500 </td>
                          </tr>
                          
                          
                          
                          </thead>
                          </table>  
                          </div>
                          <h2 class="py-4">Accreditation</h2>
                            <ul>
                               <li>  <b>Ranking</b>
                                  <ul>  <li> NTU has been ranked at #12 in The Guardian league table ranking 2020.</li>
								<li> NTU is in the top 20 UK universities for student satisfaction (Complete University Guide).</li>
                                                   
                                                </ul>
                                             </li>
                                         </ul>
                                         
                                         
                        <p class="py-4"> <a href="https://www.ntu.ac.uk/" target="_blank">Click here to more information</a></p>      
                                </div>
                                 
                       </div>         
              </div></div>
                
               
</main>
