﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/media.css" rel="stylesheet" type="text/css" />
    <!--datepicker css-->
    <link href="/css/general-popup.css" rel="stylesheet" type="text/css" />
    <link href="/css/errorpage.css" rel="stylesheet" type="text/css" />
    <link href="~/css/core.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />
    <link href="~/css/gijgo.min.css" rel="stylesheet" type="text/css" />
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1">
            <div class="errorPage">
                <div class="innerErrorPage">
                    <h1 class="m-0">404</h1>
                    <h2>PAGE NOT FOUND</h2>
                    <p>Either something went wrong or page doesnt exist anymore</p>
                    <a href="@(Model.Content.Ancestors().Any() ? Model.Content.Ancestors().Last().Url : "/")" class="btn secondary-btn-outline text-center text-md-left">homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>