﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/media.css" rel="stylesheet" type="text/css" />
    <!--datepicker css-->
    <link href="/css/general-popup.css" rel="stylesheet" type="text/css" />
    <link href="/css/errorpage.css" rel="stylesheet" type="text/css" />
    <link href="~/css/core.css" rel="stylesheet" />
    <link href="~/css/datepicker.css" rel="stylesheet" />
    <link href="~/css/gijgo.min.css" rel="stylesheet" type="text/css" />
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1">
            <div class="errorPage">
                <div class="innerErrorPage">
                    <h1 class="m-0">404</h1>
                    <h2>Page Not Found</h2>
                    <p>Either something went wrong or page doesnt exist anymore</p>
                    <a href="@(Model.Content.Ancestors().Any() ? Model.Content.Ancestors().Last().Url : "/")" class="btn secondary-btn-outline text-center text-md-left">Go to Home</a>
                </div>
                <div class="search-input">
                    <a onclick="doRedirectSearch_404();">
                        <img src="~/src/img/home/search-icon.png" class="searchImg" />
                    </a>
                    <input type="text" id="txtSearch_404" class="SearchPageStyle" placeholder="Search UPES by Course, Admission, Placements" onkeypress="doLoadSuggestions();" />

                </div>

            </div>

        </div>
    </div>

</div>
<div class="UPESSchool">
    <div class="UPESSchoolInner">
        @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
        {
            <h3>@Model.Content.GetPropertyValue("sectionTitle")</h3>
        }
        @if (Model.Content.HasProperty("schoolPicker") && Model.Content.HasValue("schoolPicker"))
        {
            var schoolMenus = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("schoolPicker");
            if (schoolMenus.Any())
            {
            <div class="SchoolSearch row">
                @foreach (var schoolItems in schoolMenus)
                {
                    var schoolName = "";
                    if (schoolItems.HasProperty("showcaseTitlePrefix") && schoolItems.HasValue("showcaseTitlePrefix"))
                    {
                        schoolName = schoolItems.GetPropertyValue("showcaseTitlePrefix").ToString();
                    }
                    if (schoolItems.HasProperty("showcaseTitleSuffix") && schoolItems.HasValue("showcaseTitleSuffix"))
                    {
                        schoolName += " " + schoolItems.GetPropertyValue("showcaseTitleSuffix").ToString();
                    }
                    <div class="col-md-4 schoolInn">
                        <a class="nav-link" href="@schoolItems.Url">
                            @schoolName<b class="caret"></b>
                        </a>
                    </div>

                }
            </div>
            }
        }
    </div>
</div>