﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ParentStoriesItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/GeneralTemplate.css" rel="stylesheet" type="text/css" />
    <link href="/css/generalcontentgrid.css" rel="stylesheet" type="text/css" />
}
    <main role="main" class="GenerTemplate">
        <!--Banner Block-->
        <section class="banner  BannerSection mb60">
            <div class="DownArrow">
                <a href="#PanelTwo" class="ClickArrow">
                    <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
                </a>
            </div>
            @Html.Partial("BreadCrumb")
            <div class="plr20 fullwidth">
                <div class="BannerStripContext">
                    @*@if (Model.Content.Parent.Name == "School")
                    {
                        <span class="fontExBold sodText">@Model.Content.Name</span>
                    }*@
                    @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                    {
                        <h1 class="fontExBold">
                            @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                        </h1>
                    }
                </div>
                <div class="BannerImg position-relative">
                    @if (Model.Content.HasProperty("heroBanner") && Model.Content.HasValue("heroBanner"))
                    {
                        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("heroBanner"), Umbraco);
                        var imgPat = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                        <picture>
                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgPat.HasValue("altTag")?imgPat.GetPropertyValue("altTag"):"")" />
                        </picture>
                    }

                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <!--Inner-->
        <section class="PanelInner studenAchievPanel_PaddingSpacing" id="PanelTwo">
            <div class="plr100">
                <div class="row panelRow">
                    <div class="col-sm-6 panelLeft">
                        @*@if (Model.Content.HasProperty("studentPhoto") && Model.Content.HasValue("studentPhoto"))
                        {
                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("studentPhoto"), Umbraco);
                            var imgPat = Model.Content.GetPropertyValue<IPublishedContent>("studentPhotoss");
                            if (imgPath != null)
                            {
                                <picture>
                                    <img src="@imgPath.Url" alt="@(imgPat.HasValue("altTag")?imgPat.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                </picture>
                            }
                        }*@

                    </div>
                    <div class="col-sm-6 PanelContext">
                        @*@if (Model.Content.HasProperty("parentName") && Model.Content.HasValue("parentName"))
                        {
                            <h2 class="fontExBold panelTitle">
                                @Html.Raw(Model.Content.GetPropertyValue("parentName"))
                            </h2>
                        }
                        @if (Model.Content.HasProperty("relationship") && Model.Content.HasValue("relationship"))
                        {
                            <h3>
                                @(Model.Content.GetPropertyValue<string>("relationship"))
                            </h3>
                        }

                        @if (Model.Content.HasProperty("detailContent") && Model.Content.HasValue("detailContent"))
                        {
                            @Html.Raw(Model.Content.GetPropertyValue("detailContent"))
                        }*@
                    </div>
                    @(Model.Content.GetGridHtml(Html, "pageContent", "Custom-Grid"))
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        @Html.Partial("Floating")
    </main>