﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ParentStories>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@

@section style
{
    <link href="/css/GeneralTemplate.css" rel="stylesheet" type="text/css" />
}
@* the fun starts here *@
<main role="main" class="GenerTemplate">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @*<span class="fontExBold sodText">School of Design (SOD)</span>*@
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }

            </div>
            <div class="BannerImg position-relative">

                <picture>
                    @if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                    {
                        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("bannerImage"), Umbraco);
                        var imgpat = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                        <img src="@imgPath.Url" class="img-fluid" alt="@(imgpat.HasValue("altTag")?imgpat.GetPropertyValue<string>("altTag"):"")" />
                    }

                </picture>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Inner-->
    <!--Upcoming Events-->
    <section class="studenAchievPanel StudentLogoBanner" id="PanelTwo">
        <div class="plr100">
            <div class="AchieveInner position-relative">
                <div class="AchieveTitleBlock position-relative viewAll">
                    @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
                    {
                        <h3 class="fontBlack text-uppercase titleh3">
                            @Html.Raw(Model.Content.GetPropertyValue("sectionTitle"))
                        </h3>
                    }
                    <div class="link_list text-right noPadding" id="divViewAllSection1" style="display:none;">
                        <a id="aViewAllSection1" onclick="doShowSection1('divSection1Container', 'aViewAllSection1');" class="fontBold text-uppercase text-decoration">View all</a>
                    </div>
                </div>
                <div class="row StoryStyle StyleForSlickArrows ParentStoryPanel storiesPannInn mlr" id="divSection1Container">
                    @{
                        var selectedEvents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contentPicker");
                        if (selectedEvents.Any())
                        {
                            int showcaseIndex = 1;
                            <input type="hidden" id="hfSection1ViewAll" value="@selectedEvents.Count()" />
                            foreach (var eventsIndex in selectedEvents)
                            {
                                if (eventsIndex.HasProperty("parentPhoto") && eventsIndex.HasValue("parentPhoto"))
                                {
                                    var image = AST.S3.Helper.MediaHelper.ParseMedia(eventsIndex.GetPropertyValue<string>("parentPhoto"), Umbraco);
                                    if (image != null)
                                    {
                                        <div class="col-4 storiesPanStyle storiesPanOne plr7" id="divSection1Showcase_@showcaseIndex">
                                            <img src="@image.GetCropUrl("StoriesCrop")" alt="img-fluid" class="img-fluid" />
                                            <div class="StoriesContext ">
                                                @if (eventsIndex.HasValue("parentName"))
                                                {
                                                    <h2 class="fontBold">
                                                        @(eventsIndex.GetPropertyValue<string>("parentName"))
                                                    </h2>
                                                }
                                                @if (eventsIndex.HasProperty("relationship") && eventsIndex.HasValue("relationship"))
                                                {
                                                    <h3 class="fontMedium">
                                                        @Html.Raw(eventsIndex.GetPropertyValue("relationship"))
                                                    </h3>
                                                }

                                                @if (eventsIndex.HasValue("shortDescription"))
                                                {
                                                    <p>
                                                        @(eventsIndex.GetPropertyValue<string>("shortDescription"))
                                                    </p>
                                                }
                                                @if (eventsIndex.HasProperty("pSKnowMoreLink") && eventsIndex.HasValue("pSKnowMoreLink"))
                                                {
                                                    var button1Index = eventsIndex.GetPropertyValue<RelatedLinks>("pSKnowMoreLink");
                                                    if (button1Index.Any())
                                                    {
                                                        var linkTarget = (button1Index.First().NewWindow) ? "_blank" : null;
                                                        <a href="@button1Index.First().Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@button1Index.First().Caption</a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        showcaseIndex++;
                                    }
                                }
                            }
                        }
                    }
                </div>
            </div>
    </section>
    @if (Model.Content.HasProperty("contentPicker2") && Model.Content.HasValue("contentPicker2"))
    {
        var events = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contentPicker2");
        if (events.Any())
        {
            int showcaseIndex = 1;
            <!--Industry Ties up and Testimonials-->
            <section class="Ties_TestimonialPanel position-relative forZIndex">
                <div class="TiesUpPanel position-relative">
                    <div class="plr100">
                        @if (Model.Content.HasProperty("sectionTitle2") && Model.Content.HasValue("sectionTitle2"))
                        {
                            <div class="StoryTitleStrip StoryTitleStripForTieUp Yellowstripbgfull text-uppercase d-flex">
                                <h2 class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue("sectionTitle2"))</h2>
                            </div>
                        }
                        <div class="link_list text-right noPadding LinkPosition" id="divViewAllSection2" style="display:none;">
                            <a id="aViewAllSection2" onclick="doShowSection2('divSection2Container', 'aViewAllSection2');" class="fontBold text-uppercase text-decoration">View all</a>
                        </div>
                        <div class="TieUpPosition">
                            <div class="row StoryStyle StyleForSlickArrows ParentStoryPanel storiesPannInn mlr" id="divSection2Container">
                                <input type="hidden" id="hfSection2ViewAll" value="@events.Count()" />
                                @foreach (var evente in events)
                                {
                                    <div class="col-4 storiesPanStyle storiesPanOne plr7" id="divSection2Showcase_@showcaseIndex">
                                        @if (evente.HasValue("parentPhoto"))
                                        {
                                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(evente.GetPropertyValue<string>("parentPhoto"), Umbraco);
                                            <img src="@imgPath.GetCropUrl("StoriesCrop")" alt="@(imgPath.HasValue("altTag") ? imgPath.GetPropertyValue<string>("altTag") : "")" class="img-fluid" />
                                        }

                                        <div class="StoriesContext ">
                                            @if (evente.HasValue("parentName"))
                                            {
                                                <h2 class="fontBold">
                                                    @Html.Raw(evente.GetPropertyValue("parentName"))
                                                </h2>
                                            }
                                            @if (evente.HasProperty("relationship") && evente.HasValue("relationship"))
                                            {
                                                <h3 class="fontMedium">
                                                    @Html.Raw(evente.GetPropertyValue("relationship"))
                                                </h3>
                                            }

                                            @if (evente.HasValue("shortDescription"))
                                            {
                                                <p>
                                                    @(evente.GetPropertyValue<string>("shortDescription"))
                                                </p>
                                            }
                                            @if (evente.HasProperty("pSKnowMoreLink") && evente.HasValue("pSKnowMoreLink"))
                                            {
                                                var button1Index = evente.GetPropertyValue<RelatedLinks>("pSKnowMoreLink");
                                                if (button1Index.Any())
                                                {
                                                    var linkTarget = (button1Index.First().NewWindow) ? "_blank" : null;
                                                    <a href="@button1Index.First().Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@button1Index.First().Caption</a>
                                                }
                                            }

                                        </div>
                                    </div>
                                    showcaseIndex++;
                                }
                            </div>
                        </div>
                    </div>
                    <!--Testimonials-->
                </div>
            </section>
        }
    }
</main>
@Html.Partial("Floating")

@section scripts{
    <script>
        function doShowSection1(divID, aID) {
            if ($('#' + aID).text() == "View all") {
                if ($('#hfSection1ViewAll').val() > 6) {
                    for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
                        $('#divSection1Showcase_' + i).show();
                    }
                }
                $('#' + aID).text('Show less');
            }
            else if ($('#' + aID).text() == "Show less") {
                if ($('#hfSection1ViewAll').val() > 6) {
                    for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
                        $('#divSection1Showcase_' + i).hide();
                    }
                }
                $('#' + aID).text('View all');
            }
        }
        function doShowSection2(divID, aID) {
            if ($('#' + aID).text() == "View all") {
                if ($('#hfSection2ViewAll').val() > 6) {
                    for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
                        $('#divSection2Showcase_' + i).show();
                    }
                }
                $('#' + aID).text('Show less');
            }
            else if ($('#' + aID).text() == "Show less") {
                if ($('#hfSection2ViewAll').val() > 6) {
                    for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
                        $('#divSection2Showcase_' + i).hide();
                    }
                }
                $('#' + aID).text('View all');
            }
        }
       @* $(document).ready(function () {
            if ($('#hfSection1ViewAll').val() > 6) {
                for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
                    $('#divSection1Showcase_' + i).hide();
                }
                $('#divViewAllSection1').show();
            }

            if ($('#hfSection2ViewAll').val() > 6) {
                for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
                    $('#divSection2Showcase_' + i).hide();
                }
                $('#divViewAllSection2').show();
            }
        });*@
    </script>
}
