﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/industry.min.css" rel="stylesheet" type="text/css" />    
}
@*<main role="main" class="GenerTemplate industry">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.Parent.Name == "School")
                {
                    <span class="fontExBold sodText">@Model.Content.Name</span>
                }
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                 @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--Inner-->
    <section class="PanelInner studenAchievPanel_PaddingSpacing" id="PanelTwo">
        <div class="plr100">
            <div class="row panelRow">
                @if (Model.Content.HasProperty("showcaseImage") && Model.Content.HasValue("showcaseImage"))
                {
                    var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("showcaseImage"), Umbraco);
                    //var imgPat = Model.Content.GetPropertyValue<IPublishedContent>("showcaseImage");
                    if (imgPath != null)
                    {
                        <div class="col-sm-6 panelLeft">
                            <picture>
                                <img src="@imgPath.Url" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                            </picture>
                        </div>
                    }
                }
                @if (Model.Content.HasValue("publishedDate"))
                {
                    <div class="col-sm-6 PanelContext">
                        @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                        {
                            <h2 class="fontExBold panelTitle">
                                @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                            </h2>
                        }
                        @if (Model.Content.HasProperty("publishedDate") && Model.Content.HasValue("publishedDate"))
                        {
                            <h3>
                                @(Model.Content.GetPropertyValue<DateTime>("publishedDate").Date.ToString("dd-MMM-yyyy"))
                            </h3>
                        }

                        @if (Model.Content.HasProperty("detailContent") && Model.Content.HasValue("detailContent"))
                        {
                            @Html.Raw(Model.Content.GetPropertyValue("detailContent"))
                        }
                    </div>
                }
                else
                {
                    if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                    {
                        <h2 class="fontExBold panelTitle">
                            @Html.Raw(Model.Content.GetPropertyValue("showcaseTitle"))
                        </h2>
                    }
                }
                @if (Model.Content.HasValue("placementTitle") && Model.Content.HasValue("notesContent"))
                {
                    <div class="bg-white">
                        <div class="plr100">
                            <div class="industryPanel">
                                @if (Model.Content.HasProperty("placementTitle") && Model.Content.HasValue("placementTitle"))
                                {
                                    <div id="placementSection" class="Orange-Strip d-flex align-items-end ">
                                        <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("placementTitle"))</h2>
                                    </div>
                                }
                                @if (Model.Content.HasProperty("placementDescription") && Model.Content.HasValue("placementDescription"))
                                {
                                    <h4 class="fontMedium titleh4">
                                        @Html.Raw(Model.Content.GetPropertyValue("placementDescription"))
                                    </h4>
                                }
                                @if (Model.Content.HasProperty("notesContent") && Model.Content.HasValue("notesContent"))
                                {
                                    var counts = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("notesContent");
                                    <div class="row industry_blockList">
                                        @foreach (var count in counts)
                                        {
                                            <div class="col-sm-4 Ind_inn">
                                                <p class="d-flex align-items-center">
                                                    @if (count.HasValue("count"))
                                                    {
                                                        <span class="fontBlack Numb_list">@Html.Raw(count.GetPropertyValue("count"))</span>
                                                    }
                                                    @if (count.HasValue("text"))
                                                    {
                                                        <span class="fontMedium Num_Title">@Html.Raw(count.GetPropertyValue("text"))</span>
                                                    }

                                                </p>
                                            </div>
                                        }
                                        @if (Model.Content.HasProperty("placementRecordsDisclaimer") && Model.Content.HasValue("placementRecordsDisclaimer"))
                                        {
                                            <div class="DisclaimerTExt DisclaimerTExtTop">
                                                <p>@Model.Content.GetPropertyValue("placementRecordsDisclaimer")</p>
                                            </div>
                                        }
                                    </div>
                                }

                                <!-- more link -->
                                @if (Model.Content.HasProperty("morePlacementLink") && Model.Content.HasValue("morePlacementLink"))
                                {
                                    var link = Model.Content.GetPropertyValue<RelatedLinks>("morePlacementLink").FirstOrDefault();
                                    if (link != null)
                                    {
                                        <div class="text-right">
                                            <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="color-blue">@link.Caption</a>
                                        </div>
                                    }
                                }

                                <!-- #more link -->


                            </div>
                        </div>
                    </div>
                }
                @if (Model.Content.HasValue("recruitersTitle") && Model.Content.HasValue("recruitersImage"))
                {
                    <div class="plr100">
                        <div id="recruitersSection" class="industryPanel">
                            @if (Model.Content.HasProperty("recruitersTitle") && Model.Content.HasValue("recruitersTitle"))
                            {
                                <div class="Orange-Strip d-flex align-items-end ">
                                    <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("recruitersTitle"))</h2>
                                </div>
                            }

                            <!-- <h4 class="fontMedium titleh4">
                                Co-created courses, to make you industry leaders of
                                tomorrow
                            </h4> -->
                            <!-- <div class="row industry_blockList">
                                <div class="col-sm-4 Ind_inn">
                                    <p class="d-flex align-items-center">
                                        <span class="fontBlack Numb_list">9900+</span>
                                        <span class="fontMedium Num_Title">Students placed last year</span>
                                    </p>
                                </div>
                                <div class="col-sm-4 Ind_inn">
                                    <p class="d-flex align-items-center">
                                        <span class="fontBlack Numb_list">
                                            94%
                                        </span>
                                        <span class="fontMedium Num_Title">Overall placements</span>
                                    </p>
                                </div>
                                <div class="col-sm-4 Ind_inn">
                                    <p class="d-flex align-items-center">
                                        <span class="fontBlack Numb_list">1050+</span>
                                        <span class="fontMedium Num_Title">Companies who recruited</span>
                                    </p>
                                </div>
                            </div> -->
                            @if (Model.Content.HasProperty("recruitersImage") && Model.Content.HasValue("recruitersImage"))
                            {
                                var recruiterLogos = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("recruitersImage");
                                <div class="companies-wrapper">
                                    <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
                                        @foreach (var logo in recruiterLogos)
                                        {
                                            var imgaPath = logo;
                                            if (imgaPath != null)
                                            {
                                                <div class="ind_Logo">
                                                    <img src="@imgaPath.Url" class="img-fluid" alt="@(imgaPath.HasValue("altTag")?imgaPath.GetPropertyValue<string>("altTag"):"")" />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                            @if (Model.Content.HasProperty("moreRecruiterLink") && Model.Content.HasValue("moreRecruiterLink"))
                            {
                                var link = Model.Content.GetPropertyValue<RelatedLinks>("moreRecruiterLink").FirstOrDefault();
                                if (link != null)
                                {
                                    <div class="text-right">
                                        <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="color-blue">@link.Caption</a>
                                    </div>
                                }
                            }
                            <!-- more link -->
                            <!-- #more link -->
                            @if (Model.Content.HasProperty("disclaimerText") && Model.Content.HasValue("disclaimerText"))
                            {
                                <div class="DisclaimerTExt">
                                    <p>@(Model.Content.GetPropertyValue<string>("disclaimerText"))</p>
                                </div>
                            }
                        </div>
                    </div>
                }
                @(Model.Content.GetGridHtml(Html, "pageContent", "Custom-Grid"))

                @{
                    if (Request.Url.ToString().Contains("/careers/"))
                    {
                        if (Model.Content.HasProperty("showcaseTitle") && Model.Content.HasValue("showcaseTitle"))
                        {
                            <div class="row no-gutters justify-content-center">
                                <a href="/apply-online?job=@(Server.UrlEncode(Model.Content.GetPropertyValue("showcaseTitle").ToString()))" target="_blank" class="br30 fontBold btn btn-primary BtnStyle center LoadMore">Apply Now</a>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </section>

    <div class="clearfix"></div>
</main>*@
<main role="main" class=" industry">
    <!--Banner Block-->
    <style>.industry .Orange-Strip::before {
    background: #ffca08;
    width: 0;
    content: '';
    height: 100%;
    top: 0;
    position: absolute;
}</style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        <!-- var result = upes_website.Core.ExamineExtensions.ExamineAlias("home");
        IPublishedContent homeContent = Umbraco.TypedContent("1152"); -->

        @Html.Partial("BreadCrumb")

        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                 @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--Inner-->
    <section class="PanelInner studenAchievPanel_PaddingSpacing" id="PanelTwo">
        @if (Model.Content.HasValue("placementTitle") && Model.Content.HasValue("notesContent"))
        {
            <div class="row panelRow">
                <div class="bg-white">
                    <div class="plr100">
                        <div class="industryPanel">
                            @if (Model.Content.HasProperty("placementTitle") && Model.Content.HasValue("placementTitle"))
                            {
                                <div id="placementSection" class="Orange-Strip d-flex align-items-end ">
                                    <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("placementTitle"))</h2>
                                </div>
                            }
                            @if (Model.Content.HasProperty("placementDescription") && Model.Content.HasValue("placementDescription"))
                            {
                                <h4 class="fontMedium titleh4">
                                    @Html.Raw(Model.Content.GetPropertyValue("placementDescription"))
                                </h4>
                            }
                            @if (Model.Content.HasProperty("notesContent") && Model.Content.HasValue("notesContent"))
                            {
                                var counts = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("notesContent");
                                <div class="row industry_blockList">
                                    @foreach (var count in counts)
                                    {
                                        <div class="col-sm-4 Ind_inn">
                                            <p class="d-flex align-items-center">
                                                @if (count.HasValue("count"))
                                                {
                                                    <span class="fontBlack Numb_list">@Html.Raw(count.GetPropertyValue("count"))</span>
                                                }
                                                @if (count.HasValue("text"))
                                                {
                                                    <span class="fontMedium Num_Title">@Html.Raw(count.GetPropertyValue("text"))</span>
                                                }

                                            </p>
                                        </div>
                                    }
                                    @if (Model.Content.HasProperty("placementRecordsDisclaimer") && Model.Content.HasValue("placementRecordsDisclaimer"))
                                    {
                                        <div class="DisclaimerTExt DisclaimerTExtTop">
                                            <p>@Model.Content.GetPropertyValue("placementRecordsDisclaimer")</p>
                                        </div>
                                    }
                                </div>
                            }

                            <!-- more link -->
                            @if (Model.Content.HasProperty("morePlacementLink") && Model.Content.HasValue("morePlacementLink"))
                            {
                                var link = Model.Content.GetPropertyValue<RelatedLinks>("morePlacementLink").FirstOrDefault();
                                if (link != null)
                                {
                                    <div class="text-right">
                                        <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="color-blue">@link.Caption</a>
                                    </div>
                                }
                            }

                            <!-- #more link -->


                        </div>
                    </div>
                </div>





            </div>
        }

    </section>
    @if (Model.Content.HasValue("recruitersTitle") && Model.Content.HasValue("recruitersImage"))
    {
        <div class="plr100">
            <div id="recruitersSection" class="industryPanel">
                @if (Model.Content.HasProperty("recruitersTitle") && Model.Content.HasValue("recruitersTitle"))
                {
                    <div class="Orange-Strip d-flex align-items-end ">
                        <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("recruitersTitle"))</h2>
                    </div>
                }

                <!-- <h4 class="fontMedium titleh4">
                    Co-created courses, to make you industry leaders of
                    tomorrow
                </h4> -->
                <!-- <div class="row industry_blockList">
                    <div class="col-sm-4 Ind_inn">
                        <p class="d-flex align-items-center">
                            <span class="fontBlack Numb_list">9900+</span>
                            <span class="fontMedium Num_Title">Students placed last year</span>
                        </p>
                    </div>
                    <div class="col-sm-4 Ind_inn">
                        <p class="d-flex align-items-center">
                            <span class="fontBlack Numb_list">
                                94%
                            </span>
                            <span class="fontMedium Num_Title">Overall placements</span>
                        </p>
                    </div>
                    <div class="col-sm-4 Ind_inn">
                        <p class="d-flex align-items-center">
                            <span class="fontBlack Numb_list">1050+</span>
                            <span class="fontMedium Num_Title">Companies who recruited</span>
                        </p>
                    </div>
                </div> -->
                @if (Model.Content.HasProperty("recruitersImage") && Model.Content.HasValue("recruitersImage"))
                {
                    var recruiterLogos = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("recruitersImage");
                    <div class="companies-wrapper">
                        <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
                            @foreach (var logo in recruiterLogos)
                            {
                                var imgaPath = logo;
                                if (imgaPath != null)
                                {
                                    <div class="ind_Logo">
                                        <img src="@imgaPath.Url" class="img-fluid" alt="@(imgaPath.HasValue("altTag")?imgaPath.GetPropertyValue<string>("altTag"):"")" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
                @if (Model.Content.HasProperty("moreRecruiterLink") && Model.Content.HasValue("moreRecruiterLink"))
                {
                    var link = Model.Content.GetPropertyValue<RelatedLinks>("moreRecruiterLink").FirstOrDefault();
                    if (link != null)
                    {
                        <div class="text-right">
                            <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="color-blue">@link.Caption</a>
                        </div>
                    }
                }
                <!-- more link -->
                <!-- #more link -->
                @if (Model.Content.HasProperty("disclaimerText") && Model.Content.HasValue("disclaimerText"))
                {
                    <div class="DisclaimerTExt">
                        <p>@(Model.Content.GetPropertyValue<string>("disclaimerText"))</p>
                    </div>
                }
            </div>
        </div>
    }
    <div class="bg-white GenerTemplate">
        <div class="plr100">
            @(Model.Content.GetGridHtml(Html, "pageContent", "Custom-Grid"))
        </div>

    </div>
    <div class="clearfix"></div>
</main>
@Html.Partial("Floating")
