﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models
@{
	Layout = "Master.cshtml";
    var schoolItem = Model.Content.AncestorOrSelf();
}
@section style
{
    <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/industry.min.css" rel="stylesheet" type="text/css" /> 
    <link href="/css/applicants.css" rel="stylesheet" type="text/css" />   
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" type="text/css" />
}
<main role="main" class=" industry">
    <!--Banner Block-->
    <style>.industry .Orange-Strip::before {
    background: #ffca08;
    width: 0;
    content: '';
    height: 100%;
    top: 0;
    position: absolute;
}
.applicants .HomeCourseBg:after{
    z-index:-1;
}
.industry .industryPanel {padding-bottom: 0px; padding: 60px 0px 50px}
.industry .industry_blockList {
    margin: 0;
    padding: 0 0;
}

span.fontMedium.Num_Title {
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    line-height: 1.5;
    text-align: center;
    padding-right: 20px;
}

span.fontBlack.Numb_list {
    display: block;
    width: 100%;
    text-align: center;
}


.plr100.padd_top {
    padding-top: 70px;
    padding-bottom: 20px;
}

.plr100.padd_btm {
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg-white.GenerTemplate.padd_btm h3 {
    font-size: 21px;
    font-weight: 500;
    padding: 21px 0;
}

.bg-white.GenerTemplate.padd_btm {
    padding-bottom: 50px;
}


.row.annual_report {
    padding: 70px 0;
}
.row.annual_report h3 {
    font-size: 21px;
    padding-bottom: 40px;
}
.pdf_box {
    background: #fbfbfb;
    height: 130px;
    text-align: center;
    margin-bottom: 30px;
    border: solid 1px #eee;
    padding: 20px;
}

.pdf_box span {
    display: block;
    padding-top: 10px;
}

.pdf_box a {
    color: #000;
}

 @@media only screen and (min-width:0px) and (max-width:767px){
       .industry .breadcrumbPanel {display:none;}
	  
	  .industry .BannerStripContext .fontExBold {
    font-size: 7vw !important;
    width: 100vw !important;
    line-height: 1 !important;
    position: relative!important;
    top: 25px !important;
}

 
.BannerSection .BannerStripContext {
    overflow: hidden;
    width: 100%;
    top: 50%;
    padding: 15px;
    height: 250px;
    right: 0;
}
.industry .BannerSection .BannerStripContext .fontExBold {
    display: block;
}
	  
.bg-white.GenerTemplate.padd_btm p, .bg-white.GenerTemplate.padd_btm h3 {
    text-align: center;
}

.applicants .crseTitle {
    padding: 0 0 40px 15px;}
	.HomeCoursePanel .plr100 {
    padding: 60px 0!important;
}

.speci-full a {
    font-size: 10px;}
    
    .GenerTemplate .intro-text-85 p {font-size:14px;}

    }


</style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        <!-- var result = upes_website.Core.ExamineExtensions.ExamineAlias("home");
        IPublishedContent homeContent = Umbraco.TypedContent("1152"); -->

        @Html.Partial("BreadCrumb")

        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                    
                    <p>@Html.Raw(Model.Content.GetPropertyValue("pageSubtitle"))</p>   
                }
            </div>
            <div class="BannerImg position-relative">
                 @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    
    @if (Model.Content.HasValue("recruitersTitle") && Model.Content.HasValue("recruitersImage"))
    {
        <div class="plr100">
            <div id="recruitersSection" class="industryPanel">
                @if (Model.Content.HasProperty("recruitersTitle") && Model.Content.HasValue("recruitersTitle"))
                {
                   <!-- <div class="Orange-Strip d-flex align-items-end">
                        <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("recruitersTitle"))</h2>
                    </div> -->
                }
              @if (Model.Content.HasProperty("recruitersImage") && Model.Content.HasValue("recruitersImage"))
                {
                    var recruiterLogos = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("recruitersImage");
                    <div class="companies-wrapper">
                        <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
                            @foreach (var logo in recruiterLogos)
                            {
                                var imgaPath = logo;
                                if (imgaPath != null)
                                {
                                    <div class="ind_Logo">
                                        <img src="@imgaPath.Url" class="img-fluid" alt="@(imgaPath.HasValue("altTag")?imgaPath.GetPropertyValue<string>("altTag"):"")" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
                @*  @if (Model.Content.HasProperty("moreRecruiterLink") && Model.Content.HasValue("moreRecruiterLink"))
                {
                    var link = Model.Content.GetPropertyValue<RelatedLinks>("moreRecruiterLink").FirstOrDefault();
                    if (link != null)
                    {
                        <div class="text-right">
                            <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="color-blue">@link.Caption</a>
                        </div>
                    }
                }
                <!-- more link -->
                <!-- #more link -->
                @if (Model.Content.HasProperty("disclaimerText") && Model.Content.HasValue("disclaimerText"))
                {
                    <div class="DisclaimerTExt">
                        <p>@(Model.Content.GetPropertyValue<string>("disclaimerText"))</p>
                    </div>
                }*@
            </div>
        </div>
    }
    
    
    <!--Inner-->
    <section class="PanelInner studenAchievPanel_PaddingSpacing" id="PanelTwo">
        @if (Model.Content.HasValue("placementTitle") && Model.Content.HasValue("notesContent"))
        {
            <div class="row panelRow">
                <div class="bg-white">
                    <div class="plr100 padd_top">
                        <div class="industryPanel">
                            
                            @if (Model.Content.HasProperty("placementTitle") && Model.Content.HasValue("placementTitle"))
                            {
                                <!-- <div id="placementSection" class="Orange-Strip d-flex align-items-end ">
                                    <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("placementTitle"))</h2>
                                </div> -->
                            }
                            @if (Model.Content.HasProperty("placementDescription") && Model.Content.HasValue("placementDescription"))
                            {
                                <h4 class="fontMedium titleh4">
                                    @Html.Raw(Model.Content.GetPropertyValue("placementDescription"))
                                </h4>
                            }
                            @if (Model.Content.HasProperty("notesContent") && Model.Content.HasValue("notesContent"))
                            {
                                var counts = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("notesContent");
                                <div class="row industry_blockList">
                                    @foreach (var count in counts)
                                    {
                                        <div class="col-sm-4 Ind_inn">
                                            <p class="align-items-center">
                                                @if (count.HasValue("count"))
                                                {
                                                    <span class="fontBlack Numb_list">@Html.Raw(count.GetPropertyValue("count"))</span>
                                                }
                                                @if (count.HasValue("text"))
                                                {
                                                    <span class="fontMedium Num_Title">@Html.Raw(count.GetPropertyValue("text"))</span>
                                                }

                                            </p>
                                        </div>
                                    }
                                    @if (Model.Content.HasProperty("placementRecordsDisclaimer") && Model.Content.HasValue("placementRecordsDisclaimer"))
                                    {
                                        <div class="DisclaimerTExt DisclaimerTExtTop">
                                            <p>@Model.Content.GetPropertyValue("placementRecordsDisclaimer")</p>
                                        </div>
                                    }
                                </div>
                            }

                            <!-- more link -->
                         @*   @if (Model.Content.HasProperty("morePlacementLink") && Model.Content.HasValue("morePlacementLink"))
                            {
                                var link = Model.Content.GetPropertyValue<RelatedLinks>("morePlacementLink").FirstOrDefault();
                                if (link != null)
                                {
                                    <div class="text-right">
                                        <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="color-blue">@link.Caption</a>
                                    </div>
                                }
                            }*@

                            <!-- #more link -->


                        </div>
                    </div>
                </div>





            </div>
        }

    </section>
    
    <div class="bg-white GenerTemplate padd_btm">
        <div class="plr100 intro-text-85">
            @Model.Content.GetPropertyValue("overview")
        </div>
    </div>
    <div class="applicants">
    <section id="PanelTwo" class="HomeCoursePanel HomeCourseBg position-relative">
       <div id="coursesAspiring" class="plr100">
            @Html.Partial("_placementcourses")
            <p style="font-style: italic;padding-bottom: 20px;margin-top: -30px;">Placements for 2019-2020</p>
        </div>
   
    </section>     
    </div>
    <div class="clearfix"></div>
    <div class="bg-white GenerTemplate">
        <div class="plr100 intro-text-85">
            @Model.Content.GetPropertyValue("placementReports")
        </div>

    </div>
     @if (schoolItem.HasValue("rSTitleLine1") && schoolItem.HasValue("rSTitleLine2") && schoolItem.HasValue("recuiterStoriesPicker"))
        {
    <div class="SchoolDetailPanel" style="display:none;">
            <div class="ParentStoriesPanel Studentstories TestimonialPanel">
                <div class="plr100">
                    <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
                        @{
                            if (schoolItem.HasProperty("rSTitleLine1") && schoolItem.HasValue("rSTitleLine1"))
                            {
                                <p class="fontBlack">@(schoolItem.GetPropertyValue<string>("rSTitleLine1"))</p>
                            }
                            if (schoolItem.HasProperty("rSTitleLine2") && schoolItem.HasValue("rSTitleLine2"))
                            {
                                <h2 class="fontBlack">@(schoolItem.GetPropertyValue<string>("rSTitleLine2"))</h2>
                            }
                        }
                    </div>
                    @if (schoolItem.HasProperty("knowMoreLink") && schoolItem.HasValue("knowMoreLink"))
                    {
                        <div class="link_list text-right noPadding">
                            <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                               @(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Caption)
                            </a>
                        </div>
                    }
                    <div class="CarouselforSlick StoryStyle StyleForSlickArrows storiesPannInn mlr">
                        @{
                            var studentStoriesItems = schoolItem.GetPropertyValue<IEnumerable<IPublishedContent>>("recuiterStoriesPicker");
                            foreach (var storiesItem in studentStoriesItems)
                            {
                                @Html.Partial("_stories", storiesItem)
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        }
</main>
@Html.Partial("Floating")