﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    string id = "0";
}

@* the fun starts here *@
@section style{
    <link href="/css/GeneralTemplate.min.css" rel="stylesheet" />
}
<main role="main" class="GenerTemplate">
    <!--Banner Block-->
    <style>
        .tagActive {
            background-color: #FFCA08 !important;
            color: #fff !important;
            border-color: #fff !important;
        }
        .monthActive {
            color: #FFCA08 !important;
        }
        .newsListForMobile{
            display:none;
        }
    </style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        <div class="breadcrumbPanel">
            <ol class="breadcrumb breadcrumbCustom">
                <li class="breadcrumb-item fontBold"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Press Release</li>
            </ol>
        </div>
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }

            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    if (imgPath != null)
                    {
                        <picture>
                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue("altTag"):"")" />
                        </picture>
                    }
                }

            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <!--Press Release Panel-->
    <section class="PressReleasePanel">
        <div class="plr100">
            <div class="pressRow row">

                <div class="col-lg-3 col-sm-3 pr_left padlr">
                    @*<div class="newsListForMobile">
                <select class="stylefornews">
                    <option>Archive</option>
                    <option>August (5)</option>
                    <option>July (7)</option>
                </select>
                <select class="stylefornews">
                    <option>Tags</option>
                    <option>Engineering</option>
                    <option>MBA</option>
                </select>
            </div>*@
             <div class="newsListForMobile">
                        <select class="stylefornews" id="MonthForMobile">
                        </select>
                        <select class="stylefornews" id="TagsForMobile">
                        </select>
                    </div>
                    <div class="hideformobile">
                        <div class="prList">
                            <h2 class="fontBold">Archive</h2>
                            <ul class="archiveList" id="monthList"><li><a onclick="doLoadData(this,'All')">All</a></li></ul>
                        </div>
                        <div class="prList">
                            <h2 class="fontBold">Tags</h2>
                            <ul class="tagList" id="tagList">
                                <div class="clearfix"></div>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-9 pr_right padlr" id="pressReleaseSection">
                </div>
                    <a class="readmore loadmore" id="loadMorePress" style="display:none;">Load More</a>
            </div>
    </section>
    <div class="clearfix"></div>

</main>
@Html.Partial("Floating")
@section scripts{
    <script>
        $('#loadMorePress').click(function () {
            $(".morePress").show();
            $('#loadMorePress').hide();
        });
        $(document).ready(function () {  
             $.ajax({
                    url: '@(Url.Action("bindMonthMobile", "PressRelease"))',
                    type: "GET",
                    dataType: "HTML",
                    data: {
                    },
                    async: false,
                    success: function (data) {
                        console.log(data);
                        $('#MonthForMobile').html(data);
                    }
            });
            $.ajax({
                    url: '@(Url.Action("bindTagsMobile", "PressRelease"))',
                    type: "GET",
                    dataType: "HTML",
                    data: {
                    },
                    async: false,
                    success: function (data) {
                        console.log(data);
                        $('#TagsForMobile').html(data);
                    }
            });
$.ajax({
    url: '@(Url.Action("returnTags", "PressRelease"))',
    type: "GET",
    dataType: "HTML",
    data: {
    },
    async: false,
    success: function (data) {
        $(".morePress").hide();
    //console.log(data);
        $('#tagList').html(data);
    }
    });
        $.ajax({
    url: '@(Url.Action("returnMonth", "PressRelease"))',
    type: "GET",
    dataType: "HTML",
    data: {
    },
    async: false,
    success: function (data) {
    //console.log(data);
        $('#monthList').append(data);
    }
            });
            $.ajax({
                    url: '@(Url.Action("returnHtmlContent", "PressRelease"))',
                    type: "GET",
                    dataType: "HTML",
                    data: {  },
                    async: false,
                    success: function (data) {
                        //console.log(data);
                        var arr = data.split('###');
                        $('#pressReleaseSection').html(arr[0]);
                        sessionStorage.setItem("loadMore", arr[1]);
                        if (sessionStorage.getItem("loadMore") == "True") {
                            $('#loadMorePress').show();
                        }
                        else {
                            $('#loadMorePress').hide();
                        }
                    }
            });
            $(".morePress").hide();
            $(".morePress").css("display", "none");
        });
$('#TagsForMobile').change(function () {
            $.ajax({
                    url: '@(Url.Action("returnHtmlContent", "PressRelease"))',
                    type: "GET",
                    dataType: "HTML",
                    data: { tagKeyWord: $('#TagsForMobile').val() },
                    async: false,
                    success: function (data) {
                        var arr = data.split('###');
                        $('#pressReleaseSection').html(arr[0]);
                        sessionStorage.setItem("loadMore", arr[1]);
                        sessionStorage.setItem("tagRep", false);
                        if (sessionStorage.getItem("loadMore") == "True") {
                            $('#loadMorePress').show();
                        }
                        else {
                            $('#loadMorePress').hide();
                        }
                    }
                });
        });
        $('#MonthForMobile').change(function () {
            $.ajax({
                    url: '@(Url.Action("returnHtmlContent", "PressRelease"))',
                    type: "GET",
                    dataType: "HTML",
                    data: { monthAndYear: $('#MonthForMobile').val() },
                    async: false,
                    success: function (data) {
                        //console.log(data);
                        var arr = data.split('###');
                        $('#pressReleaseSection').html(arr[0]);
                        sessionStorage.setItem("loadMore", arr[1]);
                        if (sessionStorage.getItem("loadMore") == "True") {
                            $('#loadMorePress').show();
                        }
                        else {
                            $('#loadMorePress').hide();
                        }
                    }
                });
        });
    </script>
    <script>
        function doLoadData(el,type) {
            //alert($(el).text());
            //console.log($(el).text());            
            if (type == 'tag') {
                //var tagRep = true;
                $('.tagList a').removeClass('tagActive');
                //$('#monthList').removeClass("monthActive");
                $(el).addClass("tagActive");
                $.ajax({
                    url: '@(Url.Action("returnHtmlContent", "PressRelease"))',
                    type: "GET",
                    dataType: "HTML",
                    data: { tagKeyWord: $(el).text() },
                    async: false,
                    success: function (data) {
                        //console.log(data);
                        //alert(sessionStorage.getItem("tagRep"));
                        var arr = data.split('###');
                        $('#pressReleaseSection').html(arr[0]);
                        sessionStorage.setItem("loadMore", arr[1]);
                        sessionStorage.setItem("tagRep", false);
                        if (sessionStorage.getItem("loadMore") == "True") {
                            $('#loadMorePress').show();
                        }
                        else {
                            $('#loadMorePress').hide();
                        }

                        
                    }
                });
            }
            else if (type == 'monthName') {
                $('.tagList a').removeClass('tagActive');
                //$('#monthList').removeClass("monthActive");
                //$(el).addClass("monthActive");
                //$(el +' a').addClass("monthActive");
                //$('.monthPart').addClass("monthActive");
                $.ajax({
                    url: '@(Url.Action("returnHtmlContent", "PressRelease"))',
                    type: "GET",
                    dataType: "HTML",
                    data: { monthAndYear: $(el).text() },
                    async: false,
                    success: function (data) {
                        //console.log(data);
                        var arr = data.split('###');
                        $('#pressReleaseSection').html(arr[0]);
                        sessionStorage.setItem("loadMore", arr[1]);
                        if (sessionStorage.getItem("loadMore") == "True") {
                            $('#loadMorePress').show();
                        }
                        else {
                            $('#loadMorePress').hide();
                        }
                    }
            });
            }
            else if (type == "All") {
                $('.tagList a').removeClass('tagActive');
                $.ajax({
                    url: '@(Url.Action("returnHtmlContent", "PressRelease"))',
                    type: "GET",
                    dataType: "HTML",
                    data: { All: true },
                    async: false,
                    success: function (data) {
                        //console.log(data);
                        var arr = data.split('###');
                        $('#pressReleaseSection').html(arr[0]);
                        sessionStorage.setItem("loadMore", arr[1]);
                        if (sessionStorage.getItem("loadMore") == "True") {
                            $('#loadMorePress').show();
                        }
                        else {
                            $('#loadMorePress').hide();
                        }
                    }
                });
            }
        }
    </script>

}