﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";

    var programItem = Model.Content.AncestorOrSelf();
    ViewBag.Title = programItem.Name;
    var linkOnThankyou = "";
    var id = Model.Content;
    if (Model.Content.HasProperty("thankyouPageContent") && Model.Content.HasValue("thankyouPageContent"))
    {
        var link = Model.Content.GetPropertyValue<RelatedLinks>("thankyouPageContent").First();
        if (link != null)
        {
            linkOnThankyou = link.Link;
        }
    }
    else
    {

        linkOnThankyou = "/";
    }
    var thankyouPageLink = "/course/lc-thankyou";

    @*if (Model.Content.HasValue("thankyouPagePicker"))
    {
        var thankyou = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("thankyouPagePicker");
        if (thankyou.Count() != 0)
        {
            thankyouPageLink = thankyou.First().Url;
        }
    }
    else
    {
       // thankyouPageLink = "/course" + Request.Path.Replace("/course", "").Replace("//", "/") + "-lc-thankyou";
       thankyouPageLink = "/course/lc-thankyou";
    }*@
    //var id = Model.Content.Id;
}
@section style{
    <link href="/css/ProgramDetailTemplate.css" rel="stylesheet" />
    <link href="/css/rte.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
}
@if (Model.Content.HasValue("courseSnippets"))
{
    @section CourseScript{
        @Html.Raw(Model.Content.GetPropertyValue("courseSnippets"))
    }
}
<main role="main" class="ProgramDetailPanel">
    <!--Banner-->
    <style>
        .form-center {
            width: 100%;
            display: flex;
            justify-content: center;
        }
section#agriSection p {
    /* margin: 0px 0px 8px 0px; */
    padding: 8px 0px 0px 0px;
}
section#agriSection p, .ProgramDetailPanel p {
    line-height: 1.7;
    font-size: 16px;
    padding-bottom: 20px;
}

        .ProgramDetailPanel .EnquiryPanel .EnqInner .accept_checkbox .checkbxStyle:checked:after {
            content: '\2713';
            background: #fff;
            width: 0px;
            height: 0px;
            border-radius: 30px;
            display: block;
            margin: -2px 0px 0px 0px;
            padding: 0px 0px 0px 3px;
        }

        .ProgramDetailPanel .EnquiryPanel .EnqInner .accept_checkbox .checkbxStyle {
            -webkit-appearance: none;
            border: 1px solid #a6a6a6;
            width: 18px;
            height: 18px;
            background: #f0f0f0;
            outline: none;
            position: relative;
            top: 4px;
            margin: 0 5px 0 0;
            position: relative;
        }

        .thankYouDivHere {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
            .ProgramDetailPanel .DetailList ul li{    display: inline-block; width: 100%;}
    </style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (programItem.HasProperty("titleLine1") && programItem.HasValue("titleLine1"))
                {
                    <h1 class="fontExBold">
                        @(programItem.GetPropertyValue<string>("titleLine1"))
                    </h1>
                }
                <ul class="BannerContextList">
                    @if (programItem.HasProperty("titleLine2") && programItem.HasValue("titleLine2"))
                    {
                        <li>
                            @(programItem.GetPropertyValue<string>("titleLine2"))
                        </li>
                    }
                </ul>
            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasValue("banner") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>
                        ("banner");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>
                        ("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (mobileBannerPath == null)
                    {
                        if (Model.Content.HasValue("bannerClickUrl"))
                        {
                            @Html.Partial("Mobile BannerWithLink", new Tuple<IPublishedContent, IPublishedContent,string>
                           (imgPath, imgPath,Model.Content.GetPropertyValue<string>("bannerClickUrl")))
                        }
                        else
                        {
                            @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>
                           (imgPath, imgPath))
                        }

                    }
                    else if (imgPath != null && mobileBannerPath != null)
                    {
                        if (Model.Content.HasValue("bannerClickUrl"))
                        {
                            @Html.Partial("Mobile BannerWithLink", new Tuple<IPublishedContent, IPublishedContent,string>
                           (imgPath, mobileBannerPath,Model.Content.GetPropertyValue<string>("bannerClickUrl")))
                        }
                        else
                        {
                            @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>
                           (imgPath, mobileBannerPath))
                        }

                    }
                }
                <div class="WatchPanel d-flex">
                    @if (programItem.HasProperty("watchVideoURL") && programItem.HasValue("watchVideoURL"))
                    {
                        <a onclick="doOpenProgramVideo('@(programItem.GetPropertyValue<string>("watchVideoURL"))');" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
                            <span>Watch Video</span>
                            <picture>
                                <img src="/src/img/home/video-icon.png" class="img-fluid" alt="PlayIcon" />
                            </picture>
                        </a>
                        <!--modal-->
                        <div class="general-popup">
                            <!-- Video modal -->
                            <div data-backdrop="false" data-keyboard="false" class="modal fade bs-video-example-modal-lg" id="divProgramDetailsVideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="video-wrapper">
                                        <div class="modal-content">
                                            <div class="modal-header no-yellow-strip">
                                                <div class="close-btn-wrapper">
                                                    <button type="button" class="close" onclick="stopVideoProgramDetails();" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div class="content" id="yt-player">
                                                    <iframe id="ifrmProgramVideo" class="programDetailsVideo" width="100%" height="100%"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (programItem.HasProperty("discontinuedProgram"))
                    {
                        if (Convert.ToBoolean(programItem.GetPropertyValue<Boolean>("discontinuedProgram")) == false)
                        {
                            if (programItem.HasProperty("bannerButton") && programItem.HasValue("bannerButton"))
                            {
                                var link = programItem.GetPropertyValue<RelatedLinks>("bannerButton").FirstOrDefault();
                                if (link != null)
                                {
                                    <a href="@link.Link" target="@(link.NewWindow ? "_blank" : "_self")" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase justify-content-center noPadding">
                                        @link.Caption
                                    </a>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Enquiry Form-->

    <!--Courses-->
    <section class="CampusPanel CampusPanelNewStyle position-relative " id="PanelTwo">
        <div class="CampusBg campusBgNewStyle">
            @*<img src="/src/img/parents/campus-bg.jpg" class="img-fluid" alt="banner" />*@
        </div>
        <div class="plr100">
            <div class="CampusInner">
                @if (programItem.HasProperty("section2Title") && programItem.HasValue("section2Title"))
                {
                    <h2 class="fontBlack text-uppercase GrayTitle">@(programItem.GetPropertyValue<string>("section2Title"))</h2>
                }
                <div class="row DetailInner mlr">
                    <div class="col-sm-5 plr7 DetailList DetailListBlkOne">
                        @{
                            if (programItem.HasProperty("courseKeyPoints") && programItem.HasValue("courseKeyPoints"))
                            {
                                var programDetails = programItem.GetPropertyValue<IEnumerable<IPublishedContent>>("courseKeyPoints");
                                foreach (var pdItem in programDetails)
                                {
                                    var image = AST.S3.Helper.MediaHelper.ParseMedia(pdItem.GetPropertyValue<string>("detailsIcon"), Umbraco);
                                    if (image != null)
                                    {
                                        <div class="detailCourseList d-flex align-items-center">
                                            <p>
                                                <img src="@image.Url" class="durationImg img-fluid" alt="durationIcon" />
                                            </p>
                                            <h4 class="titleh4 fontBold DurationText">
                                                @(pdItem.GetPropertyValue<string>("detailsTitle"))
                                                <span class="d-block fontMedium">@(pdItem.GetPropertyValue<string>("detailsContent"))</span>
                                            </h4>
                                        </div>
                                    }
                                }
                            }
                        }
                         
                        @if (programItem.HasProperty("announcement") && programItem.HasValue("announcement"))
                        {
                            @(programItem.GetPropertyValue<HtmlString>("announcement"))
                        }
                       @* <p class="pl-3 pt-3 pb-3" style="font-size: 18px;"><b><i class="far fa-clock"></i> Last date to apply   : <span class="blinking">31st October, 2020</span></b></p>*@
                    
                    </div>
                    <div class="col-sm-7 plr7 DetailList DetailListBlkTwo">
                        @if (programItem.HasProperty("courseDetails") && programItem.HasValue("courseDetails"))
                        {
                            @(programItem.GetPropertyValue<HtmlString>("courseDetails"))
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
     @if (Model.Content.HasValue("industryTitle") || Model.Content.HasValue("industryText") || Model.Content.HasValue("industryLogo"))
    {
<div class="industryPanel industryPanel2">
    
      <div class="plr100">
    <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies slick-initialized slick-slider">
        @if (programItem.HasProperty("industryLogoTitle") && programItem.HasValue("industryLogoTitle"))
                {
                    <h2 class="fontBlack text-uppercase titleh4 pb-4 mb-3">@(programItem.GetPropertyValue<string>("industryLogoTitle"))</h2>
                }
      
        
                    <div class="slick-list draggable" tabindex="0"><div class="slick-track">
                         @{
    var typedMultiMediaPicker = programItem.GetPropertyValue<IEnumerable<IPublishedContent>>("industryLogo");
    if(typedMultiMediaPicker!=null)
    {
    foreach (var item in typedMultiMediaPicker)
    {
       
        <div class="ind_Logo slick-slide">
                        <img src="@item.Url" class="img-fluid" alt="@item.Name">
                    </div>
    }
    }
}
                   
             </div></div>

</div></div>

<div class="SchoolDetailPanel pt-5 mt-4">
<section class="vmPanel smarkAgri">
 @if (Model.Content.HasValue("visionTitle") && Model.Content.HasValue("missionTitle"))
    {
  <div class="plr100">
                <div class="vm_Inner">
                    <h3 class="fontBlack text-uppercase titleh3">
                        @Html.Raw(Model.Content.GetPropertyValue("visionTitle"))
                    </h3>
                    <p class="parawithquotes">
                        <span>
                            @Html.Raw(Model.Content.GetPropertyValue("visionDescription"))
                        </span>
                    </p>
                </div>
                <div class="vm_Inner">
                    <h3 class="fontBlack text-uppercase titleh3">
                        @Html.Raw(Model.Content.GetPropertyValue("missionTitle"))
                    </h3>
                    <ul class="vmlist">
                        @if (Model.Content.HasValue("missionDescription"))
                        {
                            var tagLines = Model.Content.GetPropertyValue
                            <string[]>
                                ("missionDescription");
                            foreach (var tagLine in tagLines)
                            {
                                <li>
                                    <img src="../src/img/school-details/yellow-quotes.png" class="img-fluid" />
                                    @tagLine
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            }
</section>
</div>
   @if (programItem.HasProperty("industryTitle") && programItem.HasValue("industryTitle"))
   {
    <div class="DisclaimerTExt pt-4"> 
    <div class="plr100">
    <h4 class="fontBlack text-uppercase titleh4 pb-3">@(programItem.GetPropertyValue("industryTitle"))</h4>
        <p>@Html.Raw(Model.Content.GetPropertyValue("industryText"))</p>

    </div>
    </div>
    }
    
</div>
}

@if (Model.Content.HasValue("infopanelContent"))
    {
<section class="infopanel">
        <div class="container">
		<div class="infoblock">
            @Html.Raw(Model.Content.GetPropertyValue("infopanelContent"))

		</div>
		@if (Model.Content.HasValue("infopanelButton1"))
    {
        <div class="appList ApplyNow pt-5 d-inline-block">
                                        <a href="@Html.Raw(Model.Content.GetPropertyValue("infopanelButton1Link"))" target="_blank" class="br30 text-uppercase fontBold btn btn-primary BtnStyle">
                                            @Html.Raw(Model.Content.GetPropertyValue("infopanelButton1"))
                                        </a>
                                        </div>
                                        }
                                        @if (Model.Content.HasValue("infopanelButton2"))
    {
                                        <div class="ApplyNow pt-5 d-inline-block">
                                         <a href="@Html.Raw(Model.Content.GetPropertyValue("infopanelButton2Link"))" target="_blank" class="br30 text-uppercase fontBold btn btn-primary BtnStyle">
                                           @Html.Raw(Model.Content.GetPropertyValue("infopanelButton2"))
                                        </a>
                    </div>
                    }
        
        </div>
    </section>
    }
    <style>
    .blinking{
    animation:blinkingText 1.2s infinite;
}
    
    @@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color:#ef3f3e; }
    99%{    color:#ef3f3e;  }
    100%{   color: #000;    }
}

.infopanel {
    padding: 80px 0 80px;
    background: #f7f7f7;text-align: center; display:block!important;
}
.industryPanel {
    padding: 0px 0 120px;
}
.DisclaimerTExt {
    padding-top: 70px;
}
.DisclaimerTExt p {
    font-size: 14px;
    line-height: 1.7;
}
.ProgramDetailPanel .DetailList ul li:before{ display:none;}
h2.fontBlack.text-uppercase.titleh3:before {
    content: "";
    width: 100px;
    height: 3px;
    background: #003486;
    position: absolute;
    bottom: -10px;
    border-radius: 50px;
}
h2.fontBlack.text-uppercase.titleh3{ position:relative;}
.ProgramDetailPanel .DetailsBanner:before{ display:none;}
section.DetailsBanner.position-relative { background: #fff;padding: 50px 0;}
.ProgramDetailPanel .appList p{color: #014689;text-decoration: underline;}

</style>
  <style>
        .form-center {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .ProgramDetailPanel .EnquiryPanel .EnqInner .accept_checkbox .checkbxStyle:checked:after {
            content: '\2713';
            background: #fff;
            width: 0px;
            height: 0px;
            border-radius: 30px;
            display: block;
            margin: -2px 0px 0px 0px;
            padding: 0px 0px 0px 3px;
        }

        .ProgramDetailPanel .EnquiryPanel .EnqInner .accept_checkbox .checkbxStyle {
            -webkit-appearance: none;
            border: 1px solid #a6a6a6;
            width: 18px;
            height: 18px;
            background: #f0f0f0;
            outline: none;
            position: relative;
            top: 4px;
            margin: 0 5px 0 0;
            position: relative;
        }

        .thankYouDivHere {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
            .ProgramDetailPanel .DetailList ul li{    display: inline-block; width: 100%;}
			.industryPanel .ind_Logo.slick-slide {
    width: 20%;
    padding: 0 5px;
}
    </style>
    
    
    
    
    
    
    

    <!--Details-->
    <section class="DetailsBanner position-relative">
        <div class="plr100">
            <div class="DetailsBlk">
                <div class="AchieveTitleBlock position-relative">
                    @if (programItem.HasProperty("section3Title") && programItem.HasValue("section3Title"))
                    {
                        <h2 class="fontBlack text-uppercase titleh3">
                            @(programItem.GetPropertyValue<string>("section3Title"))
                        </h2>
                    }

                    <div class="link_list text-right noPadding" id="ExpandAll">
                        <a href="javascript:void(0);" id="health-medical-AccordionPanel-toggler" class="fontBold text-uppercase text-decoration">
                            Expand all
                        </a>
                    </div>
                </div>
                <!--Accordion Panel-->
                <div id="health-medical-AccordionPanel" class="AccordionStyle">

                    @{
                        if (programItem.HasProperty("section3Content") && programItem.HasValue("section3Content"))
                        {
                            var programKeyContent = programItem.GetPropertyValue<IEnumerable<IPublishedContent>>("section3Content");
                            int index = 0, c = 0, d = 0, e = 0;
                            foreach (var pdItem in programKeyContent)
                            {
                                @*<div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#PanelBlock@(index)" aria-expanded="false" aria-controls="PanelOne">
                                                    @(pdItem.GetPropertyValue<string>("keyPointsTitle"))
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="PanelBlock@(index)" class="collapse" data-parent="#AccordionPanel" aria-labelledby="heading-3">
                                            <div class="card-body cardContext">
                                                <p class="fontMedium">
                                                    @(pdItem.GetPropertyValue<HtmlString>("keyPointsDescription"))
                                                </p>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-target="#health-medical-panel@(c=c+1)" href="javascript:void(0);"
                                               aria-expanded="false" aria-controls="PanelOne">
                                                @if (pdItem.HasProperty("keyPointsTitle") && pdItem.HasValue("keyPointsTitle"))
                                                {
                                                    @Html.Raw(pdItem.GetPropertyValue("keyPointsTitle"))
                                                }
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="health-medical-panel@(d=d+1)" class="collapse" data-parent="#health-medical-AccordionPanel"
                                         aria-labelledby="heading-3">
                                        <div class="card-body cardContext">
                                            <div class="table-cover fontMedium">
                                                @if (pdItem.HasProperty("keyPointsDescription") && pdItem.HasValue("keyPointsDescription"))
                                                {
                                                    @Html.Raw(umbraco.library.RemoveFirstParagraphTag(pdItem.GetPropertyValue<string>("keyPointsDescription").Replace("health-medical-panel5", " sd").Replace("#health-medical-AccordionPanel", " sd")))
                                                }
                                                @if (programKeyContent.Last() == pdItem)
                                                {
                                                    var text = Html.Raw(umbraco.library.RemoveFirstParagraphTag(pdItem.GetPropertyValue<string>("keyPointsDescription").Replace("health-medical-panel5", " sd")));
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                index++;
                            }
                        }
                    }


                </div>
                <div class="row applyNowForDetail  no-gutters">
                    <div class="col-sm-6 appList ApplyNow ">
                        @if (programItem.HasProperty("discontinuedProgram"))
                        {
                            if (Convert.ToBoolean(programItem.GetPropertyValue<Boolean>("discontinuedProgram")) == false)
                            {
                                if (programItem.HasProperty("bannerButton") && programItem.HasValue("bannerButton"))
                                {
                                    var link = programItem.GetPropertyValue<RelatedLinks>("bannerButton").FirstOrDefault();
                                    if (link != null)
                                    {
                                        <a href="@link.Link" target="@(link.NewWindow ? "_blank" : "_self")" class="br30 fontBold btn btn-primary BtnStyle">
                                            @link.Caption
                                        </a>
                                    }
                                }
                            }
                        }
                    </div>

                    <div class="col-sm-6 appList d-flex align-items-center justify-content-end ">
                        <p class="fontBold text-uppercase">Share</p>
                        <div class="SocialList">
                            @*<a href="javascript:void(0);">
                                    <img src="/src/img/program-details/facebook.png" class="img-fluid" alt="Icons" />
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="/src/img/program-details/twitter.png" class="img-fluid" alt="Icons" />
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="/src/img/program-details/youtube.png" class="img-fluid" alt="Icons" />
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="/src/img/program-details/instagram.png" class="img-fluid" alt="Icons" />
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="/src/img/program-details/linked in.png" class="img-fluid" alt="Icons" />
                                </a>*@
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
        <section class="EnquiryPanel  position-relative " id="PanelTwo">
        <div class="container">
            <div class="EnqInner">

                <div class="plr100" id="thankyou">
                    @Html.Action("CourseIndex", "EnquiryCourse")
                    
                </div>
                <div class="cmn-form otp" style="display:none;" id="otpForm">
                    <form action="#" method="post">
                        <img src="~/src/img/general-template/mba-icon.png" alt="mobile-icon" class="img-responsive center-block">
                        <div id="otpThankyou">
                            <p class="text-center">An OTP has been sent to your phone. <span>Please fill this for verification.!</span></p>
                            <input type="text" class="textbox" id="otpText" autocomplete="off">
                            <div id="otpError">

                            </div>
                            <div class="otp-btns">
                                <input type="button" class="submit" value="Verify OTP" onclick="verifyOtp();">
                                <input type="button" class="submit resend-otp" onclick="resendOtp();" id="resend" value="Resend OTP" disabled />
                                @*<button class="submit resend-otp" onclick="resendOtp();" id="resend" disabled>Resend OTP</button>*@
                                <div style="font-weight: bolder;line-height: initial;margin: 25%;font-size: inherit;">Time left = <span id="timer"></span></div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
@Html.Partial("Floating")

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c5d073682d83214"></script>

@section scripts{
    <!-- <script type="text/javascript" src="/scripts/component.js"></script> -->
    <script>
        function checkCookies() {
            $('.field-validation-error').hide();
        }
        let timerOn = true;
        var link = '@linkOnThankyou';
function timer(remaining) {
    var m = Math.floor(remaining / 60);
    var s = remaining % 60;
    $('#resend').attr('disbled');
    $('#resend').css("background-color", "grey");
    $("#resend").hover(function () {
        $('#resend').css("background-color", "grey");
        $('#resend').css("color", "#fff");
    }, function () {
        $('#resend').css("background-color", "grey");
        $('#resend').css("color", "#fff");
    });
    m = m < 10 ? '0' + m : m;
    s = s < 10 ? '0' + s : s;
    document.getElementById('timer').innerHTML = m + ':' + s;
    remaining -= 1;

    if (remaining >= 0 && timerOn) {
        setTimeout(function () {
            timer(remaining);
        }, 1000);
                return;
            }

            if (!timerOn) {
                // Do validate stuff here
                return;
            }

            // Do timeout stuff here
            $('#resend').removeAttr('disabled');
    $('#resend').css("background-color", "#ffca08s");
    $("#resend").hover(function () {
        $('#resend').css("background-color", "#fff");
        $('#resend').css("color", "#ffca08s");
    }, function () {
        $('#resend').css("background-color", "#ffca08");
        $('#resend').css("color", "#fff");
    });
            //alert('Timeout for otp');
        }

        function verifyOtp() {
            $.ajax({
                url: '@(Url.Action("verifyOTP", "CourseEnquiry"))',
                type: "GET",
                dataType: "HTML",
                data: { otp: $('#otpText').val(),srcId:'@Model.Content'},
                async: false,
                success: function (data) {
                    console.log(data);
                    var result = data.split("###");
                    if (result[1] == "Verified") {
                       window.location.href = '@thankyouPageLink' + '#PanelTwo';
                        //if (link == "nn") {
                            $('#otpThankyou').html("<p>OTP Verified Successfully</p>");
                            //$("#thankyou").html("<div><p>Thank you for contacting UPES, we will get back to you shortly.<br/><br/>You can also reach us on our Toll free number: <a href='tel:1800-102-8737'>1800-102-8737</a></p></div>");
                        //}
                        //else {
                        //    window.location.href = link + '#PanelTwo';
                        //}

                    }
                    else {
                        $('#otpError').html("<span class='field-validation-error'>Incorrect OTP. Please try again.</span>");
                        //alert("Please Enter Correct OTP");
                    }
                }
            });
        }
        function resendOtp() {
            $.ajax({
                url: '@(Url.Action("generateotp", "CourseEnquiry"))',
                type: "GET",
                dataType: "Json",
                data: {},
                async: false,
                success: function (data) {
                    alert("OTP Resend Successfully");
                    timer(60);
                    $('#resend').attr('disbled');
                }
            });
        }
        $(document).ready(function () {
            $('.field-validation-error').hide();
            $.ajax({
                url: '@(Url.Action("bindstate", "RequestCall"))',
                type: "GET",
                dataType: "HTML",
                data: {},
                async: false,
                success: function (data) {
                    console.log(data);
                    if (data != "") {
                        $("#courseEnqStae").html(data);
                    }
                    else {
                        console.log("Error:BindState")
                    }
                }
            });
        });
        $("#courseEnqStae").change(function () {
            var stateid = $("#courseEnqStae").val();
            var serviceURLcity = '@(Url.Action("bindcity", "RequestCall"))';
            $.ajax({
                url: serviceURLcity,
                type: "GET",
                dataType: "HTML",
                data: {
                    stateid: stateid
                },
                async: false,
                success: function (data) {
                    if (data != "") {
                        $("#courseEnqCity").html(data);
                    }
                    else {
                        console.log("Error:bindcity")
                    }
                }
            });

        });
        $('#courseEnqEmail').change(function () {
            if (!/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#courseEnqEmail').val())) {
                $('#courseEmailValid').html("<span class='field-validation-error'>Please enter a valid email address</span>");
            }
            else {
                $('#courseEmailValid').html("");
            }
        });
        $('#courseEnqMobile').change(function () {
            if (!/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test($('#courseEnqMobile').val())) {
                $('#courseEmailValid').html("");
                $('#courseMobileValid').html("<span class='field-validation-error'>Please enter a valid phone number</span>");
            }
            else {
                $('#courseMobileValid').html("");
            }
        });
        $('#courseEnqName').change(function () {
            if ($('#courseEnqName').val().match("/^[a-zA-Z]+$/")) {
                $('#courseNameValid').html("<span class='field-validation-error'>Please enter a Valid Name</span>");
            }
            else {
                $('#courseNameValid').html("");
            }
        });
        $("#courseEnqSubmit").click(function () {
            var $form = $('#courseEnquiryForm');
            event.preventDefault();
            if ($form.data('submitted') === true) {
                // Previously submitted - don't submit again
            } else {
                var name = $('#courseEnqName').val();
                var emailId = $('#courseEnqEmail').val();
                var phoneNumber = $('#courseEnqMobile').val();
                var state = $('#courseEnqStae').val();
                var city = $('#courseEnqCity').val();
                var course = $('#courseEnqCourse').val();
                var checkBox = $('#enqFormCheck').val();
                var gender = $('#courseGender').val();
                //var year = $('#courseEnqyear').val();
                var year = 2021;
                if (name == "" && emailId == "" && phoneNumber == "" && state == "0" && city == "" && gender == "" && year =="" ) {
                    $('#courseNameValid').html("<span class='field-validation-error'>Please enter your full name</span>");
                    $('#courseEmailValid').html("<span class='field-validation-error'>Please enter your email address</span>");
                    $('#courseMobileValid').html("<span class='field-validation-error'>Please enter your phone number</span>");
                    //$('#courseValid').html("<span class='field-validation-error'>Please select a course</span>");
                    $('#stateValid').html("<span class='field-validation-error'>Please select a state</span>");
                    $('#cityValid').html("<span class='field-validation-error'>Please select a city</span>");
                    $('#genderValid').html("<span class='field-validation-error'>Please select a Gender</span>");
                    $('#yearValid').html("<span class='field-validation-error'>Please select a Year</span>");
                }
                else if (name == "") {
                    //$('#')
                    //alert("Please Enter Name");
                    $('#courseNameValid').html("<span class='field-validation-error'>Please enter a name</span>")
                    $('#courseEnqName').focus();
                }
                else if (emailId == "") {
                    //alert("Please Enter Email ID");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("<span class='field-validation-error'>Please enter your email address</span>");
                    $('#courseEnqEmail').focus();
                }
                else if (phoneNumber == "") {
                    //alert("Please Enter Phone Number");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("<span class='field-validation-error'>Please enter your phone number</span>");
                    $('#courseEnqMobile').focus();
                }
                //else if (course == "") {
                //    //alert("Please Select Course");
                //    $('#courseNameValid').html("");
                //    $('#courseEmailValid').html("");
                //    $('#courseMobileValid').html("");
                //    $('#courseValid').html("<span class='field-validation-error'>Please select your course</span>");
                //    $('#courseEnqCourse').focus();

                //}
                else if (state == "0") {
                    //alert("Please Select State");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("");
                    $('#courseValid').html("");
                    $('#stateValid').html("<span class='field-validation-error'>Please select your state</span>");
                    $('#courseEnqStae').focus();
                    $('#genderValid').html("");
                }
                else if (city == "") {
                    //alert("Please Select City");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("");
                    $('#courseValid').html("");
                    $('#stateValid').html("");
                    $('#cityValid').html("<span class='field-validation-error'>Please select your city</span>");
                    $('#courseEnqCity').focus();
                    $('#genderValid').html("<span class='field-validation-error'>Please select a Gender</span>");
                }
                else if (name == "") {
                    //$('#')
                    //alert("Please Enter Name");
                    $('#yearValid').html("<span class='field-validation-error'>Please enter a Year</span>")
                    $('#courseEnqyear').focus();
                }
                else if (gender == "") {

                }

                //alert(checkBox);
                if (name !== "" && emailId !== "" && phoneNumber !== "" && state !== "" && city !== "" &&gender!=="")
                {
                    if (name == "") {
                        //console.log("true");
                        $('#courseEnqName').focus();
                    }
                    //else if ($('#courseEnqName').val().match('^[a-zA-Z]{3,16}$')) {
                    //    //alert("Valid name");
                    //    $('#courseNameValid').html("<span class='field-validation-error'>Please enter valid name</span>");
                    //}
                    else if (!/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(emailId)) {
                        $('#courseNameValid').html("");
                        $('#courseEmailValid').html("<span class='field-validation-error'>Please enter a valid email address</span>");
                        $('#courseEnqEmail').focus();
                    }
                    else if (!/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test(phoneNumber)) {
                        $('#courseMobileValid').html("<span class='field-validation-error'>Please enter valid phone number</span>");
                        $('#courseEnqMobile').focus();
                    }
                    else if ($("#enqFormCheck").is(":not(:checked)")) {
                        alert("Please Accept Terms and Condition");
                        return false;
                    }
                    //if (!this.form.checkbox.checked) {
                    //    alert('You must agree to the terms first.');
                    //    return false;
                    //}
                    //else if (checkBox=="true")
                    //{
                    //    //alert("Please Accept Terms and Condition");
                    //    if ($("input[type='checkbox'][name='enqFormCheck']:checked").length) {
                    //        $(this).valid()
                    //        alert("Inside Checkbox");
                    //    }
                    //    $('#enqFormCheck').focus();
                    //}
                    else {
                    $('#courseEnqSubmit').attr('disabled');
                        $('#courseNameValid').html("");
                        $('#courseEmailValid').html("");
                        $('#courseMobileValid').html("");
                        $('#courseValid').html("");
                        $('#stateValid').html("");
                        $('#cityValid').html("");
                        $('#genderValid').html("");
                        //alert("Correct");
                        $.ajax({
                            url: '@Url.Action("HandleSubmit", "CourseEnquiry")',
                            type: 'POST',
                            cache: false,
                            data: { Name: $('#courseEnqName').val(), emailId: $('#courseEnqEmail').val(), mobile: $('#courseEnqMobile').val(), stateId: $('#courseEnqStae').val(), course: $('#courseEnqCourse').val(), City: $('#courseEnqCity').val(), prospectId: $('#courseEnqCity').val(), gender: $('#courseGender').val(),srcId:'@Model.Content',year:2021 },
                            success: function (result) {
                        if (result === "True") {
                            console.log("completed: " + result);
                        }
                        if (result === "True") {
                            $('#otpForm').css('display', 'block');
                            $('#thankyou').html("");
                            $('#otpForm').focus();
                            timer(60);
                            $('html, body').animate({ scrollTop: $('#otpForm').offset().top - 100 }, 500);
                            console.log(result);
                        }

                    },
                    error: function (qXHR, status, err) {
                        $form.data('submitted', false);
                        console.log(err);
                    },
                });
                    }
        }
            }
        });

    </script>
    <script>
        $('#ExpandAll').click(function () {
            $('#AccordionPanel .collapse').toggleClass('show');
            if ($(".CardHeaderPanel a").attr("aria-expanded") == "true") {
                $(".CardHeaderPanel a").attr("aria-expanded", "false");
                $('#ExpandAll').text('Expand all');
            }
            else {
                $(".CardHeaderPanel a").attr("aria-expanded", "true");
                $('#ExpandAll').text('Collapse all');

            }
        });
    </script>
    <script>
        //$('#ExpandAll').click(function () {
        //    $('#AccordionPanel .collapse').toggleClass('show');
        //    $(".CardHeaderPanel a").atCampusBg campusBgNewStyletr("aria-expanded", "true");


        //});
        $('#health-medical-AccordionPanel-toggler').click(function () {
            $('#health-medical-AccordionPanel .collapse').toggleClass('show');
            if ($(".CardHeaderPanel a").attr("aria-expanded") == "true") {
                $(".CardHeaderPanel a").attr("aria-expanded", "false");
                $('#health-medical-AccordionPanel-toggler').text('Expand all');
            }
            else {
                $(".CardHeaderPanel a").attr("aria-expanded", "true");
                $('#health-medical-AccordionPanel-toggler').text('Collapse all');

            }
        });
    </script>
}
<script src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"></script>
<style>
    .blinking{
    animation:blinkingText 1.2s infinite;
}
@@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color:#ef3f3e; }
    99%{    color:#ef3f3e;  }
    100%{   color: #000;    }
}
</style>