﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";

    var programItem = Model.Content.AncestorOrSelf();
    ViewBag.Title = programItem.Name;
    var linkOnThankyou = "";
    var id = Model.Content;
    if (Model.Content.HasProperty("thankyouPageContent") && Model.Content.HasValue("thankyouPageContent"))
    {
        var link = Model.Content.GetPropertyValue<RelatedLinks>("thankyouPageContent").First();
        if (link != null)
        {
            linkOnThankyou = link.Link;
        }
    }
    else
    {

        linkOnThankyou = "/";
    }
    //var id = Model.Content.Id;
}
@section style{
    <link href="/css/ProgramDetailTemplate.min.css" rel="stylesheet" />
    <link href="/css/rte.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
}
@if (Model.Content.HasValue("courseSnippets"))
{
    @section CourseScript{
        @Html.Raw(Model.Content.GetPropertyValue("courseSnippets"))
    }
}
<main role="main" class="ProgramDetailPanel">
    <!--Banner-->
    <style>
        .ProgramDetailPanel .EnquiryPanel .EnqInner .accept_checkbox .checkbxStyle:checked:after {
            content: '\2713';
            background: #fff;
            width: 0px;
            height: 0px;
            border-radius: 30px;
            display: block;
            margin: -2px 0px 0px 0px;
            padding: 0px 0px 0px 3px;
        }

        .ProgramDetailPanel .EnquiryPanel .EnqInner .accept_checkbox .checkbxStyle {
            -webkit-appearance: none;
            border: 1px solid #a6a6a6;
            width: 18px;
            height: 18px;
            background: #f0f0f0;
            outline: none;
            position: relative;
            top: 4px;
            margin: 0 5px 0 0;
            position: relative;
        }

        .thankYouDivHere {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
    </style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (programItem.HasProperty("titleLine1") && programItem.HasValue("titleLine1"))
                {
                    <h1 class="fontExBold">
                        @(programItem.GetPropertyValue<string>("titleLine1"))
                    </h1>
                }
                <ul class="BannerContextList">
                    @if (programItem.HasProperty("titleLine2") && programItem.HasValue("titleLine2"))
                    {
                        <li>
                            @(programItem.GetPropertyValue<string>("titleLine2"))
                        </li>
                    }
                </ul>
            </div>
            <div class="BannerImg position-relative">
                @if (programItem.HasProperty("banner") && programItem.HasValue("banner"))
                {
                    var image = AST.S3.Helper.MediaHelper.ParseMedia(programItem.GetPropertyValue<string>("banner"), Umbraco);
                    if (image != null)
                    {
                        @Html.Partial("HeroBanner", image)
                    }
                }
                <div class="WatchPanel d-flex">
                    @if (programItem.HasProperty("watchVideoURL") && programItem.HasValue("watchVideoURL"))
                    {
                        <a onclick="doOpenProgramVideo('@(programItem.GetPropertyValue<string>("watchVideoURL"))');" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
                            <span>Watch Video</span>
                            <picture>
                                <img src="/src/img/home/video-icon.png" class="img-fluid" alt="PlayIcon" />
                            </picture>
                        </a>
                        <!--modal-->
                        <div class="general-popup">
                            <!-- Video modal -->
                            <div data-backdrop="false" data-keyboard="false" class="modal fade bs-video-example-modal-lg" id="divProgramDetailsVideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="video-wrapper">
                                        <div class="modal-content">
                                            <div class="modal-header no-yellow-strip">
                                                <div class="close-btn-wrapper">
                                                    <button type="button" class="close" onclick="stopVideoProgramDetails();" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div class="content" id="yt-player">
                                                    <iframe id="ifrmProgramVideo" class="programDetailsVideo" width="100%" height="100%"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (programItem.HasProperty("discontinuedProgram"))
                    {
                        if (Convert.ToBoolean(programItem.GetPropertyValue<Boolean>("discontinuedProgram")) == false)
                        {
                            if (programItem.HasProperty("bannerButton") && programItem.HasValue("bannerButton"))
                            {
                                var link = programItem.GetPropertyValue<RelatedLinks>("bannerButton").FirstOrDefault();
                                if (link != null)
                                {
                                    <a href="@link.Link" target="@(link.NewWindow ? "_blank" : "_self")" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase justify-content-center noPadding">
                                        @link.Caption
                                    </a>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Enquiry Form-->
    <section class="EnquiryPanel  position-relative " id="PanelTwo">
        <div class="container">
            <div class="EnqInner">
                @*<div class="CampusBg">
                    <img src="/src/img/parents/campus-bg.jpg" class="img-fluid" alt="banner" />
                </div>*@
                <div class="plr100" id="thankyou">
                    <div><p>Thank you for contacting UPES, we will get back to you shortly.<br /><br />You can also reach us on our Toll free number: <a href="tel:1800-102-8737">1800-102-8737</a></p></div>
                </div>
                <div class="cmn-form otp" style="display:none;" id="otpForm">
                    <form action="#" method="post">
                        <img src="~/src/img/general-template/mba-icon.png" alt="mobile-icon" class="img-responsive center-block">
                        <div id="otpThankyou">
                            <p>OTP Verified Successfully</p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--Courses-->
    <section class="CampusPanel CampusPanelNewStyle position-relative " id="PanelTwo">
        <div class="CampusBg campusBgNewStyle">
            <img src="/src/img/parents/campus-bg.jpg" class="img-fluid" alt="banner" />
        </div>
        <div class="plr100">
            <div class="CampusInner">
                @if (programItem.HasProperty("section2Title") && programItem.HasValue("section2Title"))
                {
                    <h2 class="fontBlack text-uppercase GrayTitle">@(programItem.GetPropertyValue<string>("section2Title"))</h2>
                }
                <div class="row DetailInner mlr">
                    <div class="col-sm-5 plr7 DetailList DetailListBlkOne">
                        @{
                            if (programItem.HasProperty("courseKeyPoints") && programItem.HasValue("courseKeyPoints"))
                            {
                                var programDetails = programItem.GetPropertyValue<IEnumerable<IPublishedContent>>("courseKeyPoints");
                                foreach (var pdItem in programDetails)
                                {
                                    var image = AST.S3.Helper.MediaHelper.ParseMedia(pdItem.GetPropertyValue<string>("detailsIcon"), Umbraco);
                                    if (image != null)
                                    {
                                        <div class="detailCourseList d-flex align-items-center">
                                            <p>
                                                <img src="@image.Url" class="durationImg img-fluid" alt="durationIcon" />
                                            </p>
                                            <h4 class="titleh4 fontBold DurationText">
                                                @(pdItem.GetPropertyValue<string>("detailsTitle"))
                                                <span class="d-block fontMedium">@(pdItem.GetPropertyValue<string>("detailsContent"))</span>
                                            </h4>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                    <div class="col-sm-7 plr7 DetailList DetailListBlkTwo">
                        @if (programItem.HasProperty("courseDetails") && programItem.HasValue("courseDetails"))
                        {
                            @(programItem.GetPropertyValue<HtmlString>("courseDetails"))
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Details-->
    <section class="DetailsBanner position-relative">
        <div class="plr100">
            <div class="DetailsBlk">
                <div class="AchieveTitleBlock position-relative">
                    @if (programItem.HasProperty("section3Title") && programItem.HasValue("section3Title"))
                    {
                        <h2 class="fontBlack text-uppercase titleh3">
                            @(programItem.GetPropertyValue<string>("section3Title"))
                        </h2>
                    }

                    <div class="link_list text-right noPadding" id="ExpandAll">
                        <a href="javascript:void(0);" id="health-medical-AccordionPanel-toggler" class="fontBold text-uppercase text-decoration">
                            Expand all
                        </a>
                    </div>
                </div>
                <!--Accordion Panel-->
                <div id="health-medical-AccordionPanel" class="AccordionStyle">

                    @{
                        if (programItem.HasProperty("section3Content") && programItem.HasValue("section3Content"))
                        {
                            var programKeyContent = programItem.GetPropertyValue<IEnumerable<IPublishedContent>>("section3Content");
                            int index = 0, c = 0, d = 0, e = 0;
                            foreach (var pdItem in programKeyContent)
                            {
                                @*<div class="card">
                                        <div class="card-header">
                                            <h5 class="CardHeaderPanel">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#PanelBlock@(index)" aria-expanded="false" aria-controls="PanelOne">
                                                    @(pdItem.GetPropertyValue<string>("keyPointsTitle"))
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="PanelBlock@(index)" class="collapse" data-parent="#AccordionPanel" aria-labelledby="heading-3">
                                            <div class="card-body cardContext">
                                                <p class="fontMedium">
                                                    @(pdItem.GetPropertyValue<HtmlString>("keyPointsDescription"))
                                                </p>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-target="#health-medical-panel@(c=c+1)" href="javascript:void(0);"
                                               aria-expanded="false" aria-controls="PanelOne">
                                                @if (pdItem.HasProperty("keyPointsTitle") && pdItem.HasValue("keyPointsTitle"))
                                                {
                                                    @Html.Raw(pdItem.GetPropertyValue("keyPointsTitle"))
                                                }
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="health-medical-panel@(d=d+1)" class="collapse" data-parent="#health-medical-AccordionPanel"
                                         aria-labelledby="heading-3">
                                        <div class="card-body cardContext">
                                            <div class="table-cover fontMedium">
                                                @if (pdItem.HasProperty("keyPointsDescription") && pdItem.HasValue("keyPointsDescription"))
                                                {
                                                    @Html.Raw(umbraco.library.RemoveFirstParagraphTag(pdItem.GetPropertyValue<string>("keyPointsDescription").Replace("health-medical-panel5", " sd").Replace("#health-medical-AccordionPanel", " sd")))
                                                }
                                                @if (programKeyContent.Last() == pdItem)
                                                {
                                                    var text = Html.Raw(umbraco.library.RemoveFirstParagraphTag(pdItem.GetPropertyValue<string>("keyPointsDescription").Replace("health-medical-panel5", " sd")));
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                index++;
                            }
                        }
                    }


                </div>
                <div class="row applyNowForDetail  no-gutters">
                    <div class="col-sm-6 appList ApplyNow ">
                        @if (programItem.HasProperty("discontinuedProgram"))
                        {
                            if (Convert.ToBoolean(programItem.GetPropertyValue<Boolean>("discontinuedProgram")) == false)
                            {
                                if (programItem.HasProperty("bannerButton") && programItem.HasValue("bannerButton"))
                                {
                                    var link = programItem.GetPropertyValue<RelatedLinks>("bannerButton").FirstOrDefault();
                                    if (link != null)
                                    {
                                        <a href="@link.Link" target="@(link.NewWindow ? "_blank" : "_self")" class="br30 fontBold btn btn-primary BtnStyle">
                                            @link.Caption
                                        </a>
                                    }
                                }
                            }
                        }
                    </div>

                    <div class="col-sm-6 appList d-flex align-items-center justify-content-end ">
                        <p class="fontBold text-uppercase">Share</p>
                        <div class="SocialList">
                            @*<a href="javascript:void(0);">
                                    <img src="/src/img/program-details/facebook.png" class="img-fluid" alt="Icons" />
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="/src/img/program-details/twitter.png" class="img-fluid" alt="Icons" />
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="/src/img/program-details/youtube.png" class="img-fluid" alt="Icons" />
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="/src/img/program-details/instagram.png" class="img-fluid" alt="Icons" />
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="/src/img/program-details/linked in.png" class="img-fluid" alt="Icons" />
                                </a>*@
                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@Html.Partial("Floating")

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c5d073682d83214"></script>

@section scripts{
    <!-- <script type="text/javascript" src="/scripts/component.js"></script> -->
    <script>
        function checkCookies() {
            $('.field-validation-error').hide();
        }
        let timerOn = true;
        var link = '@linkOnThankyou';
function timer(remaining) {
    var m = Math.floor(remaining / 60);
    var s = remaining % 60;
    $('#resend').attr('disbled');
    $('#resend').css("background-color", "grey");
    $("#resend").hover(function () {
        $('#resend').css("background-color", "grey");
        $('#resend').css("color", "#fff");
    }, function () {
        $('#resend').css("background-color", "grey");
        $('#resend').css("color", "#fff");
    });
    m = m < 10 ? '0' + m : m;
    s = s < 10 ? '0' + s : s;
    document.getElementById('timer').innerHTML = m + ':' + s;
    remaining -= 1;

    if (remaining >= 0 && timerOn) {
        setTimeout(function () {
            timer(remaining);
        }, 1000);
                return;
            }

            if (!timerOn) {
                // Do validate stuff here
                return;
            }

            // Do timeout stuff here
            $('#resend').removeAttr('disabled');
    $('#resend').css("background-color", "#ffca08s");
    $("#resend").hover(function () {
        $('#resend').css("background-color", "#fff");
        $('#resend').css("color", "#ffca08s");
    }, function () {
        $('#resend').css("background-color", "#ffca08");
        $('#resend').css("color", "#fff");
    });
            //alert('Timeout for otp');
        }

        function verifyOtp() {
            $.ajax({
                url: '@(Url.Action("verifyOTP", "CourseEnquiry"))',
                type: "GET",
                dataType: "HTML",
                data: { otp: $('#otpText').val(),srcId:'@Model.Content'},
                async: false,
                success: function (data) {
                    console.log(data);
                    var result = data.split("###");
                    if (result[1] == "Verified") {
                            $('#otpThankyou').html("<p>OTP Verified Successfully</p>");
                            $("#thankyou").html("<div><p>Thank you for contacting UPES, we will get back to you shortly.<br/><br/>You can also reach us on our Toll free number: <a href='tel:1800-102-8737'>1800-102-8737</a></p></div>");
                    }
                    else {
                        $('#otpError').html("<span class='field-validation-error'>Incorrect OTP. Please try again.</span>");
                    }
                }
            });
        }
        function resendOtp() {
            $.ajax({
                url: '@(Url.Action("generateotp", "CourseEnquiry"))',
                type: "GET",
                dataType: "Json",
                data: {},
                async: false,
                success: function (data) {
                    alert("OTP Resend Successfully");
                    timer(60);
                    $('#resend').attr('disbled');
                }
            });
        }
        $(document).ready(function () {
            $('.field-validation-error').hide();
            $.ajax({
                url: '@(Url.Action("bindstate", "RequestCall"))',
                type: "GET",
                dataType: "HTML",
                data: {},
                async: false,
                success: function (data) {
                    console.log(data);
                    if (data != "") {
                        $("#courseEnqStae").html(data);
                    }
                    else {
                        console.log("Error:BindState")
                    }
                }
            });
        });
        $("#courseEnqStae").change(function () {
            var stateid = $("#courseEnqStae").val();
            var serviceURLcity = '@(Url.Action("bindcity", "RequestCall"))';
            $.ajax({
                url: serviceURLcity,
                type: "GET",
                dataType: "HTML",
                data: {
                    stateid: stateid
                },
                async: false,
                success: function (data) {
                    if (data != "") {
                        $("#courseEnqCity").html(data);
                    }
                    else {
                        console.log("Error:bindcity")
                    }
                }
            });

        });
        $('#courseEnqEmail').change(function () {
            if (!/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#courseEnqEmail').val())) {
                $('#courseEmailValid').html("<span class='field-validation-error'>Please enter a valid email address</span>");
            }
            else {
                $('#courseEmailValid').html("");
            }
        });
        $('#courseEnqMobile').change(function () {
            if (!/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test($('#courseEnqMobile').val())) {
                $('#courseEmailValid').html("");
                $('#courseMobileValid').html("<span class='field-validation-error'>Please enter a valid phone number</span>");
            }
            else {
                $('#courseMobileValid').html("");
            }
        });
        $('#courseEnqName').change(function () {
            if ($('#courseEnqName').val().match("/^[a-zA-Z]+$/")) {
                $('#courseNameValid').html("<span class='field-validation-error'>Please enter a Valid Name</span>");
            }
            else {
                $('#courseNameValid').html("");
            }
        });
        $("#courseEnqSubmit").click(function () {
            var $form = $('#courseEnquiryForm');
            event.preventDefault();
            if ($form.data('submitted') === true) {
            } else {
                var name = $('#courseEnqName').val();
                var emailId = $('#courseEnqEmail').val();
                var phoneNumber = $('#courseEnqMobile').val();
                var state = $('#courseEnqStae').val();
                var city = $('#courseEnqCity').val();
                var course = $('#courseEnqCourse').val();
                var checkBox = $('#enqFormCheck').val();
                if (name == "" && emailId == "" && phoneNumber == "" && state == "0" && city == "")
        {
                    $('#courseNameValid').html("<span class='field-validation-error'>Please enter your full name</span>");
                    $('#courseEmailValid').html("<span class='field-validation-error'>Please enter your email address</span>");
                    $('#courseMobileValid').html("<span class='field-validation-error'>Please enter your phone number</span>");
                    $('#stateValid').html("<span class='field-validation-error'>Please select a state</span>");
                    $('#cityValid').html("<span class='field-validation-error'>Please select a city</span>");
        }
                else if (name == "") {
                    $('#courseNameValid').html("<span class='field-validation-error'>Please enter a name</span>")
                    $('#courseEnqName').focus();
                }
                else if (emailId == "") {
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("<span class='field-validation-error'>Please enter your email address</span>");
                    $('#courseEnqEmail').focus();
                }
                else if (phoneNumber == "") {
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("<span class='field-validation-error'>Please enter your phone number</span>");
                    $('#courseEnqMobile').focus();
                }
                else if (state == "0") {
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("");
                    $('#courseValid').html("");
                    $('#stateValid').html("<span class='field-validation-error'>Please select your state</span>");
                    $('#courseEnqStae').focus();
                }
                else if (city == "") {
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("");
                    $('#courseValid').html("");
                    $('#stateValid').html("");
                    $('#cityValid').html("<span class='field-validation-error'>Please select your city</span>");
                    $('#courseEnqCity').focus();
                }

                if (name !== "" && emailId !== "" && phoneNumber !== "" && state !== "" && city !== "" )
                {
                    if (name == "") {
                        $('#courseEnqName').focus();
                    }
                    else if (!/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(emailId)) {
                        $('#courseNameValid').html("");
                        $('#courseEmailValid').html("<span class='field-validation-error'>Please enter a valid email address</span>");
                        $('#courseEnqEmail').focus();
                    }
                    else if (!/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test(phoneNumber)) {
                        $('#courseMobileValid').html("<span class='field-validation-error'>Please enter valid phone number</span>");
                        $('#courseEnqMobile').focus();
                    }
                    else if ($("#enqFormCheck").is(":not(:checked)")) {
                        alert("Please Accept Terms and Condition");
                        return false;
                    }
                    else {
                    $('#courseEnqSubmit').attr('disabled');
                        $('#courseNameValid').html("");
                        $('#courseEmailValid').html("");
                        $('#courseMobileValid').html("");
                        $('#courseValid').html("");
                        $('#stateValid').html("");
                        $('#cityValid').html("");
                        //alert("Correct");
                        $.ajax({
                            url: '@Url.Action("HandleSubmit", "CourseEnquiry")',
                            type: 'POST',
                            cache: false,
                            data: { Name: $('#courseEnqName').val(), emailId: $('#courseEnqEmail').val(), mobile: $('#courseEnqMobile').val(), stateId: $('#courseEnqStae').val(), course: $('#courseEnqCourse').val(), City: $('#courseEnqCity').val(), prospectId: $('#courseEnqCity').val(), srcId:'@Model.Content' },
                            success: function (result) {
                        if (result === "True") {
                            console.log("completed: " + result);
                        }
                        if (result === "True") {
                            $('#otpForm').css('display', 'block');
                            $('#thankyou').html("");
                            $('#otpForm').focus();
                            timer(60);
                            $('html, body').animate({ scrollTop: $('#otpForm').offset().top - 100 }, 500);
                            console.log(result);
                        }

                    },
                    error: function (qXHR, status, err) {
                        $form.data('submitted', false);
                        console.log(err);
                    },
                });
                    }
        }
            }
        });

    </script>
    <script>
        $('#ExpandAll').click(function () {
            $('#AccordionPanel .collapse').toggleClass('show');
            if ($(".CardHeaderPanel a").attr("aria-expanded") == "true") {
                $(".CardHeaderPanel a").attr("aria-expanded", "false");
                $('#ExpandAll').text('Expand all');
            }
            else {
                $(".CardHeaderPanel a").attr("aria-expanded", "true");
                $('#ExpandAll').text('Collapse all');

            }
        });
    </script>
    <script>
        //$('#ExpandAll').click(function () {
        //    $('#AccordionPanel .collapse').toggleClass('show');
        //    $(".CardHeaderPanel a").attr("aria-expanded", "true");


        //});
        $('#health-medical-AccordionPanel-toggler').click(function () {
            $('#health-medical-AccordionPanel .collapse').toggleClass('show');
            if ($(".CardHeaderPanel a").attr("aria-expanded") == "true") {
                $(".CardHeaderPanel a").attr("aria-expanded", "false");
                $('#health-medical-AccordionPanel-toggler').text('Expand all');
            }
            else {
                $(".CardHeaderPanel a").attr("aria-expanded", "true");
                $('#health-medical-AccordionPanel-toggler').text('Collapse all');

            }
        });
        $(document).ready(function () {
        });
    </script>
}