﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@{
    Layout = "Master.cshtml";
}
@section style
{
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../css/HomeTemplate.css" rel="stylesheet" />
    <link href="../css/Research.css" rel="stylesheet" />
}
@* the fun starts here *@

<main role="main" class="HomePanel UpesStudent">
    <!--Banner-->
    <section class="banner  mb60 BannerSection HomeBannerPanel">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/svg/homebanner-down.svg" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }

            </div>

                    <div class="BannerImg position-relative">
                        @if (Model.Content.HasValue("heroBanner") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("heroBanner");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (mobileBannerPath == null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, imgPath))
                    }
                    else if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }

                    </div>

        </div>
        <div class="clearfix"></div>
    </section>
    <!--Specilisation-->
    <section class="SpecilisationPanel" id="PanelTwo">
        <div class="plr100 fullwidth">

            <!--Industry & UPES-->
            <div class="industryPanel">
                <div class="text-left researchhighhead">
                    @if (Model.Content.HasProperty("hightlightsSectionTitle") && Model.Content.HasValue("hightlightsSectionTitle"))
                    {
                        <div class="d-flex">
                            <h2 class="fontBlack titleh3">@Html.Raw(Model.Content.GetPropertyValue("hightlightsSectionTitle"))</h2>
                        </div>
                    }


                </div>
                <div class="row industry_blockList">
                    @if (Model.Content.HasProperty("counts") && Model.Content.HasValue("counts"))
                    {
                        var counts = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("counts");
                        foreach (var count in counts)
                        {
                            <div class="col-sm-3 Ind_inn">
                                <p class="d-flex align-items-center">
                                    @if (count.HasValue("count"))
                                    {
                                        <span class="fontBlack Numb_list">@Html.Raw(count.GetPropertyValue("count"))</span>
                                    }
                                    @if (count.HasValue("text"))
                                    {
                                        <span class="fontMedium Num_Title">@Html.Raw(count.GetPropertyValue("text"))</span>
                                    }

                                </p>
                            </div>
                        }
                    }

                    @*<div class="col-sm-3 Ind_inn">
                            <p class="d-flex align-items-center">
                                <span class="fontBlack Numb_list">
                                    45+
                                </span>
                                <span class="fontMedium Num_Title">Funded Research Projects</span>
                            </p>
                        </div>
                        <div class="col-sm-3 Ind_inn">
                            <p class="d-flex align-items-center">
                                <span class="fontBlack Numb_list">40+</span>
                                <span class="fontMedium Num_Title">Total number of Patents</span>
                            </p>
                        </div>
                        <div class="col-sm-3 Ind_inn">
                            <p class="d-flex align-items-center">
                                <span class="fontBlack Numb_list">80+</span>
                                <span class="fontMedium Num_Title">Research Collaboration</span>
                            </p>
                        </div>*@
                </div>
            </div>
        </div>
    </section>

    <!--Awards Panel-->
    <section class="AwardsPanel">
        <div class="plr100">
            <div class="AwardSectionIner">
                @if (Model.Content.HasProperty("rdsectionTitle") && Model.Content.HasValue("rdsectionTitle"))
                {
                    <h2 class="fontBlack text-uppercase DarkGrayTitle">@Html.Raw(Model.Content.GetPropertyValue("rdsectionTitle"))</h2>
                }

                <div class="ForAwardCarouselStyle CarouselforSlick  storiesPannInn mlr">
                    @if (Model.Content.HasProperty("rDs") && Model.Content.HasValue("rDs"))
                    {
                        var rnds = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("rDs");
                        foreach (var rnd in rnds)
                        {
                            <div class="storiesPanStyle storiesPanOne plr7">
                                <div class="storiesPanStyle storiesPanOne plr7">
                                    @if (rnd.HasValue("awardImage"))
                                    {
                                        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(rnd.GetPropertyValue<string>("awardImage"), Umbraco);
                                        if (imgPath != null)
                                        {
                                            <img src="@imgPath.Url" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                        }
                                    }
                                    <div class="AwardContext">
                                        @if (rnd.HasValue("awardContent"))
                                        {
                                            <p class="fontMedium">
                                                @Html.Raw(rnd.GetPropertyValue("awardContent"))
                                            </p>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    }

                    @*<div class="storiesPanStyle storiesPanOne plr7">
                            <div class="storiesPanStyle storiesPanOne plr7">
                                <img src="../src/img/research/nano.jpg" alt="img-fluid" class="img-fluid" />
                                <div class="AwardContext">
                                    <p class="fontMedium">
                                        Nano Science & Nano Technology Research Center
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="storiesPanStyle storiesPanOne plr7">
                            <div class="storiesPanStyle storiesPanOne plr7">
                                <img src="../src/img/research/robotics.jpg" alt="img-fluid" class="img-fluid" />
                                <div class="AwardContext">
                                    <p class="fontMedium">
                                        Robotics Research
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="storiesPanStyle storiesPanOne plr7">
                            <div class="storiesPanStyle storiesPanOne plr7">
                                <img src="../src/img/research/water.jpg" alt="img-fluid" class="img-fluid" />
                                <div class="AwardContext">
                                    <p class="fontMedium">
                                        Water Research Center
                                    </p>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </section>
    <!--Student Achievements-->
    <section class="St_Event_Impact">
        <!--Events Impact-->
        <div class="EventBg WhiteBg">
            <div class="plr100">
                <div class="Events_Impact_Panel row no-gutters ">
                    <div class="col-sm-6 Ev_Im_List">
                        <div class="Event_Inner position-relative">
                            @if (Model.Content.HasProperty("projectSectionTitle") && Model.Content.HasValue("projectSectionTitle"))
                            {
                                <h2 class="fontBlack  text-uppercase titleh3 RotateTitlePosition">@Html.Raw(Model.Content.GetPropertyValue("projectSectionTitle"))</h2>
                            }
                            <div class="HomeEventCarousel StyleForSlickArrowsBottom OneBlockCarousel StyleForSlickArrows">
                                @if (Model.Content.HasProperty("content") && Model.Content.HasValue("content"))
                                {
                                    var projects = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("content");
                                    foreach (var project in projects)
                                    {
                                        <div class="HomeEventPanelStyle EventPanelOne  ">
                                            <div class="HomeEventImg">
                                                @if (project.HasValue("awardImage"))
                                                {
                                                    var imgpath = AST.S3.Helper.MediaHelper.ParseMedia(project.GetPropertyValue<string>("awardImage"), Umbraco);
                                                    if (imgpath != null)
                                                    {
                                                        <img src="@imgpath.GetCropUrl("Events")" alt="@(imgpath.HasValue("altTag")?imgpath.GetPropertyValue("altTag"):"")" class="img-fluid" />
                                                    }
                                                }

                                            </div>
                                            <div class="eventContext eventContextForHome">
                                                <div class="EventContStyle  EventContStyleForHomeBlk">
                                                    @if (project.HasValue("awardContent"))
                                                    {
                                                        <h4 class="fontBold titleh4">@Html.Raw(project.GetPropertyValue("awardContent"))</h4>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                                @*<div class="HomeEventPanelStyle EventPanelTwo ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/research/project-img.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Non Govt Funded Projects - 4 completed 3 ongoing</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/research/project-img.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Publications</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/research/project-img.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Government Funded Projects</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/research/project-img.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Patent UPES - 43 patents awarded</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/research/project-img.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">MOU's with 86 Organizations</h4>

                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                            @if (Model.Content.HasProperty("learnMoreLink") && Model.Content.HasValue("learnMoreLink"))
                            {
                                var link = Model.Content.GetPropertyValue<RelatedLinks>("learnMoreLink").FirstOrDefault();
                                if (link != null)
                                {
                                    <div class="link_list text-left PadSpacing ">
                                        <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                                            @link.Caption
                                        </a>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="col-sm-6 Ev_Im_List">
                        <div class="Event_Inner position-relative">
                            @if (Model.Content.HasProperty("newsSectionTitle") && Model.Content.HasValue("newsSectionTitle"))
                            {
                                <h2 class="fontBlack  text-uppercase titleh3 RotateTitlePosition">@Html.Raw(Model.Content.GetPropertyValue("newsSectionTitle"))</h2>
                            }

                            <div class="HomeEventCarousel  OneBlockCarousel StyleForSlickArrows  StyleForSlickArrowsBottom">
                                @if (Model.Content.HasProperty("news") && Model.Content.HasValue("news"))
                                {
                                    var eventss = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("news");
                                    foreach (var events in eventss)
                                    {
                                        <div class="HomeEventPanelStyle EventPanelOne">
                                            <div class="HomeEventImg">
                                                @if (events.HasValue("showcaseImage"))
                                                {
                                                    var imgaPath = AST.S3.Helper.MediaHelper.ParseMedia(events.GetPropertyValue<string>("showcaseImage"), Umbraco);
                                                    if (imgaPath != null)
                                                    {
                                                        <img src="@imgaPath.GetCropUrl("Events")" alt="img-fluid" class="img-fluid" />
                                                    }
                                                }

                                            </div>
                                            <div class="eventContext eventContextForHome">
                                                @if (events.HasValue("showcaseTitle"))
                                                {
                                                    <div class="EventContStyle EventContStyleForHomeBlk">
                                                        <h4 class="fontBold titleh4">@Html.Raw(events.GetPropertyValue("showcaseTitle"))</h4>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    }
                                }

                                @*<div class="HomeEventPanelStyle EventPanelTwo ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/research/upcoming-events.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Newsletter</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/research/upcoming-events.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Event / Seminar / Conference / Talk</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/research/upcoming-events.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Awards</h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/research/upcoming-events.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Press Release</h4>

                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                            @if (Model.Content.HasProperty("newsLearnMoreLink") && Model.Content.HasValue("newsLearnMoreLink"))
                            {
                                var link = Model.Content.GetPropertyValue<RelatedLinks>("newsLearnMoreLink").FirstOrDefault();
                                if (link != null)
                                {
                                    <div class="link_list text-left PadSpacing">
                                        <a href="@link.Link" target="@(link.NewWindow?"_blank":"")" class="fontBold text-uppercase text-decoration">
                                            @link.Caption
                                        </a>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Awards Panel-->
    <section class="AwardsPanel d-none">
        <div class="plr100">
            <div class="AwardSectionIner">
                @if (Model.Content.HasProperty("") && Model.Content.HasValue(""))
                {
                    <h2 class="fontBlack text-uppercase DarkGrayTitle">@Html.Raw(Model.Content.GetPropertyValue(""))</h2>
                }

                <div class="ForAwardCarouselStyle  storiesPannInn mlr">
                    <div class='row mt-5 pt-5'>
                        <div class="col-md-4">
                            <div class="storiesPanStyle storiesPanOne plr7">

                                <div class="AwardContext">
                                    <p class="fontMedium">
                                        Full Time Programs
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="storiesPanStyle storiesPanOne plr7">

                                <div class="AwardContext">
                                    <p class="fontMedium">
                                        Part Time Programs
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="storiesPanStyle storiesPanOne plr7">

                                <div class="AwardContext">
                                    <p class="fontMedium">
                                        Research Fellows
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>




                </div>
            </div>
        </div>
    </section>
    <!--Helpline Chat-->
    @*<section class="helplineChatPanel">
            <div class="plr20">
                <div class="helplineChatInner">
                    <a href="javascript:void(0);">
                        <img src="../src/img/home/helpline.png" class="img-fluid" alt="helpline" />
                        <span>Helpline</span>
                    </a>
                    <a href="javascript:void(0);">
                        <img src="../src/img/home/chat.png" class="img-fluid" alt="helpline" />
                        <span>Chat</span>
                    </a>
                </div>
            </div>
        </section>*@
    <div class="clearfix"></div>
    <div class="mt-5">

        <div class="plr100">
            <div class="login-wrapper">
                <div class="accord-wrapper">
                    <!-- Accordion Titl -->
                    <div id="facilitySection" class="accordion-title">
                        @if (Model.Content.HasProperty("facilitySectionTitle") && Model.Content.HasValue("facilitySectionTitle"))
                        {
                            <h2 class="fontBlack titleh3">@Html.Raw(Model.Content.GetPropertyValue("facilitySectionTitle"))</h2>
                        }

                    </div>
                    <!--Accordion Panel-->
                    <div id="AccordionPanel-login" class="AccordionStyle colorLightWhite nonAcc">
                        @if (Model.Content.HasProperty("facilities") && Model.Content.HasValue("facilities"))
                        {
                            var facilities = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("facilities");
                            foreach (var facility in facilities)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            @if (facility.HasValue("facilityTitle"))
                                            {
                                                if (facility.HasValue("facilityLink"))
                                                {
                                                    <a class="collapsed" href="@Html.Raw(facility.GetPropertyValue("facilityLink"))" target="_blank">
                                                        @Html.Raw(facility.GetPropertyValue("facilityTitle"))
                                                    </a>
                                                }
                                            }

                                        </h5>
                                    </div>
                                </div>
                            }
                        }

                        @*<div class="card">
                                <div class="card-header">
                                    <h5 class="CardHeaderPanel">
                                        <a class="collapsed" href="https://research.upes.ac.in/rock_museum" target="_blank">
                                            Rock Museum
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="CardHeaderPanel">
                                        <a class="collapsed" href="https://library.ddn.upes.ac.in:8443/upeslib/default.html" target="_blank">
                                            Research Database
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="CardHeaderPanel">
                                        <a class="collapsed" href="https://research.upes.ac.in/media_laboratory" target="_blank">
                                            Media Laboratory
                                        </a>
                                    </h5>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-5">
        <div class="plr100">
            <div class="contact-wrapper">
                @if (Model.Content.HasProperty("bigTitle") && Model.Content.HasValue("bigTitle"))
                {
                    <h2> @Html.Raw(Model.Content.GetPropertyValue("bigTitle")) </h2>
                }

                <div class="header">
                    @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
                    {
                        <p class="department">@Html.Raw(Model.Content.GetPropertyValue("sectionTitle"))</p>
                    }
                    @if (Model.Content.HasProperty("sectionDescription") && Model.Content.HasValue("sectionDescription"))
                    {
                        @Html.Raw(Model.Content.GetPropertyValue("sectionDescription"))
                    }
                </div>
                <div class="details">
                    @if (Model.Content.HasProperty("personsDetails") && Model.Content.HasValue("personsDetails"))
                    {
                        var details = Model.Content.GetPropertyValue<string[]>("personsDetails");
                        foreach (var detail in details)
                        {
                            <p>@Html.Raw(detail)</p>
                        }
                    }
                    @*<p>
                            Phone: +91-135-2776061 / Ext: 1225/1221
                        </p>
                        <p>
                            Mobile: +91-7579216817/+91-9629773491
                        </p>*@
                    @if (Model.Content.HasProperty("emailAddress") && Model.Content.HasValue("emailAddress"))
                    {
                        <p>
                            E mail ID – <a href="mailto:@Html.Raw(Model.Content.GetPropertyValue("emailAddress"))">@Html.Raw(Model.Content.GetPropertyValue("emailAddress"))</a>
                        </p>
                    }

                </div>
            </div>
        </div>
    </div>
</main>
@Html.Partial("Floating")

<div class="clearfix"></div>