﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
@section style
{
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../css/HomeTemplate.css" rel="stylesheet" />
    <link href="../css/research.css" rel="stylesheet" />
}
@* the fun starts here *@

    <main role="main" class="HomePanel UpesStudent">
        <!--Banner-->
        <section class="banner  mb60 BannerSection HomeBannerPanel">
            <div class="DownArrow">
                <a href="#PanelTwo" class="ClickArrow">
                    <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
                </a>
            </div>
            <div class="plr20 fullwidth">
                <div class="BannerStripContext">
                    <p class="fontExBold">
                        Specialised courses for tomorrow and beyond
                    </p>
                </div>
                <div class="BannerImg position-relative">
                    <picture>
                        <img src="../src/img/home/home-page-banner.jpg" class="img-fluid" alt="Banner" />
                    </picture>
                    <div class="WatchPanel d-flex">
                        <a href="javascript:void(0);" class="br30  btn btn-primary HomeBtnStyle fontBold text-uppercase">
                            <span>Watch Video</span>
                            <picture>
                                <img src="../src/img/home/video-icon.png" class="img-fluid" alt="PlayIcon" />
                            </picture>
                        </a>
                        <a href="javascript:void(0);" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
                            <span>Take a 3d tour of the campus</span>
                            <picture>
                                <img src="../src/img/home/3d-icon.png" class="img-fluid" alt="PlayIcon" />
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <!--Specilisation-->
        <section class="SpecilisationPanel" id="PanelTwo">
            <div class="plr100 fullwidth">
               
                <!--Industry & UPES-->
                <div class="industryPanel">
                    <div class="IndContext">
                        <div class="industryStrip d-flex align-items-end justify-content-end">
                            <h2 class="fontBlack text-uppercase">Research Highlights</h2>
                        </div>
                       
                    </div>
                    <div class="row industry_blockList">
                        <div class="col-sm-3 Ind_inn">
                            <p class="d-flex align-items-center">
                                <span class="fontBlack Numb_list">1300+</span>
                                <span class="fontMedium Num_Title">Journal Research Articles</span>
                            </p>
                        </div>
                        <div class="col-sm-3 Ind_inn">
                            <p class="d-flex align-items-center">
                                <span class="fontBlack Numb_list">
                                    45
                                </span>
                                <span class="fontMedium Num_Title">Funded Research Projects</span>
                            </p>
                        </div>
                        <div class="col-sm-3 Ind_inn">
                            <p class="d-flex align-items-center">
                                <span class="fontBlack Numb_list">40</span>
                                <span class="fontMedium Num_Title">Patents</span>
                            </p>
                        </div>
                        <div class="col-sm-3 Ind_inn">
                            <p class="d-flex align-items-center">
                                <span class="fontBlack Numb_list">80</span>
                                <span class="fontMedium Num_Title">Research Collaboration</span>
                            </p>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
       
        <!--Awards Panel-->
        <section class="AwardsPanel">
            <div class="plr100">
                <div class="AwardSectionIner">
                    <h2 class="fontBlack text-uppercase DarkGrayTitle">Awards</h2>
                    <div class="ForAwardCarouselStyle  storiesPannInn mlr">
                        <div class='row'>
                            <div class="col-md-3">
                                    <div class="storiesPanStyle storiesPanOne plr7">
                                            <img src="../src/img/home/awards-1.jpg" alt="img-fluid" class="img-fluid" />
                                            <div class="AwardContext">
                                                <p class="fontMedium">
                                                    Alternate Energy Research Center
                                                </p>
                                            </div>
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="storiesPanStyle storiesPanOne plr7">
                                            <img src="../src/img/home/awards-2.jpg" alt="img-fluid" class="img-fluid" />
                                            <div class="AwardContext">
                                                <p class="fontMedium">
                                                    Nano Science & Nano Technology Research Center
                                                </p>
                                            </div>
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="storiesPanStyle storiesPanOne plr7">
                                            <img src="../src/img/home/awards-3.jpg" alt="img-fluid" class="img-fluid" />
                                            <div class="AwardContext">
                                                <p class="fontMedium">
                                                    Robotics Research
                                                </p>
                                            </div>
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="storiesPanStyle storiesPanOne plr7">
                                            <img src="../src/img/home/awards-3.jpg" alt="img-fluid" class="img-fluid" />
                                            <div class="AwardContext">
                                                <p class="fontMedium">
                                                    Water Research Center
                                                </p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        
                       
                       
                        
                    </div>
                </div>
            </div>
        </section>
        <!--Student Achievements-->
        <section class="St_Event_Impact">
            
            <!--Events Impact-->
            <div class="EventBg WhiteBg">
                <div class="plr100">
                    <div class="Events_Impact_Panel row no-gutters ">
                        <div class="col-sm-6 Ev_Im_List">
                            <div class="Event_Inner position-relative">
                                <h3 class="fontBlack  text-uppercase titleh3 RotateTitlePosition">Research Projects</h3>
                                <div class="HomeEventCarousel StyleForSlickArrowsBottom OneBlockCarousel StyleForSlickArrows">
                                    <div class="HomeEventPanelStyle EventPanelOne  ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/home/events-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle  EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">SEED Project</h4>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelTwo ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/home/events-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Non Govt Funded Projects</h4>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/home/events-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Publications</h4>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                            <div class="HomeEventImg">
                                                <img src="../src/img/home/events-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                            </div>
                                            <div class="eventContext eventContextForHome">
                                                <div class="EventContStyle EventContStyleForHomeBlk">
                                                    <h4 class="fontBold titleh4">Government Funded Projects</h4>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="HomeEventPanelStyle EventPanelThree ">
                                                <div class="HomeEventImg">
                                                    <img src="../src/img/home/events-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                                </div>
                                                <div class="eventContext eventContextForHome">
                                                    <div class="EventContStyle EventContStyleForHomeBlk">
                                                        <h4 class="fontBold titleh4">Patent UPES</h4>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="HomeEventPanelStyle EventPanelThree ">
                                                    <div class="HomeEventImg">
                                                        <img src="../src/img/home/events-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                                    </div>
                                                    <div class="eventContext eventContextForHome">
                                                        <div class="EventContStyle EventContStyleForHomeBlk">
                                                            <h4 class="fontBold titleh4">MOU</h4>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                </div>
                                <div class="link_list text-left PadSpacing ">
                                    <a href="javascript:void(0);" class="fontBold text-uppercase text-decoration">
                                        <span>More</span> Events
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 Ev_Im_List">
                            <div class="Event_Inner position-relative">
                                <h3 class="fontBlack  text-uppercase titleh3 RotateTitlePosition">News & Events</h3>
                                <div class="HomeEventCarousel  OneBlockCarousel StyleForSlickArrows  StyleForSlickArrowsBottom">
                                    <div class="HomeEventPanelStyle EventPanelOne  ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/home/social-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">R&D Newsletter</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelTwo ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/home/social-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Newsletter</h4>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                        <div class="HomeEventImg">
                                            <img src="../src/img/home/social-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                        </div>
                                        <div class="eventContext eventContextForHome">
                                            <div class="EventContStyle EventContStyleForHomeBlk">
                                                <h4 class="fontBold titleh4">Event / Seminar / Conference / Talk</h4>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="HomeEventPanelStyle EventPanelThree ">
                                            <div class="HomeEventImg">
                                                <img src="../src/img/home/social-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                            </div>
                                            <div class="eventContext eventContextForHome">
                                                <div class="EventContStyle EventContStyleForHomeBlk">
                                                    <h4 class="fontBold titleh4">Awards</h4>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="HomeEventPanelStyle EventPanelThree ">
                                                <div class="HomeEventImg">
                                                    <img src="../src/img/home/social-showcase.jpg" alt="img-fluid" class="img-fluid" />
                                                </div>
                                                <div class="eventContext eventContextForHome">
                                                    <div class="EventContStyle EventContStyleForHomeBlk">
                                                        <h4 class="fontBold titleh4">Press Release</h4>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                                <div class="link_list text-left PadSpacing">
                                    <a href="javascript:void(0);" class="fontBold text-uppercase text-decoration">
                                        More about social impact
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Awards Panel-->
        <section class="AwardsPanel">
                <div class="plr100">
                    <div class="AwardSectionIner">
                        <h2 class="fontBlack text-uppercase DarkGrayTitle">Doctoral Program</h2>
                        <div class="ForAwardCarouselStyle  storiesPannInn mlr">
                            <div class='row mt-5 pt-5'>
                                <div class="col-md-4">
                                        <div class="storiesPanStyle storiesPanOne plr7">
                                               
                                                <div class="AwardContext">
                                                    <p class="fontMedium">
                                                        Full Time Programs
                                                    </p>
                                                </div>
                                            </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="storiesPanStyle storiesPanOne plr7">
                                               
                                                <div class="AwardContext">
                                                    <p class="fontMedium">
                                                        Part Time Programs
                                                    </p>
                                                </div>
                                            </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="storiesPanStyle storiesPanOne plr7">
                                                
                                                <div class="AwardContext">
                                                    <p class="fontMedium">
                                                        Research Fellows
                                                    </p>
                                                </div>
                                            </div>
                                </div>
                                
                            </div>
                            
                           
                           
                            
                        </div>
                    </div>
                </div>
            </section>
        <!--Helpline Chat-->
        <section class="helplineChatPanel">
            <div class="plr20">
                <div class="helplineChatInner">
                    <a href="javascript:void(0);">
                        <img src="../src/img/home/helpline.png" class="img-fluid" alt="helpline" />
                        <span>Helpline</span>
                    </a>
                    <a href="javascript:void(0);">
                        <img src="../src/img/home/chat.png" class="img-fluid" alt="helpline" />
                        <span>Chat</span>
                    </a>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <div class="mt-5">            

                <div class="plr100">
                    <div class="login-wrapper">
                        <div class="accord-wrapper">
                            <!-- Accordion Titl -->
                            <div class="accordion-title">
                                <h3 class="fontBlack titleh3">Facilities</h3>
                            </div>
                            <!--Accordion Panel-->
                            <div id="AccordionPanel-login" class="AccordionStyle colorLightWhite nonAcc">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            <a class="collapsed" href="javascript:void(0);">
                                                    Central instrumentation center
                                            </a>
                                        </h5>
                                    </div>            
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            <a class="collapsed"  href="javascript:void(0);">
                                                    Rock Museum
                                            </a>
                                        </h5>
                                    </div>       
                                </div>                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-5">
            <div class="plr100">
            <div class="contact-wrapper">
                    <h3>CONTACT</h3>
                    <div class="header">
                        <p>
                            Nodal Officer for Students Facilitation Services - OGRS ( Online grievance handling system)
                        </p>
                    </div>
                    <div class="details">
                        <p>
                            Ms Anshu Paliwal – Associate Proctor - 9927513503
                        </p>
                        <p>
                            Dr.Vickram Sahai – Associate Director – 9897106252
                        </p>
                        <p>
                            E mail ID – <a href="#" class="color-blue">dsafeedback@gmail.com</a>
                        </p>
                    </div>
                </div>
                </div>
            </div>
    </main>
    <div class="clearfix"></div>