﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models
@{
Layout = "Master.cshtml";
var schoolItem = Model.Content.AncestorOrSelf();
}
 

@section style
{
<link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />
<link href="/css/industry.min.css" rel="stylesheet" type="text/css" />
<link href="/css/applicants.css" rel="stylesheet" type="text/css" />
<link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" type="text/css" />
}
<style>



.bullet_sec {
       max-width: 330px;
    background: rgb(249 242 242 / 0.9);
    padding: 40px 60px 55px 0;
    margin-left: 40px;
    margin-top: 20px;
    z-index: 9;
    position: absolute;
    float: left;
    top: 40px;
}
.plr100.padd_btm h5 {
    font-size: 2vw;
}

p {
	
 font-weight: 500;
    font-size: 1vw;
    line-height: 28px;
}
h2 {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 800;
    font-family: inherit;
    margin: inherit;
    line-height: initial;
    padding-bottom: 30px;
}


h3 {
    font-size: 1.4vw;
    font-weight: 400;
    font-family: inherit;
    margin: inherit;
    line-height: initial;
    padding-bottom: 30px;
}


h4 {
    font-size: 1.2vw;
    color: #848484; line-height:1.5; font-weight:400; }

.bullet_list li {
       padding: 20px 0 0 35px;
    position: relative;
    color: #000000;
    list-style: none;
    font-size: 1vw;
    line-height: 28px;
}

.bullet_list li:before {
    content: '';
    background: #bc8020;
    position: absolute;
    top: 28px;
    left: 10px;
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 26px;
}
.bullet_list ul {
    padding-left: 0;
}
.bullet_list.mt-0.wow.fadeInDown ul li {
    font-weight: 400;
}

</style>

<main role="main" class="SchoolDetailPanel">
   <!--Banner-->
   <style>
      .bold {
      font-weight: bolder;
      color: #00448B;
      }
      .fontGrey {
      color: #e6e6e6;
      }
      .titleh3p {
      font-size: 4.8vw;
      font-weight: 900;
      }
      
      .row.contact_details_sec p a {
    color: #543b3b;
}
.richtext-editor h4 {font-weight:500;}
.richtext-editor p, .richtext-editor ul li {
    font-weight: 400;
    font-size: 1vw;
    line-height: 28px;
    padding-bottom: 10px;
}

.padd_box.black_ul.safety_box {
    padding: 0;
}
.padd_box.black_ul.safety_box li {
    font-size: 14px;
    font-weight: 500;
}

.padd_box.black_ul.safety_box ul {
    padding-bottom: 0;
    margin-bottom: 0;
}

.row.contact_details_sec p {
    font-size: 16px;
    line-height: 1.8;
}

.col-md-7.skill-colm h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 20px;
    text-align: right;
}
      
      .newcoursesAccordpanel {
      }
      .SchoolDetailPanel .newcoursesAccordpanel .card-header a {
      font-size: 1.3vw;
      padding-bottom: 5px;
      }
      .SchoolDetailPanel .StoryTitleStrip h2 {
    font-size: 5.2vw;
    font-weight: 400!important;
}
      
      .SchoolDetailPanel .newcoursesAccordpanel {
      padding: 0px 0 40px 0;
      }
      .GenerTemplate .intro-text-85 p {
    font-size: 1vw;
    line-height: 24px;
    padding: 0 0 1vw 0;
}


.SchoolDetailPanel .StoryTitleStrip p {
    font-size: 24px;
    top: 10px;
}




      
      
      .SchoolDetailPanel .newcoursesAccordpanel .GraduateList li {
      border-bottom: none;
      }
      .SchoolDetailPanel .newcoursesAccordpanel .card-body .coursedtls {
      font-weight: 800;
      margin-bottom: 12px;
      margin-top: 12px;
      }
      .SchoolDetailPanel .EventCarousel .CarouselforSlick .slick-prev {
    top: 103%;
}
      .SchoolDetailPanel .EventCarousel .CarouselforSlick .slick-next {
    top: 103%;
}
      .learning_ul {
    display: none;
}
      
.yellow_box p {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1.5;
    font-weight: 500;
    padding: 20px 0 0;
}

h2 {
    font-size: 24px;
}

.yellow_box h4 {
    font-size: 17px;
    font-weight: 800;
    padding-bottom: 10px;
}

.row.no-gutters.blue-bg11 {
    background: #154985;
}
.padd_box {
    padding: 50px;
}
.row.no-gutters.blue-bg11 h2 {
       color: #ffffff;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 900;
}
.row.no-gutters.blue-bg11 p {
    color: #ffffff;
}
a.btn.btn-primary.bg_white {
    padding: 10px 30px;
    float: left;
    margin-top: 10px;
    background: #FFF;
    color: #000000; border: 0;
}
a.btn.btn-primary.bg_white:hover {
    background: #ffda22;
    color: #000000;
}
a.btn.btn-primary.bg_blue {
    padding: 10px 30px;
    float: left;
    margin-top: 10px;
    background: #154985;border: 0;
}
}
h2 {
    font-size: 2vw;
    text-transform: uppercase;
    
    font-family: inherit;
    margin: inherit;
    line-height: initial;
    padding-bottom: 30px;  text-transform: uppercase;
    font-weight: 900;
}
.row.no-gutters.yellow-bg11 {
    background: #f2f2f2;
}

.row.no-gutters.yellow-bg11 h2 {
   text-transform: uppercase;
    font-weight: 900;
}


.learning_ul ul li {
    list-style: none;
    position: relative;
    width: 20%;
    float: left;
    border: solid 1px white;
}

 .learning_ul ul {margin:0; padding:0;}
.learning_ul ul li {
    list-style: none;
    position: relative;
    width: 25%;
    float: left;
    border: solid 1px rgba(255, 242, 196, 0.5);
    padding: 30px 40px;
    background: #FFCD0E;
    height: 200px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}
.learning_ul ul li span {
    display: block;
    position: absolute;
    bottom: 25px;
    width: 30px;
}
.learning_ul ul li a { color:#333; text-decoration:none}
.learning_ul ul li a:hover { color:#666; text-decoration:none}
.head_title {
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    padding: 30px 150px;
}
.video_sec { padding:80px 0;}
.yellow_box {
    background: #FFCD0E;
    width: 400px;
    position: absolute;
    top: 24%;
    padding: 40px;
    font-size: 15px;
    text-align: left;
    line-height: 0.9;
    font-weight: 700;
    text-transform: inherit;
    left: 0;
}
.yellow_box .international_btn_btn {
    margin: 15px 0;
}

.padd_box.white_ul ul li {
    color: white;
    padding: 3px 0;
    font-size: 16px; font-weight:600;
}

.padd_box.white_ul ul {
    padding: 0 20px;
}

.padd_box.black_ul ul li {
    color: black;
    padding: 3px 0;
    font-size: 16px; font-weight:600;
}

.padd_box.black_ul ul {
    padding: 0 20px;
}
.padd_box.black_ul ul {
    padding-top: 20px;
}
.row.no-gutters.red_bg {
    background: #EF3F3F;
}
.row.no-gutters.red_bg h2 {color:white; text-transform: uppercase;
    font-weight: 900;}
.row.no-gutters.red_bg ul {padding-top:10px;}
img.img-fluid.shadow_img {
    width: 90%;
}

button.close.cross {
    float: right;
    position: absolute;
    right: -30px;
    top: 0;
    color: #ffffff;
    z-index: 9999;
    border: 0;
    text-shadow: 0;
}
.padd_box {
    padding: 60px 50px;
}
      .SchoolDetailPanel .StoryTitleStrip {
      background: #ffca08;
      width: 35vw;
      text-align: left;
      position: relative;
      height: 10.3vw;
      }
      .SchoolDetailPanel .FightCovid19 .StoryTitleStrip{
      width: 50vw;
      }
      
     
}
      
      @@media (max-width: 767px) {
	  
	  .richtext-editor p, .richtext-editor ul li {
    font-size: 1vw;
    line-height: 24px;
    padding: 0 0 1vw 0; 
}
.SchoolDetailPanel .StoryTitleStrip {width:100%; height:auto;}

   .richtext-editor ul li {padding-left: 30px;} 
   
.richtext-editor h6.h3.mb10 {
    font-size: 18px;
}

.SchoolDetailPanel .Studentstories {padding: 0px 15px 0 15px;}
.SchoolDetailPanel .FightCovid19 .StoryTitleStrip {
    width: 100%!important;
    height: 41vw;
}
.SchoolDetailPanel .StoryTitleStrip h2 {
     font-size: 27px;
    line-height: 1;
    padding-top: 24px
}
.padd_box {
    padding: 60px 20px!important;
}
	  
	  .bullet_sec {
    max-width: 100%;
    background: rgb(249 242 242 / 0.9);
    padding: 0 30px 30px 0px;
    margin-left: 0;
    margin-top: 20px;
    z-index: 9;
    position: relative;
    float: left;
    top: 0;
}

h5 {
    font-size: 24px!important;
}
.col-md-7.skill-colm h5 { font-size: 16px!important;}

.bullet_list.mt-0.wow.fadeInDown ul li {
    font-weight: 400;
    padding-left: 30px;
}
.bullet_list li:before {
    top: 30px;
}
.plr100.padd_btm h5 {
    font-size: 8vw!important;
}
	  
      .SchoolDetailPanel .newcoursesAccordpanel .card-header a {
      white-space: inherit;
      overflow-wrap: break-word;
      white-space: inherit;
      }
      .SchoolDetailPanel .CoursesAccordionPanel .card-header a {
      padding: 15px 6px 15px 15px;
      }
      .SchoolDetailPanel .CoursesAccordionPanel .card-header a i {
      font-size: 10px;
      vertical-align: middle;
      margin: 0 10px 0 0;
      position: absolute;
      left: 0;
      top: 21px;
      }
      .SchoolDetailPanel .newcoursesAccordpanel .card-body .coursedtls {
      font-size: 12px;
      }
      .titleh3p {
      margin-left: 15px;
      }
      .SchoolDetailPanel .newcoursesAccordpanel .card-header a {
      font-size: 13px;
      }
      }
      @@media(max-width:767px) {
      .SchoolDetailPanel .StoryTitleStrip {width:100%; height:auto;}
      .SchoolDetailPanel .StoriesContext {width:100%; height:auto;}
      
      .SchoolDetailPanel .storiesPanStyle img {
    width: 70%;
}

.SchoolDetailPanel .StoriesContext {height: auto;
    float: right;
    width: 80%;
    left: 0;}
.SchoolDetailPanel .StoryTitleStrip p {
    font-size: 24px;
    top: 0;
}
      
      .head_title {
    font-size: 21px;
    font-weight: 800;
    text-align: center;
    padding: 70px 10px 0 0;
}
.plr100.padd_btm h5 {
    font-size: 8vw!important;
}
.bullet_sec {
    max-width: 100%;
    background: rgb(249 242 242 / 0.9);
    padding: 0 30px 30px 0px;
    margin-left: 0;
    margin-top: 20px;
    z-index: 9;
    position: relative;
    float: left;
    top: 0;
}

.yellow_box {
    background: #FFCD0E;
    width: 100%; position: relative;
    top: 0;}
    
    img.img-fluid.shadow_img {
    width: 100%;
}
.richtext-editor p, .richtext-editor ul li {
    font-size: 16px;
    line-height: 29px;
    padding: 22px 0 0vw 0; 
}
    .richtext-editor ul li {padding-left: 30px;} 
      
      .justifyContent {
      text-align: justify;
      }
      .SchoolDetailPanel .GraduateInner .link_list {
      float: none;
      }
      }
      .backPad {
      background: #F7F7F7;
      padding: 10px 10px 10px 15px !important;
      margin-bottom: 10px;
      }
      .bottom {
      margin-bottom: 40px;
      }
      section#agriSection p {
      /* margin: 0px 0px 8px 0px; */
      padding: 8px 0px 0px 0px;
      }
      .smarkAgri {
      margin: 0 auto !important;
      }
      
      
   </style>
   <section class="banner BannerSection mb60">
      <div class="DownArrow">
         <a href="#PanelTwo" class="ClickArrow">
         <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
         </a>
      </div>
      <div class="breadcrumbPanel">
         <ol class="breadcrumb breadcrumbCustom">
            <li class="breadcrumb-item fontBold"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">@schoolItem.Name</li>
         </ol>
      </div>
      <div class="plr20 fullwidth">
         <div class="BannerStripContext">
            @if (schoolItem.HasProperty("sectionTitle1") && schoolItem.HasValue("sectionTitle1"))
            {
            <span class="fontExBold sodText">
               @(schoolItem.GetPropertyValue<string>("sectionTitle1"))
            </span>
            }
            @if (schoolItem.HasProperty("sectionTitle2") && schoolItem.HasValue("sectionTitle2"))
            {
            <h1 class="fontExBold">
               @(schoolItem.GetPropertyValue<string>("sectionTitle2"))
            </h1>
            }
            @if (schoolItem.HasProperty("section1Description") && schoolItem.HasValue("section1Description"))
            {
                @(schoolItem.GetPropertyValue<HtmlString>("section1Description"))
            }
         </div>
         <div class="BannerImg position-relative">
            @if (Model.Content.HasValue("banner") || Model.Content.HasValue("mobileBanner"))
            {
            var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("banner");
            var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
            //Html.Partial("HeroBanner", imgPath);
            if (mobileBannerPath == null)
            {
            if (Model.Content.HasValue("bannerClickUrl"))
            {
                @Html.Partial("Mobile BannerWithLink", new Tuple<IPublishedContent, IPublishedContent,string>(imgPath, imgPath,Model.Content.GetPropertyValue<string>("bannerClickUrl")))
            }
            else
            {
                @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, imgPath))
            }

            }
            else if (imgPath != null && mobileBannerPath != null)
            {
            if (Model.Content.HasValue("bannerClickUrl"))
            {
                @Html.Partial("Mobile BannerWithLink", new Tuple<IPublishedContent, IPublishedContent,string>(imgPath, mobileBannerPath,Model.Content.GetPropertyValue<string>("bannerClickUrl")))
            }
            else
            {
                @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
            }
            }
            }
            @*<div class="WatchPanel d-flex">
               @Html.Partial("_watchvideo")
            </div>*@
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="general-popup">
         @Html.Partial("genral_popup")
      </div>
   </section>
   <div class="clearfix"></div>
   <div class="plr100" style="margin-top: 120px;">
      <div class="row">
         <div class="col-md-12"> 
            @if (schoolItem.HasProperty("mainTitle") && schoolItem.HasValue("mainTitle"))
            {
               <div class="head_title"> @(schoolItem.GetPropertyValue<string>("mainTitle"))</div>
            }
            @if (schoolItem.HasProperty("mainDescription") && schoolItem.HasValue("mainDescription"))
            {
               <div class="richtext-editor"> @(schoolItem.GetPropertyValue("mainDescription"))</div>
            }
        </div>
          @if (schoolItem.HasProperty("relatedLinks") && schoolItem.HasValue("relatedLinks"))
          {
          var relatedlinks = schoolItem.GetPropertyValue<RelatedLinks>("relatedLinks");
         <div class="col-md-12">
            <div class="learning_ul">
                
               <ul>
                   @foreach(var relatedlink in relatedlinks)
                   {
                   
                  <li><a href="@relatedlink.Link"  target="@(relatedlink.NewWindow?"_blank":"_self")">
                      @relatedlink.Caption
                     <span><img src="images/down_arrow.png" class="img-fluid"></span>
                     </a>
                  </li>
                  }
               </ul>
            </div>
         </div>
         }
      </div>
   </div>
   <div class="plr100">
      <div class="row no-gutters video_sec pt-0">
         <div class="col-md-12 text-right position-relative">
            <a href="#" class="" data-toggle="modal" data-target="#basicModal">
               @{
                   var videoimg = schoolItem.GetPropertyValue<IPublishedContent>("videoImage");
                   if(videoimg != null)
                   {
                        <img src="@videoimg.Url" class="img-fluid shadow_img"/>
                   }
               }
            </a>
            @if(schoolItem.HasProperty("videoLink") && schoolItem.HasValue("videoLink")&& schoolItem.HasValue("videoTitle")&& schoolItem.HasValue("videoDescription"))
            {
            <div class="yellow_box">
               @(schoolItem.GetPropertyValue<string>("videoTitle"))
               <p>@(schoolItem.GetPropertyValue<string>("videoDescription"))...</p>
               @if(schoolItem.HasProperty("videoLink") && schoolItem.HasValue("videoLink"))
              { 
              var videolink = schoolItem.GetPropertyValue<RelatedLinks>("videoLink");
                <div class="international_btn_btn">
                   <a href="@videolink.FirstOrDefault().Link"  target=" @(videolink.FirstOrDefault().NewWindow?"_blank":"_self")"  class=" btn btn-primary bg_blue">@videolink.FirstOrDefault().Caption</a>
                 </div>
            }
            </div>
            }
         </div>
      </div>
   </div>
   <div class="plr100 bg-white GenerTemplate SchoolDetailPanel Studentstories FightCovid19" style="margin-bottom: 50px; display:none">
       @if((schoolItem.HasProperty("fTTitleLine1") && schoolItem.HasValue("fTTitleLine1")) && schoolItem.HasProperty("fTTitleLine2") && schoolItem.HasValue("fTTitleLine2"))
      {  
      <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
         @{
             if (schoolItem.HasProperty("fTTitleLine1") && schoolItem.HasValue("fTTitleLine1"))
             {
                 <p class="fontBlack">
                    @(schoolItem.GetPropertyValue<string>("fTTitleLine1"))
                 </p>
             }
             if (schoolItem.HasProperty("fTTitleLine2") && schoolItem.HasValue("fTTitleLine2"))
             {
                 <h2 class="fontBlack">
                    @(schoolItem.GetPropertyValue<string>("fTTitleLine2"))
                 </h2>
             }
         }
      </div>
      }
   </div>
   @{
   var steps =schoolItem.GetPropertyValue<IEnumerable<IPublishedContent>>("steps").ToList();
   }
   @foreach(var step in steps)
   {
        var img = step.GetPropertyValue<IPublishedContent>("image");
        var relatedlink = step.GetPropertyValue<RelatedLinks>("link");
        var bgcolor = step.GetPropertyValue<string>("backgroundColor");
        var imagePositionLeft = step.GetPropertyValue<bool>("imagePositionLeft");
        var bgcolorclass=string.Empty;
        var ulcolorclass = string.Empty;
        switch(bgcolor)
        {
            case "Blue":
                bgcolorclass = "blue-bg11";
                ulcolorclass = "white_ul";
                break;
            case "Red":
                bgcolorclass = "red_bg";
                ulcolorclass = "white_ul";
                break;
            case "Yellow":
                bgcolorclass = "yellow-bg11";
                ulcolorclass = "black_ul";
                break;
        }
        <div class="bg-white GenerTemplate SchoolDetailPanel" style=" display:none">
              <div class="plr100">
                 <div class="row no-gutters @bgcolorclass">
                 @if(imagePositionLeft)
                   { <div class="col-md-6">
                        @if(img!= null)
                        {
                            <img class="img-fluid" src="@img.Url" alt="">
                        }
                    </div>
                    }
                    <div class="col-md-6">
                       <div class="padd_box @ulcolorclass">
                           @step.GetPropertyValue("content")
                           @if(relatedlink!= null)
                        {  
                        <div class="international_btn_btn">
                              <a href=" @relatedlink.FirstOrDefault().Link" target=" @(relatedlink.FirstOrDefault().NewWindow?"_blank":"_self")" class="btn btn-primary bg_white">@relatedlink.FirstOrDefault().Caption</a>
                              </div>
                             }
                       </div>
                    </div>
                 
                 @if(!imagePositionLeft)
                   { <div class="col-md-6">
                        @if(img!= null)
                        {
                            <img class="img-fluid" src="@img.Url" alt="">
                        }
                    </div>
                    }
                 </div>
              </div>
        </div>
   }
   <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
               <iframe width="100%" height="315" src="@(schoolItem.GetPropertyValue<string>("videoUrl"))" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
   @if (schoolItem.HasValue("sATitleLine1") && schoolItem.HasValue("sATitleLine2") && schoolItem.HasValue("sAContentPicker"))
   {
   <div class="ParentStoriesPanel Studentstories TestimonialPanel">
      <div class="plr100">
         <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
            @{
            if (schoolItem.HasProperty("sATitleLine1") && schoolItem.HasValue("sATitleLine1"))
            {
            <p class="fontBlack">
               @(schoolItem.GetPropertyValue
               <string>
               ("sATitleLine1"))
            </p>
            }
            if (schoolItem.HasProperty("sATitleLine2") && schoolItem.HasValue("sATitleLine2"))
            {
            <h2 class="fontBlack">
               @(schoolItem.GetPropertyValue
               <string>
               ("sATitleLine2"))
            </h2>
            }
            }
         </div>
         @if (schoolItem.HasProperty("sAKnowMoreLink") && schoolItem.HasValue("sAKnowMoreLink"))
         {
         <div class="link_list text-right noPadding">
            <a href="@(Model.Content.GetPropertyValue
            <RelatedLinks>
            ("sAKnowMoreLink").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue
            <RelatedLinks>
            ("sAKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
            @(Model.Content.GetPropertyValue
            <RelatedLinks>
            ("sAKnowMoreLink").FirstOrDefault().Caption)
            </a>
         </div>
         }
         <div class="CarouselforSlick StoryStyle StyleForSlickArrows storiesPannInn mlr">
            @{
            var studentStoriesItems = schoolItem.GetPropertyValue<IEnumerable
            <IPublishedContent>
            >("sAContentPicker");
            foreach (var storiesItem in studentStoriesItems)
            {
            @Html.Partial("_achievements", storiesItem)
            }
            }
         </div>
      </div>
   </div>
   }
    @if (Model.Content.HasValue("mentorsSectionTitle") && Model.Content.HasValue("mentors"))
        {
            Session["schoolId"] = Model.Content.Id;
            <div class="ParentStoriesPanel Studentstories TestimonialPanel">
                <div class="plr100">
                    <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
                        @{
                            if (schoolItem.HasProperty("mentorsSectionTitle") && schoolItem.HasValue("mentorsSectionTitle"))
                            {
                                <p class="fontBlack">@(schoolItem.GetPropertyValue<string>("mentorsSectionTitle"))</p>
                            }
                            if (schoolItem.HasProperty("mentorsSectionTitle2") && schoolItem.HasValue("mentorsSectionTitle2"))
                            {
                                <h2 class="fontBlack">@(schoolItem.GetPropertyValue<string>("mentorsSectionTitle2"))</h2>
                            }
                        }
                    </div>
                    @*@if (schoolItem.HasProperty("knowMoreLink") && schoolItem.HasValue("knowMoreLink"))
                        {
                            <div class="link_list text-right noPadding">
                                <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                                    @(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Caption)
                                </a>
                            </div>
                        }*@
                    <div class="CarouselforSlick StoryStyle StyleForSlickArrows storiesPannInn mlr">
                        @{
                            var mentoritems = schoolItem.GetPropertyValue<IEnumerable<IPublishedContent>>("mentors");
                            foreach (var storiesItem in mentoritems)
                            {
                                <div class="storiesPanStyle storiesPanOne plr7">
                                    @if (storiesItem.HasProperty("image") && storiesItem.HasValue("image"))
                                    {
                                        //var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(storiesItem.GetPropertyValue<string>("studentPhoto"));
                                        var imgPath = storiesItem.GetPropertyValue<IPublishedContent>("image");
                                        if (imgPath != null)
                                        {
                                            <img src="@imgPath.GetCropUrl("StoriesCrop")" alt="@(storiesItem.GetPropertyValue<string>("studentName"))" class="img-fluid" />
                                        }

                                    }
                                    <div class="StoriesContext">
                                        @if (storiesItem.HasProperty("advisoryName") && storiesItem.HasValue("advisoryName"))
                                        {
                                            <h2 class="fontExBold">
                                                @Html.Raw(storiesItem.GetPropertyValue("advisoryName"))
                                            </h2>
                                        }
                                        @if (storiesItem.HasProperty("designation") && storiesItem.HasValue("designation"))
                                        {
                                            <h3 class="fontBold">@Html.Raw(storiesItem.GetPropertyValue("designation"))</h3>
                                        }
                                        @if (storiesItem.HasProperty("shortDescription") && storiesItem.HasValue("shortDescription"))
                                        {
                                            <p class="fontMedium">
                                                @Html.Raw(umbraco.library.RemoveFirstParagraphTag(storiesItem.GetPropertyValue("shortDescription").ToString().Replace("<p></p>", "").Replace("<p class='fontMedium'></p>", "")))
                                            </p>
                                        }
                                        @if (storiesItem.GetPropertyValue<bool>("viewDetailEnable"))
                                        {
                                            <a target="_self" href="@storiesItem.Url">@Html.Raw(storiesItem.GetPropertyValue("viewDetailsButtonCaption"))</a>
                                        }
                                        @*@if (storiesItem.HasProperty("sSKnowMoreLink") && storiesItem.HasValue("sSKnowMoreLink"))
                                            {
                                                <a target="@(storiesItem.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(storiesItem.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(storiesItem.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().Caption)</a>
                                            }*@
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
        
   
    @if (Model.Content.HasValue("advisorySectionTitle") && Model.Content.HasValue("advisoryBoard") && Model.Content.HasValue("advisorySectionTitle2"))
        {
            Session["schoolId"] = Model.Content.Id;
            <div class="ParentStoriesPanel Studentstories TestimonialPanel">
                <div class="plr100">
                    <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">
                        @{
                            if (schoolItem.HasProperty("advisorySectionTitle") && schoolItem.HasValue("advisorySectionTitle"))
                            {
                                <p class="fontBlack">@(schoolItem.GetPropertyValue<string>("advisorySectionTitle"))</p>
                            }
                            if (schoolItem.HasProperty("advisorySectionTitle2") && schoolItem.HasValue("advisorySectionTitle2"))
                            {
                                <h2 class="fontBlack">@(schoolItem.GetPropertyValue<string>("advisorySectionTitle2"))</h2>
                            }
                        }
                    </div>
                    @*@if (schoolItem.HasProperty("knowMoreLink") && schoolItem.HasValue("knowMoreLink"))
                        {
                            <div class="link_list text-right noPadding">
                                <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                                    @(Model.Content.GetPropertyValue<RelatedLinks>("knowMoreLink").FirstOrDefault().Caption)
                                </a>
                            </div>
                        }*@
                    <div class="CarouselforSlick StoryStyle StyleForSlickArrows storiesPannInn mlr">
                        @{
                            var advisoryBoarditems = schoolItem.GetPropertyValue<IEnumerable<IPublishedContent>>("advisoryBoard");
                            foreach (var storiesItem in advisoryBoarditems)
                            {
                                <div class="storiesPanStyle storiesPanOne plr7">
                                    @if (storiesItem.HasProperty("image") && storiesItem.HasValue("image"))
                                    {
                                        //var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(storiesItem.GetPropertyValue<string>("studentPhoto"));
                                        var imgPath = storiesItem.GetPropertyValue<IPublishedContent>("image");
                                        if (imgPath != null)
                                        {
                                            <img src="@imgPath.GetCropUrl("StoriesCrop")" alt="@(storiesItem.GetPropertyValue<string>("studentName"))" class="img-fluid" />
                                        }

                                    }
                                    <div class="StoriesContext">
                                        @if (storiesItem.HasProperty("advisoryName") && storiesItem.HasValue("advisoryName"))
                                        {
                                            <h2 class="fontExBold">
                                                @Html.Raw(storiesItem.GetPropertyValue("advisoryName"))
                                            </h2>
                                        }
                                        @if (storiesItem.HasProperty("designation") && storiesItem.HasValue("designation"))
                                        {
                                            <h3 class="fontBold">@Html.Raw(storiesItem.GetPropertyValue("designation"))</h3>
                                        }
                                        @if (storiesItem.HasProperty("shortDescription") && storiesItem.HasValue("shortDescription"))
                                        {
                                            <p class="fontMedium">
                                                @Html.Raw(umbraco.library.RemoveFirstParagraphTag(storiesItem.GetPropertyValue("shortDescription").ToString().Replace("<p></p>", "").Replace("<p class='fontMedium'></p>", "")))
                                            </p>
                                        }
                                        @if (storiesItem.GetPropertyValue<bool>("viewDetailEnable"))
                                        {
                                            <a target="_self" href="@storiesItem.Url">@Html.Raw(storiesItem.GetPropertyValue("viewDetailsButtonCaption"))</a>
                                        }
                                        @*@if (storiesItem.HasProperty("sSKnowMoreLink") && storiesItem.HasValue("sSKnowMoreLink"))
                                            {
                                                <a target="@(storiesItem.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(storiesItem.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(storiesItem.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().Caption)</a>
                                            }*@
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
        
        
        
        
 <section class="PanelInner studenAchievPanel_PaddingSpacing industry" id="PanelTwo"  style="display:none"  >
			 <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">

				<p class="fontBold titleMedium text-uppercase">PHOTO</p>
				<h2 class="fontBlack text-uppercase titleh3">GALLERY</h2>
                    </div>
			<div class="container">
			<div class="row">
			  @if (Model.Content.HasValue("photoGallery"))
             {
             
                var imgPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("photoGallery");
                                if (imgPaths != null)
                                {
                                    foreach (var imgPath in imgPaths)
                                    {
                		    	<div class="col-md-4 pb-4">
                		    	        <a href="" data-toggle="modal" data-target="#exampleModal">
                		    	        <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")">
                		    	        </a>
                		        </div>
		           
                                }
                            }
	       	 }
			</div>

			</div>


		  <!--Industry & UPES component-->
            
        </secton>




 <section class="PanelInner studenAchievPanel_PaddingSpacing industry" id="PanelTwo" style="display:none">
			 <div class="StoryTitleStrip Yellowstripbgfull text-uppercase align-items-end">

				<p class="fontBold titleMedium text-uppercase">VIDEO</p>
				<h2 class="fontBlack text-uppercase titleh3">GALLERY</h2>
                    </div>
			<div class="container">
			<div class="row">
			  @if (Model.Content.HasValue("videoGallery"))
             {
             
                var videoPaths = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("videoGallery");
                                if (videoPaths != null)
                                {
                                    foreach (var videoPath in videoPaths)
                                    {
                		    	<div class="col-md-4 pb-4">
                		    	    @*<a href="" data-toggle="modal" data-target="#exampleModal">
                		    	        <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")">
                		    	        </a>*@
                		    	        
                		    	       <video controls>
                                            <source src="@videoPath.Url" type="video/mp4">
                                        </video>
                		        </div>
		           
                                }
                            }
	       	 }
			</div>

			</div>


		  <!--Industry & UPES component-->
            
        </secton>

    <div class="bg-white GenerTemplate">
        <div class="plr100 intro-text-85">
            @Model.Content.GetPropertyValue("contactDetails")
        </div>

    </div>
      </div>
      
      
</main>





<style>
 
    .col-md-7.skill-colm h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    padding-top: 20px;
    text-align: right;
}
.col-md-7.skill-colm h5 span {
    display: block;
}
    
</style>








