﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    @using Umbraco.Web.Models
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@
@section style{
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" />
    <link href="/css/ProgramDetailTemplate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    }

    <main role="main" class="SchoolDetailPanel">
        <!--Banner-->
        <section class="banner  BannerSection mb60">
            <div class="DownArrow">
                <a href="#PanelTwo" class="ClickArrow">
                    <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
                </a>
            </div>
            <div class="breadcrumbPanel">
                <ol class="breadcrumb breadcrumbCustom">
                    <li class="breadcrumb-item fontBold"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">@Model.Content.Name</li>
                </ol>
            </div>
            <div class="plr20 fullwidth">
                <div class="BannerStripContext">
                    <span class="fontExBold sodText">@Html.Raw(Model.Content.GetPropertyValue("schoolName"))</span>
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                        <span class="d-block">@Html.Raw(Model.Content.GetPropertyValue("pageTitle2"))</span>
                    </h1>
                    <ul class="BannerContextList">
                        @if (Model.Content.HasValue("pageDescription"))
                        {
                            var descriptions = Model.Content.GetPropertyValue<string[]>("pageDescription");
                            foreach (var description in descriptions)
                            {
                                <li>
                                    @description
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="BannerImg position-relative">
                    @if (Model.Content.HasValue("bannerImage"))
                    {
                        var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                        if (imgPath != null)
                        {
                            <picture>
                                <img src="@imgPath.GetCropUrl("BannerDesk")" class="hideOnMobile img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                            </picture>
                        }
                    }

                    @if (Model.Content.HasValue("mobileBanner"))
                    {
                        var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                        if (imgPath != null)
                        {
                            <div class="MobileBanner">
                                <img src="@imgPath.GetCropUrl("BannerMob")" class="ShowOnMobile img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                            </div>
                        }
                    }

                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <div class="clearfix"></div>
        <!--About department-->
        <section class="abtDepartment">
            <div class="plr100">
                @if (Model.Content.HasValue("aboutDepartmentTitle"))
                {
                    <h3 class="fontBlack text-uppercase titleh3">
                        @Html.Raw(Model.Content.GetPropertyValue("aboutDepartmentTitle"))
                    </h3>
                }

                @if (Model.Content.HasValue("aboutDepartmentContent"))
                {
                    <p>
                        @Html.Raw(Model.Content.GetPropertyValue("aboutDepartmentContent"))
                    </p>
                }
            </div>
        </section>
        <!--Vision and Mission-->
        <section class="vmPanel mt-0">
            <div class="plr100">
                <div class="vm_Inner">
                    @if (Model.Content.HasValue("visionTitle"))
                    {
                        <h3 class="fontBlack text-uppercase titleh3">
                            @Html.Raw(Model.Content.GetPropertyValue("visionTitle"))
                        </h3>
                    }
                    <p class="parawithquotes">
                        @Html.Raw(Model.Content.GetPropertyValue("visionContent"))

                    </p>
                </div>
                <div class="vm_Inner">
                    @if (Model.Content.HasValue("missionTitle"))
                    {
                        <h3 class="fontBlack text-uppercase titleh3">
                            @Html.Raw(Model.Content.GetPropertyValue("missionTitle"))
                        </h3>
                    }
                    <ul class="vmlist">
                        @if (Model.Content.HasValue("missionContent"))
                        {
                            var missionContenta = Model.Content.GetPropertyValue<string[]>("missionContent");
                            if (missionContenta != null)
                            {
                                foreach (var missionContent in missionContenta)
                                {
                                    <li>
                                        <img src="/src/img/school-details/yellow-quotes.png" class="img-fluid" />
                                        @missionContent
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </section>
        <!--program outcomes-->
        <section class="ProgramOutcomes">
            <div class="plr100">
                <div class="poInner">
                    @if (Model.Content.HasValue("programOutcomesTitle"))
                    {
                        <h3 class="fontBlack titleh3">
                            @Html.Raw(Model.Content.GetPropertyValue("programOutcomesTitle"))
                        </h3>
                    }
                    @Html.Raw(Model.Content.GetPropertyValue("programOutcomesContent"))
                </div>
            </div>
        </section>
        <!--Faculty-->
        @if (Model.Content.HasValue("facultyTitle") && Model.Content.HasValue("facultyPicker"))
        {
            <section class="FacultyBlockPanel mt-4">
                <div class="plr100">
                    <div class="ParentStoriesPanel Studentstories">
                        <div class="StoryTitleStrip Yellowstripbgfull text-uppercase d-flex align-items-center">
                            @if (Model.Content.HasValue("facultyTitle"))
                            {
                                <h2 class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue("facultyTitle"))</h2>
                            }


                        </div>
                        <div class="link_list text-right noPadding">
                            @if (Model.Content.HasValue("facultyMoreLink"))
                            {
                                var facultyLink = Model.Content.GetPropertyValue<RelatedLinks>("facultyMoreLink").First();
                                if (facultyLink != null)
                                {
                                    <a href="@facultyLink.Link" target="@(facultyLink.NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                                        @facultyLink.Caption
                                    </a>
                                }
                            }

                        </div>
                        <div class="CarouselforSlick StoryStyle StyleForSlickArrows storiesPannInn mlr">
                            @if (Model.Content.HasValue("facultyPicker"))
                            {
                                var faculties = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("facultyPicker");
                                if (faculties != null)
                                {
                                    foreach (var faculty in faculties)
                                    {
                                        <div class="storiesPanStyle storiesPanOne plr7">
                                            @if(faculty.HasValue("studentPhoto"))
                                            {
                                                var imgPath = faculty.GetPropertyValue<IPublishedContent>("studentPhoto");
                                                if(imgPath!=null)
                                                {
                                            <img src="@imgPath.GetCropUrl("StoriesCrop")" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                                }
                                            }
                                            
                                            <div class="StoriesContext">
                                                <h2 class="fontExBold">
                                                    @Html.Raw(faculty.GetPropertyValue("studentName"))
                                                </h2>
                                                @if (faculty.HasValue("studentDegree"))
                                                {
                                                    <h3 class="fontBold">@Html.Raw(faculty.GetPropertyValue("studentDegree"))</h3>
                                                }
                                                @if (faculty.HasValue("shortDescription"))
                                                {
                                                    <p class="fontMedium">
                                                        @Html.Raw(faculty.GetPropertyValue("shortDescription"))
                                                    </p>
                                                }
                                                @if (faculty.HasValue("sSKnowMoreLink"))
                                                {
                                                    var link = faculty.GetPropertyValue<RelatedLinks>
                                                        ("sSKnowMoreLink").First();
                                                    if (link != null)
                                                    {
                                                        <a href="@link.Link" class="fontBold text-uppercase" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a>
                                                    }
                                                }
                                            </div>
                                        </div>

                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </section>
        }

        <!--Courses-->
        <section class="CampusPanel  position-relative " id="PanelTwo">
            <div class="CampusBg">
                <img src="../src/img/parents/campus-bg.jpg" class="img-fluid" alt="banner" />
            </div>
            <div class="plr100">
                <div class="CampusInner">
                    @if (Model.Content.HasValue("courseSectionTitle"))
                    {
                        <h2 class="fontBlack text-uppercase GrayTitle">@Html.Raw(Model.Content.GetPropertyValue("courseSectionTitle"))</h2>
                    }

                    <div class="row CoursesGraduatePanel CoursesGraduateInnerPanel">
                        <div class="col-sm-12 GraduateInner">
                            <h2 class="fontBlack titleMedium text-uppercase">@Html.Raw(Model.Content.GetPropertyValue("uGCourseTitle"))</h2>
                            <p class="titleh4 text-uppercase fontMedium">@Html.Raw(Model.Content.GetPropertyValue("courseSectionTitle")) </p>
                            <ul class="GraduateList">
                                @if (Model.Content.HasValue("uGCoursePicker"))
                                {
                                    var ugCourses = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("uGCoursePicker");
                                    if (ugCourses != null)
                                    {
                                      
                                      @*  string[] str = new string[] { "/src/img/school-details/ug-course-1.png", "/src/img/school-details/ug-course-2.png", "/src/img/school-details/ug-course-3.png", "/src/img/school-details/ug-course-4.png", "/src/img/school-details/ug-course-5.png", "/src/img/school-details/ug-course-6.png" };*@
                                        int i = 0;
                                        foreach (var ugCourse in ugCourses)
                                        {
                                       
                                         var imgPath11 = Umbraco.Media(ugCourse.GetPropertyValue("showcaseIcon").ToString()).Url;
                            
                                            <li>
                                                <p>
                                                    <span>
                                                       @* <img src="@str[i]" class="img-fluid" alt="GraduateIcon" />*@
                                                         <img src="@imgPath11" class="img-fluid" alt="GraduateIcon" />
                                                    </span>
                                                    @Html.Raw(ugCourse.GetPropertyValue("showcaseTitle"))
                                                </p>
                                                <a href="@ugCourse.Url">Details</a>
                                            </li>
                                            i++;
                                            if (i > 5)
                                            {
                                                i = 0;
                                            }
                                        }
                                    }
                                }
                            </ul>

                        </div>
                        <!--PG-->
                        <div class="col-sm-12 GraduateInner">
                            <h2 class="fontBlack titleMedium text-uppercase">@Html.Raw(Model.Content.GetPropertyValue("pGCourseTitle"))</h2>
                            <p class="titleh4 text-uppercase fontMedium">@Html.Raw(Model.Content.GetPropertyValue("courseSectionTitle")) </p>

                            <ul class="GraduateList">
                                @if (Model.Content.HasValue("pGCoursePicker"))
                                {
                                    var ugCourses = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("pGCoursePicker");
                                    if (ugCourses != null)
                                    {
                                       @* string[] str = new string[] { "/src/img/school-details/ug-course-1.png", "/src/img/school-details/ug-course-2.png", "/src/img/school-details/ug-course-3.png", "/src/img/school-details/ug-course-4.png", "/src/img/school-details/ug-course-5.png", "/src/img/school-details/ug-course-6.png" };*@
                                        int i = 0;
                                        foreach (var ugCourse in ugCourses)
                                        {
                                         var imgPath12 = Umbraco.Media(ugCourse.GetPropertyValue("showcaseIcon").ToString()).Url;
                                            <li>
                                                <p>
                                                    <span>
                                                            @* <img src="@str[i]" class="img-fluid" alt="GraduateIcon" />*@
                                                         <img src="@imgPath12" class="img-fluid" alt="GraduateIcon" />
                                                    </span>
                                                    @Html.Raw(ugCourse.GetPropertyValue("showcaseTitle"))
                                                </p>
                                                <a href="@ugCourse.Url">Details</a>
                                            </li>
                                            i++;
                                            if (i > 5)
                                            {
                                                i = 0;
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
						                        <!--Doctoral-->
												@if(Model.Content.HasValue("doctoralCourseTitle")&&Model.Content.HasValue("doctoralCoursePicker"))
												{
												                        <div class="col-sm-12 GraduateInner">
                            <h2 class="fontBlack titleMedium text-uppercase">@Html.Raw(Model.Content.GetPropertyValue("doctoralCourseTitle"))</h2>
                            <p class="titleh4 text-uppercase fontMedium">@Html.Raw(Model.Content.GetPropertyValue("courseSectionTitle")) </p>

                            <ul class="GraduateList">
                                @if (Model.Content.HasValue("doctoralCoursePicker"))
                                {
                                    var ugCourses = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("doctoralCoursePicker");
                                    if (ugCourses != null)
                                    {
                                        string[] str = new string[] { "/src/img/school-details/ug-course-1.png", "/src/img/school-details/ug-course-2.png", "/src/img/school-details/ug-course-3.png", "/src/img/school-details/ug-course-4.png", "/src/img/school-details/ug-course-5.png", "/src/img/school-details/ug-course-6.png" };
                                        int i = 0;
                                        foreach (var ugCourse in ugCourses)
                                        {
                                         var imgPath13 = Umbraco.Media(ugCourse.GetPropertyValue("showcaseIcon").ToString()).Url;
                                            <li>
                                                <p>
                                                    <span>
                                                           @* <img src="@str[i]" class="img-fluid" alt="GraduateIcon" />*@
                                                         <img src="@imgPath13" class="img-fluid" alt="GraduateIcon" />
                                                    </span>
                                                    @Html.Raw(ugCourse.GetPropertyValue("showcaseTitle"))
                                                </p>
                                                <a href="@ugCourse.Url">Details</a>
                                            </li>
                                            i++;
                                            if (i > 5)
                                            {
                                                i = 0;
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
												}
                    </div>
                </div>
            </div>
        </section>
        <section class="phd ">
            <div class="plr100">
                <h2 class="fontBlack titleMedium ">@Html.Raw(Model.Content.GetPropertyValue("phdTitle"))</h2>
                <p class="mt-2">
                    @Html.Raw(Model.Content.GetPropertyValue("phdContent"))
                </p>
            </div>
        </section>
        @if (Model.Content.HasValue("facilitiesTitle") && Model.Content.HasValue("facilitiesContent"))
        {
            <!--Facilities-->
            <section class="Facilities position-relative">
                <div class="plr100">
                    <div class="DetailsBlk">
                        <div class="AchieveTitleBlock position-relative">
                            <h3 class="fontBlack text-uppercase titleh3">
                                @Html.Raw(Model.Content.GetPropertyValue("facilitiesTitle"))
                            </h3>
                        </div>
                        <!--Accordion Panel-->
                        <div id="AccordionPanel" class="AccordionStyle">
                            @if (Model.Content.HasValue("facilitiesContent"))
                            {
                                var accordions = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("facilitiesContent");
                                if (accordions != null)
                                {
                                    int i = 0, j = 0;
                                    foreach (var accordion in accordions)
                                    {
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="CardHeaderPanel">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#PanelOneBlock@(i++)" aria-expanded="false" aria-controls="PanelOne">
                                                        @Html.Raw(accordion.GetPropertyValue("accordionTitle"))
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="PanelOneBlock@(j++)" class="collapse @(accordions.First()==accordion?"":"")" data-parent="#AccordionPanel" aria-labelledby="heading-3">
                                                <div class="card-body cardContext">
                                                    <p class="fontMedium">
                                                        @Html.Raw(umbraco.library.RemoveFirstParagraphTag(accordion.GetPropertyValue<string>("accordionContent")))
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <div class="row moreFacility  no-gutters">
                            <div class="col-sm-12 appList ApplyNow ">
                                @if (Model.Content.HasValue("moreFacilitiesLink"))
                                {
                                    var link = Model.Content.GetPropertyValue<RelatedLinks>("moreFacilitiesLink").First();
                                    if (link != null)
                                    {
                                        <a href="@link.Link" class="br30 fontBold btn btn-primary BtnStyle" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }

        <!--Newsletter-->
        @if (Model.Content.HasValue("newsletterSectionTitle") && Model.Content.HasValue("newsletterContent"))
        {
            <section class="newsletter position-relative">
                <div class="plr100">
                    <h3 class="fontBlack text-uppercase titleh3">
                        @Html.Raw(Model.Content.GetPropertyValue("newsletterSectionTitle"))
                    </h3>
                    <div id="AccordionPanel" class="AccordionStyle AccordionForDownload">
                        @if (Model.Content.HasValue("newsletterContent"))
                        {
                            var downloadContents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("newsletterContent");
                            if (downloadContents != null)
                            {
                                foreach (var downloadContent in downloadContents)
                                {
                                    if (downloadContent.HasValue("downloadMedia"))
                                    {
                                        var downloadMedia = downloadContent.GetPropertyValue<IPublishedContent>("downloadMedia");
                                        if (downloadMedia != null)
                                        {
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="CardHeaderPanel">
                                                        <a href="@downloadMedia.Url" download="@downloadMedia.Url">
                                                            @Html.Raw(downloadContent.GetPropertyValue("downloadTitle"))
                                                            <img src="/src/img/upes-students/download.png" class="img-fluid" />
                                                        </a>
                                                    </h5>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </section>
        }
        @if (Model.Content.HasValue("alumniStoriesTitle") && Model.Content.HasValue("alumniSectionTitle2") && Model.Content.HasValue("alumniStoryPicker"))
        {
            <!--Alumini-->
            <section class="FacBanner AluminiBanner position-relative">
                <div class="plr100">
                    <div class="ParentStoriesPanel Studentstories">
                        <div class="StoryTitleStrip Yellowstripbgfull text-uppercase d-flex align-items-center">
                            @if (Model.Content.HasValue("alumniStoriesTitle"))
                            {
                                <p class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue("alumniStoriesTitle"))</p>
                                <h2 class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue("alumniSectionTitle2"))</h2>
                            }

                        </div>
                        <div class="CarouselforSlick StoryStyle StyleForSlickArrows storiesPannInn mlr">
                            @if (Model.Content.HasValue("alumniStoryPicker"))
                            {
                                var almniStories = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("alumniStoryPicker");
                                if (almniStories != null)
                                {
                                    foreach (var alumniStory in almniStories)
                                    {
                            <div class="storiesPanStyle storiesPanOne plr7">
                                @if (alumniStory.HasValue("studentPhoto"))
                                {
                                    var imgPath = alumniStory.GetPropertyValue<IPublishedContent>("studentPhoto");
                                    if (imgPath != null)
                                    {
                                        <img src="@imgPath.GetCropUrl("StoriesCrop")" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                    }
                                }
                                <div class="StoriesContext">
                                    <h2 class="fontExBold">
                                        @Html.Raw(alumniStory.GetPropertyValue("studentName"))
                                    </h2>
                                    @if (alumniStory.HasValue("studentDegree"))
                                    {
                                        <h3 class="fontBold">@Html.Raw(alumniStory.GetPropertyValue("studentDegree"))</h3>
                                    }
                                    @if (alumniStory.HasValue("shortDescription"))
                                    {
                                        <p class="fontMedium">
                                            @Html.Raw(alumniStory.GetPropertyValue("shortDescription"))
                                        </p>
                                    }
                                    @if (alumniStory.HasValue("sSKnowMoreLink"))
                                    {
                                        var link = alumniStory.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").First();
                                        if (link != null)
                                        {
                                            <a href="@link.Link" class="fontBold text-uppercase" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a>
                                        }
                                    }

                                </div>
                            </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </section>
        }

    </main>
