﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Search>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var site = Model.Content;
    var siteRoot = site.Site();
    var root = siteRoot.DescendantsOrSelf();
    var coursepages = Umbraco.Content(2202).Children.ToList();
    var searchUrlQuery = Request.QueryString["q"];
}
@section style
{
    <link href="/css/search-result.css" rel="stylesheet" type="text/css" />
}

    <main role="main" class="UpesStudent">
        <!--search-->
        <div class="search-results">
            <div class="plr100vw">
                <div class="header">
                    <div class="text-center">
                        <h1>Search Results</h1>
                    </div>
                </div>
                <div class="body">
                   @* <div class="keyword" id="divSearchKeyword">Loading...</div>*@
                 @*  @foreach(var course in coursepages)
                   {
                   <div class='SearchRow'><article>
                       <h2>@course.Name</h2><a href='@course.Url'>@String.Concat("www.upes.ac.in", @course.Url)</a><p>@course.descriptions</p>
                       </article></div>
                    <div class="results" id="divSearchResults"></div>
                    
                   }*@
                   
                 
                    
                    @if(!string.IsNullOrEmpty(searchUrlQuery)){
                string searchUrlQueryReplace = searchUrlQuery.Replace(",", "&").Replace(" ", "").ToLower();
                string searchUrlQueryLastChar = searchUrlQueryReplace.Substring(searchUrlQueryReplace.Length - 1) == "&" ? searchUrlQueryReplace.Remove(searchUrlQueryReplace.Length - 1) : searchUrlQueryReplace;
                string[] searchArray = !string.IsNullOrEmpty(searchUrlQueryLastChar) ? searchUrlQueryLastChar.Split('&') : new string[]{};
                
                foreach(var searching in searchArray){
                    <h2 class="my-3">@site.GetPropertyValue("searchResultSiteName")</h2>
                    @* x.GetPropertyValue<string>("keywords")?.ToLower().Replace(" ", "").Contains(searching)*@
                    foreach(var item in root.Where(x => x.GetPropertyValue<bool>("showInSearch") == false).Where(x => x.Name.ToLower().Replace(" ", "").Contains(searching)).OrderBy(x => x.Level)){
                        @searchResults(item)
                    }
                    
                    foreach(var item in root.Where(x => x.GetPropertyValue<bool>("showInSearch") == false).OrderBy(x => x.Level)){
                        if(item.HasValue("keywords")){
                            if(item.GetPropertyValue<string>("keywords").ToString().ToLower().Replace(" ", "").Contains(searching)){
                                @searchResults(item)
                            }
                        }
                    }
                  @* var ss =  root.Where(x => x.GetPropertyValue<string>("keywords").ToString().Contains(searching));
                   foreach(var item in root.Where(x => x.GetPropertyValue<string>("keywords").ToString().Contains(searching)))
                   {
                   @searchResults(item)
                   }
                    @ss*@
                    <h2 class="my-3">@site.GetPropertyValue("searchResultSiteContent")</h2>
                    foreach(var item in root.Where(x => x.GetPropertyValue<bool>("showInSearch") == false).OrderBy(x => x.Level)){
                        if(item.HasValue("gridLayout")){
                            if(Umbraco.StripHtml(Html.GetGridHtml(item, "gridLayout").ToString()).ToString().ToLower().Replace(" ", "").Contains(searching)){
                                @searchResults(item)
                            }
                        }
                        
                    }
                    
                }
            }
            
            
         
                            
                </div>
            </div>
            <!-- dummy pagenation -->
            <div class="searchPagination justify-content-md-center" id="divPaging">

            </div>
        </div>
        <!--#search-->
        @Html.Partial("Floating")
    </main>
@section scripts{
    <script>
        $(document).ready(function () {
            var params = window.location.pathname.split('/').slice(1);
            var searchTerm = params[1];
            var offset = params[2];
            doSearch(searchTerm, offset);
        });

        function doSearch(searchTerm, offset) {
            $.ajax({
                url: "/umbraco/surface/search/getSearchResult",
                type: 'GET',
                data: "searchTerm=" + searchTerm + "&page=" + offset,
                beforeSend: function () {
                    $('#divSearchKeyword').empty().html("Loading...");
                },
                success: function (response) {
                    //alert(response);
                    if (response != 'Error') {
                        var arResponse = response.split('||');
                        $('#divSearchResults').empty().html(arResponse[1]);
                        $('#divSearchKeyword').empty().html(arResponse[2]);
                        $('#divPaging').empty().html(arResponse[3]);
                    } else {
                        $('#divSearchKeyword').empty().html('Error occured while getting your search result. Please try again.');
                    }
                }
            });
        }

    </script>
}

@helper searchResults(IPublishedContent item){
<div class='SearchRow'><article>
                       <a href='@item.Url'><h2>@item.Name</h2></a><p>@item.GetPropertyValue("descriptions")</p>
                       </article></div>
 
}