﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<main role="main" class="ParentPanel">
<section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @*<div class="breadcrumbPanel">
            <ol class="breadcrumb breadcrumbCustom">
                <li class="breadcrumb-item fontBold"><a href="javascript:void(0);">Home</a></li>
                <li class="breadcrumb-item active">MBA Admission</li>
            </ol>
        </div>*@
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold animateTitle">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }

            </div>
            <div class="BannerImg">
                @if (Model.Content.HasValue("bannerImage")||Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath=Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if(imgPath!=null&&mobileBannerPath!=null)
                    {
                        @Html.Partial("Mobile Banner",new Tuple<IPublishedContent,IPublishedContent>(imgPath,mobileBannerPath))
                    }
                }
            </div>
        </div>
        
        <div class="clearfix"></div>
    </section>
    <div class="site-map"><div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3><a target="_self" href="/about-us">ABOUT US </a></h3>
      <div class="row">
        <div class="col-md-6">
          <h4>About UPES</h4>
          <ul>
            <li><a href="history" target="_blank">History</a></li>
            <li><a href="/about-us/vision-and-mission" target="_blank">Vision
                and Mission</a></li>
            <li><a href="/about-us/#messageSection" target="_blank">Message from
                Leaders</a></li>
            <li><a href="/about-us/#leadershipSection" target="_blank">Governance
                Structure</a></li>
            <li><a href="/organogram" target="_blank">Organogram</a></li>
            <li><a href="/ucie" target="_blank">Innovation and Entrepreneurship</a></li>
            <li><a href="https://iqac.upes.ac.in/" target="_blank">IQAC</a></li>
            <li><a href="/about-us/mandatory-disclosure" target="_blank">Mandatory
                Disclosure</a></li>
            <li><a href="https://upesforshakti.upes.ac.in/" target="_blank">UPES
                for Shakti</a></li>
            <li><a href="/social-impact" target="_blank">Social Impact</a></li>
            <li><a href="/contact-us" target="_blank">Contact us</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>MEDIA & CONTACT</h4>
          <ul>
            <li><a href="/press-releases" target="_self">PRESS RELEASES</a></li>
            <li><a href="/news" target="_self">UPES IN NEWS</a></li>
            <li><a href="/media#contactSection" target="_self">MEDIA CONTACT</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Academics </h3>
      <ul>
        <li><a href="/schools/school-of-engineering" target="_self">SCHOOL OF
            ENGINEERING</a></li>
        <li><a href="/schools/school-of-computer-science" target="_self">SCHOOL
            OF COMPUTER SCIENCE</a></li>
        <li><a href="/schools/school-of-law" target="_self">SCHOOL OF LAW</a></li>
        <li><a href="/schools/school-of-design" target="_self">SCHOOL OF DESIGN</a></li>
        <li><a href="/schools/school-of-business" target="_self">SCHOOL OF BUSINESS</a></li>
        <li><a href="/schools/school-of-health-sciences" target="_self">SCHOOL
            OF HEALTH SCIENCES</a></li>
        <li><a href="/schools/school-of-modern-media" target="_self">SCHOOL OF
            MODERN MEDIA (NEW)</a></li>
        <li><a href="/schools/school-of-smart-agriculture" target="_self">SCHOOL
            OF SMART AGRICULTURE (2021)</a></li>
        <li><a href="https://www.cce.upes.ac.in/" target="_self">CCE – Distance
            Learning Programs</a></li>
        <li><a href="/schools/doctoral-courses" target="_self">Doctoral Programs</a></li>
        <li><a href="/learning-development-center" target="_self">Learning Development
            Center</a></li>
      </ul>
    </div>
    <div class="col-sm-6">
  <h3>SCHOOL OF ENGINEERING</h3>
  <h4>Department of Aerospace Engineering</h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li><a href="/course/b-tech-aerospace-engineering">B.Tech. (Aerospace Engineering)
        (Ongoing) </a></li>
    <li><a href="/course/b-tech-aerospace-engineering-avionics">B.Tech (Aerospace
        Engineering with specialization in Avionics) (Ongoing)</a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li><a href="/course/mtech-aerospace-engineering-with-specialization-in-unmanned-aerial-vehicle"> M.Tech
        (Aerospace Engineering with Unmanned Aerial Vehicle) (Intake till 2017)</a></li>
    <li><a href="/course/m-tech-computational-fluid-dynamics">M.Tech (Computational
        Fluid Dynamics) (Ongoing)</a></li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li> <a href="/course/phd-aerospace-engineering">PhD (Aerospace Engineering)
        (Ongoing)</a></li>
  </ul>
  <h4> Department of Applied Sciences</h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li><a href="/course/b-sc-hons-physics">B.Sc. (Hons.) Physics (Ongoing)</a></li>
    <li><a href="/course/b-sc-hons-chemistry">B.Sc. (Hons.) Chemistry (Ongoing)</a></li>
    <li><a href="/course/b-sc-hons-mathematics"> B.Sc. (Hons.) Mathematics (Ongoing) </a></li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul class="GraduateList">
    <li> <a href="/course/m-sc-chemistry">M.Sc (Chemistry) (Ongoing)</a> </li>
    <li> <a href="/course/mtech-nuclear-science-technology-1">M.Tech (Nuclear
        Science and Technology) (Intake till 2016) </a> </li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li> <a href="/course/phd-physics"> PhD (Physics) (Ongoing)</a> </li>
    <li><a href="/course/phd-chemistry">PhD (Chemistry) (Ongoing) </a> </li>
    <li><a href="/course/phd-mathematics"> PhD (Mathematics) (Ongoing) </a> </li>
  </ul>
  <h4><a href="/schools/school-of-engineering/chemical-department"> Department
      of Chemical Engineering </a></h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li> <a href="/course/btech-chemical-engineering-refining-and-petrochemicals"> B.Tech.
        (Chemical Engineering with specialization in Refining and Petrochemicals)
        (Ongoing)</a> </li>
    <li> <a href="/course/btech-applied-petroleum-engineering-gas"> B.Tech. (Applied
        Petroleum Engineering with specialization in Gas Stream) (Ongoing) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li><a href="/course/mtech-chemical-engineering-process-design-engineering"> M.Tech
        (Chemical Engineering with specialization in Process Design Engineering)
        (Ongoing) </a> </li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li><a href="/course/phd-chemical-engineering"> PhD (Chemical Engineering)
        (Ongoing) </a> </li>
  </ul>
  <h4><a href="/schools/school-of-engineering/hse-and-civil-department">Department
      of HSE and Civil Engineering</a></h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li><a href="/course/b-tech-civil-engineering"> B.Tech. (Civil Engineering)
        (Intake from 2020) </a> </li>
    <li> <a href="/course/btech-civil-engineering-infrastructure-development"> B.Tech
        (Civil Engineering with specialization in Infrastructure Development)
        (Ongoing)</a> </li>
    <li><a href="/course/btech-fire-and-safety-engineering"> B.Tech. (Fire and
        Safety Engineering) (Ongoing) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li><a href="/course/m-tech-health-safety-and-environment-engineering"> M.Tech
        Health, Safety and Environment (HSE) (Ongoing) </a> </li>
    <li><a href="/course/m-tech-health-safety-and-environment-engineering-disaster-management"> M.Tech
        Health, Safety and Environment (HSE) with specialization in Disaster
        Management) (Ongoing)</a> </li>
    <li><a href="/course/m-tech-structural-engineering"> M.Tech (Structural Engineering)
        (Intake from 2020) </a> </li>
    <li><a href="/course/mtech-structural-engineering-offshore"> M.Tech (Structural
        Engineering with specialization in Offshore) (Intake till 2019)</a> </li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li><a href="/course/phd-civil-engineering"> PhD (Civil Engineering) (Ongoing)</a> </li>
    <li><a href="/course/phd-safety-engineering"> PhD (Safety Engineering) (Ongoing)</a> </li>
  </ul>
  <h4>Department of Electrical and Electronics Engineering</h4>
  <p> UG PROGRAMS</p>
  <ul>
    <li> <a href="/course/b-tech-electrical-engineering"> B.Tech (Electrical
        Engineering) (Ongoing) </a> </li>
    <li> <a href="/course/btech-electronics"> B.Tech (Electronics Engineering)
        (Intake till 2016) </a> </li>
    <li><a href="/course/b-tech-electronics-and-communication-engineering"> B.Tech.
        (Electronics and Communication Engineering) (Ongoing) </a> </li>
    <li><a href="/course/btech-electronics-engineering-with-specilization-in-broadband-communication-technology"> B.Tech
        (Electronics Engineering with specialization in Broadband Communication
        Technology) (Intake till 2016)</a> </li>
    <li><a href="/course/btech-electronics-iot-based-instrument"> B.Tech (Electronics
        Engineering with specialization in Internet of Things based Instrumentation)
        (Intake till 2016)</a> </li>
    <li> <a href="/course/btech-power-system-engineering"> B.Tech (Power System
        Engineering) (Intake till 2017) </a> </li>
    <li> <a href="/course/btech-instrumentation-control"> B.Tech (Instrumentation
        and Control Engineering) (Intake till 2015) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li><a href="/course/m-tech-automation-and-robotics-engineering"> M.Tech
        (Automation and Robotics Engineering) (Ongoing) </a> </li>
    <li><a href="/course/m-tech-renewable-energy-engineering"> M.Tech (Renewable
        Energy Engineering) (Ongoing) </a> </li>
    <li> <a href="/course/m-tech-energy-systems"> M.Tech (Energy Systems) (Ongoing) </a> </li>
    <li><a href="/course/mtech-power-distribution-with-specialization-in-smart-grids"> M.Tech
        (Power Distribution with specialization in Smart Grids) (Intake till
        2014)</a> </li>
    <li><a href="/course/mtech-embedded-systems-with-specialization-in-wearble-technology"> M.Tech
        (Embedded Systems with specialization in Wearble Technology) (Intake
        till 2015)</a> </li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li><a href="/course/phd-electrical-engineering"> PhD (Electrical Engineering)
        (Ongoing) </a> </li>
    <li><a href="/course/phd-electronics-engineering"> PhD (Electronics Engineering)
        (Ongoing) </a> </li>
  </ul>
  <h4><a href="/schools/school-of-engineering/mechanical-department">Department
      of Mechanical Engineering</a></h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li> <a href="/course/b-tech-mechanical-engineering"> B.Tech. (Mechanical
        Engineering) (Ongoing)</a> </li>
    <li><a href="/course/btech-mechatronics-engineering"> B.Tech. (Mechatronics
        Engineering) (Ongoing)</a> </li>
    <li><a href="/course/b-tech-automotive-design-engineering"> B.Tech. (Automotive
        Design Engineering) (Ongoing) </a> </li>
    <li> <a href="/course/btech-material-science-spl-in-nano"> B.Tech (Material
        Science Engineering with Specialization in Nano Technology) (Intake till
        2015)</a> </li>
    <li><a href="/course/btech-production-industrial-engineering"> B.Tech (Production
        and Industrial Engineering) (Intake till 2015) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li><a href="/course/m-tech-rotating-equipment"> M.Tech (Rotating Equipment)
        (Ongoing) </a> </li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li><a href="/course/phd-mechanical-engineering"> PhD (Mechanical Engineering)
        (Ongoing) </a> </li>
  </ul>
  <h4> Department of Petroleum Engineering and Earth Sciences </h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li><a href="/course/b-tech-applied-petroleum-engineering-upstream"> B.Tech.
        (Applied Petroleum with specialization in Upstream) (Ongoing) </a> </li>
    <li><a href="/course/btech-geo-science-engineering"> B.TECH. (GEO SCIENCE
        ENGINEERING) (INTAKE TILL 2018) </a> </li>
    <li><a href="/course/btech-mining-engg"> B.Tech (Mining Engineering) (Intake
        till 2017) </a> </li>
    <li><a href="/course/bsc-hons-geology"> B.Sc (Hons.) Geology (Intake from
        2020) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li><a href="/course/m-tech-petroleum-engineering"> M.Tech (Petroleum Engineering)
        (Ongoing) </a> </li>
    <li><a href="/course/msc-petroleum-geosciences"> M.Sc. (Petroleum Geosciences)
        (Intake from 2020) </a> </li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li><a href="/course/phd-petroleum-engineering"> PhD (Petroleum Engineering)
        (Ongoing) </a> </li>
  </ul>
</div>

<div class="col-sm-6">
  <h3>SCHOOL OF COMPUTER SCIENCE</h3>
  <h4>B.Tech. (Hons.)** Computer Science and Engineering Programs</h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li> <a href="/course/btech-cse-hons-with-specialization-in-blockchain-technology-in-association-with-ibm"> B.Tech
        (Computer Science and Engineering with specialization in Blockchain)
        (Ongoing)#&nbsp; </a> </li>
    <li> <a href="/course/btech-computer-science-engineering-hons-with-specialization-in-it-infrastructure"> B.Tech
        (Computer Science and Engineering with specialization in IT Infrastructure)
        (Ongoing)#&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-hons-with-specialization-in-ai-machine-learning"> B.Tech
        (Computer Science and Engineering with specialization in Artificial Intelligence
        and Machine Learning) (Ongoing)#&nbsp; </a> </li>
    <li> <a href="/course/btech-computer-science-engineering-hons-with-specialization-in-banking-financial-services-insurance"> B.Tech
        (Computer Science and Engineering with specialization in Banking, Financial
        Services and Insurance) (Intake till 2018)#&nbsp; </a> </li>
    <li> <a href="/course/btech-hons-computer-science-engineering-with-specialization-in-computational-sustainability"> B.Tech
        (Computer Science and Engineering with specialization in Computational
        Sustainability) (Intake from 2020)&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-hons-with-specialization-in-big-data"> B.Tech
        (Computer Science and Engineering with specialization in Big Data) (Ongoing)^&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-hons-with-specialization-in-business-analytics-and-optimization"> B.Tech
        (Computer Science and Engineering with specialization in Business Analytics
        and Optimization) (Ongoing)#&nbsp; </a> </li>
    <li> <a href="/course/btech-computer-science-engineering-hons-with-specialization-in-cloud-computing-virtualization-technology"> B.Tech
        (Computer Science and Engineering with specialization in Cloud Computing
        and Virtualization Technology) (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-hons-with-specialization-in-cyber-security-and-forensics"> B.Tech
        (Computer Science and Engineering with specialization in Cyber Security
        and Forensics) (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-hons-with-specialization-in-e-commerce_2018"> B.Tech
        (Computer Science and Engineering with specialization in DevOps) (Ongoing)&nbsp; <a href="/course/btech-cse-with-devops-specialization"></a> </li>
    <li> <a href="/course/btech-computer-science-engineering-hons-with-specialization-in-e-commerce_2018"> B.Tech
        (Computer Science and Engineering with specialization in E Commerce Retail
        and Automation) (Intake till 2018)&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-hons-with-specialization-in-e-commerce"> B.Tech
        (Computer Science and Engineering with specialization in E Commerce)
        (Intake from 2019)#&nbsp; </a> </li>
    <li> <a href="/course/btech-computer-science-engineering-hons-with-specialization-in-graphics-gaming"> B.Tech
        (Computer Science and Engineering with specialization in Graphics and
        Gaming) (Ongoing)#&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-hons-with-specialization-in-internet-of-things-and-smart-cities"> B.Tech
        (Computer Science and Engineering with specialization in Internet of
        Things and Smart Cities) (Ongoing)#&nbsp; </a> </li>
    <li> <a href="/course/btech-computer-science-engineering-hons-with-specialization-in-mainframe-technology"> B.Tech
        (Computer Science and Engineering with specialization in Mainframe Technology)
        (Intake till 2018)#&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-hons-with-specialization-in-mobile-application-development"> B.Tech
        (Computer Science and Engineering with specialization in Mobile Application
        Development) (Intake till 2018)#&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-hons-with-specialization-in-oil-gas-informatics"> B.Tech
        (Computer Science and Engineering with specialization in Oil and Gas
        Informatics) (Ongoing)#&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-hons-with-specialization-in-open-source-open-standards"> B.Tech
        (Computer Science and Engineering with specialization in Open Source
        and Open Standards) (Ongoing)#&nbsp;</a> </li>
    <li> <a href="/course/btech-cse-manufacturing-systems"> B.Tech (Computer
        Science and Engineering with specialization in Manufacturing Systems)
        (Intake from 2020)&nbsp; </a> </li>
    <li> <a href="/course/btech-cse-mobile-computing"> B.Tech (Computer Science
        and Engineering with specialization in Mobile Computing) (Intake till
        2017)&nbsp; </a> </li>
    <li><a href="/course/btech-cse-healthcare-informatics"> B.Tech (Computer
        Science and Engineering with specialization in Healthcare Informatics)
        (Intake till 2016)&nbsp; </a> </li>
    <li><a href="/course/btech-computer-science-engineering-with-specialization-in-manufacturing-informatics-in-academic-collaboration-with-ibm"> B.Tech
        (Computer Science and Engineering with specialization in Manufacturing
        Informatics) (Intake till 2016)&nbsp;</a> </li>
    <li><a href="/course/btech-computer-science-engineering-with-specialization-in-telecom-informatics-in-academic-collaboration-with-ibm"> B.Tech
        (Computer Science and Engineering with specialization in Telecom Informatics)
        (Intake till 2016)&nbsp;</a> </li>
  </ul>
  <h4>BCA with specializations in -</h4>
  <ul>
    <li><a href="/course/bca-internet-of-things-in-academic-collaboration-with-oracle"> BCA
        (Internet of Things) (Ongoing)*&nbsp; </a> </li>
    <li><a href="/course/bca-banking-financial-services-and-insurance-in-academic-collaboration-with-oracle"> BCA
        (Banking, Financial Services and Insurance)*&nbsp; </a> </li>
  </ul>
  <h4>POSTGRADUATE
PROGRAMS</h4>
<ul>
                                            <li><a href="/course/m-tech-computer-science-and-engineering">
                                                    M.Tech (Computer Science and Engineering) (Ongoing)&nbsp;
                                              </a>
                                            </li>
                                            <li><a href="/course/mtech-by-research">
                                                    M.Tech (by Research) (Intake from 2020)&nbsp;
                                                </a>
                                            </li>
                                            </ul>
  <h4>DOCTORAL PROGRAMS</h4>
  <ul>
    <li><a href="/course/phd-computer-science-engineering"> PhD (Computer Science
        Engineering) (Ongoing)&nbsp; </a> </li>
  </ul>
 
  <h3 class="pt-4">SCHOOL OF LAW</h3>
  <h4>UNDERGRADUATE PROGRAMS</h4>
  <ul>
    <li><a href="/course/ba-ll-b-hons-with-specialization-in-energy-law-criminal-law-labor-law-constitution-law"> BA
        LL.B (Hons.) with specialization in Energy Law/ Criminal Law/ Labor Law/
        Constitution Law (Ongoing)&nbsp;</a> </li>
    <li> <a href="/course/bba-ll-b-hons-with-specialization-in-corporate-law-international-trade-investment-law-banking-finance-insurance-law"> BBA
        LL.B (Hons.) with specialization in Corporate Law/ International Trade
        and Investment Law / Banking, Finance and Insurance Law (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/b-com-llb-hons-with-specialization-in-taxation-lawmedia-entertainment-law-legal-compliance-and-secretarial-practices"> B.
        Com. LL.B (Hons.) with specialization in Taxation Law/Media and Entertainment
        Law/ Legal Compliance and Secretarial Practices (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/b-tech-ll-b-hons-computer-science-engineering-with-specialization-in-cyber-law-ipr-law"> B.
        Tech. (Hons.) Computer Science and Engineering with LL.B in Cyber Law/IPR
        (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/btech-energy-technology-plus-llb-with-ipr"> B. Tech.
        (Hons.) Energy Technology with LL.B in IPR Law (Intake till 2016)&nbsp; </a> </li>
  </ul>
  <h4>POSTGRADUATE PROGRAMS</h4>
  <ul>
    <li><a href="/course/ll-m-with-specialization-in-energy-law-business-law-international-economic-law-law-technology"> LL.M.
        with specialization in Energy Law / Business Law / International Economic
        Law / Law and Technology (Ongoing)&nbsp;</a> </li>
  </ul>
  <h4>DOCTORAL PROGRAMS</h4>
  <ul>
    <li> <a href="/course/phd-law"> PhD (Law) (Ongoing)&nbsp; </a> </li>
  </ul>

  <h3 class="pt-4">SCHOOL OF DESIGN</h3>
  <h4>UNDERGRADUATE PROGRAMS</h4>
  <ul>
    <li><a href="/course/bdes-industrial-and-product-design"> B.Des (Industrial
        and Product Design) (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/bdes-interior-and-retail-space-design"> B.Des (Interior
        and Retail Spaces Design) (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/b-des-transportation-and-mobility-design"> B.Des (Transportation
        and Mobility Design) (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/bdes-animation-and-vfx-design"> B. Des. Animation and
        VFX Design (Intake from 2020)&nbsp; </a> </li>
    <li><a href="/course/bdes-in-gaming-design-graphics-communication-design-user-experience-interaction-design-animation-and-vfx"> B.Des
        (Graphics and Communication Design) (Intake from 2020)&nbsp; </a> </li>
    <li> <a href="/course/b-des-gaming-design"> B. Des. Game Design (Intake from
        2020)&nbsp; </a> </li>
    <li><a href="/course/b-des-fashion-design"> B.Des (Fashion Design) (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/b-des-user-experience-and-interaction-design"> B. Des.
        User Experience and Interaction Design (Intake from 2020)&nbsp; </a> </li>
    <li><a href="/course/bdes-transportation-design"> B.Des (Transportation Design)
        (Intake till 2017)&nbsp; </a> </li>
    <li><a href="/course/bdes-communication-and-media-design-in-gaming-graphics-interaction-design-animation-and-vfx"> B.Des
        (Communication and Media Design) in Gaming/ Graphics/ Interaction Design/
        Animation and VFX (Intake till 2019)&nbsp;</a> </li>
    <li><a href="/course/bachelor-of-fine-arts"> Bachelor of Fine Arts (Intake
        till 2016)&nbsp; </a> </li>
    <li> <a href="/course/bachelor-of-planning"> Bachelor of Planning (Intake
        till 2017)&nbsp; </a> </li>
  </ul>
  <h4>POSTGRADUATE PROGRAMS</h4>
  <ul>
    <li> <a href="/course/m-des-fashion-design"> M.Des (Fashion Design) (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/mdes-transportation-design"> M.Des (Transportation Design)
        (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/m-des-product-design"> M.Des (Product Design) (Intake
        from 2020)&nbsp; </a> </li>
    <li> <a href="/course/m-des-user-experience-and-interaction-design"> M.Des
        (User Experience &amp; Interaction Design) (Intake from 2020)&nbsp; </a> </li>
    <li><a href="/course/m-des-transportation-and-mobility-design"> M.Des (Transportation &amp; Mobility
        Design) (Intake from 2020)&nbsp; </a> </li>
    <li><a href="/course/mdes-interaction-design"> M.Des (Interaction Design)
        (Intake till 2019)&nbsp; </a> </li>
    <li><a href="/course/mdes-industrial-design"> M.Des (Industrial Design) (Intake
        till 2019)&nbsp; </a> </li>
    <li> <a href="/course/mplan-urban-regional-planning"> Master of Planning
        (Intake till 2017)&nbsp; </a> </li>
  </ul>

</div>
<div class="col-sm-6 pt-5">
  <h3>SCHOOL OF BUSINESS</h3>
  <h4> Department of Economics and International Business </h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li><a href="/course/ba-hons-economics"> BA (Hons.) Economics (Ongoing) </a> </li>
    <li> <a href="/course/bba-foreign-trade"> BBA (Foreign Trade) (Ongoing) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li><a href="/course/mba-international-business"> MBA (International Business)
        (Ongoing) </a> </li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li><a href="/course/phd-economics-and-international-business"> PhD (Economics
        and International Business) (Ongoing) </a> </li>
  </ul>
  <h4>Department of Energy Management</h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li> <a href="/course/bba-oil-and-gas-marketing"> BBA (Oil and Gas Marketing)
        (Ongoing) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li> <a href="/course/mba-power-management"> MBA (Power Management) (Ongoing) </a> </li>
    <li> <a href="/course/mba-oil-and-gas-management"> MBA (Oil and Gas Management)
        (Ongoing) </a> </li>
    <li> <a href="/course/mba-urban-infrastructure-smart-cities"> MBA (Urban
        Infrastructure and Smart Cities) (Intake till 2017) </a> </li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li> <a href="/course/phd-energy-management"> PhD (Energy Management) (Ongoing) </a> </li>
  </ul>
  <h4>Department of General Management</h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li> <a href="/course/bba-digital-marketing"> BBA (Digital Marketing) (Ongoing) </a> </li>
    <li> <a href="/course/bba-analytics-and-big-data"> BBA (Analytics and Big
        Data) (Ongoing) </a> </li>
    <li><a href="/course/bba-entrepreneurship-and-family-business"> BBA (Family
        Business and Entrepreneurship) (Ongoing) </a> </li>
    <li> <a href="/course/bba-financial-analysis-and-services"> BBA (Financial
        Analysis and Services) (Ongoing) </a> </li>
    <li> <a href="/course/bba-e-business"> BBA (E-Business) (Intake till 2018) </a> </li>
    <li> <a href="/course/bba-media-management"> BBA (Media Management) (Intake
        till 2017) </a> </li>
    <li> <a href="/course/bba-accounting-and-information-systems"> BBA (Accounting
        and Information Systems) (Intake till 2018) </a> </li>
    <li> <a href="/course/bba-human-resource-marketing-operations-management"> BBA
        with specialization in Human Resource / Marketing Management / Finance
        Management / Operations Management (Ongoing)</a> </li>
    <li><a href="/course/b-com-hons"> B.Com (Hons.) (Ongoing) </a> </li>
    <li><a href="/course/b-com-hons-banking-insurance-and-management"> B.Com
        (Hons.) with specialization in Banking, Management and Insurance (Ongoing)</a> </li>
    <li> <a href="/course/bba-e-commerce-marketing"> BBA (E-Commerce Marketing)
        (Intake till 2015) </a> </li>
    <li> <a href="/course/ba-public-policy-and-administration"> BA Public Policy
        and Administration (Ongoing) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li> <a href="/course/mba-business-analytics"> MBA (Business Analytics) (Ongoing) </a> </li>
    <li><a href="/course/mba-human-resource-marketing-finance-operations-management"> MBA
        with specialization in Human Resource / Marketing Management / Finance
        Management / Operations Management (Ongoing)</a> </li>
    <li><a href="/course/mba-in-information-system-management"> MBA (Information
        System Management) (Intake till 2014) </a> </li>
    <li> <a href="/course/mba-digital-business"> MBA (Digital Business) (Intake
        from 2020) </a> </li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li> <a href="/course/phd-general-management"> PhD (General Management) (Ongoing)</a> </li>
  </ul>
  <h4>Department of Transportation Management</h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li> <a href="/course/bba-logistics-management"> BBA (Logistics Management)
        (Ongoing) </a> </li>
    <li> <a href="/course/bba-in-aviation-operation"> BBA (Aviation Operation)
        (Intake till 2019) </a> </li>
    <li><a href="/course/bba-aviation-management">ion Management) (Intake from
        2020) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li><a href="/course/mba-aviation-management"> MBA (Aviation Management)
        (Ongoing) </a> </li>
    <li> <a href="/course/mba-logistics-and-supply-chain-management"> MBA (Logistics
        and Supply Chain Management) </a> </li>
    <li><a href="/course/mba-port-shipping-management"> MBA (Port and Shipping
        Management) (Intake till 2018) </a> </li>
  </ul>
  <p>DOCTORAL PROGRAMS</p>
  <ul>
    <li><a href="/course/phd-transportation-management"> PhD (Transportation
        Management) (Ongoing) </a> </li>
  </ul>
</div>
<div class="col-sm-6 pt-5">
  <h3>School Of Health Sciences</h3>
  <h4> Department of Allied Health Sciences </h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li><a href="/course/bsc-food-nutrition-and-dietetics"> B.Sc (Food, Nutrition
        and Dietetics) (Ongoing) </a> </li>
    <li><a href="/course/b-sc-microbiology"> B. Sc. (Microbiology) (Intake from
        2020) </a> </li>
    <li> <a href="/course/btech-food-technology"> B. Tech. Food Technology (Intake
        from 2020) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul>
    <li><a href="/course/m-sc-microbiology"> M. Sc. (Microbiology) (Intake from
        2020) </a> </li>
    <li> <a href="/course/msc-nutrition-and-dietetics"> M. Sc. (Nutrition and
        Dietetics) (Intake from 2020) </a> </li>
  </ul>
  <h4> Department of Pharmaceutical Sciences</h4>
  <p>UG PROGRAMS</p>
  <ul>
    <li> <a href="/course/b-pharma"> B.Pharmacy (Ongoing) </a> </li>
    <li> <a href="/course/d-pharma"> D. Pharmacy (Intake from 2020) </a> </li>
    <li> <a href="/course/b-sc-clinical-research"> B. Sc. (Clinical Research)
        (Intake from 2020) </a> </li>
  </ul>
  <p>PG PROGRAMS</p>
  <ul class="GraduateList">
    <li> <a href="/course/m-sc-clinical-research"> M. Sc. (Clinical Research)
        (Intake from 2020) </a> </li>
    <li> <a href="/course/m-sc-pharmaceutical-chemistry"> M. Sc. (Pharmaceutical
        Chemistry) (Intake from 2020) </a> </li>
  </ul>
    <h3 class="pt-4">School Of Modern Media</h3>
  <h4> UNDERGRADUATE PROGRAMS</h4>
  <ul>
    <li><a href="/course/ba-journalism-mass-communication"> BA Journalism and
        Mass Communication&nbsp; </a> </li>
    <li><a href="/course/ba-digital-mass-media"> BA Digital and Mass Media&nbsp; </a> </li>
    <li><a href="/course/bba-events-pr-corporate-communication"> BBA Events,
        Public Relations and Corporate Communications&nbsp; </a> </li>
  </ul>
  <h4>POSTGRADUATE PROGRAMS</h4>
  <ul>
    <li> <a href="/course/ma-advertising-digital-marketing"> MA Advertising and
        Digital Marketing&nbsp; </a> </li>
    <li> <a href="/course/ma-photography"> MA Photography&nbsp; </a> </li>
    <li> <a href="/course/mba-media-entertainment"> MBA Media and Entertainment&nbsp; </a> </li>
  </ul>
    <h3 class="pt-4">Doctoral Courses</h3>
  <h4>DOCTORAL PROGRAMS</h4>
  <ul>
    <li> <a href="/course/phd-physics"> PhD (Physics) (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/phd-chemistry"> PhD (Chemistry) (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/phd-mathematics"> PhD (Mathematics) (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/phd-law"> PhD (Law) (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/phd-aerospace-engineering"> PhD (Aerospace Engineering)
        (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/phd-chemical-engineering"> PhD (Chemical Engineering)
        (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/phd-civil-engineering"> PhD (Civil Engineering) (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/phd-electrical-engineering"> PhD (Electrical Engineering)
        (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/phd-electronics-engineering"> PhD (Electronics Engineering)
        (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/phd-mechanical-engineering"> PhD (Mechanical Engineering)
        (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/phd-petroleum-engineering"> PhD (Petroleum Engineering)
        (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/phd-safety-engineering"> PhD (Safety Engineering) (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/phd-general-management"> PhD (General Management) (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/phd-energy-management"> PhD (Energy Management) (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/phd-transportation-management"> PhD (Transportation
        Management) (Ongoing)&nbsp; </a> </li>
    <li><a href="/course/phd-computer-science-engineering"> PhD (Computer Science
        Engineering) (Ongoing)&nbsp; </a> </li>
    <li> <a href="/course/phd-economics-and-international-business"> PhD (Economics
        and International Business) (Ongoing)&nbsp; </a> </li>
  </ul>
</div>

    <div class="col-md-4 pt-5">
      <h3>Admissions</h3>
      <ul>
        <li><a href="/aspiring-students/#admissionSection" target="_self">Important
            Dates</a></li>
        <li><a href="/admission-alerts" target="_self">Admission Alerts</a></li>
        <li><a href="/covid-19-response" target="_blank">Covid-19 Response</a></li>
        <li><a href="/aspiring-students/#financialSection" target="_self">Financial
            assistance</a></li>
        <li><a href="/scholarships" target="_self">Scholarships</a></li>
        <li><a href="/upes-international-admissions" target="_self">INTERNATIONAL
            ADMISSIONS</a></li>
        <li><a href="/students-lateral-entry-policy-for-engg-technology" target="_self">Lateral
            Entry</a></li>
        <li><a href="/aspiring-students/#helpSection" target="_self">Help Topics</a></li>
        <li><a href="/experience-centre" target="_blank">Experience Centre</a></li>
      </ul>
    </div>
    <div class="col-md-4 pt-5">
      <h3>Life UPES</h3>
      <ul>
        <li><a href="https://virtualtour.upes.ac.in/" target="_blank">VIRTUAL
            CAMPUS TOUR</a></li>
        <li><a href="/student-achievements" target="_blank">Student Achievements</a></li>
        <li><a href="/student-stories" target="_blank">Student &amp; Alumni Stories</a></li>
        <li><a href="/parent-stories" target="_blank">Parent Stories</a></li>
        <li><a href="/events" target="_blank">Events</a></li>
        <li><a href="/campus" target="_blank">Campus Facilities</a></li>
        <li><a href="/student-space" target="_blank">Student Corner</a></li>
        <li><a href="/immersive-academic-learning" target="_blank">IMMERSIVE
            ACADEMIC LEARNING</a></li>
        <li><a href="/webinars" target="_blank">Webinars</a></li>
      </ul>
    </div>
    <div class="col-md-4 pt-5">
      <h3><a target="_self" href="/placement/placements-recruiters">PLACEMENTS</a></h3>
      <ul>
        <li><a href="/placement/placements-recruiters" target="_self">Placements &amp; Recruiters</a></li>
        <li><a href="/placement/training-preparation" target="_self">Training &amp; Preparation</a></li>
        <li><a href="/placement/alumni-connect" target="_self">Alumni Connect</a></li>
      </ul>
    </div>
  
    <div class="col-md-4">
      <h3><a href="/aspiring-students" target="_self">ASPIRING STUDENTS</a></h3>
      <ul>
        <li><a href="https://admission.upes.ac.in/apply" target="_blank">Apply
            Now</a></li>
        <li><a href="/aspiring-students/#PanelTwo" target="_self">Programs Made
            For You</a></li>
        <li><a href="/aspiring-students/#admissionSection" target="_self">Admissions
            2020</a></li>
        <li><a href="https://www.upes.ac.in/media/5008/refund-policy-2020-21.pdf" target="_blank">Fee
            Refund Policy</a></li>
        <li><a href="https://refund.upes.ac.in/" target="_blank">Fee Refund</a></li>
        <li><a href="/admission-alerts" target="_self">Admission Alerts</a></li>
        <li> <a href="/aspiring-students/#financialSection" target="_self">Financial
            Assistance</a></li>
        <li><a href="/upes-international-admissions" target="_self">International
            Admissions</a></li>
        <li><a href="/aspiring-students/#helpSection" target="_self">Help Topics</a></li>
        <li><a href="https://blog.upes.ac.in/" target="_self">UPES Blog</a></li>
        <li><a href="https://www.upes.ac.in/media" target="_self">UPES in Media</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3><a href="/parents" target="_self">PARENTS</a></h3>
      <ul>
        <li> <a href="/campus" target="_self">Campus</a></li>
        <li><a href="/student-achievements" target="_self">Student Achievements</a></li>
        <li><a href="/student-stories" target="_self">Student Stories</a></li>
        <li><a href="/parents/#coursesSection" target="_self">Programs</a></li>
        <li> <a href="/events" target="_self">Events</a></li>
        <li> <a href="/parents/#parentSection" target="_self">Parent Stories</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3><a href="/student" target="_self">UPES STUDENTS &amp; EMPLOYEES</a></h3>
      <ul>
        <li><a href="/student/#loginSection" target="_self">Student Space</a></li>
        <li><a href="/student/#healthSection" target="_self">Health and Medical
            Services</a></li>
        <li><a href="/student/#internshipSection" target="_self">International
            Internships</a></li>
        <li><a href="/student/#affairsSection" target="_self">Student Affairs</a></li>
        <li><a href="/student/#stuDownSection" target="_self">Student Downloads</a></li>
        <li><a href="/schools-faculty" target="_self">UPES Faculty</a></li>
        <li><a href="/upes-employees/#facultySection" target="_self">Faculty
            Downloads</a></li>
        <li> <a href="/upes-employees/#workingSection" target="_self">Working
            At UPES</a></li>
        <li><a href="/careers" target="_self">Current Openings</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3><a href="https://www.upes.ac.in/" target="_self">UPES</a></h3>
      <ul>
        <li> <a href="/nirf-ranking-report-2020" target="_self">NIRF Ranking
            Report 2020</a></li>
        <li> <a href="/nirf-ranking-report" target="_self">NIRF Ranking Report</a></li>
        <li><a href="https://iqac.upes.ac.in/" target="_blank">IQAC</a></li>
        <li><a href="/feedback" target="_self">Feedback</a></li>
        <li><a href="https://www.upes.ac.in/media/4733/upes-covid19-academic-action-plan.pdf" target="_blank">UPES
            Covid19 Academic Action Plan</a></li>
        <li><a href="https://www.upes.ac.in/media/3989/upes-strategic-plan-2018-22.pdf" target="_blank">STRATEGIC
            PLAN UPES 2018-22</a></li>
        <li><a href="/about-us/mandatory-disclosure" target="_blank">Mandatory
            Disclosures</a></li>
        <li><a href="/scholarships" target="_self">Scholarships</a></li>
        <li> <a href="/contact-us" target="_self">Contact UPES</a></li>
        <li><a href="/download" target="_blank">Download Brochures</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3><a href="https://www.upes.ac.in/" target="_self">Admissions 2020</a></h3>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><a href="/mba-admission" target="_blank">MBA</a></li>
            <li><a href="/btech-admission" target="_blank">B.Tech</a></li>
            <li><a href="/mtech-admission" target="_blank">M.tech</a></li>
            <li><a href="/bsc-admission" target="_blank">B.Sc</a></li>
            <li><a href="/llb-admission" target="_blank">LLB</a></li>
            <li><a href="/bba-admission" target="_blank">BBA</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li><a href="/bdes-admission" target="_blank">B.des</a></li>
            <li><a href="/mdes-admission" target="_blank">M.des</a></li>
            <li><a href="/ba-admission" target="_blank">BA</a></li>
            <li><a href="/ma-admission" target="_blank">MA</a></li>
            <li><a href="/bcom-admission" target="_blank">Bcom</a></li>
            <li><a href="/bca-admission" target="_blank">BCA</a></li>
          </ul>
        </div>
      </div>
    </div>
      <div class="col-md-4">
      <h3><a target="_self" href="/industry-connect">Industry Connect </a></h3>
      <h3><a target="_self" href="/international-connect">International Connect</a></h3>
      <h3><a target="_self" href="/covid-19-response">Covid-19 Response </a></h3>
      <h3><a target="_blank" href="http://library.ddn.upes.ac.in:8081/upeslib/">Library</a></h3>
      <h3><a target="_self" href="https://research.upes.ac.in/">Research</a></h3>
      <h3><a target="_self" href="https://blog.upes.ac.in/">Blog</a></h3>
      <h3><a target="_self" href="/contact-us">Contact us</a></h3>
    </div>
  </div>
</div></div>

</main>
<style>
    .site-map {
    padding: 90px 0;
    width: 100%;
    display: block;
}
.site-map h3 {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #00448b;
    border-bottom: 1px solid #ffca08;
    display: table;
    margin-bottom: 15px;
}
.site-map h3 a {
    color: #00448b;
    display: block;
}
.site-map h4 {
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 10px;
    color: #333;
    font-weight: 600;
    padding-top: 5px;
}
.site-map ul {
    padding-top: 10px;
    padding-left: 20px;
    display: block;    padding-bottom: 50px;
}
.site-map ul li {
    list-style-type: disc;
    color: #00448b;
}
.site-map ul li a {
    display: inline-block;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 8px;
}
.site-map p {
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}
.site-map .col-sm-6 ul {
    padding-bottom: 0;
}
.site-map h4 a {
    color: #000;
}
</style>


