﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SocialLife>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


<style>
.bullet_sec {
    max-width: 490px;
    background: #f9f2f2;
    padding: 40px 60px 80px 0px;
    margin-left: 50px;
    margin-top: 20px;
    z-index: 9;
    position: absolute;
    float: left;
    top: 0;
}
.plr100.padd_btm h5 {
    font-size: 2vw;
}

p {
	
 font-weight: 500;
    font-size: 1vw;
    line-height: 28px;
}
h2 {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 800;
    font-family: inherit;
    margin: inherit;
    line-height: initial;
    padding-bottom: 30px;
}


h3 {
    font-size: 1.4vw;
    font-weight: 400;
    font-family: inherit;
    margin: inherit;
    line-height: initial;
    padding-bottom: 30px;
}


h4 {
    font-size: 1.2vw;
    color: #848484; line-height:1.5; font-weight:400; }

.bullet_list li {
       padding: 20px 0 0 35px;
    position: relative;
    color: #000000;
    list-style: none;
    font-size: 1vw;
    line-height: 28px;
}

.bullet_list li:before {
    content: '';
    background: #bc8020;
    position: absolute;
    top: 28px;
    left: 10px;
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 26px;
}
.bullet_list ul {
    padding-left: 0;
}
.bullet_list.mt-0.wow.fadeInDown ul li {
    font-weight: 400;
}

</style>

 
  
<div class="plr100 padd_btm">
 <div class="row pb-md-5">
 
 <div class="col-md-12">
 <h3>The Higher Education landscape today is evolving continually to meet the needs of students, society at large and the future of work in a dynamic and emergent global scenario. To meet the challenges of this constant novel and ever changing environment there is a need to re-imagine learning and education that is a balance between what students want, and what is needed of them as future global citizens and leaders of tomorrow.</h3>
 </div>
 
 			<div class="col-md-12">
            <img alt="InterfaceAuto" src="https://www.upes.ac.in/media/5315/banner_img.jpg" class="img-fluid w-100 wow fadeInDown">
            <div class="bullet_sec">
            
            <p class="wow fadeInDown"> Learning today is no longer about the need to know, but more about the need to discover, experience, explore and challenge. It is about continued learning in keeping with the environment and ecosystems that a 21st Century individual habits, and the continuum of change at a pace that is hard to fathom. </p>
<p>The need to re-imagine university education is not new. It is however important to do this without losing out on the essence of the institutional vision that is the foundation of its being. The core objective of universities is to help students progress into meaningful employment and to benefit from their acquired qualification over time. Given the pace of change, it is now necessary to envision and pre-empt that change and equip learners to adapt and evolve using competencies to grow as they move forward. Thus University education must be broad based and all encompassing. Students graduating from institutions of higher learning must be prepared to move into the mainstream of a changing environment with competencies to continue learning and evolving throughout their professional and adult lives. </p>

            
          
        </div>
            </div>
 
    	<div class="col-md-6">
          
        </div> 
        
        <div class="col-md-6">
        	<img alt="InterfaceAuto" src="https://www.upes.ac.in/media/5310/banner_img2.jpg" class="img-fluid w-100 wow fadeInDown">
        </div>
        
        <div class="col-md-12 pt-4">
        <h5 class="py-4">Vision</h5>
          </div>
          <div class="col-md-6">
               	<img alt="InterfaceAuto" src="https://www.upes.ac.in/media/5314/vision_img.jpg" class="img-fluid w-100 wow fadeInDown">
               </div>
              <div class="col-md-6"> 
              <p class="wow fadeInDown">The institution of the School of Life is a result of a curriculum realignment that looks to address the needs of the 21st Century learner and the future of higher education in India and internationally.</p> 
           <p>Learning in the 21st Century requires mastery of subject content and competency while synthesizing, and evaluating information from a wide variety of subjects and sources with an understanding of and respect for diverse cultures. Given the global nature of the world, learners today are required to be creative, collaborative and communicative. Digital literacy, virtual tools and open-source courseware create borderless learning territories and access to information limitless. Embracing a 21st-century learning model requires consideration of those elements that could comprise such a shift, thereby enabling learners to take intellectual risks, and foster an affinity for life-long learning. It is a model of learning that is student centred and learner driven and aligned to outcomes that have both depth and width of knowledge and experience.</p>
           </div>
           
 
 
     <div class="col-md-12">
    <h5 class="py-4">Aims and Objective</h5>
    <p>The School of Life seeks to facilitate a broad-based learning experience of all students enrolled in the various programmes across the specialisms on offer by its six Schools. Through its bespoke curricular structure the School of Life aims to deliver a broad base of curricular, co-curricular and extra-curricular learning experience that is the unique signature of an UPES graduate and contributes towards his/her development as a 21st Century learner with strong metacognitive abilities.  </p>
    <p class="pt-4"><strong>The objectives of the courses on offer at the School of Life are:</strong></p>
    


   </div>
    <div class="col-md-6">
   <div class="bullet_list mt-0 wow fadeInDown">
        <ul>
   <li>To provide a learning pathway to students from diverse backgrounds through distinct levels of subject competencies with a choice of differentiated areas of in-depth learning in the liberal arts, humanities and life skill subject</li>
  <li>To nurture student&rsquo;s skills using a problem-solving, inquiry-based ability to develop as an autonomous learner, thinker and practitioner.</li>
  <li>To motivate students to develop intellectual and critical thinking in their work through rigorous research enquiry, evaluation and application.</li>
  <li>To enable students to acquire sufficient diversity of experience and understanding through curricular, co-curricular and extracurricular subjects learning at institutional and external settings of varied projects.</li>

        </ul>
        </div>
        </div>
        
        <div class="col-md-6">
  		 <div class="bullet_list mt-0 wow fadeInDown">
        <ul>
         <li>To make students &lsquo;future-ready&rsquo; while focusing on strengthening their learning abilities and independent thinking.&nbsp;</li>
  <li>To equip students with life skills necessary to lead successful personal and professional life.&nbsp;</li>
  <li>To enable students to become global learners while remaining connected to their roots.&nbsp;</li>
  <li>To empower integrative thought processes among students that instill lifelong learning habits.</li>
      
        </ul>
        </div>
        </div>
        
         <div class="col-md-6 pt-4 wow fadeInDown">
        	<img alt="InterfaceAuto" src="https://www.upes.ac.in/media/5312/object_img1.jpg" class="img-fluid w-100">
        </div>
         <div class="col-md-6 pt-4 wow fadeInDown">
        	<img alt="InterfaceAuto" src="https://www.upes.ac.in/media/5313/object_img2.jpg" class="img-fluid w-100">
        </div>
        
         <div class="col-md-12 pt-4 wow fadeInDown">
        	  <h5 class="py-4">Overall Learning Outcomes</h5>
             <p>The attributes of 21st century learner is to recognize, identify and foster the unique capabilities of individuals; flexibility to choose learning trajectories and programs according to one’s own inclination and skill. Academic curriculum in millennial society demands an international and multidisciplinary approach leading to amalgamation of various fields of knowledge and paving the path for life-long learning while focusing on conceptual understanding and active participation in teaching-learning pedagogy.</p>
             <p>The courses at the School of Life address the following learning outcomes that are unique to the UPES learning engagement.</p>
 
        </div>
        
          <div class="col-md-6">
          <p class="pt-4"><strong>Knowledge and Understanding (Content and learning engagement of theory and theoretical context)</strong></p>
  		 <div class="bullet_list mt-0 wow fadeInDown">
        <ul>
         <li>Apply in-depth understanding of attained life skills and broad-based subject competencies along with core subject qualifications to be better placed to take advantage of educational and employment opportunities.</li>
  <li>Co-relate resourceful and innovative curricular and co-curricular skills incorporated in the curriculum to efficiently enter and contribute to a competitive and global workforce. </li>
  <li>Synthesize acquired cognitive competencies with domain knowledge to exhibit adaptive and positive conduct and the ability for continued learning.</li>
  <li>Select and employ appropriate technology, resources and processes for study, research and practice, relevant to the subject or problem at hand.</li>
  <li>Critically analyze issues by implementing independent thinking, introspection and drawing apt conclusion. </li>
  <li>Identify and appreciate diverse cultures, ethnic and communities while managing emotions and sustain mental health.</li>

      
        </ul>
        </div>
        </div>
           
        <div class="col-md-6">
         <p class="pt-4"><strong>Skills and Attributes <br><br></strong></p>
  		 <div class="bullet_list mt-0 wow fadeInDown">
        <ul>
         <li>Display personal and professional attributes for adaptability and collaboration by understanding the strength and limitations of a given context.</li>
  <li>Demonstrate complex solving competency by integrating multi-disciplinary approach with a domain specific knowledge.  </li>
  <li>Source data independently and synthesize information, apply subject research skills and exercise judgment in complex planning.</li>
  <li>Study, work and learn independently in all situations, plan and manage research activities, reflect on and evaluate the outcomes. </li>
  <li>Communicate complex or contentious information clearly and effectively to specialists and non-specialists </li>
  <li>Work cooperatively and collaboratively in a team and also practice work ethics and values associated with a professional in the industry.</li>

      
        </ul>
        </div>
        </div>
        
        <div class="col-md-12 pt-4 wow fadeInDown">
        	  <h5 class="py-4">Course Design </h5>
        </div>
         <div class="col-md-6 wow fadeInDown">
        	 <p>The Undergraduate Programme at UPES offers teaching and learning in four clearly demarcated yet academically integrated areas covering Core Specialization courses, Exploratory (Interdisciplinary Electives), Signature and Life Skill courses, all of which are credited, and are the basis of the Degree award.  The latter three selection of courses are on offer at the School of Life and are structured to be read alongside the students core academic curriculum. </p>
             <p>Core Specialization subjects cover areas that are intrinsically linked to the study  of the core specialism subjects offered in the main programme of study, directed at the understanding and application of subject knowledge and competencies, and cover advanced skills and practices related to the student’s specialization area.</p>
             <p>Exploratory (Interdisciplinary Electives) courses encourage students to develop a broad base approach to learning by selecting  subjects of study from other Schools at the University to grow their width and depth of knowledge beyond their chosen specialism and expose them to the wider scope of university education.</p>

        </div>
        
         <div class="col-md-6 wow fadeInDown">
        	<img alt="InterfaceAuto" src="https://www.upes.ac.in/media/5311/course_img1.jpg" class="img-fluid w-100">
        </div>
        
         <div class="col-md-12 pt-4 wow fadeInDown">
        	<p><strong>Exploratory courses may contribute towards: </strong></p>
            <div class="bullet_list mt-0 wow fadeInDown">
            <ul>
            <li>a Minor qualification (if all the selected courses are from the same School and add up to the credit requirements of such a qualification), or </li>
            <li>a second Minor as may be the case (where the first minor may be a mandatory requirement of a specific School/programme and built into the said curriculum).  </li>
            <li>Students also have the freedom of choice in this segment to read a variety of different courses from different schools for an all-round learning experience.  </li>
            </ul>
			</div>
<p>Signature courses include areas that are not specifically linked to a vocation and focus on the 21st Century learner skills and attributes to meet the requirements of the graduate profile and empower students as global citizens of the future. These courses that are undertaken by all UPES undergraduate and select graduate students from specific disciplines.</p>
<p>Life Skill courses are those which allow students to upskill into University learning styles and pick additional skills with a focus on enhanced employability and communication, along with management and professional skills including critical thinking, problem solving and creativity. </p>

<p>Apart from the above students are also expected to be a part of a wide variety individually selected co-curricular and extra-curricular activities for the duration of their learning years at the University. Participation in these activities under the guidance of faculty from the School of Life is a mandatory non credit based requirement for the all-round development of the learners. It is believed that participation in such activities builds character and give a sense of individual.</p>




        </div> 
        
        
        
        
        
    </div>
 
 
 	 
 </div>
 