﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@{
    /**/

    Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/aboutUsTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" type="text/css" />
}
<main role="main" class="aboutUs">
    <!--Banner-->
    <style>
        .studentContent ul li a {
            color: #000;
        }

        .studtitle h2 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 7px;
            color: #000;
        }

        .anchorclick {
            height: 100%;
            width: 100%;
            position: absolute;
            cursor: pointer;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .mg-bot {
            margin-top: 20px;
            padding-left: 100px;
        }

        .mr_ml {
            margin-left: -125px;
            margin-right: -125px;
        }

        .bg:nth-child(odd) {
            background: #eee;
        }

        .bg:nth-child(even) {
            background: #eee;
        }

        .section-4 {
            display: none;
        }

        .aboutUs .section-1 {
            padding-bottom: 0;
        }

        .SchoolDetailPanel .BannerStripContext h1, .ProgramDetailPanel .BannerStripContext h1 {
            line-height: 5vw !important;
            top: 25vh !important;
            font-size: 4.5vw !important;
        }

        .studtitle {
            padding: 10px 0px;
        }

        @@media (min-width: 1440px) {
            .mr_ml {
                margin-left: 0;
                margin-right: 0;
            }

            .plr100 {
                padding: 0;
            }

            .SchoolDetailPanel .BannerStripContext h1, .ProgramDetailPanel .BannerStripContext h1 {
                line-height: 40vh !important;
            }
        }

        @@media (max-width: 991px) and (min-width: 768px) {
            .SchoolDetailPanel .BannerStripContext h1, .ProgramDetailPanel .BannerStripContext h1 {
                line-height: 23vh !important;
            }

            .mr_ml {
                margin-left: 0;
                margin-right: 0;
            }

            .mg-bot {
                padding: 0;
            }
        }

        @@media (max-width: 767px) {
            .aboutUs .BannerSection .BannerStripContext .fontExBold {
                display: block;
            }

            .mr_ml {
                margin-left: 0;
                margin-right: 0;
            }

            .mg-bot {
                padding: 0px;
            }

            .SchoolDetailPanel .BannerStripContext h1, .ProgramDetailPanel .BannerStripContext h1 {
                top: 13vh !important;
            }

            .breadcrumb.breadcrumbCustom {
                display: none;
            }

            .SchoolDetailPanel .BannerStripContext h1 {
                font-size: 22px !important;
            }
        }

        @@media (max-width: 1199px) and (min-width: 992px) {
            .SchoolDetailPanel .BannerStripContext h1, .ProgramDetailPanel .BannerStripContext h1 {
                line-height: 25vh !important;
            }

            .mr_ml {
                margin-left: 0;
                margin-right: 0;
            }

            .plr100 {
                padding: 0 0px;
            }
        }
    </style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        <div class="breadcrumbPanel">
            <ol class="breadcrumb breadcrumbCustom">
                <li class="breadcrumb-item fontBold"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">@Model.Content.Name</li>
            </ol>
        </div>
        <div class="plr20 fullwidth SchoolDetailPanel">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <div class="fontExBold ">
                        <h1 class="fontExBold animateTitle">
                            @(Model.Content.GetPropertyValue<string>("pageTitle"))
                        </h1>
                    </div>
                }
                <div class="StripContent">
                    <p>
                        @if (Model.Content.HasProperty("pageDescription") && Model.Content.HasValue("pageDescription"))
                        {
                            @(Model.Content.GetPropertyValue<string>("pageDescription"))
                        }
                    </p>
                </div>
            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (mobileBannerPath == null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, imgPath))
                    }
                    else if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
                @*@if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                    {
                        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("bannerImage"), Umbraco);
                        if (imgPath != null)
                        {
                            <picture class="d-none d-md-block">
                                <img src="@imgPath.Url" class="img-fluid" alt="Banner" />
                            </picture>
                        }
                    }
                    <picture class="d-block d-md-none">
                        <img src="../src/img/aboutus-page/banner-mob.jpg" class="img-fluid" alt="Banner" />
                    </picture>*@
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <div class="section-1" id="PanelTwo">
        <div class="mr_ml bg-white pt-3 pb-3">
            <div class="plr100">
                <div class="row mt-3">
                    @if (Model.Content.HasValue("studentSupport"))
                    {
                        var contents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("studentSupport");
                        if (contents.Count() > 0)
                        {
                            int i = 0;
                            foreach (var content in contents)
                            {
                                if (content.HasValue("pageLink"))
                                {
                                    i++;
                                    var pageLink = content.GetPropertyValue<IEnumerable<IPublishedContent>>("pageLink").First();
                                    if (pageLink != null)
                                    {
                                        <div class="col-sm-6 mb-3 mg-bot@(i==3||i==4?" bg":"")">
                                            <div class="studtitle"><a href="@pageLink.Url" class=""><h2 class="fontBlack text-uppercase titleh3">@Html.Raw(content.GetPropertyValue("title"))</h2></a></div>
                                            <div class="row mb-3">
                                                <div class="col-md-5">
                                                    <div class="supportImage">
                                                        @if (content.HasValue("image"))
                                                        {
                                                            var imgPath = content.GetPropertyValue<IPublishedContent>("image");
                                                            if (imgPath != null)
                                                            {
                                                                <a href="@pageLink.Url" class="">
                                                                    <img src="@imgPath.GetCropUrl("studentSupportCrop")" alt="" class="img-fluid">
                                                                </a>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="studentContent">
                                                        @if (content.HasValue("contents"))
                                                        {
                                                            var textContents = content.GetPropertyValue<IEnumerable<IPublishedContent>>("contents");
                                                            if (textContents != null)
                                                            {
                                                                if (textContents.Count() != 0)
                                                                {
                                                        <ul>
                                                            @foreach (var textContent in textContents)
                                                            {
                                                                if (textContent.HasValue("contentLink"))
                                                                {
                                                                    var links = textContent.GetPropertyValue<RelatedLinks>("contentLink").First();
                                                                    if (links != null)
                                                                    {
                                                                        <li><a href="@links.Link" target="@links.NewWindow"><strong>@Html.Raw(textContent.GetPropertyValue("contentTitle"))</strong></a></li>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <li><strong>@Html.Raw(textContent.GetPropertyValue("contentTitle"))</strong></li>
                                                                }

                                                            }
                                                        </ul>
                                                                }
                                                            }
                                                        }
                                                        else if (content.HasValue("content"))
                                                        {
                                                            var stuContents = content.GetPropertyValue<string[]>("content");
                                                            <ul>
                                                                @foreach (var stuContent in stuContents)
                                                                {
                                                                    <li><strong>@stuContent</strong></li>
                                                                }
                                                            </ul>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-6 mb-3@(i==3||i==4?" bg":"")">
                                            <div class="studtitle"><h2 class="fontBlack text-uppercase titleh3">@Html.Raw(content.GetPropertyValue("title"))</h2></div>
                                            <div class="row mb-3">
                                                <div class="col-md-5">
                                                    <div class="supportImage">
                                                        @if (content.HasValue("image"))
                                                        {
                                                            var imgPath = content.GetPropertyValue<IPublishedContent>("image");
                                                            if (imgPath != null)
                                                            {
                                                                <img src="@imgPath.GetCropUrl("studentSupportCrop")" alt="" class="img-fluid">

                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="studentContent">
                                                        @if (content.HasValue("content"))
                                                        {
                                                            var stuContents = content.GetPropertyValue<string[]>("content");
                                                            <ul>
                                                                @foreach (var stuContent in stuContents)
                                                                {
                                                                    <li><strong>@stuContent</strong></li>
                                                                }
                                                            </ul>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            }
                        }
                    }

                </div>
            </div>
        </div>

    </div>
    <!-- section4 -->
    <div class="section-4">
        <div class="plr100">
            <div class="inter-intern">
                <!-- <div class="wrapper-75">
                    <h3 class="fontBlack titleh3">INTERNATIONAL INTERNSHIPS</h3>
                </div> -->
                <div class="students-slide StyleForSlickArrows">
                    <!-- slides bind here -->
                    @if (Model.Content.HasProperty("section2ContentPicker") && Model.Content.HasValue("section2ContentPicker"))
                    {
                        var leaderMessageItems = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("section2ContentPicker");
                        if (leaderMessageItems.Count() > 0)
                        {
                            foreach (var links in leaderMessageItems)
                            {
                                var image = AST.S3.Helper.MediaHelper.ParseMedia(links.GetPropertyValue<string>("showcaseImage"), Umbraco);
                                if (image != null)
                                {
                                    <div class="student">
                                        <!--  loop -->
                                        <div class="profile-wrapper d-flex">
                                            <div class="photo">
                                                <img src="@image.Url" alt="s1" class="img-fluid" />
                                            </div>
                                            <div class="profile">
                                                <h2 class="fontBlack">@(links.GetPropertyValue<string>("personName"))</h2>
                                                <h3 class="fontBold">@(links.GetPropertyValue<string>("designation"))</h3>
                                            </div>
                                        </div>
                                        <div class="details">
                                            <div class="says">
                                                <p>
                                                    @(links.GetPropertyValue<string>("shortDescription"))
                                                </p>
                                            </div>
                                            @if (links.HasValue("mFLKnowMoreLink"))
                                            {
                                                var link = links.GetPropertyValue<RelatedLinks>("mFLKnowMoreLink").FirstOrDefault();
                                                if (links != null)
                                                {
                                                    <a target="@(link.NewWindow?"_blank":"_self")" href="@(link.Link)" class="color-blue">@link.Caption</a>
                                                }
                                                else
                                                {
                                                    <a href="@(links.Url)" class="color-blue">READ MORE</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</main>
@section scripts{
    <script type="text/javascript" src="/scripts/upes2.js"></script>
}
