﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";

    string section = "";
    if (Request.Url.ToString().Contains("/schools-faculty"))
    {
        section = "1";
    }
}

@* the fun starts here *@

@section style
{
    <link href="/css/GeneralTemplate.css" rel="stylesheet" type="text/css" />
}
@* the fun starts here *@
<main role="main" class="GenerTemplate">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                <picture>
                    @if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                    {
                        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("bannerImage"), Umbraco);
                        var imgpat = Model.Content.GetPropertyValue<IPublishedContent>
                            ("bannerImage");
                        <img src="@imgPath.Url" class="img-fluid" alt="@(imgpat.HasValue(" altTag")?imgpat.GetPropertyValue<string>
                                ("altTag"):"")" />
                    }

                </picture>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Inner-->
    <!--Upcoming Events-->
    <section class="studenAchievPanel StudentLogoBanner" id="PanelTwo">
        <div class="plr100">
            <div class="AchieveInner position-relative">
                <div class="AchieveTitleBlock position-relative viewAll">
                    @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
                    {
                        <h3 class="fontBlack text-uppercase titleh3">
                            @Html.Raw(Model.Content.GetPropertyValue("sectionTitle"))
                        </h3>
                    }
                    @*<div class="link_list text-right noPadding" id="divViewAllSection1" style="display:none;">
                            <a id="aViewAllSection1" onclick="doShowSection1('divSection1Container', 'aViewAllSection1');" class="fontBold text-uppercase text-decoration">View all</a>
                        </div>*@
                </div>
                <div class="row storiesPannInn mlr" id="divSection1Container">
                    @{
                        var selectedEvents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>
>("contentPicker");
                        if (selectedEvents.Any())
                        {
                            int showcaseIndex = 1;
                            <input type="hidden" id="hfSection1ViewAll" value="@selectedEvents.Count()" />
                            <input type="hidden" id="hfSection1Display" />
                            foreach (var eventsIndex in selectedEvents)
                            {
                                if (eventsIndex.HasProperty("studentPhoto") && eventsIndex.HasValue("studentPhoto"))
                                {
                                    var image = AST.S3.Helper.MediaHelper.ParseMedia(eventsIndex.GetPropertyValue<string>
                                    ("studentPhoto"), Umbraco);
                                    if (image != null)
                                    {
                                        <div class="col-4 storiesPanStyle storiesPanOne plr7 @(((section == "1")?"FacultyBlockPanel":""))" id="divSection1Showcase_@showcaseIndex">
                                            <img src="@image.GetCropUrl("StoriesCrop")" alt="@(eventsIndex.HasValue("studentName") ? eventsIndex.GetPropertyValue<string>
                                    ("studentName") : " ")" class="img-fluid" />
                                            <div class="StoriesContext">
                                                @if (eventsIndex.HasValue("studentName"))
                                                {
                                                    <h2 class="fontExBold">
                                                        @(eventsIndex.GetPropertyValue<string>("studentName"))
                                                    </h2>
                                                }
                                                @if (eventsIndex.HasProperty("studentDegree") && eventsIndex.HasValue("studentDegree"))
                                                {
                                                    <h3 class="fontBold">
                                                        @Html.Raw(eventsIndex.GetPropertyValue("studentDegree"))
                                                    </h3>
                                                }
                                                @if (eventsIndex.HasValue("shortDescription"))
                                                {
                                                    <p class="fontMedium">
                                                        @(eventsIndex.GetPropertyValue<string>("shortDescription"))
                                                    </p>
                                                }
                                                @if (eventsIndex.HasProperty("sSKnowMoreLink") && eventsIndex.HasValue("sSKnowMoreLink"))
                                                {
                                                    var button1Index = eventsIndex.GetPropertyValue<RelatedLinks>
                                                        ("sSKnowMoreLink");
                                                    if (button1Index.Any())
                                                    {
                                                        var linkTarget = (button1Index.First().NewWindow) ? "_blank" : null;
                                                        <a href="@button1Index.First().Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@button1Index.First().Caption</a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        showcaseIndex++;
                                    }
                                }
                            }
                        }
                    }
                </div>
                <div class="row no-gutters justify-content-center">
                    <a id="loader1" class="br30 fontBold btn btn-primary BtnStyle center LoadMore" onclick="loadMoreSection1();" style="display: none; text-align: center;">Load More</a>
                </div>
            </div>
    </section>
    @if (Model.Content.HasProperty("contentPicker2") && Model.Content.HasValue("contentPicker2"))
    {
        var events = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>
        >("contentPicker2");
        if (events.Any())
        {
            int showcaseIndex = 1;
            <!--Industry Ties up and Testimonials-->
            <section class="Ties_TestimonialPanel position-relative forZIndex">
                <div class="TiesUpPanel AchieveInner  position-relative">
                    <div class="plr100">
                        @if (Model.Content.HasProperty("sectionTitle2") && Model.Content.HasValue("sectionTitle2"))
                        {
                            <div class="StoryTitleStrip StoryTitleStripForTieUp Yellowstripbgfull text-uppercase d-flex">
                                <h2 class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue("sectionTitle2"))</h2>
                            </div>
                        }

                        @*<div class="link_list text-right noPadding LinkPosition" id="divViewAllSection2" style="display:none;">
                                <a id="aViewAllSection2" onclick="doShowSection2('divSection2Container', 'aViewAllSection2');" class="fontBold text-uppercase text-decoration">View all</a>
                            </div>*@
                        <div class="TieUpPosition">
                            <div class="row storiesPannInn mlr" id="divSection2Container">
                                <input type="hidden" id="hfSection2ViewAll" value="@events.Count()" />
                                <input type="hidden" id="hfSection2Display" />
                                @foreach (var evente in events)
                                {
                                    <div class="col-4 storiesPanStyle storiesPanOne plr7 @(((section == "1")?"FacultyBlockPanel":""))" id="divSection2Showcase_@showcaseIndex">
                                        @if (evente.HasValue("studentPhoto"))
                                        {
                                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(evente.GetPropertyValue<string>
                                                ("studentPhoto"), Umbraco);
                                            <img src="@imgPath.GetCropUrl("StoriesCrop")" alt="@(imgPath.HasValue("altTag") ? imgPath.GetPropertyValue<string>("altTag") : "")" class="img-fluid" />
                                        }

                                        <div class="StoriesContext">
                                            @if (evente.HasValue("studentName"))
                                            {
                                                <h2 class="fontExBold">
                                                    @Html.Raw(evente.GetPropertyValue("studentName"))
                                                </h2>
                                            }
                                            @if (evente.HasProperty("studentDegree") && evente.HasValue("studentDegree"))
                                            {
                                                <h3 class="fontBold">
                                                    @Html.Raw(evente.GetPropertyValue("studentDegree"))
                                                </h3>
                                            }

                                            @if (evente.HasValue("shortDescription"))
                                            {
                                                <p class="fontMedium">
                                                    @(evente.GetPropertyValue<string>("shortDescription"))
                                                </p>
                                            }
                                            @if (evente.HasProperty("sSKnowMoreLink") && evente.HasValue("sSKnowMoreLink"))
                                            {
                                                var button1Index = evente.GetPropertyValue<RelatedLinks>
                                                    ("sSKnowMoreLink");
                                                if (button1Index.Any())
                                                {
                                                    var linkTarget = (button1Index.First().NewWindow) ? "_blank" : null;
                                                    <a href="@button1Index.First().Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@button1Index.First().Caption</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                    showcaseIndex++;
                                }

                            </div>
                        </div>
                    </div>
                    <!--Testimonials-->
                    <div class="row text-center align-items-center justify-content-center ">
                        <a id="loader2" class="br30 fontBold btn btn-primary BtnStyle center LoadMore" onclick="loadMoreSection2();" style="display: none; text-align: center;">Load More</a>
                    </div>
                </div>
            </section>
        }
    }
</main>
@Html.Partial("Floating")

@section scripts{
    <script>
        function loadMoreSection1() {
            if (parseInt($('#hfSection1ViewAll').val()) > 6 && parseInt($('#hfSection1Display').val()) <= parseInt($('#hfSection1ViewAll').val())) {
                var displayCount = 0;
                console.log('condition: ' + (parseInt($('#hfSection1Display').val()) + 6) + '----' + ($('#hfSection1ViewAll').val()));
                if ((parseInt($('#hfSection1Display').val()) + 6) <= ($('#hfSection1ViewAll').val())) {
                    displayCount = (parseInt($('#hfSection1Display').val()) + 6);
                    console.log('1-displayCount: ' + displayCount);
                }
                else {
                    displayCount = $('#hfSection1ViewAll').val();
                    console.log('2-displayCount: ' + displayCount);
                }
                for (var i = parseInt($('#hfSection1Display').val()); i <= parseInt(displayCount); i++) {
                    this.console.log('#divSection1Showcase_' + i);
                    $('#divSection1Showcase_' + i).show();
                }
                $('#hfSection1Display').val(displayCount);
                if (parseInt($('#hfSection1Display').val()) >= parseInt($('#hfSection1ViewAll').val())) {
                    $('#loader1').hide();
                }
            }
        }

        function loadMoreSection2() {
            if (parseInt($('#hfSection2ViewAll').val()) > 6 && parseInt($('#hfSection2Display').val()) <= parseInt($('#hfSection2ViewAll').val())) {
                var displayCount = 0;
                console.log('condition: ' + (parseInt($('#hfSection2Display').val()) + 6) + '----' + ($('#hfSection2ViewAll').val()));
                if ((parseInt($('#hfSection2Display').val()) + 6) <= ($('#hfSection2ViewAll').val())) {
                    displayCount = (parseInt($('#hfSection2Display').val()) + 6);
                    console.log('1-displayCount: ' + displayCount);
                }
                else {
                    displayCount = $('#hfSection2ViewAll').val();
                    console.log('2-displayCount: ' + displayCount);
                }
                for (var i = parseInt($('#hfSection2Display').val()); i <= parseInt(displayCount); i++) {
                    this.console.log('#divSection2Showcase_' + i);
                    $('#divSection2Showcase_' + i).show();
                }
                $('#hfSection2Display').val(displayCount);
                if (parseInt($('#hfSection2Display').val()) >= parseInt($('#hfSection2ViewAll').val())) {
                    $('#loader2').hide();
                }
            }
        }

        //function doShowSection1(divID, aID) {
        //    if ($('#' + aID).text() == "View all") {
        //        if ($('#hfSection1ViewAll').val() > 6) {
        //            for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
        //                $('#divSection1Showcase_' + i).show();
        //            }
        //        }
        //        $('#' + aID).text('Show less');
        //    }
        //    else if ($('#' + aID).text() == "Show less") {
        //        if ($('#hfSection1ViewAll').val() > 6) {
        //            for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
        //                $('#divSection1Showcase_' + i).hide();
        //            }
        //        }
        //        $('#' + aID).text('View all');
        //    }
        //}
        //function doShowSection2(divID, aID) {
        //    if ($('#' + aID).text() == "View all") {
        //        if ($('#hfSection2ViewAll').val() > 6) {
        //            for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
        //                $('#divSection2Showcase_' + i).show();
        //            }
        //        }
        //        $('#' + aID).text('Show less');
        //    }
        //    else if ($('#' + aID).text() == "Show less") {
        //        if ($('#hfSection2ViewAll').val() > 6) {
        //            for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
        //                $('#divSection2Showcase_' + i).hide();
        //            }
        //        }
        //        $('#' + aID).text('View all');
        //    }
        //}
        $(document).ready(function () {
            if ($('#hfSection1ViewAll').val() > 6) {
                for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
                    $('#divSection1Showcase_' + i).hide();
                }
                $('#hfSection1Display').val(6);
                $('#divViewAllSection1').show();
                $('#loader1').show();
            }

            if ($('#hfSection2ViewAll').val() > 6) {
                for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
                    $('#divSection2Showcase_' + i).hide();
                }
                $('#hfSection2Display').val(6);
                $('#divViewAllSection2').show();
                $('#loader2').show();
            }
        });
    </script>
}
