﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@{
    Layout = "Master.cshtml";
    int m = 0;
}
@* the fun starts here *@
@section style
{
    <link href="/css/upesStudentTemplate.css" rel="stylesheet" type="text/css" />
}
<main role="main" class="UpesStudent">
    <!--Banner-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" alt="Breadcrumb Arrow" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                <div class="fontExBold">
                    <h1>
                        <!--bind here-->
                        @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                        {
                            @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                        }
                    </h1>
                </div>
                <div class="StripContent">
                    <p>
                        <!--bind here-->
                        @if (Model.Content.HasProperty("description") && Model.Content.HasValue("description"))
                        {
                            @Html.Raw(Model.Content.GetPropertyValue("description"))
                        }
                    </p>
                </div>
            </div>
            <div class="BannerImg position-relative">
                @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (mobileBannerPath == null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, imgPath))
                    }
                    else if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <div class="section-1">
        <div class="plr20">
            <div id="PanelTwo" class="highlights">
                <ul>
                    @if (Model.Content.HasProperty("pageDescription") && Model.Content.HasValue("pageDescription"))
                    {
                        var descriptions = Model.Content.GetPropertyValue<string[]>("pageDescription");
                        foreach (var desc in descriptions)
                        {
                            <li>@desc</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="wrapper-75">
            <div class="login-wrapper">
                <div class="accord-wrapper">
                    <!-- Accordion Titl -->
                    <div id="loginSection" class="accordion-title">
                        @if (Model.Content.HasProperty("sectionTitle") && Model.Content.HasValue("sectionTitle"))
                        {
                            <h2 class="fontBlack titleh3">@Html.Raw(Model.Content.GetPropertyValue("sectionTitle"))</h2>
                        }

                    </div>
                    <!--Accordion Panel-->
                    <div id="AccordionPanel-login" class="AccordionStyle colorLightWhite">
                        @if (Model.Content.HasProperty("loginLink") && Model.Content.HasValue("loginLink"))
                        {
                            int i = 0, j = 0;
                            var accordions = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("loginLink");
                            foreach (var accordion in accordions)
                            {
                                <div class="card link">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            @{
                                                var path = accordion.GetPropertyValue<IPublishedContent>("pDFPicker");
                                                var pdf = accordion.GetPropertyValue<RelatedLinks>("studentLink").FirstOrDefault();
                                            }
                                            @if (path == null)
                                            {
                                                <a class="collapsed" role="button" href="@pdf.Link" target="@(pdf.NewWindow?"_blank":"_self")">
                                                    @if (accordion.HasProperty("title") && accordion.HasValue("title"))
                                                    {
                                                        @Html.Raw(accordion.GetPropertyValue("title"))
                                                    }
                                                </a>
                                            }
                                            else if (pdf == null)
                                            {
                                                <a class="collapsed" role="button" href="@path.Url" target="_blank">
                                                    @if (accordion.HasProperty("title") && accordion.HasValue("title"))
                                                    {
                                                        @Html.Raw(accordion.GetPropertyValue("title"))
                                                    }
                                                </a>
                                            }
                                            else
                                            {
                                                if (pdf != null)
                                                {
                                                    <a class="collapsed" role="button" href="@pdf.Link" target="@(pdf.NewWindow?"_blank":"_self")">
                                                        @if (accordion.HasProperty("title") && accordion.HasValue("title"))
                                                        {
                                                            @Html.Raw(accordion.GetPropertyValue("title"))
                                                        }
                                                    </a>
                                                }
                                            }
                                        </h5>
                                    </div>
                                    <div id="login-panel@(j=j+1)" class="collapse" data-parent="#AccordionPanel-login" aria-labelledby="heading-3">
                                        <div class="card-body cardContext">
                                            <p class="fontMedium">
                                                @if (accordion.HasProperty("accordionContent") && accordion.HasValue("accordionContent"))
                                                {
                                                    @Html.Raw(umbraco.library.RemoveFirstParagraphTag(accordion.GetPropertyValue<string>("accordionContent")))
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Upcoming Events -->
    <div class="upcoming-events">
        <!-- orange strip -->
        <div class="plr100vw">
            <div class="Orange-Strip d-flex align-items-end justify-content-end">
                @if (Model.Content.HasProperty("eventsTitle") && Model.Content.HasValue("eventsTitle"))
                {
                    <h2 class="fontBlack title titleh3">@Html.Raw(Model.Content.GetPropertyValue("eventsTitle"))</h2>
                }
            </div>
        </div>
        <div class="wrapper-75">
            <div class="row blocks">
                @if (Model.Content.HasProperty("eventsPicker") && Model.Content.HasValue("eventsPicker"))
                {
                    var events = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("eventsPicker");
                    foreach (var evente in events)
                    {
                        <div class="col-md-6 pr7-5 block-wrapper">
                            <div class="block1">
                                <div class="col-7 d-flex b-left">
                                    <div class="col-4">
                                        @if (evente.HasProperty("thumbnailImage") && evente.HasValue("thumbnailImage"))
                                        {
                                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(evente.GetPropertyValue<string>("thumbnailImage"), Umbraco);
                                            if (imgPath != null)
                                            {
                                                <img src="@imgPath.Url" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid">
                                            }

                                        }

                                    </div>
                                    <div class="col-8 details">
                                        <div class="title fontBlack">
                                            @if (evente.HasProperty("showcaseTitle") && evente.HasValue("showcaseTitle"))
                                            {
                                                <p>@Html.Raw(evente.GetPropertyValue("showcaseTitle"))</p>
                                            }

                                        </div>
                                        <div class="date">
                                            @if (evente.HasProperty("publishedDate") && evente.HasValue("publishedDate"))
                                            {
                                                <p>@(evente.GetPropertyValue<DateTime>("publishedDate").Date.ToString("d-MMM-yyyy"))</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5 b-right">
                                    <div class="link-reg">
                                        @if (evente.HasProperty("registerNowLink") && evente.HasValue("registerNowLink"))
                                        {
                                            <a target="@(evente.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(evente.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().Link)" class="color-blue">@(evente.GetPropertyValue<RelatedLinks>("registerNowLink").FirstOrDefault().Caption)</a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <!-- section4 -->
    <div class="section-4">
        <div class="health-medical">
            <div class="wrapper-75">
                <div class="accord-wrapper">
                    <!-- Accordion Titl -->
                    <div id="healthSection" class="accordion-title">
                        @if (Model.Content.HasProperty("healthTitle") && Model.Content.HasValue("healthTitle"))
                        {
                            <h2 class="fontBlack titleh3">@Html.Raw(Model.Content.GetPropertyValue("healthTitle"))</h2>
                        }
                        @if (Model.Content.HasProperty("expandAllLink") && Model.Content.HasValue("expandAllLink"))
                        {
                            <div class="link-toggle ForExpand">
                                <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("expandAllLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("expandAllLink").FirstOrDefault().Link)" class="color-blue">@(Model.Content.GetPropertyValue<RelatedLinks>("expandAllLink").FirstOrDefault().Caption)</a>
                            </div>
                        }

                    </div>
                    <!--Accordion Panel-->
                    <div id="health-medical-AccordionPanel" class="AccordionStyle">
                        @if (Model.Content.HasProperty("servicesContent") && Model.Content.HasValue("servicesContent"))
                        {
                            int c = 0, d = 0;
                            var services = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("servicesContent");
                            foreach (var service in services)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#health-medical-panel@(c=c+1)"
                                               aria-expanded="false" aria-controls="PanelOne">
                                                @if (service.HasProperty("accordionTitle") && service.HasValue("accordionTitle"))
                                                {
                                                    @Html.Raw(service.GetPropertyValue("accordionTitle"))
                                                }
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="health-medical-panel@(d=d+1)" class="collapse" data-parent="#health-medical-AccordionPanel"
                                         aria-labelledby="heading-3">
                                        <div class="card-body cardContext">
                                            <p class="fontMedium">
                                                @if (service.HasProperty("accordionContent") && service.HasValue("accordionContent"))
                                                {
                                                    @Html.Raw(umbraco.library.RemoveFirstParagraphTag(service.GetPropertyValue<string>("accordionContent")))
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="plr100vw">
            <div class="inter-intern">
                <div id="internshipSection" class="yellow-bg">
                    <div class="wrapper-75">
                        @if (Model.Content.HasProperty("internshipTitle") && Model.Content.HasValue("internshipTitle"))
                        {
                            <h2 class="fontBlack titleh3">@Html.Raw(Model.Content.GetPropertyValue("internshipTitle"))</h2>
                        }

                    </div>
                </div>
                <div class="students-slide StyleForSlickArrows">
                    <!-- slides bind here -->
                    @if (Model.Content.HasProperty("internshipPicker") && Model.Content.HasValue("internshipPicker"))
                    {
                        var internships = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("internshipPicker");
                        foreach (var internship in internships)
                        {

                            <div class="student">
                                <!--  loop -->
                                <div class="profile-wrapper d-flex">
                                    <div class="photo">
                                        @if (internship.HasValue("image"))
                                        {
                                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(internship.GetPropertyValue<string>("image"), Umbraco);
                                            if (imgPath != null)
                                            {
                                                <img src="@imgPath.Url" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                                            }
                                        }

                                    </div>
                                    <div class="profile">
                                        @if (internship.HasValue("studentName"))
                                        {
                                            <h2 class="fontBlack">@Html.Raw(internship.GetPropertyValue("studentName"))</h2>
                                        }
                                        @if (internship.HasValue("departmentYear"))
                                        {
                                            <h3 class="fontBold">@Html.Raw(internship.GetPropertyValue("departmentYear"))</h3>
                                        }
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="says">
                                        <p>
                                            @if (internship.HasValue("shortDescription"))
                                            {
                                                @Html.Raw(internship.GetPropertyValue("shortDescription"))
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- section5 -->
    <div class="section-5">
        <div class="plr100vw">
            <div class="student-affairs">
                <div class="header-top ">
                    <div id="affairsSection" class="title">
                        <div class="Orange-Strip d-flex align-items-end justify-content-end ">
                            @if (Model.Content.HasProperty("affairsSectionTitle") && Model.Content.HasValue("affairsSectionTitle"))
                            {
                                <h2 class="fontBlack title titleh3 ">@Html.Raw(Model.Content.GetPropertyValue("affairsSectionTitle"))</h2>
                            }

                        </div>
                    </div>
                    <div class="link-toggle">
                        @if (Model.Content.HasProperty("studentexpandAllLink") && Model.Content.HasValue("studentexpandAllLink"))
                        {
                            <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("studentexpandAllLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("studentexpandAllLink").FirstOrDefault().Link)" class="color-blue" id="student-affairs-AccordionPanel-toggler">@(Model.Content.GetPropertyValue<RelatedLinks>("studentexpandAllLink").FirstOrDefault().Caption)</a>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-75">
            <div class="accord-wrapper ">
                <!--Accordion Panel-->
                <div id="student-affairs-AccordionPanel" class="AccordionStyle colorLightWhite">
                    @if (Model.Content.HasProperty("affairs") && Model.Content.HasValue("affairs"))
                    {
                        int a = 0, b = 0;
                        var affairs = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("affairs");
                        foreach (var affair in affairs)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="CardHeaderPanel">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#student-affairs-AccordionPanel@(a=a+1)"
                                           aria-expanded="false" aria-controls="PanelOne">
                                            @if (affair.HasValue("accordionTitle"))
                                            {
                                                @Html.Raw(affair.GetPropertyValue("accordionTitle"))
                                            }
                                        </a>
                                    </h5>
                                </div>
                                <div id="student-affairs-AccordionPanel@(b=b+1)" class="collapse" data-parent="#student-affairs-AccordionPanel" aria-labelledby="heading-3">
                                    <div class="card-body cardContext">
                                        <p class="fontMedium">
                                            @if (affair.HasValue("accordionContent"))
                                            {
                                                @Html.Raw(affair.GetPropertyValue("accordionContent"))
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="contact-wrapper">
                @if (Model.Content.HasProperty("contactTitle") && Model.Content.HasValue("contactTitle"))
                {
                    <h2>@Html.Raw(Model.Content.GetPropertyValue("contactTitle"))</h2>
                }

                <div class="header">
                    @if (Model.Content.HasProperty("sectionDecription") && Model.Content.HasValue("sectionDecription"))
                    {
                        <p>
                            @Html.Raw(Model.Content.GetPropertyValue("sectionDecription"))
                        </p>
                    }

                </div>
                <div class="details">
                    @if (Model.Content.HasProperty("personDetails") && Model.Content.HasValue("personDetails"))
                    {
                        var persons = Model.Content.GetPropertyValue<string[]>("personDetails");
                        foreach (var person in persons)
                        {
                            <p>@person</p>
                        }
                    }

                    @if (Model.Content.HasProperty("emailID") && Model.Content.HasValue("emailID"))
                    {
                        <p>
                            E mail ID – <a href="mailto:@(Model.Content.GetPropertyValue<string>("emailID"))" class="color-blue">@Html.Raw(Model.Content.GetPropertyValue("emailID"))</a>
                        </p>
                    }


                </div>
            </div>
        </div>
    </div>
    <div id="stuDownSection" class="section-6">
        <div class="downloadable-content">
            <div class="wrapper-75">
                <div class="accord-wrapper">
                    <!-- Accordion Title -->
                    <div class="accordion-title">
                        @if (Model.Content.HasProperty("downloadTitle") && Model.Content.HasValue("downloadTitle"))
                        {
                            <h2 class="fontBlack titleh3">@Html.Raw(Model.Content.GetPropertyValue("downloadTitle"))</h2>
                        }

                    </div>
                    <!--Accordion Panel-->
                    <div id="downloadable-content-AccordionPanel" class="AccordionStyle downloable-accord">
                        @if (Model.Content.HasProperty("downloadContent") && Model.Content.HasValue("downloadContent"))
                        {
                            int e = 0, f = 0;
                            var contents = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("downloadContent");
                            foreach (var conten in contents)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            @if (conten.HasValue("downloadMedia"))
                                            {
                                                int i = 0, j = 0;
                                                var path = conten.GetPropertyValue<IPublishedContent>("downloadMedia");
                                                if (path != null)
                                                {
                                                    <a id="download@(i=i+1))" class="collapsed" role="button" href="@path.Url" download="@path.Url">
                                                        @if (conten.HasValue("downloadTitle"))
                                                        {
                                                            @Html.Raw(conten.GetPropertyValue("downloadTitle"))
                                                        }
                                                    </a>
                                                }
                                                <script>
                                                $('#download@(j=j+1)').click(function (e) {
                                                    e.preventDefault();  //stop the browser from following
                                                    window.location.href = '@path.Url';
                                                });
                                                </script>
                                            }

                                        </h5>
                                    </div>
                                    <div id="downloadable-content-AccordionPanel@(f=f+1)" class="collapse" data-parent="#downloadable-content-AccordionPanel" aria-labelledby="heading-3">
                                        <div class="card-body cardContext">
                                            <p class="fontMedium">
                                                @if (conten.HasValue("accordionContent"))
                                                {
                                                    @Html.Raw(conten.GetPropertyValue("accordionContent"))
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@Html.Partial("Floating")

@section scripts{
    <script type="text/javascript" src="/scripts/upes2.js"></script>
}
