﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@{
	Layout = "Master.cshtml";
    int i=0,j=0,k=0,l=0,m=0,n=0,p=0,s=0,c=0;
}


@section style
{
    <link href="/css/GeneralTemplate.css" rel="stylesheet" type="text/css" />
    
}
@* the fun starts here *@
<main role="main" class="GenerTemplate">
    <!--Banner Block-->
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        @Html.Partial("BreadCrumb")
        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @*<span class="fontExBold sodText">School of Design (SOD)</span>*@
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }

            </div>
            <div class="BannerImg position-relative">
                @*@if (Model.Content.HasValue("bannerImage"))
                {
                    var deskBanner = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBanner = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(deskBanner, mobileBanner))
                }*@
                <picture>
                    @if (Model.Content.HasProperty("bannerImage") && Model.Content.HasValue("bannerImage"))
                    {
                        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.Content.GetPropertyValue<string>("bannerImage"), Umbraco);
                        var imgpat = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                        <img src="@imgPath.Url" class="img-fluid hideOnMobile"  alt="@(imgpat.HasValue("altTag")?imgpat.GetPropertyValue<string>("altTag"):"")" />
                    }

                </picture>
                @if (Model.Content.HasValue("mobileBanner"))
                {
                    var mobileBanner = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    <div class="MobileBanner d-block d-md-none">
                        <img src="@mobileBanner.GetCropUrl("BannerMob")" class="ShowOnMobile img-fluid" alt="@(mobileBanner.HasValue("altTag")?mobileBanner.GetPropertyValue<string>("altTag"):"")" />
                    </div>
                }

            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Inner-->
    <!--Upcoming Events-->
    <section class="studenAchievPanel StudentLogoBanner" id="PanelTwo">
        <div class="plr100">
            <div class="AchieveInner position-relative">
             @if(Model.Content.HasProperty("contentPicker3") && Model.Content.HasValue("contentPicker3"))
             {
              var links = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contentPicker3");
                foreach (var link in links)
                {
                <div></div>
                <div class="AchieveTitleBlock position-relative viewAll">
                    @if (link.HasProperty("studachtitle") && link.HasValue("studachtitle"))
                    {
                        <h4 class="fontBlack text-uppercase titleh3 mt30">
                            @Html.Raw(link.GetPropertyValue("studachtitle"))
                        </h4>
                    
                    <div class="link_list text-right noPadding" id="divViewAllSection@(i=i+1)" style="display:none;">
                        <a id="aViewAllSection@(j=j+1)" onclick="doShowSection@(k=k+1)('divSection@(l=l+1)Container', 'aViewAllSection@(m=m+1)');" class="fontBold text-uppercase text-decoration">View all</a>
                    </div>
                     
                    
                      }
                </div>
                <div class="row EventCarousel mlr" id="divSection@(n=n+1)Container">
                    @if(link.HasProperty("studachpicker") && link.HasValue("studachpicker"))
                    {
                        var selectedEvents = link.GetPropertyValue<IEnumerable<IPublishedContent>>("studachpicker");
                        
                        if (selectedEvents.Any())
                        {
                            
                            int showcaseIndex = 1;
                           
                            <input type="hidden" id="hfSection@(p=p+1)ViewAll" value="@selectedEvents.Count()" />
                            foreach (var eventsIndex in selectedEvents)
                            {
                            
                              s=c+1;
                                if (eventsIndex.HasProperty("thumbImage") && eventsIndex.HasValue("thumbImage"))
                                {
                                    var image = AST.S3.Helper.MediaHelper.ParseMedia(eventsIndex.GetPropertyValue<string>("thumbImage"), Umbraco);
                                    if (image != null)
                                    {
                                        <div class="col-4 EventPanelStyle EventPanelOne plr7" id="divSection@(s)Showcase_@showcaseIndex">
                                            <img src="@image.GetCropUrl("Achievements")" alt="img-fluid" class="img-fluid" />
                                            <div class="AchieveContext ">
                                                <div class="AchieveContextInn ">
                                                    <div class="AchieveContextPAra">
                                                        <p class="fontBold">
                                                            @(eventsIndex.GetPropertyValue<string>("smallTitle"))
                                                        </p>
                                                    </div>
                                                    @if (eventsIndex.HasProperty("sAKnowMoreLink") && eventsIndex.HasValue("sAKnowMoreLink"))
                                                    {
                                                        var button1Index = eventsIndex.GetPropertyValue<RelatedLinks>("sAKnowMoreLink");
                                                        if (button1Index.Any())
                                                        {
                                                            var linkTarget = (button1Index.First().NewWindow) ? "_blank" : null;
                                                            <a href="@button1Index.First().Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@button1Index.First().Caption</a>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        showcaseIndex++;
                                    }
                                    
                                }
                              
                            }
                            c++;
                           
                        }
                    }
                </div>
                }
              }
            </div>
    </section>
    @if (Model.Content.HasProperty("contentPicker2") && Model.Content.HasValue("contentPicker2"))
    {
        var events = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("contentPicker2");
        if (events.Any())
        {
            int showcaseIndex = 1;
            <!--Industry Ties up and Testimonials-->
            <section class="Ties_TestimonialPanel position-relative forZIndex">
                <div class="TiesUpPanel position-relative">
                    <div class="plr100">
                        @if (Model.Content.HasProperty("sectionTitle2") && Model.Content.HasValue("sectionTitle2"))
                        {
                            <div class="StoryTitleStrip StoryTitleStripForTieUp Yellowstripbgfull text-uppercase d-flex">
                                <h2 class="fontBlack">@Html.Raw(Model.Content.GetPropertyValue("sectionTitle2"))</h2>
                            </div>
                        }

                        <div class="link_list text-right noPadding LinkPosition" id="divViewAllSection2" style="display:none;">
                            <a id="aViewAllSection2" onclick="doShowSection2('divSection2Container', 'aViewAllSection2');" class="fontBold text-uppercase text-decoration">View all</a>
                        </div>
                        <div class="TieUpPosition">
                            <div class="row EventCarousel mlr" id="divSection2Container">


                                <input type="hidden" id="hfSection2ViewAll" value="@events.Count()" />
                                @foreach (var evente in events)
                                {
                                    <div class="col-4 EventPanelStyle EventPanelOne plr7" id="divSection2Showcase_@showcaseIndex">
                                        @if (evente.HasValue("thumbImage"))
                                        {
                                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(evente.GetPropertyValue<string>("thumbImage"), Umbraco);
                                            <img src="@imgPath.GetCropUrl("Achievements")" alt="@(imgPath.HasValue("altTag") ? imgPath.GetPropertyValue<string>("altTag") : "")" class="img-fluid" />
                                        }

                                        <div class="AchieveContext">
                                            <div class="AchieveContextInn">
                                                @if (evente.HasValue("smallTitle"))
                                                {
                                                    <div class="AchieveContextPAra">
                                                        <p class="fontBold">
                                                            @Html.Raw(evente.GetPropertyValue("smallTitle"))
                                                        </p>
                                                    </div>
                                                }
                                                @if (evente.HasProperty("sAKnowMoreLink") && evente.HasValue("sAKnowMoreLink"))
                                                {
                                                    var button1Index = evente.GetPropertyValue<RelatedLinks>("sAKnowMoreLink");
                                                    if (button1Index.Any())
                                                    {
                                                        var linkTarget = (button1Index.First().NewWindow) ? "_blank" : null;
                                                        <a href="@button1Index.First().Link" target="@linkTarget" class="text-uppercase fontBold knowMoreStyle">@button1Index.First().Caption</a>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    showcaseIndex++;
                                }

                            </div>
                        </div>
                    </div>
                    <!--Testimonials-->
                </div>
            </section>
        }
    }
</main>
@Html.Partial("Floating")

@section scripts{
    <script>
      
        function doShowSection1(divID, aID) {
              if ($('#' + aID).text() == "View all") {
                if ($('#hfSection1ViewAll').val() > 6) {
                    for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
                    $('#divSection1Showcase_' + i).show();
                    }
                }
                $('#' + aID).text('Show less');
                 }
                else if ($('#' + aID).text() == "Show less") {
                    if ($('#hfSection1ViewAll').val() > 6) {
                    for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
                            $('#divSection1Showcase_' + i).hide();
                     }
                    }
                 $('#' + aID).text('View all');
             }
          }
            function doShowSection2(divID, aID) {
                if ($('#' + aID).text() == "View all") {
                 if ($('#hfSection2ViewAll').val() > 6) {
                     for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
                           $('#divSection2Showcase_' + i).show();
                        }
                    }
                    $('#' + aID).text('Show less');
                }
               else if ($('#' + aID).text() == "Show less") {
                    if ($('#hfSection2ViewAll').val() > 6) {
                        for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
                            $('#divSection2Showcase_' + i).hide();
                        }
                     }
                   $('#' + aID).text('View all');
                 }
            }
            function doShowSection3(divID, aID) {
                if ($('#' + aID).text() == "View all") {
                   if ($('#hfSection3ViewAll').val() > 6) {
                       for (var i = 7; i <= $('#hfSection3ViewAll').val(); i++) {
                          $('#divSection3Showcase_' + i).show();
                     }
                   }
                 $('#' + aID).text('Show less');
                }
                else if ($('#' + aID).text() == "Show less") {
                   if ($('#hfSection3ViewAll').val() > 6) {
                        for (var i = 7; i <= $('#hfSection3ViewAll').val(); i++) {
                           $('#divSection3Showcase_' + i).hide();
                  }
                   }
                   $('#' + aID).text('View all');
                 }
         }
        
        $(document).ready(function () {
            if ($('#hfSection1ViewAll').val() > 6) {
                for (var i = 7; i <= $('#hfSection1ViewAll').val(); i++) {
                    $('#divSection1Showcase_' + i).hide();
                }
                $('#divViewAllSection1').show();
            }

            if ($('#hfSection2ViewAll').val() > 6) {
                for (var i = 7; i <= $('#hfSection2ViewAll').val(); i++) {
                    $('#divSection2Showcase_' + i).hide();
                }
                $('#divViewAllSection2').show();
            }
             if ($('#hfSection3ViewAll').val() > 6) {
                for (var i = 7; i <= $('#hfSection3ViewAll').val(); i++) {
                    $('#divSection3Showcase_' + i).hide();
                }
                $('#divViewAllSection3').show();
            }
        });
    </script>
}
