﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TrainingPreparation>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
 @section style {    
 <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />    
 <link href="/css/industry.min.css" rel="stylesheet" type="text/css" />    
}
<main role="main" class=" industry">
    <!--Banner Block-->
    <style>.industry .Orange-Strip::before {
    background: #ffca08;
    width: 0;
    content: '';
    height: 100%;
    top: 0;
    position: absolute;
}
.SchoolDetailPanel.GenerTemplate .StoryTitleStrip{
    display: table-cell;
    vertical-align: middle;
}
.SchoolDetailPanel.GenerTemplate .StoryTitleStrip h2 {
    font-size: 2.5vw;
}
p{font-weight: 500;
    font-size: 1vw;
    line-height: 28px;}

.plr100.padd_btm {
    padding-top: 70px;
    padding-bottom: 70px;
}
.traning_page h3 {
    font-size: 21px;
    line-height: 1.7;
    padding: 0 0 30px 0;
}

.traning_page .row.padd_btm {
    padding-bottom: 30px;
}


 @@media only screen and (min-width:0px) and (max-width:767px){
       .industry .breadcrumbPanel {display:none;}
	    
	   .industry .BannerStripContext .fontExBold {
    font-size: 7vw !important;
    width: 100vw !important;
    line-height: 1 !important;
    position: relative!important;
    top: 25px !important;
}

 
.BannerSection .BannerStripContext {
    overflow: hidden;
    width: 100%;
    top: 70%;
    padding: 15px;
    height: auto;
    right: 0;
}
.industry .BannerSection .BannerStripContext .fontExBold {
    display: block;
}

.bg-white.GenerTemplate.SchoolDetailPanel.traning_page p {
        font-size: 15px;
    padding: 0;
    text-align: center;
    padding-bottom: 20px;
}

.traning_page h3, .traning_page h2.h2.mt0b2 {
    font-size: 18px;
    text-align: center;

}

.traning_page a {
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 30px 0 0;
    color: black;
}


}

</style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
        <!-- var result = upes_website.Core.ExamineExtensions.ExamineAlias("home");
        IPublishedContent homeContent = Umbraco.TypedContent("1152"); -->

        @Html.Partial("BreadCrumb")

        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                 @if (Model.Content.HasValue("bannerImage") && Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileimgPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                   //Html.Partial("HeroBanner", imgPath);
                    if (imgPath != null && mobileimgPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileimgPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
   
    <div class="bg-white GenerTemplate SchoolDetailPanel traning_page">
        <div class="plr100 padd_btm">
           
@Umbraco.Field("overview", recursive: true)
 
@Umbraco.Field("writeUpOnEdge", recursive: true)

@Umbraco.Field("infographicOnEdge", recursive: true)
 
@Umbraco.Field("processOverview", recursive: true)
    </div>

    </div>
    <div class="clearfix"></div>
</main>