﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
@section style
{
    <link href="/css/GeneralTemplate.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/industry.min.css" rel="stylesheet" type="text/css" /> 
    <link href="/css/applicants.css" rel="stylesheet" type="text/css" />   
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" type="text/css" />
}



   <!--Banner Block-->
    <style>.industry .Orange-Strip::before {
    background: #ffca08;
    width: 0;
    content: '';
    height: 100%;
    top: 0;
    position: absolute;
}

main.industry p {font-weight: 500 !important;
    font-size: 1vw;
    line-height: 1.9;     padding-bottom: 20px;}
	
	.global-reality ul li {
    padding-bottom: 8px;
    list-style-type: disc;
    font-weight: 500 !important;
    font-size: 1vw;
    line-height: 1.9;
}

a.btn.btn-primary.bg_blue {
    padding: 10px 30px;
    float: right;
    margin-top: 20px;
    background: #154985;
}

a.btn.btn-primary.bg_white {
    padding: 10px 30px;
    float: right;
    margin-top: 20px;
    background: #FFF;
    color: #000000;
}

.pathway-sec ul li, .admission-process-sec ul li {
    padding-bottom: 5px;
    list-style-type: disc;
    font-weight: 500 !important;
    font-size: 1vw;
    line-height: 1.9;
}
.blue-bg11 p {
    color: white;
}
.blue-bg11 h4 {
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
}
.pathway-sec.university_text h2 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
}
.pathway-sec.university_text {
    padding: 10px 40px 70px;
    text-align: center;
}
.pathway-sec.university_text a.btn.btn-primary.bg_blue {
    padding: 10px 30px;
    float: none;
    margin-top: 20px;
    background: #154985;
}
.overview-sec.global-reality {
    padding-top: 80px;
}

</style>

<main role="main" class="industry">
  <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="/src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
       

        @Html.Partial("BreadCrumb")

        <div class="plr20 fullwidth">
            <div class="BannerStripContext">
                @if (Model.Content.HasProperty("pageTitle") && Model.Content.HasValue("pageTitle"))
                {
                    <h1 class="fontExBold">
                        @Html.Raw(Model.Content.GetPropertyValue("pageTitle"))
                    </h1>
                }
            </div>
            <div class="BannerImg position-relative">
                 @if (Model.Content.HasValue("bannerImage") || Model.Content.HasValue("mobileBanner"))
                {
                    var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                    var mobileBannerPath = Model.Content.GetPropertyValue<IPublishedContent>("mobileBanner");
                    //Html.Partial("HeroBanner", imgPath);
                    if (imgPath != null && mobileBannerPath != null)
                    {
                        @Html.Partial("Mobile Banner", new Tuple<IPublishedContent, IPublishedContent>(imgPath, mobileBannerPath))
                    }
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
        
<div class="overview-sec global-reality"> 
     
     <div class="container">
  <div class="row">
      <div class="col-12 col-md-6">
	  <p>Founded in 1963 with the mission to provide talent for Central Florida and the growing U.S. space program, UCF has become one of the best colleges for quality, access, impact and value. It’s one of the reasons U.S. News & World Report ranks UCF among the nation’s top 10 most innovative colleges, while both Kiplinger and Forbes rank us a best-value university.</p>
      <p>As an emerging preeminent research university in Florida, we are driven to do more and be more. We believe success can only happen when we expand opportunity and demand excellence. We believe if there’s a better way, we should do it. We believe innovation comes from the meeting of diverse viewpoints. And when more people unleash their full potential, anything is possible.</p>
      </div>
      <div class="col-12 col-md-6">
           <img src="https://www.upes.ac.in/media/5043/ucf_logo.jpg" class="img-fluid border">
    </div>
    
     
  </div>
           
            </div>
            </div>
                 
                 
                 
<div class="pathway-sec">
                 <div class="container">
                 <div class="row">
                 <div class="col-md-12">
                  <h2 class="pb-4">Courses</h2>
                 </div>
                 <div class="col-md-6">
                                                
<ul>
  <li>Masters  	at the College of Engineering and Computer Science</li>
  <li>Aerospace  	Engineering (MSAE)</li>
  <li>Thermofluid  	Aerodynamic Systems Design and Engineering</li>
  <li>Space  	Systems Design and Engineering</li>
  <li>Accelerated  	BS to MS</li>
  <li>Biomedical  	Engineering (MS)</li>
  <li>MD/MSBME</li>
  <li>Biomechanics</li>
  <li>Accelerated  	BS to MSBME</li>
  <li>Biofluids</li>
  <li>Civil  	Engineering (MS)</li>
   <li>Transportation  	Systems Engineering</li>
</ul>

                 </div>
                 
                 <div class="col-md-6">
                                                
<ul>

  <li>Water  	Resources Engineering</li>
  <li>Structural  	and Geotechnical Engineering</li>
  <li>Smart  	Cities</li>
  <li>Civil  	Engineering (MSCE)</li>
  <li>Computer  	Engineering (MSPE)</li>
  <li>Accelerated  	BSCpE to MSPE</li>
  <li>Computer  	Science (MS)</li>
  <li>Accelerated  	BS to MS</li>
  <li>Data  	Analytics (MS)</li>
  <li>Digital  	Forensics (MS)</li>
  <li>Electrical  	Engineering (MSEE)</li>
  <li>Accelerated  	BSEE to MSEE</li>
</ul>

                 </div>
                 </div>
                 
                   
                    <div class="row pt-4 mb-5">
                            <div class="col-12 col-md-12">
                          <p><strong>Eligibility Criteria and Important Information</strong></p>
                          <div class="table-responsive">
                          <table class="table table-hover table-bordered">
                          <thead>
                          <tr>
                          <td>Application</td>
                          <td>UCF application form</td>
                          </tr>
                          <tr>
                          <td>Session commencement</td>
                          <td>September</td>
                          </tr>
                           <tr>
                          <td>Campus</td>
                          <td>Orlando  Campus</td>
                          </tr>
                          
                           <tr>
                          <td>Eligibility</td>
                          <td>Class-XII (or equivalent) with minimum 70% marks<br />
Completion of Pearl International Diploma with min 70% marks</td>
                          </tr>
                          
                           <tr>
                          <td>Entry Requirements</td>
                          <td>Personal Interview Portfolio evaluation Supporting Documents</td>
                          </tr>
                          
                          <tr>
                          <td>English Language </td>
                          <td>(TOEFEL/IELTS with minimum 6.0 overall and 5.5 in each subskill)*</td>
                          </tr>
                          <tr>
                          <td>Mode of study	</td>
                          <td>Hybrid/Virtual</td>
                          </tr>
                          <tr>
                          <td>FEES*	</td>
                          <td>  </td>
                          </tr>
                          
                          
                          
                          </thead>
                          </table>  
                          </div>
                          <h2 class="py-4">Rankings</h2>
                          <p>UCF ranks second among Florida’s state universities with 340 National Merit Scholars enrolled.</p>
                             
                             <p class="py-4"><strong>Links:</strong> <a href="https://www.ucf.edu/">Click here to more information </a></p>
<p> <a href="https://global.ucf.edu/international-students-scholars-and-professionals/international-admissions/">Click here to International Admissions</a></p>
                                         
                                         
                        
                                </div>
                                 
                       </div>         
              </div></div>
</main>


                