﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models
@{
    Layout = "Master.cshtml";
    var linkOnThankyou = "";
    var thankyouPageLink = "";

    if (Model.Content.HasValue("thankyouPagePicker"))
    {
        var thankyou = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("thankyouPagePicker");
        if (thankyou.Count() != 0)
        {
            thankyouPageLink = thankyou.First().Url;
        }
    }
    else
    {
        thankyouPageLink = "/course-thankyou" + Request.Path.Replace("/course", "").Replace("//", "/") + "-thankyou";
    }
}
@section style{
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/SchoolDetailTemplate.min.css" rel="stylesheet" />
    <link href="/css/ProgramDetailTemplate.css" rel="stylesheet" />
    <link href="/css/rte.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
}
<main role="main" class="SchoolDetailPanel ProgramDetailPanel">
    <!--Banner-->
    <style>
        .SchoolDetailPanel .Yellowstripbgfull:before {
            background: transparent !important;
        }

        .SchoolDetailPanel .StripforTwoContext {
            background: transparent !important;
        }
        .form-center {
        width: 100%;
        display: flex;
        justify-content: center;
        }
    </style>
    <section class="banner  BannerSection mb60">
        <div class="DownArrow">
            <a href="#PanelTwo" class="ClickArrow">
                <img src="../src/img/parents/breadcrum-arrow.png" class="img-fluid downArrowIcon" />
            </a>
        </div>
            @Html.Partial("BreadCrumb")
            @*<ol class="breadcrumb breadcrumbCustom">
                    <li class="breadcrumb-item fontBold"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active">Under Graduate Programs</li>
                </ol>*@
        <div class="plr20 fullwidth">
            <div class="BannerStripContext Context_UgPrograms">
                @if (Model.Content.HasValue("pageDescription"))
                {
                    <h1 class="fontExBold animateTitle">
                        @Html.Raw(Model.Content.GetPropertyValue<string>("pageDescription"))
                    </h1>
                }

            </div>
            <div class="BannerImg position-relative">
                <picture>
                    @if (Model.Content.HasValue("bannerImage"))
                    {
                        var imgPath = Model.Content.GetPropertyValue<IPublishedContent>("bannerImage");
                        if (imgPath != null)
                        {
                            @Html.Partial("HeroBanner", imgPath)
                        }
                    }
                </picture>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    <!--Program Details-->
    <!--Enquiry Form-->
    <section class="EnquiryPanel  position-relative " id="PanelTwo">
        <div class="container">
            <div class="EnqInner">
                <div class="CampusBg">
                    <img src="/src/img/parents/campus-bg.jpg" class="img-fluid" alt="banner" />
                </div>
                <div class="plr100" id="thankyou">
                     @Html.Raw(Model.Content.GetPropertyValue("thankyouPageContent"))
                </div>
                <div class="cmn-form otp" style="display:none;" id="otpForm">
                    <form action="#" method="post">
                        <img src="~/src/img/general-template/mba-icon.png" alt="mobile-icon" class="img-responsive center-block">
                        <div id="otpThankyou">
                            <p class="text-center">An OTP has been sent to your phone. <span>Please fill this for verification.!</span></p>
                            <input type="text" class="textbox" id="otpText" autocomplete="off">
                            <div id="otpError">

                            </div>
                            <div class="otp-btns">
                                <input type="button" class="submit" value="Verify OTP" onclick="verifyOtp();">
                                <input type="button" class="submit resend-otp" onclick="resendOtp();" id="resend" value="Resend OTP" disabled />
                                @*<button clENQUIRY FORMass="submit resend-otp" onclick="resendOtp();" id="resend" disabled>Resend OTP</button>*@
                                <div style="font-weight: bolder;line-height: initial;margin: 25%;font-size: inherit;">Time left = <span id="timer"></span></div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="CampusPanel  position-relative" id="PanelTwo">
        <div class="plr100">
            @if (Model.Content.HasValue("bigTitle"))
            {
                <div class="CampusInner UGTitle">
                    <h2 class="fontBlack text-uppercase GrayTitle">@Html.Raw(Model.Content.GetPropertyValue<string>("bigTitle"))</h2>
                </div>
            }

        </div>

        <div class="UgDetailAccordion_Panel ugAccBanner position-relative">
            <div class="plr100">
                <div class="UgDetailAccordion_Style" id="AccordionPanel">
                    @if (Model.Content.HasValue("schoolList"))
                    {
                        var schoolLists = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("schoolList");
                        if (schoolLists != null)
                        {
                            int i = 0;
                            foreach (var schoolList in schoolLists)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="CardHeaderPanel">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#PanelOneBlock@(i)" aria-expanded="@(i==0?"true":"false")" aria-controls="PanelOne">
                                                @Html.Raw(schoolList.GetPropertyValue("schoolName"))
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="PanelOneBlock@(i)" class="collapse @(i==0?"show":"")" data-parent="#AccordionPanel" aria-labelledby="heading-3">
                                        <div class="card-body cardContext">
                                            <div class="row Inner_CardTitle no-gutters">
                                                @if (schoolList.HasValue("image"))
                                                {
                                                    var imgPath = schoolList.GetPropertyValue<IPublishedContent>("image");
                                                    if (imgPath != null)
                                                    {
                                                        <div class="col-lg-6 col-sm-6 Crd_img ">
                                                            <img src="@imgPath.Url" class="img-fluid downArrowIcon" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                                        </div>
                                                    }
                                                }

                                                <div class="col-lg-6 col-sm-6 Crd_TExt ">
                                                    <h2 class="fontBold">@Html.Raw(schoolList.GetPropertyValue("schoolTitles"))</h2>
                                                </div>
                                            </div>
                                            <div class="Cardlist">
                                                @if (schoolList.HasValue("course"))
                                                {
                                                    var links = schoolList.GetPropertyValue<RelatedLinks>("course");
                                                    if (links != null)
                                                    {
                                                        foreach (var link in links)
                                                        {
                                                            <p>
                                                                <span>@link.Caption</span>
                                                                <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">Details</a>
                                                            </p>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                i++;
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    @if (Model.Content.HasValue("title") && Model.Content.HasValue("content"))
    {
        <section class="ugDescPanel ug_banner position-relative">
            <div class="plr100">
                <div class="StripforTwoContext  Yellowstripbgfull d-flex align-items-end justify-content-end">
                    <h2 class="fontBlack text-uppercase">
                        @Html.Raw(Model.Content.GetPropertyValue("title"))
                    </h2>
                </div>
                <div class="clearfix"></div>
                <div class="ugContext position-relative">
                    @Html.Raw(Model.Content.GetPropertyValue("content"))
                </div>
            </div>
        </section>
    }


</main>
@Html.Partial("Floating")

@section scripts{
    <script type="text/javascript" src="/scripts/upes.js"></script>
    <script type="text/javascript" src="/scripts/upes2.js"></script>
    <!-- <script type="text/javascript" src="/scripts/component.js"></script> -->
    <script>
        function checkCookies() {
            $('.field-validation-error').hide();
        }
        let timerOn = true;
        var link = '@linkOnThankyou';
    function timer(remaining) {
    var m = Math.floor(remaining / 60);
    var s = remaining % 60;
    $('#resend').attr('disbled');
    $('#resend').css("background-color", "grey");
    $("#resend").hover(function () {
        $('#resend').css("background-color", "grey");
        $('#resend').css("color", "#fff");
    }, function () {
        $('#resend').css("background-color", "grey");
        $('#resend').css("color", "#fff");
    });
    m = m < 10 ? '0' + m : m;
    s = s < 10 ? '0' + s : s;
    document.getElementById('timer').innerHTML = m + ':' + s;
    remaining -= 1;

    if (remaining >= 0 && timerOn) {
        setTimeout(function () {
            timer(remaining);
        }, 1000);
                return;
            }

            if (!timerOn) {
                // Do validate stuff here
                return;
            }

            // Do timeout stuff here
            $('#resend').removeAttr('disabled');
    $('#resend').css("background-color", "#ffca08s");
    $("#resend").hover(function () {
        $('#resend').css("background-color", "#fff");
        $('#resend').css("color", "#ffca08s");
    }, function () {
        $('#resend').css("background-color", "#ffca08");
        $('#resend').css("color", "#fff");
    });
            //alert('Timeout for otp');
        }

        function verifyOtp() {
            $.ajax({
                url: '@(Url.Action("verifyOTP", "CourseEnquiry"))',
                type: "GET",
                dataType: "HTML",
                data: { otp: $('#otpText').val(),srcId:'@Model.Content'},
                async: false,
                success: function (data) {
                    console.log(data);
                    var result = data.split("###");
                    if (result[1] == "Verified") {
                        window.location.href = '@thankyouPageLink' + '#PanelTwo';
                        //if (link == "nn") {
                            $('#otpThankyou').html("<p>OTP Verified Successfully</p>");
                            //$("#thankyou").html("<div><p>Thank you for contacting UPES, we will get back to you shortly.<br/><br/>You can also reach us on our Toll free number: <a href='tel:1800-102-8737'>1800-102-8737</a></p></div>");
                        //}
                        //else {
                        //    window.location.href = link + '#PanelTwo';
                        //}

                    }
                    else {
                        $('#otpError').html("<span class='field-validation-error'>Incorrect OTP. Please try again.</span>");
                        //alert("Please Enter Correct OTP");
                    }
                }
            });
        }
        function resendOtp() {
            $.ajax({
                url: '@(Url.Action("generateotp", "CourseEnquiry"))',
                type: "GET",
                dataType: "Json",
                data: {},
                async: false,
                success: function (data) {
                    alert("OTP Resend Successfully");
                    timer(60);
                    $('#resend').attr('disbled');
                }
            });
        }
        $(document).ready(function () {
            $('.field-validation-error').hide();
            $.ajax({
                url: '@(Url.Action("bindstate", "RequestCall"))',
                type: "GET",
                dataType: "HTML",
                data: {},
                async: false,
                success: function (data) {
                    console.log(data);
                    if (data != "") {
                        $("#courseEnqStae").html(data);
                    }
                    else {
                        console.log("Error:BindState")
                    }
                }
            });
        });
        $("#courseEnqStae").change(function () {
            var stateid = $("#courseEnqStae").val();
            var serviceURLcity = '@(Url.Action("bindcity", "RequestCall"))';
            $.ajax({
                url: serviceURLcity,
                type: "GET",
                dataType: "HTML",
                data: {
                    stateid: stateid
                },
                async: false,
                success: function (data) {
                    if (data != "") {
                        $("#courseEnqCity").html(data);
                    }
                    else {
                        console.log("Error:bindcity")
                    }
                }
            });

        });
        $('#courseEnqEmail').change(function () {
            if (!/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($('#courseEnqEmail').val())) {
                $('#courseEmailValid').html("<span class='field-validation-error'>Please enter a valid email address</span>");
            }
            else {
                $('#courseEmailValid').html("");
            }
        });
        $('#courseEnqMobile').change(function () {
            if (!/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test($('#courseEnqMobile').val())) {
                $('#courseEmailValid').html("");
                $('#courseMobileValid').html("<span class='field-validation-error'>Please enter a valid phone number</span>");
            }
            else {
                $('#courseMobileValid').html("");
            }
        });
        $('#courseEnqName').change(function () {
            if ($('#courseEnqName').val().match("/^[a-zA-Z]+$/")) {
                $('#courseNameValid').html("<span class='field-validation-error'>Please enter a Valid Name</span>");
            }
            else {
                $('#courseNameValid').html("");
            }
        });
        $("#courseEnqSubmit").click(function () {
            var $form = $('#courseEnquiryForm');
            event.preventDefault();
            if ($form.data('submitted') === true) {
                // Previously submitted - don't submit again
            } else {
                var name = $('#courseEnqName').val();
                var emailId = $('#courseEnqEmail').val();
                var phoneNumber = $('#courseEnqMobile').val();
                var state = $('#courseEnqStae').val();
                var city = $('#courseEnqCity').val();
                var course = $('#courseEnqCourse').val();
                var checkBox = $('#enqFormCheck').val();
                if (name == "" && emailId == "" && phoneNumber == "" && state == "0" && city == "")
        {
                    $('#courseNameValid').html("<span class='field-validation-error'>Please enter your full name</span>");
                    $('#courseEmailValid').html("<span class='field-validation-error'>Please enter your email address</span>");
                    $('#courseMobileValid').html("<span class='field-validation-error'>Please enter your phone number</span>");
                    //$('#courseValid').html("<span class='field-validation-error'>Please select a course</span>");
                    $('#stateValid').html("<span class='field-validation-error'>Please select a state</span>");
                    $('#cityValid').html("<span class='field-validation-error'>Please select a city</span>");
        }
                else if (name == "") {
                    //$('#')
                    //alert("Please Enter Name");
                    $('#courseNameValid').html("<span class='field-validation-error'>Please enter a name</span>")
                    $('#courseEnqName').focus();
                }
                else if (emailId == "") {
                    //alert("Please Enter Email ID");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("<span class='field-validation-error'>Please enter your email address</span>");
                    $('#courseEnqEmail').focus();
                }
                else if (phoneNumber == "") {
                    //alert("Please Enter Phone Number");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("<span class='field-validation-error'>Please enter your phone number</span>");
                    $('#courseEnqMobile').focus();
                }
                //else if (course == "") {
                //    //alert("Please Select Course");
                //    $('#courseNameValid').html("");
                //    $('#courseEmailValid').html("");
                //    $('#courseMobileValid').html("");
                //    $('#courseValid').html("<span class='field-validation-error'>Please select your course</span>");
                //    $('#courseEnqCourse').focus();

                //}
                else if (state == "0") {
                    //alert("Please Select State");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("");
                    $('#courseValid').html("");
                    $('#stateValid').html("<span class='field-validation-error'>Please select your state</span>");
                    $('#courseEnqStae').focus();
                }
                else if (city == "") {
                    //alert("Please Select City");
                    $('#courseNameValid').html("");
                    $('#courseEmailValid').html("");
                    $('#courseMobileValid').html("");
                    $('#courseValid').html("");
                    $('#stateValid').html("");
                    $('#cityValid').html("<span class='field-validation-error'>Please select your city</span>");
                    $('#courseEnqCity').focus();
                }

                //alert(checkBox);
                if (name !== "" && emailId !== "" && phoneNumber !== "" && state !== "" && city !== "" )
                {
                    if (name == "") {
                        //console.log("true");
                        $('#courseEnqName').focus();
                    }
                    //else if ($('#courseEnqName').val().match('^[a-zA-Z]{3,16}$')) {
                    //    //alert("Valid name");
                    //    $('#courseNameValid').html("<span class='field-validation-error'>Please enter valid name</span>");
                    //}
                    else if (!/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(emailId)) {
                        $('#courseNameValid').html("");
                        $('#courseEmailValid').html("<span class='field-validation-error'>Please enter a valid email address</span>");
                        $('#courseEnqEmail').focus();
                    }
                    else if (!/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/.test(phoneNumber)) {
                        $('#courseMobileValid').html("<span class='field-validation-error'>Please enter valid phone number</span>");
                        $('#courseEnqMobile').focus();
                    }
                    else if ($("#enqFormCheck").is(":not(:checked)")) {
                        alert("Please Accept Terms and Condition");
                        return false;
                    }
                    //if (!this.form.checkbox.checked) {
                    //    alert('You must agree to the terms first.');
                    //    return false;
                    //}
                    //else if (checkBox=="true")
                    //{
                    //    //alert("Please Accept Terms and Condition");
                    //    if ($("input[type='checkbox'][name='enqFormCheck']:checked").length) {
                    //        $(this).valid()
                    //        alert("Inside Checkbox");
                    //    }
                    //    $('#enqFormCheck').focus();
                    //}
                    else {
                    $('#courseEnqSubmit').attr('disabled');
                        $('#courseNameValid').html("");
                        $('#courseEmailValid').html("");
                        $('#courseMobileValid').html("");
                        $('#courseValid').html("");
                        $('#stateValid').html("");
                        $('#cityValid').html("");
                        //alert("Correct");
                        $.ajax({
                            url: '@Url.Action("HandleSubmit", "CourseEnquiry")',
                            type: 'POST',
                            cache: false,
                            data: { Name: $('#courseEnqName').val(), emailId: $('#courseEnqEmail').val(), mobile: $('#courseEnqMobile').val(), stateId: $('#courseEnqStae').val(), course: $('#courseEnqCourse').val(), City: $('#courseEnqCity').val(), prospectId: $('#courseEnqCity').val(), srcId:'@Model.Content' },
                            success: function (result) {
                        if (result === "True") {
                            console.log("completed: " + result);
                        }
                        if (result === "True") {
                            $('#otpForm').css('display', 'block');
                            $('#thankyou').html("");
                            $('#otpForm').focus();
                            timer(60);
                            $('html, body').animate({ scrollTop: $('#otpForm').offset().top - 100 }, 500);
                            console.log(result);
                        }

                    },
                    error: function (qXHR, status, err) {
                        $form.data('submitted', false);
                        console.log(err);
                    },
                });
                    }
        }
            }
        });

    </script>
    <script>
        $('#ExpandAll').click(function () {
            $('#AccordionPanel .collapse').toggleClass('show');
            if ($(".CardHeaderPanel a").attr("aria-expanded") == "true") {
                $(".CardHeaderPanel a").attr("aria-expanded", "false");
                $('#ExpandAll').text('Expand all');
            }
            else {
                $(".CardHeaderPanel a").attr("aria-expanded", "true");
                $('#ExpandAll').text('Collapse all');

            }
        });
    </script>
    <script>
        //$('#ExpandAll').click(function () {
        //    $('#AccordionPanel .collapse').toggleClass('show');
        //    $(".CardHeaderPanel a").attr("aria-expanded", "true");


        //});
        $('#health-medical-AccordionPanel-toggler').click(function () {
            $('#health-medical-AccordionPanel .collapse').toggleClass('show');
            if ($(".CardHeaderPanel a").attr("aria-expanded") == "true") {
                $(".CardHeaderPanel a").attr("aria-expanded", "false");
                $('#health-medical-AccordionPanel-toggler').text('Expand all');
            }
            else {
                $(".CardHeaderPanel a").attr("aria-expanded", "true");
                $('#health-medical-AccordionPanel-toggler').text('Collapse all');

            }
        });
        $(document).ready(function () {
        });
    </script>
}