﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.WebToLead>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->
 
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
 
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->
 
<form action=https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8 method="POST">
 
<input type=hidden name="oid" value="00D2v000001ghbo">
<input type=hidden name="retURL" value="@string.Concat("https://www.upes.ac.in",Model.Content.Url)">
<input type=hidden name="csid" value="00D2v000001ghbo">
<input type=hidden name="leadsoource" value="callback">
 
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail" value=projects@codleo.com>     -->
<!--  ----------------------------------------------------------------------  -->
 
<label for="first_name">First Name</label><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
 
<label for="last_name">Last Name</label><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
 
<label for="mobile">Mobile</label><input  id="mobile" maxlength="40" name="mobile" size="20" type="text" /><br>
 
Course Type:<select  id="00N2v00000QtPdX" name="00N2v00000QtPdX" title="Course (OLD)">
    <option value="">--None--</option>
<option value="Under Graduate">Under Graduate</option>
<option value="Post Graduate">Post Graduate</option>
<option value="Integrated">Integrated</option>
</select><br>
 
Select Course:<select  id="00N2v00000QtPe9" name="00N2v00000QtPe9" title="Select Course"><option value="">--None--</option><option value="LLB">LLB</option>
<option value="B.Pharma">B.Pharma</option>
<option value="B.Sc">B.Sc</option>
<option value="B.Optometry">B.Optometry</option>
<option value="B.Tech">B.Tech</option>
<option value="BA">BA</option>
<option value="BCA">BCA</option>
<option value="D.Pharma">D.Pharma</option>
<option value="B.Tech LLB">B.Tech LLB</option>
<option value="B.Des">B.Des</option>
<option value="BBA">BBA</option>
<option value="B.Com">B.Com</option>
<option value="B.Physiotherapy">B.Physiotherapy</option>
<option value="M.Tech">M.Tech</option>
<option value="LLM">LLM</option>
<option value="MBA">MBA</option>
<option value="M.Sc">M.Sc</option>
<option value="MA">MA</option>
<option value="M.Des">M.Des</option>
<option value="B.Plan">B.Plan</option>
<option value="BAEE">BAEE</option>
<option value="M.Plan">M.Plan</option>
<option value="MAEE">MAEE</option>
<option value="M.Com">M.Com</option>
<option value="MCA">MCA</option>
<option value="M.Sc. + PhD">M.Sc. + PhD</option>
<option value="BBA + MBA">BBA + MBA</option>
<option value="B.Tech (Food tech) + MBA">B.Tech (Food tech) + MBA</option>
<option value="B.Tech (Biotech) + MBA">B.Tech (Biotech) + MBA</option>
<option value="B.Sc + M.Sc">B.Sc + M.Sc</option>
<option value="B.Pharm + MBA">B.Pharm + MBA</option>
<option value="B.Des + M.Des">B.Des + M.Des</option>
<option value="B.Com (Hons) +  MBA">B.Com (Hons) +  MBA</option>
<option value="BA-Modern Media">BA-Modern Media</option>
<option value="BBA-Modern Media">BBA-Modern Media</option>
<option value="MA-Modern Media">MA-Modern Media</option>
<option value="MBA-Modern Media">MBA-Modern Media</option>
<option value="Integrated (B.Sc.) - (M.Sc.)">Integrated (B.Sc.) - (M.Sc.)</option>
<option value="Integrated (M.Sc.) – (PhD)">Integrated (M.Sc.) – (PhD)</option>
<option value="B.Pharma + MBA">B.Pharma + MBA</option>
<option value="B.Tech + MBA">B.Tech + MBA</option>
<option value="LLB-5 Year">LLB-5 Year</option>
<option value="LLB-3 Year">LLB-3 Year</option>
</select><br>
 
<input type="submit" name="submit">
 
</form>
