﻿@inherits WebViewPage<FormViewModel>
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Forms.Mvc.BusinessLogic


@{ 
   
    if (Model.DisableDefaultStylesheet == false)
    {
        Html.SetFormThemeCssFile(Model, "~/App_Plugins/UmbracoForms/Assets/Themes/Default/style.css");
    }
    
   
}


@if (Model.ShowValidationSummary)
{
    @Html.ValidationSummary(false)
}

@foreach (FieldsetViewModel fs in Model.CurrentPage.Fieldsets)
{
    foreach (var c in fs.Containers)
    {
        var fIndex = 0;
        <div class="row enq_row mlr">
            
            @foreach (FieldViewModel f in c.Fields)
            {
                bool hidden = f.HasCondition && f.ConditionActionType == FieldConditionActionType.Show;
                <div class="col-lg-6 col-sm-6 enq_form plr7" @{ if (hidden) { <text> style="display: none" </text>   } }>
    				@if (!f.HideLabel)
                    {
                      @*  <label for="@f.Id">
                            @f.Caption @if (f.ShowIndicator)
                            {
                                @Model.Indicator
                            }
                        </label>*@
                    }
                    @Html.Partial(FormThemeResolver.GetFieldView(Model, f), f)
    
                    @if (Model.ShowFieldValidaton)
                    {
                        @Html.ValidationMessage(f.Id)
                    }
    			</div>
                
            }
           
        </div>
    }
   
		<div class="formSubmit  fontBold text-uppercase">
			<button type="submit" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase justify-content-center noPadding">@Model.SubmitCaption</button>
		</div>

}
<div style="display: none">
    <input type="text" name="@Model.FormId.ToString().Replace("-", "")" />
</div>