/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 1.46vw; }

.plr100 {
  padding: 0 7.3vw; }

/*Spacing - margin*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 1.46vw; }

.plr100 {
  padding: 0 7.3vw; }

/*Spacing - margin*/
/*mixin*/
/**Footer***/
footer .FooterPanel {
  color: #FFFFFF; }

footer .foot_Btm {
  background: #4D4D4D;
  color: #FFFFFF;
  font-size: 0.9vw; }

footer .SocialIcon p {
  font-size: 0.9vw; }

footer .foot_Btm_Height {
  height: 10vh; }

footer .foot_Top_Height {
  height: 200px; }

footer .foot_Top {
  background: #606060; }

footer .footMenuList {
  padding: 10px 0 0 0; }

footer .footTopRow {
  padding: 2vh 0; }

footer .footMenuList a {
  display: block;
  color: #EEEEEE;
  font-size: 0.8vw;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5px 0; }

footer .footMenus p {
  text-transform: uppercase;
  font-size: 1.05vw; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 1.46vw; }

.plr100 {
  padding: 0 7.3vw; }

/*Spacing - margin*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 1.46vw; }

.plr100 {
  padding: 0 7.3vw; }

/*Spacing - margin*/
/*mixin*/
