/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 1.46vw; }

.plr100 {
  padding: 0 7.3vw; }

/*Spacing - margin*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 1.46vw; }

.plr100 {
  padding: 0 7.3vw; }

/*Spacing - margin*/
/*mixin*/
/**Header***/
header .btn.btn-primary {
  border: navajowhite;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header .HeaderPanel {
  padding: 0;
  background: inherit !important; }

header .HeaderRow {
  height: 13vh; }

header .logo_vw {
  width: 9vw; }

header .HeaderPanelLeft a {
  padding: 0 0 0 4vw;
  margin: 0; }

header .HeaderPanelLeft {
  width: 25%; }

header .HeaderPanelRight {
  width: 15%; }

header .Icon_vw {
  width: 2.2vw; }

header .BtnStyle {
  background: #FFCA08;
  width: 10.5vw;
  height: 4.6vh;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  font-size: 0.75vw;
  border-radius: 30px;
  margin: 0 15px 0 0;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

header .HeaderPanelMenu ul li {
  position: relative;
  padding: 0 2vw; }

header .HeaderPanelMenu ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

header .HeaderPanelMenu ul li:first-child {
  padding: 0 1vw; }

header .HeaderPanelMenu ul li:first-child:before {
  display: none; }

header .HeaderPanelMenu ul li:before {
  content: '';
  display: block;
  background: #E9E9E9;
  width: 0.1vw;
  height: 1vw;
  position: absolute;
  left: 0px;
  top: 2px; }

header .HeaderPanelMenu ul li a {
  padding: 0 !important;
  color: #000000 !important;
  font-size: 0.8vw;
  text-transform: uppercase;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out; }

header .HeaderPanelMenu ul li a:hover, header .HeaderPanelMenu ul li a:active {
  color: #EF3F3F !important; }

header .BtnStyle:hover {
  background: #FFCA08; }

header .HeaderPanelMenu {
  width: 60%; }

header .BtnIcon img {
  width: 1.5vw;
  margin: 0 7px 0 0; }

header .HeaderPanelMenu ul li:first-child a {
  background: #EF3F3F;
  color: #fff !important;
  border-radius: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4.6vh;
  width: 11vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 1.46vw; }

.plr100 {
  padding: 0 7.3vw; }

/*Spacing - margin*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 1.46vw; }

.plr100 {
  padding: 0 7.3vw; }

/*Spacing - margin*/
/*mixin*/
