/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.HomePanel {
  /**Banner Section*/
  /***Specialisation*/
  /**Industry*/
  /***Courses*/
  /**Stories***/
  /**Certification*/
  /**Award*/
  /**StudentAchievment*/
  /**Events***/
  /**Helpline Chat*/ }
  .HomePanel .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important;
    margin: 0 0 4.3vmax 0; }
  .HomePanel .BannerImg {
    width: 70vw;
    float: right; }
  .HomePanel .BannerStripContext {
    width: 40vw;
    position: absolute;
    bottom: -75px;
    background: url("../img/home/banner-text-bg.png") no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 6vh 0px 4.5vh 85px;
    font-size: 40px;
    height: 26vmax;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .HomePanel .BannerStripContext p {
    font-size: 5.2vw;
    position: absolute;
    width: 55vw;
    left: 6vmax; }
  .HomePanel .WatchPanel {
    position: absolute;
    bottom: 40px;
    right: 80px; }
  .HomePanel .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .HomePanel .WatchPanel a img {
    width: 25px; }
  .HomePanel .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .HomePanel .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .HomePanel .SplOverlapContext {
    width: 31vw;
    position: absolute;
    bottom: -75px;
    background: #00448B;
    color: #FFFFFF;
    height: 21.5vh;
    left: -15px;
    padding: 15px 20px;
    -webkit-box-shadow: 0 5px 5px #ccc;
    box-shadow: 0 5px 5px #ccc; }
  .HomePanel .Spl_Row {
    padding: 25px 0 0px 0; }
  .HomePanel .Spl_Context {
    padding: 0 80px 0 0 !important; }
  .HomePanel .SplOverlapContext a {
    color: #FFFFFF;
    font-size: 0.9vw;
    padding: 10px 0 0 0;
    display: inline-block; }
  .HomePanel .Spl_Context h2 {
    color: #00448B;
    margin: 30px 0 15px 0; }
  .HomePanel .Spl_Context h2:before {
    position: absolute;
    content: '';
    background: #EF3F3F;
    width: 40px;
    height: 3px;
    top: -15px; }
  .HomePanel .Spl_Context h4 {
    padding: 0 0 15px 0; }
  .HomePanel .Spl_list p:before {
    content: '';
    background: #5E5E5E;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 8px;
    left: 0px;
    display: block; }
  .HomePanel .Spl_list p {
    margin: 0 0 5px 0;
    position: relative;
    padding: 0 0 0 10px; }
  .HomePanel .industryStrip {
    background: #FFCA08;
    height: 15vh;
    margin: 0 0 30px 0; }
  .HomePanel .IndContext {
    width: 33.8vw; }
  .HomePanel .industryPanel {
    padding: 80px 0 40px 0;
    z-index: 999;
    position: relative; }
  .HomePanel .industryStrip h2 {
    font-size: 3vw;
    margin: 0 -3vh 0 0; }
  .HomePanel .IndContext h4 {
    padding: 0 0 0 6vw; }
  .HomePanel .Num_Title {
    font-size: 1.32vw;
    padding: 0 0 0 30px; }
  .HomePanel .Numb_list {
    font-size: 5vw;
    color: #00448B; }
  .HomePanel .industry_blockList {
    margin: 0 -40px;
    padding: 13vh 0; }
  .HomePanel .ind_CompanyList {
    padding: 0 85px 12px 85px;
    margin: 0 -7px; }
  .HomePanel .Ind_inn {
    padding: 0 40px; }
  .HomePanel .StyleForSlickArrows .slick-next {
    right: 7px;
    left: auto;
    background: url(../img/home/right-arrow.png) no-repeat; }
  .HomePanel .StyleForSlickArrows .slick-prev, .HomePanel .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important; }
  .HomePanel .StyleForSlickArrows .slick-prev {
    left: 7px;
    background: url(../img/home/left-arrow.png) no-repeat; }
  .HomePanel .ind_Logo {
    padding: 0 7px; }
  .HomePanel .StyleForSlickArrows .slick-prev:before, .HomePanel .StyleForSlickArrows .slick-next:before {
    display: none; }
  .HomePanel .clblk_Top {
    padding: 2vh 45px 2vh 20px;
    border-bottom: 1px solid #EEEEEE; }
  .HomePanel .courseIcon {
    width: 4.4vw; }
  .HomePanel .CL_bg {
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 5px 5px #ccc;
    box-shadow: 0 0 5px 5px #ccc; }
  .HomePanel .coursesfor {
    color: #7C7C7C; }
  .HomePanel .clblk_Top h2 {
    color: #00448B;
    line-height: 2.5vh; }
  .HomePanel .linebeforeText {
    position: relative;
    padding: 0 0 0 8px; }
  .HomePanel .CoursesList {
    margin: 0 -7px; }
  .HomePanel .linebeforeText:before {
    content: '-';
    position: absolute;
    left: 0px; }
  .HomePanel .CL_Block {
    padding: 0 7px; }
  .HomePanel .CoursesList .slick-list.draggable {
    overflow: visible; }
  .HomePanel .forApplication span {
    display: block;
    color: #7C7C7C;
    font-weight: 500; }
  .HomePanel .TextOverlap {
    color: #FFFFFF;
    text-transform: uppercase;
    position: absolute;
    font-size: 10vw;
    top: -24%;
    left: -11%;
    width: 100%;
    height: 100%;
    z-index: 0; }
  .HomePanel .forApplication span {
    display: block;
    color: #7C7C7C;
    font-weight: 500; }
  .HomePanel .forApplication p {
    padding: 0 0 5px 0; }
  .HomePanel .CheckBlk {
    padding: 3.5vh 30px; }
  .HomePanel .checkBtnStyle {
    border: 1px solid #EF3F3F;
    color: #EF3F3F;
    height: 5.4vh; }
  .HomePanel .clrBorderBlue {
    border-bottom: 3px solid #00448B; }
  .HomePanel .clrBorderYellow {
    border-bottom: 3px solid #FFCA08; }
  .HomePanel .CoursesPanel {
    margin: 50px 0 0 0;
    z-index: 99; }
  .HomePanel .clrBorderRed {
    border-bottom: 3px solid #EF3F3F; }
  .HomePanel .courseTitle {
    min-height: 9vh; }
  .HomePanel .course_iconStyle {
    min-height: 12vh; }
  .HomePanel .forApplication {
    padding: 2.1vh 45px 2.2vh 20px;
    border-bottom: 1px solid #EEEEEE; }
  .HomePanel .applyCourses {
    background: #FFFFFF;
    padding: 100px 0 50px 0;
    text-align: right;
    margin: -6vh 0 0 0;
    position: relative;
    z-index: 9; }
  .HomePanel .CourseFind a {
    font-size: 0.9vw; }
  .HomePanel .crseTitle {
    padding: 0px 0 25px 0; }
  .HomePanel .StyleForSlickArrowsBottom .slick-prev, .HomePanel .StyleForSlickArrowsBottom .slick-next {
    left: 50px;
    top: auto;
    bottom: 30px; }
  .HomePanel .StyleForSlickArrowsBottom .slick-prev {
    left: 0px; }
  .HomePanel .StyleForSlickArrowsTop .slick-prev, .HomePanel .StyleForSlickArrowsTop .slick-next {
    right: 7px;
    top: -13%; }
  .HomePanel .StyleForSlickArrowsTop .slick-prev {
    right: 7%;
    left: auto; }
  .HomePanel .BtnBlue {
    border: 1px solid #00448B;
    color: #00448B; }
  .HomePanel .BtnRed {
    background: #EF3F3F;
    border: 1px solid transparent;
    color: #FFFFFF; }
  .HomePanel .BtnRed:hover {
    border: 1px solid #EF3F3F;
    color: #EF3F3F; }
  .HomePanel .HomeCoursePanel {
    padding: 50px 0 0 0; }
  .HomePanel .HomeCourseBg {
    background: #F7F7F7 url(../img/home/pattern-bg.jpg) no-repeat;
    background-position: bottom; }
  .HomePanel .HomeCourseBg:after {
    content: '';
    background: url(../img/home/backgound-logo-image.png) no-repeat;
    position: absolute;
    background-position: center center;
    width: 100%;
    height: 100%;
    top: -20%;
    background-size: 45%;
    left: 10%; }
  .HomePanel .knowMoreStyle {
    text-decoration: underline !important;
    font-size: 0.9vw;
    color: #00448B !important;
    margin: 10px 0 0 0;
    display: inline-block; }
  .HomePanel .storiesPanStyle {
    padding: 35px 7px; }
  .HomePanel .StoriesContext {
    background: #FFFFFF;
    padding: 2vh 3vh 2vh 3vh;
    height: 245px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -60px;
    left: 6.3vw;
    width: 21vw;
    -webkit-box-shadow: 0 5px 5px #ccc;
    box-shadow: 0 5px 5px #ccc; }
  .HomePanel .StoriesContext h3 {
    font-size: 1.2vw; }
  .HomePanel .StoriesContext h2 {
    font-size: 1.5vw; }
  .HomePanel .StoriesContext a {
    text-decoration: underline;
    font-size: 0.9vw;
    color: #00448B; }
  .HomePanel .StoriesContext p {
    font-size: 1.05vw;
    padding: 15px 0 20px 0; }
  .HomePanel .storiesPanStyle img {
    width: 21vw; }
  .HomePanel .StoryTitleStrip {
    background: #FFCA08; }
  .HomePanel .StoryTitleStrip p {
    position: absolute;
    top: -23%;
    font-size: 2.5vw;
    font-weight: 800; }
  .HomePanel .StoryTitleStrip {
    background: #FFCA08;
    width: 27.4vw;
    text-align: center;
    position: relative;
    height: 15vh; }
  .HomePanel .StoryTitleStrip h2 {
    font-size: 5.2vw; }
  .HomePanel .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .HomePanel .Studentstories {
    margin: 50px 0 0 0; }
  .HomePanel .link_list {
    padding: 3vh 0px 4.5vh 0; }
  .HomePanel .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .HomePanel .HCBlk span {
    position: relative;
    top: -10px; }
  .HomePanel .HCBlk {
    padding: 0 48px; }
  .HomePanel .HC_row {
    margin: -30px -48px 0 -48px;
    padding: 0 0 37vh 6.2vw; }
  .HomePanel .HC_List {
    min-height: 12vmax; }
  .HomePanel .HC_List p {
    line-height: 22px; }
  .HomePanel .CertifcationBg {
    background: url(../img/home/pattern-bg.jpg);
    background-size: cover; }
  .HomePanel .CrtInner {
    margin: -25vh 0 0 0;
    padding: 0 0 30px 0; }
  .HomePanel .StripforTwoContext {
    position: relative;
    top: -50px;
    background: #FFCA08;
    height: 15vh;
    width: 30vw; }
  .HomePanel .StripforTwoContext h2 {
    margin: 0 -10vh -4vh 0;
    font-size: 3vw; }
  .HomePanel .AwardContext {
    background: #FFFFFF;
    padding: 3vh 6vh 3vh 6vh;
    height: 140px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -60px;
    left: 2.2vw;
    width: 25.8vw;
    -webkit-box-shadow: 0 5px 5px #ccc;
    box-shadow: 0 5px 5px #ccc; }
  .HomePanel .AwardContext p {
    line-height: 24px; }
  .HomePanel .DarkGrayTitle {
    color: #DDDDDD;
    font-size: 7.2vw;
    position: relative;
    top: -1vh;
    margin: 0 0 20px 0; }
  .HomePanel .AwardSectionIner {
    padding: 50px 0 0 0; }
  .HomePanel .AwardSectionIner h2 {
    left: 1vw; }
  .HomePanel .ForAwardCarouselStyle {
    margin: -14.5vh 0 0 0; }
  .HomePanel .ResearchContext p {
    padding: 40px 0 0 0;
    line-height: 24px; }
  .HomePanel .ResearchPanel {
    margin: 60px 0 0 0; }
  .HomePanel .ResearchSlick {
    padding: 20px 0 65px 0; }
  .HomePanel .ResearchLogoBanner:after {
    background: url(../img/home/backgound-logo-image.png) no-repeat;
    content: '';
    position: absolute;
    top: 25%;
    right: 100px;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-position: right;
    width: 100%;
    background-size: 45%; }
  .HomePanel .WhiteBg {
    background: url(../img/home/white-bg-pattern.jpg) no-repeat;
    background-size: cover;
    background-position: center; }
  .HomePanel .EventBg {
    margin: -85px 0 0 0; }
  .HomePanel .studenAchieveBanner:before {
    background: url(../img/home/backgound-logo-image.png) no-repeat;
    background-position: left;
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -22%;
    background-size: 100%;
    z-index: 0; }
  .HomePanel .SectionLogoBanner:before {
    content: '';
    background: url(../img/home/backgound-logo-image.png) no-repeat;
    background-size: 50%;
    position: absolute;
    top: 70px;
    left: 50px;
    width: 100%;
    height: 100%; }
  .HomePanel .AchieveInner {
    padding: 30vh 0 3vh 0; }
  .HomePanel .AchieveTitle p {
    line-height: 10px; }
  .HomePanel .AchieveContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .HomePanel .AchieveTitleBlock p {
    position: relative;
    top: 10px; }
  .HomePanel .AchieveTitleBlock h3 {
    margin: 0 0 20px 0; }
  .HomePanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .HomePanel .AchieveContextInn {
    background: #FFCA08;
    padding: 1.7vh 3vw 1.7vh 2vw; }
  .HomePanel .AchieveContextInn p {
    font-size: 1.5vw; }
  .HomePanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .HomePanel .noPadding {
    padding: 0px; }
  .HomePanel .Event_Inner h3 {
    padding: 4.6vh 0; }
  .HomePanel .eventContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .HomePanel .EventContStyle {
    background: #00448B;
    padding: 5vh 3vw 5vh 2vw;
    color: #FFFFFF; }
  .HomePanel .Events_Impact_Panel {
    padding: 180px 0px 40px 6.2vw;
    margin: 0 -48px; }
  .HomePanel .HomeEventImg {
    padding: 0 100px 0 0; }
  .HomePanel .Ev_Im_List {
    padding: 0 48px; }
  .HomePanel .EventContStyleForHomeBlk {
    padding: 5vh 1vw 5vh 2vw; }
  .HomePanel .RotateTitlePosition {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    z-index: 9;
    padding: 0px !important;
    width: 100%;
    height: 100%;
    bottom: 120px;
    left: 0px; }
  .HomePanel .eventContextForHome {
    padding: 0 0 0 7vw; }
  .HomePanel .PadSpacing {
    padding: 3vh 0px 4.5vh 9vw; }
  .HomePanel .helplineChatInner {
    position: absolute;
    top: 35%;
    right: 3%;
    color: #FFFFFF; }
  .HomePanel .helplineChatInner a span {
    display: block;
    padding: 5px 0 0 0; }
  .HomePanel .helplineChatInner a img {
    width: 35px; }
  .HomePanel .helplineChatInner a {
    color: #FFFFFF;
    display: block;
    margin: 0 0 20px 0;
    font-size: 0.95vw;
    text-align: center; }
