/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  overflow-x: hidden; }

.fontLight {
  font-weight: 300; }

.fontRegular {
  font-weight: 400; }

.fontMedium {
  font-weight: 500; }

.fontBold {
  font-weight: 700; }

.fontExBold {
  font-weight: 800; }

.fontBlack {
  font-weight: 900; }

h1, h2, h3, h4, h5, h6, p {
  margin: inherit;
  line-height: initial;
  font-size: inherit; }

a, a:hover {
  text-decoration: none; }

.br30 {
  border-radius: 30px; }

.btn.btn-primary {
  border: none;
  padding: 0; }

.slick-slider {
  margin-bottom: 0px; }

.fullwidth {
  width: 100%; }

.plr7 {
  padding: 0 7px; }

.mlr {
  margin: 0 -7px; }

.text-decoration {
  text-decoration: underline !important; }

/*DefaultFontSizes*/
.titleh3 {
  font-size: 3.3vw; }

.titleh4 {
  font-size: 1.5vw; }

.paraSmall {
  font-size: 1.05vw; }

.paraLittle {
  font-size: 0.9vw; }

.titleMedium {
  font-size: 2.5vw; }

.para_three {
  font-size: 1.2vw; }

.para_Two {
  font-size: 1.32vw; }

.DownArrow {
  position: absolute;
  bottom: -10%;
  text-align: center;
  width: 100%;
  left: -6%;
  z-index: 1; }

.breadcrumb.breadcrumbCustom li.active {
  color: #000000; }

.breadcrumb.breadcrumbCustom li a {
  color: #000000; }

.breadcrumb.breadcrumbCustom li {
  display: inline-block;
  font-size: 0.9vw; }

.breadcrumbPanel {
  position: absolute;
  bottom: -10%;
  left: 48%;
  text-align: center;
  padding: 0;
  z-index: 1; }

.breadcrumb.breadcrumbCustom {
  margin: 0;
  background: inherit;
  width: auto;
  padding: 0;
  display: block; }

.downArrowIcon {
  width: 2.4vw; }

/**Include Css*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
/**Header***/
header .btn.btn-primary {
  border: navajowhite;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header .HeaderPanel {
  padding: 0;
  background: inherit !important; }

header .HeaderRow {
  height: 13vh; }

header .logo_vw {
  width: 9vw; }

header .HeaderPanelLeft a {
  padding: 0 0 0 80px;
  margin: 0; }

header .HeaderPanelLeft {
  width: 25%; }

header .HeaderPanelRight {
  width: 14%; }

header .Icon_vw {
  width: 2.2vw; }

header .BtnStyle {
  background: #FFCA08;
  width: 11vw;
  height: 4.6vh;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  font-size: 0.7vw;
  margin: 0 15px 0 0;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

header .HeaderPanelMenu ul li {
  position: relative;
  padding: 0 2vw; }

header .HeaderPanelMenu ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

header .HeaderPanelMenu ul li:first-child {
  padding: 0 1vw; }

header .HeaderPanelMenu ul li:first-child:before {
  display: none; }

header .HeaderPanelMenu ul li:before {
  content: '';
  display: block;
  background: #E9E9E9;
  width: 0.1vw;
  height: 1vw;
  position: absolute;
  left: 0px;
  top: 2px; }

header .HeaderPanelMenu ul li.active a {
  color: #EF3F3F !important; }

header .HeaderPanelMenu ul li a {
  padding: 0 !important;
  color: #000000 !important;
  font-size: 0.8vw;
  text-transform: uppercase;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out; }

header .HeaderPanelMenu ul li a:hover, header .HeaderPanelMenu ul li a:active {
  color: #EF3F3F !important; }

header .BtnStyle:hover {
  background: #FFCA08; }

header .HeaderPanelMenu {
  width: 61%; }

header .BtnIcon img {
  width: 1.5vw;
  margin: 0 4px 0 0; }

header .HeaderPanelMenu ul li:first-child a {
  background: #EF3F3F;
  color: #fff !important;
  border-radius: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4.6vh;
  width: 11vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
/**Footer***/
footer .FooterPanel {
  color: #FFFFFF; }

footer .foot_Btm {
  background: #4D4D4D;
  color: #FFFFFF;
  font-size: 0.9vw; }

footer .SocialIcon p {
  font-size: 0.9vw;
  padding: 0 15px 0 0; }

footer .foot_Btm_Height {
  height: 10vh; }

footer .foot_Top_Height {
  height: 200px; }

footer .foot_Top {
  background: #606060; }

footer .footMenuList {
  padding: 10px 0 0 0; }

footer .footTopRow {
  padding: 2vh 0; }

footer .footMenuList a {
  display: block;
  color: #EEEEEE;
  font-size: 0.75vw;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5px 0; }

footer .footMenus p {
  text-transform: uppercase;
  font-size: 1.05vw; }

footer .social_icon_menus a {
  display: inline-block;
  width: 1.8vw;
  margin: 0 0 0 4px; }

footer .footTopRow {
  margin: 0 -3px; }

footer .footMenus {
  padding: 0 3px; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.show_caseTop {
  padding: 5vh 0;
  background: #FFCA08; }

.takeStep p span {
  display: block; }

.takeStep p {
  font-size: 3.5vw;
  line-height: 7vh; }

.Visit_list a {
  background: #FFFFFF;
  width: 20.5vw;
  height: 6vh;
  font-size: 1.05vw;
  color: #00448B;
  margin: 0 6px 0 0;
  padding: 1.5vh 0 !important; }

.sh_showcaseRight a {
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

.Visit_list a:hover {
  background: #00448B;
  color: #FFFFFF; }

.ApplyNow a {
  font-size: 1.05vw;
  height: 6vh;
  background: #EF3F3F;
  color: #FFFFFF;
  width: 14vw;
  margin: 0 0 0 6px;
  padding: 1.5vh 0 !important; }

.ApplyNow a:hover {
  background: #FFFFFF;
  color: #EF3F3F; }

.show_caseBtm {
  background: #FCA61B; }

.dateText span {
  display: block; }

.shcaseBtmRow {
  padding: 3vh 0;
  color: #000000; }

.AppDate p {
  font-size: 1.5vw; }

.dateText {
  font-size: 0.9vw; }
