/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.ParentPanel {
  /**Banner Section*/
  /*.bannerPadding {
        padding: 0 0 9vh 0;
    }*/
  /**Stories**/
  /***Campus***/
  /**Student Living**/
  /**Events***/
  /**fAculty*/ }
  .ParentPanel .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .ParentPanel .BannerImg {
    width: 70vw;
    float: right; }
  .ParentPanel .BannerStripContext {
    width: 40vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 5px 5px #ccc;
    box-shadow: 0 5px 5px #ccc;
    padding: 4.5vh 75px 4.5vh 85px;
    font-size: 40px;
    height: 25.7vmax; }
  .ParentPanel .BannerStripContext p {
    font-size: 2.9vmax; }
  .ParentPanel .ParentStoryBg:before {
    background: #fff url(../img/home/pattern-bg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 77%;
    background-position: top; }
  .ParentPanel .ParentStoryBg {
    background: #F7F7F7; }
  .ParentPanel .guestPanelInn {
    position: relative;
    z-index: 1; }
  .ParentPanel .StudentstoryBg {
    background: #F7F7F7 url(../img/home/pattern-bg.jpg) no-repeat;
    background-position: bottom; }
  .ParentPanel .guestContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .ParentPanel .guestContext p {
    background: #fff;
    font-size: 1.5vw;
    padding: 4vh 3vw 4vh 2vw; }
  .ParentPanel .storiesPanStyle {
    padding: 35px 7px; }
  .ParentPanel .GuestLecturePanel {
    padding: 5vh 0 15vh 0;
    background: #F7F7F7; }
  .ParentPanel .StoriesContext {
    background: #FFFFFF;
    padding: 2vh 3vh 2vh 3vh;
    height: 245px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -60px;
    left: 6.3vw;
    width: 21vw;
    -webkit-box-shadow: 0 5px 5px #ccc;
    box-shadow: 0 5px 5px #ccc; }
  .ParentPanel .StoriesContext h3 {
    font-size: 1.2vw;
    font-weight: 700; }
  .ParentPanel .StoriesContext h2 {
    font-size: 1.5vw;
    font-weight: 800; }
  .ParentPanel .StoriesContext a {
    text-decoration: underline;
    font-size: 0.9vw;
    color: #00448B; }
  .ParentPanel .StoriesContext p {
    font-size: 1.05vw;
    padding: 15px 0 20px 0;
    font-weight: 500; }
  .ParentPanel .storiesPanStyle img {
    width: 21vw; }
  .ParentPanel .StoryTitleStrip {
    background: #FFCA08; }
  .ParentPanel .StoryTitleStrip p {
    position: absolute;
    top: -23%;
    font-size: 2.5vw;
    font-weight: 800; }
  .ParentPanel .StoryTitleStrip {
    background: #FFCA08;
    width: 27.4vw;
    text-align: center;
    position: relative;
    height: 15vh; }
  .ParentPanel .FacultyPanel {
    background: #F7F7F7; }
  .ParentPanel .fac_Row {
    height: 35vh; }
  .ParentPanel .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .ParentPanel .StoryTitleStrip h2 {
    font-size: 5.2vw; }
  .ParentPanel .CampusBg {
    position: absolute;
    right: 5px;
    top: -60px; }
  .ParentPanel .CampusBg img {
    width: 40vw; }
  .ParentPanel .GrayTitle {
    color: #EEEEEE;
    font-size: 7.2vw;
    position: relative;
    top: -1vh;
    margin: 0 0 20px 0; }
  .ParentPanel .CampusInner {
    padding: 0px 0 55px 0; }
  .ParentPanel .cmpinn p {
    width: 22vw;
    font-size: 1.05vw;
    padding: 17px 0 0 0; }
  .ParentPanel .st_inn {
    background: #FFCA08;
    width: 49.2vw;
    height: 44vh; }
  .ParentPanel .SLCarouselPanel {
    margin-top: -15vh;
    overflow: visible; }
  .ParentPanel .st_inn h3 {
    font-size: 4.5vw;
    padding: 20px 0 30px 0; }
  .ParentPanel .st_inn p {
    font-size: 1.05vw;
    padding: 0 0 5px 0; }
  .ParentPanel .SLContext p {
    background: #FFCA08;
    color: #000000;
    padding: 3vh 40px 3vh 30px;
    min-height: 12.2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2vw;
    -webkit-box-shadow: 0px 5px 5px 0px #ddd;
    box-shadow: 0px 5px 5px 0px #ddd; }
  .ParentPanel .link_list {
    text-align: right;
    padding: 5vh 0px 4.5vh 0; }
  .ParentPanel .SLContext {
    padding: 0 6.5vw 0 0;
    margin: -8.5vh 0 0 0;
    position: relative; }
  .ParentPanel .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .ParentPanel .Event_Inner h3 {
    padding: 4.6vh 0; }
  .ParentPanel .eventContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .ParentPanel .eventContext p {
    background: #00448B;
    font-size: 1.5vw;
    padding: 5vh 3vw 5vh 2vw;
    color: #FFFFFF; }
  .ParentPanel .IndContext {
    width: 33.8vw; }
  .ParentPanel .industryStrip {
    background: #FFCA08;
    height: 15vh;
    margin: 0 0 30px 0; }
  .ParentPanel .industryPanel {
    padding: 100px 0 0px 0;
    z-index: 999;
    position: relative; }
  .ParentPanel .industryStrip h2 {
    font-size: 3vw;
    margin: 0 -3vh 0 0; }
  .ParentPanel .IndContext h4 {
    padding: 0 0 0 6vw; }
  .ParentPanel .Num_Title {
    font-size: 1.32vw;
    padding: 0 0 0 30px; }
  .ParentPanel .Numb_list {
    font-size: 4.4vw;
    color: #00448B; }
  .ParentPanel .industry_blockList {
    margin: 0 -40px;
    padding: 13vh 0; }
  .ParentPanel .ind_CompanyList {
    padding: 0 85px 12px 85px;
    margin: 0 -7px; }
  .ParentPanel .Ind_inn {
    padding: 0 40px; }
  .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
    left: 0;
    width: 50px;
    height: 50px; }
  .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important; }
  .ParentPanel .StyleForSlickArrows .slick-prev {
    left: 7px;
    background: url(../img/home/left-arrow.png) no-repeat; }
  .ParentPanel .ind_Logo {
    padding: 0 7px; }
  .ParentPanel .StyleForSlickArrows .slick-next {
    right: 7px;
    left: auto;
    background: url(../img/home/right-arrow.png) no-repeat; }
  .ParentPanel .StyleForSlickArrows .slick-prev:before, .ParentPanel .StyleForSlickArrows .slick-next:before {
    display: none; }
  .ParentPanel .Event_Inner .link_list {
    position: absolute;
    right: 0;
    top: 6%; }
  .ParentPanel .noPadding {
    padding: 0px; }
  .ParentPanel .fac_InnerRow {
    margin: 0 -45px; }
  .ParentPanel .col-sm-4.fac_Inn {
    padding: 0 45px; }
  .ParentPanel .FacultyStrip {
    background: #FFCA08;
    height: 15vh;
    -webkit-box-pack: left !important;
    -ms-flex-pack: left !important;
    justify-content: left !important; }
  .ParentPanel .col-4.fac_List {
    padding: 0 10px 0 0; }
  .ParentPanel .FacultyStrip h2 {
    font-size: 3vw; }
  .ParentPanel .HealthyPanel {
    background: #F7F7F7;
    height: 55vh;
    margin: -25vh 0 0 0; }
  .ParentPanel .healthbg {
    background: #FFFFFF;
    height: 24.5vh;
    position: relative;
    -webkit-box-shadow: 0 5px 5px #ccc;
    box-shadow: 0 5px 5px #ccc;
    padding: 0 30px; }
  .ParentPanel .healthContext {
    padding: 0 0 0 35px; }
  .ParentPanel .healthContext p {
    padding: 5px 0 0 0; }
  .ParentPanel .healthImg img {
    width: 3.7vw; }
  .ParentPanel .PosiitonHealthyPanel {
    position: relative;
    top: 100px;
    z-index: 9; }
  .ParentPanel .StudentLogoBanner {
    background: url(../img/home/backgound-logo-image.png) no-repeat;
    background-position: right;
    background-size: 48%; }
  .ParentPanel .AchieveInner {
    padding: 30vh 0 3vh 0; }
  .ParentPanel .AchieveTitle p {
    line-height: 10px; }
  .ParentPanel .AchieveContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .ParentPanel .AchieveTitleBlock p {
    position: relative;
    top: 10px; }
  .ParentPanel .AchieveTitleBlock h3 {
    margin: 0 0 20px 0; }
  .ParentPanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .ParentPanel .AchieveContextInn {
    background: #FFCA08;
    padding: 1.7vh 3vw 1.7vh 2vw; }
  .ParentPanel .AchieveContextInn p {
    font-size: 1.5vw; }
  .ParentPanel .knowMoreStyle {
    text-decoration: underline !important;
    font-size: 0.9vw;
    color: #00448B !important;
    margin: 10px 0 0 0;
    display: inline-block; }
  .ParentPanel .StudentStoriesPanel {
    padding: 220px 0 40px 0;
    padding: 35vh 0 0 0;
    margin: -100px 0 0 0; }
  .ParentPanel .LogoBanner {
    position: relative; }
  .ParentPanel .LogoBanner:before {
    content: '';
    background: url(../img/home/backgound-logo-image.png) no-repeat;
    background-size: 62%;
    background-position: right;
    position: absolute;
    right: -9%;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999; }
  .ParentPanel .clblk_Top {
    padding: 2vh 45px 2vh 20px;
    border-bottom: 1px solid #EEEEEE; }
  .ParentPanel .courseIcon {
    width: 4.4vw; }
  .ParentPanel .CL_bg {
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 5px 5px #ccc;
    box-shadow: 0 0 5px 5px #ccc; }
  .ParentPanel .coursesfor {
    color: #7C7C7C; }
  .ParentPanel .clblk_Top h2 {
    color: #00448B;
    line-height: 2.5vh; }
  .ParentPanel .linebeforeText {
    position: relative;
    padding: 0 0 0 8px; }
  .ParentPanel .CoursesList {
    margin: 0 -7px; }
  .ParentPanel .linebeforeText:before {
    content: '-';
    position: absolute;
    left: 0px; }
  .ParentPanel .CL_Block {
    padding: 0 7px; }
  .ParentPanel .CoursesList .slick-list.draggable {
    overflow: visible; }
  .ParentPanel .forApplication span {
    display: block;
    color: #7C7C7C;
    font-weight: 500; }
  .ParentPanel .TextOverlap {
    color: #FFFFFF;
    text-transform: uppercase;
    position: absolute;
    font-size: 10vw;
    top: -24%;
    left: -11%;
    width: 100%;
    height: 100%;
    z-index: 0; }
  .ParentPanel .forApplication span {
    display: block;
    color: #7C7C7C;
    font-weight: 500; }
  .ParentPanel .forApplication p {
    padding: 0 0 5px 0; }
  .ParentPanel .CheckBlk {
    padding: 3.5vh 30px; }
  .ParentPanel .checkBtnStyle {
    border: 1px solid #EF3F3F;
    color: #EF3F3F;
    height: 5.4vh; }
  .ParentPanel .clrBorderBlue {
    border-bottom: 3px solid #00448B; }
  .ParentPanel .clrBorderYellow {
    border-bottom: 3px solid #FFCA08; }
  .ParentPanel .CoursesPanel {
    margin: 50px 0 0 0; }
  .ParentPanel .clrBorderRed {
    border-bottom: 3px solid #EF3F3F; }
  .ParentPanel .courseTitle {
    min-height: 9vh; }
  .ParentPanel .course_iconStyle {
    min-height: 12vh; }
  .ParentPanel .forApplication {
    padding: 2.1vh 45px 2.2vh 20px;
    border-bottom: 1px solid #EEEEEE; }
  .ParentPanel .applyCourses {
    background: #FFFFFF;
    padding: 100px 0 50px 0;
    text-align: right;
    margin: -6vh 0 0 0; }
  .ParentPanel .CourseFind a {
    font-size: 0.9vw; }
  .ParentPanel .crseTitle {
    padding: 0px 0 25px 0; }
  .ParentPanel .StyleForSlickArrowsTop .slick-prev, .ParentPanel .StyleForSlickArrowsTop .slick-next {
    right: 7px;
    top: -13%; }
  .ParentPanel .StyleForSlickArrowsTop .slick-prev {
    right: 7%;
    left: auto; }
  .ParentPanel .BtnBlue {
    border: 1px solid #00448B;
    color: #00448B; }
  .ParentPanel .BtnRed {
    background: #EF3F3F;
    border: 1px solid transparent;
    color: #FFFFFF; }
  .ParentPanel .BtnRed:hover {
    border: 1px solid #EF3F3F;
    color: #EF3F3F; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
