﻿@model IPublishedContent
@using Umbraco.Web.Models;
<div class="EventPanelStyle EventPanelOne  plr7">
    @if (Model.HasProperty("thumbImage") && Model.HasValue("thumbImage"))
    {
        UmbracoHelper helper = new UmbracoHelper(UmbracoContext.Current);
        var imgPat = AST.S3.Helper.MediaHelper.ParseMedia(Model.GetPropertyValue<string>("thumbImage"), helper);
        var imgPath = Model.GetPropertyValue<IPublishedContent>("thumbImage");
        if (imgPat != null)
        {
            <img src="@imgPat.GetCropUrl("Achievements")" alt="@(imgPat.HasValue("altTag")?imgPat.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
        }

    }

    <div class="AchieveContext ">
        <div class="AchieveContextInn ">
            @if (Model.HasProperty("title") && Model.HasValue("title"))
            {
            <div class="AchieveContextPAra">
                <p class="fontBold">
                    @Html.Raw(Model.GetPropertyValue("title"))
                </p>
            </div>
            }

            @if (Model.HasProperty("sAKnowMoreLink") && Model.HasValue("sAKnowMoreLink"))
            {
                <a target="@(Model.GetPropertyValue<RelatedLinks>("sAKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.GetPropertyValue<RelatedLinks>("sAKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(Model.GetPropertyValue<RelatedLinks>("sAKnowMoreLink").FirstOrDefault().Caption)</a>
            }
        </div>

    </div>
</div>
