﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
<!--Industry & UPES-->
<div class="industryPanel">
    <div class="IndContext">
        <div class="industryStrip  Yellowstripbgfull  d-flex align-items-center  position-relative">
            @if (Model.Content.HasProperty("industryTitle") && Model.Content.HasValue("industryTitle"))
            {
                <h2 class="fontBlack text-uppercase">@Html.Raw(Model.Content.GetPropertyValue("industryTitle"))</h2>
            }

        </div>
        @if (Model.Content.HasProperty("sectionDescription") && Model.Content.HasValue("sectionDescription"))
        {
            <h3 class="fontMedium titleh4">
                @Html.Raw(Model.Content.GetPropertyValue("sectionDescription"))
            </h3>
        }

    </div>
    <div class="row industry_blockList">
        @if (Model.Content.HasProperty("counts") && Model.Content.HasValue("counts"))
        {
            var Cnts = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("counts");
            if (Cnts != null)
            {
                foreach (var cnt in Cnts)
                {
                    <div class="col-sm-4 Ind_inn">
                        <p class="d-flex align-items-center">
                            <span class="fontBlack Numb_list">@Html.Raw(cnt.GetPropertyValue("count"))</span>
                            <span class="fontMedium Num_Title">@Html.Raw(cnt.GetPropertyValue("text"))</span>
                        </p>
                    </div>
                }
            }
        }
        <div class="DisclaimerTExt DisclaimerTExtTop">
            <p>
                * Placement statistics refer to the number of students who have opted for and are eligible for placements
            </p>
        </div>
    </div>
    <div class="ind_CompanyList StyleForSlickArrows CarouselForCompanies">
        @if (Model.Content.HasProperty("companyImages") && Model.Content.HasValue("companyImages"))
        {
            var images = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("companyImages");
            foreach (var imgPath in images)
            {
                var imgPat = AST.S3.Helper.MediaHelper.ParseMedia(imgPath.ToString(), Umbraco);
                if (imgPat != null)
                {
                    <div class="ind_Logo">
                        <img src="@imgPat.GetCropUrl("LogoDesk")" class="img-fluid" alt="@(imgPat.HasValue("altTag")?imgPat.GetPropertyValue<string>("altTag"):"")" />
                    </div>
                }
            }
        }
    </div>
    @if (Model.Content.HasProperty("bottomLink") && Model.Content.HasValue("bottomLink"))
    {
        <div class="link_list">
            <a href="@(Model.Content.GetPropertyValue<RelatedLinks>("bottomLink").FirstOrDefault().Link)" target="@(Model.Content.GetPropertyValue<RelatedLinks>("bottomLink").FirstOrDefault().NewWindow?"_blank":"_self")" class="fontBold text-uppercase text-decoration">
                @(Model.Content.GetPropertyValue<RelatedLinks>("bottomLink").FirstOrDefault().Caption)
            </a>
        </div>
    }
    <div class="DisclaimerTExt">
        <p>*Partial list of campus recruiters </p>

    </div>
</div>