﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@{
    var content = Model;
}
    @if (Model.Content.HasProperty("bigTitle") && Model.Content.HasValue("bigTitle"))
    {
        <div class="TextOverlap fontBlack ">@Html.Raw(Model.Content.GetPropertyValue("bigTitle"))</div>
    }

    @if (Model.Content.HasProperty("courseTitle") && Model.Content.HasValue("courseTitle"))
    {
        <h2 class="fontBold titleMedium crseTitle text-uppercase position-relative">@Html.Raw(Model.Content.GetPropertyValue("courseTitle"))</h2>
    }
        <div class="school-parent">
            @if (Model.Content.HasProperty("studentGrades") && Model.Content.HasValue("studentGrades"))
            {
                var courses = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("studentGrades");
                foreach (var course in courses)
                {
                var schoolitem = course.GetPropertyValue<IEnumerable<IPublishedContent>>("schoolLink").FirstOrDefault();
               
                    <div class="school-child1">
                        <div class="school-head">
                            @if (schoolitem.HasProperty("schoolIcon") && schoolitem.HasValue("schoolIcon"))
                            {
                                //var saimg = AST.S3.Helper.MediaHelper.ParseMedia(course.GetPropertyValue<string>("schoolIcon"));
                                var saimg = schoolitem.GetPropertyValue<IPublishedContent>("schoolIcon");
                                if (saimg != null)
                                {
                                    <img src="@saimg.Url" class="img-fluid courseIcon" alt="@(saimg.HasValue("altTag")?saimg.GetPropertyValue<string>("altTag"):"")" />
                                }
                            }
                            @if (schoolitem.HasProperty("showcaseTitlePrefix") && schoolitem.HasValue("showcaseTitlePrefix") && schoolitem.HasProperty("showcaseTitleSuffix") && schoolitem.HasValue("showcaseTitleSuffix"))
                            {
                                <p>@Html.Raw(schoolitem.GetPropertyValue("showcaseTitlePrefix"))<span>@Html.Raw(schoolitem.GetPropertyValue("showcaseTitleSuffix"))</span></p>
                            }
                        </div>
                        <div class="speci-head">
                            <div class="speci-full">
                                <div class="paraLittle fontMedium linebeforeText">Number Of Student Placed : @Html.Raw(course.GetPropertyValue("noOfStudentPlaced"))</div>
                                 <div class="paraLittle fontMedium linebeforeText">Highest Salary : @Html.Raw(course.GetPropertyValue("highestSalary"))</div>
                                <div class="paraLittle fontMedium linebeforeText">Average Salary : @Html.Raw(course.GetPropertyValue("averageSalary"))</div>
                                 <a class="readmore" href="@schoolitem.Url" >Read More</a>
                           
                            </div>
                        </div>
                    </div><!--school-child1-->
                }
            }
        </div>
       <!--plr100-->