﻿@model IPublishedContent
@using Umbraco.Web.Models
@{
    var story = Model;
    UmbracoHelper helper = new UmbracoHelper(UmbracoContext.Current);
}

<div class="storiesPanStyle storiesPanOne plr7">
    @if (Model.HasProperty("studentPhoto") && Model.HasValue("studentPhoto"))
    {
        var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(Model.GetPropertyValue<string>("studentPhoto"), helper);
        //var imgPath = Model.GetPropertyValue<IPublishedContent>("studentPhoto");
        if(imgPath!=null)
        {
    <img src="@imgPath.GetCropUrl("StoriesCrop")" alt="@(Model.GetPropertyValue<string>("studentName"))" class="img-fluid" />
        }
        
    }

    <div class="StoriesContext">
        @if (Model.HasProperty("studentName") && Model.HasValue("studentName"))
        {
            <h2 class="fontExBold">
                @Html.Raw(Model.GetPropertyValue("studentName"))
            </h2>
        }
        @if (Model.HasProperty("studentDegree") && Model.HasValue("studentDegree"))
        {
            <h3 class="fontBold">@Html.Raw(Model.GetPropertyValue("studentDegree"))</h3>
        }
        @if (Model.HasProperty("shortDescription") && Model.HasValue("shortDescription"))
        {
            <p class="fontMedium">
                @Html.Raw(Model.GetPropertyValue("shortDescription"))
            </p>
        }
        @if (Model.HasProperty("sSKnowMoreLink") && Model.HasValue("sSKnowMoreLink"))
        {
            <a target="@(Model.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().Link)" class="text-uppercase fontBold knowMoreStyle">@(Model.GetPropertyValue<RelatedLinks>("sSKnowMoreLink").FirstOrDefault().Caption)</a>
        }
    </div>
</div>