﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@{
    var result = Model.Content.GetPropertyValue<bool>("watchVideoEnable",true);

}
@if (result)
{
    <a onclick="doOpenHomePopup('@(Model.Content.GetPropertyValue("viddeoURL"))')" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
        @if (Model.Content.HasProperty("buttonCaption") && Model.Content.HasValue("buttonCaption"))
        {
            <span> @Html.Raw(Model.Content.GetPropertyValue("buttonCaption"))</span>
        }

        <picture>
            <img src="/src/img/home/video-icon.png" class="img-fluid" alt="PlayIcon" />
        </picture>
    </a>
}

@{
if (Model.Content.HasProperty("bannerButton2Name") && Model.Content.HasValue("bannerButton2Name"))
        
{
<a href="@Html.Raw(Model.Content.GetPropertyValue("bannerButton2Link"))" target="_blank"   class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase">
        
            <span style="color: #000;"> @Html.Raw(Model.Content.GetPropertyValue("bannerButton2Name"))</span>
        
<picture>
            <img src="/media/5558/book.png" class="img-fluid" alt="PlayIcon" />
        </picture>
      
    </a>
} 


}
