﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using upes_website.Core
@{
    <!-- var result = upes_website.Core.ExamineExtensions.ExamineAlias("home");
    IPublishedContent homeContent = Umbraco.TypedContent("1152"); -->
    int i = 0;
}
<div class="breadcrumbPanel">
    <ol class="breadcrumb breadcrumbCustom">
        @{
            var parent = Model.Content.Parent;
            List<Tuple<string, string, IPublishedContent>> crumps = new List<Tuple<string, string, IPublishedContent>>();
            crumps.Add(new Tuple<string, string, IPublishedContent>(Model.Content.Name, Model.Content.Url, Model.Content));
            while (parent != null)
            {
                crumps.Add(new Tuple<string, string, IPublishedContent>(parent.Name, parent.Url, parent));
                parent = parent.Parent;
            }
            crumps.Reverse();
            foreach (var crup in crumps)
            {
                i = i + 1;
                if (crup.Item3.GetTemplateAlias() != "")
                {
                    if (crumps.Count() == i)
                    {
                        <li class="breadcrumb-item @(i==1?"fontBold":"")">@(crup.Item1)</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item @(i==1?"fontBold":"")"><a href="@(((crup.Item2 != "/course")?crup.Item2:"javascript:goBack();"))">@(crup.Item1)</a></li>
                    }
                }

            }
        }
    </ol>
</div>
