﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@{
    var content = Model;
}
<!--section-new-->
    @if (Model.Content.HasProperty("bigTitle") && Model.Content.HasValue("bigTitle"))
    {
       @* <div class="TextOverlap fontBlack ">@Html.Raw(Model.Content.GetPropertyValue("bigTitle"))</div>*@
    }

    @if (Model.Content.HasProperty("courseTitle") && Model.Content.HasValue("courseTitle"))
    {
        <h2 class="fontBold titleMedium crseTitle text-uppercase position-relative">@Html.Raw(Model.Content.GetPropertyValue("courseTitle"))</h2>
    }
        <div class="school-parent">
            @if (Model.Content.HasProperty("coursesPicker") && Model.Content.HasValue("coursesPicker"))
            {
                var courses = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("coursesPicker");
                foreach (var course in courses)
                {
                    <div class="school-child1">
                        <div class="school-head">
                            @if (course.HasProperty("schoolIcon") && course.HasValue("schoolIcon"))
                            {
                                //var saimg = AST.S3.Helper.MediaHelper.ParseMedia(course.GetPropertyValue<string>("schoolIcon"));
                                var saimg = course.GetPropertyValue<IPublishedContent>("schoolIcon");
                                if (saimg != null)
                                {
                                    <img src="@saimg.Url" class="img-fluid courseIcon" alt="@(saimg.HasValue("altTag")?saimg.GetPropertyValue<string>("altTag"):"")" />
                                }
                            }
                            @if (course.HasProperty("showcaseTitlePrefix") && course.HasValue("showcaseTitlePrefix") && course.HasProperty("showcaseTitleSuffix") && course.HasValue("showcaseTitleSuffix"))
                            {
                                <p>@Html.Raw(course.GetPropertyValue("showcaseTitlePrefix"))<span>@Html.Raw(course.GetPropertyValue("showcaseTitleSuffix"))</span></p>
                            }
                        </div>
                        <div class="speci-head">
                            <div class="speci-one">
                                <ul>
                                    @if (course.HasProperty("showcasePrograms") && course.HasValue("showcasePrograms"))
                                    {
                                        var schools = course.GetPropertyValue<IEnumerable<IPublishedContent>>("showcasePrograms").Take(3);
                                        var programCount = schools.Count();
                                        int programIndex = 0;
                                        foreach (var school in schools)
                                        {
                                            <li><a href="@school.Url"><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> @(((school.GetPropertyValue<string>("showcaseTitle").Length > 40) ? (school.GetPropertyValue<string>("showcaseTitle").Substring(0, 35) + "...") : school.GetPropertyValue<string>("showcaseTitle")))</a></li>
                                        }
                                    }
                                </ul>
                                @if (course.HasProperty("moreProgramsLink") && course.HasValue("moreProgramsLink"))
                                {
                                    var link = course.GetPropertyValue<RelatedLinks>
                                        ("moreProgramsLink").FirstOrDefault();
                                    if (link != null)
                                    {
                                        <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class="text-uppercase fontBold knowMoreStyle">@link.Caption</a>
                                    }
                                }
                            </div>
                            <div class="speci-two">
                                @if (course.HasValue("applicationDatesTitle"))
                                {
                                    <p>@Html.Raw(course.GetPropertyValue("applicationDatesTitle")):</p>
                                }

                                @if (course.HasValue("application"))
                                {
                                    var datesss = course.GetPropertyValue<IEnumerable<IPublishedContent>>("application");
                                    foreach (var dates in datesss)
                                    {
                                    if(dates.HasValue("dateCaption")&&dates.HasValue("date"))
                                    {
                                    <span class="paraLittle fontMedium linebeforeText">@Html.Raw(dates.GetPropertyValue("dateCaption")) @Html.Raw(dates.GetPropertyValue("date"))</span>
                                    }
                                        
                                    }
                                }
                                <a href="javascript:void(0)" onclick="doShowCourseEligibilityModal('divEligibilityModalCon_@course.Id');">Check Eligibility</a>
                                <div style="display:none;" id="divEligibilityModalCon_@course.Id">
                                    <div class="content">
                                        <!--bind content div, loop if multiple-->
                                        <div class="header">
                                            @if (course.HasProperty("eligibilityTitle") && course.HasValue("eligibilityTitle"))
                                            {
                                                <h3 class="fontBold">@(course.GetPropertyValue<string>("eligibilityTitle"))</h3>
                                            }

                                        </div>
                                        <div>
                                            @if (course.HasProperty("eligibilityDetails") && course.HasValue("eligibilityDetails"))
                                            {
                                                @(course.GetPropertyValue<HtmlString>("eligibilityDetails"))
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--school-child1-->
                }
            }
            <!--modal-->
            <div class="general-popup">
                <div id="divEligibilityModal" data-backdrop="false" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body" id="divCourseEligibilityModalContent">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="school-child1">
                        <div class="school-head">
                            <img src="~/Media/1071/engineering-icon.png" alt="engineer-icon" />
                            <p>school of <span>engineering</span></p>
                        </div>
                        <div class="speci-head">
                            <div class="speci-one">
                                <ul>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> B.Tech. Aerospace Engineering</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> B.Tech. Geo-Informatics Engineering</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> M.Tech. Renewable Energy Engineering</li>
                                </ul>
                                <a href="/schools/school-of-engineering" target="_self">MORE SPECIALISATIONS</a>
                            </div>
                            <div class="speci-two">
                                <p>B. Tech. Admissions:</p>
                                <span>UPESEAT 8 - 15 MAY, 2020</span>
                                <span>Last Date 3 MAY, 2020</span>
                                <a href="javascript:void(0)" onclick="doShowCourseEligibilityModal('divEligibilityModalCon_1269');">Check Eligibility</a>
                            </div>
                        </div>
                    </div><!--school-child1-->
                    <div class="school-child1">
                        <div class="school-head">
                            <img src="~/Media/1071/computer-science-icon.png" alt="engineer-icon" />
                            <p>school of <span>computer science</span></p>
                        </div>
                        <div class="speci-head">
                            <div class="speci-one">
                                <ul>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> BTech. CSE (Cloud Computing & Virtu...</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> B.Tech. CSE (Open Source & Open Sta...</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> B.Tech. CSE ( Big Data) in academic...</li>
                                </ul>
                                <a href="/schools/school-of-computer-science" target="_self">MORE SPECIALISATIONS</a>
                            </div>
                            <div class="speci-two">
                                <p>B. Tech. Admissions:</p>
                                <span>UPESEAT 8 - 15 MAY, 2020</span>
                                <span>Last Date 3 MAY, 2020</span>
                                <a href="javascript:void(0)" onclick="doShowCourseEligibilityModal('divEligibilityModalCon_1271');">Check Eligibility</a>
                            </div>
                        </div>
                    </div><!--school-child1-->
                </div><!--school-parent-->


                <div class="school-parent">
                    <div class="school-child1">
                        <div class="school-head">
                            <img src="~/Media/1071/design-icon.png" alt="engineer-icon" />
                            <p>school of <span>Design</span></p>
                        </div>
                        <div class="speci-head">
                            <div class="speci-one">
                                <ul>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> B.Des. Transportation and Mobility ...</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> B.Des. Product Design</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> B.Des. Fashion Design</li>
                                </ul>
                                <a href="/schools/school-of-design" target="_self">MORE SPECIALISATIONS</a>
                            </div>
                            <div class="speci-two">
                                <p>B.Des. Admissions:</p>
                                <span>UPESDAT - 28 - 30 April, 2020</span>
                                <span>Last Date - 25 April, 2020</span>
                                <a href="javascript:void(0)" onclick="doShowCourseEligibilityModal('divEligibilityModalCon_1270');">Check Eligibility</a>
                            </div>
                        </div>
                    </div><!--school-child1-->
                    <div class="school-child1">
                        <div class="school-head">
                            <img src="~/Media/1071/business-icon.png" alt="engineer-icon" />
                            <p>school of <span>Business</span></p>
                        </div>
                        <div class="speci-head">
                            <div class="speci-one">
                                <ul>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> BBA Digital Marketing</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> BBA Financial Analysis and Services</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> MBA Business Analytics</li>
                                </ul>
                                <a href="/schools/school-of-business" target="_self">MORE SPECIALISATIONS</a>
                            </div>
                            <div class="speci-two">
                                <p>MBA Admissions:</p>
                                <span>UPESMET - 27 - 29 JAN, 2020</span>
                                <span>LAST DATE - 23 JAN, 2020</span>
                                <a href="javascript:void(0)" onclick="doShowCourseEligibilityModal('divEligibilityModalCon_1272');">Check Eligibility</a>
                            </div>
                        </div>
                    </div><!--school-child1-->
                </div><!--school-parent2-->


                <div class="school-parent">
                    <div class="school-child1">
                        <div class="school-head">
                            <img src="~/Media/1071/law-icon.png" alt="engineer-icon" />
                            <p>school of <span>law</span></p>
                        </div>
                        <div class="speci-head">
                            <div class="speci-one">
                                <ul>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> Taxation/Media & Entertainment/ Leg...</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> LL. M. with specialization in Energ...</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> </li>
                                </ul>
                                <a href="/schools/school-of-law" target="_self">MORE SPECIALISATIONS</a>
                            </div>
                            <div class="speci-two">
                                <p>LL. B. Admissions:</p>
                                <span>LLB - ULSAT 8 - 15 MAY, 2020</span>
                                <span>Last Date  3 MAY, 2020</span>
                                <a href="javascript:void(0)" onclick="doShowCourseEligibilityModal('divEligibilityModalCon_1273');">Check Eligibility</a>
                            </div>
                        </div>
                    </div><!--school-child1-->
                    <div class="school-child1">
                        <div class="school-head">
                            <img src="~/Media/1071/health-science-icon.png" alt="engineer-icon" />
                            <p>school of <span>Health Sciences</span></p>
                        </div>
                        <div class="speci-head">
                            <div class="speci-one">
                                <ul>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> B. Sc. (Food, Nutrition & Dietetics)</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> BBA (Healthcare Management)</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> LAST DATE - 3 MAY, 2020</li>
                                </ul>
                                <a href="/schools/school-of-health-sciences" target="_self">MORE SPECIALISATIONS</a>
                            </div>
                            <div class="speci-two">
                                <p>Admissions Open:</p>
                                <span>B. Pharma - UPESPAT 8 - 15 MAY, 2020</span>
                                <span>LAST DATE - 23 JAN, 2020</span>
                                <a href="javascript:void(0)" onclick="doShowCourseEligibilityModal('divEligibilityModalCon_1274');">Check Eligibility</a>
                            </div>
                        </div>
                    </div><!--school-child1-->
                </div><!--school-parent3-->

                <div class="school-parent">
                    <div class="school-child1">
                        <div class="school-head">
                            <img src="~/Media/1071/school-of-smart-agriculture.png" alt="engineer-icon" />
                            <p>school of <span>SMART AGRICULTURE</span></p>
                        </div>
                        <div class="speci-head">
                            <div class="speci-one">
                                <ul>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> B.Sc. (Hons.) Agriculture</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> B. Tech Food Technology</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> M.Sc. Ag. (Agronomy)</li>
                                </ul>
                                <a href="/schools/school-of-smart-agriculture" target="_self">MORE SPECIALISATIONS</a>
                            </div>
                            <div class="speci-two">
                                <p>Admissions Open for :</p>
                                <span>2020 Intake</span>
                                <span></span>
                                <a href="javascript:void(0)" onclick="doShowCourseEligibilityModal('divEligibilityModalCon_6172');">Check Eligibility</a>
                            </div>
                        </div>
                    </div><!--school-child1-->
                    <div class="school-child1">
                        <div class="school-head">
                            <img src="~/Media/1071/school-of-modern-media.png" alt="engineer-icon" />
                            <p>school of <span>MODERN MEDIA</span></p>
                        </div>
                        <div class="speci-head">
                            <div class="speci-one">
                                <ul>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> BA Journalism & Mass Communication</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> BA Digital & Mass Media</li>
                                    <li><img src="~/Media/1071/school-arrow.png" alt="arrow-icon" /> BA Advertising & Digital Marketing</li>
                                </ul>
                                <a href="/schools/school-of-modern-media" target="_self">MORE SPECIALISATIONS</a>
                            </div>
                            <div class="speci-two">
                                <p>Admissions open for:</p>
                                <span>2020 Intake</span>
                                <span></span>
                                <a href="javascript:void(0)" onclick="doShowCourseEligibilityModal('divEligibilityModalCon_6171');">Check Eligibility</a>
                            </div>
                        </div>
                    </div><!--school-child1-->
                </div><!--school-parent4-->*@
        </div>
       <!--plr100-->