﻿@model upes_website.Models.Enquiry_Course_Model
@using upes_website.Gutils;

@using System.Data;
@{
    DBUtils objDBU = new DBUtils();
    string qry = "select * from STBL_COURSE";
    string qry2 = "select STID, STATENAME from STBL_STATE where Countrycode = 111 and status=1  order by STATENAME asc";
    DataSet ds = objDBU.executeQuery(qry);
    DataSet ds1 = objDBU.executeQuery(qry2);
    //var helper = new UmbracoHelper(UmbracoContext.Current);
    //var general = helper.TypedContent(1517);
    List<upes_website.Models.course> level = new List<upes_website.Models.course>();
    List<SelectListItem> listItems = new List<SelectListItem>();
    List<upes_website.Models.course> state = new List<upes_website.Models.course>();
    List<upes_website.Models.course> genderList = new List<upes_website.Models.course>();
    List<SelectListItem> YearslistItems= new List<SelectListItem>();
    YearslistItems.Add(new SelectListItem{Value = "2020", Text = "2020" });
    YearslistItems.Add(new SelectListItem{Value = "2021", Text = "2021" });
    for(int i=0;i<2;i++)
    {
        upes_website.Models.course cs = new upes_website.Models.course();
        cs.courseid = i.ToString();
        if(i==0)
        {
            cs.coursename = "Male";
        }
        else if(i==1)
        {
            cs.coursename = "Female";
        }
        //else if(i==2)
        //{
        //    cs.coursename = "Others";
        //}
        genderList.Add(cs);
    }

    if (ds1 != null && ds1.Tables[0].Rows.Count > 0)
    {
        upes_website.Models.course c = new upes_website.Models.course();
        for (int i = 0; i < ds1.Tables[0].Rows.Count; i++)
        {
            upes_website.Models.course cs = new upes_website.Models.course();
            cs.courseid = ds1.Tables[0].Rows[i]["STID"].ToString();
            cs.coursename = ds1.Tables[0].Rows[i]["STATENAME"].ToString();
            state.Add(cs);
        }
    }
    if(Session["coursesContentCount"] !=null)
    {
        for(int i=0;i<Convert.ToInt32(Session["coursesContentCount"]);i++)
        {
            upes_website.Models.course cs = new upes_website.Models.course();
            cs.courseid = Session["courseContent" + i].ToString();
            cs.coursename = Session["courseContent" + i].ToString();
            level.Add(cs);
        }
    }
    else
    {
        if (ds != null && ds.Tables[0].Rows.Count > 0)
        {
            upes_website.Models.course c = new upes_website.Models.course();
            for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
            {
                upes_website.Models.course cs = new upes_website.Models.course();
                cs.courseid =ds.Tables[0].Rows[i]["C_ID"].ToString();
                cs.coursename = ds.Tables[0].Rows[i]["C_NAME"].ToString();
                level.Add(cs);
            }
        }
    }
}
@*@using (Html.BeginUmbracoForm("HandleSubmit", "EnquiryCourse", FormMethod.Post, htmlAttributes: new { @id = "courseEnquiryForm"}))
    {*@
@using (Html.BeginForm("HandleSubmit", "CourseEnquiryView", FormMethod.Post,
                             new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
   
    <div class="EnqInner" id="thankYou">
        <h2 class="fontBold text-uppercase">Enquiry Form</h2>
        <div class="row enq_row mlr">
            <div class="col-lg-4 col-sm-4 enq_form plr7">
                @Html.TextBoxFor(m => m.Name, new { @id = "courseEnqName", @name = "courseEnqName", @placeholder = Html.DisplayNameFor(n => n.Name), @class = "enqFormstyle", @autocomplete = "off" })
                <div id="courseNameValid">
                    @Html.ValidationMessageFor(m => m.Name)
                </div>

                @*<input type="text" class="enqFormstyle" placeholder="Full Name*" />*@
            </div>
            <div class="col-lg-4 col-sm-4 enq_form plr7">
                @Html.TextBoxFor(m => m.Email, new { @id = "courseEnqEmail", @name = "courseEnqEmail", @placeholder = Html.DisplayNameFor(n => n.Email), @class = "enqFormstyle", @autocomplete = "off" })
                <div id="courseEmailValid">
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                @*<input type="text" class="enqFormstyle" placeholder="Email Address*" />*@
            </div>
            <div class="col-lg-4 col-sm-4 enq_form plr7">
                @Html.TextBoxFor(m => m.MobileNo, new { @id = "courseEnqMobile", @name = "courseEnqMobile", @placeholder = Html.DisplayNameFor(n => n.MobileNo), @class = "enqFormstyle", @autocomplete = "off" })
                <div id="courseMobileValid">
                    @Html.ValidationMessageFor(m => m.MobileNo)
                </div>

                @*<input type="text" class="enqFormstyle" placeholder="Mobile Number*" />*@
            </div>
            @*<div class="col-lg-4 col-sm-4 enq_form plr7">
            @Html.DropDownListFor(m=>m.course, new SelectList(level, "courseid", "coursename"),
                "Select Course", new {@id= "courseEnqCourse", @name="courseEnqCourse", @class= "enqFormstyle" })
            <div id="courseValid">
                @Html.ValidationMessageFor(m => m.course)
            </div>
            @*<select class="enqFormstyle sltFormstyle">
                    <option>Select Course</option>
                </select>
        </div>*@
            <div class="col-lg-4 col-sm-4 enq_form plr7">
                @Html.DropDownListFor(n => n.Gender, new SelectList(genderList, "courseid", "coursename"), "Select Gender", new { @id = "courseGender", @name = "courseGender", @class = "enqFormstyle" })
                <div class="genderValid">
                    @Html.ValidationMessageFor(n => n.Gender)
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 enq_form plr7">
                @Html.DropDownListFor(m=>m.State, new SelectList(state, "courseid", "coursename"),
                    "Select State", new {@id="courseEnqStae",@name="courseEnqState", @class= "enqFormstyle" })
                <div id="stateValid">
                    @Html.ValidationMessageFor(m => m.State)
                </div>
                @*<select class="enqFormstyle sltFormstyle">
                <option>Select State</option>
            </select>*@
            </div>
            <div class="col-lg-4 col-sm-4 enq_form plr7">
                @Html.DropDownListFor(m=>m.City, new SelectList(listItems, "courseid", "coursename"),
                    "Select City", new { @id = "courseEnqCity", @name = "courseEnqCity", @class = "enqFormstyle" })
                <div id="cityValid">
                    @Html.ValidationMessageFor(m => m.City)
                </div>
                @*<select class="enqFormstyle sltFormstyle">
                <option>Select City</option>
            </select>*@
            </div>
            <div class="col-lg-4 col-sm-4 enq_form plr7" style="display:none;">
                @Html.DropDownListFor(m=>m.Year, new SelectList(YearslistItems, "Value", "Text"),
                    "Select Applying Year", new { @id = "courseEnqyear", @name = "courseEnqyear", @class = "enqFormstyle" })
                <div id="yearValid">
                    @Html.ValidationMessageFor(m => m.Year)
                </div>
                @*<select class="enqFormstyle sltFormstyle">
                <option>Select City</option>
            </select>*@
            </div>
        </div>
        <div class="accept_checkbox">
            <label>
                @*@Html.CheckBoxFor(m => m.Checkbox, new { @class = "enqFormstyle", @id = "enqFormCheck", @name = "enqFormCheck"})*@
                @*<input type="checkbox" class="checkbxStyle" id="enqFormCheck" name= "enqFormCheck" checked="checked"/>*@
                <input name="enqFormCheck" type="checkbox" id="enqFormCheck" checked="checked" class="checkbxStyle" >
                I accept <span data-title="@(Session["tooltipMessage"]!=null?Session["tooltipMessage"]:"")" class="mytooltip tools">terms & conditions</span>
            </label>
        </div>
        <div class="formSubmit  fontBold text-uppercase">
            @*<input type="submit" id="courseEnqSubmit" name="courseEnqSubmit" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase justify-content-center noPadding" value="Submit" />*@
            <button type="submit" id="courseEnqSubmit" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase justify-content-center noPadding">SUBMIT</button>
            @*<a href="javascript:void(0);" class="br30 btn btn-primary HomeBtnStyle fontBold text-uppercase justify-content-center noPadding">Submit</a>*@
        </div>
    </div>
}