﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    @using Umbraco.Web.Models
@if (Model.Content.HasProperty("findTheRightCourseLink") && Model.Content.HasValue("findTheRightCourseLink"))
{
    <div class="applyCourses">
        <div class="plr100 fullwidth">
            <div class="d-flex justify-content-end">
                @if (Model.Content.HasProperty("findTheRightCourseLink") && Model.Content.HasValue("findTheRightCourseLink"))
                {
                <div class="Visit_list  CourseFind fontBold text-uppercase">
                    @*<a data-toggle="modal" data-target="@(Model.Content.GetPropertyValue<RelatedLinks>("findTheRightCourseLink").FirstOrDefault().Link)" class=" br30 fontBold btn btn-primary BtnStyle BtnBlue">@(Model.Content.GetPropertyValue<RelatedLinks>("findTheRightCourseLink").FirstOrDefault().Caption)</a>*@
                    <a onclick="openChat();" class=" br30 fontBold btn btn-primary BtnStyle BtnBlue">@(Model.Content.GetPropertyValue<RelatedLinks>("findTheRightCourseLink").FirstOrDefault().Caption)</a>
                </div>
                }

                <div class="ApplyNow CourseFind fontBold text-uppercase">
                    <a target="@(Model.Content.GetPropertyValue<RelatedLinks>("applyNowLink").FirstOrDefault().NewWindow?"_blank":"_self")" href="@(Model.Content.GetPropertyValue<RelatedLinks>("applyNowLink").FirstOrDefault().Link)" class="br30 fontBold btn btn-primary BtnStyle BtnRed">@(Model.Content.GetPropertyValue<RelatedLinks>("applyNowLink").FirstOrDefault().Caption)</a>
                </div>
            </div>
        </div>
    </div>
}

@*<!--modal-->
<div class="general-popup">
    <div id="divEligibilityModal" data-backdrop="false" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body" id="divCourseEligibilityModalContent">
                </div>
            </div>
        </div>
    </div>
</div>*@