﻿
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var model = Umbraco.TypedContent("1941");
}
<section class="helplineChatPanel">
    <div class="plr20">
        <div class="helplineChatInner">
            @if (model.HasProperty("floatingMenus") && model.HasValue("floatingMenus"))
            {
                var menus = model.GetPropertyValue<IEnumerable<IPublishedContent>>("floatingMenus");
                foreach (var menu in menus)
                {
                    <a onclick="@Html.Raw(menu.GetPropertyValue("onClickValue"))" id="@(menu.HasValue("phoneNumber")?"helplineCrop":"")">
                        @if (menu.HasValue("floatingIcon"))
                        {
                            var imgPath = menu.GetPropertyValue<IPublishedContent>("floatingIcon");
                            if (imgPath != null)
                            {
                                <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                            }
                        }
                        <span>@Html.Raw(menu.GetPropertyValue("floatingTitle"))</span>
                    </a>
                    if (menu.HasValue("phoneNumber"))
                    {
                        <div class="Number">
                            <a href="tel:+91 @Html.Raw(menu.GetPropertyValue("phoneNumber"))">@Html.Raw(menu.GetPropertyValue("phoneNumber"))</a>
                        </div>
                    }
                }
            }

            @*<a id="helplineCrop" class="d-none d-md-block">
                    <img src="/src/img/home/helpline.png" class="img-fluid" alt="helpline" />
                    <span>Helpline</span>
                </a>
                <a id="helplineCrop" href="tel:+9118001028737" class="d-block d-md-none">
                    <img src="/src/img/home/helpline.png" class="img-fluid" alt="helpline" />
                    <span>Helpline</span>
                </a>
                <div class="Number">
                    <a href="tel:+9118001028737">18001028737</a>
                </div>
                <a onclick="openChat();">
                    <img src="/src/img/home/chat.png" class="img-fluid" alt="chat" />
                    <span>Chat</span>
                </a>*@

        </div>
        <div id="stop" class="scrollTop">
            <span><a href=""></a></span>
        </div>
    </div>
</section>
