﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
<!-- Video modal -->
<div data-backdrop="false" data-keyboard="false" class="modal fade bs-video-example-modal-lg" id="topBannerVideo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-xlg" role="document">

        <div class="video-wrapper">
            <div class="modal-content">

                <div class="modal-header no-yellow-strip">
                    @if (Model.Content.HasValue("viddeoURL") != true)
                    {
                        <div class="title-wrapper">
                            @if (Model.Content.HasProperty("popupTitle") && Model.Content.HasValue("popupTitle"))
                            {
                                <h3 class="fontBold">@Html.Raw(Model.Content.GetPropertyValue("popupTitle")) </h3>
                            }
                        </div>
                    }

                        <div class="close-btn-wrapper">
                            @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="stopVideoHome();">×</span></button>*@
                            <button type="button" class="close" aria-label="Close" onclick="stopVideoHome();"><span aria-hidden="true">×</span></button>
                        </div>

                </div>
                <div class="modal-body">
                    <div class="content" id="yt-player">
                        @if (Model.Content.HasProperty("viddeoURL") && Model.Content.HasValue("viddeoURL"))
                        {
                            <iframe id="ifrmHomeBannerVideo" class="homeBannerVideo" width="100%" height="100%"></iframe>
                        }
                        @if (Model.Content.HasValue("viddeoURL") != true)
                        {
                            if (Model.Content.HasProperty("popupTitle") && Model.Content.HasValue("popupTitle"))
                            {

                                <h3 class="fontBold">@Html.Raw(Model.Content.GetPropertyValue("popupTitle")) </h3>
                            }
                            if (Model.Content.HasValue("viddeoURL") != true)
                            {
                                <div class="title-wrapper">
                                    @if (Model.Content.HasProperty("popupContent") && Model.Content.HasValue("popupContent"))
                                    {
                                        <h3 class="fontBold">@Html.Raw(Model.Content.GetPropertyValue("popupContent")) </h3>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>