﻿@model IPublishedContent
@using Umbraco.Web.Models;
@{ 
    UmbracoHelper helper = new UmbracoHelper(UmbracoContext.Current);
}
<picture>
    @{ 
        var img= AST.S3.Helper.MediaHelper.ParseMedia(Model.Id.ToString(), helper);
    }
    <source media="(max-width: 767px)" srcset="@Model.GetCropUrl("BannerMob")">
    <img src="@img.GetCropUrl("BannerDesk")" class="img-fluid" alt="@(Model.HasValue("altTag")?Model.GetPropertyValue<string>("altTag"):"")" />
</picture>