﻿@model Tuple<IPublishedContent, IPublishedContent>
@{ 
    var deskBanner = Model.Item1;
    var mobileBanner = Model.Item2;
}
@if(deskBanner!=null)
{
<picture>
    <img src="@deskBanner.GetCropUrl("BannerDesk")" class="hideOnMobile img-fluid" alt="@(deskBanner.HasValue("altTag")?deskBanner.GetPropertyValue<string>("altTag"):"")" />
</picture>
}
@if(mobileBanner!=null)
{
<div class="MobileBanner d-block d-md-none">
    <img src="@mobileBanner.GetCropUrl("BannerMob")" class="ShowOnMobile img-fluid" alt="@(mobileBanner.HasValue("altTag")?mobileBanner.GetPropertyValue<string>("altTag"):"")" />
</div>
}
