﻿@model Tuple<IPublishedContent, IPublishedContent,String>
@{ 
    var deskBanner = Model.Item1;
    var mobileBanner = Model.Item2;
    var clickLink = Model.Item3;
}
@if(deskBanner!=null)
{
<picture>
    @if (clickLink != "")
    {
    <a href="@clickLink">
        <img src="@deskBanner.GetCropUrl("BannerDesk")" class="hideOnMobile img-fluid" alt="@(deskBanner.HasValue("altTag")?deskBanner.GetPropertyValue<string>("altTag"):"")" />
        </a>
    }
    else
    {
        <img src="@deskBanner.GetCropUrl("BannerDesk")" class="hideOnMobile img-fluid" alt="@(deskBanner.HasValue("altTag")?deskBanner.GetPropertyValue<string>("altTag"):"")" />
    }

</picture>
}
@if(mobileBanner!=null)
{
<div class="MobileBanner d-block d-md-none">
    @if (clickLink != "")
    {
    <a href="@clickLink">
        <img src="@mobileBanner.GetCropUrl("BannerMob")" class="ShowOnMobile img-fluid" alt="@(mobileBanner.HasValue("altTag")?mobileBanner.GetPropertyValue<string>("altTag"):"")" />
    </a>
    }
    else
    {
        <img src="@mobileBanner.GetCropUrl("BannerMob")" class="ShowOnMobile img-fluid" alt="@(mobileBanner.HasValue("altTag")?mobileBanner.GetPropertyValue<string>("altTag"):"")" />
    }
</div>
}
