﻿@model Tuple<bool, int, IEnumerable<IPublishedContent>, int>

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IEnumerable<IPublishedContent> thoughtLeaders = Model.Item3;
    bool showLoadMore = Model.Item1;
    int startAt = Model.Item2;
    int contentID = Model.Item4;
}


<div class="link_list text-right noPadding">
    <button id="tl-load-more" class="fontBold text-uppercase text-decoration" onclick="showmore('@(Url.Action("ShowMore", "ViewAll", new { startAt = startAt + 3, contentID = contentID }))')"><span>View all</span></button>
    @*<a href="javascript:void(0);" onclick="showmore('@(Url.Action("ShowMore", "ViewAll", new { startAt = startAt + 4, contentID = contentID }))')" class="fontBold text-uppercase text-decoration">
        View all
    </a>*@
</div>
                </div>
<div class="CarouselforSlick EventCarousel mlr">
        @foreach (var evente in thoughtLeaders)
        {
            <div class="EventPanelStyle EventPanelOne  plr7">
                @if (evente.HasValue("showcaseImage"))
                {
                    //var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(evente.GetPropertyValue<string>("showcaseImage"), Umbraco);
                    var imgPath = evente.GetPropertyValue<IPublishedContent>("showcaseImage");
                    <img src="@imgPath.Url" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" class="img-fluid" />
                }

                <div class="AchieveContext ">
                    <div class="AchieveContextInn ">
                        @if (evente.HasValue("shortDescription"))
                        {
                            <p class="fontBold">
                                @Html.Raw(evente.GetPropertyValue("shortDescription"))
                            </p>
                        }
                        @*@if (evente.GetPropertyValue<bool>("knowMoreLink"))
                        {
                            <a href="@evente.Url" class="text-uppercase fontBold knowMoreStyle">Know More</a>
                        }*@

                    </div>
                </div>
            </div>
        }
</div>