﻿<div class="umb-panel" ng-controller="DiploAuditLogDetailController" id="audit-logdetail">

    <div class="umb-panel-header">
        <div class="row-fluid">
            <div class="span6">
                <h3>Audit Log Data Detail<br /><small>{{logDetail.DateStamp}}</small></h3>
            </div>
            <div class="span6">
                <div class="btn-toolbar pull-right">
                    <a ng-click="previousItem()" class="btn" ng-show="hasPrevious()"><i class="icon-previous"></i>Previous</a>
                    <a ng-click="nextItem()" class="btn" ng-show="hasNext()">Next <i class="icon-next"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="umb-panel-body umb-scrollable">
        <table class="table table-striped">

            <colgroup>
                <col style="width:20%">
                <col style="width:80%">
            </colgroup>

            <tbody class="table">
                <tr>
                    <th>Action:</th>
                    <td>{{logDetail.LogType}}</td>
                </tr>
                <tr>
                    <th>Comment:</th>
                    <td>{{logDetail.Comment}}</td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td title="{{logDetail.DateStamp}}">{{logDetail.DateStampFormatted}}</td>
                </tr>
                <tr>
                    <th>User:</th>
                    <td><small class="icon-out"></small> <a ng-href="#/users/framed/%252Fumbraco%252Fusers%252FeditUser.aspx%253Fid%253D{{logDetail.UserId}}" target="_blank" title="Edit User">{{logDetail.UserName}}</a> - <a title="Email" href="mailto:{{logDetail.UserEmail}}" target="_blank"> {{logDetail.UserEmail}}</a></td>
                </tr>
                <tr>
                    <th>Node:</th>
                    <td><span ng-show="logDetail.NodeId > 0"><small class="icon-out"></small> <a ng-href="{{getEditUrl()}}" target="_blank" title="Edit Node">{{logDetail.NodeId}}</a></span><span ng-show="logDetail.NodeId < 1">N/A</span></td>
                </tr>
                <tr ng-show="logDetail.Name">
                    <th>Content:</th>
                    <td> <a ng-show="pageUrl.length" title="View" ng-href="{{pageUrl}}" target="_blank" title="View"><small class="icon-out"></small> {{logDetail.Name}}</a> <span ng-hide="pageUrl.length">{{logDetail.Name}}</span></td>
                </tr>
                <tr ng-show="logDetail.Alias">
                    <th>DocType:</th>
                    <td title="{{logDetail.Description}}"><span class="{{logDetail.Icon}}"></span> {{logDetail.Alias}}</td>
                </tr>

            </tbody>

        </table>

        <div class="btn-toolbar pull-right">
            <a ng-click="close()" class="btn">
                <localize key="general_close">Close</localize>
            </a>
        </div>

    </div>
</div>

