﻿<div ng-controller="DiploAuditLogEditController">
    
    <umb-header>

        <h1>
            <span class="umb-panel-header-name">Audit Log Viewer</span>
        </h1>
        <p id="audit-log-intro">View, search and filter the Umbraco Log table</p>
    </umb-header>


    <div class="umb-panel-body" id="auditLog">
        <div class="umb-pane">

            <div class="umb-sub-header">

                <form class="form-inline">

                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-activity"></i></span>
                        <select class="form-control input-medium" ng-options="item as item for item in logTypes" ng-model="logTypeName" ng-change="logTypeChange()">
                            <option value="">- Log Type -</option>
                        </select>
                    </div>

                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-umb-users"></i></span>
                        <select class="form-control input-medium" ng-options="item as item for item in userNames" ng-model="logUserName" ng-change="logTypeChange()">
                            <option value="">- Username -</option>
                        </select>
                    </div>

                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-search"></i></span>
                        <input type="search" class="form-control input-medium" placeholder="Type to search..." ng-model="searchTerm" ng-change="search(searchTerm)">
                        <span class="add-on diplo-button delete" ng-show="searchTerm" ng-click="searchTerm = null; logTypeChange()"><i class="icon-delete"></i></span>
                    </div>

                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-umb-content"></i></span>
                        <input type="number" class="form-control input-mini" placeholder="Node" title="{{nodeName}}" ng-change="logTypeChange()" ng-model="nodeId" />
                        <span class="add-on diplo-button" ng-click="openContentPicker()" title="Select page"><span class="icon-colorpicker"></span></span>
                        <span class="add-on diplo-button delete" ng-show="nodeId" ng-click="nodeId = null; logTypeChange()"><span class="icon-delete"></span></span>
                    </div>

                    <div class="pull-right">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar-alt"></i> From</span>
                            <input type="date" class="form-control input-medium" ng-model="dateFrom" ng-change="logTypeChange()" />
                        </div>

                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-calendar-alt"></i> To</span>
                            <input type="date" class="form-control input-medium" ng-model="dateTo" ng-change="logTypeChange()" />
                        </div>
                    </div>

                </form>

            </div>

            <div class="umb-listview">

                <umb-load-indicator ng-show="isLoading"></umb-load-indicator>

                <table class="table table-striped">
                    <colgroup>
                        <col style="width:15%">
                        <col style="width:15%">
                        <col style="width:11%">
                        <col style="width:27%">
                        <col style="width:5%">
                        <col style="width:27%">
                    </colgroup>
                    <thead>
                        <tr>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('L.Datestamp')" title="Order by date">Date</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'DateStamp'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('U.userName')" title="Order by username">User</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'UserName'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('L.logHeader')" title="Order by log action">Action</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'LogType'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('L.logComment')" title="Order by log comment">Comment</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'Comment'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('L.nodeId')" title="Order by node Id">Node</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'Comment'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('N.text')" title="Order by node title">Content</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'Name'"></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="l in logData" ng-class="{selected: isRowSelected(p.id)}">
                            <td>{{ l.DateStampFormatted }}<small>{{ l.DateStamp | date:'.sss' }}</small></td>
                            <td>{{l.UserName}}</td>
                            <td>{{l.LogType}}</td>
                            <td><a ng-click="openDetail(l, logData)">{{l.Comment}}</a></td>
                            <td><span ng-show="l.NodeId > 0"><a ng-href="{{getEditUrl(l)}}" title="Edit" target="_blank">{{l.NodeId}}</a></span></td>
                            <td>{{l.Name}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr ng-show="logData.length > 0">
                            <th>
                                <div class="pagination">
                                    Items {{rangeFrom}}-{{rangeTo}} of {{totalItems}}
                                </div>
                            </th>
                            <th>
                                <div class="pagination">
                                    <select class="form-control input-small" ng-options="item as item for item in pageSizeList" ng-model="itemsPerPage" ng-change="logTypeChange()"></select> per page
                                </div>
                            </th>
                            <th colspan="4">
                                <div class="pagination pagination-centered" ng-show="totalPages > 1">

                                    <umb-pagination page-number="currentPage"
                                                    total-pages="totalPages"
                                                    on-next="nextPage"
                                                    on-prev="prevPage"
                                                    on-go-to-page="setPage">
                                    </umb-pagination>

                                </div>
                            </th>
                        </tr>
                        <tr ng-hide="logData.length > 0">
                            <td colspan="6">
                                <p class="text-center"><strong>No log records found for your selected criteria.</strong></p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>