﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
@using System.Text.RegularExpressions
@{
    //var result = upes_website.Core.ExamineExtensions.ExamineAlias("generalInformation");
    IPublishedContent generalContent = Umbraco.TypedContent("1941");
}
@*<nav class="navbar navbar-expand-lg  navbar-light bg-light HeaderPanel">
    <div class="plr20 fullwidth">
        <div class="row no-gutters HeaderRow align-items-center">
            <div class="HeaderPanelLeft">
                <a class="navbar-brand" href="/">
                    <picture>
                        @if (generalContent.HasProperty("logo") && generalContent.HasValue("logo"))
                        {
                            //var imgPath = generalContent.GetPropertyValue<IPublishedContent>("logo");
                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(generalContent.GetPropertyValue<string>("logo"), Umbraco);
                            if (imgPath != null)
                            {
                                <img src="@imgPath.Url" class="img-fluid logo_vw" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                            }

                        }

                    </picture>
                </a>
            </div>
            <div class="HeaderPanelMenu collapse navbar-collapse" id="navbarContext">
                <ul class="navbar-nav mr-auto fontExBold fullwidth NavClick">
                    @if (generalContent.HasProperty("headerMenuItems") && generalContent.HasValue("headerMenuItems"))
                    {
                        var menus = generalContent.GetPropertyValue<IEnumerable<IPublishedContent>>("headerMenuItems");
                        foreach (var menu in menus)
                        {
                            var linkss = menu.GetPropertyValue<RelatedLinks>("headMenu").FirstOrDefault();
                            <li class="nav-item @(linkss.Caption==Model.Content.Name?"active":"")">
                                @if (menu.HasValue("headMenu"))
                                {
                                    //var link = menu.GetPropertyValue<RelatedLinks>("headMenu").FirstOrDefault();
                                    if (linkss != null)
                                    {
                                        <a target="@(linkss.NewWindow?"_blank":"_self")" class="nav-link" href="@linkss.Link">
                                            @linkss.Caption <b class="caret"></b>
                                        </a>
                                    }
                                }
                                @if (menu.HasValue("levels"))
                                {
                                    var levels = menu.GetPropertyValue<IEnumerable<IPublishedContent>>("levels");
                                    if (levels.Count() == 2)
                                    {
                                        <ul class="DropDown_Menu">
                                            <div class="DropMenuList no-gutters">
                                                @foreach (var level in levels)
                                                {
                                                <div class="DropPanel@(levels.First()==level?"LEft":"Right") drop_Tile @(levels.First()==level?"":"noborder")">

                                                    @if (levels.First() == level)
                                                    {
                                                        <h2 class="fontBold drpMenuTitle dropdown">@Html.Raw(level.GetPropertyValue("levelTitle"))</h2>
                                                        <div class="DropDownList">
                                                            @if (level.HasValue("links"))
                                                            {
                                                                var links = level.GetPropertyValue<RelatedLinks>("links");
                                                                <ul class="DropDownMenu_Inner">
                                                                    @foreach (var link in links)
                                                                    {
                                                                        if (link.Id != null)
                                                                        {
                                                                            IPublishedContent getExtLink = Umbraco.TypedContent(link.Id);
                                                                            <li><a href="@(((getExtLink.HasValue("umbracoUrlAlias"))?getExtLink.GetPropertyValue("umbracoUrlAlias"):getExtLink.Url))" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li><a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            }

                                                        </div>
                                                        if (level.HasValue("moreCourses"))
                                                        {
                                                            var link = level.GetPropertyValue<RelatedLinks>("moreCourses").First();
                                                            if (link != null)
                                                            {
                                                                <a href="@link.Link" class="morecourses fontBold">@link.Caption</a>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                                <div class="DropPanelInnerLEft">
                                                                    <h2 class="fontBold drpMenuTitle dropdown">@Html.Raw(level.GetPropertyValue("levelTitle"))</h2>
                                                                    <div class="DropDownList">
                                                                        @if (level.HasValue("links"))
                                                                        {
                                                                            var links = level.GetPropertyValue<RelatedLinks>("links");
                                                                            <ul class="DropDownMenu_Inner">
                                                                                @foreach (var link in links)
                                                                                {
                                                                                    if (link.Id != null)
                                                                                    {
                                                                                        IPublishedContent getExtLink = Umbraco.TypedContent(link.Id);
                                                                                        <li><a href="@(((getExtLink.HasValue("umbracoUrlAlias"))?getExtLink.GetPropertyValue("umbracoUrlAlias"):getExtLink.Url))" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <li><a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                                    }
                                                                                }
                                                                            </ul>
                                                                        }

                                                                    </div>
                                                                    @if (level.HasValue("moreCourses"))
                                                                    {
                                                                    var link = level.GetPropertyValue<RelatedLinks>
                                                                        ("moreCourses").First();
                                                                        if (link != null)
                                                                        {
                                                                        <a href="@link.Link" class="morecourses fontBold">@link.Caption</a>
                                                                        }

                                                                        }
                                                                </div>
                                                        if (menu.HasValue("menuImage"))
                                                        {
                                                            <div class="DropPanelInnerRight">
                                                                <picture>
                                                                    @if (menu.HasValue("menuImage"))
                                                                    {
                                                                        var imgPath = menu.GetPropertyValue<IPublishedContent>("menuImage");
                                                                        <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                                                    }

                                                                </picture>
                                                            </div>
                                                        }
                                                    }


                                                </div>
                                                }
                                            </div>
                                        </ul>
                                    }
                                    else if (levels.Count() == 1)
                                    {
                                        <ul class="DropDown_Menu Width_optional">
                                            <div class="DropMenuList no-gutters">
                                                <div class="DropPanelLEft drop_Tile Width_optional noborder">
                                                    @foreach (var level in levels)
                                                    {
                                                        <h2 class="fontBold drpMenuTitle dropdown">@Html.Raw(level.GetPropertyValue("levelTitle"))</h2>
                                                        <div class="DropDownList">
                                                            @if (level.HasValue("links"))
                                                            {
                                                                var links = level.GetPropertyValue<RelatedLinks>("links");
                                                                foreach (var link in links)
                                                                {
                                                                    <ul class="DropDownMenu_Inner">
                                                                        @if (link != null)
                                                                        {
                                                                            if (link.Id != null)
                                                                            {
                                                                                IPublishedContent getExtLink = Umbraco.TypedContent(link.Id);
                                                                                <li><a href="@(((getExtLink.HasValue("umbracoUrlAlias"))?getExtLink.GetPropertyValue("umbracoUrlAlias"):getExtLink.Url))" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li><a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                            }
                                                                            @*<li><a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>*@
@*}
                                                                        </ul>
                                                                    }
                                                                }
                                                            </div>
                                                        }

                                                    </div>

                                                </div>
                                            </ul>
                                        }
                                        else
                                        {

                                        }
                                    }

                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="LoginHeaderPanel HeaderPanelRight d-flex align-items-center">
                    @if (generalContent.HasProperty("applicantLogin") && generalContent.HasValue("applicantLogin"))
                    {
                        var link = generalContent.GetPropertyValue<RelatedLinks>("applicantLogin").FirstOrDefault();
                        if (link != null)
                        {
                            <a target="@(link.NewWindow?"_blank":"_self")" href="@link.Link" class="br30 fontMedium btn btn-primary BtnStyle BtnIcon ForApplicant">
                                <picture>
                                    <img src="/src/img/home/apply.png" class="img-fluid" alt="Icon" />
                                </picture>
                                <span class="mobileHide">@link.Caption</span>
                                <span class="mobileShow">Apply</span>
                            </a>
                        }
                    }
                    @if (generalContent.HasProperty("loginLink") && generalContent.HasValue("loginLink"))
                    {
                        var link = generalContent.GetPropertyValue<RelatedLinks>("loginLink").FirstOrDefault();
                        if (link != null)
                        {
                            <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")" class=" br30 fontBold btn btn-primary BtnStyle BtnIcon ForApplicant">
                                <picture>
                                    <img src="/src/img/home/login-icon-1.png" class="img-fluid" alt="Icon" />
                                </picture>
                                @link.Caption
                            </a>
                        }
                    }

                    <a href="javascript:void(0);" id="SearchClick">
                        <picture>
                            <img src="/src/img/home/search-icon.png" class="img-fluid Icon_vw" alt="Icon" />
                        </picture>
                    </a>
                    <div class="SearchToggle">
                        <a onclick="doRedirectSearch();">
                            <picture>
                                <img src="/src/img/home/search-icon.png" class="img-fluid Icon_vw" alt="Icon" />
                            </picture>
                        </a>
                        <input type="text" class="SearchTextStyle" id="txtSearch" onkeypress="doLoad();" placeholder="Search UPES by Course, Admission, Placements" autofocus />
                        <div class="CloseIcon"></div>
                    </div>
                    <div class="ToogleBtn">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContext" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </nav>*@

<nav class="navbar navbar-expand-lg  navbar-light bg-light HeaderPanel">
    <div class="plr20 fullwidth">
        <div class="row no-gutters HeaderRow align-items-center">
            <div class="HeaderPanelLeft">
                <a class="navbar-brand" href="/">
                    <picture>
                        @if (generalContent.HasProperty("logo") && generalContent.HasValue("logo"))
                        {
                            //var imgPath = generalContent.GetPropertyValue<IPublishedContent>("logo");
                            var imgPath = AST.S3.Helper.MediaHelper.ParseMedia(generalContent.GetPropertyValue<string>("logo"), Umbraco);
                            if (imgPath != null)
                            {
                                <img src="@imgPath.Url" class="img-fluid logo_vw" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                            }

                        }
                    </picture>
                </a>
            </div>
            <div class="HeaderPanelMenu collapse navbar-collapse" id="navbarContext">
                <ul class="navbar-nav mr-auto fontExBold fullwidth NavClick">
                    @if (generalContent.HasProperty("headerMenuItems") && generalContent.HasValue("headerMenuItems"))
                    {
                        var menus = generalContent.GetPropertyValue<IEnumerable<IPublishedContent>>("headerMenuItems");
                        foreach (var menu in menus)
                        {
                            var linkss = menu.GetPropertyValue<RelatedLinks>("headMenu").FirstOrDefault();
                            <li class="nav-item @(linkss.Caption==Model.Content.Name?"active":"")">
                                @if (menu.HasValue("headMenu"))
                                {
                                    //var link = menu.GetPropertyValue<RelatedLinks>("headMenu").FirstOrDefault();
                                    if (linkss != null)
                                    {
                                    if(linkss.Link!="")
                                    {
                                     <a target="@(linkss.NewWindow?"_blank":"_self")" class="nav-link" href="@linkss.Link">
                                            @linkss.Caption <b class="caret"></b>
                                        </a>
                                    }
                                    else{
                                     <a class="nav-link" >
                                            @linkss.Caption <b class="caret"></b>
                                        </a>
                                    }
                                       
                                    }
                                }
                                @if (menu.HasValue("levels"))
                                {
                                    var levels = menu.GetPropertyValue<IEnumerable<IPublishedContent>>("levels");
                                    if (levels.Count() == 2)
                                    {
                                        <ul class="DropDown_Menu">
                                            <div class="DropMenuList no-gutters">
                                                @foreach (var level in levels)
                                                {
                                                    <div class="DropPanel@(levels.First()==level?"LEft":"Right") drop_Tile @(levels.First()==level?"":"noborder")">

                                                        @if (levels.First() == level)
                                                        {
                                                            <h2 class="fontBold drpMenuTitle dropdown">@Html.Raw(level.GetPropertyValue("levelTitle"))</h2>
                                                            <div class="DropDownList">
                                                                @if (level.HasValue("links"))
                                                                {
                                                                    var links = level.GetPropertyValue<RelatedLinks>("links");
                                                                    <ul class="DropDownMenu_Inner">
                                                                        @foreach (var link in links)
                                                                        {
                                                                            if (link.Id != null)
                                                                            {
                                                                                IPublishedContent getExtLink = Umbraco.TypedContent(link.Id);
                                                                                <li><a href="@(((getExtLink.HasValue("umbracoUrlAlias"))?getExtLink.Url:getExtLink.Url))" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li><a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                            }
                                                                        }
                                                                    </ul>
                                                                }

                                                            </div>
                                                            if (level.HasValue("moreCourses"))
                                                            {
                                                                var link = level.GetPropertyValue<RelatedLinks>("moreCourses").First();
                                                                if (link != null)
                                                                {
                                                                    <a href="@link.Link" class="morecourses fontBold">@link.Caption</a>
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="DropPanelInnerLEft">
                                                                <h2 class="fontBold drpMenuTitle dropdown">@Html.Raw(level.GetPropertyValue("levelTitle"))</h2>
                                                                <div class="DropDownList">
                                                                    @if (level.HasValue("links"))
                                                                    {
                                                                        var links = level.GetPropertyValue<RelatedLinks>("links");
                                                                        <ul class="DropDownMenu_Inner">
                                                                            @foreach (var link in links)
                                                                            {
                                                                                if (link.Id != null)
                                                                                {
                                                                                    IPublishedContent getExtLink = Umbraco.TypedContent(link.Id);
                                                                                    <li><a href="@(((getExtLink.HasValue("umbracoUrlAlias"))?getExtLink.Url:getExtLink.Url))" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <li><a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                                }
                                                                            }
                                                                        </ul>
                                                                    }

                                                                </div>
                                                                @if (level.HasValue("moreCourses"))
                                                                {
                                                                    var link = level.GetPropertyValue<RelatedLinks>
                                                                        ("moreCourses").First();
                                                                    if (link != null)
                                                                    {
                                                                        <a href="@link.Link" class="morecourses fontBold">@link.Caption</a>
                                                                    }

                                                                }
                                                            </div>
                                                            if (menu.HasValue("menuImage"))
                                                            {
                                                                <div class="DropPanelInnerRight">
                                                                    <picture>
                                                                        @if (menu.HasValue("menuImage"))
                                                                        {
                                                                            var imgPath = menu.GetPropertyValue<IPublishedContent>("menuImage");
                                                                            <img src="@imgPath.Url" class="img-fluid" alt="@(imgPath.HasValue("altTag")?imgPath.GetPropertyValue<string>("altTag"):"")" />
                                                                        }

                                                                    </picture>
                                                                </div>
                                                            }
                                                        }


                                                    </div>
                                                }
                                            </div>
                                        </ul>
                                    }
                                    else if (levels.Count() == 1)
                                    {
                                        <ul class="DropDown_Menu Width_optional">
                                            <div class="DropMenuList no-gutters">
                                                <div class="DropPanelLEft drop_Tile Width_optional noborder">
                                                    @foreach (var level in levels)
                                                    {
                                                        <h2 class="fontBold drpMenuTitle dropdown">@Html.Raw(level.GetPropertyValue("levelTitle"))</h2>
                                                        <div class="DropDownList">
                                                            @if (level.HasValue("links"))
                                                            {
                                                                var links = level.GetPropertyValue<RelatedLinks>("links");
                                                                foreach (var link in links)
                                                                {
                                                                    <ul class="DropDownMenu_Inner">
                                                                        @if (link != null)
                                                                        {
                                                                            if (link.Id != null)
                                                                            {
                                                                                IPublishedContent getExtLink = Umbraco.TypedContent(link.Id);
                                                                                <li><a href="@(((getExtLink.HasValue("umbracoUrlAlias"))?getExtLink.Url:getExtLink.Url))" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li><a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>
                                                                            }
                                                                            @*<li><a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">@link.Caption</a></li>*@
                                                                        }
                                                                    </ul>
                                                                }
                                                            }
                                                        </div>
                                                    }

                                                </div>

                                            </div>
                                        </ul>
                                    }
                                    else
                                    {

                                    }
                                }

                            </li>
                        }
                    }


                </ul>
                <!--Top Header Panel-->
                <div class="TopHeaderPanelStrip">
                    <ul class="navbar-nav topMenu">
                        @if (generalContent.HasValue("menu2"))
                        {
                            var links = generalContent.GetPropertyValue<RelatedLinks>("menu2");
                            try
                            {
                                if (links != null)
                                {
                                    foreach (var link in links)
                                    {
                                  
                                    if(@link.Caption=="Covid-19 Response")
                                    {
                                     <li class="nav-item ">
                                            <a target="@(link.NewWindow?"_blank":"_self")" class="nav-link yellow_bg" href="@link.Link">
                                                @link.Caption <b class="caret"></b>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item ">
                                            <a target="@(link.NewWindow?"_blank":"_self")" class="nav-link" href="@link.Link">
                                                @link.Caption <b class="caret"></b>
                                            </a>
                                        </li>
                                    }
                                    }
                                }
                            }
                            catch (Exception e)
                            {
                                Console.Write(e);
                            }
                        }
                        @*<li class="nav-item ">
                                <a target="_blank" class="nav-link" href="https://research.upes.ac.in/">
                                    Research <b class="caret"></b>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a target="_blank" class="nav-link" href="">
                                    Blog <b class="caret"></b>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a target="_blank" class="nav-link" href="">
                                    Contact Us <b class="caret"></b>
                                </a>
                            </li>*@
                             @if (generalContent.HasValue("whatsappNumber"))
                        {
                            <li class="desktopshow nav-item">
                                <!--<a class="nav-link" href="tel:@Html.Raw(generalContent.GetPropertyValue("whatsappNumber"))">-->
								 <a class="nav-link" href="https://api.whatsapp.com/send?phone=917409907444" target="_blank">
                                    <img src="/media/5833/whatsapp.png" class=" img-fluid topMenuImg" />
                                    <span>
                                        @Html.Raw(generalContent.GetPropertyValue("whatsappNumber"))
                                    </span>
                                </a>
                            </li>
                        }
                        @if (generalContent.HasValue("contactNo"))
                        {
                            <li class="desktopshow nav-item">
                                <a class="nav-link" href="tel:@Html.Raw(generalContent.GetPropertyValue("contactNo"))">

                                    <img src="/src/img/home/call-icon.png" class=" img-fluid topMenuImg" />
                                    <span>
                                        @Html.Raw(generalContent.GetPropertyValue("contactNo"))
                                    </span>
                                </a>
                            </li>
                        }
                        @if (generalContent.HasValue("applicantLogin"))
                        {
                            var link = generalContent.GetPropertyValue<RelatedLinks>("applicantLogin").First();
                            if (link != null)
                            {
                                <li class="desktopshow nav-item">
                                    <a class="nav-link" href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">
                                        <img src="/src/img/home/2019-10-22.png" class="img-fluid topMenuImg" />
                                        <span>@link.Caption</span>
                                    </a>
                                </li>
                            }
                        }

                        <li class="desktopshow nav-item">
                            <a class="nav-link" href="javascript:void(0);" id="SearchClick">
                                <img src="/src/img/home/search-icon-new.png" class="img-fluid topMenuImg" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="LoginHeaderPanel HeaderPanelRight d-flex align-items-center">
            
								 <a class="nav-link Show_Mobile" href="https://api.whatsapp.com/send?phone=917409907444" target="_blank">
                                    <img src="/media/5833/whatsapp.png" class=" img-fluid topMenuImg" />
                                    <!--<span>
                                        @Html.Raw(generalContent.GetPropertyValue("whatsappNumber"))
                                    </span>-->
                                </a>
                           
                @if (generalContent.HasValue("contactNo"))
                {<a class="Show_Mobile nav-link" href="tel:@Html.Raw(generalContent.GetPropertyValue("contactNo"))" alt="Icon">

                        <img src="/src/img/home/call-icon.png" class=" img-fluid topMenuImg" />
                    </a>
                }
                @if (generalContent.HasValue("applyNowLinkMenu"))
                {
                    var link = generalContent.GetPropertyValue<RelatedLinks>("applyNowLinkMenu").First();
                    if (link != null)
                    {
                        <a target="_blank" href="@link.Link" class="br30 fontMedium btn btn-primary BtnStyle BtnIcon ForApplicant">
                            <picture>
                                <img src="/src/img/home/apply.png" class="img-fluid desktopshow" alt="Icon" />
                            </picture>
                            <span class="mobileHide">@link.Caption</span>
                            <span class="mobileShow">@link.Caption.Remove(5)</span>
                        </a>
                    }
                }

                <a href="https://admission.upes.ac.in/" target="_self" class="Show_Mobile br30 fontBold btn btn-primary BtnStyle BtnIcon ForApplicant">
                    Login
                </a>

                <a href="javascript:void(0);" id="SearchClick1">
                    <picture>
                        <img src="/src/img/home/search-icon.png" class="Show_Mobile img-fluid Icon_vw" alt="Icon" />
                    </picture>
                </a>
                <div class="SearchToggle">
                    <form action="/Search/" >
                        <button type="submit"  style="    border: 0;background: transparent;outline: none !important;" >
                             <picture>
                            <img src="/src/img/home/search-icon.png" class="img-fluid Icon_vw" alt="Icon" />
                        </picture>
                        </button>
                   @* <a type="submit"   onclick="doRedirectSearch();">
                        <picture>
                            <img src="/src/img/home/search-icon.png" class="img-fluid Icon_vw" alt="Icon" />
                        </picture>
                    </a>*@
                    <input type="text" class="SearchTextStyle" name="q"  id="txtSearch" @*onkeypress="doLoad();"*@ placeholder="Search UPES by Course, Admission, Placements" autofocus />
                    <div class="CloseIcon"></div>
                    </form>
                </div>
                <div class="ToogleBtn">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContext" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar top-bar"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</nav>
