﻿@model Umbraco.Forms.Mvc.Models.FieldViewModel
@using Umbraco.Forms.Mvc

<input type="text" 
       name="@Model.Name" 
       id="@Model.Id" 
       class="enqFormstyle" 
       
       value="@Model.ValueAsHtmlString" 
       maxlength="500"
       @{if(string.IsNullOrEmpty(Model.PlaceholderText) == false){<text>placeholder="@Model.PlaceholderText"</text>}}
       @{if(Model.Mandatory || Model.Validate){<text>data-val="true"</text>}}
       @{if (Model.Mandatory) {<text> data-val-required="@Model.RequiredErrorMessage"</text>}}
       @{if (Model.Validate) {<text> data-val-regex="@Model.InvalidErrorMessage" data-regex="@Html.Raw(Model.Regex)"</text>}}
/>



