/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1200px) and (max-width: 1365px) {
  .FooterPanel .footMenuList a {
    font-size: 1.3vw; }
  .FooterPanel .footMenus p {
    font-size: 1.5vw; }
  .FooterPanel .SocialIcon p {
    font-size: 1vw; }
  .FooterPanel .social_icon_menus a {
    width: 2vw; }
  .FooterPanel .foot_Btm {
    font-size: 1vw; } }

@media (min-width: 1025px) and (max-width: 1199px) {
  .FooterPanel .plr100 {
    padding: 0 50px; }
  .FooterPanel .footMenuList a {
    font-size: 0.95vw; }
  .FooterPanel .footMenus p {
    font-size: 1.2vw; }
  .FooterPanel .foot_Btm {
    font-size: 1.1vw; }
  .FooterPanel .social_icon_menus a {
    width: 2.2vw; }
  .FooterPanel .SocialIcon p {
    font-size: 1.1vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  footer .footMenus p {
    font-size: 1.3vw; }
  footer .footMenuList a {
    font-size: 1.05vw; }
  footer .SocialIcon p {
    font-size: 1.3vw; }
  footer .social_icon_menus a {
    width: 3vw; }
  footer .foot_Btm {
    font-size: 1.3vw; } }

@media (max-width: 767px) {
  /**Footer*/
  footer .foot_Btm_Height {
    height: auto; }
  footer .foot_Btm_Height {
    padding: 7px 10px;
    text-align: center; }
  footer .foot_Btm {
    font-size: 10px; }
  footer .col-6.copyRights {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; }
  footer .col-6.SocialIcon {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding: 0 0 10px 0; }
  footer .SocialIcon p {
    font-size: 10px; }
  footer .col-sm-2.footMenus {
    -webkit-box-flex: 33.33%;
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%; }
  footer .footMenuList a {
    font-size: 8px;
    font-weight: 500; }
  footer .footTopRow {
    padding: 4vh 0 0 0;
    margin: 0px; }
  footer .footMenus {
    padding: 0 15px; }
  footer .social_icon_menus a img {
    width: 20px; }
  footer .footMenus p {
    font-size: 10px;
    word-break: break-word; }
  footer .social_icon_menus a {
    width: auto; }
  footer .footMenuList {
    padding: 10px 0 20px 0; }
  footer .hideOnMobile {
    display: none; } }
