/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

/*DefaultFontSizes*/
.titleh3 {
  font-size: 3.3vw; }

.titleh4 {
  font-size: 1.5vw; }

.paraSmall {
  font-size: 1.05vw; }

.paraLittle {
  font-size: 0.9vw; }

.subParaForTitle {
  font-size: 2.5vw; }

.para_three {
  font-size: 1.2vw; }
