/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  overflow-x: hidden; }

.fontLight {
  font-weight: 300; }

.fontRegular {
  font-weight: 400; }

.fontMedium {
  font-weight: 500; }

.fontBold {
  font-weight: 700; }

.fontExBold {
  font-weight: 800; }

.fontBlack {
  font-weight: 900; }

h1, h2, h3, h4, h5, h6, p {
  margin: inherit;
  line-height: initial;
  font-size: inherit; }

a, a:hover {
  text-decoration: none; }

.br30 {
  border-radius: 30px; }

.btn.btn-primary {
  border: none;
  padding: 0; }

.slick-slider {
  margin-bottom: 0px; }

.fullwidth {
  width: 100%; }

.plr7 {
  padding: 0 7px; }

.mlr {
  margin: 0 -7px; }

.text-decoration {
  text-decoration: underline !important; }

/*DefaultFontSizes*/
.titleh3 {
  font-size: 3.3vw; }

.titleh4 {
  font-size: 1.5vw; }

.paraSmall {
  font-size: 1.05vw; }

.paraLittle {
  font-size: 0.9vw; }

.titleMedium {
  font-size: 2.5vw; }

.para_three {
  font-size: 1.2vw; }

.para_Two {
  font-size: 1.32vw; }

.DownArrow {
  position: absolute;
  bottom: -10%;
  text-align: center;
  width: 100%;
  left: -6%;
  z-index: 1; }

.Visit_list a {
  background: #FFFFFF;
  width: 20.5vw;
  height: 6vh;
  font-size: 1.05vw;
  color: #00448B;
  margin: 0 6px 0 0;
  padding: 1.5vh 0 !important; }

.Visit_list a:hover {
  background: #00448B;
  color: #FFFFFF; }

.ApplyNow a {
  font-size: 1.05vw;
  height: 6vh;
  background: #EF3F3F;
  color: #FFFFFF;
  width: 14vw;
  margin: 0 0 0 6px;
  padding: 1.5vh 0 !important; }

.ApplyNow a:hover {
  background: #FFFFFF;
  color: #EF3F3F; }

.breadcrumb.breadcrumbCustom li.active {
  color: #000000;
  font-weight: 500; }

.breadcrumb.breadcrumbCustom li a {
  color: #000000; }

.breadcrumb.breadcrumbCustom li {
  display: inline-block;
  font-size: 0.9vw; }

.breadcrumbPanel {
  position: absolute;
  bottom: -10%;
  left: 48%;
  text-align: center;
  padding: 0;
  z-index: 1; }

.breadcrumb.breadcrumbCustom {
  margin: 0;
  background: inherit;
  width: auto;
  padding: 0;
  display: block; }

.downArrowIcon {
  width: 2.4vw; }

/**Include Css*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
/**Header***/
header .btn.btn-primary {
  border: navajowhite;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header .HeaderPanel {
  padding: 0;
  background: inherit !important; }

header .HeaderRow {
  height: 13vh; }

header .logo_vw {
  width: 9vw; }

header .HeaderPanelLeft a {
  padding: 0 0 0 80px;
  margin: 0; }

header .HeaderPanelLeft {
  width: 25%; }

header .HeaderPanelRight {
  width: 14%; }

header .Icon_vw {
  width: 2.2vw; }

header .BtnStyle {
  background: #FFCA08;
  width: 11vw;
  height: 4.6vh;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  font-size: 0.7vw;
  margin: 0 15px 0 0;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

header .HeaderPanelMenu ul li {
  position: relative;
  padding: 0 2vw; }

header .HeaderPanelMenu ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

header .HeaderPanelMenu ul li:first-child {
  padding: 0 1vw; }

header .HeaderPanelMenu ul li:first-child:before {
  display: none; }

header .HeaderPanelMenu ul li:before {
  content: '';
  display: block;
  background: #E9E9E9;
  width: 0.1vw;
  height: 1vw;
  position: absolute;
  left: 0px;
  top: 2px; }

header .HeaderPanelMenu ul li.active a {
  color: #EF3F3F !important; }

header .HeaderPanelMenu ul li a {
  padding: 0 !important;
  color: #000000 !important;
  font-size: 0.8vw;
  text-transform: uppercase;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out; }

header .HeaderPanelMenu ul li a:hover, header .HeaderPanelMenu ul li a:active {
  color: #EF3F3F !important; }

header .BtnStyle:hover {
  background: #FFCA08; }

header .HeaderPanelMenu {
  width: 61%; }

header .BtnIcon img {
  width: 1.5vw;
  margin: 0 4px 0 0; }

header .HeaderPanelMenu ul li:first-child a {
  color: #000000 !important;
  border-radius: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4.6vh;
  width: 11vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700;
  position: relative; }

header .HeaderPanelMenu ul li:first-child a:after {
  content: '';
  width: 80%;
  background: #00448B;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0; }

header .ShowOnMobile {
  display: none !important; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1025px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }
  header .HeaderPanelMenu ul li a {
    font-size: 1vw; }
  header .HeaderPanelLeft {
    width: 20%; }
  header .HeaderPanelLeft a {
    padding: 0 0 0 30px; }
  header .HeaderPanelMenu ul li:first-child a:after {
    width: 100%; }
  header .BtnStyle {
    width: 14vw;
    font-size: 1vw; }
  header .HeaderPanelRight {
    width: 18%; }
  header .HeaderPanelMenu ul li {
    padding: 0 1.4vw; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }
  header .HeaderPanelLeft a {
    padding: 0 0 0 30px; }
  header .BtnStyle {
    width: 14vw;
    font-size: 1vw; }
  header .HeaderPanelRight {
    width: 18%; }
  header .HeaderPanelMenu ul li {
    padding: 0 1.6vw; }
  header .HeaderPanelMenu ul li:first-child a:after {
    width: 100%; }
  header .HeaderPanelMenu ul li a {
    font-size: 1vw; }
  header .HeaderPanelLeft {
    width: 18%; } }

@media (min-width: 768px) and (max-width: 991px) {
  header .collapse:not(.show) {
    display: block !important; }
  header .HeaderPanelMenu {
    width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  header .HeaderPanelMenu ul li a {
    font-size: 1.3vw; }
  header .HeaderPanelMenu ul li {
    padding: 0 1vw; }
  header .HeaderPanelLeft {
    width: 12%; }
  header .HeaderPanelLeft a {
    padding: 0;
    margin: 0; }
  header .HeaderPanelMenu ul {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit; }
  header button.navbar-toggler.collapsed {
    display: none !important; }
  header .HeaderPanelMenu ul li:first-child a {
    width: auto; }
  header .HeaderPanelMenu ul li:first-child a:after {
    width: 100%; }
  header .Icon_vw {
    width: 25px; }
  header .BtnStyle {
    width: 13vw;
    font-size: 1vw; }
  header .HeaderPanelRight {
    width: 18%; } }

@media (max-width: 767px) {
  /**Header*/
  header .HeaderRow {
    height: 70px;
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
    padding: 0 15px 10px 10px; }
  header .HeaderPanelLeft a {
    padding: 0; }
  header .HeaderPanelLeft {
    width: 28%; }
  header .HeaderPanelRight {
    width: 72%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 0 9px 0; }
  header .Icon_vw {
    width: 30px; }
  header .logo_vw {
    width: 85px; }
  header .navbar-collapse {
    position: absolute;
    width: 100%;
    left: 0px;
    background: #fff;
    top: 100%;
    margin: 0;
    border-top: 1px dashed #ccc;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    z-index: 9; }
  header .HeaderPanelMenu ul li:first-child a {
    height: auto;
    width: auto;
    font-weight: 600; }
  header .HeaderPanelMenu ul li:first-child {
    padding: 10px 0; }
  header .HeaderPanelMenu ul li:first-child a:after {
    width: 40%;
    height: 3px;
    bottom: -5px; }
  header .HeaderPanelMenu ul li {
    width: 100%;
    text-align: center;
    padding: 10px 0; }
  header .HeaderPanelMenu ul {
    padding: 20px 0; }
  header .HeaderPanelMenu ul li a {
    font-size: 12px;
    font-weight: 600; }
  header .navbar-toggler {
    border: none;
    background: #fafafa !important;
    float: right;
    padding: 0px !important;
    border: 1px solid #333 !important;
    border-radius: 100%;
    width: 30px;
    height: 30px; }
  header .ToogleBtn {
    position: relative;
    margin: 0 0 0 20px; }
  header .ToogleBtn:before {
    content: '';
    background: #808080;
    width: 1.1px;
    height: 25px;
    display: block;
    position: absolute;
    left: -10px;
    top: 2px; }
  header .navbar-toggler:focus {
    outline: none;
    background: transparent !important; }
  header .navbar-toggler .icon-bar {
    background-color: #333;
    font-weight: 500;
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    -ms-transform: rotate(0deg) translate(0px, 0px);
    transform: rotate(0deg) translate(0px, 0px);
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  header .navbar-toggler .icon-bar {
    display: block;
    width: 15px;
    height: 2px;
    margin: 0 auto;
    border-radius: 1px; }
  header .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px; }
  header .icon-bar:nth-child(2) {
    width: 15px;
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  header .navbar-toggler:hover > .icon-bar:nth-child(2) {
    width: 15px;
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  header .navbar-toggler:active > .icon-bar:nth-child(2) {
    width: 15px;
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 4px);
    -ms-transform: rotate(45deg) translate(5px, 4px);
    transform: rotate(45deg) translate(5px, 4px);
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(4px, -4px);
    -ms-transform: rotate(-45deg) translate(4px, -4px);
    transform: rotate(-45deg) translate(4px, -4px);
    -webkit-transition: ease all .2s;
    -o-transition: ease all .2s;
    transition: ease all .2s; }
  header .BtnIcon img {
    width: 12px; }
  header .BtnStyle {
    width: 60px;
    height: 30px;
    font-size: 9px;
    margin: 0 4px 0 0;
    padding: 5px 5px !important;
    font-weight: 500; }
  header .ShowOnMobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  header .ForApplicant span {
    display: none; } }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
/**Footer***/
footer .FooterPanel {
  color: #FFFFFF; }

footer .foot_Btm {
  background: #4D4D4D;
  color: #FFFFFF;
  font-size: 0.9vw; }

footer .SocialIcon p {
  font-size: 0.9vw;
  padding: 0 15px 0 0; }

footer .foot_Btm_Height {
  height: 10vh; }

footer .foot_Top_Height {
  height: 200px; }

footer .foot_Top {
  background: #606060; }

footer .footMenuList {
  padding: 10px 0 0 0; }

footer .footTopRow {
  padding: 2vh 0; }

footer .footMenuList a {
  display: block;
  color: #EEEEEE;
  font-size: 0.75vw;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5px 0; }

footer .footMenus p {
  text-transform: uppercase;
  font-size: 1.05vw; }

footer .social_icon_menus a {
  display: inline-block;
  width: 1.8vw;
  margin: 0 0 0 4px; }

footer .footTopRow {
  margin: 0 -3px; }

footer .footMenus {
  padding: 0 3px; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1200px) and (max-width: 1365px) {
  .FooterPanel .footMenuList a {
    font-size: 1.3vw; }
  .FooterPanel .footMenus p {
    font-size: 1.5vw; }
  .FooterPanel .SocialIcon p {
    font-size: 1vw; }
  .FooterPanel .social_icon_menus a {
    width: 2vw; }
  .FooterPanel .foot_Btm {
    font-size: 1vw; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .FooterPanel .plr100 {
    padding: 0 50px; }
  .FooterPanel .footMenuList a {
    font-size: 0.95vw; }
  .FooterPanel .footMenus p {
    font-size: 1.2vw; }
  .FooterPanel .foot_Btm {
    font-size: 1.1vw; }
  .FooterPanel .social_icon_menus a {
    width: 2.2vw; }
  .FooterPanel .SocialIcon p {
    font-size: 1.1vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  footer .footMenus p {
    font-size: 1.3vw; }
  footer .footMenuList a {
    font-size: 1.05vw; }
  footer .SocialIcon p {
    font-size: 1.3vw; }
  footer .social_icon_menus a {
    width: 3vw; }
  footer .foot_Btm {
    font-size: 1.3vw; } }

@media (max-width: 767px) {
  /**Footer*/
  footer .foot_Btm_Height {
    height: auto; }
  footer .foot_Btm_Height {
    padding: 7px 10px;
    text-align: center; }
  footer .foot_Btm {
    font-size: 10px; }
  footer .col-6.copyRights {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; }
  footer .col-6.SocialIcon {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding: 0 0 10px 0; }
  footer .SocialIcon p {
    font-size: 10px; }
  footer .col-sm-2.footMenus {
    -webkit-box-flex: 33.33%;
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%; }
  footer .footMenuList a {
    font-size: 8px;
    font-weight: 500; }
  footer .footTopRow {
    padding: 4vh 0 0 0;
    margin: 0px; }
  footer .footMenus {
    padding: 0 15px; }
  footer .social_icon_menus a img {
    width: 20px; }
  footer .footMenus p {
    font-size: 10px;
    word-break: break-word; }
  footer .social_icon_menus a {
    width: auto; }
  footer .footMenuList {
    padding: 10px 0 20px 0; }
  footer .hideOnMobile {
    display: none; } }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.showcase .show_caseTop {
  padding: 5vh 0;
  background: #FFCA08; }

.showcase .takeStep p span {
  display: block; }

.showcase .takeStep p {
  font-size: 3.5vw;
  line-height: 7vh; }

.showcase .Visit_list a {
  background: #FFFFFF;
  width: 20.5vw;
  height: 6vh;
  font-size: 1.05vw;
  color: #00448B;
  margin: 0 6px 0 0;
  padding: 1.5vh 0 !important; }

.showcase .sh_showcaseRight a {
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

.showcase .Visit_list a:hover {
  background: #00448B;
  color: #FFFFFF; }

.showcase .ApplyNow a {
  font-size: 1.05vw;
  height: 6vh;
  background: #EF3F3F;
  color: #FFFFFF;
  width: 14vw;
  margin: 0 0 0 6px;
  padding: 1.5vh 0 !important; }

.showcase .ApplyNow a:hover {
  background: #FFFFFF;
  color: #EF3F3F; }

.showcase .show_caseBtm {
  background: #FCA61B; }

.showcase .dateText span {
  display: block; }

.showcase .shcaseBtmRow {
  padding: 3vh 0;
  color: #000000; }

.showcase .AppDate p {
  font-size: 1.5vw; }

.showcase .dateText {
  font-size: 0.9vw; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1200px) and (max-width: 1365px) {
  .showcase .dateText {
    font-size: 1.1vw; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .showcase .plr100 {
    padding: 0 50px; }
  .showcase .dateText {
    font-size: 1.1vw; }
  .showcase .AppDate p {
    font-size: 1.7vw; }
  .showcase .Visit_list a {
    padding: 1.6vh 0 !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .showcase .dateText {
    font-size: 1.4vw; }
  .showcase .AppDate p {
    font-size: 1.8vw; }
  .showcase .ApplyNow a {
    font-size: 1.5vw; }
  .showcase .ApplyNow a {
    font-size: 1.6vw;
    width: 16vw; }
  .showcase .Visit_list a {
    padding: 1.8vh 0 !important;
    width: 25vw;
    font-size: 1.3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: left; } }

@media (max-width: 767px) {
  /**Showcase*/
  .showcase .show_caseBtm {
    padding: 40px 15px 40px 15px;
    text-align: center; }
  .showcase .shcaseBtmRow .col-sm-2 {
    padding: 30px 0 0 0; }
  .showcase .dateText span {
    padding: 6px 0 0 0; }
  .showcase .Visit_list {
    margin: 20px 0 0 0; }
  .showcase .shcaseBtmRow {
    padding: 0px; }
  .showcase .ApplyNow a {
    font-size: 12px;
    height: 35px;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 9px 12px; }
  .showcase .Visit_list a {
    width: 100%;
    height: 35px;
    font-size: 12px;
    margin: 0 0px 10px 0;
    padding: 9px 12px; }
  .showcase .shcaseBtmRow .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .col-sm-3.AppDate {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .col-sm-9.sh_showcaseRight {
    display: block !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .shcaseRow {
    width: 220px;
    margin: 0 auto; }
  .showcase .show_caseTop {
    text-align: center; }
  .showcase .takeStep p {
    font-size: 36px; }
  .showcase .dateText {
    font-size: 16px; }
  .showcase .AppDate p {
    font-size: 20px; }
  .showcase .col-sm-3.takeStep {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
