/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.ProgramDetailPanel {
  /***Details***/
  /**Banner*/
  /**Banner Section*/
  /**Details Accordion*/ }
  .ProgramDetailPanel .StyleForSlickArrows .slick-next {
    right: 30px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .ProgramDetailPanel .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .ProgramDetailPanel .StyleForSlickArrows .slick-prev, .ProgramDetailPanel .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important;
    z-index: 1; }
  .ProgramDetailPanel .StyleForSlickArrows .slick-prev {
    left: 30px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .ProgramDetailPanel .StyleForSlickArrows .slick-prev:before, .ProgramDetailPanel .StyleForSlickArrows .slick-next:before {
    display: none; }
  .ProgramDetailPanel .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .ProgramDetailPanel .noPadding {
    padding: 0px; }
  .ProgramDetailPanel .CampusBg {
    position: absolute;
    right: 5px;
    top: -60px; }
  .ProgramDetailPanel .CampusBg img {
    width: 40vw; }
  .ProgramDetailPanel .GrayTitle {
    color: #EEEEEE;
    font-size: 7.2vw;
    position: relative;
    top: -2vh;
    margin: 0 0 20px 0; }
  .ProgramDetailPanel .row.CoursesGraduatePanel {
    margin: 0 -60px;
    padding: 0 0 10px 0; }
  .ProgramDetailPanel .GraduateInner {
    padding: 0 60px; }
  .ProgramDetailPanel .GraduateList {
    margin: 0;
    padding: 50px 0 0 0; }
  .ProgramDetailPanel .GraduateList li p {
    width: 90%;
    position: relative; }
  .ProgramDetailPanel .GraduateList li a {
    font-weight: 600;
    color: #00448B;
    text-decoration: underline;
    -webkit-text-decoration-color: #C3D7D8;
    text-decoration-color: #C3D7D8; }
  .ProgramDetailPanel .GraduateList li p span {
    padding: 0 15px 0 10px; }
  .ProgramDetailPanel .GraduateList li span img {
    width: 2.3vw; }
  .ProgramDetailPanel .GraduateList li p:before {
    content: '';
    background: #9A999D;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: 10%;
    border-radius: 100%;
    top: 10px; }
  .ProgramDetailPanel .GraduateList li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-weight: 500;
    font-size: 0.9vw;
    height: 6vh;
    border-bottom: 1px solid #EFEFEF;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .ProgramDetailPanel .GraduateInner .PadSpacing {
    padding: 3vh 0px 4.5vh 3.6vw; }
  .ProgramDetailPanel .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .ProgramDetailPanel .BannerImg {
    width: 70vw;
    float: right; }
  .ProgramDetailPanel .BannerStripContext {
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 26vmax;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .ProgramDetailPanel .BannerStripContext p {
    font-size: 5.7vw;
    position: absolute;
    width: 75vw;
    left: 6vmax;
    line-height: 12vh;
    top: -45px; }
  .ProgramDetailPanel .DownArrow {
    left: -5%; }
  .ProgramDetailPanel .WatchPanel {
    position: absolute;
    bottom: 40px;
    right: 80px; }
  .ProgramDetailPanel .WatchPanel a img {
    width: 25px; }
  .ProgramDetailPanel .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #00448B;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .ProgramDetailPanel .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .ProgramDetailPanel .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .ProgramDetailPanel .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    bottom: 2%;
    left: 7vw;
    padding: 0 20px 0 0;
    position: absolute; }
  .ProgramDetailPanel .BannerContextList li {
    font-size: 1.6vw;
    font-weight: 500;
    padding: 0 0 4vh 0;
    position: relative; }
  .ProgramDetailPanel .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
  .ProgramDetailPanel .durationImg {
    width: 3vw; }
  .ProgramDetailPanel .detailCourseList p {
    padding: 0 30px 0 20px; }
  .ProgramDetailPanel .durationImg {
    width: 3vw; }
  .ProgramDetailPanel .detailCourseList {
    padding: 0 0 30px 0; }
  .ProgramDetailPanel .det_Context li {
    padding: 0 0 30px 0;
    position: relative; }
  .ProgramDetailPanel .DurationText {
    font-size: 1.8vw; }
  .ProgramDetailPanel .DurationText span {
    font-size: 1.3vw; }
  .ProgramDetailPanel .det_Context {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 0 0 0 30px !important; }
  .ProgramDetailPanel .DetailInner {
    padding: 0 0 70px 0; }
  .ProgramDetailPanel .det_Context li:before {
    content: '';
    background: #00448B;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 100%;
    position: absolute;
    left: -20px;
    top: 6px; }
  .ProgramDetailPanel .DetailsBanner:before {
    content: '';
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    background-position: 0px -35vh; }
  .ProgramDetailPanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    top: 10px; }
  .ProgramDetailPanel .appList.ApplyNow a {
    background: #FFCA08; }
  .ProgramDetailPanel .SocialList {
    margin: 0 -4px; }
  .ProgramDetailPanel .applyNowForDetail {
    padding: 8vh 0 5vh 0; }
  .ProgramDetailPanel .SocialList a {
    padding: 0 4px; }
  .ProgramDetailPanel .appList p {
    padding: 0 10px 0;
    font-size: 1.05vw;
    color: #606060; }
  .ProgramDetailPanel .SocialList a img {
    width: 2.2vw; }
  .ProgramDetailPanel .CardHeaderPanel > a {
    display: block;
    position: relative;
    font-weight: 600;
    color: #000000;
    padding: 16px 25px;
    border-bottom: 1px solid #FAFAFA; }
  .ProgramDetailPanel .CardHeaderPanel > a:after {
    content: '>';
    font-family: monospace;
    position: absolute;
    right: 25px;
    font-weight: 600;
    font-size: 1.6vw;
    color: #A1A1A1;
    top: 12px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .ProgramDetailPanel .CardHeaderPanel > a[aria-expanded="true"]:after {
    content: '>';
    font-family: monospace;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
  .ProgramDetailPanel .AccordionStyle {
    margin: 30px 0 0 0;
    background: #fff;
    -webkit-box-shadow: 0 5px 5px #ccc;
    box-shadow: 0 5px 5px #ccc;
    position: relative;
    border: 1px solid #EDEDED; }
  .ProgramDetailPanel .card-body.cardContext {
    padding: 20px 25px; }
  .ProgramDetailPanel .AccordionStyle .card-header {
    background: inherit;
    border: none;
    padding: 0px; }
  .ProgramDetailPanel .cardContext p {
    font-weight: 500;
    font-size: 1vw;
    line-height: 24px; }
  .ProgramDetailPanel .AccordionStyle .card {
    border: none;
    border-radius: 0px; }
  .ProgramDetailPanel .DetailsBlk {
    padding: 5vh 8vw; }
