/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.SchoolDetailPanel {
  /**Certification*/
  /**Events***/
  /**StudentAchievment*/
  /**Stories***/
  /**Events***/
  /*Placements*/
  /**Application*/
  /*Courses*/
  /***Campus***/
  /**Banner*/
  /**Banner Section*/ }
  .SchoolDetailPanel .StyleForSlickArrows .slick-next {
    right: 30px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .SchoolDetailPanel .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .SchoolDetailPanel .StyleForSlickArrows .slick-prev, .SchoolDetailPanel .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important;
    z-index: 1; }
  .SchoolDetailPanel .StyleForSlickArrows .slick-prev {
    left: 30px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .SchoolDetailPanel .StyleForSlickArrows .slick-prev:before, .SchoolDetailPanel .StyleForSlickArrows .slick-next:before {
    display: none; }
  .SchoolDetailPanel .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .SchoolDetailPanel .noPadding {
    padding: 0px; }
  .SchoolDetailPanel .IndContext {
    width: 33.8vw; }
  .SchoolDetailPanel .ind_Logo {
    padding: 0 7px; }
  .SchoolDetailPanel .CrtInner {
    margin: -25vh 0 0 0;
    padding: 0 0 30px 0; }
  .SchoolDetailPanel .StripforTwoContext {
    position: relative;
    top: -50px;
    background: #FFCA08;
    height: 15vh;
    width: 30vw; }
  .SchoolDetailPanel .ind_CompanyList {
    padding: 0 80px 12px 80px;
    margin: 0 -7px; }
  .SchoolDetailPanel .StripforTwoContext h2 {
    margin: 0 -10vh -4vh 0;
    font-size: 3vw; }
  .SchoolDetailPanel .Event_Inner h3 {
    padding: 4.6vh 0; }
  .SchoolDetailPanel .eventContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .SchoolDetailPanel .EventContStyle {
    background: #00448B;
    padding: 5vh 3vw 5vh 2vw;
    color: #FFFFFF; }
  .SchoolDetailPanel .Events_Impact_Panel {
    padding: 180px 0px 40px 6.2vw;
    margin: 0 -48px; }
  .SchoolDetailPanel .HomeEventImg {
    padding: 0 100px 0 0; }
  .SchoolDetailPanel .Ev_Im_List {
    padding: 0 48px; }
  .SchoolDetailPanel .RotateTitlePosition {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    z-index: 9;
    padding: 0px !important;
    width: 100%;
    height: 100%;
    bottom: 120px;
    left: 0px; }
  .SchoolDetailPanel .eventContextForHome {
    padding: 0 0 0 7vw; }
  .SchoolDetailPanel .PadSpacing {
    padding: 3vh 0px 4.5vh 9vw; }
  .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-prev, .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-next {
    left: 50px;
    top: auto;
    bottom: 30px; }
  .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-prev {
    left: 0px; }
  .SchoolDetailPanel .FacBanner:before {
    content: '';
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    top: 0;
    background-position: 0px -28vh; }
  .SchoolDetailPanel .CertificationPanel {
    background: #FFFFFF; }
  .SchoolDetailPanel .titleposition {
    position: absolute;
    top: -100px; }
  .SchoolDetailPanel .EventContStyleForSchoolBlk {
    padding: 5vh 5vw 5vh 2vw; }
  .SchoolDetailPanel .Events_Facilities_Panel {
    padding: 120px 0px 240px 5.8vw; }
  .SchoolDetailPanel .WhiteBg {
    background: url(../src/img/home/white-bg-pattern.jpg) no-repeat;
    background-size: cover;
    background-position: center; }
  .SchoolDetailPanel .studenAchievPanel_PaddingSpacing {
    padding: 40vh 0 9vh 0; }
  .SchoolDetailPanel .EventBg {
    margin: -85px 0 0 0; }
  .SchoolDetailPanel .studenAchieveBanner:before {
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    background-position: left;
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -8%;
    background-size: 100%; }
  .SchoolDetailPanel .SectionLogoBanner:before {
    content: '';
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    background-size: 50%;
    position: absolute;
    top: 70px;
    left: 50px;
    width: 100%;
    height: 100%; }
  .SchoolDetailPanel .AchieveInner {
    padding: 30vh 0 3vh 0; }
  .SchoolDetailPanel .AchieveTitle p {
    line-height: 10px; }
  .SchoolDetailPanel .AchieveContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .SchoolDetailPanel .AchieveTitleBlock p {
    position: relative;
    top: 10px; }
  .SchoolDetailPanel .AchieveTitleBlock h3 {
    margin: 0 0 20px 0; }
  .SchoolDetailPanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .SchoolDetailPanel .AchieveContextInn {
    background: #FFCA08;
    padding: 1.7vh 3vw 1.7vh 2vw; }
  .SchoolDetailPanel .AchieveContextInn p {
    font-size: 1.5vw; }
  .SchoolDetailPanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .SchoolDetailPanel .knowMoreStyle {
    text-decoration: underline !important;
    font-size: 0.9vw;
    color: #00448B !important;
    margin: 10px 0 0 0;
    display: inline-block; }
  .SchoolDetailPanel .storiesPanStyle {
    padding: 35px 7px 0 7px;
    position: relative; }
  .SchoolDetailPanel .storiesPannInn .slick-list {
    overflow: visible; }
  .SchoolDetailPanel .StoriesContext {
    background: #FFFFFF;
    padding: 2vh 3vh 2vh 3vh;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    bottom: -50%;
    left: 6.3vw;
    width: 21.5vw;
    -webkit-box-shadow: 0 5px 5px #ccc;
    box-shadow: 0 5px 5px #ccc;
    z-index: 999; }
  .SchoolDetailPanel .StoriesContext h3 {
    font-size: 1.2vw; }
  .SchoolDetailPanel .StoriesContext h2 {
    font-size: 1.5vw; }
  .SchoolDetailPanel .StoriesContext a {
    text-decoration: underline;
    font-size: 0.9vw;
    color: #00448B; }
  .SchoolDetailPanel .StoriesContext p {
    font-size: 1.05vw;
    padding: 15px 0 20px 0; }
  .SchoolDetailPanel .storiesPanStyle img {
    width: 21vw; }
  .SchoolDetailPanel .StoryTitleStrip {
    background: #FFCA08; }
  .SchoolDetailPanel .StoryTitleStrip p {
    position: absolute;
    top: -23%;
    font-size: 2.5vw;
    font-weight: 800; }
  .SchoolDetailPanel .StoryTitleStrip {
    background: #FFCA08;
    width: 27.4vw;
    text-align: center;
    position: relative;
    height: 15vh;
    padding: 0 0 1vh 0; }
  .SchoolDetailPanel .StoryTitleStrip h2 {
    font-size: 4.4vw;
    padding: 40px 0 0 0; }
  .SchoolDetailPanel .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .SchoolDetailPanel .forZIndex {
    z-index: 9; }
  .SchoolDetailPanel .StoryTitleStripForTieUp {
    width: 51.5vw;
    height: 45.7vh; }
  .SchoolDetailPanel .TieupContext {
    padding: 0 100px 0 0;
    margin: -30px 0 0 0;
    position: relative; }
  .SchoolDetailPanel .TiesUpBg {
    background: #00448B;
    padding: 1vh 3vw 1vh 2vw;
    height: 22vh; }
  .SchoolDetailPanel .TieupContext p {
    font-size: 1.8vw;
    color: #FFFFFF; }
  .SchoolDetailPanel .TieUpPosition {
    margin: -25vh 0 0 0; }
  .SchoolDetailPanel .Ties_TestimonialPanel:before {
    content: '';
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    top: 0;
    background-position: 0px -28vh; }
  .SchoolDetailPanel .TestimonialPanel {
    padding: 100px 0 0 0;
    background: #F7F7F7; }
  .SchoolDetailPanel .Num_Title {
    font-size: 1.32vw;
    padding: 0 0 0 30px; }
  .SchoolDetailPanel .Numb_list {
    font-size: 5vw;
    color: #00448B; }
  .SchoolDetailPanel .industry_blockList {
    margin: 0 -40px;
    padding: 13vh 6vw; }
  .SchoolDetailPanel .Ind_inn {
    padding: 0 40px; }
  .SchoolDetailPanel .Condition_text {
    padding: 6vh 6.5vw 8vh .5vw; }
  .SchoolDetailPanel .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .SchoolDetailPanel .Condition_text p {
    font-size: 0.9vw; }
  .SchoolDetailPanel .ApplicationBg {
    background: #FFCA08;
    height: 100%; }
  .SchoolDetailPanel .row.appl_Row {
    height: 19.5vh; }
  .SchoolDetailPanel .borderLeft {
    border-left: 1px solid;
    padding: 0 15px; }
  .SchoolDetailPanel .CourseBlk_bg {
    background: #F7F7F7;
    height: 100%; }
  .SchoolDetailPanel .GrayStripbgfull:before {
    content: '';
    background: #F7F7F7;
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .SchoolDetailPanel .CourseBlk_bg .Visit_list a {
    font-size: 0.9vw;
    border: 1px solid #E2E2E2; }
  .SchoolDetailPanel .PlacementBg:after {
    content: '';
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    position: absolute;
    top: -1%;
    right: -36.5%;
    width: 50%;
    height: 100%;
    background-size: 100%; }
  .SchoolDetailPanel section.PlacementPanel {
    padding: 60px 0 0 0; }
  .SchoolDetailPanel .CampusBg {
    position: absolute;
    right: 5px;
    top: -60px; }
  .SchoolDetailPanel .CampusBg img {
    width: 40vw; }
  .SchoolDetailPanel .GrayTitle {
    color: #EEEEEE;
    font-size: 7.2vw;
    position: relative;
    top: -1vh;
    margin: 0 0 20px 0; }
  .SchoolDetailPanel .row.CoursesGraduatePanel {
    margin: 0 -60px;
    padding: 0 0 10px 0; }
  .SchoolDetailPanel .GraduateInner {
    padding: 0 60px; }
  .SchoolDetailPanel .GraduateList {
    margin: 0;
    padding: 50px 0 0 0; }
  .SchoolDetailPanel .GraduateList li p {
    width: 90%;
    position: relative; }
  .SchoolDetailPanel .GraduateList li a {
    font-weight: 600;
    color: #00448B;
    text-decoration: underline;
    -webkit-text-decoration-color: #C3D7D8;
    text-decoration-color: #C3D7D8; }
  .SchoolDetailPanel .GraduateList li p span {
    padding: 0 15px 0 10px; }
  .SchoolDetailPanel .GraduateList li span img {
    width: 2.3vw; }
  .SchoolDetailPanel .GraduateList li p:before {
    content: '';
    background: #9A999D;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: 10%;
    border-radius: 100%;
    top: 10px; }
  .SchoolDetailPanel .GraduateList li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-weight: 500;
    font-size: 0.9vw;
    height: 6vh;
    border-bottom: 1px solid #EFEFEF;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .SchoolDetailPanel .GraduateInner .PadSpacing {
    padding: 3vh 0px 4.5vh 3.6vw; }
  .SchoolDetailPanel .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .SchoolDetailPanel .BannerImg {
    width: 70vw;
    float: right; }
  .SchoolDetailPanel .BannerStripContext {
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 26vmax;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .SchoolDetailPanel .BannerStripContext p {
    font-size: 6vw;
    position: absolute;
    width: 55vw;
    left: 6vmax;
    line-height: 12vh;
    top: -25px; }
  .SchoolDetailPanel .DownArrow {
    left: -5%; }
  .SchoolDetailPanel .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .SchoolDetailPanel .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .SchoolDetailPanel .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .SchoolDetailPanel .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    bottom: 14%;
    left: 7vw;
    padding: 0 50px 0 0;
    position: absolute; }
  .SchoolDetailPanel .BannerContextList li {
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0 0 4vh 0;
    position: relative; }
  .SchoolDetailPanel .BannerContextList li:before {
    content: '';
    background: #333;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: -8px;
    border-radius: 100%;
    top: 12px; }
  .SchoolDetailPanel .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
