/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1200px) and (max-width: 1365px) {
  .showcase .dateText {
    font-size: 1.1vw; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .showcase .plr100 {
    padding: 0 50px; }
  .showcase .dateText {
    font-size: 1.1vw; }
  .showcase .AppDate p {
    font-size: 1.7vw; }
  .showcase .Visit_list a {
    padding: 1.6vh 0 !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .showcase .FooterShowcasePanel {
    z-index: 9999999;
    position: relative; }
  .showcase .dateText {
    font-size: 1.4vw; }
  .showcase .AppDate p {
    font-size: 1.8vw; }
  .showcase .ApplyNow a {
    font-size: 1.5vw; }
  .showcase .ApplyNow a {
    font-size: 1.6vw;
    width: 16vw; }
  .showcase .Visit_list a {
    padding: 1.8vh 0 !important;
    width: 25vw;
    font-size: 1.3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: left; } }

@media (max-width: 767px) {
  /**Showcase*/
  .showcase .show_caseBtm {
    padding: 40px 15px 40px 15px;
    text-align: center; }
  .showcase .shcaseBtmRow .col-sm-2 {
    padding: 30px 0 0 0; }
  .showcase .dateText span {
    padding: 6px 0 0 0; }
  .showcase .Visit_list {
    margin: 20px 0 0 0; }
  .showcase .shcaseBtmRow {
    padding: 0px; }
  .showcase .ApplyNow a {
    font-size: 12px;
    height: 35px;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 9px 12px; }
  .showcase .Visit_list a {
    width: 100%;
    height: 35px;
    font-size: 12px;
    margin: 0 0px 10px 0;
    padding: 9px 12px; }
  .showcase .shcaseBtmRow .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .col-sm-3.AppDate {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .col-sm-9.sh_showcaseRight {
    display: block !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .shcaseRow {
    width: 220px;
    margin: 0 auto !important; }
  .showcase .show_caseTop {
    text-align: center; }
  .showcase .takeStep p {
    font-size: 36px; }
  .showcase .dateText {
    font-size: 16px; }
  .showcase .AppDate p {
    font-size: 20px; }
  .showcase .col-sm-3.takeStep {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
