/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
header {
  background-color: #F7F7F7; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit; }

.aboutUs {
  background: #F7F7F7 url(../src/img/aboutus-page/bg.jpg) no-repeat;
  /**Banner*/
  /**Banner Section*/
  /**Orange-Strip*/ }
  .aboutUs a.color-blue {
    color: #00448B;
    font-size: 1.05vw;
    text-decoration: underline;
    font-weight: 600;
    text-transform: uppercase; }
  .aboutUs .pl7-5 {
    padding-left: 7.5px; }
  .aboutUs .pr7-5 {
    padding-right: 7.5px; }
  .aboutUs .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .aboutUs .BannerImg {
    float: right; }
    .aboutUs .BannerImg img {
      width: 70vw; }
  .aboutUs .BannerStripContext {
    box-shadow: 0 5px 5px #ccc;
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    justify-content: center;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 26vw;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .aboutUs .BannerStripContext .fontExBold {
    font-size: 6vw;
    position: absolute;
    width: 55vw;
    left: 6vw;
    line-height: 12vh;
    top: 0vw; }
  .aboutUs .BannerStripContext .StripContent {
    font-size: 1.85vw;
    padding-top: 12%;
    overflow: hidden;
    padding-right: 40px; }
    .aboutUs .BannerStripContext .StripContent p {
      height: 20vw;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical; }
  .aboutUs .DownArrow {
    left: -5%;
  	bottom:-13%;
  }
  .aboutUs .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .aboutUs .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .aboutUs .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .aboutUs .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    top: 25%;
    left: 7vw;
    padding: 0 50px 0 0;
    position: absolute; }
  .aboutUs .BannerContextList li {
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0 0 4vh 0;
    position: relative; }
  .aboutUs .BannerContextList li:before {
    content: '';
    background: #333;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: -8px;
    border-radius: 100%;
    top: 12px; }
  .aboutUs .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
  .aboutUs .wrapper-75 {
    width: 75vw;
    margin: auto; }
  .aboutUs .f150 {
    font-size: 7.8vw; }
  .aboutUs .f60 {
    font-size: 3.15vw; }
  .aboutUs .StyleForSlickArrows .slick-next {
    right: 7px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .aboutUs .StyleForSlickArrows .slick-prev, .aboutUs .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important; }
  .aboutUs .StyleForSlickArrows .slick-prev {
    left: 7px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .aboutUs .StyleForSlickArrows .slick-prev:before, .aboutUs .StyleForSlickArrows .slick-next:before {
    display: none; }
  .aboutUs .accord-wrapper {
    /**Details Accordion*/ }
    .aboutUs .accord-wrapper .DetailsBanner:before {
      content: '';
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      top: 0;
      background-position: 0px -35vh; }
    .aboutUs .accord-wrapper .AchieveTitleBlock .link_list {
      position: absolute;
      right: 0;
      top: 10px; }
    .aboutUs .accord-wrapper .appList.ApplyNow a {
      background: #FFCA08; }
    .aboutUs .accord-wrapper .applyNowForDetail {
      padding: 8vh 0 5vh 0; }
    .aboutUs .accord-wrapper .appList p {
      padding: 0 10px 0;
      font-size: 1.05vw;
      color: #606060; }
    .aboutUs .accord-wrapper .colorLightWhite .CardHeaderPanel a {
      background: #F7F7F7;
      border-bottom: 2px solid #fff; }
    .aboutUs .accord-wrapper .CardHeaderPanel > a {
      display: block;
      position: relative;
      font-weight: 600;
      color: #000000;
      font-size: 1.25vw;
      padding: 16px 25px;
      padding: 1.1713vw 1.8302vw;
      border-bottom: 2px solid #FAFAFA; }
    .aboutUs .accord-wrapper .CardHeaderPanel > a:after {
      content: '>';
      font-family: monospace;
      position: absolute;
      right: 25px;
      font-weight: 600;
      font-size: 1.6vw;
      color: #A1A1A1;
      top: 12px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .aboutUs .accord-wrapper .CardHeaderPanel > a[aria-expanded="true"]:after {
      content: '>';
      font-family: monospace;
      transform: rotate(270deg); }
    .aboutUs .accord-wrapper .AccordionStyle {
      margin: 30px 0 0 0;
      background: #fff;
      box-shadow: 0 5px 5px #ccc;
      position: relative;
      border: 1px solid #EDEDED; }
    .aboutUs .accord-wrapper .card-body.cardContext {
      padding: 20px 25px; }
    .aboutUs .accord-wrapper .AccordionStyle .card-header {
      background: inherit;
      border: none;
      padding: 0px; }
    .aboutUs .accord-wrapper .cardContext p {
      font-weight: 500;
      font-size: 1vw;
      line-height: 1.5vw; }
    .aboutUs .accord-wrapper .AccordionStyle .card {
      border: none;
      border-radius: 0px; }
  .aboutUs .BannerStripContext {
    font-weight: bold; }
  .aboutUs .Orange-Strip {
    background: #FFCA08;
    height: 22vh;
    width: 30vw;
    padding: 20px 40px;
    }
    .aboutUs .Orange-Strip .title {
      font-weight: 600;
      line-height: 1;
      }
  .aboutUs .yellow-bg {
    background-color: #FFCA08; }
  .aboutUs .section-1 {
    padding-top: 10px;
    padding-bottom: 65px; }
    .aboutUs .section-1 .title1 {
      color: #d7d7d7;
      opacity: .5;
      letter-spacing: -5px;
      margin-top: -35px; }
    .aboutUs .section-1 .title2 {
      color: #00448B;
      margin-top: -30px;
      padding-left: 7.5vw; }
    .aboutUs .section-1::before {
      content: '';
      background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
      position: absolute;
      right: 0;
      height: 100%;
      width: 50%;
      background-position: 80%;
      background-size: contain;
      padding: 25vw; }
  .aboutUs .section-4 .health-medical .titleh3 {
    font-weight: 600;
    font-size: 3.1vw; }
  .aboutUs .section-4 .link-toggle {
    float: right;
    font-size: 1vw; }
  .aboutUs .section-4 .accordion-title {
    padding-top: 60px;
    padding-bottom: 30px; }
    .aboutUs .section-4 .accordion-title .link-toggle {
      margin-top: -30px;
      font-size: 1vw; }
  .aboutUs .section-4 .inter-intern {
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
    padding-top: 8vw;
    overflow: hidden; }
    .aboutUs .section-4 .inter-intern .yellow-bg {
      height: 22.032vw; }
      .aboutUs .section-4 .inter-intern .yellow-bg .titleh3 {
        padding-top: 50px; }
    .aboutUs .section-4 .inter-intern .students-slide .slick-list {
      overflow: visible;
      margin: -7px; }
    .aboutUs .section-4 .inter-intern .students-slide .student {
      padding: 0px 7px; }
      .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper {
        background-color: #fff; }
        .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .photo {
          width: 50%;
          margin-top: -6vw; }
          .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .photo img {
            width: 100%; }
        .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .profile {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0 .78125vw; }
          .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
            font-size: 24px;
            font-size: 1.25vw;
            font-weight: 600;
            padding-top: 1vw;
            height: 4vw;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: .5vw; }
          .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
            font-size: 20px;
            font-size: 1.05vw;
            color: #00448B;
            padding-bottom: 1vw;
            height: 4vw;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical; }
      .aboutUs .section-4 .inter-intern .students-slide .student .details {
        background-color: #fff;
        box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.11);
        padding: 15px;
        padding: 1vw;
        padding-top: 0;
        padding-bottom: 30px; }
        .aboutUs .section-4 .inter-intern .students-slide .student .details p {
          line-height: 1.8;
          font-size: 20px;
          font-size: 1.05vw;
          font-weight: 500;
          padding-bottom: 30px;
          padding-top: 0px; }
  .aboutUs .section-5 {
    margin-top: 0px;
    background-size: 40%;
    background-position: 3% -50%;
    padding-bottom: 100px;
    background-color: #fff; }
    .aboutUs .section-5::before {
      content: '';
      background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
      position: relative;
      height: 100%;
      width: 50%;
      background-position: 30%;
      background-size: contain;
      padding: 25vw;
      top: 200px; }
    .aboutUs .section-5 .link-toggle {
      text-align: right;
      margin-top: -90px;
      position: relative;
      z-index: 9; }
    .aboutUs .section-5 .accord-wrapper {
      padding-top: 60px; }
      .aboutUs .section-5 .accord-wrapper .title {
        padding: 15px 0px;
        padding-bottom: 30px;
        color: #00448B; }
        .aboutUs .section-5 .accord-wrapper .title h3 {
          font-size: 1.25vw;
          font-weight: 600; }
      .aboutUs .section-5 .accord-wrapper .col-md-4 {
        padding-right: 2vw;
        margin-bottom: 2vw; }
      .aboutUs .section-5 .accord-wrapper .position {
        font-size: 1.25vw; }
        .aboutUs .section-5 .accord-wrapper .position p {
          font-weight: 600; }
      .aboutUs .section-5 .accord-wrapper .person {
        font-size: 1.25vw;
        font-weight: 600; }
      .aboutUs .section-5 .accord-wrapper .designation {
        font-size: .9vw;
        color: #00448B;
        padding-top: 0; }
        .aboutUs .section-5 .accord-wrapper .designation p {
          font-weight: 600; }
    .aboutUs .section-5 .student-affairs .header-top {
      position: relative;
      top: -50px; }
    .aboutUs .section-5 .contact-wrapper {
      padding-bottom: 30px; }
      .aboutUs .section-5 .contact-wrapper h3 {
        font-size: 150px;
        font-size: 7.8vw;
        font-weight: 900;
        color: #DDDDDD;
        margin: 60px 0px; }
      .aboutUs .section-5 .contact-wrapper .header {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 1.25vw; }
      .aboutUs .section-5 .contact-wrapper .details p {
        margin: 10px 0px;
        font-size: 1.25vw;
        font-weight: 600; }
  .aboutUs .section-6 {
    background-color: #F7F7F7;
    padding-bottom: 60px;
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat; }
    .aboutUs .section-6 .downloadable-content .accordion-title {
      padding: 30px 0px;
      padding-top: 60px; }
      .aboutUs .section-6 .downloadable-content .accordion-title h3 {
        font-weight: 600; }
  .aboutUs .downloable-accord .CardHeaderPanel a:after {
    content: '' !important;
    background-image: url("../src/img/upes-students/download.png") !important;
    background-repeat: no-repeat !important;
    transform: inherit !important;
    padding: 1vw !important;
    background-position: center; }

@media (max-width: 767px) {
  .aboutUs .BannerSection .DownArrow {
    text-align: right; }
    .aboutUs .BannerSection .DownArrow a .downArrowIcon {
      width: 30px; }
  .aboutUs .BannerSection .BannerStripContext {
    left: 0px; }
    .aboutUs .BannerSection .BannerStripContext p {
      height: 54vw;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 9;
      -webkit-box-orient: vertical; }
    .aboutUs .BannerSection .BannerStripContext .fontExBold {
      display: none; }
  .aboutUs .breadcrumbPanel {
    bottom: 140px;
    z-index: 99;
    left: 10px; }
    .aboutUs .breadcrumbPanel .breadcrumb.breadcrumbCustom li {
      font-size: 13px; }
  .aboutUs .BannerImg img {
    width: 100%; }
  .aboutUs .section-1 {
    padding-top: 28px;
    padding-bottom: 0px; }
    .aboutUs .section-1 .title1 {
      font-size: 60px; }
    .aboutUs .section-1 .title2 {
      font-size: 30px;
      margin-top: -25px;
      padding-left: 0px;
      position: relative;
      z-index: 1; }
  .aboutUs .plr100 {
    padding: 0 15px; }
  .aboutUs .section-4 {
    padding-top: 15px; }
    .aboutUs .section-4 .inter-intern {
      padding: 100px 0px; }
      .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .photo {
        margin-top: -25vw; }
      .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .profile {
        padding-left: 5px; }
        .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
          height: inherit;
          font-size: 14px; }
        .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
          height: inherit;
          font-size: 12px; }
      .aboutUs .section-4 .inter-intern .students-slide .student .details {
        padding-top: 30px; }
        .aboutUs .section-4 .inter-intern .students-slide .student .details p, .aboutUs .section-4 .inter-intern .students-slide .student .details a {
          font-size: 12px; }
    .aboutUs .section-4 .slick-prev, .aboutUs .section-4 .slick-next {
      top: 105%;
      height: 10vw;
      width: 10vw;
      padding: 1vw; }
    .aboutUs .section-4 .slick-prev {
      left: 38%; }
    .aboutUs .section-4 .slick-next {
      left: 52%; }
  .aboutUs .section-5 {
    padding-bottom: 50px; }
    .aboutUs .section-5 .header-top .Orange-Strip {
      height: 70px;
      width: 80%;
      align-items: center !important; }
      .aboutUs .section-5 .header-top .Orange-Strip .titleh3 {
        font-size: 32px;
        font-weight: 900;
        padding-left: 20px; }
    .aboutUs .section-5 .wrapper-75 {
      width: calc(100% - 30px); }
      .aboutUs .section-5 .wrapper-75 .link-toggle {
        margin-top: -30px; }
        .aboutUs .section-5 .wrapper-75 .link-toggle a {
          font-size: 12px; }
      .aboutUs .section-5 .wrapper-75 .accord-wrapper {
        padding-top: 0px; }
        .aboutUs .section-5 .wrapper-75 .accord-wrapper .AccordionStyle {
          margin-top: 15px; }
        .aboutUs .section-5 .wrapper-75 .accord-wrapper .col-md-4 {
          margin-bottom: 5vw; }
        .aboutUs .section-5 .wrapper-75 .accord-wrapper .card-body.cardContext {
          padding: 15px;
          padding-bottom: 10px; }
        .aboutUs .section-5 .wrapper-75 .accord-wrapper .CardHeaderPanel > a {
          font-size: 12px;
          font-weight: 500;
          padding: 10px 15px; }
          .aboutUs .section-5 .wrapper-75 .accord-wrapper .CardHeaderPanel > a:after {
            font-size: 14px;
            right: 15px;
            top: 8px; }
        .aboutUs .section-5 .wrapper-75 .accord-wrapper .cardContext p {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.5em; }
        .aboutUs .section-5 .wrapper-75 .accord-wrapper .block {
          padding-top: 30px; }
        .aboutUs .section-5 .wrapper-75 .accord-wrapper .title {
          padding: 15px 0px;
          padding-bottom: 0px;
          color: #00448B; }
          .aboutUs .section-5 .wrapper-75 .accord-wrapper .title h3 {
            font-size: 16px;
            font-weight: 600; }
        .aboutUs .section-5 .wrapper-75 .accord-wrapper .position {
          font-size: 14px; }
        .aboutUs .section-5 .wrapper-75 .accord-wrapper .person {
          font-size: 16px;
          font-weight: 600; }
        .aboutUs .section-5 .wrapper-75 .accord-wrapper .designation {
          font-size: 12px;
          font-weight: 600;
          color: #00448B;
          padding-top: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .aboutUs .plr100 {
    padding: 0 15px; }
  .aboutUs .Orange-Strip {
    height: 12vw; }
    .aboutUs .Orange-Strip .title {
      font-size: 4vw; }
  .aboutUs .breadcrumb.breadcrumbCustom li {
    font-size: 1.5vw; }
  .aboutUs .BannerSection .BannerStripContext {
    padding: 20px; }
    .aboutUs .BannerSection .BannerStripContext .fontExBold {
      left: 2vw; }
    .aboutUs .BannerSection .BannerStripContext .StripContent {
      padding: 15px 0;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      max-height: 25vw; }
  .aboutUs .BannerSection .BannerImg img {
    width: 85vw; }
  .aboutUs .section-1 {
    padding-bottom: 0px; }
    .aboutUs .section-1 .title1 {
      margin-top: -5px;
      letter-spacing: 0px; }
    .aboutUs .section-1 .title2 {
      margin-top: -20px;
      padding-left: 8vw; }
  .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .photo {
    margin-top: -5vw; }
  .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
    font-size: 2vw; }
  .aboutUs .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
    font-size: 1.5vw; }
  .aboutUs .section-4 .inter-intern .students-slide .student .details p, .aboutUs .section-4 .inter-intern .students-slide .student .details a {
    font-size: 1.5vw;
    padding-bottom: 15px; }
  .aboutUs .section-4 .slick-prev, .aboutUs .section-4 .slick-next {
    top: 115%;
    height: 5vw;
    width: 5vw;
    padding: 1vw; }
  .aboutUs .section-4 .slick-prev {
    left: 42%; }
  .aboutUs .section-4 .slick-next {
    left: 52%; }
  .aboutUs .section-5 .link-toggle {
    margin-bottom: 5px; }
  .aboutUs .section-5 .accord-wrapper {
    padding-top: 30px; }
    .aboutUs .section-5 .accord-wrapper .CardHeaderPanel > a {
      font-size: 1.8vw; }
    .aboutUs .section-5 .accord-wrapper .cardContext p {
      font-size: 1.5vw;
      line-height: 2vw; } }

@media (min-width: 1024px) {
  .student .says {
    height: 7.5vw;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; } }

@media (max-width: 1199px) and (min-width: 992px) {
  .aboutUs .banner .BannerStripContext {
    padding: 30px; }
    .aboutUs .banner .BannerStripContext .fontExBold {
      left: 3vw; }
    .aboutUs .banner .BannerStripContext .StripContent {
      padding-top: 2vw; } }

@media (min-width: 1800px) and (max-width: 1920px) {
  .aboutUs .BannerStripContext .fontExBold {
    left: 4vw; } }

@media (min-width: 2000px) and (max-width: 3000px) {
  .aboutUs .BannerStripContext .fontExBold {
    left: 4vw; } }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  .StyleForSlickArrows .slick-next {
    right: 7px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important; }
  .StyleForSlickArrows .slick-prev {
    left: 7px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
    display: none; }
  /**Common***/
  .BannerSection .BannerStripContext {
    overflow: hidden;
    width: 80%;
    bottom: -70px;
    padding: 15px;
    height: 240px; }
    .BannerSection .BannerStripContext p {
      font-size: 16px; } }
