/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
header {
  background-color: #F7F7F7; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit; }

.applicants {
  /**Story*/
  /**Stories***/
  /**Events***/
  /**Industry*/
  /**Banner*/
  /**Banner Section*/
  /**Orange-Strip*/
  /***Courses*/
  /*.applyCourses:before {
        content: '';
        background: #fff;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
    }

    .applyCourses:after {
        content: '';
        background: #fff;
        right: -100%;
        position: absolute;
        width: 100%;
        height: 100%;StoriesContext 
        display: block;
        top: 0;
    }*/ }
  .applicants a.color-blue {
    color: #00448B;
    text-decoration: underline;
    font-weight: 600; }
  .applicants .card-body.cardContext h4 {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0; }
  .applicants table.tableFormat_style {
    margin: 0 0 15px 0; }
  .applicants .tableFormat_style td {
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px; }
  .applicants .card-body.cardContext ul li {
    font-size: 13px;
    padding: 5px 0;
    font-weight: 500; }
  .applicants .card-body.cardContext ul {
    margin: 15px 0; }
  .applicants .Event_Inner .link_list.text-right {
    position: absolute;
    right: 0;
    top: 1.5vw; }
  .applicants .pl7-5 {
    padding-left: 7.5px; }
  .applicants .pr7-5 {
    padding-right: 7.5px; }
  .applicants .storiesPanStyle {
    padding: 35px 7px; }
  .applicants .ParentStoriesPanel {
    position: relative; }
  .applicants .Studentstories .link_list {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0; }
  .applicants .HomeCoursePanel {
    overflow: hidden; }
  .applicants .EventPanel {
    overflow: hidden; }
  .applicants .StoriesContext {
    background: #FFFFFF;
    padding: 1vw 1.5vw 1vw 1.5vw;
    display: table-cell;
    position: relative;
    top: -60px;
    left: 6.3vw;
    width: 21vw;
    height: 16vw;
    box-shadow: 0 5px 5px #ccc; }
  .applicants .StoriesContext h3 {
    display: block;
    display: -webkit-box;
    max-height: 1.56vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1vw 0; }
  .applicants .StoriesContext h2 {
    display: block;
    display: -webkit-box;
    max-height: 1.95vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .applicants .StoriesContext p {
    display: block;
    display: -webkit-box;
    max-height: 5.46vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1vw 0;
    height: 6vw; }
  .applicants .StoriesContext a {
    text-decoration: underline;
    font-size: 0.9vw;
    color: #00448B; }
  .applicants .storiesPanStyle img {
    width: 21vw; }
  .applicants .StoryTitleStrip {
    background: #FFCA08; }
  .applicants .StoryTitleStrip p {
    position: relative;
    top: 0;
    font-size: 2.5vw;
    font-weight: 800;
    text-align: left;
    line-height: 1;
    }
  .applicants .StoryTitleStrip {
    background: #FFCA08;
    width: 27.4vw;
    text-align: left;
    position: relative;
    height: 10vw;
    padding: 15px 0;
    }
  .applicants .StoryTitleStrip h2 {
    font-size: 5.2vw;
    text-align: left;
    line-height: 1;
    }
  .applicants .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .applicants .Studentstories {
    margin: 50px 0 0 0; }
  .applicants .link_list {
    padding: 1.5vw 0px 2vw 0; }
  .applicants .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .applicants .Event_Inner h2 {
    padding: 4.6vh 0; }
  .applicants .EventCarousel {
    z-index: 99;
    position: relative; }
  .applicants .HomeEventCarousel {
    z-index: 9; }
  .applicants .eventContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .applicants .EventContStyle {
    background: #00448B;
    padding: 2vw 1vw 1vw 2vw;
    color: #FFFFFF;
    height: 13vw;
    overflow: hidden; }
  .applicants .EventContStyle h4 {
    display: block;
    display: -webkit-box;
    max-height: 1.95vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .applicants .EventPara {
    height: 6vw;
    overflow: hidden; }
  .applicants .EventContStyle a {
    color: #FFFFFF !important; }
  .applicants .EventPara p {
    display: block;
    display: -webkit-box;
    max-height: 6.24vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .applicants .Events_Impact_Panel {
    padding: 180px 0px 40px 6.2vw;
    margin: 0 -48px; }
  .applicants .HomeEventImg {
    padding: 0 100px 0 0; }
  .applicants .HomeEventImg img {
    width: 100%; }
  .applicants .Ev_Im_List {
    padding: 0 48px; }
  .applicants .RotateTitlePosition {
    transform: rotate(270deg);
    position: absolute;
    z-index: 9;
    padding: 0px !important;
    width: 100%;
    height: 100%;
    bottom: 32%;
    left: -1vw;
    font-size: 3vw; }
  .applicants .eventContextForHome {
    padding: 0 0 0 7vw; }
  .applicants .PadSpacing {
    padding: 1.5vw 0px 2vw 9vw; }
  .applicants .industryStrip {
    background: #FFCA08;
    height: 7.3vw;
    margin: 0 0 30px 0; }
  .applicants .industryPanel .link_list {
    text-align: right; }
  .applicants .IndContext {
    width: 33.8vw; }
  .applicants .industryPanel {
    padding: 80px 0 40px 0;
    z-index: 999;
    position: relative; }
  .applicants .industryPanel .link_list {
    position: absolute;
    top: 10vw;
    right: 0; }
  .applicants .industryStrip h2 {
    font-size: 3vw;
    margin: 0 -1.4vw 0 0; }
  .applicants .IndContext h4 {
    padding: 0 0 0 6vw; }
  .applicants .Num_Title {
    font-size: 1.32vw;
    padding: 0 0 0 30px; }
  .applicants .Numb_list {
    font-size: 5vw;
    color: #00448B; }
  .applicants .industry_blockList {
    margin: 0 -40px;
    padding: 4vw 0px; }
  .applicants .ind_CompanyList {
    padding: 0 85px 12px 85px;
    margin: 0 -7px; }
  .applicants .Ind_inn {
    padding: 0 40px; }
  .applicants .ind_Logo img {
    width: 100%; }
  .applicants .ind_CompanyList.StyleForSlickArrows .slick-prev {
    left: 7px; }
  .applicants .ind_Logo {
    padding: 0 7px; }
  .applicants .StyleForSlickArrows .slick-prev:before, .applicants .StyleForSlickArrows .slick-next:before {
    display: none; }
  .applicants .DisclaimerTExt {
    text-align: right;
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-size: 12px; }
  .applicants .DisclaimerTExt.DisclaimerTExtTop {
    padding: 3vw 3vw 0vw 0;
    text-align: right;
    width: 100%; }
  .applicants .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important;
    margin-bottom: 100px !important; }
  .applicants .BannerImg {
    float: right; }
    .applicants .BannerImg img {
      width: 70vw; }
  .applicants .BannerStripContext {
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    justify-content: center;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 22vw;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .applicants .BannerStripContext h1 {
        font-size: 2.4vw !important;
    width: 35vw !important;
    line-height: 2.6vw !important;
    position: absolute !important;
    top: 35px !important; }
  .applicants .BannerStripContext .fontExBold {
    font-size: 6vw;
    position: absolute;
    width: 55vw;
    left: 6vw;
    line-height: 8vw;
    top: -4.5vw; }
  .applicants .BannerStripContext .StripContent {
    font-size: 2.4vw;
    padding-top: 12%;
    padding-right: 40px; }
  .applicants .DownArrow {
    left: -5%; }
  .applicants .HomeBtnStyle {
    font-size: 0.7vw;
    height: 3vw;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .applicants .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .applicants .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .applicants .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    top: 25%;
    left: 7vw;
    padding: 0 50px 0 0;
    position: absolute; }
  .applicants .BannerContextList li {
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0 0 2vw 0;
    position: relative; }
  .applicants .BannerContextList li:before {
    content: '';
    background: #333;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: -8px;
    border-radius: 100%;
    top: 12px; }
  .applicants .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
  .applicants .wrapper-75 {
    width: 75vw;
    margin: auto; }
  .applicants .f150 {
    font-size: 7.8vw; }
  .applicants .f60 {
    font-size: 3.15vw; }
  .applicants .f30 {
    font-size: 1.55vw; }
  .applicants .StyleForSlickArrows .slick-prev {
    right: 7px;
    width: 2vw;
    height: 2vw;
    left: auto;
    background: url(../src/img/svg/left-arrow.svg) no-repeat;
    background-size: cover;
    padding: 1.3vw; }
  .applicants .StyleForSlickArrows .slick-next {
    right: 7px;
    width: 2vw;
    height: 2vw;
    left: auto;
    background: url(../src/img/svg/right-arrow.svg) no-repeat;
    background-size: cover;
    padding: 1.3vw; }
  .applicants .StyleForSlickArrows .slick-prev:before, .applicants .StyleForSlickArrows .slick-next:before {
    content: unset;
    content: " "; }
  .applicants .accord-wrapper {
    /**Details Accordion*/ }
    .applicants .accord-wrapper .DetailsBanner:before {
      content: '';
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      top: 0;
      background-position: 0px -35vh; }
    .applicants .accord-wrapper .AchieveTitleBlock .link_list {
      position: absolute;
      right: 0;
      top: 10px; }
    .applicants .accord-wrapper .appList.ApplyNow a {
      background: #FFCA08; }
    .applicants .accord-wrapper .applyNowForDetail {
      padding: 8vh 0 5vh 0; }
    .applicants .accord-wrapper .appList p {
      padding: 0 10px 0;
      font-size: 1.05vw;
      color: #606060; }
    .applicants .accord-wrapper .colorLightWhite .CardHeaderPanel a {
      background: #F7F7F7;
      border-bottom: 2px solid #fff; }
    .applicants .accord-wrapper .CardHeaderPanel > a {
      display: block;
      position: relative;
      font-weight: 600;
      color: #000000;
      font-size: 1.25vw;
      padding: 16px 25px;
      padding: 1.1713vw 1.8302vw;
      padding-right: 3vw;
      border-bottom: 2px solid #FAFAFA; }
    .applicants .accord-wrapper .CardHeaderPanel > a:after {
      content: '>';
      font-family: monospace;
      position: absolute;
      right: 25px;
      font-weight: 600;
      font-size: 1.6vw;
      color: #A1A1A1;
      top: 12px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .applicants .accord-wrapper .CardHeaderPanel > a[aria-expanded="true"]:after {
      content: '>';
      font-family: monospace;
      transform: rotate(270deg); }
    .applicants .accord-wrapper .AccordionStyle {
      margin: 30px 0 0 0;
      background: #fff;
      box-shadow: 0 5px 5px #ccc;
      position: relative;
      border: 1px solid #EDEDED; }
    .applicants .accord-wrapper .card-body.cardContext {
      padding: 20px 25px; }
    .applicants .accord-wrapper .AccordionStyle .card-header {
      background: inherit;
      border: none;
      padding: 0px; }
    .applicants .accord-wrapper .cardContext p {
      font-weight: 500;
      font-size: 1vw;
      line-height: 24px; }
    .applicants .accord-wrapper .AccordionStyle .card {
      border: none;
      border-radius: 0px; }
  .applicants .BannerStripContext {
    font-weight: bold; }
  .applicants .plr100vw {
    padding: 0 5.21vw; }
  .applicants select::-ms-expand {
    display: none; }
  .applicants .Orange-Strip {
    height: 8.5vw;
    position: relative; }
    .applicants .Orange-Strip::before {
      background: #FFCA08;
      width: 36.8vw;
      content: '';
      height: 100%;
      position: absolute;
      top: 0px; }
    .applicants .Orange-Strip h3 {
      font-size: 3.2vw; }
    .applicants .Orange-Strip .title {
      padding-left: 6.5vw;
      z-index: 1;
      font-weight: 600;
      position: absolute;
      width: 390px;
      }
  .applicants .yellow-bg {
    background-color: #FFCA08 !important; }
  .applicants .blue-bg {
    background-color: #00448B; }
  .applicants .section-1 {
    padding-top: 10px;
    padding-bottom: 65px; }
    .applicants .section-1 .title1 {
      color: #d7d7d7;
      opacity: .5;
      letter-spacing: -5px;
      margin-top: -35px; }
    .applicants .section-1 .title2 {
      color: #00448B;
      margin-top: -30px;
      padding-left: 7.5vw; }
    .applicants .section-1::before {
      content: '';
      background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
      position: absolute;
      right: 0;
      height: 100%;
      width: 50%;
      background-position: 80%;
      background-size: contain;
      padding: 25vw; }
  .applicants .section-2 {
    background: url(../src/img/applicants/pattern-bg.jpg) #f7f7f7 no-repeat;
    background-size: cover;
    background-position-y: -20vw;
    padding-bottom: 100px; }
    .applicants .section-2 .title1 {
      font-size: 10vw;
      color: #fff; }
      .applicants .section-2 .title1 p {
        line-height: .6em; }
    .applicants .section-2 .title2 {
      font-size: 3.1vw;
      margin-top: -.8em; }
    .applicants .section-2 .title3 {
      font-size: 1.55vw; }
    .applicants .section-2 .ApplyNow a {
      width: auto;
      padding: .7vw 5vw !important;
      height: 3vw; }
    .applicants .section-2 .Visit_list a {
      width: auto;
      padding: .7vw 2vw !important;
      height: 3vw;
      color: #fff !important; }
    .applicants .section-2 .admission-table {
      margin-top: 50px;
      background-color: #fff;
      margin-bottom: 2vw; }
      .applicants .section-2 .admission-table .col-4, .applicants .section-2 .admission-table .col-3, .applicants .section-2 .admission-table .col-5 {
        border: 1px solid #F7F7F7;
        padding: 0px; }
      .applicants .section-2 .admission-table .header {
        min-height: 4vw;
        display: flex;
        align-items: flex-end;
        padding-bottom: 1vw;
        padding-left: 2vw;
        border-bottom: 2px solid #F7F7F7; }
        .applicants .section-2 .admission-table .header h2 {
          font-weight: 600;
          font-size: 1.25vw; }
      .applicants .section-2 .admission-table .value {
        min-height: 3.3vw;
        padding-left: 2vw;
        border-bottom: .2vw solid #F7F7F7;
        display: flex;
        align-items: center;
        font-size: .95vw;
        font-weight: 500; }
    .applicants .section-2 .yellow-bg {
      color: #333;
      width: auto;
      padding-left: 30px !important;
      padding-right: 30px !important;
      border: 1px solid #FFCA08; }
      .applicants .section-2 .yellow-bg:hover {
        border: 1px solid #00448B;
        color: #fff; }
    .applicants .section-2 .blue-bg {
      border: 1px solid #00448B; }
      .applicants .section-2 .blue-bg:hover {
        color: #00448B;
        border: 1px solid #00448B; }
  .applicants .section-3 {
    background-color: #fff;
    background: url(../src/img/applicants/white-bg-pattern.jpg) #f7f7f7 no-repeat;
    padding-bottom: 60px; }
    .applicants .section-3::before {
      content: '';
      background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
      position: relative;
      height: 100%;
      width: 50%;
      background-position: 100%;
      background-size: contain;
      padding: 23vw;
      top: 200px;
      margin-left: 50vw; }
    .applicants .section-3 .header-top {
      position: relative;
      top: -4vw; }
    .applicants .section-3 .wrapper-75 .title {
      font-size: 1.55vw; }
      .applicants .section-3 .wrapper-75 .title h3 {
        font-weight: 600; }
    .applicants .section-3 .applicantsForm {
      padding-left: 4vw; }
    .applicants .section-3 .help {
      padding-top: 45px; }
      .applicants .section-3 .help label {
        font-size: 1.25vw;
        font-weight: 500;
        padding-bottom: 10px; }
      .applicants .section-3 .help .radio-inline {
        display: flex;
        align-items: center; }
      .applicants .section-3 .help .select-wrapper {
        position: relative; }
        .applicants .section-3 .help .select-wrapper::before {
          content: '>';
          font-family: monospace;
          position: absolute;
          right: 15px;
          font-weight: 600;
          font-size: 1.6vw;
          color: #A1A1A1;
          top: 5px;
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
      .applicants .section-3 .help select {
        cursor: pointer;
        height: 50px;
        background-color: #F2F3F5;
        box-shadow: 0 0 3px #DBDCDE;
        border-radius: 8px;
        font-weight: 500;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-bottom: 30px; }
      .applicants .section-3 .help input[type="radio"] {
        margin-right: 20px;
        width: 20px;
        height: 20px; }
      .applicants .section-3 .help .submit {
        padding-top: 30px; }
        .applicants .section-3 .help .submit a, .applicants .section-3 .help .submit button {
          height: 3vw;
          padding: 0 50px;
          display: inline-flex;
          -webkit-appearance: none;
          align-items: center;
          font-size: 0.95vw; }
  .applicants .section-4 {
    background: url(../src/img/applicants/white-bg-pattern.jpg) #f7f7f7 no-repeat;
    background-position-y: -500px;
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #f7f7f7;
    background-blend-mode: multiply; }
    .applicants .section-4 .header-top {
      padding-bottom: 30px; }
      .applicants .section-4 .header-top .title {
        font-weight: 600; }
    .applicants .section-4 .accord-wrapper .link-toggle {
      float: right;
      margin-top: -90px;
      color: #333 !important; }
    .applicants .section-4 .contact {
      padding-top: 50px;
      padding-left: 30px;
      font-size: 1.25vw; }
      .applicants .section-4 .contact .header {
        padding-bottom: 15px; }
        .applicants .section-4 .contact .header h2 {
          font-weight: 600; }
      .applicants .section-4 .contact .details p {
        padding-bottom: 5px; }
      .applicants .section-4 .contact .details a {
        color: #333 !important;
        font-weight: 500; }
        .applicants .section-4 .contact .details a.email {
          text-decoration: underline; }
  .applicants .section-5 {
    background-size: 40%;
    background-position: 3% -50%;
    padding-bottom: 100px;
    background-color: #fff; }
    .applicants .section-5::before {
      content: '';
      background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
      position: relative;
      height: 100%;
      width: 50%;
      background-position: 100%;
      background-size: contain;
      padding: 23vw;
      top: 200px;
      margin-left: 50vw; }
    .applicants .section-5 .link-toggle {
      text-align: right;
      margin-top: -75px;
      z-index: 99;
      position: relative; }
    .applicants .section-5 .accord-wrapper {
      padding-top: 15px; }
    .applicants .section-5 .student-affairs .header-top {
      position: relative;
      top: -70px;
      z-index: 99; }
    .applicants .section-5 .contact-wrapper {
      padding-bottom: 30px; }
      .applicants .section-5 .contact-wrapper h3 {
        font-size: 150px;
        font-size: 7.8vw;
        font-weight: 900;
        color: #DDDDDD;
        margin: 60px 0px; }
      .applicants .section-5 .contact-wrapper .header {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 1.25vw; }
      .applicants .section-5 .contact-wrapper .details p {
        margin: 10px 0px;
        font-size: 1.25vw;
        font-weight: 600; }
  .applicants .clblk_Top {
    padding: 1vw 1.5vw 1vw 1vw;
    border-bottom: 1px solid #EEEEEE;
    min-height: 25vw;
    position: relative; }
  .applicants .courseIcon {
    width: 4.4vw; }
  .applicants .applyCourses .plr100 {
    padding: 0 100px; }
  .applicants .CL_bg {
    background: #FFFFFF;
    box-shadow: 0 0 5px 5px #ccc;
    min-height: 35vw; }
  .applicants .courseTitle {
    height: 5vw;
    overflow: hidden; }
  .applicants .courseTitle p {
    display: block;
    display: -webkit-box;
    max-height: 1.365vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .applicants .clblk_Top h2 {
    color: #00448B;
    display: block;
    display: -webkit-box;
    max-height: 3.9vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .applicants .coursesfor {
    color: #7C7C7C;
    height: 8.9vw;
    position: relative;
    overflow: hidden;
    padding: 0.5vw 0 0 0; }
  .applicants .coursesfor p {
    display: block;
    display: -webkit-box;
    max-height: 2.34vw;
    font-size: 0.9vw;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .applicants .coursesfor a {
    position: static;
    margin: 0.5vw 0 0 0; }
  .applicants .linebeforeText {
    position: relative;
    padding: 0 0 0 8px; }
  .applicants .CoursesList {
    margin: 0 -7px; }
  .applicants .linebeforeText:before {
    content: '-';
    position: absolute;
    left: 0px; }
  .applicants .CL_Block {
    padding: 0 7px; }
  .applicants .CoursesList .slick-list.draggable {
    overflow: visible; }
  .applicants .forApplication span {
    display: block;
    color: #7C7C7C;
    font-weight: 500; }
  .applicants .forApplication .linebeforeText:before {
    display: none; }
  .applicants .forApplication .linebeforeText {
    padding: 0; }
  .applicants .TextOverlap {
    color: #FFFFFF;
    text-transform: uppercase;
    position: absolute;
    font-size: 10vw;
    top: -24%;
    left: -11%;
    width: 100%;
    height: 100%;
    z-index: 0; }
  .applicants .forApplication {
    padding: 1vw 1vw 1vw 1vw;
    border-bottom: 1px solid #EEEEEE;
    min-height: 6vw;
    overflow: hidden; }
  .applicants .forApplication span {
    display: block;
    color: #7C7C7C;
    font-weight: 500;
    display: block;
    display: -webkit-box;
    max-height: 1.17vw;
    font-size: 0.9vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .applicants .forApplication p {
    margin: 0 0 5px 0;
    display: block;
    display: -webkit-box;
    max-height: 1.365vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .applicants .CheckBlk {
    padding: 1.5vw 30px; }
  .applicants .checkBtnStyle {
    border: 1px solid #00448B;
    color: #00448B !important;
    height: 2.5vw; }
  .applicants .clrBorder1 {
    border-bottom: 3px solid #FFCA08; }
  .applicants .clrBorder2 {
    border-bottom: 3px solid #EF3F3F; }
  .applicants .clrBorder3 {
    border-bottom: 3px solid #00448B; }
  .applicants .clrBorder4 {
    border-bottom: 3px solid #FFCA08; }
  .applicants .clrBorder5 {
    border-bottom: 3px solid #EF3F3F; }
  .applicants .clrBorder6 {
    border-bottom: 3px solid #00448B; }
  .applicants .clrBorderBlue {
    border-bottom: 3px solid #00448B; }
  .applicants .clrBorderYellow {
    border-bottom: 3px solid #FFCA08; }
  .applicants .CoursesPanel {
    margin: 50px 0 0 0;
    z-index: 99; }
  .applicants .clrBorderRed {
    border-bottom: 3px solid #EF3F3F; }
  .applicants .course_iconStyle {
    max-height: 6vw;
    overflow: hidden;
    min-height: 6vw; }
  .applicants .applyCourses {
    background: #FFFFFF;
    padding: 100px 0 50px 0;
    text-align: right;
    margin: -3vw 0 0 0;
    position: relative;
    z-index: 9; }
  .applicants .Visit_list.CourseFind a {
    background: #FFFFFF; }
  .applicants .Visit_list.CourseFind a:hover {
    background: #00448B;
    color: #FFFFFF; }
  .applicants .ApplyNow.CourseFind a {
    background: #00448B; }
  .applicants .ApplyNow.CourseFind a:hover {
    color: #00448B;
    background: #FFFFFF;
    border-color: #00448B; }
  .applicants .crseTitle {
    padding: 0px 0 25px 0; }
  .applicants .StyleForSlickArrowsBottom .slick-prev, .applicants .StyleForSlickArrowsBottom .slick-next {
    left: 50px;
    top: auto;
    bottom: 30px; }
  .applicants .StyleForSlickArrowsBottom .slick-prev {
    left: 0px; }
  .applicants .StyleForSlickArrowsTop .slick-prev, .applicants .StyleForSlickArrowsTop .slick-next {
    right: 7px;
    top: -13%; }
  .applicants .StyleForSlickArrowsTop .slick-prev {
    right: 7%;
    left: auto; }
  .applicants .BtnBlue {
    border: 1px solid #00448B;
    color: #00448B; }
  .applicants .BtnRed {
    background: #EF3F3F;
    border: 1px solid transparent;
    color: #FFFFFF; }
  .applicants .BtnRed:hover {
    border: 1px solid #EF3F3F;
    color: #EF3F3F; }
  .applicants .HomeCoursePanel {
    padding: 50px 0 0 0;
    overflow: hidden; }
  .applicants .HomeCourseBg {
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    background-position: bottom; }
  .applicants .HomeCourseBg:after {
    content: '';
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    position: absolute;
    background-position: center center;
    width: 100%;
    height: 100%;
    top: -20%;
    background-size: 45%;
    left: 10%;
    z-index: 0; }
  .applicants .knowMoreStyle {
    text-decoration: underline !important;
    font-size: 0.9vw;
    color: #00448B !important;
    margin: 10px 0 0 0;
    display: inline-block; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .HomeCoursePanel .plr100 {
    padding: 0 !important; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  .breadcrumbPanel {
    position: absolute;
    left: 20px;
    bottom: 130px;
    z-index: 99999; }
  .breadcrumb.breadcrumbCustom li {
    font-size: 13px;
    font-weight: 500; }
  /**Common***/
  .applicants {
    /***Stories**/
    /**Industry UPES*/
    /**EVents*/
    /**BAnner*/
    /**Courses**/ }
    .applicants .ParentStoriesPanel {
      padding: 30px 15px 15px 15px; }
    .applicants .help .submit {
      padding: 0 0 10px 0 !important; }
    .applicants .help {
      padding: 10px 0 0 0 !important; }
    .applicants .form-group {
      margin-bottom: 10px; }
    .applicants div#financialSection {
      padding: 0 0 25px 0; }
    .applicants .Event_Inner .link_list.text-right {
      top: 25px; }
    .applicants .Studentstories .link_list {
      position: static; }
    .applicants .titleh4 {
      font-size: 16px; }
    .applicants .DisclaimerTExt.DisclaimerTExtTop {
      padding: 0 0 20px 0 !important; }
    .applicants .knowMoreStyle {
      font-size: 9px; }
    .applicants .link_list a {
      font-size: 11px; }
    .applicants .ParentStoriesBG {
      background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
      background-position: 0 -200px;
      background-size: cover; }
    .applicants .StoryTitleStrip {
      width: 280px;
      padding: 0 15px;
      height: auto; }
    .applicants .storiesPannInn {
      padding: 30px 0 0 0;
      margin: 0; }
    .applicants .storiesPanStyle {
      padding: 0px !important; }
    .applicants .storiesPanStyle img {
      width: 230px; }
    .applicants .StoryTitleStrip p {
      font-size: 30px;
      top: -38%; }
    .applicants .StoryTitleStrip h2 {
      font-size: 50px; }
    .applicants .StoriesContext {
      left: 40%;
      width: 200px;
      height: 175px;
      padding: 10px 15px; }
    .applicants .StoriesContext h3 {
      font-weight: 500;
      display: block;
      display: -webkit-box;
      max-height: 18.2px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 23.4px;
      font-size: 18px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 10px 0; }
    .applicants .StoriesContext p {
      display: block;
      display: -webkit-box;
      max-height: 62.4px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 10px 0;
      height: 65px; }
    .applicants .StoriesContext a {
      font-size: 11px; }
    .applicants .titleh3 {
      font-size: 30px; }
    .applicants .StyleForSlickArrows .slick-prev, .applicants .StyleForSlickArrows .slick-next {
      margin-top: 10px; }
    .applicants .StoryStyle.StyleForSlickArrows .slick-next {
      right: 0px;
      left: auto; }
    .applicants .StoryStyle.StyleForSlickArrows .slick-prev, .applicants .StoryStyle.StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 60px; }
    .applicants .StoryStyle.StyleForSlickArrows .slick-prev {
      left: auto;
      right: 0;
      bottom: 105px; }
    .applicants .industryPanel {
      padding: 0px 15px 0 15px;
      margin: 70px 0 0 0; }
    .applicants .industryPanel .link_list {
      position: static; }
    .applicants .IndContext {
      width: 80%; }
    .applicants .industryStrip {
      height: 13vh; }
    .applicants .industryStrip h2 {
      font-size: 28px;
      margin: 0;
      position: absolute;
      left: 40px; }
    .applicants .col-sm-4.Ind_inn {
      padding: 15px 0; }
    .applicants .Numb_list {
      font-size: 30px;
      width: 60%; }
    .applicants .Num_Title {
      font-size: 14px;
      padding: 0;
      width: 40%; }
    .applicants .industry_blockList {
      padding: 0px;
      margin: 0; }
    .applicants .industryPanel .link_list {
      text-align: center; }
    .applicants .ind_CompanyList.StyleForSlickArrows .slick-prev, .applicants .ind_CompanyList.StyleForSlickArrows .slick-next {
      bottom: -50px; }
    .applicants .ind_CompanyList.StyleForSlickArrows .slick-prev {
      left: 40%;
      right: auto; }
    .applicants .ind_CompanyList.StyleForSlickArrows .slick-next {
      right: 36%; }
    .applicants .ind_CompanyList {
      padding: 0 18px;
      margin: 0 0 50px 0; }
    .applicants .industryPanel .link_list a {
      font-size: 11px; }
    .applicants .Events_Impact_Panel {
      padding: 130px 0px 40px 0px;
      margin: 0 0px; }
    .applicants .EventPanelStyle {
      padding: 0 7px; }
    .applicants .EventContStyle {
      height: 140px; }
    .applicants .EventContStyle h4 {
      display: block;
      display: -webkit-box;
      max-height: 20.8px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .EventPara {
      height: 75px; }
    .applicants .EventPara p {
      display: block;
      display: -webkit-box;
      max-height: 54.6px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 5px 0; }
    .applicants .RotateTitlePosition {
      font-size: 24px;
      left: 30px;
      bottom: 85px;
      transform: rotate(0deg);
      position: static;
      padding: 10px 0 20px 0 !important;
      width: 100%; }
    .applicants .HomeCourseBg {
      padding: 0px; }
    .applicants .Ev_Im_List {
      padding: 0 15px; }
    .applicants .HomeEventImg {
      padding: 0; }
    .applicants .HomeEventCarousel.StyleForSlickArrows .slick-prev {
      bottom: 45px; }
    .applicants .HomeEventCarousel.StyleForSlickArrows .slick-next {
      bottom: 0px; }
    .applicants .HomeEventCarousel.StyleForSlickArrowsBottom .slick-prev, .applicants .HomeEventCarousel.StyleForSlickArrowsBottom .slick-next {
      left: -10px; }
    .applicants .BannerImg img {
      width: 100%; }
    .applicants .plr100vw {
      padding: 0 15px; }
    .applicants .banner {
      margin-bottom: 60px !important; }
    .applicants .color-blue {
      font-size: 10px !important; }
    .applicants .HomeCoursePanel {
      padding-top: 0;
      margin: 70px 0 0 0; }
    .applicants .accord-wrapper .cardContext p {
      font-size: 12px; }
    .applicants .accord-wrapper .cardContext ul {
      font-size: 12px; }
    .applicants .CoursesPanel {
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      margin: 0;
      background-size: cover;
      background-position: top; }
    .applicants .applyCourses .plr100 {
      padding: 0; }
    .applicants .coursesfor p {
      display: block;
      display: -webkit-box;
      max-height: 26px;
      font-size: 10px;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .CL_bg {
      min-height: 380px; }
    .applicants .CoursesList {
      margin: 0;
      padding: 30px 15px; }
    .applicants .CL_Block {
      padding: 0 0 0 15px;
      width: 75%;
      overflow: hidden; }
    .applicants .CoursesList .slick-list {
      padding: 0 15px; }
    .applicants div#coursesAspiring {
      padding: 0; }
    .applicants .TextOverlap {
      position: relative;
      font-size: 55px;
      padding: 0 15px;
      height: auto;
      top: -15px;
      left: 0; }
    .applicants .crseTitle {
      padding: 0 15px;
      font-size: 20px;
      margin: -12px 0 0 0; }
    .applicants .applyCourses {
      background: #f7f7f7; }
    .applicants .courseIcon {
      width: 45px; }
    .applicants .CLK_blk {
      padding: 0 0 0 15px;
      width: 75%;
      overflow: hidden; }
    .applicants .coursesfor a {
      position: static;
      font-size: 10px; }
    .applicants .courseTitle {
      height: 65px; }
    .applicants .clblk_Top h2 {
      display: block;
      display: -webkit-box;
      max-height: 41.6px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .courseTitle p {
      display: block;
      display: -webkit-box;
      max-height: 15.6px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .clblk_Top {
      display: flex;
      border-bottom: none;
      padding: 15px 30px 15px 20px;
      min-height: 180px; }
    .applicants .course_iconStyle {
      min-height: inherit;
      width: 25%; }
    .applicants .CheckBlk a {
      height: 35px; }
    .applicants .CheckBlk {
      padding: 5.5vw 40px; }
    .applicants .forApplication span {
      display: inline-block;
      display: block;
      display: -webkit-box;
      max-height: 13px;
      font-size: 10px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .forApplication p {
      display: block;
      display: -webkit-box;
      max-height: 15.6px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .CoursesList.StyleForSlickArrows .slick-prev, .applicants .CoursesList.StyleForSlickArrows .slick-next {
      bottom: -30px; }
    .applicants .CoursesList.StyleForSlickArrows .slick-prev {
      left: 40%;
      right: auto; }
    .applicants .CoursesList.StyleForSlickArrows .slick-next {
      right: auto;
      left: 53%; }
    .applicants .coursesfor {
      height: 80px; }
    .applicants .forApplication {
      min-height: 85px;
      padding: 20px 20px;
      border-top: 1px solid #EEEEEE; }
    .applicants .Visit_list a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 11px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .applicants .Visit_list {
      margin: 0 0 10px 0; }
    .applicants .ApplyNow a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 11px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .applicants .applyCourses .d-flex {
      display: block !important;
      text-align: center; }
    .applicants .forApplication p, .applicants .forApplication span {
      font-size: 12px; }
    .applicants .CheckBlk {
      text-align: center; }
      .applicants .CheckBlk a {
        font-size: 10px;
        height: 25px;
        width: auto !important;
        padding: 2vw 5vw !important;
        display: inline !important; }
    .applicants .plr100 {
      padding: 0 15px; }
    .applicants .BannerSection .DownArrow {
      text-align: right; }
      .applicants .BannerSection .DownArrow a .downArrowIcon {
        width: 30px; }
    .applicants .BannerSection .BannerStripContext {
      left: 0px;
      z-index: 999;
      box-shadow: 0px 5px 5px #dddddd8c; }
      .applicants .BannerSection .BannerStripContext .StripContent {
        padding-right: 0px; }
        .applicants .BannerSection .BannerStripContext .StripContent p {
          font-size: 22px; }
      .applicants .BannerSection .BannerStripContext .fontExBold {
        font-size: 19px !important; width: 90% !important }
    .applicants .TextOverlap {
      left: -5px;
      top: -10%;
      font-size: 48px; }
    .applicants .CoursesPanel {
      margin-top: 0px; }
    .applicants .StyleForSlickArrows .slick-prev,
    .applicants .StyleForSlickArrows .slick-next {
      top: 100%;
      height: 12px;
      width: 12px;
      padding: 12px;
      margin-bottom: 30px; }
    .applicants .StyleForSlickArrows .slick-prev {
      left: 42%; }
    .applicants .StyleForSlickArrows .slick-next {
      left: 52%; }
    .applicants .applyCourses {
      padding-bottom: 15px; }
      .applicants .applyCourses .d-flex {
        display: block !important;
        text-align: center; }
        .applicants .applyCourses .d-flex .Visit_list a,
        .applicants .applyCourses .d-flex .ApplyNow a {
          font-size: 9px;
          width: 70%;
          height: 28px;
          padding: 1.5vw 5vw !important;
          margin: 5px 0px; }
    .applicants .slick-dots {
      display: none !important; }
    .applicants .section-2 {
      padding-bottom: 80px; }
      .applicants .section-2 .wrapper-75 {
        width: calc(100% - 30px); }
      .applicants .section-2 .title1 {
        font-size: 68px; }
      .applicants .section-2 .title2 {
        font-size: 22px;
        margin-top: -5px; }
      .applicants .section-2 .title3 {
        font-size: 18px; }
      .applicants .section-2 .admission-table {
        margin-top: 15px; }
        .applicants .section-2 .admission-table .header {
          padding: 10px; }
          .applicants .section-2 .admission-table .header h2 {
            font-size: 10px; }
        .applicants .section-2 .admission-table .value {
          padding: 10px; }
          .applicants .section-2 .admission-table .value p {
            font-size: 10px; }
      .applicants .section-2 .fullwidth .d-flex {
        display: block !important;
        text-align: center; }
        .applicants .section-2 .fullwidth .d-flex .Visit_list a,
        .applicants .section-2 .fullwidth .d-flex .ApplyNow a {
          font-size: 10px;
          width: 70%;
          height: 28px;
          padding: 1.5vw 5vw !important;
          margin: 10px auto; }
    .applicants .section-3 .header-top {
      padding-bottom: 15px; }
    .applicants .section-3 .title .Orange-Strip {
      height: 20vw;
      margin-top: -40px; }
      .applicants .section-3 .title .Orange-Strip:before {
        width: 80%; }
      .applicants .section-3 .title .Orange-Strip h3 {
        font-size: 7.5vw;
        top: 15px;
        position: relative;
        padding-left: 15px; }
    .applicants .section-3 .wrapper-75 {
      width: calc(100% - 60px); }
      .applicants .section-3 .wrapper-75 .applicantsForm {
        padding-left: 0px; }
      .applicants .section-3 .wrapper-75 .title {
        font-size: 16px; }
      .applicants .section-3 .wrapper-75 .col-md-4,
      .applicants .section-3 .wrapper-75 .col-md-8 {
        padding: 0; }
    .applicants .section-3 .help {
      padding-top: 30px; }
      .applicants .section-3 .help .select-wrapper:before {
        font-size: 12px; }
      .applicants .section-3 .help label {
        margin-bottom: 0;
        font-size: 14px; }
        .applicants .section-3 .help label.radio-inline {
          display: flex; }
      .applicants .section-3 .help select {
        margin-bottom: 5px;
        height: 30px;
        font-size: 12px; }
      .applicants .section-3 .help .submit {
        text-align: center;
        padding-bottom: 30px; }
        .applicants .section-3 .help .submit a, .applicants .section-3 .help .submit button {
          font-size: 10px;
          width: auto;
          height: 28px;
          padding: 1.5vw 5vw !important;
          margin: 10px 0px; }
    .applicants .section-3 .title h3 {
      font-size: 14px; }
    .applicants .section-3 #Financial-affairs-AccordionPanel {
      margin-top: 15px; }
      .applicants .section-3 #Financial-affairs-AccordionPanel .cardContext {
        padding: 15px;
        font-size: 12px; }
        .applicants .section-3 #Financial-affairs-AccordionPanel .cardContext ul {
          font-size: 12px; }
      .applicants .section-3 #Financial-affairs-AccordionPanel p {
        font-size: 12px; }
    .applicants .section-3 .accord-wrapper .CardHeaderPanel a {
      font-size: 12px;
      padding: 10px;
      padding-right: 20px; }
      .applicants .section-3 .accord-wrapper .CardHeaderPanel a:after {
        font-size: 12px;
        top: 6px;
        right: 12px; }
    .applicants .section-4 {
      padding-top: 20px;
      padding-bottom: 50px; }
      .applicants .section-4 .wrapper-75 {
        width: calc(100% - 30px); }
      .applicants .section-4 .header-top {
        padding-bottom: 10px; }
        .applicants .section-4 .header-top .titleh3 {
          font-size: 22px; }
      .applicants .section-4 .accord-wrapper .link-toggle {
        margin-top: -45px;
        font-size: 12px; }
        .applicants .section-4 .accord-wrapper .link-toggle a {
          position: relative;
          z-index: 9; }
      .applicants .section-4 .accord-wrapper .AccordionStyle {
        margin-top: 15px; }
        .applicants .section-4 .accord-wrapper .AccordionStyle h5 a {
          padding: 5px 10px;
          font-size: 12px; }
          .applicants .section-4 .accord-wrapper .AccordionStyle h5 a:after {
            font-size: 12px;
            top: 6px;
            right: 12px; }
      .applicants .section-4 .contact {
        padding: 15px 0px;
        padding-top: 30px; }
        .applicants .section-4 .contact .header h2 {
          font-size: 12px; }
        .applicants .section-4 .contact .details p {
          font-size: 12px; }
    .applicants .section-5 {
      margin-top: 50px;
      padding-bottom: 50px; }
      .applicants .section-5 .wrapper-75 {
        width: calc(100% - 30px); }
      .applicants .section-5 .title .Orange-Strip {
        height: 20vw;
        margin-top: -50px; }
        .applicants .section-5 .title .Orange-Strip:before {
          width: 80%; }
        .applicants .section-5 .title .Orange-Strip h3 {
          font-size: 24px; }
      .applicants .section-5 .link-toggle {
        margin-top: -45px;
        font-size: 12px; }
        .applicants .section-5 .link-toggle a {
          position: relative;
          z-index: 9; }
      .applicants .section-5 .AccordionStyle {
        margin-top: 15px; }
        .applicants .section-5 .AccordionStyle .cardContext {
          padding: 15px;
          font-size: 12px; }
          .applicants .section-5 .AccordionStyle .cardContext li {
            font-size: 12px; }
        .applicants .section-5 .AccordionStyle p {
          font-size: 12px; }
      .applicants .section-5 .accord-wrapper .CardHeaderPanel a {
        font-size: 12px;
        padding: 10px;
        padding-right: 20px; }
        .applicants .section-5 .accord-wrapper .CardHeaderPanel a:after {
          font-size: 12px;
          top: 6px;
          right: 12px; } }

@media (max-width: 767px) and (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  .StyleForSlickArrows .slick-next {
    right: 7px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important; }
  .StyleForSlickArrows .slick-prev {
    left: 7px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
    display: none; }
  /**Common***/
  .BannerSection .BannerStripContext {
    overflow: hidden;
    width: 80%;
    bottom: -70px;
    padding: 15px;
    height: 240px; }
    .BannerSection .BannerStripContext p {
      font-size: 16px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .FooterPanel .plr100 {
    padding: 0 20px !important; }
  .FooterShowcasePanel .plr100 {
    padding: 0 20px !important; }
  .applicants {
    /**Student Stories**/
    /***EVents*/
    /**Courses**/ }
    .applicants .plr100 {
      padding: 0 20px; }
    .applicants .BannerStripContext {
      padding: 0vh 0px 0vh 15px; }
    .applicants .link_list a {
      font-size: 1.4vw; }
    .applicants .plr100vw {
      padding: 0 20px; }
    .applicants .Orange-Strip {
      height: 12vw;
      position: relative; }
      .applicants .Orange-Strip .title {
        padding-left: 15px; }
    .applicants .wrapper-75 {
      width: 90vw; }
    .applicants .StoryTitleStrip {
      width: 30vw;
      height: 10vw; }
    .applicants .Event_Inner .link_list.text-right {
      top: 5vw; }
    .applicants .Studentstories .link_list {
      top: 20px; }
    .applicants .StoryStyle button {
      display: none !important; }
    .applicants .StudentStoriesPanel {
      padding: 18vw 0 0 0; }
    .applicants .StoryTitleStrip p {
      top: -18%;
      font-size: 4.5vw; }
    .applicants .StoriesContext {
      width: 24vw;
      display: block;
      height: 20vw; }
    .applicants .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 2.6vw;
      font-size: 2vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .StoriesContext h3 {
      display: block;
      display: -webkit-box;
      max-height: 1.95vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .StoriesContext p {
      display: block;
      display: -webkit-box;
      max-height: 5.85vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 7vw; }
    .applicants .StoriesContext a {
      font-size: 1.4vw; }
    .applicants .StoryTitleStrip h2 {
      font-size: 6vw; }
    .applicants .storiesPannInn.StyleForSlickArrows .slick-next {
      right: 7px;
      left: auto; }
    .applicants .storiesPannInn.StyleForSlickArrows .slick-prev {
      right: 50px;
      left: auto; }
    .applicants .storiesPannInn .StyleForSlickArrows .slick-prev, .applicants .storiesPannInn.StyleForSlickArrows .slick-next {
      top: 0; }
    .applicants .HomeEventImg {
      padding: 0 20px 0 0; }
    .applicants .EventContStyle {
      height: 16vw; }
    .applicants .EventContStyle h4 {
      display: block;
      display: -webkit-box;
      max-height: 2.34vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .EventPara {
      height: 7vw; }
    .applicants .EventPara p {
      display: block;
      display: -webkit-box;
      max-height: 7.02vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .RotateTitlePosition {
      bottom: 13vw;
      left: 2vw;
      font-size: 3.5vw; }
    .applicants .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-prev {
      left: 0px;
      bottom: 10px; }
    .applicants .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-next {
      bottom: 60px;
      left: 0; }
    .applicants .HomeEventCarousel.OneBlockCarousel {
      z-index: 9; }
    .applicants .TextOverlap {
      left: -6%;
      top: -18%; }
    .applicants .checkBtnStyle {
      height: 4.4vw; }
    .applicants .CLK_blk a {
      font-size: 1.3vw; }
    .applicants .knowMoreStyle {
      font-size: 1.5vw; }
    .applicants .clblk_Top h2 {
      display: block;
      display: -webkit-box;
      max-height: 3.9vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .coursesfor p {
      display: block;
      display: -webkit-box;
      max-height: 3.12vw;
      font-size: 1.2vw;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .courseTitle p {
      display: block;
      display: -webkit-box;
      max-height: 2.34vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .coursesfor {
      height: 10vw; }
    .applicants .clblk_Top {
      padding: 2vw 2vw;
      min-height: 29vw; }
    .applicants .CheckBlk {
      padding: 2.5vw 20px; }
    .applicants .forApplication p {
      display: block;
      display: -webkit-box;
      max-height: 1.69vw;
      font-size: 1.3vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .forApplication {
      padding: 2vw 2vw; }
    .applicants .forApplication span {
      display: block;
      display: -webkit-box;
      max-height: 1.56vw;
      font-size: 1.2vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .applicants .CoursesPanel {
      margin: 0px 0 0 0; }
    .applicants .CoursesPanel .StyleForSlickArrowsTop .slick-prev, .applicants .CoursesPanel .StyleForSlickArrowsTop .slick-next {
      right: 7px;
      top: -12%; }
    .applicants .CoursesPanel .StyleForSlickArrowsTop .slick-prev {
      right: 60px;
      left: auto; }
    .applicants .StyleForSlickArrows .slick-prev, .applicants .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .applicants .CourseFind a {
      font-size: 1.5vw;
      height: 35px; }
    .applicants .Visit_list a {
      width: auto;
      padding: 0 10px !important;
      display: flex;
      align-items: center; }
    .applicants .ApplyNow a {
      width: 16vw;
      height: 35px;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center; }
    .applicants .BannerImg img {
      width: 83vw; }
    .applicants .BannerSection {
      margin-bottom: 75px !important; }
      .applicants .BannerSection .BannerStripContext {
        bottom: -60px;
        padding: 0vh 0px 0vh 15px; }
      .applicants .BannerSection .DownArrow {
        bottom: -15%;
        left: -3%; }
        .applicants .BannerSection .DownArrow .downArrowIcon {
          width: 3.5vw; }
      .applicants .BannerSection .breadcrumbPanel {
        bottom: -15%;
        left: 50%; }
      .applicants .BannerSection .breadcrumb-item {
        font-size: 1.5vw; }
    .applicants .HomeCoursePanel {
      overflow-x: hidden;
      padding: 50px 0 0 0; }
      .applicants .HomeCoursePanel .TextOverlap {
        left: -5%;
        top: -15%; }
      .applicants .HomeCoursePanel .slick-prev {
        width: 30px;
        height: 30px;
        right: 15%; }
      .applicants .HomeCoursePanel .slick-next {
        width: 30px;
        height: 30px;
        right: 5%; }
    .applicants .section-2 .title1 {
      font-size: 68px; }
    .applicants .section-2 .title2 {
      font-size: 22px;
      margin-top: -5px; }
    .applicants .section-2 .title3 {
      font-size: 18px; }
    .applicants .section-2 .admission-table {
      margin-top: 15px; }
      .applicants .section-2 .admission-table .header {
        padding: 10px;
        min-height: 50px; }
        .applicants .section-2 .admission-table .header h2 {
          font-size: 16px; }
      .applicants .section-2 .admission-table .value {
        padding: 10px; }
        .applicants .section-2 .admission-table .value p {
          font-size: 14px; }
    .applicants .section-2 .fullwidth .d-flex {
      text-align: center;
      justify-content: flex-start; }
      .applicants .section-2 .fullwidth .d-flex .Visit_list a,
      .applicants .section-2 .fullwidth .d-flex .ApplyNow a {
        font-size: 12px;
        width: 200px;
        height: 32px;
        margin: 5px;
        padding: 0.8vw 2vw !important; }
    .applicants .section-3 .Orange-Strip {
      margin-top: -40px; }
    .applicants .section-3 .wrapper-75 .title {
      font-size: 2vw; }
    .applicants .section-3 .help {
      padding-top: 40px; }
      .applicants .section-3 .help label {
        font-size: 1.8vw;
        padding-bottom: 0; }
      .applicants .section-3 .help select {
        height: 35px;
        font-size: 1.5vw;
        margin-bottom: 10px; }
      .applicants .section-3 .help .submit a {
        font-size: 1.4vw; }
      .applicants .section-3 .help .submit #applicants-submit {
        font-size: 1.2vw;
        height: 32px;
        padding: 0 4vw; }
    .applicants .section-4 .contact {
      font-size: 1.8vw; }
    .applicants .accord-wrapper .CardHeaderPanel > a {
      font-size: 1.5vw;
      padding: 1.8vw 1.8302vw;
      padding-right: 30px; }
    .applicants .accord-wrapper .cardContext p {
      font-size: 12px; }
    .applicants .accord-wrapper .cardContext li {
      font-size: 12px; } }

@media (min-width: 991px) and (max-width: 1365px) {
  .applicants {
    /***Courses*/ }
    .applicants .clblk_Top {
      padding: 1vw; }
    .applicants .BannerStripContext {
      padding: 0vh 0px 0vh 15px; }
    .applicants .TextOverlap {
      left: -7%; }
    .applicants .plr100 {
      padding: 0 50px; }
    .applicants .CheckBlk {
      padding: 1.5vw 20px; } }

@media (min-width: 300px) and (max-width: 350px) {
  .applicants .StoryStyle.StyleForSlickArrows .slick-prev {
    left: 10%;
    right: auto;
    bottom: 105px; }
  .applicants .StoryStyle.StyleForSlickArrows .slick-next {
    right: auto;
    left: 10%; } }

@media (min-width: 1800px) and (max-width: 1920px) {
  .applicants .TextOverlap {
    left: -7%; } }

@media (min-width: 2000px) and (max-width: 3000px) {
  .applicants .TextOverlap {
    left: -7%; } }
@media only screen and (max-width: 767px){
.applicants .BannerSection .BannerStripContext .fontExBold{    line-height: 1.1 !important; top: 15px !important;margin-top: 0 !important;font-size: 16px !important;}
}

