﻿.errorPage {
  margin-top: 4vw;
  margin-bottom: 6vw;
  text-align: center;
  font-weight: bold;
  color: #606060; }
  .errorPage h1 {
    font-size: 15vw;
    line-height: 20vw;
    font-weight: bold;
    color: #F8A328; }
  .errorPage h2 {
    font-size: 3vw;
    line-height: 3vw;
    margin: 0 0 60px;
    color: #F8A328; }
  .errorPage .btn {
    font-size: 1.05vw;
    background: #00448B;
    color: #FFFFFF;
    padding: .5vw 2.5vw;
    border-radius: 2.5vw;
    margin-top: 2vw; }

@media (max-width: 767px) {
  .errorPage h1 {
    font-size: 35vw;
    line-height: 1.2em; }
  .errorPage h2 {
    font-size: 8vw;
    line-height: 1.2em; }
  .errorPage .btn {
    font-size: 5vw;
    background: #00448B;
    color: #FFFFFF;
    padding: 2vw 5vw;
    border-radius: 10vw;
    margin-top: 5vw; } }
