﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
/**Footer***/
footer {
  /**13062019 EPM*/
  /**13062019 EPM*/
  /**Updated 31/1/2019*/
  /**Updated Footer 19/2/2019*/ }
  footer .FootSocialIcons {
    padding: 0 15px 10px 0; }
  footer .FootSocialIcons .SocialIcon {
    /*background: #4d4d4d;*/
    padding: 3px 7px; }
  footer .FooterPanel {
    color: #FFFFFF; }
  footer .TitleLink {
    text-transform: uppercase;
    font-size: 1.05vw;
    color: #fff;
    min-height: 1vw;
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  footer .TitleLink:hover, footer .TitleLink:focus {
    color: #FFCA08; }
  footer .FooterShowcasePanel {
    z-index: 9;
    position: relative; }
  footer .foot_Btm {
    background: #4D4D4D;
    color: #FFFFFF;
    font-size: 0.9vw; }
  footer .SocialIcon p {
    font-size: 0.9vw;
    padding: 0 15px 0 0; }
  footer .foot_Btm_Height {
    height: 4.8vw; }
  footer .foot_Top_Height {
    height: 200px; }
  footer .foot_Top {
    background: #606060; }
  footer .footMenuList {
    padding: 10px 0 0 0; }
  footer .footTopRow {
    padding: 1vw 0; }
  footer .footMenuList a {
    display: block;
    color: #EEEEEE;
    font-size: 0.75vw;
    text-transform: uppercase;
    font-weight: 500;
    margin: 5px 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  footer .footMenuList a:hover, footer .footMenuList a:focus {
    color: #FFCA08; }
  footer .footMenus p {
    text-transform: uppercase;
    font-size: 1.05vw; }
  footer .social_icon_menus a {
    display: inline-block;
    margin: 0 0 0 4px;
    position: relative; }
  footer .social_icon_menus a img {
    width: 2.2vw; }
  footer .footTopRow {
    margin: 0 -3px; }
  footer .footMenus {
    padding: 0 3px; }
  footer .footcenterStyle {
    padding: 10px 0; }
  footer .footCenterbx {
    background: #404040;
    height: auto;
    padding: 0vw 0vw;
    display: flex; }
  footer .footCenterbx h5 {
    text-transform: uppercase;
    padding: 0 1vw 0 0;
    font-weight: 500;
    font-size: 0.9vw; }
  footer .footCenterbx p {
    font-size: 0.8vw;
    font-weight: 500; }
  footer .footCenterbx a {
    color: #fff; }
  footer .Foot_Center {
    background: #606060; }
  footer .footCenterRow {
    padding: 0 0 10px 0;
    margin: 0; }
  footer .fc_Inner {
    background: #404040;
    min-height: 7.5vw;
    padding: 1vw 1.3vw; }
  footer .fc_Inner h5 {
    font-size: 1vw;
    text-transform: uppercase;
    margin: 0 0 0.8vw 0; }
  footer .fc_Inner p {
    font-size: 0.75vw;
    text-transform: uppercase;
    margin: 0 0 0.2vw 0;
    padding: 0; }
  footer .fc_Inner a {
    color: #fff; }
  footer .fc_Inner .nouppercase {
    text-transform: inherit; }
  footer .onhoverShow {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    transform: scale(0); }
  footer .social_icon_menus a:hover .onhoverShow {
    opacity: 1;
    transform: scale(1); }
  footer .social_icon_menus a img {
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear; }
  footer .footBtmRow {
    overflow: hidden; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1200px) and (max-width: 1365px) {
  .FooterPanel .SocialIcon p {
    font-size: 1vw; }
  .FooterPanel .social_icon_menus a {
    width: 2vw; }
  .FooterPanel .foot_Btm {
    font-size: 1vw; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .FooterPanel .plr100 {
    padding: 0 50px; }
  .FooterPanel .footMenuList a {
    font-size: 0.95vw; }
  .FooterPanel .footMenus p {
    font-size: 1.2vw; }
  .FooterPanel .foot_Btm {
    font-size: 1.1vw; }
  .FooterPanel .social_icon_menus a {
    width: 2.2vw; }
  .FooterPanel .SocialIcon p {
    font-size: 1.1vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  footer .footCenterbx h5 {
    font-size: 1.2vw; }
  footer .footCenterbx p {
    font-size: 1.1vw; }
  footer .footMenus p {
    font-size: 1.3vw; }
  footer .footMenuList a {
    font-size: 1.05vw; }
  footer .TitleLink {
    font-size: 1.3vw; }
  footer .SocialIcon p {
    font-size: 1.2vw; }
  footer .social_icon_menus a {
    width: 3vw; }
  footer .foot_Btm {
    font-size: 1.2vw; }
  footer .footCenterTile {
    padding: 0 3px; }
  footer .fc_Inner h5 {
    font-size: 1.2vw; }
  footer .fc_Inner p {
    font-size: 1.05vw; }
  footer .fc_Inner {
    min-height: 9.5vw; } }

@media (max-width: 767px) {
  /**Footer*/
  footer .foot_Btm_Height {
    height: auto; }
  footer .FootSocialIcons {
    padding: 0 10px 10px 10px; }
  footer .FootSocialIcons .SocialIcon {
    padding: 5px 7px;
    display: block !important;
    width: 100%; }
  footer .footCenterbx {
    display: block; }
  footer .TitleLink {
    font-size: 10px; }
  footer .foot_Btm_Height {
    padding: 7px 10px;
    text-align: center; }
  footer .foot_Btm {
    font-size: 10px; }
  footer .col-6.copyRights {
    flex: 100%;
    max-width: 100%; }
  footer .col-6.SocialIcon {
    order: -1;
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center !important;
    padding: 0 0 10px 0; }
  footer .SocialIcon p {
    font-size: 10px; }
  footer .col-sm-2.footMenus {
    flex: 33.33%;
    max-width: 33.33%; }
  footer .footMenuList a {
    font-size: 8px;
    font-weight: 500; }
  footer .footTopRow {
    padding: 4vh 0 0 0;
    margin: 0px; }
  footer .footMenus {
    padding: 0 10px; }
  footer .social_icon_menus a img {
    width: 20px; }
  footer .footMenus p {
    font-size: 10px; }
  footer .social_icon_menus a {
    width: auto; }
  footer .footMenuList {
    padding: 10px 0 20px 0; }
  footer .hideOnMobile {
    display: none; }
  footer .footCenterbx {
    height: auto;
    padding: 10px 10px; }
  footer .footCenterbx p {
    font-size: 10px; }
  footer .footCenterbx h5 {
    font-size: 10px;
    padding: 0 0 5px 0; }
  footer .col-4.footcenterStyle.plr7 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 5px 0; }
  footer .footCenterRow {
    padding: 0 0 10px 0; }
  footer .col-sm-3.footCenterTile {
    flex: 0 0 100%;
    width: 100%;
    padding: 5px 10px; }
  footer .fc_Inner p {
    font-size: 8px;
    margin: 0 0 5px 0; }
  footer .fc_Inner h5 {
    font-size: 10px;
    margin: 0 0 10px 0; }
  footer .fc_Inner {
    min-height: inherit;
    padding: 10px 10px; } }

@media (min-width: 320px) and (max-width: 340px) {
  footer .TitleLink {
    font-size: 8px; }
  footer .SocialIcon p {
    font-size: 8px; }
  footer .foot_Btm {
    font-size: 8px; }
  footer .footMenuList a {
    font-size: 8px; } }
