

/**umb_name:h2*/
h2{font-size: 2vw;
    text-transform: uppercase;
	font-weight: 800;
	font-family: inherit;
	margin: inherit;
    line-height: initial;}

/**umb_name:h3*/
h3{font-size: 1.3vw;
font-weight: 500;
padding: 2vh 0 1vh 0;
margin: inherit;
line-height: initial;
font-family: inherit;}

/**umb_name:p*/
p{font-weight: 500;
    font-size: 1vw;
    line-height: 28px;}