﻿.general-popup .NewmodalStyle .modal-content {
  background: transparent;
  border: none; }
  .general-popup .NewmodalStyle .modal-content img {
    height: auto !important; }
  .general-popup .NewmodalStyle .modal-content .modal-header {
    background: transparent;
    min-height: inherit;
    border: none;
    padding: 0; }
  .general-popup .NewmodalStyle .modal-content .modal-body {
    padding: 0; }
    .general-popup .NewmodalStyle .modal-content .modal-body .content {
      padding: 0px; }

.general-popup .NewmodalStyle button.close {
  position: absolute !important;
  right: -10px !important;
  z-index: 9;
  top: -15px !important; }

.general-popup .modal-body img {
  max-width: 100%; }

.general-popup .bg-lightgray {
  background-color: #f7f7f7; }
  .general-popup .bg-lightgray form .bg-lightgray {
    background-color: #fff; }

.general-popup .modal {
  z-index: 999999; }

.general-popup #newmodal p {
  font-weight: 600;
  -ms-word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  word-break: break-all; }

.general-popup #newmodal h3 {
  font-size: 2.2vw; }

.general-popup #newmodal .btn-custom {
  font-size: 1.05vw;
  height: 3vw;
  width: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 1vw;
  border-radius: 3vw;
  background: #00448B;
  color: #fff;
  border: .1vw solid #00448B; }
  .general-popup #newmodal .btn-custom:hover {
    color: #00448B;
    background: #FFFFFF; }

.general-popup .diamond-style {
  margin-top: 3vw; }
  .general-popup .diamond-style li p {
    padding-right: 1vw;
    padding-left: 2vw;
    margin-bottom: -1.2vw;
    display: -webkit-box;
    height: calc(1.3em * 2);
    /*font-size: 1vw;*/
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: -2vw; }
  .general-popup .diamond-style li:before {
    content: '' !important;
    background-image: url(../src/img/general-template/diamond.png);
    padding: 1vw 3vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 1vw;
    margin-left: -2vw;
    padding-right: 0px !important; }

.general-popup .field-validation-error {
  color: #f54046;
  font-weight: 500; }

.general-popup .g-recaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0; }
  .general-popup .g-recaptcha .grecaptcha-badge {
    position: static !important; }

.general-popup .date-picker {
  border: 1px solid #ced4da;
  padding: .375rem .75rem; }

.general-popup .gj-icon {
  color: #ced4da;
  margin-top: 10px;
  margin-right: 10px; }

.general-popup .modal.show {
  transition: background .15s linear;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex !important; }

.general-popup .modal-xlg {
  max-width: 98%;
  width: 100%; }
  .general-popup .modal-xlg .modal-content {
    margin-top: 0px !important; }
    .general-popup .modal-xlg .modal-content .modal-body .content {
      height: 95vh !important; }
    .general-popup .modal-xlg .modal-content .modal-body img {
      max-width: 100%; }

.general-popup .modal-lg {
  max-width: 80%;
  width: 100%; }

.general-popup .modal-sm {
  max-width: 35%; }

.general-popup .modal-content {
  border-radius: 0px; }
  .general-popup .modal-content .modal-header {
    background-color: #FDC828;
    border-radius: 0px;
    min-height: 60px; }
    .general-popup .modal-content .modal-header .close {
      background-color: #F54046;
      opacity: 1;
      top: -18px;
      right: -18px;
      position: relative;
      border-radius: 100%;
      height: 40px;
      width: 40px; }
      .general-popup .modal-content .modal-header .close span {
        color: #fff;
        line-height: 0 !important;
        position: absolute;
        padding: 10px;
        left: 0;
        top: 25%;
        font-size: 35px;
        transition-duration: .5s; }
        .general-popup .modal-content .modal-header .close span:hover {
          transform: rotate(180deg);
          transition-duration: .5s; }
  .general-popup .modal-content .modal-body {
    padding: 0; }
    .general-popup .modal-content .modal-body .content {
      padding: 1rem 2rem;
      padding-bottom: 40px; }
      .general-popup .modal-content .modal-body .content .header {
        font-size: 2vw;
        margin-bottom: 30px;
        margin-top: -35px; }
        .general-popup .modal-content .modal-body .content .header p, .general-popup .modal-content .modal-body .content .header h3 {
          font-weight: 800; }
      .general-popup .modal-content .modal-body .content .sub-header {
        font-weight: 600;
        font-size: 1.2vw;
        margin-bottom: 20px;
        margin-top: 15px; }
      .general-popup .modal-content .modal-body .content ul {
        padding-left: 0; }
        .general-popup .modal-content .modal-body .content ul li {
          list-style-type: none;
          margin-bottom: 10px; }
          .general-popup .modal-content .modal-body .content ul li:before {
            content: '-';
            padding-right: 3px; }
      .general-popup .modal-content .modal-body .content form .form-group .form-control {
        min-height: 45px; }
      .general-popup .modal-content .modal-body .content form .form-group textarea {
        resize: none; }
      .general-popup .modal-content .modal-body .content form .form-group.required {
        position: relative; }
        .general-popup .modal-content .modal-body .content form .form-group.required label {
          top: 10px;
          margin-bottom: 0;
          left: 15px; }
      .general-popup .modal-content .modal-body .content form .submit {
        margin-top: 15px;
        border-radius: 30px;
        padding: 10px 60px;
        font-weight: 600;
        background-color: #054589;
        transition-duration: .5s;
        border: 1px solid #054589; }
        .general-popup .modal-content .modal-body .content form .submit:hover {
          transition-duration: .5s;
          background-color: #fff;
          color: #054589;
          border: 1px solid #054589; }

.general-popup .video-wrapper .modal-content {
  margin-top: 10%; }
  .general-popup .video-wrapper .modal-content .modal-header {
    position: absolute;
    left: -70px;
    top: -70px;
    background-color: transparent;
    border-bottom: transparent;
    width: 103%; }
    .general-popup .video-wrapper .modal-content .modal-header .title-wrapper {
      background-color: #FDC828;
      font-size: 2vw;
      padding: 2vw 3vw;
      padding-right: 4vw;
      position: relative;
      z-index: 9; }
    .general-popup .video-wrapper .modal-content .modal-header .close-btn-wrapper {
      position: absolute;
      right: -17px;
      top: 83px;
      z-index: 9; }
  .general-popup .video-wrapper .modal-content .modal-body .content {
    padding: 0px !important;
    height: 35vw; }

@media (min-width: 768px) {
  #modalRequestCallBack {
    /*background: transparent;*/ }
    #modalRequestCallBack.modal .modal-dialog {
      /*-webkit-transform: translate(93%, 0);
                transform: translate(70vw, 0);*/
      transition-duration: 1s; }
    #modalRequestCallBack.modal.show .modal-dialog {
      transition-duration: 1s;
      /*-webkit-transform: translate(93%, 0);*/
      /*transform: translate(96%, 0);*/ } }

@media (max-width: 767px) {
  .general-popup h3 {
    font-size: 16px; }
  .general-popup .NewmodalStyle .modal-content .modal-body .content {
    padding: 0px !important; }
  .general-popup .NewmodalStyle button.close {
    right: 10px !important;
    top: 0px !important; }
  .general-popup .modal-dialog {
    z-index: 99999999; }
  .general-popup p {
    font-size: 15px;
    padding: 6px 0; }
  #modalRequestCallBack .header {
    margin-bottom: 0px; }
  #modalRequestCallBack label, #modalRequestCallBack input, #modalRequestCallBack select, #modalRequestCallBack a {
    font-size: 12px !important;
    min-height: inherit; }
  #modalRequestCallBack .form-group {
    margin-bottom: 0; } }

@media (min-width: 991px) and (max-width: 1366px) {
  .general-popup .modal-xlg {
    max-width: 95%;
    margin: 4vw auto;
    width: 100%; } }

@media (max-width: 991px) {
  .general-popup .modal-lg {
    max-width: 90%;
    margin: 90px auto !important; }
  .general-popup .modal-xlg {
    max-width: 90%;
    margin: 90px auto;
    width: 100%; }
  .general-popup .modal {
    z-index: 99999999; }
  .general-popup .modal-sm {
    max-width: 90%;
    margin: 90px auto; }
  .general-popup .video-wrapper .modal-content .modal-header .close-btn-wrapper {
    right: -45px; }
  .general-popup .video-wrapper .modal-body .content {
    height: 70vw !important; }
  .general-popup .modal-header .close {
    top: -10px !important;
    right: -10px !important;
    height: 35px !important;
    width: 35px !important; }
    .general-popup .modal-header .close span {
      top: 20% !important;
      font-size: 28px !important; }
  .general-popup .modal-body .content {
    padding: 1rem !important; }
    .general-popup .modal-body .content .header {
      font-size: 18px !important; }
    .general-popup .modal-body .content .sub-header {
      font-size: 16px !important; } }

@media (min-width: 1200px) and (max-width: 1365px) {
  .general-popup .modal-xlg {
    max-width: 95%;
    width: 100%; } }

@media (min-width: 2000px) and (max-width: 3000px) {
  .general-popup .video-wrapper .modal-content .modal-header .close-btn-wrapper {
    right: 20px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  #newmodal h3 {
    font-size: 4.8vw !important; }
  #newmodal .btn-custom {
    height: 4vw !important;
    font-size: 2vw !important;
    width: 14vw !important; }
  .diamond-style li {
    display: flex;
    margin-bottom: 2vw !important; }
    .diamond-style li:before {
      padding: 4vw 8vw !important; }
    .diamond-style li p {
      padding-right: 5vw;
      top: 0 !important; } }

@media (max-width: 767px) {
  .general-popup .diamond-style li p {
    height: calc(1.5em * 2) !important;
    text-align: left; }
  .general-popup h3 {
    text-align: left;
    font-size: 7vw !important; }
  .general-popup .diamond-style li {
    display: flex; }
  .general-popup .diamond-style li:before {
    padding: 0vw 6vw !important;
    margin-right: 0; }
  .general-popup #newmodal .btn-custom {
    height: 10vw !important;
    width: 25vw !important;
    font-size: 4vw !important;
    border-radius: 8vw !important; }
  .general-popup #newmodal p {
    font-weight: 600;
    font-size: 3.8vw !important;
    word-break: break-all;
    -ms-word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto; }
  #modalRequestCallBack.modal.show .modal-dialog {
    -webkit-transform: translate(0, -15%);
    transform: translate(0, -15%); } }
