﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
/**Header***/
header {
  /***EPM Oct 22 2019 header menu*/
  /**Epm 1082019 Enquiry Form*/
  /**Epm 1082019 Enquiry Form*/
  /*.HeaderPanelMenu ul li:first-child a {
        color: $colorBlack !important;
        border-radius: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        position: relative;

        &.morecourses {
            color: $colorBlue !important;
            font-size: 0.9vw;
        }
    }*/
  /*.HeaderPanelMenu ul li:first-child a:after {
        content: '';
        width: 100%;
        background: $colorBlue;
        height: 4px;
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
    }*/
  /***Menu Dropdown*/
  /**Search Animation*/ }
  header .Show_Mobile {
    display: none !important; }
  header .desktopshow {
    display: block; }
  header .HeaderPanelMenu .TopHeaderPanelStrip {
    position: absolute;
    top: 0;
    width: 100%;
    background: #00448B;
    left: 0; }
    header .HeaderPanelMenu .TopHeaderPanelStrip ul.topMenu {
      padding: 0.4vw 0; }
    header .HeaderPanelMenu .TopHeaderPanelStrip ul .topMenuImg {
      width: 1.2vw;
      margin: 0 0.5vw; }
    header .HeaderPanelMenu .TopHeaderPanelStrip ul li {
      padding: 0 1.1vw; }
      header .HeaderPanelMenu .TopHeaderPanelStrip ul li a {
        color: #fff !important;
        font-size: .75vw;
        font-weight: 600; }
        header .HeaderPanelMenu .TopHeaderPanelStrip ul li a span {
          vertical-align: middle; }
        header .HeaderPanelMenu .TopHeaderPanelStrip ul li a:hover, header .HeaderPanelMenu .TopHeaderPanelStrip ul li a:active {
          color: #fff !important; }
  header .navbar-nav {
    justify-content: flex-end;
    padding: 0 1vw 0 0; }
  header .HeaderPanelMenu ul li {
    padding: 0 1vw; }
  header .btn.btn-primary {
    border: navajowhite;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  header .mobileShow {
    display: none; }
  header .LoginHeaderPanel a span {
    padding: 0 2px 0 0;
    font-weight: 600; }
  header .HeaderPanel {
    padding: 0;
    background: #FFFFFF !important;
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 1px 1px #ccc;
    top: 0; }
  header .HeaderRow {
    height: 7.5vw;
    padding: 1.8vw 0 0 0; }
  header .logo_vw {
    width: 9vw; }
  header .HeaderPanelLeft a {
    padding: 0 0 0 80px;
    margin: 0; }
  header .HeaderPanelLeft {
    width: 21%; }
  header .HeaderPanelRight {
    width: 11%; }
  header .Icon_vw {
    width: 2.5vw; }
  header .BtnStyle {
    background: #FFCA08;
    width: 11vw;
    height: 2.2vw;
    color: #000000;
    text-transform: uppercase;
    padding: 0;
    font-size: 0.7vw;
    margin: 0 0 0 0;
    -webkit-transition: 0.3s all ease-in;
    -moz-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
  header .HeaderPanelMenu ul {
    align-items: center; }
  header .HeaderPanelMenu ul li:first-child:before {
    display: none; }
  header .borderRight {
    content: '';
    display: block;
    background: #00448B;
    width: 1px;
    height: 1vw;
    left: 0px;
    top: 2px; }
  header .HeaderPanelMenu ul li.active a {
    color: #00448B !important; }
  header .HeaderPanelMenu ul li a {
    padding: 0 !important;
    color: #000000 !important;
    font-size: 1vw;
    text-transform: uppercase;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
    header .HeaderPanelMenu ul li a.morecourses {
      color: #00448B !important;
      display: inline-block !important;
      text-decoration: underline;
      height: auto !important;
      margin: 15px 0 0 0; }
      header .HeaderPanelMenu ul li a.morecourses:after {
        display: none !important; }
  header .HeaderPanelMenu ul li a:hover, header .HeaderPanelMenu ul li a:active {
    color: #00448B !important; }
  header .BtnStyle:hover {
    background: #FFCA08; }
  header .HeaderPanelMenu {
    width: 68%; }
  header .BtnIcon img {
    width: 1.2vw;
    margin: 0 4px 0 0; }
  header .ShowOnMobile {
    display: none !important; }
  header ul.DropDown_Menu {
    position: absolute;
    z-index: 99999;
    background: #fff;
    padding: 0;
    max-width: 75vw;
    border-bottom: 3px solid;
    padding: 0 1vw 1vw 1vw;
    display: none;
    margin: 0 0 0 0;
    left: 22vw;
    top: 100%;
    box-shadow: 0 -1px 1px #ccc; }
  header .Width_optional {
    width: auto !important;
    left: auto !important; }
  header .drop_Tile {
    border-right: 1px solid #B7B7B7; }
  header .drpMenuTitle {
    font-size: 1vw;
    padding: 1vw 0 0 0; }
  header .noborder {
    border: none; }
  header .DropPanelLEft {
    width: 23vw;
    float: left;
    padding: 0 2vw 0 1vw; }
  header .DropPanelInnerLEft {
    padding: 0 2vw 0 2vw;
    width: 23vw;
    float: left; }
  header .DropPanelInnerRight {
    float: left;
    padding: 1vw 0 0 0;
    width: 25vw; }
  header .DropPanelRight {
    width: 50vw;
    float: left; }
  header .DropDownList .DropDownMenu_Inner {
    padding: 1vw 0 0 0; }
  header .DropDownList ul.DropDownMenu_Inner li a {
    width: auto;
    height: auto;
    font-weight: 500;
    padding: 0 !important;
    display: block;
    color: #000000 !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 0.85vw; }
  header .DropDownList ul.DropDownMenu_Inner li a:hover, header .DropDownList ul.DropDownMenu_Inner li a:focus {
    color: #FFCA08 !important; }
  header .DropDownList .drop_Tile {
    border-right: 1px solid #B7B7B7; }
  header .DropDownList .DropDownMenu_Inner li {
    list-style: none;
    padding: 0.2vw 0 !important; }
  header .DropDownList .DropDownMenu_Inner li:before {
    display: none !important; }
  header .DropDownList .DropDownMenu_Inner li a:after {
    display: none !important; }
  header .SearchTextStyle {
    border-bottom: 2px solid #00448B !important;
    border: none;
    box-shadow: inherit;
    outline: 0 !important;
    height: 3vw;
    width: 18.5vw;
    font-weight: 500;
    font-size: 1vw; }
  header .SearchToggle a {
    padding: 0 0.5vw 0 0; }
  header .SearchToggle a img {
    width: 2.5vw; }
  header .CloseIcon:after {
    content: 'x';
    font-family: inherit;
    color: #00448B;
    font-size: 1.8vw;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 500;
    cursor: pointer; }
  header .SearchToggle {
    position: absolute;
    right: 20px;
    display: none;
    background: #FFFFFF;
    padding: 0 0 0 1vw;
    top: 1.5vw;
    height: 3vw;
    top: 40px; }
  header .SearchTextStyle::-ms-clear {
    display: none; }
  header .searchOpen {
    display: block; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 2000px) and (max-width: 3000px) {
  header .HeaderPanelMenu ul li:first-child a:after {
    left: auto; }
  header .SearchTextStyle {
    height: 3vw; }
  header .SearchToggle {
    top: 35px;
    right: 18px; } }

@media (min-width: 1800px) and (max-width: 1920px) {
  header .SearchToggle {
    height: 3.5vw; } }

@media (min-width: 1366px) and (max-width: 1440px) {
  header .SearchToggle {
    right: 18px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }
  header {
    /***Search*/
    /***Search*/ }
    header .HeaderPanelMenu .TopHeaderPanelStrip {
      padding: 0 0px; }
      header .HeaderPanelMenu .TopHeaderPanelStrip ul li a {
        font-size: 0.95vw; }
    header .HeaderPanelLeft a {
      padding: 0 0 0 30px; }
    header ul.DropDown_Menu {
      width: 77vw;
      max-width: inherit;
      left: 19.3vw; }
    header .DropPanelLEft {
      width: 21vw;
      padding: 0 1vw 0 0vw; }
    header .DropPanelRight {
      width: 50vw; }
    header .DropPanelInnerLEft {
      width: 22vw; }
    header .DropPanelInnerRight {
      width: 28vw; }
    header .SearchToggle {
      right: 20px;
      top: 10px;
      z-index: 99;
      height: 4vw; }
    header .CloseIcon:after {
      font-size: 2.5vw;
      right: 0; }
    header .SearchToggle a img {
      width: 2.5vw; }
    header .SearchTextStyle {
      height: 4vw;
      width: 25vw;
      font-size: 1.6vw; }
    header .BtnStyle {
      width: 14vw;
      font-size: 1vw;
      height: 3.2vw; }
    header .HeaderPanelRight {
      width: 14%; }
    header .navbar-nav {
      padding: 0; }
    header .HeaderPanelMenu ul li:first-child a:after {
      width: 100%;
      left: 0;
      bottom: 0px; }
    header .HeaderPanelLeft {
      width: 18%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    /**Menu As mobile*/
    /***EPM Oct 22 2019 header menu*/
    /***Sumbenu*/ }
    header .Show_Mobile {
      display: flex !important; }
      header .Show_Mobile .topMenuImg {
        max-width: 28px; }
    header .desktopshow {
      display: none !important; }
    header .navbar-collapse {
      border-bottom: 3px solid #00448B !important;
      padding: 20px 0;
      background: #fff; }
    header .HeaderPanelMenu ul {
      padding: 0 20px !important; }
    header .HeaderPanelMenu .TopHeaderPanelStrip {
      position: static;
      background: transparent; }
      header .HeaderPanelMenu .TopHeaderPanelStrip ul.topMenu {
        padding: 0 20px; }
      header .HeaderPanelMenu .TopHeaderPanelStrip ul li {
        padding: 0; }
        header .HeaderPanelMenu .TopHeaderPanelStrip ul li a {
          color: #000 !important;
          font-size: 1.5vw;
          font-weight: 600; }
          header .HeaderPanelMenu .TopHeaderPanelStrip ul li a:hover, header .HeaderPanelMenu .TopHeaderPanelStrip ul li a:active {
            color: #000 !important; }
    header .navbar-collapse {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 100%;
      margin: 0;
      border-top: 1px solid #ccc;
      box-shadow: inherit;
      z-index: 99999;
      max-height: 500px;
      overflow-y: scroll;
      border-bottom: 5px solid #00448B; }
    header .BtnIcon img {
      width: 2vw; }
    header .navbar-expand-lg .navbar-collapse {
      display: block !important; }
    header .collapse:not(.show) {
      display: none !important; }
    header .navbar-expand-lg .navbar-toggler {
      display: block !important; }
    header button.navbar-toggler.collapsed {
      display: block !important; }
    header .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: column !important;
      flex-direction: column !important; }
    header .HeaderPanelMenu ul li.activeOpen:after {
      transform: rotate(90deg); }
    header .HeaderPanelMenu ul li:first-child {
      padding: 0; }
    header .HeaderPanelMenu ul li:after {
      content: '';
      background: url(../src/img/home/arrow-side.png) no-repeat;
      width: 20px;
      height: 20px;
      display: block;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 5px; }
    header .drpMenuTitle {
      font-size: 13px;
      margin: 5px 0;
      padding: 8px 8px;
      text-transform: uppercase;
      background: #FFCA08; }
    header .HeaderPanelRight {
      width: 88%;
      justify-content: flex-end; }
    header .HeaderPanelMenu ul li:first-child a:after {
      display: none; }
    header .drpMenuTitle:after {
      content: '';
      background: url(../src/img/home/arrow-side.png) no-repeat;
      width: 20px;
      height: 20px;
      display: block;
      background-size: cover;
      position: absolute;
      top: 7px;
      right: 5px; }
    header .HeaderPanelMenu ul {
      padding: 20px 20px;
      box-shadow: inherit;
      background: #fff; }
    header .ToogleBtn {
      position: relative;
      margin: 0 0 0 20px; }
    header .navbar-toggler {
      border: none;
      background: #fafafa !important;
      float: right;
      padding: 0px !important;
      border: 1px solid #333 !important;
      border-radius: 100%;
      width: 30px;
      height: 30px; }
    header .ToogleBtn:before {
      content: '';
      background: #808080;
      width: 1.1px;
      height: 25px;
      display: block;
      position: absolute;
      left: -10px;
      top: 2px; }
    header .navbar-toggler:focus {
      outline: none;
      background: transparent !important; }
    header .navbar-toggler .icon-bar {
      background-color: #333;
      font-weight: 500;
      transform: rotate(0deg) translate(0px, 0px);
      transition: ease all .2s; }
    header .navbar-toggler .icon-bar {
      display: block;
      width: 15px;
      height: 2px;
      margin: 0 auto;
      border-radius: 1px; }
    header .navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px; }
    header .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:hover > .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:active > .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 4px);
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
      opacity: 0;
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
      transition: ease all .2s; }
    header .HeaderPanelMenu ul li:first-child a {
      width: auto;
      justify-content: flex-start;
      height: auto; }
    header .DropPanelLEft {
      width: 100%;
      float: none;
      border: none; }
    header .DropPanelRight {
      width: 100%;
      float: none; }
    header .DropPanelInnerLEft {
      padding: 0;
      width: 100%;
      float: none; }
    header .DropPanelInnerRight {
      float: none;
      padding: 0;
      width: 100%; }
    header .DropDownList .DropDownMenu_Inner {
      padding: 0 !important;
      box-shadow: inherit;
      border: none;
      width: 100%;
      float: none; }
    header .HeaderPanelMenu ul li a {
      font-size: 1.5vw; }
    header .HeaderPanelMenu ul li {
      padding: 0 0;
      width: 100%;
      text-align: left;
      margin: 10px 0;
      position: relative; }
    header .HeaderPanelLeft {
      width: 12%; }
    header .HeaderPanelLeft a {
      padding: 0;
      margin: 0; }
    header .HeaderPanelMenu ul li:first-child a:after {
      width: 100%;
      left: 0;
      bottom: 0px; }
    header .Icon_vw {
      width: 25px; }
    header .BtnStyle {
      width: 18vw;
      font-size: 1.4vw;
      margin: 0 5px 0 0;
      height: 3.5vw; }
    header ul.DropDown_Menu {
      width: 100%;
      position: static;
      max-width: 100%;
      padding: 10px 0 !important;
      box-shadow: inherit; } }

@media (min-width: 768px) and (max-width: 992px) {
  header {
    /***Search*/ }
    header .HeaderRow {
      height: 8vw; }
    header .SearchToggle {
      right: 10px;
      top: 12px;
      z-index: 9; }
    header .CloseIcon:after {
      font-size: 3vw;
      right: 0; }
    header .SearchToggle a img {
      width: 2.5vw; }
    header .SearchTextStyle {
      height: 5vw;
      width: 30vw;
      font-size: 1.6vw; } }

@media (max-width: 767px) {
  /**Header*/
  header {
    /***EPM Oct 22 2019 header menu*/
    /**Search*/
    /*.HeaderPanelMenu ul {
            padding: 20px 20px;
            border-bottom: 3px solid $colorBlue;
        }*/
    /***Sumbenu*/
    /***Sumbenu*/ }
    header .Show_Mobile {
      display: flex !important; }
      header .Show_Mobile .topMenuImg {
        max-width: 28px; }
    header .desktopshow {
      display: none !important; }
    header .navbar-collapse {
      border-bottom: 3px solid #00448B !important;
      padding: 20px 0; }
    header .HeaderPanelMenu ul {
      padding: 0 20px; }
    header .HeaderPanelMenu .TopHeaderPanelStrip {
      position: static;
      background: transparent; }
      header .HeaderPanelMenu .TopHeaderPanelStrip ul.topMenu {
        padding: 0 20px; }
      header .HeaderPanelMenu .TopHeaderPanelStrip ul li {
        padding: 0; }
        header .HeaderPanelMenu .TopHeaderPanelStrip ul li a {
          color: #000 !important;
          font-size: 14px;
          font-weight: 600;
          display: inline-block; }
          header .HeaderPanelMenu .TopHeaderPanelStrip ul li a:hover, header .HeaderPanelMenu .TopHeaderPanelStrip ul li a:active {
            color: #000 !important; }
    header .SearchToggle {
      right: 0;
      padding: 1vw 2vw;
      width: 100%;
      bottom: -40px;
      z-index: 9;
      height: 40px; }
    header .mobileHide {
      display: none !important; }
    header .mobileShow {
      display: block !important; }
    header .DetailList ul {
      padding: 0 0 0 20px; }
    header ul.DropDownMenu_Inner li:nth-child(4):after {
      display: block !important; }
    header .LoginHeaderPanel a:nth-child(2) picture img, header .LoginHeaderPanel a:nth-child(1) picture img {
      display: none; }
    header .LoginHeaderPanel a {
      font-weight: 600; }
    header .CloseIcon:after {
      font-size: 20px;
      right: 20px; }
    header .SearchTextStyle {
      height: auto;
      width: 96%;
      font-size: 16px; }
    header .SearchToggle a img {
      width: 30px; }
    header .HeaderRow {
      height: 70px;
      align-items: flex-end !important;
      padding: 0 10px 10px 10px; }
    header .HeaderPanelLeft a {
      padding: 0; }
    header .HeaderPanelLeft {
      width: 28%; }
    header .HeaderPanelRight {
      width: 72%;
      justify-content: flex-end; }
    header .Icon_vw {
      width: 30px; }
    header .logo_vw {
      width: 85px; }
    header .navbar-collapse {
      position: absolute;
      width: 100%;
      left: 0px;
      background: #fff;
      top: 100%;
      margin: 0;
      border-top: 1px solid #ccc;
      box-shadow: inherit;
      z-index: 99999;
      max-height: 500px;
      overflow-y: scroll; }
    header .HeaderPanelMenu ul li:first-child a {
      height: auto;
      width: auto;
      justify-content: flex-start;
      font-weight: 600; }
      header .HeaderPanelMenu ul li:first-child a.morecourses {
        font-size: 13px;
        margin: 10px 0;
        padding: 0 12px !important; }
    header .HeaderPanelMenu ul li:first-child {
      margin: 10px 0;
      border: none; }
    header .HeaderPanelMenu ul li:after {
      content: '';
      background: url(../src/img/home/arrow-side.png) no-repeat;
      width: 20px;
      height: 20px;
      display: block;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 5px; }
    header .HeaderPanelMenu ul li:first-child a:after {
      display: none; }
    header .HeaderPanelMenu ul li:first-child:after {
      background: url(../src/img/home/arrow-side.png) no-repeat;
      height: 20px;
      width: 20px;
      background-size: cover;
      top: 0px;
      bottom: auto;
      right: 5px; }
    header .HeaderPanelMenu ul li.activeOpen:after {
      transform: rotate(90deg); }
    header .HeaderPanelMenu ul li {
      width: 100%;
      text-align: left;
      margin: 10px 0;
      position: relative;
      padding: 0; }
    header .HeaderPanelMenu ul li a {
      font-size: 14px;
      font-weight: 600;
      display: inline-block; }
    header .navbar-toggler {
      border: none;
      background: #fafafa !important;
      float: right;
      padding: 0px !important;
      border: 1px solid #333 !important;
      border-radius: 100%;
      width: 30px;
      height: 30px; }
    header .ToogleBtn {
      position: relative;
      margin: 0 0 0 20px; }
    header ul.DropDown_Menu {
      position: static;
      max-width: 100%;
      border-bottom: none;
      margin: 0;
      padding: 10px 0px !important;
      box-shadow: inherit; }
    header .DropDownList ul.DropDownMenu_Inner li a {
      font-weight: 500 !important;
      padding: 5px 8px !important;
      display: block;
      color: #000000 !important;
      border-bottom: 1px solid #BEBEBE;
      box-shadow: inherit;
      border-radius: 0px;
      font-size: 12px;
      text-transform: initial;
      position: relative; }
    header .DropPanelInnerRight {
      width: 100%;
      padding: 10px 8px; }
    header .drpMenuTitle {
      font-size: 13px;
      margin: 5px 0;
      padding: 8px 8px;
      text-transform: uppercase;
      background: #FFCA08; }
    header .drpMenuTitle:after {
      content: '';
      background: url(../src/img/home/arrow-side.png) no-repeat;
      width: 20px;
      height: 20px;
      display: block;
      background-size: cover;
      position: absolute;
      top: 7px;
      right: 5px; }
    header .drpMenuTitle.ActiveTitle:after {
      transform: rotate(90deg); }
    header .DropDownMenu_Inner {
      border: none !important; }
    header .DropPanelInnerLEft {
      padding: 0;
      width: 100%;
      float: none; }
    header .DropPanelRight {
      width: 100%;
      float: none; }
    header .DropPanelLEft {
      width: 100%;
      float: none;
      border: none; }
    header .ToogleBtn:before {
      content: '';
      background: #808080;
      width: 1.1px;
      height: 25px;
      display: block;
      position: absolute;
      left: -10px;
      top: 2px; }
    header .navbar-toggler:focus {
      outline: none;
      background: transparent !important; }
    header .navbar-toggler .icon-bar {
      background-color: #333;
      font-weight: 500;
      transform: rotate(0deg) translate(0px, 0px);
      transition: ease all .2s; }
    header .navbar-toggler .icon-bar {
      display: block;
      width: 15px;
      height: 2px;
      margin: 0 auto;
      border-radius: 1px; }
    header .navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px; }
    header .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:hover > .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:active > .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 4px);
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
      opacity: 0;
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
      transition: ease all .2s; }
    header .BtnIcon img {
      width: 14px; }
    header .BtnStyle {
      width: 60px;
      height: 30px;
      font-size: 10px;
      margin: 0 4px 0 0;
      padding: 5px 5px !important;
      font-weight: 500; }
    header .ShowOnMobile {
      display: flex !important; }
    header .ForApplicant span {
      display: block;
      overflow: hidden; } }
