﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.HomePanel {
  /**Banner Section*/
  /**CArousel*/
  /***Specialisation*/
  /**Industry*/
  /***Courses*/
  /*.applyCourses:before {
        content: '';
        background: #fff;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
    }

    .applyCourses:after {
        content: '';
        background: #fff;
        right: -100%;
        position: absolute;
        width: 100%;
        height: 100%;StoriesContext 
        display: block;
        top: 0;
    }*/
  /**Stories***/
  /**Certification*/
  /**Award*/
  /**StudentAchievment*/
  /**Events***/
  /**Helpline Chat*/ }
  .HomePanel .ShowOnMobile {
    display: none; }
  .HomePanel .DisclaimerTExt.DisclaimerTExtTop {
    padding: 3vw 0vw 0 3vw;
    text-align: left;
    width: 100%; }
  .HomePanel .DownArrow {
    z-index: 99; }
  .HomePanel .DisclaimerTExt {
    text-align: left;
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-size: 12px; }
  .HomePanel .homeIndicatorStyle {
    margin: 0;
    left: 50%;
    right: auto;
    bottom: -7%;
    width: auto;
    z-index: 99; }
  .HomePanel #HomeCarouselPanel .carousel-inner .carousel-item {
    height: 38vw; }
  .HomePanel #HomeCarouselPanel .carousel-inner {
    overflow: visible; }
  .HomePanel .Visit_list.CourseFind a {
    color: #00448B; }
  .HomePanel .homeIndicatorStyle li.active {
    background: #00448B;
    width: 1.5vw;
    border-radius: 100vw;
    height: 0.5vw; }
  .HomePanel .homeIndicatorStyle li {
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 100vw;
    cursor: pointer;
    border: 1px solid #00448B; }
  .HomePanel .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important;
    margin: 0 0 4.3vw 0; }
  .HomePanel .BannerImg {
    float: right; }
  .HomePanel .BannerImg img {
    width: 70vw; }
  .HomePanel .BannerStripContext {
    width: 40vw;
    position: absolute;
    bottom: -75px;
    background: url("../src/img/home/banner-text-bg.png") no-repeat;
    display: flex;
    justify-content: center;
    padding: 3vw 0px 2.5vw 85px;
    font-size: 40px;
    height: 25vw;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .HomePanel .BannerStripContext h1 {
    font-size: 5.2vw;
    position: absolute;
    width: 50vw;
    left: 6.5vw;
    line-height: normal; }
  .HomePanel .HomeBtnStyle {
    font-size: 0.7vw;
    height: 3vw;
    background: #00448B;
    color: #FFFFFF !important;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .HomePanel .WatchPanel a img {
    width: 25px; }
  .HomePanel .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .HomePanel .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .HomePanel .Spl_list table {
    width: 100% !important;
    margin: 0 0 1vw 0; }
  .HomePanel .Spl_list tr {
    height: auto !important; }
  .HomePanel .splimg_Blk img {
    width: 100%; }
  .HomePanel .Spl_list td {
    font-weight: 500;
    font-size: 1.1vw;
    padding: 0.3vw 0.5vw;
    height: auto !important;
    vertical-align: initial; }
  .HomePanel .SplOverlapContext {
    width: 31vw;
    position: absolute;
    bottom: -75px;
    background: #00448B;
    color: #FFFFFF;
    height: auto;
    left: -15px;
    z-index: 9999;
    padding: 15px 20px;
    box-shadow: 0 5px 5px #ccc; }
  .HomePanel .Spl_Row {
    padding: 25px 0 0px 0; }
  .HomePanel .Spl_Context {
    padding: 0 80px 0 0 !important; }
  .HomePanel .SplOverlapContext a {
    color: #FFFFFF;
    font-size: 0.9vw;
    padding: 10px 0 0 0;
    display: inline-block;
    cursor: pointer; }
  .HomePanel .Spl_Context h2 {
    color: #00448B;
    margin: 30px 0 15px 0; }
  .HomePanel .Spl_Context h2:before {
    position: absolute;
    content: '';
    background: #EF3F3F;
    width: 40px;
    height: 3px;
    top: -15px; }
  .HomePanel .Spl_Context h3 {
    padding: 0 0 15px 0; }
  .HomePanel .Spl_list p:before {
    content: '';
    background: #5E5E5E;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 8px;
    left: 0px;
    display: block; }
  .HomePanel .Spl_list p {
    margin: 0 0 5px 0;
    position: relative;
    font-weight: 500;
    padding: 0 0 0 10px;
    font-size: 1.1vw; }
  .HomePanel .industryStrip {
    background: #FFCA08;
    height: 7.3vw;
    margin: 0 0 30px 0; }
  .HomePanel .industryPanel .link_list {
    text-align: right; }
  .HomePanel .IndContext {
    width: 33.8vw; }
  .HomePanel .industryPanel {
    padding: 80px 0 40px 0;
    z-index: 999;
    position: relative; }
  .HomePanel .industryPanel .link_list {
    position: absolute;
    top: 10vw;
    right: 0; }
  .HomePanel .industryStrip h2 {
    font-size: 3vw;
    margin: 0 -1.4vw 0 0; }
  .HomePanel .IndContext h3 {
    padding: 0 0 0 0; }
  .HomePanel .Num_Title {
    font-size: 1.32vw;
    padding: 0 0 0 30px; }
  .HomePanel .Numb_list {
    font-size: 5vw;
    color: #00448B; }
  .HomePanel .industry_blockList {
    margin: 0 -40px;
    padding: 4vw 0px; }
  .HomePanel .ind_CompanyList {
    padding: 0 85px 12px 85px;
    margin: 0 -7px; }
  .HomePanel .Ind_inn {
    padding: 0 40px; }
  .HomePanel .ind_Logo img {
    width: 100%; }
  .HomePanel .StyleForSlickArrows .slick-next {
    right: 7px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .HomePanel .StyleForSlickArrows .slick-prev, .HomePanel .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 2.6vw;
    top: 35%;
    background-size: 100% 100% !important; }
  .HomePanel .StyleForSlickArrows .slick-prev {
    left: 7px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .HomePanel .ind_Logo {
    padding: 0 7px; }
  .HomePanel .StyleForSlickArrows .slick-prev:before, .HomePanel .StyleForSlickArrows .slick-next:before {
    display: none; }
  .HomePanel .clblk_Top {
    padding: 1vw 1.5vw 1vw 1vw;
    border-bottom: 1px solid #EEEEEE;
    min-height: 25vw;
    position: relative; }
  .HomePanel .courseIcon {
    width: 4.4vw; }
  .HomePanel .applyCourses .plr100 {
    padding: 0 100px; }
  .HomePanel .CL_bg {
    background: #FFFFFF;
    box-shadow: 0 0 5px 5px #ccc;
    min-height: 35vw; }
  .HomePanel .courseTitle {
    height: 5vw;
    overflow: hidden; }
  .HomePanel .courseTitle p {
    display: block;
    display: -webkit-box;
    max-height: 1.365vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .HomePanel .clblk_Top h2 {
    color: #00448B;
    display: block;
    display: -webkit-box;
    max-height: 3.9vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .HomePanel .coursesfor {
    color: #7C7C7C;
    height: 8.9vw;
    position: relative;
    overflow: hidden;
    padding: 0.5vw 0 0 0; }
  .HomePanel .coursesfor p {
    display: block;
    display: -webkit-box;
    max-height: 2.34vw;
    font-size: 0.9vw;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .HomePanel .coursesfor a {
    position: static;
    margin: 0.5vw 0 0 0; }
  .HomePanel .linebeforeText {
    position: relative;
    padding: 0 0 0 8px; }
  .HomePanel .CoursesList {
    margin: 0 -7px; }
  .HomePanel .linebeforeText:before {
    content: '-';
    position: absolute;
    left: 0px; }
  .HomePanel .CL_Block {
    padding: 0 7px; }
  .HomePanel .CoursesList .slick-list.draggable {
    overflow: visible; }
  .HomePanel .forApplication span {
    display: block;
    color: #7C7C7C;
    font-weight: 500; }
  .HomePanel .forApplication .linebeforeText:before {
    display: none; }
  .HomePanel .forApplication .linebeforeText {
    padding: 0; }
  .HomePanel .TextOverlap {
    color: #FFFFFF;
    text-transform: uppercase;
    position: absolute;
    font-size: 10vw;
    top: -24%;
    left: -11%;
    width: 100%;
    height: 100%;
    z-index: 0; }
  .HomePanel .forApplication {
    padding: 1vw 1vw 1vw 1vw;
    border-bottom: 1px solid #EEEEEE;
    min-height: 6vw;
    overflow: hidden; }
  .HomePanel .forApplication span {
    display: block;
    color: #7C7C7C;
    font-weight: 500;
    display: block;
    display: -webkit-box;
    max-height: 1.17vw;
    font-size: 0.9vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .HomePanel .forApplication p {
    margin: 0 0 5px 0;
    display: block;
    display: -webkit-box;
    max-height: 1.365vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .HomePanel .CheckBlk {
    padding: 1.5vw 30px; }
  .HomePanel .checkBtnStyle {
    border: 1px solid #00448B;
    color: #00448B !important;
    height: 2.5vw; }
  .HomePanel .clrBorder1 {
    border-bottom: 3px solid #FFCA08; }
  .HomePanel .clrBorder2 {
    border-bottom: 3px solid #EF3F3F; }
  .HomePanel .clrBorder3 {
    border-bottom: 3px solid #00448B; }
  .HomePanel .clrBorder4 {
    border-bottom: 3px solid #FFCA08; }
  .HomePanel .clrBorder5 {
    border-bottom: 3px solid #EF3F3F; }
  .HomePanel .clrBorder6 {
    border-bottom: 3px solid #00448B; }
  .HomePanel .clrBorderBlue {
    border-bottom: 3px solid #00448B; }
  .HomePanel .clrBorderYellow {
    border-bottom: 3px solid #FFCA08; }
  .HomePanel .CoursesPanel {
    margin: 50px 0 0 0;
    z-index: 99; }
  .HomePanel .clrBorderRed {
    border-bottom: 3px solid #EF3F3F; }
  .HomePanel .course_iconStyle {
    max-height: 6vw;
    overflow: hidden;
    min-height: 6vw; }
  .HomePanel .applyCourses {
    background: #FFFFFF;
    padding: 5vw 0 3vw 0;
    text-align: right;
    margin: -3vw 0 0 0;
    position: relative;
    z-index: 9; }
  .HomePanel .Visit_list.CourseFind a {
    background: #FFFFFF; }
  .HomePanel .Visit_list.CourseFind a:hover {
    background: #00448B;
    color: #FFFFFF; }
  .HomePanel .ApplyNow.CourseFind a {
    background: #00448B; }
  .HomePanel .ApplyNow.CourseFind a:hover {
    color: #00448B;
    background: #FFFFFF;
    border-color: #00448B; }
  .HomePanel .crseTitle {
    padding: 0px 0 25px 0; }
  .HomePanel .StyleForSlickArrowsBottom .slick-prev, .HomePanel .StyleForSlickArrowsBottom .slick-next {
    left: 50px;
    top: auto;
    bottom: 30px; }
  .HomePanel .StyleForSlickArrowsBottom .slick-prev {
    left: 0px; }
  .HomePanel .StyleForSlickArrowsTop .slick-prev, .HomePanel .StyleForSlickArrowsTop .slick-next {
    right: 7px;
    top: -13%; }
  .HomePanel .StyleForSlickArrowsTop .slick-prev {
    right: 7%;
    left: auto; }
  .HomePanel .BtnBlue {
    border: 1px solid #00448B;
    color: #00448B; }
  .HomePanel .BtnRed {
    background: #EF3F3F;
    border: 1px solid transparent;
    color: #FFFFFF; }
  .HomePanel .BtnRed:hover {
    border: 1px solid #EF3F3F;
    color: #EF3F3F; }
  .HomePanel .HomeCoursePanel {
    padding: 50px 0 0 0;
    overflow: hidden; }
  .HomePanel .HomeCourseBg {
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    background-position: bottom; }
  .HomePanel .HomeCourseBg:after {
    content: '';
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    position: absolute;
    background-position: center center;
    width: 100%;
    height: 100%;
    top: -20%;
    background-size: 45%;
    left: 10%;
    z-index: 0; }
  .HomePanel .knowMoreStyle {
    text-decoration: underline !important;
    font-size: 0.9vw;
    color: #00448B !important;
    margin: 10px 0 0 0;
    display: inline-block; }
  .HomePanel .storiesPanStyle {
    padding: 35px 7px; }
  .HomePanel .Studentstories .link_list {
    position: relative;
    z-index: 9; }
  .HomePanel .StoriesContext {
    background: #FFFFFF;
    padding: 1vw 1.5vw 1vw 1.5vw;
    display: table-cell;
    position: relative;
    top: -60px;
    left: 6.3vw;
    width: 21vw;
    height: 16vw;
    box-shadow: 0 5px 5px #ccc; }
  .HomePanel .StoriesContext h3 {
    display: block;
    display: -webkit-box;
    max-height: 1.56vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1vw 0; }
  .HomePanel .StoriesContext h2 {
    display: block;
    display: -webkit-box;
    max-height: 1.95vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .HomePanel .StoriesContext p {
    display: block;
    display: -webkit-box;
    max-height: 5.46vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1vw 0;
    height: 6vw; }
  .HomePanel .StoriesContext a {
    text-decoration: underline;
    font-size: 0.9vw;
    color: #00448B; }
  .HomePanel .storiesPanStyle img {
    width: 21vw; }
  .HomePanel .StoryTitleStrip {
    background: #FFCA08; }
  .HomePanel .StoryTitleStrip p {
    position: absolute;
    top: -23%;
    font-size: 2.5vw;
    font-weight: 800; }
  .HomePanel .StoryTitleStrip {
    background: #FFCA08;
    width: 27.4vw;
    text-align: center;
    position: relative;
    height: 7.3vw; }
  .HomePanel .StoryTitleStrip h2 {
    font-size: 5.2vw; }
  .HomePanel .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .HomePanel .Studentstories {
    margin: 50px 0 0 0; }
  .HomePanel .link_list {
    padding: 1.5vw 0px 2vw 0; }
  .HomePanel .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .HomePanel .HCBlk span {
    position: relative;
    top: -10px; }
  .HomePanel .HCBlk {
    padding: 0 48px; }
  .HomePanel .HC_row {
    margin: -30px -48px 0 -48px;
    padding: 0 0 18vw 6.2vw; }
  .HomePanel .HC_List {
    min-height: 12vw; }
  .HomePanel .HC_List p {
    line-height: initial; }
  .HomePanel .CertifcationBg {
    background: url(../src/img/home/pattern-bg.jpg);
    background-size: cover; }
  .HomePanel .CrtInner {
    margin: -14vw 0 0 0;
    padding: 0 0 30px 0; }
  .HomePanel .StripforTwoContext {
    position: relative;
    top: -50px;
    background: #FFCA08;
    height: 7.3vw;
    width: 30vw; }
  .HomePanel .StripforTwoContext h2 {
    margin: 0 -5vw -2vw 0;
    font-size: 3vw; }
  .HomePanel .AwardContext {
    background: #FFFFFF;
    padding: 1.5vw 2vw 1.5vw 2vw;
    display: block;
    position: relative;
    top: -60px;
    left: 2.2vw;
    width: 92%;
    height: 11vw;
    overflow: hidden;
    box-shadow: 0 5px 5px #ccc; }
  .HomePanel .AwardContext p {
    margin: 0 0 1vw 0;
    display: block;
    display: -webkit-box;
    max-height: 7.8vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .HomePanel .DarkGrayTitle {
    color: #DDDDDD;
    font-size: 7.2vw;
    position: relative;
    top: -1vw;
    margin: 0 0 20px 0; }
  .HomePanel .AwardSectionIner {
    padding: 50px 0 0 0; }
  .HomePanel .AwardSectionIner h2 {
    left: 1vw; }
  .HomePanel .ForAwardCarouselStyle {
    margin: -7.5vw -7px 0 -7px; }
  .HomePanel .ResearchContext p {
    padding: 40px 0 0 0;
    line-height: 24px;
    min-height: 8vw;
    text-align: center; }
  .HomePanel .ResearchPanel {
    margin: 60px 0 0 0; }
  .HomePanel .ResearchSlick {
    padding: 20px 0 65px 0;
    z-index: 9;
    position: relative;
    z-index: 9; }
  .HomePanel .ResearchLogoBanner:after {
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    content: '';
    position: absolute;
    top: 25%;
    right: 100px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-position: right;
    width: 100%;
    background-size: 45%; }
  .HomePanel .WhiteBg {
    background: url(../src/img/home/white-bg-pattern.jpg) no-repeat;
    background-size: cover;
    background-position: center; }
  .HomePanel .EventPanelStyle img {
    width: 100%; }
  .HomePanel .EventBg {
    margin: -85px 0 0 0;
    overflow: hidden; }
  .HomePanel .studenAchieveBanner:before {
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    background-position: left;
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -22%;
    background-size: 100%;
    z-index: 0; }
  .HomePanel .SectionLogoBanner:before {
    content: '';
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    background-size: 50%;
    position: absolute;
    top: 70px;
    left: 50px;
    width: 100%;
    height: 100%; }
  .HomePanel .AchieveInner {
    padding: 30vh 0 3vh 0; }
  .HomePanel .AchieveTitle p {
    line-height: 10px; }
  .HomePanel .AchieveContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .HomePanel .AchieveTitleBlock p {
    position: relative;
    top: 1vw; }
  .HomePanel .AchieveTitleBlock h2 {
    margin: 0 0 20px 0; }
  .HomePanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .HomePanel .AchieveContextInn {
    background: #FFCA08;
    padding: 1vw 3vw 1vw 2vw;
    height: 13vw; }
  .HomePanel .AchieveContextPAra {
    overflow: hidden;
    height: 8vw; }
  .HomePanel .AchieveContextInn p {
    display: block;
    display: -webkit-box;
    max-height: 7.8vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .HomePanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .HomePanel .noPadding {
    padding: 0px; }
  .HomePanel .Event_Inner h2 {
    padding: 4.6vh 0; }
  .HomePanel .EventCarousel {
    z-index: 99;
    position: relative; }
  .HomePanel .HomeEventCarousel {
    z-index: 9; }
  .HomePanel .eventContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .HomePanel .EventContStyle {
    background: #00448B;
    padding: 2vw 1vw 1vw 2vw;
    color: #FFFFFF;
    height: 13vw;
    overflow: hidden; }
  .HomePanel .EventContStyle h4 {
    display: block;
    display: -webkit-box;
    max-height: 1.95vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .HomePanel .EventPara {
    height: 6vw;
    overflow: hidden; }
  .HomePanel .EventContStyle a {
    color: #FFFFFF !important; }
  .HomePanel .EventPara p {
    display: block;
    display: -webkit-box;
    max-height: 6.24vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .HomePanel .Events_Impact_Panel {
    padding: 180px 0px 40px 6.2vw;
    margin: 0 -48px; }
  .HomePanel .HomeEventImg {
    padding: 0 100px 0 0; }
  .HomePanel .HomeEventImg img {
    width: 100%; }
  .HomePanel .Ev_Im_List {
    padding: 0 48px; }
  .HomePanel .RotateTitlePosition {
    transform: rotate(270deg);
    position: absolute;
    z-index: 9;
    padding: 0px !important;
    width: 100%;
    height: 100%;
    bottom: 32%;
    left: -1vw;
    font-size: 3vw; }
  .HomePanel .eventContextForHome {
    padding: 0 0 0 7vw; }
  .HomePanel .PadSpacing {
    padding: 1.5vw 0px 2vw 9vw; }
  .HomePanel .helplineChatInner {
    position: fixed;
    top: 35%;
    right: 2%;
    border-radius: 100vw;
    padding: 0.5vw 0.2vw;
    z-index: 999; }
  .HomePanel .helplineChatInner a span {
    display: block;
    padding: 5px 0 0 0; }
  .HomePanel .helplineChatInner a img {
    width: 35px; }
  .HomePanel .helplineChatInner a {
    color: #000000;
    display: block;
    margin: 10px 0;
    font-size: 0.95vw;
    text-align: center;
    font-weight: 600; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 2000px) and (max-width: 3000px) {
  .HomePanel .cmpinn img {
    width: 100%; }
  .HomePanel .Events_Impact_Panel {
    margin: 0 -58px; }
  .HomePanel .Ev_Im_List {
    padding: 0px 58px; }
  .HomePanel .TextOverlap {
    left: -5%; }
  .HomePanel .TextOverlap {
    left: -7%; }
  .HomePanel .ForAwardCarouselStyle {
    margin: -5.5vw -7px 0 -7px; }
  .HomePanel .CoursesPanel {
    margin: 100px 0 0 0; }
  .HomePanel .StyleForSlickArrowsBottom .slick-prev {
    left: 0; }
  .HomePanel .StyleForSlickArrowsBottom .slick-next {
    left: 80px; }
  .HomePanel .guestPanelStyle img {
    width: 100%; }
  .HomePanel .EventPanelStyle img {
    width: 100%; } }

@media (min-width: 1800px) and (max-width: 1920px) {
  .HomePanel .Ind_inn {
    padding: 0 25px; }
  .HomePanel .StyleForSlickArrowsBottom .slick-next {
    left: 60px; }
  .HomePanel .Events_Impact_Panel {
    margin: 0 -50px; }
  .HomePanel .Ev_Im_List {
    padding: 0px 50px; }
  .HomePanel .TextOverlap {
    left: -7%; }
  .HomePanel .ForAwardCarouselStyle {
    margin: -6.5vw -7px 0 -7px; }
  .HomePanel .industry_blockList {
    margin: 0 -25px; } }

@media (min-width: 1600px) and (max-width: 1800px) {
  .HomePanel .SplOverlapContext {
    height: auto; }
  .HomePanel #HomeCarouselPanel .carousel-inner .carousel-item {
    height: 34vw; }
  .HomePanel .homeIndicatorStyle {
    bottom: -19%; } }

@media (min-width: 1200px) and (max-width: 1365px) {
  .HomePanel .RotateTitlePosition {
    bottom: 160px;
    font-size: 2.5vw; }
  .HomePanel .StyleForSlickArrows .slick-prev, .HomePanel .StyleForSlickArrows .slick-next {
    width: 30px;
    height: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px !important; }
  .paraLittle {
    font-size: 1.1vw; }
  .titleh4 {
    font-size: 1.6vw; }
  .paraSmall {
    font-size: 1.5vw; }
  .titleh4 {
    font-size: 1.8vw; }
  .para_three {
    font-size: 1.5vw; }
  .downArrowIcon {
    width: 3vw; }
  .HomePanel {
    /**Banner*/
    /***Watch Panel*/
    /**Chat Helpline*/
    /***Courses*/
    /***Future Needs*/
    /**STories*/
    /**Achievement*/
    /**Events*/
    /***Research*/ }
    .HomePanel .link_list a {
      font-size: 1.2vw; }
    .HomePanel .SectionLogoBanner:before {
      display: none; }
    .HomePanel .homeIndicatorStyle {
      bottom: -18%; }
    .HomePanel .HC_row {
      padding: 0 0 20vw 6.2vw; }
    .HomePanel .BannerImg img {
      width: 77vw; }
    .HomePanel .storiesPanStyle img {
      width: 25vw; }
    .HomePanel .BannerStripContext h1 {
      font-size: 4.5vw;
      left: 3vw;
      width: auto; }
    .HomePanel .breadcrumbCustom li {
      font-size: 0.9vw; }
    .HomePanel .HomeBtnStyle {
      font-size: 1vw;
      height: 4vw;
      width: 20vw; }
    .HomePanel .WatchPanel {
      right: 35px; }
    .HomePanel .helplineChatInner a {
      font-size: 1.2vw; }
    .HomePanel .CheckBlk {
      padding: 1.5vw 20px; }
    .HomePanel .SplOverlapContext {
      width: 35vw;
      height: auto;
      padding: 15px 15px; }
    .HomePanel .SplOverlapContext a {
      font-size: 1.3vw; }
    .HomePanel .StoriesContext a {
      font-size: 1.2vw; }
    .HomePanel .StoriesContext p {
      height: 5vw; }
    .HomePanel .StyleForSlickArrows .slick-prev, .HomePanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .HomePanel .CourseFind a {
      font-size: 1vw;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.5vw; }
    .HomePanel .StoryStyle button {
      display: none !important; }
    .HomePanel .StoryStyle.StyleForSlickArrows .slick-prev {
      left: 45%; }
    .HomePanel .StoryStyle.StyleForSlickArrows .slick-next {
      right: auto;
      left: 50%; }
    .HomePanel .StoryStyle.StyleForSlickArrows .slick-prev, .HomePanel .StoryStyle.StyleForSlickArrows .slick-next {
      top: auto;
      bottom: 25px; }
    .HomePanel .st_inn p {
      font-size: 1.3vw; }
    .HomePanel .ind_CompanyList {
      padding: 0 70px 12px 70px; }
    .HomePanel .StudentLivingPanel .StyleForSlickArrows .slick-next {
      right: auto;
      left: 50px; }
    .HomePanel .knowMoreStyle {
      font-size: 1vw; }
    .HomePanel .StyleForSlickArrowsBottom .slick-next {
      left: 35px; }
    .HomePanel .HomeEventCarousel {
      position: relative;
      z-index: 9; }
    .HomePanel .RotateTitlePosition {
      bottom: 150px;
      font-size: 2.5vw;
      left: -2vw; }
    .HomePanel .ResearchContext p {
      padding: 20px 0 0 0;
      font-size: 1.5vw; }
    .HomePanel .TextOverlap {
      left: -6%; }
    .HomePanel .ResearchLogoBanner:after {
      z-index: 1; } }

@media (min-width: 768px) and (max-width: 991px) {
  .plr100 {
    padding: 0 20px; }
  .helplineChatInner {
    top: 28%; }
  .plr20 {
    padding: 0 10px; }
  .paraSmall {
    font-size: 1.8vw; }
  .titleMedium {
    font-size: 3vw; }
  .para_three {
    font-size: 1.7vw; }
  .paraLittle {
    font-size: 1.2vw; }
  .titleh4 {
    font-size: 2.2vw; }
  .HomePanel {
    /***Banner****/
    /**Watch Panel*/
    /**Student Stories**/
    /**Student Stories**/
    /**Courses**/
    /***Industry**/
    /**Student Achievements*/
    /***Research***/
    /***EVents*/
    /***Award*/
    /***Certification*/
    /***Be History*/
    /**Future NEeds*/ }
    .HomePanel .link_list a {
      font-size: 1.4vw; }
    .HomePanel .SectionLogoBanner:before {
      display: none; }
    .HomePanel .BannerImg img {
      width: 85vw; }
    .HomePanel .homeIndicatorStyle li {
      width: 1vw;
      height: 1vw; }
    .HomePanel .homeIndicatorStyle li.active {
      width: 2.5vw;
      height: 1vw; }
    .HomePanel .homeIndicatorStyle {
      bottom: -30px;
      left: 55%;
      width: auto; }
    .HomePanel #HomeCarouselPanel .carousel-inner .carousel-item {
      height: 46vw; }
    .HomePanel .BannerStripContext {
      padding: 2.5vw 15px 2.5vw 15px; }
    .HomePanel .breadcrumb.breadcrumbCustom li {
      font-size: 1.5vw; }
    .HomePanel .BannerStripContext h1 {
      font-size: 4.5vw;
      display: flex;
      align-items: center;
      left: 4vw;
      width: auto; }
    .HomePanel .WatchPanel {
      right: 10px; }
    .HomePanel .applyCourses .plr100 {
      padding: 0px 20px; }
    .HomePanel .downArrowIcon {
      width: 3.5vw; }
    .HomePanel .DownArrow {
      bottom: -12%;
      left: 0; }
    .HomePanel .HomeBtnStyle {
      font-size: 1vw;
      width: 20vw;
      height: 5.2vw; }
    .HomePanel .helplineChatInner a {
      font-size: 1.2vw; }
    .HomePanel .StoryTitleStrip {
      width: 30vw;
      height: 10vw; }
    .HomePanel .StoryStyle button {
      display: none !important; }
    .HomePanel .StudentStoriesPanel {
      padding: 18vw 0 0 0; }
    .HomePanel .StoryTitleStrip p {
      top: -18%;
      font-size: 4.5vw; }
    .HomePanel .StoriesContext {
      width: 24vw;
      display: block;
      height: 20vw; }
    .HomePanel .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 2.6vw;
      font-size: 2vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .StoriesContext h3 {
      display: block;
      display: -webkit-box;
      max-height: 1.95vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .StoriesContext p {
      display: block;
      display: -webkit-box;
      max-height: 5.85vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 7vw; }
    .HomePanel .StoriesContext a {
      font-size: 1.4vw; }
    .HomePanel .StoryTitleStrip h2 {
      font-size: 6vw; }
    .HomePanel .storiesPannInn.StyleForSlickArrows .slick-next {
      right: 7px;
      left: auto; }
    .HomePanel .storiesPannInn.StyleForSlickArrows .slick-prev {
      right: 50px;
      left: auto; }
    .HomePanel .storiesPannInn .StyleForSlickArrows .slick-prev, .HomePanel .storiesPannInn.StyleForSlickArrows .slick-next {
      top: 0; }
    .HomePanel .TextOverlap {
      left: -6%;
      top: -18%; }
    .HomePanel .CLK_blk a {
      font-size: 1.3vw; }
    .HomePanel .checkBtnStyle {
      height: 4.4vw; }
    .HomePanel .clblk_Top h2 {
      display: block;
      display: -webkit-box;
      max-height: 3.9vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .coursesfor p {
      display: block;
      display: -webkit-box;
      max-height: 3.12vw;
      font-size: 1.2vw;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .courseTitle p {
      display: block;
      display: -webkit-box;
      max-height: 2.34vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .coursesfor {
      height: 10vw; }
    .HomePanel .clblk_Top {
      padding: 2vw 2vw;
      min-height: 29vw; }
    .HomePanel .CheckBlk {
      padding: 2.5vw 20px; }
    .HomePanel .forApplication p {
      display: block;
      display: -webkit-box;
      max-height: 1.69vw;
      font-size: 1.3vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .forApplication {
      padding: 2vw 2vw; }
    .HomePanel .forApplication span {
      display: block;
      display: -webkit-box;
      max-height: 1.56vw;
      font-size: 1.2vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .CoursesPanel {
      margin: 0px 0 0 0; }
    .HomePanel .CoursesPanel .StyleForSlickArrowsTop .slick-prev, .HomePanel .CoursesPanel .StyleForSlickArrowsTop .slick-next {
      right: 7px;
      top: -12%; }
    .HomePanel .CoursesPanel .StyleForSlickArrowsTop .slick-prev {
      right: 60px;
      left: auto; }
    .HomePanel .StyleForSlickArrows .slick-prev, .HomePanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .HomePanel .CourseFind a {
      font-size: 1.5vw;
      height: 35px; }
    .HomePanel .Visit_list a {
      width: auto;
      padding: 0 10px !important;
      display: flex;
      align-items: center; }
    .HomePanel .ApplyNow a {
      width: 16vw;
      height: 35px;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center; }
    .HomePanel .industryStrip h2 {
      font-size: 3.5vw;
      margin: 0 -3vw 0 0; }
    .HomePanel .industryStrip {
      height: 10vw; }
    .HomePanel .IndContext h3 {
      padding: 0 0 0 0vw; }
    .HomePanel .ind_CompanyList {
      padding: 0 40px 12px 40px; }
    .HomePanel .industry_blockList {
      margin: 0 -20px; }
    .HomePanel .Ind_inn {
      padding: 0 20px; }
    .HomePanel .AchieveInner {
      padding: 20vh 0 3vh 0; }
    .HomePanel .studenAchievPanel .CarouselforSlick button {
      display: none !important; }
    .HomePanel .AchieveContextPAra {
      height: 9vw; }
    .HomePanel .AchieveContextInn {
      background: #FFCA08;
      height: 16vw; }
    .HomePanel .AchieveContextInn p {
      display: block;
      display: -webkit-box;
      max-height: 9.36vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .AchieveTitleBlock p {
      position: relative;
      top: 5px; }
    .HomePanel .knowMoreStyle {
      font-size: 1.5vw; }
    .HomePanel .StripforTwoContext h2 {
      margin: 0 -8vw -3vw 0px;
      font-size: 4vw; }
    .HomePanel .ResearchContext p {
      padding: 20px 0 0 0;
      line-height: inherit;
      font-size: 1.7vw; }
    .HomePanel .HomeEventImg {
      padding: 0 20px 0 0; }
    .HomePanel .EventContStyle {
      height: 16vw; }
    .HomePanel .EventContStyle h4 {
      display: block;
      display: -webkit-box;
      max-height: 2.34vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .EventPara {
      height: 7vw; }
    .HomePanel .EventPara p {
      display: block;
      display: -webkit-box;
      max-height: 7.02vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .RotateTitlePosition {
      bottom: 13vw;
      left: 2vw;
      font-size: 3.5vw; }
    .HomePanel .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-prev {
      left: 0px;
      bottom: 10px; }
    .HomePanel .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-next {
      bottom: 60px;
      left: 0; }
    .HomePanel .HomeEventCarousel.OneBlockCarousel {
      z-index: 9; }
    .HomePanel .ForAwardCarouselStyle {
      margin: -10.5vw 0 0 0; }
    .HomePanel .ForAwardCarouselStyle button {
      display: none !important; }
    .HomePanel .AwardContext {
      height: 14vw; }
    .HomePanel .AwardContext p {
      display: block;
      display: -webkit-box;
      max-height: 9.75vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      height: 9vw; }
    .HomePanel .storiesPanStyle img {
      width: 25vw; }
    .HomePanel .StripforTwoContext {
      width: 35vw;
      height: 10vw; }
    .HomePanel .HCBlk {
      padding: 0 10px; }
    .HomePanel .HC_row {
      margin: -30px -10px 0 -10px;
      padding: 0 0 25vw 6.2vw; }
    .HomePanel .HC_List {
      min-height: 22vw; }
    .HomePanel .HC_List p {
      line-height: inherit; }
    .HomePanel .Spl_Context {
      padding: 0 51px 0 0 !important; }
    .HomePanel .SplOverlapContext {
      width: 40vw;
      height: auto; }
    .HomePanel .SplOverlapContext a {
      font-size: 1.5vw; } }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .para_three {
    font-size: 12px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  .row {
    margin: 0px; }
  .DisclaimerTExt.DisclaimerTExtTop {
    padding: 10px 0 20px 0 !important; }
  /**Common Ends***/
  .HomePanel {
    /***Banner****/
    /***Watch Panel*/
    /**Industry UPES*/
    /***Achievements***/
    /**Courses**/
    /**Courses**/
    /***Mobile Accordion***/
    /***Stories**/
    /***Future Needs*/
    /***Be History*/
    /***Certifications*/
    /***Awards***/
    /***Research*/
    /**EVents*/ }
    .HomePanel .mlr {
      margin: 0; }
    .HomePanel .Spl_list p {
      font-size: 13px; }
    .HomePanel .ResearchContext {
      text-align: center; }
    .HomePanel table {
      width: 100% !important; }
    .HomePanel .StyleForSlickArrows .slick-prev, .HomePanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 10px; }
    .HomePanel .StyleForSlickArrows .slick-prev {
      left: auto;
      right: 22%; }
    .HomePanel .paraLittle {
      font-size: 10px; }
    .HomePanel .paraSmall {
      font-size: 12px; }
    .HomePanel .titleh3 {
      font-size: 30px; }
    .HomePanel .titleh4 {
      font-size: 16px; }
    .HomePanel .CoursesList .slick-list.draggable {
      overflow: hidden !important; }
    .HomePanel ul.slick-dots {
      display: none !important; }
    .HomePanel .row {
      margin: 0px !important; }
    .HomePanel .ind_CompanyList {
      margin: 0 0px; }
    .HomePanel .homeIndicatorStyle li {
      width: 6px;
      height: 6px;
      border-radius: 100px; }
    .HomePanel .LoginHeaderPanel a {
      font-weight: 600; }
    .HomePanel .homeIndicatorStyle {
      bottom: -110px;
      left: 40%; }
    .HomePanel #HomeCarouselPanel .carousel-inner .carousel-item {
      height: auto; }
    .HomePanel .homeIndicatorStyle li.active {
      width: 20px;
      border-radius: 100px;
      height: 6px; }
    .HomePanel .BannerImg {
      width: 100%;
      float: none; }
    .HomePanel .BannerImg img {
      width: 100%; }
    .HomePanel .banner {
      z-index: 1;
      margin-bottom: 60px; }
    .HomePanel .BannerStripContext h1 {
      font-size: 20px;
      position: static;
      width: auto; }
    .HomePanel .BannerStripContext {
      width: 80%;
      bottom: -20px;
      padding: 15px 20px;
      height: 240px;
      background-position: -7px;
      left: 0; }
    .HomePanel .downArrowIcon {
      width: 30px; }
    .HomePanel .DownArrow {
      bottom: 15px;
      text-align: center;
      left: auto;
      right: 0;
      width: 20%;
      z-index: 99; }
    .HomePanel .breadcrumbPanel {
      position: absolute;
      left: 20px;
      bottom: 130px; }
    .HomePanel .breadcrumbCustom li {
      font-size: 13px;
      font-weight: 500; }
    .HomePanel .WatchPanel {
      position: relative;
      bottom: 30px;
      right: auto;
      z-index: 9;
      display: block !important;
      left: 10px;
      width: 95%; }
    .HomePanel .helplineChatInner {
      display: none; }
    .HomePanel .WatchPanel a img {
      width: 20px; }
    .HomePanel .helplineChatInner a {
      margin: 10px 0;
      font-size: 11px; }
    .HomePanel .HomeBtnStyle {
      font-size: 10px;
      height: auto;
      width: 50%;
      margin: 0 0 6px 0;
      padding: 6px 10px 6px 20px; }
    .HomePanel .industryPanel {
      padding: 0px 15px 0 15px;
      margin: 70px 0 0 0; }
    .HomePanel .industryPanel .link_list {
      position: static; }
    .HomePanel .IndContext {
      width: 80%; }
    .HomePanel .industryStrip {
      height: auto;
      padding: 15px 15px; }
    .HomePanel .industryStrip h2 {
      font-size: 28px;
      margin: 0;
      position: static;
      left: 40px; }
    .HomePanel .col-sm-4.Ind_inn {
      padding: 12px 25px; }
    .HomePanel .Numb_list {
      font-size: 30px;
      width: 60%; }
    .HomePanel .Num_Title {
      font-size: 14px;
      padding: 0;
      width: 40%; }
    .HomePanel .industry_blockList {
      padding: 0px; }
    .HomePanel .industryPanel .link_list {
      text-align: center; }
    .HomePanel .ind_CompanyList.StyleForSlickArrows .slick-prev, .HomePanel .ind_CompanyList.StyleForSlickArrows .slick-next {
      bottom: -50px; }
    .HomePanel .ind_CompanyList.StyleForSlickArrows .slick-prev {
      left: 40%;
      right: auto; }
    .HomePanel .ind_CompanyList.StyleForSlickArrows .slick-next {
      right: 36%; }
    .HomePanel .ind_CompanyList {
      padding: 0 18px;
      margin: 0 0 50px 0; }
    .HomePanel .industryPanel .link_list a {
      font-size: 11px; }
    .HomePanel .AchieveInner {
      padding: 45px 0 0 0;
      z-index: 99; }
    .HomePanel .SectionLogoBanner:before {
      display: none; }
    .HomePanel .studenAchieveBanner:before {
      display: none; }
    .HomePanel .StudentLogoBanner {
      background: #f7f7f7; }
    .HomePanel .AchieveTitleBlock {
      padding: 0 15px; }
    .HomePanel .AchieveContext {
      padding: 0 0 0 60px; }
    .HomePanel .AchieveContextInn {
      padding: 20px 20px;
      height: 150px; }
    .HomePanel .AchieveContextPAra {
      height: 95px; }
    .HomePanel .AchieveContextInn p {
      display: block;
      display: -webkit-box;
      max-height: 83.2px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .studenAchievPanel .EventPanelStyle img {
      width: 280px; }
    .HomePanel .knowMoreStyle {
      font-size: 11px; }
    .HomePanel .studenAchievPanel .StyleForSlickArrows .slick-prev, .HomePanel .studenAchievPanel .StyleForSlickArrows .slick-next {
      display: none !important; }
    .HomePanel .link_list.ShowOnMobile {
      padding: 10px 15px; }
    .HomePanel .AchieveTitleBlock .link_list {
      display: none; }
    .HomePanel .StudentStoriesPanel {
      margin: -190px 0 0 0;
      padding: 0px; }
    .HomePanel .Studentstories {
      background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
      background-position: 0 -200px;
      background-size: cover;
      padding: 220px 15px 0 15px; }
    .HomePanel .LogoBanner:before {
      display: none; }
    .HomePanel .CoursesPanel {
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      margin: 0;
      background-size: cover;
      background-position: top; }
    .HomePanel .applyCourses .plr100 {
      padding: 0; }
    .HomePanel .coursesfor p {
      display: block;
      display: -webkit-box;
      max-height: 26px;
      font-size: 10px;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .CL_bg {
      min-height: 380px; }
    .HomePanel .CoursesList {
      margin: 0;
      padding: 30px 15px; }
    .HomePanel .CL_Block {
      padding: 0 0 0 15px;
      width: 75%;
      overflow: hidden; }
    .HomePanel .CoursesList .slick-list {
      padding: 0 15px; }
    .HomePanel .TextOverlap {
      position: relative;
      font-size: 55px;
      padding: 0 15px;
      height: auto;
      top: -15px;
      left: 0; }
    .HomePanel .crseTitle {
      padding: 0 15px;
      font-size: 20px;
      margin: -35px 0 0 0; }
    .HomePanel .applyCourses {
      background: #f7f7f7;
      padding: 70px 0 20px 0; }
    .HomePanel .courseIcon {
      width: 45px; }
    .HomePanel .CLK_blk {
      padding: 0 0 0 15px;
      width: 75%;
      overflow: hidden; }
    .HomePanel .coursesfor a {
      position: static;
      font-size: 10px; }
    .HomePanel .courseTitle {
      height: 65px; }
    .HomePanel .clblk_Top h2 {
      display: block;
      display: -webkit-box;
      max-height: 41.6px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .courseTitle p {
      display: block;
      display: -webkit-box;
      max-height: 15.6px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .clblk_Top {
      display: flex;
      border-bottom: none;
      padding: 15px 30px 15px 20px;
      min-height: 180px; }
    .HomePanel .course_iconStyle {
      min-height: inherit;
      width: 25%; }
    .HomePanel .CheckBlk a {
      height: 35px; }
    .HomePanel .CheckBlk {
      padding: 5.5vw 40px; }
    .HomePanel .forApplication span {
      display: inline-block;
      display: block;
      display: -webkit-box;
      max-height: 13px;
      font-size: 10px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .forApplication p {
      display: block;
      display: -webkit-box;
      max-height: 15.6px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .CoursesList.StyleForSlickArrows .slick-prev, .HomePanel .CoursesList.StyleForSlickArrows .slick-next {
      bottom: -30px; }
    .HomePanel .CoursesList.StyleForSlickArrows .slick-prev {
      left: 40%;
      right: auto; }
    .HomePanel .CoursesList.StyleForSlickArrows .slick-next {
      right: auto;
      left: 53%; }
    .HomePanel .coursesfor {
      height: 80px; }
    .HomePanel .forApplication {
      min-height: 85px;
      padding: 20px 20px;
      border-top: 1px solid #EEEEEE; }
    .HomePanel .Visit_list a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 11px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .HomePanel .Visit_list {
      margin: 0 0 10px 0; }
    .HomePanel .ApplyNow a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 11px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .HomePanel .applyCourses .d-flex {
      display: block !important;
      text-align: center; }
    .HomePanel .CoursesForMobile {
      padding: 0 15px; }
    .HomePanel .AccordionStyleForMobile {
      margin: 40px 0 0 0;
      box-shadow: 0 5px 5px #ccc;
      position: relative; }
      .HomePanel .AccordionStyleForMobile .table-cover {
        overflow-x: auto; }
      .HomePanel .AccordionStyleForMobile .CardHeaderPanel > a {
        display: block;
        position: relative;
        font-weight: 600;
        color: #000000;
        padding: 0 15px;
        /*border-bottom: 1px solid #FAFAFA;*/
        display: flex;
        height: 55px;
        align-items: center; }
      .HomePanel .AccordionStyleForMobile .CardHeaderPanel > a:after {
        content: '+';
        font-family: cursive;
        position: absolute;
        right: 15px;
        font-weight: 600;
        font-size: 30px;
        color: #000; }
      .HomePanel .AccordionStyleForMobile .CardHeaderPanel > a[aria-expanded="true"]:after {
        content: '-'; }
      .HomePanel .AccordionStyleForMobile .table-cover span {
        font-weight: 500 !important;
        font-size: 1vw; }
      .HomePanel .AccordionStyleForMobile .card-body.cardContext {
        padding: 0; }
      .HomePanel .AccordionStyleForMobile .card-header {
        background: inherit;
        border: none;
        padding: 0px; }
      .HomePanel .AccordionStyleForMobile .card {
        border: none;
        border-radius: 0px;
        margin: 10px 0; }
      .HomePanel .AccordionStyleForMobile .DetailsBlk {
        padding: 2.5vw 8vw; }
    .HomePanel .ParentStoriesPanel {
      padding: 30px 15px 15px 15px; }
    .HomePanel .ParentStoriesBG {
      background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
      background-position: 0 -200px;
      background-size: cover; }
    .HomePanel .StoryTitleStrip {
      width: 280px;
      padding: 0 15px;
      height: auto; }
    .HomePanel .storiesPanStyle {
      padding: 0px !important; }
    .HomePanel .storiesPanStyle img {
      width: 230px; }
    .HomePanel .StoryTitleStrip p {
      font-size: 30px;
      top: -38%; }
    .HomePanel .StoryTitleStrip h2 {
      font-size: 50px; }
    .HomePanel .StoriesContext {
      left: 40%;
      width: 200px;
      height: 175px;
      padding: 10px 15px; }
    .HomePanel .StoriesContext h3 {
      font-weight: 500;
      display: block;
      display: -webkit-box;
      max-height: 18.2px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 23.4px;
      font-size: 18px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 10px 0; }
    .HomePanel .StoriesContext p {
      display: block;
      display: -webkit-box;
      max-height: 62.4px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 10px 0;
      height: 65px; }
    .HomePanel .StoriesContext a {
      font-size: 11px; }
    .HomePanel .StoryStyle.StyleForSlickArrows .slick-next {
      right: 0px; }
    .HomePanel .StoryStyle.StyleForSlickArrows .slick-prev, .HomePanel .StoryStyle.StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 60px; }
    .HomePanel .StoryStyle.StyleForSlickArrows .slick-prev {
      left: auto;
      right: 0;
      bottom: 105px; }
    .HomePanel .Spl_Row {
      padding: 0px 15px 40px 15px; }
    .HomePanel .Spl_Context {
      padding: 0 0px 0 0 !important; }
    .HomePanel .SplOverlapContext {
      width: 80%;
      padding: 20px 10px;
      height: auto;
      left: 0; }
    .HomePanel .Spl_img {
      padding: 15px 0 0 0; }
    .HomePanel .SplOverlapContext h2 {
      font-size: 20px; }
    .HomePanel .SplOverlapContext a {
      font-size: 11px; }
    .HomePanel .link_list a {
      font-size: 11px; }
    .HomePanel .HC_row {
      padding: 0px; }
    .HomePanel .HCBlk {
      padding: 0 15px 20px 15px; }
    .HomePanel .HC_List p {
      line-height: inherit; }
    .HomePanel .HC_List {
      min-height: inherit;
      padding: 0 0 10px 0; }
    .HomePanel .CertifcationBg {
      background: #fff; }
    .HomePanel .StripforTwoContext {
      position: relative;
      top: 0;
      width: 200px;
      height: 70px; }
    .HomePanel .StripforTwoContext h2 {
      margin: 0 -8vh -2vh 0;
      font-size: 26px; }
    .HomePanel .ind_CompanyList {
      padding: 0; }
    .HomePanel .CrtInner {
      padding: 0 15px;
      margin: 0px; }
    .HomePanel .AwardsPanel {
      /*background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;*/
      background-position: bottom;
      background-size: cover;
      margin: 70px 0 0 0;
      background: #f2f2f2; }
    .HomePanel .ForAwardCarouselStyle.storiesPannInn {
      padding: 30px 0 0 0;
      margin: -55px 0 0 0; }
    .HomePanel .AwardSectionIner h2 {
      left: 0;
      margin: 0;
      font-size: 55px; }
    .HomePanel .AwardSectionIner {
      padding: 25px 15px 10px 15px; }
    .HomePanel .ForAwardCarouselStyle .storiesPanStyle img {
      width: 85%; }
    .HomePanel .AwardContext {
      width: 80%;
      left: 0px;
      height: 110px;
      float: right;
      box-shadow: inherit; }
    .HomePanel .AwardContext p {
      padding: 20px 15px;
      background: #fff;
      display: block;
      display: -webkit-box;
      max-height: 84.5px;
      font-size: 13px;
      line-height: 1.3;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .ForAwardCarouselStyle.StyleForSlickArrows .slick-next {
      right: 40%;
      left: auto; }
    .HomePanel .ForAwardCarouselStyle.StyleForSlickArrows .slick-prev {
      right: auto;
      left: 35%; }
    .HomePanel .ResearchPanel {
      margin: 0 0 0 0;
      padding: 0 15px; }
    .HomePanel .ResearchLogoBanner:after {
      display: none; }
    .HomePanel .ResearchContext p {
      padding: 20px 0 0 0;
      line-height: inherit;
      font-size: 13px;
      text-align: center; }
    .HomePanel .ResearchSlick {
      padding: 45px 0 65px 0;
      margin: 0 0 30px 0; }
    .HomePanel .ResearchSlick.StyleForSlickArrows .slick-prev {
      left: 35%;
      right: auto; }
    .HomePanel .ResearchSlick.StyleForSlickArrows .slick-next {
      right: 40%; }
    .HomePanel .Events_Impact_Panel {
      padding: 85px 0px 40px 0px;
      margin: 0 0px; }
    .HomePanel .CarouselforSlick.EventCarousel {
      overflow: hidden; }
    .HomePanel .EventPanelStyle {
      padding: 0 15px; }
    .HomePanel .EventContStyle {
      height: 140px; }
    .HomePanel .EventContStyle h4 {
      display: block;
      display: -webkit-box;
      max-height: 20.8px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .HomePanel .EventPara {
      height: 75px; }
    .HomePanel .EventPara p {
      display: block;
      display: -webkit-box;
      max-height: 54.6px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 5px 0; }
    .HomePanel .RotateTitlePosition {
      font-size: 24px;
      left: 30px;
      bottom: 85px;
      transform: rotate(0deg);
      position: static;
      padding: 10px 0 20px 0 !important;
      width: 100%; }
    .HomePanel .HomeCourseBg {
      padding: 0px; }
    .HomePanel .Ev_Im_List {
      padding: 0 15px; }
    .HomePanel .HomeEventImg {
      padding: 0; }
    .HomePanel .HomeEventCarousel.StyleForSlickArrows .slick-prev {
      bottom: 45px; }
    .HomePanel .HomeEventCarousel.StyleForSlickArrows .slick-next {
      bottom: 0px; }
    .HomePanel .HomeEventCarousel.StyleForSlickArrowsBottom .slick-prev, .HomePanel .HomeEventCarousel.StyleForSlickArrowsBottom .slick-next {
      left: -10px; } }

@media (min-width: 300px) and (max-width: 350px) {
  .HomePanel .StoryStyle.StyleForSlickArrows .slick-prev {
    left: 10%;
    right: auto;
    bottom: 105px; }
  .HomePanel .StoryStyle.StyleForSlickArrows .slick-next {
    right: auto;
    left: 10%; } }
