/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
header {
  background-color: #F7F7F7; }

.industry {
  background: #F7F7F7 url(../src/img/aboutus-page/bg.jpg) no-repeat;
  /**Banner*/
  /**Banner Section*/
  /**Orange-Strip*/
  /**Industry*/ }
  .industry .bg-lightwhite {
    background-color: #F7F7F7 !important; }
  .industry .bg-white {
    background-color: #fff; }
    .industry .bg-white .industryPanel {
      padding-top: 0; }
      .industry .bg-white .industryPanel .Orange-Strip {
        position: relative;
        top: -50px; }
  .industry a.color-blue {
    color: #00448B;
    text-decoration: underline;
    font-weight: 600; }
  .industry .pl7-5 {
    padding-left: 7.5px; }
  .industry .pr7-5 {
    padding-right: 7.5px; }
  .industry .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .industry .BannerImg {
    float: right; }
    .industry .BannerImg img {
      width: 70vw; }
  .industry .BannerStripContext {
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    justify-content: center;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 26vmax;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .industry .BannerStripContext .fontExBold {
    font-size: 6vw;
    position: absolute;
    width: 55vw;
    left: 6vmax;
    line-height: 12vh;
    top: -4.5vw; }
  .industry .BannerStripContext .StripContent {
    font-size: 1.85vw;
    padding-top: 12%;
    padding-right: 40px; }
  .industry .DownArrow {
    left: -5%; }
  .industry .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .industry .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .industry .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .industry .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    top: 25%;
    left: 7vw;
    padding: 0 50px 0 0;
    position: absolute; }
  .industry .BannerContextList li {
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0 0 4vh 0;
    position: relative; }
  .industry .BannerContextList li:before {
    content: '';
    background: #333;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: -8px;
    border-radius: 100%;
    top: 12px; }
  .industry .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
  .industry .wrapper-75 {
    width: 75vw;
    margin: auto; }
  .industry .f150 {
    font-size: 7.8vw; }
  .industry .f60 {
    font-size: 3.15vw; }
  .industry .accord-wrapper {
    /**Details Accordion*/ }
    .industry .accord-wrapper .DetailsBanner:before {
      content: '';
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      top: 0;
      background-position: 0px -35vh; }
    .industry .accord-wrapper .AchieveTitleBlock .link_list {
      position: absolute;
      right: 0;
      top: 10px; }
    .industry .accord-wrapper .appList.ApplyNow a {
      background: #FFCA08; }
    .industry .accord-wrapper .applyNowForDetail {
      padding: 8vh 0 5vh 0; }
    .industry .accord-wrapper .appList p {
      padding: 0 10px 0;
      font-size: 1.05vw;
      color: #606060; }
    .industry .accord-wrapper .colorLightWhite .CardHeaderPanel a {
      background: #F7F7F7;
      border-bottom: 2px solid #fff; }
    .industry .accord-wrapper .CardHeaderPanel > a {
      display: block;
      position: relative;
      font-weight: 600;
      color: #000000;
      font-size: 1.25vw;
      padding: 16px 25px;
      padding: 1.1713vw 1.8302vw;
      border-bottom: 2px solid #FAFAFA; }
    .industry .accord-wrapper .CardHeaderPanel > a:after {
      content: '>';
      font-family: monospace;
      position: absolute;
      right: 25px;
      font-weight: 600;
      font-size: 1.6vw;
      color: #A1A1A1;
      top: 12px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .industry .accord-wrapper .CardHeaderPanel > a[aria-expanded="true"]:after {
      content: '>';
      font-family: monospace;
      transform: rotate(270deg); }
    .industry .accord-wrapper .AccordionStyle {
      margin: 30px 0 0 0;
      background: #fff;
      box-shadow: 0 5px 5px #ccc;
      position: relative;
      border: 1px solid #EDEDED; }
    .industry .accord-wrapper .card-body.cardContext {
      padding: 20px 25px; }
    .industry .accord-wrapper .AccordionStyle .card-header {
      background: inherit;
      border: none;
      padding: 0px; }
    .industry .accord-wrapper .cardContext p {
      font-weight: 500;
      font-size: 1vw;
      line-height: 24px; }
    .industry .accord-wrapper .AccordionStyle .card {
      border: none;
      border-radius: 0px; }
  .industry .BannerStripContext {
    font-weight: bold; }
  .industry .Orange-Strip {
    height: 16vh;
    position: relative;
    width: 45vw; }
    .industry .Orange-Strip::before {
      background: #FFCA08;
      width: 36.8vw;
      content: '';
      height: 100%;
      position: absolute; }
    .industry .Orange-Strip .title {
      padding-left: 8vw;
      z-index: 1;
      font-weight: 900; }
  .industry .yellow-bg {
    background-color: #FFCA08; }
  .industry .section-1 {
    padding-top: 80px;
    padding-bottom: 65px; }
    .industry .section-1 .title1 {
      color: #d7d7d7;
      opacity: .5;
      letter-spacing: -5px;
      margin-top: -35px; }
    .industry .section-1 .title2 {
      color: #00448B;
      margin-top: -30px;
      padding-left: 7.5vw; }
    .industry .section-1::before {
      content: '';
      background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
      position: absolute;
      right: 0;
      height: 100%;
      width: 50%;
      background-position: 80%;
      background-size: contain;
      padding: 25vw; }
  .industry .section-4 .health-medical .titleh3 {
    font-weight: 600;
    font-size: 3.1vw; }
  .industry .section-4 .link-toggle {
    float: right;
    font-size: 1vw; }
  .industry .section-4 .accordion-title {
    padding-top: 60px;
    padding-bottom: 30px; }
    .industry .section-4 .accordion-title .link-toggle {
      margin-top: -30px;
      font-size: 1vw; }
  .industry .section-4 .inter-intern {
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
    padding-top: 135px;
    overflow: hidden; }
    .industry .section-4 .inter-intern .yellow-bg {
      height: 22.032vw; }
      .industry .section-4 .inter-intern .yellow-bg .titleh3 {
        padding-top: 50px; }
    .industry .section-4 .inter-intern .students-slide .slick-list {
      overflow: visible;
      margin: -7px; }
    .industry .section-4 .inter-intern .students-slide .student {
      padding: 0px 7px; }
      .industry .section-4 .inter-intern .students-slide .student .profile-wrapper {
        background-color: #fff; }
        .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .photo {
          width: 50%;
          margin-top: -7vw; }
        .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding: 0 .78125vw; }
          .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
            font-size: 24px;
            font-size: 1.25vw;
            font-weight: 600; }
          .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
            font-size: 20px;
            font-size: 1.05vw;
            color: #00448B; }
      .industry .section-4 .inter-intern .students-slide .student .details {
        background-color: #fff;
        box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.11);
        padding: 15px;
        padding-bottom: 30px; }
        .industry .section-4 .inter-intern .students-slide .student .details p {
          line-height: 1.8;
          font-size: 20px;
          font-size: 1.05vw;
          font-weight: 500;
          padding-bottom: 30px;
          padding-top: 15px; }
  .industry .section-5 {
    margin-top: 0px;
    background-size: 40%;
    background-position: 3% -50%;
    padding-bottom: 100px;
    background-color: #fff; }
    .industry .section-5::before {
      background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
      position: relative;
      height: 100%;
      width: 50%;
      background-position: 30%;
      background-size: contain;
      padding: 25vw;
      top: 200px; }
    .industry .section-5 .link-toggle {
      text-align: right;
      margin-top: -90px; }
    .industry .section-5 .accord-wrapper {
      padding-top: 60px;
      position: relative;
      z-index: 99; }
    .industry .section-5 .student-affairs .header-top {
      position: relative;
      top: -50px; }
    .industry .section-5 .contact-wrapper {
      padding-bottom: 30px; }
      .industry .section-5 .contact-wrapper h3 {
        font-size: 150px;
        font-size: 7.8vw;
        font-weight: 900;
        color: #DDDDDD;
        margin: 60px 0px; }
      .industry .section-5 .contact-wrapper .header {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 1.25vw; }
      .industry .section-5 .contact-wrapper .details p {
        margin: 10px 0px;
        font-size: 1.25vw;
        font-weight: 600; }
  .industry .section-6 {
    background-color: #F7F7F7;
    padding-bottom: 60px;
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat; }
  .industry .txt-wrapper {
    padding-bottom: 100px; }
    .industry .txt-wrapper .title {
      font-size: 3.1vw; }
      .industry .txt-wrapper .title h3 {
        line-height: 3em;
        font-weight: 800; }
    .industry .txt-wrapper .text-content {
      font-size: 1.32vw; }
      .industry .txt-wrapper .text-content p {
        line-height: 1.5em; }
  .industry .downloable-accord .CardHeaderPanel a:after {
    content: '' !important;
    background-image: url("../src/img/upes-students/download.png") !important;
    background-repeat: no-repeat !important;
    transform: inherit !important;
    padding: 1vw !important;
    background-position: center; }
  .industry .industryStrip {
    background: #FFCA08;
    height: 15vh;
    margin: 0 0 30px 0; }
  .industry .IndContext {
    width: 33.8vw; }
  .industry .industryPanel {
    padding: 80px 0 40px 0;
    z-index: 999;
    padding-bottom: 100px;
    padding-top: 0;
    position: relative; }
    .industry .industryPanel .Orange-Strip {
      position: relative;
      top: -50px; }
    .industry .industryPanel h4.titleh4 {
      width: 36.8vw;
      padding-left: 8vw; }
  .industry .industryStrip h2 {
    font-size: 3vw;
    margin: 0 -3vh 0 0; }
  .industry .IndContext h4 {
    padding: 0 0 0 6vw; }
  .industry .Num_Title {
    font-size: 1.32vw;
    padding: 0 0 0 30px; }
  .industry .Numb_list {
    font-size: 5vw;
    color: #00448B; }
  .industry .industry_blockList {
    margin: 0 -40px;
    padding: 13vh 0; }
  .industry .ind_CompanyList {
    padding: 0 85px 12px 85px;
    margin: 0 -7px; }
  .industry .Ind_inn {
    padding: 0 40px; }
  .industry .StyleForSlickArrows .slick-next {
    right: 7px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .industry .StyleForSlickArrows .slick-prev, .industry .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important; }
  .industry .StyleForSlickArrows .slick-prev {
    left: 7px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .industry .ind_Logo {
    padding: 0 7px; }
  .industry .StyleForSlickArrows .slick-prev:before, .industry .StyleForSlickArrows .slick-next:before {
    display: none; }
  .industry .ResearchContext p {
    padding: 40px 0 0 0;
    line-height: 24px; }
  .industry .ResearchPanel {
    background-color: #fff;
    margin: 60px 0 0 0; }
    .industry .ResearchPanel .Orange-Strip {
      position: relative;
      top: -50px; }
  .industry .ResearchSlick {
    padding: 20px 0 65px 0; }
  .industry .ResearchLogoBanner:after {
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    content: '';
    position: absolute;
    top: 25%;
    right: 100px;
    width: 100%;
    height: 100%;
    background-position: right;
    width: 100%;
    background-size: 45%; }
  .industry .link-toggle {
    position: relative !important;
    z-index: 9999; }

/*# sourceMappingURL=industryTemplate.css.map */
