﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit; }

.industry .StyleForSlickArrows .slick-next, .industry .StyleForSlickArrows .slick-prev {
  width: 2.5vw;
  height: 2.5vw;
  top: 35%;
  background-size: cover !important; }

.industry {
  background: #f7f7f7 url(../src/img/aboutus-page/bg.jpg) no-repeat;
  overflow: hidden; }
  .industry .bg-lightwhite {
    background-color: #f7f7f7 !important; }
  .industry .ResearchInner .link_list.text-right.noPadding {
    z-index: 9;
    position: relative; }
  .industry .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .industry .DisclaimerTExt.DisclaimerTExtTop {
    padding: 3vw 0 0vw 3vw;
    text-align: left;
    width: 100%; }
  .industry .DisclaimerTExt {
    text-align: left;
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-size: 12px; }
  .industry .bg-white {
    background-color: #fff; }
    .industry .bg-white .industryPanel {
      padding-top: 0; }
      .industry .bg-white .industryPanel .Orange-Strip {
        position: relative;
        top: -50px; }
  .industry .disclaimer p {
    font-size: 12px;
    width: 35%;
    margin-left: auto;
    position: relative;
    top: 50px; }
  .industry .knowMoreStyle, .industry .color-blue {
    font-size: 1.05vw; }
  .industry .pl7-5 {
    padding-left: 7.5px; }
  .industry .pr7-5 {
    padding-right: 7.5px; }
  .industry .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .industry .BannerImg {
    float: right; }
    .industry .BannerImg img {
      width: 70vw; }
  .industry .BannerStripContext {
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #ffca08;
    display: flex;
    justify-content: center;
    padding: 0 0 0 85px;
    font-size: 40px;
    height: 26vw;
    background-size: cover;
    z-index: 9;
    left: 10px;
    font-weight: bold; }
    .industry .BannerStripContext .fontExBold {
      font-size: 6vw;
      position: absolute;
      width: 85vw;
      left: 85px;
      line-height: 100%;
      top: -4vw; }
      .industry .BannerStripContext .fontExBold h1 {
        line-height: 100%; }
    .industry .BannerStripContext .StripContent {
      font-size: 2.5vw;
      padding-top: 12%;
      padding-right: 40px; }
  .industry .DownArrow {
    left: -5%; }
  .industry .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #ef3f3f;
    color: #fff;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
    .industry .HomeBtnStyle picture {
      width: 25%;
      text-align: right; }
    .industry .HomeBtnStyle span {
      white-space: normal;
      width: 80%;
      display: inline-block;
      padding: 0 5px 0 0; }
  .industry .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    top: 25%;
    left: 7vw;
    padding: 0 50px 0 0;
    position: absolute; }
    .industry .BannerContextList li {
      font-size: 1.2vw;
      font-weight: 500;
      padding: 0 0 4vh 0;
      position: relative; }
      .industry .BannerContextList li:before {
        content: '';
        background: #333;
        width: 3px;
        height: 3px;
        display: block;
        position: absolute;
        left: -8px;
        border-radius: 100%;
        top: 12px; }
  .industry .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
  .industry .wrapper-75 {
    width: 75vw;
    margin: auto; }
  .industry .f150 {
    font-size: 7.8vw; }
  .industry .f60 {
    font-size: 3.15vw; }
  .industry .accord-wrapper .appList p {
    padding: 0 10px;
    font-size: 1.05vw;
    color: #606060; }
  .industry .accord-wrapper .appList.ApplyNow a {
    background: #ffca08; }
  .industry .accord-wrapper .applyNowForDetail {
    padding: 8vh 0 5vh; }
  .industry .accord-wrapper .CardHeaderPanel > a {
    display: block;
    position: relative;
    font-weight: 600;
    color: #000000;
    font-size: 1.25vw;
    padding: 16px 25px;
    padding: 1.1713vw 1.8302vw;
    padding-right: 30px;
    border-bottom: 2px solid #fafafa; }
    .industry .accord-wrapper .CardHeaderPanel > a:after {
      content: ' >';
      font-family: monospace;
      position: absolute;
      right: 25px;
      font-weight: 600;
      font-size: 1.6vw;
      color: #a1a1a1;
      top: 12px;
      transform: rotate(90deg); }
  .industry .accord-wrapper .CardHeaderPanel > a[aria-expanded="true"]:after {
    content: ' >';
    font-family: monospace;
    transform: rotate(270deg); }
  .industry .accord-wrapper .AccordionStyle {
    margin: 30px 0 0;
    background: #fff;
    box-shadow: 0 5px 5px #ccc;
    position: relative;
    border: 1px solid #ededed; }
    .industry .accord-wrapper .AccordionStyle .card-header {
      background: inherit;
      border: none;
      padding: 0; }
    .industry .accord-wrapper .AccordionStyle .card {
      border: none;
      border-radius: 0; }
  .industry .accord-wrapper .DetailsBanner:before {
    content: '';
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    background-position: 0 -35vh; }
  .industry .accord-wrapper .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    top: 10px; }
  .industry .accord-wrapper .colorLightWhite .CardHeaderPanel a {
    background: #f7f7f7;
    border-bottom: 2px solid #fff;
    padding-right: 30px; }
  .industry .accord-wrapper .card-body.cardContext {
    padding: 20px 25px; }
  .industry .accord-wrapper .cardContext p {
    font-weight: 500;
    font-size: 1vw;
    line-height: 24px; }
  .industry .accord-wrapper .cardContext a {
    color: #000000; }
    .industry .accord-wrapper .cardContext a:hover {
      text-decoration: underline; }
  .industry .Orange-Strip {
    height: 10vw;
    position: relative;
    width: 45vw; }
    .industry .Orange-Strip .title {
      padding-left: 8vw;
      z-index: 1;
      font-weight: 900; }
  .industry .Orange-Strip::before {
    background: #ffca08;
    width: 36.8vw;
    content: '';
    height: 100%;
    top: 0px;
    position: absolute; }
  .industry .yellow-bg {
    background-color: #ffca08; }
  .industry .section-1 {
    padding-top: 80px;
    padding-bottom: 65px; }
    .industry .section-1 .title1 {
      color: #d7d7d7;
      opacity: .5;
      letter-spacing: -5px;
      margin-top: -35px; }
    .industry .section-1 .title2 {
      color: #00448b;
      margin-top: -30px;
      padding-left: 7.5vw; }
  .industry .section-1::before {
    content: '';
    background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    background-position: 80%;
    background-size: contain;
    padding: 25vw; }
  .industry .companies-wrapper {
    padding: 0px 15px; }
  .industry .section-4 .link-toggle {
    float: right;
    font-size: 1vw; }
  .industry .section-4 .accordion-title {
    padding-top: 60px;
    padding-bottom: 30px; }
    .industry .section-4 .accordion-title .link-toggle {
      margin-top: -30px;
      font-size: 1vw; }
  .industry .section-4 .inter-intern {
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
    padding-top: 8vw;
    overflow: hidden; }
    .industry .section-4 .inter-intern .yellow-bg {
      height: 22.032vw; }
      .industry .section-4 .inter-intern .yellow-bg .titleh3 {
        padding-top: 50px; }
    .industry .section-4 .inter-intern .students-slide .slick-list {
      overflow: visible;
      margin: -7px; }
    .industry .section-4 .inter-intern .students-slide .student {
      padding: 0px 7px; }
      .industry .section-4 .inter-intern .students-slide .student .profile-wrapper {
        background-color: #fff; }
        .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .photo {
          width: 50%;
          margin-top: -6vw; }
          .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .photo img {
            width: 100%; }
        .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0 .78125vw; }
          .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
            display: block;
            display: -webkit-box;
            max-height: 3.25vw;
            font-size: 1.25vw;
            line-height: 1.3;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
            margin-top: 1vw;
            margin-bottom: .5vw;
            height: 4vw; }
          .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
            display: block;
            display: -webkit-box;
            max-height: 2.73vw;
            font-size: 1.05vw;
            line-height: 1.3;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #00448B;
            margin-bottom: 1vw;
            height: 3vw; }
      .industry .section-4 .inter-intern .students-slide .student .details {
        background-color: #fff;
        box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.11);
        padding: 15px;
        padding: 1vw;
        padding-top: 0;
        padding-bottom: 30px; }
        .industry .section-4 .inter-intern .students-slide .student .details p {
          display: block;
          display: -webkit-box;
          max-height: 5.46vw;
          font-size: 1.05vw;
          line-height: 1.3;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 500;
          margin-bottom: 30px;
          padding-top: 0px; }
  .industry .section-4 .health-medical .titleh3 {
    font-weight: 600;
    font-size: 3.1vw; }
  .industry .section-5 {
    margin-top: 0;
    background-size: 40%;
    background-position: 3% -50%;
    margin-bottom: 100px;
    background-color: #fff; }
    .industry .section-5 .link-toggle {
      text-align: right;
      margin-top: -90px; }
    .industry .section-5 .accord-wrapper {
      padding-top: 60px;
      position: relative;
      z-index: 9; }
      .industry .section-5 .accord-wrapper .title {
        padding: 15px 0px;
        padding-bottom: 30px;
        color: #00448B; }
        .industry .section-5 .accord-wrapper .title h3 {
          font-size: 1.25vw;
          font-weight: 600; }
      .industry .section-5 .accord-wrapper .col-md-4 {
        padding-right: 2vw;
        padding-bottom: 2vw; }
      .industry .section-5 .accord-wrapper .position {
        font-size: 1.25vw; }
        .industry .section-5 .accord-wrapper .position p {
          font-weight: 600; }
      .industry .section-5 .accord-wrapper .person {
        font-size: 1.25vw;
        font-weight: 600; }
      .industry .section-5 .accord-wrapper .designation {
        font-size: .9vw;
        font-weight: 600;
        color: #00448B;
        padding-top: 15px; }
    .industry .section-5 .contact-wrapper {
      padding-bottom: 30px; }
      .industry .section-5 .contact-wrapper h3 {
        font-size: 150px;
        font-size: 7.8vw;
        font-weight: 900;
        color: #dddddd;
        margin: 60px 0; }
      .industry .section-5 .contact-wrapper .header {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 1.25vw; }
      .industry .section-5 .contact-wrapper .details p {
        margin: 10px 0;
        font-size: 1.25vw;
        font-weight: 600; }
    .industry .section-5 .student-affairs .header-top {
      position: relative;
      top: -50px; }
  .industry .section-5::before {
    background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
    position: relative;
    height: 100%;
    width: 50%;
    background-position: 30%;
    background-size: contain;
    padding: 25vw;
    top: 200px; }
  .industry .section-6 {
    background-color: #f7f7f7;
    padding-bottom: 60px;
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat; }
  .industry .txt-wrapper {
    padding-bottom: 100px; }
    .industry .txt-wrapper .title {
      font-size: 3.1vw; }
      .industry .txt-wrapper .title h3 {
        line-height: 3em;
        font-weight: 800; }
    .industry .txt-wrapper .text-content {
      font-size: 1.32vw; }
      .industry .txt-wrapper .text-content p {
        line-height: 1.5em; }
  .industry .industryStrip {
    background: #ffca08;
    height: 15vh;
    margin: 0 0 30px 0; }
    .industry .industryStrip h2 {
      font-size: 3vw;
      margin: 0 -3vh 0 0; }
  .industry .IndContext {
    width: 33.8vw; }
    .industry .IndContext h4 {
      padding: 0 0 0 6vw; }
  .industry .industryPanel {
    padding: 80px 0 40px;
    z-index: 999;
    padding-bottom: 100px;
    padding-top: 0;
    position: relative; }
    .industry .industryPanel .Orange-Strip {
      position: relative;
      top: -50px; }
    .industry .industryPanel h4.titleh4 {
      width: 36.8vw;
      padding-left: 8vw; }
  .industry .Num_Title {
    font-size: 1.32vw;
    padding: 0 0 0 30px; }
  .industry .Numb_list {
    font-size: 5vw;
    color: #00448b; }
  .industry .industry_blockList {
    margin: 0 -40px;
    padding: 4vw 0; }
  .industry .ind_CompanyList {
    padding: 0 85px 12px;
    margin: 0 -7px; }
  .industry .Ind_inn {
    padding: 0 40px; }
  .industry .StyleForSlickArrows .slick-next {
    right: 7px;
    left: auto;
    background: url(../src/img/svg/right-arrow.svg) no-repeat; }
    .industry .StyleForSlickArrows .slick-next:before {
      display: none; }
  .industry .StyleForSlickArrows .slick-prev {
    left: 7px;
    background: url(../src/img/svg/left-arrow.svg) no-repeat; }
    .industry .StyleForSlickArrows .slick-prev:before {
      display: none; }
  .industry .slick-prev, .industry .slick-next {
    top: 105%; }
  .industry .slick-prev:before, .industry .slick-next:before {
    content: unset; }
  .industry .ind_Logo {
    padding: 0 7px; }
  .industry .ResearchPanel {
    background-color: #fff;
    margin: 60px 0 0; }
    .industry .ResearchPanel .Orange-Strip {
      position: relative;
      top: -50px; }
  .industry .ResearchSlick {
    padding: 20px 0 65px; }
  .industry .link-toggle {
    position: relative !important;
    z-index: 9999; }
  .industry a.color-blue {
    color: #00448b;
    text-decoration: underline;
    font-weight: 600;
    text-transform: uppercase; }
  .industry .downloable-accord .CardHeaderPanel a:after {
    content: '' !important;
    background-image: url(../src/img/upes-students/download.png) !important;
    background-repeat: no-repeat !important;
    transform: inherit !important;
    padding: 1vw !important;
    background-position: center; }
  .industry .ResearchContext p {
    padding: 40px 0 0;
    line-height: 24px; }
  .industry .ResearchLogoBanner:after {
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    content: '';
    position: absolute;
    top: 25%;
    right: 100px;
    height: 100%;
    background-position: right;
    width: 100%;
    background-size: 45%; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (max-width: 767px) {
  .industry {
    /**Industry UPES*/ }
    .industry .plr100 {
      padding: 0 20px; }
    .industry .link_list a {
      font-size: 0.9vw; }
    .industry .ResearchInner .link_list.text-right.noPadding {
      padding: 15px 0 0 0; }
    .industry .DisclaimerTExt.DisclaimerTExtTop {
      padding: 0 0 20px 0; }
    .industry .ResearchLogoBanner:after {
      display: none; }
    .industry .plr100vw {
      padding: 0 20px; }
    .industry .link-toggle {
      margin-top: -30px !important; }
    .industry .knowMoreStyle, .industry .color-blue {
      font-size: 14px !important; }
    .industry .Orange-Strip {
      height: 30vw;
      position: relative;
      top: 0;
      margin: 0 0 0 0; }
      .industry .Orange-Strip:before {
        width: 80vw; }
      .industry .Orange-Strip .title {
        padding-left: 15px; }
    .industry .wrapper-75 {
      width: 90vw; }
    .industry .mlr {
      margin: 0; }
    .industry .ResearchSlick.CarouselforSlick {
      padding: 20px 0 40px 0; }
    .industry table {
      width: 100% !important; }
    .industry .StyleForSlickArrows .slick-prev, .industry .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 10px; }
    .industry .StyleForSlickArrows .slick-prev {
      left: auto;
      right: 22%; }
    .industry .paraLittle {
      font-size: 10px; }
    .industry .paraSmall {
      font-size: 12px; }
    .industry .titleh3 {
      font-size: 30px; }
    .industry .titleh4 {
      width: 90% !important;
      font-size: 16px; }
    .industry .CoursesList .slick-list.draggable {
      overflow: hidden !important; }
    .industry ul.slick-dots {
      display: none !important; }
    .industry .row {
      margin: 0px !important; }
    .industry .ind_CompanyList {
      margin: 0 0px; }
    .industry .BannerSection .DownArrow {
      text-align: right; }
      .industry .BannerSection .DownArrow a .downArrowIcon {
        width: 30px; }
    .industry .BannerSection .BannerStripContext {
      left: 0px; }
      .industry .BannerSection .BannerStripContext p {
        height: 54vw;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical; }
      .industry .BannerSection .BannerStripContext .fontExBold {
        display: none; }
    .industry .breadcrumbPanel {
      bottom: 140px;
      z-index: 99;
      left: 10px; }
      .industry .breadcrumbPanel .breadcrumb.breadcrumbCustom li {
        font-size: 13px; }
    .industry .BannerImg img {
      width: 100%; }
    .industry .disclaimer p {
      top: 25px;
      margin-bottom: 25px;
      width: 100%; }
    .industry .industryPanel {
      padding: 30px 0px;
      padding-bottom: 30px;
      margin: 0px; }
    .industry .bg-white .industryPanel .Orange-Strip {
      top: -30px; }
    .industry .IndContext {
      width: 80%; }
    .industry .industryStrip {
      height: 13vh; }
    .industry .industryStrip h2 {
      font-size: 28px;
      margin: 0;
      position: absolute;
      left: 40px; }
    .industry .col-sm-4.Ind_inn {
      padding: 25px 25px; }
    .industry .Numb_list {
      font-size: 40px;
      width: 60%; }
    .industry .Num_Title {
      font-size: 14px;
      padding: 0;
      width: 40%; }
    .industry .industry_blockList {
      padding: 0px;
      margin: 0px; }
    .industry .industryPanel .link_list {
      text-align: center; }
    .industry .ind_CompanyList.StyleForSlickArrows .slick-prev, .industry .ind_CompanyList.StyleForSlickArrows .slick-next {
      bottom: -50px; }
    .industry .ind_CompanyList.StyleForSlickArrows .slick-prev {
      left: 40%;
      right: auto; }
    .industry .ind_CompanyList.StyleForSlickArrows .slick-next {
      right: 30%; }
    .industry .ind_CompanyList {
      padding: 0 18px;
      margin: 0 0 90px 0; }
    .industry .link_list a {
      font-size: 11px; }
    .industry .StyleForSlickArrows .slick-prev, .industry .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 10px; }
    .industry .StyleForSlickArrows .slick-prev {
      left: auto;
      right: 22%; }
    .industry .accord-wrapper {
      padding-top: 0px !important; }
      .industry .accord-wrapper .AccordionStyle {
        margin-top: 15px; }
      .industry .accord-wrapper .card-body.cardContext {
        padding: 15px !important;
        padding-bottom: 10px; }
      .industry .accord-wrapper .CardHeaderPanel > a {
        font-size: 12px;
        font-weight: 500;
        padding: 10px 15px;
        padding-right: 20px; }
        .industry .accord-wrapper .CardHeaderPanel > a:after {
          font-size: 14px;
          right: 15px;
          top: 8px; }
      .industry .accord-wrapper .cardContext p {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5em; }
      .industry .accord-wrapper .block {
        padding-top: 30px; }
      .industry .accord-wrapper .title {
        padding: 15px 0px;
        padding-bottom: 0px;
        color: #00448B; }
        .industry .accord-wrapper .title h3 {
          font-size: 16px !important;
          font-weight: 600; }
      .industry .accord-wrapper .position {
        font-size: 14px; }
      .industry .accord-wrapper .person {
        font-size: 16px;
        font-weight: 600; }
      .industry .accord-wrapper .designation {
        font-size: 12px;
        font-weight: 600;
        color: #00448B;
        padding-top: 15px; }
    .industry .section-4 {
      padding-top: 15px; }
      .industry .section-4 .inter-intern {
        padding: 100px 0px; }
        .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .photo {
          margin-top: -16vw; }
        .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile {
          padding-left: 5px; }
          .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
            display: block;
            display: -webkit-box;
            max-height: 36.4px;
            font-size: 14px;
            line-height: 1.3;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 40px; }
          .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
            display: block;
            display: -webkit-box;
            max-height: 31.2px;
            font-size: 12px;
            line-height: 1.3;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 30px; }
        .industry .section-4 .inter-intern .students-slide .student .details {
          padding-top: 30px; }
          .industry .section-4 .inter-intern .students-slide .student .details p {
            display: block;
            display: -webkit-box;
            max-height: 62.4px;
            font-size: 12px;
            line-height: 1.3;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 60px; }
          .industry .section-4 .inter-intern .students-slide .student .details a {
            font-size: 12px; }
      .industry .section-4 .slick-prev, .industry .section-4 .slick-next {
        top: 105%;
        height: 10vw;
        width: 10vw;
        padding: 1vw; }
      .industry .section-4 .slick-prev {
        left: 38%; }
      .industry .section-4 .slick-next {
        left: 52%; }
    .industry .section-6 .txt-wrapper {
      padding-bottom: 30px; }
    .industry .section-6 .title {
      padding: 15px 0px; }
      .industry .section-6 .title h3 {
        font-size: 22px;
        line-height: 28px; }
    .industry .section-6 p, .industry .section-6 b {
      font-size: 14px;
      margin-bottom: 15px; }
    .industry .section-1 {
      padding-top: 30px !important;
      padding-bottom: 0px; }
      .industry .section-1 .title1 {
        font-size: 45px;
        font-weight: 600; }
      .industry .section-1 .title2 {
        font-size: 30px;
        margin-top: -25px;
        padding-left: 0px;
        position: relative;
        z-index: 1; }
    .industry .pbm-5 {
      padding-bottom: 0px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .industry {
    /***Industry**/
    /*carousel*/ }
    .industry .industryStrip h2 {
      font-size: 3.5vw;
      margin: 0 -3vw 0 0; }
    .industry .ResearchLogoBanner:after {
      display: none; }
    .industry .link_list a {
      font-size: 2.5vw; }
    .industry .plr100 {
      padding: 0 20px; }
    .industry .industryStrip {
      height: 10vw; }
    .industry .ResearchPanel {
      padding-bottom: 30px; }
    .industry .industryPanel {
      padding-bottom: 30px; }
    .industry .IndContext h4 {
      padding: 0 0 0 2vw; }
    .industry .ind_CompanyList {
      padding: 0 40px 12px 40px; }
    .industry .industry_blockList {
      margin: 0 -20px;
      padding: 10vh 0; }
    .industry .Ind_inn {
      padding: 0 20px; }
    .industry .disclaimer p {
      width: 50%;
      top: 10px; }
    .industry .BannerStripContext {
      padding-left: 15px; }
      .industry .BannerStripContext .fontExBold {
        left: 15px; }
    .industry .knowMoreStyle, .industry .color-blue {
      font-size: 14px !important; }
    .industry .CoursesPanel {
      margin: 0px 0 0 0; }
    .industry .CoursesPanel .StyleForSlickArrowsTop .slick-prev, .industry .CoursesPanel .StyleForSlickArrowsTop .slick-next {
      right: 7px;
      top: -12%; }
    .industry .CoursesPanel .StyleForSlickArrowsTop .slick-prev {
      right: 40px; }
    .industry .StyleForSlickArrows .slick-prev, .industry .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .industry .section-4 {
      padding-top: 15px; }
      .industry .section-4 .inter-intern {
        padding-top: 80px; }
        .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile {
          padding-left: 5px; }
          .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
            display: block;
            display: -webkit-box;
            max-height: 36.4px;
            font-size: 14px;
            line-height: 1.3;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 5vw; }
          .industry .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
            display: block;
            display: -webkit-box;
            max-height: 31.2px;
            font-size: 12px;
            line-height: 1.3;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 4vw; }
        .industry .section-4 .inter-intern .students-slide .student .details {
          padding-top: 30px; }
          .industry .section-4 .inter-intern .students-slide .student .details p {
            display: block;
            display: -webkit-box;
            max-height: 62.4px;
            font-size: 12px;
            line-height: 1.3;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis; }
          .industry .section-4 .inter-intern .students-slide .student .details p, .industry .section-4 .inter-intern .students-slide .student .details a {
            font-size: 12px; }
      .industry .section-4 .slick-prev, .industry .section-4 .slick-next {
        display: none !important;
        top: 115%; }
      .industry .section-4 .slick-prev {
        left: 42%; }
      .industry .section-4 .slick-next {
        left: 53%; }
    .industry .section-5 .link-toggle {
      margin-top: -65px; }
    .industry .section-6 .txt-wrapper {
      padding-bottom: 30px; }
    .industry .section-6 .title {
      padding: 15px 0px; }
      .industry .section-6 .title h3 {
        font-size: 22px;
        line-height: 28px; }
    .industry .section-6 p, .industry .section-6 b {
      font-size: 14px;
      margin-bottom: 15px; }
    .industry .section-1 {
      padding-top: 60px !important;
      padding-bottom: 30px; }
      .industry .section-1 .title1 {
        font-weight: 600;
        margin-top: -60px; }
      .industry .section-1 .title2 {
        position: relative;
        z-index: 9; }
    .industry .accord-wrapper .CardHeaderPanel > a {
      font-size: 1.5vw;
      padding: 1.8vw 1.8302vw; }
    .industry .accord-wrapper .cardContext p {
      font-size: 1.4vw; } }

@media (min-width: 991px) and (max-width: 1199px) {
  .industry .plr100 {
    padding: 0 50px; }
  .industry .BannerStripContext .fontExBold {
    left: 20px; }
  .industry .BannerStripContext {
    padding: 0 0 0 20px; }
  .industry .section-1 .title1 {
    margin-top: -5px; } }

@media (min-width: 1024px) {
  .student .says {
    height: 7.5vw;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; } }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  .StyleForSlickArrows .slick-next {
    right: 7px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important; }
  .StyleForSlickArrows .slick-prev {
    left: 7px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
    display: none; }
  /**Common***/
  .BannerSection .BannerStripContext {
    overflow: hidden;
    width: 80%;
    bottom: -70px;
    padding: 15px;
    height: 240px; }
    .BannerSection .BannerStripContext p {
      font-size: 16px; } }
