﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.LoginTemplate {
  /**Banner Section*/
  /***Career */ }
  .LoginTemplate .ShowOnMobile {
    display: none; }
  .LoginTemplate i.gj-icon {
    top: 10px !important;
    right: 10px !important; }
  .LoginTemplate .PanelInner img {
    max-width: 100%; }
  .LoginTemplate .PanelInner {
    padding: 4vw 0; }
  .LoginTemplate .panelRow table {
    width: 90% !important; }
  .LoginTemplate .panelRow td {
    padding: 0 12px 0 0; }
  .LoginTemplate .row.panelRow .row {
    flex: 0 0 100%;
    max-width: 100%; }
  .LoginTemplate .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .LoginTemplate .dashl_styl li {
    font-size: 1vw;
    margin: 0.5vw 0; }
  .LoginTemplate .dashl_styl {
    padding: 0 0 0 2vw;
    margin: 1vw 0;
    font-size: 2vw; }
  .LoginTemplate .BannerImg {
    float: right; }
  .LoginTemplate .BannerImg img {
    width: 70vw; }
  .LoginTemplate .BannerStripContext {
    width: 41vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 11vw;
    align-items: center;
    background-size: cover;
    z-index: 9;
    left: 10px;
    box-shadow: 0 0 10px 1px #ccc; }
  .LoginTemplate .DownArrow {
    left: -5%;
    bottom: -45%; }
  .LoginTemplate .breadcrumbPanel {
    bottom: -45%; }
  .LoginTemplate .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .LoginTemplate .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .LoginTemplate .BannerStripContext h1 {
    font-size: 4vw;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    width: 90vw;
    top: 3.5vw; }
  .LoginTemplate .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .LoginTemplate .CareerPanel .CareerContext {
    padding: 3vw 0 3vw 0; }
  .LoginTemplate .CareerPanel .LoginContext {
    padding: 3vw 0 0 0; }
  .LoginTemplate .CareerPanel .careerSubTitle {
    font-size: 1.8vw;
    padding: 0 0 0.4vw 0; }
  .LoginTemplate .CareerPanel .careerInnerTitle {
    font-size: 2.3vw;
    margin: 0 0 1.5vw 0; }
  .LoginTemplate .CareerPanel .CareerInner {
    padding: 4vw 6vw 4vw 6vw; }
  .LoginTemplate .CareerPanel .FacultyLoginPanel {
    width: 30vw;
    text-align: center;
    margin: 8vw auto auto; }
  .LoginTemplate .CareerPanel .careerFormPanel {
    margin: 0 0 4vw 0; }
    .LoginTemplate .CareerPanel .careerFormPanel .c_Tab {
      display: flex;
      align-items: center;
      justify-content: center; }
      .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a {
        width: 19vw;
        display: block;
        color: #A3A3A3;
        font-weight: 600;
        font-size: 1.1vw;
        padding: 0 0 1vw 0;
        text-align: center;
        cursor: default;
        position: relative;
        text-transform: uppercase; }
        .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a:first-child:before {
          display: none; }
        .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a:before {
          content: '';
          background: #EBEBEB;
          width: 100%;
          height: 4px;
          display: block;
          position: absolute;
          top: 18px;
          z-index: -1;
          left: -50%; }
        .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a span {
          padding: 0.5vw 0; }
        .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a.activepanel.activeborder:before {
          background: #FFCA08; }
        .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a.activepanel {
          color: #000000;
          border-bottom-color: #00448B; }
        .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a.activepanel .EnableImg {
          display: inline-block; }
        .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a.activepanel .disableImg {
          display: none !important; }
        .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a img {
          width: 40px; }
        .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a .EnableImg {
          display: none; }
  .LoginTemplate .CareerPanel .ProcessPanel {
    width: 52vw;
    margin: 0 auto;
    padding: 4vw 0 5vw 0;
    /**Table*/ }
    .LoginTemplate .CareerPanel .ProcessPanel .Pr_Panel_List {
      margin: 2vw 0 3vw 0; }
    .LoginTemplate .CareerPanel .ProcessPanel .Pc_style a {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #00448B;
      border-radius: 100px;
      font-size: 1vw;
      height: 3vw;
      font-weight: 600; }
      .LoginTemplate .CareerPanel .ProcessPanel .Pc_style a.activepanel {
        background: #00448B;
        color: #FFFFFF; }
    .LoginTemplate .CareerPanel .ProcessPanel .SubmitBtnBlue {
      background: #00448B;
      color: #FFFFFF; }
    .LoginTemplate .CareerPanel .ProcessPanel .th_SubFiels {
      font-size: 0.6vw;
      flex: 0 0 100%;
      max-width: 100%;
      align-items: center;
      justify-content: center;
      font-weight: 600; }
    .LoginTemplate .CareerPanel .ProcessPanel .th_SubFiels > div {
      width: 20%;
      flex: 0 0 20%;
      max-width: 20%;
      position: relative; }
    .LoginTemplate .CareerPanel .ProcessPanel .LoginTable {
      margin: 4vw 0 1vw 0;
      font-weight: 500;
      color: #404040;
      font-size: 1vw; }
    .LoginTemplate .CareerPanel .ProcessPanel .LoginTable tbody tr td:last-child {
      text-align: center;
      color: #BEBEBE; }
    .LoginTemplate .CareerPanel .ProcessPanel .LoginTable th:last-child {
      text-align: center;
      width: 55%; }
    .LoginTemplate .CareerPanel .ProcessPanel .LoginTable th:first-child {
      width: 10%; }
    .LoginTemplate .CareerPanel .ProcessPanel .forMarkText {
      width: 35px;
      height: 30px;
      border: 1px solid #F2F2F2;
      padding: 0 3px;
      text-align: center; }
    .LoginTemplate .CareerPanel .ProcessPanel .LoginTable tbody tr td {
      border: none !important;
      padding: 1.2vw 0;
      vertical-align: middle; }
    .LoginTemplate .CareerPanel .ProcessPanel .LoginTable th {
      padding: 1.2vw 0;
      vertical-align: middle;
      font-weight: 500; }
    .LoginTemplate .CareerPanel .ProcessPanel .th_SubFiels.th_listFields {
      font-weight: initial;
      font-size: inherit; }
  .LoginTemplate .CareerPanel .FormStyle {
    background: #F5F5F5;
    border: 1px solid #CFCFCF;
    height: 3.3vw !important;
    padding: 0 1vw;
    width: 100%;
    border-radius: 6px;
    color: #000;
    font-weight: 500;
    font-size: 1.1vw;
    outline: 0; }
  .LoginTemplate .CareerPanel select.FormStyle {
    outline: 0; }
  .LoginTemplate .CareerPanel .FormStyle::-webkit-input-placeholder {
    color: #000000 !important; }
  .LoginTemplate .CareerPanel .FormStyle::-moz-placeholder {
    color: #000000 !important; }
  .LoginTemplate .CareerPanel .FormStyle:-ms-input-placeholder {
    color: #000000 !important; }
  .LoginTemplate .CareerPanel .FormStyle:-moz-placeholder {
    color: #000000 !important; }
  .LoginTemplate .CareerPanel p.labelContext {
    margin: 0;
    padding: 0 1.5vw; }
  .LoginTemplate .CareerPanel .RadioStyle {
    -webkit-appearance: none;
    background: #DBDBDB;
    width: 1.1vw;
    height: 1.1vw;
    border-radius: 100%;
    margin: 0 0.5vw 0 0;
    vertical-align: middle;
    position: relative;
    outline: 0; }
  .LoginTemplate .CareerPanel .RadioStyle:checked:before {
    content: '';
    background: #00448B;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    left: 3px;
    top: 3px; }
  .LoginTemplate .CareerPanel .LabelForInput {
    margin: 0;
    padding: 0 1.5vw;
    font-weight: 500; }
  .LoginTemplate .CareerPanel .FormBtnStyle {
    font-size: 1.2vw;
    height: 3.3vw;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 0 !important;
    text-transform: uppercase;
    border: 1px solid transparent;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .LoginTemplate .CareerPanel .SubmitBtn {
    width: 100%;
    margin: 0;
    border-radius: 6px;
    border: 1px solid transparent; }
  .LoginTemplate .CareerPanel .SubmitBtn:hover, .LoginTemplate .CareerPanel SubmitBtn:focus {
    background: transparent;
    color: #EF3F3F;
    border: 1px solid #EF3F3F; }
  .LoginTemplate .CareerPanel .ForgotPwd a {
    font-weight: 500;
    font-size: 1vw; }
  .LoginTemplate .CareerPanel .ForgotPwd {
    padding: 1vw 0 3vw 0; }
  .LoginTemplate .CareerPanel .FormBtnStyle.backbtn {
    background: #959595; }
  .LoginTemplate .CareerPanel .nextbtn:hover, .LoginTemplate .CareerPanel .nextbtn:focus {
    border: 1px solid #EF3F3F;
    background: transparent;
    color: #EF3F3F; }
  .LoginTemplate .CareerPanel .FormBtnStyle.backbtn:hover, .LoginTemplate .CareerPanel .FormBtnStyle.backbtn:focus {
    color: #959595;
    background: transparent;
    border: 1px solid #959595; }
  .LoginTemplate .CareerPanel .FormBtn {
    padding: 1vw 0; }
  .LoginTemplate .CareerPanel .noPadding {
    padding: 0; }
  .LoginTemplate .CareerPanel .formTitleText {
    margin: 0;
    font-size: 1.1vw; }
  .LoginTemplate .CareerPanel .CoursesForm {
    padding: 2vw 0 0 0; }
  .LoginTemplate .CareerPanel .plr25 {
    padding: 0 20px; }
  .LoginTemplate .CareerPanel .mlr25 {
    margin: 0 -20px; }
  .LoginTemplate .CareerPanel .spacingForLAbels {
    padding: 1vw 0; }
  .LoginTemplate .CareerPanel label {
    margin-bottom: 0; }
  .LoginTemplate .CareerPanel .Checkbox label {
    font-weight: 500; }
  .LoginTemplate .CareerPanel .CheckFormStyle {
    -webkit-appearance: none;
    width: 1.3vw;
    height: 1.3vw;
    border: 1px solid #D1D1D1;
    border-radius: 100px;
    margin: 0 1vw 0 0;
    vertical-align: middle;
    position: relative;
    outline: 0; }
  .LoginTemplate .CareerPanel .CheckFormStyle:checked:before {
    content: '';
    background: #D1D1D1;
    width: 100%;
    border-radius: 100px;
    height: 100%;
    position: absolute; }
  .LoginTemplate .CareerPanel .Checkbox {
    padding: 1vw 0; }
  .LoginTemplate .CareerPanel .fileLabel {
    font-weight: 500;
    font-size: 1vw;
    padding: 0.5vw 1vw;
    display: block; }
  .LoginTemplate .CareerPanel .browseText {
    color: #00448B;
    margin: 0;
    padding: 1.2vw 0;
    font-size: 1.2vw;
    background: transparent;
    border: none;
    box-shadow: inherit;
    outline: 0;
    cursor: pointer;
    position: absolute;
    right: 100px;
    top: 0; }
  .LoginTemplate .CareerPanel .custom-fileInput input[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;
    /* Fix for IE7 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999; }
  .LoginTemplate .CareerPanel .custom-input::-webkit-file-upload-button {
    visibility: hidden; }
  .LoginTemplate .CareerPanel .custom-input {
    color: transparent;
    width: 100%;
    outline: 0; }
  .LoginTemplate .CareerPanel .datepickicon {
    position: absolute;
    right: 2vw;
    top: 0.5vw; }
  .LoginTemplate .CareerPanel .thankyou {
    padding: 4vw 6vw 4vw 6vw; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }
  .paraLittle {
    font-size: 1.1vw; }
  .titleh4 {
    font-size: 1.6vw; }
  .paraSmall {
    font-size: 1.5vw; }
  .titleh4 {
    font-size: 1.8vw; }
  .LoginTemplate {
    /***Banner****/ }
    .LoginTemplate .BannerImg img {
      width: 85vw; }
    .LoginTemplate .BannerStripContext {
      padding: 0vh 0px 0vh 40px; }
    .LoginTemplate .TieupContext {
      padding: 0 2.5vw 0 0; }
    .LoginTemplate .breadcrumb.breadcrumbCustom li {
      font-size: 1.5vw; }
    .LoginTemplate .BannerStripContext h1 {
      width: 95vw; }
    .LoginTemplate .BannerStripContext p {
      font-size: 2.5vmax; }
    .LoginTemplate .CareerPanel .ForgotPwd a {
      font-size: 1.6vw; }
    .LoginTemplate .CareerPanel .browseText {
      right: 40px; }
    .LoginTemplate .CareerPanel .ProcessPanel {
      width: 85vw; }
      .LoginTemplate .CareerPanel .ProcessPanel .Pc_style a {
        font-size: 1.5vw;
        height: 4vw; }
      .LoginTemplate .CareerPanel .ProcessPanel .table.table-responsive {
        display: table; }
      .LoginTemplate .CareerPanel .ProcessPanel .th_SubFiels {
        font-size: 1.1vw; }
      .LoginTemplate .CareerPanel .ProcessPanel .LoginTable {
        font-size: 1.5vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  .plr100 {
    padding: 0 20px; }
  .plr20 {
    padding: 0 10px; }
  .paraSmall {
    font-size: 1.8vw; }
  .titleMedium {
    font-size: 3vw; }
  .paraLittle {
    font-size: 1.2vw; }
  .titleh4 {
    font-size: 2.2vw; }
  .LoginTemplate {
    /***Banner****/ }
    .LoginTemplate .BannerImg img {
      width: 85vw; }
    .LoginTemplate .breadcrumbPanel {
      bottom: -38%; }
    .LoginTemplate .BannerStripContext {
      padding: 0vh 0px 0vh 15px;
      height: 15vw; }
    .LoginTemplate .BannerStripContext h1 {
      top: 4.5vw;
      width: 95vw; }
    .LoginTemplate .breadcrumb.breadcrumbCustom li {
      font-size: 1.5vw; }
    .LoginTemplate .BannerStripContext p {
      font-size: 2.5vmax; }
    .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a {
      font-size: 1.5vw; }
    .LoginTemplate .CareerPanel .browseText {
      right: 40px; }
    .LoginTemplate .CareerPanel .ProcessPanel {
      width: 85vw; }
      .LoginTemplate .CareerPanel .ProcessPanel .Pc_style a {
        font-size: 1.5vw;
        height: 4vw; }
      .LoginTemplate .CareerPanel .ProcessPanel .table.table-responsive {
        display: table; }
      .LoginTemplate .CareerPanel .ProcessPanel .th_SubFiels {
        font-size: 1.1vw; }
      .LoginTemplate .CareerPanel .ProcessPanel .LoginTable {
        font-size: 1.5vw; }
    .LoginTemplate .CareerPanel .FacultyLoginPanel {
      width: 45vw;
      padding: 15vw 0; }
    .LoginTemplate .CareerPanel .FormStyle {
      height: 4.5vw !important;
      font-size: 1.6vw; }
    .LoginTemplate .CareerPanel .ForgotPwd a {
      font-size: 2.5vw; }
    .LoginTemplate .CareerPanel .browseText {
      font-size: 1.5vw; }
    .LoginTemplate .CareerPanel .CareerInner {
      padding: 3vw 3vw 3vw 3vw; }
    .LoginTemplate .CareerPanel .CheckFormStyle:checked:before {
      width: 1.5vw;
      height: 1.5vw; }
    .LoginTemplate .CareerPanel .formTitleText {
      font-size: 1.6vw; }
    .LoginTemplate .CareerPanel .CheckFormStyle {
      width: 1.7vw;
      height: 1.7vw; }
    .LoginTemplate .CareerPanel .fileLabel {
      font-size: 1.5vw; }
    .LoginTemplate .CareerPanel .datepickicon {
      right: 4vw;
      top: 0.2vw; }
    .LoginTemplate .CareerPanel .RadioStyle:checked:before {
      width: 8px;
      height: 8px; }
    .LoginTemplate .CareerPanel .RadioStyle {
      width: 1.8vw;
      height: 1.8vw; }
    .LoginTemplate .CareerPanel span.datepickicon img {
      width: 2vw; }
    .LoginTemplate .CareerPanel .FormBtnStyle {
      font-size: 1.5vw;
      height: 3.6vw; } }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  /**Common***/
  .LoginTemplate {
    /***Banner****/ }
    .LoginTemplate .row.panelRow .row {
      overflow-x: auto; }
    .LoginTemplate i.gj-icon {
      top: 8px !important;
      right: 8px !important;
      font-size: 20px; }
    .LoginTemplate .panelRow td {
      padding: 0 12px 0 0;
      width: 100% !important; }
    .LoginTemplate .mlr {
      margin: 0; }
    .LoginTemplate .paraLittle {
      font-size: 10px; }
    .LoginTemplate .paraSmall {
      font-size: 12px; }
    .LoginTemplate .titleh3 {
      font-size: 26px; }
    .LoginTemplate .titleh4 {
      font-size: 16px; }
    .LoginTemplate .CoursesList .slick-list.draggable {
      overflow: hidden !important; }
    .LoginTemplate ul.slick-dots {
      display: none !important; }
    .LoginTemplate .row {
      margin: 0px !important; }
    .LoginTemplate .BannerImg {
      width: 100%;
      float: none; }
    .LoginTemplate .BannerImg img {
      width: inherit; }
    .LoginTemplate .banner {
      z-index: 1; }
    .LoginTemplate .BannerStripContext p {
      font-size: 18px; }
    .LoginTemplate .BannerStripContext h1 {
      width: 100%;
      top: auto;
      margin: 10px 0 0 0;
      font-size: 18px; }
    .LoginTemplate .BannerStripContext {
      width: 80%;
      bottom: -70px;
      padding: 0px 10px;
      height: 100px; }
    .LoginTemplate .downArrowIcon {
      width: 30px; }
    .LoginTemplate .DownArrow {
      bottom: -60px;
      text-align: center;
      left: auto;
      right: 0;
      width: 20%; }
    .LoginTemplate .breadcrumbPanel {
      position: absolute;
      left: 20px;
      bottom: 0;
      text-align: left;
      z-index: 99; }
    .LoginTemplate .breadcrumbCustom {
      display: block;
      display: -webkit-box;
      max-height: 13px;
      font-size: 10px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .LoginTemplate .breadcrumbCustom li {
      font-size: 10px;
      font-weight: 500; }
    .LoginTemplate .CareerPanel .careerInnerTitle {
      font-size: 15px;
      margin: 0 0 10px 0; }
    .LoginTemplate .CareerPanel .CareerInner {
      padding: 20px 10px 10px 10px; }
    .LoginTemplate .CareerPanel .careerSubTitle {
      font-size: 12px;
      padding: 0 0 5px 0; }
    .LoginTemplate .CareerPanel .careerFormPanel .c_Tab a {
      width: 100%;
      font-size: 10px;
      padding: 0 0 10px 0; }
    .LoginTemplate .CareerPanel .col-3.Pc_style {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 5px 5px !important; }
    .LoginTemplate .CareerPanel .ProcessPanel {
      width: 100%;
      padding: 10px 15px; }
      .LoginTemplate .CareerPanel .ProcessPanel .Pc_style a {
        font-size: 11px;
        height: 35px; }
      .LoginTemplate .CareerPanel .ProcessPanel .Pr_Panel_List {
        margin: 20px 0; }
      .LoginTemplate .CareerPanel .ProcessPanel .LoginTable tbody tr td {
        padding: 10px 0; }
      .LoginTemplate .CareerPanel .ProcessPanel .LoginTable {
        margin: 15px 0;
        font-size: 8px;
        display: table;
        text-align: center; }
      .LoginTemplate .CareerPanel .ProcessPanel .th_SubFiels {
        font-size: 6px; }
      .LoginTemplate .CareerPanel .ProcessPanel .LoginTable th:last-child {
        width: auto; }
      .LoginTemplate .CareerPanel .ProcessPanel .LoginTable th:first-child {
        width: auto; }
      .LoginTemplate .CareerPanel .ProcessPanel .th_SubFiels > div {
        word-break: break-word; }
    .LoginTemplate .CareerPanel .FacultyLoginPanel {
      width: 100%;
      margin: 0;
      padding: 20px 15px; }
    .LoginTemplate .CareerPanel .SubmitBtn {
      font-size: 14px;
      height: 40px;
      width: 100%; }
    .LoginTemplate .CareerPanel .ForgotPwd a {
      font-size: 14px; }
    .LoginTemplate .CareerPanel .ForgotPwd {
      padding: 10px 0 20px 0; }
    .LoginTemplate .CareerPanel .FormStyle {
      height: 35px !important;
      padding: 0 6px;
      font-size: 11px; }
    .LoginTemplate .CareerPanel .plr25 {
      padding: 0px; }
    .LoginTemplate .CareerPanel .CoursesForm .plr25 {
      padding: 0px 3px; }
    .LoginTemplate .CareerPanel .datepickicon img {
      width: 16px; }
    .LoginTemplate .CareerPanel .datepickicon {
      top: 4px; }
    .LoginTemplate .CareerPanel .mlr25 {
      margin: 0px; }
    .LoginTemplate .CareerPanel .RadioStyle {
      width: 15px;
      height: 15px;
      margin: 0 10px 0 0;
      font-size: 10px; }
    .LoginTemplate .CareerPanel .LabelForInput {
      font-size: 14px; }
    .LoginTemplate .CareerPanel .FormBtnStyle {
      font-size: 12px;
      height: 30px;
      width: 100px; }
    .LoginTemplate .CareerPanel .CheckFormStyle {
      width: 15px;
      height: 15px;
      margin: 0 10px 0 0; }
    .LoginTemplate .CareerPanel .CoursesForm .col-8 {
      flex: 0 0 40%;
      max-width: 40%; }
    .LoginTemplate .CareerPanel .Checkbox label {
      font-size: 12px; }
    .LoginTemplate .CareerPanel .fileLabel {
      font-size: 12px;
      padding: 6px 20px; }
    .LoginTemplate .CareerPanel .browseText {
      position: static;
      font-size: 12px;
      padding: 0px !important; }
    .LoginTemplate .CareerPanel .CoursesForm .col-2 {
      flex: 0 0 30%;
      max-width: 30%; }
    .LoginTemplate .CareerPanel .CheckFormStyle:checked:before {
      width: 13px;
      height: 13px; }
    .LoginTemplate .CareerPanel .formTitleText {
      font-size: 10px; } }
