﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  padding-top: 85px;
  overflow: hidden;
  overflow-y: auto; }

.modal-open {
  position: relative;
  z-index: 9999999999; }

.modal-open .HeaderPanel {
  z-index: 9999; }

.fontLight {
  font-weight: 300; }

.fontRegular {
  font-weight: 400; }

.fontMedium {
  font-weight: 500; }

.fontBold {
  font-weight: 700; }

.fontExBold {
  font-weight: 800; }

.fontBlack {
  font-weight: 900; }

h1, h2, h3, h4, h5, h6, p {
  margin: inherit;
  line-height: initial;
  font-size: inherit; }

a, a:hover {
  text-decoration: none;
  cursor: pointer; }

.br30 {
  border-radius: 30px; }

.btn.btn-primary {
  border: none;
  padding: 0; }

.slick-slider {
  margin-bottom: 0px; }

.fullwidth {
  width: 100%; }

.plr7 {
  padding: 0 7px; }

.mlr {
  margin: 0 -7px; }

.text-decoration {
  text-decoration: underline !important; }

/*DefaultFontSizes*/
.titleh3 {
  font-size: 3.3vw; }

.titleh4 {
  font-size: 1.5vw; }

.paraSmall {
  font-size: 1.05vw; }

.paraLittle {
  font-size: 0.9vw; }

.titleMedium {
  font-size: 2.5vw; }

.para_three {
  font-size: 1.2vw; }

.para_Two {
  font-size: 1.32vw; }

.scrollTop {
  position: fixed;
  right: 3%;
  bottom: 15%;
  opacity: 0;
  z-index: 999; }

.scrollTop a {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  text-align: center;
  display: block;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  text-align: center; }

.scrollTop a:after {
  content: '';
  background: url("../src/img/home/top.png") no-repeat;
  display: block;
  background-size: cover;
  font-weight: 600;
  position: absolute;
  left: 0;
  width: 35px;
  height: 35px; }

.animateTitle {
  animation: 1s ease-out 0s 1 slideInFromLeft; }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

span.field-validation-error {
  color: #EF3F3F;
  font-size: 13px;
  font-weight: 500; }

.DownArrow {
  position: absolute;
  bottom: -10%;
  text-align: center;
  width: 100%;
  left: -6%;
  z-index: 9; }

.slick-slide:focus, .slick-slide a {
  outline: 0 !important; }

.slick-slide, .slick-slide * {
  outline: 0 !important; }

.Visit_list a {
  background: #FFFFFF;
  width: 21.5vw;
  height: 3vw;
  font-size: 1.05vw;
  color: #00448B;
  margin: 0 6px 0 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.Visit_list a:hover {
  background: #00448B;
  color: #FFFFFF; }

.WatchPanel {
  position: absolute;
  bottom: 40px;
  right: 80px; }

.ApplyNow a {
  font-size: 1.05vw;
  height: 3vw;
  background: #EF3F3F;
  color: #FFFFFF;
  width: 14vw;
  margin: 0 0 0 6px;
  display: flex;
  align-items: center;
  justify-content: center; }

.ApplyNow a:hover {
  background: #FFFFFF;
  color: #EF3F3F; }

.breadcrumb.breadcrumbCustom li.active {
  color: #000000;
  font-weight: 500; }

.breadcrumb.breadcrumbCustom li a {
  color: #000000;
  font-weight: 500; }

.breadcrumb.breadcrumbCustom li:first-child a {
  font-weight: 600; }

.breadcrumb.breadcrumbCustom li {
  display: inline-block;
  font-size: 0.9vw; }

.breadcrumbPanel {
  position: absolute;
  bottom: -10%;
  left: 48%;
  text-align: center;
  padding: 0;
  z-index: 99;
  height: 2vw; }

.breadcrumb.breadcrumbCustom {
  margin: 0;
  background: inherit;
  width: auto;
  padding: 0;
  display: block; }

.downArrowIcon {
  width: 2.4vw; }

/**Helpline Chat*/
.helplineChatInner {
  position: fixed;
  top: 35%;
  right: 2%;
  border-radius: 100vw;
  padding: 0.5vw 0.2vw;
  z-index: 999; }

.helplineChatInner a span {
  display: block;
  padding: 5px 0 0 0; }

.helplineChatInner a img {
  width: 35px; }

.helplineChatInner a {
  color: #000000;
  display: block;
  margin: 10px 0;
  font-size: 0.95vw;
  text-align: center;
  font-weight: 600; }

.Number {
  position: absolute;
  top: 20px;
  background: #00448B;
  border-radius: 30px;
  width: 12vw;
  right: -100vw;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  color: #fff; }

.opennumber {
  right: 4vw; }

.Number a {
  color: #fff !important;
  margin: 6px 0 !important; }

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    padding-top: 60px; } }

@media (min-width: 768px) and (max-width: 991px) {
  /**Watch Panel*/
  .WatchPanel {
    right: 10px; }
  body {
    padding-top: 60px; }
  .helplineChatInner a {
    font-size: 1.2vw; } }

@media (max-width: 767px) {
  .helplineChatInner {
    display: none; }
  .breadcrumbPanel {
    height: auto; }
  .DisclaimerTExt {
    text-align: left !important;
    padding: 10px 0 !important; }
  body {
    padding-top: 70px; } }

/**Include Css*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
/**Header***/
header {
  /***Menu Dropdown*/
  /**Search Animation*/ }
  header .btn.btn-primary {
    border: navajowhite;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  header .mobileShow {
    display: none; }
  header .LoginHeaderPanel a span {
    padding: 0 2px 0 0;
    font-weight: 600; }
  header .HeaderPanel {
    padding: 0;
    background: #FFFFFF !important;
    position: fixed;
    width: 100%;
    z-index: 999999;
    box-shadow: 0 1px 1px #ccc;
    top: 0; }
  header .HeaderRow {
    height: 6.2vw; }
  header .logo_vw {
    width: 9vw; }
  header .HeaderPanelLeft a {
    padding: 0 0 0 80px;
    margin: 0; }
  header .HeaderPanelLeft {
    width: 25%; }
  header .HeaderPanelRight {
    width: 14%; }
  header .Icon_vw {
    width: 2.5vw; }
  header .BtnStyle {
    background: #FFCA08;
    width: 11vw;
    height: 2.2vw;
    color: #000000;
    text-transform: uppercase;
    padding: 0;
    font-size: 0.7vw;
    margin: 0 15px 0 0;
    -webkit-transition: 0.3s all ease-in;
    -moz-transition: 0.3s all ease-in;
    -o-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in; }
  header .HeaderPanelMenu ul li {
    padding: 0 2vw; }
  header .HeaderPanelMenu ul {
    align-items: center; }
  header .HeaderPanelMenu ul li:first-child {
    padding: 0 1vw 0 0.8vw; }
  header .HeaderPanelMenu ul li:first-child:before {
    display: none; }
  header .borderRight {
    content: '';
    display: block;
    background: #00448B;
    width: 1px;
    height: 1vw;
    left: 0px;
    top: 2px; }
  header .HeaderPanelMenu ul li.active a {
    color: #00448B !important; }
  header .HeaderPanelMenu ul li a {
    padding: 0 !important;
    color: #000000 !important;
    font-size: 0.8vw;
    text-transform: uppercase;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
  header .HeaderPanelMenu ul li a:hover, header .HeaderPanelMenu ul li a:active {
    color: #00448B !important; }
  header .BtnStyle:hover {
    background: #FFCA08; }
  header .HeaderPanelMenu {
    width: 61%; }
  header .BtnIcon img {
    width: 1.2vw;
    margin: 0 4px 0 0; }
  header .HeaderPanelMenu ul li:first-child a {
    color: #000000 !important;
    border-radius: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: relative; }
  header .HeaderPanelMenu ul li:first-child a:after {
    content: '';
    width: 100%;
    background: #00448B;
    height: 4px;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0; }
  header .ShowOnMobile {
    display: none !important; }
  header ul.DropDown_Menu {
    position: absolute;
    z-index: 99999;
    background: #fff;
    padding: 0;
    max-width: 70vw;
    border-bottom: 3px solid;
    padding: 0 1vw 1vw 1vw;
    display: none;
    margin: 0 0 0 0;
    left: 27.3vw;
    top: 100%;
    box-shadow: 0 -1px 1px #ccc; }
  header .Width_optional {
    width: auto !important;
    left: auto !important; }
  header .drop_Tile {
    border-right: 1px solid #B7B7B7; }
  header .drpMenuTitle {
    font-size: 1vw;
    padding: 1vw 0; }
  header .noborder {
    border: none; }
  header .DropPanelLEft {
    width: 20vw;
    float: left; }
  header .DropPanelInnerLEft {
    padding: 0 2vw 0 4vw;
    width: 23vw;
    float: left; }
  header .DropPanelInnerRight {
    float: left;
    padding: 1vw 0 0 0;
    width: 25vw; }
  header .DropPanelRight {
    width: 48vw;
    float: left; }
  header .DropDownList .DropDownMenu_Inner {
    padding: 0px; }
  header .DropDownList ul.DropDownMenu_Inner li a {
    width: auto;
    height: auto;
    font-weight: 500;
    padding: 0 !important;
    display: block;
    color: #000000 !important;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  header .DropDownList ul.DropDownMenu_Inner li a:hover, header .DropDownList ul.DropDownMenu_Inner li a:focus {
    color: #FFCA08 !important; }
  header .DropDownList .drop_Tile {
    border-right: 1px solid #B7B7B7; }
  header .DropDownList .DropDownMenu_Inner li {
    list-style: none;
    padding: 0.2vw 0 !important; }
  header .DropDownList .DropDownMenu_Inner li:before {
    display: none !important; }
  header .DropDownList .DropDownMenu_Inner li a:after {
    display: none !important; }
  header .SearchTextStyle {
    border-bottom: 2px solid #00448B !important;
    border: none;
    box-shadow: inherit;
    outline: 0 !important;
    height: 3vw;
    width: 18.5vw;
    font-weight: 500;
    font-size: 1.2vw; }
  header .SearchToggle a {
    padding: 0 0.5vw 0 0; }
  header .SearchToggle a img {
    width: 2.5vw; }
  header .CloseIcon:after {
    content: 'x';
    font-family: inherit;
    color: #00448B;
    font-size: 1.8vw;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 500;
    cursor: pointer; }
  header .SearchToggle {
    position: absolute;
    right: 20px;
    display: none;
    background: #FFFFFF;
    padding: 0 0 0 1vw;
    top: 1.5vw;
    height: 3vw;
    top: 20px; }
  header .SearchTextStyle::-ms-clear {
    display: none; }
  header .searchOpen {
    display: block; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 2000px) and (max-width: 3000px) {
  header .HeaderPanelMenu ul li:first-child a:after {
    left: auto; }
  header .SearchTextStyle {
    height: 3vw; }
  header .SearchToggle {
    top: 35px;
    right: 18px; } }

@media (min-width: 1800px) and (max-width: 1920px) {
  header .SearchToggle {
    height: 3.5vw; } }

@media (min-width: 1366px) and (max-width: 1440px) {
  header .SearchToggle {
    right: 18px; } }

@media (min-width: 1200px) and (max-width: 1365px) {
  header ul.DropDown_Menu {
    left: 27vw; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }
  header {
    /***Search*/
    /***Search*/ }
    header .HeaderPanelLeft a {
      padding: 0 0 0 30px; }
    header .HeaderPanelMenu {
      width: 64%; }
    header ul.DropDown_Menu {
      width: 77vw;
      max-width: inherit;
      left: 19.3vw; }
    header .DropPanelRight {
      width: 55vw; }
    header .DropPanelInnerLEft {
      width: 27vw; }
    header .DropPanelInnerRight {
      width: 28vw; }
    header .SearchToggle {
      right: 20px;
      top: 10px;
      z-index: 99;
      height: 4vw; }
    header .CloseIcon:after {
      font-size: 2.5vw;
      right: 0; }
    header .SearchToggle a img {
      width: 2.5vw; }
    header .SearchTextStyle {
      height: 4vw;
      width: 25vw;
      font-size: 1.6vw; }
    header .BtnStyle {
      width: 14vw;
      font-size: 1vw;
      height: 3.2vw; }
    header .HeaderPanelRight {
      width: 18%; }
    header .HeaderPanelMenu ul li {
      padding: 0 1.5vw; }
    header .HeaderPanelMenu ul li:first-child a:after {
      width: 100%;
      left: 0;
      bottom: 0px; }
    header .HeaderPanelMenu ul li a {
      font-size: 1vw; }
    header .HeaderPanelLeft {
      width: 18%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    /**Menu As mobile*/
    /***Sumbenu*/ }
    header .navbar-collapse {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 100%;
      margin: 0;
      border-top: 1px solid #ccc;
      box-shadow: inherit;
      z-index: 99999;
      max-height: 500px;
      overflow-y: scroll;
      border-bottom: 5px solid #00448B; }
    header .BtnIcon img {
      width: 2vw; }
    header .navbar-expand-lg .navbar-collapse {
      display: block !important; }
    header .collapse:not(.show) {
      display: none !important; }
    header .navbar-expand-lg .navbar-toggler {
      display: block !important; }
    header button.navbar-toggler.collapsed {
      display: block !important; }
    header .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: column !important;
      flex-direction: column !important; }
    header .HeaderPanelMenu ul li.activeOpen:after {
      transform: rotate(90deg); }
    header .HeaderPanelMenu ul li:first-child {
      padding: 0; }
    header .HeaderPanelMenu ul li:after {
      content: '';
      background: url(../src/img/home/arrow-side.png) no-repeat;
      width: 20px;
      height: 20px;
      display: block;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 5px; }
    header .drpMenuTitle {
      font-size: 13px;
      margin: 5px 0;
      padding: 8px 8px;
      text-transform: uppercase;
      background: #FFCA08; }
    header .HeaderPanelRight {
      width: 88%;
      justify-content: flex-end; }
    header .HeaderPanelMenu ul li:first-child a:after {
      display: none; }
    header .drpMenuTitle:after {
      content: '';
      background: url(../src/img/home/arrow-side.png) no-repeat;
      width: 20px;
      height: 20px;
      display: block;
      background-size: cover;
      position: absolute;
      top: 7px;
      right: 5px; }
    header .HeaderPanelMenu ul {
      padding: 20px 20px;
      box-shadow: inherit;
      background: #fff; }
    header .ToogleBtn {
      position: relative;
      margin: 0 0 0 20px; }
    header .navbar-toggler {
      border: none;
      background: #fafafa !important;
      float: right;
      padding: 0px !important;
      border: 1px solid #333 !important;
      border-radius: 100%;
      width: 30px;
      height: 30px; }
    header .ToogleBtn:before {
      content: '';
      background: #808080;
      width: 1.1px;
      height: 25px;
      display: block;
      position: absolute;
      left: -10px;
      top: 2px; }
    header .navbar-toggler:focus {
      outline: none;
      background: transparent !important; }
    header .navbar-toggler .icon-bar {
      background-color: #333;
      font-weight: 500;
      transform: rotate(0deg) translate(0px, 0px);
      transition: ease all .2s; }
    header .navbar-toggler .icon-bar {
      display: block;
      width: 15px;
      height: 2px;
      margin: 0 auto;
      border-radius: 1px; }
    header .navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px; }
    header .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:hover > .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:active > .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 4px);
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
      opacity: 0;
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
      transition: ease all .2s; }
    header .HeaderPanelMenu ul li:first-child a {
      width: auto;
      justify-content: flex-start;
      height: auto; }
    header .DropPanelLEft {
      width: 100%;
      float: none;
      border: none; }
    header .DropPanelRight {
      width: 100%;
      float: none; }
    header .DropPanelInnerLEft {
      padding: 0;
      width: 100%;
      float: none; }
    header .DropPanelInnerRight {
      float: none;
      padding: 0;
      width: 100%; }
    header .DropDownList .DropDownMenu_Inner {
      padding: 0px;
      box-shadow: inherit;
      border: none;
      width: 100%;
      float: none; }
    header .HeaderPanelMenu ul li a {
      font-size: 1.5vw; }
    header .HeaderPanelMenu ul li {
      padding: 0 0;
      width: 100%;
      text-align: left;
      margin: 10px 0;
      position: relative; }
    header .HeaderPanelLeft {
      width: 12%; }
    header .HeaderPanelLeft a {
      padding: 0;
      margin: 0; }
    header .HeaderPanelMenu ul li:first-child a:after {
      width: 100%;
      left: 0;
      bottom: 0px; }
    header .Icon_vw {
      width: 25px; }
    header .BtnStyle {
      width: 18vw;
      font-size: 1.4vw;
      margin: 0 5px 0 0;
      height: 3.5vw; }
    header ul.DropDown_Menu {
      width: 100%;
      position: static;
      max-width: 100%;
      padding: 10px 0;
      box-shadow: inherit; } }

@media (min-width: 768px) and (max-width: 992px) {
  header {
    /***Search*/ }
    header .HeaderRow {
      height: 8vw; }
    header .SearchToggle {
      right: 10px;
      top: 12px;
      z-index: 9; }
    header .CloseIcon:after {
      font-size: 3vw;
      right: 0; }
    header .SearchToggle a img {
      width: 2.5vw; }
    header .SearchTextStyle {
      height: 5vw;
      width: 30vw;
      font-size: 1.6vw; } }

@media (max-width: 767px) {
  /**Header*/
  header {
    /**Search*/
    /***Sumbenu*/
    /***Sumbenu*/ }
    header .SearchToggle {
      right: 0;
      padding: 1vw 2vw;
      width: 100%;
      bottom: -40px;
      z-index: 9;
      height: 40px; }
    header .mobileHide {
      display: none !important; }
    header .mobileShow {
      display: block !important; }
    header .DetailList ul {
      padding: 0 0 0 20px; }
    header ul.DropDownMenu_Inner li:nth-child(4):after {
      display: block !important; }
    header .LoginHeaderPanel a:nth-child(2) picture img, header .LoginHeaderPanel a:nth-child(1) picture img {
      display: none; }
    header .LoginHeaderPanel a {
      font-weight: 600; }
    header .CloseIcon:after {
      font-size: 20px;
      right: 20px; }
    header .SearchTextStyle {
      height: auto;
      width: 96%;
      font-size: 16px; }
    header .SearchToggle a img {
      width: 30px; }
    header .HeaderRow {
      height: 70px;
      align-items: flex-end !important;
      padding: 0 10px 10px 10px; }
    header .HeaderPanelLeft a {
      padding: 0; }
    header .HeaderPanelLeft {
      width: 28%; }
    header .HeaderPanelRight {
      width: 72%;
      justify-content: flex-end; }
    header .Icon_vw {
      width: 30px; }
    header .logo_vw {
      width: 85px; }
    header .navbar-collapse {
      position: absolute;
      width: 100%;
      left: 0px;
      background: #fff;
      top: 100%;
      margin: 0;
      border-top: 1px solid #ccc;
      box-shadow: inherit;
      z-index: 99999;
      max-height: 500px;
      overflow-y: scroll; }
    header .HeaderPanelMenu ul li:first-child a {
      height: auto;
      width: auto;
      justify-content: flex-start;
      font-weight: 600; }
    header .HeaderPanelMenu ul li:first-child {
      margin: 10px 0;
      border: none; }
    header .HeaderPanelMenu ul li:after {
      content: '';
      background: url(../src/img/home/arrow-side.png) no-repeat;
      width: 20px;
      height: 20px;
      display: block;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 5px; }
    header .HeaderPanelMenu ul li:first-child a:after {
      display: none; }
    header .HeaderPanelMenu ul li:first-child:after {
      background: url(../src/img/home/arrow-side.png) no-repeat;
      height: 20px;
      width: 20px;
      background-size: cover;
      top: 0px;
      bottom: auto;
      right: 5px; }
    header .HeaderPanelMenu ul li.activeOpen:after {
      transform: rotate(90deg); }
    header .HeaderPanelMenu ul li {
      width: 100%;
      text-align: left;
      margin: 10px 0;
      position: relative; }
    header .HeaderPanelMenu ul {
      padding: 20px 20px;
      border-bottom: 3px solid #00448B; }
    header .HeaderPanelMenu ul li a {
      font-size: 14px;
      font-weight: 600;
      display: inline-block; }
    header .navbar-toggler {
      border: none;
      background: #fafafa !important;
      float: right;
      padding: 0px !important;
      border: 1px solid #333 !important;
      border-radius: 100%;
      width: 30px;
      height: 30px; }
    header .ToogleBtn {
      position: relative;
      margin: 0 0 0 20px; }
    header ul.DropDown_Menu {
      position: static;
      max-width: 100%;
      border-bottom: none;
      margin: 0;
      padding: 10px 0px !important;
      box-shadow: inherit; }
    header .DropDownList ul.DropDownMenu_Inner li a {
      font-weight: 500 !important;
      padding: 5px 8px !important;
      display: block;
      color: #000000 !important;
      border-bottom: 1px solid #BEBEBE;
      box-shadow: inherit;
      border-radius: 0px;
      font-size: 12px;
      text-transform: initial;
      position: relative; }
    header .DropPanelInnerRight {
      width: 100%;
      padding: 10px 8px; }
    header .drpMenuTitle {
      font-size: 13px;
      margin: 5px 0;
      padding: 8px 8px;
      text-transform: uppercase;
      background: #FFCA08; }
    header .drpMenuTitle:after {
      content: '';
      background: url(../src/img/home/arrow-side.png) no-repeat;
      width: 20px;
      height: 20px;
      display: block;
      background-size: cover;
      position: absolute;
      top: 7px;
      right: 5px; }
    header .drpMenuTitle.ActiveTitle:after {
      transform: rotate(90deg); }
    header .DropDownMenu_Inner {
      border: none !important; }
    header .DropPanelInnerLEft {
      padding: 0;
      width: 100%;
      float: none; }
    header .DropPanelRight {
      width: 100%;
      float: none; }
    header .DropPanelLEft {
      width: 100%;
      float: none;
      border: none; }
    header .ToogleBtn:before {
      content: '';
      background: #808080;
      width: 1.1px;
      height: 25px;
      display: block;
      position: absolute;
      left: -10px;
      top: 2px; }
    header .navbar-toggler:focus {
      outline: none;
      background: transparent !important; }
    header .navbar-toggler .icon-bar {
      background-color: #333;
      font-weight: 500;
      transform: rotate(0deg) translate(0px, 0px);
      transition: ease all .2s; }
    header .navbar-toggler .icon-bar {
      display: block;
      width: 15px;
      height: 2px;
      margin: 0 auto;
      border-radius: 1px; }
    header .navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px; }
    header .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:hover > .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:active > .icon-bar:nth-child(2) {
      width: 15px;
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 4px);
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
      opacity: 0;
      transition: ease all .2s; }
    header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
      transition: ease all .2s; }
    header .BtnIcon img {
      width: 14px; }
    header .BtnStyle {
      width: 60px;
      height: 30px;
      font-size: 10px;
      margin: 0 4px 0 0;
      padding: 5px 5px !important;
      font-weight: 500; }
    header .ShowOnMobile {
      display: flex !important; }
    header .ForApplicant span {
      display: block;
      overflow: hidden; } }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
/**Footer***/
footer {
  /**Updated 31/1/2019*/
  /**Updated Footer 19/2/2019*/ }
  footer .FooterPanel {
    color: #FFFFFF; }
  footer .TitleLink {
    text-transform: uppercase;
    font-size: 1.05vw;
    color: #fff;
    min-height: 1vw;
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  footer .TitleLink:hover, footer .TitleLink:focus {
    color: #FFCA08; }
  footer .FooterShowcasePanel {
    z-index: 9;
    position: relative; }
  footer .foot_Btm {
    background: #4D4D4D;
    color: #FFFFFF;
    font-size: 0.9vw; }
  footer .SocialIcon p {
    font-size: 0.9vw;
    padding: 0 15px 0 0; }
  footer .foot_Btm_Height {
    height: 4.8vw; }
  footer .foot_Top_Height {
    height: 200px; }
  footer .foot_Top {
    background: #606060; }
  footer .footMenuList {
    padding: 10px 0 0 0; }
  footer .footTopRow {
    padding: 1vw 0; }
  footer .footMenuList a {
    display: block;
    color: #EEEEEE;
    font-size: 0.75vw;
    text-transform: uppercase;
    font-weight: 500;
    margin: 5px 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  footer .footMenuList a:hover, footer .footMenuList a:focus {
    color: #FFCA08; }
  footer .footMenus p {
    text-transform: uppercase;
    font-size: 1.05vw; }
  footer .social_icon_menus a {
    display: inline-block;
    margin: 0 0 0 4px;
    position: relative; }
  footer .social_icon_menus a img {
    width: 2.2vw; }
  footer .footTopRow {
    margin: 0 -3px; }
  footer .footMenus {
    padding: 0 3px; }
  footer .footcenterStyle {
    padding: 10px 0; }
  footer .footCenterbx {
    background: #404040;
    height: auto;
    padding: 0vw 0vw;
    display: flex; }
  footer .footCenterbx h5 {
    text-transform: uppercase;
    padding: 0 1vw 0 0;
    font-weight: 500;
    font-size: 0.9vw; }
  footer .footCenterbx p {
    font-size: 0.8vw;
    font-weight: 500; }
  footer .footCenterbx a {
    color: #fff; }
  footer .Foot_Center {
    background: #606060; }
  footer .footCenterRow {
    padding: 0 0 10px 0;
    margin: 0; }
  footer .fc_Inner {
    background: #404040;
    min-height: 7.5vw;
    padding: 1vw 1.3vw; }
  footer .fc_Inner h5 {
    font-size: 1vw;
    text-transform: uppercase;
    margin: 0 0 0.8vw 0; }
  footer .fc_Inner p {
    font-size: 0.75vw;
    text-transform: uppercase;
    margin: 0 0 0.2vw 0;
    padding: 0; }
  footer .fc_Inner a {
    color: #fff; }
  footer .fc_Inner .nouppercase {
    text-transform: inherit; }
  footer .onhoverShow {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    transform: scale(0); }
  footer .social_icon_menus a:hover .onhoverShow {
    opacity: 1;
    transform: scale(1); }
  footer .social_icon_menus a img {
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear; }
  footer .footBtmRow {
    overflow: hidden; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1200px) and (max-width: 1365px) {
  .FooterPanel .SocialIcon p {
    font-size: 1vw; }
  .FooterPanel .social_icon_menus a {
    width: 2vw; }
  .FooterPanel .foot_Btm {
    font-size: 1vw; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .FooterPanel .plr100 {
    padding: 0 50px; }
  .FooterPanel .footMenuList a {
    font-size: 0.95vw; }
  .FooterPanel .footMenus p {
    font-size: 1.2vw; }
  .FooterPanel .foot_Btm {
    font-size: 1.1vw; }
  .FooterPanel .social_icon_menus a {
    width: 2.2vw; }
  .FooterPanel .SocialIcon p {
    font-size: 1.1vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  footer .footCenterbx h5 {
    font-size: 1.2vw; }
  footer .footCenterbx p {
    font-size: 1.1vw; }
  footer .footMenus p {
    font-size: 1.3vw; }
  footer .footMenuList a {
    font-size: 1.05vw; }
  footer .TitleLink {
    font-size: 1.3vw; }
  footer .SocialIcon p {
    font-size: 1.2vw; }
  footer .social_icon_menus a {
    width: 3vw; }
  footer .foot_Btm {
    font-size: 1.2vw; }
  footer .footCenterTile {
    padding: 0 3px; }
  footer .fc_Inner h5 {
    font-size: 1.2vw; }
  footer .fc_Inner p {
    font-size: 1.05vw; }
  footer .fc_Inner {
    min-height: 9.5vw; } }

@media (max-width: 767px) {
  /**Footer*/
  footer .foot_Btm_Height {
    height: auto; }
  footer .footCenterbx {
    display: block; }
  footer .TitleLink {
    font-size: 10px; }
  footer .foot_Btm_Height {
    padding: 7px 10px;
    text-align: center; }
  footer .foot_Btm {
    font-size: 10px; }
  footer .col-6.copyRights {
    flex: 100%;
    max-width: 100%; }
  footer .col-6.SocialIcon {
    order: -1;
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center !important;
    padding: 0 0 10px 0; }
  footer .SocialIcon p {
    font-size: 10px; }
  footer .col-sm-2.footMenus {
    flex: 33.33%;
    max-width: 33.33%; }
  footer .footMenuList a {
    font-size: 8px;
    font-weight: 500; }
  footer .footTopRow {
    padding: 4vh 0 0 0;
    margin: 0px; }
  footer .footMenus {
    padding: 0 10px; }
  footer .social_icon_menus a img {
    width: 20px; }
  footer .footMenus p {
    font-size: 10px; }
  footer .social_icon_menus a {
    width: auto; }
  footer .footMenuList {
    padding: 10px 0 20px 0; }
  footer .hideOnMobile {
    display: none; }
  footer .footCenterbx {
    height: auto;
    padding: 10px 10px; }
  footer .footCenterbx p {
    font-size: 10px; }
  footer .footCenterbx h5 {
    font-size: 10px;
    padding: 0 0 5px 0; }
  footer .col-4.footcenterStyle.plr7 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 5px 0; }
  footer .footCenterRow {
    padding: 0 0 10px 0; }
  footer .col-sm-3.footCenterTile {
    flex: 0 0 100%;
    width: 100%;
    padding: 5px 10px; }
  footer .fc_Inner p {
    font-size: 8px;
    margin: 0 0 5px 0; }
  footer .fc_Inner h5 {
    font-size: 10px;
    margin: 0 0 10px 0; }
  footer .fc_Inner {
    min-height: inherit;
    padding: 10px 10px; } }

@media (min-width: 320px) and (max-width: 340px) {
  footer .TitleLink {
    font-size: 8px; }
  footer .SocialIcon p {
    font-size: 8px; }
  footer .foot_Btm {
    font-size: 8px; }
  footer .footMenuList a {
    font-size: 8px; } }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.showcase .show_caseTop {
  padding: 2.5vw 0;
  background: #FFCA08; }

.showcase {
  position: relative;
  z-index: 9; }

.showcase .takeStep p span {
  display: block; }

.showcase .takeStep p {
  font-size: 3.5vw;
  line-height: 3.5vw; }

.showcase .Visit_list a {
  background: #FFFFFF;
  width: 20.5vw;
  height: 2.8vw;
  font-size: 1.05vw;
  color: #00448B;
  margin: 0 6px 0 0;
  padding: 0 0 !important;
  display: flex;
  align-items: center;
  justify-content: center; }

.showcase .sh_showcaseRight a {
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

.showcase .Visit_list a:hover {
  background: #00448B;
  color: #FFFFFF; }

.showcase .ApplyNow a {
  font-size: 1.05vw;
  height: 2.8vw;
  background: #00448B;
  color: #FFFFFF;
  width: 14vw;
  margin: 0 0 0 6px;
  padding: 0 0 !important;
  display: flex;
  align-items: center;
  justify-content: center; }

.showcase .ApplyNow a:hover {
  background: #FFFFFF;
  color: #00448B; }

.showcase .show_caseBtm {
  background: #FCA61B; }

.showcase .dateText span {
  display: block; }

.showcase .shcaseBtmRow {
  padding: 1.4vw 0;
  color: #000000; }

.showcase .AppDate p {
  font-size: 1.5vw; }

.showcase .dateText {
  font-size: 0.9vw; }

.showcase .modal-dialog {
  margin: 8vw auto; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1600px) and (max-width: 1800px) {
  .showcase .takeStep p {
    line-height: 55px; } }

@media (min-width: 1200px) and (max-width: 1365px) {
  .showcase .dateText {
    font-size: 1.1vw; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .showcase .plr100 {
    padding: 0 50px; }
  .showcase .dateText {
    font-size: 1.1vw; }
  .showcase .AppDate p {
    font-size: 1.7vw; }
  .showcase .Visit_list a {
    height: 3.8vw; }
  .showcase .ApplyNow a {
    height: 3.8vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  .showcase .FooterShowcasePanel {
    z-index: 9999999;
    position: relative; }
  .showcase .takeStep p {
    line-height: 30px; }
  .showcase .dateText {
    font-size: 1.4vw; }
  .showcase .AppDate p {
    font-size: 1.8vw; }
  .showcase .ApplyNow a {
    font-size: 1.3vw;
    width: 16vw;
    height: 35px; }
  .showcase .Visit_list a {
    padding: 0 0 !important;
    width: 25vw;
    font-size: 1.3vw;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    float: left; } }

@media (max-width: 767px) {
  /**Showcase*/
  .showcase .show_caseBtm {
    padding: 10px 15px 10px 15px;
    text-align: center; }
  .showcase .shcaseBtmRow .col-sm-2 {
    padding: 30px 0 0 0; }
  .showcase .dateText span {
    padding: 6px 0 0 0; }
  .showcase .Visit_list {
    margin: 20px 0 0 0;
    display: block !important; }
  .showcase .shcaseBtmRow {
    padding: 0px; }
  .showcase .ApplyNow a {
    font-size: 12px;
    height: 35px;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 9px 12px; }
  .showcase .Visit_list a {
    width: 100%;
    height: 35px;
    font-size: 12px;
    margin: 0 0px 10px 0;
    padding: 9px 12px; }
  .showcase .shcaseBtmRow .col-sm-2 {
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .col-sm-3.AppDate {
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .col-sm-9.sh_showcaseRight {
    display: block !important;
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .shcaseRow {
    width: 220px;
    margin: 0 auto !important; }
  .showcase .show_caseTop {
    text-align: center; }
  .showcase .takeStep p {
    font-size: 36px;
    line-height: normal; }
  .showcase .dateText {
    font-size: 16px; }
  .showcase .AppDate p {
    font-size: 20px; }
  .showcase .col-sm-3.takeStep {
    flex: 0 0 100%;
    max-width: 100%; } }