﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
/**mba admission*/
.custom-modal .modal-dialog {
  margin: 7vw auto auto auto; }

.ParentPanel {
  /**Details Accordion*/
  /**Banner Section*/
  /*.bannerPadding {
        padding: 0 0 9vh 0;
    }*/
  /**Stories**/
  /***Campus***/
  /**Student Living**/
  /**Events***/
  /**fAculty*/
  /***Courses*/ }
  .ParentPanel .ShowOnMobile {
    display: none; }
  .ParentPanel .DetailsBanner:before {
    content: '';
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-position: 0px -17vw; }
  .ParentPanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    top: 10px; }
  .ParentPanel .DetailList ul {
    list-style: none; }
    .ParentPanel .DetailList ul li {
      margin-bottom: 1vw;
      font-weight: 500;
      position: relative;
      font-size: 1.2vw; }
      .ParentPanel .DetailList ul li:before {
        content: '';
        background: #00448B;
        width: 6px;
        height: 6px;
        display: block;
        position: absolute;
        top: 8px;
        left: -18px;
        border-radius: 100%; }
      .ParentPanel .DetailList ul li span {
        font-weight: 500 !important; }
  .ParentPanel .appList.ApplyNow a {
    background: #FFCA08;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
  .ParentPanel .SocialList {
    margin: 0 -4px; }
  .ParentPanel .applyNowForDetail {
    padding: 4vw 0 2.5vw 0; }
  .ParentPanel .SocialList a {
    padding: 0 4px; }
  .ParentPanel .appList p {
    padding: 0 20px 0;
    font-size: 1.05vw;
    color: #606060; }
  .ParentPanel .SocialList a img {
    width: 2.2vw; }
  .ParentPanel .CardHeaderPanel > a {
    display: block;
    position: relative;
    font-weight: 600;
    color: #000000;
    padding: 16px 25px;
    border-bottom: 1px solid #FAFAFA; }
  .ParentPanel .CardHeaderPanel > a:after {
    content: '>';
    font-family: MyCustomMonoFont, monospace;
    position: absolute;
    right: 25px;
    font-weight: 600;
    font-size: 1.6vw;
    color: #A1A1A1;
    top: 12px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .ParentPanel .CardHeaderPanel > a[aria-expanded="true"]:after {
    content: '>';
    font-family: monospace;
    transform: rotate(270deg); }
  .ParentPanel .AccordionStyle {
    margin: 40px 0 0 0;
    background: #fff;
    box-shadow: 0 5px 5px #ccc;
    position: relative;
    border: 1px solid #EDEDED; }
    .ParentPanel .AccordionStyle .table-cover {
      overflow-x: auto; }
  .ParentPanel .table-cover span {
    font-weight: 500 !important;
    font-size: 1vw; }
  .ParentPanel .card-body.cardContext {
    padding: 20px 25px; }
  .ParentPanel .AccordionStyle .card-header {
    background: inherit;
    border: none;
    padding: 0px; }
  .ParentPanel .cardContext p {
    font-weight: 500;
    font-size: 1vw;
    line-height: 24px;
    padding: 5px 0; }
  .ParentPanel .AccordionStyle .card {
    border: none;
    border-radius: 0px; }
  .ParentPanel .DetailsBlk {
    padding: 2.5vw 0; }
  .ParentPanel .DisclaimerTExt.DisclaimerTExtTop {
    padding: 3vw 0vw 0 3vw;
    text-align: left;
    width: 100%; }
  .ParentPanel .WatchPanel {
    position: absolute;
    bottom: 40px;
    right: 80px; }
  .ParentPanel .Visit_list.CourseFind a {
    color: #00448B; }
  .ParentPanel .HomeBtnStyle {
    font-size: 0.7vw;
    height: 3vw;
    background: #00448B;
    color: #FFFFFF !important;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .ParentPanel .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .ParentPanel .DisclaimerTExt {
    text-align: left;
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-size: 12px; }
  .ParentPanel .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .ParentPanel .BannerImg {
    float: right; }
  .ParentPanel .BannerImg img {
    width: 70vw; }
  .ParentPanel .BannerStripContext {
    width: 40vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px #ccc;
    padding: 3vw 0px 2.5vw 85px;
    font-size: 40px;
    line-height: normal;
    height: 25vw; }
  .ParentPanel .BannerStripContext h1 {
    font-size: 2.9vw; }
  .ParentPanel .ParentStoryBg:before {
    background: #fff url(../src/img/home/pattern-bg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 77%;
    background-position: top; }
  .ParentPanel .Studentstories {
    position: relative; }
  .ParentPanel .StoryTitleStrip a {
    display: none !important; }
  .ParentPanel .ParentStoryBg {
    background: #F7F7F7;
    margin: 2vw 0 0 0; }
  .ParentPanel .guestPanelInn {
    position: relative;
    z-index: 1; }
  .ParentPanel .StudentstoryBg {
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    background-position: bottom; }
  .ParentPanel .guestContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .ParentPanel .guestBg {
    background: #fff;
    padding: 2vw 3vw 2vw 2vw; }
  .ParentPanel .GuestcontextInner {
    min-height: 4vw; }
  .ParentPanel .guestContext p {
    display: block;
    display: -webkit-box;
    max-height: 3.9vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .storiesPanStyle {
    padding: 35px 7px; }
  .ParentPanel .GuestLecturePanel {
    padding: 5vh 0 7vw 0;
    background: #F7F7F7; }
  .ParentPanel .StoriesContext {
    background: #FFFFFF;
    padding: 1vw 1.5vw 1vw 1.5vw;
    display: table-cell;
    position: relative;
    top: -60px;
    left: 6.3vw;
    width: 21vw;
    height: 16vw;
    box-shadow: 0 5px 5px #ccc; }
  .ParentPanel .StoriesContext h3 {
    display: block;
    display: -webkit-box;
    max-height: 1.56vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1vw 0; }
  .ParentPanel .StoriesContext h2 {
    display: block;
    display: -webkit-box;
    max-height: 1.95vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .StoriesContext p {
    display: block;
    display: -webkit-box;
    max-height: 5.46vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1vw 0;
    height: 6vw; }
  .ParentPanel .ParentStoriesPanel {
    position: relative; }
  .ParentPanel .StoriesContext a {
    text-decoration: underline;
    font-size: 0.9vw;
    color: #00448B; }
  .ParentPanel .WatchPanel a img {
    width: 2vw; }
  .ParentPanel .StudentLivingPanel {
    position: relative; }
  .ParentPanel .StudentLivingPanel .link_list.text-right.noPadding {
    right: 100px; }
  .ParentPanel .storiesPanStyle img {
    width: 21vw; }
  .ParentPanel .StoryTitleStrip {
    background: #FFCA08; }
  .ParentPanel .StoryTitleStrip p {
    position: absolute;
    top: -2vw;
    font-size: 2.5vw;
    font-weight: 800; }
  .ParentPanel .StoryTitleStrip {
    background: #FFCA08;
    width: 27.4vw;
    text-align: center;
    position: relative;
    height: 7.3vw; }
  .ParentPanel .FacultyPanel {
    background: #F7F7F7; }
  .ParentPanel .fac_Row {
    height: 16vw; }
  .ParentPanel .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .ParentPanel .StoryTitleStrip h2 {
    font-size: 5.2vw; }
  .ParentPanel .CampusBg {
    position: absolute;
    right: 5px;
    top: -60px; }
  .ParentPanel .CampusPanel .link_list {
    position: absolute;
    top: 15%;
    right: 100px; }
  .ParentPanel .CampusBg img {
    width: 40vw; }
  .ParentPanel .GrayTitle {
    color: #EEEEEE;
    font-size: 7.2vw;
    position: relative;
    top: 0;
    margin: 0 0 20px 0; }
  .ParentPanel .CampusInner {
    padding: 0px 0 55px 0; }
  .ParentPanel .cmpinn p {
    width: 22vw;
    font-size: 1.05vw;
    padding: 17px 0 0 0; }
  .ParentPanel .st_inn {
    background: #FFCA08;
    width: 49.2vw;
    height: 20vw; }
  .ParentPanel .StudentLivingPanel {
    position: relative; }
  .ParentPanel .link_list.text-right.noPadding {
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 99999; }
  .ParentPanel .SLCarouselPanel {
    margin-top: -6vw;
    overflow: visible; }
  .ParentPanel .st_inn h2 {
    font-size: 4.5vw;
    padding: 20px 0 30px 0; }
  .ParentPanel .st_inn h3 {
    font-size: 1.05vw;
    padding: 0 0 5px 0; }
  .ParentPanel .SLContextInner {
    background: #FFCA08;
    color: #000000;
    padding: 2vw 2.5vw 2vw 2.5vw;
    height: 10.7vw;
    overflow: hidden;
    box-shadow: 0px 5px 5px 0px #ddd; }
  .ParentPanel .SLContext p {
    display: block;
    display: -webkit-box;
    max-height: 6.24vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .link_list {
    text-align: right;
    padding: 1.5vw 0px 2vw 0; }
  .ParentPanel .SLContext {
    padding: 0 6.5vw 0 0;
    margin: -4.5vw 0 0 0;
    position: relative; }
  .ParentPanel .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .ParentPanel .Event_Inner h2 {
    padding: 2.3vw 0; }
  .ParentPanel .EventPanel {
    overflow: hidden; }
  .ParentPanel .eventContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .ParentPanel .EventContStyle {
    background: #00448B;
    padding: 2vw 1vw 1vw 2vw;
    color: #FFFFFF;
    height: 13vw;
    overflow: hidden; }
  .ParentPanel .EventContStyle h4 {
    display: block;
    display: -webkit-box;
    max-height: 1.95vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .EventPara {
    height: 6vw;
    overflow: hidden; }
  .ParentPanel .EventContStyle a {
    color: #FFFFFF !important; }
  .ParentPanel .EventPara p {
    display: block;
    display: -webkit-box;
    max-height: 6.24vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .IndContext {
    width: 33.8vw; }
  .ParentPanel .industryStrip {
    background: #FFCA08;
    height: 7.3vw;
    margin: 0 0 30px 0; }
  .ParentPanel .industryPanel {
    padding: 100px 0 0px 0;
    z-index: 999;
    position: relative; }
  .ParentPanel .industryPanel .link_list {
    position: absolute;
    top: 10vw;
    right: 0; }
  .ParentPanel .industryStrip h2 {
    font-size: 3vw;
    margin: 0 -1.5vw 0 0; }
  .ParentPanel .IndContext h4 {
    padding: 0 0 0 6vw; }
  .ParentPanel .Num_Title {
    font-size: 1.32vw;
    padding: 0 0 0 30px; }
  .ParentPanel .Numb_list {
    font-size: 4.4vw;
    color: #00448B; }
  .ParentPanel .industry_blockList {
    margin: 0 -30px;
    padding: 4vw 0px; }
  .ParentPanel .ind_CompanyList {
    padding: 0 85px 12px 85px;
    margin: 0 -7px; }
  .ParentPanel .Ind_inn {
    padding: 0 30px; }
  .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
    left: 0;
    width: 2.6vw;
    height: 2.6vw;
    top: 35%;
    background-size: 100% 100% !important; }
  .ParentPanel .StyleForSlickArrows .slick-prev {
    left: 35px;
    background: url(../src/img/svg/left-arrow.svg) no-repeat; }
  .ParentPanel .ind_Logo {
    padding: 0 7px; }
  .ParentPanel .StyleForSlickArrows .slick-next {
    right: 35px;
    left: auto;
    background: url(../src/img/svg/right-arrow.svg) no-repeat; }
  .ParentPanel .StyleForSlickArrows .slick-prev:before, .ParentPanel .StyleForSlickArrows .slick-next:before {
    display: none; }
  .ParentPanel .Event_Inner .link_list {
    position: absolute;
    right: 0;
    top: 6%; }
  .ParentPanel .noPadding {
    padding: 0px; }
  .ParentPanel .fac_InnerRow {
    margin: 0 -45px;
    padding: 0px; }
  .ParentPanel .col-sm-4.fac_Inn {
    padding: 0 15px; }
  .ParentPanel .FacultyStrip {
    background: #FFCA08;
    height: 7.2vw;
    justify-content: left !important; }
  .ParentPanel .col-4.fac_List {
    padding: 0 10px 0 0; }
  .ParentPanel .col-sm-8.fac_List {
    align-items: flex-start !important;
    padding: 4.5vw 0; }
  .ParentPanel .FacultyStrip h2 {
    font-size: 3vw;
    padding: 0 0; }
  .ParentPanel .HealthyPanel {
    background: #F7F7F7;
    height: 30vw;
    margin: -16vw 0 0 0; }
  .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-prev, .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-next {
    top: auto;
    bottom: -40%; }
  .ParentPanel .TwoBlockCarousel .slick-list {
    height: 13vw; }
  .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-next {
    right: 48%; }
  .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-prev {
    left: 45%; }
  .ParentPanel .healthbg {
    background: #FFFFFF;
    height: 10vw;
    position: relative;
    box-shadow: 0 5px 5px #ccc;
    padding: 0 30px; }
  .ParentPanel .healthContext {
    padding: 0 0 0 35px; }
  .ParentPanel .healthContext p {
    padding: 5px 0 0 0; }
  .ParentPanel .healthImg img {
    width: 3.7vw; }
  .ParentPanel .PosiitonHealthyPanel {
    position: relative;
    top: 100px;
    z-index: 9; }
  .ParentPanel .StudentLogoBanner {
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    background-position: right;
    background-size: 48%; }
  .ParentPanel .AchieveInner {
    padding: 14vw 0 3vw 0; }
  .ParentPanel .AchieveTitle p {
    line-height: 10px; }
  .ParentPanel .AchieveContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .ParentPanel .AchieveTitleBlock p {
    position: relative;
    top: 14px; }
  .ParentPanel .AchieveTitleBlock h2 {
    margin: 0 0 20px 0; }
  .ParentPanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .ParentPanel .AchieveContextInn {
    background: #FFCA08;
    padding: 1vw 3vw 1vw 2vw;
    height: 13vw; }
  .ParentPanel .AchieveContextPAra {
    overflow: hidden;
    height: 8vw; }
  .ParentPanel .AchieveContextInn p {
    display: block;
    display: -webkit-box;
    max-height: 7.8vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .knowMoreStyle {
    text-decoration: underline !important;
    font-size: 0.9vw;
    color: #00448B !important;
    margin: 10px 0 0 0;
    display: inline-block; }
  .ParentPanel .StudentStoriesPanel {
    padding: 220px 0 40px 0;
    padding: 10vw 0 0 0;
    margin: -100px 0 0 0;
    overflow: hidden; }
  .ParentPanel .LogoBanner {
    position: relative; }
  .ParentPanel .LogoBanner:before {
    content: '';
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    background-size: 62%;
    background-position: right;
    position: absolute;
    right: -9%;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999; }
  .ParentPanel .clblk_Top {
    padding: 1vw 1.5vw 1vw 1vw;
    border-bottom: 1px solid #EEEEEE;
    min-height: 25vw;
    position: relative; }
  .ParentPanel .courseIcon {
    width: 4.4vw; }
  .ParentPanel .applyCourses .plr100 {
    padding: 0 0; }
  .ParentPanel .CL_bg {
    background: #FFFFFF;
    box-shadow: 0 0 5px 5px #ccc;
    min-height: 35vw; }
  .ParentPanel .courseTitle {
    height: 5vw;
    overflow: hidden; }
  .ParentPanel .courseTitle p {
    display: block;
    display: -webkit-box;
    max-height: 1.365vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .clblk_Top h2 {
    color: #00448B;
    display: block;
    display: -webkit-box;
    max-height: 3.9vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .coursesfor {
    color: #7C7C7C;
    height: 8.9vw;
    position: relative;
    overflow: hidden;
    padding: 0.5vw 0 0 0; }
  .ParentPanel .coursesfor p {
    display: block;
    display: -webkit-box;
    max-height: 2.34vw;
    font-size: 0.9vw;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .coursesfor a {
    position: static;
    margin: 0.5vw 0 0 0; }
  .ParentPanel .linebeforeText {
    position: relative;
    padding: 0 0 0 8px; }
  .ParentPanel .CoursesList {
    margin: 0 -7px; }
  .ParentPanel .linebeforeText:before {
    content: '-';
    position: absolute;
    left: 0px; }
  .ParentPanel .CL_Block {
    padding: 0 7px; }
  .ParentPanel .CoursesList .slick-list.draggable {
    overflow: visible; }
  .ParentPanel .forApplication span {
    display: block;
    color: #7C7C7C;
    font-weight: 500; }
  .ParentPanel .forApplication .linebeforeText:before {
    display: none; }
  .ParentPanel .forApplication .linebeforeText {
    padding: 0; }
  .ParentPanel .TextOverlap {
    color: #FFFFFF;
    text-transform: uppercase;
    position: absolute;
    font-size: 10vw;
    top: -24%;
    left: -11%;
    width: 100%;
    height: 100%;
    z-index: 0; }
  .ParentPanel .forApplication {
    padding: 1vw 1vw 1vw 1vw;
    border-bottom: 1px solid #EEEEEE;
    min-height: 6vw;
    overflow: hidden; }
  .ParentPanel .forApplication span {
    display: block;
    color: #7C7C7C;
    font-weight: 500;
    display: block;
    display: -webkit-box;
    max-height: 1.17vw;
    font-size: 0.9vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .forApplication p {
    margin: 0 0 5px 0;
    display: block;
    display: -webkit-box;
    max-height: 1.365vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .ParentPanel .CheckBlk {
    padding: 1.5vw 30px; }
  .ParentPanel .checkBtnStyle {
    border: 1px solid #00448B;
    color: #00448B !important;
    height: 2.5vw; }
  .ParentPanel .clrBorder1 {
    border-bottom: 3px solid #FFCA08; }
  .ParentPanel .clrBorder2 {
    border-bottom: 3px solid #EF3F3F; }
  .ParentPanel .clrBorder3 {
    border-bottom: 3px solid #00448B; }
  .ParentPanel .clrBorder4 {
    border-bottom: 3px solid #FFCA08; }
  .ParentPanel .clrBorder5 {
    border-bottom: 3px solid #EF3F3F; }
  .ParentPanel .clrBorder6 {
    border-bottom: 3px solid #00448B; }
  .ParentPanel .clrBorderBlue {
    border-bottom: 3px solid #00448B; }
  .ParentPanel .clrBorderYellow {
    border-bottom: 3px solid #FFCA08; }
  .ParentPanel .CoursesPanel {
    margin: 50px 0 0 0;
    z-index: 99; }
  .ParentPanel .clrBorderRed {
    border-bottom: 3px solid #EF3F3F; }
  .ParentPanel .course_iconStyle {
    max-height: 6vw;
    overflow: hidden;
    min-height: 6vw; }
  .ParentPanel .applyCourses {
    background: #FFFFFF;
    padding: 5vw 0 3vw 0;
    text-align: right;
    margin: -3vw 0 0 0;
    position: relative;
    z-index: 9; }
  .ParentPanel .Visit_list.CourseFind a {
    background: #FFFFFF; }
  .ParentPanel .Visit_list.CourseFind a:hover {
    background: #00448B;
    color: #FFFFFF; }
  .ParentPanel .ApplyNow.CourseFind a {
    background: #00448B; }
  .ParentPanel .ApplyNow.CourseFind a:hover {
    color: #00448B;
    background: #FFFFFF;
    border-color: #00448B; }
  .ParentPanel .crseTitle {
    padding: 0px 0 25px 0; }
  .ParentPanel .StyleForSlickArrowsBottom .slick-prev, .ParentPanel .StyleForSlickArrowsBottom .slick-next {
    left: 50px;
    top: auto;
    bottom: 30px; }
  .ParentPanel .StyleForSlickArrowsBottom .slick-prev {
    left: 0px; }
  .ParentPanel .StyleForSlickArrowsTop .slick-prev, .ParentPanel .StyleForSlickArrowsTop .slick-next {
    right: 7px;
    top: -11%; }
  .ParentPanel .StyleForSlickArrowsTop .slick-prev {
    right: 7%;
    left: auto; }
  .ParentPanel .BtnBlue {
    border: 1px solid #00448B;
    color: #00448B; }
  .ParentPanel .BtnRed {
    background: #EF3F3F;
    border: 1px solid transparent;
    color: #FFFFFF; }
  .ParentPanel .BtnRed:hover {
    border: 1px solid #EF3F3F;
    color: #EF3F3F; }
  .ParentPanel .HomeCoursePanel {
    padding: 50px 0 0 0;
    overflow: hidden; }
  .ParentPanel .HomeCourseBg {
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    background-position: bottom; }
  .ParentPanel .HomeCourseBg:after {
    content: '';
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    position: absolute;
    background-position: center center;
    width: 100%;
    height: 100%;
    top: -20%;
    background-size: 45%;
    left: 10%;
    z-index: 0; }
  .ParentPanel .knowMoreStyle {
    text-decoration: underline !important;
    font-size: 0.9vw;
    color: #00448B !important;
    margin: 10px 0 0 0;
    display: inline-block; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 2000px) and (max-width: 3000px) {
  .ParentPanel .cmpinn img {
    width: 100%; }
  .ParentPanel .StyleForSlickArrowsTop .slick-prev {
    right: 4%; }
  .ParentPanel .TextOverlap {
    left: -7%; }
  .ParentPanel .guestPanelStyle img {
    width: 100%; }
  .ParentPanel .EventPanelStyle img {
    width: 100%; } }

@media (min-width: 1800px) and (max-width: 1920px) {
  .ParentPanel .Ind_inn {
    padding: 0 25px; }
  .ParentPanel .TextOverlap {
    left: -7%; }
  .ParentPanel .healthbg {
    height: 11vw; }
  .ParentPanel .industry_blockList {
    margin: 0 -25px; }
  .ParentPanel .StoryTitleStrip p {
    top: -35%; } }

@media (min-width: 1600px) and (max-width: 1800px) {
  .ParentPanel .SplOverlapContext {
    height: auto; }
  .ParentPanel .homeIndicatorStyle {
    bottom: -19%; } }

@media (min-width: 1441px) and (max-width: 1599px) {
  .ParentPanel .st_inn h2 {
    padding: 20px 0 15px 0; }
  .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
    width: 35px;
    height: 36px; } }

@media (min-width: 1366px) and (max-width: 1440px) {
  .ParentPanel .st_inn h2 {
    padding: 20px 0 15px 0; }
  .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
    width: 35px;
    height: 36px; } }

@media (min-width: 1200px) and (max-width: 1365px) {
  .ParentPanel .clblk_Top {
    padding: 2vh 25px 2vh 20px; }
  .ParentPanel .st_inn h2 {
    padding: 20px 0 15px 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }
  .paraLittle {
    font-size: 1.1vw; }
  .titleh4 {
    font-size: 1.6vw; }
  .paraSmall {
    font-size: 1.5vw; }
  .titleh4 {
    font-size: 1.8vw; }
  .ParentPanel {
    /***Accordion****/
    /***Watch Panel*/
    /***Campus*/
    /**Student Living*/
    /**STories*/
    /***Student Living*/ }
    .ParentPanel .DetailsBlk {
      padding: 5vw 4vw 2vw 4vw; }
    .ParentPanel .ApplyNow a {
      font-size: 1.6vw;
      width: 16vw;
      height: 3.5vw; }
    .ParentPanel .card-body.cardContext {
      padding: 10px 25px 10px 25px; }
    .ParentPanel table {
      margin: 20px 0;
      font-size: 1.1vw;
      font-weight: 500; }
    .ParentPanel .cardContext p {
      font-size: 1.3vw;
      line-height: 22px; }
    .ParentPanel .appList p {
      font-size: 1.8vw; }
    .ParentPanel .BannerImg img {
      width: 77vw; }
    .ParentPanel .HomeBtnStyle {
      font-size: 1vw;
      height: 4vw;
      width: 20vw; }
    .ParentPanel .WatchPanel {
      right: 35px; }
    .ParentPanel .link_list.text-right.noPadding {
      right: 50px; }
    .ParentPanel .BannerStripContext {
      padding: 3vw 1vw 2.5vw 3vw; }
    .ParentPanel .BannerStripContext h1 {
      font-size: 2.5vw; }
    .ParentPanel .breadcrumbCustom li {
      font-size: 0.9vw; }
    .ParentPanel .GrayTitle {
      color: #EEEEEE;
      font-size: 7.2vw;
      position: relative;
      top: 0vh; }
    .ParentPanel .link_list a {
      font-size: 1.2vw; }
    .ParentPanel .cmpinn p {
      font-size: 1.2vw; }
    .ParentPanel .StudentLivingPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StudentLivingPanel .StyleForSlickArrows .slick-next {
      bottom: -60px;
      top: auto; }
    .ParentPanel .TwoBlockCarousel .slick-list {
      height: 16vw; }
    .ParentPanel .StudentLivingPanel .StyleForSlickArrows .slick-next {
      right: auto;
      left: 50px; }
    .ParentPanel .AchieveInner .CarouselforSlick button {
      display: none !important; }
    .ParentPanel .knowMoreStyle {
      font-size: 1vw; }
    .ParentPanel .fac_Row {
      height: 20vw; }
    .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .ParentPanel .CheckBlk {
      padding: 2.5vw 20px; }
    .ParentPanel .CourseFind a {
      font-size: 1vw;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.5vw; }
    .ParentPanel .StoriesContext a {
      font-size: 1.2vw; }
    .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-prev {
      left: 45%; }
    .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-next {
      right: auto;
      left: 50%; }
    .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-prev, .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-next {
      top: auto;
      bottom: -50px; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-prev {
      left: 45%; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-next {
      right: auto;
      left: 50%; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-prev, .ParentPanel .StoryStyle.StyleForSlickArrows .slick-next {
      top: auto;
      bottom: 25px; }
    .ParentPanel .FacultyStrip h2 {
      font-size: 4vw; }
    .ParentPanel .st_inn h2 {
      padding: 20px 0 15px 0; }
    .ParentPanel .st_inn h3 {
      font-size: 1.3vw; }
    .ParentPanel .ind_CompanyList {
      padding: 0 70px 12px 70px; }
    .ParentPanel .SLCarouselPanel button {
      display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .plr100 {
    padding: 0 20px !important; }
  .plr20 {
    padding: 0 10px; }
  .paraSmall {
    font-size: 1.8vw; }
  .titleMedium {
    font-size: 3vw; }
  .paraLittle {
    font-size: 1.2vw; }
  .titleh4 {
    font-size: 2.2vw; }
  .ParentPanel {
    /***Accordion****/
    /***Banner****/
    /**Watch Panel*/
    /***Campus***/
    /**Student Living**/
    /**Healthy**/
    /**Student Achievements*/
    /**Student Stories**/
    /**Courses**/
    /***Faculty*/
    /****Events***/
    /***Industry**/
    /***Guest**/ }
    .ParentPanel .CardHeaderPanel > a:after {
      font-size: 22px; }
    .ParentPanel .DetailsBlk {
      padding: 5vw 4vw 2vw 4vw; }
    .ParentPanel .ApplyNow a {
      font-size: 1.6vw;
      width: 16vw;
      height: auto; }
    .ParentPanel .card-body.cardContext {
      padding: 10px 25px 10px 25px; }
    .ParentPanel table {
      margin: 20px 0;
      font-size: 1.6vw;
      font-weight: 500; }
    .ParentPanel .cardContext p {
      font-size: 1.7vw;
      line-height: 22px; }
    .ParentPanel .appList p {
      font-size: 1.8vw; }
    .ParentPanel .BannerImg img {
      width: 85vw; }
    .ParentPanel .BannerStripContext {
      padding: 2.5vw 15px 2.5vw 15px; }
    .ParentPanel .breadcrumbPanel {
      left: 56%; }
    .ParentPanel .breadcrumb.breadcrumbCustom li {
      font-size: 1.5vw; }
    .ParentPanel .BannerStripContext h1 {
      font-size: 2.5vw; }
    .ParentPanel .WatchPanel {
      right: 10px; }
    .ParentPanel .applyCourses .plr100 {
      padding: 0px 20px; }
    .ParentPanel .downArrowIcon {
      width: 3.5vw; }
    .ParentPanel .DownArrow {
      bottom: -12%;
      left: 0; }
    .ParentPanel .HomeBtnStyle {
      font-size: 1vw;
      width: 20vw;
      height: 5.2vw; }
    .ParentPanel .helplineChatInner a {
      font-size: 1.2vw; }
    .ParentPanel .GrayTitle {
      top: 1vh; }
    .ParentPanel .CampusPanel .link_list {
      right: 20px; }
    .ParentPanel .CampusInner {
      padding: 0px 0 35px 0; }
    .ParentPanel .cmpinn p {
      width: 100%;
      font-size: 1.5vw; }
    .ParentPanel .st_inn h3 {
      font-size: 1.5vw; }
    .ParentPanel .SLCarouselPanel.StyleForSlickArrows .slick-prev, .ParentPanel .SLCarouselPanel.StyleForSlickArrows .slick-next {
      top: auto;
      bottom: -40px;
      left: 7px; }
    .ParentPanel .SLCarouselPanel {
      margin-top: -2vw; }
    .ParentPanel .SLCarouselPanel.StyleForSlickArrows .slick-next {
      right: auto;
      left: 50px; }
    .ParentPanel .SLCarouselPanel button {
      display: none !important; }
    .ParentPanel .SLCarouselPanel button {
      display: none !important; }
    .ParentPanel .SLContextInner {
      height: 10.6vw; }
    .ParentPanel .SLContext p {
      display: block;
      display: -webkit-box;
      max-height: 7.28vw;
      font-size: 1.4vw;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 7vw; }
    .ParentPanel .link_list a {
      font-size: 1.4vw; }
    .ParentPanel .healthImg img {
      width: 50px; }
    .ParentPanel .checkBtnStyle {
      height: 4.6vw;
      font-size: 1.4vw; }
    .ParentPanel .healthbg {
      height: 15vw; }
    .ParentPanel .PosiitonHealthyPanel {
      top: 150px; }
    .ParentPanel .HealthyPanel {
      height: 38vw;
      margin: -17vw 0 0 0; }
    .ParentPanel .AchieveContextPAra {
      height: 9vw; }
    .ParentPanel .StudentLogoBanner {
      padding: 8vw 0 0 0; }
    .ParentPanel .AchieveContextInn {
      background: #FFCA08;
      height: 16vw; }
    .ParentPanel .AchieveContextInn p {
      display: block;
      display: -webkit-box;
      max-height: 9.36vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .AchieveInner {
      padding: 2vw 0 3vw 0; }
    .ParentPanel .studenAchievPanel .CarouselforSlick button {
      display: none !important; }
    .ParentPanel .AchieveTitleBlock p {
      position: relative;
      top: 5px; }
    .ParentPanel .knowMoreStyle {
      font-size: 1.3vw; }
    .ParentPanel .AchieveInner .CarouselforSlick button {
      display: none; }
    .ParentPanel .StoryTitleStrip {
      width: 30vw;
      height: 10vw; }
    .ParentPanel .StoryStyle.CarouselforSlick button {
      display: none !important; }
    .ParentPanel .StudentStoriesPanel {
      padding: 18vw 0 0 0; }
    .ParentPanel .StoryTitleStrip p {
      top: -3vw;
      font-size: 4.5vw; }
    .ParentPanel .StoryTitleStrip h2 {
      font-size: 6vw; }
    .ParentPanel .storiesPannInn.StyleForSlickArrows .slick-next {
      right: 7px;
      left: auto; }
    .ParentPanel .storiesPannInn.StyleForSlickArrows .slick-prev {
      right: 50px;
      left: auto; }
    .ParentPanel .storiesPannInn StyleForSlickArrows .slick-prev, .ParentPanel .storiesPannInn.StyleForSlickArrows .slick-next {
      top: 0; }
    .ParentPanel .StoriesContext {
      width: 24vw;
      display: block;
      height: 20vw; }
    .ParentPanel .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 2.6vw;
      font-size: 2vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .StoriesContext h3 {
      display: block;
      display: -webkit-box;
      max-height: 1.95vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .StoriesContext p {
      display: block;
      display: -webkit-box;
      max-height: 5.46vw;
      font-size: 1.4vw;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 7vw; }
    .ParentPanel .StoriesContext a {
      font-size: 1.4vw; }
    .ParentPanel .TextOverlap {
      left: -6%;
      top: -13%; }
    .ParentPanel .clblk_Top h2 {
      display: block;
      display: -webkit-box;
      max-height: 3.9vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .coursesfor p {
      display: block;
      display: -webkit-box;
      max-height: 3.12vw;
      font-size: 1.2vw;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .courseTitle p {
      display: block;
      display: -webkit-box;
      max-height: 2.34vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .coursesfor {
      height: 10vw; }
    .ParentPanel .clblk_Top {
      padding: 2vw 2vw;
      min-height: 29vw; }
    .ParentPanel .CheckBlk {
      padding: 2.5vw 20px; }
    .ParentPanel .forApplication p {
      display: block;
      display: -webkit-box;
      max-height: 1.69vw;
      font-size: 1.3vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .forApplication {
      padding: 2vw 2vw; }
    .ParentPanel .forApplication span {
      display: block;
      display: -webkit-box;
      max-height: 1.56vw;
      font-size: 1.2vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .CoursesPanel {
      margin: 0px 0 0 0; }
    .ParentPanel .CoursesPanel .StyleForSlickArrowsTop .slick-prev, .ParentPanel .CoursesPanel .StyleForSlickArrowsTop .slick-next {
      right: 7px;
      top: -12%; }
    .ParentPanel .CoursesPanel .StyleForSlickArrowsTop .slick-prev {
      right: 60px;
      left: auto; }
    .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-prev, .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-next {
      top: auto;
      bottom: 35%; }
    .ParentPanel .TwoBlockCarousel .slick-list {
      height: 32vw; }
    .ParentPanel .link_list.text-right.noPadding {
      right: 20px; }
    .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .ParentPanel .CourseFind a {
      font-size: 1.5vw;
      height: 35px; }
    .ParentPanel .Visit_list a {
      width: auto;
      padding: 0 10px !important;
      display: flex;
      align-items: center; }
    .ParentPanel .ApplyNow a {
      width: 16vw;
      height: 35px;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center; }
    .ParentPanel .FacultyStrip h2 {
      font-size: 5.2vw; }
    .ParentPanel .FacultyPanel {
      padding: 0 0 4vw 0; }
    .ParentPanel .fac_Row {
      height: auto; }
    .ParentPanel .col-sm-8.fac_List {
      padding: 8vw 0 0 0; }
    .ParentPanel .FacultyStrip {
      height: 12vw; }
    .ParentPanel .col-sm-4.fac_Inn {
      padding: 0 20px; }
    .ParentPanel .fac_InnerRow {
      margin: 0 -20px; }
    .ParentPanel .Num_Title {
      font-size: 1.8vw; }
    .ParentPanel .StyleForSlickArrows .slick-prev {
      left: 0px; }
    .ParentPanel .StyleForSlickArrows .slick-next {
      right: 0;
      left: auto; }
    .ParentPanel .Event_Inner .link_list {
      top: 2%; }
    .ParentPanel .industryStrip {
      height: 8vw; }
    .ParentPanel .EventCarousel button {
      display: none !important; }
    .ParentPanel .Event_Inner .CarouselforSlick button {
      display: none; }
    .ParentPanel .EventContStyle {
      height: 16vw; }
    .ParentPanel .EventContStyle h4 {
      display: block;
      display: -webkit-box;
      max-height: 2.34vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .EventPara {
      height: 7vw; }
    .ParentPanel .EventPara p {
      display: block;
      display: -webkit-box;
      max-height: 9.36vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .industryStrip h2 {
      font-size: 3.5vw; }
    .ParentPanel .IndContext h4 {
      padding: 0 0 0 2vw; }
    .ParentPanel .industryPanel .link_list {
      position: static; }
    .ParentPanel .ind_CompanyList {
      padding: 0 40px 12px 40px; }
    .ParentPanel .industry_blockList {
      margin: 0 -20px; }
    .ParentPanel .Ind_inn {
      padding: 0 20px; }
    .ParentPanel .guestContext p {
      display: block;
      display: -webkit-box;
      max-height: 4.68vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .GuestcontextInner {
      min-height: 6vw; }
    .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-next {
      right: 45%; } }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  /**Common***/
  .ParentPanel {
    /**Accordion*/
    /***Watch Panel*/
    /***Banner****/
    /**Campus***/
    /****Student Living***/
    /**Healthy Panel***/
    /***Guest**/
    /***PArent Stories**/
    /**Industry UPES*/
    /**Events***/
    /**Faculty*/
    /**Courses**/
    /***Mobile Accordion***/
    /***Achievements***/ }
    .ParentPanel .mlr {
      margin: 0; }
    .ParentPanel .DetailsBlk {
      padding: 20px 15px; }
    .ParentPanel .global-img {
      margin-left: 0; }
    .ParentPanel .EventCarousel {
      padding: 0 !important;
      margin: 0 0 40px 0; }
    .ParentPanel .AccordionStyle {
      z-index: 1; }
      .ParentPanel .AccordionStyle .CardHeaderPanel a {
        font-size: 12px;
        padding: 10px 15px; }
        .ParentPanel .AccordionStyle .CardHeaderPanel a:after {
          font-size: 20px;
          top: 5px; }
      .ParentPanel .AccordionStyle .cardContext {
        padding: 1vw; }
        .ParentPanel .AccordionStyle .cardContext p, .ParentPanel .AccordionStyle .cardContext li, .ParentPanel .AccordionStyle .cardContext a {
          font-size: 10px !important;
          line-height: inherit; }
    .ParentPanel .DisclaimerTExt.DisclaimerTExtTop {
      padding: 0 0 20px 0; }
    .ParentPanel .paraLittle {
      font-size: 10px; }
    .ParentPanel .paraSmall {
      font-size: 12px; }
    .ParentPanel .titleh3 {
      font-size: 30px; }
    .ParentPanel .titleh4 {
      font-size: 16px; }
    .ParentPanel .CoursesList .slick-list.draggable {
      overflow: hidden !important; }
    .ParentPanel ul.slick-dots {
      display: none !important; }
    .ParentPanel .row {
      margin: 0px !important; }
    .ParentPanel .ind_CompanyList {
      margin: 0 0px; }
    .ParentPanel .WatchPanel {
      position: relative;
      bottom: -55px;
      right: auto;
      z-index: 9;
      display: block !important;
      left: 10px;
      width: 95%; }
    .ParentPanel .helplineChatInner {
      display: none; }
    .ParentPanel .WatchPanel a img {
      width: 20px; }
    .ParentPanel .helplineChatInner a {
      margin: 10px 0;
      font-size: 11px; }
    .ParentPanel .HomeBtnStyle {
      font-size: 10px;
      height: auto;
      width: 50%;
      margin: 0 0 6px 0;
      padding: 6px 10px 6px 20px; }
    .ParentPanel .BannerImg {
      width: 100%;
      float: none; }
    .ParentPanel .BannerImg img {
      width: 100%; }
    .ParentPanel .banner {
      z-index: 1; }
    .ParentPanel .BannerStripContext h1 {
      font-size: 20px; }
    .ParentPanel .BannerStripContext {
      width: 80%;
      bottom: -70px;
      padding: 50px 10px 50px 20px;
      height: 240px; }
    .ParentPanel .downArrowIcon {
      width: 30px; }
    .ParentPanel .DownArrow {
      bottom: -60px;
      text-align: center;
      left: auto;
      right: 0;
      width: 20%;
      z-index: 99; }
    .ParentPanel .breadcrumbPanel {
      position: absolute;
      left: 20px;
      bottom: 130px; }
    .ParentPanel .breadcrumbCustom li {
      font-size: 13px;
      font-weight: 500; }
    .ParentPanel .CampusBg img {
      width: 100vw; }
    .ParentPanel .col-sm-4.cmpinn {
      flex: 0 0 100%;
      max-width: 100%; }
    .ParentPanel .CampusBg {
      position: absolute;
      right: 0px;
      top: -60px; }
    .ParentPanel .cmpinn p {
      width: 100%;
      font-size: 12px;
      padding: 8px 0 20px 0; }
    .ParentPanel .CampusInner {
      padding: 20px 0 10px 0; }
    .ParentPanel .plr7 {
      padding: 0 15px; }
    .ParentPanel .GrayTitle {
      font-size: 55px;
      top: 0vh;
      padding: 0 15px;
      margin: 0; }
    .ParentPanel .st_inn {
      width: 80%;
      padding: 0 15px 55px 15px;
      height: auto; }
    .ParentPanel .st_inn h2 {
      font-size: 35px;
      padding: 20px 0 20px 0; }
    .ParentPanel .StudentLivingPanel {
      background: #F7F7F7; }
    .ParentPanel .SLContext {
      padding: 0 26vw 0px 0;
      margin: -3.5vh 0 0 0; }
    .ParentPanel .SLCarouselPanel {
      margin: -30px 0 0 0 !important; }
    .ParentPanel .SLContextInner {
      padding: 15px 15px 15px 15px;
      height: 110px; }
    .ParentPanel .SLContext p {
      display: block;
      display: -webkit-box;
      max-height: 72.8px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .st_inn h3 {
      font-size: 11px;
      padding: 0 0 5px 0; }
    .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 10px; }
    .ParentPanel .StyleForSlickArrows .slick-prev {
      left: auto;
      right: 22%; }
    .ParentPanel .SLCarouselPanel .slick-list {
      padding: 0 15px; }
    .ParentPanel .StudentLivingPanel .link_list {
      display: none; }
    .ParentPanel .SLCarouselPanel .guestPanelStyle {
      padding: 0 15px 0 0; }
    .ParentPanel .StyleForSlickArrows .slick-next {
      right: 10%; }
    .ParentPanel .PosiitonHealthyPanel {
      position: static;
      margin: 60px 0 0px 0; }
    .ParentPanel .TwoBlockCarousel .slick-list {
      height: 130px; }
    .ParentPanel .AchieveTitleBlock p {
      top: 8px; }
    .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-prev {
      left: 35%; }
    .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-next {
      right: 40%; }
    .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-prev, .ParentPanel .StyleForSlickArrows.TwoBlockCarousel .slick-next {
      top: auto;
      bottom: 0%; }
    .ParentPanel .HealthyTitle {
      padding: 0 15px; }
    .ParentPanel .healthImg img {
      width: 35px; }
    .ParentPanel .healthbg {
      height: 80px;
      padding: 0 15px; }
    .ParentPanel .col-sm-6.healthList {
      flex: 0 0 100%;
      width: 100%;
      margin: 0 0 20px 0; }
    .ParentPanel .healthContext {
      padding: 0 0 0 20px; }
    .ParentPanel .col-sm-6.healthList:last-child {
      order: -1; }
    .ParentPanel .HealthyPanel {
      height: auto;
      margin: 0; }
    .ParentPanel .guestContext {
      padding: 0 20vw 0 0; }
    .ParentPanel .guestBg {
      padding: 15px 15px; }
    .ParentPanel .GuestcontextInner {
      min-height: 50px; }
    .ParentPanel .guestContext p {
      display: block;
      display: -webkit-box;
      max-height: 41.6px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-prev {
      left: auto;
      right: 14%; }
    .ParentPanel .GuestLecturePanel {
      padding: 5vh 0 5vh 0; }
    .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-next {
      right: 3%; }
    .ParentPanel .ParentStoriesPanel {
      padding: 30px 15px 15px 15px; }
    .ParentPanel .Studentstories .link_list {
      position: static; }
    .ParentPanel .Event_Inner .link_list.text-right {
      position: static;
      padding: 10px 15px; }
    .ParentPanel .ParentStoriesPanel .link_list.text-right.noPadding {
      position: static; }
    .ParentPanel .ParentStoriesBG {
      background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
      background-position: 0 -200px;
      background-size: cover; }
    .ParentPanel .StoryTitleStrip {
      width: 280px;
      padding: 0 15px;
      height: auto; }
    .ParentPanel .storiesPannInn {
      padding: 30px 0 0 0; }
    .ParentPanel .storiesPanStyle {
      padding: 0px !important; }
    .ParentPanel .storiesPanStyle img {
      width: 230px; }
    .ParentPanel .StoryTitleStrip p {
      font-size: 30px;
      top: -38%; }
    .ParentPanel .StoryTitleStrip h2 {
      font-size: 50px; }
    .ParentPanel .StoriesContext {
      left: 40%;
      width: 200px;
      padding: 10px 15px;
      height: 175px; }
    .ParentPanel .StoriesContext h3 {
      font-weight: 500;
      display: block;
      display: -webkit-box;
      max-height: 18.2px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 23.4px;
      font-size: 18px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 10px 0; }
    .ParentPanel .StoriesContext p {
      display: block;
      display: -webkit-box;
      max-height: 62.4px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 10px 0;
      height: 65px; }
    .ParentPanel .StoriesContext a {
      font-size: 11px; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-next {
      right: 0px; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-prev, .ParentPanel .StoryStyle.StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 60px; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-prev {
      left: auto;
      right: 0;
      bottom: 105px; }
    .ParentPanel .industryPanel {
      padding: 0px 15px 0 15px;
      margin: 70px 0 0 0; }
    .ParentPanel .IndContext {
      width: 80%; }
    .ParentPanel .industryStrip {
      height: 13vh; }
    .ParentPanel .industryStrip h2 {
      font-size: 28px;
      margin: 0 -4vh 0 0; }
    .ParentPanel .col-sm-4.Ind_inn {
      padding: 25px 25px; }
    .ParentPanel .Numb_list {
      font-size: 30px;
      width: 60%; }
    .ParentPanel .Num_Title {
      font-size: 14px;
      padding: 0;
      width: 40%; }
    .ParentPanel .industry_blockList {
      padding: 0px; }
    .ParentPanel .industryPanel .link_list {
      text-align: center;
      position: static; }
    .ParentPanel .ind_CompanyList.StyleForSlickArrows .slick-prev, .ParentPanel .ind_CompanyList.StyleForSlickArrows .slick-next {
      bottom: -50px; }
    .ParentPanel .ind_CompanyList.StyleForSlickArrows .slick-prev {
      left: 40%;
      right: auto; }
    .ParentPanel .ind_CompanyList.StyleForSlickArrows .slick-next {
      right: 36%; }
    .ParentPanel .ind_CompanyList {
      padding: 0 18px;
      margin: 0 0 50px 0; }
    .ParentPanel .industryPanel .link_list a {
      font-size: 11px; }
    .ParentPanel .fac_Row {
      height: auto; }
    .ParentPanel .Event_Inner {
      padding: 40px 0 0 50px; }
    .ParentPanel .eventContext {
      margin: -30px 0 0 0;
      padding: 0 0 0 45px; }
    .ParentPanel .Event_Inner h2 {
      padding: 4.6vh 15px;
      position: absolute;
      left: -35px;
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      top: 25%; }
    .ParentPanel .Event_Inner .link_list {
      position: absolute;
      right: 15px;
      top: auto;
      bottom: -60px;
      z-index: 9999; }
    .ParentPanel .link_list a {
      font-size: 11px; }
    .ParentPanel .EventContStyle {
      height: 140px; }
    .ParentPanel .EventContStyle h4 {
      display: block;
      display: -webkit-box;
      max-height: 20.8px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .EventPara {
      height: 75px; }
    .ParentPanel .EventPara p {
      display: block;
      display: -webkit-box;
      max-height: 18.2px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .EventCarousel.StyleForSlickArrows .slick-prev {
      left: -7%;
      right: auto; }
    .ParentPanel .EventCarousel.StyleForSlickArrows .slick-prev, .ParentPanel .EventCarousel.StyleForSlickArrows .slick-next {
      bottom: 0px;
      top: auto; }
    .ParentPanel .EventCarousel.StyleForSlickArrows .slick-next {
      right: auto;
      left: -7%;
      bottom: 50px; }
    .ParentPanel .fac_Row {
      padding: 20px 0px; }
    .ParentPanel .fac_List {
      flex: 0 0 100%;
      max-width: 100%; }
    .ParentPanel .fac_List h4 {
      padding: 0 15px;
      width: 50%;
      font-size: 14px; }
    .ParentPanel .FacultyStrip h2 {
      font-size: 28px;
      padding: 0 25px; }
    .ParentPanel .FacultyStrip {
      height: 13vh;
      align-items: center !important; }
    .ParentPanel .col-sm-4.fac_Inn:first-child {
      position: absolute;
      top: -90px;
      right: 0; }
    .ParentPanel .fac_Inn .Num_Title {
      font-size: 14px;
      margin: 0;
      padding: 0 15px;
      width: 100%; }
    .ParentPanel .col-sm-4.fac_Inn {
      padding: 0 15px;
      flex: 0 0 50%;
      max-width: 50%; }
    .ParentPanel .fac_InnerRow {
      padding: 10px 0 0 0; }
    .ParentPanel .FacultyStrip {
      width: 80%; }
    .ParentPanel .CoursesPanel {
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      margin: 0;
      background-size: cover;
      background-position: top; }
    .ParentPanel .applyCourses .plr100 {
      padding: 0; }
    .ParentPanel .coursesfor p {
      display: block;
      display: -webkit-box;
      max-height: 26px;
      font-size: 10px;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .CL_bg {
      min-height: 380px; }
    .ParentPanel .CoursesList {
      margin: 0;
      padding: 20px 15px; }
    .ParentPanel .CL_Block {
      padding: 0 0 0 15px;
      width: 75%;
      overflow: hidden; }
    .ParentPanel .CoursesList .slick-list {
      padding: 0 15px; }
    .ParentPanel .TextOverlap {
      position: relative;
      font-size: 55px;
      padding: 0 15px;
      height: auto;
      top: -15px;
      left: 0; }
    .ParentPanel .crseTitle {
      padding: 0 15px;
      font-size: 20px;
      margin: -35px 0 0 0; }
    .ParentPanel .courseTitle h2 {
      color: #00448B; }
    .ParentPanel .applyCourses {
      background: #f7f7f7;
      padding: 70px 0 20px 0; }
    .ParentPanel .courseIcon {
      width: 35px; }
    .ParentPanel .CLK_blk {
      padding: 0 0 0 15px;
      width: 75%;
      overflow: hidden; }
    .ParentPanel .coursesfor a {
      position: static;
      font-size: 10px; }
    .ParentPanel .courseTitle {
      height: 35px; }
    .ParentPanel .clblk_Top h2 {
      display: block;
      display: -webkit-box;
      max-height: 41.6px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .courseTitle p {
      display: block;
      display: -webkit-box;
      max-height: 15.6px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .clblk_Top {
      display: flex;
      border-bottom: none;
      padding: 15px 30px 15px 20px;
      min-height: 180px; }
    .ParentPanel .course_iconStyle {
      min-height: inherit;
      max-height: inherit;
      width: 25%; }
    .ParentPanel .CheckBlk {
      padding: 5.5vw 40px; }
    .ParentPanel .CheckBlk a {
      height: 35px; }
    .ParentPanel .forApplication span {
      display: inline-block;
      display: block;
      display: -webkit-box;
      max-height: 13px;
      font-size: 10px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .forApplication p {
      display: block;
      display: -webkit-box;
      max-height: 15.6px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .CoursesList.StyleForSlickArrows .slick-prev, .ParentPanel .CoursesList.StyleForSlickArrows .slick-next {
      bottom: -30px; }
    .ParentPanel .CoursesList.StyleForSlickArrows .slick-prev {
      left: 40%;
      right: auto; }
    .ParentPanel .CoursesList.StyleForSlickArrows .slick-next {
      right: auto;
      left: 53%; }
    .ParentPanel .coursesfor {
      height: 80px; }
    .ParentPanel .forApplication {
      min-height: 85px;
      padding: 20px 20px;
      border-top: 1px solid #EEEEEE; }
    .ParentPanel .Visit_list a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 11px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .ParentPanel .Visit_list {
      margin: 0 0 10px 0; }
    .ParentPanel .ApplyNow a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 11px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .ParentPanel .applyCourses .d-flex {
      display: block !important;
      text-align: center; }
    .ParentPanel .CoursesForMobile {
      padding: 0 15px; }
    .ParentPanel .AccordionStyleForMobile {
      margin: 40px 0 0 0;
      box-shadow: 0 5px 5px #ccc;
      position: relative; }
      .ParentPanel .AccordionStyleForMobile .table-cover {
        overflow-x: auto; }
      .ParentPanel .AccordionStyleForMobile .CardHeaderPanel > a {
        display: block;
        position: relative;
        font-weight: 600;
        color: #000000;
        padding: 0 15px;
        /*border-bottom: 1px solid #FAFAFA;*/
        display: flex;
        height: 55px;
        align-items: center; }
      .ParentPanel .AccordionStyleForMobile .CardHeaderPanel > a:after {
        content: '+';
        font-family: cursive;
        position: absolute;
        right: 15px;
        font-weight: 600;
        font-size: 30px;
        color: #000; }
      .ParentPanel .AccordionStyleForMobile .CardHeaderPanel > a[aria-expanded="true"]:after {
        content: '-'; }
      .ParentPanel .AccordionStyleForMobile .table-cover span {
        font-weight: 500 !important;
        font-size: 1vw; }
      .ParentPanel .AccordionStyleForMobile .card-body.cardContext {
        padding: 0; }
      .ParentPanel .AccordionStyleForMobile .card-header {
        background: inherit;
        border: none;
        padding: 0px; }
      .ParentPanel .AccordionStyleForMobile .card {
        border: none;
        border-radius: 0px;
        margin: 10px 0; }
      .ParentPanel .AccordionStyleForMobile .DetailsBlk {
        padding: 2.5vw 8vw; }
    .ParentPanel .AchieveInner {
      padding: 15px 0 0 0;
      z-index: 99; }
    .ParentPanel .AchieveInner .link_list.text-right.noPadding {
      position: static; }
    .ParentPanel .StudentLogoBanner {
      background: #f7f7f7; }
    .ParentPanel .AchieveTitleBlock {
      padding: 0 15px; }
    .ParentPanel .AchieveContext {
      padding: 0 0 0 60px; }
    .ParentPanel .AchieveContextInn {
      padding: 20px 20px;
      height: 150px; }
    .ParentPanel .AchieveContextPAra {
      height: 95px; }
    .ParentPanel .AchieveContextInn p {
      display: block;
      display: -webkit-box;
      max-height: 83.2px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .ParentPanel .studenAchievPanel .EventPanelStyle img {
      width: 280px; }
    .ParentPanel .knowMoreStyle {
      font-size: 11px; }
    .ParentPanel .studenAchievPanel .StyleForSlickArrows .slick-prev, .ParentPanel .studenAchievPanel .StyleForSlickArrows .slick-next {
      display: none !important; }
    .ParentPanel .link_list.ShowOnMobile {
      padding: 10px 15px;
      display: none !important; }
    .ParentPanel .StudentStoriesPanel {
      margin: -190px 0 0 0;
      padding: 0px; }
    .ParentPanel .Studentstories {
      background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
      background-position: 0 -200px;
      background-size: cover;
      padding: 250px 15px 0 15px; }
    .ParentPanel .LogoBanner:before {
      display: none; } }

@media (min-width: 300px) and (max-width: 350px) {
  .ParentPanel .StoryStyle.StyleForSlickArrows .slick-prev {
    left: 10%;
    right: auto;
    bottom: 105px; }
  .ParentPanel .StoryStyle.StyleForSlickArrows .slick-next {
    right: auto;
    left: 10%; } }
