/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.UpesStudent {
  /**Banner*/
  /**Banner Section*/ }
  .UpesStudent a.color-blue {
    color: #00448B;
    text-decoration: underline;
    font-weight: 600; }
  .UpesStudent .pl7-5 {
    padding-left: 7.5px; }
  .UpesStudent .pr7-5 {
    padding-right: 7.5px; }
  .UpesStudent .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .UpesStudent .BannerImg {
    float: right; }
    .UpesStudent .BannerImg img {
      width: 70vw; }
  .UpesStudent .BannerStripContext {
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    justify-content: center;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 26vmax;
    background-size: cover;
    z-index: 9;
    left: 10px;
    box-shadow: 0 5px 5px #CDCDCD; }
  .UpesStudent .BannerStripContext .fontExBold {
    font-size: 6vw;
    position: absolute;
    width: 55vw;
    left: 6vmax;
    line-height: 12vh;
    top: -4.5vw; }
  .UpesStudent .BannerStripContext .StripContent {
    font-size: 1.5vw;
    padding-top: 12%;
    padding-right: 40px; }
  .UpesStudent .DownArrow {
    left: -5%; }
  .UpesStudent .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .UpesStudent .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .UpesStudent .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .UpesStudent .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    top: 25%;
    left: 7vw;
    padding: 0 50px 0 0;
    position: absolute; }
  .UpesStudent .BannerContextList li {
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0 0 4vh 0;
    position: relative; }
  .UpesStudent .BannerContextList li:before {
    content: '';
    background: #333;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: -8px;
    border-radius: 100%;
    top: 12px; }
  .UpesStudent .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
  .UpesStudent .wrapper-75 {
    width: 75vw;
    margin: auto; }
  .UpesStudent .accord-wrapper {
    /**Details Accordion*/ }
    .UpesStudent .accord-wrapper .DetailsBanner:before {
      content: '';
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      top: 0;
      background-position: 0px -35vh; }
    .UpesStudent .accord-wrapper .AchieveTitleBlock .link_list {
      position: absolute;
      right: 0;
      top: 10px; }
    .UpesStudent .accord-wrapper .appList.ApplyNow a {
      background: #FFCA08; }
    .UpesStudent .accord-wrapper .applyNowForDetail {
      padding: 8vh 0 5vh 0; }
    .UpesStudent .accord-wrapper .appList p {
      padding: 0 10px 0;
      font-size: 1.05vw;
      color: #606060; }
    .UpesStudent .accord-wrapper .colorLightWhite .CardHeaderPanel a {
      background: #F7F7F7;
      border-bottom: 2px solid #fff; }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a {
      display: block;
      position: relative;
      font-weight: 600;
      color: #000000;
      font-size: 1.25vw;
      padding: 16px 25px;
      padding: 1.1713vw 1.8302vw;
      border-bottom: 2px solid #FAFAFA; }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a:after {
      content: '>';
      font-family: monospace;
      position: absolute;
      right: 25px;
      font-weight: 600;
      font-size: 1.6vw;
      color: #A1A1A1;
      top: 12px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a[aria-expanded="true"]:after {
      content: '>';
      font-family: monospace;
      transform: rotate(270deg); }
    .UpesStudent .accord-wrapper .AccordionStyle {
      margin: 30px 0 0 0;
      background: #fff;
      box-shadow: 0 5px 5px #ccc;
      position: relative;
      border: 1px solid #EDEDED; }
    .UpesStudent .accord-wrapper .card-body.cardContext {
      padding: 20px 25px; }
    .UpesStudent .accord-wrapper .AccordionStyle .card-header {
      background: inherit;
      border: none;
      padding: 0px; }
    .UpesStudent .accord-wrapper .cardContext p {
      font-weight: 500;
      font-size: 1vw;
      line-height: 24px; }
    .UpesStudent .accord-wrapper .AccordionStyle .card {
      border: none;
      border-radius: 0px; }
  .UpesStudent .StudentLogoBanner {
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    background-position: right;
    background-size: 48%; }
  .UpesStudent .AchieveInner {
    padding: 30vh 0 3vh 0; }
  .UpesStudent .AchieveTitle p {
    line-height: 10px; }
  .UpesStudent .AchieveContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .UpesStudent .AchieveTitleBlock p {
    position: relative;
    top: 10px; }
  .UpesStudent .AchieveTitleBlock h3 {
    margin: 0 0 20px 0; }
  .UpesStudent .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .UpesStudent .AchieveContextInn {
    background: #FFCA08;
    padding: 1.7vh 3vw 1.7vh 2vw; }
  .UpesStudent .AchieveContextInn p {
    font-size: 1.5vw; }
  .UpesStudent .knowMoreStyle {
    text-decoration: underline !important;
    font-size: 0.9vw;
    color: #00448B !important;
    margin: 10px 0 0 0;
    display: inline-block; }
  .UpesStudent .section-5 {
    background-color: #F7F7F7;
    padding-bottom: 60px;
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat; }
    .UpesStudent .section-5 .accordion-title {
      padding-top: 60px; }
    .UpesStudent .section-5 .contact-wrapper {
      padding-bottom: 30px; }
      .UpesStudent .section-5 .contact-wrapper h3 {
        font-size: 150px;
        font-size: 7.8vw;
        font-weight: 900;
        color: #DDDDDD;
        margin: 60px 0px; }
      .UpesStudent .section-5 .contact-wrapper .header {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 1.25vw; }
      .UpesStudent .section-5 .contact-wrapper .details p {
        margin: 10px 0px;
        font-size: 1.25vw;
        font-weight: 600; }
  .UpesStudent .downloable-accord .CardHeaderPanel a:after {
    content: '' !important;
    background-image: url("../src/img/upes-students/download.png") !important;
    background-repeat: no-repeat !important;
    transform: inherit !important;
    padding: 1vw !important;
    background-position: center; }
  .UpesStudent .AchieveTitleBlock h3 {
    color: #EEEEEE;
    font-size: 7.2vw;
    position: relative;
    top: -1vh;
    margin: 0 0 20px 0; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1441px) and (max-width: 1599px) {
  .ParentPanel .st_inn h3 {
    padding: 20px 0 15px 0; }
  .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
    width: 35px;
    height: 35px; }
  .ParentPanel .coursesfor {
    height: 21.5vh; }
  .ParentPanel .clblk_Top h2 {
    line-height: 3.5vh; }
  .ParentPanel .course_iconStyle {
    min-height: 15vh; }
  .ParentPanel .courseTitle {
    min-height: 11vh; } }
@media (min-width: 1366px) and (max-width: 1440px) {
  .ParentPanel .st_inn h3 {
    padding: 20px 0 15px 0; }
  .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
    width: 35px;
    height: 35px; }
  .ParentPanel .coursesfor {
    height: 21.5vh; }
  .ParentPanel .courseTitle {
    min-height: 11vh; }
  .ParentPanel .clblk_Top h2 {
    line-height: 3vh; } }
@media (min-width: 1200px) and (max-width: 1365px) {
  .ParentPanel .clblk_Top {
    padding: 2vh 25px 2vh 20px; }
  .ParentPanel .coursesfor {
    height: 20vh; }
  .ParentPanel .CheckBlk {
    padding: 3.5vh 20px; }
  .ParentPanel .courseTitle {
    min-height: 12vh; }
  .ParentPanel .clblk_Top h2 {
    line-height: 20px; }
  .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
    height: 6vh; }
  .ParentPanel .st_inn h3 {
    padding: 20px 0 15px 0; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }

  .paraLittle {
    font-size: 1.1vw; }

  .titleh4 {
    font-size: 1.6vw; }

  .paraSmall {
    font-size: 1.5vw; }

  .titleh4 {
    font-size: 1.8vw; }

  .ParentPanel {
    /***Campus*/
    /**Student Living*/
    /**STories*/
    /**Courses**/
    /***Student Living*/ }
    .ParentPanel .BannerImg img {
      width: 77vw; }
    .ParentPanel .BannerStripContext {
      padding: 4.5vh 75px 4.5vh 45px; }
    .ParentPanel .BannerStripContext p {
      font-size: 2.5vmax; }
    .ParentPanel .breadcrumbCustom li {
      font-size: 0.9vw; }
    .ParentPanel .GrayTitle {
      color: #EEEEEE;
      font-size: 7.2vw;
      position: relative;
      top: 0vh; }
    .ParentPanel .link_list a {
      font-size: 1.2vw; }
    .ParentPanel .cmpinn p {
      font-size: 1.2vw; }
    .ParentPanel .ParentPanel .SLContext p {
      font-size: 1.3vw; }
    .ParentPanel .StudentLivingPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StudentLivingPanel .StyleForSlickArrows .slick-next {
      bottom: -60px;
      top: auto; }
    .ParentPanel .StudentLivingPanel .StyleForSlickArrows .slick-next {
      right: auto;
      left: 50px; }
    .ParentPanel .AchieveContextInn {
      padding: 1.7vh 2vw 1.7vh 2vw; }
    .ParentPanel .ParentPanel .SLContext p {
      min-height: 14vh;
      font-size: 1.4vw; }
    .ParentPanel .AchieveContextInn p {
      font-size: 1.4vw; }
    .ParentPanel .knowMoreStyle {
      font-size: 1.1vw; }
    .ParentPanel .StoriesContext p {
      font-size: 1.3vw; }
    .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .ParentPanel .CourseFind a {
      font-size: 1vw; }
    .ParentPanel .StoriesContext {
      width: 22.5vw; }
    .ParentPanel .StoriesContext a {
      font-size: 1.2vw; }
    .ParentPanel .StoriesContext h2 {
      font-size: 1.7vw; }
    .ParentPanel .StoriesContext h3 {
      font-size: 1.4vw; }
    .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-prev {
      left: 45%; }
    .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-next {
      right: auto;
      left: 50%; }
    .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-prev, .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-next {
      top: auto;
      bottom: -50px; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-prev {
      left: 45%; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-next {
      right: auto;
      left: 50%; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-prev, .ParentPanel .StoryStyle.StyleForSlickArrows .slick-next {
      top: auto;
      bottom: 25px; }
    .ParentPanel .FacultyStrip h2 {
      font-size: 4vw; }
    .ParentPanel .st_inn p {
      font-size: 1.3vw; }
    .ParentPanel .clblk_Top {
      padding: 2vh 20px 2vh 20px; }
    .ParentPanel .coursesfor {
      height: 22.5vh; }
    .ParentPanel .CheckBlk {
      padding: 3.5vh 15px; }
    .ParentPanel .CourseFind a {
      font-size: 1vw; }
    .ParentPanel .courseTitle {
      min-height: 11vh; }
    .ParentPanel .SLContext p {
      padding: 3vh 20px 3vh 20px;
      font-size: 1.3vw; }
    .ParentPanel .st_inn h3 {
      padding: 20px 0 15px 0; } }
@media (min-width: 768px) and (max-width: 991px) {
  .plr100 {
    padding: 0 20px; }

  .plr20 {
    padding: 0 10px; }

  .paraSmall {
    font-size: 1.8vw; }

  .titleMedium {
    font-size: 3vw; }

  .paraLittle {
    font-size: 1.2vw; }

  .titleh4 {
    font-size: 2.2vw; }

  .ParentPanel {
    /***Banner****/
    /***Campus***/
    /**Student Living**/
    /**Healthy**/
    /**Student Achievements*/
    /**Student Stories**/
    /**Courses**/
    /***Faculty*/
    /****Events***/
    /***Industry**/
    /***Guest**/ }
    .ParentPanel .BannerImg img {
      width: 85vw; }
    .ParentPanel .BannerStripContext {
      padding: 4.5vh 15px 4.5vh 15px; }
    .ParentPanel .breadcrumb.breadcrumbCustom li {
      font-size: 1.5vw; }
    .ParentPanel .BannerStripContext p {
      font-size: 2.5vmax; }
    .ParentPanel .GrayTitle {
      top: 1vh; }
    .ParentPanel .CampusInner {
      padding: 0px 0 35px 0; }
    .ParentPanel .cmpinn p {
      width: 100%;
      font-size: 1.5vw; }
    .ParentPanel .st_inn p {
      font-size: 1.5vw; }
    .ParentPanel .SLContext p {
      padding: 3vh 20px 3vh 20px;
      font-size: 1.5vw; }
    .ParentPanel .link_list a {
      font-size: 1.4vw; }
    .ParentPanel .healthImg img {
      width: 50px; }
    .ParentPanel .PosiitonHealthyPanel {
      top: 50px; }
    .ParentPanel .AchieveInner {
      padding: 20vh 0 3vh 0; }
    .ParentPanel .AchieveContextInn p {
      font-size: 1.8vw; }
    .ParentPanel .AchieveTitleBlock p {
      position: relative;
      top: 5px; }
    .ParentPanel .knowMoreStyle {
      font-size: 1.5vw; }
    .ParentPanel .AchieveContextInn {
      background: #FFCA08;
      padding: 1.7vh 2vw 1.7vh 2vw; }
    .ParentPanel .StoryTitleStrip {
      width: 30vw; }
    .ParentPanel .StoryTitleStrip p {
      top: -18%;
      font-size: 3.5vw; }
    .ParentPanel .StoriesContext {
      width: 24vw; }
    .ParentPanel .StoriesContext h2 {
      font-size: 2vw; }
    .ParentPanel .StoriesContext h3 {
      font-size: 1.5vw; }
    .ParentPanel .StoriesContext p {
      font-size: 1.5vw; }
    .ParentPanel .StoriesContext a {
      font-size: 1.4vw; }
    .ParentPanel .TextOverlap {
      left: -6%; }
    .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .ParentPanel .clblk_Top {
      padding: 2vh 20px 2vh 20px; }
    .ParentPanel .CheckBlk {
      padding: 3.5vh 20px; }
    .ParentPanel .CourseFind a {
      font-size: 1.5vw; }
    .ParentPanel .Visit_list a {
      width: auto;
      padding: 1.5vh 10px !important; }
    .ParentPanel .ApplyNow a {
      width: 16vw; }
    .ParentPanel .FacultyStrip h2 {
      font-size: 5.2vw; }
    .ParentPanel .col-sm-4.fac_Inn {
      padding: 0 20px; }
    .ParentPanel .fac_InnerRow {
      margin: 0 -20px; }
    .ParentPanel .Num_Title {
      font-size: 1.8vw; }
    .ParentPanel .Event_Inner .link_list {
      top: 2%; }
    .ParentPanel .eventContext p {
      font-size: 1.8vw; }
    .ParentPanel .industryStrip h2 {
      font-size: 3.5vw; }
    .ParentPanel .IndContext h4 {
      padding: 0 0 0 2vw; }
    .ParentPanel .industry_blockList {
      margin: 0 -20px;
      padding: 10vh 0; }
    .ParentPanel .Ind_inn {
      padding: 0 20px; }
    .ParentPanel .guestContext p {
      font-size: 1.8vw;
      padding: 4vh 2vw 4vh 2vw; } }
@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }

  .Yellowstripbgfull:before {
    display: none; }

  .plr100 {
    padding: 0 0; }

  .titleMedium {
    font-size: 26px; }

  .hideOnMobile {
    display: none; }

  .ShowOnMobile {
    display: block !important; }

  /**Common***/
  .ParentPanel {
    /***Banner****/
    /**Campus***/
    /****Student Living***/
    /**Healthy Panel***/
    /***Guest**/
    /***PArent Stories**/
    /**Industry UPES*/
    /**Events***/
    /**Faculty*/
    /**Courses**/
    /***Achievements***/ }
    .ParentPanel .mlr {
      margin: 0; }
    .ParentPanel .paraLittle {
      font-size: 10px; }
    .ParentPanel .paraSmall {
      font-size: 12px; }
    .ParentPanel .titleh3 {
      font-size: 30px; }
    .ParentPanel .titleh4 {
      font-size: 16px; }
    .ParentPanel .CoursesList .slick-list.draggable {
      overflow: hidden !important; }
    .ParentPanel ul.slick-dots {
      display: none !important; }
    .ParentPanel .row {
      margin: 0px !important; }
    .ParentPanel .ind_CompanyList {
      margin: 0 0px; }
    .ParentPanel .BannerImg {
      width: 100%;
      float: none; }
    .ParentPanel .BannerImg img {
      width: inherit; }
    .ParentPanel .banner {
      z-index: 1; }
    .ParentPanel .BannerStripContext p {
      font-size: 22px; }
    .ParentPanel .BannerStripContext {
      width: 80%;
      bottom: -70px;
      padding: 50px 20px;
      height: 240px; }
    .ParentPanel .downArrowIcon {
      width: 30px; }
    .ParentPanel .DownArrow {
      bottom: -60px;
      text-align: center;
      left: auto;
      right: 0;
      width: 20%; }
    .ParentPanel .breadcrumbPanel {
      position: absolute;
      left: 20px;
      bottom: 130px; }
    .ParentPanel .breadcrumbCustom li {
      font-size: 13px;
      font-weight: 500; }
    .ParentPanel .CampusBg img {
      width: 100vw; }
    .ParentPanel .col-sm-4.cmpinn {
      flex: 0 0 100%;
      max-width: 100%; }
    .ParentPanel .CampusBg {
      position: absolute;
      right: 0px;
      top: -60px; }
    .ParentPanel .cmpinn p {
      width: 100%;
      font-size: 12px;
      padding: 20px 0; }
    .ParentPanel .CampusInner {
      padding: 0px 0 10px 0; }
    .ParentPanel .plr7 {
      padding: 0 15px; }
    .ParentPanel .GrayTitle {
      font-size: 55px;
      top: 0vh;
      padding: 0 15px; }
    .ParentPanel .st_inn {
      width: 80%;
      padding: 0 15px 55px 15px;
      height: auto; }
    .ParentPanel .st_inn h3 {
      font-size: 35px;
      padding: 20px 0 20px 0; }
    .ParentPanel .StudentLivingPanel {
      background: #F7F7F7; }
    .ParentPanel .SLContext {
      padding: 0 26vw 0px 0;
      margin: -3.5vh 0 0 0; }
    .ParentPanel .SLCarouselPanel {
      margin: -30px 0 0 0 !important; }
    .ParentPanel .SLContext p {
      font-size: 14px;
      padding: 3vh 15px 3vh 15px; }
    .ParentPanel .st_inn p {
      font-size: 11px;
      padding: 0 0 5px 0; }
    .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 10px; }
    .ParentPanel .StyleForSlickArrows .slick-prev {
      left: auto;
      right: 22%; }
    .ParentPanel .SLCarouselPanel .slick-list {
      padding: 0 15px; }
    .ParentPanel .StudentLivingPanel .link_list {
      display: none; }
    .ParentPanel .SLCarouselPanel .guestPanelStyle {
      padding: 0 15px 0 0; }
    .ParentPanel .StyleForSlickArrows .slick-next {
      right: 12%; }
    .ParentPanel .PosiitonHealthyPanel {
      position: static;
      margin: 60px 0 0px 0; }
    .ParentPanel .HealthyTitle {
      padding: 0 15px; }
    .ParentPanel .healthImg img {
      width: 35px; }
    .ParentPanel .healthbg {
      height: 80px;
      padding: 0 15px; }
    .ParentPanel .col-sm-6.healthList {
      flex: 0 0 100%;
      width: 100%;
      margin: 0 0 20px 0; }
    .ParentPanel .healthContext {
      padding: 0 0 0 20px; }
    .ParentPanel .col-sm-6.healthList:last-child {
      order: -1; }
    .ParentPanel .HealthyPanel {
      height: auto;
      margin: 0; }
    .ParentPanel .guestContext {
      padding: 0 20vw 0 0; }
    .ParentPanel .guestContext p {
      font-size: 16px;
      padding: 4vh 15px 4vh 15px;
      height: 80px;
      display: table-cell;
      vertical-align: middle; }
    .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-prev {
      left: auto;
      right: 14%; }
    .ParentPanel .GuestLecturePanel {
      padding: 5vh 0 5vh 0; }
    .ParentPanel .guestPanelInn.StyleForSlickArrows .slick-next {
      right: 3%; }
    .ParentPanel .ParentStoriesPanel {
      padding: 30px 15px 15px 15px; }
    .ParentPanel .ParentStoriesBG {
      background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
      background-position: 0 -200px;
      background-size: cover; }
    .ParentPanel .StoryTitleStrip {
      width: 280px;
      padding: 0 15px; }
    .ParentPanel .storiesPannInn {
      padding: 30px 0 0 0; }
    .ParentPanel .storiesPanStyle {
      padding: 0px !important; }
    .ParentPanel .storiesPanStyle img {
      width: 230px; }
    .ParentPanel .StoryTitleStrip p {
      font-size: 30px; }
    .ParentPanel .StoryTitleStrip h2 {
      font-size: 50px; }
    .ParentPanel .StoriesContext h3 {
      font-size: 14px;
      font-weight: 500; }
    .ParentPanel .StoriesContext h2 {
      font-size: 18px; }
    .ParentPanel .StoriesContext p {
      font-size: 12px; }
    .ParentPanel .StoriesContext a {
      font-size: 11px; }
    .ParentPanel .StoriesContext {
      height: 160px;
      left: 40%;
      width: 200px; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-next {
      right: 0px; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-prev, .ParentPanel .StoryStyle.StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 60px; }
    .ParentPanel .StoryStyle.StyleForSlickArrows .slick-prev {
      left: auto;
      right: 0;
      bottom: 105px; }
    .ParentPanel .industryPanel {
      padding: 0px 15px 0 15px;
      margin: 70px 0 0 0; }
    .ParentPanel .IndContext {
      width: 80%; }
    .ParentPanel .industryStrip {
      height: 13vh; }
    .ParentPanel .industryStrip h2 {
      font-size: 28px;
      margin: 0 -2vh 0 0; }
    .ParentPanel .col-sm-4.Ind_inn {
      padding: 25px 25px; }
    .ParentPanel .Numb_list {
      font-size: 40px;
      width: 60%; }
    .ParentPanel .Num_Title {
      font-size: 14px;
      padding: 0;
      width: 40%; }
    .ParentPanel .industry_blockList {
      padding: 0px; }
    .ParentPanel .industryPanel .link_list {
      text-align: center; }
    .ParentPanel .ind_CompanyList.StyleForSlickArrows .slick-prev, .ParentPanel .ind_CompanyList.StyleForSlickArrows .slick-next {
      bottom: -50px; }
    .ParentPanel .ind_CompanyList.StyleForSlickArrows .slick-prev {
      left: 40%;
      right: auto; }
    .ParentPanel .ind_CompanyList.StyleForSlickArrows .slick-next {
      right: 40%; }
    .ParentPanel .ind_CompanyList {
      padding: 0 18px;
      margin: 0 0 50px 0; }
    .ParentPanel .industryPanel .link_list a {
      font-size: 11px; }
    .ParentPanel .fac_Row {
      height: auto; }
    .ParentPanel .Event_Inner {
      padding: 40px 0 0 50px; }
    .ParentPanel .eventContext {
      margin: -30px 0 0 0;
      padding: 0 0 0 45px; }
    .ParentPanel .Event_Inner h3 {
      padding: 4.6vh 15px;
      position: absolute;
      left: -35px;
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      top: 25%; }
    .ParentPanel .Event_Inner .link_list {
      position: absolute;
      right: 15px;
      top: auto;
      bottom: -60px;
      z-index: 9999; }
    .ParentPanel .link_list a {
      font-size: 11px; }
    .ParentPanel .eventContext p {
      font-size: 15px;
      padding: 5vh 15px 5vh 15px; }
    .ParentPanel .EventCarousel.StyleForSlickArrows .slick-prev {
      left: -7%;
      right: auto; }
    .ParentPanel .EventCarousel.StyleForSlickArrows .slick-prev, .ParentPanel .EventCarousel.StyleForSlickArrows .slick-next {
      bottom: 27%;
      top: auto; }
    .ParentPanel .EventCarousel.StyleForSlickArrows .slick-next {
      right: auto;
      left: -7%;
      bottom: 38%; }
    .ParentPanel .fac_Row {
      padding: 20px 0px; }
    .ParentPanel .fac_List {
      flex: 0 0 100%;
      max-width: 100%; }
    .ParentPanel .fac_List h4 {
      padding: 0 15px;
      width: 50%;
      font-size: 14px; }
    .ParentPanel .FacultyStrip h2 {
      font-size: 28px;
      padding: 0 25px; }
    .ParentPanel .FacultyStrip {
      height: 13vh;
      align-items: center !important; }
    .ParentPanel .col-sm-4.fac_Inn:first-child {
      position: absolute;
      top: -90px;
      right: 0; }
    .ParentPanel .fac_Inn .Num_Title {
      font-size: 14px;
      margin: 0;
      padding: 0 15px;
      width: 100%; }
    .ParentPanel .col-sm-4.fac_Inn {
      padding: 0 15px;
      flex: 0 0 50%;
      max-width: 50%; }
    .ParentPanel .fac_InnerRow {
      padding: 10px 0 0 0; }
    .ParentPanel .FacultyStrip {
      width: 80%; }
    .ParentPanel .CoursesPanel {
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      margin: 0;
      background-size: cover;
      background-position: top; }
    .ParentPanel .CoursesList {
      margin: 0;
      padding: 30px 15px; }
    .ParentPanel .CoursesList .slick-list {
      padding: 0 15px; }
    .ParentPanel .TextOverlap {
      position: relative;
      font-size: 55px;
      padding: 0 15px;
      height: auto;
      top: -15px;
      left: 0; }
    .ParentPanel .crseTitle {
      padding: 0 15px;
      font-size: 20px;
      margin: -35px 0 0 0; }
    .ParentPanel .applyCourses {
      background: #f7f7f7; }
    .ParentPanel .courseIcon {
      width: 45px; }
    .ParentPanel .CLK_blk {
      padding: 0 0 0 15px; }
    .ParentPanel .coursesfor a {
      position: static;
      font-size: 10px; }
    .ParentPanel .clblk_Top {
      display: flex; }
    .ParentPanel .course_iconStyle {
      min-height: inherit;
      width: 25%; }
    .ParentPanel .clblk_Top {
      border-bottom: none;
      padding: 2vh 30px 2vh 20px; }
    .ParentPanel .CheckBlk {
      padding: 3.5vh 80px; }
    .ParentPanel .forApplication span {
      display: inline-block; }
    .ParentPanel .CoursesList.StyleForSlickArrows .slick-prev, .ParentPanel .CoursesList.StyleForSlickArrows .slick-next {
      bottom: -30px; }
    .ParentPanel .CoursesList.StyleForSlickArrows .slick-prev {
      left: 40%;
      right: auto; }
    .ParentPanel .CoursesList.StyleForSlickArrows .slick-next {
      right: auto;
      left: 50%; }
    .ParentPanel .coursesfor {
      height: 100px; }
    .ParentPanel .Visit_list a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 11px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .ParentPanel .Visit_list {
      margin: 0 0 10px 0; }
    .ParentPanel .ApplyNow a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 11px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .ParentPanel .applyCourses .d-flex {
      display: block !important;
      text-align: center; }
    .ParentPanel .AchieveInner {
      padding: 45px 0 0 0;
      z-index: 99; }
    .ParentPanel .StudentLogoBanner {
      background: #f7f7f7; }
    .ParentPanel .AchieveTitleBlock {
      padding: 0 15px; }
    .ParentPanel .AchieveContext {
      padding: 0 0 0 60px; }
    .ParentPanel .AchieveContextInn {
      padding: 20px 20px; }
    .ParentPanel .studenAchievPanel .EventPanelStyle img {
      width: 280px; }
    .ParentPanel .AchieveContextInn p {
      font-size: 16px; }
    .ParentPanel .knowMoreStyle {
      font-size: 11px; }
    .ParentPanel .studenAchievPanel .StyleForSlickArrows .slick-prev, .ParentPanel .studenAchievPanel .StyleForSlickArrows .slick-next {
      display: none !important; }
    .ParentPanel .link_list.ShowOnMobile {
      padding: 10px 15px; }
    .ParentPanel .AchieveTitleBlock .link_list {
      display: none; }
    .ParentPanel .StudentStoriesPanel {
      margin: -190px 0 0 0;
      padding: 0px; }
    .ParentPanel .Studentstories {
      background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
      background-position: 0 -200px;
      background-size: cover;
      padding: 220px 15px 0 15px; }
    .ParentPanel .LogoBanner:before {
      display: none; } }

/*# sourceMappingURL=mediaTemplate.css.map */
