

























































/**umb_name:Heading H2*/
h2.h2.mt0b2 {
}

/**umb_name:Heading H3*/
h3.h3.mb10 {
}

/**umb_name:Heading H4*/
h4.h4 {
}

/**umb_name:Heading H5*/
h5.h5 {
}

/**umb_name:Button*/
.btn-primary {
}

/**umb_name:Designation*/
.designation {
}

/**umb_name:Margin Bottom*/
.mb65 {
}









/**umb_name:Description BOD*/
p.sub-head {
}

/**umb_name:Tab Content Sub Header*/
p.tab-content-subheader {
}

/**umb_name:Tab Content Header*/
p.tab-content-header {
}

/**umb_name:Story Headline*/
p.body-text-1 {
}




/**umb_name:Span Tag*/
span{}