/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.SchoolDetailPanel {
  /***EPM20102019****/
  /**EPM 04092019 Vision and Mission**/
  /**Epm 2082019 Enquiry Form*/
  /**Epm 2082019 Enquiry Form*/
  /**Certification*/
  /**Events***/
  /**StudentAchievment*/
  /**Stories***/
  /**Events***/
  /*Placements*/
  /**Application*/
  /*Courses*/
  /***Campus***/
  /**Banner*/
  /**Banner Section*/
  /***Application Dates*/ }
  .SchoolDetailPanel .ShowOnMobile {
    display: none; }
  .SchoolDetailPanel .disclaimerText {
    font-size: .9vw;
    padding: 0.5vw 0;
    font-weight: 500; }
  .SchoolDetailPanel .CourseGraduateSubTitle p span {
    font-size: 0.9vw;
    font-weight: 600;
    padding: 1vw 0 0 0;
    display: block; }
  .SchoolDetailPanel .FacBanner.AluminiBanner {
    overflow: inherit;
    padding: 60px 0 0; }
  .SchoolDetailPanel .newsletter {
    padding: 40px 0 0 0; }
  .SchoolDetailPanel .AccordionStyle.AccordionForDownload {
    margin: 40px 0; }
    .SchoolDetailPanel .AccordionStyle.AccordionForDownload a:after {
      display: none; }
    .SchoolDetailPanel .AccordionStyle.AccordionForDownload a img {
      float: right; }
  .SchoolDetailPanel .CardHeaderPanel > a {
    display: block;
    position: relative;
    font-weight: 600;
    color: #000000;
    padding: 16px 25px;
    border-bottom: 1px solid #FAFAFA; }
  .SchoolDetailPanel .moreFacility a {
    background: transparent;
    margin: 40px auto;
    color: #00448B;
    border: 1px solid #00448B !important;
    font-size: 1.2vw; }
  .SchoolDetailPanel .Facilities {
    background: #F7F7F7;
    padding: 50px 0 0 0; }
  .SchoolDetailPanel .card-body.cardContext {
    padding: 20px 25px; }
  .SchoolDetailPanel .AccordionStyle .card-header {
    background: inherit;
    border: none;
    padding: 0px; }
  .SchoolDetailPanel .cardContext p {
    font-weight: 500;
    font-size: 1vw;
    line-height: 24px;
    padding: 5px 0; }
  .SchoolDetailPanel .AccordionStyle .card {
    border: none;
    border-radius: 0px; }
  .SchoolDetailPanel .CardHeaderPanel > a:after {
    content: '>';
    font-family: MyCustomMonoFont, monospace;
    position: absolute;
    right: 25px;
    font-weight: 600;
    font-size: 1.6vw;
    color: #A1A1A1;
    top: 12px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .SchoolDetailPanel .CardHeaderPanel > a[aria-expanded="true"]:after {
    content: '>';
    font-family: monospace;
    transform: rotate(270deg); }
  .SchoolDetailPanel .AccordionStyle {
    margin: 40px 0 0 0;
    background: #fff;
    box-shadow: 0 5px 5px #ccc;
    position: relative;
    border: 1px solid #EDEDED; }
    .SchoolDetailPanel .AccordionStyle .table-cover {
      overflow-x: auto; }
  .SchoolDetailPanel .newsletter {
    padding: 40px 15px 0 15px; }
  .SchoolDetailPanel .abtDepartment {
    margin: 120px 0 40px 0; }
    .SchoolDetailPanel .abtDepartment p {
      padding: 25px 0 0 0; }
  .SchoolDetailPanel .phd {
    margin: 0 0 40px; }
  .SchoolDetailPanel .CoursesGraduatePanel.CoursesGraduateInnerPanel .GraduateList {
    padding: 30px 0 50px 0; }
  .SchoolDetailPanel .ProgramOutcomes {
    background: #F7F7F7; }
    .SchoolDetailPanel .ProgramOutcomes .poInner {
      padding: 40px 0 45px 0; }
      .SchoolDetailPanel .ProgramOutcomes .poInner p {
        padding: 0 0 15px 0; }
      .SchoolDetailPanel .ProgramOutcomes .poInner h3 {
        padding: 0 0 25px 0; }
  .SchoolDetailPanel .vmPanel {
    margin: 140px 0 0 0; }
    .SchoolDetailPanel .vmPanel .vm_Inner {
      padding: 0 0 45px 0; }
      .SchoolDetailPanel .vmPanel .vm_Inner .parawithquotes {
        position: relative;
        padding: 50px 60px 0 45px; }
        .SchoolDetailPanel .vmPanel .vm_Inner .parawithquotes:before, .SchoolDetailPanel .vmPanel .vm_Inner .parawithquotes:after {
          content: '';
          width: 45px;
          height: 45px;
          background-size: 45px !important;
          display: block;
          position: absolute; }
        .SchoolDetailPanel .vmPanel .vm_Inner .parawithquotes:before {
          background: url(../src/img/school-details/yellow-quotes-right.png) no-repeat;
          left: 0;
          top: 12px; }
        .SchoolDetailPanel .vmPanel .vm_Inner .parawithquotes:after {
          background: url(../src/img/school-details/yellow-quotes-left.png) no-repeat;
          left: auto;
          right: 0; }
      .SchoolDetailPanel .vmPanel .vm_Inner .vmlist {
        padding: 0;
        list-style: none;
        margin: 35px 0 0 0; }
        .SchoolDetailPanel .vmPanel .vm_Inner .vmlist li {
          display: flex;
          align-items: flex-start;
          margin: 0 0 15px 0; }
          .SchoolDetailPanel .vmPanel .vm_Inner .vmlist li img {
            margin: 5px 10px 0 0; }
  .SchoolDetailPanel .CoursesAccordionPanel {
    padding: 20px 0 40px 0; }
    .SchoolDetailPanel .CoursesAccordionPanel .card {
      border-bottom: 1px solid #EFEFEF !important;
      border: none; }
    .SchoolDetailPanel .CoursesAccordionPanel .card-body {
      padding: 0 0px 15px 15px; }
    .SchoolDetailPanel .CoursesAccordionPanel .card-header {
      padding: 0;
      background: transparent;
      border: none; }
      .SchoolDetailPanel .CoursesAccordionPanel .card-header h2 {
        display: flex;
        align-items: center; }
      .SchoolDetailPanel .CoursesAccordionPanel .card-header a {
        width: 100%;
        text-align: left;
        padding: 15px 0;
        font-weight: 600;
        font-size: 1vw;
        padding: 15px 6px; }
        .SchoolDetailPanel .CoursesAccordionPanel .card-header a.redirect_link {
          text-align: right;
          color: #00448B;
          text-decoration: underline; }
        .SchoolDetailPanel .CoursesAccordionPanel .card-header a i {
          font-size: 10px;
          vertical-align: middle;
          margin: 0 10px 0 0; }
        .SchoolDetailPanel .CoursesAccordionPanel .card-header a span {
          color: #00448B;
          text-decoration: underline;
          float: right;
          padding: 0 5px 0 0; }
    .SchoolDetailPanel .CoursesAccordionPanel .GraduateList {
      margin: 0;
      padding: 0; }
  .SchoolDetailPanel .UgDetailAccordion_Panel.ugAccBanner:before {
    content: '';
    background: url(../src/img/home/white-bg-pattern.jpg) repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
    top: 0; }
  .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style {
    padding: 0px 0 120px 0;
    width: 80%;
    margin: 0 auto; }
    .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card {
      border: none;
      margin: 0 0 20px 0; }
      .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-header {
        padding: 0;
        border: none; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-header .CardHeaderPanel a {
          height: 5vw;
          display: flex;
          align-items: center;
          padding: 0 35px;
          background: #00448B;
          color: #FFFFFF;
          font-size: 1.5vw;
          border-radius: 5px;
          font-weight: 700;
          text-transform: uppercase; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-header .CardHeaderPanel a:after {
            content: '+';
            font-family: MyCustomMonoFont,monospace;
            position: absolute;
            right: 35px;
            font-weight: 600;
            font-size: 2vw;
            color: #363324;
            width: 2.2vw;
            height: 2.2vw;
            background: #E1E1E1;
            border-radius: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-header .CardHeaderPanel a[aria-expanded="true"]:after {
            content: '-';
            font-family: monospace;
            transform: inherit; }
      .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body {
        border: none;
        padding: 0;
        border: 1px solid #DEDEDE;
        border-radius: 0 0 5px 5px; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Inner_CardTitle {
          padding: 25px 35px 40px 35px;
          border-bottom: 1px solid #E6E6E6; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Inner_CardTitle .Crd_img img {
            width: 100%; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Inner_CardTitle .Crd_TExt {
            font-size: 2.5vw;
            padding: 0 0 0 60px !important;
            display: flex;
            align-items: center;
            text-transform: uppercase; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p {
          position: relative;
          height: 3.7vw;
          display: flex;
          align-items: center;
          padding: 0 50px 0 60px;
          border-bottom: 1px solid #e6e6e6;
          color: #4E4E4E;
          font-size: 1vw;
          font-weight: 500; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p:before {
            content: '';
            background: #00448b;
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            position: absolute;
            left: 35px; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p:nth-child(even) {
            background: #F9F9F9; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p span {
            width: 95%; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p a {
            color: #00448B;
            font-weight: 600;
            text-decoration: underline; }
  .SchoolDetailPanel .BannerStripContext.Context_UgPrograms {
    align-items: center;
    padding: 0px 35px 0px 85px;
    width: 40vw;
    position: absolute;
    bottom: -75px;
    background: #ffca08;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px #ccc;
    line-height: normal;
    height: 25vw; }
    .SchoolDetailPanel .BannerStripContext.Context_UgPrograms h1 {
      position: static;
      line-height: initial;
      font-size: 3vw; }
  .SchoolDetailPanel .ug_banner:before {
    content: '';
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0; }
  .SchoolDetailPanel .ugDescPanel {
    padding: 100px 0 60px 0; }
    .SchoolDetailPanel .ugDescPanel .StripforTwoContext {
      height: 6.6vw;
      top: 0;
      margin: 0 0 70px 0; }
      .SchoolDetailPanel .ugDescPanel .StripforTwoContext h2 {
        left: 0;
        width: 40vw;
        bottom: auto;
        top: 1.5vw; }
    .SchoolDetailPanel .ugDescPanel .ugContext {
      width: 70vw; }
      .SchoolDetailPanel .ugDescPanel .ugContext p {
        font-size: 1.1vw;
        margin: 0 0 25px 0;
        font-weight: 700; }
  .SchoolDetailPanel .DisclaimerTExt.DisclaimerTExtTop {
    padding: 3vw 0vw 0 3vw;
    text-align: left;
    width: 100%; }
  .SchoolDetailPanel .DisclaimerTExt {
    text-align: left !important;
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-size: 12px; }
  .SchoolDetailPanel .ContextPanelInn {
    padding: 0vw 0 3vw 0;
    font-weight: 500; }
  .SchoolDetailPanel .ContextPanelInn p {
    font-size: 1.1vw;
    padding: 0.5vw 0; }
  .SchoolDetailPanel .ContextPanelInn p a {
    color: #EF3F3F;
    font-weight: 600;
    text-decoration: underline; }
  .SchoolDetailPanel .CampusPanel {
    overflow: hidden; }
  .SchoolDetailPanel .FacBanner {
    overflow: hidden; }
  .SchoolDetailPanel .ApplyNow.CourseFind a {
    background: #00448B; }
  .SchoolDetailPanel .ApplyNow.CourseFind a:hover {
    color: #00448B;
    background: #FFFFFF;
    border-color: #00448B; }
  .SchoolDetailPanel .StyleForSlickArrows .slick-next {
    right: 30px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .SchoolDetailPanel .StoryTitleStrip a {
    display: none; }
  .SchoolDetailPanel .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .SchoolDetailPanel .StyleForSlickArrows .slick-prev, .SchoolDetailPanel .StyleForSlickArrows .slick-next {
    width: 2.65vw;
    height: 2.7vw;
    top: 35%;
    background-size: cover !important;
    z-index: 1; }
  .SchoolDetailPanel .StyleForSlickArrows .slick-prev {
    left: 30px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .SchoolDetailPanel .StyleForSlickArrows .slick-prev:before, .SchoolDetailPanel .StyleForSlickArrows .slick-next:before {
    display: none; }
  .SchoolDetailPanel .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .SchoolDetailPanel .Studentstories .link_list {
    position: relative;
    z-index: 9; }
  .SchoolDetailPanel .noPadding {
    padding: 0px; }
  .SchoolDetailPanel .Visit_list.CourseFind a {
    color: #00448B; }
  .SchoolDetailPanel .IndContext {
    width: 33.8vw; }
  .SchoolDetailPanel .ind_Logo {
    padding: 0 7px; }
  .SchoolDetailPanel .CrtInner {
    margin: -11vw 0 0 0;
    padding: 0 0 30px 0; }
  .SchoolDetailPanel .StripforTwoContext {
    position: relative;
    top: -50px;
    background: #FFCA08;
    height: 7.3vw;
    width: 30vw; }
  .SchoolDetailPanel .StripforTwoContext h2 {
    font-size: 3vw;
    margin: 0;
    position: absolute;
    bottom: -2vw;
    left: 5.5vw; }
  .SchoolDetailPanel .ind_CompanyList {
    padding: 0 80px 12px 80px;
    margin: 0 -7px; }
  .SchoolDetailPanel .Event_Inner h2 {
    padding: 2.3vw 0; }
  .SchoolDetailPanel .eventContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .SchoolDetailPanel .EventContStyle {
    background: #00448B;
    padding: 2vw 1vw 1vw 2vw;
    color: #FFFFFF;
    height: 13vw;
    overflow: hidden; }
  .SchoolDetailPanel .EventContStyle h4 {
    display: block;
    display: -webkit-box;
    max-height: 1.95vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .SchoolDetailPanel .EventPara {
    height: 6vw;
    overflow: hidden; }
  .SchoolDetailPanel .EventContStyle a {
    color: #FFFFFF !important; }
  .SchoolDetailPanel .EventPara p {
    display: block;
    display: -webkit-box;
    max-height: 6.24vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .SchoolDetailPanel .St_Event_Impact {
    overflow: hidden; }
  .SchoolDetailPanel .Events_Impact_Panel {
    padding: 180px 0px 40px 6.2vw;
    margin: 0 -48px;
    overflow: hidden; }
  .SchoolDetailPanel .HomeEventImg {
    padding: 0 100px 0 0; }
  .SchoolDetailPanel .Ev_Im_List {
    padding: 0 48px; }
  .SchoolDetailPanel .RotateTitlePosition {
    transform: rotate(270deg);
    position: absolute;
    z-index: 9;
    padding: 0px !important;
    width: 100%;
    height: 100%;
    bottom: 175px;
    left: -1vw; }
  .SchoolDetailPanel .eventContextForHome {
    padding: 0 0 0 7vw; }
  .SchoolDetailPanel .PadSpacing {
    padding: 1.5vw 0px 2vw 9vw; }
  .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-prev, .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-next {
    left: 50px;
    top: auto;
    bottom: 30px; }
  .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-prev {
    left: 0px; }
  .SchoolDetailPanel .FacBanner:before {
    content: '';
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    top: 0;
    background-position: 0px -28vh; }
  .SchoolDetailPanel .CertificationPanel {
    background: #FFFFFF; }
  .SchoolDetailPanel .titleposition {
    position: absolute;
    top: -100px; }
  .SchoolDetailPanel .EventContStyleForHomeBlk {
    overflow: hidden; }
  .SchoolDetailPanel .EventContStyleForHomeBlk h4 {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; }
  .SchoolDetailPanel .Events_Facilities_Panel {
    padding: 120px 0px 240px 5.8vw; }
  .SchoolDetailPanel .WhiteBg {
    background: url(../src/img/home/white-bg-pattern.jpg) no-repeat;
    background-size: cover;
    background-position: center; }
  .SchoolDetailPanel .studenAchievPanel_PaddingSpacing {
    padding: 4vw 0 5vw 0; }
  .SchoolDetailPanel .EventBg {
    margin: -85px 0 0 0; }
  .SchoolDetailPanel .studenAchieveBanner:before {
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    background-position: left;
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: -8%;
    background-size: 100%; }
  .SchoolDetailPanel .SectionLogoBanner:before {
    content: '';
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    background-size: 50%;
    position: absolute;
    top: 70px;
    left: 50px;
    width: 100%;
    height: 100%; }
  .SchoolDetailPanel .AchieveInner {
    padding: 30vh 0 3vh 0; }
  .SchoolDetailPanel .AchieveTitle p {
    line-height: 10px; }
  .SchoolDetailPanel .AchieveContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .SchoolDetailPanel .AchieveTitleBlock p {
    position: relative;
    top: 10px; }
  .SchoolDetailPanel .AchieveTitleBlock h2 {
    margin: 0 0 20px 0; }
  .SchoolDetailPanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .SchoolDetailPanel .AchieveContextInn {
    background: #FFCA08;
    padding: 1vw 3vw 1vw 2vw;
    height: 13vw; }
  .SchoolDetailPanel .AchieveContextPAra {
    overflow: hidden;
    height: 8vw; }
  .SchoolDetailPanel .AchieveContextInn p {
    display: block;
    display: -webkit-box;
    max-height: 7.8vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .SchoolDetailPanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .SchoolDetailPanel .knowMoreStyle {
    text-decoration: underline !important;
    font-size: 0.9vw;
    color: #00448B !important;
    margin: 10px 0 0 0;
    display: inline-block; }
  .SchoolDetailPanel .storiesPanStyle {
    padding: 35px 7px 0 7px;
    position: relative; }
  .SchoolDetailPanel .StoriesContext {
    background: #FFFFFF;
    padding: 1vw 1.5vw 1vw 1.5vw;
    display: table-cell;
    position: relative;
    top: -60px;
    left: 6.3vw;
    width: 21vw;
    height: 16vw;
    box-shadow: 0 5px 5px #ccc; }
  .SchoolDetailPanel .StoriesContext h3 {
    display: block;
    display: -webkit-box;
    max-height: 1.56vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1vw 0; }
  .SchoolDetailPanel .StoriesContext h2 {
    display: block;
    display: -webkit-box;
    max-height: 1.95vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .SchoolDetailPanel .StoriesContext p {
    display: block;
    display: -webkit-box;
    max-height: 5.46vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1vw 0;
    height: 6vw; }
  .SchoolDetailPanel .StoriesContext a {
    text-decoration: underline;
    font-size: 0.9vw;
    color: #00448B; }
  .SchoolDetailPanel .storiesPanStyle img {
    width: 21vw; }
  .SchoolDetailPanel .StoryTitleStrip {
    background: #FFCA08; }
  .SchoolDetailPanel .StoryTitleStrip p {
    position: absolute;
    top: -23%;
    font-size: 2.5vw;
    font-weight: 800; }
  .SchoolDetailPanel .StoryTitleStrip {
    background: #FFCA08;
    width: 27.4vw;
    text-align: center;
    position: relative;
    height: 7.3vw; }
  .SchoolDetailPanel .StoryTitleStrip h2 {
    font-size: 5.2vw; }
  .SchoolDetailPanel .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .SchoolDetailPanel .forZIndex {
    z-index: 9; }
  .SchoolDetailPanel .StoryTitleStripForTieUp {
    width: 51.5vw;
    height: 22vw; }
  .SchoolDetailPanel .StoryTitleStripForTieUp h2 {
    font-size: 4.4vw;
    padding: 40px 0 0 0;
    position: absolute;
    width: 70vw;
    height: 8vw;
    overflow: hidden;
    text-align: left; }
  .SchoolDetailPanel .TieupContext {
    padding: 0 100px 0 0;
    margin: -30px 0 0 0;
    position: relative; }
  .SchoolDetailPanel .TiesUpBg a {
    color: #fff !important; }
  .SchoolDetailPanel .TiesUpBg {
    background: #00448B;
    padding: .5vw 1.5vw;
    height: 9vw;
    display: block !important; }
  .SchoolDetailPanel .TiesPara {
    overflow: hidden; }
  .SchoolDetailPanel .TieupContext p {
    display: block;
    display: -webkit-box;
    max-height: 4.68vw;
    font-size: 1.8vw;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF; }
  .SchoolDetailPanel .TieUpPosition {
    margin: -12vw 0 0 0; }
  .SchoolDetailPanel .Ties_TestimonialPanel:before {
    content: '';
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    top: 0;
    background-position: 0px -28vh; }
  .SchoolDetailPanel .TestimonialPanel {
    padding: 100px 0 0 0;
    overflow: hidden;
    background: #F7F7F7; }
  .SchoolDetailPanel .Num_Title {
    font-size: 1.32vw;
    padding: 0 0 0 30px; }
  .SchoolDetailPanel .Numb_list {
    font-size: 5vw;
    color: #00448B; }
  .SchoolDetailPanel .industry_blockList {
    margin: 0 -40px;
    padding: 4vw 0px; }
  .SchoolDetailPanel .Ind_inn {
    padding: 0 40px; }
  .SchoolDetailPanel .Condition_text {
    padding: 3vw 6.5vw 4vw .5vw; }
  .SchoolDetailPanel .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .SchoolDetailPanel .CourseFind a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 1vw !important; }
  .SchoolDetailPanel .Visit_list.CourseFind:hover a {
    color: #fff; }
  .SchoolDetailPanel .TiesUpPanel .link_list {
    position: absolute;
    right: 100px;
    top: 50px; }
  .SchoolDetailPanel .Condition_text p {
    font-size: 0.9vw; }
  .SchoolDetailPanel .ApplicationBg {
    background: #FFCA08;
    height: 100%; }
  .SchoolDetailPanel .applicationPanel {
    overflow: hidden; }
  .SchoolDetailPanel .applBlk .row.col-sm-12 {
    padding: 0; }
  .SchoolDetailPanel .row.appl_Row {
    height: 9.5vw; }
  .SchoolDetailPanel .borderLeft {
    border-left: 1px solid;
    padding: 0 15px; }
  .SchoolDetailPanel .CourseBlk_bg {
    background: #F7F7F7;
    height: 100%; }
  .SchoolDetailPanel .GrayStripbgfull:before {
    content: '';
    background: #F7F7F7;
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .SchoolDetailPanel .CourseBlk_bg .Visit_list a {
    font-size: 0.9vw;
    border: 1px solid #E2E2E2; }
  .SchoolDetailPanel .PlacementBg:after {
    content: '';
    background: url(../src/img/home/backgound-logo-image.png) no-repeat;
    position: absolute;
    top: -1%;
    right: -36.5%;
    width: 50%;
    height: 100%;
    background-size: 100%; }
  .SchoolDetailPanel section.PlacementPanel {
    padding: 60px 0 0 0;
    overflow: hidden; }
  .SchoolDetailPanel .CampusBg {
    position: absolute;
    right: 5px;
    top: -60px; }
  .SchoolDetailPanel .CampusBg img {
    width: 40vw; }
  .SchoolDetailPanel .GraduateList li:last-child {
    border-bottom: none !important; }
  .SchoolDetailPanel .GrayTitle {
    color: #EEEEEE;
    font-size: 7.2vw;
    position: relative;
    top: -1vh;
    margin: 0 0 20px 0; }
  .SchoolDetailPanel .row.CoursesGraduatePanel {
    margin: 0 -60px;
    padding: 0 0 10px 0; }
  .SchoolDetailPanel .GraduateInner {
    padding: 0 60px; }
  .SchoolDetailPanel .GraduateList {
    margin: 0;
    padding: 20px 0 0 0; }
  .SchoolDetailPanel .GraduateList li p {
    width: 90%;
    position: relative;
    display: flex;
    padding: 0 1vw 0 0;
    align-items: center; }
  .SchoolDetailPanel .GraduateList li a {
    font-weight: 600;
    color: #00448B;
    text-decoration: underline;
    text-decoration-color: #C3D7D8;
    -webkit-text-decoration-color: #C3D7D8;
    text-decoration-color: #C3D7D8; }
  .SchoolDetailPanel .GraduateList li p span {
    padding: 0 15px 0 10px; }
  .SchoolDetailPanel .GraduateList li span img {
    width: 2.3vw;
    max-width: inherit; }
  .SchoolDetailPanel .GraduateList li p:before {
    content: '';
    background: #9A999D;
    width: 0.3vw;
    height: 0.3vw;
    display: block;
    position: absolute;
    left: 3.2vw;
    border-radius: 100%; }
  .SchoolDetailPanel .GraduateList li {
    display: flex;
    position: relative;
    font-weight: 500;
    font-size: 0.9vw;
    padding: 0.3vw 0;
    border-bottom: 1px solid #EFEFEF;
    align-items: center; }
  .SchoolDetailPanel .GraduateInner .PadSpacing {
    padding: 2vw 0 2vw 3.6vw; }
  .SchoolDetailPanel .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .SchoolDetailPanel .BannerImg img {
    width: 70vw; }
  .SchoolDetailPanel .BannerImg {
    float: right; }
    .SchoolDetailPanel .BannerImg .WatchPanel {
      position: absolute;
      bottom: 2vw;
      right: 5vw; }
      .SchoolDetailPanel .BannerImg .WatchPanel img {
        width: 25px !important; }
      .SchoolDetailPanel .BannerImg .WatchPanel .HomeBtnStyle {
        color: #fff;
        background-color: #00448B; }
  .SchoolDetailPanel .BannerStripContext {
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    justify-content: center;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 25vw;
    line-height: normal;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .SchoolDetailPanel .BannerStripContext h1 {
    font-size: 6vw;
    position: absolute;
    width: 70vw;
    left: 6vw;
    line-height: 6vw;
    top: -25px; }
  .SchoolDetailPanel .DownArrow {
    left: -5%; }
  .SchoolDetailPanel .HomeBtnStyle {
    font-size: 0.7vw;
    height: 3vw;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .SchoolDetailPanel .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .SchoolDetailPanel .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .SchoolDetailPanel .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    bottom: 10%;
    left: 7vw;
    padding: 0 50px 0 0;
    position: absolute; }
  .SchoolDetailPanel .BannerContextList li {
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0 0 2vw 0;
    position: relative; }
  .SchoolDetailPanel .BannerContextList li:before {
    content: '';
    background: #333;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: -8px;
    border-radius: 100%;
    top: 12px; }
  .SchoolDetailPanel .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
  .SchoolDetailPanel .AppDate p {
    font-size: 1.5vw; }
  .SchoolDetailPanel .dateForSt p {
    font-size: 1vw;
    font-weight: 800; }
  .SchoolDetailPanel .dateForSt p span {
    display: block; }
  .SchoolDetailPanel .OneBlockCarousel {
    position: relative;
    z-index: 99; }
  .SchoolDetailPanel .RemoveBullets li p:before {
    display: none; }
  .SchoolDetailPanel .storiesPannInn .slick-list {
    overflow: visible; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 2000px) and (max-width: 3000px) {
  .SchoolDetailPanel .HomeEventImg img {
    width: 100%; }
  .SchoolDetailPanel .GraduateList li p:before {
    left: 2.5vw; }
  .SchoolDetailPanel .sodText {
    left: 3vw; }
  .SchoolDetailPanel .BannerContextList {
    left: 3vw; }
  .SchoolDetailPanel .BannerStripContext h1 {
    left: 3vw; }
  .SchoolDetailPanel .StyleForSlickArrows .slick-prev {
    left: 0px; }
  .SchoolDetailPanel .StyleForSlickArrows .slick-next {
    right: 0; }
  .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-next {
    left: 80px; }
  .SchoolDetailPanel .Events_Facilities_Panel {
    padding: 10vw 0px 15vw 5.8vw; }
  .SchoolDetailPanel .EventPanelStyle img {
    width: 100%; }
  .SchoolDetailPanel .titleposition {
    top: -17%; }
  .SchoolDetailPanel .ind_Logo img {
    width: 100%; }
  .SchoolDetailPanel .RotateTitlePosition {
    bottom: 300px;
    left: 0vw; } }

@media (min-width: 1800px) and (max-width: 1920px) {
  .SchoolDetailPanel .ind_Logo img {
    width: 100%; }
  .SchoolDetailPanel .BannerStripContext h1 {
    left: 4.5vw; }
  .SchoolDetailPanel .sodText {
    left: 4.5vw; }
  .SchoolDetailPanel .BannerContextList {
    left: 5vw; }
  .SchoolDetailPanel .titleposition {
    top: -135px; }
  .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-next {
    left: 70px; }
  .SchoolDetailPanel .HomeEventImg img {
    width: 100%; }
  .SchoolDetailPanel .RotateTitlePosition {
    bottom: 240px;
    left: 0vw; }
  .SchoolDetailPanel .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-next {
    left: 70px; } }

@media (min-width: 1600px) and (max-width: 1800px) {
  .SchoolDetailPanel .homeIndicatorStyle {
    bottom: -19%; }
  .SchoolDetailPanel .BannerStripContext {
    bottom: -65px; } }

@media (min-width: 1200px) and (max-width: 1365px) {
  .SchoolDetailPanel .RotateTitlePosition {
    bottom: 160px;
    font-size: 2.5vw; }
  .SchoolDetailPanel .StyleForSlickArrows .slick-prev, .SchoolDetailPanel .StyleForSlickArrows .slick-next {
    width: 30px;
    height: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }
  .paraLittle {
    font-size: 1.1vw; }
  .titleh4 {
    font-size: 1.6vw; }
  .paraSmall {
    font-size: 1.5vw; }
  .titleh4 {
    font-size: 1.8vw; }
  .para_three {
    font-size: 1.5vw; }
  .downArrowIcon {
    width: 3vw; }
  .SchoolDetailPanel {
    /***EPM20102019****/
    /**UG Accordion**/
    /**UG Accordion**/
    /**Banner*/
    /***Courses Under Graduate Post*/
    /**STories*/
    /**Achievement*/
    /**Events*/ }
    .SchoolDetailPanel .link_list a {
      font-size: 1.2vw; }
    .SchoolDetailPanel .disclaimerText {
      font-size: 1.1vw; }
    .SchoolDetailPanel .CourseGraduateSubTitle p span {
      font-size: 1.1vw; }
    .SchoolDetailPanel .UgDetailAccordion_Panel.ugAccBanner:before {
      height: 100%;
      background-position: inherit;
      background-size: inherit; }
    .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style {
      padding: 0 20px 30px 20px;
      width: 100%; }
      .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card {
        margin: 0 0 12px 0; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-header .CardHeaderPanel a {
          height: 6.5vw;
          padding: 0 20px;
          font-size: 2vw; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-header .CardHeaderPanel a:after {
            right: 20px;
            font-size: 22px;
            width: 25px;
            height: 25px; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Inner_CardTitle {
          padding: 20px 15px 20px 15px; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Inner_CardTitle .Crd_TExt {
            font-size: 2.6vw;
            padding: 0 0 0 32px !important; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p {
          height: 6vw;
          padding: 0 20px 0 35px;
          font-size: 1.6vw; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p:before {
            left: 15px; }
    .SchoolDetailPanel .ugDescPanel {
      padding: 60px 0 30px 0; }
      .SchoolDetailPanel .ugDescPanel .StripforTwoContext {
        margin: 0 0 30px 0; }
        .SchoolDetailPanel .ugDescPanel .StripforTwoContext h2 {
          width: 45vw; }
      .SchoolDetailPanel .ugDescPanel .ugContext {
        width: auto; }
        .SchoolDetailPanel .ugDescPanel .ugContext p {
          font-size: 1.5vw;
          line-height: 22px; }
    .SchoolDetailPanel .BannerStripContext.Context_UgPrograms {
      padding: 3vw 1vw 2.5vw 3vw; }
      .SchoolDetailPanel .BannerStripContext.Context_UgPrograms h1 {
        font-size: 2.5vw; }
    .SchoolDetailPanel .BannerImg img {
      width: 77vw; }
    .SchoolDetailPanel .sodText {
      left: 4vw; }
    .SchoolDetailPanel .TiesUpPanel .link_list {
      right: 50px;
      top: 50px; }
    .SchoolDetailPanel .BannerContextList {
      left: 4vw; }
    .SchoolDetailPanel .BannerStripContext {
      padding: 4.5vh 75px 4.5vh 45px; }
    .SchoolDetailPanel .BannerStripContext h1 {
      font-size: 4.5vw;
      width: 45vw;
      left: 4vw;
      line-height: 5vw; }
    .SchoolDetailPanel .breadcrumbCustom li {
      font-size: 0.9vw; }
    .SchoolDetailPanel .GraduateList li {
      font-size: 1.1vw; }
    .SchoolDetailPanel .GraduateList {
      padding: 20px 0 0 0; }
    .SchoolDetailPanel .StyleForSlickArrows .slick-prev, .SchoolDetailPanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .SchoolDetailPanel .StoriesContext p {
      height: 5vw; }
    .SchoolDetailPanel .CourseFind a {
      font-size: 1vw; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-prev {
      right: 5%;
      left: auto; }
    .SchoolDetailPanel .StoryTitleStrip p {
      font-size: 3vw; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-next {
      right: 0;
      left: auto; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-prev, .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-next {
      top: -5%;
      bottom: auto; }
    .SchoolDetailPanel .st_inn p {
      font-size: 1.3vw; }
    .SchoolDetailPanel .ind_CompanyList {
      padding: 0 70px 12px 70px; }
    .SchoolDetailPanel .StudentLivingPanel .StyleForSlickArrows .slick-next {
      right: auto;
      left: 50px; }
    .SchoolDetailPanel .StripforTwoContext h2 {
      margin: 0;
      font-size: 3.4vw;
      position: absolute;
      left: 6vw;
      bottom: -2vw; }
    .SchoolDetailPanel .knowMoreStyle {
      font-size: 1.1vw; }
    .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-next {
      left: 35px; }
    .SchoolDetailPanel .HomeEventCarousel {
      position: relative;
      z-index: 9999; }
    .SchoolDetailPanel .RotateTitlePosition {
      bottom: 140px;
      font-size: 3.5vw;
      left: -3vw; }
    .SchoolDetailPanel .CourseFind a {
      font-size: 1vw !important;
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.5vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  .plr100 {
    padding: 0 20px; }
  .plr20 {
    padding: 0 10px; }
  .paraSmall {
    font-size: 1.8vw; }
  .titleMedium {
    font-size: 3vw; }
  .para_three {
    font-size: 1.7vw; }
  .paraLittle {
    font-size: 1.2vw; }
  .titleh4 {
    font-size: 2.2vw; }
  .SchoolDetailPanel {
    /***EPM20102019****/
    /***EPM20102019****/
    /**UG Accordion**/
    /**UG Accordion**/
    /***Banner****/
    /***Courses*/
    /***Application*/
    /***Placements*/
    /***Industry**/
    /**Student Stories**/
    /**Student Achievements*/
    /***EVents*/
    /***Certification*/ }
    .SchoolDetailPanel .disclaimerText {
      font-size: 1.4vw; }
    .SchoolDetailPanel .CourseGraduateSubTitle p span {
      font-size: 1.4vw; }
    .SchoolDetailPanel .abtDepartment p {
      font-size: 14px;
      line-height: 22px; }
    .SchoolDetailPanel .phd p {
      font-size: 14px;
      line-height: 22px; }
    .SchoolDetailPanel .vmPanel .vm_Inner .vmlist li {
      font-size: 14px; }
    .SchoolDetailPanel .poInner ol li {
      font-size: 14px;
      margin: 0 0 10px 0; }
    .SchoolDetailPanel .vmPanel .vm_Inner .parawithquotes {
      font-size: 14px;
      line-height: 22px; }
    .SchoolDetailPanel .CoursesAccordionPanel .card-header a {
      font-size: 12px; }
    .SchoolDetailPanel .UgDetailAccordion_Panel.ugAccBanner:before {
      height: 100%;
      background-position: inherit;
      background-size: inherit; }
    .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style {
      padding: 0 20px 30px 20px;
      width: 100%; }
      .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card {
        margin: 0 0 12px 0; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-header .CardHeaderPanel a {
          height: 6.5vw;
          padding: 0 20px;
          font-size: 2vw; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-header .CardHeaderPanel a:after {
            right: 20px;
            font-size: 22px;
            width: 25px;
            height: 25px; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Inner_CardTitle {
          padding: 20px 15px 20px 15px; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Inner_CardTitle .Crd_TExt {
            font-size: 2.6vw;
            padding: 0 0 0 32px !important; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p {
          height: 6vw;
          padding: 0 20px 0 35px;
          font-size: 1.6vw; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p:before {
            left: 15px; }
    .SchoolDetailPanel .ugDescPanel {
      padding: 60px 0 30px 0; }
      .SchoolDetailPanel .ugDescPanel .StripforTwoContext {
        margin: 0 0 30px 0; }
        .SchoolDetailPanel .ugDescPanel .StripforTwoContext h2 {
          width: 45vw; }
      .SchoolDetailPanel .ugDescPanel .ugContext {
        width: auto; }
        .SchoolDetailPanel .ugDescPanel .ugContext p {
          font-size: 1.5vw;
          line-height: 22px; }
    .SchoolDetailPanel .BannerStripContext.Context_UgPrograms {
      padding: 2.5vw 15px 2.5vw 15px; }
      .SchoolDetailPanel .BannerStripContext.Context_UgPrograms h1 {
        font-size: 2.5vw; }
    .SchoolDetailPanel .link_list a {
      font-size: 1.4vw; }
    .SchoolDetailPanel .TiesUpPanel .link_list {
      right: 20px;
      top: 50px; }
    .SchoolDetailPanel .CourseFind a {
      height: 35px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3vw !important; }
    .SchoolDetailPanel .ContextPanelInn p {
      font-size: 1.6vw; }
    .SchoolDetailPanel .StyleForSlickArrows .slick-prev, .SchoolDetailPanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .SchoolDetailPanel .sodText {
      left: 4vw; }
    .SchoolDetailPanel .BannerImg img {
      width: 85vw; }
    .SchoolDetailPanel .breadcrumb.breadcrumbCustom li {
      font-size: 1.5vw; }
    .SchoolDetailPanel .BannerStripContext h1 {
      font-size: 6vw;
      display: flex;
      align-items: center;
      left: 4vw;
      line-height: 6vw;
      top: -22px;
      width: 60vw; }
    .SchoolDetailPanel .BannerContextList {
      left: 6vw; }
    .SchoolDetailPanel .BannerContextList {
      bottom: 0%; }
    .SchoolDetailPanel .BannerContextList li {
      font-size: 1.5vw;
      padding: 0 0 2vw 0; }
    .SchoolDetailPanel .downArrowIcon {
      width: 3.5vw; }
    .SchoolDetailPanel .breadcrumbPanel {
      left: 55%;
      bottom: -9%; }
    .SchoolDetailPanel .DownArrow {
      bottom: -12%;
      left: 0; }
    .SchoolDetailPanel .HomeBtnStyle {
      font-size: 1vw;
      width: 20vw;
      height: 5vw; }
    .SchoolDetailPanel .helplineChatInner a {
      font-size: 1.2vw; }
    .SchoolDetailPanel .GrayTitle {
      top: 0vh; }
    .SchoolDetailPanel .GraduateList li p span {
      padding: 0;
      position: absolute;
      left: 0; }
    .SchoolDetailPanel .GraduateList li p:before {
      left: 12%;
      width: 0.4vw;
      height: 0.4vw; }
    .SchoolDetailPanel .GraduateList.RemoveBullets li p {
      padding: 0 1vw 0 0; }
    .SchoolDetailPanel .GraduateList li p {
      padding: 0 1vw 0 6vw; }
    .SchoolDetailPanel .GraduateList li span img {
      width: 4vw; }
    .SchoolDetailPanel .GraduateList li p span {
      padding: 0 15px 0 0px; }
    .SchoolDetailPanel .row.CoursesGraduatePanel {
      margin: 0 -40px;
      padding: 0 0 10px 0; }
    .SchoolDetailPanel .GraduateInner {
      padding: 0 40px; }
    .SchoolDetailPanel .GraduateList {
      padding: 20px 0 0 0; }
    .SchoolDetailPanel .GraduateList li {
      font-size: 1.4vw;
      height: auto;
      padding: 0.5vw 0; }
    .SchoolDetailPanel .ApplyNow a {
      font-size: 1.6vw;
      width: 16vw;
      height: auto; }
    .SchoolDetailPanel .AppDate {
      padding: 0 1vw 0 0 !important; }
    .SchoolDetailPanel .CourseBlk_bg .Visit_list a {
      padding: 1.8vh 0 !important;
      width: 27vw;
      font-size: 1.3vw;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left; }
    .SchoolDetailPanel .dateForSt p {
      font-size: 1.5vw;
      font-weight: 800; }
    .SchoolDetailPanel .Condition_text p {
      font-size: 1.4vw; }
    .SchoolDetailPanel .industryStrip h2 {
      font-size: 3.5vw; }
    .SchoolDetailPanel .TieupContext p {
      display: block;
      display: -webkit-box;
      max-height: 5.72vw;
      font-size: 2.2vw;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .SchoolDetailPanel .TiesUpBg {
      height: 12vw; }
    .SchoolDetailPanel .TieupContext {
      padding: 0 60px 0 0; }
    .SchoolDetailPanel .TieUpPosition {
      margin: -20vw 0 0 0; }
    .SchoolDetailPanel .StoryTitleStrip.StoryTitleStripForTieUp h2 {
      font-size: 4.4vw; }
    .SchoolDetailPanel .StoryTitleStrip.StoryTitleStripForTieUp {
      width: 55vw;
      height: 35vw; }
    .SchoolDetailPanel .IndContext h4 {
      padding: 0 0 0 2vw; }
    .SchoolDetailPanel .industry_blockList {
      margin: 0 -20px; }
    .SchoolDetailPanel .ind_CompanyList {
      padding: 0 40px 12px 40px; }
    .SchoolDetailPanel .Ind_inn {
      padding: 0 20px; }
    .SchoolDetailPanel .PlacementBg:after {
      right: 0; }
    .SchoolDetailPanel .StoryTitleStrip {
      width: 30vw;
      height: 11vw; }
    .SchoolDetailPanel .StoryTitleStrip h2 {
      font-size: 6.3vw; }
    .SchoolDetailPanel .StoryTitleStrip p {
      top: -18%;
      font-size: 3.5vw; }
    .SchoolDetailPanel .StoriesContext {
      width: 24vw;
      display: block;
      height: 20vw; }
    .SchoolDetailPanel .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 2.6vw;
      font-size: 2vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .SchoolDetailPanel .StoriesContext h3 {
      display: block;
      display: -webkit-box;
      max-height: 1.95vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .SchoolDetailPanel .StoriesContext p {
      display: block;
      display: -webkit-box;
      max-height: 5.46vw;
      font-size: 1.4vw;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 5vw; }
    .SchoolDetailPanel .StoriesContext a {
      font-size: 1.4vw; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-prev {
      right: 5%;
      left: auto; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-next {
      right: 0;
      left: auto; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-prev, .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-next {
      top: -5%;
      bottom: auto;
      display: none !important; }
    .SchoolDetailPanel .AchieveInner {
      padding: 20vh 0 3vh 0; }
    .SchoolDetailPanel .studenAchievPanel_PaddingSpacing {
      padding: 4vw 0 9vw 0; }
    .SchoolDetailPanel .AchieveContextPAra {
      height: 9vw; }
    .SchoolDetailPanel .AchieveContextInn {
      background: #FFCA08;
      height: 16vw; }
    .SchoolDetailPanel .AchieveContextInn p {
      display: block;
      display: -webkit-box;
      max-height: 9.36vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .SchoolDetailPanel .AchieveTitleBlock p {
      position: relative;
      top: 5px; }
    .SchoolDetailPanel .knowMoreStyle {
      font-size: 1.5vw; }
    .SchoolDetailPanel .HomeEventImg {
      padding: 0 20px 0 0; }
    .SchoolDetailPanel .EventContStyle {
      height: 16vw; }
    .SchoolDetailPanel .EventContStyle h4 {
      display: block;
      display: -webkit-box;
      max-height: 2.34vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .SchoolDetailPanel .EventPara {
      height: 7vw; }
    .SchoolDetailPanel .EventPara p {
      display: block;
      display: -webkit-box;
      max-height: 9.36vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .SchoolDetailPanel .RotateTitlePosition {
      bottom: 100px;
      left: 15px;
      font-size: 3.5vw; }
    .SchoolDetailPanel .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-prev {
      left: 0px;
      bottom: 10px; }
    .SchoolDetailPanel .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-next {
      bottom: 60px;
      left: 0; }
    .SchoolDetailPanel .HomeEventCarousel.OneBlockCarousel {
      z-index: 9; }
    .SchoolDetailPanel .CarouselForCompanies.StyleForSlickArrows .slick-prev {
      left: 10px;
      right: auto; }
    .SchoolDetailPanel .CarouselForCompanies.StyleForSlickArrows .slick-next {
      right: 10px;
      left: auto; }
    .SchoolDetailPanel .StripforTwoContext {
      height: 10vw; }
    .SchoolDetailPanel .StripforTwoContext h2 {
      margin: 0;
      font-size: 3.4vw;
      position: absolute;
      left: 5vw;
      bottom: -2vw; } }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .para_three {
    font-size: 12px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  .row {
    margin: 0px; }
  /**Common Ends***/
  .SchoolDetailPanel {
    /***EPM20102019****/
    /***EPM20102019****/
    /**Epm 2082019 Enquiry Form*/
    /**Epm 2082019 Enquiry Form*/
    /***ContextPanel*/
    /***ContextPanel*/
    /***Banner****/
    /**Courses*/
    /**Industry UPES*/
    /***Achievements***/
    /**Courses**/
    /***Stories**/
    /***Future Needs*/
    /***Industry*/
    /***Certifications*/
    /**EVents*/
    /**Showcase Body*/
    /**Placements*/ }
    .SchoolDetailPanel .disclaimerText {
      font-size: 10px;
      padding: 10px 0 0 0;
      overflow: hidden;
      clear: both;
      margin: 0; }
    .SchoolDetailPanel .CourseGraduateSubTitle p span {
      font-size: 10px;
      padding: 0; }
    .SchoolDetailPanel .abtDepartment {
      padding: 0 15px; }
      .SchoolDetailPanel .abtDepartment p {
        font-size: 14px; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-next {
      right: 0px; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-prev, .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 60px; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-prev {
      left: auto;
      right: 0;
      bottom: 105px; }
    .SchoolDetailPanel .DetailsBlk {
      padding: 0 15px; }
    .SchoolDetailPanel .DetailsBlk .AchieveTitleBlock {
      padding: 0; }
    .SchoolDetailPanel .AccordionStyle.AccordionForDownload a img {
      width: 15px; }
    .SchoolDetailPanel .AccordionStyle .CardHeaderPanel a {
      font-size: 12px;
      padding: 10px 15px; }
      .SchoolDetailPanel .AccordionStyle .CardHeaderPanel a:after {
        font-size: 20px;
        top: 5px; }
    .SchoolDetailPanel .AccordionStyle .cardContext {
      padding: 1vw; }
      .SchoolDetailPanel .AccordionStyle .cardContext p, .SchoolDetailPanel .AccordionStyle .cardContext li, .SchoolDetailPanel .AccordionStyle .cardContext a {
        font-size: 12px !important;
        line-height: inherit;
        padding: 10px 15px; }
    .SchoolDetailPanel .row.moreFacility.no-gutters {
      padding: 30px 0 !important; }
    .SchoolDetailPanel .ProgramOutcomes {
      padding: 0 15px; }
      .SchoolDetailPanel .ProgramOutcomes p {
        font-size: 14px; }
    .SchoolDetailPanel .phd {
      padding: 0 15px; }
      .SchoolDetailPanel .phd p {
        font-size: 14px; }
    .SchoolDetailPanel .vmPanel .vm_Inner {
      padding: 0 15px; }
      .SchoolDetailPanel .vmPanel .vm_Inner .parawithquotes {
        padding: 35px 15px 20px 30px;
        font-size: 14px; }
        .SchoolDetailPanel .vmPanel .vm_Inner .parawithquotes:before, .SchoolDetailPanel .vmPanel .vm_Inner .parawithquotes:after {
          width: 30px;
          height: 30px;
          background-size: 30px !important; }
      .SchoolDetailPanel .vmPanel .vm_Inner .vmlist li {
        font-size: 14px; }
    .SchoolDetailPanel .CoursesAccordionPanel .card-header a {
      font-size: 12px; }
    .SchoolDetailPanel .CampusInner.UGTitle h2 {
      font-size: 45px;
      padding: 20px 15px; }
    .SchoolDetailPanel .UgDetailAccordion_Panel.ugAccBanner:before {
      height: 100%;
      background-position: inherit;
      background-size: inherit; }
    .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style {
      padding: 0 20px 30px 20px;
      width: 100%; }
      .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card {
        margin: 0 0 12px 0; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-header .CardHeaderPanel a {
          height: 50px;
          padding: 0 70px 0 20px;
          font-size: 14px; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-header .CardHeaderPanel a:after {
            right: 20px;
            font-size: 22px;
            width: 25px;
            height: 25px; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Inner_CardTitle {
          padding: 15px 15px 0px 15px; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Inner_CardTitle .Crd_TExt {
            font-size: 16px;
            padding: 15px 0 !important; }
        .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p {
          height: auto;
          padding: 15px 15px 15px 30px;
          font-size: 12px; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p:before {
            left: 15px; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p span {
            width: 80%;
            padding: 0 20px 0 0; }
          .SchoolDetailPanel .UgDetailAccordion_Panel .UgDetailAccordion_Style .card .card-body .Cardlist p a {
            width: 20%;
            float: right; }
    .SchoolDetailPanel .BannerStripContext.Context_UgPrograms {
      width: 80%;
      bottom: -70px;
      padding: 50px 10px 50px 20px;
      height: 240px; }
      .SchoolDetailPanel .BannerStripContext.Context_UgPrograms h1 {
        font-size: 20px;
        padding: 0; }
    .SchoolDetailPanel .ugDescPanel {
      padding: 60px 0 60px 0; }
      .SchoolDetailPanel .ugDescPanel .StripforTwoContext {
        height: 60px;
        top: 0;
        margin: 0 0 35px 0; }
        .SchoolDetailPanel .ugDescPanel .StripforTwoContext h2 {
          left: 0;
          width: 100vw;
          bottom: auto;
          top: 15px;
          padding: 0 15px;
          font-size: 24px; }
      .SchoolDetailPanel .ugDescPanel .ugContext {
        width: 100%;
        padding: 0 15px; }
        .SchoolDetailPanel .ugDescPanel .ugContext p {
          font-size: 15px;
          line-height: 24px; }
    .SchoolDetailPanel .mlr {
      margin: 0; }
    .SchoolDetailPanel .TiesUpPanel .link_list {
      right: 10px;
      position: absolute;
      top: auto;
      bottom: 0; }
    .SchoolDetailPanel .DisclaimerTExt.DisclaimerTExtTop {
      padding: 0 0 20px 0; }
    .SchoolDetailPanel .GrayStripbgfull:before {
      display: none; }
    .SchoolDetailPanel .PlacementBg:after {
      display: none; }
    .SchoolDetailPanel .studenAchieveBanner:before {
      display: none; }
    .SchoolDetailPanel .CourseFind a {
      font-size: 10px !important; }
    .SchoolDetailPanel .ApplicationBg {
      padding: 10px 0; }
    .SchoolDetailPanel .ContextPanelInn {
      padding: 0 0 20px 0; }
    .SchoolDetailPanel .ContextPanelInn p a {
      display: inline-block; }
    .SchoolDetailPanel .ContextPanelInn p {
      font-size: 12px;
      padding: 10px 15px; }
    .SchoolDetailPanel .StyleForSlickArrows .slick-prev, .SchoolDetailPanel .StyleForSlickArrows .slick-next {
      width: 25px;
      height: 25px;
      top: auto;
      bottom: 10px; }
    .SchoolDetailPanel .StyleForSlickArrows .slick-prev {
      left: auto;
      right: 22%; }
    .SchoolDetailPanel .paraLittle {
      font-size: 10px; }
    .SchoolDetailPanel .paraSmall {
      font-size: 12px; }
    .SchoolDetailPanel .titleh3 {
      font-size: 30px; }
    .SchoolDetailPanel .titleh4 {
      font-size: 16px; }
    .SchoolDetailPanel .CoursesList .slick-list.draggable {
      overflow: hidden !important; }
    .SchoolDetailPanel ul.slick-dots {
      display: none !important; }
    .SchoolDetailPanel .row {
      margin: 0px !important; }
    .SchoolDetailPanel .ind_CompanyList {
      margin: 0 0px; }
    .SchoolDetailPanel .banner .BannerStripContext {
      height: 275px;
      bottom: -100px; }
    .SchoolDetailPanel .BannerImg {
      width: 100%;
      float: none; }
      .SchoolDetailPanel .BannerImg .WatchPanel {
        z-index: 9;
        flex-direction: column;
        right: inherit;
        left: 20px;
        bottom: -80px; }
        .SchoolDetailPanel .BannerImg .WatchPanel .HomeBtnStyle {
          width: auto;
          height: auto;
          padding: 6px;
          font-size: 8px;
          margin-top: 15px;
          padding-left: 15px;
          justify-content: space-between; }
          .SchoolDetailPanel .BannerImg .WatchPanel .HomeBtnStyle picture {
            width: 12%; }
    .SchoolDetailPanel .sodText {
      font-size: 13px;
      top: -25px;
      left: 20px; }
    .SchoolDetailPanel .BannerImg img {
      width: 100%; }
    .SchoolDetailPanel .banner {
      z-index: 1; }
    .SchoolDetailPanel .BannerStripContext h1 {
      font-size: 25px;
      position: absolute;
      width: 300px;
      line-height: 36px;
      top: 0;
      padding: 50px 0 0 0;
      left: 20px; }
    .SchoolDetailPanel .BannerContextList {
      bottom: 50px;
      left: 30px;
      padding: 0 30px 0 0; }
    .SchoolDetailPanel .BannerContextList li {
      font-size: 11px;
      padding: 0 0 6px 0; }
    .SchoolDetailPanel .BannerStripContext {
      width: 80%;
      bottom: -60px;
      padding: 15px 20px;
      height: 240px;
      background-position: -7px;
      left: 0; }
    .SchoolDetailPanel .downArrowIcon {
      width: 30px; }
    .SchoolDetailPanel .DownArrow {
      bottom: -50px;
      text-align: center;
      left: auto;
      right: 0;
      width: 20%;
      z-index: 99; }
    .SchoolDetailPanel .breadcrumbPanel {
      position: absolute;
      left: 20px;
      bottom: 135px;
      z-index: 99; }
    .SchoolDetailPanel .breadcrumbCustom li {
      font-size: 13px;
      font-weight: 500; }
    .SchoolDetailPanel .CampusPanel .CampusInner {
      padding-top: 30px; }
    .SchoolDetailPanel .GrayTitle {
      font-size: 55px;
      top: 0vh;
      margin: 0;
      padding: 0 15px; }
    .SchoolDetailPanel .GraduateInner {
      padding: 0 15px;
      margin: 0 0 15px 0; }
    .SchoolDetailPanel .GraduateList {
      padding: 10px 0 0 0; }
    .SchoolDetailPanel .GraduateList li span img {
      width: 20px; }
    .SchoolDetailPanel .GraduateList.RemoveBullets li p {
      padding: 0 10px 0 0; }
    .SchoolDetailPanel .GraduateInner .link_list {
      float: right; }
    .SchoolDetailPanel .GraduateList li p {
      padding: 0 10px 0 40px; }
    .SchoolDetailPanel .GraduateList li p span {
      padding: 0;
      position: absolute;
      left: 0; }
    .SchoolDetailPanel .GraduateList li p:before {
      width: 3px;
      height: 3px;
      left: 25px; }
    .SchoolDetailPanel .GraduateList li {
      font-size: 10px;
      height: auto;
      padding: 5px 0; }
    .SchoolDetailPanel .PlacementPanel {
      padding-top: 40px !important; }
      .SchoolDetailPanel .PlacementPanel h3.titleh3 {
        text-align: center;
        padding: 8vw 2vw; }
      .SchoolDetailPanel .PlacementPanel .Condition_text {
        text-align: center !important;
        padding: 8vw 2vw; }
    .SchoolDetailPanel .industryPanel {
      padding: 0px 15px 0 15px; }
    .SchoolDetailPanel .SpecilisationPanel {
      padding: 0 0 40px 0; }
    .SchoolDetailPanel .IndContext {
      width: 80%;
      position: relative;
      top: -25px; }
    .SchoolDetailPanel .industryStrip {
      height: 13vh; }
    .SchoolDetailPanel .industryStrip h2 {
      font-size: 26px;
      margin: 0 -4vh 0 0; }
    .SchoolDetailPanel .col-sm-4.Ind_inn {
      padding: 25px 25px; }
    .SchoolDetailPanel .Numb_list {
      font-size: 30px;
      width: 60%; }
    .SchoolDetailPanel .Num_Title {
      font-size: 14px;
      padding: 0;
      width: 40%; }
    .SchoolDetailPanel .industry_blockList {
      padding: 0px; }
    .SchoolDetailPanel .industryPanel .link_list {
      text-align: center; }
    .SchoolDetailPanel .ind_CompanyList.StyleForSlickArrows .slick-prev, .SchoolDetailPanel .ind_CompanyList.StyleForSlickArrows .slick-next {
      bottom: -40px; }
    .SchoolDetailPanel .ind_CompanyList.StyleForSlickArrows .slick-prev {
      left: 42%;
      right: auto; }
    .SchoolDetailPanel .ind_CompanyList.StyleForSlickArrows .slick-next {
      right: 37%; }
    .SchoolDetailPanel .ind_CompanyList {
      padding: 0 18px;
      margin: 0 0 50px 0; }
    .SchoolDetailPanel .industryPanel .link_list a {
      font-size: 11px; }
    .SchoolDetailPanel .AchieveInner {
      padding: 45px 0 0 0;
      z-index: 99; }
    .SchoolDetailPanel .StudentLogoBanner {
      background: #f7f7f7; }
    .SchoolDetailPanel .AchieveTitleBlock {
      padding: 0 15px; }
    .SchoolDetailPanel .AchieveContext {
      padding: 0 0 0 60px; }
    .SchoolDetailPanel .AchieveContextInn {
      padding: 20px 20px;
      height: 150px; }
    .SchoolDetailPanel .AchieveContextPAra {
      height: 95px; }
    .SchoolDetailPanel .AchieveContextInn p {
      display: block;
      display: -webkit-box;
      max-height: 83.2px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .SchoolDetailPanel .studenAchievPanel .EventPanelStyle img {
      width: 280px; }
    .SchoolDetailPanel .knowMoreStyle {
      font-size: 11px; }
    .SchoolDetailPanel .studenAchievPanel .StyleForSlickArrows .slick-prev, .SchoolDetailPanel .studenAchievPanel .StyleForSlickArrows .slick-next {
      display: none !important; }
    .SchoolDetailPanel .link_list.ShowOnMobile {
      padding: 10px 15px; }
    .SchoolDetailPanel .AchieveTitleBlock .link_list {
      position: static; }
    .SchoolDetailPanel .StudentStoriesPanel {
      margin: -190px 0 0 0;
      padding: 0px; }
    .SchoolDetailPanel .Studentstories {
      background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
      background-position: 0 -200px;
      background-size: cover;
      padding: 220px 15px 0 15px; }
    .SchoolDetailPanel .LogoBanner:before {
      display: none; }
    .SchoolDetailPanel .HomeCoursePanel {
      padding: 0px; }
    .SchoolDetailPanel .CoursesPanel {
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      margin: 0;
      background-size: cover;
      background-position: top; }
    .SchoolDetailPanel .CoursesList {
      margin: 0;
      padding: 30px 15px; }
    .SchoolDetailPanel .CoursesList .slick-list {
      padding: 0 15px; }
    .SchoolDetailPanel .TextOverlap {
      position: relative;
      font-size: 55px;
      padding: 0 15px;
      height: auto;
      top: -15px;
      left: 0; }
    .SchoolDetailPanel .crseTitle {
      padding: 0 15px;
      font-size: 20px;
      margin: -35px 0 0 0; }
    .SchoolDetailPanel .applyCourses {
      background: #f7f7f7; }
    .SchoolDetailPanel .courseIcon {
      width: 45px; }
    .SchoolDetailPanel .CLK_blk {
      padding: 0 0 0 15px; }
    .SchoolDetailPanel .coursesfor a {
      position: static;
      font-size: 10px; }
    .SchoolDetailPanel .clblk_Top {
      display: flex; }
    .SchoolDetailPanel .course_iconStyle {
      min-height: inherit;
      width: 25%; }
    .SchoolDetailPanel .clblk_Top {
      border-bottom: none;
      padding: 2vh 30px 2vh 20px; }
    .SchoolDetailPanel .CheckBlk {
      padding: 3.5vh 80px; }
    .SchoolDetailPanel .forApplication span {
      display: inline-block; }
    .SchoolDetailPanel .CoursesList.StyleForSlickArrows .slick-prev, .SchoolDetailPanel .CoursesList.StyleForSlickArrows .slick-next {
      bottom: -30px; }
    .SchoolDetailPanel .CoursesList.StyleForSlickArrows .slick-prev {
      left: 40%;
      right: auto; }
    .SchoolDetailPanel .CoursesList.StyleForSlickArrows .slick-next {
      right: auto;
      left: 50%; }
    .SchoolDetailPanel .coursesfor {
      height: 100px; }
    .SchoolDetailPanel .Visit_list a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 11px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .SchoolDetailPanel .Visit_list {
      margin: 0 0 20px 0; }
    .SchoolDetailPanel .ApplyNow a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 11px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .SchoolDetailPanel .applyCourses .d-flex {
      display: block !important;
      text-align: center; }
    .SchoolDetailPanel .ParentStoriesPanel {
      padding: 30px 15px 15px 15px;
      background: inherit; }
    .SchoolDetailPanel .StoryTitleStrip {
      width: 280px;
      padding: 0 15px;
      height: auto; }
    .SchoolDetailPanel .storiesPannInn {
      padding: 30px 0 0 0; }
    .SchoolDetailPanel .storiesPanStyle {
      padding: 0px !important; }
    .SchoolDetailPanel .storiesPanStyle img {
      width: 200px; }
    .SchoolDetailPanel .StoryTitleStrip p {
      font-size: 30px;
      top: -35%; }
    .SchoolDetailPanel .StoryTitleStrip h2 {
      font-size: 50px; }
    .SchoolDetailPanel .StoriesContext {
      left: 40%;
      width: 200px;
      padding: 10px 15px;
      height: 175px; }
    .SchoolDetailPanel .StoriesContext h3 {
      font-weight: 500;
      display: block;
      display: -webkit-box;
      max-height: 18.2px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .SchoolDetailPanel .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 23.4px;
      font-size: 18px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 10px 0; }
    .SchoolDetailPanel .StoriesContext p {
      display: block;
      display: -webkit-box;
      max-height: 62.4px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 10px 0;
      height: 65px; }
    .SchoolDetailPanel .StoriesContext a {
      font-size: 11px; }
    .SchoolDetailPanel .studenAchievPanel_PaddingSpacing {
      padding: 0 0 20px 0; }
    .SchoolDetailPanel .storiesPannInn .slick-list {
      overflow: hidden; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-next {
      right: 0px; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-prev, .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 60px; }
    .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-prev {
      left: auto;
      right: 0;
      bottom: 105px; }
    .SchoolDetailPanel .St_Event_Impact .titleMedium {
      font-size: 22px; }
    .SchoolDetailPanel .St_Event_Impact .titleh3 {
      font-size: 32px;
      margin-bottom: 5px; }
    .SchoolDetailPanel .St_Event_Impact .EventPanelStyle img {
      width: 78vw; }
    .SchoolDetailPanel .St_Event_Impact .EventPanelStyle .AchieveContext {
      padding: 0 0 0 35px; }
      .SchoolDetailPanel .St_Event_Impact .EventPanelStyle .AchieveContext .AchieveContextInn {
        min-height: 100px; }
        .SchoolDetailPanel .St_Event_Impact .EventPanelStyle .AchieveContext .AchieveContextInn .AchieveContextPAra p {
          min-height: inherit;
          max-height: inherit;
          font-size: 4vw; }
    .SchoolDetailPanel .FacBanner .Events_Impact_Panel .Event_Inner {
      margin: 20px 0 0 0; }
      .SchoolDetailPanel .FacBanner .Events_Impact_Panel .Event_Inner h2 {
        padding: 2vw 0; }
      .SchoolDetailPanel .FacBanner .Events_Impact_Panel .Event_Inner .HomeEventCarousel .slick-prev {
        left: -2vw;
        top: auto;
        bottom: 0; }
      .SchoolDetailPanel .FacBanner .Events_Impact_Panel .Event_Inner .HomeEventCarousel .slick-next {
        left: -2vw;
        top: 95vw; }
      .SchoolDetailPanel .FacBanner .Events_Impact_Panel .Event_Inner .PadSpacing {
        padding: 2vw 11vw; }
    .SchoolDetailPanel .FacBanner .Events_Impact_Panel .EventContStyle p {
      font-size: 4vw; }
    .SchoolDetailPanel .Spl_Row {
      padding: 0px 15px 40px 15px; }
    .SchoolDetailPanel .Spl_Context {
      padding: 0 0px 0 0 !important; }
    .SchoolDetailPanel .SplOverlapContext {
      width: 80%;
      padding: 20px 10px;
      height: auto;
      left: 0; }
    .SchoolDetailPanel .Spl_img {
      padding: 15px 0 0 0; }
    .SchoolDetailPanel .SplOverlapContext h2 {
      font-size: 20px; }
    .SchoolDetailPanel .SplOverlapContext a {
      font-size: 11px; }
    .SchoolDetailPanel .link_list a {
      font-size: 11px; }
    .SchoolDetailPanel .Ties_TestimonialPanel:before {
      display: none; }
    .SchoolDetailPanel .StoryTitleStrip.StoryTitleStripForTieUp h2 {
      font-size: 50px;
      line-height: .8em;
      padding: 20px 0 0 0;
      text-align: left;
      position: absolute;
      width: 250px;
      height: auto;
      overflow: visible; }
    .SchoolDetailPanel .StoryTitleStrip.StoryTitleStripForTieUp {
      width: 65vw;
      height: 65vw; }
    .SchoolDetailPanel .EventPanelStyle {
      padding: 0 15px; }
    .SchoolDetailPanel .TieupContext {
      padding: 0 35px 0 0; }
      .SchoolDetailPanel .TieupContext p {
        display: block;
        display: -webkit-box;
        max-height: 41.6px;
        font-size: 16px;
        line-height: 1.3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; }
    .SchoolDetailPanel .TiesUpBg {
      padding: 20px 15px;
      height: 110px; }
    .SchoolDetailPanel .TiesUpPanel .StyleForSlickArrows .slick-prev, .SchoolDetailPanel .TiesUpPanel .StyleForSlickArrows .slick-next {
      top: 32%;
      bottom: auto; }
    .SchoolDetailPanel .TiesUpPanel .StyleForSlickArrows .slick-prev {
      left: -13%;
      right: auto;
      top: auto;
      bottom: 0; }
    .SchoolDetailPanel .TiesUpPanel .StyleForSlickArrows .slick-next {
      left: -13%;
      right: auto;
      top: auto;
      bottom: 30px; }
    .SchoolDetailPanel .TieUpPosition {
      margin: -100px 0 0 0;
      padding: 0 0 40px 55px; }
    .SchoolDetailPanel .CertifcationBg {
      background: #fff; }
    .SchoolDetailPanel .CertificationPanel {
      margin: 0 0 80px 0; }
    .SchoolDetailPanel .StripforTwoContext {
      position: relative;
      top: 0;
      width: 220px;
      height: 70px;
      justify-content: flex-start !important; }
    .SchoolDetailPanel .StripforTwoContext h2 {
      margin: 0;
      font-size: 25px;
      bottom: -20px;
      left: 5px; }
    .SchoolDetailPanel .ind_CompanyList {
      padding: 0; }
    .SchoolDetailPanel .CrtInner {
      padding: 0 15px;
      margin: 0px; }
    .SchoolDetailPanel .Events_Impact_Panel {
      padding: 50px 0px 40px 0px;
      margin: 0 0px; }
    .SchoolDetailPanel .FacBanner:before {
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      margin: 0;
      background-size: cover; }
    .SchoolDetailPanel .EventContStyle {
      height: 140px; }
    .SchoolDetailPanel .EventContStyle h4 {
      display: block;
      display: -webkit-box;
      max-height: 20.8px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .SchoolDetailPanel .EventPara {
      height: 75px; }
    .SchoolDetailPanel .EventPara p {
      display: block;
      display: -webkit-box;
      max-height: 18.2px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .SchoolDetailPanel .Ev_Im_List:last-child {
      padding: 0 15px 0 15px; }
    .SchoolDetailPanel .titleposition {
      position: static; }
    .SchoolDetailPanel .HomeEventImg {
      width: 100%; }
    .SchoolDetailPanel .Ev_Im_List:first-child .HomeEventCarousel button {
      display: none !important; }
    .SchoolDetailPanel .Ev_Im_List {
      padding: 0 15px; }
    .SchoolDetailPanel .RotateTitlePosition {
      font-size: 28px;
      left: 25px;
      bottom: 90px;
      transform: inherit;
      position: static; }
    .SchoolDetailPanel .HomeEventImg {
      padding: 0; }
    .SchoolDetailPanel .HomeEventCarousel.StyleForSlickArrows .slick-prev {
      bottom: 45px; }
    .SchoolDetailPanel .HomeEventCarousel.StyleForSlickArrows .slick-next {
      bottom: 0px; }
    .SchoolDetailPanel .HomeEventCarousel.StyleForSlickArrowsBottom .slick-prev, .SchoolDetailPanel .HomeEventCarousel.StyleForSlickArrowsBottom .slick-next {
      left: -10px; }
    .SchoolDetailPanel .ApplicationBg .shcaseBtmRow {
      padding: 40px 60px;
      text-align: center; }
    .SchoolDetailPanel .col-sm-6.CourseBlk {
      flex: 0 0 100%;
      max-width: 100%; }
    .SchoolDetailPanel .col-sm-6.CourseBlk {
      flex: 0 0 100%;
      max-width: 100%;
      display: block; }
    .SchoolDetailPanel .applyCourses {
      display: block !important;
      padding: 20px 0; }
    .SchoolDetailPanel .row.appl_Row {
      height: auto; }
    .SchoolDetailPanel .ApplyNow a {
      font-size: 12px;
      height: 35px;
      width: 260px;
      margin: 0 auto;
      padding: 9px 12px; }
    .SchoolDetailPanel .CourseBlk_bg .Visit_list a {
      width: 260px;
      height: 35px;
      margin: 0 auto;
      font-size: 12px;
      padding: 9px 12px; }
    .SchoolDetailPanel .borderLeft {
      border-left: 0;
      padding: 0; }
    .SchoolDetailPanel .dateForSt p {
      font-size: 16px;
      font-weight: 500;
      padding: 10px 0 0 0; }
    .SchoolDetailPanel .dateForSt p span {
      font-weight: 600; }
    .SchoolDetailPanel .AppDate p {
      font-size: 20px; }
    .SchoolDetailPanel .Condition_text p {
      font-size: 11px; } }

@media (min-width: 300px) and (max-width: 350px) {
  .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-prev {
    left: 10%;
    right: auto;
    bottom: 105px; }
  .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-next {
    right: auto;
    left: 10%; } }
