﻿.search-results h1 {
  font-size: 5.5vw;
  padding: 0 0 1vw 0 !important;
  margin-top: 2vw;
  margin-bottom: 2.4vw; }

.search-results .plr100vw {
  padding: 0 5.21vw; }

.search-results .load-more {
  padding: .5vw 3vw;
  border-radius: 100px;
  margin-bottom: 30px;
  font-size: 1.2vw; }

.search-results .keyword {
  padding: 0 0 2vw 1.2vw;
  font-size: 2vw; }
  .search-results .keyword span {
    font-weight: 600; }

.search-results .SearchRow {
  padding: 1.2vw;
  margin-bottom: 1.2vw;
  font-size: 1.1vw; }
  .search-results .SearchRow:nth-child(odd) {
    background: #f2f2f2; }
  .search-results .SearchRow h2 {
    line-height: 1.6vw;
    margin: 0 0 .9vw;
    font-size: 1.6vw; }
  .search-results .SearchRow a {
    margin: 0 0 .9vw;
    display: inline-block;
    color: #6984c1;
    text-decoration: underline !important;
    word-break: break-all; }
  .search-results .SearchRow p {
    line-height: 1.5vw;
    font-size: 1.1vw; }

.search-results .searchPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px; }
  .search-results .searchPagination .pagination {
    padding-top: 30px !important;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem; }
    .search-results .searchPagination .pagination li.page-item.disabled {
      color: #dee2e6; }
  .search-results .searchPagination .pagination .page-item:first-child .page-link, .search-results .searchPagination .pagination .page-item:last-child .page-link {
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 40px; }
  .search-results .searchPagination .pagination .page-item .page-link {
    border: none;
    font-size: 20px !important;
    color: inherit;
    padding: 0 10px; }
  .search-results .searchPagination .page-item.disabled .page-link {
    color: #ccc;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6; }
  .search-results .searchPagination .pagination .page-item.active .page-link {
    background: none;
    color: inherit;
    font-weight: 900; }
  .search-results .searchPagination .pagination .page-item .page-link {
    font-weight: 400; }

@media (max-width: 991px) {
  .search-results h1 {
    font-size: 30px !important;
    padding: 0 0 15px 0 !important;
    margin-top: 30px;
    margin-bottom: 5px; }
  .search-results .plr100vw {
    padding: 0 5.21vw; }
  .search-results .keyword {
    font-size: 16px !important;
    line-height: 20px !important;
    margin-bottom: 15px; }
    .search-results .keyword span {
      font-weight: 600; }
  .search-results .SearchRow {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px; }
    .search-results .SearchRow:nth-child(odd) {
      background: #f2f2f2; }
    .search-results .SearchRow h2 {
      font-size: 18px !important;
      line-height: 20px !important;
      margin-bottom: 15px; }
    .search-results .SearchRow a {
      font-size: 16px !important;
      margin-bottom: 15px;
      line-height: 18px !important; }
    .search-results .SearchRow p {
      font-size: 16px !important;
      margin-bottom: 15px;
      line-height: 18px !important; } }

@media (max-width: 767px) {
  .search-results .searchPagination .pagination .page-item:first-child .page-link, .search-results .searchPagination .pagination .page-item:last-child .page-link {
    padding: 0 10px; }
  .search-results .searchPagination .pagination .page-item .page-link {
    font-size: 10px !important;
    padding: 0 7px; } }
