﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.showcase .show_caseTop {
  padding: 2.5vw 0;
  background: #FFCA08; }

.showcase {
  position: relative;
  z-index: 9; }

.showcase .takeStep p span {
  display: block; }

.showcase .takeStep p {
  font-size: 3.5vw;
  line-height: 3.5vw; }

.showcase .Visit_list a {
  background: #FFFFFF;
  width: 20.5vw;
  height: 2.8vw;
  font-size: 1.05vw;
  color: #00448B;
  margin: 0 6px 0 0;
  padding: 0 0 !important;
  display: flex;
  align-items: center;
  justify-content: center; }

.showcase .sh_showcaseRight a {
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

.showcase .Visit_list a:hover {
  background: #00448B;
  color: #FFFFFF; }

.showcase .ApplyNow a {
  font-size: 1.05vw;
  height: 2.8vw;
  background: #00448B;
  color: #FFFFFF;
  width: 14vw;
  margin: 0 0 0 6px;
  padding: 0 0 !important;
  display: flex;
  align-items: center;
  justify-content: center; }

.showcase .ApplyNow a:hover {
  background: #FFFFFF;
  color: #00448B; }

.showcase .show_caseBtm {
  background: #FCA61B; }

.showcase .dateText span {
  display: block; }

.showcase .shcaseBtmRow {
  padding: 1.4vw 0;
  color: #000000; }

.showcase .AppDate p {
  font-size: 1.5vw; }

.showcase .dateText {
  font-size: 0.9vw; }

.showcase .modal-dialog {
  margin: 8vw auto; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1600px) and (max-width: 1800px) {
  .showcase .takeStep p {
    line-height: 55px; } }

@media (min-width: 1200px) and (max-width: 1365px) {
  .showcase .dateText {
    font-size: 1.1vw; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .showcase .plr100 {
    padding: 0 50px; }
  .showcase .dateText {
    font-size: 1.1vw; }
  .showcase .AppDate p {
    font-size: 1.7vw; }
  .showcase .Visit_list a {
    height: 3.8vw; }
  .showcase .ApplyNow a {
    height: 3.8vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  .showcase .FooterShowcasePanel {
    z-index: 9999999;
    position: relative; }
  .showcase .takeStep p {
    line-height: 30px; }
  .showcase .dateText {
    font-size: 1.4vw; }
  .showcase .AppDate p {
    font-size: 1.8vw; }
  .showcase .ApplyNow a {
    font-size: 1.3vw;
    width: 16vw;
    height: 35px; }
  .showcase .Visit_list a {
    padding: 0 0 !important;
    width: 25vw;
    font-size: 1.3vw;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
    float: left; } }

@media (max-width: 767px) {
  /**Showcase*/
  .showcase .show_caseBtm {
    padding: 10px 15px 10px 15px;
    text-align: center; }
  .showcase .shcaseBtmRow .col-sm-2 {
    padding: 30px 0 0 0; }
  .showcase .dateText span {
    padding: 6px 0 0 0; }
  .showcase .Visit_list {
    margin: 20px 0 0 0;
    display: block !important; }
  .showcase .shcaseBtmRow {
    padding: 0px; }
  .showcase .ApplyNow a {
    font-size: 12px;
    height: 35px;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 9px 12px; }
  .showcase .Visit_list a {
    width: 100%;
    height: 35px;
    font-size: 12px;
    margin: 0 0px 10px 0;
    padding: 9px 12px; }
  .showcase .shcaseBtmRow .col-sm-2 {
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .col-sm-3.AppDate {
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .col-sm-9.sh_showcaseRight {
    display: block !important;
    flex: 0 0 100%;
    max-width: 100%; }
  .showcase .shcaseRow {
    width: 220px;
    margin: 0 auto !important; }
  .showcase .show_caseTop {
    text-align: center; }
  .showcase .takeStep p {
    font-size: 36px;
    line-height: normal; }
  .showcase .dateText {
    font-size: 16px; }
  .showcase .AppDate p {
    font-size: 20px; }
  .showcase .col-sm-3.takeStep {
    flex: 0 0 100%;
    max-width: 100%; } }
