.higlight h3 {
    padding: 30px 0;
}
.fullwidth {
    width: 100%;
}
.logo {
    max-width: 150px;
    display: block;
    float: left;
}

.footer {
    background-color: #4d4d4d;
    padding: 20px 0;
}

.nopadding {
    padding: 0;
}

.white-color {
    color: #ffffff;
}

.yellow-bg {
    background-color: #ffcb08;
}

.yellow-color {
    color: #ffcb08;
}

.blue-bg {
    background-color: #004687;
}

.blue-color {
    color: #004687;
}

.gray-bg {
    background-color: #eeeeee;
}

.lgt-gray-bg {
    background-color: #f7f7f7;
}

.clear {
    clear: both;
}

.white-bg {
    background-color: #ffffff;
}

.blue-bg {
    background-color: #004687;
}

.cmn-box-shadow {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -o-box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.cmn-form {
    position: static;
    right: 0;
    max-width: 100%;
    width: 100%;
    padding: 30px;
}

    .cmn-form h2 {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .cmn-form select {
        background-image: url(../images/arrow.png);
        background-repeat: no-repeat;
        background-position: 95% center;
    }

    .cmn-form .textbox {
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        border: 0;
        margin-bottom: 15px;
        height: 40px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -o-appearance: none;
    }

.nopadding-right-statefield {
    padding-right: 0;
}

.uppercase {
    text-transform: uppercase;
}

.terms-checkbox {
    font-size: .8em;
    font-weight: bold;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

    .terms-checkbox input {
        vertical-align: text-top;
        margin-top: 0;
    }

    .terms-checkbox a {
        color: #000000;
    }

.submit {
    background-color: #004687;
    border:1px solid transparent !important;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    color: #ffffff;
    margin: 15px auto 0;
    display: table;
    text-transform: uppercase;
    border: 0;
}

    .submit:hover, .submit:focus {
        background-color: #fff;
        border: 1px solid #00468 !important;
        color: #004687;
    }

.banner-txt {
    margin-top: 0;
}

    .banner-txt h2 {
        color: #ffffff;
        font-size: 3.5em;
        font-weight: bold;
        line-height: 1.2em;
        margin: 3em 0 0;
    }

        .banner-txt h2 span {
            display: block;
        }

            .banner-txt h2 span.yellow-color {
                font-size: .5em;
            }

.why-upes {
    background: url(../src/img/mba-admission/why-upes-bg.jpg) no-repeat center center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    padding: 20px 0;
}

.why-txt h2 {
    font-size: 3em;
    font-weight: 900;
    color: #989898;
    display: inline-block;
    line-height: 1.5em;
}

    .why-txt h2 span {
        display: block;
        font-size: 1em;
        color: #000000
    }

.count {
    margin-bottom: 2em;
}

    .count h2 {
        font-size: 5em;
        font-weight: 900;
        margin: 20px 0;
    }

        .count h2 span {
            display: block;
            font-weight: normal;
            font-size: .4em;
            color: #000000;
        }

.swiper-container {
    margin: 2em 0;
    padding-bottom: 15px;
}

.awards.awards.prominent-recruiters .swiper-container {
    margin: 2em 0 0;
}

.courses-head {
    padding: 15px 0;
    font-weight: 900;
    font-size: 3em;
    margin-top: -50px;
    margin-bottom: 0;
    max-width: 780px;
    line-height: 1.2em;
    white-space: normal;
}

    .courses-head span {
        display: block;
        font-size: 1em;
    }

.courses {
    margin: 2em 0;
}

    .courses p {
        margin: 20px 0;
    }

    .courses .head {
        font-size: 2em;
        font-weight: 600;
        margin: 20px 0;
    }

    .courses ul {
        padding-left: 20px;
        margin: 20px 0;
    }

        .courses ul li {
            margin: 10px 0;
        }

    .courses p.crs-nm {
        background-image: url(../src/img/mba-admission/degree-icon.jpg);
        background-repeat: no-repeat;
        background-position: top left;
        padding-left: 40px;
        margin: 20px 0 5px;
        font-size: 1em;
    }

/******************************************************************
Admission Form
*******************************************************************/
.EnquiryPanel {
    padding: 60px 0 60px;
    background: #F9F9F9;
}

    .EnquiryPanel .EnqInner {
        text-align: center;
        margin: 0 auto;
    }

        .EnquiryPanel .EnqInner h2 {
            color: #000;
            font-size: 2.5em;
            margin: 0 0 20px 0;
            font-weight: 800;
            position: relative;
        }

        .EnquiryPanel .EnqInner .enq_form {
            margin: 10px 0;
        }

            .EnquiryPanel .EnqInner .enq_form .enqFormstyle {
                width: 100%;
                height: 50px;
                background: #fff;
                border: 1px solid #E4E4E4;
                border-radius: 8px;
                color: #A3A3A3 !important;
                padding: 0 20px;
                font-weight: 65;
                outline: none;
                font-size: 14px;
            }

                .EnquiryPanel .EnqInner .enq_form .enqFormstyle::-webkit-input-placeholder {
                    color: #A3A3A3 !important
                }

                .EnquiryPanel .EnqInner .enq_form .enqFormstyle::-moz-placeholder {
                    color: #A3A3A3 !important
                }

                .EnquiryPanel .EnqInner .enq_form .enqFormstyle:-ms-input-placeholder {
                    color: #A3A3A3 !important
                }

                .EnquiryPanel .EnqInner .enq_form .enqFormstyle:-moz-placeholder {
                    color: #A3A3A3 !important
                }

        .EnquiryPanel .EnqInner .accept_checkbox {
            margin: 25px 0 30px 0;
        }

            .EnquiryPanel .EnqInner .accept_checkbox label {
                margin: 0;
                vertical-align: text-bottom;
                font-size: 14px;
                color: #6e6e6e;
                font-weight: 500;
            }

            .EnquiryPanel .EnqInner .accept_checkbox .checkbxStyle {
                -webkit-appearance: none;
                border: 1px solid #a6a6a6;
                width: 18px;
                height: 18px;
                background: #f0f0f0;
                outline: none;
                position: relative;
                top: 4px;
                margin: 0 5px 0 0;
                position: relative;
            }

                .EnquiryPanel .EnqInner .accept_checkbox .checkbxStyle:checked:after {
                    content: "\2713";
                    color: #014689;
                    width: 15px;
                    height: 15px;
                    border-radius: 0;
                    display: block;
                    margin: 0px auto;
                    padding: 0px 0;
                    font-weight: 700;
                    background: transparent;
                    position: absolute;
                    top: -4px;
                    font-size: 17px;
                }

        .EnquiryPanel .EnqInner .formSubmit {
            text-align: center;
            display: inline-block;
        }

        .EnquiryPanel .EnqInner .HomeBtnStyle {
            color: #FFFBFF;
            font-weight: bold;
            border: none;
            width: 165px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #014689;
            border-radius: 30px;
            font-size: 1.3em;
        }

@media (max-width:767px) {
    .EnquiryPanel .EnqInner h2 {
        font-size: 1.2em;
    }

    .EnquiryPanel .EnqInner .HomeBtnStyle {
        height: 45px;
        font-size: 1.2em;
    }
}

.life-upes {
    padding: 30px 0;
}

    .life-upes .courses-head {
        margin: .5em 0 1em 0;
        font-size: 3em;
        padding-left: 2em;
        max-width: 800px;
    }

.admissions .why-txt h2 {
    margin: 30px 0;
}

.admissions .courses-head {
    margin: .5em 0;
    max-width: 420px;
}

.awards.prominent-recruiters {
    background-image: none;
    padding: 30px 0;
}

.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e252";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-group .panel {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}

.panel-title > a:hover, .panel-title > a:focus, .panel-title > a:active, .panel-heading.active a {
    background-color: #004687;
    color: #ffffff;
}

.panel-body h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin: 20px 0;
}

.panel-body p span {
    font-weight: 600;
}

.panel-body ul li {
    margin: 10px 0;
}

.panel-body {
    max-height: 300px;
    overflow-y: scroll;
}

.admissions .wrapper {
    margin: 10px 0 50px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(153,153,153,1);
    box-shadow: 0px 0px 8px 0px rgba(153,153,153,1);
}

.recruiters {
    padding: 20px 0;
}

    .recruiters .courses-head {
        max-width: 340px;
        font-size: 3em;
    }

.copyright {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    float: left;
    line-height: 30px;
}

.follow-wrap {
    float: right;
    width: 315px;
}

.follow-txt {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    float: left;
    line-height: 30px;
    margin-right: 5px;
}

.awards {
    padding: 0;
}

    .awards h2 span {
        font-weight: 800;
    }

.award-content {
    padding: 20px;
    width: 80%;
    float: left;
    margin-top: -30px;
    z-index: 9;
    position: relative;
}

    .award-content p {
        margin-bottom: 10px;
        font-weight: 600;
    }

    .award-content h2 {
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.2em;
    }

        .award-content h2 span {
            display: block;
            font-size: .8em;
            font-weight: 600;
        }

    .award-content a {
        font-weight: 600;
    }

.recruiter-head .courses-head {
    padding: 0;
    margin-top: -70px;
}

    .recruiter-head .courses-head span.yellow-bg {
        height: 90px;
        font-size: 1em;
        display: block;
        padding: 20px;
    }

.social-icons {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #7f7f7f;
    color: #7f7f7f;
    text-align: center;
    line-height: 30px;
}

    .social-icons:hover, .social-icons:focus {
        background-color: #7f7f7f;
        color: #ffffff;
        border-color: #ffffff;
    }

.ph-number {
    text-align: right;
    color: #ffffff;
    margin: 0 0 20px 0;
    font-weight: 600;
}

    .ph-number a {
        color: #ffffff;
    }

.recruiters img, .why-upes img {
    border: 1px solid #dddddd;
    padding: 10px;
}

.five-star-employbility {
    margin: 5em 0 0;
}

.awards .courses-head {
    margin: 1em 0 0;
    padding-left: 2em;
    max-width: 550px;
}

.awards.life-upes .courses-head {
    max-width: 300px;
}

.events .award-content {
    float: left;
}

    .events .award-content h2, .events .award-content p {
        color: #ffffff;
    }
/*******************Tabs***************************/

/*  bhoechie tab */
div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    margin-top: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

    div.bhoechie-tab-menu div.list-group {
        margin-bottom: 0;
    }

        div.bhoechie-tab-menu div.list-group > a {
            margin-bottom: 0;
            font-weight: bold;
        }

            div.bhoechie-tab-menu div.list-group > a .glyphicon,
            div.bhoechie-tab-menu div.list-group > a .fa {
                color: #000000;
            }

            div.bhoechie-tab-menu div.list-group > a:first-child {
                border-top-right-radius: 0;
                -moz-border-top-right-radius: 0;
                border-top-left-radius: 0;
                -moz-border-top-left-radius: 0;
            }

            div.bhoechie-tab-menu div.list-group > a:last-child {
                border-bottom-right-radius: 0;
                -moz-border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                -moz-border-bottom-left-radius: 0;
            }

            div.bhoechie-tab-menu div.list-group > a.active,
            div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
            div.bhoechie-tab-menu div.list-group > a.active .fa {
                background-color: #004687;
                background-image: #004687;
                color: #ffffff;
            }

                div.bhoechie-tab-menu div.list-group > a.active:after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    margin-top: -13px;
                    border-left: 0;
                    border-bottom: 13px solid transparent;
                    border-top: 13px solid transparent;
                    border-left: 10px solid #004687;
                }


.bhoechie-tab-content .heading {
    font-weight: 600;
    margin: 20px 0;
    font-size: 1.2em;
    color: #004687;
}

.bhoechie-tab-content ul li {
    margin-bottom: 10px;
    padding: 0px 20px;
    font-size: 0.9em;
    margin: 5px 0;
    color: #5e5e5e;
    line-height: 2em;
    list-style: none;
    padding-left: 25px;
    background: url(/Media/1071/school-arrow.png) no-repeat left 7px;
}

.bhoechie-tab-menu h4 {
    margin: 20px 0;
}

.bhoechie-tab-content ul {
    padding-left: 0px;
    list-style: none;
	margin: 20px 0px;
}
.modal-feat li {
    width: 25%;
    padding: 0px 25px;
    float: left;
    box-sizing: border-box;
    background: none !important;
}
.modal-feat li h2 {
    font-size: 45px !important;
    line-height: 52px;
    color: #0a224d;
    font-weight: bold;
	margin: 0px;
}
.modal-feat li h3 {
    font-size: 18px;
    color: #e77817;
    font-weight: 400;
	margin: 0px;
}

.life-upes .courses-head, .awards .courses-head, .awards.life-upes .courses-head {
    font-size: 3em;
}

.courses-head.life-at-school {
    max-width: 750px;
}

.bhoechie-tab-content ol {
    padding-left: 0px;
}

    .bhoechie-tab-content ol li ul {
        margin-top: 10px;
    }

.content-tables {
    margin-top: 20px;
}

.courses-head.about {
    margin-top: 0;
    max-width: 550px;
}

.life-upes.abt-container {
    padding-top: 0;
    padding-bottom: 70px;
}

    .life-upes.abt-container p {
        font-size: 1.2em;
        margin: 20px 0 5px;
    }

.awards.awards.prominent-recruiters h2 {
    font-size: 2.5em;
}

.awards {
    padding: 1px 0;
}

.more-events {
    font-weight: bold;
    margin: 20px 0 0;
    display: inline-block;
    float: right;
    font-size: 1.2em;
}

.modal-heading {
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: bold;
    line-height: 1.5em;
}

.modal-body p {
    margin: 10px 0;
}

.custom-modal .modal-content {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}

.award-content a {
    cursor: pointer;
}

.modal-heading span {
    display: block;
    font-size: .8em;
    font-weight: 600;
}

.heading-course {
    font-size: 1.5em;
    font-weight: 600;
    color: #004687;
}

.courses-container .courses-head {
    margin-top: 0;
    padding-left: 2em;
}

.award-content p a {
    color: #ffffff;
}
/*******************************Scroll top top***************************************/
.scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
}

.scroll {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 25px;
    line-height: 38px;
    border: 2px solid #004687;
}

    .scroll:hover {
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
    }

        .scroll:hover .far {
            padding-top: -10px;
        }

    .scroll .far {
        font-size: 1.5rem;
        margin-top: -5px;
        margin-left: 1px;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        color: #004687;
    }

.bhoechie-tab {
    padding-right: 0;
    padding-left: 0;
}

    .bhoechie-tab ol {
        padding: 20px;
    }

.cmn-form .textbox {
    background-color: #ffffff;
}

.global-img {
    margin-left: -25px;
}

.award-content p {
    font-size: .9em;
}

.award-content a {
    font-size: .8em;
    text-decoration: underline;
}

.bhoechie-tab-content ol.global-advantage-tab {
    padding-top: 0;
}

    .bhoechie-tab-content ol.global-advantage-tab li {
        margin: 20px 0;
    }

.awards .swiper-slide img {
    max-width: 70%;
    float: left;
}

.awards.prominent-recruiters img {
    max-width: 100%;
}

.award-content {
    float: right;
    margin-right: 10px;
}

    .award-content h2 {
        font-size: 1.3em;
    }

.events .award-content {
    float: right;
}

.bhoechie-tab-menu h4 {
    margin-top: 0;
}

.bhoechie-tab-menu div.list-group > a {
    padding: 20px 15px;
}

div.bhoechie-tab-content {
    padding: 20px 20px 20px 20px;
}
.bhoechie-tab-content table tbody tr td h2 {
    font-size: 22px;
}
.swiper-button-next {
    background-size: 15px 44px;
    right: -10px;
}

.swiper-button-prev {
    background-size: 15px 44px;
    left: -10px;
}

.apply-btn {
    display: table;
    padding: 10px 30px;
    margin: 20px auto 10px;
    background: #ffcb08;
    color: #000000;
}

    .apply-btn:hover, .apply-btn:focus {
        background-color: #1f1f1f;
        color: #ffffff;
        text-decoration: none;
    }
/******************************************************************
  OTP
*******************************************************************/
.cmn-form.otp p {
    margin: 10px 0;
    font-weight: 600;
}

    .cmn-form.otp p span {
        display: block;
    }

.cmn-form.otp .textbox {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
}

.cmn-form.otp .otp-btns {
    display: table;
    margin: 0 auto 50px;
}

    .cmn-form.otp .otp-btns .submit {
        float: left;
        margin: 0 5px;
        padding: 10px 15px;
    }

        .cmn-form.otp .otp-btns .disableresendotp {
               opacity: 0.5;
    pointer-events: none;
        }
        .cmn-form.otp .otp-btns .submit.resend-otp {
            background-color: #ffca08;
            border: 1px solid transparent;
			opacity:1;
			pointer-events:inherit;
        }
            .cmn-form.otp .otp-btns .submit.resend-otp:hover, .cmn-form.otp .otp-btns .submit.resend-otp:focus {
                background-color: #fff;
                border: 1px solid #ffca08;
                color: #ffca08;
            }
/******************************************************************
  Thanks
*******************************************************************/
.thanks-check {
    font-size: 5em;
    display: table;
    margin: 20px auto;
}

.cmn-form.thanks p {
    font-weight: 600;
    margin: 20px 0;
}

.cmn-form.thanks .submit {
    margin: 20px auto 50px;
}

    .cmn-form.thanks .submit:hover, .cmn-form.thanks .submit:focus {
        color: #ffffff;
        text-decoration: none;
    }

.awards h2 span.reasons {
    font-size: .5em;
    text-transform: capitalize;
    display: block;
    line-height: 3em;
}

.reasons-blk p {
    margin: 10px 0;
    font-weight: 600;
}

.rounded-list {
    width: 50px;
    height: 50px;
    text-align: center;
    background: #ffcb05;
    line-height: 50px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: bold;
    margin: 0 auto;
}

.awards.prominent-recruiters.reasons-wrap {
    border-bottom: 1px solid #e1e1e1;
}

    .awards.prominent-recruiters.reasons-wrap .submit {
        margin: 50px auto 0;
    }

        .awards.prominent-recruiters.reasons-wrap .submit:hover, .awards.prominent-recruiters.reasons-wrap .submit:focus {
            color: #ffffff;
            text-decoration: none;
        }

.life-upes .courses-head.connect-head {
    max-width: 580px;
}

.connect-wrap {
    text-align: center;
    margin: 5em 0;
}

    .connect-wrap a {
        margin: 0 1.5em;
        font-size: 3em;
        color: #cacaca;
    }

        .connect-wrap a:hover, .connect-wrap a:focus {
            color: #1f1f1f;
        }
/****************************************************
	Media Queries
*****************************************************/
@media only screen and (max-width:767px) {
    body {
        font-size: 13px;
    }
    .count h2{
        text-align:left !important;
    }
    .logo {
        float: none;
        display: table;
        margin: 0 auto 20px;
    }

    .nopadding-right-statefield {
        padding-right: 15px;
    }

    .banner {
        height: auto;
    }

    .cmn-form {
        float: none;
        display: table;
        margin: 0 auto 20px;
        position: relative;
        padding: 20px;
    }

    .banner-txt {
        margin: 0;
    }

        .banner-txt h2 span {
            display: inline;
        }

            .banner-txt h2 span.yellow-color {
                display: block;
            }

    .why-txt h2 {
        margin: 20px 0;
        font-size: 2em;
    }

    .nopadding-mob {
        padding: 0;
    }

    .courses-head, .awards .courses-head, .awards.life-upes .courses-head, .courses-head.life-at-school, .courses-head.about, .courses-container .courses-head, .admissions .courses-head {
        margin: 0px;
        font-size: 1.5em;
        padding: 15px;
        max-width: 100%;
    }

    .life-upes .courses-head, .awards .courses-head, .awards.life-upes .courses-head {
        max-width: 100%;
        padding-left: 15px;
        font-size: 1.5em;
        margin-top: 0;
    }

    .banner-txt h2 {
        font-size: 1.8em;
        margin: 20px 0;
    }

    .ph-number {
        text-align: center;
    }

    .copyright {
        float: none;
        text-align: center;
        margin: 10px auto;
    }

    .follow-wrap {
        float: none;
        display: block;
        margin: 20px auto 0;
        width: 280px;
    }

    .recruiters .courses-head {
        max-width: 100%;
        margin-top: 0;
    }

    .awards.prominent-recruiters .swiper-container {
        margin: 2em 0;
    }

    .five-star-employbility {
        margin: 0;
    }

    .nopadding {
        padding: 0 15px;
    }

    .cmn-form h2 {
        font-size: 1.2em;
    }

    .terms-checkbox input {
        vertical-align: text-bottom;
    }

    .terms-checkbox {
        font-size: .8em;
        margin: 0 -15px;
    }

    .awards.prominent-recruiters {
        padding: 10px 0;
        margin-left: 10px;
    }

    .awards.awards.prominent-recruiters .swiper-container {
        margin: 2em 0;
    }

    .awards.awards.prominent-recruiters h2 {
        font-size: 1.2em;
    }

    .swiper-button-next, .swiper-button-prev {
        background-size: 16px 44px;
        margin-top: -33px;
    }

    .count h2 {
        font-size: 2.5em;
        text-align: left;
    }

        .count h2 span {
            display: inline;
            vertical-align: middle;
            padding-left: 10px;
            font-size: .35em;
        }

    .count {
        margin-bottom: 0;
    }

    .life-upes {
        padding-top: 0;
    }

    .social-icons {
        margin: 0 2px;
    }

    .awards .swiper-container {
        margin: 2em 0 1em;
    }

    .award-content {
        width: 92%;
    }

    .life-upes.abt-container {
        padding-bottom: 0px;
    }

    .heading-course {
        font-size: 1.3em;
    }

    div.bhoechie-tab-content {
        max-height: initial;
        padding:0 15px;
    }

    div.bhoechie-tab-menu div.list-group > a.active, div.bhoechie-tab-menu div.list-group > a.active .glyphicon, div.bhoechie-tab-menu div.list-group > a.active .fa, div.bhoechie-tab-menu div.list-group > a {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .bhoechie-tab {
        border: 1px solid #e1e1e1;
        margin-bottom: 20px;
        padding-right: 0;
    }

    .bhoechie-tab-menu h4 {
        display: none;
    }

    div.bhoechie-tab-menu div.list-group > a.active:after {
        border: 0;
    }

    .award-content p {
        font-size: .9em;
    }

    .award-content {
        width: 70%;
    }

        .award-content a {
            font-size: .9em;
        }

        .award-content h2 span {
            font-size: .7em;
        }

        .award-content h2 {
            font-size: 1.2em;
        }

    .awards.prominent-recruiters img {
        max-width: 100%;
        float: none;
    }

    .courses-head span {
        display: inline;
    }

    .banner {
        padding-top: 10px;
    }

    .follow-txt {
        display: none;
    }

    .social-wrap {
        display: table;
        margin: 0 auto;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }

    .courses {
        margin: 0;
    }

        .courses p.crs-nm {
            margin: 20px 0;
        }
    /******************************************************************
    Thanks
  *******************************************************************/
    .awards h2 span.reasons {
        font-size: .7em;
    }

    .life-upes .courses-head.connect-head {
        max-width: 100%;
        padding: 20px;
        font-size: 2em;
    }

    .connect-wrap a {
        margin: 0 .5em;
        font-size: 3em;
    }

    .courses {
        margin: 0;
    }
}

@media only screen and (min-width:768px) and (max-width: 991px) {
    body {
        font-size: 13px;
    }

    .banner-txt {
        margin-top: 4em;
    }

    .count h2 {
        font-size: 4em;
    }

    .five-star-employbility {
        margin: 5em 0 0;
    }

    .nopadding {
        padding: 0 15px;
    }

    .awards.awards.prominent-recruiters .swiper-container {
        margin: 3em 0;
    }

    div.bhoechie-tab-container {
        padding: 0;
    }

    div.bhoechie-tab-content {
        max-height: 520px;
    }
    /******************************************************************
    Thanks
  *******************************************************************/
    .connect-wrap a {
        margin: 0 .5em;
        font-size: 3em;
    }
}



     header .HeaderPanelMenu .TopHeaderPanelStrip ul li a.nav-link.yellow_bg{
        /* NAME | TIME | ITERATION */
        animation: blinking 1s infinite;
      }
  @keyframes blinking {
        0%{
          background: #ef3f3e;
          color: #fff !important;
        }
        100%{
        background: #ffcb08;
          color: #fff;
        }
      }













