﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit; }

.AccordionStyle .card.link a:after {
  transform: inherit !important; }

.UpesStudent {
  /**Banner*/
  /**Banner Section*/
  /**Orange-Strip*/ }
  .UpesStudent a.color-blue {
    color: #00448B;
    text-decoration: underline;
    font-weight: 600; }
  .UpesStudent .pl7-5 {
    padding-left: 7.5px; }
  .UpesStudent .pr7-5 {
    padding-right: 7.5px; }
  .UpesStudent .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .UpesStudent .BannerImg {
    float: right; }
    .UpesStudent .BannerImg img {
      width: 70vw; }
  .UpesStudent .BannerStripContext {
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    justify-content: center;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 26vw;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .UpesStudent .BannerStripContext .fontExBold {
    font-size: 6vw;
    position: absolute;
    width: 55vw;
    left: 80px;
    line-height: 1.1em;
    top: -4.5vw; }
  .UpesStudent .BannerStripContext .StripContent {
    font-size: 1.5vw;
    padding-top: 12%;
    padding-right: 40px;
    overflow: hidden; }
  .UpesStudent .DownArrow {
    left: -5%; }
  .UpesStudent .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .UpesStudent .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .UpesStudent .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .UpesStudent .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    top: 25%;
    left: 7vw;
    padding: 0 50px 0 0;
    position: absolute; }
  .UpesStudent .BannerContextList li {
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0 0 4vh 0;
    position: relative; }
  .UpesStudent .BannerContextList li:before {
    content: '';
    background: #333;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: -8px;
    border-radius: 100%;
    top: 12px; }
  .UpesStudent .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
  .UpesStudent .wrapper-75 {
    width: 75vw;
    margin: auto; }
  .UpesStudent .section-1 {
    background: url(../src/img/upes-students/BG-1.png) no-repeat;
    padding-bottom: 200px;
    background-size: contain;
    background-position: 98%; }
  .UpesStudent .highlights ul {
    width: 53vw;
    margin-left: auto;
    padding-right: 30px;
    list-style-type: none;
    padding-left: 0;
    padding-top: 2.5vw;
    font-weight: bold; }
    .UpesStudent .highlights ul li {
      font-size: 1.15vw;
      padding: .5vw 0px;
      position: relative; }
      .UpesStudent .highlights ul li:before {
        content: '';
        position: absolute;
        border: 1px solid #000;
        padding: 0 .1vw;
        top: 1.3vw;
        left: -.7vw;
        display: flex;
        align-items: center;
        justify-content: center; }
  .UpesStudent .login-wrapper .accord-wrapper {
    margin-top: -4.5vw; }
  .UpesStudent .accord-wrapper {
    /**Details Accordion*/ }
    .UpesStudent .accord-wrapper .DetailsBanner:before {
      content: '';
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      top: 0;
      background-position: 0px -35vh; }
    .UpesStudent .accord-wrapper .AchieveTitleBlock .link_list {
      position: absolute;
      right: 0;
      top: 10px; }
    .UpesStudent .accord-wrapper .appList.ApplyNow a {
      background: #FFCA08; }
    .UpesStudent .accord-wrapper .applyNowForDetail {
      padding: 8vh 0 5vh 0; }
    .UpesStudent .accord-wrapper .appList p {
      padding: 0 10px 0;
      font-size: 1.05vw;
      color: #606060; }
    .UpesStudent .accord-wrapper .colorLightWhite .CardHeaderPanel a {
      background: #F7F7F7;
      border-bottom: 2px solid #fff; }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a {
      display: block;
      position: relative;
      font-weight: 600;
      color: #000000;
      font-size: 1.25vw;
      padding: 16px 25px;
      padding: 1.1713vw 1.8302vw;
      border-bottom: 2px solid #FAFAFA; }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a:after {
      content: '>';
      font-family: monospace;
      position: absolute;
      right: 25px;
      font-weight: 600;
      font-size: 1.6vw;
      color: #A1A1A1;
      top: 12px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a[aria-expanded="true"]:after {
      content: '>';
      font-family: monospace;
      transform: rotate(270deg); }
    .UpesStudent .accord-wrapper .AccordionStyle {
      margin: 30px 0 0 0;
      background: #fff;
      box-shadow: 0 5px 5px #ccc;
      position: relative;
      border: 1px solid #EDEDED; }
    .UpesStudent .accord-wrapper .card-body.cardContext {
      padding: 20px 25px; }
    .UpesStudent .accord-wrapper .AccordionStyle .card-header {
      background: inherit;
      border: none;
      padding: 0px; }
    .UpesStudent .accord-wrapper .cardContext p {
      font-weight: 500;
      font-size: 1vw;
      line-height: 1.5vw; }
    .UpesStudent .accord-wrapper .AccordionStyle .card {
      border: none;
      border-radius: 0px; }
  .UpesStudent .upcoming-events {
    margin-top: -100px;
    min-height: 30vw; }
    .UpesStudent .upcoming-events .Orange-Strip {
      margin-top: 6vw;
      margin: 0 0 30px 0; }
      .UpesStudent .upcoming-events .Orange-Strip .titleh3 {
        margin: 0 -3.2vw 0 4.5vw; }
    .UpesStudent .upcoming-events .blocks {
      padding: 60px 0px; }
      .UpesStudent .upcoming-events .blocks .block-wrapper {
        min-height: 10vw;
        font-weight: bold;
        margin-bottom: 30px; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block1,
        .UpesStudent .upcoming-events .blocks .block-wrapper .block2 {
          height: 100%;
          background-color: #F7F7F7;
          display: flex;
          justify-content: center;
          align-items: center; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left {
          min-height: 4vw; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details .title {
              font-size: 1.9vw; }
              .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details .title p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 20vw; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details .date {
              font-size: 1.25vw; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-right {
          min-height: 4vw;
          display: flex;
          align-items: flex-end; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-right .link-reg {
            margin-bottom: -5px; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-right .link-reg a {
              font-size: 1.25vw;
              line-height: 0; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-left {
          min-height: 4vw; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-left .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-left .details .title {
              font-size: 1.9vw; }
              .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-left .details .title p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-left .details .date {
              font-size: 1.25vw; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-right {
          min-height: 4vw;
          display: flex;
          align-items: flex-end; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-right .link-reg {
            margin-bottom: -5px; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-right .link-reg a {
              font-size: 1.25vw;
              line-height: 0; }
  .UpesStudent .plr100vw {
    padding: 0 5.21vw; }
  .UpesStudent .Orange-Strip {
    background: #FFCA08;
    height: 9vw;
    width: 38vw; }
    .UpesStudent .Orange-Strip .title {
      margin: 0 -1vw 0 4.5vw;
      font-weight: 600; }
  .UpesStudent .yellow-bg {
    background-color: #FFCA08; }
  .UpesStudent .section-4 {
    background-color: #F7F7F7;
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat; }
    .UpesStudent .section-4 .health-medical .titleh3 {
      font-weight: 600;
      font-size: 3.1vw; }
    .UpesStudent .section-4 .link-toggle {
      float: right;
      font-size: 1vw; }
    .UpesStudent .section-4 .accordion-title {
      padding-top: 60px;
      padding-bottom: 30px; }
      .UpesStudent .section-4 .accordion-title .link-toggle {
        margin-top: -30px;
        font-size: 1vw; }
    .UpesStudent .section-4 .inter-intern {
      margin-top: 150px;
      padding-bottom: 150px;
      overflow: hidden; }
      .UpesStudent .section-4 .inter-intern .yellow-bg {
        height: 22.032vw; }
        .UpesStudent .section-4 .inter-intern .yellow-bg .titleh3 {
          padding-top: 50px; }
      .UpesStudent .section-4 .inter-intern .students-slide {
        margin-top: -6.4vw; }
        .UpesStudent .section-4 .inter-intern .students-slide .slick-list {
          overflow: visible;
          margin: -7px; }
        .UpesStudent .section-4 .inter-intern .students-slide .student {
          padding: 0px 7px; }
          .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper {
            background-color: #fff; }
            .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .photo {
              margin-top: -6vw;
              width: 50%; }
              .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .photo img {
                width: 100%; }
            .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile {
              width: 50%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding: 0 .78125vw; }
              .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
                font-size: 24px;
                padding-top: 1vw;
                font-size: 1.25vw;
                height: 4vw;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical; }
              .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
                font-size: 20px;
                font-size: 1.05vw;
                padding-bottom: 1vw;
                height: 4vw;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical; }
          .UpesStudent .section-4 .inter-intern .students-slide .student .details {
            background-color: #fff;
            box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.11);
            padding: 15px;
            padding-bottom: 30px;
            padding-top: 0; }
            .UpesStudent .section-4 .inter-intern .students-slide .student .details p {
              line-height: 1.8;
              font-size: 20px;
              font-size: 1.05vw;
              padding-top: 0;
              font-weight: 500; }
            .UpesStudent .section-4 .inter-intern .students-slide .student .details .says p {
              height: 7.5vw;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical; }
      .UpesStudent .section-4 .inter-intern .slick-prev, .UpesStudent .section-4 .inter-intern .slick-next {
        top: 110%;
        height: 25px;
        width: 25px;
        padding: 1vw; }
      .UpesStudent .section-4 .inter-intern .slick-prev {
        left: 42%; }
      .UpesStudent .section-4 .inter-intern .slick-next {
        left: 52%; }
  .UpesStudent .section-5 {
    background: url(../src/img/upes-students/bg-2.png) no-repeat;
    margin-top: -50px;
    background-size: 40%;
    background-position: 3% 90%; }
    .UpesStudent .section-5 .student-affairs .header-top .link-toggle {
      margin-top: -30px;
      font-size: 1vw;
      margin-right: 8vw;
      float: right; }
    .UpesStudent .section-5 .accord-wrapper {
      padding-top: 40px; }
    .UpesStudent .section-5 .contact-wrapper {
      padding-bottom: 30px; }
      .UpesStudent .section-5 .contact-wrapper h2 {
        font-size: 150px;
        font-size: 7.8vw;
        font-weight: 900;
        color: #DDDDDD;
        margin: 60px 0px; }
      .UpesStudent .section-5 .contact-wrapper .header {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 1.25vw; }
      .UpesStudent .section-5 .contact-wrapper .details p {
        margin: 10px 0px;
        font-size: 1.25vw;
        font-weight: 600; }
        .UpesStudent .section-5 .contact-wrapper .details p a {
          color: #000000; }
      .UpesStudent .section-5 .contact-wrapper .details a {
        color: #000000; }
  .UpesStudent .section-6 {
    background-color: #F7F7F7;
    padding-bottom: 60px;
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat; }
    .UpesStudent .section-6 .downloadable-content .accordion-title {
      padding: 30px 0px;
      padding-top: 60px; }
      .UpesStudent .section-6 .downloadable-content .accordion-title h3 {
        font-weight: 600; }
  .UpesStudent .downloable-accord .CardHeaderPanel a:after {
    content: '' !important;
    background-image: url("../src/img/upes-students/download.png") !important;
    background-repeat: no-repeat !important;
    transform: inherit !important;
    padding: 1vw !important;
    background-position: center; }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  /**Common***/
  .UpesStudent .wrapper-75 {
    width: calc(100% - 30px); }
  .UpesStudent .plr100vw {
    padding: 0; }
  .UpesStudent .Orange-Strip {
    width: 80%;
    height: 23vw; }
    .UpesStudent .Orange-Strip .titleh3 {
      font-size: 32px;
      font-weight: 900;
      padding-left: 20px; }
  .UpesStudent .titleh3 {
    font-size: 32px;
    font-weight: 900;
    padding-left: 20px; }
  .UpesStudent .BannerSection .DownArrow {
    text-align: right; }
    .UpesStudent .BannerSection .DownArrow a .downArrowIcon {
      width: 30px; }
  .UpesStudent .BannerSection .BannerStripContext {
    left: 0px; }
    .UpesStudent .BannerSection .BannerStripContext .fontExBold {
      top: 10vw;
      left: 15px; }
      .UpesStudent .BannerSection .BannerStripContext .fontExBold h1 {
        font-size: 8vw; }
    .UpesStudent .BannerSection .BannerStripContext .StripContent {
      padding-top: 28vw;
      padding-right: 0;
      overflow: hidden; }
      .UpesStudent .BannerSection .BannerStripContext .StripContent p {
        font-size: 12px; }
  .UpesStudent .BannerSection .BannerImg img {
    width: 100%; }
  .UpesStudent .section-1 {
    padding-bottom: 150px; }
    .UpesStudent .section-1 .highlights {
      padding-top: 60px; }
      .UpesStudent .section-1 .highlights ul {
        width: calc(100% - 15px); }
        .UpesStudent .section-1 .highlights ul li {
          font-size: 12px;
          margin-bottom: 10px;
          padding-left: 2vw; }
          .UpesStudent .section-1 .highlights ul li:before {
            padding: 0 .5vw;
            top: 3.3vw;
            left: -0.7vw; }
    .UpesStudent .section-1 .login-wrapper {
      padding-top: 30px; }
      .UpesStudent .section-1 .login-wrapper .titleh3 {
        padding-left: 0px; }
  .UpesStudent .breadcrumbPanel {
    bottom: 140px;
    z-index: 99;
    left: 10px; }
    .UpesStudent .breadcrumbPanel .breadcrumb.breadcrumbCustom li {
      font-size: 8px; }
  .UpesStudent .accord-wrapper {
    padding-top: 0px; }
    .UpesStudent .accord-wrapper .AccordionStyle {
      margin-top: 15px; }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a {
      font-size: 12px;
      font-weight: 500;
      padding: 10px 15px; }
      .UpesStudent .accord-wrapper .CardHeaderPanel > a:after {
        font-size: 14px;
        right: 15px;
        top: 8px; }
    .UpesStudent .accord-wrapper .cardContext p {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5em; }
    .UpesStudent .accord-wrapper .block {
      padding-top: 30px; }
    .UpesStudent .accord-wrapper .title {
      padding: 15px 0px;
      padding-bottom: 0px;
      color: #00448B; }
      .UpesStudent .accord-wrapper .title h3 {
        font-size: 16px;
        font-weight: 600; }
    .UpesStudent .accord-wrapper .position {
      font-size: 14px; }
    .UpesStudent .accord-wrapper .person {
      font-size: 16px;
      font-weight: 600; }
    .UpesStudent .accord-wrapper .designation {
      font-size: 12px;
      font-weight: 600;
      color: #00448B;
      padding-top: 15px; }
  .UpesStudent .upcoming-events .Orange-Strip {
    margin-left: 15px; }
    .UpesStudent .upcoming-events .Orange-Strip h3 {
      padding-left: 10px;
      margin-left: 0px;
      margin: 0 -12vw 0 4.5vw !important;
      font-size: 8vw; }
  .UpesStudent .upcoming-events .blocks {
    padding: 0 0; }
    .UpesStudent .upcoming-events .blocks .block-wrapper {
      margin-bottom: 15px; }
      .UpesStudent .upcoming-events .blocks .block-wrapper .block1 {
        min-height: 20vw; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left {
          min-height: 4vw; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .col-4 {
            padding: 5px; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details {
            padding-top: 5px; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details .title {
              font-size: 14px; }
              .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details .title p {
                width: 50vw; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details .date {
              font-size: 12px; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-right {
          min-height: 4vw;
          display: flex;
          align-items: flex-end; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-right .link-reg {
            margin-bottom: -5px; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-right .link-reg a {
              font-size: 10px;
              line-height: 0; }
  .UpesStudent .section-4 .accord-wrapper .accordion-title {
    padding-top: 30px; }
    .UpesStudent .section-4 .accord-wrapper .accordion-title .titleh3 {
      font-size: 22px;
      padding-bottom: 15px;
      padding-left: 0; }
    .UpesStudent .section-4 .accord-wrapper .accordion-title .link-toggle {
      margin-top: 0px;
      font-size: 10px; }
  .UpesStudent .section-4 .accord-wrapper .AccordionStyle {
    margin-top: 0px; }
  .UpesStudent .section-4 .inter-intern {
    margin-top: 50px;
    padding-bottom: 100px; }
    .UpesStudent .section-4 .inter-intern .yellow-bg {
      height: 120px; }
      .UpesStudent .section-4 .inter-intern .yellow-bg .titleh3 {
        padding-top: 15px;
        padding-left: 0;
        font-size: 28px; }
    .UpesStudent .section-4 .inter-intern .students-slide {
      margin-top: 0px;
      padding: 15px;
      margin-top: 30px; }
      .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .photo {
        margin-top: -60px;
        width: 40%; }
      .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile {
        padding-left: 15px; }
        .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
          font-size: 14px;
          font-weight: 600;
          height: inherit; }
        .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
          font-size: 12px;
          padding-bottom: 10px;
          height: inherit; }
      .UpesStudent .section-4 .inter-intern .students-slide .student .details p {
        font-size: 12px;
        height: 90px !important; }
      .UpesStudent .section-4 .inter-intern .students-slide .slick-dots {
        display: none !important; }
  .UpesStudent .section-5 {
    margin-top: -30px; }
    .UpesStudent .section-5 .Orange-Strip {
      justify-content: flex-start !important;
      align-items: center !important;
      padding-left: 15px;
      margin-left: 15px; }
      .UpesStudent .section-5 .Orange-Strip .titleh3 {
        padding-left: 0px;
        font-size: 7vw;
        margin-left: 0px; }
    .UpesStudent .section-5 .link-toggle {
      display: none; }
    .UpesStudent .section-5 .accord-wrapper {
      padding-top: 30px; }
    .UpesStudent .section-5 .contact-wrapper h2 {
      font-size: 18vw;
      margin: 30px 0;
      margin-bottom: 15px; }
    .UpesStudent .section-5 .contact-wrapper .header {
      font-size: 12px; }
    .UpesStudent .section-5 .contact-wrapper .details p {
      font-size: 12px; }
  .UpesStudent .section-6 .downloadable-content .accordion-title {
    padding-top: 30px; }
    .UpesStudent .section-6 .downloadable-content .accordion-title h3 {
      padding-left: 0px;
      font-size: 8vw; }
  .UpesStudent .section-6 .downloadable-content .CardHeaderPanel > a:after {
    font-size: 14px;
    right: 15px;
    top: 12px;
    padding: 6px !important;
    height: 5px;
    width: 5px;
    background-size: cover; } }

@media (min-width: 768px) and (max-width: 991px) {
  .UpesStudent .Orange-Strip {
    height: 12vw; }
  .UpesStudent .wrapper-75 {
    width: 80vw; }
  .UpesStudent .plr100vw {
    padding: 0 20px; }
  .UpesStudent .BannerStripContext {
    padding: 0vh 0px 0vh 40px; }
    .UpesStudent .BannerStripContext .StripContent p {
      font-size: 16px; }
    .UpesStudent .BannerStripContext .fontExBold {
      left: 40px; }
  .UpesStudent .section-1 .highlights ul li {
    font-size: 14px; }
  .UpesStudent .accord-wrapper {
    padding-top: 0px; }
    .UpesStudent .accord-wrapper .AccordionStyle {
      margin-top: 15px; }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a {
      font-size: 12px;
      font-weight: 500;
      padding: 10px 15px; }
      .UpesStudent .accord-wrapper .CardHeaderPanel > a:after {
        font-size: 14px;
        right: 15px;
        top: 8px; }
    .UpesStudent .accord-wrapper .cardContext p {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5em; }
    .UpesStudent .accord-wrapper .block {
      padding-top: 30px; }
    .UpesStudent .accord-wrapper .title {
      padding: 15px 0px;
      padding-bottom: 0px;
      color: #00448B; }
      .UpesStudent .accord-wrapper .title h3 {
        font-size: 16px;
        font-weight: 600; }
    .UpesStudent .accord-wrapper .position {
      font-size: 14px; }
    .UpesStudent .accord-wrapper .person {
      font-size: 16px;
      font-weight: 600; }
    .UpesStudent .accord-wrapper .designation {
      font-size: 12px;
      font-weight: 600;
      color: #00448B;
      padding-top: 15px; }
  .UpesStudent .upcoming-events .blocks {
    padding: 30px 0px; }
  .UpesStudent .section-4 .inter-intern .students-slide {
    margin-top: -20px; }
    .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
      font-size: 1.5vw; }
    .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
      font-size: 1.2vw; }
    .UpesStudent .section-4 .inter-intern .students-slide .student .details p {
      font-size: 1.5vw; }
  .UpesStudent .section-5 .Orange-Strip {
    justify-content: flex-start !important;
    align-items: center !important;
    padding-left: 15px; }
    .UpesStudent .section-5 .Orange-Strip .titleh3 {
      padding-left: 0px;
      margin: 0px -3vw 0 4.5vw !important;
      font-size: 3.5vw; }
  .UpesStudent .section-5 .link-toggle {
    display: none; }
  .UpesStudent .section-5 .accord-wrapper {
    padding-top: 30px; }
  .UpesStudent .section-5 .contact-wrapper h2 {
    font-size: 12vw;
    margin: 30px 0;
    margin-bottom: 15px; }
  .UpesStudent .section-5 .contact-wrapper .header {
    font-size: 12px; }
  .UpesStudent .section-5 .contact-wrapper .details p {
    font-size: 12px; }
  .UpesStudent .section-6 .downloadable-content .CardHeaderPanel > a:after {
    font-size: 14px;
    right: 15px;
    top: 12px;
    padding: 8px !important;
    height: 8px;
    width: 8px;
    background-size: cover; } }

.AccordionStyle .card.link a:after {
  transform: unset !important; }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  .StyleForSlickArrows .slick-next {
    right: 7px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important; }
  .StyleForSlickArrows .slick-prev {
    left: 7px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
    display: none; }
  /**Common***/
  .BannerSection .BannerStripContext {
    overflow: hidden;
    width: 80%;
    bottom: -70px;
    padding: 15px;
    height: 240px; }
    .BannerSection .BannerStripContext p {
      font-size: 16px; } }
