﻿@import "_variable";
@import "_mixin";

@media (min-width:1441px) and (max-width:1599px) {

}

@media (min-width:1366px) and (max-width:1440px) {

}

@media (min-width:1200px) and (max-width:1365px) {
    .FooterPanel {
        .footMenuList a {
            font-size: 1.3vw;
        }

        .footMenus p {
            font-size: 1.5vw;
        }

        .SocialIcon p {
            font-size: 1vw;
        }

        .social_icon_menus a {
            width: 2vw;
        }

        .foot_Btm {
            font-size: 1vw;
        }
    }
}

@media (min-width:1025px) and (max-width:1199px) {

}

@media (min-width:992px) and (max-width:1199px) {
    .FooterPanel {
        .plr100 {
            padding: 0 50px;
        }

        .footMenuList a {
            font-size: 0.95vw;
        }

        .footMenus p {
            font-size: 1.2vw;
        }

        .foot_Btm {
            font-size: 1.1vw;
        }

        .social_icon_menus a {
            width: 2.2vw;
        }

        .SocialIcon p {
            font-size: 1.1vw;
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    footer {
        .footMenus p {
            font-size: 1.3vw;
        }

        .footMenuList a {
            font-size: 1.05vw;
        }

        .SocialIcon p {
            font-size: 1.3vw;
        }

        .social_icon_menus a {
            width: 3vw;
        }


        .foot_Btm {
            font-size: 1.3vw;
        }
    }
}

@media (max-width:767px) {
/**Footer*/
    footer {
        .foot_Btm_Height {
            height: auto;
        }

        .foot_Btm_Height {
            padding: 7px 10px;
            text-align: center;
        }

        .foot_Btm {
            font-size: 10px;
        }

        .col-6.copyRights {
            flex: 100%;
            max-width: 100%;
        }

        .col-6.SocialIcon {
            order: -1;
            flex: 0 0 100%;
            max-width: 100%;
            justify-content: center !important;
            padding: 0 0 10px 0;
        }

        .SocialIcon p {
            font-size: 10px;
        }

        .col-sm-2.footMenus {
            flex: 33.33%;
            max-width: 33.33%;
        }

        .footMenuList a {
            font-size: 8px;
            font-weight: 500;
        }

        .footTopRow {
            padding: 4vh 0 0 0;
            margin: 0px;
        }

        .footMenus {
            padding: 0 15px;
        }

        .social_icon_menus a img {
            width: 20px;
        }

        .footMenus p {
            font-size: 10px;
            word-break: break-word;
        }

        .social_icon_menus a {
            width: auto;
        }

        .footMenuList {
            padding: 10px 0 20px 0;
        }

        .hideOnMobile {
            display: none;
        }
    }
}