﻿@import "_variable";
@import "_mixin";

@media (min-width:1441px) and (max-width:1599px) {

}

@media (min-width:1366px) and (max-width:1440px) {

}

@media (min-width:1200px) and (max-width:1365px) {
 
}

@media (min-width:1025px) and (max-width:1199px) {

}

@media (min-width:992px) and (max-width:1199px) {
    .plr100 {
        padding: 0 50px;
    }
    header {
        .HeaderPanelLeft a {
            padding: 0 0 0 30px;
        }

        .BtnStyle {
            width: 14vw;
            font-size: 1vw;
        }

        .HeaderPanelRight {
            width: 18%;
        }

        .HeaderPanelMenu ul li {
            padding: 0 1.6vw;
        }

        .HeaderPanelMenu ul li:first-child a:after {
            width: 100%;
        }

        .HeaderPanelMenu ul li a {
            font-size: 1vw;
        }

        .HeaderPanelLeft {
            width: 18%;
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    header {
        .collapse:not(.show) {
            display: block !important;
        }

        .HeaderPanelMenu {
            width: 50%;
            flex-basis: 50%;
        }

        .HeaderPanelMenu ul li a {
            font-size: 1.3vw;
        }

        .HeaderPanelMenu ul li {
            padding: 0 1vw;
        }

        .HeaderPanelLeft {
            width: 12%;
        }

        .HeaderPanelLeft a {
            padding: 0;
            margin: 0;
        }

        .HeaderPanelMenu ul {
            flex-direction: inherit;
        }

        button.navbar-toggler.collapsed {
            display: none !important;
        }

        .HeaderPanelMenu ul li:first-child a {
            width: auto;
        }

        .HeaderPanelMenu ul li:first-child a:after {
            width: 100%;
        }

        .Icon_vw {
            width: 25px;
        }

        .BtnStyle {
            width: 13vw;
            font-size: 1vw;
        }

        .HeaderPanelRight {
            width: 18%;
        }
    }

}

@media (max-width:767px) {
/**Header*/
    header {
        .HeaderRow {
            height: 70px;
            align-items: flex-end !important;
            padding: 0 15px 10px 10px;
        }

        .HeaderPanelLeft a {
            padding: 0;
        }

        .HeaderPanelLeft {
            width: 28%;
        }

        .HeaderPanelRight {
            width: 72%;
            justify-content: flex-end;
            margin: 0 0 9px 0;
        }

        .Icon_vw {
            width: 30px;
        }

        .logo_vw {
            width: 85px;
        }

        .navbar-collapse {
            position: absolute;
            width: 100%;
            left: 0px;
            background: #fff;
            top: 100%;
            margin: 0;
            border-top: 1px dashed#ccc;
            box-shadow: inherit;
            z-index: 9;
        }

        .HeaderPanelMenu ul li:first-child a {
            height: auto;
            width: auto;
            font-weight: 600;
        }

        .HeaderPanelMenu ul li:first-child {
            padding: 10px 0;
        }

        .HeaderPanelMenu ul li:first-child a:after {
            width: 40%;
            height: 3px;
            bottom: -5px;
        }

        .HeaderPanelMenu ul li {
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }

        .HeaderPanelMenu ul {
            padding: 20px 0;
        }

        .HeaderPanelMenu ul li a {
            font-size: 12px;
            font-weight: 600;
        }

        .navbar-toggler {
            border: none;
            background: #fafafa !important;
            float: right;
            padding: 0px !important;
            border: 1px solid #333 !important;
            border-radius: 100%;
            width: 30px;
            height: 30px;
        }

        .ToogleBtn {
            position: relative;
            margin: 0 0 0 20px;
        }

        .ToogleBtn:before {
            content: '';
            background: #808080;
            width: 1.1px;
            height: 25px;
            display: block;
            position: absolute;
            left: -10px;
            top: 2px;
        }

        .navbar-toggler:focus {
            outline: none;
            background: transparent !important;
        }

        .navbar-toggler .icon-bar {
            background-color: #333;
            font-weight: 500;
            transform: rotate(0deg) translate(0px, 0px);
            transition: ease all .2s;
        }

        .navbar-toggler .icon-bar {
            display: block;
            width: 15px;
            height: 2px;
            margin: 0 auto;
            border-radius: 1px;
        }

        .navbar-toggler .icon-bar + .icon-bar {
            margin-top: 4px;
        }

        .icon-bar:nth-child(2) {
            width: 15px;
            transition: ease all .2s;
        }

        .navbar-toggler:hover > .icon-bar:nth-child(2) {
            width: 15px;
            transition: ease all .2s;
        }

        .navbar-toggler:active > .icon-bar:nth-child(2) {
            width: 15px;
            transition: ease all .2s;
        }

        .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 4px);
            transition: ease all .2s;
        }

        .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
            opacity: 0;
            transition: ease all .2s;
        }

        .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
            transform: rotate(-45deg) translate(4px, -4px);
            transition: ease all .2s;
        }

        .BtnIcon img {
            width: 12px;
        }

        .BtnStyle {
            width: 60px;
            height: 30px;
            font-size: 9px;
            margin: 0 4px 0 0;
            padding: 5px 5px !important;
            font-weight: 500;
        }

        .ShowOnMobile {
            display: flex !important;
        }

        .ForApplicant span {
            display: none;
        }
    }
}