﻿@import "_variable";
@import "_mixin";
@media (min-width:1600px) and (max-width:1800px) {
}
@media (min-width:1441px) and (max-width:1599px) {
    .ParentPanel {
        .st_inn h3 {
            padding: 20px 0 15px 0;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 35px;
            height: 35px;
        }

        .coursesfor {
            height: 21.5vh;
        }

        .clblk_Top h2 {
            line-height: 3.5vh;
        }

        .course_iconStyle {
            min-height: 15vh;
        }

        .courseTitle {
            min-height: 11vh;
        }
    }
}

@media (min-width:1366px) and (max-width:1440px) {
    .ParentPanel {
        .st_inn h3 {
            padding: 20px 0 15px 0;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 35px;
            height: 35px;
        }

        .coursesfor {
            height: 21.5vh;
        }

        .courseTitle {
            min-height: 11vh;
        }

        .clblk_Top h2 {
            line-height: 3vh;
        }
    }
}

@media (min-width:1200px) and (max-width:1365px) {
    .ParentPanel {
        .clblk_Top {
            padding: 2vh 25px 2vh 20px;
        }

        .coursesfor {
            height: 20vh;
        }

        .CheckBlk {
            padding: 3.5vh 20px;
        }

        .courseTitle {
            min-height: 12vh;
        }

        .clblk_Top h2 {
            line-height: 20px;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            height: 6vh;
        }

        .st_inn h3 {
            padding: 20px 0 15px 0;
        }
    }
}

@media (min-width:1025px) and (max-width:1199px) {

}

@media (min-width:992px) and (max-width:1199px) {
    .plr100 {
        padding: 0 50px;
    }

    .paraLittle {
        font-size: 1.1vw;
    }

    .titleh4 {
        font-size: 1.6vw;
    }

    .paraSmall {
        font-size: 1.5vw;
    }
    .titleh4 {
        font-size: 1.8vw;
    }
    .ParentPanel {
        .BannerImg img {
            width: 77vw;
        }

        .BannerStripContext {
            padding: 4.5vh 75px 4.5vh 45px;
        }

        .BannerStripContext p {
            font-size: 2.5vmax;
        }

        .breadcrumbCustom li {
            font-size: 0.9vw;
        }
        /***Campus*/
        .GrayTitle {
            color: #EEEEEE;
            font-size: 7.2vw;
            position: relative;
            top: 0vh;
        }

        .link_list a {
            font-size: 1.2vw;
        }

        .cmpinn p {
            font-size: 1.2vw;
        }
        /**Student Living*/
        .ParentPanel .SLContext p {
            font-size: 1.3vw;
        }

        .StudentLivingPanel .StyleForSlickArrows .slick-prev, .StudentLivingPanel .StyleForSlickArrows .slick-next {
            bottom: -60px;
            top:auto;
        }

        .StudentLivingPanel .StyleForSlickArrows .slick-next {
            right: auto;
            left: 50px;
        }

        .AchieveContextInn {
            padding: 1.7vh 2vw 1.7vh 2vw;
        }

        .ParentPanel .SLContext p {
            min-height: 14vh;
            font-size: 1.4vw;
        }

        .AchieveContextInn p {
            font-size: 1.4vw;
        }

        .knowMoreStyle {
            font-size: 1.1vw;
        }
        /**STories*/
        .StoriesContext p {
            font-size: 1.3vw;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }

        .CourseFind a {
            font-size: 1vw;
        }

        .StoriesContext {
            width: 22.5vw;
        }

        .StoriesContext a {
            font-size: 1.2vw;
        }

        .StoriesContext h2 {
            font-size: 1.7vw;
        }

        .StoriesContext h3 {
            font-size: 1.4vw;
        }

        .guestPanelInn.StyleForSlickArrows .slick-prev {
            left: 45%;
        }

        .guestPanelInn.StyleForSlickArrows .slick-next {
            right: auto;
            left: 50%;
        }

        .guestPanelInn.StyleForSlickArrows .slick-prev, .guestPanelInn.StyleForSlickArrows .slick-next {
            top: auto;
            bottom: -50px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: 45%;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: auto;
            left: 50%;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            top: auto;
            bottom: 25px;
        }

        .FacultyStrip h2 {
            font-size: 4vw;
        }

        .st_inn p {
            font-size: 1.3vw;
        }
        /**Courses**/
        .clblk_Top {
            padding: 2vh 20px 2vh 20px;
        }

        .coursesfor {
            height: 22.5vh;
        }

        .CheckBlk {
            padding: 3.5vh 15px;
        }

        .CourseFind a {
            font-size: 1vw;
        }

        .courseTitle {
            min-height: 11vh;
        }
        /***Student Living*/
        .SLContext p {
            padding: 3vh 20px 3vh 20px;
            font-size: 1.3vw;
        }

        .st_inn h3 {
            padding: 20px 0 15px 0;
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    .plr100 {
        padding: 0 20px;
    }
    .plr20 {
        padding: 0 10px;
    }
    .paraSmall {
        font-size: 1.8vw;
    }
    .titleMedium {
        font-size: 3vw;
    }
    .paraLittle {
        font-size: 1.2vw;
    }
    .titleh4 {
        font-size: 2.2vw;
    }
    .ParentPanel {
        /***Banner****/
        .BannerImg img {
            width: 85vw;
        }

        .BannerStripContext {
            padding: 4.5vh 15px 4.5vh 15px
        }

        .breadcrumb.breadcrumbCustom li {
            font-size: 1.5vw;
        }

        .BannerStripContext p {
            font-size: 2.5vmax;
        }
        /***Campus***/
        .GrayTitle {
            top: 1vh;
        }

        .CampusInner {
            padding: 0px 0 35px 0;
        }

        .cmpinn p {
            width: 100%;
            font-size: 1.5vw;
        }
        /**Student Living**/
        .st_inn p {
            font-size: 1.5vw;
        }

        .SLContext p {
            padding: 3vh 20px 3vh 20px;
            font-size: 1.5vw;
        }

        .link_list a {
            font-size: 1.4vw;
        }
        /**Healthy**/
        .healthImg img {
            width: 50px;
        }

        .PosiitonHealthyPanel {
            top: 50px;
        }
        /**Student Achievements*/
        .AchieveInner {
            padding: 20vh 0 3vh 0;
        }

        .AchieveContextInn p {
            font-size: 1.8vw;
        }

        .AchieveTitleBlock p {
            position: relative;
            top: 5px;
        }

        .knowMoreStyle {
            font-size: 1.5vw;
        }

        .AchieveContextInn {
            background: #FFCA08;
            padding: 1.7vh 2vw 1.7vh 2vw;
        }
        /**Student Stories**/
        .StoryTitleStrip {
            width: 30vw;
        }

        .StoryTitleStrip p {
            top: -18%;
            font-size: 3.5vw;
        }

        .StoriesContext {
            width: 24vw;
        }

        .StoriesContext h2 {
            font-size: 2vw;
        }

        .StoriesContext h3 {
            font-size: 1.5vw;
        }

        .StoriesContext p {
            font-size: 1.5vw;
        }

        .StoriesContext a {
            font-size: 1.4vw;
        }
        /**Courses**/
        .TextOverlap {
            left: -6%;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }

        .clblk_Top {
            padding: 2vh 20px 2vh 20px;
        }

        .CheckBlk {
            padding: 3.5vh 20px;
        }

        .CourseFind a {
            font-size: 1.5vw;
        }

        .Visit_list a {
            width: auto;
            padding: 1.5vh 10px !important;
        }

        .ApplyNow a {
            width: 16vw;
        }
        /***Faculty*/
        .FacultyStrip h2 {
            font-size: 5.2vw;
        }

        .col-sm-4.fac_Inn {
            padding: 0 20px;
        }

        .fac_InnerRow {
            margin: 0 -20px;
        }

        .Num_Title {
            font-size: 1.8vw;
        }
        /****Events***/
        .Event_Inner .link_list {
            top: 2%;
        }

        .eventContext p {
            font-size: 1.8vw;
        }
        /***Industry**/
        .industryStrip h2 {
            font-size: 3.5vw;
        }

        .IndContext h4 {
            padding: 0 0 0 2vw;
        }

        .industry_blockList {
            margin: 0 -20px;
            padding: 10vh 0;
        }

        .Ind_inn {
            padding: 0 20px;
        }
        /***Guest**/
        .guestContext p {
            font-size: 1.8vw;
            padding: 4vh 2vw 4vh 2vw;
        }
    }
}

@media (max-width:767px) {
    /**Common***/
    .plr20 {
        padding: 0px;
    }
    .Yellowstripbgfull:before{
        display:none;
    }
    .plr100 {
        padding: 0 0;
    }
    .titleMedium {
        font-size: 26px;
    }
    .hideOnMobile{
        display:none;
    }
    .ShowOnMobile {
        display: block !important;
    }
    /**Common***/
    .ParentPanel {
        .mlr {
            margin: 0;
        }

        .paraLittle {
            font-size: 10px;
        }

        .paraSmall {
            font-size: 12px;
        }

        .titleh3 {
            font-size: 30px;
        }

        .titleh4 {
            font-size: 16px;
        }

        .CoursesList .slick-list.draggable {
            overflow: hidden !important;
        }

        ul.slick-dots {
            display: none !important;
        }

        .row {
            margin: 0px !important;
        }

        .ind_CompanyList {
            margin: 0 0px;
        }
        /***Banner****/
        .BannerImg {
            width: 100%;
            float: none;
        }

        .BannerImg img {
            width: inherit;
        }

        .banner {
            z-index: 1;
        }

        .BannerStripContext p {
            font-size: 22px;
        }

        .BannerStripContext {
            width: 80%;
            bottom: -70px;
            padding: 50px 20px;
            height: 240px;
        }

        .downArrowIcon {
            width: 30px;
        }

        .DownArrow {
            bottom: -60px;
            text-align: center;
            left: auto;
            right: 0;
            width: 20%;
        }

        .breadcrumbPanel {
            position: absolute;
            left: 20px;
            bottom: 130px;
        }

        .breadcrumbCustom li {
            font-size: 13px;
            font-weight: 500;
        }
        /**Campus***/
        .CampusBg img {
            width: 100vw;
        }

        .col-sm-4.cmpinn {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .CampusBg {
            position: absolute;
            right: 0px;
            top: -60px;
        }

        .cmpinn p {
            width: 100%;
            font-size: 12px;
            padding: 20px 0;
        }

        .CampusInner {
            padding: 0px 0 10px 0;
        }

        .plr7 {
            padding: 0 15px;
        }

        .GrayTitle {
            font-size: 55px;
            top: 0vh;
            padding: 0 15px;
        }
        /****Student Living***/
        .st_inn {
            width: 80%;
            padding: 0 15px 55px 15px;
            height: auto;
        }

        .st_inn h3 {
            font-size: 35px;
            padding: 20px 0 20px 0;
        }

        .StudentLivingPanel {
            background: $colorLightWhite;
        }

        .SLContext {
            padding: 0 26vw 0px 0;
            margin: -3.5vh 0 0 0;
        }

        .SLCarouselPanel {
            margin: -30px 0 0 0 !important;
        }

        .SLContext p {
            font-size: 14px;
            padding: 3vh 15px 3vh 15px;
        }

        .st_inn p {
            font-size: 11px;
            padding: 0 0 5px 0;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 10px;
        }

        .StyleForSlickArrows .slick-prev {
            left: auto;
            right: 22%;
        }

        .SLCarouselPanel .slick-list {
            padding: 0 15px;
        }

        .StudentLivingPanel .link_list {
            display: none;
        }

        .SLCarouselPanel .guestPanelStyle {
            padding: 0 15px 0 0;
        }

        .StyleForSlickArrows .slick-next {
            right: 12%;
        }
        /**Healthy Panel***/
        .PosiitonHealthyPanel {
            position: static;
            margin: 60px 0 0px 0;
        }

        .HealthyTitle {
            padding: 0 15px;
        }

        .healthImg img {
            width: 35px;
        }

        .healthbg {
            height: 80px;
            padding: 0 15px;
        }

        .col-sm-6.healthList {
            flex: 0 0 100%;
            width: 100%;
            margin: 0 0 20px 0;
        }

        .healthContext {
            padding: 0 0 0 20px;
        }

        .col-sm-6.healthList:last-child {
            order: -1;
        }

        .HealthyPanel {
            height: auto;
            margin: 0;
        }
        /***Guest**/
        .guestContext {
            padding: 0 20vw 0 0;
        }

        .guestContext p {
            font-size: 16px;
            padding: 4vh 15px 4vh 15px;
            height: 80px;
            display: table-cell;
            vertical-align: middle;
        }

        .guestPanelInn.StyleForSlickArrows .slick-prev {
            left: auto;
            right: 14%;
        }

        .GuestLecturePanel {
            padding: 5vh 0 5vh 0;
        }

        .guestPanelInn.StyleForSlickArrows .slick-next {
            right: 3%;
        }
        /***PArent Stories**/
        .ParentStoriesPanel {
            padding: 30px 15px 15px 15px;
        }

        .ParentStoriesBG {
            background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
            background-position: 0 -200px;
            background-size: cover;
        }

        .StoryTitleStrip {
            width: 280px;
            padding: 0 15px;
        }

        .storiesPannInn {
            padding: 30px 0 0 0;
        }

        .storiesPanStyle {
            padding: 0px !important;
        }

        .storiesPanStyle img {
            width: 230px;
        }

        .StoryTitleStrip p {
            font-size: 30px;
        }

        .StoryTitleStrip h2 {
            font-size: 50px;
        }

        .StoriesContext h3 {
            font-size: 14px;
            font-weight: 500;
        }

        .StoriesContext h2 {
            font-size: 18px;
        }

        .StoriesContext p {
            font-size: 12px;
        }

        .StoriesContext a {
            font-size: 11px;
        }

        .StoriesContext {
            height: 160px;
            left: 40%;
            width: 200px;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: 0px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 60px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: auto;
            right: 0;
            bottom: 105px;
        }
        /**Industry UPES*/
        .industryPanel {
            padding: 0px 15px 0 15px;
            margin: 70px 0 0 0;
        }

        .IndContext {
            width: 80%;
        }

        .industryStrip {
            height: 13vh;
        }

        .industryStrip h2 {
            font-size: 28px;
            margin: 0 -2vh 0 0;
        }

        .col-sm-4.Ind_inn {
            padding: 25px 25px;
        }

        .Numb_list {
            font-size: 40px;
            width: 60%;
        }

        .Num_Title {
            font-size: 14px;
            padding: 0;
            width: 40%;
        }

        .industry_blockList {
            padding: 0px;
        }

        .industryPanel .link_list {
            text-align: center;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev, .ind_CompanyList.StyleForSlickArrows .slick-next {
            bottom: -50px;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev {
            left: 40%;
            right: auto;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-next {
            right: 40%;
        }

        .ind_CompanyList {
            padding: 0 18px;
            margin: 0 0 50px 0;
        }

        .industryPanel .link_list a {
            font-size: 11px;
        }
        /**Events***/
        .fac_Row {
            height: auto;
        }

        .Event_Inner {
            padding: 40px 0 0 50px;
        }

        .eventContext {
            margin: -30px 0 0 0;
            padding: 0 0 0 45px;
        }

        .Event_Inner h3 {
            padding: 4.6vh 15px;
            position: absolute;
            left: -35px;
            -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            top: 25%;
        }

        .Event_Inner .link_list {
            position: absolute;
            right: 15px;
            top: auto;
            bottom: -60px;
            z-index: 9999;
        }

        .link_list a {
            font-size: 11px;
        }

        .eventContext p {
            font-size: 15px;
            padding: 5vh 15px 5vh 15px;
        }

        .EventCarousel.StyleForSlickArrows .slick-prev {
            left: -7%;
            right: auto;
        }

        .EventCarousel.StyleForSlickArrows .slick-prev, .EventCarousel.StyleForSlickArrows .slick-next {
            bottom: 27%;
            top: auto;
        }

        .EventCarousel.StyleForSlickArrows .slick-next {
            right: auto;
            left: -7%;
            bottom: 38%;
        }
        /**Faculty*/
        .fac_Row {
            padding: 20px 0px;
        }

        .fac_List {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .fac_List h4 {
            padding: 0 15px;
            width: 50%;
            font-size: 14px;
        }

        .FacultyStrip h2 {
            font-size: 28px;
            padding: 0 25px;
        }

        .FacultyStrip {
            height: 13vh;
            align-items: center !important;
        }

        .col-sm-4.fac_Inn:first-child {
            position: absolute;
            top: -90px;
            right: 0;
        }

        .fac_Inn .Num_Title {
            font-size: 14px;
            margin: 0;
            padding: 0 15px;
            width: 100%;
        }

        .col-sm-4.fac_Inn {
            padding: 0 15px;
            flex: 0 0 50%;
            max-width: 50%;
        }

        .fac_InnerRow {
            padding: 10px 0 0 0;
        }

        .FacultyStrip {
            width: 80%;
        }
        /**Courses**/
        .CoursesPanel {
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            margin: 0;
            background-size: cover;
            background-position: top;
        }

        .CoursesList {
            margin: 0;
            padding: 30px 15px;
        }

        .CoursesList .slick-list {
            padding: 0 15px;
        }

        .TextOverlap {
            position: relative;
            font-size: 55px;
            padding: 0 15px;
            height: auto;
            top: -15px;
            left: 0;
        }

        .crseTitle {
            padding: 0 15px;
            font-size: 20px;
            margin: -35px 0 0 0;
        }

        .applyCourses {
            background: #f7f7f7;
        }

        .courseIcon {
            width: 45px;
        }

        .CLK_blk {
            padding: 0 0 0 15px;
        }

        .coursesfor a {
            position: static;
            font-size: 10px;
        }

        .clblk_Top {
            display: flex;
        }

        .course_iconStyle {
            min-height: inherit;
            width: 25%;
        }

        .clblk_Top {
            border-bottom: none;
            padding: 2vh 30px 2vh 20px
        }

        .CheckBlk {
            padding: 3.5vh 80px;
        }

        .forApplication span {
            display: inline-block;
        }

        .CoursesList.StyleForSlickArrows .slick-prev, .CoursesList.StyleForSlickArrows .slick-next {
            bottom: -30px;
        }

        .CoursesList.StyleForSlickArrows .slick-prev {
            left: 40%;
            right: auto;
        }

        .CoursesList.StyleForSlickArrows .slick-next {
            right: auto;
            left: 50%;
        }

        .coursesfor {
            height: 100px;
        }

        .Visit_list a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 11px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .Visit_list {
            margin: 0 0 10px 0;
        }

        .ApplyNow a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 11px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .applyCourses .d-flex {
            display: block !important;
            text-align: center;
        }
        /***Achievements***/
        .AchieveInner {
            padding: 45px 0 0 0;
            z-index: 99;
        }

        .StudentLogoBanner {
            background: #f7f7f7;
        }

        .AchieveTitleBlock {
            padding: 0 15px;
        }

        .AchieveContext {
            padding: 0 0 0 60px;
        }

        .AchieveContextInn {
            padding: 20px 20px;
        }

        .studenAchievPanel .EventPanelStyle img {
            width: 280px;
        }

        .AchieveContextInn p {
            font-size: 16px;
        }

        .knowMoreStyle {
            font-size: 11px;
        }

        .studenAchievPanel .StyleForSlickArrows .slick-prev, .studenAchievPanel .StyleForSlickArrows .slick-next {
            display: none !important;
        }

        .link_list.ShowOnMobile {
            padding: 10px 15px;
        }

        .AchieveTitleBlock .link_list {
            display: none;
        }

        .StudentStoriesPanel {
            margin: -190px 0 0 0;
            padding: 0px;
        }

        .Studentstories {
            background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
            background-position: 0 -200px;
            background-size: cover;
            padding: 220px 15px 0 15px;
        }

        .LogoBanner:before {
            display: none;
        }
    }
}
