﻿@import "_variable";
@import "_mixin";

@media (min-width:1441px) and (max-width:1599px) {

}

@media (min-width:1366px) and (max-width:1440px) {

}

@media (min-width:1200px) and (max-width:1365px) {
.showcase {
    .dateText {
        font-size: 1.1vw;
    }
}
}

@media (min-width:1025px) and (max-width:1199px) {

}

@media (min-width:992px) and (max-width:1199px) {
    .showcase {
        .plr100 {
            padding: 0 50px;
        }

        .dateText {
            font-size: 1.1vw;
        }

        .AppDate p {
            font-size: 1.7vw;
        }

        .Visit_list a {
            padding: 1.6vh 0 !important;
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    .showcase {
        .dateText {
            font-size: 1.4vw;
        }

        .AppDate p {
            font-size: 1.8vw;
        }

        .ApplyNow a {
            font-size: 1.5vw;
        }

        .ApplyNow a {
            font-size: 1.6vw;
            width: 16vw;
        }

        .Visit_list a {
            padding: 1.8vh 0 !important;
            width: 25vw;
            font-size: 1.3vw;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
        }
    }
    }

@media (max-width:767px) {
/**Showcase*/
    .showcase {
        .show_caseBtm {
            padding: 40px 15px 40px 15px;
            text-align: center;
        }

        .shcaseBtmRow .col-sm-2 {
            padding: 30px 0 0 0;
        }

        .dateText span {
            padding: 6px 0 0 0;
        }

        .Visit_list {
            margin: 20px 0 0 0;
        }

        .shcaseBtmRow {
            padding: 0px;
        }

        .ApplyNow a {
            font-size: 12px;
            height: 35px;
            width: 100%;
            margin: 10px 0 0 0;
            padding: 9px 12px;
        }

        .Visit_list a {
            width: 100%;
            height: 35px;
            font-size: 12px;
            margin: 0 0px 10px 0;
            padding: 9px 12px;
        }

        .shcaseBtmRow .col-sm-2 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .col-sm-3.AppDate {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .col-sm-9.sh_showcaseRight {
            display: block !important;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .shcaseRow {
            width: 220px;
            margin: 0 auto;
        }

        .show_caseTop {
            text-align: center;
        }

        .takeStep p {
            font-size: 36px;
        }

        .dateText {
            font-size: 16px;
        }

        .AppDate p {
            font-size: 20px;
        }

        .col-sm-3.takeStep {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}