﻿@import "_variable";
@import "_mixin";
/**Footer***/
footer {
    .FooterPanel {
        color: $colorWhite;
    }

    .foot_Btm {
        background: $colorLightGray;
        color: $colorWhite;
        font-size: $fontsize13;
    }

    .SocialIcon p {
        font-size: $fontsize13;
        padding: 0 15px 0 0;
    }

    .foot_Btm_Height {
        height: 10vh;
    }

    .foot_Top_Height {
        height: 200px;
    }

    .foot_Top {
        background: $colorZam;
    }

    .footMenuList {
        padding: 10px 0 0 0;
    }

    .footTopRow {
        padding: 2vh 0;
    }

    .footMenuList a {
        display: block;
        color: $colorTriplet;
        font-size: $fontsize12;
        text-transform: uppercase;
        font-weight: 500;
        margin: 5px 0;
    }

    .footMenus p {
        text-transform: uppercase;
        font-size: $fontsize14;
    }

    .social_icon_menus a {
        display: inline-block;
        width: 1.8vw;
        margin: 0 0 0 4px;
    }

    .footTopRow {
        margin: 0 -3px;
    }

    .footMenus {
        padding: 0 3px;
    }
}
/*Media Querry*/
@import "_FooterResponsive";