﻿@import "_variable";
@import "_mixin";
/**Header***/
header {
    .btn.btn-primary {
        border: navajowhite;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .HeaderPanel {
        padding: 0;
        background: inherit !important;
    }

    .HeaderRow {
        height: 13vh;
    }

    .logo_vw {
        width: 9vw;
    }

    .HeaderPanelLeft a {
        padding: 0 0 0 80px;
        margin: 0;
    }

    .HeaderPanelLeft {
        width: 25%;
    }

    .HeaderPanelRight {
        width: 14%;
    }

    .Icon_vw {
        width: 2.2vw;
    }

    .BtnStyle {
        background: $colorOrange;
        width: 11vw;
        height: 4.6vh;
        color: $colorBlack;
        text-transform: uppercase;
        padding: 0;
        font-size: $fontsize75_S;
        margin: 0 15px 0 0;
        @include transition(0.3s all ease-in)
    }

    .HeaderPanelMenu ul li {
        position: relative;
        padding: 0 2vw;
    }

    .HeaderPanelMenu ul {
        align-items: center;
    }

    .HeaderPanelMenu ul li:first-child {
        padding: 0 1vw;
    }

    .HeaderPanelMenu ul li:first-child:before {
        display: none;
    }

    .HeaderPanelMenu ul li:before {
        content: '';
        display: block;
        background: #E9E9E9;
        width: 0.1vw;
        height: 1vw;
        position: absolute;
        left: 0px;
        top: 2px;
    }

    .HeaderPanelMenu ul li.active a {
        color: $colorRed !important;
    }

    .HeaderPanelMenu ul li a {
        padding: 0 !important;
        color: $colorBlack !important;
        font-size: 0.8vw;
        text-transform: uppercase;
        @include transition(0.3s all ease-in-out);
    }

    .HeaderPanelMenu ul li a:hover, .HeaderPanelMenu ul li a:active {
        color: $colorRed !important;
    }

    .BtnStyle:hover {
        background: $colorOrange;
    }

    .HeaderPanelMenu {
        width: 61%;
    }

    .BtnIcon img {
        width: 1.5vw;
        margin: 0 4px 0 0;
    }

    .HeaderPanelMenu ul li:first-child a {
        color: $colorBlack !important;
        border-radius: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        height: 4.6vh;
        width: 11vw;
        justify-content: center;
        font-weight: 700;
        position: relative;
    }

    .HeaderPanelMenu ul li:first-child a:after {
        content: '';
        width: 80%;
        background: $colorBlue;
        height: 4px;
        display: block;
        position: absolute;
        bottom: 0;
    }

  .ShowOnMobile {
        display: none !important;
    }
}
/*Media Querry*/
@import "_HeaderResponsive";