﻿@import "_variable";
@import "_mixin";
body {font-family: 'Montserrat', sans-serif;font-weight:400;color:$colorBlack;overflow-x:hidden;}
.fontLight{font-weight:300;}
.fontRegular{font-weight:400;}
.fontMedium{font-weight:500;}
.fontBold{font-weight:700;}
.fontExBold{font-weight:800;}
.fontBlack{font-weight:900;}
h1, h2, h3, h4, h5, h6, p {margin:inherit;line-height:initial;font-size:inherit;}
a,a:hover{text-decoration:none;}
.br30{border-radius:30px;}
.btn.btn-primary{border:none;padding:0}
.slick-slider {margin-bottom:0px;}
.fullwidth{width:100%;}
.plr7 {padding: 0 7px;}
.mlr{margin:0 -7px}
.text-decoration{text-decoration:underline !important;}
/*DefaultFontSizes*/
.titleh3{font-size: $fontsize45;}
.titleh4{font-size:$fontsize20;}
.paraSmall{font-size:$fontsize14;}
.paraLittle{font-size:$fontsize13;}
.titleMedium{font-size:$fontsize34;}
.para_three{font-size:$fontsize16;}
.para_Two{font-size:$fontsize18;}
.DownArrow {
    position: absolute;
    bottom: -10%;
    text-align: center;
    width: 100%;
    left: -6%;
    z-index: 1;
}
.Visit_list a {
    background: #FFFFFF;
    width: 20.5vw;
    height: 6vh;
    font-size: 1.05vw;
    color: #00448B;
    margin: 0 6px 0 0;
    padding: 1.5vh 0 !important;
}
.Visit_list a:hover {
    background: #00448B;
    color: #FFFFFF;
}

.ApplyNow a {
    font-size: 1.05vw;
    height: 6vh;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 1.5vh 0 !important;
}

.ApplyNow a:hover {
    background: #FFFFFF;
    color: #EF3F3F;
}
.breadcrumb.breadcrumbCustom li.active  {
    color: $colorBlack;
    font-weight:500;
}
.breadcrumb.breadcrumbCustom li a {
    color: $colorBlack;
}

.breadcrumb.breadcrumbCustom li {
    display: inline-block;
    font-size: $fontsize13;
}
.breadcrumbPanel {
    position: absolute;
    bottom: -10%;
    left: 48%;
    text-align: center;
    padding: 0;
    z-index: 1;
}
.breadcrumb.breadcrumbCustom {
    margin: 0;
    background: inherit;
    width: auto;
    padding: 0;
    display: block;
}
.downArrowIcon {
    width: 2.4vw;
}
/**Include Css*/
@import "header.scss";
@import "footer.scss";
@import "showcase.scss";

