﻿@import "_variable";
@import "_mixin";
.ParentPanel {
    .ShowOnMobile {
        display: none;
    }
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg {
        float: right;
    }

    .BannerImg img {
        width: 70vw;
    }
    /*.bannerPadding {
        padding: 0 0 9vh 0;
    }*/
    .BannerStripContext {
        width: 40vw;
        position: absolute;
        bottom: -75px;
        background: #FFCA08;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 5px #ccc;
        padding: 4.5vh 75px 4.5vh 85px;
        font-size: 40px;
        height: 25.7vmax;
    }

    .BannerStripContext p {
        font-size: 2.9vmax;
    }
    /**Stories**/
    .ParentStoryBg:before {
        background: #fff url(../src/img/home/pattern-bg.jpg) no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 77%;
        background-position: top;
    }

    .ParentStoryBg {
        background: #F7F7F7;
    }

    .guestPanelInn {
        position: relative;
        z-index: 1;
    }

    .StudentstoryBg {
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        background-position: bottom;
    }

    .guestContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .guestContext p {
        background: #fff;
        font-size: $fontsize20;
        padding: 4vh 3vw 4vh 2vw;
    }

    .storiesPanStyle {
        padding: 35px 7px;
    }

    .GuestLecturePanel {
        padding: 5vh 0 15vh 0;
        background: $colorLightWhite;
    }

    .StoriesContext {
        background: $colorWhite;
        padding: 2vh 3vh 2vh 3vh;
        height: 245px;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        top: -60px;
        left: 6.3vw;
        width: 21vw;
        box-shadow: 0 5px 5px #ccc;
    }

    .StoriesContext h3 {
        font-size: $fontsize16;
        font-weight: 700;
    }

    .StoriesContext h2 {
        font-size: $fontsize20;
        font-weight: 800;
    }

    .StoriesContext a {
        text-decoration: underline;
        font-size: $fontsize13;
        color: $colorBlue;
    }

    .StoriesContext p {
        font-size: $fontsize14;
        padding: 15px 0 20px 0;
        font-weight: 500;
    }

    .storiesPanStyle img {
        width: 21vw;
    }

    .StoryTitleStrip {
        background: $colorOrange;
    }

    .StoryTitleStrip p {
        position: absolute;
        top: -23%;
        font-size: $fontsize34;
        font-weight: 800;
    }

    .StoryTitleStrip {
        background: $colorOrange;
        width: 27.4vw;
        text-align: center;
        position: relative;
        height: 15vh;
    }

    .FacultyPanel {
        background: #F7F7F7;
    }

    .fac_Row {
        height: 35vh;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .StoryTitleStrip h2 {
        font-size: $fontsize70;
    }
    /***Campus***/
    .CampusBg {
        position: absolute;
        right: 5px;
        top: -60px;
    }

    .CampusBg img {
        width: 40vw;
    }

    .GrayTitle {
        color: $colorTriplet;
        font-size: $fontsize100;
        position: relative;
        top: -1vh;
        margin: 0 0 20px 0;
    }

    .CampusInner {
        padding: 0px 0 55px 0;
    }

    .cmpinn p {
        width: 22vw;
        font-size: $fontsize14;
        padding: 17px 0 0 0;
    }
    /**Student Living**/
    .st_inn {
        background: $colorOrange;
        width: 49.2vw;
        height: 44vh;
    }

    .SLCarouselPanel {
        margin-top: -15vh;
        overflow: visible;
    }

    .st_inn h3 {
        font-size: $fontsize90;
        padding: 20px 0 30px 0;
    }

    .st_inn p {
        font-size: 1.05vw;
        padding: 0 0 5px 0;
    }

    .SLContext p {
        background: $colorOrange;
        color: $colorBlack;
        padding: 3vh 40px 3vh 30px;
        min-height: 12.2vh;
        display: flex;
        align-items: center;
        font-size: $fontsize16;
        box-shadow: 0px 5px 5px 0px #ddd;
    }

    .link_list {
        text-align: right;
        padding: 5vh 0px 4.5vh 0;
    }

    .SLContext {
        padding: 0 6.5vw 0 0;
        margin: -8.5vh 0 0 0;
        position: relative;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }
    /**Events***/
    .Event_Inner h3 {
        padding: 4.6vh 0;
    }

    .eventContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .eventContext p {
        background: $colorBlue;
        font-size: $fontsize20;
        padding: 5vh 3vw 5vh 2vw;
        color: $colorWhite;
    }

    .IndContext {
        width: 33.8vw;
    }

    .industryStrip {
        background: $colorOrange;
        height: 15vh;
        margin: 0 0 30px 0;
    }

    .industryPanel {
        padding: 100px 0 0px 0;
        z-index: 999;
        position: relative;
    }

    .industryStrip h2 {
        font-size: $fontsize40;
        margin: 0 -3vh 0 0;
    }

    .IndContext h4 {
        padding: 0 0 0 6vw;
    }

    .Num_Title {
        font-size: $fontsize18;
        padding: 0 0 0 30px;
    }

    .Numb_list {
        font-size: $fontsize60;
        color: $colorBlue;
    }

    .industry_blockList {
        margin: 0 -40px;
        padding: 13vh 0;
    }

    .ind_CompanyList {
        padding: 0 85px 12px 85px;
        margin: 0 -7px;
    }

    .Ind_inn {
        padding: 0 40px;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        left: 0;
        width: 50px;
        height: 50px;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        width: 2.6vw;
        height: 5.4vh;
        top: 35%;
        background-size: cover !important;
    }

    .StyleForSlickArrows .slick-prev {
        left: 7px;
        background: url(../src/img/home/left-arrow.png) no-repeat;
    }

    .ind_Logo {
        padding: 0 7px;
    }

    .StyleForSlickArrows .slick-next {
        right: 7px;
        left: auto;
        background: url(../src/img/home/right-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }

    .Event_Inner .link_list {
        position: absolute;
        right: 0;
        top: 6%;
    }
    /**fAculty*/
    .noPadding {
        padding: 0px;
    }

    .fac_InnerRow {
        margin: 0 -45px;
    }

    .col-sm-4.fac_Inn {
        padding: 0 45px;
    }

    .FacultyStrip {
        background: $colorOrange;
        height: 15vh;
        justify-content: left !important;
    }

    .col-4.fac_List {
        padding: 0 10px 0 0;
    }

    .FacultyStrip h2 {
        font-size: 3vw;
    }

    .HealthyPanel {
        background: $colorLightWhite;
        height: 55vh;
        margin: -25vh 0 0 0;
    }

    .healthbg {
        background: $colorWhite;
        height: 24.5vh;
        position: relative;
        box-shadow: 0 5px 5px #ccc;
        padding: 0 30px;
    }

    .healthContext {
        padding: 0 0 0 35px;
    }

    .healthContext p {
        padding: 5px 0 0 0;
    }

    .healthImg img {
        width: 3.7vw;
    }

    .PosiitonHealthyPanel {
        position: relative;
        top: 100px;
        z-index: 9;
    }

    .StudentLogoBanner {
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-position: right;
        background-size: 48%;
    }

    .AchieveInner {
        padding: 30vh 0 3vh 0;
    }

    .AchieveTitle p {
        line-height: 10px;
    }

    .AchieveContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .AchieveTitleBlock p {
        position: relative;
        top: 10px;
    }

    .AchieveTitleBlock h3 {
        margin: 0 0 20px 0;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .AchieveContextInn {
        background: $colorOrange;
        padding: 1.7vh 3vw 1.7vh 2vw;
    }

    .AchieveContextInn p {
        font-size: $fontsize20;
    }

    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorBlue !important;
        margin: 10px 0 0 0;
        display: inline-block;
    }

    .StudentStoriesPanel {
        padding: 220px 0 40px 0;
        padding: 35vh 0 0 0;
        margin: -100px 0 0 0;
    }

    .LogoBanner {
        position: relative;
    }

    .LogoBanner:before {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-size: 62%;
        background-position: right;
        position: absolute;
        right: -9%;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 999;
    }

    .clblk_Top {
        padding: 2vh 45px 2vh 20px;
        border-bottom: 1px solid #EEEEEE;
    }

    .courseIcon {
        width: 4.4vw;
    }

    .CL_bg {
        background: $colorWhite;
        box-shadow: 0 0 5px 5px #ccc;
    }

    .coursesfor {
        color: #7C7C7C;
        height: 16.5vh;
        position: relative;
    }

    .coursesfor a {
        position: absolute;
        bottom: 0;
    }

    .clblk_Top h2 {
        color: $colorBlue;
        line-height: 2.5vh;
    }

    .linebeforeText {
        position: relative;
        padding: 0 0 0 8px;
    }

    .CoursesList {
        margin: 0 -7px;
    }

    .linebeforeText:before {
        content: '-';
        position: absolute;
        left: 0px;
    }

    .CL_Block {
        padding: 0 7px;
    }

    .CoursesList .slick-list.draggable {
        overflow: visible;
    }

    .forApplication span {
        display: block;
        color: #7C7C7C;
        font-weight: 500;
    }

    .TextOverlap {
        color: #FFFFFF;
        text-transform: uppercase;
        position: absolute;
        font-size: 10vw;
        top: -24%;
        left: -11%;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .forApplication span {
        display: block;
        color: #7C7C7C;
        font-weight: 500;
    }

    .forApplication p {
        padding: 0 0 5px 0;
    }

    .CheckBlk {
        padding: 3.5vh 30px;
    }

    .checkBtnStyle {
        border: 1px solid $colorRed;
        color: $colorRed;
        height: 5.4vh;
    }

    .clrBorderBlue {
        border-bottom: 3px solid $colorBlue;
    }

    .clrBorderYellow {
        border-bottom: 3px solid $colorOrange;
    }

    .CoursesPanel {
        margin: 50px 0 0 0;
    }

    .clrBorderRed {
        border-bottom: 3px solid $colorRed;
    }

    .courseTitle {
        min-height: 9vh;
    }

    .course_iconStyle {
        min-height: 12vh;
    }

    .forApplication {
        padding: 2.1vh 45px 2.2vh 20px;
        border-bottom: 1px solid #EEEEEE;
    }

    .applyCourses {
        background: $colorWhite;
        padding: 100px 0 50px 0;
        text-align: right;
        margin: -6vh 0 0 0;
    }

    .CourseFind a {
        font-size: $fontsize13;
    }

    .crseTitle {
        padding: 0px 0 25px 0;
    }

    .StyleForSlickArrowsTop .slick-prev, .StyleForSlickArrowsTop .slick-next {
        right: 7px;
        top: -13%;
    }

    .StyleForSlickArrowsTop .slick-prev {
        right: 7%;
        left: auto;
    }

    .BtnBlue {
        border: 1px solid $colorBlue;
        color: $colorBlue;
    }

    .BtnRed {
        background: $colorRed;
        border: 1px solid transparent;
        color: $colorWhite;
    }

    .BtnRed:hover {
        border: 1px solid $colorRed;
        color: $colorRed;
    }
}
/*Media Querry*/
@import "_ParentResponsive";
