﻿@import "_variable";
@import "_mixin";
.ProgramDetailPanel {
    .StyleForSlickArrows .slick-next {
        right: 30px;
        left: auto;
        background: url(../src/img/home/right-arrow.png) no-repeat;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        width: 2.6vw;
        height: 5.4vh;
        top: 35%;
        background-size: cover !important;
        z-index: 1;
    }

    .StyleForSlickArrows .slick-prev {
        left: 30px;
        background: url(../src/img/home/left-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }

    .noPadding {
        padding: 0px;
    }
    /***Details***/
    .CampusBg {
        position: absolute;
        right: 5px;
        top: -60px;
    }

    .CampusBg img {
        width: 40vw;
    }

    .GrayTitle {
        color: $colorTriplet;
        font-size: $fontsize100;
        position: relative;
        top: -2vh;
        margin: 0 0 20px 0;
    }

    .row.CoursesGraduatePanel {
        margin: 0 -60px;
        padding: 0 0 10px 0;
    }

    .GraduateInner {
        padding: 0 60px;
    }

    .GraduateList {
        margin: 0;
        padding: 50px 0 0 0;
    }

    .GraduateList li p {
        width: 90%;
        position: relative;
    }

    .GraduateList li a {
        font-weight: 600;
        color: $colorBlue;
        text-decoration: underline;
        text-decoration-color: #C3D7D8;
    }

    .GraduateList li p span {
        padding: 0 15px 0 10px;
    }

    .GraduateList li span img {
        width: 2.3vw;
    }

    .GraduateList li p:before {
        content: '';
        background: #9A999D;
        width: 3px;
        height: 3px;
        display: block;
        position: absolute;
        left: 10%;
        border-radius: 100%;
        top: 10px;
    }

    .GraduateList li {
        display: flex;
        position: relative;
        font-weight: 500;
        font-size: $fontsize13;
        height: 6vh;
        border-bottom: 1px solid #EFEFEF;
        align-items: center;
    }

    .GraduateInner .PadSpacing {
        padding: 3vh 0px 4.5vh 3.6vw;
    }
    /**Banner*/
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg {
        width: 70vw;
        float: right;
    }

    .BannerStripContext {
        width: 41.5vw;
        position: absolute;
        bottom: -75px;
        background: $colorOrange;
        display: flex;
        justify-content: center;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 26vmax;
        background-size: cover;
        z-index: 9;
        left: 10px;
    }

    .BannerStripContext p {
        font-size: 5.7vw;
        position: absolute;
        width: 75vw;
        left: 6vmax;
        line-height: 12vh;
        top: -45px;
    }

    .DownArrow {
        left: -5%;
    }

    .WatchPanel {
        position: absolute;
        bottom: 40px;
        right: 80px;
    }

    .WatchPanel a img {
        width: 25px;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 6vh;
        background: $colorBlue;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .HomeBtnStyle picture {
        width: 25%;
        text-align: right;
    }

    .HomeBtnStyle span {
        white-space: normal;
        width: 80%;
        display: inline-block;
        padding: 0 5px 0 0;
    }

    .BannerContextList {
        @include ulnone;
        bottom: 2%;
        left: 7vw;
        padding: 0 20px 0 0;
        position: absolute;
    }

    .BannerContextList li {
        font-size: 1.6vw;
        font-weight: 500;
        padding: 0 0 4vh 0;
        position: relative;
    }

    .sodText {
        font-size: 1.6vw;
        position: absolute;
        top: -22%;
        left: 6vw;
    }

    .durationImg {
        width: 3vw;
    }

    .detailCourseList p {
        padding: 0 30px 0 20px;
    }

    .durationImg {
        width: 3vw;
    }

    .detailCourseList {
        padding: 0 0 30px 0;
    }

    .det_Context li {
        padding: 0 0 30px 0;
        position: relative;
    }

    .DurationText {
        font-size: 1.8vw;
    }

    .DurationText span {
        font-size: 1.3vw;
    }

    .det_Context {
        @include ulnone;
        padding: 0 0 0 30px !important;
    }

    .DetailInner {
        padding: 0 0 70px 0;
    }

    .det_Context li:before {
        content: '';
        background: #00448B;
        width: 8px;
        height: 8px;
        display: block;
        border-radius: 100%;
        position: absolute;
        left: -20px;
        top: 6px;
    }
    /**Details Accordion*/
    .DetailsBanner:before {
        content: '';
        background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        top: 0;
        background-position: 0px -35vh;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        top: 10px;
    }

    .appList.ApplyNow a {
        background: $colorOrange;
    }

    .SocialList {
        margin: 0 -4px;
    }

    .applyNowForDetail {
        padding: 8vh 0 5vh 0;
    }

    .SocialList a {
        padding: 0 4px;
    }

    .appList p {
        padding: 0 10px 0;
        font-size: $fontsize14;
        color: $colorZam;
    }

    .SocialList a img {
        width: 2.2vw;
    }

    .CardHeaderPanel > a {
        display: block;
        position: relative;
        font-weight: 600;
        color: $colorBlack;
        padding: 16px 25px;
        border-bottom: 1px solid #FAFAFA;
    }

    .CardHeaderPanel > a:after {
        content: '>';
        font-family: monospace;
        position: absolute;
        right: 25px;
        font-weight: 600;
        font-size: 1.6vw;
        color: #A1A1A1;
        top: 12px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .CardHeaderPanel > a[aria-expanded="true"]:after {
        content: '>';
        font-family: monospace;
        transform: rotate(270deg);
    }

    .AccordionStyle {
        margin: 30px 0 0 0;
        background: #fff;
        box-shadow: 0 5px 5px #ccc;
        position: relative;
        border: 1px solid #EDEDED;
    }

    .card-body.cardContext {
        padding: 20px 25px;
    }

    .AccordionStyle .card-header {
        background: inherit;
        border: none;
        padding: 0px;
    }

    .cardContext p {
        font-weight: 500;
        font-size: 1vw;
        line-height: 24px;
    }

    .AccordionStyle .card {
        border: none;
        border-radius: 0px;
    }

    .DetailsBlk {
        padding: 5vh 8vw;
    }
}
