﻿@import "_variable";
@import "_mixin";
.SchoolDetailPanel {
    .StyleForSlickArrows .slick-next {
        right: 30px;
        left: auto;
        background: url(../src/img/home/right-arrow.png) no-repeat;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        width: 2.6vw;
        height: 5.4vh;
        top: 35%;
        background-size: cover !important;
        z-index: 1;
    }

    .StyleForSlickArrows .slick-prev {
        left: 30px;
        background: url(../src/img/home/left-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }

    .noPadding {
        padding: 0px;
    }
    /**Certification*/
    .IndContext {
        width: 33.8vw;
    }

    .ind_Logo {
        padding: 0 7px;
    }

    .CrtInner {
        margin: -25vh 0 0 0;
        padding: 0 0 30px 0;
    }

    .StripforTwoContext {
        position: relative;
        top: -50px;
        background: $colorOrange;
        height: 15vh;
        width: 30vw;
    }

    .ind_CompanyList {
        padding: 0 80px 12px 80px;
        margin: 0 -7px;
    }

    .StripforTwoContext h2 {
        margin: 0 -10vh -4vh 0;
        font-size: $fontsize40;
    }
    /**Events***/
    .Event_Inner h3 {
        padding: 4.6vh 0;
    }

    .eventContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .EventContStyle {
        background: $colorBlue;
        padding: 5vh 3vw 5vh 2vw;
        color: $colorWhite;
    }


    .Events_Impact_Panel {
        padding: 180px 0px 40px 6.2vw;
        margin: 0 -48px;
    }

    .HomeEventImg {
        padding: 0 100px 0 0;
    }

    .Ev_Im_List {
        padding: 0 48px;
    }

    .RotateTitlePosition {
        transform: rotate(270deg);
        position: absolute;
        z-index: 9;
        padding: 0px !important;
        width: 100%;
        height: 100%;
        bottom: 120px;
        left: 0px;
    }

    .eventContextForHome {
        padding: 0 0 0 7vw;
    }

    .PadSpacing {
        padding: 3vh 0px 4.5vh 9vw;
    }

    .StyleForSlickArrowsBottom .slick-prev, .StyleForSlickArrowsBottom .slick-next {
        left: 50px;
        top: auto;
        bottom: 30px;
    }

    .StyleForSlickArrowsBottom .slick-prev {
        left: 0px;
    }

    .FacBanner:before {
        content: '';
        background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        top: 0;
        background-position: 0px -28vh;
    }

    .CertificationPanel {
        background: $colorWhite;
    }

    .titleposition {
        position: absolute;
        top: -100px;
    }

    .EventContStyleForSchoolBlk {
        padding: 5vh 5vw 5vh 2vw;
    }

    .Events_Facilities_Panel {
        padding: 120px 0px 240px 5.8vw;
    }
    /**StudentAchievment*/
    .WhiteBg {
        background: url(../src/img/home/white-bg-pattern.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .studenAchievPanel_PaddingSpacing {
        padding: 40vh 0 9vh 0;
    }

    .EventBg {
        margin: -85px 0 0 0;
    }

    .studenAchieveBanner:before {
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-position: left;
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: -8%;
        background-size: 100%;
    }

    .SectionLogoBanner:before {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-size: 50%;
        position: absolute;
        top: 70px;
        left: 50px;
        width: 100%;
        height: 100%;
    }

    .AchieveInner {
        padding: 30vh 0 3vh 0;
    }

    .AchieveTitle p {
        line-height: 10px;
    }

    .AchieveContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .AchieveTitleBlock p {
        position: relative;
        top: 10px;
    }

    .AchieveTitleBlock h3 {
        margin: 0 0 20px 0;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .AchieveContextInn {
        background: $colorOrange;
        padding: 1.7vh 3vw 1.7vh 2vw;
    }

    .AchieveContextInn p {
        font-size: $fontsize20;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorBlue !important;
        margin: 10px 0 0 0;
        display: inline-block;
    }
    /**Stories***/
    .storiesPanStyle {
        padding: 35px 7px 0 7px;
        position: relative;
    }

    .storiesPannInn .slick-list {
        overflow: visible;
    }

    .StoriesContext {
        background: $colorWhite;
        padding: 2vh 3vh 2vh 3vh;
        display: table-cell;
        vertical-align: middle;
        position: absolute;
        bottom: -50%;
        left: 6.3vw;
        width: 21.5vw;
        box-shadow: 0 5px 5px #ccc;
        z-index: 999;
    }

    .StoriesContext h3 {
        font-size: $fontsize16;
    }

    .StoriesContext h2 {
        font-size: $fontsize20;
    }

    .StoriesContext a {
        text-decoration: underline;
        font-size: $fontsize13;
        color: $colorBlue;
    }

    .StoriesContext p {
        font-size: $fontsize14;
        padding: 15px 0 20px 0;
    }

    .storiesPanStyle img {
        width: 21vw;
    }

    .StoryTitleStrip {
        background: $colorOrange;
    }

    .StoryTitleStrip p {
        position: absolute;
        top: -23%;
        font-size: $fontsize34;
        font-weight: 800;
    }

    .StoryTitleStrip {
        background: $colorOrange;
        width: 27.4vw;
        text-align: center;
        position: relative;
        height: 15vh;
        padding: 0 0 1vh 0;
    }

    .StoryTitleStrip h2 {
        font-size: $fontsize60;
        padding: 40px 0 0 0;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .forZIndex {
        z-index: 9;
    }
    /**Events***/
    .StoryTitleStripForTieUp {
        width: 51.5vw;
        height: 45.7vh;
    }

    .TieupContext {
        padding: 0 100px 0 0;
        margin: -30px 0 0 0;
        position: relative;
    }

    .TiesUpBg {
        background: $colorBlue;
        padding: 1vh 3vw 1vh 2vw;
        height: 22vh;
    }

    .TieupContext p {
        font-size: $fontsize24;
        color: $colorWhite;
    }

    .TieUpPosition {
        margin: -25vh 0 0 0;
    }

    .Ties_TestimonialPanel:before {
        content: '';
        background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        top: 0;
        background-position: 0px -28vh;
    }

    .TestimonialPanel {
        padding: 100px 0 0 0;
        background: $colorLightWhite;
    }
    /*Placements*/
    .Num_Title {
        font-size: $fontsize18;
        padding: 0 0 0 30px;
    }

    .Numb_list {
        font-size: $fontsize68;
        color: $colorBlue;
    }

    .industry_blockList {
        margin: 0 -40px;
        padding: 13vh 6vw;
    }

    .Ind_inn {
        padding: 0 40px;
    }

    .Condition_text {
        padding: 6vh 6.5vw 8vh .5vw;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }

    .Condition_text p {
        font-size: $fontsize13;
    }
    /**Application*/
    .ApplicationBg {
        background: $colorOrange;
        height: 100%;
    }

    .row.appl_Row {
        height: 19.5vh;
    }

    .borderLeft {
        border-left: 1px solid;
        padding: 0 15px;
    }

    .CourseBlk_bg {
        background: $colorLightWhite;
        height: 100%;
    }

    .GrayStripbgfull:before {
        content: '';
        background: $colorLightWhite;
        position: absolute;
        right: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .CourseBlk_bg .Visit_list a {
        font-size: 0.9vw;
        border: 1px solid #E2E2E2;
    }

    .PlacementBg:after {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        position: absolute;
        top: -1%;
        right: -36.5%;
        width: 50%;
        height: 100%;
        background-size: 100%;
    }

    section.PlacementPanel {
        padding: 60px 0 0 0;
    }
    /*Courses*/
    /***Campus***/
    .CampusBg {
        position: absolute;
        right: 5px;
        top: -60px;
    }

    .CampusBg img {
        width: 40vw;
    }

    .GrayTitle {
        color: $colorTriplet;
        font-size: $fontsize100;
        position: relative;
        top: -1vh;
        margin: 0 0 20px 0;
    }

    .row.CoursesGraduatePanel {
        margin: 0 -60px;
        padding: 0 0 10px 0;
    }

    .GraduateInner {
        padding: 0 60px;
    }

    .GraduateList {
        margin: 0;
        padding: 50px 0 0 0;
    }

    .GraduateList li p {
        width: 90%;
        position: relative;
    }

    .GraduateList li a {
        font-weight: 600;
        color: $colorBlue;
        text-decoration: underline;
        text-decoration-color: #C3D7D8;
    }

    .GraduateList li p span {
        padding: 0 15px 0 10px;
    }

    .GraduateList li span img {
        width: 2.3vw;
    }

    .GraduateList li p:before {
        content: '';
        background: #9A999D;
        width: 3px;
        height: 3px;
        display: block;
        position: absolute;
        left: 10%;
        border-radius: 100%;
        top: 10px;
    }

    .GraduateList li {
        display: flex;
        position: relative;
        font-weight: 500;
        font-size: $fontsize13;
        height: 6vh;
        border-bottom: 1px solid #EFEFEF;
        align-items: center;
    }

    .GraduateInner .PadSpacing {
        padding: 3vh 0px 4.5vh 3.6vw;
    }
    /**Banner*/
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg {
        width: 70vw;
        float: right;
    }

    .BannerStripContext {
        width: 41.5vw;
        position: absolute;
        bottom: -75px;
        background: $colorOrange;
        display: flex;
        justify-content: center;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 26vmax;
        background-size: cover;
        z-index: 9;
        left: 10px;
    }

    .BannerStripContext p {
        font-size: 6vw;
        position: absolute;
        width: 55vw;
        left: 6vmax;
        line-height: 12vh;
        top: -25px;
    }

    .DownArrow {
        left: -5%;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 6vh;
        background: $colorRed;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .HomeBtnStyle picture {
        width: 25%;
        text-align: right;
    }

    .HomeBtnStyle span {
        white-space: normal;
        width: 80%;
        display: inline-block;
        padding: 0 5px 0 0;
    }

    .BannerContextList {
        @include ulnone;
        bottom: 14%;
        left: 7vw;
        padding: 0 50px 0 0;
        position: absolute;
    }

    .BannerContextList li {
        font-size: 1.2vw;
        font-weight: 500;
        padding: 0 0 4vh 0;
        position: relative;
    }

    .BannerContextList li:before {
        content: '';
        background: #333;
        width: 3px;
        height: 3px;
        display: block;
        position: absolute;
        left: -8px;
        border-radius: 100%;
        top: 12px;
    }

    .sodText {
        font-size: 1.6vw;
        position: absolute;
        top: -22%;
        left: 6vw;
    }
}
