﻿@import "_variable";
@import "_mixin";
.showcase{
.show_caseTop {
    padding: 5vh 0;
    background: $colorOrange;
}
.takeStep p span {
    display: block;
}
.takeStep p {
    font-size: 3.5vw;
    line-height: 7vh;
}
.Visit_list a {
    background: $colorWhite;
    width: 20.5vw;
    height: 6vh;
    font-size: $fontsize14;
    color: $colorBlue;
    margin: 0 6px 0 0;
    padding: 1.5vh 0 !important;
}
.sh_showcaseRight a {
    @include transition(0.3s all ease-in)
}
.Visit_list a:hover {
    background: $colorBlue;
    color: $colorWhite;
}
.ApplyNow a {
    font-size: $fontsize14;
    height: 6vh;
    background: $colorRed;
    color: $colorWhite;
    width: 14vw;
    margin:0 0 0 6px;
    padding: 1.5vh 0 !important;
}
.ApplyNow a:hover {
    background: $colorWhite;
    color: $colorRed;
}
.show_caseBtm {
    background: $colorDarkOrange;
}
.dateText span{
    display:block;
}
.shcaseBtmRow {
    padding: 3vh 0;
    color:$colorBlack;
}
.AppDate  p{
    font-size:$fontsize20;
}
.dateText {
    font-size: $fontsize13;
}
}
/*Media Querry*/
@import "_ShowCaseResponsive";