﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var imageinfo = Umbraco.TypedMedia(Model.MacroParameters["eventMacroImage"]);
}
<section>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3> @Model.MacroParameters["eventMacroTitle"].ToString()  </h3>
        </div>
    </div>
    <div class=" row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4> @Model.MacroParameters["eventMacroDescription"].ToString()  </h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:1em">
 @if(imageinfo!=null)
 {
            <img src="@imageinfo.Url" style=" width: 600px;height: 260px;" />
            }
        </div>
    </div>
</section>