@model Umbraco.Forms.Mvc.Models.FieldViewModel
@using Umbraco.Forms.Mvc;
@{
    Boolean inputDisable = false;
    string[] arControlID = { "7878bcce-04a5-4365-dd8a-edc8d15ac0f1", "27b7b52e-b9d2-4124-81a6-8ab62adfab71" };
    if (arControlID.Contains(Model.Id))
    {
        inputDisable = true;
    }
}

<input type="text" @(inputDisable == true ? "disabled" : "")
       name="@Model.Name"
       id="@Model.Id"
       class="@Html.GetFormFieldClass(Model.FieldTypeName) FormStyle"
       value="@Model.ValueAsHtmlString"
       maxlength="500"
       @{if (string.IsNullOrEmpty(Model.PlaceholderText) == false) { <text> placeholder="@Model.PlaceholderText @(((Model.ShowIndicator == true)?"*":""))" </text>  }}
       @{if (Model.Mandatory || Model.Validate) { <text> data-val="true" </text>  }}
       @{if (Model.Mandatory) { <text> data-val-required="@Model.RequiredErrorMessage" </text>  }}
       @{if (Model.Validate) { <text> data-val-regex="@Model.InvalidErrorMessage" data-regex="@Html.Raw(Model.Regex)" </text>  }} />



