@model Umbraco.Forms.Mvc.Models.FieldViewModel  
@using Umbraco.Forms.Mvc
  
@{ var i = 0; }
   
@*<div class="@Html.GetFormFieldClass(Model.FieldTypeName)  radiobuttonlist" id="@Model.Id">*@
    <p class="labelContext fontMedium">@Model.Caption</p>
    @foreach (Umbraco.Forms.Mvc.Models.PrevalueViewModel pv in Model.PreValues)
    {
        <label class="LabelForInput" for="@string.Concat(Model.Id,"_",i)">
            <input class="RadioStyle" type="radio" name="@Model.Id" id="@string.Concat(Model.Id,"_",i)" value="@pv.Value"
                   @if (Model.Mandatory) { <text> data-val="true" data-val-requiredlist="@Model.RequiredErrorMessage" </text> }
                   @if (Model.ContainsValue(pv.Value)) { <text> checked="checked" </text> } />
            @pv.Value
        </label>

        i++;
    }
@*</div>*@