@model Umbraco.Forms.Mvc.Models.FieldViewModel
@using Umbraco.Forms.Mvc

<label class="d-flex align-items-center" for="@Model.Id">
    <input type="checkbox" name="@Model.Name" id="@Model.Id"
           class="@Html.GetFormFieldClass(Model.FieldTypeName) CheckFormStyle"
           @if (Model.Mandatory) { <text> data-val="true" data-val-requiredcb="@Model.RequiredErrorMessage" </text> }
           @if (Model.ContainsValue(true) || Model.ContainsValue("true") || Model.ContainsValue("on")) { <text> checked="checked" </text> } />
    @Model.Caption
</label>