﻿@model Umbraco.Forms.Mvc.Models.FieldViewModel       
@using Umbraco.Forms.Mvc
     
@{
    string val = string.Empty;
    if (Model.ValueAsObject != null && Model.ValueAsObject != "")
    {
        try
        {
            DateTime d;
            d = (DateTime) Model.ValueAsObject;
            val = d.ToShortDateString();
        }
        catch (Exception ex)
        {
            val = Model.ValueAsObject.ToString();
        }
    }
}

<input type="hidden" name="@Model.Name" id="@Model.Id" class="datepickerfieldshadow" value="@val" />
<input type="text" placeholder="Date of Birth @(((Model.ShowIndicator == true)?"*":""))" 
readonly="true" class="@Html.GetFormFieldClass(Model.FieldTypeName) FormStyle datepickerfield"  
name="@Model.Name" id="@(Model.Id)_1" autocomplete="off" value="@val" @{if (Model.Mandatory) { <text> data-val="true" data-val-required="@Model.RequiredErrorMessage" </text> }} />
