@using Umbraco.Forms.Mvc
@model Umbraco.Forms.Mvc.Models.FieldViewModel

<div class="form-group col-sm-9 noPadding custom-fileInput">
    <input type="file" class="@Html.GetFormFieldClass(Model.FieldTypeName) custom-input" name="@Model.Name" id="@Model.Id" multiple
           @if (Model.Mandatory) { <text> data-val="true" data-val-required="@Model.RequiredErrorMessage" </text> } />
    <input type="text" class="FormStyle" placeholder="Resume @(((Model.ShowIndicator == true)?"*":""))">
</div>
<div class="form-group  text-right ">
    <input type="button" class="browseText fontBold" value="Browse to Upload">
</div>
@if (Model.Values != null && Model.Values.Any())
{
    <p>
        <strong>Current File/s:</strong><br />
        @foreach (string filePath in Model.Values)
        {
            var fileName = filePath.Split('/').Last();

            <a>@fileName</a><br />
            <input type="hidden" name="@(Model.Name)_file_@(fileName)" value="@filePath" />
        }
    </p>
}
