@model Umbraco.Forms.Mvc.Models.FieldViewModel
<input type="hidden" name="@Model.Name" id="@Model.Id" class="hidden" value="@Model.ValueAsHtmlString"/>
<p class="fontBold formTitleText">@Model.Caption</p>

