@media (max-width:767px) {
    /**Common***/
    .plr20 {
        padding: 0px;
    }
    .Yellowstripbgfull:before {
        display: none;
    }
    .plr100 {
        padding: 0 0;
    }
    .titleMedium {
        font-size: 26px;
    }
    .hideOnMobile {
        display: none;
    }
    .ShowOnMobile {
        display: block !important;
    }
    /**Common***/
    .applicants {
        .BannerImg {
            img {
                width: 100%;
            }
        }
        .CL_Block {
            .clblk_Top{
                h2{
                    line-height: 3.5vh;
                }
               // display: flex;
            }
            .course_iconStyle{
                min-height: auto;
                width: 50%;
                img{
                    width: 50%;
                    //float: left;
                }
            }
            .coursesfor {
                height: auto;
                padding-top: 25px;
                p{
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
            .knowMoreStyle{
                font-size: 12px;
                position: relative;
            }
            .courseTitle{
                p{
                    font-size: 14px;
                }
                h2{
                    font-size: 28px;
                }
            }
            .courseTitle{
                min-height: auto;
            }
        }
        .forApplication{
            p,span{
                font-size: 12px;
            }
        }
        .CheckBlk{
            a{
                font-size: 12px;
            }
        }
        .plr100 {
            padding: 0 15px;
        }
        .BannerSection {
            .DownArrow {
                text-align: right;
                a {
                    .downArrowIcon {
                        width: 30px;
                    }
                }
            }
            .BannerStripContext {
                left: 0px;
                z-index: 999;
                box-shadow: 0px 5px 5px #dddddd8c;
                .fontExBold {
                    display: none;
                }
            }
        }
        .TextOverlap {
            left: -5px;
            top: -10%;
            font-size: 48px;
        }
        .CoursesPanel {
            margin-top: 0px;
        }
        .StyleForSlickArrows {
            .slick-prev,
            .slick-next {
                top: 105%;
                height: 12px;
                width: 12px;
                padding: 12px;
            }
            .slick-prev {
                left: 42%;
            }
            .slick-next {
                left: 52%;
            }
        } // #CoursesCarousel{
        //     display: flex;
        //     .CL_Block {
        //         width: 20% !important;
        //     }
        // }
        .applyCourses {
            padding-bottom: 15px;
            .d-flex {
                display: block !important;
                text-align: center;
                .Visit_list,
                .ApplyNow {
                    a {
                        font-size: 12px;
                        width: 90%;
                        margin: 5px 0px;
                    }
                }
            }
        }
        .section-2 {
            .wrapper-75 {
                width: calc(100% - 30px);
            }
            .title1 {
                font-size: 68px;
            }
            .title2 {
                font-size: 22px;
                margin-top: -5px;
            }
            .title3 {
                font-size: 18px;
            }
            .admission-table {
                margin-top: 15px;
                .header {
                    padding: 10px;
                    h2 {
                        font-size: 10px;
                    }
                }
                .value {
                    padding: 10px;
                    p {
                        font-size: 10px;
                    }
                }
            }
            .fullwidth {
                .d-flex {
                    display: block !important;
                    text-align: center;
                    .Visit_list,
                    .ApplyNow {
                        a {
                            font-size: 12px;
                            width: 90%;
                            margin: 5px 0px;
                        }
                    }
                }
            }
        }
        .section-3 {
            .title {
                .Orange-Strip {
                    height: 8vh;
                    &:before {
                        width: 80%;
                    }
                    h3 {
                        font-size: 24px;
                        top: 15px;
                        position: relative;
                    }
                }
            }
            .wrapper-75 {
                width: calc(100% - 60px);
                .title {
                    font-size: 16px;
                }
                .col-md-4,
                .col-md-8 {
                    padding: 0;
                }
            }
            .help {
                .select-wrapper {
                    &:before {
                        font-size: 12px;
                    }
                }
                padding-top: 30px;
                label {
                    margin-bottom: 0;
                    font-size: 14px;
                    &.radio-inline {
                        display: flex;
                    }
                }
                select {
                    margin-bottom: 5px;
                    height: 30px;
                    font-size: 12px;
                }
                .submit {
                    text-align: center;
                    padding-bottom: 30px;
                    a {
                        padding: 0 20px;
                        font-size: 10px;
                    }
                }
            }
            .title {
                h3 {
                    font-size: 14px;
                }
            }
            #Financial-affairs-AccordionPanel {
                margin-top: 15px;
                .cardContext {
                    padding: 15px;
                }
                p {
                    font-size: 14px;
                }
            }
            .accord-wrapper {
                .CardHeaderPanel {
                    a {
                        font-size: 12px;
                        padding: 10px;
                        &:after {
                            font-size: 12px;
                            top: 6px;
                            right: 12px;
                        }
                    }
                }
            }
        }
        .section-4 {
            padding-top: 20px;
            .wrapper-75 {
                width: calc(100% - 30px);
            }
            .header-top {
                padding-bottom: 10px;
                .titleh3 {
                    font-size: 22px;
                }
            }
            .accord-wrapper {
                .link-toggle {
                    margin-top: -45px;
                    font-size: 12px;
                    a {
                        position: relative;
                        z-index: 9;
                    }
                }
                .AccordionStyle {
                    margin-top: 15px;
                    h5 {
                        a {
                            padding: 5px 10px;
                            font-size: 12px;
                            &:after {
                                font-size: 12px;
                                top: 6px;
                                right: 12px;
                            }
                        }
                    }
                }
            }
            .contact {
                padding: 15px 0px;
                padding-top: 30px;
                .header {
                    h2 {
                        font-size: 12px;
                    }
                }
                .details {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
        .section-5{
            margin-top: 50px;
            padding-bottom: 50px;
            .wrapper-75 {
                width: calc(100% - 30px);
            }
            .title {
                .Orange-Strip {
                    height: 8vh;
                    &:before {
                        width: 80%;
                    }
                    h3 {
                        font-size: 24px;
                    }
                }
            }
            .link-toggle {
                margin-top: -45px;
                font-size: 12px;
                a {
                    position: relative;
                    z-index: 9;
                }
            }
            .AccordionStyle {
                margin-top: 15px;
                .cardContext {
                    padding: 15px;
                }
                p {
                    font-size: 14px;
                }
            }
            .accord-wrapper {
                .CardHeaderPanel {
                    a {
                        font-size: 12px;
                        padding: 10px;
                        &:after {
                            font-size: 12px;
                            top: 6px;
                            right: 12px;
                        }
                    }
                }
            }
        }
    }
    @import '_commonResponsiveMobile';
}