﻿/*color*/
$colorBlack: #000000;
$colorRed: #EF3F3F;
$colorOrange: #FFCA08;
$colorDarkOrange: #FCA61B ;
$colorBlue: #00448B;
$colorWhite: #FFFFFF;
$colorGray: #666666;
$colorDarkGray: #DDDDDD;
$colorZam: #606060;
$colorLightGray: #4D4D4D;
$colorTriplet: #EEEEEE;
$colorLightWhite:#F7F7F7;

/*font size*/
$fontsize180: 100px;
$fontsize150: 100px;
$fontsize100: 7.2vw;
$fontsize90: 4.5vw;
$fontsize70: 5.2vw;
$fontsize68:5vw;
$fontsize60: 4.4vw;
$fontsize50: 4vw;
$fontsize45: 3.3vw;
$fontsize40: 3vw;
$fontsize38: 2.8vw;
$fontsize34: 2.5vw;
$fontsize30: 30px;
$fontsize24: 1.8vw;
$fontsize20: 1.5vw;
$fontsize18: 1.32vw;
$fontsize15: 15px;
$fontsize16:1.2vw;
$fontsize14: 1.05vw;
$fontsize12: 0.75vw;
$fontsize13: 0.9vw;
$fontsize75_S: 0.7vw;


/*Spacing - Padding*/
.plr20 {
    padding: 0 20px;
}
.plr100{padding:0 100px;}

.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.mt15{margin-top:15px;}
.mb20{margin-bottom:20px;}
.mb15{margin-bottom:15px;}
.mb10{margin-bottom:10px;}
.mb60{margin-bottom:60px;}

