﻿@import "_variable";
@import "_mixin";
.HomePanel {
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
        margin: 0 0 4.3vmax 0;
    }

    .BannerImg {
        width: 70vw;
        float: right;
    }

    .BannerStripContext {
        width: 40vw;
        position: absolute;
        bottom: -75px;
        background: url('../img/home/banner-text-bg.png') no-repeat;
        display: flex;
        justify-content: center;
        padding: 6vh 0px 4.5vh 85px;
        font-size: 40px;
        height: 26vmax;
        background-size: cover;
        z-index: 9;
        left: 10px;
    }

    .BannerStripContext p {
        font-size: 5.2vw;
        position: absolute;
        width: 55vw;
        left: 6vmax;
    }

    .WatchPanel {
        position: absolute;
        bottom: 40px;
        right: 80px;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 6vh;
        background: $colorRed;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .WatchPanel a img {
        width: 25px;
    }

    .HomeBtnStyle picture {
        width: 25%;
        text-align: right;
    }

    .HomeBtnStyle span {
        white-space: normal;
        width: 80%;
        display: inline-block;
        padding: 0 5px 0 0;
    }
    /***Specialisation*/
    .SplOverlapContext {
        width: 31vw;
        position: absolute;
        bottom: -75px;
        background: $colorBlue;
        color: $colorWhite;
        height: 21.5vh;
        left: -15px;
        padding: 15px 20px;
        box-shadow: 0 5px 5px #ccc;
    }

    .Spl_Row {
        padding: 25px 0 0px 0;
    }

    .Spl_Context {
        padding: 0 80px 0 0 !important;
    }

    .SplOverlapContext a {
        color: $colorWhite;
        font-size: $fontsize13;
        padding: 10px 0 0 0;
        display: inline-block;
    }

    .Spl_Context h2 {
        color: $colorBlue;
        margin: 30px 0 15px 0;
    }

    .Spl_Context h2:before {
        position: absolute;
        content: '';
        background: $colorRed;
        width: 40px;
        height: 3px;
        top: -15px;
    }

    .Spl_Context h4 {
        padding: 0 0 15px 0;
    }

    .Spl_list p:before {
        content: '';
        background: #5E5E5E;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        display: block;
        position: absolute;
        top: 8px;
        left: 0px;
        display: block;
    }

    .Spl_list p {
        margin: 0 0 5px 0;
        position: relative;
        padding: 0 0 0 10px;
    }
    /**Industry*/
    .industryStrip {
        background: $colorOrange;
        height: 15vh;
        margin: 0 0 30px 0;
    }

    .IndContext {
        width: 33.8vw;
    }

    .industryPanel {
        padding: 80px 0 40px 0;
        z-index: 999;
        position: relative;
    }

    .industryStrip h2 {
        font-size: $fontsize40;
        margin: 0 -3vh 0 0;
    }

    .IndContext h4 {
        padding: 0 0 0 6vw;
    }

    .Num_Title {
        font-size: $fontsize18;
        padding: 0 0 0 30px;
    }

    .Numb_list {
        font-size: $fontsize68;
        color: $colorBlue;
    }

    .industry_blockList {
        margin: 0 -40px;
        padding: 13vh 0;
    }

    .ind_CompanyList {
        padding: 0 85px 12px 85px;
        margin: 0 -7px;
    }

    .Ind_inn {
        padding: 0 40px;
    }


    .StyleForSlickArrows .slick-next {
        right: 7px;
        left: auto;
        background: url(../img/home/right-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        width: 2.6vw;
        height: 5.4vh;
        top: 35%;
        background-size: cover !important;
    }

    .StyleForSlickArrows .slick-prev {
        left: 7px;
        background: url(../img/home/left-arrow.png) no-repeat;
    }

    .ind_Logo {
        padding: 0 7px;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }
    /***Courses*/
    .clblk_Top {
        padding: 2vh 45px 2vh 20px;
        border-bottom: 1px solid #EEEEEE;
    }

    .courseIcon {
        width: 4.4vw;
    }

    .CL_bg {
        background: $colorWhite;
        box-shadow: 0 0 5px 5px #ccc;
    }

    .coursesfor {
        color: #7C7C7C;
    }

    .clblk_Top h2 {
        color: $colorBlue;
        line-height: 2.5vh;
    }

    .linebeforeText {
        position: relative;
        padding: 0 0 0 8px;
    }

    .CoursesList {
        margin: 0 -7px;
    }

    .linebeforeText:before {
        content: '-';
        position: absolute;
        left: 0px;
    }

    .CL_Block {
        padding: 0 7px;
    }

    .CoursesList .slick-list.draggable {
        overflow: visible;
    }

    .forApplication span {
        display: block;
        color: #7C7C7C;
        font-weight: 500;
    }

    .TextOverlap {
        color: #FFFFFF;
        text-transform: uppercase;
        position: absolute;
        font-size: 10vw;
        top: -24%;
        left: -11%;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .forApplication span {
        display: block;
        color: #7C7C7C;
        font-weight: 500;
    }

    .forApplication p {
        padding: 0 0 5px 0;
    }

    .CheckBlk {
        padding: 3.5vh 30px;
    }

    .checkBtnStyle {
        border: 1px solid $colorRed;
        color: $colorRed;
        height: 5.4vh;
    }

    .clrBorderBlue {
        border-bottom: 3px solid $colorBlue;
    }

    .clrBorderYellow {
        border-bottom: 3px solid $colorOrange;
    }

    .CoursesPanel {
        margin: 50px 0 0 0;
        z-index: 99;
    }

    .clrBorderRed {
        border-bottom: 3px solid $colorRed;
    }

    .courseTitle {
        min-height: 9vh;
    }

    .course_iconStyle {
        min-height: 12vh;
    }

    .forApplication {
        padding: 2.1vh 45px 2.2vh 20px;
        border-bottom: 1px solid #EEEEEE;
    }

    .applyCourses {
        background: $colorWhite;
        padding: 100px 0 50px 0;
        text-align: right;
        margin: -6vh 0 0 0;
        position: relative;
        z-index: 9;
    }

    .CourseFind a {
        font-size: $fontsize13;
    }

    .crseTitle {
        padding: 0px 0 25px 0;
    }

    .StyleForSlickArrowsBottom .slick-prev, .StyleForSlickArrowsBottom .slick-next {
        left: 50px;
        top: auto;
        bottom: 30px;
    }

    .StyleForSlickArrowsBottom .slick-prev {
        left: 0px;
    }

    .StyleForSlickArrowsTop .slick-prev, .StyleForSlickArrowsTop .slick-next {
        right: 7px;
        top: -13%;
    }

    .StyleForSlickArrowsTop .slick-prev {
        right: 7%;
        left: auto;
    }

    .BtnBlue {
        border: 1px solid $colorBlue;
        color: $colorBlue;
    }

    .BtnRed {
        background: $colorRed;
        border: 1px solid transparent;
        color: $colorWhite;
    }

    .BtnRed:hover {
        border: 1px solid $colorRed;
        color: $colorRed;
    }

    .HomeCoursePanel {
        padding: 50px 0 0 0;
    }

    .HomeCourseBg {
        background: #F7F7F7 url(../img/home/pattern-bg.jpg) no-repeat;
        background-position: bottom;
    }

    .HomeCourseBg:after {
        content: '';
        background: url(../img/home/backgound-logo-image.png) no-repeat;
        position: absolute;
        background-position: center center;
        width: 100%;
        height: 100%;
        top: -20%;
        background-size: 45%;
        left: 10%;
    }

    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorBlue !important;
        margin: 10px 0 0 0;
        display: inline-block;
    }
    /**Stories***/
    .storiesPanStyle {
        padding: 35px 7px;
    }

    .StoriesContext {
        background: $colorWhite;
        padding: 2vh 3vh 2vh 3vh;
        height: 245px;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        top: -60px;
        left: 6.3vw;
        width: 21vw;
        box-shadow: 0 5px 5px #ccc;
    }

    .StoriesContext h3 {
        font-size: $fontsize16;
    }

    .StoriesContext h2 {
        font-size: $fontsize20;
    }

    .StoriesContext a {
        text-decoration: underline;
        font-size: $fontsize13;
        color: $colorBlue;
    }

    .StoriesContext p {
        font-size: $fontsize14;
        padding: 15px 0 20px 0;
    }

    .storiesPanStyle img {
        width: 21vw;
    }

    .StoryTitleStrip {
        background: $colorOrange;
    }

    .StoryTitleStrip p {
        position: absolute;
        top: -23%;
        font-size: $fontsize34;
        font-weight: 800;
    }

    .StoryTitleStrip {
        background: $colorOrange;
        width: 27.4vw;
        text-align: center;
        position: relative;
        height: 15vh;
    }

    .StoryTitleStrip h2 {
        font-size: $fontsize70;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .Studentstories {
        margin: 50px 0 0 0;
    }

    .link_list {
        padding: 3vh 0px 4.5vh 0;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }

    .HCBlk span {
        position: relative;
        top: -10px;
    }

    .HCBlk {
        padding: 0 48px;
    }

    .HC_row {
        margin: -30px -48px 0 -48px;
        padding: 0 0 37vh 6.2vw;
    }

    .HC_List {
        min-height: 12vmax;
    }

    .HC_List p {
        line-height: 22px;
    }
    /**Certification*/
    .CertifcationBg {
        background: url(../img/home/pattern-bg.jpg);
        background-size: cover;
    }

    .CrtInner {
        margin: -25vh 0 0 0;
        padding: 0 0 30px 0;
    }

    .StripforTwoContext {
        position: relative;
        top: -50px;
        background: $colorOrange;
        height: 15vh;
        width: 30vw;
    }

    .StripforTwoContext h2 {
        margin: 0 -10vh -4vh 0;
        font-size: $fontsize40;
    }
    /**Award*/
    .AwardContext {
        background: $colorWhite;
        padding: 3vh 6vh 3vh 6vh;
        height: 140px;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        top: -60px;
        left: 2.2vw;
        width: 25.8vw;
        box-shadow: 0 5px 5px #ccc;
    }

    .AwardContext p {
        line-height: 24px;
    }

    .DarkGrayTitle {
        color: $colorDarkGray;
        font-size: $fontsize100;
        position: relative;
        top: -1vh;
        margin: 0 0 20px 0;
    }

    .AwardSectionIner {
        padding: 50px 0 0 0;
    }

    .AwardSectionIner h2 {
        left: 1vw;
    }

    .ForAwardCarouselStyle {
        margin: -14.5vh 0 0 0;
    }

    .ResearchContext p {
        padding: 40px 0 0 0;
        line-height: 24px;
    }

    .ResearchPanel {
        margin: 60px 0 0 0;
    }

    .ResearchSlick {
        padding: 20px 0 65px 0;
    }

    .ResearchLogoBanner:after {
        background: url(../img/home/backgound-logo-image.png) no-repeat;
        content: '';
        position: absolute;
        top: 25%;
        right: 100px;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background-position: right;
        width: 100%;
        background-size: 45%;
    }
    /**StudentAchievment*/
    .WhiteBg {
        background: url(../img/home/white-bg-pattern.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .EventBg {
        margin: -85px 0 0 0;
    }

    .studenAchieveBanner:before {
        background: url(../img/home/backgound-logo-image.png) no-repeat;
        background-position: left;
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: -22%;
        background-size: 100%;
        z-index: 0;
    }

    .SectionLogoBanner:before {
        content: '';
        background: url(../img/home/backgound-logo-image.png) no-repeat;
        background-size: 50%;
        position: absolute;
        top: 70px;
        left: 50px;
        width: 100%;
        height: 100%;
    }

    .AchieveInner {
        padding: 30vh 0 3vh 0;
    }

    .AchieveTitle p {
        line-height: 10px;
    }

    .AchieveContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .AchieveTitleBlock p {
        position: relative;
        top: 10px;
    }

    .AchieveTitleBlock h3 {
        margin: 0 0 20px 0;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .AchieveContextInn {
        background: $colorOrange;
        padding: 1.7vh 3vw 1.7vh 2vw;
    }

    .AchieveContextInn p {
        font-size: $fontsize20;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .noPadding {
        padding: 0px;
    }
    /**Events***/
    .Event_Inner h3 {
        padding: 4.6vh 0;
    }

    .eventContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .EventContStyle {
        background: $colorBlue;
        padding: 5vh 3vw 5vh 2vw;
        color: $colorWhite;
    }

    .Events_Impact_Panel {
        padding: 180px 0px 40px 6.2vw;
        margin: 0 -48px;
    }

    .HomeEventImg {
        padding: 0 100px 0 0;
    }

    .Ev_Im_List {
        padding: 0 48px;
    }

    .EventContStyleForHomeBlk {
        padding: 5vh 1vw 5vh 2vw;
    }

    .RotateTitlePosition {
        transform: rotate(270deg);
        position: absolute;
        z-index: 9;
        padding: 0px !important;
        width: 100%;
        height: 100%;
        bottom: 120px;
        left: 0px;
    }

    .eventContextForHome {
        padding: 0 0 0 7vw;
    }

    .PadSpacing {
        padding: 3vh 0px 4.5vh 9vw;
    }
    /**Helpline Chat*/
    .helplineChatInner {
        position: absolute;
        top: 35%;
        right: 3%;
        color: $colorWhite;
    }

    .helplineChatInner a span {
        display: block;
        padding: 5px 0 0 0;
    }

    .helplineChatInner a img {
        width: 35px;
    }

    .helplineChatInner a {
        color: $colorWhite;
        display: block;
        margin: 0 0 20px 0;
        font-size: 0.95vw;
        text-align: center;
    }
}


