@media (max-width:767px) {
    .aboutUs {

        .BannerSection {
            .DownArrow {
                text-align: right;

                a {
                    .downArrowIcon {
                        width: 30px;
                    }
                }
            }

            .BannerStripContext {
                left: 0px;

                p {
                    height: 54vw;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 9;
                    -webkit-box-orient: vertical;
                }

                .fontExBold {
                    display: none;
                }
            }
        }

        .breadcrumbPanel {
            bottom: 140px;
            z-index: 99;
            left: 10px;

            .breadcrumb {
                &.breadcrumbCustom {
                    li {
                        font-size: 13px;
                    }
                }
            }
        }

        .BannerImg {
            img {
                width: 100%;
            }
        }

        .section-1 {
            padding-top: 28px;
            padding-bottom: 0px;

            .title1 {
                font-size: 60px;
            }

            .title2 {
                font-size: 30px;
                margin-top: -25px;
                padding-left: 0px;
                position: relative;
                z-index: 1;
            }
        }

        .plr100 {
            padding: 0 15px;
        }

        .section-4 {
            padding-top: 15px;

            .inter-intern {
                padding: 100px 0px;

                .students-slide {
                    .student {
                        .profile-wrapper {
                            .photo {
                                margin-top: -25vw;
                            }

                            .profile {
                                padding-left: 5px;

                                h2 {
                                    height: inherit;
                                    font-size: 14px;
                                }

                                h3 {
                                    height: inherit;
                                    font-size: 12px;
                                }
                            }
                        }

                        .details {
                            padding-top: 30px;

                            p, a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .slick-prev, .slick-next {
                top: 105%;
                height: 10vw;
                width: 10vw;
                padding: 1vw;
            }

            .slick-prev {
                left: 38%;
            }

            .slick-next {
                left: 52%;
            }
        }

        .section-5 {
            padding-bottom: 50px;

            .header-top {
                .Orange-Strip {
                    height: 70px;
                    width: 80%;
                    align-items: center !important;

                    .titleh3 {
                        font-size: 32px;
                        font-weight: 900;
                        padding-left: 20px;
                    }
                }
            }

            .wrapper-75 {
                width: calc(100% - 30px);

                .link-toggle {
                    margin-top: -30px;

                    a {
                        font-size: 12px;
                    }
                }

                .accord-wrapper {
                    padding-top: 0px;

                    .AccordionStyle {
                        margin-top: 15px;
                    }

                    .col-md-4 {
                        margin-bottom: 5vw;
                    }

                    .card-body.cardContext {
                        padding: 15px;
                        padding-bottom: 10px;
                    }

                    .CardHeaderPanel > a {
                        font-size: 12px;
                        font-weight: 500;
                        padding: 10px 15px;

                        &:after {
                            font-size: 14px;
                            right: 15px;
                            top: 8px;
                        }
                    }

                    .cardContext p {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.5em;
                    }

                    .block {
                        padding-top: 30px;
                    }

                    .title {
                        padding: 15px 0px;
                        padding-bottom: 0px;
                        color: #00448B;

                        h3 {
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }

                    .position {
                        font-size: 14px;
                        // font-weight: 600;
                    }

                    .person {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    .designation {
                        font-size: 12px;
                        font-weight: 600;
                        color: #00448B;
                        padding-top: 0;
                    }
                }
            }
        }
    }
    }

//tab portiate
@media (min-width:768px) and (max-width:991px) {
    .aboutUs {
        .plr100 {
            padding: 0 15px;
        }

        .Orange-Strip {
            height: 12vw;

            .title {
                font-size: 4vw;
            }
        }

        .breadcrumb.breadcrumbCustom li {
            font-size: 1.5vw;
        }

        .BannerSection {
            .BannerStripContext {
                padding: 20px;

                .fontExBold {
                    left: 2vw;
                }

                .StripContent {
                    padding: 15px 0;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 10;
                    -webkit-box-orient: vertical;
                    max-height: 25vw;
                }
            }

            .BannerImg {
                img {
                    width: 85vw;
                }
            }
        }

        .section-1 {
            padding-bottom: 0px;

            .title1 {
                margin-top: -5px;
                letter-spacing: 0px;
            }

            .title2 {
                margin-top: -20px;
                padding-left: 8vw;
            }
        }

        .section-4 {
            .inter-intern {
                // padding-top: 100px;
                .students-slide {
                    .student {
                        .profile-wrapper {
                            .photo {
                                margin-top: -5vw;
                            }

                            .profile {
                                h2 {
                                    font-size: 2vw;
                                }

                                h3 {
                                    font-size: 1.5vw;
                                }
                            }
                        }

                        .details {
                            p, a {
                                font-size: 1.5vw;
                                padding-bottom: 15px;
                            }
                        }
                    }
                }
            }

            .slick-prev, .slick-next {
                top: 115%;
                height: 5vw;
                width: 5vw;
                padding: 1vw;
            }

            .slick-prev {
                left: 42%;
            }

            .slick-next {
                left: 52%;
            }
        }

        .section-5 {
            .link-toggle {
                margin-bottom: 5px;
            }

            .accord-wrapper {
                padding-top: 30px;

                .CardHeaderPanel > a {
                    font-size: 1.8vw;
                }

                .cardContext {
                    p {
                        font-size: 1.5vw;
                        line-height: 2vw;
                    }
                }
            }
        }
    }
}

//tab lan to desk
@media (min-width: 1024px) {
    .student{

    .says {
        height: 7.5vw;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    }
}
//tab landscape
@media (max-width: 1199px) and (min-width: 992px){
    .aboutUs {
        .banner {
            .BannerStripContext {
                padding: 30px;

                 .fontExBold {
                    left: 3vw;
                }

                .StripContent {
                    padding-top: 2vw;
                }
            }
        }
    }

}
@media (min-width:1800px) and (max-width:1920px) {
    .aboutUs {
      .BannerStripContext .fontExBold {
            left: 4vw;
        }
    }
}
@media (min-width:2000px) and (max-width:3000px) {
    .aboutUs {
        .BannerStripContext .fontExBold {
            left: 4vw;
        }
    }
}