@import "_mixin";
@media (max-width:767px) {
    /**Common***/
    .plr20 {
        padding: 0px;
    }
    .HomeCoursePanel  .plr100 {
        padding: 0 !important;
    }
    .Yellowstripbgfull:before {
        display: none;
    }
    .plr100 {
        padding: 0 0;
    }
    .titleMedium {
        font-size: 26px;
    }
    .hideOnMobile {
        display: none;
    }
    .ShowOnMobile {
        display: block !important;
    }
    .breadcrumbPanel {
        position: absolute;
        left: 20px;
        bottom: 130px;
        z-index:99999;
    }

    .breadcrumb.breadcrumbCustom li {
        font-size: 13px;
        font-weight: 500;
    }

    /**Common***/
    .applicants {
        /***Stories**/
        .ParentStoriesPanel {
            padding: 30px 15px 15px 15px;
        }


        .help .submit {
            padding: 0 0 10px 0 !important;
        }

        .help {
            padding: 10px 0 0 0 !important;
        }

        .form-group {
            margin-bottom: 10px;
        }

        div#financialSection {
            padding: 0 0 25px 0;
        }

        .Event_Inner .link_list.text-right {
            top: 25px;
        }

        .Studentstories .link_list {
            position: static;
        }

        .titleh4 {
            font-size: 16px;
        }

        .DisclaimerTExt.DisclaimerTExtTop {
            padding: 0 0 20px 0 !important;
        }

        .knowMoreStyle {
            font-size: 9px;
        }

        .link_list a {
            font-size: 11px;
        }

        .ParentStoriesBG {
            background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
            background-position: 0 -200px;
            background-size: cover;
        }

        .StoryTitleStrip {
            width: 280px;
            padding: 0 15px;
            height: auto;
        }

        .storiesPannInn {
            padding: 30px 0 0 0;
            margin: 0;
        }

        .storiesPanStyle {
            padding: 0px !important;
        }

        .storiesPanStyle img {
            width: 230px;
        }

        .StoryTitleStrip p {
            font-size: 30px;
            top: -38%;
        }

        .StoryTitleStrip h2 {
            font-size: 50px;
        }

        .StoriesContext {
            left: 40%;
            width: 200px;
            height: 175px;
            padding: 10px 15px;
        }

        .StoriesContext h3 {
            font-weight: 500;
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext h2 {
            @include lineClamp($font-size: 18px, $line-height: 1.3, $lines-to-show: 1);
            margin: 0 0 10px 0;
        }

        .StoriesContext p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 4);
            margin: 0 0 10px 0;
            height: 65px;
        }

        .StoriesContext a {
            font-size: 11px;
        }

        .titleh3 {
            font-size: 30px;
        }


        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            margin-top: 10px;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: 0px;
            left: auto;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 60px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: auto;
            right: 0;
            bottom: 105px;
        }
        /**Industry UPES*/
        .industryPanel {
            padding: 0px 15px 0 15px;
            margin: 70px 0 0 0;
        }

        .industryPanel .link_list {
            position: static;
        }

        .IndContext {
            width: 80%;
        }

        .industryStrip {
            height: 13vh;
        }

        .industryStrip h2 {
            font-size: 28px;
            margin: 0;
            position: absolute;
            left: 40px;
        }

        .col-sm-4.Ind_inn {
            padding: 15px 0;
        }

        .Numb_list {
            font-size: 30px;
            width: 60%;
        }

        .Num_Title {
            font-size: 14px;
            padding: 0;
            width: 40%;
        }

        .industry_blockList {
            padding: 0px;
            margin: 0;
        }

        .industryPanel .link_list {
            text-align: center;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev, .ind_CompanyList.StyleForSlickArrows .slick-next {
            bottom: -50px;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev {
            left: 40%;
            right: auto;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-next {
            right: 36%;
        }

        .ind_CompanyList {
            padding: 0 18px;
            margin: 0 0 50px 0;
        }

        .industryPanel .link_list a {
            font-size: 11px;
        }
        /**EVents*/
        .Events_Impact_Panel {
            padding: 130px 0px 40px 0px;
            margin: 0 0px;
        }

        .EventPanelStyle {
            padding: 0 7px;
        }

        .EventContStyle {
            height: 140px
        }

        .EventContStyle h4 {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 1);
        }

        .EventPara {
            height: 75px;
        }

        .EventPara p {
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 3);
            margin: 5px 0;
        }

        .RotateTitlePosition {
            font-size: 24px;
            left: 30px;
            bottom: 85px;
            transform: rotate(0deg);
            position: static;
            padding: 10px 0 20px 0 !important;
            width: 100%;
        }

        .HomeCourseBg {
            padding: 0px;
        }

        .Ev_Im_List {
            padding: 0 15px;
        }

        .HomeEventImg {
            padding: 0;
        }

        .HomeEventCarousel.StyleForSlickArrows .slick-prev {
            bottom: 45px;
        }

        .HomeEventCarousel.StyleForSlickArrows .slick-next {
            bottom: 0px;
        }

        .HomeEventCarousel.StyleForSlickArrowsBottom .slick-prev, .HomeEventCarousel.StyleForSlickArrowsBottom .slick-next {
            left: -10px;
        }
        /**BAnner*/
        .BannerImg {
            img {
                width: 100%;
            }
        }

        .plr100vw {
            padding: 0 15px;
        }

        .banner {
            margin-bottom: 60px !important;
        }

        .color-blue {
            font-size: 10px !important;
        }

        .HomeCoursePanel {
            padding-top: 0;
            margin: 70px 0 0 0;
        }

        .accord-wrapper {
            .AccordionStyle .card-header {
            }

            .cardContext {
                p {
                    font-size: 12px;
                }

                ul {
                    font-size: 12px;
                }
            }
        }
        /**Courses**/
        .CoursesPanel {
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            margin: 0;
            background-size: cover;
            background-position: top;
        }

        .applyCourses .plr100 {
            padding: 0;
        }

        .coursesfor p {
            @include lineClamp($font-size: 10px, $line-height: 1.3, $lines-to-show: 2);
        }

        .CL_bg {
            min-height: 380px;
        }

        .CoursesList {
            margin: 0;
            padding: 30px 15px;
        }

        .CL_Block {
            padding: 0 0 0 15px;
            width: 75%;
            overflow: hidden;
        }

        .CoursesList .slick-list {
            padding: 0 15px;
        }

        div#coursesAspiring {
            padding: 0;
        }

        .TextOverlap {
            position: relative;
            font-size: 55px;
            padding: 0 15px;
            height: auto;
            top: -15px;
            left: 0;
        }

        .crseTitle {
            padding: 0 15px;
            font-size: 20px;
            margin: -12px 0 0 0;
        }

        .applyCourses {
            background: #f7f7f7;
        }

        .courseIcon {
            width: 45px;
        }

        .CLK_blk {
            padding: 0 0 0 15px;
            width: 75%;
            overflow: hidden;
        }

        .coursesfor a {
            position: static;
            font-size: 10px;
        }

        .courseTitle {
            height: 65px;
        }

        .clblk_Top h2 {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 2);
        }

        .courseTitle p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show:1);
        }

        .clblk_Top {
            display: flex;
            border-bottom: none;
            padding: 15px 30px 15px 20px;
            min-height: 180px;
        }

        .course_iconStyle {
            min-height: inherit;
            width: 25%;
        }

        .CheckBlk a {
            height: 35px;
        }

        .CheckBlk {
            padding: 5.5vw 40px;
        }

        .forApplication span {
            display: inline-block;
            @include lineClamp($font-size: 10px, $line-height: 1.3, $lines-to-show: 1);
        }

        .forApplication p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 1);
        }

        .CoursesList.StyleForSlickArrows .slick-prev, .CoursesList.StyleForSlickArrows .slick-next {
            bottom: -30px;
        }

        .CoursesList.StyleForSlickArrows .slick-prev {
            left: 40%;
            right: auto;
        }

        .CoursesList.StyleForSlickArrows .slick-next {
            right: auto;
            left: 53%;
        }

        .coursesfor {
            height: 80px;
        }

        .forApplication {
            min-height: 85px;
            padding: 20px 20px;
            border-top: 1px solid #EEEEEE;
        }

        .Visit_list a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 11px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .Visit_list {
            margin: 0 0 10px 0;
        }

        .ApplyNow a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 11px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .applyCourses .d-flex {
            display: block !important;
            text-align: center;
        }

        .forApplication {
            p, span {
                font-size: 12px;
            }
        }

        .CheckBlk {
            text-align: center;

            a {
                font-size: 10px;
                height: 25px;
                width: auto !important;
                padding: 2vw 5vw !important;
                display: inline !important;
            }
        }

        .plr100 {
            padding: 0 15px;
        }

        .BannerSection {
            .DownArrow {
                text-align: right;

                a {
                    .downArrowIcon {
                        width: 30px;
                    }
                }
            }

            .BannerStripContext {
                left: 0px;
                z-index: 999;
                box-shadow: 0px 5px 5px #dddddd8c;

                .StripContent {
                    padding-right: 0px;

                    p {
                        font-size: 22px;
                    }
                }

                .fontExBold {
                    display: none;
                }
            }
        }

        .TextOverlap {
            left: -5px;
            top: -10%;
            font-size: 48px;
        }

        .CoursesPanel {
            margin-top: 0px;
        }

        .StyleForSlickArrows {
            .slick-prev,
            .slick-next {
                top: 100%;
                height: 12px;
                width: 12px;
                padding: 12px;
                margin-bottom: 30px;
            }

            .slick-prev {
                left: 42%;
            }

            .slick-next {
                left: 52%;
            }
        }
        // #CoursesCarousel{
        //     display: flex;
        //     .CL_Block {
        //         width: 20% !important;
        //     }
        // }
        .applyCourses {
            padding-bottom: 15px;

            .d-flex {
                display: block !important;
                text-align: center;

                .Visit_list,
                .ApplyNow {
                    a {
                        font-size: 9px;
                        width: 70%;
                        height: 28px;
                        padding: 1.5vw 5vw !important;
                        margin: 5px 0px;
                    }
                }
            }
        }

        .slick-dots {
            display: none !important;
        }

        .section-2 {
            padding-bottom: 80px;

            .wrapper-75 {
                width: calc(100% - 30px);
            }

            .title1 {
                font-size: 68px;
            }

            .title2 {
                font-size: 22px;
                margin-top: -5px;
            }

            .title3 {
                font-size: 18px;
            }

            .admission-table {
                margin-top: 15px;

                .header {
                    padding: 10px;

                    h2 {
                        font-size: 10px;
                    }
                }

                .value {
                    padding: 10px;

                    p {
                        font-size: 10px;
                    }
                }
            }

            .fullwidth {
                .d-flex {
                    display: block !important;
                    text-align: center;

                    .Visit_list,
                    .ApplyNow {
                        a {
                            font-size: 10px;
                            width: 70%;
                            height: 28px;
                            padding: 1.5vw 5vw !important;
                            margin: 10px auto;
                        }
                    }
                }
            }
        }

        .section-3 {
            .header-top {
                padding-bottom: 15px;
            }

            .title {
                .Orange-Strip {
                    height: 20vw;
                    margin-top: -40px;

                    &:before {
                        width: 80%;
                    }

                    h3 {
                        font-size: 7.5vw;
                        top: 15px;
                        position: relative;
                        padding-left: 15px;
                    }
                }
            }

            .wrapper-75 {
                width: calc(100% - 60px);

                .applicantsForm {
                    padding-left: 0px;
                }

                .title {
                    font-size: 16px;
                }

                .col-md-4,
                .col-md-8 {
                    padding: 0;
                }
            }

            .help {
                .select-wrapper {
                    &:before {
                        font-size: 12px;
                    }
                }

                padding-top: 30px;

                label {
                    margin-bottom: 0;
                    font-size: 14px;

                    &.radio-inline {
                        display: flex;
                    }
                }

                select {
                    margin-bottom: 5px;
                    height: 30px;
                    font-size: 12px;
                }

                .submit {
                    text-align: center;
                    padding-bottom: 30px;

                    a, button {
                        font-size: 10px;
                        width: auto;
                        height: 28px;
                        padding: 1.5vw 5vw !important;
                        margin: 10px 0px;
                    }
                }
            }

            .title {
                h3 {
                    font-size: 14px;
                }
            }

            #Financial-affairs-AccordionPanel {
                margin-top: 15px;

                .cardContext {
                    padding: 15px;
                    font-size: 12px;

                    ul {
                        font-size: 12px;
                    }
                }

                p {
                    font-size: 12px;
                }
            }

            .accord-wrapper {
                .CardHeaderPanel {
                    a {
                        font-size: 12px;
                        padding: 10px;
                        padding-right: 20px;

                        &:after {
                            font-size: 12px;
                            top: 6px;
                            right: 12px;
                        }
                    }
                }
            }
        }

        .section-4 {
            padding-top: 20px;
            padding-bottom: 50px;

            .wrapper-75 {
                width: calc(100% - 30px);
            }

            .header-top {
                padding-bottom: 10px;

                .titleh3 {
                    font-size: 22px;
                }
            }

            .accord-wrapper {
                .link-toggle {
                    margin-top: -45px;
                    font-size: 12px;

                    a {
                        position: relative;
                        z-index: 9;
                    }
                }

                .AccordionStyle {
                    margin-top: 15px;

                    h5 {
                        a {
                            padding: 5px 10px;
                            font-size: 12px;

                            &:after {
                                font-size: 12px;
                                top: 6px;
                                right: 12px;
                            }
                        }
                    }
                }
            }

            .contact {
                padding: 15px 0px;
                padding-top: 30px;

                .header {
                    h2 {
                        font-size: 12px;
                    }
                }

                .details {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        .section-5 {
            margin-top: 50px;
            padding-bottom: 50px;

            .wrapper-75 {
                width: calc(100% - 30px);
            }

            .title {
                .Orange-Strip {
                    height: 20vw;
                    margin-top: -50px;

                    &:before {
                        width: 80%;
                    }

                    h3 {
                        font-size: 24px;
                    }
                }
            }

            .link-toggle {
                margin-top: -45px;
                font-size: 12px;

                a {
                    position: relative;
                    z-index: 9;
                }
            }

            .AccordionStyle {
                margin-top: 15px;

                .cardContext {
                    padding: 15px;
                    font-size: 12px;

                    li {
                        font-size: 12px;
                    }
                }

                p {
                    font-size: 12px;
                }
            }

            .accord-wrapper {
                .CardHeaderPanel {
                    a {
                        font-size: 12px;
                        padding: 10px;
                        padding-right: 20px;

                        &:after {
                            font-size: 12px;
                            top: 6px;
                            right: 12px;
                        }
                    }
                }
            }
        }
    }
    @import '_commonResponsiveMobile';
}

@media (min-width:768px) and (max-width:991px) {
    .FooterPanel{
            .plr100 {
            padding: 0 20px !important;
            }
        }
    .FooterShowcasePanel {
        .plr100 {
            padding: 0 20px !important;
        }
    }
    .applicants {
        .plr100 {
            padding: 0 20px;
        }

        .BannerStripContext {
            padding: 0vh 0px 0vh 15px;
        }

        .link_list a {
            font-size: 1.4vw;
        }

        .plr100vw {
            padding: 0 20px;
        }

        .Orange-Strip {
            height: 12vw;
            position: relative;

            .title {
                padding-left: 15px;
            }
        }

        .wrapper-75 {
            width: 90vw;
        }
        /**Student Stories**/
        .StoryTitleStrip {
            width: 30vw;
            height: 10vw;
        }

        .Event_Inner .link_list.text-right {
            top: 5vw;
        }

        .Studentstories .link_list {
            top: 20px;
        }

        .StoryStyle button {
            display: none !important;
        }

        .StudentStoriesPanel {
            padding: 18vw 0 0 0;
        }

        .StoryTitleStrip p {
            top: -18%;
            font-size: 4.5vw;
        }

        .StoriesContext {
            width: 24vw;
            display: block;
            height: 20vw;
        }

        .StoriesContext h2 {
            @include lineClamp($font-size: 2vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext h3 {
            @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext p {
            @include lineClamp($font-size:1.5vw, $line-height: 1.3, $lines-to-show: 3);
            height: 7vw;
        }

        .StoriesContext a {
            font-size: 1.4vw;
        }

        .StoryTitleStrip h2 {
            font-size: 6vw;
        }

        .storiesPannInn.StyleForSlickArrows .slick-next {
            right: 7px;
            left: auto;
        }

        .storiesPannInn.StyleForSlickArrows .slick-prev {
            right: 50px;
            left: auto;
        }

        .storiesPannInn .StyleForSlickArrows .slick-prev, .storiesPannInn.StyleForSlickArrows .slick-next {
            top: 0;
        }
        /***EVents*/
        .HomeEventImg {
            padding: 0 20px 0 0;
        }

        .EventContStyle {
            height: 16vw;
        }

        .EventContStyle h4 {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .EventPara {
            height: 7vw;
        }

        .EventPara p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 3);
        }

        .RotateTitlePosition {
            bottom: 13vw;
            left: 2vw;
            font-size: 3.5vw;
        }

        .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-prev {
            left: 0px;
            bottom: 10px;
        }

        .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-next {
            bottom: 60px;
            left: 0;
        }

        .HomeEventCarousel.OneBlockCarousel {
            z-index: 9;
        }
        /**Courses**/
        .TextOverlap {
            left: -6%;
            top: -18%;
        }

        .checkBtnStyle {
            height: 4.4vw;
        }

        .CLK_blk a {
            font-size: 1.3vw;
        }

        .knowMoreStyle {
            font-size: 1.5vw;
        }


        .clblk_Top h2 {
            @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 2);
        }

        .coursesfor p {
            @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 2);
        }

        .courseTitle p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .coursesfor {
            height: 10vw;
        }

        .clblk_Top {
            padding: 2vw 2vw;
            min-height: 29vw;
        }

        .CheckBlk {
            padding: 2.5vw 20px;
        }

        .forApplication p {
            @include lineClamp($font-size: 1.3vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .forApplication {
            padding: 2vw 2vw;
        }

        .forApplication span {
            @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .CoursesPanel {
            margin: 0px 0 0 0;
        }

        .CoursesPanel .StyleForSlickArrowsTop .slick-prev, .CoursesPanel .StyleForSlickArrowsTop .slick-next {
            right: 7px;
            top: -12%;
        }

        .CoursesPanel .StyleForSlickArrowsTop .slick-prev {
            right: 60px;
            left: auto;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }

        .CourseFind a {
            font-size: 1.5vw;
            height: 35px;
        }

        .Visit_list a {
            width: auto;
            padding: 0 10px !important;
            display: flex;
            align-items: center;
        }

        .ApplyNow a {
            width: 16vw;
            height: 35px;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .BannerImg img {
            width: 83vw;
        }

        .BannerSection {
            margin-bottom: 75px !important;

            .BannerStripContext {
                bottom: -60px;
                padding: 0vh 0px 0vh 15px;
            }

            .DownArrow {
                bottom: -15%;
                left: -3%;

                .downArrowIcon {
                    width: 3.5vw;
                }
            }

            .breadcrumbPanel {
                bottom: -15%;
                left: 50%;
            }

            .breadcrumb-item {
                font-size: 1.5vw;
            }
        }

        .HomeCoursePanel {
            overflow-x: hidden;
            padding: 50px 0 0 0;

            .TextOverlap {
                left: -5%;
                top: -15%;
            }

            .slick-prev {
                width: 30px;
                height: 30px;
                right: 15%;
            }

            .slick-next {
                width: 30px;
                height: 30px;
                right: 5%;
            }
        }

        .section-2 {

            .title1 {
                font-size: 68px;
            }

            .title2 {
                font-size: 22px;
                margin-top: -5px;
            }

            .title3 {
                font-size: 18px;
            }

            .admission-table {
                margin-top: 15px;

                .header {
                    padding: 10px;
                    min-height: 50px;

                    h2 {
                        font-size: 16px;
                    }
                }

                .value {
                    padding: 10px;

                    p {
                        font-size: 14px;
                    }
                }
            }

            .fullwidth {
                .d-flex {
                    //  display: block !important;
                    text-align: center;
                    justify-content: flex-start;

                    .Visit_list,
                    .ApplyNow {
                        a {
                            font-size: 12px;
                            width: 200px;
                            height: 32px;
                            margin: 5px;
                            padding: 0.8vw 2vw !important;
                        }
                    }
                }
            }
        }

        .section-3 {

            .Orange-Strip {
                margin-top: -40px;
            }

            .wrapper-75 {

                .title {
                    font-size: 2vw;
                }
            }

            .help {
                padding-top: 40px;

                label {
                    font-size: 1.8vw;
                    padding-bottom: 0;
                }

                select {
                    height: 35px;
                    font-size: 1.5vw;
                    margin-bottom: 10px;
                }

                .submit {
                    a {
                        font-size: 1.4vw;
                    }

                    #applicants-submit {
                        font-size: 1.2vw;
                        height: 32px;
                        padding: 0 4vw;
                    }
                }
            }
        }

        .section-4 {
            .contact {
                font-size: 1.8vw;
            }
        }

        .accord-wrapper {
            .CardHeaderPanel > a {
                font-size: 1.5vw;
                padding: 1.8vw 1.8302vw;
                padding-right: 30px;
            }

            .cardContext {
                p {
                    font-size: 12px;
                }

                li {
                    font-size: 12px;
                }
            }
        }
    }

    }

@media (min-width:991px) and (max-width:1365px) {
    .applicants {
        .clblk_Top {
            padding: 1vw;
        }

        .BannerStripContext {
            padding: 0vh 0px 0vh 15px;
        }

        .TextOverlap {
            left: -7%;
        }

        .plr100 {
            padding: 0 50px;
        }
        /***Courses*/
        .CheckBlk {
            padding: 1.5vw 20px;
        }
    }
}
@media (min-width:300px) and (max-width:350px) {
    .applicants {
        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: 10%;
            right: auto;
            bottom: 105px;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: auto;
            left: 10%;
        }
    }
}
@media (min-width:1800px) and (max-width:1920px) {
    .applicants {
    .TextOverlap {
            left: -7%;
        }
    }
}

@media (min-width:2000px) and (max-width:3000px) {
    .applicants {
        .TextOverlap {
            left: -7%;
        }
    }
}