@media (max-width:767px){
        /**Common***/
        .plr20 {
            padding: 0px;
        }
        .Yellowstripbgfull:before{
            display:none;
        }
        .plr100 {
            padding: 0 0;
        }
        .titleMedium {
            font-size: 26px;
        }
        .hideOnMobile{
            display:none;
        }
        .ShowOnMobile {
            display: block !important;
        }


    .StyleForSlickArrows .slick-next {
        right: 7px;
        left: auto;
        background: url(../src/img/home/right-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        width: 2.6vw;
        height: 5.4vh;
        top: 35%;
        background-size: cover !important;
    }

    .StyleForSlickArrows .slick-prev {
        left: 7px;
        background: url(../src/img/home/left-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }


        /**Common***/
        
    .BannerSection {
        .BannerStripContext {
            overflow: hidden;
            width: 80%;
            bottom: -70px;
            padding: 15px;
            height: 240px;
            p {
                font-size: 16px;
            }
        }
    }
}






















