﻿@import "_variable";
@import "_mixin";
@media (min-width:2000px) and (max-width:3000px) {
    .GenerTemplate {
        .cmpinn img {
            width: 100%;
        }

        .guestPanelStyle img {
            width: 100%;
        }

        .EventPanelStyle img {
            width: 100%;
        }
    }
}
@media (min-width:1800px) and (max-width:1920px) {
    .GenerTemplate {
        .Ind_inn {
            padding: 0 25px;
        }

        .industry_blockList {
            margin: 0 -25px;
        }
    }
}
@media (min-width:1600px) and (max-width:1800px) {
    .GenerTemplate {
        .SplOverlapContext {
            height: auto;
        }

        .SLContext p {
            -webkit-line-clamp: 3;
        }

        .homeIndicatorStyle {
            bottom: -19%;
        }

    }
}
@media (min-width:1441px) and (max-width:1599px) {
    .GenerTemplate {
        .st_inn h3 {
            padding: 20px 0 15px 0;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 35px;
            height: 35px;
        }

        .coursesfor {
            height: 21.5vh;
        }

        .clblk_Top h2 {
            line-height: 3.5vh;
        }

        .course_iconStyle {
            min-height: 15vh;
        }

        .courseTitle {
            min-height: 11vh;
        }
    }
}

@media (min-width:1366px) and (max-width:1440px) {
    .ParentPanel {
        .st_inn h3 {
            padding: 20px 0 15px 0;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 35px;
            height: 35px;
        }

        .coursesfor {
            height: 21.5vh;
        }

        .courseTitle {
            min-height: 11vh;
        }

        .clblk_Top h2 {
            line-height: 3vh;
        }
    }
}

@media (min-width:1200px) and (max-width:1365px) {
    .ParentPanel {
        .clblk_Top {
            padding: 2vh 25px 2vh 20px;
        }

        .coursesfor {
            height: 20vh;
        }

        .CheckBlk {
            padding: 3.5vh 20px;
        }

        .courseTitle {
            min-height: 12vh;
        }

        .clblk_Top h2 {
            line-height: 20px;
        }

        .st_inn h3 {
            padding: 20px 0 15px 0;
        }
    }
}

@media (min-width:1025px) and (max-width:1199px) {

}

@media (min-width:992px) and (max-width:1199px) {
    .plr100 {
        padding: 0 50px;
    }

    .paraLittle {
        font-size: 1.1vw;
    }

    .titleh4 {
        font-size: 1.6vw;
    }

    .paraSmall {
        font-size: 1.5vw;
    }
    .titleh4 {
        font-size: 1.8vw;
    }

    .GenerTemplate {
        .newsListInner {
            height: 12.5vw;
            }

            .PressReleasePanel {
                .pressRow {
                    .readmore {
                        width: 13vw;
                        height: 3vw;
                        font-size: 1.3vw;
                    }

                    .newsBlock {
                        span {
                            font-size: 1.3vw;
                        }

                        p {
                            font-size: 1.3vw;
                        }
                    }

                    .prList {
                        ul {
                            li {
                                a {
                                    font-size: 1.4vw;
                                }
                            }
                        }
                    }
                }
            }

            .Filters {
                .select_filter {
                    width: 15vw;

                    &:after {
                        font-size: 2vw;
                    }
                }

                .FilterSelectStyle {
                    width: 100%;
                    height: 3.4vw;
                    font-size: 1.5vw;
                }
            }
            /***Banner****/
            .BannerImg img {
                width: 85vw;
            }

            .BannerStripContext {
                padding: 0vh 0px 0vh 40px;
            }

            .TieupContext {
                padding: 0 2.5vw 0 0;
            }

            .breadcrumb.breadcrumbCustom li {
                font-size: 1.5vw;
            }

            .BannerStripContext h1 {
                width: 95vw;
            }

            .BannerStripContext p {
                font-size: 2.5vw;
            }
            /***General TEmplate One*/
            .panelRow p {
                font-size: 1.4vw;
                line-height: inherit;
                padding: 10px 0;
            }

            .panelRow .row {
                margin: 0;
            }
            /**General Responsive Two*/
            .SLContext p {
                min-height: 14vh;
                font-size: 1.4vw;
            }

            .StoriesContext p {
                height: 5vw;
            }

            .knowMoreStyle {
                font-size: 1.1vw;
            }
        }
    }

@media (min-width:768px) and (max-width:991px) {
    .plr100 {
        padding: 0 20px;
    }
    .plr20 {
        padding: 0 10px;
    }
    .paraSmall {
        font-size: 1.8vw;
    }
    .titleMedium {
        font-size: 3vw;
    }
    .paraLittle {
        font-size: 1.2vw;
    }
    .titleh4 {
        font-size: 2.2vw;
    }
    .GenerTemplate {
        .NewsPanel {
            .newsFilter {
                .newsFilterStyle {
                    width: 17.3vw;
                    height: 4vw;
                    font-size: 1.5vw;
                }
            }

            .NewsRow {
                margin: 0 -10px;

                .newList {
                    padding: 0 10px;
                    margin: 0 0 10px 0;
                }

                .newsListInner {
                    height: 21vw;

                    .newsImg {
                        img {
                            height: auto;
                        }
                    }

                    .newsContext {
                        p {
                            @include lineClamp($font-size: 1.7vw, $line-height: 1.3, $lines-to-show:3);
                            height: 7vw;
                        }
                    }
                }
            }
        }

        .PressReleasePanel {
            .pressRow {
                .readmore {
                    width: 14vw;
                    height: 4vw;
                    font-size: 1.5vw;
                }

                .newsBlock {
                    span {
                        font-size: 1.6vw;
                    }

                    p {
                        font-size: 1.6vw;
                    }
                }

                .prList {
                    ul {
                        li {
                            a {
                                font-size: 1.6vw;
                            }
                        }
                    }
                }
            }
        }

        .Filters {
            .select_filter {
                width: 20vw;

                &:after {
                    font-size: 2.2vw;
                }
            }

            .FilterSelectStyle {
                width: 100%;
                height: 4vw;
                font-size: 2vw;
            }
        }
        /***Banner****/
        .BannerImg img {
            width: 85vw;
        }

        .column div {
            font-size: 1.5vw;
        }

        .intro-text-85 p {
            font-size: 1.5vw;
        }

        .column div span {
            font-size: 1.5vw;
        }

        .LoadMore {
            width: 13vw;
            height: 4.5vw;
            font-size: 1.5vw;
        }

        .breadcrumbPanel {
            bottom: -38%;
        }

        .BannerStripContext {
            padding: 0vh 0px 0vh 15px;
            height: 15vw;
        }

        .BannerStripContext h1 {
            top: 4.5vw;
            width: 95vw;
        }

        .breadcrumb.breadcrumbCustom li {
            font-size: 1.5vw;
        }

        .BannerStripContext p {
            font-size: 2.5vw;
        }
        /***General TEmplate One*/
        .panelRow p {
            font-size: 1.6vw;
            line-height: inherit;
            padding: 10px 0;
        }

        .TiesUpPanel .link_list {
            right: 20px;
        }

        .panelRow .row {
            margin: 0;
        }
        /**General Template 2*/
        /**Student Achievements*/
        .AchieveInner {
            padding: 6vw 0 3vw 0;
        }

        .studenAchievPanel button {
            display: none;
        }

        .AchieveContextPAra {
            height: 9vw;
        }

        .AchieveContextInn {
            background: #FFCA08;
            height: 16vw;
        }

        .AchieveContextInn p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 4);
        }

        .link_list a {
            font-size: 1.5vw;
        }

        .knowMoreStyle {
            font-size: 1.5vw;
        }

        .AchieveContextInn {
            background: #FFCA08;
            min-height: 15vw;
            padding: 1.7vh 2vw 1.7vh 2vw;
        }
        /***Industry**/
        .industryStrip h2 {
            font-size: 3.5vw;
        }

        .TieupContext p {
            font-size: 2.2vw;
            color: #FFFFFF;
            -webkit-line-clamp: 3;
        }

        .TiesUpBg {
            height: 20vw;
            padding: 20px 10px;
        }

        .TieupContext {
            padding: 0 60px 0 0;
        }

        .TieUpPosition {
            margin: -20vw 0 0 0;
        }

        .StoryTitleStrip.StoryTitleStripForTieUp h2 {
            font-size: 4.4vw;
        }

        .StoryTitleStrip.StoryTitleStripForTieUp {
            width: 55vw;
            height: 35vw;
        }

        .IndContext h4 {
            padding: 0 0 0 2vw;
        }

        .industry_blockList {
            margin: 0 -20px;
            padding: 10vh 0;
        }

        .ind_CompanyList {
            padding: 0 40px 12px 40px;
        }

        .Ind_inn {
            padding: 0 20px;
        }
        /****Events***/
        .EventContStyle {
            height: 16vw;
        }

        .EventContStyle h4 {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .EventPara {
            height: 6.5vw;
        }

        .EventPara p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 3);
        }

        .Event_Inner .link_list {
            top: 2%;
        }

        .Event_Inner .CarouselforSlick button {
            display: none;
        }

        .EventContextInner {
            height: 15vw;
        }
        /**Student Stories**/
        .StoriesContext {
            width: 24vw;
            display: block;
            height: 20vw;
        }

        .FacultyBlockPanel .StoriesContext h2 {
            @include lineClamp($font-size: 2vw, $line-height: 1.3, $lines-to-show: 2);
            height: 6vw;
        }

        .FacultyBlockPanel .StoriesContext {
            height: 21vw;
        }

        .StoriesContext h2 {
            @include lineClamp($font-size: 2vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext h3 {
            @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext p {
            @include lineClamp($font-size:1.5vw, $line-height: 1.3, $lines-to-show: 3);
            height: 7vw;
        }

        .StoryTitleStrip {
            width: 30vw;
        }

        .StudentStoriesPanel {
            padding: 18vw 0 0 0;
        }

        .StoryTitleStrip p {
            top: -18%;
            font-size: 4.5vw;
        }

        .StoryTitleStrip h2 {
            font-size: 6vw;
        }

        .storiesPannInn.StyleForSlickArrows .slick-next {
            right: 7px;
            left: auto;
        }

        .storiesPannInn.StyleForSlickArrows .slick-prev {
            right: 50px;
            left: auto;
        }

        .storiesPannInn StyleForSlickArrows .slick-prev, .storiesPannInn.StyleForSlickArrows .slick-next {
            top: 0;
        }


        .StoriesContext a {
            font-size: 1.4vw;
        }
    }
    }

@media (max-width:767px) {
    /**Common***/
    .plr20 {
        padding: 0px;
    }
    .Yellowstripbgfull:before{
        display:none;
    }
    .plr100 {
        padding: 0 0;
    }
    .titleMedium {
        font-size: 26px;
    }
    .hideOnMobile{
        display:none;
    }
    .ShowOnMobile {
        display: block !important;
    }
    /**Common***/
    .GenerTemplate {
        .NewsPanel {
            padding: 5vw 0;

            .newsFilter {
                text-align: left;
                padding: 20px 0;
                display: flex;

                .newsFilterStyle {
                    width: 50%;
                    height: 40px;
                    font-size: 12px;
                    margin: 0 10px;
                }
            }

            .NewsRow {
                margin: 0 -10px;

                .newList {
                    padding: 0 10px;
                }

                .newsListInner {
                    height: auto;
                    margin: 0 0 10px 0;

                    .newsImg {

                        img {
                            height: auto;
                        }
                    }

                    .newsContext {
                        p {
                            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show:3);
                            height: 70px;
                        }
                    }
                }
            }
        }

        .PressReleasePanel {
            .pressRow {
                .hideformobile {
                    display: none;
                }

                .newsListForMobile {
                    display: block;
                    margin: 20px 0;
                }

                .readmore {
                    width: 115px;
                    height: 35px;
                    font-size: 13px;
                }

                .stylefornews {
                    border: 1px solid #E2E2E2;
                    border-radius: 5px;
                    font-size: 13px;
                    margin: 0 10px 0 0;
                    width: 120px;
                    height: 30px;
                    padding: 0 7px;
                    font-weight: 500;
                }

                .newsBlock {
                    h2 {
                        font-size: 15px;
                    }

                    span {
                        font-size: 12px;
                    }

                    p {
                        line-height: 24px;
                        font-size: 13px;
                    }
                }
            }
        }

        .Filters {
            display: flex;
            padding: 0 0 10px 0;

            .select_filter {
                width: 50%;

                &:after {
                    font-size: 20px;
                    top: 1px;
                }
            }

            .FilterSelectStyle {
                width: 100%;
                height: 35px;
                padding: 0 10px;
                font-size: 14px;
                margin: 0 10px 0 0;
            }
        }

        .row.panelRow .row {
            overflow-x: auto;
        }

        .column div {
            font-size: 12px;
        }

        .column div span {
            font-size: 12px;
        }

        .panelRow ul li {
            font-size: 14px;
            margin: 6px 0;
        }

        .LoadMore {
            width: 120px;
            height: 30px;
            font-size: 12px;
            margin: 0 0 20px 0;
        }

        .panelRow td {
            padding: 0 12px 0 0;
            width: 100% !important;
            font-size: 12px;
        }

        .panelRow table th {
            font-size: 12px;
        }

        .mlr {
            margin: 0;
        }

        .paraLittle {
            font-size: 10px;
        }

        .paraSmall {
            font-size: 12px;
        }

        .titleh3 {
            font-size: 26px;
        }

        .titleh4 {
            font-size: 16px;
        }

        .CoursesList .slick-list.draggable {
            overflow: hidden !important;
        }

        ul.slick-dots {
            display: none !important;
        }

        .row {
            margin: 0px !important;
        }
        /***Banner****/
        .BannerImg {
            width: 100%;
            float: none;
        }

        .BannerImg img {
            width: inherit;
        }

        .banner {
            z-index: 1;
        }

        .BannerStripContext p {
            font-size: 18px;
        }

        .BannerStripContext h1 {
            width: 100%;
            top: auto;
            margin: 10px 0 0 0;
            font-size: 18px;
        }

        .BannerStripContext {
            width: 80%;
            bottom: -70px;
            padding: 0px 10px;
            height: 100px;
        }

        .downArrowIcon {
            width: 30px;
        }

        .DownArrow {
            bottom: -60px;
            text-align: center;
            left: auto;
            right: 0;
            width: 20%;
        }

        .breadcrumbPanel {
            position: absolute;
            left: 20px;
            bottom: 0;
            text-align: left;
            z-index: 99;
        }

        .breadcrumbCustom {
            @include lineClamp($font-size: 10px, $line-height: 1.3, $lines-to-show: 1);
        }

        .breadcrumbCustom li {
            font-size: 10px;
            font-weight: 500;
        }
        /**General Template one*/
        .col-sm-6.PanelContext {
            padding: 0 10px;
        }

        .PanelInner p {
            font-size: 13px;
            line-height: 20px;
        }

        .PanelInner h2 {
            font-size: 16px;
            padding: 4px 0 0 0;
        }

        .PanelInner {
            padding: 20px 0;
        }

        .panelRow .column {
            padding: 0 10px;
        }

        .panelRow h2 {
            font-size: 16px;
            padding: 10px 0 0 0px;
        }

        .PanelContext p {
            font-size: 12px;
            padding: 10px 0;
        }

        .panelRow p {
            font-size: 12px;
            padding: 10px 0;
            line-height: inherit;
        }
        /**General Template Two*/
        /***Achievements***/
        .AchieveInner {
            padding: 45px 0 0 0;
            z-index: 9;
        }

        .intro-text-85 ul {
            margin: 0;
            padding: 0 0 0 15px;
        }

        .intro-text-85 ul li span {
            font-size: 12px;
        }

        .intro-text-85 h2 span {
            font-size: 16px;
            padding: 0;
            display: block;
        }

        .intro-text-85 p  {
            font-size: 12px;
        }

        .intro-text-85 p span {
            font-size: 12px;
        }

        .col-4.EventPanelStyle {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .StudentLogoBanner {
            background: #f7f7f7;
        }

        .AchieveTitleBlock {
            padding: 0 15px;
        }

        .AchieveContext {
            padding: 0 0 0 60px;
        }

        .AchieveContextInn {
            padding: 20px 20px;
            height: 150px;
        }

        .AchieveContextPAra {
            height: 95px;
        }

        .AchieveContextInn p {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 4);
        }

        .studenAchievPanel .EventPanelStyle img {
            width: 280px;
        }


        .knowMoreStyle {
            font-size: 11px;
        }

        .link_list.ShowOnMobile {
            padding: 10px 15px;
        }

        .link_list a {
            color: #00448B;
            font-size: 11px;
        }

        .EventPanelStyle {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .AchieveTitleBlock .link_list {
            right: 10px;

            &.LinkListForFilters {
                position: static;
            }
        }
        /***Industry*/
        .Ties_TestimonialPanel:before {
            display: none;
        }

        .TiesUpPanel .link_list {
            right: 10px;
            bottom: auto;
            top: 30px;
        }

        .StoryTitleStrip.StoryTitleStripForTieUp h2 {
            font-size: 30px;
            padding: 20px 0 0 10px;
            text-align: left;
            position: absolute;
            width: 250px;
        }

        .StoryTitleStrip.StoryTitleStripForTieUp {
            width: 235px;
            height: 200px;
        }

        .TieupContext p {
            font-size: 16px;
            color: #FFFFFF;
        }

        .TiesUpBg {
            padding: 20px 15px;
            height: auto;
        }

        .TiesUpPanel .StyleForSlickArrows .slick-prev, .TiesUpPanel .StyleForSlickArrows .slick-next {
            top: 40%;
            bottom: auto;
        }

        .TiesUpPanel .StyleForSlickArrows .slick-prev {
            left: -13%;
            right: auto;
        }

        .TiesUpPanel .StyleForSlickArrows .slick-next {
            left: -13%;
            right: auto;
            top: 55%;
        }

        .TieUpPosition {
            margin: -100px 0 0 0;
            padding: 0 0 40px 0px;
        }
        /**Events***/
        .eventContext {
            margin: -30px 0 0 0;
            padding: 0 0 0 45px;
        }

        .EventContStyle {
            height: 140px
        }

        .EventContStyle h4 {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 1);
        }

        .EventPara {
            height: 75px;
        }

        .EventPara p {
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 1);
        }

        .Event_Inner .link_list {
            position: static;
            right: 15px;
            top: auto;
            bottom: -60px;
            z-index: 9999;
        }

        .link_list a {
            font-size: 11px;
        }

        .eventContext p {
            font-size: 15px;
            padding: 0;
            height: auto;
            min-height: 60px;
            max-height: 60px;
        }

        .EventContextInner {
            padding: 15px 15px 15px 15px;
            height: auto;
            min-height: 120px;
        }

        .EventCarousel.StyleForSlickArrows .slick-prev {
            left: -7%;
            right: auto;
        }

        .EventCarousel.StyleForSlickArrows .slick-prev, .EventCarousel.StyleForSlickArrows .slick-next {
            bottom: 80px;
            top: auto;
        }

        .EventCarousel.StyleForSlickArrows .slick-next {
            right: auto;
            left: -7%;
            bottom: 120px;
        }
        /***PArent Stories**/
        .ParentStoriesPanel {
            padding: 30px 15px 15px 15px;
        }

        .ParentStoriesBG {
            background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
            background-position: 0 -200px;
            background-size: cover;
        }

        .StoryTitleStrip {
            width: 280px;
            padding: 0 15px;
        }

        .storiesPannInn {
            padding: 30px 0 0 0;
        }

        .storiesPanStyle {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 15px !important;
        }

        .storiesPanStyle img {
            width: 100%;
        }

        .StoryTitleStrip p {
            font-size: 30px;
            top: -16%;
        }

        .StoryTitleStrip h2 {
            font-size: 50px;
        }

        .StoriesContext {
            left: 40%;
            width: 100%;
            height: 175px;
            left: 0;
            padding: 10px 15px;
            display: block;
        }

        .FacultyBlockPanel .StoriesContext h2 {
            @include lineClamp($font-size: 18px, $line-height: 1.3, $lines-to-show:2);
            height: 50px;
        }

        .FacultyBlockPanel .StoriesContext {
            height: 200px;
        }

        .StoriesContext h3 {
            font-weight: 500;
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext h2 {
            @include lineClamp($font-size: 18px, $line-height: 1.3, $lines-to-show: 1);
            margin: 0 0 10px 0;
        }

        .StoriesContext p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 4);
            margin: 0 0 10px 0;
            height: 65px;
        }

        .StoriesContext a {
            font-size: 11px;
        }


        .StoryStyle.StyleForSlickArrows .slick-next {
            right: 0px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 60px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: auto;
            right: 0;
            bottom: 105px;
        }
    }
    }
@media (min-width:300px) and (max-width:350px) {
    .SchoolDetailPanel {
        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: 10%;
            right: auto;
            bottom: 105px;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: auto;
            left: 10%;
        }
    }
}