﻿@import "_variable";
@import "_mixin";

@media (min-width:2000px) and (max-width:3000px) {
    header {
        .HeaderPanelMenu ul li:first-child a:after {
            left: auto;
        }

        .SearchTextStyle {
            height: 3vw;
        }

        .SearchToggle {
            top: 35px;
            right: 18px;
        }
    }
}

@media (min-width:1800px) and (max-width:1920px) {
    header {

        .SearchToggle {
            height: 3.5vw;
        }
    }
}

@media (min-width:1441px) and (max-width:1599px) {
}

@media (min-width:1366px) and (max-width:1440px) {
    header {
        .SearchToggle {
            right: 18px;
        }
    }
}

@media (min-width:1200px) and (max-width:1365px) {
    header {

    }
}


@media (min-width:992px) and (max-width:1199px) {
    .plr100 {
        padding: 0 50px;
    }

    header {
        .HeaderPanelMenu {
            .TopHeaderPanelStrip {
                padding: 0 0px;

                ul li a {
                    font-size: 0.95vw;
                }
            }
        }

        .HeaderPanelLeft a {
            padding: 0 0 0 30px;
        }


        ul.DropDown_Menu {
            width: 77vw;
            max-width: inherit;
            left: 19.3vw;
        }

        .DropPanelLEft {
            width: 21vw;
            padding: 0 1vw 0 0vw;
        }

        .DropPanelRight {
            width: 50vw;
        }

        .DropPanelInnerLEft {
            width: 22vw;
        }

        .DropPanelInnerRight {
            width: 28vw;
        }
        /***Search*/
        .SearchToggle {
            right: 20px;
            top: 20px;
            z-index: 99;
            height: 5vw;
        }

        .CloseIcon:after {
            font-size: 2.5vw;
            right: 0;
        }

        .SearchToggle a img {
            width: 2.5vw;
        }

        .SearchTextStyle {
            height: 4vw;
            width: 50vw;
            font-size: 1.6vw;
        }
        /***Search*/
        .BtnStyle {
            width: 14vw;
            font-size: 1vw;
            height: 3.2vw;
        }

        .HeaderPanelRight {
            width: 14%;
        }

        .navbar-nav {
            padding: 0;
        }


        .HeaderPanelMenu ul li:first-child a:after {
            width: 100%;
            left: 0;
            bottom: 0px
        }


        .HeaderPanelLeft {
            width: 18%;
        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    header {
        /**Menu As mobile*/
        /***EPM Oct 22 2019 header menu*/
        .Show_Mobile {
            display: flex !important;

            .topMenuImg {
                max-width: 28px;
            }
        }

        .desktopshow {
            display: none !important;
        }

        .navbar-collapse {
            border-bottom: 3px solid $colorBlue !important;
            padding: 20px 0;
            background: #fff;
        }

        .HeaderPanelMenu {
            ul {
                padding: 0 20px !important;
            }

            .TopHeaderPanelStrip {
                position: static;
                background: transparent;

                ul {
                    &.topMenu {
                        padding: 0 20px;
                    }

                    li {
                        padding: 0;

                        a {
                            color: #000 !important;
                            font-size: 1.5vw;
                            font-weight: 600;

                            &:hover, &:active {
                                color: #000 !important;
                            }
                        }
                    }
                }
            }
        }
        /***Sumbenu*/
        .navbar-collapse {
            position: absolute;
            width: 100%;
            left: 0px;
            top: 100%;
            margin: 0;
            border-top: 1px solid #ccc;
            box-shadow: inherit;
            z-index: 99999;
            max-height: 500px;
            overflow-y: scroll;
            border-bottom: 5px solid #00448B;
        }

        .BtnIcon img {
            width: 2vw;
        }

        .navbar-expand-lg .navbar-collapse {
            display: block !important;
        }

        .collapse:not(.show) {
            display: none !important;
        }

        .navbar-expand-lg .navbar-toggler {
            display: block !important;
        }

        button.navbar-toggler.collapsed {
            display: block !important;
        }

        .navbar-expand-lg .navbar-nav {
            -ms-flex-direction: column !important;
            flex-direction: column !important;
        }

        .HeaderPanelMenu ul li.activeOpen:after {
            transform: rotate(90deg);
        }

        .HeaderPanelMenu ul li:first-child {
            padding: 0;
        }

        .HeaderPanelMenu ul li:after {
            content: '';
            background: url(../src/img/home/arrow-side.png) no-repeat;
            width: 20px;
            height: 20px;
            display: block;
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 5px;
        }

        .drpMenuTitle {
            font-size: 13px;
            margin: 5px 0;
            padding: 8px 8px;
            text-transform: uppercase;
            background: #FFCA08;
        }

        .HeaderPanelRight {
            width: 88%;
            justify-content: flex-end;
        }

        .HeaderPanelMenu ul li:first-child a:after {
            display: none
        }

        .drpMenuTitle:after {
            content: '';
            background: url(../src/img/home/arrow-side.png) no-repeat;
            width: 20px;
            height: 20px;
            display: block;
            background-size: cover;
            position: absolute;
            top: 7px;
            right: 5px;
        }

        .HeaderPanelMenu ul {
            padding: 20px 20px;
            box-shadow: inherit;
            background: #fff;
        }

        .ToogleBtn {
            position: relative;
            margin: 0 0 0 20px;
        }

        .navbar-toggler {
            border: none;
            background: #fafafa !important;
            float: right;
            padding: 0px !important;
            border: 1px solid #333 !important;
            border-radius: 100%;
            width: 30px;
            height: 30px;
        }

        .ToogleBtn:before {
            content: '';
            background: #808080;
            width: 1.1px;
            height: 25px;
            display: block;
            position: absolute;
            left: -10px;
            top: 2px;
        }

        .navbar-toggler:focus {
            outline: none;
            background: transparent !important;
        }

        .navbar-toggler .icon-bar {
            background-color: #333;
            font-weight: 500;
            transform: rotate(0deg) translate(0px, 0px);
            transition: ease all .2s;
        }

        .navbar-toggler .icon-bar {
            display: block;
            width: 15px;
            height: 2px;
            margin: 0 auto;
            border-radius: 1px;
        }

        .navbar-toggler .icon-bar + .icon-bar {
            margin-top: 4px;
        }

        .icon-bar:nth-child(2) {
            width: 15px;
            transition: ease all .2s;
        }

        .navbar-toggler:hover > .icon-bar:nth-child(2) {
            width: 15px;
            transition: ease all .2s;
        }

        .navbar-toggler:active > .icon-bar:nth-child(2) {
            width: 15px;
            transition: ease all .2s;
        }

        .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 4px);
            transition: ease all .2s;
        }

        .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
            opacity: 0;
            transition: ease all .2s;
        }

        .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
            transform: rotate(-45deg) translate(4px, -4px);
            transition: ease all .2s;
        }

        .HeaderPanelMenu ul li:first-child a {
            width: auto;
            justify-content: flex-start;
            height: auto;
        }

        .DropPanelLEft {
            width: 100%;
            float: none;
            border: none;
        }

        .DropPanelRight {
            width: 100%;
            float: none;
        }

        .DropPanelInnerLEft {
            padding: 0;
            width: 100%;
            float: none;
        }

        .DropPanelInnerRight {
            float: none;
            padding: 0;
            width: 100%;
        }

        .DropDownList .DropDownMenu_Inner {
            padding: 0 !important;
            box-shadow: inherit;
            border: none;
            width: 100%;
            float: none;
        }

        .HeaderPanelMenu ul li a {
            font-size: 1.5vw;
        }

        .HeaderPanelMenu ul li {
            padding: 0 0;
            width: 100%;
            text-align: left;
            margin: 10px 0;
            position: relative;
        }

        .HeaderPanelLeft {
            width: 12%;
        }

        .HeaderPanelLeft a {
            padding: 0;
            margin: 0;
        }

        .HeaderPanelMenu ul li:first-child a:after {
            width: 100%;
            left: 0;
            bottom: 0px;
        }

        .Icon_vw {
            width: 25px;
        }

        .BtnStyle {
            width: 18vw;
            font-size: 1.4vw;
            margin: 0 5px 0 0;
            height: 3.5vw;
        }

        ul.DropDown_Menu {
            width: 100%;
            position: static;
            max-width: 100%;
            padding: 10px 0 !important;
            box-shadow: inherit;
        }
    }
}

@media (min-width:768px) and (max-width:992px) {
    header {
        .HeaderRow {
            height: 8vw;
        }
        /***Search*/
        .SearchToggle {
            right: 10px;
            top: 12px;
            z-index: 9;
            height: 5.5vw;
        }

        .CloseIcon:after {
            font-size: 3vw;
            right: 0;
        }

        .SearchToggle a img {
            width: 2.5vw;
        }

        .SearchTextStyle {
            height: 5vw;
            width: 50vw;
            font-size: 1.6vw;
        }
    }
}

@media (max-width:767px) {
    /**Header*/
    header {
        /***EPM Oct 22 2019 header menu*/
        .Show_Mobile {
            display: flex !important;

            .topMenuImg {
                max-width: 28px;
            }
        }

        .desktopshow {
            display: none !important;
        }

        .navbar-collapse {
            border-bottom: 3px solid $colorBlue !important;
            padding: 20px 0;
        }

        .HeaderPanelMenu {
            ul {
                padding: 0 20px;
            }

            .TopHeaderPanelStrip {
                position: static;
                background: transparent;

                ul {
                    &.topMenu {
                        padding: 0 20px;
                    }

                    li {
                        padding: 0;

                        a {
                            color: #000 !important;
                            font-size: 14px;
                            font-weight: 600;
                            display: inline-block;

                            &:hover, &:active {
                                color: #000 !important;
                            }
                        }
                    }
                }
            }
        }
        /**Search*/
        .SearchToggle {
            right: 0;
            padding: 1vw 2vw;
            width: 100%;
            bottom: auto;
            z-index: 9;
            height: 40px;
            top: 20px;
        }

        .mobileHide {
            display: none !important;
        }

        .mobileShow {
            display: block !important;
        }

        .DetailList ul {
            padding: 0 0 0 20px;
        }

        ul.DropDownMenu_Inner li:nth-child(4):after {
            display: block !important;
        }

        .LoginHeaderPanel a:nth-child(2) picture img, .LoginHeaderPanel a:nth-child(1) picture img {
            display: none;
        }

        .LoginHeaderPanel a {
            font-weight: 600;
        }

        .CloseIcon:after {
            font-size: 20px;
            right: 20px;
        }

        .SearchTextStyle {
            height: auto;
            width: 96%;
            font-size: 13px;
        }

        .SearchToggle a img {
            width: 30px;
        }

        .HeaderRow {
            height: 70px;
            align-items: flex-end !important;
            padding: 0 10px 10px 10px;
        }

        .HeaderPanelLeft a {
            padding: 0;
        }

        .HeaderPanelLeft {
            width: 28%;
        }

        .HeaderPanelRight {
            width: 72%;
            justify-content: flex-end;
        }

        .Icon_vw {
            width: 30px;
        }

        .logo_vw {
            width: 85px;
        }

        .navbar-collapse {
            position: absolute;
            width: 100%;
            left: 0px;
            background: #fff;
            top: 100%;
            margin: 0;
            border-top: 1px solid #ccc;
            box-shadow: inherit;
            z-index: 99999;
            max-height: 500px;
            overflow-y: scroll;
        }

        .HeaderPanelMenu ul li:first-child a {
            height: auto;
            width: auto;
            justify-content: flex-start;
            font-weight: 600;

            &.morecourses {
                font-size: 13px;
                margin: 10px 0;
                padding: 0 12px !important;
            }
        }

        .HeaderPanelMenu ul li:first-child {
            margin: 10px 0;
            border: none;
        }

        .HeaderPanelMenu ul li:after {
            content: '';
            background: url(../src/img/home/arrow-side.png) no-repeat;
            width: 20px;
            height: 20px;
            display: block;
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 5px;
        }

        .HeaderPanelMenu ul li:first-child a:after {
            display: none;
        }

        .HeaderPanelMenu ul li:first-child:after {
            background: url(../src/img/home/arrow-side.png) no-repeat;
            height: 20px;
            width: 20px;
            background-size: cover;
            top: 0px;
            bottom: auto;
            right: 5px;
        }



        .HeaderPanelMenu ul li.activeOpen:after {
            transform: rotate(90deg);
        }

        .HeaderPanelMenu ul li {
            width: 100%;
            text-align: left;
            margin: 10px 0;
            position: relative;
            padding: 0;
        }
        /*.HeaderPanelMenu ul {
            padding: 20px 20px;
            border-bottom: 3px solid $colorBlue;
        }*/
        .HeaderPanelMenu ul li a {
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
        }

        .navbar-toggler {
            border: none;
            background: #fafafa !important;
            float: right;
            padding: 0px !important;
            border: 1px solid #333 !important;
            border-radius: 100%;
            width: 30px;
            height: 30px;
        }

        .ToogleBtn {
            position: relative;
            margin: 0 0 0 20px;
        }
        /***Sumbenu*/
        ul.DropDown_Menu {
            position: static;
            max-width: 100%;
            border-bottom: none;
            margin: 0;
            padding: 10px 0px !important;
            box-shadow: inherit;
        }

        .DropDownList ul.DropDownMenu_Inner li a {
            font-weight: 500 !important;
            padding: 5px 8px !important;
            display: block;
            color: #000000 !important;
            border-bottom: 1px solid #BEBEBE;
            box-shadow: inherit;
            border-radius: 0px;
            font-size: 12px;
            text-transform: initial;
            position: relative;
        }

        .DropPanelInnerRight {
            width: 100%;
            padding: 10px 8px;
        }

        .drpMenuTitle {
            font-size: 13px;
            margin: 5px 0;
            padding: 8px 8px;
            text-transform: uppercase;
            background: $colorOrange;
        }

        .drpMenuTitle:after {
            content: '';
            background: url(../src/img/home/arrow-side.png) no-repeat;
            width: 20px;
            height: 20px;
            display: block;
            background-size: cover;
            position: absolute;
            top: 7px;
            right: 5px;
        }

        .drpMenuTitle.ActiveTitle:after {
            transform: rotate(90deg);
        }

        .DropDownMenu_Inner {
            border: none !important;
        }

        .DropPanelInnerLEft {
            padding: 0;
            width: 100%;
            float: none;
        }

        .DropPanelRight {
            width: 100%;
            float: none;
        }

        .DropPanelLEft {
            width: 100%;
            float: none;
            border: none;
        }
        /***Sumbenu*/
        .ToogleBtn:before {
            content: '';
            background: #808080;
            width: 1.1px;
            height: 25px;
            display: block;
            position: absolute;
            left: -10px;
            top: 2px;
        }

        .navbar-toggler:focus {
            outline: none;
            background: transparent !important;
        }

        .navbar-toggler .icon-bar {
            background-color: #333;
            font-weight: 500;
            transform: rotate(0deg) translate(0px, 0px);
            transition: ease all .2s;
        }

        .navbar-toggler .icon-bar {
            display: block;
            width: 15px;
            height: 2px;
            margin: 0 auto;
            border-radius: 1px;
        }

        .navbar-toggler .icon-bar + .icon-bar {
            margin-top: 4px;
        }

        .icon-bar:nth-child(2) {
            width: 15px;
            transition: ease all .2s;
        }

        .navbar-toggler:hover > .icon-bar:nth-child(2) {
            width: 15px;
            transition: ease all .2s;
        }

        .navbar-toggler:active > .icon-bar:nth-child(2) {
            width: 15px;
            transition: ease all .2s;
        }

        .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 4px);
            transition: ease all .2s;
        }

        .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
            opacity: 0;
            transition: ease all .2s;
        }

        .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
            transform: rotate(-45deg) translate(4px, -4px);
            transition: ease all .2s;
        }

        .BtnIcon img {
            width: 14px;
        }


        .BtnStyle {
            width: 60px;
            height: 30px;
            font-size: 10px;
            margin: 0 4px 0 0;
            padding: 5px 5px !important;
            font-weight: 500;
        }

        .ShowOnMobile {
            display: flex !important;
        }

        .ForApplicant span {
            display: block;
            overflow: hidden;
        }
    }
}
@media (min-width:1025px) {

}