﻿@import "_variable";
@import "_mixin";
@media (min-width:2000px) and (max-width:3000px) {
    .HomePanel {
        .cmpinn img {
            width: 100%;
        }

        .Events_Impact_Panel {
            margin: 0 -58px;
        }

        .Ev_Im_List {
            padding: 0px 58px;
        }

        .TextOverlap {
            left: -5%;
        }

        .TextOverlap {
            left: -7%;
        }

        .ForAwardCarouselStyle {
            margin: -5.5vw -7px 0 -7px;
        }

        .CoursesPanel {
            margin: 100px 0 0 0;
        }

        .StyleForSlickArrowsBottom .slick-prev {
            left: 0;
        }

        .StyleForSlickArrowsBottom .slick-next {
            left: 80px;
        }

        .guestPanelStyle img {
            width: 100%;
        }

        .EventPanelStyle img {
            width: 100%;
        }
    }
}

@media (min-width:1800px) and (max-width:1920px) {
    .HomePanel {
        .Ind_inn {
            padding: 0 25px;
        }

        .StyleForSlickArrowsBottom .slick-next {
            left: 60px;
        }

        .Events_Impact_Panel {
            margin: 0 -50px;
        }

        .Ev_Im_List {
            padding: 0px 50px;
        }

        .TextOverlap {
            left: -7%;
        }

        .ForAwardCarouselStyle {
            margin: -6.5vw -7px 0 -7px;
        }

        .industry_blockList {
            margin: 0 -25px;
        }
    }
}
@media (min-width:1600px) and (max-width:1800px) {
    .HomePanel {
        .SplOverlapContext {
            height: auto;
        }

        #HomeCarouselPanel .carousel-inner .carousel-item {
            height: 34vw;
        }

        .homeIndicatorStyle {
            bottom: -19%;
        }
    }
}
@media (min-width:1441px) and (max-width:1599px) {

}

@media (min-width:1366px) and (max-width:1440px) {

}

@media (min-width:1200px) and (max-width:1365px) {
    .HomePanel {
        .RotateTitlePosition {
            bottom: 160px;
            font-size: 2.5vw;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }
    }
}

@media (min-width:1025px) and (max-width:1199px) {

}

@media (min-width:992px) and (max-width:1199px) {
    .plr100 {
        padding: 0 50px !important;
    }

    .paraLittle {
        font-size: 1.1vw;
    }

    .titleh4 {
        font-size: 1.6vw;
    }

    .paraSmall {
        font-size: 1.5vw;
    }

    .titleh4 {
        font-size: 1.8vw;
    }
    .para_three {
        font-size: 1.5vw;
    }
    .downArrowIcon {
        width: 3vw;
    }

    .HomePanel {
        .link_list a {
            font-size: 1.2vw;
        }

        .SectionLogoBanner:before {
            display: none;
        }

        .homeIndicatorStyle {
            bottom: -18%;
        }

        .HC_row {
            padding: 0 0 20vw 6.2vw;
        }
        /**Banner*/
        .BannerImg img {
            width: 77vw;
        }

        .storiesPanStyle img {
            width: 25vw;
        }

        .BannerStripContext h1 {
            font-size: 4.5vw;
            left: 3vw;
            width: auto;
        }

        .breadcrumbCustom li {
            font-size: 0.9vw;
        }
        /***Watch Panel*/
        .HomeBtnStyle {
            font-size: 1vw;
            height: 4vw;
            width: 20vw;
        }

        .WatchPanel {
            right: 35px;
        }
        /**Chat Helpline*/
        .helplineChatInner a {
            font-size: 1.2vw;
        }
        /***Courses*/
        .CheckBlk {
            padding: 1.5vw 20px;
        }
        /***Future Needs*/
        .SplOverlapContext {
            width: 35vw;
            height: auto;
            padding: 15px 15px;
        }

        .SplOverlapContext a {
            font-size: 1.3vw;
        }
        /**STories*/
        .StoriesContext a {
            font-size: 1.2vw;
        }

        .StoriesContext p {
            height: 5vw;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }

        .CourseFind a {
            font-size: 1vw;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.5vw;
        }

        .StoryStyle button {
            display: none !important;
        }


        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: 45%;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: auto;
            left: 50%;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            top: auto;
            bottom: 25px;
        }

        .st_inn p {
            font-size: 1.3vw;
        }

        .ind_CompanyList {
            padding: 0 70px 12px 70px;
        }
        /**Achievement*/
        .StudentLivingPanel .StyleForSlickArrows .slick-next {
            right: auto;
            left: 50px;
        }

        .knowMoreStyle {
            font-size: 1vw;
        }
        /**Events*/
        .StyleForSlickArrowsBottom .slick-next {
            left: 35px;
        }

        .HomeEventCarousel {
            position: relative;
            z-index: 9;
        }

        .RotateTitlePosition {
            bottom: 150px;
            font-size: 2.5vw;
            left: -2vw;
        }
        /***Research*/
        .ResearchContext p {
            padding: 20px 0 0 0;
            font-size: 1.5vw;
        }

         .TextOverlap {
            left: -6%;
        }

        .ResearchLogoBanner:after {
            z-index: 1;
        }
    }
}
@media (min-width:768px) and (max-width:991px) {
    .plr100 {
        padding: 0 20px;
    }
    .helplineChatInner {
        top: 28%;
    }
    .plr20 {
        padding: 0 10px;
    }

    .paraSmall {
        font-size: 1.8vw;
    }

    .titleMedium {
        font-size: 3vw;
    }
    .para_three {
        font-size: 1.7vw;
    }
    .paraLittle {
        font-size: 1.2vw;
    }

    .titleh4 {
        font-size: 2.2vw;
    }
    .HomePanel {
        .link_list a {
            font-size: 1.4vw;
        }
        .SectionLogoBanner:before{
            display:none;
        }
        /***Banner****/
        .BannerImg img {
            width: 85vw;
        }

        .homeIndicatorStyle li {
            width: 1vw;
            height: 1vw;
        }

        .homeIndicatorStyle li.active {
            width: 2.5vw;
            height: 1vw;
        }

        .homeIndicatorStyle {
            bottom: -30px;
            left: 55%;
            width: auto;
        }

        #HomeCarouselPanel .carousel-inner .carousel-item {
            height: 46vw;
        }

        .BannerStripContext {
            padding: 2.5vw 15px 2.5vw 15px;
        }

        .breadcrumb.breadcrumbCustom li {
            font-size: 1.5vw;
        }

        .BannerStripContext h1 {
            font-size: 4.5vw;
            display: flex;
            align-items: center;
            left: 4vw;
            width: auto;
        }
        /**Watch Panel*/
        .WatchPanel {
            right: 10px;
        }

        .applyCourses .plr100 {
            padding: 0px 20px;
        }

        .downArrowIcon {
            width: 3.5vw;
        }

        .DownArrow {
            bottom: -12%;
            left: 0;
        }

        .HomeBtnStyle {
            font-size: 1vw;
            width: 20vw;
            height: 5.2vw;
        }

        .helplineChatInner a {
            font-size: 1.2vw;
        }
        /**Student Stories**/
        /**Student Stories**/
        .StoryTitleStrip {
            width: 30vw;
            height: 10vw;
        }

        .StoryStyle button {
            display: none !important;
        }

        .StudentStoriesPanel {
            padding: 18vw 0 0 0;
        }

        .StoryTitleStrip p {
            top: -18%;
            font-size: 4.5vw;
        }

        .StoriesContext {
            width: 24vw;
            display: block;
            height: 20vw;
        }

        .StoriesContext h2 {
            @include lineClamp($font-size: 2vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext h3 {
            @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext p {
            @include lineClamp($font-size:1.5vw, $line-height: 1.3, $lines-to-show: 3);
            height: 7vw;
        }

        .StoriesContext a {
            font-size: 1.4vw;
        }

        .StoryTitleStrip h2 {
            font-size: 6vw;
        }

        .storiesPannInn.StyleForSlickArrows .slick-next {
            right: 7px;
            left: auto;
        }

        .storiesPannInn.StyleForSlickArrows .slick-prev {
            right: 50px;
            left: auto;
        }

        .storiesPannInn .StyleForSlickArrows .slick-prev, .storiesPannInn.StyleForSlickArrows .slick-next {
            top: 0;
        }
        /**Courses**/
        .TextOverlap {
            left: -6%;
            top: -18%;
        }

        .CLK_blk a {
            font-size: 1.3vw;
        }

        .checkBtnStyle {
            height: 4.4vw;
        }

        .clblk_Top h2 {
            @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 2);
        }

        .coursesfor p {
            @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 2);
        }

        .courseTitle p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .coursesfor {
            height: 10vw;
        }

        .clblk_Top {
            padding: 2vw 2vw;
            min-height: 29vw;
        }

        .CheckBlk {
            padding: 2.5vw 20px;
        }

        .forApplication p {
            @include lineClamp($font-size: 1.3vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .forApplication {
            padding: 2vw 2vw;
        }

        .forApplication span {
            @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .CoursesPanel {
            margin: 0px 0 0 0;
        }

        .CoursesPanel .StyleForSlickArrowsTop .slick-prev, .CoursesPanel .StyleForSlickArrowsTop .slick-next {
            right: 7px;
            top: -12%;
        }

        .CoursesPanel .StyleForSlickArrowsTop .slick-prev {
            right: 60px;
            left: auto;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }

        .CourseFind a {
            font-size: 1.5vw;
            height: 35px;
        }

        .Visit_list a {
            width: auto;
            padding: 0 10px !important;
            display: flex;
            align-items: center;
        }

        .ApplyNow a {
            width: 16vw;
            height: 35px;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        /***Industry**/
        .industryStrip h2 {
            font-size: 3.5vw;
            margin: 0 -3vw 0 0;
        }

        .industryStrip {
            height: 10vw;
        }

        .IndContext h3 {
            padding: 0 0 0 0vw;
        }

        .ind_CompanyList {
            padding: 0 40px 12px 40px;
        }

        .industry_blockList {
            margin: 0 -20px;
        }

        .Ind_inn {
            padding: 0 20px;
        }
        /**Student Achievements*/
        .AchieveInner {
            padding: 20vh 0 3vh 0;
        }

        .studenAchievPanel .CarouselforSlick button {
            display: none !important;
        }

        .AchieveContextPAra {
            height: 9vw;
        }

        .AchieveContextInn {
            background: #FFCA08;
            height: 16vw;
        }

        .AchieveContextInn p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 4);
        }

        .AchieveTitleBlock p {
            position: relative;
            top: 5px;
        }

        .knowMoreStyle {
            font-size: 1.5vw;
        }
        /***Research***/
        .StripforTwoContext h2 {
            margin: 0 -8vw -3vw 0px;
            font-size: 4vw;
        }

        .ResearchContext p {
            padding: 20px 0 0 0;
            line-height: inherit;
            font-size: 1.7vw;
        }
        /***EVents*/
        .HomeEventImg {
            padding: 0 20px 0 0;
        }

        .EventContStyle {
            height: 16vw;
        }

        .EventContStyle h4 {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .EventPara {
            height: 7vw;
        }

        .EventPara p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 3);
        }

        .RotateTitlePosition {
            bottom: 13vw;
            left: 2vw;
            font-size: 3.5vw;
        }

        .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-prev {
            left: 0px;
            bottom: 10px;
        }

        .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-next {
            bottom: 60px;
            left: 0;
        }

        .HomeEventCarousel.OneBlockCarousel {
            z-index: 9;
        }
        /***Award*/
        .ForAwardCarouselStyle {
            margin: -10.5vw 0 0 0;
        }

        .ForAwardCarouselStyle button {
            display: none !important;
        }

        .AwardContext {
            height: 14vw;
        }

        .AwardContext p {
            @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 5);
            margin: 0;
            height: 9vw;
        }

        .storiesPanStyle img {
            width: 25vw;
        }
        /***Certification*/
        .StripforTwoContext {
            width: 35vw;
            height: 10vw;
        }
        /***Be History*/
        .HCBlk {
            padding: 0 10px;
        }

        .HC_row {
            margin: -30px -10px 0 -10px;
            padding: 0 0 25vw 6.2vw;
        }

        .HC_List {
            min-height: 22vw;
        }

        .HC_List p {
            line-height: inherit;
        }
        /**Future NEeds*/
        .Spl_Context {
            padding: 0 51px 0 0 !important;
        }

        .SplOverlapContext {
            width: 40vw;
            height: auto;
        }

        .SplOverlapContext a {
            font-size: 1.5vw;
        }
    }
 }

@media (max-width:767px) {
    /**Common***/
    .plr20 {
        padding: 0px;
    }
    .para_three {
        font-size: 12px;
    }
    .Yellowstripbgfull:before{
        display:none;
    }
    .plr100 {
        padding: 0 0;
    }
    .titleMedium {
        font-size: 26px;
    }
    .hideOnMobile{
        display:none;
    }
    .ShowOnMobile {
        display: block !important;
    }
    .row {
        margin: 0px ;
    }
    .DisclaimerTExt.DisclaimerTExtTop {
        padding: 10px 0 20px 0 !important;
    }
    /**Common Ends***/
    .HomePanel {
        .mlr {
            margin: 0;
        }

        .Spl_list p {
            font-size: 13px;
        }

        .ResearchContext {
            text-align: center;
        }

        table {
            width: 100% !important;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 10px;
        }

        .StyleForSlickArrows .slick-prev {
            left: auto;
            right: 22%;
        }

        .paraLittle {
            font-size: 10px;
        }

        .paraSmall {
            font-size: 12px;
        }

        .titleh3 {
            font-size: 30px;
        }

        .titleh4 {
            font-size: 16px;
        }

        .CoursesList .slick-list.draggable {
            overflow: hidden !important;
        }

        ul.slick-dots {
            display: none !important;
        }

        .row {
            margin: 0px !important;
        }

        .ind_CompanyList {
            margin: 0 0px;
        }
        /***Banner****/
        .homeIndicatorStyle li {
            width: 6px;
            height: 6px;
            border-radius: 100px;
        }

        .LoginHeaderPanel a {
            font-weight: 600;
        }

        .homeIndicatorStyle {
            bottom: -110px;
            left: 40%;
        }

        #HomeCarouselPanel .carousel-inner .carousel-item {
            height: auto;
        }

        .homeIndicatorStyle li.active {
            width: 20px;
            border-radius: 100px;
            height: 6px;
        }

        .BannerImg {
            width: 100%;
            float: none;
        }

        .BannerImg img {
            width: 100%;
        }

        .banner {
            z-index: 1;
            margin-bottom: 60px;
        }

        .BannerStripContext h1 {
            font-size: 20px;
            position: static;
            width: auto;
        }

        .BannerStripContext {
            width: 80%;
            bottom: -20px;
            padding: 15px 20px;
            height: 240px;
            background-position: -7px;
            left: 0;
        }

        .downArrowIcon {
            width: 30px;
        }

        .DownArrow {
            bottom: 15px;
            text-align: center;
            left: auto;
            right: 0;
            width: 20%;
            z-index: 99;
        }

        .breadcrumbPanel {
            position: absolute;
            left: 20px;
            bottom: 130px;
        }

        .breadcrumbCustom li {
            font-size: 13px;
            font-weight: 500;
        }
        /***Watch Panel*/
        .WatchPanel {
            position: relative;
            bottom: 30px;
            right: auto;
            z-index: 9;
            display: block !important;
            left: 10px;
            width: 95%;
        }

        .helplineChatInner {
            display: none;
        }

        .WatchPanel a img {
            width: 20px;
        }

        .helplineChatInner a {
            margin: 10px 0;
            font-size: 11px;
        }

        .HomeBtnStyle {
            font-size: 10px;
            height: auto;
            width: 50%;
            margin: 0 0 6px 0;
            padding: 6px 10px 6px 20px;
        }
        /**Industry UPES*/
        .industryPanel {
            padding: 0px 15px 0 15px;
            margin: 70px 0 0 0;
        }

        .industryPanel .link_list {
            position: static;
        }

        .IndContext {
            width: 80%;
        }

        .industryStrip {
            height: auto;
            padding: 15px 15px;
        }

        .industryStrip h2 {
            font-size: 28px;
            margin: 0;
            position: static;
            left: 40px;
        }

        .col-sm-4.Ind_inn {
            padding: 12px 25px;
        }

        .Numb_list {
            font-size: 30px;
            width: 60%;
        }

        .Num_Title {
            font-size: 14px;
            padding: 0;
            width: 40%;
        }

        .industry_blockList {
            padding: 0px;
        }

        .industryPanel .link_list {
            text-align: center;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev, .ind_CompanyList.StyleForSlickArrows .slick-next {
            bottom: -50px;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev {
            left: 40%;
            right: auto;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-next {
            right: 36%;
        }

        .ind_CompanyList {
            padding: 0 18px;
            margin: 0 0 50px 0;
        }

        .industryPanel .link_list a {
            font-size: 11px;
        }
        /***Achievements***/
        .AchieveInner {
            padding: 45px 0 0 0;
            z-index: 99;
        }

        .SectionLogoBanner:before {
            display: none;
        }

        .studenAchieveBanner:before {
            display: none;
        }

        .StudentLogoBanner {
            background: #f7f7f7;
        }

        .AchieveTitleBlock {
            padding: 0 15px;
        }

        .AchieveContext {
            padding: 0 0 0 60px;
        }

        .AchieveContextInn {
            padding: 20px 20px;
            height: 150px;
        }

        .AchieveContextPAra {
            height: 95px;
        }

        .AchieveContextInn p {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 4);
        }

        .studenAchievPanel .EventPanelStyle img {
            width: 280px;
        }

        .knowMoreStyle {
            font-size: 11px;
        }

        .studenAchievPanel .StyleForSlickArrows .slick-prev, .studenAchievPanel .StyleForSlickArrows .slick-next {
            display: none !important;
        }

        .link_list.ShowOnMobile {
            padding: 10px 15px;
        }

        .AchieveTitleBlock .link_list {
            display: none;
        }

        .StudentStoriesPanel {
            margin: -190px 0 0 0;
            padding: 0px;
        }

        .Studentstories {
            background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
            background-position: 0 -200px;
            background-size: cover;
            padding: 220px 15px 0 15px;
        }

        .LogoBanner:before {
            display: none;
        }
        /**Courses**/
        /**Courses**/
        .CoursesPanel {
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            margin: 0;
            background-size: cover;
            background-position: top;
        }

        .applyCourses .plr100 {
            padding: 0;
        }

        .coursesfor p {
            @include lineClamp($font-size: 10px, $line-height: 1.3, $lines-to-show: 2);
        }

        .CL_bg {
            min-height: 380px;
        }

        .CoursesList {
            margin: 0;
            padding: 30px 15px;
        }

        .CL_Block {
            padding: 0 0 0 15px;
            width: 75%;
            overflow: hidden;
        }

        .CoursesList .slick-list {
            padding: 0 15px;
        }

        .TextOverlap {
            position: relative;
            font-size: 55px;
            padding: 0 15px;
            height: auto;
            top: -15px;
            left: 0;
        }

        .crseTitle {
            padding: 0 15px;
            font-size: 20px;
            margin: -35px 0 0 0;
        }

        .applyCourses {
            background: #f7f7f7;
            padding: 70px 0 20px 0;
        }

        .courseIcon {
            width: 45px;
        }

        .CLK_blk {
            padding: 0 0 0 15px;
            width: 75%;
            overflow: hidden;
        }

        .coursesfor a {
            position: static;
            font-size: 10px;
        }

        .courseTitle {
            height: 65px;
        }

        .clblk_Top h2 {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 2);
        }

        .courseTitle p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show:1);
        }

        .clblk_Top {
            display: flex;
            border-bottom: none;
            padding: 15px 30px 15px 20px;
            min-height: 180px;
        }

        .course_iconStyle {
            min-height: inherit;
            width: 25%;
        }

        .CheckBlk a {
            height: 35px;
        }

        .CheckBlk {
            padding: 5.5vw 40px;
        }

        .forApplication span {
            display: inline-block;
            @include lineClamp($font-size: 10px, $line-height: 1.3, $lines-to-show: 1);
        }

        .forApplication p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 1);
        }

        .CoursesList.StyleForSlickArrows .slick-prev, .CoursesList.StyleForSlickArrows .slick-next {
            bottom: -30px;
        }

        .CoursesList.StyleForSlickArrows .slick-prev {
            left: 40%;
            right: auto;
        }

        .CoursesList.StyleForSlickArrows .slick-next {
            right: auto;
            left: 53%;
        }

        .coursesfor {
            height: 80px;
        }

        .forApplication {
            min-height: 85px;
            padding: 20px 20px;
            border-top: 1px solid #EEEEEE;
        }

        .Visit_list a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 11px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .Visit_list {
            margin: 0 0 10px 0;
        }

        .ApplyNow a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 11px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .applyCourses .d-flex {
            display: block !important;
            text-align: center;
        }
        /***Mobile Accordion***/
        .CoursesForMobile {
            padding: 0 15px;
        }

        .AccordionStyleForMobile {
            margin: 40px 0 0 0;
            box-shadow: 0 5px 5px #ccc;
            position: relative;

            .table-cover {
                overflow-x: auto;
            }

            .CardHeaderPanel > a {
                display: block;
                position: relative;
                font-weight: 600;
                color: $colorBlack;
                padding: 0 15px;
                /*border-bottom: 1px solid #FAFAFA;*/
                display: flex;
                height: 55px;
                align-items: center;
            }

            .CardHeaderPanel > a:after {
                content: '+';
                font-family: cursive;
                position: absolute;
                right: 15px;
                font-weight: 600;
                font-size: 30px;
                color: #000;
            }

            .CardHeaderPanel > a[aria-expanded="true"]:after {
                content: '-';
            }

            .table-cover span {
                font-weight: 500 !important;
                font-size: 1vw;
            }

            .card-body.cardContext {
                padding: 0;
            }

            .card-header {
                background: inherit;
                border: none;
                padding: 0px;
            }

            .card {
                border: none;
                border-radius: 0px;
                margin: 10px 0;
            }

            .DetailsBlk {
                padding: 2.5vw 8vw;
            }
        }
        /***Stories**/
        .ParentStoriesPanel {
            padding: 30px 15px 15px 15px;
        }

        .ParentStoriesBG {
            background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
            background-position: 0 -200px;
            background-size: cover;
        }

        .StoryTitleStrip {
            width: 280px;
            padding: 0 15px;
            height: auto;
        }

        .storiesPanStyle {
            padding: 0px !important;
        }

        .storiesPanStyle img {
            width: 230px;
        }

        .StoryTitleStrip p {
            font-size: 30px;
            top: -38%;
        }

        .StoryTitleStrip h2 {
            font-size: 50px;
        }

        .StoriesContext {
            left: 40%;
            width: 200px;
            height: 175px;
            padding: 10px 15px;
        }

        .StoriesContext h3 {
            font-weight: 500;
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext h2 {
            @include lineClamp($font-size: 18px, $line-height: 1.3, $lines-to-show: 1);
            margin: 0 0 10px 0;
        }

        .StoriesContext p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 4);
            margin: 0 0 10px 0;
            height: 65px;
        }

        .StoriesContext a {
            font-size: 11px;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: 0px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 60px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: auto;
            right: 0;
            bottom: 105px;
        }
        /***Future Needs*/
        .Spl_Row {
            padding: 0px 15px 40px 15px;
        }

        .Spl_Context {
            padding: 0 0px 0 0 !important;
        }

        .SplOverlapContext {
            width: 80%;
            padding: 20px 10px;
            height: auto;
            left: 0;
        }

        .Spl_img {
            padding: 15px 0 0 0;
        }

        .SplOverlapContext h2 {
            font-size: 20px;
        }

        .SplOverlapContext a {
            font-size: 11px;
        }

        .link_list a {
            font-size: 11px;
        }
        /***Be History*/
        .HC_row {
            padding: 0px;
        }

        .HCBlk {
            padding: 0 15px 20px 15px;
        }

        .HC_List p {
            line-height: inherit;
        }

        .HC_List {
            min-height: inherit;
            padding: 0 0 10px 0;
        }
        /***Certifications*/
        .CertifcationBg {
            background: #fff;
        }

        .StripforTwoContext {
            position: relative;
            top: 0;
            width: 200px;
            height: 70px;
        }

        .StripforTwoContext h2 {
            margin: 0 -8vh -2vh 0;
            font-size: 26px;
        }

        .ind_CompanyList {
            padding: 0;
        }

        .CrtInner {
            padding: 0 15px;
            margin: 0px;
        }
        /***Awards***/
        .AwardsPanel {
            /*background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;*/
            background-position: bottom;
            background-size: cover;
            margin: 70px 0 0 0;
            background: #f2f2f2;
        }

        .ForAwardCarouselStyle.storiesPannInn {
            padding: 30px 0 0 0;
            margin: -55px 0 0 0;
        }

        .AwardSectionIner h2 {
            left: 0;
            margin: 0;
            font-size: 55px;
        }

        .AwardSectionIner {
            padding: 25px 15px 10px 15px;
        }

        .ForAwardCarouselStyle .storiesPanStyle img {
            width: 85%;
        }

        .AwardContext {
            width: 80%;
            left: 0px;
            height: 110px;
            float: right;
            box-shadow: inherit;
        }

        .AwardContext p {
            padding: 20px 15px;
            background: #fff;
            @include lineClamp($font-size: 13px, $line-height: 1.3, $lines-to-show: 5);
        }

        .ForAwardCarouselStyle.StyleForSlickArrows .slick-next {
            right: 40%;
            left: auto;
        }

        .ForAwardCarouselStyle.StyleForSlickArrows .slick-prev {
            right: auto;
            left: 35%;
        }
        /***Research*/
        .ResearchPanel {
            margin: 0 0 0 0;
            padding: 0 15px;
        }

        .ResearchLogoBanner:after {
            display: none;
        }

        .ResearchContext p {
            padding: 20px 0 0 0;
            line-height: inherit;
            font-size: 13px;
            text-align: center;
        }

        .ResearchSlick {
            padding: 45px 0 65px 0;
            margin: 0 0 30px 0;
        }

        .ResearchSlick.StyleForSlickArrows .slick-prev {
            left: 35%;
            right: auto;
        }

        .ResearchSlick.StyleForSlickArrows .slick-next {
            right: 40%;
        }
        /**EVents*/
        .Events_Impact_Panel {
            padding: 85px 0px 40px 0px;
            margin: 0 0px;
        }

        .CarouselforSlick.EventCarousel {
            overflow: hidden;
        }

        .EventPanelStyle {
            padding: 0 15px;
        }

        .EventContStyle {
            height: 140px
        }

        .EventContStyle h4 {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 1);
        }

        .EventPara {
            height: 75px;
        }

        .EventPara p {
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 3);
            margin: 5px 0;
        }

        .RotateTitlePosition {
            font-size: 24px;
            left: 30px;
            bottom: 85px;
            transform: rotate(0deg);
            position: static;
            padding: 10px 0 20px 0 !important;
            width: 100%;
        }

        .HomeCourseBg {
            padding: 0px;
        }

        .Ev_Im_List {
            padding: 0 15px;
        }

        .HomeEventImg {
            padding: 0;
        }

        .HomeEventCarousel.StyleForSlickArrows .slick-prev {
            bottom: 45px;
        }

        .HomeEventCarousel.StyleForSlickArrows .slick-next {
            bottom: 0px;
        }

        .HomeEventCarousel.StyleForSlickArrowsBottom .slick-prev, .HomeEventCarousel.StyleForSlickArrowsBottom .slick-next {
            left: -10px;
        }
    }
    }
@media (min-width:300px) and (max-width:350px) {
    .HomePanel {
        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: 10%;
            right: auto;
            bottom: 105px;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: auto;
            left: 10%;
        }
    }
}