@import "_mixin";
@media (max-width:767px) {

    .industry {
        .plr100 {
            padding: 0 20px;
        }

        .link_list a {
            font-size: 0.9vw;
        }

        .ResearchInner .link_list.text-right.noPadding {
            padding: 15px 0 0 0;
        }

        .DisclaimerTExt.DisclaimerTExtTop {
            padding: 0 0 20px 0;
        }
        
        .ResearchLogoBanner:after {
            display: none;
        }

        .plr100vw {
            padding: 0 20px;
        }

        .link-toggle {
            margin-top: -30px !important;
        }

        .knowMoreStyle, .color-blue {
            font-size: 14px !important;
        }

        .Orange-Strip {
            height: 30vw;
            position: relative;
            top: 0;
            margin: 0 0 0 0;


            &:before {
                width: 80vw;
            }

            .title {
                padding-left: 15px;
            }
        }



        .wrapper-75 {
            width: 90vw;
        }

        .mlr {
            margin: 0;
        }

        .ResearchSlick.CarouselforSlick {
            padding: 20px 0 40px 0;
        }

        table {
            width: 100% !important;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 10px;
        }

        .StyleForSlickArrows .slick-prev {
            left: auto;
            right: 22%;
        }

        .paraLittle {
            font-size: 10px;
        }

        .paraSmall {
            font-size: 12px;
        }

        .titleh3 {
            font-size: 30px;
        }

        .titleh4 {
            width: 90% !important;
            font-size: 16px;
        }

        .CoursesList .slick-list.draggable {
            overflow: hidden !important;
        }

        ul.slick-dots {
            display: none !important;
        }

        .row {
            margin: 0px !important;
        }

        .ind_CompanyList {
            margin: 0 0px;
        }

        .BannerSection {
            .DownArrow {
                text-align: right;

                a {
                    .downArrowIcon {
                        width: 30px;
                    }
                }
            }

            .BannerStripContext {
                left: 0px;

                p {
                    height: 54vw;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 9;
                    -webkit-box-orient: vertical;
                }

                .fontExBold {
                    display: none;
                }
            }
        }

        .breadcrumbPanel {
            bottom: 140px;
            z-index: 99;
            left: 10px;

            .breadcrumb {
                &.breadcrumbCustom {
                    li {
                        font-size: 13px;
                    }
                }
            }
        }

        .BannerImg {
            img {
                width: 100%;
            }
        }

        .disclaimer {
            p {
                top: 25px;
                margin-bottom: 25px;
                width: 100%;
            }
        }
        /**Industry UPES*/
        .industryPanel {
            padding: 30px 0px;
            padding-bottom: 30px;
            margin: 0px;
        }

        .bg-white .industryPanel .Orange-Strip {
            top: -30px;
        }

        .IndContext {
            width: 80%;
        }

        .industryStrip {
            height: 13vh;
        }

        .industryStrip h2 {
            font-size: 28px;
            margin: 0;
            position: absolute;
            left: 40px;
        }

        .col-sm-4.Ind_inn {
            padding: 25px 25px;
        }

        .Numb_list {
            font-size: 40px;
            width: 60%;
        }

        .Num_Title {
            font-size: 14px;
            padding: 0;
            width: 40%;
        }

        .industry_blockList {
            padding: 0px;
            margin: 0px;
        }

        .industryPanel .link_list {
            text-align: center;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev, .ind_CompanyList.StyleForSlickArrows .slick-next {
            bottom: -50px;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev {
            left: 40%;
            right: auto;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-next {
            right: 30%;
        }

        .ind_CompanyList {
            padding: 0 18px;
            margin: 0 0 90px 0;
        }


        .link_list a {
            font-size: 11px;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 10px;
        }

        .StyleForSlickArrows .slick-prev {
            left: auto;
            right: 22%;
        }

        .accord-wrapper {
            padding-top: 0px !important;

            .AccordionStyle {
                margin-top: 15px;
            }

            .card-body.cardContext {
                padding: 15px !important;
                padding-bottom: 10px;
            }

            .CardHeaderPanel > a {
                font-size: 12px;
                font-weight: 500;
                padding: 10px 15px;
                padding-right: 20px;

                &:after {
                    font-size: 14px;
                    right: 15px;
                    top: 8px;
                }
            }

            .cardContext p {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.5em;
            }

            .block {
                padding-top: 30px;
            }

            .title {
                padding: 15px 0px;
                padding-bottom: 0px;
                color: #00448B;

                h3 {
                    font-size: 16px !important;
                    font-weight: 600;
                }
            }

            .position {
                font-size: 14px;
                // font-weight: 600;
            }

            .person {
                font-size: 16px;
                font-weight: 600;
            }

            .designation {
                font-size: 12px;
                font-weight: 600;
                color: #00448B;
                padding-top: 15px;
            }
        }


        .section-4 {
            padding-top: 15px;

            .inter-intern {
                padding: 100px 0px;

                .students-slide {
                    .student {
                        .profile-wrapper {
                            .photo {
                                margin-top: -16vw;
                            }

                            .profile {
                                padding-left: 5px;

                                h2 {
                                    @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 2);
                                    height: 40px;
                                }

                                h3 {
                                    @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 2);
                                    height: 30px;
                                }
                            }
                        }

                        .details {
                            padding-top: 30px;

                            p {
                                @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 4);
                                height: 60px;
                            }

                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .slick-prev, .slick-next {
                top: 105%;
                height: 10vw;
                width: 10vw;
                padding: 1vw;
            }

            .slick-prev {
                left: 38%;
            }

            .slick-next {
                left: 52%;
            }
        }

        .section-6 {
            .txt-wrapper {
                padding-bottom: 30px;
            }

            .title {
                padding: 15px 0px;

                h3 {
                    font-size: 22px;
                    line-height: 28px;
                }
            }

            p, b {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }

        .section-1 {
            padding-top: 30px !important;
            padding-bottom: 0px;

            .title1 {
                font-size: 45px;
                font-weight: 600;
            }

            .title2 {
                font-size: 30px;
                margin-top: -25px;
                padding-left: 0px;
                position: relative;
                z-index: 1;
            }
        }

        .pbm-5 {
            padding-bottom: 0px;
        }
    }
}
@media (min-width:768px) and (max-width:991px) {
    .industry {
        /***Industry**/
        .industryStrip h2 {
            font-size: 3.5vw;
            margin: 0 -3vw 0 0;
        }

        .ResearchLogoBanner:after {
            display: none;
        }

        .link_list a {
            font-size: 2.5vw;
        }

        .plr100 {
            padding: 0 20px;
        }

        .industryStrip {
            height: 10vw;
        }

        .ResearchPanel {
            padding-bottom: 30px;
        }

        .industryPanel {
            padding-bottom: 30px;
        }

        .IndContext h4 {
            padding: 0 0 0 2vw;
        }

        .ind_CompanyList {
            padding: 0 40px 12px 40px;
        }

        .industry_blockList {
            margin: 0 -20px;
            padding: 10vh 0;
        }

        .Ind_inn {
            padding: 0 20px;
        }

        .disclaimer {
            p {
                width: 50%;
                top: 10px;
            }
        }

        .BannerStripContext {
            padding-left: 15px;

            .fontExBold {
                left: 15px;
            }
        }

        .knowMoreStyle, .color-blue {
            font-size: 14px !important;
        }
        /*carousel*/
        .CoursesPanel {
            margin: 0px 0 0 0;
        }

        .CoursesPanel .StyleForSlickArrowsTop .slick-prev, .CoursesPanel .StyleForSlickArrowsTop .slick-next {
            right: 7px;
            top: -12%;
        }

        .CoursesPanel .StyleForSlickArrowsTop .slick-prev {
            right: 40px;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }

        .section-4 {
            padding-top: 15px;

            .inter-intern {
                padding-top: 80px;

                .students-slide {
                    .student {
                        .profile-wrapper {
                            .profile {
                                padding-left: 5px;

                                h2 {
                                    @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 2);
                                    height: 5vw;
                                }

                                h3 {
                                    @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 2);
                                    height: 4vw;
                                }
                            }
                        }

                        .details {
                            padding-top: 30px;

                            p {
                                @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 4);
                            }

                            p, a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            .slick-prev, .slick-next {
                display: none !important;
                top: 115%;
            }

            .slick-prev {
                left: 42%;
            }

            .slick-next {
                left: 53%;
            }
        }

        .section-5 {
            .link-toggle {
                margin-top: -65px;
            }
        }

        .section-6 {
            .txt-wrapper {
                padding-bottom: 30px;
            }

            .title {
                padding: 15px 0px;

                h3 {
                    font-size: 22px;
                    line-height: 28px;
                }
            }

            p, b {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }


        .section-1 {
            padding-top: 60px !important;
            padding-bottom: 30px;

            .title1 {
                font-weight: 600;
                margin-top: -60px;
            }

            .title2 {
                position: relative;
                z-index: 9;
            }
        }

        .accord-wrapper {
            .CardHeaderPanel > a {
                font-size: 1.5vw;
                padding: 1.8vw 1.8302vw;
            }

            .cardContext {
                p {
                    font-size: 1.4vw;
                }
            }
        }
    }
}
@media (min-width:991px) and (max-width:1199px) {
    .industry {
        .plr100 {
            padding: 0 50px;
        }

        .BannerStripContext .fontExBold {
            left: 20px;
        }

        .BannerStripContext {
            padding: 0 0 0 20px;
        }

        .section-1 {

            .title1 {
                margin-top: -5px;
            }
        }
    }
}

//tab lan to desk
@media (min-width: 1024px) {
    .student {

        .says {
            height: 7.5vw;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }

    }
    }