﻿@import "_variable";
@import "_mixin";

@media (min-width:2000px) and (max-width:3000px) {
}

@media (min-width:1800px) and (max-width:1920px) {
}

@media (min-width:1600px) and (max-width:1800px) {
}

@media (min-width:1441px) and (max-width:1599px) {
}

@media (min-width:1366px) and (max-width:1440px) {
}

@media (min-width:1200px) and (max-width:1365px) {
}

@media (min-width:1025px) and (max-width:1199px) {
}

@media (min-width:992px) and (max-width:1199px) {
    .plr100 {
        padding: 0 50px;
    }

    .paraLittle {
        font-size: 1.1vw;
    }

    .titleh4 {
        font-size: 1.6vw;
    }

    .paraSmall {
        font-size: 1.5vw;
    }

    .titleh4 {
        font-size: 1.8vw;
    }

    .LoginTemplate {
        /***Banner****/
        .BannerImg img {
            width: 85vw;
        }

        .BannerStripContext {
            padding: 0vh 0px 0vh 40px;
        }

        .TieupContext {
            padding: 0 2.5vw 0 0;
        }

        .breadcrumb.breadcrumbCustom li {
            font-size: 1.5vw;
        }

        .BannerStripContext h1 {
            width: 95vw;
        }

        .BannerStripContext p {
            font-size: 2.5vmax;
        }

        .CareerPanel {
            .ForgotPwd a {
                font-size: 1.6vw;
            }

            .browseText {
                right: 40px;
            }

            .ProcessPanel {
                width: 85vw;

                .Pc_style a {
                    font-size: 1.5vw;
                    height: 4vw;
                }

                .table.table-responsive {
                    display: table;
                }

                .th_SubFiels {
                    font-size: 1.1vw;
                }

                .LoginTable {
                    font-size: 1.5vw;
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    .plr100 {
        padding: 0 20px;
    }

    .plr20 {
        padding: 0 10px;
    }

    .paraSmall {
        font-size: 1.8vw;
    }

    .titleMedium {
        font-size: 3vw;
    }

    .paraLittle {
        font-size: 1.2vw;
    }

    .titleh4 {
        font-size: 2.2vw;
    }

    .LoginTemplate {
        /***Banner****/
        .BannerImg img {
            width: 85vw;
        }

        .breadcrumbPanel {
            bottom: -38%;
        }

        .BannerStripContext {
            padding: 0vh 0px 0vh 15px;
            height: 15vw;
        }

        .BannerStripContext h1 {
            top: 4.5vw;
            width: 95vw;
        }

        .breadcrumb.breadcrumbCustom li {
            font-size: 1.5vw;
        }

        .BannerStripContext p {
            font-size: 2.5vmax;
        }

        .CareerPanel {
            .careerFormPanel {
                .c_Tab {
                    a {
                        font-size: 1.5vw;
                    }
                }
            }

            .browseText {
                right: 40px;
            }

            .ProcessPanel {
                width: 85vw;

                .Pc_style a {
                    font-size: 1.5vw;
                    height: 4vw;
                }

                .table.table-responsive {
                    display: table;
                }

                .th_SubFiels {
                    font-size: 1.1vw;
                }

                .LoginTable {
                    font-size: 1.5vw;
                }
            }

            .FacultyLoginPanel {
                width: 45vw;
                padding: 15vw 0;
            }

            .FormStyle {
                height: 4.5vw !important;
                font-size: 1.6vw;
            }

            .ForgotPwd a {
                font-size: 2.5vw;
            }

            .browseText {
                font-size: 1.5vw;
            }

            .CareerInner {
                padding: 3vw 3vw 3vw 3vw;
            }

            .CheckFormStyle:checked:before {
                width: 1.5vw;
                height: 1.5vw;
            }

            .formTitleText {
                font-size: 1.6vw;
            }

            .CheckFormStyle {
                width: 1.7vw;
                height: 1.7vw;
            }

            .fileLabel {
                font-size: 1.5vw;
            }

            .datepickicon {
                right: 4vw;
                top: 0.2vw;
            }

            .RadioStyle:checked:before {
                width: 8px;
                height: 8px;
            }

            .RadioStyle {
                width: 1.8vw;
                height: 1.8vw;
            }

            span.datepickicon img {
                width: 2vw;
            }

            .FormBtnStyle {
                font-size: 1.5vw;
                height: 3.6vw;
            }
        }
    }
}

@media (max-width:767px) {
    /**Common***/
    .plr20 {
        padding: 0px;
    }

    .Yellowstripbgfull:before {
        display: none;
    }

    .plr100 {
        padding: 0 0;
    }

    .titleMedium {
        font-size: 26px;
    }

    .hideOnMobile {
        display: none;
    }

    .ShowOnMobile {
        display: block !important;
    }
    /**Common***/
    .LoginTemplate {
        .row.panelRow .row {
            overflow-x: auto;
        }

        i.gj-icon {
            top: 8px !important;
            right: 8px !important;
            font-size: 20px;
        }

        .panelRow td {
            padding: 0 12px 0 0;
            width: 100% !important;
        }

        .mlr {
            margin: 0;
        }

        .paraLittle {
            font-size: 10px;
        }

        .paraSmall {
            font-size: 12px;
        }

        .titleh3 {
            font-size: 26px;
        }

        .titleh4 {
            font-size: 16px;
        }

        .CoursesList .slick-list.draggable {
            overflow: hidden !important;
        }

        ul.slick-dots {
            display: none !important;
        }

        .row {
            margin: 0px !important;
        }
        /***Banner****/
        .BannerImg {
            width: 100%;
            float: none;
        }

        .BannerImg img {
            width: inherit;
        }

        .banner {
            z-index: 1;
        }

        .BannerStripContext p {
            font-size: 18px;
        }

        .BannerStripContext h1 {
            width: 100%;
            top: auto;
            margin: 10px 0 0 0;
            font-size: 18px;
        }

        .BannerStripContext {
            width: 80%;
            bottom: -70px;
            padding: 0px 10px;
            height: 100px;
        }

        .downArrowIcon {
            width: 30px;
        }

        .DownArrow {
            bottom: -60px;
            text-align: center;
            left: auto;
            right: 0;
            width: 20%;
        }

        .breadcrumbPanel {
            position: absolute;
            left: 20px;
            bottom: 0;
            text-align: left;
            z-index: 99;
        }

        .breadcrumbCustom {
            @include lineClamp($font-size: 10px, $line-height: 1.3, $lines-to-show: 1);
        }

        .breadcrumbCustom li {
            font-size: 10px;
            font-weight: 500;
        }

        .CareerPanel {
            .careerInnerTitle {
                font-size: 15px;
                margin: 0 0 10px 0;
            }

            .CareerInner {
                padding: 20px 10px 10px 10px;
            }

            .careerSubTitle {
                font-size: 12px;
                padding: 0 0 5px 0;
            }

            .careerFormPanel {
                .c_Tab {
                    a {
                        width: 100%;
                        font-size: 10px;
                        padding: 0 0 10px 0;
                    }
                }
            }

            .col-3.Pc_style {
                flex: 0 0 50%;
                max-width: 50%;
                padding: 5px 5px !important;
            }

            .ProcessPanel {
                width: 100%;
                padding: 10px 15px;

                .Pc_style a {
                    font-size: 11px;
                    height: 35px;
                }

                .Pr_Panel_List {
                    margin: 20px 0;
                }

                .LoginTable tbody tr td {
                    padding: 10px 0;
                }

                .LoginTable {
                    margin: 15px 0;
                    font-size: 8px;
                    display: table;
                    text-align: center;
                }

                .th_SubFiels {
                    font-size: 6px;
                }

                .LoginTable th:last-child {
                    width: auto;
                }

                .LoginTable th:first-child {
                    width: auto;
                }

                .th_SubFiels > div {
                    word-break: break-word;
                }
            }


            .FacultyLoginPanel {
                width: 100%;
                margin: 0;
                padding: 20px 15px;
            }

            .SubmitBtn {
                font-size: 14px;
                height: 40px;
                width: 100%;
            }

            .ForgotPwd a {
                font-size: 14px;
            }

            .ForgotPwd {
                padding: 10px 0 20px 0;
            }

            .FormStyle {
                height: 35px !important;
                padding: 0 6px;
                font-size: 11px;
            }

            .plr25 {
                padding: 0px;
            }

            .CoursesForm .plr25 {
                padding: 0px 3px;
            }

            .datepickicon img {
                width: 16px;
            }

            .datepickicon {
                top: 4px;
            }

            .mlr25 {
                margin: 0px;
            }

            .RadioStyle {
                width: 15px;
                height: 15px;
                margin: 0 10px 0 0;
                font-size: 10px;
            }

            .LabelForInput {
                font-size: 14px;
            }

            .FormBtnStyle {
                font-size: 12px;
                height: 30px;
                width: 100px;
            }

            .CheckFormStyle {
                width: 15px;
                height: 15px;
                margin: 0 10px 0 0;
            }

            .CoursesForm .col-8 {
                flex: 0 0 40%;
                max-width: 40%;
            }

            .Checkbox label {
                font-size: 12px;
            }

            .fileLabel {
                font-size: 12px;
                padding: 6px 20px;
            }

            .browseText {
                position: static;
                font-size: 12px;
                padding: 0px !important;
            }

            .CoursesForm .col-2 {
                flex: 0 0 30%;
                max-width: 30%;
            }

            .CheckFormStyle:checked:before {
                width: 13px;
                height: 13px;
            }

            .formTitleText {
                font-size: 10px;
            }
        }
    }
}

@media (min-width:300px) and (max-width:350px) {
}
