﻿@import "_variable";
@import "_mixin";
@media (min-width:2000px) and (max-width:3000px) {
    .ParentPanel {
        .cmpinn img {
            width: 100%;
        }

        .StyleForSlickArrowsTop .slick-prev {
            right: 4%;
        }

        .TextOverlap {
            left: -7%;
        }

        .guestPanelStyle img {
            width: 100%;
        }

        .EventPanelStyle img {
            width: 100%;
        }
    }
}
@media (min-width:1800px) and (max-width:1920px) {
    .ParentPanel {
        .Ind_inn {
            padding: 0 25px;
        }

        .TextOverlap {
            left: -7%;
        }

        .healthbg {
            height: 11vw;
        }

        .industry_blockList {
            margin: 0 -25px;
        }

        .StoryTitleStrip p {
            top: -35%;
        }
    }
}
@media (min-width:1600px) and (max-width:1800px) {
    .ParentPanel {
        .SplOverlapContext {
            height: auto;
        }

        .homeIndicatorStyle {
            bottom: -19%;
        }


    }
}
@media (min-width:1441px) and (max-width:1599px) {
    .ParentPanel {
        .st_inn h2 {
            padding: 20px 0 15px 0;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 35px;
            height: 36px;
        }
    }
}

@media (min-width:1366px) and (max-width:1440px) {
    .ParentPanel {
        .st_inn h2 {
            padding: 20px 0 15px 0;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 35px;
            height: 36px;
        }
    }
}

@media (min-width:1200px) and (max-width:1365px) {
    .ParentPanel {
        .clblk_Top {
            padding: 2vh 25px 2vh 20px;
        }

        .st_inn h2 {
            padding: 20px 0 15px 0;
        }
    }
}

@media (min-width:1025px) and (max-width:1199px) {

}

@media (min-width:992px) and (max-width:1199px) {
    .plr100 {
        padding: 0 50px;
    }

    .paraLittle {
        font-size: 1.1vw;
    }

    .titleh4 {
        font-size: 1.6vw;
    }

    .paraSmall {
        font-size: 1.5vw;
    }
    .titleh4 {
        font-size: 1.8vw;
    }

    .ParentPanel {
        /***Accordion****/
        .DetailsBlk {
            padding: 5vw 4vw 2vw 4vw;
        }

        .ApplyNow a {
            font-size: 1.6vw;
            width: 16vw;
            height: 3.5vw;
        }

        .card-body.cardContext {
            padding: 10px 25px 10px 25px;
        }

        table {
            margin: 20px 0;
            font-size: 1.1vw;
            font-weight: 500;
        }

        .cardContext p {
            font-size: 1.3vw;
            line-height: 22px;
        }

        .appList p {
            font-size: 1.8vw;
        }

        .BannerImg img {
            width: 77vw;
        }
        /***Watch Panel*/
        .HomeBtnStyle {
            font-size: 1vw;
            height: 4vw;
            width: 20vw;
        }

        .WatchPanel {
            right: 35px;
        }

        .link_list.text-right.noPadding {
            right: 50px;
        }

        .BannerStripContext {
            padding: 3vw 1vw 2.5vw 3vw;
        }

        .BannerStripContext h1 {
            font-size: 2.5vw;
        }

        .breadcrumbCustom li {
            font-size: 0.9vw;
        }
        /***Campus*/
        .GrayTitle {
            color: #EEEEEE;
            font-size: 7.2vw;
            position: relative;
            top: 0vh;
        }

        .link_list a {
            font-size: 1.2vw;
        }

        .cmpinn p {
            font-size: 1.2vw;
        }
        /**Student Living*/
        .StudentLivingPanel .StyleForSlickArrows .slick-prev, .StudentLivingPanel .StyleForSlickArrows .slick-next {
            bottom: -60px;
            top: auto;
        }

        .TwoBlockCarousel .slick-list {
            height: 16vw;
        }

        .StudentLivingPanel .StyleForSlickArrows .slick-next {
            right: auto;
            left: 50px;
        }

        .AchieveInner .CarouselforSlick button {
            display: none !important;
        }

        .knowMoreStyle {
            font-size: 1vw;
        }

        .fac_Row {
            height: 20vw;
        }
        /**STories*/
        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }

        .CheckBlk {
            padding: 2.5vw 20px;
        }

        .CourseFind a {
            font-size: 1vw;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.5vw;
        }

        .StoriesContext a {
            font-size: 1.2vw;
        }

        .guestPanelInn.StyleForSlickArrows .slick-prev {
            left: 45%;
        }

        .guestPanelInn.StyleForSlickArrows .slick-next {
            right: auto;
            left: 50%;
        }

        .guestPanelInn.StyleForSlickArrows .slick-prev, .guestPanelInn.StyleForSlickArrows .slick-next {
            top: auto;
            bottom: -50px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: 45%;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: auto;
            left: 50%;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            top: auto;
            bottom: 25px;
        }

        .FacultyStrip h2 {
            font-size: 4vw;
        }

        .st_inn h2 {
            padding: 20px 0 15px 0;
        }

        .st_inn h3 {
            font-size: 1.3vw;
        }

        .ind_CompanyList {
            padding: 0 70px 12px 70px;
        }
        /***Student Living*/
        .SLCarouselPanel button {
            display: none !important;
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    .plr100 {
        padding: 0 20px !important;
    }
    .plr20 {
        padding: 0 10px;
    }
    .paraSmall {
        font-size: 1.8vw;
    }
    .titleMedium {
        font-size: 3vw;
    }
    .paraLittle {
        font-size: 1.2vw;
    }
    .titleh4 {
        font-size: 2.2vw;
    }
    .ParentPanel {
        .CardHeaderPanel > a:after {
            font-size: 22px;
        }
        /***Accordion****/
        .DetailsBlk {
            padding: 5vw 4vw 2vw 4vw;
        }

        .ApplyNow a {
            font-size: 1.6vw;
            width: 16vw;
            height: auto;
        }

        .card-body.cardContext {
            padding: 10px 25px 10px 25px;
        }

        table {
            margin: 20px 0;
            font-size: 1.6vw;
            font-weight: 500;
        }

        .cardContext p {
            font-size: 1.7vw;
            line-height: 22px;
        }

        .appList p {
            font-size: 1.8vw;
        }

        /***Banner****/
        .BannerImg img {
            width: 85vw;
        }

        .BannerStripContext {
            padding: 2.5vw 15px 2.5vw 15px;
        }

        .breadcrumbPanel {
            left: 56%;
        }

        .breadcrumb.breadcrumbCustom li {
            font-size: 1.5vw;
        }

        .BannerStripContext h1 {
            font-size: 2.5vw;
        }
        /**Watch Panel*/
        .WatchPanel {
            right: 10px;
        }

        .applyCourses .plr100 {
            padding: 0px 20px;
        }

        .downArrowIcon {
            width: 3.5vw;
        }

        .DownArrow {
            bottom: -12%;
            left: 0;
        }

        .HomeBtnStyle {
            font-size: 1vw;
            width: 20vw;
            height: 5.2vw;
        }

        .helplineChatInner a {
            font-size: 1.2vw;
        }
        /***Campus***/
        .GrayTitle {
            top: 1vh;
        }

        .CampusPanel .link_list {
            right: 20px;
        }

        .CampusInner {
            padding: 0px 0 35px 0;
        }

        .cmpinn p {
            width: 100%;
            font-size: 1.5vw;
        }
        /**Student Living**/
        .st_inn h3 {
            font-size: 1.5vw;
        }

        .SLCarouselPanel.StyleForSlickArrows .slick-prev, .SLCarouselPanel.StyleForSlickArrows .slick-next {
            top: auto;
            bottom: -40px;
            left: 7px;
        }

        .SLCarouselPanel {
            margin-top: -2vw;
        }

        .SLCarouselPanel.StyleForSlickArrows .slick-next {
            right: auto;
            left: 50px;
        }

        .SLCarouselPanel button {
            display: none !important;
        }

        .SLCarouselPanel button {
            display: none !important;
        }

        .SLContextInner {
            height: 10.6vw;
        }

        .SLContext p {
            @include lineClamp($font-size: 1.4vw, $line-height: 1.3, $lines-to-show: 4);
            height: 7vw;
        }

        .link_list a {
            font-size: 1.4vw;
        }
        /**Healthy**/
        .healthImg img {
            width: 50px;
        }

        .checkBtnStyle {
            height: 4.6vw;
            font-size: 1.4vw;
        }

        .healthbg {
            height: 15vw;
        }

        .PosiitonHealthyPanel {
            top: 150px;
        }

        .HealthyPanel {
            height: 38vw;
            margin: -17vw 0 0 0;
        }
        /**Student Achievements*/
        .AchieveContextPAra {
            height: 9vw;
        }

        .StudentLogoBanner {
            padding: 8vw 0 0 0;
        }

        .AchieveContextInn {
            background: #FFCA08;
            height: 16vw;
        }

        .AchieveContextInn p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 4);
        }

        .AchieveInner {
            padding: 2vw 0 3vw 0;
        }

        .studenAchievPanel .CarouselforSlick button {
            display: none !important;
        }


        .AchieveTitleBlock p {
            position: relative;
            top: 5px;
        }

        .knowMoreStyle {
            font-size: 1.3vw;
        }

        .AchieveInner .CarouselforSlick button {
            display: none;
        }
        /**Student Stories**/
        .StoryTitleStrip {
            width: 30vw;
            height: 10vw;
        }

        .StoryStyle.CarouselforSlick button {
            display: none !important;
        }

        .StudentStoriesPanel {
            padding: 18vw 0 0 0;
        }

        .StoryTitleStrip p {
            top: -3vw;
            font-size: 4.5vw;
        }


        .StoryTitleStrip h2 {
            font-size: 6vw;
        }

        .storiesPannInn.StyleForSlickArrows .slick-next {
            right: 7px;
            left: auto;
        }

        .storiesPannInn.StyleForSlickArrows .slick-prev {
            right: 50px;
            left: auto;
        }

        .storiesPannInn StyleForSlickArrows .slick-prev, .storiesPannInn.StyleForSlickArrows .slick-next {
            top: 0;
        }

        .StoriesContext {
            width: 24vw;
            display: block;
            height: 20vw;
        }

        .StoriesContext h2 {
            @include lineClamp($font-size: 2vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext h3 {
            @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext p {
            @include lineClamp($font-size:1.4vw, $line-height: 1.3, $lines-to-show: 3);
            height: 7vw;
        }

        .StoriesContext a {
            font-size: 1.4vw;
        }
        /**Courses**/
        .TextOverlap {
            left: -6%;
            top: -13%;
        }

        .clblk_Top h2 {
            @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 2);
        }

        .coursesfor p {
            @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 2);
        }

        .courseTitle p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .coursesfor {
            height: 10vw;
        }

        .clblk_Top {
            padding: 2vw 2vw;
            min-height: 29vw;
        }

        .CheckBlk {
            padding: 2.5vw 20px;
        }

        .forApplication p {
            @include lineClamp($font-size: 1.3vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .forApplication {
            padding: 2vw 2vw;
        }

        .forApplication span {
            @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .CoursesPanel {
            margin: 0px 0 0 0;
        }

        .CoursesPanel .StyleForSlickArrowsTop .slick-prev, .CoursesPanel .StyleForSlickArrowsTop .slick-next {
            right: 7px;
            top: -12%;
        }

        .CoursesPanel .StyleForSlickArrowsTop .slick-prev {
            right: 60px;
            left: auto;
        }

        .StyleForSlickArrows.TwoBlockCarousel .slick-prev, .StyleForSlickArrows.TwoBlockCarousel .slick-next {
            top: auto;
            bottom: 35%;
        }

        .TwoBlockCarousel .slick-list {
            height: 32vw;
        }

        .link_list.text-right.noPadding {
            right: 20px;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }

        .CourseFind a {
            font-size: 1.5vw;
            height: 35px;
        }

        .Visit_list a {
            width: auto;
            padding: 0 10px !important;
            display: flex;
            align-items: center;
        }

        .ApplyNow a {
            width: 16vw;
            height: 35px;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        /***Faculty*/
        .FacultyStrip h2 {
            font-size: 5.2vw;
        }

        .FacultyPanel {
            padding: 0 0 4vw 0;
        }

        .fac_Row {
            height: auto;
        }

        .col-sm-8.fac_List {
            padding: 8vw 0 0 0;
        }

        .FacultyStrip {
            height: 12vw;
        }

        .col-sm-4.fac_Inn {
            padding: 0 20px;
        }

        .fac_InnerRow {
            margin: 0 -20px;
        }

        .Num_Title {
            font-size: 1.8vw;
        }

        .StyleForSlickArrows .slick-prev {
            left: 0px;
        }

        .StyleForSlickArrows .slick-next {
            right: 0;
            left: auto;
        }
        /****Events***/
        .Event_Inner .link_list {
            top: 2%;
        }

        .industryStrip {
            height: 8vw;
        }

        .EventCarousel button {
            display: none !important;
        }

        .Event_Inner .CarouselforSlick button {
            display: none;
        }

        .EventContStyle {
            height: 16vw;
        }

        .EventContStyle h4 {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .EventPara {
            height: 7vw;
        }

        .EventPara p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 4);
        }
        /***Industry**/
        .industryStrip h2 {
            font-size: 3.5vw;
        }

        .IndContext h4 {
            padding: 0 0 0 2vw;
        }

        .industryPanel .link_list {
            position: static;
        }

        .ind_CompanyList {
            padding: 0 40px 12px 40px;
        }

        .industry_blockList {
            margin: 0 -20px;
        }

        .Ind_inn {
            padding: 0 20px;
        }
        /***Guest**/
        .guestContext p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show:2);
        }

        .GuestcontextInner {
            min-height: 6vw;
        }

        .StyleForSlickArrows.TwoBlockCarousel .slick-next {
            right: 45%;
        }
    }
}

@media (max-width:767px) {
    /**Common***/
    .plr20 {
        padding: 0px;
    }
    .Yellowstripbgfull:before{
        display:none;
    }
    .plr100 {
        padding: 0 0;
    }
    .titleMedium {
        font-size: 26px;
    }
    .hideOnMobile{
        display:none;
    }
    .ShowOnMobile {
        display: block !important;
    }
    /**Common***/
    .ParentPanel {
        .mlr {
            margin: 0;
        }
        /**Accordion*/
        .DetailsBlk {
            padding: 20px 15px;
        }

        .global-img {
            margin-left: 0;
        }

        .EventCarousel {
            padding: 0 !important;
            margin: 0 0 40px 0;
        }
       
        .AccordionStyle {
            z-index: 1;

            .CardHeaderPanel {
                a {
                    font-size: 12px;
                    padding: 10px 15px;

                    &:after {
                        font-size: 20px;
                        top: 5px;
                    }
                }
            }

            .cardContext {
                padding: 1vw;

                p, li, a {
                    font-size: 10px !important;
                    line-height: inherit;
                }
            }
        }

        .DisclaimerTExt.DisclaimerTExtTop {
            padding: 0 0 20px 0;
        }

        .paraLittle {
            font-size: 10px;
        }

        .paraSmall {
            font-size: 12px;
        }

        .titleh3 {
            font-size: 30px;
        }

        .titleh4 {
            font-size: 16px;
        }

        .CoursesList .slick-list.draggable {
            overflow: hidden !important;
        }

        ul.slick-dots {
            display: none !important;
        }

        .row {
            margin: 0px !important;
        }

        .ind_CompanyList {
            margin: 0 0px;
        }
        /***Watch Panel*/
        .WatchPanel {
            position: relative;
            bottom: -55px;
            right: auto;
            z-index: 9;
            display: block !important;
            left: 10px;
            width: 95%;
        }

        .helplineChatInner {
            display: none;
        }


        .WatchPanel a img {
            width: 20px;
        }

        .helplineChatInner a {
            margin: 10px 0;
            font-size: 11px;
        }

        .HomeBtnStyle {
            font-size: 10px;
            height: auto;
            width: 50%;
            margin: 0 0 6px 0;
            padding: 6px 10px 6px 20px;
        }
        /***Banner****/
        .BannerImg {
            width: 100%;
            float: none;
        }

        .BannerImg img {
            width: 100%;
        }

        .banner {
            z-index: 1;
        }

        .BannerStripContext h1 {
            font-size: 20px;
        }

        .BannerStripContext {
            width: 80%;
            bottom: -70px;
            padding: 50px 10px 50px 20px;
            height: 240px;
        }

        .downArrowIcon {
            width: 30px;
        }

        .DownArrow {
            bottom: -60px;
            text-align: center;
            left: auto;
            right: 0;
            width: 20%;
            z-index: 99;
        }

        .breadcrumbPanel {
            position: absolute;
            left: 20px;
            bottom: 130px;
        }

        .breadcrumbCustom li {
            font-size: 13px;
            font-weight: 500;
        }
        /**Campus***/
        .CampusBg img {
            width: 100vw;
        }

        .col-sm-4.cmpinn {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .CampusBg {
            position: absolute;
            right: 0px;
            top: -60px;
        }

        .cmpinn p {
            width: 100%;
            font-size: 12px;
            padding: 8px 0 20px 0;
        }

        .CampusInner {
            padding: 20px 0 10px 0;
        }

        .plr7 {
            padding: 0 15px;
        }

        .GrayTitle {
            font-size: 55px;
            top: 0vh;
            padding: 0 15px;
            margin: 0;
        }
        /****Student Living***/
        .st_inn {
            width: 80%;
            padding: 0 15px 55px 15px;
            height: auto;
        }

        .st_inn h2 {
            font-size: 35px;
            padding: 20px 0 20px 0;
        }

        .StudentLivingPanel {
            background: $colorLightWhite;
        }

        .SLContext {
            padding: 0 26vw 0px 0;
            margin: -3.5vh 0 0 0;
        }

        .SLCarouselPanel {
            margin: -30px 0 0 0 !important;
        }

        .SLContextInner {
            padding: 15px 15px 15px 15px;
            height: 110px;
        }

        .SLContext p {
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 4);
        }

        .st_inn h3 {
            font-size: 11px;
            padding: 0 0 5px 0;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 10px;
        }

        .StyleForSlickArrows .slick-prev {
            left: auto;
            right: 22%;
        }

        .SLCarouselPanel .slick-list {
            padding: 0 15px;
        }

        .StudentLivingPanel .link_list {
            display: none;
        }

        .SLCarouselPanel .guestPanelStyle {
            padding: 0 15px 0 0;
        }

        .StyleForSlickArrows .slick-next {
            right: 10%;
        }
        /**Healthy Panel***/
        .PosiitonHealthyPanel {
            position: static;
            margin: 60px 0 0px 0;
        }

        .TwoBlockCarousel .slick-list {
            height: 130px;
        }

        .AchieveTitleBlock p {
            top: 8px;
        }

        .StyleForSlickArrows.TwoBlockCarousel .slick-prev {
            left: 35%;
        }

        .StyleForSlickArrows.TwoBlockCarousel .slick-next {
            right: 40%;
        }

        .StyleForSlickArrows.TwoBlockCarousel .slick-prev, .StyleForSlickArrows.TwoBlockCarousel .slick-next {
            top: auto;
            bottom: 0%;
        }

        .HealthyTitle {
            padding: 0 15px;
        }

        .healthImg img {
            width: 35px;
        }

        .healthbg {
            height: 80px;
            padding: 0 15px;
        }

        .col-sm-6.healthList {
            flex: 0 0 100%;
            width: 100%;
            margin: 0 0 20px 0;
        }

        .healthContext {
            padding: 0 0 0 20px;
        }

        .col-sm-6.healthList:last-child {
            order: -1;
        }

        .HealthyPanel {
            height: auto;
            margin: 0;
        }
        /***Guest**/
        .guestContext {
            padding: 0 20vw 0 0;
        }

        .guestBg {
            padding: 15px 15px;
        }

        .GuestcontextInner {
            min-height: 50px;
        }

        .guestContext p {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show:2);
        }

        .guestPanelInn.StyleForSlickArrows .slick-prev {
            left: auto;
            right: 14%;
        }

        .GuestLecturePanel {
            padding: 5vh 0 5vh 0;
        }


        .guestPanelInn.StyleForSlickArrows .slick-next {
            right: 3%;
        }
        /***PArent Stories**/
        .ParentStoriesPanel {
            padding: 30px 15px 15px 15px;
        }

        .Studentstories .link_list {
            position: static;
        }

        .Event_Inner .link_list.text-right {
            position: static;
            padding: 10px 15px;
        }

        .ParentStoriesPanel .link_list.text-right.noPadding {
            position: static;
        }

        .ParentStoriesBG {
            background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
            background-position: 0 -200px;
            background-size: cover;
        }

        .StoryTitleStrip {
            width: 280px;
            padding: 0 15px;
            height: auto;
        }

        .storiesPannInn {
            padding: 30px 0 0 0;
        }

        .storiesPanStyle {
            padding: 0px !important;
        }

        .storiesPanStyle img {
            width: 230px;
        }

        .StoryTitleStrip p {
            font-size: 30px;
            top: -38%;
        }

        .StoryTitleStrip h2 {
            font-size: 50px;
        }

        .StoriesContext {
            left: 40%;
            width: 200px;
            padding: 10px 15px;
            height: 175px;
        }

        .StoriesContext h3 {
            font-weight: 500;
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext h2 {
            @include lineClamp($font-size: 18px, $line-height: 1.3, $lines-to-show: 1);
            margin: 0 0 10px 0;
        }

        .StoriesContext p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 4);
            margin: 0 0 10px 0;
            height: 65px;
        }

        .StoriesContext a {
            font-size: 11px;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: 0px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 60px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: auto;
            right: 0;
            bottom: 105px;
        }
        /**Industry UPES*/
        .industryPanel {
            padding: 0px 15px 0 15px;
            margin: 70px 0 0 0;
        }

        .IndContext {
            width: 80%;
        }

        .industryStrip {
            height: 13vh;
        }

        .industryStrip h2 {
            font-size: 28px;
            margin: 0 -4vh 0 0;
        }

        .col-sm-4.Ind_inn {
            padding: 25px 25px;
        }

        .Numb_list {
            font-size: 30px;
            width: 60%;
        }

        .Num_Title {
            font-size: 14px;
            padding: 0;
            width: 40%;
        }

        .industry_blockList {
            padding: 0px;
        }

        .industryPanel .link_list {
            text-align: center;
            position: static;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev, .ind_CompanyList.StyleForSlickArrows .slick-next {
            bottom: -50px;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev {
            left: 40%;
            right: auto;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-next {
            right: 36%;
        }

        .ind_CompanyList {
            padding: 0 18px;
            margin: 0 0 50px 0;
        }

        .industryPanel .link_list a {
            font-size: 11px;
        }
        /**Events***/
        .fac_Row {
            height: auto;
        }

        .Event_Inner {
            padding: 40px 0 0 50px;
        }

        .eventContext {
            margin: -30px 0 0 0;
            padding: 0 0 0 45px;
        }

        .Event_Inner h2 {
            padding: 4.6vh 15px;
            position: absolute;
            left: -35px;
            -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            transform: rotate(270deg);
            top: 25%;
        }

        .Event_Inner .link_list {
            position: absolute;
            right: 15px;
            top: auto;
            bottom: -60px;
            z-index: 9999;
        }

        .link_list a {
            font-size: 11px;
        }

        .EventContStyle {
            height: 140px
        }

        .EventContStyle h4 {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 1);
        }

        .EventPara {
            height: 75px;
        }

        .EventPara p {
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 1);
        }


        .EventCarousel.StyleForSlickArrows .slick-prev {
            left: -7%;
            right: auto;
        }

        .EventCarousel.StyleForSlickArrows .slick-prev, .EventCarousel.StyleForSlickArrows .slick-next {
            bottom: 0px;
            top: auto;
        }

        .EventCarousel.StyleForSlickArrows .slick-next {
            right: auto;
            left: -7%;
            bottom: 50px;
        }
        /**Faculty*/
        .fac_Row {
            padding: 20px 0px;
        }

        .fac_List {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .fac_List h4 {
            padding: 0 15px;
            width: 50%;
            font-size: 14px;
        }

        .FacultyStrip h2 {
            font-size: 28px;
            padding: 0 25px;
        }

        .FacultyStrip {
            height: 13vh;
            align-items: center !important;
        }

        .col-sm-4.fac_Inn:first-child {
            position: absolute;
            top: -90px;
            right: 0;
        }

        .fac_Inn .Num_Title {
            font-size: 14px;
            margin: 0;
            padding: 0 15px;
            width: 100%;
        }

        .col-sm-4.fac_Inn {
            padding: 0 15px;
            flex: 0 0 50%;
            max-width: 50%;
        }

        .fac_InnerRow {
            padding: 10px 0 0 0;
        }

        .FacultyStrip {
            width: 80%;
        }
        /**Courses**/
        .CoursesPanel {
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            margin: 0;
            background-size: cover;
            background-position: top;
        }

        .applyCourses .plr100 {
            padding: 0;
        }

        .coursesfor p {
            @include lineClamp($font-size: 10px, $line-height: 1.3, $lines-to-show: 2);
        }

        .CL_bg {
            min-height: 380px;
        }

        .CoursesList {
            margin: 0;
            padding: 20px 15px;
        }

        .CL_Block {
            padding: 0 0 0 15px;
            width: 75%;
            overflow: hidden;
        }

        .CoursesList .slick-list {
            padding: 0 15px;
        }

        .TextOverlap {
            position: relative;
            font-size: 55px;
            padding: 0 15px;
            height: auto;
            top: -15px;
            left: 0;
        }

        .crseTitle {
            padding: 0 15px;
            font-size: 20px;
            margin: -35px 0 0 0;
        }

        .courseTitle h2 {
            color: #00448B;
        }

        .applyCourses {
            background: #f7f7f7;
            padding: 70px 0 20px 0;
        }

        .courseIcon {
            width: 35px;
        }

        .CLK_blk {
            padding: 0 0 0 15px;
            width: 75%;
            overflow: hidden;
        }

        .coursesfor a {
            position: static;
            font-size: 10px;
        }

        .courseTitle {
            height: 35px;
        }

        .clblk_Top h2 {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 2);
        }

        .courseTitle p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show:1);
        }

        .clblk_Top {
            display: flex;
            border-bottom: none;
            padding: 15px 30px 15px 20px;
            min-height: 180px;
        }

        .course_iconStyle {
            min-height: inherit;
            max-height: inherit;
            width: 25%;
        }


        .CheckBlk {
            padding: 5.5vw 40px;
        }

        .CheckBlk a {
            height: 35px;
        }

        .forApplication span {
            display: inline-block;
            @include lineClamp($font-size: 10px, $line-height: 1.3, $lines-to-show: 1);
        }

        .forApplication p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 1);
        }

        .CoursesList.StyleForSlickArrows .slick-prev, .CoursesList.StyleForSlickArrows .slick-next {
            bottom: -30px;
        }

        .CoursesList.StyleForSlickArrows .slick-prev {
            left: 40%;
            right: auto;
        }

        .CoursesList.StyleForSlickArrows .slick-next {
            right: auto;
            left: 53%;
        }

        .coursesfor {
            height: 80px;
        }

        .forApplication {
            min-height: 85px;
            padding: 20px 20px;
            border-top: 1px solid #EEEEEE;
        }

        .Visit_list a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 11px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .Visit_list {
            margin: 0 0 10px 0;
        }

        .ApplyNow a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 11px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .applyCourses .d-flex {
            display: block !important;
            text-align: center;
        }
        /***Mobile Accordion***/
        .CoursesForMobile {
            padding: 0 15px;
        }

        .AccordionStyleForMobile {
            margin: 40px 0 0 0;
            box-shadow: 0 5px 5px #ccc;
            position: relative;

            .table-cover {
                overflow-x: auto;
            }

            .CardHeaderPanel > a {
                display: block;
                position: relative;
                font-weight: 600;
                color: $colorBlack;
                padding: 0 15px;
                /*border-bottom: 1px solid #FAFAFA;*/
                display: flex;
                height: 55px;
                align-items: center;
            }

            .CardHeaderPanel > a:after {
                content: '+';
                font-family: cursive;
                position: absolute;
                right: 15px;
                font-weight: 600;
                font-size: 30px;
                color: #000;
            }

            .CardHeaderPanel > a[aria-expanded="true"]:after {
                content: '-';
            }

            .table-cover span {
                font-weight: 500 !important;
                font-size: 1vw;
            }

            .card-body.cardContext {
                padding: 0;
            }

            .card-header {
                background: inherit;
                border: none;
                padding: 0px;
            }

            .card {
                border: none;
                border-radius: 0px;
                margin: 10px 0;
            }

            .DetailsBlk {
                padding: 2.5vw 8vw;
            }
        }
        /***Achievements***/
        .AchieveInner {
            padding: 15px 0 0 0;
            z-index: 99;
        }

        .AchieveInner .link_list.text-right.noPadding {
            position: static;
        }

        .StudentLogoBanner {
            background: #f7f7f7;
        }

        .AchieveTitleBlock {
            padding: 0 15px;
        }

        .AchieveContext {
            padding: 0 0 0 60px;
        }

        .AchieveContextInn {
            padding: 20px 20px;
            height: 150px;
        }

        .AchieveContextPAra {
            height: 95px;
        }

        .AchieveContextInn p {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 4);
        }

        .studenAchievPanel .EventPanelStyle img {
            width: 280px;
        }


        .knowMoreStyle {
            font-size: 11px;
        }

        .studenAchievPanel .StyleForSlickArrows .slick-prev, .studenAchievPanel .StyleForSlickArrows .slick-next {
            display: none !important;
        }

        .link_list.ShowOnMobile {
            padding: 10px 15px;
            display: none !important;
        }

        .StudentStoriesPanel {
            margin: -190px 0 0 0;
            padding: 0px;
        }

        .Studentstories {
            background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
            background-position: 0 -200px;
            background-size: cover;
            padding: 250px 15px 0 15px;
        }

        .LogoBanner:before {
            display: none;
        }
    }
    }
@media (min-width:300px) and (max-width:350px) {
    .ParentPanel {
        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: 10%;
            right: auto;
            bottom: 105px;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: auto;
            left: 10%;
        }
    }
}