﻿@import "_variable.scss";
/*mixin*/
@mixin BgGradient($direction,$top,$bottom) {
    background: -webkit-linear-gradient($direction,$top,$bottom);
    background: -moz-linear-gradient($direction,$top,$bottom);
    background: -o-linear-gradient($direction,$top,$bottom);
    background: linear-gradient($direction,$top,$bottom);
}
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
@mixin tranform($transform){
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}
@mixin ulnone{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
@mixin lineClamp($font-size, $line-height: 1.4, $lines-to-show: 3) {
    display: block;
    display: -webkit-box;
    max-height: $font-size*$line-height*$lines-to-show;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin lineRestriction{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

@mixin inputcolorchange {
    ::-webkit-input-placeholder {
        color: $colorBlack !important;
    }

    ::-moz-placeholder {
        color: $colorBlack !important;
    }

    :-ms-input-placeholder {
        color: $colorBlack !important;
    }

    :-moz-placeholder {
        color: $colorBlack !important;
    }
}