﻿@import "_variable";
@import "_mixin";
@media (min-width:1800px) and (max-width:1920px) {

}
@media (min-width:1600px) and (max-width:1800px) {
}
@media (min-width:1441px) and (max-width:1599px) {

}

@media (min-width:1366px) and (max-width:1440px) {

}

@media (min-width:1200px) and (max-width:1365px) {
    .ProgramDetailPanel {
        table {
            margin: 20px 0;
            font-size: 1.1vw;
            font-weight: 500;
        }
    }
}

@media (min-width:1025px) and (max-width:1199px) {

}

@media (min-width:992px) and (max-width:1199px) {
    .plr100 {
        padding: 0 50px;
    }

    .paraLittle {
        font-size: 1.1vw;
    }

    .titleh4 {
        font-size: 1.6vw;
    }

    .paraSmall {
        font-size: 1.5vw;
    }

    .titleh4 {
        font-size: 1.8vw;
    }
    .para_three {
        font-size: 1.5vw;
    }
    .downArrowIcon {
        width: 3vw;
    }

    .ProgramDetailPanel {
        .link_list a {
            font-size: 1.2vw;
        }
        /**Watch Panel*/
        .WatchPanel {
            right: 10px;
        }

        .HomeBtnStyle {
            font-size: 1vw;
        }
        /**Banner*/
        .BannerImg img {
            width: 77vw;
        }

        .BannerStripContext h1 {
            top: -30px;
            left: 3.5vw;
        }

        .BannerContextList {
            left: 3.5vw;
            height: 9vw;
            overflow: hidden;
        }

        .breadcrumbCustom li {
            font-size: 1.1vw;
        }
        /**Campus****/
        .GrayTitle {
            top: 0vh;
        }

        .det_Context {
            font-weight: 500;
        }

        .DetailInner {
            padding: 0 0 30px 0;
        }

        .det_Context li {
            padding: 0 0 30px 0;
            font-size: 1.4vw;
        }
        /***Accordion****/
        .DetailsBlk {
            padding: 5vw 4vw 2vw 4vw;
        }

        .ApplyNow a {
            font-size: 1.6vw;
            width: 16vw;
            height: 3.5vw;
        }

        .card-body.cardContext {
            padding: 10px 25px 10px 25px;
        }

        table {
            margin: 20px 0;
            font-size: 1.1vw;
            font-weight: 500;
        }

        .cardContext p {
            font-size: 1.3vw;
            line-height: 22px;
        }

        .appList p {
            font-size: 1.8vw;
        }

        .SocialList a img {
            width: 3vw;
        }
    }
}
@media (min-width:768px) and (max-width:991px) {
    .plr100 {
        padding: 0 20px;
    }
    .plr20 {
        padding: 0 10px;
    }
    .ProgramDetailPanel {
        /**Epm 1082019 Enquiry Form*/
        .EnquiryPanel {
            padding: 40px 0 40px;

            .EnqInner {
                width: 100%;
                padding: 0 4vw;

                h2 {
                    font-size: 5vw;
                }
            }

            .HomeBtnStyle {
                font-size: 1.5vw;
                width: 25vw;
            }
        }
        /**Epm 1082019 Enquiry Form ends*/
        .link_list a {
            font-size: 1.4vw;
        }

        .WatchPanel {
            right: 20px;
        }

        .appList.ApplyNow a {
            height: 4vw;
        }

        .paraSmall {
            font-size: 1.8vw;
        }

        .titleMedium {
            font-size: 3vw;
        }

        .para_three {
            font-size: 1.7vw;
        }

        .paraLittle {
            font-size: 1.2vw;
        }

        .titleh4 {
            font-size: 2.2vw;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }
        /***Banner****/
        .sodText {
            left: 4vw;
        }

        .CardHeaderPanel > a:after {
            font-size: 22px;
        }

        .BannerImg img {
            width: 85vw;
        }

        .BannerStripContext {
            padding: 2.5vw 15px 2.5vw 15px;
        }

        .breadcrumb.breadcrumbCustom li {
            font-size: 1.5vw;
        }

        .BannerStripContext h1 {
            font-size: 5vw;
            display: flex;
            align-items: center;
            left: 4vw;
            width: 70vw;
            top: -20px;
        }

        .BannerContextList {
            left: 5vw;
            height: 9vw;
            overflow: hidden;
        }

        .BannerContextList li {
            font-size: 1.5vw;
            padding: 0 0 2vw 0;
        }

        .downArrowIcon {
            width: 3.5vw;
        }

        .breadcrumbPanel {
            left: 55%;
            padding: 0 1vw 0 0;
        }

        .DownArrow {
            bottom: -12%;
            left: 0;
        }

        .HomeBtnStyle {
            font-size: 1vw;
            width: 20vw;
            height: 5.2vw;
        }

        .helplineChatInner a {
            font-size: 1.2vw;
        }
        /**Campus****/
        .GrayTitle {
            top: 0vh;
        }

        .det_Context {
            font-weight: 500;
        }

        .DetailInner {
            padding: 0 0 30px 0;
        }

        .det_Context li {
            padding: 0 0 30px 0;
            font-size: 1.7vw;
        }
        /***Accordion****/
        .DetailsBlk {
            padding: 5vw 4vw 2vw 4vw;
        }

        .ApplyNow a {
            font-size: 1.6vw;
            width: 16vw;
            height: auto;
        }

        .card-body.cardContext {
            padding: 10px 25px 10px 25px;
        }

        table {
            margin: 20px 0;
            font-size: 1.6vw;
            font-weight: 500;
        }

        .cardContext p {
            font-size: 1.7vw;
            line-height: 22px;
        }

        .appList p {
            font-size: 1.8vw;
        }

        .SocialList a img {
            width: 3vw;
        }
    }
 }

@media (max-width:767px) {
    /**Common***/
    .plr20 {
        padding: 0px;
    }
    .para_three {
        font-size: 12px;
    }
    .Yellowstripbgfull:before{
        display:none;
    }
    .plr100 {
        padding: 0 0;
    }
    .titleMedium {
        font-size: 26px;
    }
    .hideOnMobile{
        display:none;
    }
    .ShowOnMobile {
        display: block !important;
    }
    .row {
        margin: 0px ;
    }
    /**Common Ends***/
    .ProgramDetailPanel {
        /**Epm 1082019 Enquiry Form*/
        .EnquiryPanel {
            padding: 40px 0 40px;

            .EnqInner {
                width: 100%;

                h2 {
                    font-size: 34px;
                    margin: 0 0 10px 0;
                    padding: 0 10px;
                }

                .enq_row {
                    padding: 0 10px;
                }

                .enq_form {
                    margin: 0 0 15px 0;

                    .enqFormstyle {
                        height: 40px;
                        font-size: 13px;
                    }
                }

                .formSubmit {
                    a {
                        width: 190px;
                        justify-content: center !important;
                    }
                }
            }
        }
        /**Epm 1082019 Enquiry Form ends*/
        .CampusPanelNewStyle {
            margin: 0px 0 0 0;
        }

        .mlr {
            margin: 0;
        }

        .table-cover ol li span {
            font-size: 11px;
            line-height: 20px;
            font-weight: 500 !important;
        }

        .AccordionStyle table td {
            font-size: 10px;
        }

        .AccordionStyle ul li span {
            line-height: 20px;
            font-weight: 500 !important;
            font-size: 11px !important;
        }

        .table-cover span {
            font-size: 10px;
        }

        .table-cover ol li {
            font-size: 10px;
        }

        .AccordionStyle table th {
            font-size: 10px;
        }

        .breadcrumbCustom {
            @include lineClamp($font-size: 10px, $line-height: 1.3, $lines-to-show: 2);
        }

        .AccordionStyle ul {
            padding: 0 0 0 20px;
            margin: 0;
        }

        .durationImg {
            width: 25px;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 10px;
        }

        .StyleForSlickArrows .slick-prev {
            left: auto;
            right: 22%;
        }

        .paraLittle {
            font-size: 10px;
        }

        .paraSmall {
            font-size: 12px;
        }

        .titleh3 {
            font-size: 30px;
            padding: 0 0;
        }

        .titleh4 {
            font-size: 16px;
        }

        .CoursesList .slick-list.draggable {
            overflow: hidden !important;
        }

        ul.slick-dots {
            display: none !important;
        }

        .row {
            margin: 0px !important;
        }

        .ind_CompanyList {
            margin: 0 0px;
        }
        /***Banner****/
        .BannerImg {
            width: 100%;
            float: none;
        }

        .sodText {
            font-size: 13px;
            top: -25px;
            left: 20px;
        }

        .BannerImg img {
            width: 100%;
        }

        .banner {
            z-index: 1;
        }

        .BannerStripContext h1 {
            position: static;
            width: 300px;
            top: 0;
            margin: 30px 0 10px 0;
            left: 20px;
            height: auto;
        }

        .BannerContextList {
            bottom: 130px;
            left: 20px;
            padding: 0 0px 0 0;
            position: static;
            height: 80px;
            overflow: hidden;
        }

        .BannerContextList li {
            font-size: 11px;
            padding: 0 0 6px 0;
        }

        .BannerStripContext {
            width: 80%;
            bottom: -60px;
            padding: 15px 20px;
            height: 240px;
            background-position: -7px;
            left: 0;
            display: block;
        }

        .downArrowIcon {
            width: 30px;
        }

        .DownArrow {
            bottom: -30px;
            text-align: center;
            left: auto;
            right: 0;
            width: 20%;
            z-index: 99;
        }

        .breadcrumbPanel {
            position: absolute;
            left: 20px;
            bottom: 150px;
            z-index: 99;
            text-align: left;
        }

        .breadcrumbCustom li {
            font-size: 9px;
            font-weight: 500;
        }
        /***Watch Panel*/
        .WatchPanel {
            position: relative;
            bottom: -30px;
            right: auto;
            z-index: 9;
            display: block !important;
            left: 0;
            padding: 0 0 0 10px;
        }

        .WatchPanel a img {
            width: 20px;
        }

        .HomeBtnStyle {
            font-size: 11px;
            height: 35px;
            width: 50%;
            margin: 0 0 6px 0;
            padding: 6px 60px 8px 15px;
            justify-content: flex-start !important;
        }
        /***campus Details*/
        .CampusBg {
            right: 0px;
            top: -85px;
        }

        .GrayTitle {
            font-size: 55px;
            top: 0vh;
            padding: 0 15px;
        }

        .ProgramDetailPanel .durationImg {
            width: 25px;
        }

        .det_Context li {
            padding: 0 0 20px 0;
            font-size: 14px;
        }

        .DetailList {

            ul {
                padding: 0 0 0 20px;

                li {
                    margin-bottom: 5vw;
                    font-size: 12px;
                    line-height: 1.3em;
                }
            }
        }

        .DetailInner {
            padding: 0 0 20px 0;
        }

        .DurationText span {
            font-size: 13px;
        }

        .CampusBg img {
            width: 100%;
        }
        /**Accordion*/
        .DetailsBlk {
            padding: 20px 15px;
        }

        .AccordionStyle {
            .CardHeaderPanel {
                a {
                    font-size: 12px;
                    padding: 10px 15px;
                }
            }

            .cardContext {
                padding: 1vw;

                p, li, a {
                    font-size: 10px !important;
                    line-height: inherit;
                }
            }
        }

        .col-sm-6.appList {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            justify-content: center !important;
            display: block !important;
        }

        .col-sm-6.appList.ApplyNow {
            margin: 0 0 20px 0;
        }

        .SocialList {
            margin-top: 5px;
        }

        .SocialList a img {
            width: 20px;
        }

        .appList p {
            font-size: 10px;
            margin-top: 30px;
        }

        .ApplyNow a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 14px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        table {
            font-size: 12px;
            margin: 20px 0 0 0;
            font-weight: 500;
        }

        .cardContext p {
            font-size: 12px;
            line-height: 22px;
        }

        .CardHeaderPanel > a:after {
            font-size: 20px;
            top: 5px;
        }

        .DetailsBlk .link_list {
            position: static;
        }

        .link_list a {
            color: #00448B;
            font-size: 12px;
        }
    }
}
