﻿@import "_variable";
@import "_mixin";

@media (min-width:1441px) and (max-width:1599px) {

}

@media (min-width:1366px) and (max-width:1440px) {

}

@media (min-width:1200px) and (max-width:1365px) {
 
}

@media (min-width:1025px) and (max-width:1199px) {

}

@media (min-width:992px) and (max-width:1199px) {

}

@media (min-width:768px) and (max-width:991px) {

}

@media (max-width:767px) {

}
