﻿@import "_variable";
@import "_mixin";
@media (min-width:2000px) and (max-width:3000px) {
    .SchoolDetailPanel {
        .HomeEventImg img {
            width: 100%;
        }

        .GraduateList li p:before {
            left: 2.5vw;
        }

        .sodText {
            left: 3vw;
        }


        .BannerContextList {
            left: 3vw;
        }

        .BannerStripContext h1 {
            left: 3vw;
        }

        .StyleForSlickArrows .slick-prev {
            left: 0px;
        }

        .StyleForSlickArrows .slick-next {
            right: 0;
        }

        .StyleForSlickArrowsBottom .slick-next {
            left: 80px;
        }

        .Events_Facilities_Panel {
            padding: 10vw 0px 15vw 5.8vw;
        }

        .EventPanelStyle img {
            width: 100%;
        }

        .titleposition {
            top: -17%;
        }

        .ind_Logo img {
            width: 100%;
        }

        .RotateTitlePosition {
            bottom: 300px;
            left: 0vw;
        }
    }
}
@media (min-width:1800px) and (max-width:1920px) {
    .SchoolDetailPanel {
        .ind_Logo img {
            width: 100%;
        }

        .BannerStripContext h1 {
            left: 4.5vw;
        }

        .sodText {
            left: 4.5vw;
        }

        .BannerContextList {
            left: 5vw;
        }

        .titleposition {
            top: -135px;
        }

        .StyleForSlickArrowsBottom .slick-next {
            left: 70px;
        }

        .HomeEventImg img {
            width: 100%;
        }

        .RotateTitlePosition {
            bottom: 240px;
            left: 0vw;
        }

        .SchoolDetailPanel .StyleForSlickArrowsBottom .slick-next {
            left: 70px;
        }
    }
}
@media (min-width:1600px) and (max-width:1800px) {
    .SchoolDetailPanel {

        .homeIndicatorStyle {
            bottom: -19%;
        }

        .BannerStripContext {
            bottom: -65px;
        }
    }
}
@media (min-width:1441px) and (max-width:1599px) {

}

@media (min-width:1366px) and (max-width:1440px) {

}

@media (min-width:1200px) and (max-width:1365px) {
    .SchoolDetailPanel {
        .RotateTitlePosition {
            bottom: 160px;
            font-size: 2.5vw;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }
      
    }
}

@media (min-width:1025px) and (max-width:1199px) {

}

@media (min-width:992px) and (max-width:1199px) {
    .plr100 {
        padding: 0 50px;
    }

    .paraLittle {
        font-size: 1.1vw;
    }

    .titleh4 {
        font-size: 1.6vw;
    }

    .paraSmall {
        font-size: 1.5vw;
    }

    .titleh4 {
        font-size: 1.8vw;
    }
    .para_three {
        font-size: 1.5vw;
    }
    .downArrowIcon {
        width: 3vw;
    }

    .SchoolDetailPanel {
        .link_list a {
            font-size: 1.2vw;
        }
        /***EPM20102019****/
        .disclaimerText {
            font-size: 1.1vw;
        }

        .CourseGraduateSubTitle {
            p {
                span {
                    font-size: 1.1vw;
                }
            }
        }
        /**UG Accordion**/
        .UgDetailAccordion_Panel {
            &.ugAccBanner {
                &:before {
                    height: 100%;
                    background-position: inherit;
                    background-size: inherit;
                }
            }

            .UgDetailAccordion_Style {
                padding: 0 20px 30px 20px;
                width: 100%;

                .card {
                    margin: 0 0 12px 0;

                    .card-header {
                        .CardHeaderPanel {
                            a {
                                height: 6.5vw;
                                padding: 0 20px;
                                font-size: 2vw;

                                &:after {
                                    right: 20px;
                                    font-size: 22px;
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                    }

                    .card-body {
                        .Inner_CardTitle {
                            padding: 20px 15px 20px 15px;

                            .Crd_TExt {
                                font-size: 2.6vw;
                                padding: 0 0 0 32px !important;
                            }
                        }

                        .Cardlist {
                            p {

                                &:before {
                                    left: 15px;
                                }

                                height: 6vw;
                                padding: 0 20px 0 35px;
                                font-size: 1.6vw;
                            }
                        }
                    }
                }
            }
        }
        /**UG Accordion**/
        .ugDescPanel {
            padding: 60px 0 30px 0;

            .StripforTwoContext {
                margin: 0 0 30px 0;

                h2 {
                    width: 45vw;
                }
            }

            .ugContext {
                width: auto;

                p {
                    font-size: 1.5vw;
                    line-height: 22px;
                }
            }
        }

        .BannerStripContext {
            &.Context_UgPrograms {
                padding: 3vw 1vw 2.5vw 3vw;

                h1 {
                    font-size: 2.5vw;
                }
            }
        }
        /**Banner*/
        .BannerImg img {
            width: 77vw;
        }

        .sodText {
            left: 4vw;
        }

        .TiesUpPanel .link_list {
            right: 50px;
            top: 50px;
        }

        .BannerContextList {
            left: 4vw;
        }

        .BannerStripContext {
            padding: 4.5vh 75px 4.5vh 45px;
        }

        .BannerStripContext h1 {
            font-size: 4.5vw;
            width: 45vw;
            left: 4vw;
            line-height: 5vw;
        }

        .breadcrumbCustom li {
            font-size: 0.9vw;
        }
        /***Courses Under Graduate Post*/
        .GraduateList li {
            font-size: 1.1vw;
        }

        .GraduateList {
            padding: 20px 0 0 0;
        }
        /**STories*/
        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }

        .StoriesContext p {
            height: 5vw;
        }

        .CourseFind a {
            font-size: 1vw;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            right: 5%;
            left: auto;
        }

        .StoryTitleStrip p {
            font-size: 3vw;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: 0;
            left: auto;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            top: -5%;
            bottom: auto;
        }

        .st_inn p {
            font-size: 1.3vw;
        }

        .ind_CompanyList {
            padding: 0 70px 12px 70px;
        }
        /**Achievement*/
        .StudentLivingPanel .StyleForSlickArrows .slick-next {
            right: auto;
            left: 50px;
        }

        .StripforTwoContext h2 {
            margin: 0;
            font-size: 3.4vw;
            position: absolute;
            left: 6vw;
            bottom: -2vw;
        }

        .knowMoreStyle {
            font-size: 1.1vw;
        }
        /**Events*/
        .StyleForSlickArrowsBottom .slick-next {
            left: 35px;
        }


        .HomeEventCarousel {
            position: relative;
            z-index: 9999;
        }

        .RotateTitlePosition {
            bottom: 140px;
            font-size: 3.5vw;
            left: -3vw;
        }

        .CourseFind a {
            font-size: 1vw !important;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.5vw;
        }
    }
}
@media (min-width:768px) and (max-width:991px) {
    .plr100 {
        padding: 0 20px;
    }
    .plr20 {
        padding: 0 10px;
    }

    .paraSmall {
        font-size: 1.8vw;
    }

    .titleMedium {
        font-size: 3vw;
    }
    .para_three {
        font-size: 1.7vw;
    }
    .paraLittle {
        font-size: 1.2vw;
    }

    .titleh4 {
        font-size: 2.2vw;
    }

    .SchoolDetailPanel {
        /***EPM20102019****/
        .disclaimerText {
            font-size: 1.4vw;
        }

        .CourseGraduateSubTitle {
            p {
                span {
                    font-size: 1.4vw;
                }
            }
        }
        /***EPM20102019****/
        .abtDepartment {

            p {
                font-size: 14px;
                line-height: 22px;
            }
        }

        .phd p {
            font-size: 14px;
            line-height: 22px;
        }

        .vmPanel .vm_Inner .vmlist li {
            font-size: 14px;
        }

        .poInner ol li {
            font-size: 14px;
            margin: 0 0 10px 0;
        }

        .vmPanel .vm_Inner .parawithquotes {
            font-size: 14px;
            line-height: 22px;
        }

        .CoursesAccordionPanel {
            .card-header {
                a {
                    font-size: 12px;
                }
            }
        }
        /**UG Accordion**/
        .UgDetailAccordion_Panel {
            &.ugAccBanner {
                &:before {
                    height: 100%;
                    background-position: inherit;
                    background-size: inherit;
                }
            }

            .UgDetailAccordion_Style {
                padding: 0 20px 30px 20px;
                width: 100%;

                .card {
                    margin: 0 0 12px 0;

                    .card-header {
                        .CardHeaderPanel {
                            a {
                                height: 6.5vw;
                                padding: 0 20px;
                                font-size: 2vw;

                                &:after {
                                    right: 20px;
                                    font-size: 22px;
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                    }

                    .card-body {
                        .Inner_CardTitle {
                            padding: 20px 15px 20px 15px;

                            .Crd_TExt {
                                font-size: 2.6vw;
                                padding: 0 0 0 32px !important;
                            }
                        }

                        .Cardlist {
                            p {

                                &:before {
                                    left: 15px;
                                }

                                height: 6vw;
                                padding: 0 20px 0 35px;
                                font-size: 1.6vw;
                            }
                        }
                    }
                }
            }
        }
        /**UG Accordion**/
        .ugDescPanel {
            padding: 60px 0 30px 0;

            .StripforTwoContext {
                margin: 0 0 30px 0;

                h2 {
                    width: 45vw;
                }
            }

            .ugContext {
                width: auto;

                p {
                    font-size: 1.5vw;
                    line-height: 22px;
                }
            }
        }

        .BannerStripContext {
            &.Context_UgPrograms {
                padding: 2.5vw 15px 2.5vw 15px;

                h1 {
                    font-size: 2.5vw;
                }
            }
        }

        .link_list a {
            font-size: 1.4vw;
        }

        .TiesUpPanel .link_list {
            right: 20px;
            top: 50px;
        }

        .CourseFind a {
            height: 35px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.3vw !important;
        }

        .ContextPanelInn p {
            font-size: 1.6vw;
        }

        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
        }
        /***Banner****/
        .sodText {
            left: 4vw;
        }

        .BannerImg img {
            width: 85vw;
        }

        .breadcrumb.breadcrumbCustom li {
            font-size: 1.5vw;
        }

        .BannerStripContext h1 {
            font-size: 6vw;
            display: flex;
            align-items: center;
            left: 4vw;
            line-height: 6vw;
            top: -22px;
            width: 60vw;
        }

        .BannerContextList {
            left: 6vw;
        }

        .BannerContextList {
            bottom: 0%;
        }

        .BannerContextList li {
            font-size: 1.5vw;
            padding: 0 0 2vw 0;
        }

        .downArrowIcon {
            width: 3.5vw;
        }

        .breadcrumbPanel {
            left: 55%;
            bottom: -9%;
        }

        .DownArrow {
            bottom: -12%;
            left: 0;
        }

        .HomeBtnStyle {
            font-size: 1vw;
            width: 20vw;
            height: 5vw;
        }

        .helplineChatInner a {
            font-size: 1.2vw;
        }
        /***Courses*/
        .GrayTitle {
            top: 0vh;
        }

        .GraduateList li p span {
            padding: 0;
            position: absolute;
            left: 0;
        }

        .GraduateList li p:before {
            left: 12%;
            width: 0.4vw;
            height: 0.4vw;
        }

        .GraduateList.RemoveBullets li p {
            padding: 0 1vw 0 0;
        }

        .GraduateList li p {
            padding: 0 1vw 0 6vw;
        }

        .GraduateList li span img {
            width: 4vw;
        }

        .GraduateList li p span {
            padding: 0 15px 0 0px;
        }

        .row.CoursesGraduatePanel {
            margin: 0 -40px;
            padding: 0 0 10px 0;
        }

        .GraduateInner {
            padding: 0 40px;
        }

        .GraduateList {
            padding: 20px 0 0 0;
        }

        .GraduateList li {
            font-size: 1.4vw;
            height: auto;
            padding: 0.5vw 0;
        }
        /***Application*/
        .ApplyNow a {
            font-size: 1.6vw;
            width: 16vw;
            height: auto;
        }

        .AppDate {
            padding: 0 1vw 0 0 !important;
        }

        .CourseBlk_bg .Visit_list a {
            padding: 1.8vh 0 !important;
            width: 27vw;
            font-size: 1.3vw;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
        }

        .dateForSt p {
            font-size: 1.5vw;
            font-weight: 800;
        }
        /***Placements*/
        .Condition_text p {
            font-size: 1.4vw;
        }
        /***Industry**/
        .industryStrip h2 {
            font-size: 3.5vw;
        }

        .TieupContext p {
            @include lineClamp($font-size: 2.2vw, $line-height: 1.3, $lines-to-show: 2);
        }

        .TiesUpBg {
            height: 12vw;
        }

        .TieupContext {
            padding: 0 60px 0 0;
        }

        .TieUpPosition {
            margin: -20vw 0 0 0;
        }

        .StoryTitleStrip.StoryTitleStripForTieUp h2 {
            font-size: 4.4vw;
        }

        .StoryTitleStrip.StoryTitleStripForTieUp {
            width: 55vw;
            height: 35vw;
        }

        .IndContext h4 {
            padding: 0 0 0 2vw;
        }

        .industry_blockList {
            margin: 0 -20px;
        }

        .ind_CompanyList {
            padding: 0 40px 12px 40px;
        }

        .Ind_inn {
            padding: 0 20px;
        }

        .PlacementBg:after {
            right: 0;
        }
        /**Student Stories**/
        .StoryTitleStrip {
            width: 30vw;
            height: 11vw;
        }

        .StoryTitleStrip h2 {
            font-size: 6.3vw;
        }

        .StoryTitleStrip p {
            top: -18%;
            font-size: 3.5vw;
        }


        .StoriesContext {
            width: 24vw;
            display: block;
            height: 20vw;
        }

        .StoriesContext h2 {
            @include lineClamp($font-size: 2vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext h3 {
            @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext p {
            @include lineClamp($font-size:1.4vw, $line-height: 1.3, $lines-to-show: 3);
            height: 5vw;
        }

        .StoriesContext a {
            font-size: 1.4vw;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            right: 5%;
            left: auto;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: 0;
            left: auto;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            top: -5%;
            bottom: auto;
            display: none !important;
        }
        /**Student Achievements*/
        .AchieveInner {
            padding: 20vh 0 3vh 0;
        }

        .studenAchievPanel_PaddingSpacing {
            padding: 4vw 0 9vw 0;
        }


        .AchieveContextPAra {
            height: 9vw;
        }

        .AchieveContextInn {
            background: #FFCA08;
            height: 16vw;
        }

        .AchieveContextInn p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 4);
        }

        .AchieveTitleBlock p {
            position: relative;
            top: 5px;
        }

        .knowMoreStyle {
            font-size: 1.5vw;
        }
        /***EVents*/
        .HomeEventImg {
            padding: 0 20px 0 0;
        }

        .EventContStyle {
            height: 16vw;
        }

        .EventContStyle h4 {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 1);
        }

        .EventPara {
            height: 7vw;
        }

        .EventPara p {
            @include lineClamp($font-size: 1.8vw, $line-height: 1.3, $lines-to-show: 4);
        }

        .RotateTitlePosition {
            bottom: 100px;
            left: 15px;
            font-size: 3.5vw;
        }

        .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-prev {
            left: 0px;
            bottom: 10px;
        }

        .Events_Impact_Panel .StyleForSlickArrowsBottom .slick-next {
            bottom: 60px;
            left: 0;
        }

        .HomeEventCarousel.OneBlockCarousel {
            z-index: 9;
        }

        .CarouselForCompanies.StyleForSlickArrows .slick-prev {
            left: 10px;
            right: auto;
        }

        .CarouselForCompanies.StyleForSlickArrows .slick-next {
            right: 10px;
            left: auto;
        }
        /***Certification*/
        .StripforTwoContext {
            height: 10vw;
        }

        .StripforTwoContext h2 {
            margin: 0;
            font-size: 3.4vw;
            position: absolute;
            left: 5vw;
            bottom: -2vw;
        }
    }
 }

@media (max-width:767px) {
    /**Common***/
    .plr20 {
        padding: 0px;
    }
    .para_three {
        font-size: 12px;
    }
    .Yellowstripbgfull:before{
        display:none;
    }
    .plr100 {
        padding: 0 0;
    }
    .titleMedium {
        font-size: 26px;
    }
    .hideOnMobile{
        display:none;
    }
    .ShowOnMobile {
        display: block !important;
    }
    .row {
        margin: 0px ;
    }

    /**Common Ends***/
    .SchoolDetailPanel {
        /***EPM20102019****/
        .disclaimerText {
            font-size: 10px;
            padding: 10px 0 0 0;
            overflow: hidden;
            clear: both;
            margin: 0;
        }

        .CourseGraduateSubTitle {
            p {
                span {
                    font-size: 10px;
                    padding: 0;
                }
            }
        }
        /***EPM20102019****/
        .abtDepartment {
            padding: 0 15px;

            p {
                font-size: 14px;
            }
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: 0px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 60px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: auto;
            right: 0;
            bottom: 105px;
        }

        .DetailsBlk {
            padding: 0 15px;
        }

        .DetailsBlk .AchieveTitleBlock {
            padding: 0;
        }

        .AccordionStyle {
            &.AccordionForDownload a img {
                width: 15px;
            }

            .CardHeaderPanel {
                a {
                    font-size: 12px;
                    padding: 10px 15px;

                    &:after {
                        font-size: 20px;
                        top: 5px;
                    }
                }
            }

            .cardContext {
                padding: 1vw;

                p, li, a {
                    font-size: 12px !important;
                    line-height: inherit;
                    padding: 10px 15px;
                }
            }
        }

        .row.moreFacility.no-gutters {
            padding: 30px 0 !important;
        }

        .ProgramOutcomes {
            padding: 0 15px;

            p {
                font-size: 14px;
            }
        }

        .phd {
            padding: 0 15px;

            p {
                font-size: 14px;
            }
        }

        .vmPanel {
            .vm_Inner {
                padding: 0 15px;

                .parawithquotes {
                    padding: 35px 15px 20px 30px;
                    font-size: 14px;

                    &:before, &:after {
                        width: 30px;
                        height: 30px;
                        background-size: 30px !important;
                    }
                }

                .vmlist li {
                    font-size: 14px;
                }
            }
        }

        .CoursesAccordionPanel {
            .card-header {
                a {
                    font-size: 12px;
                }
            }
        }
        /**Epm 2082019 Enquiry Form*/
        .CampusInner {
            &.UGTitle {
                h2 {
                    font-size: 45px;
                    padding: 20px 15px;
                }
            }
        }

        .UgDetailAccordion_Panel {
            &.ugAccBanner {
                &:before {
                    height: 100%;
                    background-position: inherit;
                    background-size: inherit;
                }
            }

            .UgDetailAccordion_Style {
                padding: 0 20px 30px 20px;
                width: 100%;

                .card {
                    margin: 0 0 12px 0;

                    .card-header {
                        .CardHeaderPanel {
                            a {
                                height: 50px;
                                padding: 0 70px 0 20px;
                                font-size: 14px;

                                &:after {
                                    right: 20px;
                                    font-size: 22px;
                                    width: 25px;
                                    height: 25px;
                                }
                            }
                        }
                    }

                    .card-body {
                        .Inner_CardTitle {
                            padding: 15px 15px 0px 15px;

                            .Crd_TExt {
                                font-size: 16px;
                                padding: 15px 0 !important;
                            }
                        }

                        .Cardlist {
                            p {

                                &:before {
                                    left: 15px;
                                }

                                height: auto;
                                padding: 15px 15px 15px 30px;
                                font-size: 12px;

                                span {
                                    width: 80%;
                                    padding: 0 20px 0 0;
                                }

                                a {
                                    width: 20%;
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }

        .BannerStripContext {
            &.Context_UgPrograms {
                width: 80%;
                bottom: -70px;
                padding: 50px 10px 50px 20px;
                height: 240px;

                h1 {
                    font-size: 20px;
                    padding: 0;
                }
            }
        }

        .ugDescPanel {
            padding: 60px 0 60px 0;

            .StripforTwoContext {
                height: 60px;
                top: 0;
                margin: 0 0 35px 0;

                h2 {
                    left: 0;
                    width: 100vw;
                    bottom: auto;
                    top: 15px;
                    padding: 0 15px;
                    font-size: 24px;
                }
            }

            .ugContext {
                width: 100%;
                padding: 0 15px;

                p {
                    font-size: 15px;
                    line-height: 24px;
                }
            }
        }
        /**Epm 2082019 Enquiry Form*/
        .mlr {
            margin: 0;
        }

        .TiesUpPanel .link_list {
            right: 10px;
            position: absolute;
            top: auto;
            bottom: 0;
        }

        .DisclaimerTExt.DisclaimerTExtTop {
            padding: 0 0 20px 0;
        }

        .GrayStripbgfull:before {
            display: none;
        }

        .PlacementBg:after {
            display: none;
        }

        .studenAchieveBanner:before {
            display: none;
        }

        .CourseFind a {
            font-size: 10px !important;
        }

        .ApplicationBg {
            padding: 10px 0;
        }
        /***ContextPanel*/
        .ContextPanelInn {
            padding: 0 0 20px 0;
        }

        .ContextPanelInn p a {
            display: inline-block;
        }

        .ContextPanelInn p {
            font-size: 12px;
            padding: 10px 15px;
        }
        /***ContextPanel*/
        .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
            width: 25px;
            height: 25px;
            top: auto;
            bottom: 10px;
        }

        .StyleForSlickArrows .slick-prev {
            left: auto;
            right: 22%;
        }

        .paraLittle {
            font-size: 10px;
        }

        .paraSmall {
            font-size: 12px;
        }

        .titleh3 {
            font-size: 30px;
        }

        .titleh4 {
            font-size: 16px;
        }

        .CoursesList .slick-list.draggable {
            overflow: hidden !important;
        }

        ul.slick-dots {
            display: none !important;
        }

        .row {
            margin: 0px !important;
        }

        .ind_CompanyList {
            margin: 0 0px;
        }
        /***Banner****/
        .banner {
            .BannerStripContext {
                height: 275px;
                bottom: -100px;
            }
        }

        .BannerImg {
            width: 100%;
            float: none;

            .WatchPanel {
                z-index: 9;
                flex-direction: column;
                right: inherit;
                left: 20px;
                bottom: -80px;

                .HomeBtnStyle {
                    width: auto;
                    height: auto;
                    padding: 6px;
                    font-size: 8px;
                    margin-top: 15px;
                    padding-left: 15px;
                    justify-content: space-between;

                    picture {
                        width: 12%;
                    }
                }
            }
        }

        .sodText {
            font-size: 13px;
            top: -25px;
            left: 20px;
        }

        .BannerImg img {
            width: 100%;
        }

        .banner {
            z-index: 1;
        }

        .BannerStripContext h1 {
            font-size: 25px;
            position: absolute;
            width: 300px;
            line-height: 36px;
            top: 0;
            padding: 50px 0 0 0;
            left: 20px;
        }

        .BannerContextList {
            bottom: 50px;
            left: 30px;
            padding: 0 30px 0 0;
        }

        .BannerContextList li {
            font-size: 11px;
            padding: 0 0 6px 0;
        }

        .BannerStripContext {
            width: 80%;
            bottom: -60px;
            padding: 15px 20px;
            height: 240px;
            background-position: -7px;
            left: 0;
        }

        .downArrowIcon {
            width: 30px;
        }

        .DownArrow {
            bottom: -50px;
            text-align: center;
            left: auto;
            right: 0;
            width: 20%;
            z-index: 99;
        }

        .breadcrumbPanel {
            position: absolute;
            left: 20px;
            bottom: 135px;
            z-index: 99;
        }

        .breadcrumbCustom li {
            font-size: 13px;
            font-weight: 500;
        }

        .CampusPanel {
            .CampusInner {
                padding-top: 30px;
            }
        }
        /**Courses*/
        .GrayTitle {
            font-size: 55px;
            top: 0vh;
            margin: 0;
            padding: 0 15px;
        }

        .GraduateInner {
            padding: 0 15px;
            margin: 0 0 15px 0;
        }

        .GraduateList {
            padding: 10px 0 0 0;
        }

        .GraduateList li span img {
            width: 20px;
        }

        .GraduateList.RemoveBullets li p {
            padding: 0 10px 0 0;
        }

        .GraduateInner .link_list {
            float: right;
        }

        .GraduateList li p {
            padding: 0 10px 0 40px;
        }

        .GraduateList li p span {
            padding: 0;
            position: absolute;
            left: 0;
        }

        .GraduateList li p:before {
            width: 3px;
            height: 3px;
            left: 25px;
        }

        .GraduateList li {
            font-size: 10px;
            height: auto;
            padding: 5px 0;
        }

        .PlacementPanel {
            padding-top: 40px !important;

            h3 {
                &.titleh3 {
                    text-align: center;
                    padding: 8vw 2vw;
                }
            }

            .Condition_text {
                text-align: center !important;
                padding: 8vw 2vw;
            }
        }
        /**Industry UPES*/
        .industryPanel {
            padding: 0px 15px 0 15px;
            //margin: 70px 0 0 0;
        }

        .SpecilisationPanel {
            padding: 0 0 40px 0;
        }

        .IndContext {
            width: 80%;
            position: relative;
            top: -25px;
        }

        .industryStrip {
            height: 13vh;
        }

        .industryStrip h2 {
            font-size: 26px;
            margin: 0 -4vh 0 0;
        }

        .col-sm-4.Ind_inn {
            padding: 25px 25px;
        }

        .Numb_list {
            font-size: 30px;
            width: 60%;
        }

        .Num_Title {
            font-size: 14px;
            padding: 0;
            width: 40%;
        }

        .industry_blockList {
            padding: 0px;
        }

        .industryPanel .link_list {
            text-align: center;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev, .ind_CompanyList.StyleForSlickArrows .slick-next {
            bottom: -40px;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-prev {
            left: 42%;
            right: auto;
        }

        .ind_CompanyList.StyleForSlickArrows .slick-next {
            right: 37%;
        }

        .ind_CompanyList {
            padding: 0 18px;
            margin: 0 0 50px 0;
        }

        .industryPanel .link_list a {
            font-size: 11px;
        }
        /***Achievements***/
        .AchieveInner {
            padding: 45px 0 0 0;
            z-index: 99;
        }

        .StudentLogoBanner {
            background: #f7f7f7;
        }

        .AchieveTitleBlock {
            padding: 0 15px;
        }

        .AchieveContext {
            padding: 0 0 0 60px;
        }

        .AchieveContextInn {
            padding: 20px 20px;
            height: 150px;
        }

        .AchieveContextPAra {
            height: 95px;
        }

        .AchieveContextInn p {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 4);
        }

        .studenAchievPanel .EventPanelStyle img {
            width: 280px;
        }


        .knowMoreStyle {
            font-size: 11px;
        }

        .studenAchievPanel .StyleForSlickArrows .slick-prev, .studenAchievPanel .StyleForSlickArrows .slick-next {
            display: none !important;
        }

        .link_list.ShowOnMobile {
            padding: 10px 15px;
        }

        .AchieveTitleBlock .link_list {
            position: static;
        }

        .StudentStoriesPanel {
            margin: -190px 0 0 0;
            padding: 0px;
        }

        .Studentstories {
            background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
            background-position: 0 -200px;
            background-size: cover;
            padding: 220px 15px 0 15px;
        }

        .LogoBanner:before {
            display: none;
        }
        /**Courses**/
        .HomeCoursePanel {
            padding: 0px;
        }

        .CoursesPanel {
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            margin: 0;
            background-size: cover;
            background-position: top;
        }

        .CoursesList {
            margin: 0;
            padding: 30px 15px;
        }

        .CoursesList .slick-list {
            padding: 0 15px;
        }

        .TextOverlap {
            position: relative;
            font-size: 55px;
            padding: 0 15px;
            height: auto;
            top: -15px;
            left: 0;
        }

        .crseTitle {
            padding: 0 15px;
            font-size: 20px;
            margin: -35px 0 0 0;
        }

        .applyCourses {
            background: #f7f7f7;
        }

        .courseIcon {
            width: 45px;
        }

        .CLK_blk {
            padding: 0 0 0 15px;
        }

        .coursesfor a {
            position: static;
            font-size: 10px;
        }

        .clblk_Top {
            display: flex;
        }

        .course_iconStyle {
            min-height: inherit;
            width: 25%;
        }

        .clblk_Top {
            border-bottom: none;
            padding: 2vh 30px 2vh 20px
        }

        .CheckBlk {
            padding: 3.5vh 80px;
        }

        .forApplication span {
            display: inline-block;
        }

        .CoursesList.StyleForSlickArrows .slick-prev, .CoursesList.StyleForSlickArrows .slick-next {
            bottom: -30px;
        }

        .CoursesList.StyleForSlickArrows .slick-prev {
            left: 40%;
            right: auto;
        }

        .CoursesList.StyleForSlickArrows .slick-next {
            right: auto;
            left: 50%;
        }

        .coursesfor {
            height: 100px;
        }

        .Visit_list a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 11px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .Visit_list {
            margin: 0 0 20px 0;
        }

        .ApplyNow a {
            width: 240px;
            height: 35px;
            margin: 0 6px 0 0;
            padding: 0 5px !important;
            font-size: 11px;
            display: flex !important;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .applyCourses .d-flex {
            display: block !important;
            text-align: center;
        }
        /***Stories**/
        .ParentStoriesPanel {
            padding: 30px 15px 15px 15px;
            background: inherit;
        }

        .StoryTitleStrip {
            width: 280px;
            padding: 0 15px;
            height: auto;
        }

        .storiesPannInn {
            padding: 30px 0 0 0;
        }

        .storiesPanStyle {
            padding: 0px !important;
        }

        .storiesPanStyle img {
            width: 200px;
        }

        .StoryTitleStrip p {
            font-size: 30px;
            top: -35%;
        }

        .StoryTitleStrip h2 {
            font-size: 50px;
        }

        .StoriesContext {
            left: 40%;
            width: 200px;
            padding: 10px 15px;
            height: 175px;
        }

        .StoriesContext h3 {
            font-weight: 500;
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 1);
        }

        .StoriesContext h2 {
            @include lineClamp($font-size: 18px, $line-height: 1.3, $lines-to-show: 1);
            margin: 0 0 10px 0;
        }

        .StoriesContext p {
            @include lineClamp($font-size: 12px, $line-height: 1.3, $lines-to-show: 4);
            margin: 0 0 10px 0;
            height: 65px;
        }

        .StoriesContext a {
            font-size: 11px;
        }

        .studenAchievPanel_PaddingSpacing {
            padding: 0 0 20px 0;
        }

        .storiesPannInn .slick-list {
            overflow: hidden;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: 0px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev, .StoryStyle.StyleForSlickArrows .slick-next {
            width: 30px;
            height: 30px;
            top: auto;
            bottom: 60px;
        }

        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: auto;
            right: 0;
            bottom: 105px;
        }

        .St_Event_Impact {
            .titleMedium {
                font-size: 22px;
            }

            .titleh3 {
                font-size: 32px;
                margin-bottom: 5px;
            }

            .EventPanelStyle {
                img {
                    width: 78vw;
                }

                .AchieveContext {
                    padding: 0 0 0 35px;

                    .AchieveContextInn {
                        min-height: 100px;

                        .AchieveContextPAra {
                            p {
                                min-height: inherit;
                                max-height: inherit;
                                font-size: 4vw;
                            }
                        }
                    }
                }
            }
        }

        .FacBanner {
            .Events_Impact_Panel {

                .Event_Inner {
                    margin: 20px 0 0 0;

                    h2 {
                        padding: 2vw 0;
                    }

                    .HomeEventCarousel {
                        .slick-prev {
                            left: -2vw;
                            top: auto;
                            bottom: 0;
                        }

                        .slick-next {
                            left: -2vw;
                            top: 95vw;
                        }
                    }

                    .PadSpacing {
                        padding: 2vw 11vw;
                    }
                }

                .EventContStyle {
                    p {
                        font-size: 4vw;
                    }
                }
            }
        }
        /***Future Needs*/
        .Spl_Row {
            padding: 0px 15px 40px 15px;
        }

        .Spl_Context {
            padding: 0 0px 0 0 !important;
        }

        .SplOverlapContext {
            width: 80%;
            padding: 20px 10px;
            height: auto;
            left: 0;
        }

        .Spl_img {
            padding: 15px 0 0 0;
        }

        .SplOverlapContext h2 {
            font-size: 20px;
        }

        .SplOverlapContext a {
            font-size: 11px;
        }

        .link_list a {
            font-size: 11px;
        }
        /***Industry*/
        .Ties_TestimonialPanel:before {
            display: none;
        }

        .StoryTitleStrip.StoryTitleStripForTieUp h2 {
            font-size: 50px;
            line-height: .8em;
            padding: 20px 0 0 0;
            text-align: left;
            position: absolute;
            width: 250px;
            height: auto;
            overflow: visible;
        }

        .StoryTitleStrip.StoryTitleStripForTieUp {
            width: 65vw;
            height: 65vw;
        }

        .EventPanelStyle {
            padding: 0 15px;
        }

        .TieupContext {
            padding: 0 35px 0 0;

            p {
                @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 2);
            }
        }

        .TiesUpBg {
            padding: 20px 15px;
            height: 110px;
        }

        .TiesUpPanel .StyleForSlickArrows .slick-prev, .TiesUpPanel .StyleForSlickArrows .slick-next {
            top: 32%;
            bottom: auto;
        }

        .TiesUpPanel .StyleForSlickArrows .slick-prev {
            left: -13%;
            right: auto;
            top: auto;
            bottom: 0;
        }

        .TiesUpPanel .StyleForSlickArrows .slick-next {
            left: -13%;
            right: auto;
            top: auto;
            bottom: 30px;
        }

        .TieUpPosition {
            margin: -100px 0 0 0;
            padding: 0 0 40px 55px;
        }
        /***Certifications*/
        .CertifcationBg {
            background: #fff;
        }

        .CertificationPanel {
            margin: 0 0 80px 0;
        }

        .StripforTwoContext {
            position: relative;
            top: 0;
            width: 220px;
            height: 70px;
            justify-content: flex-start !important;
        }

        .StripforTwoContext h2 {
            margin: 0;
            font-size: 25px;
            bottom: -20px;
            left: 5px;
        }

        .ind_CompanyList {
            padding: 0;
        }

        .CrtInner {
            padding: 0 15px;
            margin: 0px;
        }
        /**EVents*/
        .Events_Impact_Panel {
            padding: 50px 0px 40px 0px;
            margin: 0 0px;
        }

        .FacBanner:before {
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            margin: 0;
            background-size: cover;
        }

        .EventContStyle {
            height: 140px
        }

        .EventContStyle h4 {
            @include lineClamp($font-size: 16px, $line-height: 1.3, $lines-to-show: 1);
        }

        .EventPara {
            height: 75px;
        }

        .EventPara p {
            @include lineClamp($font-size: 14px, $line-height: 1.3, $lines-to-show: 1);
        }

        .Ev_Im_List:last-child {
            padding: 0 15px 0 15px;
        }

        .titleposition {
            position: static;
        }

        .HomeEventImg {
            width: 100%;
        }

        .Ev_Im_List:first-child .HomeEventCarousel button {
            display: none !important;
        }

        .Ev_Im_List {
            padding: 0 15px;
        }

        .RotateTitlePosition {
            font-size: 28px;
            left: 25px;
            bottom: 90px;
            transform: inherit;
            position: static;
        }

        .HomeEventImg {
            padding: 0;
        }

        .HomeEventCarousel.StyleForSlickArrows .slick-prev {
            bottom: 45px;
        }

        .HomeEventCarousel.StyleForSlickArrows .slick-next {
            bottom: 0px;
        }

        .HomeEventCarousel.StyleForSlickArrowsBottom .slick-prev, .HomeEventCarousel.StyleForSlickArrowsBottom .slick-next {
            left: -10px;
        }
        /**Showcase Body*/
        .ApplicationBg .shcaseBtmRow {
            padding: 40px 60px;
            text-align: center;
        }

        .col-sm-6.CourseBlk {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .col-sm-6.CourseBlk {
            flex: 0 0 100%;
            max-width: 100%;
            display: block;
        }

        .applyCourses {
            display: block !important;
            padding: 20px 0;
        }

        .row.appl_Row {
            height: auto;
        }

        .ApplyNow a {
            font-size: 12px;
            height: 35px;
            width: 260px;
            margin: 0 auto;
            padding: 9px 12px;
        }

        .CourseBlk_bg .Visit_list a {
            width: 260px;
            height: 35px;
            margin: 0 auto;
            font-size: 12px;
            padding: 9px 12px;
        }

        .borderLeft {
            border-left: 0;
            padding: 0;
        }

        .dateForSt p {
            font-size: 16px;
            font-weight: 500;
            padding: 10px 0 0 0;
        }

        .dateForSt p span {
            font-weight: 600;
        }

        .AppDate p {
            font-size: 20px;
        }
        /**Placements*/
        .Condition_text p {
            font-size: 11px;
        }
    }
    }
@media (min-width:300px) and (max-width:350px) {
    .SchoolDetailPanel {
        .StoryStyle.StyleForSlickArrows .slick-prev {
            left: 10%;
            right: auto;
            bottom: 105px;
        }

        .StoryStyle.StyleForSlickArrows .slick-next {
            right: auto;
            left: 10%;
        }
    }
}