@media (max-width:767px) {
    /**Common***/
    .plr20 {
        padding: 0px;
    }
    .Yellowstripbgfull:before{
        display:none;
    }
    .plr100 {
        padding: 0 0;
    }
    .titleMedium {
        font-size: 26px;
    }
    .hideOnMobile{
        display:none;
    }
    .ShowOnMobile {
        display: block !important;
    }
    /**Common***/
    .UpesStudent {
        .wrapper-75 {
            width: calc(100% - 30px);
        }

        .plr100vw {
            padding: 0;
        }

        .Orange-Strip {
            width: 80%;
            height: 23vw;

            .titleh3 {
                font-size: 32px;
                font-weight: 900;
                padding-left: 20px;
            }
        }

        .titleh3 {
            font-size: 32px;
            font-weight: 900;
            padding-left: 20px;
        }

        .BannerSection {
            .DownArrow {
                text-align: right;
                //bottom: -6%;
                a {
                    .downArrowIcon {
                        width: 30px;
                    }
                }
            }

            .BannerStripContext {
                left: 0px;

                .fontExBold {
                    top: 10vw;
                    left: 15px;

                    h1 {
                        font-size: 8vw;
                    }
                }

                .StripContent {
                    padding-top: 28vw;
                    padding-right: 0;
                    overflow: hidden;

                    p {
                        font-size: 12px;
                    }
                }
            }

            .BannerImg {
                img {
                    width: 100%;
                }
            }
        }

        .section-1 {
            padding-bottom: 150px;

            .highlights {
                padding-top: 60px;

                ul {
                    width: calc(100% - 15px);

                    li {
                        font-size: 12px;
                        margin-bottom: 10px;
                        padding-left: 2vw;

                        &:before {
                            padding: 0 .5vw;
                            top: 3.3vw;
                            left: -0.7vw;
                        }
                    }
                }
            }

            .login-wrapper {
                padding-top: 30px;

                .titleh3 {
                    padding-left: 0px;
                }
            }
        }

        .breadcrumbPanel {
            bottom: 140px;
            z-index: 99;
            left: 10px;

            .breadcrumb {
                &.breadcrumbCustom {
                    li {
                        font-size: 8px;
                    }
                }
            }
        }

        .accord-wrapper {
            padding-top: 0px;

            .AccordionStyle {
                margin-top: 15px;
            }

            .CardHeaderPanel > a {
                font-size: 12px;
                font-weight: 500;
                padding: 10px 15px;

                &:after {
                    font-size: 14px;
                    right: 15px;
                    top: 8px;
                }
            }

            .cardContext p {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.5em;
            }

            .block {
                padding-top: 30px;
            }

            .title {
                padding: 15px 0px;
                padding-bottom: 0px;
                color: #00448B;

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .position {
                font-size: 14px;
                // font-weight: 600;
            }

            .person {
                font-size: 16px;
                font-weight: 600;
            }

            .designation {
                font-size: 12px;
                font-weight: 600;
                color: #00448B;
                padding-top: 15px;
            }
        }

        .upcoming-events {
            .Orange-Strip {
                margin-left: 15px;

                h3 {
                    padding-left: 10px;
                    margin-left: 0px;
                    margin: 0 -12vw 0 4.5vw !important;
                    font-size: 8vw;
                }
            }

            .blocks {
                padding: 0 0;

                .block-wrapper {
                    margin-bottom: 15px;

                    .block1 {
                        min-height: 20vw;

                        .b-left {
                            min-height: 4vw;

                            .col-4 {
                                padding: 5px;
                            }

                            .details {
                                padding-top: 5px;

                                .title {
                                    font-size: 14px;
                                    p{
                                        width:50vw;
                                    }
                                }

                                .date {
                                    font-size: 12px;
                                }
                            }
                        }

                        .b-right {
                            min-height: 4vw;
                            display: flex;
                            align-items: flex-end;

                            .link-reg {
                                margin-bottom: -5px;

                                a {
                                    font-size: 10px;
                                    line-height: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section-4 {
            .accord-wrapper {
                .accordion-title {
                    padding-top: 30px;

                    .titleh3 {
                        font-size: 22px;
                        padding-bottom: 15px;
                        padding-left: 0;
                    }

                    .link-toggle {
                        margin-top: 0px;
                        font-size: 10px;
                    }
                }

                .AccordionStyle {
                    margin-top: 0px;
                }
            }

            .inter-intern {
                margin-top: 50px;
                padding-bottom: 100px;

                .yellow-bg {
                    height: 120px;

                    .titleh3 {
                        padding-top: 15px;
                        padding-left: 0;
                        font-size: 28px;
                    }
                }

                .students-slide {
                    margin-top: 0px;
                    padding: 15px;
                    margin-top: 30px;

                    .student {
                        .profile-wrapper {
                            .photo {
                                margin-top: -60px;
                                width: 40%;
                            }

                            .profile {
                                padding-left: 15px;

                                h2 {
                                    font-size: 14px;
                                    font-weight: 600;
                                    height: inherit;
                                }

                                h3 {
                                    font-size: 12px;
                                    padding-bottom: 10px;
                                    height: inherit;
                                }
                            }
                        }

                        .details {
                            p {
                                font-size: 12px;
                                height: 90px !important;
                            }
                        }
                    }

                    .slick-dots {
                        display: none !important;
                    }
                }
            }
        }

        .section-5 {
            margin-top: -30px;

            .Orange-Strip {
                justify-content: flex-start !important;
                align-items: center !important;
                padding-left: 15px;
                margin-left: 15px;

                .titleh3 {
                    padding-left: 0px;
                    font-size: 7vw;
                    margin-left: 0px;
                }
            }

            .link-toggle {
                display: none;
            }

            .accord-wrapper {
                padding-top: 30px;
            }

            .contact-wrapper {
                h2 {
                    font-size: 18vw;
                    margin: 30px 0;
                    margin-bottom: 15px;
                }

                .header {
                    font-size: 12px;
                }

                .details {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        .section-6 {
            .downloadable-content {
                .accordion-title {
                    padding-top: 30px;

                    h3 {
                        padding-left: 0px;
                        font-size: 8vw;
                    }
                }

                .CardHeaderPanel > a:after {
                    font-size: 14px;
                    right: 15px;
                    top: 12px;
                    padding: 6px !important;
                    height: 5px;
                    width: 5px;
                    background-size: cover;
                }
            }
        }
    }
 
    }
//tab portiate
@media (min-width:768px) and (max-width:991px) {
    .UpesStudent {
        .Orange-Strip {
            height: 12vw;
        }

        .wrapper-75 {
            width: 80vw;
        }

        .plr100vw {
            padding: 0 20px;
        }

        .BannerStripContext {
            padding: 0vh 0px 0vh 40px;

            .StripContent {
                p {
                    font-size: 16px;
                }
            }

            .fontExBold {
                left:40px;
            }
        }

        .section-1 {
            .highlights {
                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
        }

        .accord-wrapper {
            padding-top: 0px;

            .AccordionStyle {
                margin-top: 15px;
            }

            .CardHeaderPanel > a {
                font-size: 12px;
                font-weight: 500;
                padding: 10px 15px;

                &:after {
                    font-size: 14px;
                    right: 15px;
                    top: 8px;
                }
            }

            .cardContext p {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.5em;
            }

            .block {
                padding-top: 30px;
            }

            .title {
                padding: 15px 0px;
                padding-bottom: 0px;
                color: #00448B;

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .position {
                font-size: 14px;
                // font-weight: 600;
            }

            .person {
                font-size: 16px;
                font-weight: 600;
            }

            .designation {
                font-size: 12px;
                font-weight: 600;
                color: #00448B;
                padding-top: 15px;
            }
        }

        .upcoming-events {
            .blocks {
                padding: 30px 0px;
            }
        }

        .section-4 {
            .inter-intern {
                .students-slide {
                    margin-top: -20px;

                    .student {
                        .profile-wrapper {
                            .profile {
                                h2 {
                                    font-size: 1.5vw;
                                }

                                h3 {
                                    font-size: 1.2vw;
                                }
                            }
                        }

                        .details {
                            p {
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
        }

        .section-5 {
            .Orange-Strip {
                justify-content: flex-start !important;
                align-items: center !important;
                padding-left: 15px;
                //margin-left: 15px;
                .titleh3 {
                    padding-left: 0px;
                    margin: 0px -3vw 0 4.5vw !important;
                    font-size: 3.5vw;
                }
            }

            .link-toggle {
                display: none;
            }

            .accord-wrapper {
                padding-top: 30px;
            }

            .contact-wrapper {
                h2 {
                    font-size: 12vw;
                    margin: 30px 0;
                    margin-bottom: 15px;
                }

                .header {
                    font-size: 12px;
                }

                .details {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        .section-6 {
            .downloadable-content {

                .CardHeaderPanel > a:after {
                    font-size: 14px;
                    right: 15px;
                    top: 12px;
                    padding: 8px !important;
                    height: 8px;
                    width: 8px;
                    background-size: cover;
                }
            }
        }
    }

}
    //tab lan to desk
    @media (min-width: 1024px) {
        .UpesStudent {
           
        }
    }

    .AccordionStyle {
        .card {
            &.link {
                a {
                    &:after {
                        transform: unset !important;
                    }
                }
            }
        }
    }