@import "_variable";
@import "_mixin";

header {
    background-color: #F7F7F7;
}
h1,h2,h3,h4,h5,h6{
    font-weight:inherit;
}
.aboutUs {
    background: #F7F7F7 url(../src/img/aboutus-page/bg.jpg) no-repeat;


    a.color-blue {
        color: $colorBlue;
        font-size: 1.05vw;
        text-decoration: underline;
        font-weight: 600;
        text-transform: uppercase;
    }

    .pl7-5 {
        padding-left: 7.5px;
    }

    .pr7-5 {
        padding-right: 7.5px;
    }
    /**Banner*/
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg {
        float: right;

        img {
            width: 70vw;
        }
    }

    .BannerStripContext {
        box-shadow: 0 5px 5px #ccc;
        width: 41.5vw;
        position: absolute;
        bottom: -75px;
        background: $colorOrange;
        display: flex;
        justify-content: center;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 26vw;
        background-size: cover;
        z-index: 9;
        left: 10px;
    }

    .BannerStripContext {
        .fontExBold {
            font-size: 6vw;
            position: absolute;
            width: 55vw;
            left: 6vw;
            line-height: 12vh;
            top: -4.5vw;
        }

        .StripContent {
            font-size: 1.85vw;
            padding-top: 12%;
            overflow: hidden;
            padding-right: 40px;

            p {
                height: 20vw;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 9;
                -webkit-box-orient: vertical;
            }
        }
    }

    .DownArrow {
        left: -5%;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 6vh;
        background: $colorRed;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .HomeBtnStyle {
        picture {
            width: 25%;
            text-align: right;
        }
    }

    .HomeBtnStyle {
        span {
            white-space: normal;
            width: 80%;
            display: inline-block;
            padding: 0 5px 0 0;
        }
    }

    .BannerContextList {
        @include ulnone;
        top: 25%;
        left: 7vw;
        padding: 0 50px 0 0;
        position: absolute;
    }

    .BannerContextList {
        li {
            font-size: 1.2vw;
            font-weight: 500;
            padding: 0 0 4vh 0;
            position: relative;
        }
    }

    .BannerContextList {
        li {
            &:before {
                content: '';
                background: #333;
                width: 3px;
                height: 3px;
                display: block;
                position: absolute;
                left: -8px;
                border-radius: 100%;
                top: 12px;
            }
        }
    }

    .sodText {
        font-size: 1.6vw;
        position: absolute;
        top: -22%;
        left: 6vw;
    }
    // wrapper-75
    .wrapper-75 {
        width: 75vw;
        margin: auto;
    }

    .f150 {
        font-size: 7.8vw;
    }

    .f60 {
        font-size: 3.15vw;
    }

    .StyleForSlickArrows .slick-next {
        right: 7px;
        left: auto;
        background: url(../src/img/home/right-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        width: 2.6vw;
        height: 5.4vh;
        top: 35%;
        background-size: cover !important;
    }

    .StyleForSlickArrows .slick-prev {
        left: 7px;
        background: url(../src/img/home/left-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }

    .accord-wrapper {
        /**Details Accordion*/
        .DetailsBanner:before {
            content: '';
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            top: 0;
            background-position: 0px -35vh;
        }

        .AchieveTitleBlock .link_list {
            position: absolute;
            right: 0;
            top: 10px;
        }

        .appList.ApplyNow a {
            background: $colorOrange;
        }

        .applyNowForDetail {
            padding: 8vh 0 5vh 0;
        }

        .appList p {
            padding: 0 10px 0;
            font-size: $fontsize14;
            color: $colorZam;
        }

        .colorLightWhite {
            .CardHeaderPanel {
                a {
                    background: $colorLightWhite;
                    border-bottom: 2px solid #fff;
                }
            }
        }

        .CardHeaderPanel > a {
            display: block;
            position: relative;
            font-weight: 600;
            color: $colorBlack;
            font-size: 1.25vw;
            padding: 16px 25px;
            padding: 1.1713vw 1.8302vw;
            border-bottom: 2px solid #FAFAFA;
        }

        .CardHeaderPanel > a:after {
            content: '>';
            font-family: monospace;
            position: absolute;
            right: 25px;
            font-weight: 600;
            font-size: 1.6vw;
            color: #A1A1A1;
            top: 12px;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .CardHeaderPanel > a[aria-expanded="true"]:after {
            content: '>';
            font-family: monospace;
            transform: rotate(270deg);
        }

        .AccordionStyle {
            margin: 30px 0 0 0;
            background: #fff;
            box-shadow: 0 5px 5px #ccc;
            position: relative;
            border: 1px solid #EDEDED;
        }

        .card-body.cardContext {
            padding: 20px 25px;
        }

        .AccordionStyle .card-header {
            background: inherit;
            border: none;
            padding: 0px;
        }

        .cardContext p {
            font-weight: 500;
            font-size: 1vw;
            line-height: 1.5vw;
        }

        .AccordionStyle .card {
            border: none;
            border-radius: 0px;
        }
    }

    .BannerStripContext {
        font-weight: bold;
    }
    /**Orange-Strip*/
    .Orange-Strip {
        background: $colorOrange;
        height: 15vh;
        width: 36.8vw;

        .title {
            // margin: 0;
            // position: absolute;
            // left: 11.5vw;
            // margin: 0 -5vw 0 4.5vw;
            font-weight: 600;
        }
    }

    .yellow-bg {
        background-color: $colorOrange;
    }

    .section-1 {
        padding-top: 10px;
        padding-bottom: 65px;

        .title1 {
            color: #d7d7d7;
            opacity: .5;
            letter-spacing: -5px;
            margin-top: -35px;
        }

        .title2 {
            color: $colorBlue;
            margin-top: -30px;
            padding-left: 7.5vw;
        }

        &::before {
            content: '';
            background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
            position: absolute;
            right: 0;
            height: 100%;
            width: 50%;
            background-position: 80%;
            background-size: contain;
            padding: 25vw;
        }
    }

    .section-4 {
        .health-medical {
            .titleh3 {
                font-weight: 600;
                font-size: 3.1vw;
            }
        }

        .link-toggle {
            float: right;
            font-size: 1vw;
        }

        .accordion-title {
            padding-top: 60px;
            padding-bottom: 30px;

            .link-toggle {
                margin-top: -30px;
                font-size: 1vw;
            }
        }

        .inter-intern {
            //margin-top: 150px;
            padding-bottom: 150px;
            position: relative;
            z-index: 1;
            padding-top: 8vw;
            overflow: hidden;

            .yellow-bg {
                height: 22.032vw; //padding-bottom: 140px;
                .titleh3 {
                    padding-top: 50px;
                }
            }

            .students-slide {
                //  margin-top: -6.4vw;
                .slick-list {
                    overflow: visible;
                    margin: -7px;
                }

                .student {
                    // padding: .78125vw; //min-height: 15vw;
                    padding: 0px 7px; //min-height: 15vw;
                    .profile-wrapper {
                        background-color: #fff;

                        .photo {
                            width: 50%;
                            margin-top: -6vw;

                            img {
                                //width: 15vw;
                                //min-width: 300px;
                                width: 100%;
                            }
                        }

                        .profile {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 0 .78125vw;

                            h2 {
                                font-size: 24px;
                                font-size: 1.25vw;
                                font-weight: 600;
                                padding-top: 1vw;
                                height: 4vw;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                margin-bottom: .5vw;
                            }

                            h3 {
                                font-size: 20px;
                                font-size: 1.05vw;
                                color: $colorBlue;
                                padding-bottom: 1vw;
                                height: 4vw;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }

                    .details {
                        background-color: #fff;
                        box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.11);
                        padding: 15px;
                        padding: 1vw;
                        padding-top: 0;
                        padding-bottom: 30px;

                        p {
                            line-height: 1.8;
                            font-size: 20px;
                            font-size: 1.05vw;
                            font-weight: 500;
                            padding-bottom: 30px;
                            padding-top: 0px;
                        }
                    }
                }
            }
        }
    }

    .section-5 {
        margin-top: 0px;
        background-size: 40%;
        background-position: 3% -50%;
        padding-bottom: 100px;
        background-color: #fff;

        &::before {
            content: '';
            background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
            position: relative;
            height: 100%;
            width: 50%;
            background-position: 30%;
            background-size: contain;
            padding: 25vw;
            top: 200px;
        }

        .link-toggle {
            // margin-top: -30px;
            // font-size: 1vw;
            // float: right;
            text-align: right;
            margin-top: -90px;
            position: relative;
            z-index: 9;
        }

        .accord-wrapper {
            padding-top: 60px;

            .title {
                padding: 15px 0px;
                padding-bottom: 30px;
                color: #00448B;

                h3 {
                    font-size: 1.25vw;
                    font-weight: 600;
                }
            }

            .col-md-4 {
                padding-right: 2vw;
                margin-bottom: 2vw;
            }

            .position {
                font-size: 1.25vw;

                p {
                    font-weight: 600;
                }
            }

            .person {
                font-size: 1.25vw;
                font-weight: 600;
            }

            .designation {
                font-size: .9vw;
                color: #00448B;
                padding-top: 0;

                p {
                    font-weight: 600;
                }
            }
        }

        .student-affairs {
            .header-top {
                position: relative;
                top: -50px;
            }
        }

        .contact-wrapper {
            h3 {
                font-size: 150px;
                font-size: 7.8vw;
                font-weight: 900;
                color: $colorDarkGray;
                margin: 60px 0px;
            }

            .header {
                font-weight: 600;
                margin-bottom: 30px;
                font-size: 1.25vw;
            }

            .details {
                p {
                    margin: 10px 0px;
                    font-size: 1.25vw;
                    font-weight: 600;
                }
            }

            padding-bottom: 30px;
        }
    }

    .section-6 {
        background-color: $colorLightWhite;
        padding-bottom: 60px;
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;

        .downloadable-content {
            .accordion-title {
                padding: 30px 0px;
                padding-top: 60px;

                h3 {
                    font-weight: 600;
                }
            }
        }
    }

    .downloable-accord {
        .CardHeaderPanel {
            a {
                &:after {
                    content: '' !important;
                    background-image: url('../src/img/upes-students/download.png') !important;
                    background-repeat: no-repeat !important;
                    transform: inherit !important;
                    padding: 1vw !important;
                    background-position: center;
                }
            }
        }
    }
}

// responsive
@import "_aboutUsResponsive";
@import "_commonResponsiveMobile";
