@import "_variable";
@import "_mixin";

header {
    background-color: #F7F7F7;
}
h1,h2,h3,h4,h5,h6{
    font-weight:inherit;
}
.applicants {
    // background: #F7F7F7 url(../src/img/aboutus-page/bg.jpg) no-repeat;
    a.color-blue {
        color: $colorBlue;
        text-decoration: underline;
        font-weight: 600;
    }

    .card-body.cardContext h4 {
        font-size: 15px;
        font-weight: 500;
        padding: 10px 0;
    }

    table.tableFormat_style {
        margin: 0 0 15px 0;
    }

    .tableFormat_style td {
        font-size: 13px;
        font-weight: 500;
        padding: 5px 10px;
    }

    .card-body.cardContext ul li {
        font-size: 13px;
        padding: 5px 0;
        font-weight: 500;
    }

    .card-body.cardContext ul {
        margin: 15px 0;
    }

    .Event_Inner .link_list.text-right {
        position: absolute;
        right: 0;
        top: 1.5vw;
    }

    .pl7-5 {
        padding-left: 7.5px;
    }

    .pr7-5 {
        padding-right: 7.5px;
    }
    /**Story*/
    /**Stories***/
    .storiesPanStyle {
        padding: 35px 7px;
    }

    .ParentStoriesPanel {
        position: relative;
    }

    .Studentstories .link_list {
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0;
    }

    .HomeCoursePanel {
        overflow: hidden;
    }

    .EventPanel {
        overflow: hidden;
    }

    .StoriesContext {
        background: $colorWhite;
        padding: 1vw 1.5vw 1vw 1.5vw;
        display: table-cell;
        position: relative;
        top: -60px;
        left: 6.3vw;
        width: 21vw;
        height: 16vw;
        box-shadow: 0 5px 5px #ccc;
    }

    .StoriesContext h3 {
        @include lineClamp($font-size: $fontsize16, $line-height: 1.3, $lines-to-show: 1);
        margin: 0 0 1vw 0;
    }

    .StoriesContext h2 {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show: 1);
    }

    .StoriesContext p {
        @include lineClamp($font-size: $fontsize14, $line-height: 1.3, $lines-to-show: 4);
        margin: 0 0 1vw 0;
        height: 6vw;
    }

    .StoriesContext a {
        text-decoration: underline;
        font-size: $fontsize13;
        color: $colorBlue;
    }

    .storiesPanStyle img {
        width: 21vw;
    }

    .StoryTitleStrip {
        background: $colorOrange;
    }

    .StoryTitleStrip p {
        position: absolute;
        top: -23%;
        font-size: $fontsize34;
        font-weight: 800;
    }

    .StoryTitleStrip {
        background: $colorOrange;
        width: 27.4vw;
        text-align: center;
        position: relative;
        height: 7.3vw;
    }

    .StoryTitleStrip h2 {
        font-size: $fontsize70;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .Studentstories {
        margin: 50px 0 0 0;
    }

    .link_list {
        padding: 1.5vw 0px 2vw 0;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }
    /**Events***/
    .Event_Inner h2 {
        padding: 4.6vh 0;
    }

    .EventCarousel {
        z-index: 99;
        position: relative;
    }

    .HomeEventCarousel {
        z-index: 9;
    }

    .eventContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .EventContStyle {
        background: $colorBlue;
        padding: 2vw 1vw 1vw 2vw;
        color: $colorWhite;
        height: 13vw;
        overflow: hidden;
    }

    .EventContStyle h4 {
        @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 1);
    }

    .EventPara {
        height: 6vw;
        overflow: hidden;
    }

    .EventContStyle a {
        color: $colorWhite !important;
    }

    .EventPara p {
        @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 4);
    }

    .Events_Impact_Panel {
        padding: 180px 0px 40px 6.2vw;
        margin: 0 -48px;
    }

    .HomeEventImg {
        padding: 0 100px 0 0;
    }

    .HomeEventImg img {
        width: 100%;
    }

    .Ev_Im_List {
        padding: 0 48px;
    }

    .RotateTitlePosition {
        transform: rotate(270deg);
        position: absolute;
        z-index: 9;
        padding: 0px !important;
        width: 100%;
        height: 100%;
        bottom: 32%;
        left: -1vw;
        font-size: 3vw;
    }

    .eventContextForHome {
        padding: 0 0 0 7vw;
    }

    .PadSpacing {
        padding: 1.5vw 0px 2vw 9vw;
    }
    /**Industry*/
    .industryStrip {
        background: $colorOrange;
        height: 7.3vw;
        margin: 0 0 30px 0;
    }

    .industryPanel .link_list {
        text-align: right;
    }

    .IndContext {
        width: 33.8vw;
    }

    .industryPanel {
        padding: 80px 0 40px 0;
        z-index: 999;
        position: relative;
    }

    .industryPanel .link_list {
        position: absolute;
        top: 10vw;
        right: 0;
    }

    .industryStrip h2 {
        font-size: $fontsize40;
        margin: 0 -1.4vw 0 0;
    }

    .IndContext h4 {
        padding: 0 0 0 6vw;
    }

    .Num_Title {
        font-size: $fontsize18;
        padding: 0 0 0 30px;
    }

    .Numb_list {
        font-size: $fontsize68;
        color: $colorBlue;
    }

    .industry_blockList {
        margin: 0 -40px;
        padding: 4vw 0px;
    }

    .ind_CompanyList {
        padding: 0 85px 12px 85px;
        margin: 0 -7px;
    }

    .Ind_inn {
        padding: 0 40px;
    }

    .ind_Logo img {
        width: 100%;
    }

    .ind_CompanyList.StyleForSlickArrows .slick-prev {
        left: 7px;
    }

    .ind_Logo {
        padding: 0 7px;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }

    .DisclaimerTExt {
        text-align: right;
        padding: 20px 0 20px 0;
        font-weight: 500;
        font-size: 12px;
    }

    .DisclaimerTExt.DisclaimerTExtTop {
        padding: 3vw 3vw 0vw 0;
        text-align: right;
        width: 100%;
    }
    /**Banner*/
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
        margin-bottom: 100px !important;
    }

    .BannerImg {
        float: right;

        img {
            width: 70vw;
        }
    }

    .BannerStripContext {
        width: 41.5vw;
        position: absolute;
        bottom: -75px;
        background: $colorOrange;
        display: flex;
        justify-content: center;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 22vw;
        background-size: cover;
        z-index: 9;
        left: 10px;
    }

    .BannerStripContext {
        .fontExBold {
            font-size: 6vw;
            position: absolute;
            width: 55vw;
            left: 6vw;
            line-height: 8vw;
            top: -4.5vw;
        }

        .StripContent {
            font-size: 2.4vw;
            padding-top: 12%;
            padding-right: 40px;
        }
    }

    .DownArrow {
        left: -5%;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 3vw;
        background: $colorRed;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .HomeBtnStyle {
        picture {
            width: 25%;
            text-align: right;
        }
    }

    .HomeBtnStyle {
        span {
            white-space: normal;
            width: 80%;
            display: inline-block;
            padding: 0 5px 0 0;
        }
    }

    .BannerContextList {
        @include ulnone;
        top: 25%;
        left: 7vw;
        padding: 0 50px 0 0;
        position: absolute;
    }

    .BannerContextList {
        li {
            font-size: 1.2vw;
            font-weight: 500;
            padding: 0 0 2vw 0;
            position: relative;
        }
    }

    .BannerContextList {
        li {
            &:before {
                content: '';
                background: #333;
                width: 3px;
                height: 3px;
                display: block;
                position: absolute;
                left: -8px;
                border-radius: 100%;
                top: 12px;
            }
        }
    }

    .sodText {
        font-size: 1.6vw;
        position: absolute;
        top: -22%;
        left: 6vw;
    }
    // wrapper-75
    .wrapper-75 {
        width: 75vw;
        margin: auto;
    }

    .f150 {
        font-size: 7.8vw;
    }

    .f60 {
        font-size: 3.15vw;
    }

    .f30 {
        font-size: 1.55vw;
    }

    $f30: 1.55vw;
    $f18: .95vw;

    .StyleForSlickArrows {
        .slick-prev {
            right: 7px;
            width: 2vw;
            height: 2vw;
            left: auto;
            background: url(../src/img/svg/left-arrow.svg) no-repeat;
            background-size: cover;
            padding: 1.3vw;
        }

        .slick-next {
            right: 7px;
            width: 2vw;
            height: 2vw;
            left: auto;
            background: url(../src/img/svg/right-arrow.svg) no-repeat;
            background-size: cover;
            padding: 1.3vw;
        }

        .slick-prev:before, .slick-next:before {
            content: unset;
            content: " ";
        }
    }

    .accord-wrapper {
        /**Details Accordion*/
        .DetailsBanner:before {
            content: '';
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            top: 0;
            background-position: 0px -35vh;
        }

        .AchieveTitleBlock .link_list {
            position: absolute;
            right: 0;
            top: 10px;
        }

        .appList.ApplyNow a {
            background: $colorOrange;
        }

        .applyNowForDetail {
            padding: 8vh 0 5vh 0;
        }

        .appList p {
            padding: 0 10px 0;
            font-size: $fontsize14;
            color: $colorZam;
        }

        .colorLightWhite {
            .CardHeaderPanel {
                a {
                    background: $colorLightWhite;
                    border-bottom: 2px solid #fff;
                }
            }
        }

        .CardHeaderPanel > a {
            display: block;
            position: relative;
            font-weight: 600;
            color: $colorBlack;
            font-size: 1.25vw;
            padding: 16px 25px;
            padding: 1.1713vw 1.8302vw;
            padding-right: 3vw;
            border-bottom: 2px solid #FAFAFA;
        }

        .CardHeaderPanel > a:after {
            content: '>';
            font-family: monospace;
            position: absolute;
            right: 25px;
            font-weight: 600;
            font-size: 1.6vw;
            color: #A1A1A1;
            top: 12px;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .CardHeaderPanel > a[aria-expanded="true"]:after {
            content: '>';
            font-family: monospace;
            transform: rotate(270deg);
        }

        .AccordionStyle {
            margin: 30px 0 0 0;
            background: #fff;
            box-shadow: 0 5px 5px #ccc;
            position: relative;
            border: 1px solid #EDEDED;
        }

        .card-body.cardContext {
            padding: 20px 25px;
        }

        .AccordionStyle .card-header {
            background: inherit;
            border: none;
            padding: 0px;
        }

        .cardContext p {
            font-weight: 500;
            font-size: 1vw;
            line-height: 24px;
        }

        .AccordionStyle .card {
            border: none;
            border-radius: 0px;
        }
    }

    .BannerStripContext {
        font-weight: bold;
    }

    .plr100vw {
        padding: 0 5.21vw;
    }

    select::-ms-expand {
        display: none;
    }
    /**Orange-Strip*/
    .Orange-Strip {
        &::before {
            background: $colorOrange;
            width: 36.8vw;
            content: '';
            height: 100%;
            position: absolute;
            top: 0px;
        }

        height: 8.5vw;
        position: relative;

        h3 {
            font-size: 3.2vw;
        }

        .title {
            padding-left: 6.5vw;
            z-index: 1;
            font-weight: 600;
        }
    }

    .yellow-bg {
        background-color: $colorOrange !important;
    }

    .blue-bg {
        background-color: $colorBlue;
    }

    .section-1 {
        padding-top: 10px;
        padding-bottom: 65px;

        .title1 {
            color: #d7d7d7;
            opacity: .5;
            letter-spacing: -5px;
            margin-top: -35px;
        }

        .title2 {
            color: $colorBlue;
            margin-top: -30px;
            padding-left: 7.5vw;
        }

        &::before {
            content: '';
            background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
            position: absolute;
            right: 0;
            height: 100%;
            width: 50%;
            background-position: 80%;
            background-size: contain;
            padding: 25vw;
        }
    }

    .section-2 {
        background: url(../src/img/applicants/pattern-bg.jpg) #f7f7f7 no-repeat;
        background-size: cover;
        background-position-y: -20vw;

        .title1 {
            font-size: 10vw;
            color: #fff;

            p {
                line-height: .6em;
            }
        }

        .title2 {
            font-size: 3.1vw;
            margin-top: -.8em;
        }

        .title3 {
            font-size: 1.55vw;
        }

        .ApplyNow {
            a {
                width: auto;
                padding: .7vw 5vw !important;
                height: 3vw;
            }
        }

        .Visit_list {
            a {
                width: auto;
                padding: .7vw 2vw !important;
                height: 3vw;
                color: #fff !important;
            }
        }

        .admission-table {
            margin-top: 50px;
            background-color: #fff;

            .col-4, .col-3, .col-5 {
                border: 1px solid #F7F7F7;
                padding: 0px;
            }

            .header {
                min-height: 4vw;
                display: flex;
                align-items: flex-end;
                padding-bottom: 1vw;
                padding-left: 2vw;
                border-bottom: 2px solid #F7F7F7;

                h2 {
                    font-weight: 600;
                    font-size: 1.25vw;
                }
            }

            .value {
                min-height: 3.3vw;
                padding-left: 2vw;
                border-bottom: .2vw solid #F7F7F7;
                display: flex;
                align-items: center;
                font-size: .95vw;
                font-weight: 500;
            }

            margin-bottom: 2vw;
        }

        .yellow-bg {
            color: #333;
            width: auto;
            padding-left: 30px !important;
            padding-right: 30px !important;
            border: 1px solid $colorOrange;

            &:hover {
                border: 1px solid $colorBlue;
                color: #fff;
            }
        }

        .blue-bg {
            border: 1px solid $colorBlue;

            &:hover {
                color: $colorBlue;
                border: 1px solid $colorBlue;
            }
        }

        padding-bottom: 100px;
    }

    .section-3 {
        background-color: #fff;
        background: url(../src/img/applicants/white-bg-pattern.jpg) #f7f7f7 no-repeat;
        //  background-size: cover;
        &::before {
            content: '';
            background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
            position: relative;
            height: 100%;
            width: 50%;
            background-position: 100%;
            background-size: contain;
            padding: 23vw;
            top: 200px;
            margin-left: 50vw;
        }

        .header-top {
            position: relative;
            top: -4vw;
        }

        .wrapper-75 {
            //  padding-top: 30px;
            .title {
                font-size: $f30;

                h3 {
                    font-weight: 600;
                }
            }
        }

        .applicantsForm {
            padding-left: 4vw;
        }

        padding-bottom: 60px;

        .help {
            padding-top: 45px;

            label {
                font-size: 1.25vw;
                font-weight: 500;
                padding-bottom: 10px;
            }

            .radio-inline {
                display: flex;
                align-items: center;
            }

            .select-wrapper {
                position: relative;

                &::before {
                    content: '>';
                    font-family: monospace;
                    position: absolute;
                    right: 15px;
                    font-weight: 600;
                    font-size: 1.6vw;
                    color: #A1A1A1;
                    top: 5px;
                    -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }

            select {
                cursor: pointer;
                height: 50px;
                background-color: #F2F3F5;
                box-shadow: 0 0 3px #DBDCDE;
                border-radius: 8px;
                font-weight: 500;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin-bottom: 30px;
            }

            input[type="radio"] {
                margin-right: 20px;
                width: 20px;
                height: 20px;
            }

            .submit {
                padding-top: 30px;

                a, button {
                    height: 3vw;
                    padding: 0 50px;
                    display: inline-flex;
                    -webkit-appearance: none;
                    align-items: center;
                    font-size: $f18;
                }
            }
        }
    }

    .section-4 {
        background: url(../src/img/applicants/white-bg-pattern.jpg) #f7f7f7 no-repeat;
        // background-size: cover;
        background-position-y: -500px;
        padding-top: 60px;
        padding-bottom: 100px;
        background-color: #f7f7f7;
        background-blend-mode: multiply;

        .header-top {
            padding-bottom: 30px;

            .title {
                font-weight: 600;
            }
        }

        .accord-wrapper {
            .link-toggle {
                float: right;
                margin-top: -90px;
                color: #333 !important;
            }
        }

        .contact {
            padding-top: 50px;
            padding-left: 30px;
            font-size: 1.25vw;

            .header {
                h2 {
                    font-weight: 600;
                }

                padding-bottom: 15px;
            }

            .details {
                p {
                    padding-bottom: 5px;
                }

                a {
                    color: #333 !important;
                    font-weight: 500;

                    &.email {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .section-5 {
        // margin-top: 100px;
        background-size: 40%;
        background-position: 3% -50%;
        padding-bottom: 100px;
        background-color: #fff;

        &::before {
            content: '';
            background: url(../src/img/aboutus-page/BG-1.png) no-repeat;
            position: relative;
            height: 100%;
            width: 50%;
            background-position: 100%;
            background-size: contain;
            padding: 23vw;
            top: 200px;
            margin-left: 50vw;
        }

        .link-toggle {
            // margin-top: -30px;
            // font-size: 1vw;
            // float: right;
            text-align: right;
            margin-top: -75px;
            z-index: 99;
            position: relative;
        }

        .accord-wrapper {
            padding-top: 15px;
        }

        .student-affairs {
            .header-top {
                position: relative;
                top: -70px;
                z-index: 99;
            }
        }

        .contact-wrapper {
            h3 {
                font-size: 150px;
                font-size: 7.8vw;
                font-weight: 900;
                color: $colorDarkGray;
                margin: 60px 0px;
            }

            .header {
                font-weight: 600;
                margin-bottom: 30px;
                font-size: 1.25vw;
            }

            .details {
                p {
                    margin: 10px 0px;
                    font-size: 1.25vw;
                    font-weight: 600;
                }
            }

            padding-bottom: 30px;
        }
    }
    /***Courses*/
    .clblk_Top {
        padding: 1vw 1.5vw 1vw 1vw;
        border-bottom: 1px solid #EEEEEE;
        min-height: 25vw;
        position: relative;
    }

    .courseIcon {
        width: 4.4vw;
    }

    .applyCourses .plr100 {
        padding: 0 100px;
    }

    .CL_bg {
        background: $colorWhite;
        box-shadow: 0 0 5px 5px #ccc;
        min-height: 35vw;
    }

    .courseTitle {
        height: 5vw;
        overflow: hidden;
    }

    .courseTitle p {
        @include lineClamp($font-size: 1.05vw, $line-height: 1.3, $lines-to-show: 1);
    }

    .clblk_Top h2 {
        color: $colorBlue;
        @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show:2);
    }

    .coursesfor {
        color: #7C7C7C;
        height: 8.9vw;
        position: relative;
        overflow: hidden;
        padding: 0.5vw 0 0 0;
    }

    .coursesfor p {
        @include lineClamp($font-size: 0.9vw, $line-height: 1.3, $lines-to-show: 2);
    }

    .coursesfor a {
        position: static;
        margin: 0.5vw 0 0 0;
    }

    .linebeforeText {
        position: relative;
        padding: 0 0 0 8px;
    }

    .CoursesList {
        margin: 0 -7px;
    }

    .linebeforeText:before {
        content: '-';
        position: absolute;
        left: 0px;
    }

    .CL_Block {
        padding: 0 7px;
    }

    .CoursesList .slick-list.draggable {
        overflow: visible;
    }


    .forApplication span {
        display: block;
        color: #7C7C7C;
        font-weight: 500;
    }

    .forApplication .linebeforeText:before {
        display: none;
    }

    .forApplication .linebeforeText {
        padding: 0;
    }

    .TextOverlap {
        color: #FFFFFF;
        text-transform: uppercase;
        position: absolute;
        font-size: 10vw;
        top: -24%;
        left: -11%;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .forApplication {
        padding: 1vw 1vw 1vw 1vw;
        border-bottom: 1px solid #EEEEEE;
        min-height: 6vw;
        overflow: hidden;
    }

    .forApplication span {
        display: block;
        color: #7C7C7C;
        font-weight: 500;
        @include lineClamp($font-size: 0.9vw, $line-height: 1.3, $lines-to-show:1);
    }

    .forApplication p {
        margin: 0 0 5px 0;
        @include lineClamp($font-size: 1.05vw, $line-height: 1.3, $lines-to-show:1);
    }

    .CheckBlk {
        padding: 1.5vw 30px;
    }

    .checkBtnStyle {
        border: 1px solid $colorBlue;
        color: $colorBlue !important;
        height: 2.5vw;
    }

    .clrBorder1 {
        border-bottom: 3px solid $colorOrange;
    }

    .clrBorder2 {
        border-bottom: 3px solid $colorRed;
    }

    .clrBorder3 {
        border-bottom: 3px solid $colorBlue;
    }

    .clrBorder4 {
        border-bottom: 3px solid $colorOrange;
    }

    .clrBorder5 {
        border-bottom: 3px solid $colorRed;
    }

    .clrBorder6 {
        border-bottom: 3px solid $colorBlue;
    }

    .clrBorderBlue {
        border-bottom: 3px solid $colorBlue;
    }

    .clrBorderYellow {
        border-bottom: 3px solid $colorOrange;
    }

    .CoursesPanel {
        margin: 50px 0 0 0;
        z-index: 99;
    }

    .clrBorderRed {
        border-bottom: 3px solid $colorRed;
    }

    .course_iconStyle {
        max-height: 6vw;
        overflow: hidden;
        min-height: 6vw;
    }

    .applyCourses {
        background: $colorWhite;
        padding: 100px 0 50px 0;
        text-align: right;
        margin: -3vw 0 0 0;
        position: relative;
        z-index: 9;
    }
    /*.applyCourses:before {
        content: '';
        background: #fff;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
    }

    .applyCourses:after {
        content: '';
        background: #fff;
        right: -100%;
        position: absolute;
        width: 100%;
        height: 100%;StoriesContext 
        display: block;
        top: 0;
    }*/
    .Visit_list.CourseFind a {
        background: $colorWhite;
    }

    .Visit_list.CourseFind a:hover {
        background: $colorBlue;
        color: $colorWhite;
    }

    .ApplyNow.CourseFind a {
        background: $colorBlue;
    }

    .ApplyNow.CourseFind a:hover {
        color: $colorBlue;
        background: $colorWhite;
        border-color: $colorBlue;
    }

    .crseTitle {
        padding: 0px 0 25px 0;
    }

    .StyleForSlickArrowsBottom .slick-prev, .StyleForSlickArrowsBottom .slick-next {
        left: 50px;
        top: auto;
        bottom: 30px;
    }

    .StyleForSlickArrowsBottom .slick-prev {
        left: 0px;
    }

    .StyleForSlickArrowsTop .slick-prev, .StyleForSlickArrowsTop .slick-next {
        right: 7px;
        top: -13%;
    }

    .StyleForSlickArrowsTop .slick-prev {
        right: 7%;
        left: auto;
    }

    .BtnBlue {
        border: 1px solid $colorBlue;
        color: $colorBlue;
    }

    .BtnRed {
        background: $colorRed;
        border: 1px solid transparent;
        color: $colorWhite;
    }

    .BtnRed:hover {
        border: 1px solid $colorRed;
        color: $colorRed;
    }

    .HomeCoursePanel {
        padding: 50px 0 0 0;
        overflow: hidden;
    }

    .HomeCourseBg {
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        background-position: bottom;
    }

    .HomeCourseBg:after {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        position: absolute;
        background-position: center center;
        width: 100%;
        height: 100%;
        top: -20%;
        background-size: 45%;
        left: 10%;
        z-index: 0;
    }

    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorBlue !important;
        margin: 10px 0 0 0;
        display: inline-block;
    }
}

// responsive
@import "_applicantsResponsive";
