.errorPage {
    margin-top: 4vw;
    margin-bottom: 3vw;
    text-align: center;
    font-weight: bold;
    color: #606060;

    h1 {
        font-size: 12vw;
        line-height: 20vw;
        font-weight: bold;
        color: #FDCB08;
        position: relative;
        margin-top: -80px !important;
    }

    h2 {
        font-size: 2.5vw;
        line-height: 3vw;
        color: #00448b;
        margin: -45px 0 25px 0;
    }

    .errorPage p {
        font-size: 1.5vw;
    }

    .btn {
        font-size: 1.05vw;
        background: #00448B;
        color: #FFFFFF;
        padding: .5vw 2.5vw;
        border-radius: 2.5vw;
        margin-top: 2vw;
        font-weight: bold;
        text-transform: uppercase;
    }

    .search-input {
        width: 33vw;
        margin: 25px auto;
        border: 1px solid #4D7CAD;
        border-radius: 30px;
        height: 3vw;
        display: flex;
        align-items: center;
    }

    .SearchPageStyle {
        border: none !important;
        outline: none !important;
        color: #959595;
        font-size: 1vw;
        width: 100%;
        background: transparent;
        font-weight: 500;
    }

    .search-input a img {
        width: 2vw;
    }

    .search-input a {
        padding: 0 1vw;
    }
}
.UPESSchool {
    background: #F3F3F3;
}

.UPESSchoolInner {
    width: 70vw;
    margin: 0 auto;
}

.UPESSchoolInner h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.8vw;
    padding: 2vw 0;
}
.SchoolSearch {
    padding: 0 0 2vw 0;
}
.schoolInn a {
    background: #fff;
    border: 1px solid #5A85B2;
    border-radius: 30px;
    color: #000;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 1vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1vw 0;
}
@media (min-width:768px) and (max-width:991px){

}
@media (max-width:767px){
    .errorPage {

        h1 {
            font-size: 35vw;
            line-height: 1.2em;
            margin: 0 !important;
        }

        h2 {
            font-size: 8vw;
            line-height: 1.2em;
            margin: 0 !important;
        }

        .innerErrorPage p {
            padding: 15px 0 10px 0;
        }

        .search-input {
            width: 100%;
            height: 40px;
        }


      

      .search-input a {
            padding: 0 10px;
        }

        .SearchPageStyle {
            font-size: 14px;
        }

        .search-input a img {
            width: 22px;
        }

        .btn {
            font-size: 5vw;
            background: #00448B;
            color: #FFFFFF;
            padding: 2vw 5vw;
            border-radius: 10vw;
            margin-top: 5vw;
        }
    }
    .UPESSchoolInner h3 {
        font-size: 20px;
        padding: 20px 0;
    }
    .UPESSchoolInner {
        width: 95%;
    }

    .schoolInn a {
        font-size: 12px;
        height: 40px;
        margin: 0 0 10px 0;
    }

    
}