﻿@import "_variable";
@import "_mixin";
/**Footer***/
footer {
    /**13062019 EPM*/
    .FootSocialIcons {
        padding: 0 15px 10px 0;
    }


    .FootSocialIcons .SocialIcon {
        /*background: #4d4d4d;*/
        padding: 3px 7px;
    }
    /**13062019 EPM*/
    .FooterPanel {
        color: $colorWhite;
    }

    .TitleLink {
        text-transform: uppercase;
        font-size: 1.05vw;
        color: #fff;
        min-height: 1vw;
        display: inline-block;
        @include transition(0.5s);
    }

    .TitleLink:hover, .TitleLink:focus {
        color: $colorOrange;
    }

    .FooterShowcasePanel {
        z-index: 9;
        position: relative;
    }

    .foot_Btm {
        background: $colorLightGray;
        color: $colorWhite;
        font-size: $fontsize13;
    }

    .SocialIcon p {
        font-size: $fontsize13;
        padding: 0 15px 0 0;
    }

    .foot_Btm_Height {
        height: 4.8vw;
    }

    .foot_Top_Height {
        height: 200px;
    }

    .foot_Top {
        background: $colorZam;
    }

    .footMenuList {
        padding: 10px 0 0 0;
    }

    .footTopRow {
        padding: 1vw 0;
    }

    .footMenuList a {
        display: block;
        color: $colorTriplet;
        font-size: $fontsize12;
        text-transform: uppercase;
        font-weight: 500;
        margin: 5px 0;
        @include transition(0.5s);
    }

    .footMenuList a:hover, .footMenuList a:focus {
        color: $colorOrange;
    }

    .footMenus p {
        text-transform: uppercase;
        font-size: $fontsize14;
    }

    .social_icon_menus a {
        display: inline-block;
        margin: 0 0 0 4px;
        position: relative;
    }

    .social_icon_menus a img {
        width: 2.2vw;
    }

    .footTopRow {
        margin: 0 -3px;
    }

    .footMenus {
        padding: 0 3px;
    }
    /**Updated 31/1/2019*/
    .footcenterStyle {
        padding: 10px 0;
    }

    .footCenterbx {
        background: #404040;
        height: auto;
        padding: 0vw 0vw;
        display: flex;
    }

    .footCenterbx h5 {
        text-transform: uppercase;
        padding: 0 1vw 0 0;
        font-weight: 500;
        font-size: 0.9vw;
    }

    .footCenterbx p {
        font-size: 0.8vw;
        font-weight: 500;
    }

    .footCenterbx a {
        color: #fff;
    }
    /**Updated Footer 19/2/2019*/
    .Foot_Center {
        background: $colorZam;
    }

    .footCenterRow {
        padding: 0 0 10px 0;
        margin: 0;
    }

    .fc_Inner {
        background: #404040;
        min-height: 7.5vw;
        padding: 1vw 1.3vw;
    }

    .fc_Inner h5 {
        font-size: 1vw;
        text-transform: uppercase;
        margin: 0 0 0.8vw 0;
    }

    .fc_Inner p {
        font-size: 0.75vw;
        text-transform: uppercase;
        margin: 0 0 0.2vw 0;
        padding: 0;
    }

    .fc_Inner a {
        color: #fff;
    }

    .fc_Inner .nouppercase {
        text-transform: inherit;
    }

    .onhoverShow {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        transform: scale(0);
    }

    .social_icon_menus a:hover .onhoverShow {
        opacity: 1;
        transform: scale(1);
    }

    .social_icon_menus a img {
        @include transition(0.3s linear);
    }


    .footBtmRow {
        overflow: hidden;
    }
}
/*Media Querry*/
@import "_FooterResponsive";