﻿@import "_variable";
@import "_mixin";
.GenerTemplate {
    div#news_Section {
        margin-bottom: 150px !important;

        img {
            width: 100%;
        }

        .EventPanelOne {
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
    /**Epm 10102019*/
    .NewsPanel {
        padding: 5vw 0;

        .newsFilter {
            text-align: right;
            padding: 0 0 50px 0;

            .newsFilterStyle {
                width: 10.3vw;
                height: 3vw;
                background: #E1E1E1;
                border: none;
                border-radius: 30px;
                padding: 0 15px;
                text-transform: uppercase;
                font-size: 1vw;
                font-weight: 800;
                margin: 0 0 0 15px;
                outline: none;
            }
        }

        .NewsRow {
            margin: 0 -17px;

            .newList {
                padding: 0 17px;
            }

            .newsListInner {
                background: #EBEBEB;
                padding: 7px 7px;
                height: 12vw;
                display: flex;

                .newsImg {
                    width: 31%;

                    img {
                        height: 11vw;
                    }
                }

                .newsContext {
                    padding: 0 18px 0 15px;
                    width: 69%;
                    height: auto;
                    background: transparent;

                    p {
                        margin: 25px 0 10px 0;
                        @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show:3);
                        height: 5vw;
                    }

                    .knowMoreStyle {
                        color: $colorBlue !important;
                        font-weight: 800;
                    }
                }
            }
        }
    }
    /**Epm 14082019*/
    .PressReleasePanel {
        padding: 5vw 0;

        .pressRow {
            & {
                margin: 0 -20px;
            }

            .padlr {
                padding: 0 20px;
            }

            .prList {
                h2 {
                    color: #404A56;
                    padding: 0 0 10px 0;
                    border-bottom: 1px solid #C0C0C0;
                }

                ul {
                    @include ulnone;
                    margin: 15px 0 25px 0;

                    li {
                        margin: 0 0 10px 0;

                        &.active-press {
                            a {
                                font-weight: 700;
                            }
                        }

                        a {
                            color: #4A4D51;
                            font-weight: 500;
                            font-size: 1vw;
                        }
                    }

                    &.tagList {
                        li {
                            margin: 0 8px 10px 0;
                            float: left;

                            a {
                                border: 1px solid #b3b3b3;
                                padding: 5px 13px;
                                border-radius: 5px;
                                display: block;
                            }
                        }
                    }
                }
            }

            .newsBlock {
                margin: 0 0 25px 0;

                h2 {
                    color: #121B24;
                    margin: 0;
                    font-size: 1.3vw;
                    margin: 0 0 15px 0;
                }

                span {
                    font-size: 1vw;
                    font-weight: 500;
                    display: inline-block;
                    position: relative;
                    padding: 0 0 15px 0;

                    &.leftIndicator:before {
                        content: '';
                        background: #000;
                        width: 1px;
                        height: 12px;
                        display: inline-block;
                        margin: -1px 10px;
                        font-weight: 600;
                    }
                }

                p {
                    font-weight: 500;
                    line-height: 24px;
                    font-size: 1vw;
                    margin: 0 0 15px 0;
                }
            }

            .readmore {
                width: 9vw;
                height: 3vw;
                border: 1px solid #19588f;
                color: #000;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1vw;
                font-weight: 700;


                &:hover, &:focus {
                    background: #19588f;
                    color: #fff;
                }

                &.loadmore {
                    margin: 0 auto;
                    background: #03478C;
                    color: #fff;
                }
            }
        }
    }

    .Filters {
        .select_filter {
            width: 11vw;
            position: relative;
            margin: 0 0 0 10px;
            float: left;

            &:after {
                content: "\f107";
                font-size: 1.5vw;
                color: #fff;
                right: 11px;
                top: 2px;
                position: absolute;
                font-weight: bold;
                font-family: 'FontAwesome';
            }
        }

        .FilterSelectStyle {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            height: 2.6vw;
            padding: 0 10px;
            border-radius: 30px;
            font-size: 1.2vw;
            background: #00448b;
            color: #fff;
            outline: none !important;
            font-weight: 500;
            width: 100%;

            &::-ms-expand {
                display: none;
            }
        }
    }

    .ShowOnMobile {
        display: none;
    }

    .column div {
        font-weight: 500;
        font-size: 1vw;
        line-height: 28px;
    }

    .column div span {
        font-weight: 500;
        font-size: 1vw;
        line-height: 28px;
    }

    .PanelInner img {
        max-width: 100%;
    }

    .table-cover h2 {
        font-size: 16px;
        padding: 0 0 10px 0;
    }

    .faculty-details div {
        font-size: 14px;
        font-weight: 500;
        padding: 6px 0;
    }

    .faculty-details p {
        font-size: 14px;
        padding: 6px 0;
        font-weight: 500;
    }

    ul.dashl_styl li {
        font-size: 14px !important;
        padding: 5px 0;
    }

    .LoadMore {
        color: #fff !important;
        background: $colorRed;
        width: 11vw;
        height: 2.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1vw;
    }

    .PanelInner {
        padding: 4vw 0;
    }

    .panelRow table {
        width: 90% !important;
    }

    .panelRow td {
        padding: 0 12px 0 0;
        font-size: 1vw;
        font-weight: 500;
        line-height: 24px;
    }

    .row.panelRow .row {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /**General Template One*/
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg {
        float: right;
    }

    .BannerImg img {
        width: 70vw;
    }

    .BannerStripContext {
        width: 41vw;
        position: absolute;
        bottom: -75px;
        background: $colorOrange;
        display: flex;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 11vw;
        align-items: center;
        background-size: cover;
        z-index: 9;
        left: 10px;
        box-shadow: 0 0 10px 1px #ccc
    }


    .DownArrow {
        left: -5%;
        bottom: -45%;
        z-index: 99;
    }

    .breadcrumbPanel {
        bottom: -45%;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 6vh;
        background: $colorRed;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .HomeBtnStyle picture {
        width: 25%;
        text-align: right;
    }

    .BannerStripContext h1 {
        font-size: 4vw;
        padding: 0;
        display: flex;
        align-items: center;
        position: absolute;
        width: 90vw;
        top: 3.5vw;
    }

    .HomeBtnStyle span {
        white-space: normal;
        width: 80%;
        display: inline-block;
        padding: 0 5px 0 0;
    }

    .sodText {
        font-size: 1.2vw;
        position: absolute;
        top: -22%;
        left: 6.5vw;
    }

    .panelRow {
        padding: 4vw 0 8vw 0;
    }

    .PanelContext h2 {
        font-size: 2vw;
        text-transform: uppercase;
    }

    .PanelContext h3 {
        font-size: 1.3vw;
        font-weight: 500;
        padding: 2vh 0 1vh 0;
    }

    .PanelContext p {
        font-size: 1.2vw;
        font-weight: 500;
        padding: 0 0 1vw 0;
        line-height: inherit;
    }

    .PanelContext a {
        font-weight: 600;
        color: $colorBlue;
        text-decoration: underline;
    }

    .panelLeft img {
        width: 43vw;
    }

    .panelRow img {
        max-width: 100%;
    }

    .panelRow .row {
        margin: 0;
        padding: 1vw 0;
    }
    /**General Template One Ends*/
    /**General Tempate Two***/
    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
        cursor: pointer;
    }

    .intro-text-85 ul {
        margin: 0;
        padding: 0 0 0 1.3vw;
    }

    .intro-text-85 ul li span {
        font-weight: 500 !important;
        font-size: 1vw;
    }

    .intro-text-85 h2 span {
        font-size: 1.2vw;
        padding: 1vw 0;
        display: block;
    }

    .intro-text-85 p span {
        font-weight: 500 !important;
        font-size: 1vw;
    }

    .AchieveInner {
        padding: 5vw 0 5vw 0;
    }

    .intro-text-85 p {
        font-size: 1vw;
        line-height: 24px;
        padding: 0 0 1vw 0;
    }

    .EventPanelStyle {
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .EventPanelStyle img {
        width: 100%;
    }

    .AchieveTitle p {
        line-height: 10px;
    }

    .AchieveContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .AchieveTitleBlock p {
        position: relative;
        top: 14px;
    }

    .AchieveTitleBlock h3 {
        margin: 0 0 20px 0;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .AchieveContextInn {
        background: $colorOrange;
        padding: 1vw 3vw 1vw 2vw;
        height: 13vw
    }

    .AchieveContextPAra {
        overflow: hidden;
        height: 8vw;
    }

    .AchieveContextInn p {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show: 4);
    }

    .AchieveContextInn a {
        color: $colorBlue !important;
    }

    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorWhite !important;
        margin: 10px 0 0 0;
        display: inline-block;
    }

    .forZIndex {
        z-index: 99999;
    }
    /**Events***/
    .Yellowstripbgfull:before {
        content: '';
        background: #FFCA08;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }



    .storiesPanStyle {
        padding: 10px 7px;
    }

    .GuestLecturePanel {
        padding: 5vh 0 15vh 0;
        background: $colorLightWhite;
    }

    .StoriesContext {
        background: $colorWhite;
        padding: 1vw 1.5vw 1vw 1.5vw;
        position: relative;
        top: -60px;
        left: 6.3vw;
        width: 21vw;
        height: 16vw;
        box-shadow: 0 5px 5px #ccc;
    }

    .StoriesContext h3 {
        @include lineClamp($font-size: $fontsize16, $line-height: 1.3, $lines-to-show: 1);
        margin: 0 0 1vw 0;
    }

    .StoriesContext h2 {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show: 1);
    }

    .StoriesContext p {
        @include lineClamp($font-size: $fontsize14, $line-height: 1.3, $lines-to-show: 4);
        margin: 0 0 1vw 0;
        height: 6vw;
    }


    .StoriesContext a {
        text-decoration: underline;
        font-size: $fontsize13;
        color: $colorBlue !important;
    }


    .storiesPanStyle img {
        width: 21vw;
    }

    .StoryTitleStrip {
        background: $colorOrange;
    }

    .StoryTitleStrip p {
        position: absolute;
        top: -23%;
        font-size: $fontsize34;
        font-weight: 800;
    }

    .StoryTitleStrip {
        background: $colorOrange;
        width: 27.4vw;
        text-align: center;
        position: relative;
        height: 15vh;
    }

    .StoryTitleStrip {
        background: $colorOrange;
        width: 27.4vw;
        text-align: center;
        position: relative;
        height: 15vh;
        padding: 0 0 1vh 0;
    }
    /**Ties*/
    /**Events***/
    .StoryTitleStripForTieUp {
        width: 51.5vw;
        height: 45.7vh;
    }

    .StoryTitleStripForTieUp h2 {
        font-size: $fontsize60;
        padding: 40px 0 0 0;
        position: absolute;
        width: 100%;
        text-align: left;
    }

    .TieupContext {
        padding: 0 100px 0 0;
        margin: -30px 0 0 0;
        position: relative;
    }

    .TiesUpBg a {
        color: #fff !important;
    }

    .TiesPara {
        height: 9vh;
        overflow: hidden;
    }

    .TiesUpBg {
        background: $colorBlue;
        padding: 3vh 3vw 1vh 2vw;
        height: 22vh;
        display: block !important;
    }

    .TieupContext p {
        font-size: $fontsize24;
        color: $colorWhite;
        @include lineRestriction;
        -webkit-line-clamp: 2;
    }

    .TieUpPosition {
        margin: -25vh 0 0 0;
    }

    .Ties_TestimonialPanel:before {
        content: '';
        background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        top: 0;
        background-position: 0px -28vh;
    }

    .TiesUpPanel .link_list {
        position: absolute;
        right: 100px;
        bottom: 6px;
        top: 50px;
    }

    .TestimonialPanel {
        padding: 100px 0 0 0;
        background: $colorLightWhite;
    }
    /**Events***/
    .Event_Inner h3 {
        padding: 3vw 0 0 0;
    }

    .eventContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .EventContextInner {
        padding: 5vh 3vw 0vh 2vw;
        background: $colorBlue;
        height: 12vw;
        overflow: hidden;
    }

    .EventContStyle {
        background: $colorBlue;
        padding: 2vw 1vw 1vw 2vw;
        color: $colorWhite;
        height: 13vw;
        overflow: hidden;
    }

    .EventContStyle h4 {
        @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 1);
    }

    .EventPara {
        height: 6vw;
        overflow: hidden;
    }

    .EventContStyle a {
        color: $colorWhite !important;
    }

    .EventPara p {
        @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 4);
    }

    .FacultyBlockPanel .StoriesContext h2 {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show:2);
        height: 4vw;
    }

    .FacultyBlockPanel .StoriesContext {
        height: 17vw;
    }
}

    @import "_GeneralResponsive";