﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.GenerTemplate {
  /**General Template One*/
  /**Banner Section*/
  /**General Template One Ends*/
  /**General Tempate Two***/
  /**Events***/
  /**Ties*/
  /**Events***/
  /**Events***/ }
  .GenerTemplate .Filters .FilterSelectStyle {
    width: 11vw;
    border: none;
    height: 2.6vw;
    padding: 0 10px;
    border-radius: 30px;
    font-size: 1.2vw;
    background: #00448b;
    color: #fff;
    outline: none !important;
    font-weight: 500;
    margin: 0 0 0 10px; }
  .GenerTemplate .ShowOnMobile {
    display: none; }
  .GenerTemplate .column div {
    font-weight: 500;
    font-size: 1vw;
    line-height: 28px; }
  .GenerTemplate .column div span {
    font-weight: 500;
    font-size: 1vw;
    line-height: 28px; }
  .GenerTemplate .PanelInner img {
    max-width: 100%; }
  .GenerTemplate .table-cover h2 {
    font-size: 16px;
    padding: 0 0 10px 0; }
  .GenerTemplate .faculty-details div {
    font-size: 14px;
    font-weight: 500;
    padding: 6px 0; }
  .GenerTemplate .faculty-details p {
    font-size: 14px;
    padding: 6px 0;
    font-weight: 500; }
  .GenerTemplate ul.dashl_styl li {
    font-size: 14px !important;
    padding: 5px 0; }
  .GenerTemplate .LoadMore {
    color: #fff !important;
    background: #EF3F3F;
    width: 11vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1vw; }
  .GenerTemplate .PanelInner {
    padding: 4vw 0; }
  .GenerTemplate .panelRow table {
    width: 90% !important; }
  .GenerTemplate .panelRow td {
    padding: 0 12px 0 0;
    font-size: 1vw;
    font-weight: 500;
    line-height: 24px; }
  .GenerTemplate .row.panelRow .row {
    flex: 0 0 100%;
    max-width: 100%; }
  .GenerTemplate .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .GenerTemplate .BannerImg {
    float: right; }
  .GenerTemplate .BannerImg img {
    width: 70vw; }
  .GenerTemplate .BannerStripContext {
    width: 41vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 11vw;
    align-items: center;
    background-size: cover;
    z-index: 9;
    left: 10px;
    box-shadow: 0 0 10px 1px #ccc; }
  .GenerTemplate .DownArrow {
    left: -5%;
    bottom: -45%;
    z-index: 99; }
  .GenerTemplate .breadcrumbPanel {
    bottom: -45%; }
  .GenerTemplate .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .GenerTemplate .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .GenerTemplate .BannerStripContext h1 {
    font-size: 4vw;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    width: 90vw;
    top: 3.5vw; }
  .GenerTemplate .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .GenerTemplate .sodText {
    font-size: 1.2vw;
    position: absolute;
    top: -22%;
    left: 6.5vw; }
  .GenerTemplate .panelRow {
    padding: 4vw 0 8vw 0; }
  .GenerTemplate .PanelContext h2 {
    font-size: 2vw;
    text-transform: uppercase; }
  .GenerTemplate .PanelContext h3 {
    font-size: 1.3vw;
    font-weight: 500;
    padding: 2vh 0 1vh 0; }
  .GenerTemplate .PanelContext p {
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0 0 1vw 0;
    line-height: inherit; }
  .GenerTemplate .PanelContext a {
    font-weight: 600;
    color: #00448B;
    text-decoration: underline; }
  .GenerTemplate .panelLeft img {
    width: 43vw; }
  .GenerTemplate .panelRow img {
    max-width: 100%; }
  .GenerTemplate .panelRow .row {
    margin: 0;
    padding: 1vw 0; }
  .GenerTemplate .link_list a {
    color: #00448B;
    font-size: 0.9vw;
    cursor: pointer; }
  .GenerTemplate .intro-text-85 ul {
    margin: 0;
    padding: 0 0 0 1.3vw; }
  .GenerTemplate .intro-text-85 ul li span {
    font-weight: 500 !important;
    font-size: 1vw; }
  .GenerTemplate .intro-text-85 h2 span {
    font-size: 1.2vw;
    padding: 1vw 0;
    display: block; }
  .GenerTemplate .intro-text-85 p span {
    font-weight: 500 !important;
    font-size: 1vw; }
  .GenerTemplate .AchieveInner {
    padding: 5vw 0 5vw 0; }
  .GenerTemplate .intro-text-85 p {
    font-size: 1vw;
    line-height: 24px;
    padding: 0 0 1vw 0; }
  .GenerTemplate .EventPanelStyle {
    padding-top: 1vw;
    padding-bottom: 1vw; }
  .GenerTemplate .EventPanelStyle img {
    width: 100%; }
  .GenerTemplate .AchieveTitle p {
    line-height: 10px; }
  .GenerTemplate .AchieveContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .GenerTemplate .AchieveTitleBlock p {
    position: relative;
    top: 14px; }
  .GenerTemplate .AchieveTitleBlock h3 {
    margin: 0 0 20px 0; }
  .GenerTemplate .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    bottom: 6px; }
  .GenerTemplate .AchieveContextInn {
    background: #FFCA08;
    padding: 1vw 3vw 1vw 2vw;
    height: 13vw; }
  .GenerTemplate .AchieveContextPAra {
    overflow: hidden;
    height: 8vw; }
  .GenerTemplate .AchieveContextInn p {
    display: block;
    display: -webkit-box;
    max-height: 7.8vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .GenerTemplate .AchieveContextInn a {
    color: #00448B !important; }
  .GenerTemplate .knowMoreStyle {
    text-decoration: underline !important;
    font-size: 0.9vw;
    color: #FFFFFF !important;
    margin: 10px 0 0 0;
    display: inline-block; }
  .GenerTemplate .forZIndex {
    z-index: 9; }
  .GenerTemplate .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .GenerTemplate .storiesPanStyle {
    padding: 10px 7px; }
  .GenerTemplate .GuestLecturePanel {
    padding: 5vh 0 15vh 0;
    background: #F7F7F7; }
  .GenerTemplate .StoriesContext {
    background: #FFFFFF;
    padding: 1vw 1.5vw 1vw 1.5vw;
    position: relative;
    top: -60px;
    left: 6.3vw;
    width: 21vw;
    height: 16vw;
    box-shadow: 0 5px 5px #ccc; }
  .GenerTemplate .StoriesContext h3 {
    display: block;
    display: -webkit-box;
    max-height: 1.56vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1vw 0; }
  .GenerTemplate .StoriesContext h2 {
    display: block;
    display: -webkit-box;
    max-height: 1.95vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .GenerTemplate .StoriesContext p {
    display: block;
    display: -webkit-box;
    max-height: 5.46vw;
    font-size: 1.05vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1vw 0;
    height: 6vw; }
  .GenerTemplate .StoriesContext a {
    text-decoration: underline;
    font-size: 0.9vw;
    color: #00448B !important; }
  .GenerTemplate .storiesPanStyle img {
    width: 21vw; }
  .GenerTemplate .StoryTitleStrip {
    background: #FFCA08; }
  .GenerTemplate .StoryTitleStrip p {
    position: absolute;
    top: -23%;
    font-size: 2.5vw;
    font-weight: 800; }
  .GenerTemplate .StoryTitleStrip {
    background: #FFCA08;
    width: 27.4vw;
    text-align: center;
    position: relative;
    height: 15vh; }
  .GenerTemplate .StoryTitleStrip {
    background: #FFCA08;
    width: 27.4vw;
    text-align: center;
    position: relative;
    height: 15vh;
    padding: 0 0 1vh 0; }
  .GenerTemplate .StoryTitleStripForTieUp {
    width: 51.5vw;
    height: 45.7vh; }
  .GenerTemplate .StoryTitleStripForTieUp h2 {
    font-size: 4.4vw;
    padding: 40px 0 0 0;
    position: absolute;
    width: 100%;
    text-align: left; }
  .GenerTemplate .TieupContext {
    padding: 0 100px 0 0;
    margin: -30px 0 0 0;
    position: relative; }
  .GenerTemplate .TiesUpBg a {
    color: #fff !important; }
  .GenerTemplate .TiesPara {
    height: 9vh;
    overflow: hidden; }
  .GenerTemplate .TiesUpBg {
    background: #00448B;
    padding: 3vh 3vw 1vh 2vw;
    height: 22vh;
    display: block !important; }
  .GenerTemplate .TieupContext p {
    font-size: 1.8vw;
    color: #FFFFFF;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; }
  .GenerTemplate .TieUpPosition {
    margin: -25vh 0 0 0; }
  .GenerTemplate .Ties_TestimonialPanel:before {
    content: '';
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    top: 0;
    background-position: 0px -28vh; }
  .GenerTemplate .TiesUpPanel .link_list {
    position: absolute;
    right: 100px;
    bottom: 6px;
    top: 50px; }
  .GenerTemplate .TestimonialPanel {
    padding: 100px 0 0 0;
    background: #F7F7F7; }
  .GenerTemplate .Event_Inner h3 {
    padding: 3vw 0 0 0; }
  .GenerTemplate .eventContext {
    padding: 0 0 0 2.5vw;
    margin: -30px 0 0 0;
    position: relative; }
  .GenerTemplate .EventContextInner {
    padding: 5vh 3vw 0vh 2vw;
    background: #00448B;
    height: 12vw;
    overflow: hidden; }
  .GenerTemplate .EventContStyle {
    background: #00448B;
    padding: 2vw 1vw 1vw 2vw;
    color: #FFFFFF;
    height: 13vw;
    overflow: hidden; }
  .GenerTemplate .EventContStyle h4 {
    display: block;
    display: -webkit-box;
    max-height: 1.95vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .GenerTemplate .EventPara {
    height: 6vw;
    overflow: hidden; }
  .GenerTemplate .EventContStyle a {
    color: #FFFFFF !important; }
  .GenerTemplate .EventPara p {
    display: block;
    display: -webkit-box;
    max-height: 6.24vw;
    font-size: 1.2vw;
    line-height: 1.3;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  .GenerTemplate .FacultyBlockPanel .StoriesContext h2 {
    display: block;
    display: -webkit-box;
    max-height: 3.9vw;
    font-size: 1.5vw;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4vw; }
  .GenerTemplate .FacultyBlockPanel .StoriesContext {
    height: 17vw; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 2000px) and (max-width: 3000px) {
  .GenerTemplate .cmpinn img {
    width: 100%; }
  .GenerTemplate .guestPanelStyle img {
    width: 100%; }
  .GenerTemplate .EventPanelStyle img {
    width: 100%; } }

@media (min-width: 1800px) and (max-width: 1920px) {
  .GenerTemplate .Ind_inn {
    padding: 0 25px; }
  .GenerTemplate .industry_blockList {
    margin: 0 -25px; } }

@media (min-width: 1600px) and (max-width: 1800px) {
  .GenerTemplate .SplOverlapContext {
    height: auto; }
  .GenerTemplate .SLContext p {
    -webkit-line-clamp: 3; }
  .GenerTemplate .homeIndicatorStyle {
    bottom: -19%; } }

@media (min-width: 1441px) and (max-width: 1599px) {
  .GenerTemplate .st_inn h3 {
    padding: 20px 0 15px 0; }
  .GenerTemplate .StyleForSlickArrows .slick-prev, .GenerTemplate .StyleForSlickArrows .slick-next {
    width: 35px;
    height: 35px; }
  .GenerTemplate .coursesfor {
    height: 21.5vh; }
  .GenerTemplate .clblk_Top h2 {
    line-height: 3.5vh; }
  .GenerTemplate .course_iconStyle {
    min-height: 15vh; }
  .GenerTemplate .courseTitle {
    min-height: 11vh; } }

@media (min-width: 1366px) and (max-width: 1440px) {
  .ParentPanel .st_inn h3 {
    padding: 20px 0 15px 0; }
  .ParentPanel .StyleForSlickArrows .slick-prev, .ParentPanel .StyleForSlickArrows .slick-next {
    width: 35px;
    height: 35px; }
  .ParentPanel .coursesfor {
    height: 21.5vh; }
  .ParentPanel .courseTitle {
    min-height: 11vh; }
  .ParentPanel .clblk_Top h2 {
    line-height: 3vh; } }

@media (min-width: 1200px) and (max-width: 1365px) {
  .ParentPanel .clblk_Top {
    padding: 2vh 25px 2vh 20px; }
  .ParentPanel .coursesfor {
    height: 20vh; }
  .ParentPanel .CheckBlk {
    padding: 3.5vh 20px; }
  .ParentPanel .courseTitle {
    min-height: 12vh; }
  .ParentPanel .clblk_Top h2 {
    line-height: 20px; }
  .ParentPanel .st_inn h3 {
    padding: 20px 0 15px 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }
  .paraLittle {
    font-size: 1.1vw; }
  .titleh4 {
    font-size: 1.6vw; }
  .paraSmall {
    font-size: 1.5vw; }
  .titleh4 {
    font-size: 1.8vw; }
  .GenerTemplate {
    /***Banner****/
    /***General TEmplate One*/
    /**General Responsive Two*/ }
    .GenerTemplate .BannerImg img {
      width: 85vw; }
    .GenerTemplate .BannerStripContext {
      padding: 0vh 0px 0vh 40px; }
    .GenerTemplate .TieupContext {
      padding: 0 2.5vw 0 0; }
    .GenerTemplate .breadcrumb.breadcrumbCustom li {
      font-size: 1.5vw; }
    .GenerTemplate .BannerStripContext h1 {
      width: 95vw; }
    .GenerTemplate .BannerStripContext p {
      font-size: 2.5vw; }
    .GenerTemplate .panelRow p {
      font-size: 1.4vw;
      line-height: inherit;
      padding: 10px 0; }
    .GenerTemplate .panelRow .row {
      margin: 0; }
    .GenerTemplate .SLContext p {
      min-height: 14vh;
      font-size: 1.4vw; }
    .GenerTemplate .StoriesContext p {
      height: 5vw; }
    .GenerTemplate .knowMoreStyle {
      font-size: 1.1vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  .plr100 {
    padding: 0 20px; }
  .plr20 {
    padding: 0 10px; }
  .paraSmall {
    font-size: 1.8vw; }
  .titleMedium {
    font-size: 3vw; }
  .paraLittle {
    font-size: 1.2vw; }
  .titleh4 {
    font-size: 2.2vw; }
  .GenerTemplate {
    /***Banner****/
    /***General TEmplate One*/
    /**General Template 2*/
    /**Student Achievements*/
    /***Industry**/
    /****Events***/
    /**Student Stories**/ }
    .GenerTemplate .Filters .FilterSelectStyle {
      width: 20vw;
      height: 4vw;
      font-size: 2vw; }
    .GenerTemplate .BannerImg img {
      width: 85vw; }
    .GenerTemplate .column div {
      font-size: 1.5vw; }
    .GenerTemplate .column div span {
      font-size: 1.5vw; }
    .GenerTemplate .LoadMore {
      width: 13vw;
      height: 4.5vw;
      font-size: 1.5vw; }
    .GenerTemplate .breadcrumbPanel {
      bottom: -38%; }
    .GenerTemplate .BannerStripContext {
      padding: 0vh 0px 0vh 15px;
      height: 15vw; }
    .GenerTemplate .BannerStripContext h1 {
      top: 4.5vw;
      width: 95vw; }
    .GenerTemplate .breadcrumb.breadcrumbCustom li {
      font-size: 1.5vw; }
    .GenerTemplate .BannerStripContext p {
      font-size: 2.5vw; }
    .GenerTemplate .panelRow p {
      font-size: 1.6vw;
      line-height: inherit;
      padding: 10px 0; }
    .GenerTemplate .TiesUpPanel .link_list {
      right: 20px; }
    .GenerTemplate .panelRow .row {
      margin: 0; }
    .GenerTemplate .AchieveInner {
      padding: 6vw 0 3vw 0; }
    .GenerTemplate .studenAchievPanel button {
      display: none; }
    .GenerTemplate .AchieveContextPAra {
      height: 9vw; }
    .GenerTemplate .AchieveContextInn {
      background: #FFCA08;
      height: 16vw; }
    .GenerTemplate .AchieveContextInn p {
      display: block;
      display: -webkit-box;
      max-height: 9.36vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .GenerTemplate .link_list a {
      font-size: 1.5vw; }
    .GenerTemplate .knowMoreStyle {
      font-size: 1.5vw; }
    .GenerTemplate .AchieveContextInn {
      background: #FFCA08;
      min-height: 15vw;
      padding: 1.7vh 2vw 1.7vh 2vw; }
    .GenerTemplate .industryStrip h2 {
      font-size: 3.5vw; }
    .GenerTemplate .TieupContext p {
      font-size: 2.2vw;
      color: #FFFFFF;
      -webkit-line-clamp: 3; }
    .GenerTemplate .TiesUpBg {
      height: 20vw;
      padding: 20px 10px; }
    .GenerTemplate .TieupContext {
      padding: 0 60px 0 0; }
    .GenerTemplate .TieUpPosition {
      margin: -20vw 0 0 0; }
    .GenerTemplate .StoryTitleStrip.StoryTitleStripForTieUp h2 {
      font-size: 4.4vw; }
    .GenerTemplate .StoryTitleStrip.StoryTitleStripForTieUp {
      width: 55vw;
      height: 35vw; }
    .GenerTemplate .IndContext h4 {
      padding: 0 0 0 2vw; }
    .GenerTemplate .industry_blockList {
      margin: 0 -20px;
      padding: 10vh 0; }
    .GenerTemplate .ind_CompanyList {
      padding: 0 40px 12px 40px; }
    .GenerTemplate .Ind_inn {
      padding: 0 20px; }
    .GenerTemplate .EventContStyle {
      height: 16vw; }
    .GenerTemplate .EventContStyle h4 {
      display: block;
      display: -webkit-box;
      max-height: 2.34vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .GenerTemplate .EventPara {
      height: 6.5vw; }
    .GenerTemplate .EventPara p {
      display: block;
      display: -webkit-box;
      max-height: 7.02vw;
      font-size: 1.8vw;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .GenerTemplate .Event_Inner .link_list {
      top: 2%; }
    .GenerTemplate .Event_Inner .CarouselforSlick button {
      display: none; }
    .GenerTemplate .EventContextInner {
      height: 15vw; }
    .GenerTemplate .StoriesContext {
      width: 24vw;
      display: block;
      height: 20vw; }
    .GenerTemplate .FacultyBlockPanel .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 5.2vw;
      font-size: 2vw;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 6vw; }
    .GenerTemplate .FacultyBlockPanel .StoriesContext {
      height: 21vw; }
    .GenerTemplate .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 2.6vw;
      font-size: 2vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .GenerTemplate .StoriesContext h3 {
      display: block;
      display: -webkit-box;
      max-height: 1.95vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .GenerTemplate .StoriesContext p {
      display: block;
      display: -webkit-box;
      max-height: 5.85vw;
      font-size: 1.5vw;
      line-height: 1.3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 7vw; }
    .GenerTemplate .StoryTitleStrip {
      width: 30vw; }
    .GenerTemplate .StudentStoriesPanel {
      padding: 18vw 0 0 0; }
    .GenerTemplate .StoryTitleStrip p {
      top: -18%;
      font-size: 4.5vw; }
    .GenerTemplate .StoryTitleStrip h2 {
      font-size: 6vw; }
    .GenerTemplate .storiesPannInn.StyleForSlickArrows .slick-next {
      right: 7px;
      left: auto; }
    .GenerTemplate .storiesPannInn.StyleForSlickArrows .slick-prev {
      right: 50px;
      left: auto; }
    .GenerTemplate .storiesPannInn StyleForSlickArrows .slick-prev, .GenerTemplate .storiesPannInn.StyleForSlickArrows .slick-next {
      top: 0; }
    .GenerTemplate .StoriesContext a {
      font-size: 1.4vw; } }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  /**Common***/
  .GenerTemplate {
    /***Banner****/
    /**General Template one*/
    /**General Template Two*/
    /***Achievements***/
    /***Industry*/
    /**Events***/
    /***PArent Stories**/ }
    .GenerTemplate .Filters {
      display: flex;
      padding: 0 0 10px 0; }
      .GenerTemplate .Filters .FilterSelectStyle {
        width: 50%;
        height: 35px;
        padding: 0 10px;
        font-size: 14px;
        margin: 0 10px 0 0; }
    .GenerTemplate .row.panelRow .row {
      overflow-x: auto; }
    .GenerTemplate .column div {
      font-size: 12px; }
    .GenerTemplate .column div span {
      font-size: 12px; }
    .GenerTemplate .panelRow ul li {
      font-size: 14px;
      margin: 6px 0; }
    .GenerTemplate .LoadMore {
      width: 120px;
      height: 30px;
      font-size: 12px;
      margin: 0 0 20px 0; }
    .GenerTemplate .panelRow td {
      padding: 0 12px 0 0;
      width: 100% !important;
      font-size: 12px; }
    .GenerTemplate .panelRow table th {
      font-size: 12px; }
    .GenerTemplate .mlr {
      margin: 0; }
    .GenerTemplate .paraLittle {
      font-size: 10px; }
    .GenerTemplate .paraSmall {
      font-size: 12px; }
    .GenerTemplate .titleh3 {
      font-size: 26px; }
    .GenerTemplate .titleh4 {
      font-size: 16px; }
    .GenerTemplate .CoursesList .slick-list.draggable {
      overflow: hidden !important; }
    .GenerTemplate ul.slick-dots {
      display: none !important; }
    .GenerTemplate .row {
      margin: 0px !important; }
    .GenerTemplate .BannerImg {
      width: 100%;
      float: none; }
    .GenerTemplate .BannerImg img {
      width: inherit; }
    .GenerTemplate .banner {
      z-index: 1; }
    .GenerTemplate .BannerStripContext p {
      font-size: 18px; }
    .GenerTemplate .BannerStripContext h1 {
      width: 100%;
      top: auto;
      margin: 10px 0 0 0;
      font-size: 18px; }
    .GenerTemplate .BannerStripContext {
      width: 80%;
      bottom: -70px;
      padding: 0px 10px;
      height: 100px; }
    .GenerTemplate .downArrowIcon {
      width: 30px; }
    .GenerTemplate .DownArrow {
      bottom: -60px;
      text-align: center;
      left: auto;
      right: 0;
      width: 20%; }
    .GenerTemplate .breadcrumbPanel {
      position: absolute;
      left: 20px;
      bottom: 0;
      text-align: left;
      z-index: 99; }
    .GenerTemplate .breadcrumbCustom {
      display: block;
      display: -webkit-box;
      max-height: 13px;
      font-size: 10px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .GenerTemplate .breadcrumbCustom li {
      font-size: 10px;
      font-weight: 500; }
    .GenerTemplate .col-sm-6.PanelContext {
      padding: 0 10px; }
    .GenerTemplate .PanelInner p {
      font-size: 13px;
      line-height: 20px; }
    .GenerTemplate .PanelInner h2 {
      font-size: 16px;
      padding: 4px 0 0 0; }
    .GenerTemplate .PanelInner {
      padding: 20px 0; }
    .GenerTemplate .panelRow .column {
      padding: 0 10px; }
    .GenerTemplate .panelRow h2 {
      font-size: 16px;
      padding: 10px 0 0 0px; }
    .GenerTemplate .PanelContext p {
      font-size: 12px;
      padding: 10px 0; }
    .GenerTemplate .panelRow p {
      font-size: 12px;
      padding: 10px 0;
      line-height: inherit; }
    .GenerTemplate .AchieveInner {
      padding: 45px 0 0 0;
      z-index: 99; }
    .GenerTemplate .intro-text-85 ul {
      margin: 0;
      padding: 0 0 0 15px; }
    .GenerTemplate .intro-text-85 ul li span {
      font-size: 12px; }
    .GenerTemplate .intro-text-85 h2 span {
      font-size: 16px;
      padding: 0;
      display: block; }
    .GenerTemplate .intro-text-85 p span {
      font-size: 12px; }
    .GenerTemplate .col-4.EventPanelStyle {
      flex: 0 0 100%;
      max-width: 100%; }
    .GenerTemplate .StudentLogoBanner {
      background: #f7f7f7; }
    .GenerTemplate .AchieveTitleBlock {
      padding: 0 15px; }
    .GenerTemplate .AchieveContext {
      padding: 0 0 0 60px; }
    .GenerTemplate .AchieveContextInn {
      padding: 20px 20px;
      height: 150px; }
    .GenerTemplate .AchieveContextPAra {
      height: 95px; }
    .GenerTemplate .AchieveContextInn p {
      display: block;
      display: -webkit-box;
      max-height: 83.2px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .GenerTemplate .studenAchievPanel .EventPanelStyle img {
      width: 280px; }
    .GenerTemplate .knowMoreStyle {
      font-size: 11px; }
    .GenerTemplate .link_list.ShowOnMobile {
      padding: 10px 15px; }
    .GenerTemplate .link_list a {
      color: #00448B;
      font-size: 11px; }
    .GenerTemplate .EventPanelStyle {
      padding-top: 10px;
      padding-bottom: 10px; }
    .GenerTemplate .AchieveTitleBlock .link_list {
      right: 10px; }
      .GenerTemplate .AchieveTitleBlock .link_list.LinkListForFilters {
        position: static; }
    .GenerTemplate .Ties_TestimonialPanel:before {
      display: none; }
    .GenerTemplate .TiesUpPanel .link_list {
      right: 10px;
      bottom: auto;
      top: 30px; }
    .GenerTemplate .StoryTitleStrip.StoryTitleStripForTieUp h2 {
      font-size: 30px;
      padding: 20px 0 0 10px;
      text-align: left;
      position: absolute;
      width: 250px; }
    .GenerTemplate .StoryTitleStrip.StoryTitleStripForTieUp {
      width: 235px;
      height: 200px; }
    .GenerTemplate .TieupContext p {
      font-size: 16px;
      color: #FFFFFF; }
    .GenerTemplate .TiesUpBg {
      padding: 20px 15px;
      height: auto; }
    .GenerTemplate .TiesUpPanel .StyleForSlickArrows .slick-prev, .GenerTemplate .TiesUpPanel .StyleForSlickArrows .slick-next {
      top: 40%;
      bottom: auto; }
    .GenerTemplate .TiesUpPanel .StyleForSlickArrows .slick-prev {
      left: -13%;
      right: auto; }
    .GenerTemplate .TiesUpPanel .StyleForSlickArrows .slick-next {
      left: -13%;
      right: auto;
      top: 55%; }
    .GenerTemplate .TieUpPosition {
      margin: -100px 0 0 0;
      padding: 0 0 40px 0px; }
    .GenerTemplate .eventContext {
      margin: -30px 0 0 0;
      padding: 0 0 0 45px; }
    .GenerTemplate .EventContStyle {
      height: 140px; }
    .GenerTemplate .EventContStyle h4 {
      display: block;
      display: -webkit-box;
      max-height: 20.8px;
      font-size: 16px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .GenerTemplate .EventPara {
      height: 75px; }
    .GenerTemplate .EventPara p {
      display: block;
      display: -webkit-box;
      max-height: 18.2px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .GenerTemplate .Event_Inner .link_list {
      position: static;
      right: 15px;
      top: auto;
      bottom: -60px;
      z-index: 9999; }
    .GenerTemplate .link_list a {
      font-size: 11px; }
    .GenerTemplate .eventContext p {
      font-size: 15px;
      padding: 0;
      height: auto;
      min-height: 60px;
      max-height: 60px; }
    .GenerTemplate .EventContextInner {
      padding: 15px 15px 15px 15px;
      height: auto;
      min-height: 120px; }
    .GenerTemplate .EventCarousel.StyleForSlickArrows .slick-prev {
      left: -7%;
      right: auto; }
    .GenerTemplate .EventCarousel.StyleForSlickArrows .slick-prev, .GenerTemplate .EventCarousel.StyleForSlickArrows .slick-next {
      bottom: 80px;
      top: auto; }
    .GenerTemplate .EventCarousel.StyleForSlickArrows .slick-next {
      right: auto;
      left: -7%;
      bottom: 120px; }
    .GenerTemplate .ParentStoriesPanel {
      padding: 30px 15px 15px 15px; }
    .GenerTemplate .ParentStoriesBG {
      background: #fff url(../src/img/home/white-bg-pattern.jpg) no-repeat;
      background-position: 0 -200px;
      background-size: cover; }
    .GenerTemplate .StoryTitleStrip {
      width: 280px;
      padding: 0 15px; }
    .GenerTemplate .storiesPannInn {
      padding: 30px 0 0 0; }
    .GenerTemplate .storiesPanStyle {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 15px !important; }
    .GenerTemplate .storiesPanStyle img {
      width: 100%; }
    .GenerTemplate .StoryTitleStrip p {
      font-size: 30px;
      top: -16%; }
    .GenerTemplate .StoryTitleStrip h2 {
      font-size: 50px; }
    .GenerTemplate .StoriesContext {
      left: 40%;
      width: 100%;
      height: 175px;
      left: 0;
      padding: 10px 15px;
      display: block; }
    .GenerTemplate .FacultyBlockPanel .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 46.8px;
      font-size: 18px;
      line-height: 1.3;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 50px; }
    .GenerTemplate .FacultyBlockPanel .StoriesContext {
      height: 200px; }
    .GenerTemplate .StoriesContext h3 {
      font-weight: 500;
      display: block;
      display: -webkit-box;
      max-height: 18.2px;
      font-size: 14px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
    .GenerTemplate .StoriesContext h2 {
      display: block;
      display: -webkit-box;
      max-height: 23.4px;
      font-size: 18px;
      line-height: 1.3;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 10px 0; }
    .GenerTemplate .StoriesContext p {
      display: block;
      display: -webkit-box;
      max-height: 62.4px;
      font-size: 12px;
      line-height: 1.3;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 10px 0;
      height: 65px; }
    .GenerTemplate .StoriesContext a {
      font-size: 11px; }
    .GenerTemplate .StoryStyle.StyleForSlickArrows .slick-next {
      right: 0px; }
    .GenerTemplate .StoryStyle.StyleForSlickArrows .slick-prev, .GenerTemplate .StoryStyle.StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 60px; }
    .GenerTemplate .StoryStyle.StyleForSlickArrows .slick-prev {
      left: auto;
      right: 0;
      bottom: 105px; } }

@media (min-width: 300px) and (max-width: 350px) {
  .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-prev {
    left: 10%;
    right: auto;
    bottom: 105px; }
  .SchoolDetailPanel .StoryStyle.StyleForSlickArrows .slick-next {
    right: auto;
    left: 10%; } }
