﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
/**Header***/
header .btn.btn-primary {
  border: navajowhite;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

header .LoginHeaderPanel a span {
  padding: 0 2px 0 0; }

header .HeaderPanel {
  padding: 0;
  background: inherit !important; }

header .HeaderRow {
  height: 13vh; }

header .logo_vw {
  width: 9vw; }

header .HeaderPanelLeft a {
  padding: 0 0 0 80px;
  margin: 0; }

header .HeaderPanelLeft {
  width: 25%; }

header .HeaderPanelRight {
  width: 14%; }

header .Icon_vw {
  width: 2.5vw; }

header .BtnStyle {
  background: #FFCA08;
  width: 11vw;
  height: 4.6vh;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  font-size: 0.7vw;
  margin: 0 15px 0 0;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in; }

header .HeaderPanelMenu ul li {
  position: relative;
  padding: 0 2vw; }

header .HeaderPanelMenu ul {
  align-items: center; }

header .HeaderPanelMenu ul li:first-child {
  padding: 0 1vw 0 0.8vw; }

header .HeaderPanelMenu ul li:first-child:before {
  display: none; }

header .HeaderPanelMenu ul li:before {
  content: '';
  display: block;
  background: #00448B;
  width: 0.1vw;
  height: 1vw;
  position: absolute;
  left: 0px;
  top: 2px; }

header .HeaderPanelMenu ul li.active a {
  color: #00448B !important; }

header .HeaderPanelMenu ul li a {
  padding: 0 !important;
  color: #000000 !important;
  font-size: 0.8vw;
  text-transform: uppercase;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out; }

header .HeaderPanelMenu ul li a:hover, header .HeaderPanelMenu ul li a:active {
  color: #00448B !important; }

header .BtnStyle:hover {
  background: #FFCA08; }

header .HeaderPanelMenu {
  width: 61%; }

header .BtnIcon img {
  width: 1.5vw;
  margin: 0 4px 0 0; }

header .HeaderPanelMenu ul li:first-child a {
  color: #000000 !important;
  border-radius: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  height: 4.6vh;
  width: 11vw;
  justify-content: center;
  font-weight: 700;
  position: relative; }

header .HeaderPanelMenu ul li:first-child a:after {
  content: '';
  width: 80%;
  background: #00448B;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0; }

header .ShowOnMobile {
  display: none !important; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }
  header .HeaderPanelLeft a {
    padding: 0 0 0 30px; }
  header .BtnStyle {
    width: 14vw;
    font-size: 1vw; }
  header .HeaderPanelRight {
    width: 18%; }
  header .HeaderPanelMenu ul li {
    padding: 0 1.6vw; }
  header .HeaderPanelMenu ul li:first-child a:after {
    width: 100%; }
  header .HeaderPanelMenu ul li a {
    font-size: 1vw; }
  header .HeaderPanelLeft {
    width: 18%; } }

@media (min-width: 768px) and (max-width: 991px) {
  header .collapse:not(.show) {
    display: block !important; }
  header .HeaderPanelMenu {
    width: 50%;
    flex-basis: 50%; }
  header .HeaderPanelMenu ul li a {
    font-size: 1.3vw; }
  header .HeaderPanelMenu ul li {
    padding: 0 1vw; }
  header .HeaderPanelLeft {
    width: 12%; }
  header .HeaderPanelLeft a {
    padding: 0;
    margin: 0; }
  header .HeaderPanelMenu ul {
    flex-direction: inherit; }
  header button.navbar-toggler.collapsed {
    display: none !important; }
  header .HeaderPanelMenu ul li:first-child a {
    width: auto; }
  header .HeaderPanelMenu ul li:first-child a:after {
    width: 100%; }
  header .Icon_vw {
    width: 25px; }
  header .BtnStyle {
    width: 13vw;
    font-size: 1vw; }
  header .HeaderPanelRight {
    width: 18%; } }

@media (max-width: 767px) {
  /**Header*/
  header .HeaderRow {
    height: 70px;
    align-items: flex-end !important;
    padding: 0 15px 10px 10px; }
  header .HeaderPanelLeft a {
    padding: 0; }
  header .HeaderPanelLeft {
    width: 28%; }
  header .HeaderPanelRight {
    width: 72%;
    justify-content: flex-end;
    margin: 0 0 9px 0; }
  header .Icon_vw {
    width: 30px; }
  header .logo_vw {
    width: 85px; }
  header .navbar-collapse {
    position: absolute;
    width: 100%;
    left: 0px;
    background: #fff;
    top: 100%;
    margin: 0;
    border-top: 1px dashed #ccc;
    box-shadow: inherit;
    z-index: 9; }
  header .HeaderPanelMenu ul li:first-child a {
    height: auto;
    width: auto;
    font-weight: 600; }
  header .HeaderPanelMenu ul li:first-child {
    padding: 10px 0; }
  header .HeaderPanelMenu ul li:first-child a:after {
    width: 40%;
    height: 3px;
    bottom: -5px; }
  header .HeaderPanelMenu ul li {
    width: 100%;
    text-align: center;
    padding: 10px 0; }
  header .HeaderPanelMenu ul {
    padding: 20px 0; }
  header .HeaderPanelMenu ul li a {
    font-size: 12px;
    font-weight: 600; }
  header .navbar-toggler {
    border: none;
    background: #fafafa !important;
    float: right;
    padding: 0px !important;
    border: 1px solid #333 !important;
    border-radius: 100%;
    width: 30px;
    height: 30px; }
  header .ToogleBtn {
    position: relative;
    margin: 0 0 0 20px; }
  header .ToogleBtn:before {
    content: '';
    background: #808080;
    width: 1.1px;
    height: 25px;
    display: block;
    position: absolute;
    left: -10px;
    top: 2px; }
  header .navbar-toggler:focus {
    outline: none;
    background: transparent !important; }
  header .navbar-toggler .icon-bar {
    background-color: #333;
    font-weight: 500;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s; }
  header .navbar-toggler .icon-bar {
    display: block;
    width: 15px;
    height: 2px;
    margin: 0 auto;
    border-radius: 1px; }
  header .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px; }
  header .icon-bar:nth-child(2) {
    width: 15px;
    transition: ease all .2s; }
  header .navbar-toggler:hover > .icon-bar:nth-child(2) {
    width: 15px;
    transition: ease all .2s; }
  header .navbar-toggler:active > .icon-bar:nth-child(2) {
    width: 15px;
    transition: ease all .2s; }
  header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s; }
  header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s; }
  header .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s; }
  header .BtnIcon img {
    width: 12px; }
  header .BtnStyle {
    width: 60px;
    height: 30px;
    font-size: 9px;
    margin: 0 4px 0 0;
    padding: 5px 5px !important;
    font-weight: 500; }
  header .ShowOnMobile {
    display: flex !important; }
  header .ForApplicant span {
    display: none; } }
