﻿@import "_variable";
@import "_mixin";
/**Header***/
header {
    /***EPM Oct 22 2019 header menu*/
    .Show_Mobile {
        display: none !important;
    }

    .desktopshow {
        display: block;
    }

    .HeaderPanelMenu {
        .TopHeaderPanelStrip {
            position: absolute;
            top: 0;
            width: 100%;
            background: $colorBlue;
            left: 0;

            ul {
                &.topMenu {
                    padding: 0.4vw 0;
                }

                .topMenuImg {
                    width: 1.2vw;
                    margin: 0 0.5vw;
                }

                li {
                    padding: 0 1.1vw;

                    a {
                        color: #fff !important;
                        font-size: .75vw;
                        font-weight: 600;

                        span {
                            vertical-align: middle;
                        }

                        &:hover, &:active {
                            color: #fff !important;
                        }
                    }
                }
            }
        }
    }
    /**Epm 1082019 Enquiry Form*/
    .navbar-nav {
        justify-content: flex-end;
        padding: 0 1vw 0 0;
    }

    .HeaderPanelMenu ul li {
        padding: 0 1vw;
    }
    /**Epm 1082019 Enquiry Form*/
    .btn.btn-primary {
        border: navajowhite;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobileShow {
        display: none;
    }

    .LoginHeaderPanel a span {
        padding: 0 2px 0 0;
        font-weight: 600;
    }

    .HeaderPanel {
        padding: 0;
        background: $colorWhite !important;
        position: fixed;
        width: 100%;
        z-index: 99999;
        box-shadow: 0 1px 1px #ccc;
        top: 0;
    }

    .HeaderRow {
        height: 7.5vw;
        padding: 1.8vw 0 0 0;
    }

    .logo_vw {
        width: 9vw;
    }

    .HeaderPanelLeft a {
        padding: 0 0 0 80px;
        margin: 0;
    }

    .HeaderPanelLeft {
        width: 21%;
    }

    .HeaderPanelRight {
        width: 11%;
    }

    .Icon_vw {
        width: 2.5vw;
    }

    .BtnStyle {
        background: $colorOrange;
        width: 11vw;
        height: 2.2vw;
        color: $colorBlack;
        text-transform: uppercase;
        padding: 0;
        font-size: $fontsize75_S;
        margin: 0 0 0 0;
        @include transition(0.3s all ease-in)
    }


    .HeaderPanelMenu ul {
        align-items: center;
    }

    .HeaderPanelMenu ul li:first-child:before {
        display: none;
    }

    .borderRight {
        content: '';
        display: block;
        background: $colorBlue;
        width: 1px;
        height: 1vw;
        left: 0px;
        top: 2px;
    }

    .HeaderPanelMenu ul li.active a {
        color: $colorBlue !important;
    }

    .HeaderPanelMenu ul li a {
        padding: 0 !important;
        color: $colorBlack !important;
        font-size: 1vw;
        text-transform: uppercase;
        @include transition(0.3s all ease-in-out);

        &.morecourses {
            color: $colorBlue !important;
            display: inline-block !important;
            text-decoration: underline;
            height: auto !important;
            margin: 15px 0 0 0;

            &:after {
                display: none !important;
            }
        }
    }

    .HeaderPanelMenu ul li a:hover, .HeaderPanelMenu ul li a:active {
        color: $colorBlue !important;
    }

    .BtnStyle:hover {
        background: $colorOrange;
    }

    .HeaderPanelMenu {
        width: 68%;
    }

    .BtnIcon img {
        width: 1.2vw;
        margin: 0 4px 0 0;
    }
    /*.HeaderPanelMenu ul li:first-child a {
        color: $colorBlack !important;
        border-radius: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        position: relative;

        &.morecourses {
            color: $colorBlue !important;
            font-size: 0.9vw;
        }
    }*/
    /*.HeaderPanelMenu ul li:first-child a:after {
        content: '';
        width: 100%;
        background: $colorBlue;
        height: 4px;
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
    }*/
    .ShowOnMobile {
        display: none !important;
    }
    /***Menu Dropdown*/
    ul.DropDown_Menu {
        position: absolute;
        z-index: 99999;
        background: #fff;
        padding: 0;
        max-width: 75vw;
        border-bottom: 3px solid;
        padding: 0 1vw 1vw 1vw;
        display: none;
        margin: 0 0 0 0;
        left: 22vw;
        top: 100%;
        box-shadow: 0 -1px 1px #ccc;
    }

    .Width_optional {
        width: auto !important;
        left: auto !important;
    }

    .drop_Tile {
        border-right: 1px solid #B7B7B7;
    }

    .drpMenuTitle {
        font-size: 1vw;
        padding: 1vw 0 0 0;
    }

    .noborder {
        border: none;
    }

    .DropPanelLEft {
        width: 23vw;
        float: left;
        padding: 0 2vw 0 1vw;
    }

    .DropPanelInnerLEft {
        padding: 0 2vw 0 2vw;
        width: 23vw;
        float: left;
    }

    .DropPanelInnerRight {
        float: left;
        padding: 1vw 0 0 0;
        width: 25vw;
    }

    .DropPanelRight {
        width: 50vw;
        float: left;
    }

    .DropDownList {
        .DropDownMenu_Inner {
            padding: 1vw 0 0 0;
        }

        ul.DropDownMenu_Inner li a {
            width: auto;
            height: auto;
            font-weight: 500;
            padding: 0 !important;
            display: block;
            color: $colorBlack !important;
            @include transition(0.5s);
            font-size: 0.85vw;
        }

        ul.DropDownMenu_Inner li a:hover, ul.DropDownMenu_Inner li a:focus {
            color: $colorOrange !important;
        }

        .drop_Tile {
            border-right: 1px solid #B7B7B7;
        }

        .DropDownMenu_Inner li {
            list-style: none;
            padding: 0.2vw 0 !important;
        }

        .DropDownMenu_Inner li:before {
            display: none !important;
        }

        .DropDownMenu_Inner li a:after {
            display: none !important;
        }
    }
    /**Search Animation*/
    .SearchTextStyle {
        border-bottom: 2px solid $colorBlue !important;
        border: none;
        box-shadow: inherit;
        outline: 0 !important;
        height: 3vw;
        width: 18.5vw;
        font-weight: 500;
        font-size: 1vw;
    }

    .SearchToggle a {
        padding: 0 0.5vw 0 0;
    }

    .SearchToggle a img {
        width: 2.5vw;
    }

    .CloseIcon:after {
        content: 'x';
        font-family: inherit;
        color: $colorBlue;
        font-size: 1.8vw;
        position: absolute;
        right: 0;
        top: 0;
        font-weight: 500;
        cursor: pointer;
    }

    .SearchToggle {
        position: absolute;
        right: 20px;
        display: none;
        background: $colorWhite;
        padding: 0 0 0 1vw;
        top: 1.5vw;
        height: 3vw;
        top: 40px;
    }

    .SearchTextStyle::-ms-clear {
        display: none;
    }

    .searchOpen {
        display: block;
    }
}
/*Media Querry*/
@import "_HeaderResponsive";