﻿@import "_variable";
@import "_mixin";
.HomePanel {
    .ShowOnMobile {
        display: none;
    }

    .DisclaimerTExt.DisclaimerTExtTop {
        padding: 3vw 0vw 0 3vw;
        text-align: left;
        width: 100%;
    }

    .DownArrow {
        z-index: 99;
    }

    .DisclaimerTExt {
        text-align: left;
        padding: 20px 0 20px 0;
        font-weight: 500;
        font-size: 12px;
    }
    /**Banner Section*/
    /**CArousel*/
    .homeIndicatorStyle {
        margin: 0;
        left: 50%;
        right: auto;
        bottom: -7%;
        width: auto;
        z-index: 99;
    }

    #HomeCarouselPanel .carousel-inner .carousel-item {
        height: 38vw;
    }

    #HomeCarouselPanel .carousel-inner {
        overflow: visible;
    }

    .Visit_list.CourseFind a {
        color: $colorBlue;
    }

    .homeIndicatorStyle li.active {
        background: $colorBlue;
        width: 1.5vw;
        border-radius: 100vw;
        height: 0.5vw;
    }

    .homeIndicatorStyle li {
        width: 0.5vw;
        height: 0.5vw;
        border-radius: 100vw;
        cursor: pointer;
        border: 1px solid $colorBlue;
    }

    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
        margin: 0 0 4.3vw 0;
    }

    .BannerImg {
        float: right;
    }

    .BannerImg img {
        width: 70vw;
    }

    .BannerStripContext {
        width: 40vw;
        position: absolute;
        bottom: -75px;
        background: url('../src/img/home/banner-text-bg.png') no-repeat;
        display: flex;
        justify-content: center;
        padding: 3vw 0px 2.5vw 85px;
        font-size: 40px;
        height: 25vw;
        background-size: cover;
        z-index: 9;
        left: 10px;
    }

    .BannerStripContext h1 {
        font-size: 5.2vw;
        position: absolute;
        width: 50vw;
        left: 6.5vw;
        line-height: normal;
    }



    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 3vw;
        background: $colorBlue;
        color: $colorWhite !important;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .WatchPanel a img {
        width: 25px;
    }

    .HomeBtnStyle picture {
        width: 25%;
        text-align: right;
    }

    .HomeBtnStyle span {
        white-space: normal;
        width: 80%;
        display: inline-block;
        padding: 0 5px 0 0;
    }
    /***Specialisation*/
    .Spl_list table {
        width: 100% !important;
        margin: 0 0 1vw 0;
    }

    .Spl_list tr {
        height: auto !important;
    }

    .splimg_Blk img {
        width: 100%;
    }

    .Spl_list td {
        font-weight: 500;
        font-size: 1.1vw;
        padding: 0.3vw 0.5vw;
        height: auto !important;
        vertical-align: initial;
    }

    .SplOverlapContext {
        width: 31vw;
        position: absolute;
        bottom: -75px;
        background: $colorBlue;
        color: $colorWhite;
        height: auto;
        left: -15px;
        z-index: 9999;
        padding: 15px 20px;
        box-shadow: 0 5px 5px #ccc;
    }

    .Spl_Row {
        padding: 25px 0 0px 0;
    }

    .Spl_Context {
        padding: 0 80px 0 0 !important;
    }

    .SplOverlapContext a {
        color: $colorWhite;
        font-size: $fontsize13;
        padding: 10px 0 0 0;
        display: inline-block;
        cursor: pointer
    }

    .Spl_Context h2 {
        color: $colorBlue;
        margin: 30px 0 15px 0;
    }

    .Spl_Context h2:before {
        position: absolute;
        content: '';
        background: $colorRed;
        width: 40px;
        height: 3px;
        top: -15px;
    }

    .Spl_Context h3 {
        padding: 0 0 15px 0;
    }

    .Spl_list p:before {
        content: '';
        background: #5E5E5E;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        display: block;
        position: absolute;
        top: 8px;
        left: 0px;
        display: block;
    }

    .Spl_list p {
        margin: 0 0 5px 0;
        position: relative;
        font-weight: 500;
        padding: 0 0 0 10px;
        font-size: 1.1vw;
    }
    /**Industry*/
    .industryStrip {
        background: $colorOrange;
        height: 7.3vw;
        margin: 0 0 30px 0;
    }

    .industryPanel .link_list {
        text-align: right;
    }

    .IndContext {
        width: 33.8vw;
    }

    .industryPanel {
        padding: 80px 0 40px 0;
        z-index: 999;
        position: relative;
    }

    .industryPanel .link_list {
        position: absolute;
        top: 10vw;
        right: 0;
    }

    .industryStrip h2 {
        font-size: $fontsize40;
        margin: 0 -1.4vw 0 0;
    }

    .IndContext h3 {
        padding: 0 0 0 0;
    }

    .Num_Title {
        font-size: $fontsize18;
        padding: 0 0 0 30px;
    }

    .Numb_list {
        font-size: $fontsize68;
        color: $colorBlue;
    }

    .industry_blockList {
        margin: 0 -40px;
        padding: 4vw 0px;
    }

    .ind_CompanyList {
        padding: 0 85px 12px 85px;
        margin: 0 -7px;
    }

    .Ind_inn {
        padding: 0 40px;
    }

    .ind_Logo img {
        width: 100%;
    }

    .StyleForSlickArrows .slick-next {
        right: 7px;
        left: auto;
        background: url(../src/img/home/right-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        width: 2.6vw;
        height: 2.6vw;
        top: 35%;
        background-size: 100% 100% !important;
    }

    .StyleForSlickArrows .slick-prev {
        left: 7px;
        background: url(../src/img/home/left-arrow.png) no-repeat;
    }

    .ind_Logo {
        padding: 0 7px;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }
    /***Courses*/
    .clblk_Top {
        padding: 1vw 1.5vw 1vw 1vw;
        border-bottom: 1px solid #EEEEEE;
        min-height: 25vw;
        position: relative;
    }

    .courseIcon {
        width: 4.4vw;
    }

    .applyCourses .plr100 {
        padding: 0 100px;
    }

    .CL_bg {
        background: $colorWhite;
        box-shadow: 0 0 5px 5px #ccc;
        min-height: 35vw;
    }

    .courseTitle {
        height: 5vw;
        overflow: hidden;
    }

    .courseTitle p {
        @include lineClamp($font-size: 1.05vw, $line-height: 1.3, $lines-to-show: 1);
    }

    .clblk_Top h2 {
        color: $colorBlue;
        @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show:2);
    }

    .coursesfor {
        color: #7C7C7C;
        height: 8.9vw;
        position: relative;
        overflow: hidden;
        padding: 0.5vw 0 0 0;
    }

    .coursesfor p {
        @include lineClamp($font-size: 0.9vw, $line-height: 1.3, $lines-to-show: 2);
    }

    .coursesfor a {
        position: static;
        margin: 0.5vw 0 0 0;
    }

    .linebeforeText {
        position: relative;
        padding: 0 0 0 8px;
    }

    .CoursesList {
        margin: 0 -7px;
    }

    .linebeforeText:before {
        content: '-';
        position: absolute;
        left: 0px;
    }

    .CL_Block {
        padding: 0 7px;
    }

    .CoursesList .slick-list.draggable {
        overflow: visible;
    }


    .forApplication span {
        display: block;
        color: #7C7C7C;
        font-weight: 500;
    }

    .forApplication .linebeforeText:before {
        display: none;
    }

    .forApplication .linebeforeText {
        padding: 0;
    }

    .TextOverlap {
        color: #FFFFFF;
        text-transform: uppercase;
        position: absolute;
        font-size: 10vw;
        top: -24%;
        left: -11%;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .forApplication {
        padding: 1vw 1vw 1vw 1vw;
        border-bottom: 1px solid #EEEEEE;
        min-height: 6vw;
        overflow: hidden;
    }

    .forApplication span {
        display: block;
        color: #7C7C7C;
        font-weight: 500;
        @include lineClamp($font-size: 0.9vw, $line-height: 1.3, $lines-to-show:1);
    }

    .forApplication p {
        margin: 0 0 5px 0;
        @include lineClamp($font-size: 1.05vw, $line-height: 1.3, $lines-to-show:1);
    }

    .CheckBlk {
        padding: 1.5vw 30px;
    }

    .checkBtnStyle {
        border: 1px solid $colorBlue;
        color: $colorBlue !important;
        height: 2.5vw;
    }

    .clrBorder1 {
        border-bottom: 3px solid $colorOrange;
    }

    .clrBorder2 {
        border-bottom: 3px solid $colorRed;
    }

    .clrBorder3 {
        border-bottom: 3px solid $colorBlue;
    }

    .clrBorder4 {
        border-bottom: 3px solid $colorOrange;
    }

    .clrBorder5 {
        border-bottom: 3px solid $colorRed;
    }

    .clrBorder6 {
        border-bottom: 3px solid $colorBlue;
    }

    .clrBorderBlue {
        border-bottom: 3px solid $colorBlue;
    }

    .clrBorderYellow {
        border-bottom: 3px solid $colorOrange;
    }

    .CoursesPanel {
        margin: 50px 0 0 0;
        z-index: 99;
    }

    .clrBorderRed {
        border-bottom: 3px solid $colorRed;
    }

    .course_iconStyle {
        max-height: 6vw;
        overflow: hidden;
        min-height: 6vw;
    }

    .applyCourses {
        background: $colorWhite;
        padding: 5vw 0 3vw 0;
        text-align: right;
        margin: -3vw 0 0 0;
        position: relative;
        z-index: 9;
    }
    /*.applyCourses:before {
        content: '';
        background: #fff;
        left: -100%;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
    }

    .applyCourses:after {
        content: '';
        background: #fff;
        right: -100%;
        position: absolute;
        width: 100%;
        height: 100%;StoriesContext 
        display: block;
        top: 0;
    }*/
    .Visit_list.CourseFind a {
        background: $colorWhite;
    }

    .Visit_list.CourseFind a:hover {
        background: $colorBlue;
        color: $colorWhite;
    }

    .ApplyNow.CourseFind a {
        background: $colorBlue;
    }

    .ApplyNow.CourseFind a:hover {
        color: $colorBlue;
        background: $colorWhite;
        border-color: $colorBlue;
    }

    .crseTitle {
        padding: 0px 0 25px 0;
    }

    .StyleForSlickArrowsBottom .slick-prev, .StyleForSlickArrowsBottom .slick-next {
        left: 50px;
        top: auto;
        bottom: 30px;
    }

    .StyleForSlickArrowsBottom .slick-prev {
        left: 0px;
    }

    .StyleForSlickArrowsTop .slick-prev, .StyleForSlickArrowsTop .slick-next {
        right: 7px;
        top: -13%;
    }

    .StyleForSlickArrowsTop .slick-prev {
        right: 7%;
        left: auto;
    }

    .BtnBlue {
        border: 1px solid $colorBlue;
        color: $colorBlue;
    }

    .BtnRed {
        background: $colorRed;
        border: 1px solid transparent;
        color: $colorWhite;
    }

    .BtnRed:hover {
        border: 1px solid $colorRed;
        color: $colorRed;
    }

    .HomeCoursePanel {
        padding: 50px 0 0 0;
        overflow: hidden;
    }

    .HomeCourseBg {
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        background-position: bottom;
    }

    .HomeCourseBg:after {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        position: absolute;
        background-position: center center;
        width: 100%;
        height: 100%;
        top: -20%;
        background-size: 45%;
        left: 10%;
        z-index: 0;
    }

    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorBlue !important;
        margin: 10px 0 0 0;
        display: inline-block;
    }
    /**Stories***/
    .storiesPanStyle {
        padding: 35px 7px;
    }



    .Studentstories .link_list {
        position: relative;
        z-index: 9;
    }

    .StoriesContext {
        background: $colorWhite;
        padding: 1vw 1.5vw 1vw 1.5vw;
        display: table-cell;
        position: relative;
        top: -60px;
        left: 6.3vw;
        width: 21vw;
        height: 16vw;
        box-shadow: 0 5px 5px #ccc;
    }

    .StoriesContext h3 {
        @include lineClamp($font-size: $fontsize16, $line-height: 1.3, $lines-to-show: 1);
        margin: 0 0 1vw 0;
    }

    .StoriesContext h2 {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show: 1);
    }

    .StoriesContext p {
        @include lineClamp($font-size: $fontsize14, $line-height: 1.3, $lines-to-show: 4);
        margin: 0 0 1vw 0;
        height: 6vw;
    }

    .StoriesContext a {
        text-decoration: underline;
        font-size: $fontsize13;
        color: $colorBlue;
    }

    .storiesPanStyle img {
        width: 21vw;
    }

    .StoryTitleStrip {
        background: $colorOrange;
    }

    .StoryTitleStrip p {
        position: absolute;
        top: -23%;
        font-size: $fontsize34;
        font-weight: 800;
    }

    .StoryTitleStrip {
        background: $colorOrange;
        width: 27.4vw;
        text-align: center;
        position: relative;
        height: 7.3vw;
    }

    .StoryTitleStrip h2 {
        font-size: $fontsize70;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .Studentstories {
        margin: 50px 0 0 0;
    }

    .link_list {
        padding: 1.5vw 0px 2vw 0;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }

    .HCBlk span {
        position: relative;
        top: -10px;
    }

    .HCBlk {
        padding: 0 48px;
    }

    .HC_row {
        margin: -30px -48px 0 -48px;
        padding: 0 0 18vw 6.2vw;
    }

    .HC_List {
        min-height: 12vw;
    }

    .HC_List p {
        line-height: initial;
    }
    /**Certification*/
    .CertifcationBg {
        background: url(../src/img/home/pattern-bg.jpg);
        background-size: cover;
    }

    .CrtInner {
        margin: -14vw 0 0 0;
        padding: 0 0 30px 0;
    }

    .StripforTwoContext {
        position: relative;
        top: -50px;
        background: $colorOrange;
        height: 7.3vw;
        width: 30vw;
    }

    .StripforTwoContext h2 {
        margin: 0 -5vw -2vw 0;
        font-size: $fontsize40;
    }
    /**Award*/
    .AwardContext {
        background: $colorWhite;
        padding: 1.5vw 2vw 1.5vw 2vw;
        display: block;
        position: relative;
        top: -60px;
        left: 2.2vw;
        width: 92%;
        height: 11vw;
        overflow: hidden;
        box-shadow: 0 5px 5px #ccc;
    }

    .AwardContext p {
        margin: 0 0 1vw 0;
        @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 5);
    }

    .DarkGrayTitle {
        color: $colorDarkGray;
        font-size: $fontsize100;
        position: relative;
        top: -1vw;
        margin: 0 0 20px 0;
    }

    .AwardSectionIner {
        padding: 50px 0 0 0;
    }

    .AwardSectionIner h2 {
        left: 1vw;
    }

    .ForAwardCarouselStyle {
        margin: -7.5vw -7px 0 -7px;
    }

    .ResearchContext p {
        padding: 40px 0 0 0;
        line-height: 24px;
        min-height: 8vw;
        text-align: center;
    }

    .ResearchPanel {
        margin: 60px 0 0 0;
    }

    .ResearchSlick {
        padding: 20px 0 65px 0;
        z-index: 9;
        position: relative;
        z-index: 9;
    }

    .ResearchLogoBanner:after {
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        content: '';
        position: absolute;
        top: 25%;
        right: 100px;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-position: right;
        width: 100%;
        background-size: 45%;
    }
    /**StudentAchievment*/
    .WhiteBg {
        background: url(../src/img/home/white-bg-pattern.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .EventPanelStyle img {
        width: 100%;
    }

    .EventBg {
        margin: -85px 0 0 0;
        overflow: hidden;
    }

    .studenAchieveBanner:before {
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-position: left;
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: -22%;
        background-size: 100%;
        z-index: 0;
    }

    .SectionLogoBanner:before {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-size: 50%;
        position: absolute;
        top: 70px;
        left: 50px;
        width: 100%;
        height: 100%;
    }

    .AchieveInner {
        padding: 30vh 0 3vh 0;
    }

    .AchieveTitle p {
        line-height: 10px;
    }

    .AchieveContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .AchieveTitleBlock p {
        position: relative;
        top: 1vw;
    }

    .AchieveTitleBlock h2 {
        margin: 0 0 20px 0;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .AchieveContextInn {
        background: $colorOrange;
        padding: 1vw 3vw 1vw 2vw;
        height: 13vw
    }

    .AchieveContextPAra {
        overflow: hidden;
        height: 8vw;
    }

    .AchieveContextInn p {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show: 4);
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .noPadding {
        padding: 0px;
    }
    /**Events***/
    .Event_Inner h2 {
        padding: 4.6vh 0;
    }

    .EventCarousel {
        z-index: 99;
        position: relative;
    }

    .HomeEventCarousel {
        z-index: 9;
    }

    .eventContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .EventContStyle {
        background: $colorBlue;
        padding: 2vw 1vw 1vw 2vw;
        color: $colorWhite;
        height: 13vw;
        overflow: hidden;
    }

    .EventContStyle h4 {
        @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 1);
    }

    .EventPara {
        height: 6vw;
        overflow: hidden;
    }

    .EventContStyle a {
        color: $colorWhite !important;
    }

    .EventPara p {
        @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 4);
    }

    .Events_Impact_Panel {
        padding: 180px 0px 40px 6.2vw;
        margin: 0 -48px;
    }

    .HomeEventImg {
        padding: 0 100px 0 0;
    }

    .HomeEventImg img {
        width: 100%;
    }

    .Ev_Im_List {
        padding: 0 48px;
    }

    .RotateTitlePosition {
        transform: rotate(270deg);
        position: absolute;
        z-index: 9;
        padding: 0px !important;
        width: 100%;
        height: 100%;
        bottom: 32%;
        left: -1vw;
        font-size: 3vw;
    }

    .eventContextForHome {
        padding: 0 0 0 7vw;
    }

    .PadSpacing {
        padding: 1.5vw 0px 2vw 9vw;
    }
    /**Helpline Chat*/
    .helplineChatInner {
        position: fixed;
        top: 35%;
        right: 2%;
        border-radius: 100vw;
        padding: 0.5vw 0.2vw;
        z-index: 999;
    }

    .helplineChatInner a span {
        display: block;
        padding: 5px 0 0 0;
    }

    .helplineChatInner a img {
        width: 35px;
    }

    .helplineChatInner a {
        color: $colorBlack;
        display: block;
        margin: 10px 0;
        font-size: 0.95vw;
        text-align: center;
        font-weight: 600;
    }
}
@import "_HomeResponsive";
