//colors
$color_black_haze_approx: #f7f7f7;
$white: #fff;
$color_congress_blue_approx: #00448b;
$color_supernova_approx: #ffca08;
$color_coral_red_approx: #ef3f3f;
$color_mine_shaft_approx: #333;
$color_storm_dust_approx: #606060;
$black: #000000;
$alabaster: #fafafa;
$color_star_dust_approx: #a1a1a1;
$color_celeste_approx: #ccc;
$color_gallery_approx: #ededed;
$color_iron_approx: #d7d7d7;
$black_11: rgba(0, 0, 0, 0.11);
$color_alto_approx: #dddddd;
@import "_variable";
@import "_mixin";
//fonts
$font_0: monospace;
 
//urls
$url_0: url(../src/img/aboutus-page/bg.jpg);
$url_1: url(../src/img/home/pattern-bg.jpg);
$url_2: url(../src/img/aboutus-page/BG-1.png);
$url_3: url(../src/img/upes-students/download.png);
$url_4: url(../src/img/svg/right-arrow.svg);
$url_5: url(../src/img/svg/left-arrow.svg);
$url_6: url(../src/img/home/backgound-logo-image.png);
h1,h2,h3,h4,h5,h6{
    font-weight:inherit;
}
//@extend-elements
//original selectors
//.industry .StyleForSlickArrows .slick-prev, .industry .StyleForSlickArrows .slick-next
%extend_1 {
    width: 2.5vw;
    height: 2.5vw;
    top: 35%;
    background-size: cover !important;
}


.industry {
    background: $color_black_haze_approx $url_0 no-repeat;
    overflow: hidden;

    .bg-lightwhite {
        background-color: $color_black_haze_approx !important;
    }

    .ResearchInner .link_list.text-right.noPadding {
        z-index: 9;
        position: relative;
    }

    .link_list a {
        color: #00448B;
        font-size: 0.9vw;
    }

    .DisclaimerTExt.DisclaimerTExtTop {
        padding: 3vw 0 0vw 3vw;
        text-align: left;
        width: 100%;
    }

    .DisclaimerTExt {

        text-align: left;
        padding: 20px 0 20px 0;
        font-weight: 500;
        font-size: 12px;
    }

    .bg-white {
        background-color: $white;

        .industryPanel {
            padding-top: 0;

            .Orange-Strip {
                position: relative;
                top: -50px;
            }
        }
    }

    .disclaimer {
        p {
            font-size: 12px;
            width: 35%;
            margin-left: auto;
            position: relative;
            top: 50px;
        }
    }

    .knowMoreStyle, .color-blue {
        font-size: 1.05vw;
    }

    .pl7-5 {
        padding-left: 7.5px;
    }

    .pr7-5 {
        padding-right: 7.5px;
    }

    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg {
        float: right;

        img {
            width: 70vw;
        }
    }

    .BannerStripContext {
        width: 41.5vw;
        position: absolute;
        bottom: -75px;
        background: $color_supernova_approx;
        display: flex;
        justify-content: center;
        padding: 0 0 0 85px;
        font-size: 40px;
        height: 26vw;
        background-size: cover;
        z-index: 9;
        left: 10px;
        font-weight: bold;

        .fontExBold {
            font-size: 6vw;
            position: absolute;
            width: 85vw;
            left: 85px;
            line-height: 100%;
            top: -4vw;

            h1 {
                line-height: 100%;
            }
        }

        .StripContent {
            font-size: 2.5vw;
            padding-top: 12%;
            padding-right: 40px;
        }
    }

    .DownArrow {
        left: -5%;
    }

    .HomeBtnStyle {
        font-size: 0.7vw;
        height: 6vh;
        background: $color_coral_red_approx;
        color: $white;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;

        picture {
            width: 25%;
            text-align: right;
        }

        span {
            white-space: normal;
            width: 80%;
            display: inline-block;
            padding: 0 5px 0 0;
        }
    }

    .BannerContextList {
        padding: 0;
        margin: 0;
        list-style-type: none;
        top: 25%;
        left: 7vw;
        padding: 0 50px 0 0;
        position: absolute;

        li {
            font-size: 1.2vw;
            font-weight: 500;
            padding: 0 0 4vh 0;
            position: relative;

            &:before {
                content: '';
                background: $color_mine_shaft_approx;
                width: 3px;
                height: 3px;
                display: block;
                position: absolute;
                left: -8px;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 100%;
                top: 12px;
            }
        }
    }

    .sodText {
        font-size: 1.6vw;
        position: absolute;
        top: -22%;
        left: 6vw;
    }

    .wrapper-75 {
        width: 75vw;
        margin: auto;
    }

    .f150 {
        font-size: 7.8vw;
    }

    .f60 {
        font-size: 3.15vw;
    }

    .accord-wrapper {
        .appList {
            p {
                padding: 0 10px;
                font-size: 1.05vw;
                color: $color_storm_dust_approx;
            }

            &.ApplyNow a {
                background: $color_supernova_approx;
            }
        }

        .applyNowForDetail {
            padding: 8vh 0 5vh;
        }

        .CardHeaderPanel {
            > a {
                display: block;
                position: relative;
                font-weight: 600;
                color: $black;
                font-size: 1.25vw;
                padding: 16px 25px;
                padding: 1.1713vw 1.8302vw;
                padding-right: 30px;
                border-bottom: 2px solid $alabaster;

                &:after {
                    content: ' >';
                    font-family: $font_0;
                    position: absolute;
                    right: 25px;
                    font-weight: 600;
                    font-size: 1.6vw;
                    color: $color_star_dust_approx;
                    top: 12px;
                    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                    transform: rotate(90deg);
                }
            }

            > a[aria-expanded="true"]:after {
                content: ' >';
                font-family: $font_0;
                //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
                transform: rotate(270deg);
            }
        }

        .AccordionStyle {
            margin: 30px 0 0;
            background: $white;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 5px 5px $color_celeste_approx;
            position: relative;
            border: 1px solid $color_gallery_approx;

            .card-header {
                background: inherit;
                border: none;
                padding: 0;
            }

            .card {
                border: none;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 0;
            }
        }

        .DetailsBanner:before {
            content: '';
            background: $color_black_haze_approx $url_1 no-repeat;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            top: 0;
            background-position: 0 -35vh;
        }

        .AchieveTitleBlock .link_list {
            position: absolute;
            right: 0;
            top: 10px;
        }

        .colorLightWhite .CardHeaderPanel a {
            background: $color_black_haze_approx;
            border-bottom: 2px solid $white;
            padding-right: 30px;
        }

        .card-body.cardContext {
            padding: 20px 25px;
        }


        .cardContext p {
            font-weight: 500;
            font-size: 1vw;
            line-height: 24px;
        }

        .cardContext a {
            color: $black;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .Orange-Strip {
        height: 10vw;
        position: relative;
        width: 45vw;

        .title {
            padding-left: 8vw;
            z-index: 1;
            font-weight: 900;
        }
    }

    .Orange-Strip::before {
        background: $color_supernova_approx;
        width: 36.8vw;
        content: '';
        height: 100%;
        top: 0px;
        position: absolute;
    }

    .yellow-bg {
        background-color: $color_supernova_approx;
    }

    .section-1 {
        padding-top: 80px;
        padding-bottom: 65px;

        .title1 {
            color: $color_iron_approx;
            opacity: .5;
            letter-spacing: -5px;
            margin-top: -35px;
        }

        .title2 {
            color: $color_congress_blue_approx;
            margin-top: -30px;
            padding-left: 7.5vw;
        }
    }

    .section-1::before {
        content: '';
        background: $url_2 no-repeat;
        position: absolute;
        right: 0;
        height: 100%;
        width: 50%;
        background-position: 80%;
        background-size: contain;
        padding: 25vw;
    }

    .companies-wrapper {
        padding: 0px 15px;
    }

    .section-4 {
        .link-toggle {
            float: right;
            font-size: 1vw;
        }

        .accordion-title {
            padding-top: 60px;
            padding-bottom: 30px;

            .link-toggle {
                margin-top: -30px;
                font-size: 1vw;
            }
        }

        .inter-intern {
            //margin-top: 150px;
            padding-bottom: 150px;
            position: relative;
            z-index: 1;
            padding-top: 8vw;
            overflow: hidden;

            .yellow-bg {
                height: 22.032vw; //padding-bottom: 140px;
                .titleh3 {
                    padding-top: 50px;
                }
            }

            .students-slide {
                //  margin-top: -6.4vw;
                .slick-list {
                    overflow: visible;
                    margin: -7px;
                }

                .student {
                    // padding: .78125vw; //min-height: 15vw;
                    padding: 0px 7px; //min-height: 15vw;
                    .profile-wrapper {
                        background-color: #fff;

                        .photo {
                            width: 50%;
                            margin-top: -6vw;

                            img {
                                //width: 15vw;
                                //min-width: 300px;
                                width: 100%;
                            }
                        }

                        .profile {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 0 .78125vw;

                            h2 {
                                @include lineClamp($font-size: 1.25vw, $line-height: 1.3, $lines-to-show: 2);
                                font-weight: 600;
                                margin-top: 1vw;
                                margin-bottom: .5vw;
                                height: 4vw;
                            }

                            h3 {
                                @include lineClamp($font-size: 1.05vw, $line-height: 1.3, $lines-to-show: 2);
                                color: $colorBlue;
                                margin-bottom: 1vw;
                                height: 3vw;
                            }
                        }
                    }

                    .details {
                        background-color: #fff;
                        box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.11);
                        padding: 15px;
                        padding: 1vw;
                        padding-top: 0;
                        padding-bottom: 30px;

                        p {
                            @include lineClamp($font-size: 1.05vw, $line-height: 1.3, $lines-to-show: 4);
                            font-weight: 500;
                            margin-bottom: 30px;
                            padding-top: 0px;
                        }
                    }
                }
            }
        }

        .health-medical .titleh3 {
            font-weight: 600;
            font-size: 3.1vw;
        }
    }

    .section-5 {
        margin-top: 0;
        background-size: 40%;
        background-position: 3% -50%;
        margin-bottom: 100px;
        background-color: $white;

        .link-toggle {
            text-align: right;
            margin-top: -90px;
        }

        .accord-wrapper {
            padding-top: 60px;
            position: relative;
            z-index: 9;

            .title {
                padding: 15px 0px;
                padding-bottom: 30px;
                color: #00448B;

                h3 {
                    font-size: 1.25vw;
                    font-weight: 600;
                }
            }

            .col-md-4 {
                padding-right: 2vw;
                padding-bottom: 2vw;
            }

            .position {
                font-size: 1.25vw;

                p {
                    font-weight: 600;
                }
            }

            .person {
                font-size: 1.25vw;
                font-weight: 600;
            }

            .designation {
                font-size: .9vw;
                font-weight: 600;
                color: #00448B;
                padding-top: 15px;
            }
        }

        .contact-wrapper {
            padding-bottom: 30px;

            h3 {
                font-size: 150px;
                font-size: 7.8vw;
                font-weight: 900;
                color: $color_alto_approx;
                margin: 60px 0;
            }

            .header {
                font-weight: 600;
                margin-bottom: 30px;
                font-size: 1.25vw;
            }

            .details p {
                margin: 10px 0;
                font-size: 1.25vw;
                font-weight: 600;
            }
        }

        .student-affairs .header-top {
            position: relative;
            top: -50px;
        }
    }

    .section-5::before {
        background: $url_2 no-repeat;
        position: relative;
        height: 100%;
        width: 50%;
        background-position: 30%;
        background-size: contain;
        padding: 25vw;
        top: 200px;
    }

    .section-6 {
        background-color: $color_black_haze_approx;
        padding-bottom: 60px;
        background: $color_black_haze_approx $url_1 no-repeat;
    }

    .txt-wrapper {
        padding-bottom: 100px;

        .title {
            font-size: 3.1vw;

            h3 {
                line-height: 3em;
                font-weight: 800;
            }
        }

        .text-content {
            font-size: 1.32vw;

            p {
                line-height: 1.5em;
            }
        }
    }

    .industryStrip {
        background: $color_supernova_approx;
        height: 15vh;
        margin: 0 0 30px 0;

        h2 {
            font-size: 3vw;
            margin: 0 -3vh 0 0;
        }
    }

    .IndContext {
        width: 33.8vw;

        h4 {
            padding: 0 0 0 6vw;
        }
    }

    .industryPanel {
        padding: 80px 0 40px;
        z-index: 999;
        padding-bottom: 100px;
        padding-top: 0;
        position: relative;

        .Orange-Strip {
            position: relative;
            top: -50px;
        }

        h4.titleh4 {
            width: 36.8vw;
            padding-left: 8vw;
        }
    }

    .Num_Title {
        font-size: 1.32vw;
        padding: 0 0 0 30px;
    }

    .Numb_list {
        font-size: 5vw;
        color: $color_congress_blue_approx;
    }

    .industry_blockList {
        margin: 0 -40px;
        padding: 4vw 0;
    }

    .ind_CompanyList {
        padding: 0 85px 12px;
        margin: 0 -7px;
    }

    .Ind_inn {
        padding: 0 40px;
    }

    .StyleForSlickArrows {
        .slick-next {
            right: 7px;
            left: auto;
            background: $url_4 no-repeat;
            @extend %extend_1;

            &:before {
                display: none;
            }
        }

        .slick-prev {
            @extend %extend_1;
            left: 7px;
            background: $url_5 no-repeat;

            &:before {
                display: none;
            }
        }
    }

    .slick-prev, .slick-next {
        top: 105%;
    }

    .slick-prev:before, .slick-next:before {
        content: unset;
    }

    .ind_Logo {
        padding: 0 7px;
    }

    .ResearchPanel {
        background-color: $white;
        margin: 60px 0 0;

        .Orange-Strip {
            position: relative;
            top: -50px;
        }
    }

    .ResearchSlick {
        padding: 20px 0 65px;
    }

    .link-toggle {
        position: relative !important;
        z-index: 9999;
    }

    a.color-blue {
        color: $color_congress_blue_approx;
        text-decoration: underline;
        font-weight: 600;
        text-transform: uppercase;
    }

    .downloable-accord .CardHeaderPanel a:after {
        content: '' !important;
        background-image: $url_3 !important;
        background-repeat: no-repeat !important;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: inherit !important;
        padding: 1vw !important;
        background-position: center;
    }

    .ResearchContext p {
        padding: 40px 0 0;
        line-height: 24px;
    }

    .ResearchLogoBanner:after {
        background: $url_6 no-repeat;
        content: '';
        position: absolute;
        top: 25%;
        right: 100px;
        height: 100%;
        background-position: right;
        width: 100%;
        background-size: 45%;
    }
}

@import '_industryResponsive';
@import "_commonResponsiveMobile";
