﻿@import "_variable";
@import "_mixin";
.LoginTemplate {
    .ShowOnMobile {
        display: none;
    }

    i.gj-icon {
        top: 10px !important;
        right: 10px !important;
    }

    .PanelInner img {
        max-width: 100%;
    }

    .PanelInner {
        padding: 4vw 0;
    }

    .panelRow table {
        width: 90% !important;
    }

    .panelRow td {
        padding: 0 12px 0 0;
    }

    .row.panelRow .row {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .dashl_styl li {
        font-size: 1vw;
        margin: 0.5vw 0;
    }

    .dashl_styl {
        padding: 0 0 0 2vw;
        margin: 1vw 0;
        font-size: 2vw;
    }

    .BannerImg {
        float: right;
    }

    .BannerImg img {
        width: 70vw;
    }

    .BannerStripContext {
        width: 41vw;
        position: absolute;
        bottom: -75px;
        background: $colorOrange;
        display: flex;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 11vw;
        align-items: center;
        background-size: cover;
        z-index: 9;
        left: 10px;
        box-shadow: 0 0 10px 1px #ccc
    }


    .DownArrow {
        left: -5%;
        bottom: -45%;
    }

    .breadcrumbPanel {
        bottom: -45%;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 6vh;
        background: $colorRed;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .HomeBtnStyle picture {
        width: 25%;
        text-align: right;
    }

    .BannerStripContext h1 {
        font-size: 4vw;
        padding: 0;
        display: flex;
        align-items: center;
        position: absolute;
        width: 90vw;
        top: 3.5vw;
    }

    .HomeBtnStyle span {
        white-space: normal;
        width: 80%;
        display: inline-block;
        padding: 0 5px 0 0;
    }
    /***Career */
    .CareerPanel {

        .CareerContext {
            padding: 3vw 0 3vw 0;
        }

        .LoginContext {
            padding: 3vw 0 0 0;
        }

        .careerSubTitle {
            font-size: 1.8vw;
            padding: 0 0 0.4vw 0;
        }

        .careerInnerTitle {
            font-size: 2.3vw;
            margin: 0 0 1.5vw 0;
        }

        .CareerInner {
            padding: 4vw 6vw 4vw 6vw;
        }

        .FacultyLoginPanel {
            width: 30vw;
            text-align: center;
            margin: 8vw auto auto;
        }

        &.BgForLoginPanel {
        }

        .careerFormPanel {
            margin: 0 0 4vw 0;

            .c_Tab {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    width: 19vw;
                    display: block;
                    color: #A3A3A3;
                    font-weight: 600;
                    font-size: 1.1vw;
                    padding: 0 0 1vw 0;
                    text-align: center;
                    cursor: default;
                    position: relative;
                    text-transform: uppercase;

                    &:first-child:before {
                        display: none;
                    }

                    &:before {
                        content: '';
                        background: #EBEBEB;
                        width: 100%;
                        height: 4px;
                        display: block;
                        position: absolute;
                        top: 18px;
                        z-index: -1;
                        left: -50%;
                    }

                    span {
                        padding: 0.5vw 0;
                    }

                    &.activepanel.activeborder:before {
                        background: $colorOrange;
                    }

                    &.activepanel {
                        color: $colorBlack;
                        border-bottom-color: $colorBlue;
                    }

                    &.activepanel .EnableImg {
                        display: inline-block;
                    }

                    &.activepanel .disableImg {
                        display: none !important;
                    }

                    img {
                        width: 40px;
                    }

                    .EnableImg {
                        display: none;
                    }
                }
            }
        }

        .ProcessPanel {
            width: 52vw;
            margin: 0 auto;
            padding: 4vw 0 5vw 0;

            .Pr_Panel_List {
                margin: 2vw 0 3vw 0;
            }

            .Pc_style a {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $colorBlue;
                border-radius: 100px;
                font-size: 1vw;
                height: 3vw;
                font-weight: 600;

                &.activepanel {
                    background: $colorBlue;
                    color: $colorWhite;
                }
            }

            .SubmitBtnBlue {
                background: $colorBlue;
                color: $colorWhite;
            }

            .th_SubFiels {
                font-size: 0.6vw;
                flex: 0 0 100%;
                max-width: 100%;
                align-items: center;
                justify-content: center;
                font-weight: 600;
            }

            .th_SubFiels > div {
                width: 20%;
                flex: 0 0 20%;
                max-width: 20%;
                position: relative;
            }
            /**Table*/
            .LoginTable {
                margin: 4vw 0 1vw 0;
                font-weight: 500;
                color: #404040;
                font-size: 1vw;
            }

            .LoginTable tbody tr td:last-child {
                text-align: center;
                color: #BEBEBE;
            }

            .LoginTable th:last-child {
                text-align: center;
                width: 55%;
            }

            .LoginTable th:first-child {
                width: 10%;
            }

            .forMarkText {
                width: 35px;
                height: 30px;
                border: 1px solid #F2F2F2;
                padding: 0 3px;
                text-align: center;
            }

            .LoginTable tbody tr td {
                border: none !important;
                padding: 1.2vw 0;
                vertical-align: middle;
            }

            .LoginTable th {
                padding: 1.2vw 0;
                vertical-align: middle;
                font-weight: 500;
            }

            .th_SubFiels.th_listFields {
                font-weight: initial;
                font-size: inherit;
            }
        }


        .FormStyle {
            background: #F5F5F5;
            border: 1px solid #CFCFCF;
            height: 3.3vw !important;
            padding: 0 1vw;
            width: 100%;
            border-radius: 6px;
            color: #000;
            font-weight: 500;
            font-size: 1.1vw;
            outline: 0;
        }

        select.FormStyle {
            outline: 0;
        }

        .FormStyle::-webkit-input-placeholder {
            color: $colorBlack !important;
        }

        .FormStyle::-moz-placeholder {
            color: $colorBlack !important;
        }

        .FormStyle:-ms-input-placeholder {
            color: $colorBlack !important;
        }

        .FormStyle:-moz-placeholder {
            color: $colorBlack !important;
        }

        p.labelContext {
            margin: 0;
            padding: 0 1.5vw;
        }

        .RadioStyle {
            -webkit-appearance: none;
            background: #DBDBDB;
            width: 1.1vw;
            height: 1.1vw;
            border-radius: 100%;
            margin: 0 0.5vw 0 0;
            vertical-align: middle;
            position: relative;
            outline: 0;
        }

        .RadioStyle:checked:before {
            content: '';
            background: $colorBlue;
            position: absolute;
            width: 9px;
            height: 9px;
            border-radius: 100%;
            left: 3px;
            top: 3px;
        }

        .LabelForInput {
            margin: 0;
            padding: 0 1.5vw;
            font-weight: 500;
        }

        .FormBtnStyle {
            font-size: 1.2vw;
            height: 3.3vw;
            background: $colorRed;
            color: #FFFFFF;
            width: 14vw;
            margin: 0 0 0 6px;
            padding: 0 0 !important;
            text-transform: uppercase;
            border: 1px solid transparent;
            @include transition(0.3s ease-in-out);
        }

        .SubmitBtn {
            width: 100%;
            margin: 0;
            border-radius: 6px;
            border: 1px solid transparent;
        }

        .SubmitBtn:hover, SubmitBtn:focus {
            background: transparent;
            color: $colorRed;
            border: 1px solid $colorRed;
        }

        .ForgotPwd a {
            font-weight: 500;
            font-size: 1vw;
        }

        .ForgotPwd {
            padding: 1vw 0 3vw 0;
        }

        .FormBtnStyle.backbtn {
            background: #959595;
        }

        .nextbtn:hover, .nextbtn:focus {
            border: 1px solid $colorRed;
            background: transparent;
            color: $colorRed;
        }

        .FormBtnStyle.backbtn:hover, .FormBtnStyle.backbtn:focus {
            color: #959595;
            background: transparent;
            border: 1px solid #959595;
        }

        .FormBtn {
            padding: 1vw 0;
        }

        .noPadding {
            padding: 0;
        }

        .formTitleText {
            margin: 0;
            font-size: 1.1vw;
        }

        .CoursesForm {
            padding: 2vw 0 0 0;
        }

        .plr25 {
            padding: 0 20px;
        }

        .mlr25 {
            margin: 0 -20px;
        }

        .spacingForLAbels {
            padding: 1vw 0;
        }

        label {
            margin-bottom: 0;
        }

        .Checkbox label {
            font-weight: 500;
        }



        .CheckFormStyle {
            -webkit-appearance: none;
            width: 1.3vw;
            height: 1.3vw;
            border: 1px solid #D1D1D1;
            border-radius: 100px;
            margin: 0 1vw 0 0;
            vertical-align: middle;
            position: relative;
            outline: 0;
        }

        .CheckFormStyle:checked:before {
            content: '';
            background: #D1D1D1;
            width: 100%;
            border-radius: 100px;
            height: 100%;
            position: absolute;
        }

        .Checkbox {
            padding: 1vw 0;
        }

        .fileLabel {
            font-weight: 500;
            font-size: 1vw;
            padding: 0.5vw 1vw;
            display: block;
        }

        .browseText {
            color: #00448B;
            margin: 0;
            padding: 1.2vw 0;
            font-size: 1.2vw;
            background: transparent;
            border: none;
            box-shadow: inherit;
            outline: 0;
            cursor: pointer;
            position: absolute;
            right: 100px;
            top: 0;
        }

        .custom-fileInput input[type="file"] {
            width: 100%;
            height: 100%;
            opacity: 0;
            filter: alpha(opacity=0);
            zoom: 1; /* Fix for IE7 */
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
        }

        .custom-input::-webkit-file-upload-button {
            visibility: hidden;
        }

        .custom-input {
            color: transparent;
            width: 100%;
            outline: 0;
        }

        .datepickicon {
            position: absolute;
            right: 2vw;
            top: 0.5vw;
        }


        .thankyou {
            padding: 4vw 6vw 4vw 6vw;
        }
    }
}

@import "_LoginResponsive";