﻿@import "_variable";
@import "_mixin";
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $colorBlack;
    padding-top: 85px;
    overflow:hidden;
    overflow-y: auto;
}
.ui-front {
    z-index: 99999 !important;
}

.modal-open {
    position: relative;
    z-index: 9999999999;
}
.modal-open .HeaderPanel {
    z-index: 9999;
}
.fontLight{font-weight:300;}
.fontRegular{font-weight:400;}
.fontMedium{font-weight:500;}
.fontBold{font-weight:700;}
.fontExBold{font-weight:800;}
.fontBlack{font-weight:900;}
h1, h2, h3, h4, h5, h6, p {margin:inherit;line-height:initial;font-size:inherit;}
a,a:hover{text-decoration:none;cursor:pointer;}
.br30{border-radius:30px;}
.btn.btn-primary{border:none;padding:0}
.slick-slider {margin-bottom:0px;}
.fullwidth{width:100%;}
.plr7 {padding: 0 7px;}
.mlr{margin:0 -7px}
.text-decoration{text-decoration:underline !important;} 
/*DefaultFontSizes*/
.titleh3{font-size: $fontsize45;}
.titleh4{font-size:$fontsize20;}
.paraSmall{font-size:$fontsize14;}
.paraLittle{font-size:$fontsize13;}
.titleMedium{font-size:$fontsize34;}
.para_three{font-size:$fontsize16;}
.para_Two{font-size:$fontsize18;}
.scrollTop {
    position: fixed;
    right: 3%;
    bottom: 15%;
    opacity: 0;
    z-index: 999;
}

.scrollTop a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    text-align: center;
    display: block;
    @include transition(0.3s ease);
    text-align: center;
}
.scrollTop a:after {
    content: '';
    background: url('../src/img/home/top.png') no-repeat;
    display: block;
    background-size: cover;
    font-weight: 600;
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
}
.animateTitle {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
span.field-validation-error {
    color: $colorRed;
    font-size: 13px;
    font-weight: 500;
}
.DownArrow {
    position: absolute;
    bottom: -10%;
    text-align: center;
    width: 100%;
    left: -6%;
    z-index: 9;
}
.slick-slide {
    &:focus, a {
        outline: 0 !important;
    }
}
.slick-slide, .slick-slide * {
    outline: 0 !important;
}
.Visit_list a {
    background: #FFFFFF;
    width: 21.5vw;
    height: 3vw;
    font-size: 1.05vw;
    color: #00448B;
    margin: 0 6px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Visit_list a:hover {
    background: #00448B;
    color: #FFFFFF;
}
.WatchPanel {
    position: absolute;
    bottom: 40px;
    right: 80px;
}
.ApplyNow a {
    font-size: 1.05vw;
    height: 3vw;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.ApplyNow a:hover {
    background: #FFFFFF;
    color: #EF3F3F;
}
.breadcrumb.breadcrumbCustom li.active  {
    color: $colorBlack;
    font-weight:500;
}
.breadcrumb.breadcrumbCustom li a {
    color: $colorBlack;
    font-weight:500;
}
.breadcrumb.breadcrumbCustom li:first-child a{
    font-weight:600;
}
.breadcrumb.breadcrumbCustom li {
    display: inline-block;
    font-size: $fontsize13;
}
.breadcrumbPanel {
    position: absolute;
    bottom: -10%;
    left: 48%;
    text-align: center;
    padding: 0;
    z-index: 99;
    height:2vw
}
.breadcrumb.breadcrumbCustom {
    margin: 0;
    background: inherit;
    width: auto;
    padding: 0;
    display: block;
}
.downArrowIcon {
    width: 2.4vw;
}
/**Helpline Chat*/
.helplineChatInner {
    position: fixed;
    top: 35%;
    right: 2%;
    border-radius: 100vw;
    padding: 0.5vw 0.2vw;
    z-index: 999;
}

.helplineChatInner a span {
    display: block;
    padding: 5px 0 0 0;
}

.helplineChatInner a img {
    width: 35px;
}

.helplineChatInner a {
    color: $colorBlack;
    display: block;
    margin: 10px 0;
    font-size: 0.95vw;
    text-align: center;
    font-weight: 600;
}
.Number {
    position: absolute;
    /*top: 20px;*/
    top: 90px;
    background: #00448B;
    border-radius: 30px;
    width: 12vw;
    right: -100vw;
    @include transition(0.5s linear);
    color: #fff;
}

.opennumber {
    right:4vw;
}

.Number a {
    color: #fff !important;
    margin: 6px 0 !important;
}
@media (min-width:992px) and (max-width:1199px) {
    body {
        padding-top: 60px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    /**Watch Panel*/
    .WatchPanel {
        right: 10px;
    }
    body {
        padding-top: 60px;
    }
    .helplineChatInner a {
        font-size: 1.2vw;
    }
}
@media (max-width:767px) {
    .helplineChatInner {
        /*display: none;*/
        display: flex;
        top: auto;
        bottom: 0;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        right: 0;
        padding-bottom: 0;

        a {
            font-size: 4vw;
            width: 33%;
            background: $colorBlue;
            margin: 0;
            color: $colorWhite !important;

           img {
                width: 30px;
            }

            span {
                font-size: 11px;
            }
        }
    }
    .breadcrumbPanel{
        height:auto;
    }
    .DisclaimerTExt{
        text-align:left !important;
        padding:10px 0 !important;
    }
    body {
        padding-top: 70px;
    }
    footer {
        padding-bottom: 50px;
    }
    }
/**Include Css*/
@import "header.scss";
@import "footer.scss";
@import "showcase.scss";

