﻿@import "_variable";
@import "_mixin";
/**mba admission*/
.custom-modal {
    .modal-dialog {
        margin: 7vw auto auto auto;
    }
}
.ParentPanel {
    .ShowOnMobile {
        display: none;
    }
    /**Details Accordion*/
    .DetailsBanner:before {
        content: '';
        background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        background-position: 0px -17vw;
    }


    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        top: 10px;
    }

    .DetailList {

        ul {
            list-style: none;

            li {
                margin-bottom: 1vw;
                font-weight: 500;
                position: relative;
                font-size: 1.2vw;

                &:before {
                    content: '';
                    background: $colorBlue;
                    width: 6px;
                    height: 6px;
                    display: block;
                    position: absolute;
                    top: 8px;
                    left: -18px;
                    border-radius: 100%;
                }

                span {
                    font-weight: 500 !important;
                }
            }
        }
    }

    .appList.ApplyNow a {
        background: $colorOrange;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .SocialList {
        margin: 0 -4px;
    }

    .applyNowForDetail {
        padding: 4vw 0 2.5vw 0;
    }

    .SocialList a {
        padding: 0 4px;
    }

    .appList p {
        padding: 0 20px 0;
        font-size: $fontsize14;
        color: $colorZam;
    }

    .SocialList a img {
        width: 2.2vw;
    }

    .CardHeaderPanel > a {
        display: block;
        position: relative;
        font-weight: 600;
        color: $colorBlack;
        padding: 16px 25px;
        border-bottom: 1px solid #FAFAFA;
    }

    .CardHeaderPanel > a:after {
        content: '>';
        font-family: MyCustomMonoFont, monospace;
        position: absolute;
        right: 25px;
        font-weight: 600;
        font-size: 1.6vw;
        color: #A1A1A1;
        top: 12px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .CardHeaderPanel > a[aria-expanded="true"]:after {
        content: '>';
        font-family: monospace;
        transform: rotate(270deg);
    }

    .AccordionStyle {
        margin: 40px 0 0 0;
        background: #fff;
        box-shadow: 0 5px 5px #ccc;
        position: relative;
        border: 1px solid #EDEDED;

        .table-cover {
            overflow-x: auto;
        }
    }

    .table-cover span {
        font-weight: 500 !important;
        font-size: 1vw;
    }

    .card-body.cardContext {
        padding: 20px 25px;
    }

    .AccordionStyle .card-header {
        background: inherit;
        border: none;
        padding: 0px;
    }

    .cardContext p {
        font-weight: 500;
        font-size: 1vw;
        line-height: 24px;
        padding: 5px 0;
    }

    .AccordionStyle .card {
        border: none;
        border-radius: 0px;
    }

    .DetailsBlk {
        padding: 2.5vw 0;
    }

    .DisclaimerTExt.DisclaimerTExtTop {
        padding: 3vw 0vw 0 3vw;
        text-align: left;
        width: 100%;
    }

    .WatchPanel {
        position: absolute;
        bottom: 40px;
        right: 80px;
    }

    .Visit_list.CourseFind a {
        color: $colorBlue;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 3vw;
        background: $colorBlue;
        color: $colorWhite !important;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .HomeBtnStyle span {
        white-space: normal;
        width: 80%;
        display: inline-block;
        padding: 0 5px 0 0;
    }

    .DisclaimerTExt {
        text-align: left;
        padding: 20px 0 20px 0;
        font-weight: 500;
        font-size: 12px;
    }
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg {
        float: right;
    }

    .BannerImg img {
        width: 70vw;
    }
    /*.bannerPadding {
        padding: 0 0 9vh 0;
    }*/
    .BannerStripContext {
        width: 40vw;
        position: absolute;
        bottom: -75px;
        background: #FFCA08;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 5px #ccc;
        padding: 3vw 0px 2.5vw 85px;
        font-size: 40px;
        line-height: normal;
        height: 25vw;
    }

    .BannerStripContext h1 {
        font-size: 2.9vw;
    }
    /**Stories**/
    .ParentStoryBg:before {
        background: #fff url(../src/img/home/pattern-bg.jpg) no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 77%;
        background-position: top;
    }

    .Studentstories {
        position: relative;
    }

    .StoryTitleStrip a {
        display: none !important;
    }

    .ParentStoryBg {
        background: #F7F7F7;
        margin: 2vw 0 0 0;
    }

    .guestPanelInn {
        position: relative;
        z-index: 1;
    }

    .StudentstoryBg {
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        background-position: bottom;
    }

    .guestContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .guestBg {
        background: #fff;
        padding: 2vw 3vw 2vw 2vw;
    }

    .GuestcontextInner {
        min-height: 4vw;
    }

    .guestContext p {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show:2);
    }

    .storiesPanStyle {
        padding: 35px 7px;
    }

    .GuestLecturePanel {
        padding: 5vh 0 7vw 0;
        background: $colorLightWhite;
    }

    .StoriesContext {
        background: $colorWhite;
        padding: 1vw 1.5vw 1vw 1.5vw;
        display: table-cell;
        position: relative;
        top: -60px;
        left: 6.3vw;
        width: 21vw;
        height: 16vw;
        box-shadow: 0 5px 5px #ccc;
    }

    .StoriesContext h3 {
        @include lineClamp($font-size: $fontsize16, $line-height: 1.3, $lines-to-show: 1);
        margin: 0 0 1vw 0;
    }

    .StoriesContext h2 {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show: 1);
    }

    .StoriesContext p {
        @include lineClamp($font-size: $fontsize14, $line-height: 1.3, $lines-to-show: 4);
        margin: 0 0 1vw 0;
        height: 6vw
    }

    .ParentStoriesPanel {
        position: relative;
    }

    .StoriesContext a {
        text-decoration: underline;
        font-size: $fontsize13;
        color: $colorBlue;
    }

    .WatchPanel a img {
        width: 2vw;
    }

    .StudentLivingPanel {
        position: relative;
    }

    .StudentLivingPanel .link_list.text-right.noPadding {
        right: 100px;
    }

    .storiesPanStyle img {
        width: 21vw;
    }

    .StoryTitleStrip {
        background: $colorOrange;
    }

    .StoryTitleStrip p {
        position: absolute;
        top: -2vw;
        font-size: $fontsize34;
        font-weight: 800;
    }

    .StoryTitleStrip {
        background: $colorOrange;
        width: 27.4vw;
        text-align: center;
        position: relative;
        height: 7.3vw;
    }

    .FacultyPanel {
        background: #F7F7F7;
    }

    .fac_Row {
        height: 16vw;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .StoryTitleStrip h2 {
        font-size: $fontsize70;
    }
    /***Campus***/
    .CampusBg {
        position: absolute;
        right: 5px;
        top: -60px;
    }

    .CampusPanel .link_list {
        position: absolute;
        top: 15%;
        right: 100px;
    }

    .CampusBg img {
        width: 40vw;
    }

    .GrayTitle {
        color: $colorTriplet;
        font-size: $fontsize100;
        position: relative;
        top: 0;
        margin: 0 0 20px 0;
    }

    .CampusInner {
        padding: 0px 0 55px 0;
    }

    .cmpinn p {
        width: 22vw;
        font-size: $fontsize14;
        padding: 17px 0 0 0;
    }
    /**Student Living**/
    .st_inn {
        background: $colorOrange;
        width: 49.2vw;
        height: 20vw;
    }

    .StudentLivingPanel {
        position: relative;
    }

    .link_list.text-right.noPadding {
        position: absolute;
        top: 50px;
        right: 0px;
        z-index: 99999;
    }

    .SLCarouselPanel {
        margin-top: -6vw;
        overflow: visible;
    }

    .st_inn h2 {
        font-size: $fontsize90;
        padding: 20px 0 30px 0;
    }

    .st_inn h3 {
        font-size: 1.05vw;
        padding: 0 0 5px 0;
    }

    .SLContextInner {
        background: $colorOrange;
        color: $colorBlack;
        padding: 2vw 2.5vw 2vw 2.5vw;
        height: 10.7vw;
        overflow: hidden;
        box-shadow: 0px 5px 5px 0px #ddd;
    }

    .SLContext p {
        @include lineClamp($font-size: $fontsize16, $line-height: 1.3, $lines-to-show: 4);
    }

    .link_list {
        text-align: right;
        padding: 1.5vw 0px 2vw 0;
    }

    .SLContext {
        padding: 0 6.5vw 0 0;
        margin: -4.5vw 0 0 0;
        position: relative;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }
    /**Events***/
    .Event_Inner h2 {
        padding: 2.3vw 0;
    }

    .EventPanel {
        overflow: hidden;
    }

    .eventContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .EventContStyle {
        background: $colorBlue;
        padding: 2vw 1vw 1vw 2vw;
        color: $colorWhite;
        height: 13vw;
        overflow: hidden;
    }

    .EventContStyle h4 {
        @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 1);
    }

    .EventPara {
        height: 6vw;
        overflow: hidden;
    }

    .EventContStyle a {
        color: $colorWhite !important;
    }

    .EventPara p {
        @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 4);
    }

    .IndContext {
        width: 33.8vw;
    }

    .industryStrip {
        background: $colorOrange;
        height: 7.3vw;
        margin: 0 0 30px 0;
    }

    .industryPanel {
        padding: 100px 0 0px 0;
        z-index: 999;
        position: relative;
    }

    .industryPanel .link_list {
        position: absolute;
        top: 10vw;
        right: 0;
    }

    .industryStrip h2 {
        font-size: $fontsize40;
        margin: 0 -1.5vw 0 0;
    }

    .IndContext h4 {
        padding: 0 0 0 6vw;
    }

    .Num_Title {
        font-size: $fontsize18;
        padding: 0 0 0 30px;
    }

    .Numb_list {
        font-size: $fontsize60;
        color: $colorBlue;
    }

    .industry_blockList {
        margin: 0 -30px;
        padding: 4vw 0px;
    }

    .ind_CompanyList {
        padding: 0 85px 12px 85px;
        margin: 0 -7px;
    }

    .Ind_inn {
        padding: 0 30px;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        left: 0;
        width: 2.6vw;
        height: 2.6vw;
        top: 35%;
        background-size: 100% 100% !important;
    }


    .StyleForSlickArrows .slick-prev {
        left: 35px;
        background: url(../src/img/svg/left-arrow.svg) no-repeat;
    }

    .ind_Logo {
        padding: 0 7px;
    }

    .StyleForSlickArrows .slick-next {
        right: 35px;
        left: auto;
        background: url(../src/img/svg/right-arrow.svg) no-repeat;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }

    .Event_Inner .link_list {
        position: absolute;
        right: 0;
        top: 6%;
    }
    /**fAculty*/
    .noPadding {
        padding: 0px;
    }

    .fac_InnerRow {
        margin: 0 -45px;
        padding: 0px;
    }

    .col-sm-4.fac_Inn {
        padding: 0 15px;
    }

    .FacultyStrip {
        background: $colorOrange;
        height: 7.2vw;
        justify-content: left !important;
    }

    .col-4.fac_List {
        padding: 0 10px 0 0;
    }

    .col-sm-8.fac_List {
        align-items: flex-start !important;
        padding: 4.5vw 0;
    }

    .FacultyStrip h2 {
        font-size: 3vw;
        padding: 0 0;
    }

    .HealthyPanel {
        background: $colorLightWhite;
        height: 30vw;
        margin: -16vw 0 0 0;
    }

    .StyleForSlickArrows.TwoBlockCarousel .slick-prev, .StyleForSlickArrows.TwoBlockCarousel .slick-next {
        top: auto;
        bottom: -40%;
    }

    .TwoBlockCarousel .slick-list {
        height: 13vw;
    }

    .StyleForSlickArrows.TwoBlockCarousel .slick-next {
        right: 48%;
    }

    .StyleForSlickArrows.TwoBlockCarousel .slick-prev {
        left: 45%;
    }

    .healthbg {
        background: $colorWhite;
        height: 10vw;
        position: relative;
        box-shadow: 0 5px 5px #ccc;
        padding: 0 30px;
    }

    .healthContext {
        padding: 0 0 0 35px;
    }

    .healthContext p {
        padding: 5px 0 0 0;
    }

    .healthImg img {
        width: 3.7vw;
    }

    .PosiitonHealthyPanel {
        position: relative;
        top: 100px;
        z-index: 9;
    }

    .StudentLogoBanner {
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-position: right;
        background-size: 48%;
    }

    .AchieveInner {
        padding: 14vw 0 3vw 0;
    }

    .AchieveTitle p {
        line-height: 10px;
    }

    .AchieveContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .AchieveTitleBlock p {
        position: relative;
        top: 14px;
    }

    .AchieveTitleBlock h2 {
        margin: 0 0 20px 0;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .AchieveContextInn {
        background: $colorOrange;
        padding: 1vw 3vw 1vw 2vw;
        height: 13vw
    }

    .AchieveContextPAra {
        overflow: hidden;
        height: 8vw;
    }

    .AchieveContextInn p {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show: 4);
    }

    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorBlue !important;
        margin: 10px 0 0 0;
        display: inline-block;
    }

    .StudentStoriesPanel {
        padding: 220px 0 40px 0;
        padding: 10vw 0 0 0;
        margin: -100px 0 0 0;
        overflow: hidden;
    }

    .LogoBanner {
        position: relative;
    }

    .LogoBanner:before {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-size: 62%;
        background-position: right;
        position: absolute;
        right: -9%;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 999;
    }
    /***Courses*/
    .clblk_Top {
        padding: 1vw 1.5vw 1vw 1vw;
        border-bottom: 1px solid #EEEEEE;
        min-height: 25vw;
        position: relative;
    }



    .courseIcon {
        width: 4.4vw;
    }

    .applyCourses .plr100 {
        padding: 0 0;
    }

    .CL_bg {
        background: $colorWhite;
        box-shadow: 0 0 5px 5px #ccc;
        min-height: 35vw;
    }

    .courseTitle {
        height: 5vw;
        overflow: hidden;
    }

    .courseTitle p {
        @include lineClamp($font-size: 1.05vw, $line-height: 1.3, $lines-to-show: 1);
    }

    .clblk_Top h2 {
        color: $colorBlue;
        @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show:2);
    }

    .coursesfor {
        color: #7C7C7C;
        height: 8.9vw;
        position: relative;
        overflow: hidden;
        padding: 0.5vw 0 0 0;
    }

    .coursesfor p {
        @include lineClamp($font-size: 0.9vw, $line-height: 1.3, $lines-to-show: 2);
    }

    .coursesfor a {
        position: static;
        margin: 0.5vw 0 0 0;
    }

    .linebeforeText {
        position: relative;
        padding: 0 0 0 8px;
    }

    .CoursesList {
        margin: 0 -7px;
    }

    .linebeforeText:before {
        content: '-';
        position: absolute;
        left: 0px;
    }

    .CL_Block {
        padding: 0 7px;
    }

    .CoursesList .slick-list.draggable {
        overflow: visible;
    }


    .forApplication span {
        display: block;
        color: #7C7C7C;
        font-weight: 500;
    }

    .forApplication .linebeforeText:before {
        display: none;
    }

    .forApplication .linebeforeText {
        padding: 0;
    }

    .TextOverlap {
        color: #FFFFFF;
        text-transform: uppercase;
        position: absolute;
        font-size: 10vw;
        top: -24%;
        left: -11%;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .forApplication {
        padding: 1vw 1vw 1vw 1vw;
        border-bottom: 1px solid #EEEEEE;
        min-height: 6vw;
        overflow: hidden;
    }

    .forApplication span {
        display: block;
        color: #7C7C7C;
        font-weight: 500;
        @include lineClamp($font-size: 0.9vw, $line-height: 1.3, $lines-to-show:1);
    }

    .forApplication p {
        margin: 0 0 5px 0;
        @include lineClamp($font-size: 1.05vw, $line-height: 1.3, $lines-to-show:1);
    }

    .CheckBlk {
        padding: 1.5vw 30px;
    }

    .checkBtnStyle {
        border: 1px solid $colorBlue;
        color: $colorBlue !important;
        height: 2.5vw;
    }

    .clrBorder1 {
        border-bottom: 3px solid $colorOrange;
    }

    .clrBorder2 {
        border-bottom: 3px solid $colorRed;
    }

    .clrBorder3 {
        border-bottom: 3px solid $colorBlue;
    }

    .clrBorder4 {
        border-bottom: 3px solid $colorOrange;
    }

    .clrBorder5 {
        border-bottom: 3px solid $colorRed;
    }

    .clrBorder6 {
        border-bottom: 3px solid $colorBlue;
    }


    .clrBorderBlue {
        border-bottom: 3px solid $colorBlue;
    }

    .clrBorderYellow {
        border-bottom: 3px solid $colorOrange;
    }

    .CoursesPanel {
        margin: 50px 0 0 0;
        z-index: 99;
    }

    .clrBorderRed {
        border-bottom: 3px solid $colorRed;
    }

    .course_iconStyle {
        max-height: 6vw;
        overflow: hidden;
        min-height: 6vw;
    }

    .applyCourses {
        background: $colorWhite;
        padding: 5vw 0 3vw 0;
        text-align: right;
        margin: -3vw 0 0 0;
        position: relative;
        z-index: 9;
    }

    .Visit_list.CourseFind a {
        background: $colorWhite;
    }

    .Visit_list.CourseFind a:hover {
        background: $colorBlue;
        color: $colorWhite;
    }

    .ApplyNow.CourseFind a {
        background: $colorBlue;
    }

    .ApplyNow.CourseFind a:hover {
        color: $colorBlue;
        background: $colorWhite;
        border-color: $colorBlue;
    }

    .crseTitle {
        padding: 0px 0 25px 0;
    }

    .StyleForSlickArrowsBottom .slick-prev, .StyleForSlickArrowsBottom .slick-next {
        left: 50px;
        top: auto;
        bottom: 30px;
    }

    .StyleForSlickArrowsBottom .slick-prev {
        left: 0px;
    }

    .StyleForSlickArrowsTop .slick-prev, .StyleForSlickArrowsTop .slick-next {
        right: 7px;
        top: -11%;
    }

    .StyleForSlickArrowsTop .slick-prev {
        right: 7%;
        left: auto;
    }

    .BtnBlue {
        border: 1px solid $colorBlue;
        color: $colorBlue;
    }

    .BtnRed {
        background: $colorRed;
        border: 1px solid transparent;
        color: $colorWhite;
    }

    .BtnRed:hover {
        border: 1px solid $colorRed;
        color: $colorRed;
    }

    .HomeCoursePanel {
        padding: 50px 0 0 0;
        overflow: hidden;
    }

    .HomeCourseBg {
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        background-position: bottom;
    }

    .HomeCourseBg:after {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        position: absolute;
        background-position: center center;
        width: 100%;
        height: 100%;
        top: -20%;
        background-size: 45%;
        left: 10%;
        z-index: 0;
    }

    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorBlue !important;
        margin: 10px 0 0 0;
        display: inline-block;
    }
}
/*Media Querry*/
@import "_mba-admission-responsive.scss";
