﻿@import "_variable";
@import "_mixin";
h1,h2,h3,h4,h5,h6{
    font-weight:inherit;
}
.UpesStudent {
    a.color-blue {
        color: $colorBlue;
        text-decoration: underline;
        font-weight: 600;
    }

    .pl7-5 {
        padding-left: 7.5px;
    }

    .pr7-5 {
        padding-right: 7.5px
    }
    /**Banner*/
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg {
        float: right;

        img {
            width: 70vw;
        }
    }

    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorBlue !important;
        margin: 10px 0 0 0;
        display: inline-block;
    }

    .BannerStripContext {
        width: 41.5vw;
        position: absolute;
        bottom: -75px;
        background: $colorOrange;
        display: flex;
        justify-content: center;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 26vw;
        background-size: cover;
        z-index: 9;
        left: 10px;
    }

    .BannerStripContext {
        .fontExBold {
            font-size: 6vw;
            position: absolute;
            width: 55vw;
            left: 80px;
            line-height: 1.1em;
            top: -4.5vw;
        }

        .StripContent {
            font-size: 2.2vw;
            padding-top: 12%;
            padding-right: 40px;
            overflow: hidden;
            font-weight: 600;
        }
    }

    .DownArrow {
        left: -5%;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 6vh;
        background: $colorRed;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .HomeBtnStyle {
        picture {
            width: 25%;
            text-align: right;
        }
    }

    .HomeBtnStyle {
        span {
            white-space: normal;
            width: 80%;
            display: inline-block;
            padding: 0 5px 0 0;
        }
    }

    .BannerContextList {
        @include ulnone;
        top: 25%;
        left: 7vw;
        padding: 0 50px 0 0;
        position: absolute;
    }

    .BannerContextList {
        li {
            font-size: 1.2vw;
            font-weight: 500;
            padding: 0 0 4vh 0;
            position: relative;
        }
    }

    .BannerContextList {
        li {
            &:before {
                content: '';
                background: #333;
                width: 3px;
                height: 3px;
                display: block;
                position: absolute;
                left: -8px;
                border-radius: 100%;
                top: 12px;
            }
        }
    }

    .sodText {
        font-size: 1.6vw;
        position: absolute;
        top: -22%;
        left: 6vw;
    }
    // wrapper-75
    .wrapper-75 {
        width: 75vw;
        margin: auto;
    }

    .section-1 {
        background: url(../src/img/upes-students/BG-1.png) no-repeat;
        padding-bottom: 200px;
        background-size: contain;
        background-position: 98%;
    }
    // highlights
    .highlights {
        ul {
            width: 53vw;
            margin-left: auto;
            padding-right: 30px;
            list-style-type: none;
            padding-left: 0;
            padding-top: 2.5vw;
            font-weight: bold;

            li {
                font-size: 1.15vw;
                padding: .5vw 0px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    border: 1px solid #000;
                    padding: 0 .1vw;
                    top: 1.3vw;
                    left: -.7vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .login-wrapper {
        .accord-wrapper {
            margin-top: -4.5vw;
        }
    }

    .accord-wrapper {
        /**Details Accordion*/
        .DetailsBanner:before {
            content: '';
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            top: 0;
            background-position: 0px -35vh;
        }

        .AchieveTitleBlock .link_list {
            position: absolute;
            right: 0;
            top: 10px;
        }

        .appList.ApplyNow a {
            background: $colorOrange;
        }

        .applyNowForDetail {
            padding: 8vh 0 5vh 0;
        }

        .appList p {
            padding: 0 10px 0;
            font-size: $fontsize14;
            color: $colorZam;
        }

        .colorLightWhite {
            .CardHeaderPanel {
                a {
                    background: $colorLightWhite;
                    border-bottom: 2px solid #fff;
                    padding-right: 30px;
                }
            }
        }

        .CardHeaderPanel > a {
            display: block;
            position: relative;
            font-weight: 600;
            color: $colorBlack;
            font-size: 1.25vw;
            padding: 16px 25px;
            padding: 1.1713vw 1.8302vw;
            padding-right: 30px;
            border-bottom: 2px solid #FAFAFA;
        }

        .CardHeaderPanel > a:after {
            content: '>';
            font-family: monospace;
            position: absolute;
            right: 25px;
            font-weight: 600;
            font-size: 1.6vw;
            color: #A1A1A1;
            top: 12px;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .CardHeaderPanel > a[aria-expanded="true"]:after {
            content: '>';
            font-family: monospace;
            transform: rotate(270deg);
        }

        .AccordionStyle {
            margin: 30px 0 0 0;
            background: #fff;
            box-shadow: 0 5px 5px #ccc;
            position: relative;
            border: 1px solid #EDEDED;
        }

        .card-body.cardContext {
            padding: 20px 25px;
        }

        .AccordionStyle .card-header {
            background: inherit;
            border: none;
            padding: 0px;
        }

        .cardContext p {
            font-weight: 500;
            font-size: 1vw;
            line-height: 1.5vw;
        }

        .AccordionStyle .card {
            border: none;
            border-radius: 0px;
        }
    }

    .upcoming-events {
        margin-top: -100px;
        min-height: 30vw;

        .Orange-Strip {
            margin-top: 6vw;
            margin: 0 0 30px 0;

            .titleh3 {
                margin: 0 -3.2vw 0 4.5vw;
            }
        }

        .blocks {
            padding: 60px 0px;

            .block-wrapper {
                min-height: 10vw;
                font-weight: bold;

                .block1,
                .block2 {
                    height: 100%;
                    background-color: $colorLightWhite;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .block1 {
                    .b-left {
                        min-height: 4vw;

                        .details {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .title {
                                font-size: 1.9vw;

                                p {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .date {
                                font-size: 1.25vw;
                            }
                        }
                    }

                    .b-right {
                        min-height: 4vw;
                        display: flex;
                        align-items: flex-end;

                        .link-reg {
                            margin-bottom: -5px;

                            a {
                                font-size: 1.25vw;
                                line-height: 0;
                            }
                        }
                    }
                }

                .block2 {
                    .b-left {
                        min-height: 4vw;

                        .details {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .title {
                                font-size: 1.9vw;

                                p {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .date {
                                font-size: 1.25vw;
                            }
                        }
                    }

                    .b-right {
                        min-height: 4vw;
                        display: flex;
                        align-items: flex-end;

                        .link-reg {
                            margin-bottom: -5px;

                            a {
                                font-size: 1.25vw;
                                line-height: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .plr100vw {
        padding: 0 5.21vw;
    }
    /**Orange-Strip*/
    .Orange-Strip {
        background: $colorOrange;
        height: 9vw;
        width: 38vw;

        .title {
            // margin: 0;
            // position: absolute;
            // left: 11.5vw;
            margin: 0 -1vw 0 4.5vw;
            font-weight: 600;
        }
    }

    .yellow-bg {
        background-color: $colorOrange;
    }

    .section-4 {
        background-color: $colorLightWhite;
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;

        .health-medical {
            .titleh3 {
                font-weight: 600;
                font-size: 3.1vw;
            }
        }

        .link-toggle {
            float: right;
            font-size: 1vw;
        }

        .accordion-title {
            padding-top: 60px;
            padding-bottom: 30px;

            .link-toggle {
                margin-top: -30px;
                font-size: 1vw;
            }
        }

        .inter-intern {
            margin-top: 150px;
            padding-bottom: 150px;
            overflow: hidden;

            .yellow-bg {
                height: 22.032vw; //padding-bottom: 140px;
                .titleh3 {
                    padding-top: 50px;
                }
            }

            .students-slide {
                margin-top: -6.4vw;

                .slick-list {
                    overflow: visible;
                    margin: -7px;
                }

                .student {
                    // padding: .78125vw; //min-height: 15vw;
                    padding: 0px 7px; //min-height: 15vw;
                    .profile-wrapper {
                        background-color: #fff;

                        .photo {
                            margin-top: -6vw;
                            width: 50%;

                            img {
                                width: 100%;
                            }
                        }

                        .profile {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 0 .78125vw;

                            h2 {
                                font-size: 24px;
                                padding-top: 1vw;
                                font-size: 1.25vw; // font-weight: 600;
                                height: 4vw;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }

                            h3 {
                                font-size: 20px;
                                font-size: 1.05vw;
                                padding-bottom: 1vw;
                                height: 4vw;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }

                    .details {
                        background-color: #fff;
                        box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.11);
                        padding: 15px;
                        padding-bottom: 30px;
                        padding-top: 0;

                        p {
                            line-height: 1.8;
                            font-size: 20px;
                            font-size: 1.05vw;
                            padding-top: 0;
                            font-weight: 500;
                        }

                        .says p {
                            height: 7.5vw;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }

            .slick-prev, .slick-next {
                top: 110%;
                height: 25px;
                width: 25px;
                padding: 1vw;
            }

            .slick-prev {
                left: 42%;
            }

            .slick-next {
                left: 52%;
            }
        }
    }

    .section-5 {
        background: url(../src/img/upes-students/bg-2.png) no-repeat;
        // margin-top: -50px;
        background-size: 40%;
        background-position: 3% 90%;

        .student-affairs {
            .header-top {
                .link-toggle {
                    margin-top: -30px;
                    font-size: 1vw;
                    margin-right: 8vw;
                    float: right;
                }
            }
        }

        .accord-wrapper {
            padding-top: 40px;
        }

        .contact-wrapper {
            h2 {
                font-size: 150px;
                font-size: 7.8vw;
                font-weight: 900;
                color: $colorDarkGray;
                margin: 60px 0px;
            }

            .header {
                font-weight: 600;
                margin-bottom: 30px;
                font-size: 1.25vw;
            }

            .details {
                p {
                    margin: 10px 0px;
                    font-size: 1.25vw;
                    font-weight: 600;

                    a {
                        color: $colorBlack;
                    }
                }

                a {
                    color: $colorBlack;
                }
            }

            padding-bottom: 30px;
        }
    }

    .section-6 {
        background-color: $colorLightWhite;
        padding-bottom: 60px;
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;

        .downloadable-content {
            .accordion-title {
                padding: 30px 0px;
                padding-top: 60px;

                h3 {
                    font-weight: 600;
                }
            }
        }
    }

    .downloable-accord {
        .CardHeaderPanel {
            a {
                &:after {
                    content: '' !important;
                    background-image: url('../src/img/upes-students/download.png') !important;
                    background-repeat: no-repeat !important;
                    transform: inherit !important;
                    padding: 1vw !important;
                    background-position: center;
                }
            }
        }
    }
    /**StudentAchievment*/
    .StudentLogoBanner {
        padding-top: 60px;

        .CarouselforSlick.EventCarousel {
            overflow: hidden;
        }

        .AchieveContextInn {
            a {
                position: absolute;
                bottom: 1vw;
            }
        }
    }

    .WhiteBg {
        background: url(../src/img/home/white-bg-pattern.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .EventPanelStyle img {
        width: 100%;
    }

    .EventBg {
        margin: -85px 0 0 0;
    }

    .studenAchieveBanner:before {
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-position: left;
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: -22%;
        background-size: 100%;
        z-index: 0;
    }

    .SectionLogoBanner:before {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-size: 50%;
        position: absolute;
        top: 70px;
        left: 50px;
        width: 100%;
        height: 100%;
    }

    .AchieveInner {
        padding: 30vh 0 3vh 0;
    }

    .AchieveTitle p {
        line-height: 10px;
    }

    .AchieveContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .AchieveTitleBlock p {
        position: relative;
        top: 1vw;
    }

    .AchieveTitleBlock h2 {
        margin: 0 0 20px 0;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .AchieveContextInn {
        background: $colorOrange;
        padding: 1vw 3vw 1vw 2vw;
        height: 13vw
    }

    .AchieveContextPAra {
        overflow: hidden;
        height: 8vw;
    }

    .AchieveContextInn p {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show: 4);
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .noPadding {
        padding: 0px;
    }
}


// responsive
@import "_mediaResponsive";
@import "_commonResponsiveMobile";
