@import "_variable";
@import "_mixin";
.UpesStudent {
    a.color-blue {
        color: $colorBlue;
        text-decoration: underline;
        font-weight: 600;
    }
    .pl7-5 {
        padding-left: 7.5px;
    }
    .pr7-5 {
        padding-right: 7.5px
    }
    /**Banner*/
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }
    .BannerImg {
        float: right;
        img {
            width: 70vw;
        }
    }
    .BannerStripContext {
        width: 41.5vw;
        position: absolute;
        bottom: -75px;
        background: $colorOrange;
        display: flex;
        justify-content: center;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 26vmax;
        background-size: cover;
        z-index: 9;
        left: 10px;
        box-shadow: 0 5px 5px #CDCDCD;
    }
    .BannerStripContext {
        .fontExBold {
            font-size: 6vw;
            position: absolute;
            width: 55vw;
            left: 6vmax;
            line-height: 12vh;
            top: -4.5vw;
        }
        .StripContent {
            font-size: 1.5vw;
            padding-top: 12%;
            padding-right: 40px;
        }
    }
    .DownArrow {
        left: -5%;
    }
    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 6vh;
        background: $colorRed;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .HomeBtnStyle {
        picture {
            width: 25%;
            text-align: right;
        }
    }
    .HomeBtnStyle {
        span {
            white-space: normal;
            width: 80%;
            display: inline-block;
            padding: 0 5px 0 0;
        }
    }
    .BannerContextList {
        @include ulnone;
        top: 25%;
        left: 7vw;
        padding: 0 50px 0 0;
        position: absolute;
    }
    .BannerContextList {
        li {
            font-size: 1.2vw;
            font-weight: 500;
            padding: 0 0 4vh 0;
            position: relative;
        }
    }
    .BannerContextList {
        li {
            &:before {
                content: '';
                background: #333;
                width: 3px;
                height: 3px;
                display: block;
                position: absolute;
                left: -8px;
                border-radius: 100%;
                top: 12px;
            }
        }
    }
    .sodText {
        font-size: 1.6vw;
        position: absolute;
        top: -22%;
        left: 6vw;
    } // wrapper-75
    .wrapper-75 {
        width: 75vw;
        margin: auto;
    }
    .accord-wrapper {
        /**Details Accordion*/
        .DetailsBanner:before {
            content: '';
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            top: 0;
            background-position: 0px -35vh;
        }
        .AchieveTitleBlock .link_list {
            position: absolute;
            right: 0;
            top: 10px;
        }
        .appList.ApplyNow a {
            background: $colorOrange;
        }
        .applyNowForDetail {
            padding: 8vh 0 5vh 0;
        }
        .appList p {
            padding: 0 10px 0;
            font-size: $fontsize14;
            color: $colorZam;
        }
        .colorLightWhite {
            .CardHeaderPanel {
                a {
                    background: $colorLightWhite;
                    border-bottom: 2px solid #fff;
                }
            }
        }
        .CardHeaderPanel>a {
            display: block;
            position: relative;
            font-weight: 600;
            color: $colorBlack;
            font-size: 1.25vw;
            padding: 16px 25px;
            padding: 1.1713vw 1.8302vw;
            border-bottom: 2px solid #FAFAFA;
        }
        .CardHeaderPanel>a:after {
            content: '>';
            font-family: monospace;
            position: absolute;
            right: 25px;
            font-weight: 600;
            font-size: 1.6vw;
            color: #A1A1A1;
            top: 12px;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
        .CardHeaderPanel>a[aria-expanded="true"]:after {
            content: '>';
            font-family: monospace;
            transform: rotate(270deg);
        }
        .AccordionStyle {
            margin: 30px 0 0 0;
            background: #fff;
            box-shadow: 0 5px 5px #ccc;
            position: relative;
            border: 1px solid #EDEDED;
        }
        .card-body.cardContext {
            padding: 20px 25px;
        }
        .AccordionStyle .card-header {
            background: inherit;
            border: none;
            padding: 0px;
        }
        .cardContext p {
            font-weight: 500;
            font-size: 1vw;
            line-height: 24px;
        }
        .AccordionStyle .card {
            border: none;
            border-radius: 0px;
        }
    }
     // achivements
    .StudentLogoBanner {
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-position: right;
        background-size: 48%;
    }
    .AchieveInner {
        padding: 30vh 0 3vh 0;
    }
    .AchieveTitle p {
        line-height: 10px;
    }
    .AchieveContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }
    .AchieveTitleBlock p {
        position: relative;
        top: 10px;
    }
    .AchieveTitleBlock h3 {
        margin: 0 0 20px 0;
    }
    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }
    .AchieveContextInn {
        background: $colorOrange;
        padding: 1.7vh 3vw 1.7vh 2vw;
    }
    .AchieveContextInn p {
        font-size: $fontsize20;
    }
    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorBlue !important;
        margin: 10px 0 0 0;
        display: inline-block;
    } // #achivements
   
  
    .section-5 {
        // background: url(../src/img/upes-students/bg-2.png) no-repeat;
        // margin-top: -50px;
        // background-size: 40%;
        // background-position: 3% 90%;
        background-color: $colorLightWhite;
        padding-bottom: 60px;
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;
       .accordion-title{
           padding-top: 60px;
       }
        .contact-wrapper {
            h3 {
                font-size: 150px;
                font-size: 7.8vw;
                font-weight: 900;
                color: $colorDarkGray;
                margin: 60px 0px;
            }
            .header {
                font-weight: 600;
                margin-bottom: 30px;
                font-size: 1.25vw;
            }
            .details {
                p {
                    margin: 10px 0px;
                    font-size: 1.25vw;
                    font-weight: 600;
                }
            }
            padding-bottom: 30px;
        }
    }
    .downloable-accord {
        .CardHeaderPanel {
            a {
                &:after {
                    content: '' !important;
                    background-image: url('../src/img/upes-students/download.png') !important;
                    background-repeat: no-repeat !important;
                    transform: inherit !important;
                    padding: 1vw !important;
                    background-position: center;
                }
            }
        }
    }
    .AchieveTitleBlock {
        h3 {
            color: #EEEEEE;
            font-size: 7.2vw;
            position: relative;
            top: -1vh;
            margin: 0 0 20px 0;
        }
    }
}

@import '_ParentResponsive';