﻿@import "_variable";
@import "_mixin";
.ProgramDetailPanel {
    .ShowOnMobile {
        display: none;
    }
    /**Epm 2082019 Enquiry Form*/
    .EnquiryPanel {
        padding: 60px 0 60px;
        border-bottom: 1px solid #f1f1f1;

        .campusEnqBg {
        }

        .EnqInner {
            text-align: center;
            width: 65vw;
            margin: 0 auto;

            h2 {
                color: #A3A3A3;
                font-size: 3vw;
                margin: 0 0 20px 0;
                position: relative;
            }

            .enq_form {
                margin: 10px 0;

                .enqFormstyle {
                    width: 100%;
                    height: 50px;
                    background: #F5F5F5;
                    border: 1px solid #DADADA;
                    border-radius: 3px;
                    color: #9B9B9B !important;
                    padding: 0 20px;
                    font-weight: 500;
                    outline: none;
                    font-size: 14px;

                    &::-webkit-input-placeholder {
                        color: #9B9B9B !important;
                    }

                    &::-moz-placeholder {
                        color: #9B9B9B !important;
                    }

                    &:-ms-input-placeholder {
                        color: #9B9B9B !important;
                    }

                    &:-moz-placeholder {
                        color: #9B9B9B !important;
                    }
                }
            }

            .accept_checkbox {
                margin: 25px 0 30px 0;

                label {
                    margin: 0;
                    vertical-align: text-bottom;
                    font-size: 14px;
                    color: #6E6E6E;
                    font-weight: 500;
                }

                .checkbxStyle {
                    -webkit-appearance: none;
                    border: 1px solid #A6A6A6;
                    width: 15px;
                    height: 15px;
                    background: #F0F0F0;
                    outline: none;
                    position: relative;
                    top: 2px;
                    margin: 0 5px 0 0;
                    position: relative;

                    &:checked:after {
                        content: '';
                        background: #fff;
                        width: 10px;
                        height: 10px;
                        border-radius: 30px;
                        display: block;
                        margin: 1px auto;
                        padding: 2px 0;
                    }
                }
            }

            .formSubmit {
                text-align: center;
                display: inline-block;
            }
        }
    }
    /**Epm 2082019 Enquiry Form ends*/
    .StyleForSlickArrows .slick-next {
        right: 30px;
        left: auto;
        background: url(../src/img/home/right-arrow.png) no-repeat;
    }

    .table-cover ol {
        margin: 20px 0;
    }

    .table-cover ol li span {
        font-weight: 500 !important;
    }

    .table-cover ol li {
        font-weight: 500;
        font-size: 1vw;
        line-height: 24px;
    }

    .cardContext p span {
        font-weight: 500 !important;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        width: 2.6vw;
        height: 2.6vw;
        top: 35%;
        background-size: cover !important;
        z-index: 1;
    }

    .StyleForSlickArrows .slick-prev {
        left: 30px;
        background: url(../src/img/home/left-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }

    .noPadding {
        padding: 0px;
    }
    /**Table*/
    .AccordionStyle table td p {
        font-size: 1.1vw !important;
        font-weight: 600 !important;
        padding: 0 0 10px 0 !important;
    }

    .AccordionStyle table th {
        padding: 10px 10px;
        font-size: 1.2vw;
    }

    .AccordionStyle table td p span {
        font-weight: 500 !important;
    }

    .AccordionStyle table tr {
        border: none;
    }

    .AccordionStyle ul li {
        font-weight: 500;
        font-size: 1.1vw;
    }

    .AccordionStyle table td {
        padding: 10px 10px;
        border: none;
    }

    .AccordionStyle table tr:nth-child(odd) {
        background: #f2f2f2;

        th, td {
            border-right: 1px solid #fff;
        }
    }

    .AccordionStyle table {
        border: none;
        font-weight: 500;
        font-size: 1vw;
        width: 100%;
    }
    /***Details***/
    .CampusPanelNewStyle {
        margin: 60px 0 0 0;
    }

    .CampusBg {
        position: absolute;
        right: 5px;
        top: -60px;

        &.campusBgNewStyle {
            top: 0;
        }
    }

    .DetailList ul {
        padding: 0 0 0 2vw;
    }

    .CampusBg img {
        width: 40vw;
    }

    .GrayTitle {
        color: $colorTriplet;
        font-size: $fontsize100;
        position: relative;
        top: -2vh;
        margin: 0 0 20px 0;
    }

    .row.CoursesGraduatePanel {
        margin: 0 -60px;
        padding: 0 0 10px 0;
    }

    .GraduateInner {
        padding: 0 60px;
    }

    .GraduateList {
        margin: 0;
        padding: 50px 0 0 0;
    }

    .GraduateList li p {
        width: 90%;
        position: relative;
    }

    .GraduateList li a {
        font-weight: 600;
        color: $colorBlue;
        text-decoration: underline;
        text-decoration-color: #C3D7D8;
        -webkit-text-decoration-color: #C3D7D8;
        text-decoration-color: #C3D7D8;
    }

    .GraduateList li p span {
        padding: 0 15px 0 10px;
    }

    .GraduateList li span img {
        width: 2.3vw;
    }

    .GraduateList li p:before {
        content: '';
        background: #9A999D;
        width: 3px;
        height: 3px;
        display: block;
        position: absolute;
        left: 10%;
        border-radius: 100%;
        top: 10px;
    }

    .GraduateList li {
        display: flex;
        position: relative;
        font-weight: 500;
        font-size: $fontsize13;
        height: 6vh;
        border-bottom: 1px solid #EFEFEF;
        align-items: center;
    }

    .GraduateInner .PadSpacing {
        padding: 3vh 0px 4.5vh 3.6vw;
    }
    /**Banner*/
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg img {
        width: 70vw;
    }

    .BannerImg {
        float: right;
    }

    .BannerStripContext {
        width: 41.5vw;
        position: absolute;
        bottom: -75px;
        background: $colorOrange;
        display: flex;
        justify-content: center;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 25vw;
        background-size: cover;
        z-index: 9;
        left: 10px;
    }

    .BannerStripContext h1 {
        font-size: 5vw;
        position: absolute;
        width: 75vw;
        left: 6.2vw;
        line-height: 5vw;
        top: -40px;
    }

    .DownArrow {
        left: -5%;
    }

    .WatchPanel {
        position: absolute;
        bottom: 40px;
        right: 80px;
    }

    .WatchPanel a img {
        width: 25px;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 3vw;
        background: $colorBlue;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .HomeBtnStyle picture {
        width: 25%;
        text-align: right;
    }

    .HomeBtnStyle span {
        white-space: normal;
        width: 80%;
        display: inline-block;
        padding: 0 5px 0 0;
        color: $colorLightWhite;
    }

    .BannerContextList {
        @include ulnone;
        bottom: 25%;
        left: 6.5vw;
        padding: 0 20px 0 0;
        position: absolute;
    }

    .BannerContextList li {
        font-size: 1.6vw;
        font-weight: 500;
        padding: 0 0 2vw 0;
        position: relative;
    }

    .sodText {
        font-size: 1.6vw;
        position: absolute;
        top: -22%;
        left: 6vw;
    }

    .durationImg {
        width: 3vw;
    }

    .detailCourseList p {
        padding: 0 30px 0 20px;
    }

    .durationImg {
        width: 3vw;
    }

    .detailCourseList {
        padding: 0 0 30px 0;
    }

    .det_Context li {
        padding: 0 0 30px 0;
        position: relative;
    }

    .DurationText {
        font-size: 1.8vw;
    }

    .DurationText span {
        font-size: 1.3vw;
    }

    .det_Context {
        @include ulnone;
        padding: 0 0 0 2vw !important;
    }

    .DetailInner {
        padding: 0 0 70px 0;
    }

    .det_Context li:before {
        content: '';
        background: #00448B;
        width: 8px;
        height: 8px;
        display: block;
        border-radius: 100%;
        position: absolute;
        left: -20px;
        top: 6px;
    }
    /**Details Accordion*/
    .DetailsBanner:before {
        content: '';
        background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        background-position: 0px -17vw;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        top: 10px;
    }

    .DetailList {

        ul {
            list-style: none;

            li {
                margin-bottom: 1vw;
                font-weight: 500;
                position: relative;
                font-size: 1.2vw;

                &:before {
                    content: '';
                    background: $colorBlue;
                    width: 6px;
                    height: 6px;
                    display: block;
                    position: absolute;
                    top: 8px;
                    left: -18px;
                    border-radius: 100%;
                }

                span {
                    font-weight: 500 !important;
                }
            }
        }
    }

    .appList.ApplyNow a {
        background: $colorOrange;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .SocialList {
        margin: 0 -4px;
    }

    .applyNowForDetail {
        padding: 4vw 0 2.5vw 0;
    }

    .SocialList a {
        padding: 0 4px;
    }

    .appList p {
        padding: 0 20px 0;
        font-size: $fontsize14;
        color: $colorZam;
    }

    .SocialList a img {
        width: 2.2vw;
    }

    .CardHeaderPanel > a {
        display: block;
        position: relative;
        font-weight: 600;
        color: $colorBlack;
        padding: 16px 25px;
        border-bottom: 1px solid #FAFAFA;
    }

    .CardHeaderPanel > a:after {
        content: '>';
        font-family: MyCustomMonoFont, monospace;
        position: absolute;
        right: 25px;
        font-weight: 600;
        font-size: 1.6vw;
        color: #A1A1A1;
        top: 12px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .CardHeaderPanel > a[aria-expanded="true"]:after {
        content: '>';
        font-family: monospace;
        transform: rotate(270deg);
    }

    .AccordionStyle {
        margin: 40px 0 0 0;
        background: #fff;
        box-shadow: 0 5px 5px #ccc;
        position: relative;
        border: 1px solid #EDEDED;

        .table-cover {
            overflow-x: auto;
        }
    }

    .table-cover span {
        font-weight: 500 !important;
        font-size: 1vw;
    }

    .card-body.cardContext {
        padding: 20px 25px;
    }

    .AccordionStyle .card-header {
        background: inherit;
        border: none;
        padding: 0px;
    }

    .cardContext p {
        font-weight: 500;
        font-size: 1vw;
        line-height: 24px;
        padding: 5px 0;
    }

    .AccordionStyle .card {
        border: none;
        border-radius: 0px;
    }

    .DetailsBlk {
        padding: 2.5vw 8vw;
    }
}
/*Media Querry*/
@import "_ProgramDetailResponsive";