﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.ProgramDetailPanel {
  /***Details***/
  /**Banner*/
  /**Banner Section*/
  /**Details Accordion*/ }
  .ProgramDetailPanel .ShowOnMobile {
    display: none; }
  .ProgramDetailPanel .StyleForSlickArrows .slick-next {
    right: 30px;
    left: auto;
    background: url(../src/img/home/right-arrow.png) no-repeat; }
  .ProgramDetailPanel .Yellowstripbgfull:before {
    content: '';
    background: #FFCA08;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0; }
  .ProgramDetailPanel .StyleForSlickArrows .slick-prev, .ProgramDetailPanel .StyleForSlickArrows .slick-next {
    width: 2.6vw;
    height: 5.4vh;
    top: 35%;
    background-size: cover !important;
    z-index: 1; }
  .ProgramDetailPanel .StyleForSlickArrows .slick-prev {
    left: 30px;
    background: url(../src/img/home/left-arrow.png) no-repeat; }
  .ProgramDetailPanel .StyleForSlickArrows .slick-prev:before, .ProgramDetailPanel .StyleForSlickArrows .slick-next:before {
    display: none; }
  .ProgramDetailPanel .link_list a {
    color: #00448B;
    font-size: 0.9vw; }
  .ProgramDetailPanel .noPadding {
    padding: 0px; }
  .ProgramDetailPanel .CampusBg {
    position: absolute;
    right: 5px;
    top: -60px; }
  .ProgramDetailPanel .CampusBg img {
    width: 40vw; }
  .ProgramDetailPanel .GrayTitle {
    color: #EEEEEE;
    font-size: 7.2vw;
    position: relative;
    top: -2vh;
    margin: 0 0 20px 0; }
  .ProgramDetailPanel .row.CoursesGraduatePanel {
    margin: 0 -60px;
    padding: 0 0 10px 0; }
  .ProgramDetailPanel .GraduateInner {
    padding: 0 60px; }
  .ProgramDetailPanel .GraduateList {
    margin: 0;
    padding: 50px 0 0 0; }
  .ProgramDetailPanel .GraduateList li p {
    width: 90%;
    position: relative; }
  .ProgramDetailPanel .GraduateList li a {
    font-weight: 600;
    color: #00448B;
    text-decoration: underline;
    text-decoration-color: #C3D7D8; }
  .ProgramDetailPanel .GraduateList li p span {
    padding: 0 15px 0 10px; }
  .ProgramDetailPanel .GraduateList li span img {
    width: 2.3vw; }
  .ProgramDetailPanel .GraduateList li p:before {
    content: '';
    background: #9A999D;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: 10%;
    border-radius: 100%;
    top: 10px; }
  .ProgramDetailPanel .GraduateList li {
    display: flex;
    position: relative;
    font-weight: 500;
    font-size: 0.9vw;
    height: 6vh;
    border-bottom: 1px solid #EFEFEF;
    align-items: center; }
  .ProgramDetailPanel .GraduateInner .PadSpacing {
    padding: 3vh 0px 4.5vh 3.6vw; }
  .ProgramDetailPanel .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .ProgramDetailPanel .BannerImg {
    width: 70vw;
    float: right; }
  .ProgramDetailPanel .BannerStripContext {
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    justify-content: center;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 26vmax;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .ProgramDetailPanel .BannerStripContext p {
    font-size: 5.7vw;
    position: absolute;
    width: 75vw;
    left: 6vmax;
    line-height: 12vh;
    top: -45px; }
  .ProgramDetailPanel .DownArrow {
    left: -5%; }
  .ProgramDetailPanel .WatchPanel {
    position: absolute;
    bottom: 40px;
    right: 80px; }
  .ProgramDetailPanel .WatchPanel a img {
    width: 25px; }
  .ProgramDetailPanel .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #00448B;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .ProgramDetailPanel .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .ProgramDetailPanel .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .ProgramDetailPanel .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    bottom: 2%;
    left: 7vw;
    padding: 0 20px 0 0;
    position: absolute; }
  .ProgramDetailPanel .BannerContextList li {
    font-size: 1.6vw;
    font-weight: 500;
    padding: 0 0 4vh 0;
    position: relative; }
  .ProgramDetailPanel .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
  .ProgramDetailPanel .durationImg {
    width: 3vw; }
  .ProgramDetailPanel .detailCourseList p {
    padding: 0 30px 0 20px; }
  .ProgramDetailPanel .durationImg {
    width: 3vw; }
  .ProgramDetailPanel .detailCourseList {
    padding: 0 0 30px 0; }
  .ProgramDetailPanel .det_Context li {
    padding: 0 0 30px 0;
    position: relative; }
  .ProgramDetailPanel .DurationText {
    font-size: 1.8vw; }
  .ProgramDetailPanel .DurationText span {
    font-size: 1.3vw; }
  .ProgramDetailPanel .det_Context {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 0 0 0 30px !important; }
  .ProgramDetailPanel .DetailInner {
    padding: 0 0 70px 0; }
  .ProgramDetailPanel .det_Context li:before {
    content: '';
    background: #00448B;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 100%;
    position: absolute;
    left: -20px;
    top: 6px; }
  .ProgramDetailPanel .DetailsBanner:before {
    content: '';
    background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    background-position: 0px -35vh; }
  .ProgramDetailPanel .AchieveTitleBlock .link_list {
    position: absolute;
    right: 0;
    top: 10px; }
  .ProgramDetailPanel .appList.ApplyNow a {
    background: #FFCA08; }
  .ProgramDetailPanel .SocialList {
    margin: 0 -4px; }
  .ProgramDetailPanel .applyNowForDetail {
    padding: 8vh 0 5vh 0; }
  .ProgramDetailPanel .SocialList a {
    padding: 0 4px; }
  .ProgramDetailPanel .appList p {
    padding: 0 10px 0;
    font-size: 1.05vw;
    color: #606060; }
  .ProgramDetailPanel .SocialList a img {
    width: 2.2vw; }
  .ProgramDetailPanel .CardHeaderPanel > a {
    display: block;
    position: relative;
    font-weight: 600;
    color: #000000;
    padding: 16px 25px;
    border-bottom: 1px solid #FAFAFA; }
  .ProgramDetailPanel .CardHeaderPanel > a:after {
    content: '>';
    font-family: monospace;
    position: absolute;
    right: 25px;
    font-weight: 600;
    font-size: 1.6vw;
    color: #A1A1A1;
    top: 12px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .ProgramDetailPanel .CardHeaderPanel > a[aria-expanded="true"]:after {
    content: '>';
    font-family: monospace;
    transform: rotate(270deg); }
  .ProgramDetailPanel .AccordionStyle {
    margin: 30px 0 0 0;
    background: #fff;
    box-shadow: 0 5px 5px #ccc;
    position: relative;
    border: 1px solid #EDEDED; }
  .ProgramDetailPanel .card-body.cardContext {
    padding: 20px 25px; }
  .ProgramDetailPanel .AccordionStyle .card-header {
    background: inherit;
    border: none;
    padding: 0px; }
  .ProgramDetailPanel .cardContext p {
    font-weight: 500;
    font-size: 1vw;
    line-height: 24px; }
  .ProgramDetailPanel .AccordionStyle .card {
    border: none;
    border-radius: 0px; }
  .ProgramDetailPanel .DetailsBlk {
    padding: 5vh 8vw; }

/*Media Querry*/
/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
@media (min-width: 1200px) and (max-width: 1365px) {
  .ProgramDetailPanel {
    /***Watch Panel*/ }
    .ProgramDetailPanel table {
      margin: 20px 0;
      font-size: 1.1vw;
      font-weight: 500; }
    .ProgramDetailPanel .HomeBtnStyle {
      font-size: 1vw;
      height: 7vh;
      width: 18vw; }
    .ProgramDetailPanel .WatchPanel {
      right: 10px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .plr100 {
    padding: 0 50px; }
  .paraLittle {
    font-size: 1.1vw; }
  .titleh4 {
    font-size: 1.6vw; }
  .paraSmall {
    font-size: 1.5vw; }
  .titleh4 {
    font-size: 1.8vw; }
  .para_three {
    font-size: 1.5vw; }
  .downArrowIcon {
    width: 3vw; }
  .ProgramDetailPanel {
    /**Watch Panel*/
    /**Banner*/
    /**Campus****/
    /***Accordion****/ }
    .ProgramDetailPanel .link_list a {
      font-size: 1.2vw; }
    .ProgramDetailPanel .WatchPanel {
      right: 10px; }
    .ProgramDetailPanel .HomeBtnStyle {
      font-size: 1vw;
      width: 20vw;
      height: 7vh; }
    .ProgramDetailPanel .BannerImg img {
      width: 77vw; }
    .ProgramDetailPanel .BannerStripContext {
      padding: 4.5vh 75px 4.5vh 45px; }
    .ProgramDetailPanel .BannerStripContext p {
      font-size: 4.5vmax;
      line-height: 9vh;
      width: 45vw; }
    .ProgramDetailPanel .breadcrumbCustom li {
      font-size: 0.9vw; }
    .ProgramDetailPanel .GrayTitle {
      top: 0vh; }
    .ProgramDetailPanel .det_Context {
      font-weight: 500; }
    .ProgramDetailPanel .DetailInner {
      padding: 0 0 30px 0; }
    .ProgramDetailPanel .det_Context li {
      padding: 0 0 30px 0;
      font-size: 1.4vw; }
    .ProgramDetailPanel .DetailsBlk {
      padding: 5vw 4vw 2vw 4vw; }
    .ProgramDetailPanel .ApplyNow a {
      font-size: 1.6vw;
      width: 16vw;
      height: auto; }
    .ProgramDetailPanel .card-body.cardContext {
      padding: 10px 25px 10px 25px; }
    .ProgramDetailPanel table {
      margin: 20px 0;
      font-size: 1.1vw;
      font-weight: 500; }
    .ProgramDetailPanel .cardContext p {
      font-size: 1.3vw;
      line-height: 22px; }
    .ProgramDetailPanel .appList p {
      font-size: 1.8vw; }
    .ProgramDetailPanel .SocialList a img {
      width: 3vw; } }

@media (min-width: 768px) and (max-width: 991px) {
  .plr100 {
    padding: 0 20px; }
  .plr20 {
    padding: 0 10px; }
  .ProgramDetailPanel {
    /***Banner****/
    /**Campus****/
    /***Accordion****/ }
    .ProgramDetailPanel .link_list a {
      font-size: 1.4vw; }
    .ProgramDetailPanel .paraSmall {
      font-size: 1.8vw; }
    .ProgramDetailPanel .titleMedium {
      font-size: 3vw; }
    .ProgramDetailPanel .para_three {
      font-size: 1.7vw; }
    .ProgramDetailPanel .paraLittle {
      font-size: 1.2vw; }
    .ProgramDetailPanel .titleh4 {
      font-size: 2.2vw; }
    .ProgramDetailPanel .StyleForSlickArrows .slick-prev, .ProgramDetailPanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px; }
    .ProgramDetailPanel .sodText {
      left: 4vw; }
    .ProgramDetailPanel .BannerImg img {
      width: 85vw; }
    .ProgramDetailPanel .BannerStripContext {
      padding: 4.5vh 15px 4.5vh 15px; }
    .ProgramDetailPanel .breadcrumb.breadcrumbCustom li {
      font-size: 1.5vw; }
    .ProgramDetailPanel .BannerStripContext p {
      font-size: 6vmax;
      display: flex;
      align-items: center;
      left: 4vmax;
      line-height: 50px;
      width: 50vw;
      top: -25px; }
    .ProgramDetailPanel .BannerContextList {
      bottom: 0%;
      left: 5vw; }
    .ProgramDetailPanel .BannerContextList li {
      font-size: 1.5vw;
      padding: 0 0 2vw 0; }
    .ProgramDetailPanel .downArrowIcon {
      width: 3.5vw; }
    .ProgramDetailPanel .breadcrumbPanel {
      left: 45%;
      bottom: -18%; }
    .ProgramDetailPanel .DownArrow {
      bottom: -12%;
      left: 0; }
    .ProgramDetailPanel .HomeBtnStyle {
      font-size: 1vw;
      width: 20vw;
      height: 7vh; }
    .ProgramDetailPanel .helplineChatInner a {
      font-size: 1.2vw; }
    .ProgramDetailPanel .GrayTitle {
      top: 0vh; }
    .ProgramDetailPanel .det_Context {
      font-weight: 500; }
    .ProgramDetailPanel .DetailInner {
      padding: 0 0 30px 0; }
    .ProgramDetailPanel .det_Context li {
      padding: 0 0 30px 0;
      font-size: 1.7vw; }
    .ProgramDetailPanel .DetailsBlk {
      padding: 5vw 4vw 2vw 4vw; }
    .ProgramDetailPanel .ApplyNow a {
      font-size: 1.6vw;
      width: 16vw;
      height: auto; }
    .ProgramDetailPanel .card-body.cardContext {
      padding: 10px 25px 10px 25px; }
    .ProgramDetailPanel table {
      margin: 20px 0;
      font-size: 1.6vw;
      font-weight: 500; }
    .ProgramDetailPanel .cardContext p {
      font-size: 1.7vw;
      line-height: 22px; }
    .ProgramDetailPanel .appList p {
      font-size: 1.8vw; }
    .ProgramDetailPanel .SocialList a img {
      width: 3vw; } }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .para_three {
    font-size: 12px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  .row {
    margin: 0px; }
  /**Common Ends***/
  .ProgramDetailPanel {
    /***Banner****/
    /***Watch Panel*/
    /***campus Details*/
    /**Accordion*/ }
    .ProgramDetailPanel .mlr {
      margin: 0; }
    .ProgramDetailPanel .StyleForSlickArrows .slick-prev, .ProgramDetailPanel .StyleForSlickArrows .slick-next {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 10px; }
    .ProgramDetailPanel .StyleForSlickArrows .slick-prev {
      left: auto;
      right: 22%; }
    .ProgramDetailPanel .paraLittle {
      font-size: 10px; }
    .ProgramDetailPanel .paraSmall {
      font-size: 12px; }
    .ProgramDetailPanel .titleh3 {
      font-size: 30px; }
    .ProgramDetailPanel .titleh4 {
      font-size: 16px; }
    .ProgramDetailPanel .CoursesList .slick-list.draggable {
      overflow: hidden !important; }
    .ProgramDetailPanel ul.slick-dots {
      display: none !important; }
    .ProgramDetailPanel .row {
      margin: 0px !important; }
    .ProgramDetailPanel .ind_CompanyList {
      margin: 0 0px; }
    .ProgramDetailPanel .BannerImg {
      width: 100%;
      float: none; }
    .ProgramDetailPanel .sodText {
      font-size: 13px;
      top: -25px;
      left: 20px; }
    .ProgramDetailPanel .BannerImg img {
      width: inherit; }
    .ProgramDetailPanel .banner {
      z-index: 1; }
    .ProgramDetailPanel .BannerStripContext p {
      font-size: 32px;
      position: absolute;
      width: 300px;
      line-height: 36px;
      top: 0;
      padding: 50px 0 0 0;
      left: 20px; }
    .ProgramDetailPanel .BannerContextList {
      bottom: 0px;
      left: 0px;
      padding: 0 30px 0 0; }
    .ProgramDetailPanel .breadcrumbCustom li:nth-child(2) {
      display: none; }
    .ProgramDetailPanel .BannerContextList li {
      font-size: 11px;
      padding: 0 0 6px 0;
      bottom: 70px;
      left: 20px; }
    .ProgramDetailPanel .BannerStripContext {
      width: 80%;
      bottom: -60px;
      padding: 15px 20px;
      height: 300px;
      background-position: -7px;
      left: 0; }
    .ProgramDetailPanel .downArrowIcon {
      width: 30px; }
    .ProgramDetailPanel .DownArrow {
      bottom: -30px;
      text-align: center;
      left: auto;
      right: 0;
      width: 20%;
      z-index: 99; }
    .ProgramDetailPanel .breadcrumbPanel {
      position: absolute;
      left: 20px;
      bottom: 210px;
      z-index: 99; }
    .ProgramDetailPanel .breadcrumbCustom li {
      font-size: 6.5px;
      font-weight: 500; }
    .ProgramDetailPanel .WatchPanel {
      position: relative;
      bottom: -30px;
      right: auto;
      z-index: 9;
      display: block !important;
      left: 10px; }
    .ProgramDetailPanel .WatchPanel a img {
      width: 20px; }
    .ProgramDetailPanel .HomeBtnStyle {
      font-size: 10px;
      height: auto;
      width: 50%;
      margin: 0 0 6px 0;
      padding: 6px 10px 6px 20px; }
    .ProgramDetailPanel .CampusBg {
      right: 0px;
      top: -85px; }
    .ProgramDetailPanel .GrayTitle {
      font-size: 55px;
      top: 0vh;
      padding: 0 15px; }
    .ProgramDetailPanel .ProgramDetailPanel .durationImg {
      width: 25px; }
    .ProgramDetailPanel .det_Context li {
      padding: 0 0 20px 0;
      font-size: 14px; }
    .ProgramDetailPanel .DetailInner {
      padding: 0 0 20px 0; }
    .ProgramDetailPanel .DurationText span {
      font-size: 13px; }
    .ProgramDetailPanel .CampusBg img {
      width: 100%; }
    .ProgramDetailPanel .DetailsBlk {
      padding: 20px 15px; }
    .ProgramDetailPanel .col-sm-6.appList {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      justify-content: center !important;
      display: block !important; }
    .ProgramDetailPanel .col-sm-6.appList.ApplyNow {
      margin: 0 0 20px 0; }
    .ProgramDetailPanel .SocialList a img {
      width: 20px; }
    .ProgramDetailPanel .appList p {
      font-size: 14px; }
    .ProgramDetailPanel .ApplyNow a {
      width: 240px;
      height: 35px;
      margin: 0 6px 0 0;
      padding: 0 5px !important;
      font-size: 14px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: 0 auto; }
    .ProgramDetailPanel table {
      font-size: 12px;
      margin: 20px 0 0 0;
      font-weight: 500; }
    .ProgramDetailPanel .cardContext p {
      font-size: 12px;
      line-height: 22px; }
    .ProgramDetailPanel .CardHeaderPanel > a:after {
      font-size: 20px;
      top: 14px; }
    .ProgramDetailPanel .DetailsBlk .link_list {
      position: static; }
    .ProgramDetailPanel .link_list a {
      color: #00448B;
      font-size: 12px; } }
