﻿@import "_variable";
@import "_mixin";

.UpesStudent {
    .ForAwardCarouselStyle {
        margin: -10.5vw -7px 0 -7px;
    }

     .industryPanel {
        padding: 40px 0 0px 0;
    }

    a.color-blue {
        color: #00448B;
        text-decoration: underline;
        font-weight: 600;
    }

    .pl7-5 {
        padding-left: 7.5px;
    }

    .pr7-5 {
        padding-right: 7.5px;
    }

    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg {
        float: right;

        img {
            width: 70vw;
        }
    }

    .BannerStripContext {
        width: 41.5vw;
        position: absolute;
        bottom: -75px;
        background: #FFCA08;
        display: flex;
        justify-content: center;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 26vw;
        background-size: cover;
        z-index: 9;
        left: 10px;

        .fontExBold {
            font-size: 5rem;
            position: absolute;
            width: 80%;
            left: 80px;
            line-height: 1.1em;
            top: 70px;
        }

        .StripContent {
            font-size: 1.5vw;
            padding-top: 12%;
            padding-right: 40px;
            overflow: hidden;
        }
    }

    .DownArrow {
        left: -5%;
    }

    .HomeBtnStyle {
        font-size: 0.7vw;
        height: 6vh;
        background: #EF3F3F;
        color: #FFFFFF;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;

        picture {
            width: 25%;
            text-align: right;
        }

        span {
            white-space: normal;
            width: 80%;
            display: inline-block;
            padding: 0 5px 0 0;
        }
    }

    .BannerContextList {
        padding: 0;
        margin: 0;
        list-style-type: none;
        top: 25%;
        left: 7vw;
        padding: 0 50px 0 0;
        position: absolute;

        li {
            font-size: 1.2vw;
            font-weight: 500;
            padding: 0 0 4vh 0;
            position: relative;

            &:before {
                content: '';
                background: #333;
                width: 3px;
                height: 3px;
                display: block;
                position: absolute;
                left: -8px;
                border-radius: 100%;
                top: 12px;
            }
        }
    }

    .sodText {
        font-size: 1.6vw;
        position: absolute;
        top: -22%;
        left: 6vw;
    }

    .wrapper-75 {
        width: 75vw;
        margin: auto;
    }

    .section-1 {
        background: url(../src/img/upes-students/BG-1.png) no-repeat;
        padding-bottom: 200px;
        background-size: contain;
        background-position: 98%;
    }

    .highlights {
        ul {
            width: 53vw;
            margin-left: auto;
            padding-right: 30px;
            list-style-type: none;
            padding-left: 0;
            padding-top: 2.5vw;
            font-weight: bold;

            li {
                font-size: 1.15vw;
                padding: .5vw 0px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    border: 1px solid #000;
                    padding: 0 .1vw;
                    top: 1.3vw;
                    left: -.7vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .login-wrapper {
        .accord-wrapper {
            margin-top: -4.5vw;
            padding-bottom: 30px;
        }
    }

    .accord-wrapper {
        .DetailsBanner {
            &:before {
                content: '';
                background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                top: 0;
                background-position: 0px -35vh;
            }
        }

        .AchieveTitleBlock {
            .link_list {
                position: absolute;
                right: 0;
                top: 10px;
            }
        }

        .appList.ApplyNow {
            a {
                background: #FFCA08;
            }
        }

        .applyNowForDetail {
            padding: 8vh 0 5vh 0;
        }

        .appList {
            p {
                padding: 0 10px 0;
                font-size: 1.05vw;
                color: #606060;
            }
        }

        .colorLightWhite {
            .CardHeaderPanel {
                a {
                    background: #F7F7F7;
                    border-bottom: 2px solid #fff;
                }
            }
        }

        .CardHeaderPanel {
            > a {
                display: block;
                position: relative;
                font-weight: 600;
                color: #000000;
                font-size: 1.25vw;
                padding: 16px 25px;
                padding: 1.1713vw 1.8302vw;
                border-bottom: 2px solid #FAFAFA;

                &:after {
                    content: '>';
                    font-family: monospace;
                    position: absolute;
                    right: 25px;
                    font-weight: 600;
                    font-size: 1.6vw;
                    color: #A1A1A1;
                    top: 12px;
                    -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }

            > a[aria-expanded="true"] {
                &:after {
                    content: '>';
                    font-family: monospace;
                    transform: rotate(270deg);
                }
            }
        }

        .AccordionStyle {
            margin: 30px 0 0 0;
            background: #fff;
            box-shadow: 0 5px 5px #ccc;
            position: relative;
            border: 1px solid #EDEDED;

            .card-header {
                background: inherit;
                border: none;
                padding: 0px;
            }

            .card {
                border: none;
                border-radius: 0px;
            }
        }

        .card-body.cardContext {
            padding: 20px 25px;
        }

        .cardContext {
            p {
                font-weight: 500;
                font-size: 1vw;
                line-height: 1.5vw;
            }
        }

        .nonAcc {
            .CardHeaderPanel {
                > a {
                    &:after {
                        -webkit-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }

    .upcoming-events {
        margin-top: -100px;
        min-height: 30vw;

        .Orange-Strip {
            margin-top: 6vw;
            margin: 0 0 30px 0;

            .titleh3 {
                margin: 0 -3.2vw 0 4.5vw;
            }
        }

        .blocks {
            padding: 60px 0px;

            .block-wrapper {
                min-height: 10vw;
                font-weight: bold;

                .block1 {
                    height: 100%;
                    background-color: #F7F7F7;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .b-left {
                        min-height: 4vw;

                        .details {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .title {
                                font-size: 1.9vw;

                                p {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .date {
                                font-size: 1.25vw;
                            }
                        }
                    }

                    .b-right {
                        min-height: 4vw;
                        display: flex;
                        align-items: flex-end;

                        .link-reg {
                            margin-bottom: -5px;

                            a {
                                font-size: 1.25vw;
                                line-height: 0;
                            }
                        }
                    }
                }

                .block2 {
                    height: 100%;
                    background-color: #F7F7F7;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .b-left {
                        min-height: 4vw;

                        .details {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .title {
                                font-size: 1.9vw;

                                p {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .date {
                                font-size: 1.25vw;
                            }
                        }
                    }

                    .b-right {
                        min-height: 4vw;
                        display: flex;
                        align-items: flex-end;

                        .link-reg {
                            margin-bottom: -5px;

                            a {
                                font-size: 1.25vw;
                                line-height: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .plr100vw {
        padding: 0 5.21vw;
    }

    .Orange-Strip {
        background: #FFCA08;
        height: 9vw;
        width: 38vw;

        .title {
            margin: 0 -1vw 0 4.5vw;
            font-weight: 600;
        }
    }

    .yellow-bg {
        background-color: #FFCA08;
    }

    .section-4 {
        background-color: #F7F7F7;
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;

        .health-medical {
            .titleh3 {
                font-weight: 600;
                font-size: 3.1vw;
            }
        }

        .link-toggle {
            float: right;
            font-size: 1vw;
        }

        .accordion-title {
            padding-top: 60px;
            padding-bottom: 30px;

            .link-toggle {
                margin-top: -30px;
                font-size: 1vw;
            }
        }

        .inter-intern {
            margin-top: 150px;
            padding-bottom: 150px;
            overflow: hidden;

            .yellow-bg {
                height: 22.032vw;

                .titleh3 {
                    padding-top: 50px;
                }
            }

            .students-slide {
                margin-top: -6.4vw;

                .slick-list {
                    overflow: visible;
                    margin: -7px;
                }

                .student {
                    padding: 0px 7px;

                    .profile-wrapper {
                        background-color: #fff;

                        .photo {
                            margin-top: -6vw;
                            width: 50%;

                            img {
                                width: 100%;
                            }
                        }

                        .profile {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding: 0 .78125vw;

                            h2 {
                                font-size: 24px;
                                padding-top: 1vw;
                                font-size: 1.25vw;
                                height: 4vw;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }

                            h3 {
                                font-size: 20px;
                                font-size: 1.05vw;
                                padding-bottom: 1vw;
                                height: 4vw;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }

                    .details {
                        background-color: #fff;
                        box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.11);
                        padding: 15px;
                        padding-bottom: 30px;
                        padding-top: 0;

                        p {
                            line-height: 1.8;
                            font-size: 20px;
                            font-size: 1.05vw;
                            padding-top: 0;
                            font-weight: 500;
                        }

                        .says {
                            p {
                                height: 7.5vw;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
            }

            .slick-prev {
                top: 110%;
                height: 25px;
                width: 25px;
                padding: 1vw;
                left: 42%;
            }

            .slick-next {
                top: 110%;
                height: 25px;
                width: 25px;
                padding: 1vw;
                left: 52%;
            }
        }
    }

    .section-5 {
        background: url(../src/img/upes-students/bg-2.png) no-repeat;
        margin-top: -50px;
        background-size: 40%;
        background-position: 3% 90%;

        .student-affairs {
            .header-top {
                .link-toggle {
                    margin-top: -30px;
                    font-size: 1vw;
                    margin-right: 8vw;
                    float: right;
                }
            }
        }

        .accord-wrapper {
            padding-top: 40px;
        }

        .contact-wrapper {
            padding-bottom: 30px;

            .department {
                font-weight: 900;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 10px;
            }

            h2 {
                font-size: 150px;
                font-size: 7.8vw;
                font-weight: 900;
                color: #DDDDDD;
                margin: 60px 0px;
            }

            .header {
                font-weight: 600;
                margin-bottom: 30px;
                font-size: 1.25vw;
            }

            .details {
                p {
                    margin: 10px 0px;
                    font-size: 1.25vw;
                    font-weight: 600;

                    a {
                        color: #000000;
                    }
                }

                a {
                    color: #000000;
                }
            }
        }
    }

    .section-6 {
        background-color: #F7F7F7;
        padding-bottom: 60px;
        background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat;

        .downloadable-content {
            .accordion-title {
                padding: 30px 0px;
                padding-top: 60px;

                h3 {
                    font-weight: 600;
                }
            }
        }
    }

    .downloable-accord {
        .CardHeaderPanel {
            a {
                &:after {
                    content: '' !important;
                    background-image: url("../src/img/upes-students/download.png") !important;
                    background-repeat: no-repeat !important;
                    transform: inherit !important;
                    padding: 1vw !important;
                    background-position: center;
                }
            }
        }
    }
}

.white-nowrap {
    white-space: nowrap;
}

.health-medical {
    padding-bottom: 150px;
}

.accord-wrapper {
    padding-bottom: 150px;
}

.btn-standard {
    background: #00448B;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: bold;
    border: 1px solid #00448B;

    &:hover {
        background: #ffffff;
        color: #00448B;
    }

    &:focus {
        background: #ffffff;
        color: #00448B;
    }
}

.HomePanel {
    .Numb_list {
        font-size: 5rem;
    }


    .industry_blockList {
        margin: 0 -40px;
        padding: 50px 0px;
    }
}

.researchhighhead {
    margin-left: -20px;
}

.AccordionStyle {
    .card.link {
        a {
            &:after {
                transform: unset !important;
            }
        }
    }
}

@media screen and (max-width: 1899px) {
    .UpesStudent {
        .BannerStripContext {
            .fontExBold {
                font-size: 4rem;
                top: 60px;
            }
        }
    }

    .HomePanel {
        .Numb_list {
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 1399px) {
    .UpesStudent {
        .BannerStripContext {
            .fontExBold {
                font-size: 3.5rem;
                top: 50px;
                left: 60px;
            }
        }
    }

    .HomePanel {
        .Num_Title {
            padding: 0 0 0 15px;
        }

        .Ind_inn {
            padding: 0 20px;
        }

        .Events_Impact_Panel {
            padding: 40px 0px 40px 6.2vw;
        }
    }
}

@media screen and (max-width: 1024px) {
    .UpesStudent {
        .BannerStripContext {
            .fontExBold {
                font-size: 3rem;
                top: 30px;
                left: 40px;
            }
        }

        .ForAwardCarouselStyle {
            margin: -12.5vw -7px 0 -7px;
        }

        .login-wrapper .accord-wrapper {
            padding-bottom: 20px;
        }
    }

    .HomePanel {
        .Numb_list {
            font-size: 2.5rem;
        }

        .Events_Impact_Panel {
            padding: 40px 0px 40px 6.2vw;
        }
    }
}

@media (min-width:2000px) and (max-width:3000px) {
    .UpesStudent {

        .ForAwardCarouselStyle {
            margin: -8.5vw -7px 0 -7px;
        }
    }
}

@media (min-width:1800px) and (max-width:1920px) {
    .UpesStudent {
        .ForAwardCarouselStyle {
            margin: -8.5vw -7px 0 -7px;
        }
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .UpesStudent {
        .BannerStripContext .fontExBold {
            left: 30px;
        }
    }
}

@media screen and (max-width: 992px) {
    .UpesStudent {
        .BannerStripContext {
            .fontExBold {
                font-size: 2rem;
            }
        }
    }

    .plr100 {
        padding: 0 20px;
    }

    .researchhighhead {
        margin-left: 0px;
    }

    .HomePanel {
        .industry_blockList {
            margin: 0 -20px;
        }

        .AwardSectionIner {
            padding: 0px 0 0 0;
        }


        .Events_Impact_Panel {
            overflow: hidden;
            padding: 40px 0px 40px 6.2vw;
        }
    }
}

@media (max-width: 767px) {
    .plr20 {
        padding: 0px;
        padding: 0px;
    }

    .Yellowstripbgfull {
        &:before {
            display: none;
            display: none;
        }
    }

    .plr100 {
        padding: 0 0;
        padding: 0 0;
    }

    .titleMedium {
        font-size: 26px;
        font-size: 26px;
    }

    .hideOnMobile {
        display: none;
        display: none;
    }

    .ShowOnMobile {
        display: block !important;
        display: block !important;
    }

    .UpesStudent {
        .wrapper-75 {
            width: calc(100% - 30px);
        }

        .plr100vw {
            padding: 0;
        }


        .Orange-Strip {
            width: 80%;
            height: 23vw;

            .titleh3 {
                font-size: 32px;
                font-weight: 900;
                padding-left: 20px;
            }
        }

        .titleh3 {
            font-size: 32px;
            font-weight: 900;
            padding-left: 20px;
            padding-left: 0px;
            font-size: 24px;
        }

        .BannerSection {
            .DownArrow {
                bottom: -60px;
                text-align: center;
                left: auto;
                right: 0;
                width: 20%;

                a {
                    .downArrowIcon {
                        width: 30px;
                    }
                }
            }

            .BannerStripContext {
                width: 80%;
                bottom: -70px;
                padding: 50px 20px;
                height: 240px;
                left: 0;

                .fontExBold {
                    font-size: 22px;
                    left: 10px;
                    top: inherit;

                    h1 {
                        font-size: 22px;
                        position: static;
                        width: auto;
                    }
                }

                .StripContent {
                    padding-top: 28vw;
                    padding-right: 0;
                    overflow: hidden;

                    p {
                        font-size: 12px;
                    }
                }
            }

            .BannerImg {
                img {
                    width: 100%;
                }
            }
        }

        .section-1 {
            padding-bottom: 150px;

            .highlights {
                padding-top: 60px;

                ul {
                    width: calc(100% - 15px);

                    li {
                        font-size: 12px;
                        margin-bottom: 10px;
                        padding-left: 2vw;

                        &:before {
                            padding: 0 .5vw;
                            top: 3.3vw;
                            left: -0.7vw;
                        }
                    }
                }
            }

            .login-wrapper {
                padding-top: 30px;

                .titleh3 {
                    padding-left: 0px;
                }
            }
        }

        .breadcrumbPanel {
            bottom: 140px;
            z-index: 99;
            left: 10px;

            .breadcrumb.breadcrumbCustom {
                li {
                    font-size: 13px;
                }
            }
        }

        .accord-wrapper {
            padding-top: 0px;

            .AccordionStyle {
                margin-top: 15px;
            }

            .CardHeaderPanel {
                > a {
                    font-size: 12px;
                    font-weight: 500;
                    padding: 10px 15px;

                    &:after {
                        font-size: 14px;
                        right: 15px;
                        top: 8px;
                    }
                }
            }

            .cardContext {
                p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.5em;
                }
            }

            .block {
                padding-top: 30px;
            }

            .title {
                padding: 15px 0px;
                padding-bottom: 0px;
                color: #00448B;

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .position {
                font-size: 14px;
            }

            .person {
                font-size: 16px;
                font-weight: 600;
            }

            .designation {
                font-size: 12px;
                font-weight: 600;
                color: #00448B;
                padding-top: 15px;
            }
        }

        .upcoming-events {
            .Orange-Strip {
                margin-left: 15px;

                h3 {
                    padding-left: 10px;
                    margin-left: 0px;
                    margin: 0 -12vw 0 4.5vw !important;
                    font-size: 8vw;
                }
            }

            .blocks {
                padding: 0 0;

                .block-wrapper {
                    margin-bottom: 15px;

                    .block1 {
                        min-height: 20vw;

                        .b-left {
                            min-height: 4vw;

                            .col-4 {
                                padding: 5px;
                            }

                            .details {
                                padding-top: 5px;

                                .title {
                                    font-size: 14px;
                                }

                                .date {
                                    font-size: 12px;
                                }
                            }
                        }

                        .b-right {
                            min-height: 4vw;
                            display: flex;
                            align-items: flex-end;

                            .link-reg {
                                margin-bottom: -5px;

                                a {
                                    font-size: 10px;
                                    line-height: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section-4 {
            .accord-wrapper {
                .accordion-title {
                    padding-top: 30px;

                    .titleh3 {
                        font-size: 22px;
                        padding-bottom: 15px;
                        padding-left: 0;
                    }

                    .link-toggle {
                        margin-top: 0px;
                        font-size: 10px;
                    }
                }

                .AccordionStyle {
                    margin-top: 0px;
                }
            }

            .inter-intern {
                margin-top: 50px;
                padding-bottom: 100px;

                .yellow-bg {
                    height: 120px;

                    .titleh3 {
                        padding-top: 15px;
                        padding-left: 0;
                        font-size: 28px;
                    }
                }

                .students-slide {
                    margin-top: 0px;
                    padding: 15px;
                    margin-top: 30px;

                    .student {
                        .profile-wrapper {
                            .photo {
                                margin-top: -60px;
                                width: 40%;
                            }

                            .profile {
                                padding-left: 15px;

                                h2 {
                                    font-size: 14px;
                                    font-weight: 600;
                                    height: inherit;
                                }

                                h3 {
                                    font-size: 12px;
                                    padding-bottom: 10px;
                                    height: inherit;
                                }
                            }
                        }

                        .details {
                            p {
                                font-size: 12px;
                                height: 90px !important;
                            }
                        }
                    }

                    .slick-dots {
                        display: none !important;
                    }
                }
            }
        }

        .section-5 {
            margin-top: -30px;

            .Orange-Strip {
                justify-content: flex-start !important;
                align-items: center !important;
                padding-left: 15px;
                margin-left: 15px;

                .titleh3 {
                    padding-left: 0px;
                    font-size: 7vw;
                    margin-left: 0px;
                }
            }

            .link-toggle {
                display: none;
            }

            .accord-wrapper {
                padding-top: 30px;
            }

            .contact-wrapper {
                h2 {
                    font-size: 18vw;
                    margin: 30px 0;
                    margin-bottom: 15px;
                    font-size: 45px;
                }

                .header {
                    font-size: 12px;
                }

                .details {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        .section-6 {
            .downloadable-content {
                .accordion-title {
                    padding-top: 30px;

                    h3 {
                        padding-left: 0px;
                        font-size: 8vw;
                    }
                }

                .CardHeaderPanel {
                    > a {
                        &:after {
                            font-size: 14px;
                            right: 15px;
                            top: 12px;
                            padding: 6px !important;
                            height: 5px;
                            width: 5px;
                            background-size: cover;
                        }
                    }
                }
            }
        }


        .HomeBtnStyle {
            font-size: 10px;
            height: auto;
            width: 100%;
            margin: 10px 0px;
            padding: 10px 10px 10px 10px;
        }
    }

    .StyleForSlickArrows {
        .slick-next {
            right: 7px;
            left: auto;
            background: url(../src/img/home/right-arrow.png) no-repeat;
            width: 2.6vw;
            height: 5.4vh;
            top: 35%;
            background-size: cover !important;

            &:before {
                display: none;
            }
        }

        .slick-prev {
            width: 2.6vw;
            height: 5.4vh;
            top: 35%;
            background-size: cover !important;
            left: 7px;
            background: url(../src/img/home/left-arrow.png) no-repeat;

            &:before {
                display: none;
            }
        }
    }

    .BannerSection {
        .BannerStripContext {
            overflow: hidden;
            width: 80%;
            bottom: -70px;
            padding: 15px;
            height: auto;
            min-height: 100px;

            p {
                font-size: 16px;
            }
        }
    }

    .HomePanel {
        .WatchPanel {
            width: 200px;
            left: 20px;
            bottom: 0px;
            top: 60px;
        }


        .industryPanel {
            padding: 20px 15px 0 15px;
        }

        .Ind_inn {
            padding: 10px 20px;
        }

        .AwardsPanel {
            margin: 0px;
            overflow: hidden;
        }

        .Events_Impact_Panel {
            position: relative;
            padding: 20px 0px 0px 0px;
        }

        .AwardSectionIner {
            padding: 50px 15px 30px 15px;

            h2 {
                font-size: 34px;
                top: 0;
                margin: 10px 0 30px 0;
            }

            .ForAwardCarouselStyle {
                margin: -12vw 0 0 0;
                padding: 0;
            }
        }

        .AwardContext {
            padding: 0px;
        }

        .ForAwardCarouselStyle {
            .storiesPanStyle {
                img {
                    width: 100%;
                }
            }
        }

        .DarkGrayTitle {
            top: -30px;
        }
    }

    .login-wrapper {
        padding: 0px 20px;
    }

    .contact-wrapper {
        padding: 0px 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .UpesStudent {
        .Orange-Strip {
            height: 12vw;
        }

        .wrapper-75 {
            width: 80vw;
        }

        .ForAwardCarouselStyle {
            margin: -14.5vw -7px 0 -7px;
        }

        .plr100vw {
            padding: 0 20px;
        }

        .BannerStripContext {
            padding: 0vh 0px 0vh 40px;

            .StripContent {
                p {
                    font-size: 16px;
                }
            }

            .fontExBold {
                left: 10px;
            }
        }

        .section-1 {
            .highlights {
                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
        }

        .accord-wrapper {
            padding: 0px 0 20px 0;

            .AccordionStyle {
                margin-top: 15px;
            }

            .CardHeaderPanel {
                > a {
                    font-size: 12px;
                    font-weight: 500;
                    padding: 10px 15px;

                    &:after {
                        font-size: 14px;
                        right: 15px;
                        top: 8px;
                    }
                }
            }

            .cardContext {
                p {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.5em;
                }
            }

            .block {
                padding-top: 30px;
            }

            .title {
                padding: 15px 0px;
                padding-bottom: 0px;
                color: #00448B;

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .position {
                font-size: 14px;
            }

            .person {
                font-size: 16px;
                font-weight: 600;
            }

            .designation {
                font-size: 12px;
                font-weight: 600;
                color: #00448B;
                padding-top: 15px;
            }
        }

        .upcoming-events {
            .blocks {
                padding: 30px 0px;
            }
        }

        .section-4 {
            .inter-intern {
                .students-slide {
                    margin-top: -20px;

                    .student {
                        .profile-wrapper {
                            .profile {
                                h2 {
                                    font-size: 1.5vw;
                                }

                                h3 {
                                    font-size: 1.2vw;
                                }
                            }
                        }

                        .details {
                            p {
                                font-size: 1.5vw;
                            }
                        }
                    }
                }
            }
        }

        .section-5 {
            .Orange-Strip {
                justify-content: flex-start !important;
                align-items: center !important;
                padding-left: 15px;

                .titleh3 {
                    padding-left: 0px;
                    margin: 0px -3vw 0 4.5vw !important;
                    font-size: 3.5vw;
                }
            }

            .link-toggle {
                display: none;
            }

            .accord-wrapper {
                padding-top: 30px;
            }

            .contact-wrapper {
                h2 {
                    font-size: 12vw;
                    margin: 30px 0;
                    margin-bottom: 15px;
                }

                .header {
                    font-size: 12px;
                }

                .details {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        .section-6 {
            .downloadable-content {
                .CardHeaderPanel {
                    > a {
                        &:after {
                            font-size: 14px;
                            right: 15px;
                            top: 12px;
                            padding: 8px !important;
                            height: 8px;
                            width: 8px;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}
