﻿@import "_variable";
@import "_mixin";
.SchoolDetailPanel {
    .ShowOnMobile {
        display: none;
    }
    /***EPM20102019****/
    .disclaimerText {
        font-size: .9vw;
        padding: 0.5vw 0;
        font-weight: 500;
    }

    .CourseGraduateSubTitle {
        p {
            span {
                font-size: 0.9vw;
                font-weight: 600;
                padding: 1vw 0 0 0;
                display: block;
            }
        }
    }
    /**EPM 04092019 Vision and Mission**/
    .FacBanner {
        &.AluminiBanner {
            overflow: inherit;
            padding: 60px 0 0;
        }
    }

    .newsletter {
        padding: 40px 0 0 0;
    }

    .AccordionStyle {
        &.AccordionForDownload {
            margin: 40px 0;

            a {
                &:after {
                    display: none;
                }

                img {
                    float: right;
                }
            }
        }
    }

    .CardHeaderPanel > a {
        display: block;
        position: relative;
        font-weight: 600;
        color: $colorBlack;
        padding: 16px 25px;
        border-bottom: 1px solid #FAFAFA;
    }

    .moreFacility {
        a {
            background: transparent;
            margin: 40px auto;
            color: #00448B;
            border: 1px solid #00448B !important;
            font-size: 1.2vw;
        }
    }

    .Facilities {
        background: #F7F7F7;
        padding: 50px 0 0 0;
    }

    .card-body.cardContext {
        padding: 20px 25px;
    }

    .AccordionStyle .card-header {
        background: inherit;
        border: none;
        padding: 0px;
    }

    .cardContext p {
        font-weight: 500;
        font-size: 1vw;
        line-height: 24px;
        padding: 5px 0;
    }

    .AccordionStyle .card {
        border: none;
        border-radius: 0px;
    }

    .CardHeaderPanel > a:after {
        content: '>';
        font-family: MyCustomMonoFont, monospace;
        position: absolute;
        right: 25px;
        font-weight: 600;
        font-size: 1.6vw;
        color: #A1A1A1;
        top: 12px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .CardHeaderPanel > a[aria-expanded="true"]:after {
        content: '>';
        font-family: monospace;
        transform: rotate(270deg);
    }

    .AccordionStyle {
        margin: 40px 0 0 0;
        background: #fff;
        box-shadow: 0 5px 5px #ccc;
        position: relative;
        border: 1px solid #EDEDED;

        .table-cover {
            overflow-x: auto;
        }
    }

    .newsletter {
        padding: 40px 15px 0 15px;
    }


    .abtDepartment {
        margin: 120px 0 40px 0;

        p {
            padding: 25px 0 0 0;
        }
    }

    .phd {
        margin: 0 0 40px;
    }

    .CoursesGraduatePanel {
        &.CoursesGraduateInnerPanel {
            .GraduateList {
                padding: 30px 0 50px 0;
            }
        }
    }

    .ProgramOutcomes {
        background: #F7F7F7;

        .poInner {
            padding: 40px 0 45px 0;

            p {
                padding: 0 0 15px 0;
            }

            h3 {
                padding: 0 0 25px 0;
            }
        }
    }

    .vmPanel {
        margin: 140px 0 0 0;

        .vm_Inner {
            padding: 0 0 45px 0;

            .parawithquotes {
                position: relative;
                padding: 50px 60px 0 45px;

                &:before, &:after {
                    content: '';
                    width: 45px;
                    height: 45px;
                    background-size: 45px !important;
                    display: block;
                    position: absolute;
                }

                &:before {
                    background: url(../src/img/school-details/yellow-quotes-right.png) no-repeat;
                    left: 0;
                    top: 12px;
                }

                &:after {
                    background: url(../src/img/school-details/yellow-quotes-left.png) no-repeat;
                    left: auto;
                    right: 0;
                }
            }

            .vmlist {
                padding: 0;
                list-style: none;
                margin: 35px 0 0 0;

                li {
                    display: flex;
                    align-items: flex-start;
                    margin: 0 0 15px 0;

                    img {
                        margin: 5px 10px 0 0;
                    }
                }
            }
        }
    }

    .CoursesAccordionPanel {
        padding: 20px 0 40px 0;

        .card {
            border-bottom: 1px solid #EFEFEF !important;
            border: none;
        }

        .card-body {
            padding: 0 0px 15px 15px;
        }

        .card-header {
            padding: 0;
            background: transparent;
            border: none;

            h2 {
                display: flex;
                align-items: center;
            }

            a {
                width: 100%;
                text-align: left;
                padding: 15px 0;
                font-weight: 600;
                font-size: 1vw;
                padding: 15px 6px;

                &.redirect_link {
                    text-align: right;
                    color: #00448B;
                    text-decoration: underline;
                }

                i {
                    font-size: 10px;
                    vertical-align: middle;
                    margin: 0 10px 0 0;
                }

                span {
                    color: #00448B;
                    text-decoration: underline;
                    float: right;
                    padding: 0 5px 0 0;
                }
            }
        }

        .GraduateList {
            margin: 0;
            padding: 0;
        }
    }
    /**Epm 2082019 Enquiry Form*/
    .UgDetailAccordion_Panel {
        &.ugAccBanner {
            &:before {
                content: '';
                background: url(../src/img/home/white-bg-pattern.jpg) repeat;
                position: absolute;
                left: 0;
                width: 100%;
                height: 80%;
                top: 0;
            }
        }

        .UgDetailAccordion_Style {
            padding: 0px 0 120px 0;
            width: 80%;
            margin: 0 auto;

            .card {
                border: none;
                margin: 0 0 20px 0;

                .card-header {
                    padding: 0;
                    border: none;

                    .CardHeaderPanel {
                        a {
                            height: 5vw;
                            display: flex;
                            align-items: center;
                            padding: 0 35px;
                            background: $colorBlue;
                            color: $colorWhite;
                            font-size: 1.5vw;
                            border-radius: 5px;
                            font-weight: 700;
                            text-transform: uppercase;

                            &:after {
                                content: '+';
                                font-family: MyCustomMonoFont,monospace;
                                position: absolute;
                                right: 35px;
                                font-weight: 600;
                                font-size: 2vw;
                                color: #363324;
                                width: 2.2vw;
                                height: 2.2vw;
                                background: #E1E1E1;
                                border-radius: 100%;
                                text-align: center;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            &[aria-expanded="true"]:after {
                                content: '-';
                                font-family: monospace;
                                transform: inherit;
                            }
                        }
                    }
                }

                .card-body {
                    border: none;
                    padding: 0;
                    border: 1px solid #DEDEDE;
                    border-radius: 0 0 5px 5px;

                    .Inner_CardTitle {
                        padding: 25px 35px 40px 35px;
                        border-bottom: 1px solid #E6E6E6;

                        .Crd_img {
                            img {
                                width: 100%;
                            }
                        }

                        .Crd_TExt {
                            font-size: 2.5vw;
                            padding: 0 0 0 60px !important;
                            display: flex;
                            align-items: center;
                            text-transform: uppercase;
                        }
                    }

                    .Cardlist {
                        p {
                            position: relative;

                            &:before {
                                content: '';
                                background: #00448b;
                                display: block;
                                width: 4px;
                                height: 4px;
                                border-radius: 100%;
                                position: absolute;
                                left: 35px;
                            }

                            &:nth-child(even) {
                                background: #F9F9F9;
                            }

                            height: 3.7vw;
                            display: flex;
                            align-items: center;
                            padding: 0 50px 0 60px;
                            border-bottom: 1px solid #e6e6e6;
                            color: #4E4E4E;
                            font-size: 1vw;
                            font-weight: 500;

                            span {
                                width: 95%;
                            }

                            a {
                                color: $colorBlue;
                                font-weight: 600;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    .BannerStripContext {
        &.Context_UgPrograms {
            align-items: center;
            padding: 0px 35px 0px 85px;
            width: 40vw;
            position: absolute;
            bottom: -75px;
            background: #ffca08;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 5px 5px #ccc;
            line-height: normal;
            height: 25vw;

            h1 {
                position: static;
                line-height: initial;
                font-size: 3vw;
            }
        }
    }

    .ug_banner {
        &:before {
            content: '';
            background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            top: 0;
        }
    }

    .ugDescPanel {
        padding: 100px 0 60px 0;

        .StripforTwoContext {
            height: 6.6vw;
            top: 0;
            margin: 0 0 70px 0;

            h2 {
                left: 0;
                width: 40vw;
                bottom: auto;
                top: 1.5vw;
            }
        }

        .ugContext {
            width: 70vw;

            p {
                font-size: 1.1vw;
                margin: 0 0 25px 0;
                font-weight: 700;
            }
        }
    }
    /**Epm 2082019 Enquiry Form*/
    .DisclaimerTExt.DisclaimerTExtTop {
        padding: 3vw 0vw 0 3vw;
        text-align: left;
        width: 100%;
    }

    .DisclaimerTExt {
        text-align: left !important;
        padding: 20px 0 20px 0;
        font-weight: 500;
        font-size: 12px;
    }

    .ContextPanelInn {
        padding: 0vw 0 3vw 0;
        font-weight: 500;
    }

    .ContextPanelInn p {
        font-size: 1.1vw;
        padding: 0.5vw 0;
    }

    .ContextPanelInn p a {
        color: $colorRed;
        font-weight: 600;
        text-decoration: underline;
    }

    .CampusPanel {
        overflow: hidden;
    }

    .FacBanner {
        overflow: hidden;
    }

    .ApplyNow.CourseFind a {
        background: $colorBlue;
    }

    .ApplyNow.CourseFind a:hover {
        color: $colorBlue;
        background: $colorWhite;
        border-color: $colorBlue;
    }

    .StyleForSlickArrows .slick-next {
        right: 30px;
        left: auto;
        background: url(../src/img/home/right-arrow.png) no-repeat;
    }

    .StoryTitleStrip a {
        display: none;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .StyleForSlickArrows .slick-prev, .StyleForSlickArrows .slick-next {
        width: 2.65vw;
        height: 2.7vw;
        top: 35%;
        background-size: cover !important;
        z-index: 1;
    }

    .StyleForSlickArrows .slick-prev {
        left: 30px;
        background: url(../src/img/home/left-arrow.png) no-repeat;
    }

    .StyleForSlickArrows .slick-prev:before, .StyleForSlickArrows .slick-next:before {
        display: none;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }

    .Studentstories .link_list {
        position: relative;
        z-index: 9;
    }

    .noPadding {
        padding: 0px;
    }

    .Visit_list.CourseFind a {
        color: $colorBlue;
    }
    /**Certification*/
    .IndContext {
        width: 33.8vw;
    }

    .ind_Logo {
        padding: 0 7px;
    }

    .CrtInner {
        margin: -11vw 0 0 0;
        padding: 0 0 30px 0;
    }


    .StripforTwoContext {
        position: relative;
        top: -50px;
        background: $colorOrange;
        height: 7.3vw;
        width: 30vw;
    }

    .StripforTwoContext h2 {
        font-size: $fontsize40;
        margin: 0;
        position: absolute;
        bottom: -2vw;
        left: 5.5vw;
    }

    .ind_CompanyList {
        padding: 0 80px 12px 80px;
        margin: 0 -7px;
    }
    /**Events***/
    .Event_Inner h2 {
        padding: 2.3vw 0;
    }

    .eventContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .EventContStyle {
        background: $colorBlue;
        padding: 2vw 1vw 1vw 2vw;
        color: $colorWhite;
        height: 13vw;
        overflow: hidden;
    }

    .EventContStyle h4 {
        @include lineClamp($font-size: 1.5vw, $line-height: 1.3, $lines-to-show: 1);
    }

    .EventPara {
        height: 6vw;
        overflow: hidden;
    }

    .EventContStyle a {
        color: $colorWhite !important;
    }

    .EventPara p {
        @include lineClamp($font-size: 1.2vw, $line-height: 1.3, $lines-to-show: 4);
    }

    .St_Event_Impact {
        overflow: hidden;
    }

    .Events_Impact_Panel {
        padding: 180px 0px 40px 6.2vw;
        margin: 0 -48px;
        overflow: hidden;
    }

    .HomeEventImg {
        padding: 0 100px 0 0;
    }

    .Ev_Im_List {
        padding: 0 48px;
    }

    .RotateTitlePosition {
        transform: rotate(270deg);
        position: absolute;
        z-index: 9;
        padding: 0px !important;
        width: 100%;
        height: 100%;
        bottom: 175px;
        left: -1vw;
    }

    .eventContextForHome {
        padding: 0 0 0 7vw;
    }

    .PadSpacing {
        padding: 1.5vw 0px 2vw 9vw;
    }

    .StyleForSlickArrowsBottom .slick-prev, .StyleForSlickArrowsBottom .slick-next {
        left: 50px;
        top: auto;
        bottom: 30px;
    }

    .StyleForSlickArrowsBottom .slick-prev {
        left: 0px;
    }

    .FacBanner:before {
        content: '';
        background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        top: 0;
        background-position: 0px -28vh;
    }

    .CertificationPanel {
        background: $colorWhite;
    }

    .titleposition {
        position: absolute;
        top: -100px;
    }

    .EventContStyleForHomeBlk {
        overflow: hidden;
    }

    .EventContStyleForHomeBlk h4 {
        @include lineRestriction;
        -webkit-line-clamp: 1;
    }

    .Events_Facilities_Panel {
        padding: 120px 0px 240px 5.8vw;
    }
    /**StudentAchievment*/
    .WhiteBg {
        background: url(../src/img/home/white-bg-pattern.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .studenAchievPanel_PaddingSpacing {
        padding: 4vw 0 5vw 0;
    }

    .EventBg {
        margin: -85px 0 0 0;
    }

    .studenAchieveBanner:before {
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-position: left;
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: -8%;
        background-size: 100%;
    }

    .SectionLogoBanner:before {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        background-size: 50%;
        position: absolute;
        top: 70px;
        left: 50px;
        width: 100%;
        height: 100%;
    }

    .AchieveInner {
        padding: 30vh 0 3vh 0;
    }

    .AchieveTitle p {
        line-height: 10px;
    }

    .AchieveContext {
        padding: 0 0 0 2.5vw;
        margin: -30px 0 0 0;
        position: relative;
    }

    .AchieveTitleBlock p {
        position: relative;
        top: 10px;
    }

    .AchieveTitleBlock h2 {
        margin: 0 0 20px 0;
    }

    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }


    .AchieveContextInn {
        background: $colorOrange;
        padding: 1vw 3vw 1vw 2vw;
        height: 13vw
    }

    .AchieveContextPAra {
        overflow: hidden;
        height: 8vw;
    }

    .AchieveContextInn p {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show: 4);
    }


    .AchieveTitleBlock .link_list {
        position: absolute;
        right: 0;
        bottom: 6px;
    }

    .knowMoreStyle {
        text-decoration: underline !important;
        font-size: $fontsize13;
        color: $colorBlue !important;
        margin: 10px 0 0 0;
        display: inline-block;
    }
    /**Stories***/
    .storiesPanStyle {
        padding: 35px 7px 0 7px;
        position: relative;
    }

    .StoriesContext {
        background: $colorWhite;
        padding: 1vw 1.5vw 1vw 1.5vw;
        display: table-cell;
        position: relative;
        top: -60px;
        left: 6.3vw;
        width: 21vw;
        height: 16vw;
        box-shadow: 0 5px 5px #ccc;
    }

    .StoriesContext h3 {
        @include lineClamp($font-size: $fontsize16, $line-height: 1.3, $lines-to-show: 1);
        margin: 0 0 1vw 0;
    }

    .StoriesContext h2 {
        @include lineClamp($font-size: $fontsize20, $line-height: 1.3, $lines-to-show: 1);
    }

    .StoriesContext p {
        @include lineClamp($font-size: $fontsize14, $line-height: 1.3, $lines-to-show: 4);
        margin: 0 0 1vw 0;
        height: 6vw
    }

    .StoriesContext a {
        text-decoration: underline;
        font-size: $fontsize13;
        color: $colorBlue;
    }

    .storiesPanStyle img {
        width: 21vw;
    }

    .StoryTitleStrip {
        background: $colorOrange;
    }

    .StoryTitleStrip p {
        position: absolute;
        top: -23%;
        font-size: $fontsize34;
        font-weight: 800;
    }

    .StoryTitleStrip {
        background: $colorOrange;
        width: 27.4vw;
        text-align: center;
        position: relative;
        height: 7.3vw;
    }

    .StoryTitleStrip h2 {
        font-size: $fontsize70;
    }

    .Yellowstripbgfull:before {
        content: '';
        background: $colorOrange;
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .forZIndex {
        z-index: 9;
    }
    /**Events***/
    .StoryTitleStripForTieUp {
        width: 51.5vw;
        height: 22vw;
    }

    .StoryTitleStripForTieUp h2 {
        font-size: $fontsize60;
        padding: 40px 0 0 0;
        position: absolute;
        width: 70vw;
        height: 8vw;
        overflow: hidden;
        text-align: left;
    }

    .TieupContext {
        padding: 0 100px 0 0;
        margin: -30px 0 0 0;
        position: relative;
    }

    .TiesUpBg a {
        color: #fff !important;
    }

    .TiesUpBg {
        background: $colorBlue;
        padding: .5vw 1.5vw;
        height: 9vw;
        display: block !important;
    }

    .TiesPara {
        overflow: hidden;
    }

    .TieupContext p {
        @include lineClamp($font-size: $fontsize24, $line-height: 1.3, $lines-to-show: 2);
        color: $colorWhite;
    }

    .TieUpPosition {
        margin: -12vw 0 0 0;
    }

    .Ties_TestimonialPanel:before {
        content: '';
        background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        top: 0;
        background-position: 0px -28vh;
    }

    .TestimonialPanel {
        padding: 100px 0 0 0;
        overflow: hidden;
        background: $colorLightWhite;
    }
    /*Placements*/
    .Num_Title {
        font-size: $fontsize18;
        padding: 0 0 0 30px;
    }

    .Numb_list {
        font-size: $fontsize68;
        color: $colorBlue;
    }

    .industry_blockList {
        margin: 0 -40px;
        padding: 4vw 0px;
    }

    .Ind_inn {
        padding: 0 40px;
    }

    .Condition_text {
        padding: 3vw 6.5vw 4vw .5vw;
    }

    .link_list a {
        color: $colorBlue;
        font-size: $fontsize13;
    }

    .CourseFind a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 1vw !important;
    }

    .Visit_list.CourseFind:hover a {
        color: #fff;
    }

    .TiesUpPanel .link_list {
        position: absolute;
        right: 100px;
        top: 50px;
    }

    .Condition_text p {
        font-size: $fontsize13;
    }
    /**Application*/
    .ApplicationBg {
        background: $colorOrange;
        height: 100%;
    }

    .applicationPanel {
        overflow: hidden;
    }

    .applBlk .row.col-sm-12 {
        padding: 0;
    }

    .row.appl_Row {
        height: 9.5vw;
    }

    .borderLeft {
        border-left: 1px solid;
        padding: 0 15px;
    }

    .CourseBlk_bg {
        background: $colorLightWhite;
        height: 100%;
    }

    .GrayStripbgfull:before {
        content: '';
        background: $colorLightWhite;
        position: absolute;
        right: -100%;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .CourseBlk_bg .Visit_list a {
        font-size: 0.9vw;
        border: 1px solid #E2E2E2;
    }

    .PlacementBg:after {
        content: '';
        background: url(../src/img/home/backgound-logo-image.png) no-repeat;
        position: absolute;
        top: -1%;
        right: -36.5%;
        width: 50%;
        height: 100%;
        background-size: 100%;
    }

    section.PlacementPanel {
        padding: 60px 0 0 0;
        overflow: hidden;
    }
    /*Courses*/
    /***Campus***/
    .CampusBg {
        position: absolute;
        right: 5px;
        top: -60px;
    }

    .CampusBg img {
        width: 40vw;
    }

    .GraduateList li:last-child {
        border-bottom: none !important;
    }

    .GrayTitle {
        color: $colorTriplet;
        font-size: $fontsize100;
        position: relative;
        top: -1vh;
        margin: 0 0 20px 0;
    }

    .row.CoursesGraduatePanel {
        margin: 0 -60px;
        padding: 0 0 10px 0;
    }

    .GraduateInner {
        padding: 0 60px;
    }

    .GraduateList {
        margin: 0;
        padding: 20px 0 0 0;
    }

    .GraduateList li p {
        width: 90%;
        position: relative;
        display: flex;
        padding: 0 1vw 0 0;
        align-items: center;
    }

    .GraduateList li a {
        font-weight: 600;
        color: $colorBlue;
        text-decoration: underline;
        text-decoration-color: #C3D7D8;
        -webkit-text-decoration-color: #C3D7D8;
        text-decoration-color: #C3D7D8;
    }

    .GraduateList li p span {
        padding: 0 15px 0 10px;
    }

    .GraduateList li span img {
        width: 2.3vw;
        max-width: inherit;
    }

    .GraduateList li p:before {
        content: '';
        background: #9A999D;
        width: 0.3vw;
        height: 0.3vw;
        display: block;
        position: absolute;
        left: 3.2vw;
        border-radius: 100%;
    }

    .GraduateList li {
        display: flex;
        position: relative;
        font-weight: 500;
        font-size: $fontsize13;
        padding: 0.3vw 0;
        border-bottom: 1px solid #EFEFEF;
        align-items: center;
    }

    .GraduateInner .PadSpacing {
        padding: 2vw 0 2vw 3.6vw;
    }
    /**Banner*/
    /**Banner Section*/
    .banner {
        background-size: cover !important;
        position: relative;
        background-position: top center !important;
    }

    .BannerImg img {
        width: 70vw;
    }

    .BannerImg {
        float: right;

        .WatchPanel {
            position: absolute;
            bottom: 2vw;
            right: 5vw;

            img {
                width: 25px !important;
            }

            .HomeBtnStyle {
                color: #fff;
                background-color: $colorBlue;
            }
        }
    }

    .BannerStripContext {
        width: 41.5vw;
        position: absolute;
        bottom: -75px;
        background: $colorOrange;
        display: flex;
        justify-content: center;
        padding: 0vh 0px 0vh 85px;
        font-size: 40px;
        height: 25vw;
        line-height: normal;
        background-size: cover;
        z-index: 9;
        left: 10px;
    }

    .BannerStripContext h1 {
        font-size: 6vw;
        position: absolute;
        width: 70vw;
        left: 6vw;
        line-height: 6vw;
        top: -25px;
    }

    .DownArrow {
        left: -5%;
    }

    .HomeBtnStyle {
        font-size: $fontsize75_S;
        height: 3vw;
        background: $colorRed;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 10px 0 20px;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .HomeBtnStyle picture {
        width: 25%;
        text-align: right;
    }

    .HomeBtnStyle span {
        white-space: normal;
        width: 80%;
        display: inline-block;
        padding: 0 5px 0 0;
    }

    .BannerContextList {
        @include ulnone;
        bottom: 10%;
        left: 7vw;
        padding: 0 50px 0 0;
        position: absolute;
    }

    .BannerContextList li {
        font-size: 1.2vw;
        font-weight: 500;
        padding: 0 0 2vw 0;
        position: relative;
    }

    .BannerContextList li:before {
        content: '';
        background: #333;
        width: 3px;
        height: 3px;
        display: block;
        position: absolute;
        left: -8px;
        border-radius: 100%;
        top: 12px;
    }

    .sodText {
        font-size: 1.6vw;
        position: absolute;
        top: -22%;
        left: 6vw;
    }
    /***Application Dates*/
    .AppDate p {
        font-size: 1.5vw;
    }

    .dateForSt p {
        font-size: 1vw;
        font-weight: 800;
    }

    .dateForSt p span {
        display: block;
    }

    .OneBlockCarousel {
        position: relative;
        z-index: 99;
    }

    .RemoveBullets li p:before {
        display: none;
    }

    .storiesPannInn .slick-list {
        overflow: visible;
    }
}
    /*Media Querry*/
    @import "_SchoolDetailResponsive";