﻿.search-results {
    h1 {
        font-size: 5.5vw;
        padding: 0 0 1vw 0 !important;
        margin-top: 2vw;
        margin-bottom: 2.4vw;
    }

    .plr100vw {
        padding: 0 5.21vw;
    }

    .load-more {
        padding: .5vw 3vw;
        border-radius: 100px;
        margin-bottom: 30px;
        font-size: 1.2vw;
    }

    .keyword {
        padding: 0 0 2vw 1.2vw;
        font-size: 2vw;

        span {
            font-weight: 600;
        }
    }

    .SearchRow {
        padding: 1.2vw;
        margin-bottom: 1.2vw;
        font-size: 1.1vw;

        &:nth-child(odd) {
            background: #f2f2f2;
        }

        h2 {
            line-height: 1.6vw;
            margin: 0 0 .9vw;
            font-size: 1.6vw;
        }

        a {
            margin: 0 0 .9vw;
            display: inline-block;
            color: #6984c1;
            text-decoration: underline !important;
            word-break: break-all;
        }

        p {
            line-height: 1.5vw;
            font-size: 1.1vw;
        }
    }

    .searchPagination {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;

        .pagination {
            padding-top: 30px !important;
            display: flex;
            padding-left: 0;
            list-style: none;
            border-radius: .25rem;

            li {
                &.page-item {
                    &.disabled {
                        color: #dee2e6;
                    }
                }
            }
        }

        .pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
            font-weight: 600;
            text-transform: uppercase;
            padding: 0 40px;
        }

        .pagination .page-item .page-link {
            border: none;
            font-size: 20px !important;
            color: inherit;
            padding: 0 10px;
        }

        .page-item.disabled .page-link {
            color: #ccc;
            pointer-events: none;
            cursor: auto;
            background-color: #fff;
            border-color: #dee2e6;
        }

        .pagination .page-item.active .page-link {
            background: none;
            color: inherit;
            font-weight: 900;
        }

        .pagination .page-item .page-link {
            font-weight: 400;
        }
    }
}

@media (max-width:991px) {

    .search-results {
        h1 {
            font-size: 30px !important;
            padding: 0 0 15px 0 !important;
            margin-top: 30px;
            margin-bottom: 5px;
        }

        .plr100vw {
            padding: 0 5.21vw;
        }

        .keyword {
            font-size: 16px !important;
            line-height: 20px !important;
            margin-bottom: 15px;

            span {
                font-weight: 600;
            }
        }

        .SearchRow {
            padding: 20px;
            margin-bottom: 20px;
            font-size: 18px;

            &:nth-child(odd) {
                background: #f2f2f2;
            }

            h2 {
                font-size: 18px !important;
                line-height: 20px !important;
                margin-bottom: 15px;
            }

            a {
                font-size: 16px !important;
                margin-bottom: 15px;
                line-height: 18px !important;
            }

            p {
                font-size: 16px !important;
                margin-bottom: 15px;
                line-height: 18px !important;
            }
        }
    }
}
@media (max-width:767px) {

    .search-results {
        .searchPagination {
            .pagination {
                .page-item {
                    &:first-child, &:last-child {
                        .page-link {
                            padding: 0 10px;
                        }
                    }

                    .page-link {
                        font-size: 10px !important;
                        padding: 0 7px;
                    }
                }
            }
        }
    }
}
