﻿@import "_variable";
@import "_mixin";
.showcase {
    .show_caseTop {
        padding: 2.5vw 0;
        background: $colorOrange;
    }

    & {
        position: relative;
        z-index: 9;
    }

    .takeStep p span {
        display: block;
    }

    .takeStep p {
        font-size: 3.5vw;
        line-height: 3.5vw;
    }

    .Visit_list a {
        background: $colorWhite;
        width: 20.5vw;
        height: 2.8vw;
        font-size: $fontsize14;
        color: $colorBlue;
        margin: 0 6px 0 0;
        padding: 0 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sh_showcaseRight a {
        @include transition(0.3s all ease-in)
    }

    .Visit_list a:hover {
        background: $colorBlue;
        color: $colorWhite;
    }

    .ApplyNow a {
        font-size: $fontsize14;
        height: 2.8vw;
        background: $colorBlue;
        color: $colorWhite;
        width: 14vw;
        margin: 0 0 0 6px;
        padding: 0 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ApplyNow a:hover {
        background: $colorWhite;
        color: $colorBlue;
    }

    .show_caseBtm {
        background: $colorDarkOrange;
    }

    .dateText span {
        display: block;
    }

    .shcaseBtmRow {
        padding: 1.4vw 0;
        color: $colorBlack;
    }

    .AppDate p {
        font-size: $fontsize20;
    }

    .dateText {
        font-size: $fontsize13;
    }

     .modal-dialog {
        margin: 8vw auto;
    }
}
/*Media Querry*/
@import "_ShowCaseResponsive";