﻿/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*color*/
/*font size*/
/*Spacing - Padding*/
.plr20 {
  padding: 0 20px; }

.plr100 {
  padding: 0 100px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt15 {
  margin-top: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb15 {
  margin-bottom: 15px; }

.mb10 {
  margin-bottom: 10px; }

.mb60 {
  margin-bottom: 60px; }

/*mixin*/
.UpesStudent {
  /**Banner*/
  /**Banner Section*/
  /**Orange-Strip*/ }
  .UpesStudent a.color-blue {
    color: #00448B;
    text-decoration: underline;
    font-weight: 600; }
  .UpesStudent .pl7-5 {
    padding-left: 7.5px; }
  .UpesStudent .pr7-5 {
    padding-right: 7.5px; }
  .UpesStudent .banner {
    background-size: cover !important;
    position: relative;
    background-position: top center !important; }
  .UpesStudent .BannerImg {
    float: right; }
    .UpesStudent .BannerImg img {
      width: 70vw; }
  .UpesStudent .BannerStripContext {
    width: 41.5vw;
    position: absolute;
    bottom: -75px;
    background: #FFCA08;
    display: flex;
    justify-content: center;
    padding: 0vh 0px 0vh 85px;
    font-size: 40px;
    height: 26vmax;
    background-size: cover;
    z-index: 9;
    left: 10px; }
  .UpesStudent .BannerStripContext .fontExBold {
    font-size: 6vw;
    position: absolute;
    width: 55vw;
    left: 6vmax;
    line-height: 12vh;
    top: -4.5vw; }
  .UpesStudent .BannerStripContext .StripContent {
    font-size: 1.5vw;
    padding-top: 12%;
    padding-right: 40px; }
  .UpesStudent .DownArrow {
    left: -5%; }
  .UpesStudent .HomeBtnStyle {
    font-size: 0.7vw;
    height: 6vh;
    background: #EF3F3F;
    color: #FFFFFF;
    width: 14vw;
    margin: 0 0 0 6px;
    padding: 0 10px 0 20px;
    text-align: left;
    display: flex;
    align-items: center; }
  .UpesStudent .HomeBtnStyle picture {
    width: 25%;
    text-align: right; }
  .UpesStudent .HomeBtnStyle span {
    white-space: normal;
    width: 80%;
    display: inline-block;
    padding: 0 5px 0 0; }
  .UpesStudent .BannerContextList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    top: 25%;
    left: 7vw;
    padding: 0 50px 0 0;
    position: absolute; }
  .UpesStudent .BannerContextList li {
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0 0 4vh 0;
    position: relative; }
  .UpesStudent .BannerContextList li:before {
    content: '';
    background: #333;
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: -8px;
    border-radius: 100%;
    top: 12px; }
  .UpesStudent .sodText {
    font-size: 1.6vw;
    position: absolute;
    top: -22%;
    left: 6vw; }
  .UpesStudent .wrapper-75 {
    width: 75vw;
    margin: auto; }
  .UpesStudent .section-1 {
    background: url(../src/img/upes-students/BG-1.png) no-repeat;
    padding-bottom: 200px;
    background-size: contain;
    background-position: 98%; }
  .UpesStudent .highlights ul {
    width: 53vw;
    margin-left: auto;
    padding-right: 30px;
    list-style-type: none;
    padding-left: 0;
    padding-top: 2.5vw;
    font-weight: bold; }
    .UpesStudent .highlights ul li {
      font-size: 1.15vw;
      padding: .5vw 0px;
      position: relative; }
      .UpesStudent .highlights ul li:before {
        content: '';
        position: absolute;
        border: 1px solid #000;
        padding: 0 .1vw;
        top: 1.3vw;
        left: -.7vw;
        display: flex;
        align-items: center;
        justify-content: center; }
  .UpesStudent .login-wrapper .accord-wrapper {
    margin-top: -4.5vw; }
  .UpesStudent .accord-wrapper {
    /**Details Accordion*/ }
    .UpesStudent .accord-wrapper .DetailsBanner:before {
      content: '';
      background: #f7f7f7 url(../src/img/home/pattern-bg.jpg) no-repeat;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      top: 0;
      background-position: 0px -35vh; }
    .UpesStudent .accord-wrapper .AchieveTitleBlock .link_list {
      position: absolute;
      right: 0;
      top: 10px; }
    .UpesStudent .accord-wrapper .appList.ApplyNow a {
      background: #FFCA08; }
    .UpesStudent .accord-wrapper .applyNowForDetail {
      padding: 8vh 0 5vh 0; }
    .UpesStudent .accord-wrapper .appList p {
      padding: 0 10px 0;
      font-size: 1.05vw;
      color: #606060; }
    .UpesStudent .accord-wrapper .colorLightWhite .CardHeaderPanel a {
      background: #F7F7F7;
      border-bottom: 2px solid #fff; }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a {
      display: block;
      position: relative;
      font-weight: 600;
      color: #000000;
      font-size: 1.25vw;
      padding: 16px 25px;
      padding: 1.1713vw 1.8302vw;
      border-bottom: 2px solid #FAFAFA; }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a:after {
      content: '>';
      font-family: monospace;
      position: absolute;
      right: 25px;
      font-weight: 600;
      font-size: 1.6vw;
      color: #A1A1A1;
      top: 12px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    .UpesStudent .accord-wrapper .CardHeaderPanel > a[aria-expanded="true"]:after {
      content: '>';
      font-family: monospace;
      transform: rotate(270deg); }
    .UpesStudent .accord-wrapper .AccordionStyle {
      margin: 30px 0 0 0;
      background: #fff;
      box-shadow: 0 5px 5px #ccc;
      position: relative;
      border: 1px solid #EDEDED; }
    .UpesStudent .accord-wrapper .card-body.cardContext {
      padding: 20px 25px; }
    .UpesStudent .accord-wrapper .AccordionStyle .card-header {
      background: inherit;
      border: none;
      padding: 0px; }
    .UpesStudent .accord-wrapper .cardContext p {
      font-weight: 500;
      font-size: 1vw;
      line-height: 24px; }
    .UpesStudent .accord-wrapper .AccordionStyle .card {
      border: none;
      border-radius: 0px; }
  .UpesStudent .upcoming-events {
    margin-top: -100px;
    min-height: 30vw; }
    .UpesStudent .upcoming-events .Orange-Strip {
      margin-top: 6vw;
      margin: 0 0 30px 0; }
    .UpesStudent .upcoming-events .blocks {
      padding: 60px 0px; }
      .UpesStudent .upcoming-events .blocks .block-wrapper {
        min-height: 10vw;
        font-weight: bold; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block1,
        .UpesStudent .upcoming-events .blocks .block-wrapper .block2 {
          height: 100%;
          background-color: #F7F7F7;
          display: flex;
          justify-content: center;
          align-items: center; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left {
          min-height: 4vw; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details .title {
              font-size: 1.9vw; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-left .details .date {
              font-size: 1.25vw; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-right {
          min-height: 4vw;
          display: flex;
          align-items: flex-end; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-right .link-reg {
            margin-bottom: -5px; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block1 .b-right .link-reg a {
              font-size: 1.25vw;
              line-height: 0; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-left {
          min-height: 4vw; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-left .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-left .details .title {
              font-size: 1.9vw; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-left .details .date {
              font-size: 1.25vw; }
        .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-right {
          min-height: 4vw;
          display: flex;
          align-items: flex-end; }
          .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-right .link-reg {
            margin-bottom: -5px; }
            .UpesStudent .upcoming-events .blocks .block-wrapper .block2 .b-right .link-reg a {
              font-size: 1.25vw;
              line-height: 0; }
  .UpesStudent .Orange-Strip {
    background: #FFCA08;
    height: 15vh;
    width: 33.8vw; }
    .UpesStudent .Orange-Strip .title {
      margin: 0 -5vw 0 4.5vw;
      font-weight: 600; }
  .UpesStudent .yellow-bg {
    background-color: #FFCA08; }
  .UpesStudent .section-4 {
    background-color: #F7F7F7;
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat; }
    .UpesStudent .section-4 .health-medical .titleh3 {
      font-weight: 600;
      font-size: 3.1vw; }
    .UpesStudent .section-4 .link-toggle {
      float: right;
      font-size: 1vw; }
    .UpesStudent .section-4 .accordion-title {
      padding-top: 60px;
      padding-bottom: 30px; }
      .UpesStudent .section-4 .accordion-title .link-toggle {
        margin-top: -30px;
        font-size: 1vw; }
    .UpesStudent .section-4 .inter-intern {
      margin-top: 150px;
      padding-bottom: 150px;
      overflow: hidden; }
      .UpesStudent .section-4 .inter-intern .yellow-bg {
        height: 22.032vw; }
        .UpesStudent .section-4 .inter-intern .yellow-bg .titleh3 {
          padding-top: 50px; }
      .UpesStudent .section-4 .inter-intern .students-slide {
        margin-top: -6.4vw; }
        .UpesStudent .section-4 .inter-intern .students-slide .slick-list {
          overflow: visible;
          margin: -7px; }
        .UpesStudent .section-4 .inter-intern .students-slide .student {
          padding: 0px 7px; }
          .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper {
            background-color: #fff; }
            .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .photo {
              margin-top: -7vw; }
              .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .photo img {
                width: 15vw; }
            .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              padding: 0 .78125vw; }
              .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h2 {
                font-size: 24px;
                font-size: 1.25vw; }
              .UpesStudent .section-4 .inter-intern .students-slide .student .profile-wrapper .profile h3 {
                font-size: 20px;
                font-size: 1.05vw; }
          .UpesStudent .section-4 .inter-intern .students-slide .student .details {
            background-color: #fff;
            box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.11);
            padding: 15px;
            padding-bottom: 30px; }
            .UpesStudent .section-4 .inter-intern .students-slide .student .details p {
              line-height: 1.8;
              font-size: 20px;
              font-size: 1.05vw;
              font-weight: 500; }
  .UpesStudent .section-5 {
    background: url(../src/img/upes-students/bg-2.png) no-repeat;
    margin-top: -50px;
    background-size: 40%;
    background-position: 3% 90%; }
    .UpesStudent .section-5 .student-affairs .header-top .link-toggle {
      margin-top: -30px;
      font-size: 1vw;
      float: right; }
    .UpesStudent .section-5 .contact-wrapper {
      padding-bottom: 30px; }
      .UpesStudent .section-5 .contact-wrapper h3 {
        font-size: 150px;
        font-size: 7.8vw;
        font-weight: 900;
        color: #DDDDDD;
        margin: 60px 0px; }
      .UpesStudent .section-5 .contact-wrapper .header {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 1.25vw; }
      .UpesStudent .section-5 .contact-wrapper .details p {
        margin: 10px 0px;
        font-size: 1.25vw;
        font-weight: 600; }
  .UpesStudent .section-6 {
    background-color: #F7F7F7;
    padding-bottom: 60px;
    background: #F7F7F7 url(../src/img/home/pattern-bg.jpg) no-repeat; }
    .UpesStudent .section-6 .downloadable-content .accordion-title {
      padding: 30px 0px;
      padding-top: 60px; }
      .UpesStudent .section-6 .downloadable-content .accordion-title h3 {
        font-weight: 600; }
  .UpesStudent .downloable-accord .CardHeaderPanel a:after {
    content: '' !important;
    background-image: url("../src/img/upes-students/download.png") !important;
    background-repeat: no-repeat !important;
    transform: inherit !important;
    padding: 1vw !important;
    background-position: center; }

@media (max-width: 767px) {
  /**Common***/
  .plr20 {
    padding: 0px; }
  .Yellowstripbgfull:before {
    display: none; }
  .plr100 {
    padding: 0 0; }
  .titleMedium {
    font-size: 26px; }
  .hideOnMobile {
    display: none; }
  .ShowOnMobile {
    display: block !important; }
  /**Common***/ }
