﻿@inherits WebViewPage<FormViewModel>
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Forms.Mvc.BusinessLogic



@*Set a default class on all fields - needed by bootstrap*@
@Html.SetFormFieldClass("form-control")

@* Wrap all fields in a form-group - needed by bootstrap to correctly display fields horizontally*@
@Html.SetFormFieldWrapperClass("form-group")


<div class="FormRow">

    @if (string.IsNullOrEmpty(Model.CurrentPage.Caption) == false)
    {
        <h4 class="umbraco-forms-caption">@Model.CurrentPage.Caption</h4>
    }

    @if (Model.ShowValidationSummary)
    {
        @Html.ValidationSummary(false)
    }

    @foreach (FieldsetViewModel fs in Model.CurrentPage.Fieldsets)
    {

        <div class="formRowInn" id="@fs.Id">

            @if (string.IsNullOrEmpty(fs.Caption) == false)
            {
                <h2 class="fontBold careerInnerTitle">@fs.Caption</h2>
            }

            <div class="FormGroup row mlr25 formRowpanel">

                @foreach (var c in fs.Containers)
                {
                    <div class="FormGroup @("col-md-" + c.Width) plr25">

                        @foreach (FieldViewModel f in c.Fields)
                        {
                            bool hidden = f.HasCondition && f.ConditionActionType == FieldConditionActionType.Show;

                            <div class="@Html.GetFormFieldWrapperClass(f.FieldTypeName) " @{ if (hidden) { <text> style="display: none" </text>  } }>

                                @*@if (!f.HideLabel)
                                    {
                                        <label for="@f.Id" class="col-sm-2 control-label umbraco-forms-label">
                                            @f.Caption
                                            @if (f.ShowIndicator)
                                            {
                                                <span class="umbracoForms-Indicator">@Model.Indicator</span>
                                            }
                                        </label>
                                    }*@

                                @*<div class="col-sm-10 umbraco-forms-field-wrapper">*@

                                @Html.Partial(FormThemeResolver.GetFieldView(Model, f), f)

                                @if (Model.ShowFieldValidaton)
                                {
                                    @Html.ValidationMessage(f.Id)
                                }

                                @if (!string.IsNullOrEmpty(f.ToolTip))
                                {
                                    <p class="help-block">@f.ToolTip</p>
                                }
                                @*</div>*@


                            </div>
                        }

                    </div>

                }
            </div>

        </div>

    }


    <div style="display: none">
        <input type="text" name="@Model.FormId.ToString().Replace("-", "")" />
    </div>


    @*<div class="umbraco-forms-navigation row-fluid">*@

    <div class="FormBtn row no-gutters">
        @if (Model.IsMultiPage)
        {
            if (!Model.IsFirstPage)
            {
                <div class="btnInn  text-uppercase col-6">
                    <input class="btn prev cancel br30 fontBold btn btn-primary backbtn FormBtnStyle" type="submit" value="@Model.PreviousCaption" name="__prev" />
                </div>
            }
            else
            {
                <div class="btnInn  text-uppercase col-6">&nbsp;</div>
            }
            if (!Model.IsLastPage)
            {
                <div class="btnInn text-right text-uppercase col-6">
                    <input type="submit" class="btn next br30 fontBold btn btn-primary nextbtn FormBtnStyle" value="@Model.NextCaption" name="next" />
                </div>
            }
            if (Model.IsLastPage)
            {
                <div class="btnInn text-right text-uppercase col-6">
                    <input type="submit" class="btn primary br30 fontBold btn btn-primary nextbtn FormBtnStyle" value="@Model.SubmitCaption" name="submitbtn" />
                </div>
            }
        }
        else
        {
            <div class="btnInn text-right text-uppercase col-6">
                <input type="submit" class="btn btn-primary br30 fontBold btn btn-primary nextbtn FormBtnStyle" value="@Model.SubmitCaption" name="submitbtn" />
            </div>
        }
    </div>


    @*</div>*@

</div>