﻿@using upes_website.Gutils;
@using System.Data;
@model upes_website.Models.CallBack

@{
    var sourceInformation = "";
    DBUtils objDBU = new DBUtils();
    //var helper = new UmbracoHelper(UmbracoContext.Current);
    //var general = helper.TypedContent(1517);
    string qry = "select * from STBL_COURSE";
    string qry2 = "select STID, STATENAME from STBL_STATE where Countrycode = 111 and status=1  order by STATENAME asc";
    DataSet ds = objDBU.executeQuery(qry);
    DataSet ds1 = objDBU.executeQuery(qry2);
    List<upes_website.Models.course> level = new List<upes_website.Models.course>();
    List<upes_website.Models.course> level1 = new List<upes_website.Models.course>();
    List<upes_website.Models.course> state = new List<upes_website.Models.course>();
    List<SelectListItem> YearslistItems= new List<SelectListItem>();
    YearslistItems.Add(new SelectListItem{Value = "2020", Text = "2020" });
    YearslistItems.Add(new SelectListItem{Value = "2021", Text = "2021"});
    
    upes_website.Models.course css = new upes_website.Models.course();
    css.courseid = "";
    css.coursename = "Select City";
    //level1.Add(css);
    if (ds1 != null && ds1.Tables[0].Rows.Count > 0)
    {
        upes_website.Models.course c = new upes_website.Models.course();
        for (int i = 0; i < ds1.Tables[0].Rows.Count; i++)
        {
            upes_website.Models.course cs = new upes_website.Models.course();
            cs.courseid = ds1.Tables[0].Rows[i]["STID"].ToString();
            cs.coursename = ds1.Tables[0].Rows[i]["STATENAME"].ToString();
            state.Add(cs);
        }
    }
    if (ds != null && ds.Tables[0].Rows.Count > 0)
    {
        upes_website.Models.course c = new upes_website.Models.course();
        for (int i = 0; i < ds.Tables[0].Rows.Count; i++)
        {
            upes_website.Models.course cs = new upes_website.Models.course();
            cs.courseid = ds.Tables[0].Rows[i]["C_ID"].ToString();
            cs.coursename = ds.Tables[0].Rows[i]["C_NAME"].ToString();
            level.Add(cs);
        }
    }
}
@using (Html.BeginUmbracoForm("HandleSubmit", "RequestCall", "POST", htmlAttributes: new { @id = "_callBackForm", @onsubmit = "return false" }))
{
    @Html.ValidationSummary(true)
<style>
    .mytooltip:hover:after {
        background: rgba(0,0,0,.9);
        border-radius: 5px;
        bottom: 25px;
        color: #fff;
        content: attr(data-title);
        right: 20%;
        padding: 10px 10px 10px 10px;
        position: absolute;
        z-index: 98;
        /* max-width: 130px; */
        text-align: left;
        left: -6vw;
        width: 20vw;
        margin: 0;
        font-size: 10px;
    }    
    @@media (max-width: 1023px)and (min-width: 768px){
        .mytooltip:hover:after {
            background: rgba(0,0,0,.9);
            border-radius: 5px;
            bottom: 25px;
            color: #fff;
            content: attr(data-title);
            right: 20%;
            padding: 10px 10px 10px 10px;
            position: absolute;
            z-index: 98;
            /* max-width: 130px; */
            text-align: left;
            left: -12vw;
            width: 35vw;
            margin: 0;
            font-size: 10px;
        }
        }
    @@media only screen and (max-width: 767px) {
        .mytooltip:hover:after {
            background: rgba(0,0,0,.9);
            border-radius: 5px;
            bottom: 25px;
            color: #fff;
            content: attr(data-title);
            right: 20%;
            padding: 10px 10px 10px 10px;
            position: absolute;
            z-index: 98;
            /* max-width: 130px; */
            text-align: left;
            left: -27vw;
            width: 75vw;
            margin: 0;
            font-size: 10px;
        }
    }   

        .mytooltip:hover:before {
        }
        .tools{
            text-decoration:underline;
            cursor:pointer;
        }
        .mytooltip {
            position: relative;
        }

</style>
    <div class="form-group required">
        <label for="name">Name*</label>
        @Html.TextBoxFor(m => m.Name, new { @name = "name", @id = "name", @class = "form-control bg-lightgray", @placeholder = "" })
        <div id="nameValid">@Html.ValidationMessageFor(m => m.Name)</div>
    </div>
    <div class="form-group required">
        <label for="email">Email ID*</label>
        @Html.TextBoxFor(m => m.Email, new { @name = "email", @id = "email", @class = "form-control bg-lightgray", @placeholder = "" })
        <div id="emailValid">@Html.ValidationMessageFor(m => m.Email)</div>
    </div>
    <div class="form-group required">
        <label for="phonenumber">Phone Number*</label>
        @Html.TextBoxFor(m => m.PhoneNo, new { @name = "phonenumber", @id = "phonenumber", @class = "form-control bg-lightgray", @placeholder = "" })
        <div id="phoneValid">@Html.ValidationMessageFor(m => m.PhoneNo)</div>
    </div>
    <div class="form-group required">
        <label for="state">State*</label>
        @Html.DropDownListFor(x => x.State, new SelectList(state, "courseid", "coursename"), "-- Please select a State --", new { @name = "state", @id = "state", @class = "form-control bg-lightgray", @placeholder = "Please select state" })
        <div id="stateValid">@Html.ValidationMessageFor(x => x.State)</div>
    </div>
    <div class="form-group required">
        <label for="city">City*</label>
        @Html.DropDownListFor(m => m.City, new SelectList(level1, "courseid", "coursename"), "-- Please select a City --", new { @name = "city", @id = "city", @class = "form-control bg-lightgray", @placeholder = "Please select city" })
        <div id="cityValid">@Html.ValidationMessageFor(m => m.City)</div>
    </div>
    <div class="form-group required">
        <label for="course">Course *</label>
        @Html.DropDownListFor(m => m.CourseName, new SelectList(level, "courseid", "coursename"), "-- Please select a Course --", new { @name = "course", @id = "course", @class = "form-control bg-lightgray", @placeholder = "Please select course" })
        <div id="courseValid">@Html.ValidationMessageFor(m => m.CourseName)</div>
    </div>
    <div class="form-group required" style="display:none;">
        <label for="course">Applying Year *</label>
    @Html.DropDownListFor(m=>m.Year, new List<SelectListItem> 
           { new SelectListItem{Text="2020", Value="2020"},
             new SelectListItem{Text="2021", Value="2021",Selected=true}},"Select Applying Year",
             @*new SelectList(YearslistItems, "Value", "Text"),
                    "Select Applying Year", *@
                    new { @id = "courseEnqyear", @name = "courseEnqyear", @class = "form-control bg-lightgray" })
                   <div id="yearValid">
                    @Html.ValidationMessageFor(m => m.Year)
                </div>
    </div>
    @Html.HiddenFor(m => m.ProspectId, new { @id = "prospectId", name = "prospectId" })
    <div class="text-center">
        @*<input type="button" id="requestCall" class="btn btn-primary submit"  value="SUBMIT" onclick="return saveData();"/>*@
        <button type="submit" id="requestCall" class="btn btn-primary submit">SUBMIT</button>
    </div>

}

<script>
$(function(){
    $("#courseEnqyear").val("2021");});
</script>