﻿@model upes_website.Models.FinancialAssitance
@{ 
    UmbracoHelper helper = new UmbracoHelper(UmbracoContext.Current);
}
@using (Html.BeginUmbracoForm("HandleSubmit", "FinancialAssitanceCont", "POST", htmlAttributes: new { @id = "financial" ,@onsubmit="return false"}))
            {
    <div class="form-group">
        <label for="level">Schools</label>
        
            @{
                //var result = upes_website.Core.ExamineExtensions.ExamineAlias("financialAssistance");
        IPublishedContent coursesContent = helper.TypedContent("2170");
        List<string> level = new List<string>();
        string[] courseName = { "" };
                foreach (var courses in coursesContent.Children)
                {
                    //string[] cours1eName ={ courses.Name};
                    //level = cours1eName;
                    level.Add(courses.Name);
                }
}

        <div class="radio-wrapper">
@foreach (var lev in  level)  
    {   
      
     @Html.RadioButtonFor(m=>m.Level,lev,new{@onchange="changecourse('"+@lev+"')"})
    @lev  
     
    }  
    </div>

        @*<div class="select-wrapper">*@
@*@Html.DropDownListFor(m => m.Level, new SelectList(level, "", ""),"Choose School", new { @id = "level", @name = "level", @class = "form-control", @onchange = "populateCourses(" + Model.alias + ")" })*@
            @Html.ValidationMessageFor(m=>m.Level)
            @*<select class="form-control" name="level" id="level">
                    <option value="0">Undergraduate (UG)</option>
                </select>*@
        @*</div>*@
    </div>
    <div class="form-group">
        <label for="courses">Courses</label>
            @{
                string childrenName = "uGCourses";
                foreach (var child in coursesContent.Children)
                {
                    if (child.Name == Model.Level)
                    {
                        childrenName = child.GetTemplateAlias();
                    }
                }
            }
            
            <div id="coursesdiv"></div>
            
    
       @* <div class="select-wrapper">
            
            @Html.DropDownListFor(m => m.Course, new SelectList(courseName, "", ""),"Choose Course", new { @id = "courses", @name = "courses", @class = "form-control" })
        </div>*@
    </div>
    <div class="form-group">
        <label for="choose">Do you Have a Domicile of Uttarkhand</label>
        <div class="row">
            <div class="col-6">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.domicile, "Yes", new { @id = "choose", @text = "Yes", @name = "choose", @class = "radio-inline", @checked = "yes" })Yes
                </label>

            </div>
            <div class="col-6">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.domicile, "No", new { @id = "choose", @text = "No", @name = "choose", @class = "radio-inline" })
                    No
                </label>

            </div>
        </div>
    </div>
    <div class="submit">
        @*<a id="applicants-submit" type="submit" class="br30 fontBold btn btn-primary BtnStyle blue-bg" onclick="showmore('@(Url.Action("HandleSubmit", "FinancialAssitanceCont"))')">CHECK FOR FINANCIAL ASSISTANCE</a>*@
        <button id="applicants-submit" type="submit" class="br30 fontBold btn btn-primary BtnStyle blue-bg" onclick="showmore('@(Url.Action("HandleSubmit", "FinancialAssitanceCont"))')">CHECK FOR FINANCIAL ASSISTANCE</button>
    </div>
}
<script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.validate.unobtrusive.js"></script>
<script>

function changecourse(val){
       $.ajax({
                url: '@Url.Action("child", "GetChindren")?alias=' + val,
            type: "GET",
            cache: false,
            async: true,
            success: function (data) {
                var items = JSON.parse(data);
                var radiostr = "";
                $.each(items, function (index, value) {
                    radiostr = radiostr += '<input id="courses" name="courses" type="radio" value="' + value.Id + '">' + value.Name;
                });
                
                $("#coursesdiv").html(radiostr);
            }
        });
}
    @*$("#Level123").change(function () {
    //function populateCourses(levelAlias) {
        var val = $(this).val();
            $.ajax({
                url: '@Url.Action("child", "GetChindren")?alias=' + val,
            type: "GET",
            cache: false,
            async: true,
            success: function (data) {
                //$(".viewAll").append(data);//.innerHtml += data;
                console.log("Success");
                $("#courses").html(data);
            }
        });
        });*@
</script>
