﻿@model Tuple<string,string>
@using Umbraco.Web.Models;
@{ 
    //var result = upes_website.Core.ExamineExtensions.ExamineAlias("uGCourses");
    //IPublishedContent coursesContent = result.Any() ? result.First() : null;
    UmbracoHelper helper = new UmbracoHelper(UmbracoContext.Current);
    var coursesContent = helper.TypedContent(Convert.ToInt32(Model.Item1));
}
    <div class="title fontBlack">
        <h3>Recommended Financial Assistance</h3>
    </div>
    <div class="accord-wrapper ">
        <!--Accordion Panel-->
        <div id="Financial-affairs-AccordionPanel" class="AccordionStyle colorLightWhite">
            <div class="card">
                <div class="card-header">
                    <h5 class="CardHeaderPanel">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#Financial-affairs-AccordionPanel1"
                           aria-expanded="false" aria-controls="PanelOne">
                            @if(coursesContent.HasValue("scholarshipTitle"))
                            {
                                @Html.Raw(coursesContent.GetPropertyValue("scholarshipTitle"))
                            }
                        </a>
                    </h5>
                </div>
                <div id="Financial-affairs-AccordionPanel1" class="collapse" data-parent="#Financial-affairs-AccordionPanel"
                     aria-labelledby="heading-3">
                    <div class="card-body cardContext">
                        @if (Model.Item2== "Yes")
                        {
                            <p class="fontMedium">
                                @if (coursesContent.HasValue("uttarkhandContent"))
                                {
                                    @Html.Raw(coursesContent.GetPropertyValue("uttarkhandContent"))
                                }
                            </p>
                        }
                        else
                        {
                            if (coursesContent.HasValue("allIndiaContent"))
                            {
                                @Html.Raw(coursesContent.GetPropertyValue("allIndiaContent"))
                            }
                        }
                    </div>
                </div>
            </div>
            @if (coursesContent.HasValue("otherContents"))
            {
                var accordion = coursesContent.GetPropertyValue<IEnumerable<IPublishedContent>>("otherContents");
                int i = 1,j=1;
                foreach (var accord in accordion)
                {
                    <div class="card">
                        <div class="card-header">
                            <h5 class="CardHeaderPanel">
                                <a class="collapsed" role="button" data-toggle="collapse" href="#Financial-affairs-AccordionPanel@(i=i+1)"
                                   aria-expanded="false" aria-controls="PanelOne">
                                    @if (accord.HasValue("accordionTitle"))
                                    {
                                        @Html.Raw(accord.GetPropertyValue("accordionTitle"))
                                    }

                                </a>
                            </h5>
                        </div>
                        <div id="Financial-affairs-AccordionPanel@(j=j+1)" class="collapse" data-parent="#Financial-affairs-AccordionPanel"
                             aria-labelledby="heading-3">
                            <div class="card-body cardContext">
                                <p class="fontMedium">
                                    @if (accord.HasValue("accordionContent"))
                                    {
                                        @Html.Raw(accord.GetPropertyValue("accordionContent"))
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
